{% extends "app/Template/form.html.twig" %}

{% block titulo %}{{ servicio }}{% endblock %}
{% block subtitulo %}Copiar mediciones desde...{% endblock %}

{% block formulario %}
<div class="row-fluid row-show">
    <div class="span6">
        <h3>Servicio de origen de las mediciones.</h3>
        <p></p>
        {# aca se comienza con el form de tranferencia #}
            <form class="form-horizontal" action="{{ path('sauron_tanque_copyfrom', {'id': servicio.id} ) }}" method="POST" >
                <fieldset>
                <div class="control-group ">
                    <div class="control-label"><label for="new_servicio" class=" required">Servicio de Origen</label></div>
                    <div class="controls">
                        <select id="new_servicio" name="new_servicio" required="required" class="">
                        {% for data in datos %}
                            <option value="{{ data.id }}">{{ data.label }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Copiar" />
                    <a href="{{app.session.get('volver')}}" class="btn">Cancelar</a>
                </div>                
            </fieldset>
        </form>
    </div>
        
    
</div>
{% endblock %}
