{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ servicio.organizacion }} {% endblock %}
{% block subtitulo %}Medición de Tanque para {{ servicio }}{% endblock %}
    
{% block js %}
{{ parent() }}
<script type="text/javascript">
</script>
{% endblock %}

{% block informacion %}
<div class="row-fluid row-show">
    <div class="span12">
        <h3>Nueva medición</h3>
        <p>{{ form_errors(form) }}</p>
        <form class="form-inline"   method="POST" >
            {{ form_widget(form.porcentaje) }}  
            {{ form_widget(form.litros) }} 
            {{ form_rest(form) }} 
            <button type="submit" class="btn">Agregar</button>
            <a class="btn" href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'tanque'}) }}">Terminar</a>
        </form>        
    </div>    
</div>    
{% endblock  %}

{% block formulario %}
<div class="row-fluid row-show">
    <div class="span12">
        <h3>Mediciones registradas</h3>
        {% include "sauron/ServicioTanque/mediciones.html.twig" %}  
    </div>    
</div>    
{% endblock %}
