{% if servicios%}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Servicio</th>
                    {#<th>Ultimo Reporte</th>#}
                <th>Fecha Fin Viaje</th>
                <th>Duración</th>
                <th>Distancia Recorrida</th>
                <th>Tiempo Marcha</th>
                <th>Tiempo Ralenti</th>
                <th>Tiempo Crucero</th>
                <th>Consumo Marcha</th>
                <th>Consumo Ralenti</th>
                <th>Consumo Crucero</th>
                <th>Rendimiento</th>
                <th>RPM Máx</th>
                <th>Velocidad Máx</th>

            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
                <tr>

                    <td>
                        <a href="{{ path('servicio_show', {'id': servicio.idServicio, 'tab': 'main'}) }}">{{ servicio.nombre }}</a></br>
                    </td>
                    {#                    <td class="td-accion">{{servicio.ultFechahora|date('d/m/Y H:i:s', app.use/r.timeZone)}}</td>#}
                    <td class="td-accion">{{servicio.fechaFinViaje}}</td>
                    <td>{{servicio.duracion}}</td>
                    <td>{{servicio.distancia}} Km</td>
                    <td>{{servicio.tiempoMotorMarcha}}</td>
                    <td>{{servicio.tiempoRalenti}}</td>
                    <td>{{servicio.tiempoCrucero}}</td> 
                    <td>{{servicio.consumoMarcha}} lts</td>
                    <td>{{servicio.consumoRalenti}} lts</td>
                    <td>{{servicio.consumoCrucero}} lts</td>
                    <td>{{servicio.rendimiento}}</td>
                    <td>{{servicio.maxRPM}}</td>
                    <td>{{servicio.velMax}} km/h</td>
                    <td><strong><a href="{{path('apmon_serviciocanbus_show',{'id':servicio.idCanbus})}}" title="Ver Más">+</a></strong></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <em>No hay servicios asociados para esta flota.</em>
{% endif %}