{% extends "app/Template/informe_result.html.twig" %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        var contador = 60;
        var request;
        function refresh() {
            contador = 60;
            request = $.ajax({
                type: 'GET',
                url: "{{ path('apmon_serviciocanbus_refresh') }}",
                data: {'idOrg' : {{idOrg }} },
                dataType: "html",
            });
            request.done(function (html) {
                $("#servicios").text("");
                $('#servicios').append(html);
            });
        }

        function mostrarContador() {
            contador = contador - 1;
            $("#contador").html('Los datos se actualizarán en: ' + contador + ' segundos.');
        }

        int60 = setInterval('refresh()', 60000);
        int1 = setInterval('mostrarContador()', 1000);

    </script>      
{% endblock %}
{% block titulo %}Ultimos Registros Canbus{% endblock %}        
{% block contentpanel %}
    <div class="row-fluid">
        <p>
            {% include "apmon/ServicioCanbus/info_extra.html.twig" %} 
        </p>
        <div id="contador-all">  
            <div id="contador" style="float: left;">Los datos se actualizarán en: 60 segundos.</div>
            <a href= "javascript:void(0);" onClick="refresh();"> Actualizar Ahora.</a>
        </div>
    </div>

    <div class="row-fluid">
        <div id="servicios">
            {% include "apmon/ServicioCanbus/list_content.html.twig" %} 
        </div>
    </div>


{% endblock %}

