{% extends "app/Template/show.html.twig" %}
{% block titulo %}Canbus Show{% endblock %}    
{% block subtitulo %}{{ canbus.servicio.nombre }}{% endblock %}  

{% block contentpanel %}
    <div class="row-fluid row-show">
        <div class="span6">
            <h3>Datos Generales</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'Servicio', 'data': canbus.servicio.nombre } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Número Mdmid', 'data': equipo.mdmid } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Nro Serie', 'data': equipo.numeroSerie } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Modelo', 'data': equipo.modelo } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Versión Firmware', 'data': equipo.versionFirmware } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Estado', 'data': equipo.getStrEstado() } %} 
        </div>
        <div class="span6">
            <h3>Datos de Canbus</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'Fin de Viaje', 'data': data.ult_fechahora } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Duración', 'data': data.duracion ~ ' min.'}  %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Distancia Recorrida', 'data': data.distancia ~ ' Km.'}  %}  
            {% include "app/Template/show_row.html.twig" with {'label': 'Tiempo Marcha', 'data': data.tiempoMotorMarcha ~ ' min.'}  %}
            {% include "app/Template/show_row.html.twig" with {'label': 'Tiempo Ralenti', 'data': data.tiempoRalenti ~ ' min.'}  %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Tiempo Crucero', 'data': data.tiempoCrucero ~ ' min.'}  %}  
            {% include "app/Template/show_row.html.twig" with {'label': 'Consumo Marcha', 'data': data.consumoMarcha ~ ' lts.'}  %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Consumo Ralenti', 'data': data.consumoRalenti ~ ' lts.'}  %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Consumo Crucero', 'data': data.consumoCrucero ~ ' lts.'}  %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'RPM Máx.', 'data': data.maxRPMTray } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Velocidad Máx.', 'data': data.velMaxTray ~ ' Km/h.'}  %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Nivel Combustible.', 'data': data.nivelCombustible ~  ' %.'} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Odómetro Inicio.', 'data': data.odometroInicio ~ ' Km.'}  %}  
            {% include "app/Template/show_row.html.twig" with {'label': 'Odómetro Fin.', 'data': data.odometroFin ~ ' Km.'}  %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Odólitro Inicio.', 'data': data.odolitroInicio ~ ' lts.'}  %}  
            {% include "app/Template/show_row.html.twig" with {'label': 'Odólitro Fin.', 'data': data.odolitroFin ~ ' lts.'}  %}  
            {% include "app/Template/show_row.html.twig" with {'label': 'Rendimiento', 'data': data.rendimiento } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Uso de Embrague.', 'data': data.cantUsoEmbrague ~ ' Veces.'}  %}  
            {% include "app/Template/show_row.html.twig" with {'label': 'Uso de Freno.', 'data': data.cantUsoFreno ~ ' Veces'}  %}  
            {% include "app/Template/show_row.html.twig" with {'label': 'Energización.', 'data': data.energizacion }  %} 


        </div>
    </div>
{% endblock %}