{% extends "app/Template/form.html.twig" %}

{% block titulo %}{{funcion}} Referencia{% endblock %}

{% block informacion %}
<div class="alert-message block-message warning">
    Seleccione la Organizacion a la que desea "{{funcion}}" la Referencia seleccionada.
</div>
{% endblock %} 

{% block formulario %}
{% if funcion == 'Compartir'%}
<form class="form-horizontal" action="{{ path('apmon_referencia_compartir_referencia', {'idref': referencia.id} ) }}" method="POST" >
{% else %}
        <form class="form-horizontal" action="{{ path('apmon_referencia_copiar_referencia', {'idref': referencia.id} ) }}" method="POST" >
{% endif %}
                <div class="row">
                    <h4>Listado de Organizaciones</h4>
                    <fieldset>
                        <div class="control-group ">
                            <div class="control-label"><label for="new_organizacion" class=" required">Organización Destino</label></div>
                            <div class="controls">
                                <select id="new_organizacion" name="new_organizacion" required="required" class="">
                            {% for org in organizaciones %}
                                        {% if org != user.organizacion %}
                                        <option value="{{ org.id }}">
                                            {% if org.organizacionPadre %}
                                            {{ org.organizacionPadre.nombre }}/
                                            {% endif %}
                                        {{ org.nombre }}
                                        {{ org.tipoOrganizacion == 1 ? '(Dist)' : '(Cliente)' }}
                                            </option>
                                        {% endif %}
                            {% endfor %}
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                        <div class="form-actions">
                                {% if funcion == 'Compartir'%}
                                <input type="submit" class="btn btn-primary" value="Compartir" />
                                {% else %}
                                <input type="submit" class="btn btn-primary" value="Copiar" />
                                {% endif %}
                                                <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
                                                </div>
                                            </form>

{% endblock %}