{% if organizacion.modulos|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>Aplicación</th>
            <th>Módulo</th>
        </tr>
    </thead>
    <tbody>
        {% for modulo in organizacion.modulos %}
            <tr>
                <td>{{ modulo.aplicacion|e }}</td>
                <td>{{ modulo|e }}</td>
            </tr>


    {% endfor %}
    </tbody>
</table>
{% else %}
    <b><em>No hay módulos asociados.</em></b>
{% endif %}