    <table class="table table-condensed" style="border-style: solid; border-color: #e7eaeb; border-width: 0px 1px 1px 1px">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Costo Unitario</th>
                <th>Total Neto</th>
                <th>Total c/IVA</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for hora in horas %}
                <tr>
                    <td><a href="{{ path('horataller_show',{'id': hora.horaTaller.id}) }}">{{ hora.horaTaller.nombre }}</a></td>
                    <td>{{ hora.cantidad|default('---') }}</td>
                    <td>{{ hora.costoUnitario|number_format(2) }}</td>
                    <td>{{ hora.costoNeto|number_format(2) }}</td>
                    <td>{{ hora.costoTotal|number_format(2) }}</td>
                    <td>
                        <a href="{{ path('horataller_edit', {'id': hora.horataller.id} ) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    