{% extends "app/Template/list.html.twig" %}

{% block titulo %}Horas Taller{% endblock %}        
{% block subtitulo %}{% endblock %}        
{% block contentpanel %}  
    {% if horastaller|length > 0%}
        <div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha de Creación</th>
                        <td>Acción</td>
                    </tr>
                </thead>
                <tbody>
                    {% for horataller in horastaller %}
                        <tr>
                            <td><a href="{{ path('horataller_show', {'id': horataller.id} )}}">{{horataller.nombre}}</a></td>
                            <td>{{horataller.created_at|date('d/m/Y')|default(' --- ')}}</td>
                            <td>
                                <a href="{{ path('horataller_edit', {'id': horataller.id} ) }}">Editar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <em>No hay horas taller cargadas</em>
    {% endif %}
{% endblock %}
