{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "mante/HoraTaller/delete_form.html.twig" %} 
{% endblock %} 


{% block titulo %}Horas Taller{% endblock %}    
{% block subtitulo %}{{ horataller.nombre }}{% endblock %}  


{% block contentpanel %}
    <div class="row-fluid row-show">
        <div class="span6">
            <h3>Datos de la hora taller</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': horataller.nombre } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Fecha de Creación', 'data': horataller.created_at|date('d/m/Y')|default('---')} %} 
            
        </div>
    </div>   
{% endblock %}

