<h4>Información</h4>
<ul class="unstyled">
    <li><b>Nombre:</b> Descripción clara del sensor, p/ej. Apertura Puerta Derecha </li>
    <li><b>Abreviatura:</b> Le servirá para identificar el sensor en el mapa. Sea claro. </li>
    <li><b>Unidad de Medida:</b> Representa en que sistema de medición se expresaran los valores del sensor. </li>
    <li><b>Val. Mínimo:</b> Identifica el valor mínimo que debería tener el sensor y no el que puede soportar. </li>
    <li><b>Val. Máximo:</b> Identifica el valor máximo que debería tener el sensor y no el que puede soportar. </li>
    <li><b>Nro. Serie:</b> Cada sensor tiene un número de serie que sirve para identificarlo en el sistema. </li>
</ul>
