{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ sensor.servicio }}{% endblock %}
{% block subtitulo %}Alta de Sensor{% endblock %}
{% block formulario %}
    {{ form_start(form, {'attr': {'class':'form-horizontal'} }) }}
    {{ form_errors(form) }}
    <div class="row-fluid">
        <div class="span8">
            <h3>Datos del Sensor</h3>
            {{ form_widget(form.nombre) }}
            {{ form_widget(form.abbr) }}
            {{ form_widget(form.medida) }}
            {{ form_widget(form.valorMinimo) }}
            {{ form_widget(form.valorMaximo) }}
            {{ form_widget(form.modeloSensor) }}
            {{ form_widget(form.serie) }}
        </div>
        <div class="span3">
            {% include "sauron/Sensor/info_extra.html.twig" %}  
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Agregar" />
        <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>

    </div>
    {{ form_end(form) }}
{% endblock %}
