{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "sauron/Sensor/delete_form.html.twig" %}
{% endblock %} 
        
{% block titulo %}Datos de Sensor{% endblock %}
{% block contentpanel %}
<div class="row-fluid row-show">
    <div class="span7">
        <h3>Datos del Sensor</h3>
        {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': sensor.nombre } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Abreviatura', 'data': sensor.abbr } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Unidad de Medida', 'data': sensor.medida } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Valor Mínimo', 'data': sensor.valorMinimo ~ ' ' ~ sensor.medida } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Valor Máximo', 'data': sensor.valorMaximo ~ ' ' ~ sensor.medida} %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Nro. de Serie', 'data': sensor.serie } %} 
    </div>
    <div class="span4"> 
        {% include "sauron/Sensor/info_extra.html.twig" %}  
    </div>
</div>
{% endblock %}
