{% extends "app/Template/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block title %}Informe de distancias recorridas.{% endblock %}
{% block titulo %}Informe de distancias recorridas{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
        $.datepicker.setDefaults ($.datepicker.regional["es"]);
        $.timepicker.setDefaults ($.timepicker.regional["es"]);
        $('#informedistancias_servicio').select2();

        $("#informedistancias_desde").datetimepicker ({
            defaultDate: "today",
            changeMonth: true,
            numberOfMonths: 1,
            maxDate: "today",
            minDate: {{ limite_historial }},
        });
        
        $("#informedistancias_hasta").datetimepicker ({
            defaultDate: "today",
            changeMonth: true,
            numberOfMonths: 1,
            maxDate: "today",
            minDate: {{ limite_historial }},
        });

// esto es para que arranque el formulario con la fecha de hoy, pidieron los clientes que se saque
{#        var today = new Date();          #}
{#        var today0 = new Date( today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0 );   #}
{#       $("#informedistancias_desde").datetimepicker( "setDate", today0 );#}
{#       $("#informedistancias_hasta").datetimepicker( "setDate", today );#}
    });
</script>
{% endblock %}

{% block informacion %}
<div style="float: right">
    <a href="javascript:void(0);" onclick="javascript:introJs().start();">Ayuda</a>
</div>
{% endblock %}

{% block formulario %}
  <form class="form-horizontal"  method="POST" >
    {{ form_errors(form) }}
    <fieldset>
        <div data-step="1" data-intro="{% include "informe/Distancias/help.html.twig" with {'step': '1' } %}">
            {{ form_widget(form.destino) }}
        </div>
        <div data-step="2" data-intro="{% include "informe/Distancias/help.html.twig" with {'step': '2' } %}">
            {{ form_widget(form.servicio) }}
        </div>
        <div data-step="3" data-intro="{% include "informe/Distancias/help.html.twig" with {'step': '3' } %}">
            {{ form_widget(form.desde) }}
            {{ form_widget(form.hasta) }}
        </div>
        <div data-step="4" data-intro="{% include "informe/Distancias/help.html.twig" with {'step': '4' } %}">
            {{ form_widget(form.mostrar_desglosado) }}
        </div>
        <div data-step="5" data-intro="{% include "informe/Distancias/help.html.twig" with {'step': '5' } %}">
            {{ form_widget(form.mostrar_totales) }}
        </div>
        {% if is_granted('ROLE_APMON_INFORME_DISTANCIA_PUNTOS') %}    
            <div data-step="6" data-intro="{% include "informe/Distancias/help.html.twig" with {'step': '6' } %}">
                {{ form_widget(form.calcular_distancias) }}
            </div>
        {% endif %}
        {{ form_widget(form._token) }} 


        <div class="row-fluid form-actions" style="background-color: white">
            <button type="submit" class="btn btn-primary">Generar Informe</button>
            <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>            
        </div>
    </fieldset>
</form>
    


{% endblock %}
