<table>
    <tr>
        <td colspan="2"><h3>Informe de Distancias</h3></td>
    </tr>
    <tr>
        <td>Servicio:</td>
        <td>Toda la flota</td>
    </tr>    
    <tr>    
        <td>Fecha desde: </td>
        <td>{{ consulta.desde }}</td>
    </tr>
    <tr>    
        <td>Fecha hasta: </td>
        <td>{{ consulta.hasta }}</td>
    </tr>
</table> 
<table class="table table-condensed table-striped">
   <thead>
       <tr style="background-color: #ccc">
           <th>Servicio</th>
           <th>Primer reporte</th>
           <th>último reporte</th>
           <th>Tiempo activo (horas)</th>
           <th>Distancia recorrida (kms)</th>
           <th>Promedio diario (kms)</th>
       </tr>
   </thead>
   <tbody>
       {% for equipo in informe %}
           <tr>
               <th rowspan={{ equipo.data|length + 1}}>{{ equipo.servicio }}</th>
               {% for row in equipo.data %}
                    {% if row|length > 0 and row.desde|default('---') != '---' %}
                       <tr>
                           <td>{{ row.desde|date('d/m/Y H:i:s') }}</td>
                           <td>{{ row.hasta|date('d/m/Y H:i:s') }}</td>
                            <td style="text-align: center">{{ row.tiempo_activo|number_format(2, ',', '.') }}</td>
                            <td style="text-align: center">{{ row.km_total|number_format(2, ',', '.') }}</td>
                            <td style="text-align: center">{{ row.km_por_dia|number_format(2, ',', '.') }}</td>
                       </tr> 
                     {% else %}
                        <tr>
                            <td>---</td>
                            <td>---</td>
                            <td style="text-align: center">---</td>
                            <td style="text-align: center">---</td>
                            <td style="text-align: center">---</td>
                        </tr> 
                     {% endif %}  
               {% endfor %}
           </tr>
       {% endfor %}
   </tbody>

</table>