{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Informe de distancias recorridas.{% endblock %}
{% block titulo %}Informe de distancias recorridas.{% endblock %}

{% block js %}
       {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var arr = new Array();
            var i = 1;
            arr[0] = ['Fecha', 'Tiempo Activo.', 'Km Total'];
            {% for value in dt %}
                arr[i] = ['{{value['fecha']}}', parseFloat('{{value['tiempo_activo']}}'), parseFloat('{{value['km_total']}}')];
                i++;
            {% endfor %}
                var data = google.visualization.arrayToDataTable(arr);

                var options = {
                    title: 'Distancia Recorrida',
                    height: 380,
                    curveType: 'function',
                    legend: {position: 'rigth'},
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('myArea1'));
                chart.draw(data, options);
            }
    </script>

{% endblock %}
{% block informacion %}
    Para el servicio <b>{{ consulta.servicionombre }}</b> desde el <b>{{ consulta.desde }}</b>
    hasta el <b>{{ consulta.hasta }}</b>.
{% endblock %}

{% block contentpanel %}
<div id="myArea1">&nbsp;</div>

{% endblock %}    