{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Informe de distancias recorridas.{% endblock %}
{% block titulo %}Informe de distancias recorridas{% endblock %}

{% block informacion %}
    Para <b>{{ consulta.servicionombre }}</b> desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>.
    [ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
    <form name="formexport" action="{{ path('informe_distancias_exportar', {'tipo': '1'}) }}" method="POST" >
        <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
        <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
    </form>
{% endblock %}

{% block contentpanel %}    
    {% if informe %}
        <div class="row-fluid">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Servicio</th>
                        <th>Primer reporte</th>
                        <th>Último reporte</th>
                        <th>Tiempo activo (horas)</th>
                        <th>Distancia recorrida (kms)</th>
                        <th>Promedio diario (kms)</th>
                        <th></th>
                        <th>Horóm. Inicial</th>
                        <th>Horóm. Final</th>
                        <th title="Diferencia de horómetros">Dif. Horóm</th>
                    </tr>
                </thead>
                <tbody>
                    {% if consulta.mostrar_totales is defined %}
                        {% set rowspan = 2 %}
                    {% else %}    
                        {% set rowspan = 1 %}
                    {% endif %}    
                    {% for equipo in informe %}
                        <tr>
                            <th rowspan={{ equipo.data|length + rowspan}}>{{ equipo.servicio }}</th>
                                {% for row in equipo.data %}
                                    {% if row|length > 0 and row.desde|default('---') != '---' %}
                                <tr>
                                    <td>{{ row.desde|date('d/m/Y H:i:s') }}</td>
                                    <td>{{ row.hasta|date('d/m/Y H:i:s') }}</td>
                                    <td style="text-align: center">{{ row.tiempo_activo }}</td>
                                    <td style="text-align: center">{{ row.km_total|number_format(2, ',', '.') }}</td>
                                    <td style="text-align: center">{{ row.km_por_dia|number_format(2, ',', '.') }}</td>
                                    <td style="text-align: center">
                                        {% if row.informar_kms %}
                                            <div title="{{ row.diferencia_kms }}">
                                                {{ row.informar_kms ? '*' : '' }}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td style="text-align: center">{{ row.horometro_inicial}}</td> 
                                    <td style="text-align: center">{{ row.horometro_final }}</td> 
                                    <td style="text-align: center">{{ row.horometro_diff }}</td> 
                                </tr> 
                            {% else %}
                                <tr>
                                    <td>---</td>
                                    <td>---</td>
                                    <td style="text-align: center">---</td>
                                    <td style="text-align: center">---</td>
                                    <td style="text-align: center">---</td>
                                    <td style="text-align: center">---</td>
                                    <td style="text-align: center">---</td>
                                    <td style="text-align: center">---</td>
                                    <td style="text-align: center"></td>
                                </tr> 
                            {% endif %}  
                        {% endfor %}
                        {% if consulta.mostrar_totales is defined %}
                            <tr style="background-color: #eee" >
                                <td colspan="2">Totales</td>
                                <th style="text-align: right">{{ equipo.totales.tiempo_activo }}</th>
                                <th style="text-align: right">{{ equipo.totales.km_total|number_format(2, ',', '.') }}</th>
                                <th style="text-align: right">{{ equipo.totales.km_por_dia|number_format(2, ',', '.') }}</th>                   
                                <th style="text-align: right"></th>                   
                                <th style="text-align: right"></th>                   
                                <th style="text-align: right"></th>                   
                                <th style="text-align: right"></th>                   
                            </tr>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    {% endif %}

{% endblock %}