{% extends "app/Template/list.html.twig" %}

{% block titulo %}Bitacora General{% endblock %}        

{% block css %}
    {{ parent() }}
    <link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />      
{% endblock %}
    
{% block js %}
{{ parent() }}
<script>    
    $(function () {
        $.datepicker.setDefaults ($.datepicker.regional["es"]);
        $("#bitacoraform_fecha_desde").datepicker ();
        $("#bitacoraform_fecha_hasta").datepicker ();
    });
</script>
{% endblock %}

{% block busqueda %}
    
<div class="panel-mini" style="height: auto">
    <form method="POST" class="form-horizontal" >
        <div class="control-group ">
            <label class="control-label" style="width: 45px; text-align: left;">Desde</label>
            <div class="controls" style="margin-left: 50px">
                {{ form_widget(form.fecha_desde, {'attr': {'value': fecha_desde} }) }}
            </div>
        </div>
        <div class="control-group ">
            <label class="control-label" style="width: 45px; text-align: left;">Hasta</label>
            <div class="controls" style="margin-left: 50px">
                {{ form_widget(form.fecha_hasta, {'attr': {'value': fecha_hasta} }) }}
            </div>
        </div>
        <div class="control-group ">
            <label class="control-label" style="width: 45px; text-align: left;">Evento</label>
            <div class="controls" style="margin-left: 50px">
                {{ form_widget(form.evento) }}
            </div>
        </div>
        <div class="control-group ">
            <div class="controls" style="margin-left: 50px">
                <button type="submit" class="btn btn-mini">Consultar</button> 
            </div>
        </div>
    </form>
</div> 
                
{% endblock %}

{% block contentpanel %}  
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Operador</th>
                <th>Fecha</th>
                <th>Evento</th>
                <th>Equipo</th>
                <th>Serie</th>
                <th>Modelo</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
        {% for evento in eventos %}
            <tr>
                <td>{{ evento.nombre }}</td>
                <td>{{ evento.operador }}</td>
                <td>{{ evento.fecha|date('d-m-Y H:i:s', app.user.timeZone) }}</td>
                <td>{{ evento.tipoEvento }}</td>
                <td>{{ evento.equipo is defined ? '<a href="{{ path("apmon_equipo_show", {"id": evento.equipo.id, "tab": "main"}) }}>{{ evento.equipo.mdmid }}</a>' : '---'}}</td>
                <td>{{ evento.equipo is defined ? vento.equipo.numeroSerie : '---' }}</td>
                <td>{{evento.equipo is defined ? evento.equipo.modelo ~ ' ( ' ~ evento.equipo.modelo.fabricante ~ ' )' : '---'}}</td>
                <td>{{ evento.descripcion|raw }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

