{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "app/EventoHistorico/delete_form.html.twig" %} 
{% endblock %} 

{% block titulo %}Evento Historico{% endblock %}    
{% block subtitulo %}{{ evento.titulo }}{% endblock %}  

{% block contentpanel %}
         
<div class="row-fluid row-show">
    <div class="span6">
        <h3>Datos del Evento</h3>
        {% include "app/Template/show_row.html.twig" with {'label': 'Título', 'data': evento.titulo } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Fecha', 'data':evento.fecha|date('d-m-Y H:i:s', app.user.timeZone) } %} 
        <h3>Configuración</h3>
        {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': evento.evento.nombre } %} 
            <div class="row-fluid row-show">
                <div class="span4 column-label">Días Activo</div>    
                <div class="column-show">
                    {{ evento.evento.lunes ? 'Lu' : '--' }}|
                    {{ evento.evento.martes ? 'Ma' : '--' }}|
                    {{ evento.evento.miercoles ? 'Mi' : '--' }}|
                    {{ evento.evento.jueves ? 'Ju' : '--' }}|
                    {{ evento.evento.viernes ? 'Vi' : '--' }}|
                    {{ evento.evento.sabado ? 'Sa' : '--' }}|
                    {{ evento.evento.domingo ? 'Do' : '--' }}
                </div>
            </div>
            <div class="row-fluid row-show">
                <div class="span4 column-label">Horario Activo</div>    
                <div class="column-show">de {{ evento.evento.horaDesde|date('H:i') }} a {{ evento.evento.horaHasta|date('H:i') }}</div>
            </div>
            <div class="row-fluid row-show">
                <div class="span4 column-label">Parámetros</div>    
                <div class="column-show">
                    {% if evento.evento.parametros %}
                        <table>
                        {% for param in evento.evento.parametros %}
                           <tr><td>     {{ param.variable.nombre }}
                                {% if param.variable.dataType != 'ENTITY' %}
                                    {{ param.valor }} {{ param.variable.unidadMedida }}
                                {% endif %}
                            <td></tr>
                        {% endfor %}
                        </table>    
                    {% else %}
                        <em>No tiene parámetros.</em>
                    {% endif %}
                </div>
            </div>
            <div class="row-fluid row-show">
                <div class="span4 column-label">Notificación</div>    
                <div class="column-show">
                    {% if evento.evento.notificaciones != null %}    
                        <table>
                        {% for notif in evento.evento.notificaciones %}
                            <tr>
                                <td>{{ notif.contacto.nombre }}
                                    {% if notif.tipo == 1 %}
                                        (sms)
                                    {% elseif notif.tipo == 2 %}
                                        (email)
                                    {% else %}
                                        (n/a)
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </table>        
                    {% else %}
                        <em>No tiene notificaciones.</em>
                    {% endif %}  
                </div>
            </div>
            <h3>Servicio</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'Servicio', 'data': evento.servicio.nombre } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Tipo', 'data': evento.servicio.tipoServicio.nombre } %} 
    </div>
    <div class="span6">
       {% if data is defined %}
            {{ data.cuerpo|raw }}
        {% else %}
            <em>No tiene notificación.</em>
        {% endif %}
        {% if evento.evento.registrar and evento.fechaVista != null %}
            <h3>Datos de Respuesta</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'Usuario', 'data': evento.ejecutor.nombre|default('---') } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Fecha Atención', 'data': evento.fechaVista|date('d-m-Y H:i:s', app.user.timeZone) } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Mensaje', 'data': evento.respuesta } %} 
        {% endif %}
    </div>
</div>

{% endblock %}
