<div class="row-fluid">
    <h3>Información del Vehículo</h3>
    <div class="span6">
        {{ form_widget(form.patente) }}  
        {{ form_widget(form.marca) }}    
        {{ form_widget(form.modelo) }}    
        {{ form_widget(form.anioFabricacion) }}    
    </div>
    <div class="span5">
        {% if form.tipoVehiculo is defined %}
            {{ form_widget(form.tipoVehiculo) }}    
        {% endif %}
        {{ form_widget(form.color) }}    
        {{ form_widget(form.numeroMotor) }}    
        {{ form_widget(form.numeroChasis) }}    
        {{ form_widget(form.cedulaVerde) }}    
        {{ form_widget(form.litrosTanque) }}    
        {{ form_widget(form.rendimiento) }}            
    </div>
</div>
