{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ servicio.nombre }}{% endblock %}
{% block subtitulo %}Datos del Vehiculo{% endblock %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        <fieldset>
            {{ form_errors(form) }}
            {% include "apmon/Vehiculo/form_content.html.twig" with {'form': form} %}  
            <div class="row-fluid"> 
                {% include "app/VehiculoExtra/vehiculoextra_fomembedded.html.twig" %}           
            </div>

            {{ form_widget(form._token) }}
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Agregar" />
                <a href="{{ path('servicio_show', {'id': vehiculo.servicio.id, 'tab':'main'} ) }}" class="btn">Cancelar</a>
            </div>
        </fieldset>
        <script type="text/javascript">
// keep track of how many permiso fields ahve been rendered
            var datoCount = '{{ form.datosExtra | length }}';

            jQuery(document).ready(function () {
                jQuery('#add-another-dato').click(function () {
                    var datoList = jQuery('#dato-fields-div');

// grab the prototype template
                    var newWidget = datoList.attr('data-prototype');
// replace the "$$name$$" used in the id and name of the prototype
// with a number that's unique to our permisos
// end name attribute looks like name="contact[permisos][2]"
                    newWidget = newWidget.replace(/\$\$name\$\$/g, datoCount);
                    datoCount++;

// create a new list element and add it to our list
                    var newLi = jQuery('<div class="row-fluid"></div>').html(newWidget);
                    newLi.appendTo(jQuery('#dato-fields-div'));

                    return false;
                });
            })
        </script>
    </form>
{% endblock %}
