{% if step == 1 %}
Indica como se quiere visualizar el resultado del informe. Puede ser en Pantalla, en un Gráfico de barras o Mapa. <br>
En caso que sea mapa no se podrá seleccionar mas de un equipo por vez.
{% elseif step == 2  %}
Selecciona que equipos son los que van a ser incluidos en el informe. Puede hacerlo para todos los equipos (puede demorarse en la generación) o bien realizar la consulta
para un equipo en particular. </br> Si tiene grupos de equipos configurados, el nombre del grupo se mostrara con el prefijo <b>Grp</b> he incluirá a todos
los equipos de dicho grupo.
{% elseif step == 3  %}
Es el perído que quiere consultar. La fecha desde no puede ser mayor que la fecha hasta y las mismas no pueden ser vacias. <br>
Mientras mas días incluya en el período mas tiempo puede demorarse la generación.
{% elseif step == 4  %}
Indica la máxima velocidad permitida en rutas y avenidas.
{% endif %}