{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Prudencia Vial{% endblock %}
{% block titulo %}Prudencia Vial{% endblock %}

{% block informacion %}
    Para el servicio <b>{{consulta.servicionombre}}</b>, desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>.
    Velocidades Máximas: Rutas:<b>{{consulta.max_ruta}}</b>, Avenidad:<b>{{consulta.max_avenida}}</b>
    [ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
    <form name="formexport" action="{{ path('informe_prudencia_exportar', {'tipo': '0'}) }}" method="POST" >
        <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
        <input type="hidden" name="resumen" value="{{ resumen|json_encode() }}"/>
        <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
    </form>
{% endblock %}

{% block contentpanel %}
    {# ESTO ES ES EL RESUMEN DE LAS INFRACCIONES #}
    <div class="row-fluid">
        <h3>Resumen</h3>
        <table class="table table-bordered table-condensed">
            <thead>
            <th>Servicio</th>
            <th>Descripción</th>
            <th>Riesgo Leve</th>
            <th>Riesgo Medio</th>
            <th>Riesgo Alto</th>
            </thead>
            <tbody>
                {% for row in resumen %}
                    <tr>
                        <td  rowspan="3">
                            {{ row.servicio_nombre }}</td>
                        <td>{{ row.infracciones.objetivos.descripcion }}</td>
                        {% if row.infracciones.objetivos.leve != 0 %}
                            <td bgcolor="{{ colores.leve }}">{{row.infracciones.objetivos.leve }}</td>
                        {% else %}
                            <td>---</td>
                        {% endif %}
                        {% if row.infracciones.objetivos.medio != 0 %}
                            <td bgcolor="{{ colores.medio }}">{{row.infracciones.objetivos.medio }}</td>
                        {% else %}
                            <td>---</td>
                        {% endif %}
                        {% if row.infracciones.objetivos.alto != 0 %}
                            <td bgcolor="{{ colores.alto }}">{{row.infracciones.objetivos.alto }}</td>
                        {% else %}
                            <td>---</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{ row.infracciones.rutas.descripcion }}</td>
                        {% if row.infracciones.rutas.leve != 0 %}
                            <td bgcolor="{{ colores.leve }}">{{row.infracciones.rutas.leve }}</td>
                        {% else %}
                            <td>---</td>
                        {% endif %}
                        {% if row.infracciones.rutas.medio != 0 %}
                            <td bgcolor="{{ colores.medio }}">{{row.infracciones.rutas.medio }}</td>
                        {% else %}
                            <td>---</td>
                        {% endif %}
                        {% if row.infracciones.rutas.alto != 0 %}
                            <td bgcolor="{{ colores.alto }}">{{row.infracciones.rutas.alto }}</td>
                        {% else %}
                            <td>---</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{ row.infracciones.calles.descripcion }}</td>
                        {% if row.infracciones.calles.leve != 0 %}
                            <td bgcolor="{{ colores.leve }}">{{row.infracciones.calles.leve }}</td>
                        {% else %}
                            <td>---</td>
                        {% endif %}
                        {% if row.infracciones.calles.medio != 0 %}
                            <td bgcolor="{{ colores.medio }}">{{row.infracciones.calles.medio }}</td>
                        {% else %}
                            <td>---</td>
                        {% endif %}
                        {% if row.infracciones.calles.alto != 0 %}
                            <td bgcolor="{{ colores.alto }}">{{row.infracciones.calles.alto }}</td>
                        {% else %}
                            <td>---</td>
                        {% endif %}
                    </tr>
                {% endfor %}        
            </tbody>
        </table>
    </div>
    {# ESTO ES DETALLE DE LAS INFRACCIONES #}
    {% if resumen|length < 2 %}
        <div class="row-fluid">
            <h3>Detalle</h3>
            {% for servicio in informe %}
                {% for zona, data in servicio.data %}
                    <h5>{{ zona != 0 ? resumen[zona].descripcion:'' }}</h5>
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <th>Fecha</th>
                        <th>Lugar</th>
                        <th>Máxima</th>
                        <th>Registrada</th>
                        </thead>
                        <tbody>
                            {% for row in data %}
                                <tr bgcolor="{{ colores[row.riesgo]}}">
                                    <td>{{ row.fecha|date('d-m-Y H:i:s', app.user.timeZone) }}</td>
                                    <td>{{ row.lugar|e }}</td>
                                    <td>{{ row.velocidad_maxima|number_format(0) }} km/h</td>
                                    <td>{{ row.velocidad|number_format(0) }} km/h</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

