<div class="col-xs-12 col-md-12">
    <table class="table table-responsive-md table-striped mb-0">
        <tr>
            {% if configuracion['NIVEL_TENSION']['value']  %}
                <th></th>
                {% endif%} {# para edeste#}
            <th>Codigo</th>
            <th>Contratista</th>
            <th>Fecha</th>
            <th>Inicio</th>
            <th>Fin</th>
        </tr>
        <tr>
            {% if configuracion['NIVEL_TENSION']['value']  %}
                <td  title="{{ actividad.opciones != null and actividad.opciones['NIVEL_TENSION'] is defined ? actividad.opciones['NIVEL_TENSION']['text']:'' }} ">
                    <b>{{ actividad.opciones != null and actividad.opciones['NIVEL_TENSION'] is defined ? actividad.opciones['NIVEL_TENSION']['label']:'' }}  </b>
                </td>
            {% endif%} {# para edeste#}
            <td>{{ actividad.codigo }}</td>
            <td>{{ actividad.contratista ? actividad.contratista.nombre : '---' }}</td>
            <td>{{ actividad.fechaInicio|date('d/m/Y') }}</td>
            <td>{{ actividad.fechaInicio|date('H:i') }}</td>
            <td>{{ actividad.fechaFin|date('H:i') }}</td>
        </tr>
    </table>

</div>
{% if actividad.estado == 3 or actividad.estado == 2 %}
    <div class="font-once">
        <div class="col-xs-12 col-md-12">

            <div class="col-md-4 cuadro">
                <label>Cantidad de <br>Vehículos</label>
                <h4>{{ actividad.ActgpmServicios is not null ? actividad.ActgpmServicios|length : 0 }}</h4>
            </div>
            <div class="col-md-4 cuadro">
                <label>Cantidad de <br>Referencias</label>
                <h4>{{ actividad.ActgpmRefgpm is not null ? actividad.ActgpmRefgpm|length : 0 }}</h4>
            </div>
            <div class="col-md-4 cuadro">
                <label>Km. recorridos en referencia</label>
                <h4>{{ totales.distancia|  number_format(3, ',', '.') }}</h4>

            </div>


        </div>
        <div class="col-xs-12 col-md-12">
            <div class="col-md-4 cuadro">
                <label>Horas trabajadas<br> totales</label>
                <h4>{{ totales.duracion.total }}</h4>
            </div>
            <div class="col-md-4 cuadro">
                <label>Km. recorridos en translado</label>
                <h4>{{ totales.translado|  number_format(3, ',', '.') }}</h4>

            </div>
            <div class="col-md-4 cuadro">
                <label>Lts. combustible consumido</label>
                <h4>---</h4>
            </div>

        </div>
    </div>
    <div class="font-diez">
        <div class=" col-xs-12 col-md-12" style="padding-top: 10px;">
            <table class="table table-responsive-md table-striped mb-0">
                <tr>
                    <th>Vehículo</th>
                    <th>Lugar (Referencia)</th>
                    <th>Km trabajados</th>
                    <th>Hs trabajadas</th>
                    <th>Km translado</th>
                    <th></th>
                </tr>
                {% for key,movimiento in movimientos %}
                    {% if movimiento['pasos']|length > 0 %}
                        {% for paso in  movimiento['pasos'] %}
                            <tr>
                                <td>{{ movimiento.nombre }}</td>
                                <td>{{ paso.referencia.nombre }}</td>
                                <td>{{ paso.distancia | number_format(3, ',', '.') }}</td>
                                <td>{{ paso.duracion  }}</td>
                                <td>{{ paso.translado |  number_format(3, ',', '.') }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </table>

        </div>
    </div>
{% endif %}

<div class="font-diez">
    <div class="col-xs-12 col-md-12" style="padding-top: 10px;" id="referencias">
        {% include "gpm/Actividad/referencias.html.twig" with { 'actividad':actividad } %}  
    </div>
</div>

<div class="font-once">
    {% if configuracion['PERSONAL']['value']  %}
        <div class="col-xs-12 col-md-12" style="padding-top: 10px;" id="personal">
            {% include "gpm/Actividad/personal.html.twig" with { 'actividad':actividad } %}  
        {% endif %}
    </div>
    <div class="col-xs-12 col-md-12" style="text-align: left;">
        <label> Descripción</label><br>
        <div class="col-md-12" style=" word-wrap: break-word;">
            {{ actividad.descripcion|raw }}
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-12" style="text-align:right;"><a  data-target="#" class="link-eliminar"  onclick="modalDelete({{actividad.id}}, '{{actividad.nombre}}')" >Eliminar Actividad</a></div>'
