{% if proyecto.actividades|length > 0 %}
    <div class="col-md-12">
        <div class="col-md-5" class="center">Actividades Finalizadas {{ countActFinalizadas }}</div>
        <div class="col-md-2" class="center"><h4>{{progreso}}%</h4></div>
        <div class="col-md-5" class="center">Actividades Totales  {{ countActTotales }}</div>
    </div>

    <div class="col-md-12" style="padding-top:15px;"><div class="progress progress-xs light m-2">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ progreso }}" aria-valuemin="0" aria-valuemax="100" style="width: {{progreso}}%;"></div>
        </div></div>
    <table class="table table-responsive-md table-striped mb-0">
        <tr>
            <th>Nombre de Actividad</th>
            <th>Fecha y Horas</th>
            <th>Responsable</th>
            <th>Estado</th>
        </tr>
        {% for actividad in proyecto.actividades %}
            <tr id="{{actividad.id}}">
                <td><a href="#"  onclick="setSidebarDataActividad('{{actividad.id}}');">{{ actividad.nombre }}</a></td>
                <td>{{ actividad.fechaInicio ? actividad.fechaInicio|date('d/m/Y'):'---' }}
                    <br> {{ actividad.fechaInicio ? actividad.fechaInicio|date('H:i'):'---' }}  -
                    {{ actividad.fechaFin ? actividad.fechaFin|date('H:i'):'---' }}</td>
                <td>{{ actividad.responsable ? actividad.responsable .persona.nombre : '---' }}</td>
                <td>
                    {% if actividad.estado == 0 %}
                        <i class="fa fa-clock-o"></i>
                    {% else%}
                        <i class="fa fa-check"></i>
                    {% endif%}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}