<div id="{{'tablaActividades_'~ proyecto.id}}">
    {% if proyecto.actividades|length > 0 %}
        <table class="table table-responsive-md table-striped mb-0">
            {% for actividad in proyecto.actividades %}
                <tr id="{{actividad.id}}">
                    <td></td>
                    <td><div class="divFinalizar-{{actividad.id}}">
                            <div class="{{actividad.estado ==  0 ? 'btn btn-xs btn-default': 
                                          actividad.estado ==  1 ?'btn btn-xs btn-primary':
                                          actividad.estado ==  2 ?'btn btn-xs btn-success':
                                          'btn btn-xs btn-dark'}}">{{ actividad.strEstado }}</div></div></td>
                    <td><a  href="{{ path('gpm_actividad_show',{'id':actividad.id})}}" title="Ver Actividad">{{ actividad.nombre }}</a></td>
                    <td>{{ actividad.codigo }}</td>
                    <td>{{ actividad.fechaInicio ? actividad.fechaInicio|date('d/m'):'---' }} &nbsp; {{ actividad.fechaInicio ? actividad.fechaInicio|date('H:i'):'---' }}</td>
                    <td>{{ actividad.fechaFin ? actividad.fechaFin|date('d/m'):'---'  }} &nbsp; {{ actividad.fechaFin ? actividad.fechaFin|date('H:i'):'---' }}</td>
                    <td>
                        <a href="#" class="btn btn-xs btn-default" onclick="setSidebarDataActividad('{{actividad.id}}');"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-xs btn-default" title="Modificar Actividad" href="{{ path('gpm_actividad_edit',{'id':actividad.id}) }}"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-xs btn-default" title="Copiar Actividad" href="{{ path('gpm_actividad_copiar',{'id':actividad.id}) }}"><i class="fa fa-copy"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
