{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}
{% form_theme formReferencia 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ actividad.nombre }}{% endblock %}
{% block subtitulo %}Modificar Actividad{% endblock %}


{% block formulario %}
    {% include "gpm/Responsable/popup_responsable_new.html.twig" %} 
    {% include "gpm/Contratista/popup_contratista_new.html.twig" %} 
    {% include "gpm/Personal/popup_persona_new.html.twig" %} 
    {% include "gpm/Referencia/popup_referencia_new.html.twig" %} 
    {% include "gpm/Referencia/popup_icono.html.twig" %} 

    <div class="panel panel-body">
        <form class="form-horizontal"  method="POST" >
            <fieldset>
                <div class="row-fluid">
                    <div>{{ form_errors(form) }}</div>
                    <div class="row-fluid">
                        <div class="col-md-12" style="padding-top: 10px;">
                            <input type="hidden" class="form-control" id="actividad_id" name="actividad[id]" value="{{ actividad.id }}" required="required">
                            <div class="col-md-4">{{ form_widget(form.nombre) }}</div>
                            <div class="col-md-3">{{ form_widget(form.codigo) }}</div>
                            <div class="col-md-3">{{ form_widget(form.responsable) }}</div>
                                {% if configuracion['CORTE_ENERGIA']['value']  %}
                                    <div class="col-md-2">{{ form_widget(form.corteEnergia) }}</div>
                                {% endif %}
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">{{ form_widget(form.fecha) }}</div>
                            <div class="col-md-3">{{ form_widget(form.inicio) }}</div>
                            <div class="col-md-3">{{ form_widget(form.fin) }}</div>
                            <div class="col-md-3">{{ form_widget(form.contratista) }}</div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-group "><label class="control-label" for="actividad_motivos">Motivo</label><div class="controls ">
                                        <select class="form-control" id="actividad_motivos" name="actividad[motivos]">
                                            <option value></option>
                                            {% for motivo in  organizacion.motivosgpm %}
                                                <option  value="{{ motivo.id }}" {{ actividad.motivo != null ? 
                                                        motivo.id == actividad.motivo.id ? 'selected': ''
                                                  :''}}>{{ motivo.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">{{ form_widget(form.actgpmServicios) }}</div>
                            <div class="col-md-5">{{ form_widget(form.actgpmRefgpm) }}</div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">{{ form_widget(form.descripcion) }}</div>
                            <div class="col-md-6">
                                {% if configuracion['HECTAREA']['value']  %}
                                    <div class="col-md-4">{{ form_widget(form.anchoTrabajo) }}</div>
                                {% endif %}
                                {% if configuracion['NIVEL_TENSION']['value']  %}
                                    <div class="col-md-6">{{ form_widget(form.nivelTension) }}</div>
                                {% endif %}
                                {% if configuracion['PERSONAL']['value']  %}
                                     <div class="col-md-6"> {{ form_widget(form.personal) }}</div>
                                {% endif %}
                            </div>

                        </div>

                    </div>

                    {{ form_row(form._token) }}
                </div>

                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Copiar" />
                    <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
{% block js%}
    {{ parent() }}    
    {{ mapa.renderJs()|raw }}
    <script type="text/javascript">
        {% include "gpm/Contratista/contratista.js" %}  
        {% include "apmon/Mapa/gmaps-lib.script.js" %}    
        {% include "gpm/Referencia/dialog-referencia-crear.script.js" %}  
        {% include "gpm/Actividad/forms.js" %}  
        {% include "gpm/Actividad/actividad.js" %}  
    </script>
{% endblock %}
