<div class="col-xs-12 col-md-6" style="margin-top: 10px;">
    <div class="col-xs-12 col-md-12" style="height: 350px;overflow: auto;">
        {% if informe is not null and movimientos is not null %}
        <table class="table table-striped font-once" style="margin-top: 10px;">
            <thead>
                <tr>
                    <td>Vehículo</td>
                    <td>Lugares<br>(Referencias)</td>
                    <td>Hora entrada</td>
                    <td>Hora salida</td>
                    <td>Kms Trabajados</td>
                    <td>Horas trabajadas (h:m)</td>
                    <td>Kms translado</td>
                    <td title="No resaltar vehículo"> <a style="cursor: pointer;" onClick="resaltarPolilinea(0, {{ informe.polilineas }})" id="btnVer" >
                            <i class="fa fa-window-close"></i>    
                        </a> </td>
                </tr>
            </thead>
            <tbody>
                {% for key,movimiento in movimientos %}
                    {% if movimiento['pasos']|length > 0 %}
                        {% for paso in  movimiento['pasos'] %}
                            <tr>
                                <td>{{ movimiento.nombre }}</td>
                                <td>{{ paso.referencia.nombre }}</td>
                                <td>{{ paso.fecha_ingreso|date('d/m/Y H:i') }}</td>
                                <td>{{ paso.fecha_egreso|date('d/m/Y H:i')}}</td>
                                <td>{{ paso.distancia | number_format(3, ',', '.') }}</td>
                                <td>{{ paso.duracion  }}</td>
                                <td>{{ paso.translado |  number_format(3, ',', '.') }}</td>
                                <td title="Resaltar vehículo">
                                    <a style="cursor: pointer;" onClick="resaltarPolilinea({{ key }}, {{ informe.polilineas }})" id="btnVer" >
                                        <i class="fa fa-search"></i>    
                                    </a> 
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
            {% else %}
                <em>Los datos se mostrarán cuando la actividad este finalizada o cerrada. </em>
            {% endif %}
    </div>
</div>

<div class="col-xs-12 col-md-6" id="mapa" style="height: 350px;">
    {{ mapa.renderHtml()|raw }}  
    <input type="checkbox" id="distancias" onclick="medirDistancias();"/>&nbsp;<label> Calcular Distancias en el mapa</label>
</div>


