<table class="table table-responsive-md table-striped mb-0">
    <tr>
        <th>Persona</th>
        <th>Teléfono</th>
        <th>Cuit</th>
        <th></th>
    </tr>
    {% for trabajo in actividad.personal %}
        <tr class="centered">
            <td>{{ trabajo.persona.nombre }}</td>
            <td>{{ trabajo.persona.telefono }}</td>
            <td>{{ trabajo.persona.cuit }}</td>
            <td><button title="remover"  onclick="modalDeletePersonal({{actividad.id}},{{trabajo.id}} , '{{trabajo.persona.nombre}}')" ><i class="fa fa-times"></i></button></td>
        </tr>
    {% endfor %}
</table>