<!-- Modal -->
<div class="modal fade" id="modalActividadEliminar" role="dialog" aria-labelledby="modalActividadNewLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="col-md-12" style="text-align: center;">
                    <h4 class="modal-title" id="myModalLabel">Eliminar actividad</h4>
                    <h5 class="modal-title" id="nombreProyecto"></h5>
                </div>
            </div>
            <div class="modal-body">
                <div id="modal-body-actividad" style="text-align: center;">
                    <h4> Está seguro de querer remover la actividad <div id="actividad_borrar_nombre"></div> del proyecto?</h4>
                </div>
            </div>
            <div class="modal-footer">
                {#<a  data-toggle="modal" href="#modalProducto2" class="btn btn-success pull-left" title="Agrega un producto al deposito">Nuevo producto</a>#}
                <button id="btnActividadRemover" type="button" class="btn btn-primary" >Remover</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>     
