<!-- Modal -->
<div class="modal fade" id="modalMapaServicio" role="dialog" aria-labelledby="modalActividadNewLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="col-md-12" style="text-align: center;">
                    <h4 class="modal-title" id="myModalLabel">Vehículo</h4>
                    <h5 class="modal-title" id="nombreVehiculo"></h5>
                </div>
            </div>
            <div class="modal-body">
                <div id="modal-body-actividad" style="text-align: center;">
                    <div class="col-sm-12 col-md-12">
                        <div class="col-sm-12 col-md-12" id="mapa" style="height: 275px;">
                            {{ mapaServicio.renderHtml()|raw }}  
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="col-xs-12 col-md-12">
                            <div class="col-md-3 cuadro">
                                <label>Cantidad de Referencias</label>
                                <h4>123</h4>
                            </div>
                            <div class="col-md-3 cuadro">
                                <label>Km. recorridos en referencias</label>
                                <h4>123</h4>

                            </div>
                            <div class="col-md-3 cuadro">
                                <label>Horas trabajadas totales</label>
                                <h4>123</h4>
                            </div>
                            <div class="col-md-3 cuadro">
                                <label>Cantidad de Paradas</label>
                                <h4>123</h4>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12" style="height: 200px;overflow: scroll;">
                            <table class="table table-striped">
                                <thead class="font-once">
                                    <tr>
                                        <td>Lugares(Referencias)</td>
                                        <td>Hora entrada</td>
                                        <td>Hora salida</td>
                                        <td>Horas trabajadas</td>
                                        <td>Kms Recorridos</td>
                                    </tr>
                                </thead>
                                <tbody class="font-diez">
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Siempre verde 123</td>
                                        <td>8:30</td>
                                        <td>12:30</td>
                                        <td>2</td>
                                        <td>32</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>     
