<table class="table table-responsive-md table-striped mb-0">
    <tr>
        <th>Icono</th>
        <th>Lugar (Referencia)</th>
        <th>Tipo</th>
        <th>Categoría</th>
        <th></th>
    </tr>
    {% for actRef in actividad.ActgpmRefgpm %}
        <tr>
            {% if actRef.referencia != null %}
                <td>
                    {% if actRef.referencia.pathIcono == '' %}
                        <img style="height: 20px;" class="logo-small" src="{{ asset('/images/iconos/ball.png')}}" />
                    {% else %}
                        <img style="height: 20px;" class="logo-small" src="{{ asset(actRef.referencia.pathIcono)}}" />
                    {% endif %}
                </td>
                <td>{{ actRef.referencia.nombre }} 
                    {% if actRef.referencia.unica %}
                        <em>(Única)</em>
                    {% endif%}
                </td>
                <td>{{ actRef.referencia.tipoReferencia != null ? actRef.referencia.tipoReferencia.nombre : '---' }}</td>
                <td>{{ actRef.referencia.categoria != null ? actRef.referencia.categoria.nombre :'---'}}</td>
                <td>
                    <button title="remover" onclick="removeReferencia({{actRef.referencia.id}},{{actRef.referencia.unica}} )"  ><i class="fa fa-times"></i></button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>