{% extends "app/Template_aker/show.html.twig" %}

{% form_theme formManual 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ actividad.nombre }}{% endblock %}




{% block contentpanel %}
    <styles>
        <link rel="stylesheet" href="{{ asset('plugins/spectrum/spectrum.css') }}" type="text/css" media="all" /> 
    </styles>
    {% include "gpm/Actividad/popup_actividad_finalizar.html.twig" %} 
    {% include "gpm/Actividad/popup_actividad_cerrar.html.twig" %} 
    {% include "gpm/Personal/popup_persona_quitar.html.twig" %} 
    {% include "gpm/Responsable/popup_responsable_new.html.twig" %} 
    {% include "gpm/Actividad/popup_actividad_remover.html.twig" %} 
    {% include "gpm/IngresoManual/popup_ingreso_manual.html.twig" %} 
    {% include "gpm/IngresoManual/popup_ingreso_remover.html.twig" %} 
    {% include "gpm/Referencia/popup_referencia_delete.html.twig" %} 
    {% include "gpm/Referencia/dialog-referencia-redibujar.html.twig" %} 
    {% include "gpm/Referencia/popup_icono.html.twig" %} 
    {#    {% include "gpm/Personal/popup_personal_asignar.html.twig" %} #}


    <div class="panel">
        <div class="panel-heading bg-theme-light">
            <div class="panel-action pull-right">
                {% if configuracion['HECTAREA']['value']  %}
                    <a title="Reporte Manual" onclick="modalIngresoManual({{actividad.id}}, '{{actividad.nombre}}')" class="btn btn-default"><i class="fa fa-clipboard"></i> </a>
                {% endif %}
                {% include "app/Template_aker/button.html.twig" with {
                            'url': path('gpm_actividad_edit', {'id': actividad.id,}), 
                            'title': 'Modificar Actividad', 
                            'icono': 'fa fa-edit',
                            'class': 'btn btn-s btn-bordered btn-default',   
                            } %}
                <a class="btn btn-default" href="{{ path('gpm_actividad_copiar',{'id':actividad.id}) }}"title="Copiar Actividad"><i class="fa fa-copy"></i></a>
                    {% if actividad.estado < 3 %}
                        {% if actividad.estado < 2 %}
                        <a title="Finalizar" id="btnFinalizar" onclick="modalFinalizar({{actividad.id}}, '{{actividad.nombre}}')" class="btn btn-default"><i class="fa fa-flag-checkered"></i> </a>
                    {% endif  %}
                    <a title="Cerrar" id="btnCerrar" onclick="modalCerrar({{actividad.id}}, '{{actividad.nombre}}')" class="btn btn-default"><i class="fa fa-check"></i> </a>
                {% endif  %}
            </div>
            <div class="panel-title">
                <h3 style="width:300px; ">
                    {{ actividad.nombre}}   
                </h3>
                <div class="divFinalizar-{{actividad.id}}">
                    {% if actividad.estado == 2 %}
                        <div class="btn btn-xs btn-success"> Finalizada </div>
                    {% endif  %}
                    {% if actividad.estado == 3 %}
                        <div class="btn btn-xs btn-dark"> Cerrada </div>
                    {% endif  %}
                </div>


            </div>
            {#            <span class="badge pull-right bg-info-light"> {{ proyecto.codigo }}</span>#}
        </div>
        <div class="panel-body pad-h-20">
            <div class="panel">
                <div class="panel-body pad-h-20">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <dl class="dl-horizontal">
                                <dt>Nombre</dt>
                                <dd>{{ actividad. nombre }} {{ actividad.opciones != null and actividad.opciones['CORTE_ENERGIA'] is defined ?'<b style="color: red;">Corte de energía</b>'|raw:'' }}</dd>
                                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Código', 'data': actividad.codigo } %} 
                                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Inicio', 'data':  actividad.fechaInicio ? actividad.fechaInicio|date('d/m/Y H:i'):'---'  } %} 
                                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Fin', 'data':  actividad.fechaFin ? actividad.fechaFin|date('d/m/Y H:i'):'---'} %} 
                                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Motivo', 'data':  actividad.motivo ? actividad.motivo.nombre:'---'} %} 
                                {% if  actividad.opciones != null and actividad.opciones['NIVEL_TENSION'] is defined  %}
                                    <dt>Nivel de Tensión</dt>
                                    <dd>{{ actividad.opciones['NIVEL_TENSION']['label']}}</dd>
                                {% endif %}
                                {% if  actividad.anchoTrabajo %}
                                    <dt>Ancho de trabajo</dt>
                                    <dd>{{ actividad.anchoTrabajo}}</dd>
                                {% endif %}
                                <dt>Estado</dt>
                                <dd id="strEstado">{{  actividad.strEstado ? actividad.strEstado:'---'}}</dd>
                            </dl>
                        </div>
                        <div class="col-md-8">
                            {% include "gpm/Actividad/widget_actividad.html.twig" with {'totales':totales,'configuracion':configuracion} %} 
                        </div>
                    </div>
                </div>
            </div>
            {% if configuracion['CONTROL_MANUAL']['value']  %}
                <div class="panel">
                    <div class="panel-body pad-h-20">
                        <div class="col-xs-12 col-md-12">
                            <h5>Reporte manual de chofer</h5>
                            <div  id="ingreso_manual" style="height: 120px;overflow: auto;">
                                {% include "gpm/IngresoManual/ingreso_manual.html.twig" with { 'actividad':actividad } %}  
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="panel">
                <div class="panel-body pad-h-20">
                    {% include "gpm/Actividad/mapa.html.twig" with {'actividad':actividad, 'mapa':mapa, 'movimientos':movimientos} %} 
                </div>
            </div>
            <div class="panel">
                <div class="panel-body pad-h-20">
                    <div class="col-xs-12 col-md-6">
                        <div  id="referencias" style="height: 200px;overflow: auto;">
                            {% include "gpm/Actividad/referencias.html.twig" with { 'actividad':actividad } %}  
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div  id="personal" style="height: 200px;overflow: auto;">
                            {% include "gpm/Actividad/personal.html.twig" with { 'actividad':actividad } %}  
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body pad-h-20">
                    <div class="col-md-12" style=" word-wrap: break-word;">
                        {{ actividad.descripcion|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{%  block js  %}
    {{ parent() }}    
    {{ mapa.renderJs()|raw }}
   <script src="{{ asset('plugins/spectrum/spectrum.js') }}" /></script>     
<script type="text/javascript">
    {% include "apmon/Mapa/gmaps-lib.script.js" %}    
    {% include "gpm/Referencia/dialog-referencia-crear.script.js" %}  
    {% include "gpm/Referencia/dialog-referencia-redibujar.script.js" %}
    {% include "gpm/Proyecto/proyecto.js" %}  
    {% include "gpm/Actividad/actividad.js" %}  
</script>

<script src="{{ asset('plugins/measuretool/lib/MeasureTool.js') }}"/></script> 

{# NO SE PORQUE NO ME FUNCIONAN LOS SCRIPTS DE DATE. O TENGO QUE VOLVER A IMPORTAR #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/es.min.js"></script>

<script type="text/javascript">
                        var measureTool;
                        function medirDistancias() {
                        var checkBox = document.getElementById("distancias");
                        if (checkBox.checked == true) {
                        crearMedida({{ mapa.getMapName() }});
                        } else {
                        borrarMedida();
                        }
                        }


                        function resaltarPolilinea(polilinea, polilineas) {
    {{ mapa.getMapName() }}.setZoom(16);
                             var str = JSON.stringify(polilineas);
                             var polis = JSON.parse(str);
                             for (var i = 0; i < polis.length; i++) {
    {{ mapa.fcAddPolyline() }}({id_sc: polis[i], ancho: 2, strokeOpacity: 1});
                                }
                                if (polilinea !== 0){
    {{ mapa.fcAddPolyline() }}({id_sc: polilinea, ancho: 8, strokeOpacity: 1});
                                }
                                }

                                function crearMedida(mapa) {
                                alert("Click en el mapa para calcular");
                                measureTool = new MeasureTool(mapa, {
                                contextMenu: false,
                                        showSegmentLength: true,
                                        tooltip: true,
                                        unit: MeasureTool.UnitTypeId.METRIC // metric, imperial, or nautical
                                });
                                measureTool.start()
                                }

                                function borrarMedida() {
                                measureTool.end();
                                }

</script>
<script type="text/javascript">
    $("#ingreso_manual_fecha").datetimepicker({
    format: 'DD/MM/YYYY',
    }).data("DateTimePicker").locale('es');
    $("#ingreso_manual_tiempo").datetimepicker({
    format: 'HH:mm'});
</script>

{% endblock %}
