<div class="titulo col-xs-12  col-md-12">
    <div class="col-xs-12 col-md-5">
        <div class="col-xs-12 col-md-12">
            <label class="nombre-proyecto">{{ actividad.proyecto.nombre }}</label>
            <a href="{{ path('gpm_actividad_show',{'id':actividad.id}) }}"><div class="h4">{{ actividad.nombre }}</div>
                {{ actividad.opciones != null and actividad.opciones['CORTE_ENERGIA'] is defined ?'<b style="color: red;">Corte de energía</b>'|raw:'' }}

        </div>
    </div>
    <div class="col-xs-12  col-md-7 h4">
        <div class="col-xs-3 col-md-3"><a class="btn btn-default"  title="Modificar Actividad" href="{{ path('gpm_actividad_edit',{'id':actividad.id}) }}"><i class="fa fa-edit"></i></a></div>

        <div class="col-xs-3 col-md-3"><a class="btn btn-default" href="#" title="Crear referencia solamente para esta actividad" onclick="crearReferenciaUnica('{{actividad.id}}', '{{actividad.nombre}}');"><i class="fa fa-map-marker"></i></a></div>

        <div class="col-xs-3 col-md-3"><a class="btn btn-default" href="{{ path('gpm_actividad_copiar',{'id':actividad.id}) }}"title="Copiar Actividad"><i class="fa fa-copy"></i></a></div>

        <div class="divFinalizar-{{actividad.id}} col-xs-3 col-md-3" id="divFinalizar">
            {% if actividad.estado < 2 %}
                <button title="Finalizar" onclick="modalFinalizar({{actividad.id}}, '{{actividad.nombre}}')" class="btn btn-default"><i class="fa fa-check"></i> </button>
            {% else  %}
                {% if actividad.estado == 2 %}
                    <div class="btn btn-xs btn-success"> Finalizada </div>
                {% else  %}
                    <div class="btn btn-xs btn-dark"> Cerrada </div>
                {% endif  %}
            {% endif  %}
        </div>
    </div>
</div>
