<div class="row">
    <div class="col-md-4">
        <div class="card-body">
            <div class="widget-summary widget-summary-md mb-4">
                <div class="widget-summary-col">
                    <div class="summary">
                        <h4 class="title">Cantidad de Vehículos</h4>
                        <div class="info">
                            <strong class="amount">{{ actividad.ActgpmServicios is not null ? actividad.ActgpmServicios|length : 0 }}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-body">
            <div class="widget-summary widget-summary-md mb-4">
                <div class="widget-summary-col">
                    <div class="summary">
                        <h4 class="title">Cantidad de Referencias</h4>
                        <div class="info">
                            <strong class="amount">{{ actividad.ActgpmRefgpm is not null ? actividad.ActgpmRefgpm|length : 0 }}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if totales is not null %}
        <div class="col-md-4">
            <div class="card-body">
                <div class="widget-summary widget-summary-md mb-4">
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Kms en Referencias</h4>
                            <div class="info">
                                <strong class="amount">{{ totales.distancia|  number_format(3, ',', '.') }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card-body">
                <div class="widget-summary widget-summary-md mb-4">
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Horas trabajadas</h4>
                            <div class="info">
                                <strong class="amount">{{ totales.duracion.total }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <div class="widget-summary widget-summary-md mb-4">
                    <div class="widget-summary-col" title="En Referencia {{ totales.detenciones.referencia }}, Fuera {{ totales.detenciones.afuera }}">
                        <div class="summary">
                            <h4 class="title">Cantidad de paradas</h4>
                            <div class="info">
                                <strong class="amount">{{ totales.detenciones.total }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <div class="widget-summary widget-summary-md mb-4">
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Lts. combustible</h4>
                            <div class="info">
                                <strong class="amount">---</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if configuracion['HECTAREA']['value']  %}
            <div class="col-md-4">
                <div class="card-body">
                    <div class="widget-summary widget-summary-md mb-4">
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Superficie</h4>
                                <div class="info">
                                    <strong class="amount">{{ totales.superficie }}(Ha)</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <div class="widget-summary widget-summary-md mb-4">
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Rendimiento</h4>
                                <div class="info">
                                    <strong class="amount">{{ totales.rendimiento }}(Ha/h)</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    {% endif %}
</div>

