<div id="asignaciones">

    <table class="table table-condensed">
        {% for key,asignado in asignaciones %}
            <tr>
                <td><b>{{key}}</b></td>
                {% for key,estado in asignado %}
                    {% if key == 'cerrada'%}
                        <td title="Cerradas"><span class="label label-success">{{estado}}</span></td>
                        {% elseif key == 'encurso'%}
                        <td title="En Curso"><span class="label label-warning">{{estado}}</span></td>
                        {% elseif key == 'nueva'%}
                        <td title="Nuevas"><span class="label label-info">{{estado}}</span></td>
                        {% elseif key == 'retrabajo'%}
                        <td title="Retrabajos"><span class="label label-danger">{{estado}}</span></td>
                        {% endif %}
                    {% endfor %}

            </tr>

        {% endfor %}
    </table>

</div>
