<div id="cantidad_div">
    <table class="table table-condensed">
        <tr>
            <td>Preventivas<td>
            <td><span class="label label-info">{{  cantidad.preventivo|length }}</span></td>
        </tr>
        <tr>
            <td>Correctivas<td>
            <td><span class="label label-info">{{  cantidad.correctivo|length }}</span><td> 
        </tr>
    </table>
</div>
