<div id="indice_div">
    {% embed "app/Template_aker/panel_simple.html.twig" with {'col':12}%}
        {% block titulo %}Indices {% endblock%}
            {% block subtitulo %}Desde <b>{{desde|date('d/m/Y')}}</b> Hasta <b>{{hasta|date('d/m/Y')}}</b>{% endblock  %}
        {% block cuerpo %}
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        {% include "app/Template_aker/widget-porto.html.twig"
             with {'col':12,'icon':'calendar', 'titulo': 'Mantenimiento Preventivo',
                         'cuerpo1':'Realizados/Nuevos: '~ arrIndice.imrn ,
                         'cuerpo2':' Realizados/Pendientes: '~ arrIndice.imrf ,
                         'footer1': arrIndice.estado == 0 ?'Pendientes: '~ 0 : 'Pendientes: '~arrIndice.mpi,
                         'footer2': arrIndice.estado == 0 ? 'Nuevos: '~0 : 'Nuevos: '~ arrIndice.mpn,
                         'footer3': arrIndice.estado == 0 ?'Realizados: '~ 0 : 'Realizados: '~arrIndice.mpr } %} 
                    </div>
                    <div class="col-md-6">
                        <div id="curve_chart" style="width: 450px; height: 170px"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        {% include "app/Template_aker/widget-porto.html.twig"
                 with {'col':12,'icon':'clipboard','titulo': 'Pedido Rep.',
                         'cuerpo1':'Realizados/Nuevos: '~arrIndice.irrn ,
                         'cuerpo2':'Realizados/Pendientes: '~arrIndice.irrf,
                         'footer1': arrIndice.estado == 0 ?'Pendientes: '~ 0 :'Pendientes: '~arrIndice.rpi,
                         'footer2':arrIndice.estado == 0 ? 'Nuevos: '~ 0 :'Nuevos: '~ arrIndice.rpn,
                         'footer3': arrIndice.estado == 0 ? 'Realizados: '~0 :'Realizados: '~arrIndice.rpr } %} 
                    </div>
                    <div class="col-md-6">
                        <div id="curve_chart3" style="width: 450px; height: 170px"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        {% include "app/Template_aker/widget-porto.html.twig"
        with {'col':12,'icon':'wrench', 'titulo': 'Orden Trab.', 
                    'cuerpo1':'Realizadas: '~ arrIndice.opn  , 'tituloc1':'Ordenes de Trabajo realizadas',
                    
                     } %}  
                    </div>
                    <div class="col-md-6">
                        <div id="curve_chart2" style="width: 450px; height: 170px"></div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
</div>