<!-- Include the Mailbox Menu -->
<div class="panel">
    <div class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
        </div>
        <div class="panel-title">Filtro</div>
    </div>
    <div class="panel-body">
        <div class="control-group"><label class="control-label required" for="informe_desde">Desde</label><div class="controls">
                <input type="text" class=" col-md-12 form-control" id="informe_desde" name="informe[desde]" required="required">
                <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>        
            </div>
        </div>     
        <div class="control-group"><label class="control-label required" for="informe_hasta">Hasta</label><div class="controls">
                <input type="text" class=" col-md-12 form-control" id="informe_hasta" name="informe[hasta]" required="required">
                <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>        
            </div>
        </div>
      
        {#            <input type="button" class="btn btn-primary" id="generar" value="Generar" />#}
        <button class="btn btn-theme" type="button" id="generar">Aplicar</button>
    </div>
    <div class="panel-footer">
        <a href="{{path('crm_peticion_main')}}" class="btn btn-block btn-default btn-md pt-sm pb-sm text-md">
            <i class="fa fa-clipboard"></i>
            Pedidos de Reparación
        </a>
        <a href="{{path('ordentrabajo_list',{'id': organizacion.id})}}" class="btn btn-block btn-default btn-md pt-sm pb-sm text-md">
            <i class="fa fa-wrench"></i>
            Ordenes de trabajo
        </a>
        <a href="{{path('informe_mantenimiento_indice',{'id': organizacion.id})}}" class="btn btn-block btn-default btn-md pt-sm pb-sm text-md">
            <i class="fa fa-clipboard"></i>
            Indice de Mantenimiento
        </a>

    </div>
</div>
