<div id="ordenes_div">
    {% embed "app/Template_aker/panel_simple.html.twig" with {'col':12}%}

        {% block titulo %}<span id="otLength" class="badge badge-default badge-bordered badge-xs pull-left">{{ ordenes|length}}</span>&nbsp Ordenes de Trabajo {% endblock %} 
        {% block subtitulo %}Desde <b>{{desde|date('d/m/Y')}}</b> Hasta <b>{{hasta|date('d/m/Y')}}</b> {% endblock  %}
        {% block cuerpo %}
            <table id="ordenes" class="table table-condensed">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Asunto</th>
                        <th>Autor</th>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Pedido de reparación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for orden in ordenes %}
                        <tr>
                            <td><a href="{{path('ordentrabajo_step2', {'id':orden.id})}}">Nro. {{ orden.formatIdentificador }}: {{ orden.servicio.nombre }}</a></td>
                            <td>{{orden.descripcion|default('---')}}</td>
                            <td>{{orden.ejecutor.nombre|default('---')}}</td>
                            {% if orden.tipo == 0 %}
                                <td>  C </td>
                            {% elseif orden.tipo == 1 %}
                                <td> P </td>
                            {% elseif orden.tipo == 2 %}
                                <td style="color: rosybrown"> R </td>
                            {% else %}
                                <td>  --- </td>
                            {% endif %}
                            </td>
                            <td>{{ orden.fecha ? orden.fecha|date('d/m/Y')|default('n/a') : '---' }}</td>
                            <td>
                                <ul>
                                    {% for peticion in orden.peticiones  %}
                                        <li> {{ peticion.asunto }}</li> 
                                        {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}

    {% endembed %}
</div>