<div id="peticiones_div">
    {% embed "app/Template_aker/panel_simple.html.twig" with {'col':12}%}
        {% block titulo %}<span id="petLength" class="badge badge-default badge-bordered badge-xs pull-left">{{ peticiones|length}}</span>&nbsp Pedidos de Reparación {% endblock %} 
            {% block subtitulo %}Desde <b>{{desde|date('d/m/Y')}}</b> Hasta <b>{{hasta|date('d/m/Y')}}</b> {% endblock %}
        {% block cuerpo %}
            <table id="peticiones" class="table table-condensed ">
                <thead>
                    <tr>
                        <th>Asunto</th>
                        <th>Tipo</th>
                        <th>Autor</th>
                        <th>Asignado a</th>
                        <th>Fecha Creación</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th>Estado</th>
                        <th>Categoría</th>
                    </tr>
                </thead>
                <tbody>
                    {% for peticion in peticiones %}
                        <tr>
                            <td><a href="{{path('crm_peticion_edit', {'id':peticion.id})}}"> {{ peticion.asunto }} </a></td>
                            {% if peticion.tipo == 1 %}
                                <td style="color: rosybrown"> 
                                    Retrabajo
                                </td>
                            {% else %}
                                <td>
                                    Normal
                                </td>
                            {% endif %}
                            <td>{{peticion.autor.nombre }}</td>
                            <td>{{ peticion.asignadoa.nombre}}</td>
                            <td>{{ peticion.created_At|date('d/m/Y')}}</td>
                            <td>{{ peticion.fechaInicio|date('d/m/Y')}}</td>
                            <td>{{ peticion.fechaFin|date('d/m/Y')}}</td>
                            <td>{{ peticion.estado}}</td>
                            <td>{{ peticion.categoria }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}

    {% endembed %}
</div>