{% extends "app/Template_aker/list.html.twig" %}

{% form_theme filter 'app/Form/personal_fields.html.twig' %}
{% import "app/Macros/servicio.html.twig" as macrosServ %}

{% block titulo %}Panel de Control{% endblock %}
{% block subtitulo %}{% endblock %} 
{% block contentpanel %}

    <div class="row mailbox">
        <div class="col-md-9 mb-content">
            <div id="informe">
                
            </div>
            <div id="informe_">
                <div class="col-md-12 mb-menu">
                    {% embed "app/Template_aker/panel_simple.html.twig"%}
                        {% block titulo %}Mantenimientos Preventivos{% endblock %}
                        {% block cuerpo %}
                            <div class="col-md-6">
                                 <div id="curve_chart" style="width: 100%; height: 170px"></div>
                            </div>
                            <div class="col-md-6">
                                 <div id="curve_chart1" style="width: 100%; height: 170px"></div>
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-md-12 mb-menu">
                    {% embed "app/Template_aker/panel_simple.html.twig"%}
                        {% block titulo %}Pedidos de Reparación {% endblock %}
                        {% block cuerpo %}
                            <div class="col-md-6">
                                <canvas id="byAtrasadas" class="row" height="200"></canvas>
                            </div>
                            <div class="col-md-6">
                                <canvas id="byRetrabajo" class="row" height="200">  </canvas>
                            </div>
                            <div class="col-md-7">
                                 <div id="curve_chart2" style="width: 100%; height: 170px"></div>
                            </div>
                            <div class="col-md-5">
                                 <div id="curve_chart2_1" style="width: 100%; height: 170px"></div>
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-md-12 mb-menu">
                    {% embed "app/Template_aker/panel_simple.html.twig"%}
                        {% block titulo %}Ordenes de trabajo {% endblock %}
                        {% block cuerpo %}
                            <div class="col-md-12">
                                 <div id="curve_chart3" style="width: 100%; height: 170px"></div>
                            </div>
                            
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-menu">
            {% include "mante/Dashboard/main_panel_filter.html.twig" %}  
            {% embed "app/Template_aker/panel_simple.html.twig"%}
                {% block titulo %}Asignaciones{% endblock %}
                {% block subtitulo %}Asiganciones de Pedidos de reparación según estado de las mismas{% endblock %}
                {% block cuerpo %}
                    {% include "mante/Dashboard/asignaciones.html.twig" %}  
                {% endblock %}
            {% endembed %}
        </div>
    </div>

{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}" >
    </script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}">
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}" ></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var indices = null;
        $(document).ready(function () {
            var hasta = new Date();
            var desde = new Date();
            var atr = {{ atrasadas|json_encode|raw }};
                    desde.setMonth(desde.getMonth() - 1);
            $("#informe_desde").datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY HH:mm:ss',
                defaultDate: desde

            });
            setGraficoAtrasadas(atr);
            $('#informe_hasta').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY HH:mm:ss',
                defaultDate: hasta,
            });
            indices = JSON.parse('{{indices_json|raw()}}');
            
            armarGrafico();
        });
        $("#generar").click(function () {
            var hasta = document.getElementById("informe_hasta").value;
            var desde = document.getElementById("informe_desde").value; // first element in DOM  (index 0) with name="txtJob"
            $.ajax({
                type: 'POST',
                url: "{{ path('mante_ajaxpanel', {'idOrganizacion': organizacion.id}) }}",
                data: {
                    'desde': desde,
                    'hasta': hasta,
                },
                dataType: "json",
                beforeSend: function (xhr) {
{#                    $('#informe').html('<em>Procesando nuevo informe, espere...</em>');#}
                    $('#informe').html('<div class="alert alert-info">'+'<span class="label label-warning">Atención</span> <em>Procesando nuevo informe, espere...</em> </div>');
                    $('#asignaciones').html('');
                    $('#cantidad_div').html('');
                 
                }
            }).done(function (respuesta) {
                if (respuesta['status'] == 'OK') {
                     indices = null;
                    $('#informe').html('');
        {#                    $('#informe').html(respuesta['html']);#}
                        if (respuesta['atrasadas'] != null) {
                            setGraficoAtrasadas(respuesta['atrasadas']);
                        }
                     
                        if (respuesta['asignacionesHtml'] != null) {
                            $("#asignaciones").html(respuesta['asignacionesHtml']);
                        }
                     
                        if (respuesta['cantidadHtml'] != null) {
                            $("#cantidad_div").html(respuesta['cantidadHtml']);
                        }
                            
                        if (respuesta.indices_json != null) {
                               indices = JSON.parse(respuesta.indices_json);
                        }
                        armarGrafico();
                      
                    }
                  

                });
            });
            
          {% include "mante/Dashboard/grafico_atrasadas.js" %}  
   
          function armarGrafico() {
                google.charts.load('current', {'packages': ['corechart']});
                google.charts.setOnLoadCallback(drawChart);
            }

            function drawChart() {

                var arr = new Array();
                var arr_1 = new Array();
                var arr1 = new Array();
                var arr1_1 = new Array();
                var arr2 = new Array();
                var i = 1;
                
                arr[0] = ['Fecha', 'Nuevos', 'Realizados'];
                arr_1[0] = ['Fecha', 'Pendientes'];
                arr1[0] = ['Fecha', 'Nuevas','En Curso','Detenidas','Realizadas'];
                arr1_1[0] = ['Fecha', 'Pendiente'];
                arr2[0] = ['Fecha', 'Nuevas','En Curso','Realizadas'];
             
             
             if(indices == null){
                 arr[1]=['Sin Datos',0,0];
                 arr_1[1]=['Sin Datos',0];
                 arr1[1]=['Sin Datos',0,0,0,0,0];
                 arr1_1[1]=['Sin Datos',0];
                 arr2[1]=['Sin Datos',0,0,0];
                 
             }else{
                jQuery.each(indices, function (key, value) {
                    arr[i] = [key, value['mantenimiento_nuevo'], value['mantenimiento_realizado']];
                    arr_1[i] = [key, value['mantenimiento_pendiente']];
                  
                    arr1[i] = [key, value['peticion_nuevo'], value['peticion_encurso'], 
                        value['peticion_detenido'],value['peticion_realizado']];

                    arr1_1[i] = [key, value['peticion_pendiente']];    
                    
                    arr2[i] = [key, value['ordentrabajo_nuevo'], value['ordentrabajo_encurso'], value['ordentrabajo_realizado']];
                    i++;
                });
            }
                var indicemant = google.visualization.arrayToDataTable(arr);
                var indicemant1 = google.visualization.arrayToDataTable(arr_1);
                var indicepet = google.visualization.arrayToDataTable(arr1);
                var indicepet1 = google.visualization.arrayToDataTable(arr1_1);
                var indiceot = google.visualization.arrayToDataTable(arr2);

                var options = {
                    curveType: 'function',
                    interpolateNulls: true,
                    legend: {position: 'bottom'}
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                var chart1 = new google.visualization.LineChart(document.getElementById('curve_chart1'));
                var chart2 = new google.visualization.LineChart(document.getElementById('curve_chart2'));
                var chart2_1 = new google.visualization.LineChart(document.getElementById('curve_chart2_1'));
                var chart3 = new google.visualization.LineChart(document.getElementById('curve_chart3'));
                
               
                chart.draw(indicemant, options);
                chart1.draw(indicemant1, options);
                chart2.draw(indicepet, options);
                chart2_1.draw(indicepet1, options);
                chart3.draw(indiceot, options);
            }
    </script>

{% endblock %}
{% block css %}
    {{ parent() }}
    <link href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}