{% extends "app/Template_aker/popup.html.twig" %}

{% block modalId %}modalDelete{% endblock %}

{% block modalTitulo %}Eliminar Transporte{% endblock %}

{% block modalUrl %}{{ path('transporte_delete', { 'id': transporte.id }) }}{% endblock %}

{% block modalBody %}
      <p>Esta seguro de eliminar este transporte: <strong>{{ transporte.nombre|upper }}</strong> ?</p>
    {{ form_widget(delete_form) }}
{% endblock %}

{% block modalOk %}
    <button class="btn btn-danger" type="submit">Eliminar</button>
{% endblock %}

