{% extends "app/Template_aker/list.html.twig" %}

{% block titulo %}Transportes
{% endblock %}
{% block contentpanel %}
	<div>
		<table class="table table-condensed" id="tablaTransporte">
			<thead>
				<tr>
					<th>Transporte</th>
					<th>Servicios</th>
					<th>Usuarios</th>
					<th>Contacto</th>
					<th>Email</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for transporte in transportes %}
					<tr>
						<td>
							<a href="{{ path('transporte_show', {'id': transporte.id}) }}">{{ transporte.nombre }}</a>
							<br>
							<small>
								{{ transporte.domicilio }}
								-
								{{ transporte.localidad }}
							</small>
						</td>
						<td>{{ transporte.servicios|length }}</td>
						<td>{{ transporte.usuarios|length }}</td>
						<td>
							{% if transporte.contacto %}
								<i class="glyphicon glyphicon-user "></i>
								{{ transporte.contacto }}
							{% endif %}
							<br>
							{% if transporte.telefono %}
								<i class="glyphicon glyphicon-earphone"></i>
								{{ transporte.telefono|default('---') }}
							{% endif %}
						</td>
						<td>{{ transporte.email }}</td>
						<td>
							{% if is_granted('ROLE_TRANSPORTE_EDITAR') %}
								<a href="{{ path('transporte_edit', {'id': transporte.id} ) }}" class="btn btn-small">
									<i class="fa fa-edit"></i>
								</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
{% block js %}
	{{ parent() }}

	<script>
		$(document).ready(function () {
            getDataTable('tablaTransporte');
        });
	</script>
{% endblock %}

