<div class="main-body">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="d-flex flex-column align-items-center text-center">
							<div class="mt-3">
								<h4>{{ transporte.nombre}}</h4>
								<p class="text- mb-1">{{ transporte.domicilio ? transporte.domicilio : '---' }}</p>
								<p class="text-muted font-size-sm">{{ transporte.localidad ? transporte.localidad : '---'  }}</p>
								<i class="fa fa-address-card-o"></i>
								<div class="label label-default">
									{{ transporte.contacto ? transporte.contacto : '---' }}</div>
								&nbsp;&nbsp;
								<i class="fa fa-phone"></i>
								<div class="label label-default">{{ transporte.telefono ? transporte.telefono : '---' }}</div>
								&nbsp;&nbsp;
								<i class="fa fa-envelope"></i>
								<div class="label label-default">{{ transporte.email ? transporte.email : '---' }}</div>
							</div>
							<hr class="my-4">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="card">
							<div class="card-body">
								<p class="text- mb-1">{{ transporte.nota ? transporte.nota|raw : '---' }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
	</div>
</div>
