{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	{{ organizacion }}
{% endblock %}
{% block formulario %}
<legend>Nuevo Transporte</legend>
<form class="form-horizontal" method="POST">
	{% embed "app/Template_aker/panel_form.html.twig" %}
		{% block titulo %}Datos del Transporte
		{% endblock %}
		{% block cuerpo %}
			<fieldset>
				<div class="row-fluid">
					<div>{{ form_errors(form) }}</div>
					<div class="col-md-8">
						{{ form_widget(form.nombre) }}
						{{ form_widget(form.domicilio) }}
						{{ form_widget(form.localidad) }}
						{{ form_widget(form.contacto) }}
						{{ form_widget(form.telefono) }}
						{{ form_widget(form.email) }}
						{{ form_widget(form.nota) }}


					</div>
					<div class="col-md-4">
						<section class="panel panel-info">

							<div class="panel-body">
								<h4>Información</h4>
								<p>Complete el nombre del Transporte.</p>
							</div>
						</section>
					</div>
					{{ form_widget(form._token) }}

				</fieldset>
			{% endblock %}
			{% block botones %}
				<input type="submit" class="btn btn-primary" id="crear" value="Crear"/>
				<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
			{% endblock %}
		{% endembed %}
	</form>

{% endblock %}
{%  block js  %}
    {{ parent() }}    
    <script>

        $(function () {
			$("#transporte_nota").summernote({
             height: 200,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
      
                    ]
        });           
       
        });

    </script>
{%  endblock  %}