<div id="modalCrearTransporte" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Crear Transporte</h3>
    </div>
        <div class="modal-body">
            <legend>Datos del Transporte</legend>
            <div class="control-group ">
                <label class="control-label">Nombre</label>
                <div class="controls">
                    <input id="transporte_nombre" name="transporte[nombre]" required="required" maxlength="255" class="" type="text">
                    <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button"  onClick="cargarTransp({{organizacion.id}})">Agregar</button>
            <a id="boton-cancelar" href="" class="btn secondary">Cancelar</a>
        </div>
    
</div>

