<table class="table table-condensed" id="tablaServicio">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Satelital</th>
		</tr>
	</thead>
	<tbody>
		{% for servicio in servicios %}
			<tr>
				<td>{{ servicio.nombre }}</td>
				<td>{{ servicio.satelital.nombre|default('---') }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
