{% extends "app/Template_aker/show.html.twig" %}
{% form_theme formContacto 'app/Form/calypso_fields.html.twig' %}
{% form_theme formServicioNew 'app/Form/calypso_fields.html.twig' %}
{% form_theme formUsuarioNew 'app/Form/calypso_fields.html.twig' %}
{% form_theme formChoferNew 'app/Form/calypso_fields.html.twig' %}
{% form_theme formLicenciaNew 'app/Form/calypso_fields.html.twig' %}
{% form_theme formLicenciaEdit 'app/Form/calypso_fields.html.twig' %}

{% block formdelete %}
	{% include "monitor/Transporte/delete_form.html.twig" %}
{% endblock %}

{% block titulo %}
	{{ transporte.nombre }}
{% endblock %}

{% block informacion %}{% endblock %}

{% block contentpanel %}
	{% include "monitor/Contacto/popup_contacto.html.twig" %}
	{% include "monitor/Contacto/popup_contacto_edit.html.twig" %}
	{% include "monitor/Contacto/popup_contacto_delete.html.twig" %}

	{% include "monitor/Servicio/popup_servicio.html.twig" %}
	{% include "monitor/Servicio/popup_servicio_new.html.twig" %}
	{% include "monitor/Servicio/popup_servicio_delete.html.twig" %}

	{% include "monitor/Usuario/popup_usuario_new.html.twig" %}
	{% include "monitor/Usuario/popup_usuario_edit.html.twig" %}
	{% include "monitor/Usuario/popup_usuario_delete.html.twig" %}
	{% include "apmon/Chofer/popup_new.html.twig" %}

	{% include "apmon/Licencia/popup_new.html.twig" %} 
    {% include "apmon/Licencia/popup_delete.html.twig" %} 
    {% include "apmon/Licencia/popup_edit.html.twig" %} 

	{% embed "app/Template_aker/panel_showtab.html.twig" %}
		{% block cuerpo %}
			<div class="tabs tabs-default">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#main" data-toggle="tab">
							<i class="fa fa-info"></i>
							Datos</a>
					</li>
					<li>
						<a href="#usuarios" data-toggle="tab">
							<i class="fa fa-user"></i>
							Usuarios</a>
					</li>
					<li>
						<a href="#contactos" data-toggle="tab">
							<i class="fa fa-address-card-o"></i>
							Contactos</a>
					</li>
					<li>
						<a href="#servicios" data-toggle="tab">
							<i class="fa fa-car"></i>
							Servicios</a>
					</li
					><li>
						<a href="#choferes" data-toggle="tab">
							<i class="fa fa-id-card"></i>
							Choferes</a>
					</li>

				</ul>
				<div class="tab-content">
					<div id="main" class="tab-pane active">
						{% include "monitor/Transporte/main.html.twig" with {'transporte': transporte } %}
					</div>
					<div id="usuarios" class="tab-pane">
						<div id="tableUsuarios">
							{% include "monitor/Usuario/usuarios.html.twig" with {'usuarios': transporte.usuarios} %}
						</div>
					</div>
					<div id="contactos" class="tab-pane">
						<div id="tableContactos">
							{% include "monitor/Contacto/contactos.html.twig" with {'contactos': transporte.contactos } %}
						</div>
					</div>
					<div id="servicios" class="tab-pane">
						<div id="tableServicios">
							{% include "monitor/Servicio/servicios.html.twig" with {'servicios': transporte.servicios } %}
						</div>
					</div>
					<div id="choferes" class="tab-pane">
						<div id="tableChoferes">
							{% include "apmon/Chofer/choferes.html.twig" with {'choferes': transporte.choferes } %}
						</div>
					</div>

				</div>
			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block js %}
	{{ parent() }}
	<script type="text/javascript">
		{% include "monitor/Servicio/datamap.js" %}
		{% include "monitor/Transporte/show.js" %}
	</script>
	
	   {% include "apmon/Chofer/licencia.js" %} 


{% endblock %}
