<!DOCTYPE html>
<html lang="es">
    <head>
        {%block meta %}
            <meta charset="UTF-8">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        {% endblock %}
        {% block ico %}{% endblock %}        
        <title>{% block title %}{% endblock %}</title>

        {% set appbundle = '/' %}   {# seteo la ubicacion del appbundle #}
        {% set pathDee = 'plugins/dee/' %}   {# seteo la ubicacion del dee #}
        {% set pathJqueryUi = 'plugins/jquery-ui/' %}   {# seteo la ubicacion del dee #}

        {% block css %}
            <!-- Fonts -->
            <link href='//fonts.googleapis.com/css?family=Raleway:300,400,600,700,800' rel='stylesheet' type='text/css'>
            <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
            <!-- / Fonts -->

            <!-- Style Sheets -->
            <link rel="stylesheet" href="{{ asset(pathDee ~ 'styles/vendor/pace-theme-minimal.css') }}">
            <link rel="stylesheet" href="{{ asset(pathDee ~ 'styles/vendor/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset(pathDee ~ 'styles/vendor/metisMenu.min.css') }}">
            <link rel="stylesheet" href="{{ asset(pathDee ~ 'styles/vendor/animate.min.css') }}">
            <link rel="stylesheet" href="{{ asset(pathDee ~ 'styles/vendor/toastr.min.css') }}">
            <link rel="stylesheet" href="{{ asset(pathDee ~ 'styles/vendor/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset(pathDee ~ 'styles/style.min.css') }}">
            <link rel="stylesheet" href="{{ asset(pathDee ~ 'styles/themes/theme-all.min.css') }}">
            <link rel="stylesheet" href="{{ asset(pathDee ~ 'styles/demo.min.css') }}">
            <!-- / Style Sheets -->

            <!-- Style Sheets -->
            <link rel="stylesheet" href="{{ asset(pathDee ~ 'styles/login.min.css') }}">
            <!-- / Style Sheets -->
            
            <style type="text/css"> 
                body {
                  background-image: url("{{ asset(appbundle ~ 'images/background.jpg') }}");
                  background-size: cover;
                  -moz-background-size: cover;  /* Firefox 3.6 */
                  background-position: center;  /* Internet Explorer 7/8 */
                }
            </style>
        {% endblock %}
        
        {% block jshead %}
        {% endblock %}        
        
        {% block head %}
        {% endblock %}

</head>
<body>
    {% if aker_server_blocked == 'true' %}
    <section class="content-body">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-danger center">
                    <h1 class="text-center"><strong>ATENCION !!!</strong></h1> 
                    <p>Este servidor se encuentra bloqueado por <b>MANTENIMIENTO</b>.</p>                    
                    <p>Por favor ingrese al servidor principal o comuniquese con el servicio de soporte al cliente al correo <em>soporte@akercontrol.com</em>.</p>
                    <p>Gracias.</p>
                </div>
            </div>
        </div>
        </div>
    </section>
    {% else %}
        <div class="wrapper-login"> 
            {% if aker_modo_testing == 'true' %}
                <div class="alert alert-warning">                
                    <strong>ATENCION !!!</strong> Está ingresando a un servidor de <b>TESTING</b> de Aker pero con acceso a datos de <b>producción</b>. Le pedimos que acceda con precaución en la modificación de los datos. Gracias"
                </div>
            {% endif %}        
                <!--/*CONTENIDO*/--> 
                {% block content %}

                {% endblock %}
                <!--/*FIN CONTENIDO*/-->
        </div>     
    {% endif %}

    <!--/*PIE DE PAGINA*/--> 
    <div class="pie-login">
      <p>      
        {% if is_granted("ROLE_USER") %}
            {% if app.user.organizacion  %} {#  tiene organizacion   #}
                {% if app.user.organizacion.tipoOrganizacion == 1 %} {#  es un distribuidor     #}
                    {{ app.user.organizacion.footer }}
                {% else %}
                    {{ app.user.organizacion.organizacionPadre.footer }}
                {% endif %} 
            {% endif %}
        {% endif %}           
      </p>      
    </div>
    <!--/*FIN PIE DE PAGINA*/--> 

{% block js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>            
    
    <script src="{{ asset(appbundle ~ 'plugins/pnotify/pnotify.custom.min.js') }} " type="text/javascript" ></script>
    <script type="text/javascript" src="{{ asset(appbundle ~ 'plugins/bootstrap/js/bootstrap.min.js') }} "></script> 
    </script>
{% endblock %}


<script type="text/javascript">
    $(document).ready(function () {
            
    });
</script> 

</body>
</html>