{% extends 'security/layout_login.html.twig' %}

{% block ico %}
	<link rel="shortcut icon" href="{{ asset(icono) }}" /> 	
{% endblock %}


{% block title %}
	{% if logo == 'aker' %} {# cuando esta ingresando por akercontrol #}
		AkerControl.com
	{% else %}                    {# cuando esta ingresando por un dominio #}
		{{ logo.nombre }}
	{% endif %}
{% endblock %}

{% block content %}
	<div class="single-container login-screen animated fadeIn">
		<section class="sign-widget" style="background-color: rgba(215,215,215,.75);">
			<header>
				{% if logo == 'aker' %} {# cuando esta ingresando por akercontrol #}
					<img src="{{ asset('images/aker/4.png') }}" title="aker">
					<h2>Bienvenido.</h2>
					<p>
						Estimado usuario, por favor, ingrese sus datos de inicio y acceda al
						                    sistema de administración y monitoreo integral de los equipos de 
						                    seguimiento que tenga instalados al momento.
					</p>
                {% else %}                    {# cuando esta ingresando por un dominio #}
                    <img src="{{ asset(logo.imagen) }}" title="{{ logo.nombre }}">                   
					<p>
						{{ logo.mensaje|raw }}
					</p>
				{% endif %}
			</header>
			<div class="body">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.username }},
						<a href="{{ path('security_logout') }}">Logout</a>
					</div>
				{% endif %}
				<form action="{{ path("security_login_check") }}" method="post" class="no-margin">
					<fieldset>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-user"></i>
								</span>
								<input class="form-control" type="text" id="username" name="_username" placeholder="Usuario"/>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-lock"></i>
								</span>
								<input class="form-control" type="password" id="password" name="_password" placeholder="contraseña"/>
							</div>
						</div>
					</fieldset>

					<div class="form-actions">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<button class="btn btn-block btn-primary" type="submit">
							<span class="fa-icon-circle">
								<i class="fa fa-sign-in"></i>
							</span>
							<small class="l-mar-5">Ingresar</small>
						</button>
					</div>
				</form>
			</div>
			<footer></footer>
		</section>
	</div>

{% endblock %}
