{% extends "app/Template/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block title %}Choferes{% endblock %}
{% block titulo %}Informe de Choferes por servicio{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
        $.datepicker.setDefaults ($.datepicker.regional["es"]);
        $.timepicker.setDefaults ($.timepicker.regional["es"]);
          $("#chofer_servicio").select2();
        $("#chofer_desde").datetimepicker ({
            defaultDate: "today",
            changeMonth: true,
            numberOfMonths: 1,
            maxDate: "today",
        });
       
        $("#chofer_hasta").datetimepicker ({
            defaultDate: "today",
            changeMonth: true,
            numberOfMonths: 1,
            maxDate: "today",
        });
    });
</script>
{% endblock %}

{% block formulario %}
   <form class="form-horizontal"  method="POST" >
    {{ form_errors(form) }}
    <fieldset>
        {{ form_widget(form.destino) }}
        {{ form_widget(form.servicio) }}
        {{ form_widget(form.desde) }}
        {{ form_widget(form.hasta) }}
        {{ form_rest(form) }} 

        <div class="form-actions" style="background-color: white">
            <button type="submit" class="btn btn-primary">Generar</button>
            <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>

{% endblock %}
