{% extends "app/Template/informe_result.html.twig" %}

{% block titulo %}Choferes {% endblock %}

{% block informacion %}
    Para el servicio <b>{{ consulta.servicionombre }}</b>, desde el <b>{{ consulta.desde }}</b>, hasta el <b>{{ consulta.hasta }}</b> 
    [ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
<form name="formexport" action="{{ path('informe_chofer_exportar', {'tipo': '1'}) }}" method="POST" >
    <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
    <input type="hidden" name="informe" value="{{ result|json_encode() }}"/>
</form>
{% endblock %}

{% block contentpanel %}

    {% if result is not null %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Servicio</th>
                        {% if moduloChofer %} 
                        <th>Chofer</th>
                        {% endif %}
                    <th>Inicio</th>
                    <th>Referencia</th>
                    <th>Dirección</th>
                    <th>Fin</th>
                    <th>Referencia</th>
                    <th>Dirección</th>
                    <th>Distancia</th>
                    <th>Duración</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in result %}
                     <tr>
                            <td rowspan="{{ value|length }}">{{ key }}</td>
                            {% set i = 0 %}
                            {% for key,value in value %}
                                {% if i > 0 %}
                                <tr>
                                {% endif %}
                                {% if moduloChofer %} 
                                    <td>{{ value.chofer }}</td>
                                {% endif %}
                                <td>{{ value.inicio.fecha|date('Y-m-d H:i:s') }}</td>
                                <td>{{ value.inicio.str_referencia|default(' --- ') }}</td>
                                <td>{{ value.inicio.domicilio|default(' --- ') }}</td>
                                <td>{{ value.fin.fecha|date('Y-m-d H:i:s') }}</td>
                                <td>{{ value.fin.str_referencia|default(' --- ') }}</td>
                                <td>{{ value.fin.domicilio|default(' --- ') }}</td>
                                <td>{{ value.distancia|default(' --- ') }} Km</td>
                                <td>{{ value.duracion|default(' --- ') }}</td>
                                {% if i > 0%}
                                </tr>
                            {% endif %}
                            {% set i = i+1 %}

                        {% endfor %}
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}