{% extends "app/Template_aker/list.html.twig" %}

{% block titulo %}Mis Motivos{% endblock %}        

{% block contentpanel %} 
    <div class="col-md-12">
        <div class="panel panel-body" style="min-height:460px; ">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for motivo in organizacion.motivosgpm %}
                        <tr>
                            <td>{{ motivo.nombre }}</a></td>
                            <td>{{ motivo.descripcion }}</a></td>
                            <td>
                                <a title="Modificar Motivo" class="btn btn-xs btn-default" href="{{ path('gpm_motivogpm_edit', {'id': motivo.id} ) }}"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

