{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}


{% block titulo %} Alta de Motivo de Actividad {% endblock %}

{% block formulario %}
    <div class="panel panel-body">
        <form class="form-horizontal"  method="POST" >
            <fieldset>
                {{ form_errors(form) }}
                <div class="row-fluid">
                    <div class="col-xs-12 col-md-6">
                        <h3>Datos del Motivo</h3>
                        {{ form_widget(form.nombre) }}
                        {{ form_widget(form.descripcion) }}
                        {{ form_rest(form) }}
                    </div>
                    <div class="col-xs-12 col-md-6">

                    </div>
                </div>

                <div class="col-md-12 form-actions">
                    <div style="margin-top: 10px;">
                        <input type="submit" class="btn btn-primary" value="Agregar" />
                        <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>

                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
