{% extends "app/Template/list.html.twig" %}

{% block titulo %}Historico de Pánicos{% endblock %}        

{% block css %}
    {{ parent() }}
    <link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
         function batch(accion) {
            window.open("{{ path('app_eventohistorico_batch') }}?accion=" + accion + "&checks=" + getValues(), '_self');
        }
        var checkedAll = false;
        //toma los valores de los checks y genera un string con todos los ids de los grupos.
        function getValues() {
            var allvalues = '';
            for (var i = 0; i < document.formCheck.elements.length; i++) {
                if (document.formCheck.elements[i].type === "checkbox") {
                    if (document.formCheck.elements[i].checked) {
                        if (allvalues !== '') {
                            allvalues = allvalues + ' ' + document.formCheck.elements[i].value;
                        } else {
                            allvalues = document.formCheck.elements[i].value;
                        }
                    }
                }
            }
            return allvalues;
        }
        //cuando se checkea todos.
        function checkAll() {
            checkedAll = !checkedAll;
            if (checkedAll) {
                $('#hrefselectAll').text('Desmarcar todos');
            } else {
                $('#hrefselectAll').text('Marcar todos');
            }
            $("input:checkbox").prop('checked', checkedAll);
            clickCheck();
        }

        function clickCheck() {
            var count = 0;
            for (var i = 0; i < document.formCheck.elements.length; i++) {
                if (document.formCheck.elements[i].checked) {
                    count++;
                }
            }
            if (count == 0) {
                $('#btnVisto').css('display', 'none');
            } else {
                $('#btnVisto').css('display', 'block');
            }
        }
  
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $("#historial_fecha_desde").datepicker();
            $("#historial_fecha_hasta").datepicker();
            $('#historial_servicio').select2();   
        });

    </script>
{% endblock %}

{% block busqueda %}
    <div class="panel-mini" style="height: auto">
        <form action="{{ path("main_panico_historico", {'id': organizacion.id}) }}" method="POST" class="form-horizontal" >
            <div class="control-group ">
                <label class="control-label" style="width: 50px; text-align: left;">Desde</label>
                <div class="controls" style="margin-left: 45px">
                    {{ form_widget(form.fecha_desde, {'attr': {'value': fecha_desde} }) }}
                </div>
            </div>
            <div class="control-group ">
                <label class="control-label" style="width: 50px; text-align: left;">Hasta</label>
                <div class="controls" style="margin-left: 45px">
                    {{ form_widget(form.fecha_hasta, {'attr': {'value': fecha_hasta} }) }}
                </div>
            </div>
            {% if form.servicio is defined %}
                <div class="control-group ">
                    <label class="control-label" style="width: 50px; text-align: left;">Servicio</label>
                    <div class="controls" style="margin-left: 45px">
                        {{ form_widget(form.servicio) }}
                    </div>
                </div>
            {% endif %}
            <div class="control-group ">
                <div class="controls" style="margin-left: 50px">
                    <button type="submit" class="btn btn-mini">Consultar</button> 
                </div>
            </div>
        </form>
    </div> 
{% endblock %}

{% block contentpanel %}  

    <div class="row-fluid">
        <div class="span4">
            <a href="#" onclick="checkAll()" id="hrefselectAll">Marcar todos</a>
        </div>
    </div>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>                  
                <th>Evento</th>
                <th>Servicio</th>
                <th>Fecha</th>
                <th>Mensaje</th>
                <th>Atendido</th>
                <th>Respuesta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        <form name="formCheck">
            {% for panico in panicos %}
                <tr>
                 <td><input type="checkbox" name="checks[]" onclick="clickCheck()" value="{{ panico.id }}"></td> 
                    <td>{{ panico.evento }}</td>
                    <td>{{ panico.servicio }}</td>
                    <td>{{ panico.fecha|date('d-m-Y H:i:s', app.user.timeZone) }}</td>
                    <td><a href="{{ path('main_panico_historico_show', {'id': panico.id}) }}">{{ panico.titulo }}</a></td> 
                    <td>{{ panico.fechaVista|default(null) ? 'SI' : 'NO' }}</td>
                    <td>{{ panico.respuesta|default('') }}</td>
                    <td>
                        {% if panico.fechaVista|default(null) == null or panico.respuesta|default(null) == null%}
                            <a href="{{ path('main_panico_registrar', {'id': panico.id} ) }}">Registrar</a>    
                        {% endif %}  
                    </td>
                </tr>
            {% endfor %}
        </form>    
    </tbody>
</table>
{% endblock %}

