{% extends "app/Template/list.html.twig" %}
{% block titulo %}Pánicos pendientes{% endblock %}        

{% block css %}
{{ parent() }}
<link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}
    
{% block contentpanel %}  
<div class="row-fluid">
    <div class="span4">
        <a href="#" onclick="checkAll()" id="hrefselectAll">Marcar todos</a>
    </div>
</div>
<table class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>Servicio</th>
            <th>Fecha</th>
            <th>Mensaje</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <form name="formCheck">
        {% for panico in panicos %}
            <tr>
                <td><input type="checkbox" name="checks[]" onclick="clickCheck()" value="{{ panico.id }}"></td>
                <td>{{ panico.servicio }}</td>
                <td>{{ panico.fecha|date('d-m-Y H:i:s', app.user.timeZone) }}</td>
                <td><a href="{{ path('main_panico_historico_show', {'id': panico.id}) }}">{{ panico.titulo }}</a></td> 
                <td>
                    {% if panico.fechaVista|default(null) == null %}
                       <a href="{{ path('main_panico_registrar', {'id': panico.id} ) }}">Registrar</a>    
                    {% endif %}  
                </td>
            </tr>
        {% endfor %}
        </form>    
    </tbody>
 </table>
{% endblock %}

