{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Atención de Pánico{% endblock %}    
{% block subtitulo %}{{ panico.servicio }}{% endblock %}  

{% block formulario %}

{% if mapa is defined and mapa is not null %}    
    {{ mapa.renderJs()|raw }}         
{% endif %}

<div class="row-fluid row-show">
    <div class="span6">
        <h3>Datos del Pánico</h3>
        {% include "app/Template/show_row.html.twig" with {'label': 'Mensaje', 'data': panico.mensaje } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Fecha', 'data': panico.fechaPanico|date('d-m-Y H:i:s', app.user.timeZone) } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Domicilio', 'data': panico.domicilio } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Lat/Lon', 'data': panico.ultLatitud ~', '~ panico.ultLongitud } %} 

        {% if panico.fechaVista != null %}
            <h3>Datos de Respuesta</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'Usuario', 'data': panico.ejecutor.nombre|default('---') } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Fecha Atención', 'data': panico.fechaVista|date('d-m-Y H:i:s') } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Mensaje', 'data': panico.respuesta } %} 
        {% endif %}
            
        <form class="form-horizontal" action="{{ path('main_panico_registrar', {'id': panico.id} ) }}"  method="POST" >
        <fieldset>
            <h3>Respuesta al Pánico</h3>
            {{ form_errors(form) }}
            <div class="row-fluid row-show">
                <div class="span4 column-label">Respuesta</div>    
                <div class="column-show">
                    <textarea id="panico_respuesta" name="panico[respuesta]" required="required" class=""></textarea>
                </div>
            </div>
            {{ form_widget(form._token) }}
            {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Registrar' } %}
        </fieldset>
        </form>
    </div>
    {% if mapa is defined and mapa is not null %}
        <div class="span6">
            <h3>Ubicación</h3>
            <div style="width: 100%">
                {{ mapa.renderHtml()|raw }}
                    <p><small>
                       <b>Ir a</b>
                       {% if is_granted('ROLE_MAPA_HISTORIAL') %}
                           <a href="{{ path('apmon_historial', {'id': panico.servicio.id}) }}" target="_blank"> Histórico</a> |
                       {% endif %}
                       {% if is_granted('ROLE_MAPA_ULTIMAS_POSICIONES') %}
                           <a href="{{ path('apmon_posiciones', {'id': panico.servicio.id}) }}" target="_blank"> Últimas Posiciones</a> |
                       {% endif %}
                    </small></p>    
                    <h3>Referencias más cercanas</h3>
                    <p><small>    
                        <ul>
                        {% for c in cercana %}
                            <li>{{ c['leyenda'] }}</li>
                        {% endfor %}
                        </ul>
                    </small></p>    
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
