{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "app/PanicoHistorico/delete_form.html.twig" %} 
{% endblock %} 

{% block titulo %}Panico Historico{% endblock %}    
{% block subtitulo %}{{ panico.servicio }}{% endblock %}  

{% block contentpanel %}

{% if mapa is defined and mapa is not null %}    
    {{ mapa.renderJs()|raw }}         
{% endif %}

<div class="row-fluid row-show">
    <div class="span6">
        <h3>Datos del Panico</h3>
        {% include "app/Template/show_row.html.twig" with {'label': 'Mensaje', 'data': panico.mensaje } %} 
        {% include "app/Template/show_row.html.twig" 
            with {'label': 'Fecha', 'data':panico.fechaPanico|date('d-m-Y H:i:s', app.user.timeZone) } %} 
        
        {% include "app/Template/show_row.html.twig" with {'label': 'Domicilio', 'data': panico.domicilio } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Lat/Lon', 'data': panico.ultLatitud ~', '~ panico.ultLongitud } %} 
       
        {% if panico.fechaVista != null %}
            <h3>Datos de Respuesta</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'Usuario', 'data': panico.ejecutor.nombre|default('---') } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Fecha Atención', 'data': panico.fechaVista|date('d-m-Y H:i:s') } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Mensaje', 'data': panico.respuesta } %} 
        {% endif %}
    </div>
    {% if mapa is defined and mapa is not null %}
        <div class="span6">
            <h3>Ubicación</h3>
            <div style="width: 100%">
                {{ mapa.renderHtml()|raw }}
                    <p><small>
                       <b>Ir a</b>
                       {% if is_granted('ROLE_MAPA_HISTORIAL') %}
                           <a href="{{ path('apmon_historial', {'id': panico.servicio.id}) }}" target="_blank"> Histórico</a> |
                       {% endif %}
                       {% if is_granted('ROLE_MAPA_ULTIMAS_POSICIONES') %}
                           <a href="{{ path('apmon_posiciones', {'id': panico.servicio.id}) }}" target="_blank"> Últimas Posiciones</a> |
                       {% endif %}
                    </small></p>    
                    <h3>Referencias más cercanas</h3>
                    <p><small>    
                        <ul>
                        {% for c in cercana %}
                            <li>{{ c['leyenda'] }}</li>
                        {% endfor %}
                        </ul>
                    </small></p>    
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
