<h2>Choferes con licencias vencidas y por vencer del grupo {{ grupo.nombre }}</h2>
<table style="border: 1px solid solid">
    <thead>
        <tr style="background-color: lightgray">
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Licencia</th>
            <th>Categoria</th>
            <th>Vencimiento</th>
            
        </tr>
    </thead>
    <tbody>
        {% for vencida in vencidas %}
            <tr>
                <td>{{ vencida.nombre }}</td>
                <td>{{ vencida.telefono }}</td>
                <td>{{ vencida.licenciaNumero }}</td>
                <td>{{ vencida.licenciaCategoria }}</td>
                <td style="background-color: tomato;">{{ vencida.licenciaVencimiento|date('d/m/Y') }}</td>
                <td style="background-color: tomato;">Vencida</td>
            </tr>
        {% endfor %}
          {% for pv in porvencer %}
            <tr>
               <td>{{ pv.nombre }}</td>
                <td>{{ pv.telefono }}</td>
                <td>{{ pv.licenciaNumero }}</td>
                <td>{{ pv.licenciaCategoria }}</td>
                <td style="background-color: #FC0;">{{ pv.licenciaVencimiento|date('d/m/Y') }}</td>
                <td style="background-color: #FC0;">Por Vencer</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
 
