{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{equipo.mdmid}}{% endblock %}
{% block subtitulo %}Asignar Servicio a Equipo{% endblock %}


{% block formulario %}
 <form class="form-horizontal" action="{{ path('apmon_equipo_asignarservicio', {'id': equipo.id} ) }}"  method="POST" >
    <div class="row-fluid">
        <div>{{ form_errors(form) }}</div>
        <h4>Servicios sin equipo asignado:</h4>
        <fieldset>
                {{ form_widget(form) }}
        </fieldset>

    </div>
        {{ form_rest(form) }}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Asociar" />
            <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
        </div>
    </form>

{% endblock %}