{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ equipo }}{% endblock %}
{% block subtitulo %}Asociar chip al equipo{% endblock %}

{% block formulario %}
 <form class="form-horizontal" action="{{ path('apmon_equipo_asociarchip', {'idEquipo': equipo.id, 'crearservicio': crearservicio} ) }}"  method="POST" >
    <div class="row-fluid">
        <div>{{ form_errors(form) }}</div>
        <h3>Chips Disponibles</h3>
            <fieldset>
                {{ form_widget(form) }}
            </fieldset>

        </div>
        {{ form_rest(form) }}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Asociar" />
            <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
        </div>
    </form>

{% endblock %}
