<div id="modalDelete" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Eliminar Equipo</h3>
    </div>
    <form class="form-horizontal" action="{{ path('apmon_equipo_delete', { 'id': equipo.id }) }}" method="post">
        <div class="modal-body">
            <p>Esta seguro de eliminar este equipo: <strong>{{ equipo.imei|upper }}</strong> ?</p>
        {{ form_widget(delete_form) }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="submit">Eliminar</button>
            <a id="boton-cancelar" href="" class="btn secondary">Cancelar</a>
        </div>
    </form>
</div>