{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ equipo.organizacion }}{% endblock %}
{% block subtitulo %}Editar Equipo{% endblock %}


{% block formulario %}
 <form class="form-horizontal"  method="POST" >
    <fieldset>
    <div class="row row-form">
        <div>{{ form_errors(form) }}</div>
        <div class="span8">
        <legend>Datos del Equipo</legend>
        
            {{ form_widget(form.mdmid) }}
            {{ form_widget(form.imei) }}
            {{ form_widget(form.numeroSerie) }}
            {{ form_widget(form.modelo) }}

            {{ form_rest(form) }}
        </div>
        <div class="span4"> 
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Cambiar" />
        <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
    </div>
    </fieldset>
</form>
{% endblock %}
