{% extends "app/Template/list.html.twig" %}

{% block titulo %}Mis Equipos{% endblock %}        
{% block contentpanel %}  
    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>MdmId</th>
                    <th>Nro. Serie</th>
                    <th>Modelo</th>
                    <th>Estado</th>
                    <th>Instalado en...</th>                   
                    <th>Chip</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for equipo in equipos %}
                    <tr>
                        <td><a href="{{ path('apmon_equipo_show', {'id': equipo.id}) }}">{{ equipo.mdmid }}</a></td>
                        <td>{{ equipo.numeroSerie }}</td>
                        <td>{{ equipo.modelo }}</td>
                        <td>{{ equipo.strEstado }}</td>
                    {% if equipo.servicio %}
                        <td>{{ equipo.servicio }}</td>

                    {% else %}
                        <td>
                            {% if (is_granted('ROLE_FLOTA_AGREGAR')) %}
                                <a href="{{ path('servicio_new', {'idequipo': equipo.id} ) }}">Crear</a> |
                            {% endif %}
                            {% if is_granted('ROLE_EQUIPO_FLOTA_ASIGNAR') %}
                                <a href="{{ path('apmon_equipo_asignarservicio', {'id': equipo.id} ) }}">Asignar</a>
                            {% endif %}
                        </td>
                    {% endif %}
                        <td>{{ equipo.chip|length }}</td>
                        <td>
                            {% if is_granted('ROLE_EQUIPO_EDITAR') %}
                                <a href="{{ path('apmon_equipo_edit', {'id': equipo.id} ) }}">Editar</a>
                            {% endif %}
                            {% if(equipo.estado == 3 and is_granted('ROLE_EQUIPO_FLOTA_RETIRAR')) %}
                               | <a href="{{ path('apmon_equipo_retiro', {'id': equipo.id} ) }}">Retirar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
         </table>
    </div>
{% endblock %}

