{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{equipo.organizacion}}{% endblock %}
{% block subtitulo %}Alta de Equipo{% endblock %}
    
    
{% block formulario %}
 <form class="form-horizontal"  method="POST" >
    <fieldset>
    <div class="row-fluid">
        <div>{{ form_errors(form) }}</div>
        <div class="span7">
            {{ form_widget(form.mdmid) }}
            {{ form_widget(form.imei) }}
            {{ form_widget(form.numeroSerie) }}
            {{ form_widget(form.modelo) }}
            {{ form_widget(form.proveedor) }}
                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" id="asociar_chip" name="asociar_chip" class="" value="1">
                            Asociar Chip al Equipo
                        </label>
                    </div>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" id="crear_servicio" name="crear_servicio" class="" value="1">
                            Crear servicio al finalizar ?
                        </label>
                    </div>
                </div>
       </div>
        <div class="span4">
            <h4>información</h4>
            <p>Complete todos los datos del equipo que está creando.</p>
        </div>
    </div>
    {{ form_rest(form) }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Agregar" />
        <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
    </div>
    </fieldset>
    </form>

{% endblock %}
