{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ equipo.mdmid }}{% endblock %}
{% block subtitulo %}Retirar equipo de servicio{% endblock %}

{% block informacion %}
 <div class="alert alert-danger">
    <p class="text-warning"><span class="label label-important">Atención:</span> </p>
    <p>
    Esta a punto de retirar el equipo <b>{{ equipo.mdmid }}</b> del servicio <b>{{ equipo.servicio }}</b>. Tenga en cuenta que luego de hacer este paso las posiciones transmitidas
    desde el equipo no serán almacenadas en el sistema. Proceda con precaución.
    </p>
</div>
{% endblock %} 

{% block formulario %}
<div class="row-fluid row-show">    
    <div class="span6">
        <h3>Motivos del retiro</h3>
         <form class="form-horizontal"  method="POST" >
            <div class="row-fluid">
                <div>{{ form_errors(form) }}</div>
                <fieldset>
                    {{ form_widget(form) }}
                </fieldset>

                {{ form_rest(form) }}
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Retirar" />
                    <a href="{{app.session.get('volver')}}" class="btn">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
    <div class="span6">
        <h3>Datos del Equipo</h3>
        {% include "app/Template/show_row.html.twig" with {'label': 'Número Mdmid', 'data': equipo.mdmid } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Número de Imei', 'data': equipo.imei } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Número de Serie', 'data': equipo.numeroSerie } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Modelo', 'data': equipo.modelo ~ ' ( ' ~ equipo.modelo.fabricante ~ ' )'} %} 
    </div>
</div>


{% endblock %}