{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "apmon/Equipo/delete_form.html.twig" %} 
{% endblock %} 

{% block titulo %}Mis Equipos{% endblock %}    
{% block subtitulo %}{{ equipo.imei }}{% endblock %}  

{% block contentpanel %}
 {% include "apmon/Equipo/show_equipo.html.twig" %}
        
{% if equipo.servicio %}
    {% include "app/Servicio/show_content.html.twig" with {'servicio': equipo.servicio} %}  
{% else %}
    <div class="row-fluid row-show">
        <div class="span5">
            <h3>Datos del Servicio</h3>
             <div><em>Este equipo no tiene un Servicio asociado.</em></div>  
         </div>
    </div>
{% endif %}

{% endblock %}
