<table class="table table-condensed">
    <thead>
        <tr>
            <th>Imei</th>
            <th>Numero de Telefono</th>
            <th>Prestadora</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for chip in equipo.chips %}
        <tr>
            <td>{{ chip.imei }}</td>
            <td>{{ chip.numeroTelefono }}</td>
            <td>{{ chip.getPrestadora().__toString() }}</td>
            <td>{{ chip.getStrEstado()}}</td>
            <td>
                {% if (is_granted('ROLE_EQUIPO_CHIP_RETIRAR')) %}
                <a href="#modalRetirar{{ chip.id }}" data-toggle="modal">Retirar</a>
                <div id="modalRetirar{{ chip.id }}" class="modal hide fade">
                    <div class="modal-header">
                        <a href="#" class="close">&times;</a>
                        <h3>Retirar Chip</h3>
                    </div>
                    <form class="form-horizontal" action="{{ path('apmon_equipo_retirarchip', { 'idChip': chip.getId }) }}" method="post">
                        <div class="modal-body">
                            <p>Esta seguro de retirar el chip: <strong>{{ chip.imei }}</strong> del equipo: <strong>{{ equipo.imei }}</strong> ?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" type="submit">Retirar</button>
                            <a id="boton-cancelar" href="" class="btn secondary">Cancelar</a>
                        </div>
                    </form>
                </div>    
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
