<div class="row-fluid row-show">
    <div class="span6">
        <h3>Datos del Equipo</h3>
        {% include "app/Template/show_row.html.twig" with {'label': 'Número de Serie', 'data': equipo.numeroSerie } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Número Mdmid', 'data': equipo.mdmid } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Modelo', 'data': equipo.modelo } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Versión Firmware', 'data': equipo.versionFirmware } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Estado', 'data': equipo.getStrEstado() } %} 
    </div>
    <div class="span6">
        <h3>Chips asociados al equipo</h3>
        {% if equipo.chips|length > 0 %}
            {% include "apmon/Equipo/show_equipo_chip.html.twig" %}        
        {% else %}
            <em>Este equipo no tiene chips asociados.</em>
        {% endif %}
    </div>
</div>