{% extends "app/Template/list.html.twig" %}

{% block titulo %}Categorías de Referencias{% endblock %}        
{% block contentpanel %}  
    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                    <tr>
                        <td><a href="{{ path('sauron_categoria_show', {'id': categoria.id}) }}">{{ categoria.nombre }}</a></td>
                        <td>
                            <a href="{{ path('sauron_categoria_edit', {'id': categoria.id} ) }}">Editar</a>
                        </td>
                           
                    </tr>
                {% endfor %}
            </tbody>
         </table>
    </div>
{% endblock %}

