{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ categoria.organizacion }}{% endblock %}
{% block subtitulo %}Alta de Categoria{% endblock %}


{% block formulario %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
    <div class="row-fluid">
        <div>{{ form_errors(form) }}</div>
        <div class="span7">
            {{ form_widget(form.nombre) }}
            {{ form_rest(form) }}    
        </div>
        <div class="span4">
            <h4>información</h4>
            <p>Complete todos los datos para la Categoria que está creando.</p>
        </div>
    </div>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Agregar" />
        <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
    </div>
    {#</form>#}
    {{ form_end(form) }}

{% endblock %}
