{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Informe de Ralenti por Chofer{% endblock %}
{% block titulo %}Informe de Ralenti por Chofer{% endblock %}

{% block informacion %}
    Para el chofer  <b>{{ consulta.chofernombre }}</b> y servicio <b>{{ consulta.servicionombre }}</b>, desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>. Ralentis de mas de {{ consulta.tiempo_minimo }} minutos.
    [ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
    <form name="formexport" action="{{ path('informe_ralenti_chofer_exportar', {'tipo': '1'}) }}" method="POST" >
        <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
        <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
    </form>
{% endblock %}
{% block contentpanel %}

    {% if informe  %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Chofer</th>
                    <th>Servicio</th>
                    <th>Cantidad</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Referencia / Dirección</th>
                    <th>Duración (hh:mm:ss)</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in informe %}
                <th rowspan={{ value.data|length +2}}>{{ key }}</th>
                <tr>
                    <th rowspan={{ value.data|length + 1}}>{{ value.servicio }}</th>
                    <th rowspan={{ value.data|length +1}}>{{ value.count }}</th>
                        {% for row in value.data %}
                            {% if row|length > 0 and row.fecha_inicio|default('---') != '---' %}
                        <tr>
                            <td>{{ row.fecha_inicio }}</td>
                            <td>{{ row.fecha_fin }}</td>
                            <td>
                                {% if row.referencia_nombre is defined %}
                                    <strong>{{ row.referencia_nombre }}</strong></br>
                                {% else %}
                                    {% if consulta.mostrar_direcciones %}
                                        <em>{{ row.domicilio|default('---') }}</em>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td style="text-align: center">{{ row.tiempo_ralenti }}</td>
                        </tr>
                    {% endif %}
                {% else %} 
                    <td>---</td>
                    <td style="text-align: center">---</td>
                    <td style="text-align: center">---</td>
                    <td style="text-align: center">---</td>
                    {% if consulta.referencia != 0 %}
                        <td style="text-align: left">---</td>
                    {% endif %}
                    {% if consulta.mostrar_direcciones %}
                        <td>---</td>
                    {% endif %}
                {% endfor %} 
            </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th colspan="4" >Ralenti Total</th>
                        <th style="text-align: center">{{ value.totales.tiempo_ralenti|default('---') }}</th>
                    </tr>
        {% endfor %} 
    </tbody>
</table>
{% else %}
    <em>No se registran detenciones.</em>
{% endif %}

{% endblock %}
