{% extends "app/Template/informe_mapa.html.twig" %}
{% block head %}
    {{ parent() }}
    {{ mapa.renderJs()|raw }}
{% endblock %}

{% block titulo %}Informe de Activación Entradas Digitales{% endblock %}

{% block informacion %}
    Para el equipo <b>{{ consulta.servicionombre }}</b> desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>.
{% endblock %}

{% block westpanel %}
{% if informe is not null %}
    {% if informe|length > 0 %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Desde</th>
                    <th>Hasta</th>
                    <th>Duración</th>
                    <th>Distancia</th>
                </tr>
            </thead>
            <tbody>
                 {% for id, entrada in informe %}
                    <tr style="cursor: pointer" onclick="{{ mapa.getMapName() }}.setZoom(16); {{ mapa.getMapName() }}.setCenter(new google.maps.LatLng ({{ entrada.posicion_in.latitud }}, {{ entrada.posicion_in.longitud }}))">
                        <td>{{ id }}</td>
                        <td>{{ entrada.fecha_ingreso|date('d/m/Y H:i:s') }}</td>
                        <td>{{ entrada.fecha_egreso|date('d/m/Y H:i:s') }}</td>
                        <td style="text-align: right">{{ entrada.tiempo }}</td>
                        <td style="text-align: right">{{ entrada.distancia }}</td>
                    </tr>
                {% endfor %}               
            </tbody>
        </table>
    
    {% else %}
        <em>No se registran excesos de velocidad.</em>
    {% endif %}
{% endif %}    
        
{% endblock %}
    
{% block centerpanel %}
    {{ mapa.renderHtml()|raw }}  
{% endblock %}
    
 
