{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Activación de Entradas Digitales{% endblock %}
{% block titulo %}Activación de Entradas Digitales{% endblock %}

{% block informacion %}
Para el servicio {{consulta.servicionombre}}, desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>.
[ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
<form name="formexport" action="{{ path('informe_inputs_exportar', {'tipo': '0'}) }}" method="POST" >
    <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
    <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
</form>
{% endblock %}

{% block contentpanel %}
{% if informe is not null %}
    {% if informe|length > 0 %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Entrada</th>
                    <th>Fecha Inicio</th>
                    <th>Referencia / Dirección Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Referencia / Dirección Fin</th>
                    <th>Duración (hh:mm:ss)</th>
                    <th>Distancia (kms)</th>
                </tr>
            </thead>
            <tbody>
                {% for row in informe %}
                    {% for entrada in row.data %}
                        <tr>
                            <td>
                                {% for nombre, input in entrada.inputs %}
                                    {{ nombre }}</br>
                                {% endfor %}
                            </td>
                            <td>{{ entrada.fecha_ingreso|date('d-m-Y H:i:s') }}</td>
                             <td>
                               <em>{{ entrada.referencia_in|default('---') }}</em>
                            </td>
                            <td>{{ entrada.fecha_egreso|date('d-m-Y H:i:s') }}</td>
                             <td>
                               <em>{{ entrada.referencia_out|default('---') }}</em>
                            </td>
                            <td>{{ entrada.tiempo }}</td>
                            <td>{{ entrada.distancia|number_format(2, ',', '.') }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
            {% if consulta.mostrar_totales is defined %}
                <tfoot>
                   <tr>
                       <th colspan="5" >Totales</th>
                       <th style="text-align: center">{{ informe['0'].totales.tiempo_activo }}</th>
                       <th style="text-align: center">{{ informe['0'].totales.km_por_dia|number_format(2, ',', '.') }}</th>
                   </tr>
               </tfoot>
            {% endif %}
        </table>

    {% else %}
            <em>No se registran detenciones.</em>
    {% endif %}
{% endif %}
{% endblock %}