<table class="table table-condensed" id="tablaContacto">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Email</th>
			<th>Teléfono</th>
			<th>Medio de Notificacón</th>
			<th>Cargo/Area</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% for contacto in contactos %}
			{% set notificaciones = []%}
			{% if contacto.logistica != null %}
				{% set entity = 'logistica'%}
				{% set idEntity = contacto.logistica.id %}
			{% elseif contacto.transporte != null %}
				{% set entity = 'transporte'%}
				{% set idEntity = contacto.transporte.id %}
			{% elseif contacto.empresa != null %}
				{% set entity = 'empresa'%}
				{% set idEntity = contacto.empresa.id %}
			{% else %}
				{% set entity = ''%}
				{% set idEntity = 0 %}
			{% endif %}
			<tr>
				<td>{{ contacto.nombre}}</td>
				<td>{{ contacto.email}}</td>
				<td>{{ contacto.celular}}</td>
				<td>
					{% for notificacion in contacto.tipoNotificaciones %}
						{% set notificaciones = notificaciones|merge([notificacion.id]) %}
						<div class="label label-info">{{ notificacion.nombre }}</div>
					{% endfor %}
				</td>
				<td>{{ contacto.cargo|default('---')}}</td>
			
				<td>
					<a href="#" onclick="editContacto('{{contacto.id}}','{{contacto.nombre}}','{{contacto.celular}}','{{contacto.email}}','{{contacto.cargo}}','{{ entity }}','{{ idEntity }}','{{ notificaciones|json_encode() }}' )" class="btn btn-sm" role="button" title="Editar" data-original-title="Editar">
						<i class="fa fa-edit"></i>
					</a>
				
						<a href="#" onclick="deleteContacto('{{contacto.id}}','{{ entity }}')" class="btn btn-sm" role="button" title="Eliminar" data-original-title="Eliminar">
							<i class="fa fa-trash"></i>
						</a>
					
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<script type="text/javascript">
	globalIdContacto = 0;
	globalIdEntity = 0;
	globalEntity = "";

	function editContacto(id, nombre, celular, email, cargo, entity, idEntity, idsNotif) {
			globalEntity = entity;
			globalIdEntity = idEntity;
			
			if(entity === "" ){ //viene del show itinerario
				$('#formContactoEdit').hide(); //ocultamos el form
				$('#info_contacto').hide();
				$('#btnContactoEdit').hide();
			}else{ //viene de cliente, logistica o transporte
				$('#info_contacto_redireccion').hide();
				$('#contacto_edit_nombre').val(nombre);
				$('#contacto_edit_nombre').val(nombre);
				$('#contacto_edit_celular').val(celular);
				$('#contacto_edit_email').val(email);
				$('#contacto_edit_cargo').val(cargo);
				idsNotif = idsNotif.slice(1, -1); //quito corchetes
				notificaciones = idsNotif.split(","); //convierto el string en array
				$('#contacto_edit_tipoNotificaciones').val(notificaciones);
				$('#contacto_edit_tipoNotificaciones').trigger('change'); 
			
			}
			$('#modalEditContacto').modal('show');
			globalIdContacto = id;

	}

		$('#btnContactoEdit').click(function () { 
		if(globalIdContacto !== 0 && globalIdContacto !== null){	
			var request = $.ajax({
				type: 'POST',
				url: "{{ path('monitor_contacto_edit') }}",
				data: {
					'id': globalIdContacto,
					'idEntity': globalIdEntity,
					'entity': globalEntity,
					'form': $("#formContactoEdit").serialize(), // formulario con los datos
				},
				dataType: "json",
				// async: true,
				beforeSend: function () { 
					$("#modalLoad").modal({ backdrop: 'static', keyboard: false });
				}
			});
			request.done(function (respuesta) {

				$("#tableContactos").text("");
				$("#tableContactos").html(respuesta.html);
				$('#modalEditContacto').modal('hide');
				getDataTable('tablaContacto'); //funcion que se encuentra en el layout_Aker
				document.getElementById("formContactoEdit").reset();
				$('#modalLoad').modal('hide');
				 newNotify('Exito!',"success","El contacto se modificó correctamente");
				
			});
			globalIdContacto = 0;
			globalIdEntity = 0;
			globalEntity= "";
		}
	
	});

	
	
function deleteContacto(id,entity) {
    $('#modalDeleteContacto').modal('show');
    globalIdContacto= id;
    document.entity = entity;

}

$('#btnEliminarContacto').click(function () { // alert('aca');
    var request = $.ajax({
        type: 'POST',
        url: "{{ path('monitor_contacto_delete') }}",
        data: {
            'id': globalIdContacto,
            'entity': document.entity
        },
        dataType: "json",
        // async: true,
        beforeSend: function () {
            $("#modalLoad").modal({ backdrop: 'static', keyboard: false });
         }
    });
    request.done(function (respuesta) {

        $("#tableContactos").text("");
        $("#tableContactos").html(respuesta.html);
        getDataTable('tablaContacto');
        $('#modalDeleteContacto').modal('toggle');
        $('#modalLoad').modal('hide');
		 newNotify('Exito!',"success","El contacto se eliminó correctamente");
   
    });
    globalIdContacto = 0;
	document.entity = "";
});

</script>
