<!-- Modal -->
<div class="modal fade" id="modalContacto" role="dialog" aria-labelledby="modalContactoLabel" data-modal-index="-100">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">

				<h4 class="modal-title" id="myModalLabel">Contacto</h4>
			</div>
			<div class="modal-body">
				<div id="modal-body-producto">
					<div class="alert alert-info">
						<strong>Los contactos que crees</strong>, serán personas a las que después se podrán notificar los eventos que sucedan en los itinerarios.
					</div>
					<form id="formContacto" class="form-horizontal">
						<div class="row">
							<div class="col-md-6">
								{{ form_widget(formContacto.nombre) }}

							</div>
							<div class="col-md-6">
								{{ form_widget(formContacto.celular) }}

							</div>
							<div class="col-md-6">
								{{ form_widget(formContacto.email) }}

							</div>
							<div class="col-md-6">
								{{ form_widget(formContacto.cargo) }}

							</div>
							<div class="col-md-12">
								{{ form_widget(formContacto.tipoNotificaciones) }}

							</div>
						</div>
					</form>

				</div>
			</div>
			<div class="modal-footer">
				<button id="btnContactoAdd" type="button" class="btn btn-primary">Agregar</button>
				<a href="#" data-dismiss="modal" class="btnCancelar btn">Cancelar</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function () {
$('#contacto_tipoNotificaciones').select2({width: "100%", placeholder: "Seleccion medio de notificación"});
});
</script>
