<div class="modal fade" id="modalEditContacto" role="dialog" aria-labelledby="modalEditContactoLabel" data-modal-index="2000" style="display: none;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Modificar Contacto</h4>
			</div>
			<div class="modal-body">
				<div class="row-fluid">
					<div class="alert alert-info">
						<div id="info_contacto">
							<strong>Los contactos que modifiques</strong>, serán personas a las que después se podrán notificar los eventos que sucedan en los itinerarios.
						</div>
						<div id="info_contacto_redireccion">
							<strong>No puede modificar el contacto desde aquí</strong>, debe dirigirse a la configuración de su <strong>cliente, logística o transporte</strong> según corresponda.
						</div>
					</div>
				</div>
				<div class="row">
					<form id="formContactoEdit" class="form-horizontal">
						
							<div class="col-md-6">
								<div class="control-group ">
									<label class="control-label" for="contacto_edit_nombre">
										Nombre y Apellido
										<div title="Dato Obligatorio" style="color: red; display: inline">
											*
										</div>
									</label>
									<div class="controls">
										<input type="text" class="form-control" id="contacto_edit_nombre" name="contacto_edit[nombre]" required="required">
									</div>

								</div>

							</div>
							<div class="col-md-6">
								<div class="control-group ">
									<label class="control-label" for="contacto_edit_celular">
										Número Celular
										<div title="Dato Obligatorio" style="color: red; display: inline">
											*
										</div>
									</label>
									<div class="controls">
										<input type="text" class="form-control" id="contacto_edit_celular" name="contacto_edit[celular]" required="required">
									</div>

								</div>

							</div>
							<div class="col-md-6">
								<div class="control-group ">
									<label class="control-label" for="contacto_edit_email">
										Email
									</label>
									<div class="controls">
										<input type="email" class="form-control" id="contacto_edit_email" name="contacto_edit[email]">
									</div>

								</div>

							</div>
							<div class="col-md-6">
								<div class="control-group ">
									<label class="control-label" for="contacto_edit_cargo">
										Cargo/Area
									</label>
									<div class="controls">
										<input type="text" class="form-control" id="contacto_edit_cargo" name="contacto_edit[cargo]">
									</div>

								</div>

							</div>
							<div class="col-md-12">
								<label class="control-label" for="contacto_edit_tipoNotificaciones"> Notificar por </label>
								<div class="controls ">
									<select  id="contacto_edit_tipoNotificaciones" name="contacto_edit[tipoNotificaciones][]" multiple="" tabindex="-1" aria-hidden="true">
										{% for notif in tipoNotificaciones %}
											<option value="{{notif.id}}">{{ notif.nombre }}</option>
										{% endfor %}
									</select>
								</div>
    						</div>

						
					</form>

				</div>
			</div>
			<div class="modal-footer">
				<button id="btnContactoEdit" type="button" class="btn btn-primary">Modificar</button>
				<a href="#" data-dismiss="modal" class="btn">Cancelar</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function () {
	$('#contacto_edit_tipoNotificaciones').select2({width: "100%", placeholder: "Seleccion medio de notificación"});
});
</script>

