{% macro autorAsignado(peticion) %}
    <b>{{  peticion.autor ? peticion.autor.nombre : '---'}}</b> para <b>{{ peticion.asignadoA ? peticion.asignadoA.nombre:'---' }}</b> el <em>{{ peticion.created_at|date('d-m-Y H:i', app.user.timeZone) }}</em>
{% endmacro  %}

{% macro autorDescripcion(peticion) %}
    <b>{{  peticion.autor ? peticion.autor.nombre : '---' }}</b> para <b>{{ peticion.asignadoA ? peticion.asignadoA.nombre:'---'  }}</b> el <em>{{ peticion.created_at|date('d-m-Y H:i', app.user.timeZone) }}</em>
    {{ peticion.descripcion|raw }}
{% endmacro  %}

{% macro catEstado(peticion) %}
    <b>{{ peticion.categoria is empty ? '---' : peticion.categoria.nombre }}</b>
    (<em>{{ peticion.estado is empty ? '---' : peticion.estado.nombre }}</em>)
{% endmacro  %}

{% macro descripcion(peticion) %}
    <p>
         <b>{{ peticion.autor ? peticion.autor.nombre : '---'}}</b>, el día  <b>{{ peticion.created_at|date('d/m/Y H:i') }}</b>, ha creado una petición del tipo <b>{{ peticion.categoria.nombre }}</b>
        para el servicio <b>{{ peticion.servicio.nombre }}</b> 
        asignando a <b>{{ peticion.asignadoA ? peticion.asignadoA.nombre:'---' }}</b> para que la realice. Pedido de Reparación con fecha de inicio 
        <b>{{ peticion.fechaInicio is empty ? 'no determinada' : peticion.fechaInicio|date('d-m-Y')  }}</b> 
        y fecha de finalización <b>{{ peticion.fechaFin is empty ? 'no determinada' : peticion.fechaFin|date('d-m-Y')  }}</b>.
        Tiene grado de prioridad <b><span class="label label-{{ peticion.colorPrioridad }}">{{ peticion.strPrioridad|capitalize }}</span></b> 
        y su estado actual es <b>{{ peticion.estado.nombre|default('---') }}</b> {{ peticion.estado.isCerrado ? ', con motivo: ' ~ peticion.motivoCierre :'' }} .
    </p>
{% endmacro  %}

{% macro asunto(peticion) %}
    <b>#{{ peticion.id }}</b> {{ peticion.asunto }}
{% endmacro  %}

{% macro nota(peticion) %}
    {{ peticion.descripcion|raw }}
{% endmacro  %}

{% macro estado(peticion) %}
    {{ peticion.estado is empty ? '---' : peticion.estado.nombre }}
{% endmacro  %}

{% macro categoria(peticion) %}
    {{ peticion.categoria is empty ? '---' : peticion.categoria.nombre }}
{% endmacro  %}

{% macro autor(peticion) %}
    {{peticion.autor.nombre|default('n/a')  }}
{% endmacro  %}

{% macro asignado_a(peticion) %}
    {{ peticion.asignadoA.nombre|default('n/a')  }}
{% endmacro  %}

{% macro created_at(peticion) %}
    {{ peticion.created_at|date('d-m-Y H:i', app.user.timeZone) }}
{% endmacro  %}

{% macro updated_at(peticion) %}
    {{ peticion.updated_at|date('d-m-Y H:i', app.user.timeZone) }}
{% endmacro  %}

{% macro padre(peticion) %}
    {{ peticion.padre ? '#' ~ peticion.padre.id : '' }}
{% endmacro  %}

{% macro fechaFin(peticion) %}
    {{peticion.fechaFin is not null ?peticion.fechaFin|date('d/m/Y'):'---'}}
{% endmacro  %}

{% macro fechaInicio(peticion) %}
    {{peticion and peticion.strFechaInicio is not null ? peticion.strFechaInicio|raw:'---'}}
{% endmacro  %}