{% macro servicioNombre(servicio) %}
    <a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'main'}) }}">{{ servicio.nombre }}</a>
{% endmacro %}

{% macro organizacionNombre(organizacion) %}
   {{ organizacion.nombre }}
{% endmacro %}