<table>
    <tr>
        <td colspan="2"><h3>Control Pórticos de Autopistas</h3></td>
    </tr>
    <tr>
        <td>Servicio:</td>
        <td>{{ consulta.servicionombre }}</td>
    </tr>    
        <td>Fecha desde: </td>
        <td>{{ consulta.desde }}</td>
    </tr>
    </tr>    
        <td>Fecha hasta: </td>
        <td>{{ consulta.hasta }}</td>
    </tr>
    </tr>    
    </tr>    
        <td>Precio Total: </td>
        <td>{{ total }}</td>
    </tr>
    </tr>    
        <td></td>
        <td></td>
    </tr>
</table> 
{% include "informe/Portal/content_unitario.html.twig" %}  
