{% extends "app/Template/informe_result.html.twig" %}

{% block titulo %}Control Pórticos de Autopistas{% endblock %}

{% block informacion %}
Para el vehiculo <b>{{ consulta.servicionombre }}</b>, desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>  se reportaron 
    <b>{{ informe|length }}</b> pasadas por porticos. El precio total es <b>$ {{ total }}</b>.
[ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
<form name="formexport" action="{{ path('informe_portal_exportar', {'tipo': '0'}) }}" method="POST" >
    <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
    <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
    <input type="hidden" name="total" value="{{ total|json_encode() }}"/>
</form>
{% endblock %}

{% block contentpanel %}
    
{% if informe is not null %}
    {% if informe|length > 0 %}
            {% include "informe/Portal/content_unitario.html.twig"  with {'informe': informe[0]['portal'] } %}
    {% else %}
            <em>No se registran pasos por portales.</em>
    {% endif %}
{% endif %}
            
{% endblock %}