<table class="table table-bordered">
    <thead>
        <tr>
            <th>Servicio</th>
            <th>Fecha</th>
                {% if moduloChofer %} 
                <th>Chofer</th>
                {% endif %}
            <th>Referencia</th>
            <th width="20%">Dirección</th>
            <th>Acción</th>
            <th>Velocidad (km/h)</th>
        </tr>
    </thead>
    <tbody>
        {% for key,value in result %}
            {% if key != 'infracciones' %}
            <tr>
                <td rowspan="{{ value|length }}">{{ key }}</td>
                {% set i = 0 %}
                {% for key,value in value %}
                    {% if i > 0 %}
                    <tr>
                    {% endif %}
                    <td>{{ value.fecha }}</td>
                    {% if moduloChofer %} 
                        <td>{{ value.chofer }}</td>
                    {% endif %}
                    <td>{{ value.referencia }}</td>
                    <td>{{ value.domicilio }}</td>
                    <td>{{ value.motivostr }}</td>
                    <td>{{ value.posicion.velocidad  ~ ' km/h' }}</td>
                    {% if i > 0%}
                    </tr>
                {% endif %}
                {% set i = i+1 %}

            {% endfor %}
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>