<table class="table table-condensed">
    <thead>
        <tr>
            <th>Servicio</th>
            <th>Aceleración Brusca</th>
            <th>Freno Brusco</th>
            <th>Giro Indebido</th>
        </tr>
    </thead>
    <tbody>
        {% if result.total|length > 0 %}
            <tr>
                <td><b>{{result.total.servicio}}</b></td>
                <td><b>{{result.total.aceleracion}}</b></td>
                <td><b>{{result.total.freno}}</b></td>
                <td><b>{{result.total.giro}}</b></td>
            </tr>
        {% endif%}
        {% for key,value in result.totales %}
            <tr>
                <td>{{key}}</td>
                <td>{{value.aceleracion}}</td>
                <td>{{value.freno}}</td>
                <td>{{value.giro}}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>