{% extends "app/Template/informe_result.html.twig" %}

{% block titulo %}Infracciones de servicios {% endblock %}

{% block informacion %}
Para el vehiculo <b>{{ consulta.servicionombre }}</b>, desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>

[ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
<form name="formexport" action="{{ path('informe_infraccion_exportar', {'tipo': '0'}) }}" method="POST" >
    <input type="hidden" name="informe" value="{{ result|json_encode() }}"/>
    <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
</form>
{% endblock %}

{% block contentpanel %}
    
{% if result.totales is not null %}
    {% if result.totales|length > 0 %}
            {% include "informe/Infraccion/content_totales.html.twig" %}
    {% else %}
            <em>No se registran infracciones.</em>
    {% endif %}
{% endif %}
{% if result is not null %}
    {% if result|length > 0 %}
            {% include "informe/Infraccion/content.html.twig" with {'result': result.detalles} %}
    {% else %}
            <em>No se registran infracciones.</em>
    {% endif %}
{% endif %}
            
{% endblock %}