<div class="modal fade" id="modalResponsableAgregar" role="dialog" aria-labelledby="modalActividadNewLabel" aria-hidden="true" style="display: none;z-index: 100000;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="col-md-12">
                    <h4 class="modal-title" id="myModalLabel">Agregar Responsable de Proyecto</h4>
                    <h5 class="modal-title" id="nombreProyecto"></h5>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div id="modal-body-actividad">
                        <form id="formResponsableNew" class="form-horizontal">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="control-group "><label class="control-label required" for="reponsable_nombre">
                                            Nombre
                                            <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>
                                        </label>
                                        <div class="controls">
                                            <input type="text" class="form-control" id="reponsable_nombre" name="reponsable[nombre]" required="required">
                                        </div>    
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="control-group "><label class="control-label required" for="reponsable_telefono">
                                            Teléfono
                                        </label>
                                        <div class="controls">
                                            <input type="text" class="form-control" id="reponsable_telefono" name="reponsable[telefono]">
                                        </div>    

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="control-group "><label class="control-label" for="reponsable_cuit">
                                            Cuit
                                        </label>
                                        <div class="controls">
                                            <input type="text" class="form-control" id="reponsable_cuit" name="reponsable[cuit]">
                                        </div>    

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="control-group "><label class="control-label" for="reponsable_documento">
                                            Documento
                                        </label>
                                        <div class="controls">
                                            <input type="text" class="form-control" id="reponsable_documento" name="reponsable[documento]">
                                        </div>    

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnResponsableAgregar" type="button" class="btn btn-primary" >Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
    {#<div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>#}
</div>     
