<table class="table table-condensed">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for contratista in organizacion.contratistas %}
            <tr>
                <td><a href="{{ path('gpm_contratista_show',{'id':contratista.id}) }}">{{ contratista.nombre }}</a></td>
                <td>
                      <a title="Modificar Contratista" class="btn btn-xs btn-default" onclick="modalModificar('{{contratista.id}}','{{contratista.nombre}}');"><i class="fa fa-edit"></i></a>
                      <a title="Eliminar Contratista" class="btn btn-xs btn-default" onclick="modalDelete('{{contratista.id}}','{{contratista.nombre}}');"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>