{% extends "app/Template_aker/list.html.twig" %}

{% block titulo %}Mis Contratistas{% endblock %}        

{% block contentpanel %} 
    {% include "gpm/Contratista/popup_contratista_new.html.twig" %} 
    {% include "gpm/Contratista/popup_contratista_remover.html.twig" %} 
    {% include "gpm/Contratista/popup_contratista_edit.html.twig" %} 
    <div class="col-md-12">
        <div class="panel panel-body" id="contratistas" style="min-height:460px; ">
            {% include "gpm/Contratista/contratistas.html.twig" with {'organizacion':organizacion } %}  
        </div>
    </div>
{% endblock %}
{% block js%}
    {{ parent() }}    

    <script type="text/javascript">
        {% include "gpm/Contratista/contratista.js" %}

    </script>
{% endblock %}


