<table class="table table-condensed">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Cuit</th>
            <th>Documento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for persona in contratista.personas %}
            <tr>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.telefono }}</td>
                <td>{{ persona.cuit }}</td>
                <td>{{ persona.documento }}</td>
                <td>
                      <a title="Modificar Personal" class="btn btn-xs btn-default" onclick="modalModificarPersona('{{persona.id}}','{{persona.nombre}}','{{persona.telefono}}','{{persona.cuit}}','{{persona.documento}}');"><i class="fa fa-edit"></i></a>
                      <a title="Eliminar Personal" class="btn btn-xs btn-default" onclick="modalDeletePersona('{{persona.id}}','{{persona.nombre}}');"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>