<div class="modal fade" id="modalContratistaAgregar" role="dialog" aria-labelledby="modalActividadNewLabel" aria-hidden="true" style="display: none;z-index: 100000;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="col-md-12" style="text-align: center;">
                    <h4 class="modal-title" id="myModalLabel">Agregar Contratista</h4>
                    <h5 class="modal-title" id="nombreProyecto"></h5>
                </div>
            </div>
            <div class="modal-body">
                <div id="modal-body-actividad" style="text-align: center;">
                    <form id="formContratistaNew" class="form-horizontal">
                        <div class="row-fluid">
                            <div class="col-md-12" style="padding-top: 10px;">
                                <div class="col-md-8">
                                    <div class="control-group "><label class="control-label required" for="contratista_nombre">Nombre</label><div class="controls">
                                            <input type="text" class="form-control" id="contratista_nombre" name="contratista[nombre]" required="required">
                                            <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>
                                        </div>    

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                {#<a  data-toggle="modal" href="#modalProducto2" class="btn btn-success pull-left" title="Agrega un producto al deposito">Nuevo producto</a>#}
                <button id="btnContratistaAgregar" type="button" class="btn btn-primary" >Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>     
