{% extends "app/Template_aker/show.html.twig" %}

{% block titulo %}{{ contratista.nombre }}{% endblock %}

{% block contentpanel %}
    {% include "gpm/Personal/popup_persona_new.html.twig" %} 
    {% include "gpm/Personal/popup_persona_remover.html.twig" %} 
    {% include "gpm/Personal/popup_persona_edit.html.twig" %} 
    <div class="panel panel-default">
        <div class="col-md-6  panel-default">
            <div class=" panel-heading">
                <div class="panel panel-title">
                    Datos
                </div>
            </div>
            <div class="panel-body">
                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Nombre', 'data': contratista.nombre } %} 
            </div>
        </div>
        <div class="col-md-6  panel">
            <div class="panel-heading">
                <div class="panel-title">
                    Personal
                </div>
            </div>
            <div class="panel-body pad-h-20">
                <div id="personal">
                    {% include "gpm/Contratista/personal.html.twig" with {'contratista': contratista} %} 
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{%  block js  %}
    <script type="text/javascript">
          {% include "gpm/Contratista/contratista.js" %}
    </script>
{% endblock %}
