<table class="table table-condensed" id="tableChofer">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Id. Fiscal</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

        {% for chof in choferes %}
            {% if chof.chofer.licencias|length > 0 %}
                <tr>
                    <td><a href="{{ path('apmon_chofer_show', {'id': chof.chofer.id,'tab':'main'}) }}">{{ chof.chofer.nombre }}</a></td>
                    <td>{{ chof.chofer.cuit }}</td>
                    <td>{{ chof.chofer.telefono }}</td>
                    <td>
                        <a class="btn btn-mini btn-default" href="{{ path('apmon_chofer_edit', {'id': chof.chofer.id} ) }}"><i class="fa fa-pencil"></i></a>
                        <a title="Quitar Chofer" id="btnChoferDelete" onclick="modalChoferDelete({{chof.id}}, '{{chof.chofer.nombre}}')" class="btn btn-mini btn-default"><i class="fa fa-trash"></i> </a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>