<table class="table table-condensed">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Celular</th>
            <th>Email</th>
            <th>NoticeMe</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cont in contactos %}
            <tr>
                <td><a href="{{ path('main_contacto_show', {'id': cont.contacto.id}) }}">{{ cont.contacto.nombre }}</a></td>
                <td>{{ cont.contacto.celular }}</td>
                <td>{{ cont.contacto.email }}</td>
                <td>{{ cont.contacto.noticeme }}</td>
                <td>
                    {% if is_granted('ROLE_CONTACTO_EDITAR') %}
                        <a class="btn btn-mini btn-default" href="{{ path('main_contacto_edit', {'id': cont.contacto.id} ) }}"><i class="fa fa-pencil"></i></a>
                          <a title="Quitar Chofer" id="btnContactoDelete" onclick="modalContactoDelete({{cont.id}}, '{{cont.contacto.nombre}}')" class="btn btn-mini btn-default"><i class="fa fa-trash"></i> </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>