{% extends "app/Template_aker/popup.html.twig" %}

{% block modalId %}modalDelete{% endblock %}

{% block modalTitulo %}Eliminar Grupo de Notif.{% endblock %}

{% block modalUrl %}{{ path('apmon_notificacionchofer_delete', { 'id': grupo.id }) }}{% endblock %}

{% block modalBody %}
       <p>Esta seguro de eliminar este grupo: <strong>{{ grupo.nombre|upper }}</strong> ?</p>
    {{ form_widget(delete_form) }}
{% endblock %}

{% block modalOk %}
    <button class="btn btn-danger" type="submit">Eliminar</button>
{% endblock %}

