<form id="formChoferes">
    <table class="table table-condensed">
        <tr>
            <th><input type="checkbox" id="check_all_choferes" value="" onclick="checkAllChoferes();" title="Marca todos los choferes."></th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Id. fiscal</th>
        </tr>
        {% for chofer in choferes %}
            <tr>
                <td><input class="form-check-input" type="checkbox" value=""  name="chofer[{{ chofer.id }}]" id="chofer_{{chofer.id}}"></td>
                <td>{{ chofer.nombre }}</td>
                <td>{{ chofer.telefono }}</td>
                <td>{{ chofer.cuit }}</td>
            </tr>
        {% endfor %}
    </table>
</form>
