<form id="formContactos">
    <table class="table table-condensed">
        <tr>
            <th><input type="checkbox" id="check_all_contactos" value="" onclick="checkAllContactos();" title="Marca todos los contactos."></th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Celular</th>
        </tr>
        {% for contacto in contactos %}
            <tr>
                <td><input class="form-check-input" type="checkbox" value=""  name="contacto[{{ contacto.id }}]" id="contacto_{{contacto.id}}"></td>
                <td>{{ contacto.nombre }}</td>
                <td>{{ contacto.email ?  contacto.email: '---'  }}</td>
                <td>{{ contacto.celular ?  contacto.celular: '---'  }}</td>
            </tr>
        {% endfor %}
    </table>
</form>