<table class="table table-condensed">
    <thead>
        <tr>
            <th>Grupo de Notificaciones</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for grupo in grupos %}
            <tr>
                <td><a href="{{ path('apmon_chofer_notificacion_show', {'id': grupo.id}) }}">{{ grupo.nombre }}</a></td>
                <td>
                    <a class="btn btn-mini btn-default" onclick="modalGrupoEdit('{{grupo.id}}','{{grupo.nombre}}')" ><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-mini btn-default" onclick="modalGrupoDelete('{{grupo.id}}','{{grupo.nombre}}')" ><i class="fa fa-trash"></i></a>
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>