{% extends "app/Template_aker/list.html.twig" %}

{% block titulo %}Listado de grupos{% endblock %}        
{% block contentpanel %}  
    {% include "apmon/NotifChofer/popup_new.html.twig" %} 
    {% include "apmon/NotifChofer/popup_delete.html.twig" %} 
    {% include "apmon/NotifChofer/popup_edit.html.twig" %} 
    <div id="grupos">
          {% include "apmon/NotifChofer/grupos.html.twig" with {'grupos':grupos} %} 
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    {% include "apmon/NotifChofer/notificaciones_list.js" %} 
{% endblock %}

