<!-- Modal -->
<div class="modal fade" id="modalGrupoEdit" role="dialog" aria-labelledby="modalActividadNewLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="col-md-12" style="text-align: center;">
                    <h4 class="modal-title" id="myModalLabel">Modificar Grupo de notificación</h4>
                </div>
            </div>
            <div class="modal-body">
                <div id="modal-body-actividad" style="text-align: center;">
                    <form id="formEditGrupo">
                        <div class="form-control">
                            <label class="span-1 control-label required">
                                Nombre
                                <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>
                            </label>
                            <div class="span-1 controls">
                                <input class="span-1" type="text" id="edit_grupoNombre" name="edit[grupoNombre]" required="required">
                            </div>
                        </div>
                       
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                {#<a  data-toggle="modal" href="#modalProducto2" class="btn btn-success pull-left" title="Agrega un producto al deposito">Nuevo producto</a>#}
                <button id="btnGrupoEdit" type="button" class="btn btn-primary" >Modificar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>     


