<!-- Modal -->
<div class="modal fade" id="modalAddContacto" role="dialog" aria-labelledby="modalActividadNewLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="col-md-12" style="text-align: center;">
                    <h4 class="modal-title" id="myModalLabel">Agregar Cotnacto al Grupo de Notificación</h4>
                    <h5 class="modal-title" id="nombreChofer"></h5>
                </div>
            </div>
            <div class="modal-body">
                <div id="modal-body-actividad" style="text-align: center;">
                    <div id="formContacto">
                    {% include "apmon/NotifChofer/form_contacto.html.twig" with {'contactos': contactos}%} 
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {#<a  data-toggle="modal" href="#modalProducto2" class="btn btn-success pull-left" title="Agrega un producto al deposito">Nuevo producto</a>#}
                <button id="btnContactoAdd" type="button" class="btn btn-primary" >Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>     


