{% extends "app/Template_aker/show.html.twig" %}

{% block formdelete %}
	{% include "apmon/NotifChofer/delete_form.html.twig" %}
{% endblock %}

{% block titulo %}
	{{ grupo.nombre }}
{% endblock %}

{% block informacion %}{% endblock %}

{% block contentpanel %}
	{% include "apmon/NotifChofer/popup_add_chofer.html.twig" with {'choferes': choferes}%}
	{% include "apmon/NotifChofer/popup_add_contacto.html.twig" with {'contactos': contactos}%}
	{% include "apmon/NotifChofer/popup_delete_chofer.html.twig" %}
	{% include "apmon/NotifChofer/popup_delete_contacto.html.twig" %}

	<div class="row">
		<div class="col-md-12">
			{% embed "app/Template_aker/panel_form.html.twig" %}
				{% block titulo %}
					Datos del Grupo
				{% endblock %}
				{% block cuerpo %}

					{% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': grupo.nombre } %}
				{% endblock %}
			{% endembed %}

		</div>

		<div class="col-md-6">
			{% embed "app/Template_aker/panel_form.html.twig" %}
				{% block titulo %}
					Choferes
				{% endblock %}
				{% block cuerpo %}
					<diiv id="choferes">
						{% include "apmon/NotifChofer/choferes.html.twig" with {'choferes':grupo.notifChof} %}
					</diiv>
				{% endblock %}
			{% endembed %}
		</div>

		<div class="col-md-6">
			{% embed "app/Template_aker/panel_form.html.twig" %}
				{% block titulo %}
					Contactos
				{% endblock %}
				{% block cuerpo %}
					<diiv id="contactos">
						{% include "apmon/NotifChofer/contactos.html.twig" with {'contactos':grupo.notifContact} %}
					</diiv>

				{% endblock %}
			{% endembed %}
		</div>
	</div>
{% endblock %}
{% block js %}
	{{ parent() }}
	{% include "apmon/NotifChofer/notificaciones_show.js" %}
{% endblock %}
