{% if informe is not null %}
    {% if informe[3] != null %}
        <div class="alert alert-danger">
            <h4>En estado criticos</h4>
            Estos son los mantenimientos que debe atender en forma urgente ya que los mismos se encuentran vencidos respecto a los valores 
            ingresados para control.
        </div>
        {% include "informe/Mantenimiento/content_tareas.html.twig" with {'tareas': informe[3] }%}  
    {% endif %}    
    
    {% if informe[2] != null %}
        <div class="alert alert-message">
            <h4>Próximas a Vencer</h4>
            Estos mantenimientos requiere su próxima atención ya que está próximo a vencerse segun los valores configurados para el control.
        </div>
        {% include "informe/Mantenimiento/content_tareas.html.twig" with {'tareas': informe[2] }%}  
    {% endif %}
    
    {% if consulta['incluir_ok'] is defined %}
        {% if informe[1] != null %}
            <div class="alert alert-success">
                <h4>Correctas</h4>
                Estas tareas de mantenimiento estan correctas y por el momento no requieren su atención.
            </div>
            {% include "informe/Mantenimiento/content_tareas.html.twig" with {'tareas': informe[1] }%}  
        {% endif %}    
    {% endif %}    
{% endif %}