<table class="table table-bordered">
    <thead>
        <tr>
            <th>Servicio</th>
            <th>Ult. Odometro</th>
            <th>Ult. Horometro</th>
            <th>Ult. Reporte</th>
            <th>Mantenimiento</th>
            <th>Último</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for data in servicios %}
            <tr>
                <td rowspan="{{ data.mantenimientos|length+1 }}">{{ data.servicio.nombre }}</td>
                <td rowspan="{{ data.mantenimientos|length+1 }}">{{ data.servicio.odometro|number_format(1)|default(' ') }}</td>
                <td rowspan="{{ data.mantenimientos|length+1 }}">{{ data.servicio.horometro }}</td>
                <td rowspan="{{ data.mantenimientos|length+1 }}">{{ data.servicio.ult_fechahora|date('d-m-Y H:i:s', app.user.timeZone) }}</td>
                {% for mant in data.mantenimientos %}
                <tr>
                    <td>{{ mant.nombre }}</td>
                    <td>{{ mant.ultimo ? mant.ultimo|date('d-m-Y') : '---' }}</td>
                    <td style="color: {{ mant.status.color|default('black') }}">
                        {{ mant.status.message }}
                    </td>
                </tr>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>