{% extends "app/Template/informe_result.html.twig" %}

{% block title %} Informe de Tareas Manteniemiento por Servicio{% endblock %}
{% block titulo %} Informe de Tareas Manteniemiento por Servicio{% endblock %}

{% block informacion %}
[ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
<form name="formexport" action="{{ path('informe_status_mantenimiento_exportar', {'tipo':  '0' }) }}" method="POST" >
    <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
    <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
</form>
{% endblock %}

{% block contentpanel %}
    {% include "informe/Mantenimiento/content_informestatus.html.twig" with {'servicios': informe }%}  
{% endblock %}