{% extends "app/Template/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block title %} Informe de Tareas Manteniemiento por Servicio{% endblock %}
{% block titulo %} Informe de Tareas Manteniemiento por Servicio{% endblock %}

{% block informacion %}
<div style="float: right">
    <a href="javascript:void(0);" onclick="javascript:introJs().start();">Ayuda</a>
</div>
{% endblock %}


{% block js %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
       $('#informemant_servicio').select2();   
    });

</script>
{% endblock %}


{% block formulario %}
 <form class="form-horizontal" id="form" action="#"  method="POST" >
    {{ form_errors(form) }}
    <fieldset>
        <div data-step="1" data-intro="{% include "informe/Mantenimiento/help.html.twig" with {'step': '1' } %}">
            {{ form_widget(form.destino) }}
        </div>
        <div data-step="3" data-intro="{% include "informe/Mantenimiento/help.html.twig" with {'step': '3' } %}">
            {{ form_widget(form.servicio) }}
        </div>
        <div data-step="5" data-intro="{% include "informe/Mantenimiento/help.html.twig" with {'step': '5' } %}">
            {{ form_widget(form.incluir_ok) }}
        </div>
        {{ form_widget(form._token) }} 
        <div class="form-actions" style="background-color: white">
            <button type="submit" class="btn btn-primary">Generar Informe</button>
            <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>
{% endblock %}
