{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
    <style type="text/css">
        .ui-timepicker-div
        .ui-widget-header { margin-bottom: 8px; }
        .ui-timepicker-div dl { text-align: left; }
        .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
        .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
        .ui-timepicker-div td { font-size: 12px; }
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
    </style>
{% endblock %}

{% block js %}
    {{ parent() }}      
    <script type="text/javascript">
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $.timepicker.setDefaults($.timepicker.regional["es"]);
            $("#servicio_fecha").datetimepicker({
                dateFormat: 'dd-mm-yy',
            });
        });

    </script>    
{% endblock %}

{% block titulo %}{{ servicio.nombre }}{% endblock %}
{% block subtitulo %}Configuración de Valores {% endblock %}

{% block formulario %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}
    {{ form_widget(form._token) }}
    <div class="row-fluid">
        <div class="span6">
            <legend>Datos del Vehiculo</legend>
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': servicio.nombre } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Tipo', 'data': servicio.getStrTipoObjetos } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Clase', 'data': servicio.tipoServicio} %} 
        </div>
        <div class="span6">
            <legend>Últimos datos</legend>
            {% include "app/Template/show_row.html.twig" with {'label': 'Ultima Transmisión', 'data': servicio.ultFechahora != null ? servicio.ultFechahora|date('d/m/Y H:i:s', app.user.timeZone) : 'N/A' } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Odómetro actual', 'data': (servicio.ultOdometro / 1000)|number_format(2) ~ ' kms'} %} 
            {% if servicio.horometro %}
                {% include "app/Template/show_row.html.twig" with {'label': 'Horómetro actual', 'data': servicio.formatHorometro} %} 
            {% endif %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <legend>Nuevos valores</legend>
            {% if form.fecha is defined %}  
                {{ form_widget(form.fecha) }}
            {% endif %}
            
            {{ form_widget(form.odometro) }}  
            
            {% if servicio.horometro %}
                {#{{ form_widget(form.horometro) }}#}
                <div class="control-group ">
                    <label class="control-label">Horómetro del Tablero</label>
                    <div class="controls">
                        <input id="servicio_horas" name="servicio[horas]" class="span4" type="number" placeholder="horas">
                        <input id="servicio_minutos" name="servicio[minutos]" class="span4" type="number" placeholder="minutos">
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="span6">
            <legend></legend>
            <b>Notas:</b>
            <ul>
                <li>Ingrese la fecha y hora en la que tomo la lectura del odometro del tablero del vehiculo</li>
                <li>Ingrese el dato en kilometros y sin decimales.</li>
                <li>El sistema calculará los kilómetros recorridos desde la fecha ingresada y ajustará el odómetro.</li>
                <li>Tenga en cuenta que el mismo se actualizará con los nuevos valores en la próxima comunicación del equipo.</li>
            </ul>
        </div>
    </div>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Cambiar" />
        <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
    </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
