<h3>Datos</h3>
{% include "app/Template/show_row.html.twig" with { 'label': 'Cliente', 'data': servicio.organizacion.nombre } %} 
{% include "app/Template/show_row.html.twig" with { 'label': 'Servicio', 'data': servicio.nombre } %} 
{% include "app/Template/show_row.html.twig" with { 'label': 'Equipo', 'data': servicio.equipo.mdmid } %} 
{% include "app/Template/show_row.html.twig" with { 'label': 'Ult. Batería', 'data': servicio.ultBateria ~ '%' } %} 
<div class="row-fluid row-show">
    <div class="span4 column-label">Ult. Transmisión</div>    
    <div class="column-show">
        {% if extras['st_ultreporte'] is defined and extras['st_ultreporte'] > 30 %} 
            <div class="fecha" style="color: red">
               <i class="icon-bell"></i> {{ extras['ultFechahora'] }}
            </div>
        {% else %}
          {{ extras['ultFechahora'] }}
        {% endif %}
    </div>
</div>  
{% if extras.cercania is defined %}
    {% include "app/Template/show_row.html.twig" with { 'label': 'Cercania', 'data': extras['cercania'] } %} 
{% endif %}
{% if extras.domicilio is defined %}
    {% include "app/Template/show_row.html.twig" with { 'label': 'Domicilio', 'data': extras['domicilio'] } %} 
{% endif %}
<div class="row-fluid row-show">
    <div class="span4 column-label">Actualizado</div>    
    <div class="column-show"><em>{{ extras['now'] }}</em></div>
</div>
<div class="row-fluid row-show">
    <div class="span4 column-label">Estado Cerrojo</div>    
    <div class="column-show">
         {% if extras['estado_cerrojo'] is defined %}
             {% if extras['estado_cerrojo'] == 0 %}   {# esta abierto #}
                <img src="{{ asset('images/lock_open.png') }}" title="Cerrojo abierto"> Abierto
             {% elseif extras['estado_cerrojo'] == 1 %}
                <img src="{{ asset('images/lock_closed.png') }}" title="Cerrojo cerrado"> Cerrado
             {% else %}
                <i class="icon-remove"></i> ERROR !!! Status: {{  extras['estado_cerrojo'] }}
            {% endif %}
         {% else %}
            Indefinido    
        {% endif %}
    </div>
</div>

