{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ servicio.nombre }} {% endblock %}
{% block subtitulo %}Corte de Motor{% endblock %}

{% block js %}
{{ parent() }}
{{ mapa.renderJs()|raw }} 
<script type="text/javascript">
   {% include "apmon/Mapa/auxiliares.script.js" %}
   {% include "apmon/Mapa/gmaps-lib.script.js" %}
   {% include "app/Programacion/wait-telecomando.script.js" %}

    $(document).ready(function() {
        $.PeriodicalUpdater(
                trim("{{ url('main_programacion_corte_status') }}"),
                {'minTimeout': 7000,
                    'maxTimeout': 7000,
                    'type': 'json',
                    'sendData': {
                        'id': {{ servicio.id }},
                    }},
        function(respuesta) {
               {{ mapa.fcStopDraw() }}();
               {{ mapa.fcAddAllMarkers() }}(respuesta['data']);
               {{ mapa.fcIniDraw() }}();
            gotoCenter(respuesta['data']['latitud'], respuesta['data']['longitud'], false)
            $("#status").text("");
            $('#status').append(respuesta['html']);
        });

        // FUNCION PARA CORTAR
        $("#btn-cortar").click(function() {
            ejecutarComando('CORTE', '1');
            });

        // FUNCION PARA HABILITAR
        $("#btn-habilitar").click(function() {
            ejecutarComando('HABILITACION', '0');
        });
        
        function ejecutarComando(tipo, corte) {
             $("#bitacora").text("");
            $('#bitacora').append('- Encolando comando de '+ tipo +' de motor.</br>');
            var request = $.ajax({
                type: "GET",
                url: "{{ path('main_programacion_cortar') }}",
                data: {'id': {{ servicio.id }}, 'cortar': corte},
                dataType: "json",
                beforeSend: function() {
                   antesSend();
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    $('#bitacora').append('Error: ' + thrownError + '</br>')
                }
            });
            request.done(function(data) {
                clickdone(data);  
            });
        }

        
        });
    
    function antesSend() {
        $("#btn-cortar").prop('disabled', 'disabled');
        $("#btn-habilitar").prop('disabled', 'disabled');
        $("#btn-status-cerrar").prop('disabled', 'disabled');
        $('#myModal').modal('show');
        $("#progressbar").progressbar({ value: 0 });
    }
    
    function clickdone(data) {
        $('#bitacora').append('- '+data['log']+ '</br>');
        if (data['status'] > 0) {
            $('#bitacora').append('- Esperando confirmación.');
            
             launchEspera(data['id'], data['idCom']);
        }
        $("#btn-cortar").prop('disabled', '');
        $("#btn-habilitar").prop('disabled', '');
    }    
        
    </script>
{% endblock %}

{% block informacion %}  
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Estado del corte de motor...</h4>
      </div>
      <div class="modal-body">        
        <div class="alert alert-info">
            <p><span class="label label-warning">Atención</span> Se está realizando el envío del comando al equipo seleccionado. Le pedimos que espere hasta tener
                una respuesta del mismo.</p>
            <p>En caso de que el equipo no esté reportando, el comando no se podrá enviar y no se enviará con
            posterioridad por lo que debe ejecutar el comando cuando el mismo se encuentre activo.</p>
        </div>

        <div id="progressbar"></div>
        <div id="bitacora"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-status-cerrar">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock  %}

{% block formulario %}
    <div class="row-fluid">
        <div class="span6"> 
            <div id="status">
                {% include "app/Programacion/corte_status.html.twig" %}   {# es el status del equipo #}
            </div>      
            <h3>Acción</h3>
            <button type="button" class="btn btn-success" id="btn-cortar" >Cortar Motor</button>
            <button type="button" class="btn btn-danger" id="btn-habilitar" >Habilitar Motor</button>
            <a href="{{ app.session.get('volver') }}" class="btn">Terminar</a>
        </div>      
        <div class="span6">   {# este es el mapa #}
            <h3>Ubicación</h3>
            <div style="width: 100%">
                {{ mapa.renderHtml()|raw }}
            </div>        
        </div>
    </div>
{% endblock %}
