<h3>Datos</h3>
{% include "app/Template/show_row.html.twig" with { 'label': 'Cliente', 'data': servicio.organizacion.nombre } %} 
{% include "app/Template/show_row.html.twig" with { 'label': 'Servicio', 'data': servicio.nombre } %} 
{% include "app/Template/show_row.html.twig" with { 'label': 'Equipo', 'data': servicio.equipo is defined ? servicio.equipo.mdmid : '---'} %} 

<div class="row-fluid row-show">
    <div class="span4 column-label">Ult. Transmisión</div>    
    <div class="column-show">
        {% if extras['st_ultreporte'] is defined and extras['st_ultreporte'] > 30 %} 
            <div class="fecha" style="color: red" >
               <i class="icon-bell"></i> {{ extras['ultFechahora'] }}
            </div>
        {% else %}
          {{ extras['ultFechahora'] }}
        {% endif %}
    </div>
</div>  

{% if extras.cercania is defined %}
    {% include "app/Template/show_row.html.twig" with { 'label': 'Cercania', 'data': extras['cercania'] } %} 
{% endif %}
{% if extras.domicilio is defined %}
    {% include "app/Template/show_row.html.twig" with { 'label': 'Domicilio', 'data': extras['domicilio'] } %} 
{% endif %}
<div class="row-fluid row-show">
<div class="span4 column-label">Actualizado</div>    
<div class="column-show"><em>{{ extras['now'] }}</em></div>
</div>
   