{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ servicio.organizacion }} {% endblock %}
{% block subtitulo %}Reprogramación de parámetros{% endblock %}
    
{% block js %}
{{ parent() }}
{% endblock %}

{% block informacion %}
   {% if servicio.organizacion.tipoOrganizacion == 1 %}
    <div class="alert alert-info">
        <span class="label label-warning">Atención</span> Esta editando un servicio en la cuenta del distribuidor <b>{{ servicio.organizacion }}</b>. Esta cuenta no puede
        tener servicios de flota asociados por lo que este servicio sirve unicamente para testeo del equipo que este asociado. <br/>
        Cuando se transfiera el equipo a otro distribuidor o a un cliente el servicio asociado quedara en este distribuidor pudiendo acceder al histórico del mismo.
        a dicho servicio.
    </div>
   {% endif %}
{% endblock  %}

{% block formulario %}
<div class="row-fluid">
    <div class="span6">
        <h3>Valores a programar</h3>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}        
            {{ form_errors(form) }}
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Reprogramar" />
                <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>
        {{ form_end(form) }}
    </div>
    <div class="span6">
        <h3>Valores Actuales</h3>
        <ul>
        {% for param in parametros %}
            <li><b>{{ param.variable.nombre }}</b><br>
                 {{ param.valorActual != null ? 'Actual = ' ~  param.valorActual|default('¿?') ~' ' ~ (param.ultProgramacion != null ? '(' ~ param.ultProgramacion|date('d/m/Y H:i') ~ ')':'')  : ''}}
                 {{ param.valorAnterior != null ? 'Anterior = ' ~ param.valorAnterior|default('¿?') : '' }}
                 {{ param.valorFuturo != null ? 'Futuro = ' ~ param.valorFuturo|default('¿?') : '' }}
                 Default = {{ param.variable.valorDefault|default('¿?') }} {{ param.variable.unidadMedida }}
            </li>
        {% endfor %}
        </ul>
    </div>        
</div>
{% endblock %}
