{% extends "app/Template/informe_mapa.html.twig" %}
{% block head %}
    {{ parent() }}
    {{ mapa.renderJs()|raw }}
    <script type="text/javascript">
        {# incluyo las funciones que se ejecutan cuando se hace click en una referencia #}
        {% include "apmon/Mapa/gmaps-lib.script.js" %}    
    </script>  
{% endblock %}

{% block title %}Informe de Detenciones{% endblock %}
{% block titulo %}Informe de Detenciones{% endblock %}

{% block informacion %}
    Para el equipo <b>{{ consulta.servicionombre }}</b>, desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>  se reportaron 
    <b>{{ informe|length }}</b>  ralentis de mas de {{ consulta.tiempo_minimo }} minutos.
{% endblock %}

{% block contentpanel %}
    {% if informe is not null %}
        {% if informe|length > 0 %}
            <div class="row-fluid">
                <div class="span3">
                    <div  id="contenedor-mapa-dato" style="height: 400px; overflow: scroll; overflow-y: auto">
                        <table class="table table-condensed"  >
                            <thead>
                                <tr>
                                    <th> <label class="checkbox">
                                            <input type="checkbox" id="historial_calcular_area" name="historial[calcular_area]" onclick="calcular_area();" value="0">
                                            Calcular Dist. y Area 
                                        </label></th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Inicio</th>
                                    <th>Fin</th>
                                    <th>Duración</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in informe %}
                                    {% for entrada in data %}
                                        <tr style="cursor: pointer" onclick="gotoCenter({{ entrada.latitud }}, {{ entrada.longitud }}, true); )">
                                            <td>{{ entrada.detencion_id }}</td>
                                            <td>{{ entrada.fecha_inicio }}</td>
                                            <td>{{ entrada.fecha_fin }}</td>
                                            <td style="text-align: right">{{ entrada.tiempo_ralenti }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="contenedor-mapa" class="span9" style="float: left; height: 400px; min-height: 400px;">
                    {{ mapa.renderHtml()|raw }}  
                </div>
            </div>

        {% else %}
            <em>No se registran detenciones para el tiempo solicitado.</em>
        {% endif %}
    {% endif %}
{% endblock %}
