{% extends "app/Template/mapas.html.twig" %}

{% block title %}Proximidad de Servicio a Referencia{% endblock %}
{% block titulo %}Proximidad de Servicio a Referencia{% endblock %}

{% block js %}
{{ parent() }}

<script type="text/javascript">
{# incluyo las funciones para ver y ocultar las refererencias en el mapa #}
{% include "apmon/Mapa/referencia_view.script.js" %}

</script>  
    
<script type="text/javascript">
function checkVerRefCercana() {
    if ($(".cerca").css('display') === 'block') {
        $(".cerca").css('display', 'none');   
    } else {
        $(".cerca").css('display', 'block');   
    }
}    
</script>    
{% endblock %}

{% block panellefttop %}
<div id="panel-equipos-top-inner">
    <div class="panel-equipos-top-panel">
        <div class="panel-equipos-top-titulo">
            Equipos cercanos
        </div>
    </div>
</div>
<table class="table table-condensed">
    <tr>
        <th>Referencia</th>
        <td>{{ consulta.referencia }}</td>
    </tr>
    <tr>
        <th>Tipo Servicio</th>
        <td>{{ consulta.tipo_servicio }}</td>
    </tr>
    <tr>
        <th>Cant. Servicios</th>
        <td>{{ consulta.cantidadservicios }}</td>
    </tr>
</table>
{% endblock %}

{% block panelequipo %}
{% include "apmon/Cercania/cerca_servicio_list.html.twig" %}         


{% include "apmon/Mapa/dialog-iconos.html.twig" %} 
{% include "apmon/Mapa/dialog-referencia-crear.html.twig" %} 
{% include "apmon/Mapa/dialog-referencia-redibujar.html.twig" %} 
<!-- fuciones varias de los mapas -->
{% if grupos_servicio is defined %}
    {% include "apmon/Mapa/dialog-servicio-grupos.html.twig" %} 
{% endif %}

{% if referencias is defined %}
    {% include "apmon/Mapa/dialog-referencia-ubicar.html.twig" %} 
{% endif %}

{% endblock %}  