{% for cercano in cercanos %}    
    {% set servicio = cercano['servicio'] %}
    <div class="servicio_panel" style="height: {{ consulta.verDireccion ? 88 : 50 }}px">
        <div class="servicio_top">
            <div class="servicio_principal">
                {# Icono del servicio #}
                <div class="icono_servicio">
                    {% if servicio.tipoServicio.getWebPath() is defined and servicio.tipoServicio.getWebPath() != "" %}
                        <img style="width: 24px; height: 24px" src="{{ asset(servicio.tipoServicio.getWebPath()) }}" alt="{{ servicio.tipoServicio }}">
                    {% else %} 
                        <img src="{{ asset('images/icono.png') }}" alt="">
                    {% endif %}
                </div>
                {# nombre del servicio #}    
                <div class="zone_horizontal">
                    {% if servicio.ultLatitud %}
                       <div class="servicio_nombre" style="cursor: pointer; max-width: 230px;"  onclick="{{ mapa.getMapName() }}.setZoom(16); {{ mapa.getMapName() }}.setCenter(new google.maps.LatLng ({{servicio.ultLatitud}}, {{servicio.ultLongitud}}))">{{ cercano.str_cercania }}</div>
                    {% else %}
                        <div class="servicio_nombre" style="max-width: 230px;">{{ cercano.str_cercania }}</div>
                    {% endif %}    
                </div>
                <div class="zone_horizontal pull-left">
                    {{ servicio.ultFechaHora ? servicio.ultFechaHora|date('d-m-Y H:i:s', app.user.timeZone) : '---' }}</br>
                </div>
                <div class="zone_horizontal">                    
                    <div class="velocidad block">
                        {% if servicio.ultVelocidad %}
                            {% set velocidad = servicio.ultVelocidad %}
                            {% set direccion = servicio.ultDireccion %}
                        {% else %}
                            {% set velocidad = '' %}
                            {% set direccion = '-1' %}
                        {% endif %}    
                        <img width="16px" height="16px" 
                             src="{{ status[ servicio.id ].icono }}"
                             title="{{ servicio.ultVelocidad > 0 ? servicio.ultVelocidad~' km/h' : 'detenido' }}"> 
                        {{ servicio.ultVelocidad|default(0) }} km/h
                    </div>
                    <div class="block">
                        {% if servicio.ultcontacto is defined and servicio.ultcontacto == true %}
                            <img src="{{ asset('images/key.png') }}"> 
                        {% endif %} 
                        {% if servicio.ultValido == false %}
                            <div class="block">
                                <img src="{{ asset('images/transmit_error.png') }}" 
                                     width="16px" 
                                     height="16px" 
                                     style="float:left; margin: 0px 3px 0px 0px;"
                                     title="Sin señal de GPS">
                            </div>
                        {% endif %}                     
                    </div>
                    <div class="block">
                        
                    </div>
                </div>
            </div>
        </div>  
        {# Muestra la direccion si viene #}    
        {% if consulta.verDireccion and cercano.direccion is defined %}
        <div class="direccion">
            <em>{{ cercano.direccion }}</em>
        </div>
       {% endif %} 
        {# Muestra la proximidad del servicio a la referencia #}
        {% if cercano.cercana_al_servicio is defined %}
        <div class="direccion cerca" style= "display: none;" >
            {% if cercano.cercana_al_servicio.icono is defined and cercano.cercana_al_servicio.icono != null %}
            <img style="width: 16px; height: 16px" src="{{ asset(cercano.cercana_al_servicio.icono) }}">
           {% endif %} 
            <em>{{ cercano.cercana_al_servicio.leyenda }}</em>
        </div>
       {% endif %} 
    </div>
{% endfor %}
