{% extends "app/Template/informe.html.twig" %}

{% block title %}Proximidad de Servicio a Referencia{% endblock %}
{% block titulo %}Proximidad de Servicio a Referencia{% endblock %}
  
{% block formulario %}
<form class="form-horizontal" action="{{ path('apmon_mapa_cerca_servicio_consultar') }}" method="POST" >
    <fieldset>
        <div class="control-group ">
            <label class="control-label">Referencia</label>
             <div class="controls">
                <div id="divSelectRef">
                    <select class="span4" name="selectReferencia">
                       {% for ref in referencias %}
                          <option value="{{ ref.id }}">{{ ref.nombre }}</option>
                      {% endfor %}
                   </select>
                </div>
            </div>
        </div>
        
        <div class="control-group ">
            <label class="control-label">Clase de Servicio</label>
            <div class="controls">
                <select class="span4" name="selectTipoServicio" title="Puede filtrar para determinado tipo de servicios">
                      <option value="0" selected>Cualquier clase</option>
                   {% for key, value in tipo_servicio %}
                      <option value="{{ value.id }}">{{ value }}</option>
                  {% endfor %}
               </select>
            </div>
        </div>
            
        <div class="control-group ">
            <label class="control-label">Cantidad de Servicios</label>
            <div class="controls">
                <select class="span4" name="selectCantidadServicios" title="Es la cantidad de servicios sobre los que se aplicara la cercania.">
                  <option value=0 selected>Todos</option>
                   {% for key, value in cantidad_servicios %}
                      <option value="{{ value }}">{{ value }}</option>
                  {% endfor %}
               </select>
            </div>
        </div>

        <div class="control-group ">
            <label class="control-label">Ver Direccion</label>
            <div class="controls">
                <input type="checkbox" name="checkVerDireccion" title="Muestra la dirección en la que se encuentra el servicio seleccionado.">
            </div>
        </div>

        {% if error is defined %}
            <div class="alert alert-error">
                <p class="text-error"> 
                    <span class="label label-important">Error de consulta !!!</span>
                <p style="text-align: center">{{ error }}</p>
                </p>
            </div>
        {% endif %}

            <div class="form-actions" style="background-color: white">
                <button type="submit" class="btn btn-primary">Generar la consulta</button>
                <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>
    </fieldset>
</form>
{% endblock %}