<button id='{{"btn" ~ evento_id ~ "_" ~ servicio_id }}' class='btn btn-xs {{ accion == 1 ?  ' btn-primary': ' btn-default' }}'  onClick={{"accionEvento(" ~ servicio_id ~ "," ~ evento_id ~ "," ~ accion ~ ")"}}>{{accion == 1 ? 'Activar':'Desactivar'}}</button>