<div id="modal_comentario_data">
	<ul id="listaComentarios">
		<div class="timeline">
			<div
				class="tm-body">
				{# <div class="tm-title">
				            <h3 class="h5 text-uppercase">Comentarios</h3>
				        </div>#}
				<ol class="tm-items">
					{% for comentario in comentarios %}
						<li>
							<div class="tm-info">
								<div class="tm-icon">
									<i class="fa fa-comment"></i>
								</div>
								<time class="tm-datetime" datetime="{{ comentario.created_at|date('d/m/Y H:i', app.user.timeZone) }}">
									<div class="tm-datetime-date">{{ comentario.created_at|date('d-M-Y', app.user.timeZone) }}</div>
									<div class="tm-datetime-time">{{ comentario.created_at|date('H:i', app.user.timeZone) }}</div>
								</time>
							</div>
							<div class="tm-box">
								<p>
									{{ comentario.data.comentario|raw}}
								</p>
								<div class="tm-meta">
									<span>
										<i class="fa fa-user"></i>
										Por
										{{ comentario.ejecutor.username }}
									</span>
								</div>
							</div>
						</li>
					{% endfor %}

				</ol>

			</div>
		</div>
	</ul>
</div>
