{% extends "app/Template_aker/form.html.twig" %}

{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block js %}
	{{ parent() }}

	<script type="text/javascript">{% include "app/Template_aker/template-flash.script.js" %}</script>
	<script type="text/javascript">

		$(function () {
            
            $('#itinerario_nota').summernote({height: 110, toolbar: false});
            $('#form').smartWizard({
                theme: 'arrows', // theme for the wizard, related css need to include for other than default theme
                justified: false, // Nav menu justification. true/false
                autoAdjustHeight: false, // Automatically adjust content height
                backButtonSupport: true, // Enable the back button support
                enableUrlHash: true, // Enable selection of the step based on url hash
                lang: { // Language variables for button
                next: 'Siguiente',
                previous: 'Volver'
                },
                 toolbar: {
                    showNextButton: false, // show/hide a Next button
                    showPreviousButton: false, // show/hide a Previous button
                },
            });


            $("#itinerario_fechaInicio").datetimepicker({
                format: 'DD/MM/YYYY HH:mm',
                locale: 'es',
                widgetPositioning: {
                horizontal: 'right',
                vertical: 'bottom'
                }
            });
            $("#itinerario_fechaFin").datetimepicker({
                format: 'DD/MM/YYYY HH:mm',
                locale: 'es',
                widgetPositioning: {
                horizontal: 'right',
                vertical: 'bottom'
                }
            });
            $("#itinerario_fechaInicio").val("{{itinerario.fechaInicio|date('d/m/Y H:i')}}");
            $("#itinerario_fechaFin").val("{{itinerario.fechaFin|date('d/m/Y H:i')}}");

           
            $("#itinerario_logistica").val("{{logistica != null ? logistica.id : ''}}").trigger("change");
            $("#itinerario_empresa").val("{{empresa != null ? empresa.id : ''}}").trigger("change");
          
      


    });
	</script>


{% endblock %}

{% block titulo %}
	{{ itinerario.organizacion }}
{% endblock %}
{% block formulario %}

	{% embed "app/Template_aker/panel_form.html.twig" %}
		{% block titulo %}
			Modificar Itinerario
		{% endblock %}
		{% block cuerpo %}

			<div class="row-fluid" id="form">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" href="#step-1">
							<div class="num">1</div>
							Datos
						</a>
					</li>

				</ul>
				<div class="tab-content" style="height: 100%;">
					<div>{{ form_errors(form) }}</div>
					<div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
						<form id="formItinerario" class="form-horizontal" method="POST">
                        <div class="col-md-12">
							{% include "monitor/Itinerario/new_main.html.twig" with {'from': form } %}
                        </div>
                                <button class="btn btn-primary" type="submit">Cambiar</button>
                                <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
						</form>
					</div>

				</div>

				<div class="progress">
					<div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>


		{% endblock %}
	{% endembed %}
{% endblock %}
