<table id="tablaHistEventos" class="table table-condensed">
	<thead>
		<tr>
			<th>Fecha</th>
			<th>Evento</th>
			<th>Titulo</th>
			<th>Lat/Long</th>
			<th>Ejecutor</th>
			<th>Fecha Vista</th>
			<th>Datos</th>
			<th>Respuesta</th>
		</tr>
	</thead>
	<tbody>
		{% for row in eventos_historico %}
			<tr>
				<td>{{ row.fecha }}</td>
				<td>{{ row.tipoEvento.nombre }}</td>
				<td>{{ row.titulo }}</td>
				<td>{{ row.latitud }}/{{row.longitud}}</td>
				<td>{{ row.ejecutor }}</td>
				<td>{{ row.fecha_vista}}</td>
				<td>{{ row.datos|raw}}</td>
				<td>{{ row.respuesta|raw}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
