<table id="tablaEventos" class="table table-condensed">
	<thead>
		<tr>
			<th>Tipo Evento</th>
			<th>Evento</th>
			<th>Alarmas</th>
			<th>Servicio</th>
			<th>Acción</th>
		</tr>
	</thead>
	<tbody>
		{% for evento in eventos.eventos %}
			<tr>
				<td>{{ evento.tipoEvento.nombre|default('n/a') }}</td>
				<td>
					{% if evento.evento  is defined  %}
						{% if evento.evento.activo %}
							<span title="Click para Desactivar" style="cursor: pointer;" id="span_{{evento.evento.id}}" onclick="chageEstadoEvento('{{evento.evento.id}}',1)" class="label label-success"><i class="fa fa-power-off"></i></span>
						{% else %}
							<span title="Click para Activar"style="cursor: pointer;"  id="span_{{evento.evento.id}}" onclick="chageEstadoEvento('{{evento.evento.id}}',0)" class="label label-default"><i class="fa fa-power-off"></i></span>
						{% endif %}
						{% if evento.tipoEvento.codename == 'EV_DETENIDO' %}
							<form id="formDetencion" class="form-horizontal">
								<div class="form-group">
									<label class="col-md-4" for="eventos_detencion_tiempo">{{evento.evento.nombre }}
										<div id="label_eventos_detencion_tiempo">
											{{ '(' ~ evento.evento.parametros[0].valor ~ 'min)' }}
										</div>
									</label>
									<div class="col-md-2">
										<input type="number" class="form-control" id="eventos_detencion_tiempo" name="eventos[detencion_tiempo]" min="1" value="{{ evento.evento.parametros[0].valor }}">
										<input type="hidden" class="form-control" id="eventos_detencion_id" name="eventos[detencion_id]" value="{{ evento.evento.parametros[0].id }}">
									</div>
									<div class="col-md-2" style="margin-top: 5px;">
										<button id="btnDetencion" type="button" class="btn btn-xs btn-default" title="modificar tiempo de detención">Modificar</button>
									</div>
								</div>
							</form>
						{% else %}
							{{ evento.evento.nombre }}
						{% endif %}
					{% endif %}
				</td>
				<td>{{ evento.alarmas|default('---') }}</td>
				<td>
					{% if  evento.servicios is defined and evento.servicios|length > 0 %}
						{% for serv in evento.servicios %}
							{% if serv.status == true %}
								<span class="label label-success">{{serv.servicio.servicio.nombre }}</span>
							{% else %}
								<span class="label label-default">{{serv.servicio.servicio.nombre }}</span>
								{% set statusError = true %}
							{% endif %}
						{% endfor %}
					{% endif %}
				</td>
				<td>					
					{% if evento.evento is defined %}
						<button onclick="deleteEvento('{{ evento.evento.id }}')" type="button" class='btn btn-xs btn-danger'>
							<span class="fa fa-trash" aria-hidden="true" title="Elimina el evento del itinerario y no se controlara más."></span>
						</button>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

