<div class="row">
	<div class="col-md-12">
		<section class="panel">
			<header class="panel-heading">
				<h2 class="panel-title">Configuración</h2>
				<p class="panel-subtitle">Puede controlar los eventos habilitados en los servicios del itinerario.</p>
			</header>
			<div class="panel-body">
				{% block formulario %}
					{% set statusError = false %}
							<div class="alert alert-warning">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
								<strong>Configuración de Eventos!</strong>
								Si el servicio no se encuentra en el evento o se encuentra en color gris. Reenvie la configuración desde este botón.
								<button id="btnResendEvento" onclick="resendEvento({{ itinerario.id }})" type="button" class="alert-link btn btn-default">Reconfigurar</a>
							</div>
					{% if eventos %}
						{% include "monitor/Itinerario/eventos_config.html.twig" with {'itinerario': itinerario, 'eventos' : eventos } %}
					{% endif %}
				{% endblock %}
			</div>
		</section>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<section class="panel">
			<header class="panel-heading">
				<h2 class="panel-title">Histórico de Alarmas</h2>
				<p class="panel-subtitle">Aquí aparecerán todas las alarmas que se generaron en el itinerario.</p>
			</header>
			<div class="panel-body" style="display: block;">
				{% include "monitor/Itinerario/eventos_historico.html.twig" with {'eventos_historico': eventos_historico } %}
			</div>
		</section>
	</div>
</div>
