{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}
{% block titulo %}
	Importación de Itinerarios
{% endblock %}

{% block formulario %}
{% embed "app/Template_aker/panel_form.html.twig" %}
	{% block titulo %}
		Paso 1: Subida y lectura de archivo excel.
	{% endblock %}
	{% block cuerpo %}
		<p>
			Este proceso permite importar desde un archivo Excel, los itinerarios de la organización.
			                Es importante que seleccione correctamente el formato del archivo que va a importar, de no hacerlo el proceso de importación fallará.
		</p>
		<p>
			Este proceso se divide en dos pasos. El primero sube el archivo al servidor y hace la importación inicial. El segundo calcula el odometro de cada carga para el servicio.
		</p>
        {% if errors is defined %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
		<form class="form-horizontal" enctype="multipart/form-data" method="POST">
			<fieldset>
				{{ form_errors(form) }}
				{{ form_widget(form._token) }}
				<div class="row-fluid">
					<div class="col-md-6">
						{{ form_widget(form.tipo) }}
						{{ form_widget(form.archivo) }}
					</div>
					<div class="col-md-4"></div>
				</div>
			</fieldset>
		{% endblock %}
		{% block botones %}
			<input type="submit" class="btn btn-primary" id="crear" value="Siguiente"/>
			<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
		{% endblock %}
	{% endembed %}
</form>{% endblock %}
