<form id="formImport" name="formImport">
	<table id="tableItinerarios" class="table table-condensed table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Código</th>
				<th>Cliente</th>
				<th>Transporte</th>
				<th>Servicios</th>
				<th>Referencias</th>
				<th>Inicio</th>
				<th>Fin</th>

			</tr>
		</thead>
		<tbody>
			{% for itinerario in itinerarios %}
				<tr>
					<td id="td_{{itinerario.codigo}}"><input type="checkbox" onclick="accion('{{itinerario.codigo}}')" name="formImport[{{itinerario.codigo}}]" id="{{itinerario.codigo}}"></td>
					<td>
						{{ itinerario.codigo }}
					</td>
					<td>{{ itinerario.empresa.nombre|default('---') }}</td>

					<td>
						{% if itinerario.transporte is not null %}
							{{itinerario.transporte.nombre}},
						{% else %}
							---
						{% endif %}
					</td>
					<td>
						{% if  itinerario.servicio %}
							{{ itinerario.servicio.nombre }},
						{% else %}
							---
						{% endif %}
					</td>
					<td>
						{% for r in itinerario.referencias %}
							{{ r ? r : '---' }},
						{% else %}
							---
						{% endfor %}
					</td>
					<td>{{ itinerario.fechaInicio ? itinerario.fechaInicio|default('---'):'' }}</td>
					<td>{{ itinerario.fechaFin ? itinerario.fechaFin|default('---'):'' }}</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>
</form>
