<form id="formCheck" name="formCheck">
	<table id="tableItinerarios" class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>
					<input type="checkbox" id="check_all" value="" onclick="checkAll()" title="Marca todos los itinerarios."></th>
				<th>Código</th>
				<th>Cliente</th>
				<th>Estado</th>
				<th>Transporte</th>
				<th>Servicios</th>
				<th>Referencias</th>
				<th>Inicio</th>
				<th>Fin</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for itinerario in itinerarios %}
				<tr>
					<td>
						{% if is_granted('ROLE_ITINERARIO_ESTADO') %}
							<input type="checkbox" name="formCheck[{{ itinerario.id }}]" id="formCheck_{{ itinerario.id }}" onclick="showBtnChangeEstado(' {{ itinerario.codigo }}({{ itinerario.strEstado }})')"/>
						{% endif %}
					</td>
					<td>
						<a href="{{ path('itinerario_show', { id: itinerario.id }) }}">{{ itinerario.codigo }}</a>
						<p>
							<span class="badge bg-default">{{ itinerario.strmodoingreso }}</span>
						</p>
					</td>
					<td>{{ itinerario.empresa.nombre|default('---') }}</td>
					<td>
						<span id="span_estado_{{ itinerario.id }}" class="btn-{{ itinerario.badge[itinerario.estado] }} badge">{{ itinerario.strEstado }}</span>
					</td>
					<td>
						{% for s in itinerario.servicios %}
							{% if s.servicio.transporte is not null %}
								{{ s.servicio.transporte.nombre }},
							{% endif %}
						{% else %}
							---
						{% endfor %}
					</td>
					<td>
						{% for s in itinerario.servicios %}
							{{ s.servicio.nombre }},
						{% else %}
							---
						{% endfor %}
					</td>
					<td>
						{% for r in itinerario.pois %}
							{{ r.orden }}-{{ r.referencia.nombre }}<br/>
						{% else %}
							---
						{% endfor %}
					</td>
					<td id="fecha_inicio_{{ itinerario.id }}">{{ itinerario.fechaInicio ? itinerario.fechaInicio|date('d/m/Y H:i')|default('---') : '' }}</td>
					<td id="fecha_fin_{{ itinerario.id }}">{{ itinerario.fechaFin ? itinerario.fechaFin|date('d/m/Y H:i')|default('---') : '' }}</td>
					<td>
						{% if is_granted('ROLE_ITINERARIO_EDITAR') %}
							<a href="{{ path('itinerario_edit', { id: itinerario.id }) }}" class="btn btn-sm btn-default">
								<i class="fa fa-edit"></i>
							</a>
							{% if is_granted('ROLE_ITINERARIO_ESTADO') %}
								<a href="#" class="btn btn-sm btn-default" title="modificar estado" onclick="changeEstado('{{ itinerario.codigo }}','{{ itinerario.id }}', '{{ itinerario.estado }}', '{{ itinerario.fechaInicio|date("d/m/Y h:i") }}', '{{ itinerario.fechafin|date("d/m/Y h:i") }}')">
									<i class="fa fa-exchange"></i>
									<input type="hidden" id="btn_change_estado_badge_{{ itinerario.id }}" value="btn-{{ itinerario.badge[itinerario.estado] }}"/>
								</a>
							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</form>
