{% extends "app/Template_aker/list.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	<link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet" type="text/css" media="all"/>
	<style>
		.datepicker {
			background-color: #fff;
			color: #333;
		}
	</style>
{% endblock %}

{% block titulo %}Itinerarios
{% endblock %}

{% block informacion %}{% endblock %}

{% block contentpanel %}
	{% include "monitor/Itinerario/popup_estado.html.twig" %}
	{% include "app/Template_aker/popup_load.html.twig" %}


	<div class="panel">
		<div class="panel-heading">
			<div class="panel-title">Filtro</div>
			<div class="panel-actions">
				<a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
				<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
			</div>
		</div>
		<div class="panel-body bg-primary">
			<input
			type="hidden" name="vista" id="vista" value="list">
			{# lo uso para el response de cambio de estado#}
			<form method="POST" id="formHistItinerario" class="form-horizontal">
				<div class="row">
					<div class="col-md-2">{{ form_widget(form.fecha_desde) }}</div>
					<div class="col-md-2">{{ form_widget(form.fecha_hasta) }}</div>
					<div class="col-md-2">{{ form_widget(form.estado) }}</div>
					{% if form.servicio is defined %}
						<div class="col-md-2">{{ form_widget(form.servicio) }}</div>
					{% endif %}
					{% if form.tipoServicio is defined %}
						<div class="col-md-2">{{ form_widget(form.tipoServicio) }}</div>
					{% endif %}
					{% if form.transporte is defined %}
						<div class="col-md-2">{{ form_widget(form.transporte) }}</div>
					{% endif %}
				</div>
				<div class="row">
					{% if form.satelital is defined %}
						<div class="col-md-2">{{ form_widget(form.satelital) }}</div>
					{% endif %}
					{% if form.empresa is defined %}
						<div class="col-md-2">{{ form_widget(form.empresa) }}</div>
					{% endif %}
					{% if form.codigo is defined %}
						<div class="col-md-2">
							{{ form_widget(form.codigo) }}</div>
					{% endif %}
					<div class="col-md-2">
						<div class="control-group ">
							<label class="control-label"></label>
							<div class="controls ">
								<button type="button" class="btn btn-default" id="consular">Consultar</button>

							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

	</div>

	<div class="panel">
		<div class="panel-body">
			<div id="tablaItinerarios">
				{% include "monitor/Itinerario/itinerarios.html.twig" with {'itinerarios': itinerarios } %}
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	{{ parent() }}
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

	<script type="text/javascript">{% include "monitor/Itinerario/list.js" %}</script>
	<script type="text/javascript">{% include "monitor/Itinerario/popup_estado.js" %}</script>
{% endblock %}
