<div class="main-body">
	<div class="row">
		<div class="col-lg-6">
			<div class="card">
				<div class="card-body">
					<div class="d-flex flex-column align-items-center text-center">
						<div class="mt-3">
							<p class="text-secondary mb-1">{% include "monitor/Itinerario/show_estado.html.twig" with {'itinerario': itinerario} %}</p>
							<h4>{{ itinerario.codigo }}</h4>
							<p class="text-muted font-size-sm">Cliente:
								{{ itinerario.empresa ? itinerario.empresa.nombre :'---' }}
								-
																								Logistica:
								{{ itinerario.logistica ? itinerario.logistica.nombre :'---' }}</p>
							<div class="label label-default">
								Inicio:
								{{ itinerario.fechaInicio|date('d/m/Y H:i')|default('---') }}</div>
							<div class="label label-default">
								Fin:
								{{ itinerario.fechaFin|date('d/m/Y H:i')|default('---') }}</div>
							<p>{{itinerario.nota|raw}}</p>
						</div>
						<hr class="my-4">
						<div id="tableServicios_main">
							{% include "monitor/Itinerario/servicios.html.twig" with {'servicios': itinerario.servicios } %}
						</div>
						<hr class="my-4">
						{% include "monitor/Itinerario/comentarios.html.twig" with {'comentatios': comentarios } %} {# filtrar en el controller comentarios de bitacora#}
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card">
				<div class="card-body">
					<div id="tableReferencias_main">
						{% if pois|length > 0%}
							{% include "monitor/Itinerario/referencias_main.html.twig" with {'pois': pois} %}
						{% else %}
							<h2 class="label label-default">
								No hay Puntos de interés</h2>

						{% endif %}

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
