<div class="main-body">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div id="timeline" class="d-flex flex-column align-items-center text-center">
                        {% include "monitor/Itinerario/timeline.html.twig" with {'comentatios': comentarios } %}
                    {# filtrar en el controller comentarios de bitacora#}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body" style="margin-top: 30px;">
                    <div  class="d-flex flex-column align-items-center text-center">
                        {{ mapa.renderHtml()|raw }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
