{% extends "app/Template_aker/form.html.twig" %}

{% form_theme form 'app/Form/calypso_fields.html.twig' %}
{% form_theme formServicio 'app/Form/calypso_fields.html.twig' %}
{% form_theme formReferencia 'app/Form/calypso_fields.html.twig' %}
{% form_theme formContacto 'app/Form/calypso_fields.html.twig' %}
{% form_theme formUsuario 'app/Form/calypso_fields.html.twig' %}
{% form_theme formCustodio 'app/Form/calypso_fields.html.twig' %}
{% form_theme formEvento 'app/Form/calypso_fields.html.twig' %}


{% block titulo %}
	{{ organizacion }}
{% endblock %}
{% block formulario %}

<style>
.form-tabla-ref{
	font-size: 12px;
	height:30px;
	width: 70px;
	float:left;
}
.form-tabla-ref-btn{
	width: 30px;

}
</style>
{% include "monitor/Itinerario/popup_horario.html.twig" %}
{% embed "app/Template_aker/panel_form.html.twig" %}
	{% block titulo %}
		Nuevo Itinerario
	{% endblock %}
	{% block cuerpo %}
		{% include "app/Template_aker/popup_load.html.twig" %}

		<div class="row-fluid" id="form">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="#step-1">
						<div class="num">1</div>
						Datos
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#step-2">
						<span class="num">2</span>
						Servicios
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#step-3">
						<span class="num">3</span>
						Puntos de Interés
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="#step-4">
						<span class="num">4</span>
						Eventos
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="#step-5">
						<span class="num">5</span>
						Usuarios
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="#step-6">
						<span class="num">6</span>
						Confirmación
					</a>
				</li>
			</ul>
			<div class="tab-content" style="height: 100%;">
				<div>{{ form_errors(form) }}</div>
				<div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
					<form id="formItinerario" class="form-horizontal" method="POST">
						{% include "monitor/Itinerario/new_main.html.twig" with {'from': form } %}
					</form>
				</div>
				<div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
					<div class="col-md-12">
						{% include "monitor/Itinerario/new_servicios.html.twig" with {'formServicio':formServicio } %}
					</div>
					<div style="padding-top: 20px;;" class="col-md-12">
						{% include "monitor/Itinerario/new_custodios.html.twig" with {'formCustodio':formCustodio } %}
					</div>
				</div>
				<div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
					{% include "monitor/Itinerario/new_referencias.html.twig" with {'formReferencia':formReferencia } %}
				</div>
				<div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
					<div class="col-md-6">
						{% include "monitor/Itinerario/new_eventos.html.twig" with {'formEvento':formEvento } %}
					</div>
					<div class="col-md-6">
						{% include "monitor/Itinerario/new_contactos.html.twig" with {'formContacto': formContacto} %}
					</div>
				</div>
				<div id="step-5" class="tab-pane" role="tabpanel" aria-labelledby="step-5">
					{% include "monitor/Itinerario/new_usuarios.html.twig" with {'formUsuario': formUsuario} %}
				</div>
				<div id="step-6" class="tab-pane" role="tabpanel" aria-labelledby="step-6">
					{% include "monitor/Itinerario/new_confirmacion.html.twig"  %}
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}


{% block js %}
	{{ parent() }}
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
	
	<script type="text/javascript">
		{% include "app/Template_aker/template-flash.script.js" %}</script>
	
	<script type="text/javascript">
		$("table").on("click", "tr > td > button.up", function () {
			var row = $(this).parent().parent();
			if (row.prev().prev().get(0)) {
				row.prev().before(row);
				reorder();
				setClockPoi();
			}
		});
		$("table").on("click", "tr > td > button.down", function () {
			var row = $(this).parent().parent();
			row.next().after(row);
			reorder();
			setClockPoi();
		});
		{% include "monitor/Itinerario/new.js" %}

		function cargarSelectChofer(id, chof){
			if(chof !== 0){
				const choferes =  Object.values(chof);
					choferes.forEach(function (chofer, index) {
						var ch = chofer[index];
							$('#chofer_'+id).select2({
								placeholder: 'Seleccione Chofer',
								allowClear: true,
								width: '100%' ,
								data: chofer,
								escapeMarkup: function(markup) {
									return markup;
								},
								templateResult: function(ch) {
									return ch.html;
								},
								templateSelection: function(ch) {
									return ch.text;
								}
							});
					
						
					});		
			}else{
				$('#chofer_'+id).select2();
			}	
				
    }

		function crearTablaServicio(id,nombre,indice) {

			$('#tabla_servicio tr:last').after(
				'<tr id="' + id + '">' +
				'<td class="col-md-2" id="nombre_' + id + '">' + nombre + '</td>' +
				'<td class="col-md-1">' + '<div class="control-group ">' +
				'<label class="control-label" for="nro_contenedor">Contenedor</label>' +
				'<div class="controls">' +
				'<input type="text" class="form-control" id="nro_contenedor_' + id + '" name="nro_contenedor"></div>'
				+ '</td>' +
				'<td class="col-md-1">' + '<div class="control-group ">' +
				'<label class="control-label" for="bill">Nro. Bill</label>' +
				'<div class="controls">' +
				'<input type="text" class="form-control" id="bill_' + id + '" name="bill"></div>'
				+ '</td>' +
				'<td class="col-md-2">' + '<div class="control-group ">' +
				'<label class="control-label" for="bill">Patente Acop</label>' +
				'<div class="controls">' +
				'<input type="text" class="form-control" id="patente_acoplado_' + id + '" name="patente_acoplado"></div>'
				+ '</td>' +
				'<td class="col-md-2">' + '<div class="control-group ">' +
				'<label class="control-label" for="bill">Chofer</label>' +
				'<div class="controls">' +
				'<select id="chofer_' + id + '"></select>' +
				'</div>'
				+ '</td>' +
				'</tr>'
			);

			return;

		}

		function crearTablaReferencia(id, nombre, rowCount){
			    $('#tabla_referencia tr:last').after(
					'<tr  id="' + id + '">' +
					'<td id="orden_' + id + '">' + rowCount + '</td>' +
					'<td id="nombre_' + id + '">' + nombre + '</td>' +
					'<td id="arribo_' + id + '" style="width:20%; font-weight: bold;">Arribo</td>' +
					'<td id="salida_' + id + '" style="width:20%; font-weight: bold;">Salida</td>' +
					'<td style="width:10%;"><select  id="stopType_' + id + '"class="form-tabla-ref form-control">'+
					'<option value="0">Tipo</option>'+
					'<option value="P">Pick</option>'+
					'<option value="D">Drop</option>'+
					'</select></td>' +
					'<td><button class="form-tabla-ref form-tabla-ref-btn"><i class="fa fa-arrow-up"></i></button>' +
					'<button class="form-tabla-ref form-tabla-ref-btn"><i class="fa fa-arrow-down"></i></button>' +
					'<button class="form-tabla-ref form-tabla-ref-btn" onclick="setFecha(' + id + ');"><i class="fa fa-clock-o"></i></button>' +
					'</td></tr>'
       			);
				return;
		}

	    {% if data is defined %}
			$('#itinerario_codigo').val('(Copia) ' + '{{template.nombre}}');

			{% for key,row in data %}
				{% if key == 'logistica' and row is not null %}
					$('#itinerario_logistica option[value={{row.id}}]').prop('selected', 'selected').change();
				{% endif %}

				{% if key == 'cliente' and row is not null  %}
					$('#itinerario_empresa option[value={{row.id}}]').prop('selected', 'selected').change();
				{% endif %}

				{% if key == 'nota' and row is not null  %}
					$('#itinerario_nota').val('{{row|raw}}');
				{% endif %}

				{% if key == 'custodios' and row is not null %}
					{% for custodio in data.custodios %}
					    $('#custodio_custodio option[value="{{custodio.val_select}}"]').prop('selected', 'selected').change();
					{% endfor %}
				{% endif %}
				
				{% if key == 'servicios' and row is not null %}
					{% for servicio in data.servicios %}
					    $('#servicio_servicio option[value="{{servicio.val_select}}"]').prop('selected', 'selected').change();
						var nombre = "{{servicio.val_select}}";
        				var indice = nombre.indexOf("-");
        				var id = nombre.substring(0, indice - 1);
						
						crearTablaServicio(id,nombre,indice);
						
						 var request = $.ajax({
							type: 'POST',
							url: "{{ path('itinerario_getchoferes') }}",
							data: {
							'id': id // id servicio      
							},
							dataType: "json",
							// async: true,
							beforeSend: function () {
							
							}
						});

						request.done(function (respuesta) {
							cargarSelectChofer(respuesta.id,respuesta.choferes);
							$("#chofer_"+respuesta.id).val("{{servicio.chofer != null ? servicio.chofer.id : ''}}").trigger("change");
							
						});

					
						$('#nro_contenedor_'+id).val('{{servicio.nro_contenedor}}');
						$('#bill_'+id).val('{{servicio.nro_bill}}');
						$('#patente_acoplado_'+id).val('{{servicio.patente_acoplado}}');
						$('#chofer_'+id + ' option[value="{{servicio.chofer.id}}"]').prop('selected', 'selected').change();

					{% endfor %}
				{% endif %}			
				
				{% if key == 'contactos' and row is not null %}
					{% for contacto in data.contactos %}
					    $('#contactos_contacto option[value="{{contacto.val_select}}"]').prop('selected', 'selected').change();
					{% endfor %}
				{% endif %}

				{% if key == 'usuarios' and row is not null %}
					{% for usuario in data.usuarios %}
					    $('#usuario_usuario option[value="{{usuario.val_select}}"]').prop('selected', 'selected').change();
					{% endfor %}
				{% endif %}

				{% if key == 'eventos' and row is not null %}
					{% if row.pois is defined and row.pois == 1%}
						$( "#eventos_pois" ).prop( "checked", true );
					{% endif %}
					{% if row.panico is defined and row.panico == 1%}
						$( "#eventos_panico" ).prop( "checked", true );
					{% endif %}
					{% if row.detencion is defined and row.detencion > 0%}
						$( "#eventos_detencion" ).prop( "checked", true );
						$( "#eventos_detencion_tiempo" ).val("{{row.detencion}}");
					{% endif %}
				{% endif %}
				{% if key == 'referencias' and row is not null %}
					{% for referencia in data.referencias %}
					    $('#referencia_referencia option[value="{{referencia.id}}"]').prop('selected', 'selected').change();
						crearTablaReferencia({{referencia.id}}, '{{referencia.nombre}}', {{referencia.orden}});
					
					{% endfor %}
				{% endif %}			
				
				
			{% endfor %}
	    {% endif %}



	</script>

{% endblock %}