<div class="col-md-6">
	{{ form_widget(form.codigo) }}
	{{ form_widget(form.nota) }}
</div>
<div class="col-md-6">
	<div class="row">
		<div class="col-md-6">
			{{ form_widget(form.fechaInicio) }}
		</div>
		<div class="col-md-6">
			{{ form_widget(form.fechaFin) }}
		</div>
	</div>
	{% if userlogin.logistica == null %}
		{{ form_widget(form.logistica) }}
	{% endif %}
	{{ form_widget(form.empresa) }}

	
	{{ form_widget(form._token) }}
</div>
