<div class="row-fluid">
	<div class="alert alert-info">
		<strong>Los eventos que selecciones</strong>, serán los que tendrá en cuenta el sistema para generar notificaciones a los contactos.
	</div>
	<form id="formEvento" class="form-horizontal form-bordered" method="POST">
		<div class="row">
			<div
				class="col-md-12">
				<!-- panico -->
				<div class="form-group">
					<label class="col-md-6 control-label" for="inputDefault">Activación de Pánico</label>
					<div class="col-md-6" style="padding-top: 7px;">
						<div id="panico">
							<input type="checkbox" id="eventos_panico" name="eventos[panico]" value="1">
						</div>
					</div>
				</div>
				<!-- E/S pois -->
				<div class="form-group">
					<label class="col-md-6 control-label" for="inputDefault">Entrada/Salida de Puntos de Interés</label>
					<div class="col-md-6" style="padding-top: 7px;">
						<div id="pois">
							<input type="checkbox" id="eventos_pois" name="eventos[pois]" value="1">
						</div>
					</div>
				</div>


				<!-- Exceso de velocidad -->
				<div class="form-group">
					<label class="col-md-6 control-label" for="inputDefault">Exceso de velocidad</label>
					<div class="col-md-6" style="padding-top: 7px;">
						<input disabled="" type="checkbox" id="eventos_exceso" name="eventos[exceso]" value="1">
					</div>
				</div>
				<!-- Sensores -->
				<div class="form-group">
					<label class="col-md-6 control-label" for="inputDefault">Activación de sensores</label>
					<div class="col-md-6" style="padding-top: 7px;">
						<input  type="checkbox" id="eventos_sensores" name="eventos[sensores]" value="1">
					</div>
				</div>
				<!-- detencion -->
				<div class="form-group">
					<label class="col-md-6 control-label">Detención</label>
					<div class="col-md-6">
						<div id="detencion">
							<div class="input-group mb-md">
								<span class="input-group-addon">
									<input type="checkbox" id="eventos_detencion" name="eventos[detencion]" value="1">
								</span>
								<input type="number" class="form-control" id="eventos_detencion_tiempo" name="eventos[detencion_tiempo]" min="1" value="20">
							</div>
						</div>
					</div>
				</div>
				<!-- falta de reporte -->
				<div class="form-group">
					<label class="col-md-6 control-label">Falta de reporte</label>
					<div class="col-md-6">
						<div class="input-group mb-md">
							<span class="input-group-addon">
								<input disabled="" type="checkbox" id="eventos_reporte" name="eventos[reporte]" value="1">
							</span>
							<input disabled="" type="number" class="form-control" id="eventos_reporte_tiempo" name="eventos[reporte_tiempo]" min="1" value="5">
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
