<div class="col-md-12" style="text-align: center;">

	<section class="panel">
		<header class="panel-heading bg-white">
			<h3 class="text-weight-semibold mt-none text-center">Se creará un nuevo itinerario</h3>
			<p class="text-center">Verifique que todos los datos sean correctos antes de crear el itinerario.</p>
		</header>
		<div class="panel-body">
			<div class="col-md-6">
				<section class="panel">
					<div class="panel-body">
						<table class="table table-condensed">
							<tr>
								<td>
									<strong>Código</strong>
								</td>
								<td>
									<div id="resumen_codigo"></div>
								</td>
							</tr>
							<tr>
								<td>
									<strong>Inicio</strong>
								</td>
								<td>
									<div id="resumen_inicio"></div>
								</td>
							</tr>
							<tr>
								<td>
									<strong>Fin</strong>
								</td>
								<td>
									<div id="resumen_fin"></div>
								</td>
							</tr>
							<tr>
								<td>
									<strong>Cliente</strong>
								</td>
								<td>
									<div id="resumen_cliente"></div>
								</td>
							</tr>
							<tr>
								<td>
									<strong>Logística</strong>
								</td>
								<td>
									<div id="resumen_logistica"></div>
								</td>
							</tr>
						</table>
					</div>
				</section>
			</div>
			<div class="col-md-6">
				<section class="panel">
					<div class="panel-body">
						<table class="table table-condensed">
							<tr>
								<td>
									<strong>Servicios</strong>
								</td>
								<td>
									<div id="resumen_servicios"></div>
								</td>
							</tr>
							<tr>
								<td>
									<strong>Custodios</strong>
								</td>
								<td>
									<div id="resumen_custodios"></div>
								</td>
							</tr>
							<tr>
								<td>
									<strong>Puntos de interés</strong>
								</td>
								<td>
									<div id="resumen_puntos"></div>
								</td>
							</tr>
							<tr>
								<td>
									<strong>Constactos</strong>
								</td>
								<td>
									<div id="resumen_contactos"></div>
								</td>
							</tr>
							<tr>
								<td>
									<strong>Usuarios</strong>
								</td>
								<td>
									<div id="resumen_usuarios"></div>
								</td>
							</tr>
						</table>
					</div>
				</section>
			</div>

			{% if data is not defined  and is_granted("ROLE_TEMPLATE_ITINERARIO_AGREGAR") %}			
				<div class="col-md-12 alert alert-warning">
					<strong>Crear Template de este itinerario?</strong>,
					<p>Puede crear un template, guardando los datos del itinerario, para luego la carga sea más ágil.</p>

					<div class="controls">
						<input type="checkbox" class="form-control" id="itinerario_template" name="itinerario[template]">
					</div>
					<div class="control-group " id="div_template_nombre">
						<label class="control-label" for="itinerario_template_nombre">
							Nombre del Template
							<div title="Dato Obligatorio" style="color: red; display: inline">
								*
							</div>
						</label>
						<div class="controls">
							<input type="text" class="form-control" id="itinerario_template_nombre" name="itinerario[template_nombre]" required="required">
						</div>

					</div>
				</div>
			{% endif %}

		</div>


		<p class="text-center">
			<input type="button" class="btn btn-primary" id="btnNewItinerario" value="Crear"/>
			<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
		</p>
	</section>
</div>
