<div class="row-fluid">
	<div class="alert alert-info">
		<strong>Los contactos que selecciones</strong>, serán las personas a las que se le notificarán los eventos que sucedan a los servicios de este itinerario.
	</div>
	<form id="formContacto" class="form-horizontal" method="POST">
		{{ form_widget(formContacto.contacto) }}
	</form>
</div>
