<div class="row-fluid">
    <div class="alert alert-info">
        <strong>Los custodios que selecciones</strong>, serán los vehículos que brindarán custodia a los vehículos del itinerario.
                                    
    </div>
    
        <form id="formCustodio" class="form-horizontal" method="POST">
                {{ form_widget(formCustodio.custodio) }}
                                    
        </form>
     
 </div>