<div class="row-fluid">
	<div class="col-md-4">
		<div class="alert alert-info">
			<strong>Los puntos de interés que selecciones</strong>, serán las referencias en el mapa que creas importantes para el desarrollo de este itinerario
		</div>
		<form id="formReferencia" class="form-horizontal" method="POST">
			{{ form_widget(formReferencia.referencia) }}
		</form>
	</div>
	<div class="col-md-8">
		<div class="alert alert-info">
			<strong>Ordena tus puntos de interés</strong>, y coloca las fechas de arribo y salida. 
		</div>
		<table class="table table-condensed table-hover" id="tabla_referencia">
			<thead>
				<tr>
				


				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
