<div class="row-fluid">							
   	<div class="alert alert-info">
		<strong>Los usuarios que selecciones</strong>, son personas que podrán ver y en algunos casos administrar este itinerario.
	</div>
	<form id="formUsuario" class="form-horizontal" method="POST">
		{{ form_widget(formUsuario.usuario) }}
	</form>
</div>