<div class="row-fluid">
	<div class="col-md-4">
		<div class="alert alert-info">
			<strong>Los servicios que selecciones</strong>, serán los vehículos que serán destinados al trabajo de este itinerario.
		</div>
		<form id="formServicio" class="form-horizontal" method="POST">
			{{ form_widget(formServicio.servicio) }}
		</form>
	</div>
	<div class="col-md-8">
		<div class="alert alert-info">
			<strong>Completá los datos del servicio</strong>.
		</div>
		<table class="table table-condensed table-hover" id="tabla_servicio">
			<thead>
				<tr></tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
