<div class="modal fade" id="modalNewReferencia" role="dialog" aria-labelledby="modalProductoLabel" data-modal-index="2000" style="display: none;overflow-y: auto;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Alta de Referencia</h4>
			</div>
			<div class="modal-body">
				<form id="formReferenciaNew" class="form-horizontal" method="POST">
					<div class="row">
						<div class="col-md-6">
							{{ form_widget(formReferenciaNew.nombre) }}
							{{ form_widget(formReferenciaNew.ref_ciudad) }}
							{{ form_widget(formReferenciaNew.ref_provincia) }}
							{{ form_widget(formReferenciaNew.codigoExterno) }}
							{{ form_widget(formReferenciaNew.pathIcono) }}
							<div class="control-group ">
								<label class="control-label" for="referencia_direccion">
									Ícono
								</label>
								<div class="controls">
									<img id="mostrar-icono" class="logo-small" src=""/>
									<a class="btn btn-sm btn-success" href="#modalIcono" data-toggle="modal">Seleccionar Icono</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							{{ form_widget(formReferenciaNew.direccion) }}
							{{ form_widget(formReferenciaNew.latitud) }}
							{{ form_widget(formReferenciaNew.longitud) }}
							{{ form_widget(formReferenciaNew.radio) }}
							{# {{ form_widget(formReferenciaNew.descripcion) }} #}
							{{ form_widget(formReferenciaNew._token) }}
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="btnReferenciaNew" type="button" class="btn btn-primary">Agregar</button>
				<a href="#" data-dismiss="modal" class="btn">Cancelar</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('document').ready(function () {
$("#referencia_descripcion").summernote({tabsize: 1, height: 100});
});
</script>
