<!-- Modal -->
<div class="modal fade" id="modalEventoItinerario" role="dialog" aria-labelledby="modalEventoLabel" data-modal-index="-100">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Agregar eventos del itinerario</h4>
			</div>
			<div class="modal-body">
				<div id="modal-body-producto">				
					{% include "monitor/Itinerario/new_eventos.html.twig" with {'formEvento': formEvento} %}
				</div>
			</div>
			<div class="modal-footer">
				<button id="btnEventoAdd" type="button" class="btn btn-primary">Agregar</button>
				<button id="btnCancelar" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
