<div class="modal fade" id="modalNewComentario" tabindex="-1" role="dialog" aria-labelledby="modalNewComentarioLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div id="modal_comentario_new">
					<div class="alert alert-info">
						<p>Los comentarios se utilizan para dejar un registro manual por el operario de algún acontecimiento que suceda en el itinerario</p>
						<h4 id="nombreItinerario"></h4>
						</div>
					<fieldset>
						<div class="row-fluid row-show">
							<div class="column-show">
								<textarea id="comentario_respuesta" name="comentario[respuesta]" required="required" class="form-control"></textarea>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="modal-footer">
				<input type="button" class="btn btn-primary" id="btnNewComentario" value="Grabar"/>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
