<!-- Modal -->
<div id="modalHorario" class="modal fade"  role="dialog" aria-labelledby="modalHorarioLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Horarios</h4>
            </div>
            <div class="modal-body">
                {% if itinerario is defined %}
                  <p>Seleccione las referencias que desee agregar al itinerario <b>{{ itinerario.codigo }}</b>.</p>
                {% endif %}
                <div id="modal-body-horario">
                    <form id="formHorario" class="form-horizontal">
                        <div class="control-group ">
                            <label class="control-label" for="horario_arribo">Arribo estimado</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="horario_arribo" name="horario[arribo]">
                            </div>    
                        </div>
                        <div class="control-group ">
                            <label class="control-label" for="horario_partida">Partida estimada</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="horario_partida" name="horario[partida]">
                            </div>    
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                {#<a data-toggle="modal" href="#modalHorario2" class="btn btn-success pull-left" title="Agrega un horario al deposito">Nuevo mecánico</a>#}
                <button id="btnHorarioAdd" type="button" class="btn btn-primary" >Grabar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>  
