<!-- Modal -->
<div class="modal fade" id="modalServicio" role="dialog" aria-labelledby="modalContactoLabel" data-modal-index="-100">
	<div style="width: 80%" class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="col-md-12">
				<div class="modal-header">

					<h4 class="modal-title" id="myModalLabel">Agregar servicios al itinerario</h4>
				</div>
				<div class="modal-body">
					<div id="modal-body-producto">
						{% include "monitor/Itinerario/new_servicios.html.twig" with {'formServicio':formServicio } %}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="btnServicioAdd" type="button" class="btn btn-primary">Agregar</button>
				<button id="btnCancelar" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
