<div class="modal fade" id="modalEstado" role="dialog" aria-labelledby="modalEstadoLabel" data-modal-index="-100">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Modificar estado de itinerario</h4>
      </div>
      <div class="modal-body" style="height: 450px;">
        <div id="modal-body-producto">
          <div class="alert alert-info">
            <strong><div id="estado_old"></div></strong>
            <p>Los itinerarios seleccionados cambiaran de estado. seleccione un nuevo estado:</p>
            <h4 id="estado_itinerario_nombre"></h4>
          </div>
          <form method="POST" id="formEstado" class="form-horizontal">
            <div class="row-fluid">
              <div class="col-md-12">
                <div class="control-group">
                  <label class="control-label" for="estado">Estado Nuevo</label>
                  <div class="controls">
                    <select class="form-control" id="estado" name="estado">
                      {% for key, value in itinerario.arrayStrEstado %}
                          <option value="{{ value }}">{{ key }}</option> {# que no apareza el estado nuevo, nuenca volvería a nuevo #}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="control-group" id="divFecha" style="margin-top: 10px;">
                  <div style="margin-bottom: 5px;" id="labelFecha" for="fecha">Fecha</div>
                  <div class="controls">
                    <input type="text" class="form-control" id="fecha" name="fecha" required="required" />
                  </div>
                </div>
              </div>
       
              <div class="col-md-12">
                 <div  class="alert alert-info" id="implantado-div" style="display:none;">
                    Cuando se coloque el itinerario en estado de implantado hay eventos que desajarán de funcionar. 
                </div>
                <div class="control-group">
                  <label class="control-label" for="nota">Comentario</label>
                  <div class="controls">
                    <textarea class="form-control" rows="8" type="textarea" id="nota" name="nota"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <br /><br />
        </div>
      </div>
      <div class="modal-footer">
        <button id="btnEstadoModificar" type="button" class="btn btn-primary">Modificar</button>
        <button id="btnCancelar" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
