<!-- Modal -->
<div id="modalReferencia" class="modal fade bd-example-modal-lg" role="dialog" aria-labelledby="modalReferenciaLabel" aria-hidden="true" style="display: none;">
	<div style="width: 1000px;" class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="col-md-12">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Punto de interés</h4>
				</div>
				<div class="modal-body">
					{% include "monitor/Itinerario/new_referencias.html.twig" with {'formReferencia':formReferencia } %}
				</div>
			</div>
			<div class="modal-footer">
				{#<a data-toggle="modal" href="#modalReferencia2" class="btn btn-success pull-left" title="Agrega un mecanico al deposito">Nuevo mecánico</a>#}
				<button id="btnReferenciaAdd" type="button" class="btn btn-primary">Agregar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
