<!-- Modal -->
<div id="modalReferencia" class="modal fade bd-example-modal-lg" role="dialog" aria-labelledby="modalReferenciaLabel" aria-hidden="true" style="display: none;">
	<div  class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="col-md-12">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Punto de interés</h4>
				</div>
				<div class="modal-body">
					<div class="row-fluid">
						<div class="alert alert-info">
							<strong>Los puntos de interés que selecciones</strong>, serán las referencias en el mapa que creas importantes para el desarrollo de este itinerario
						</div>
						<form id="formReferencia" class="form-horizontal" method="POST">
							{{ form_widget(formReferencia.referencia) }}
							<div id="ciudadReferencia">
							<label id="labFaltanDatos" style="color:red;">* Este pundo de interés no tiene cargado la ciudad o la provincia.</label>
							{{ form_widget(formReferencia.ciudad) }}
							</div>
							<div id="provinciaReferencia">
							{{ form_widget(formReferencia.provincia) }}
							<label>* Datos extraídos del archivo importado.</label>
							</div>
						</form>

					</div>
				</div>
			</div>
			<div
				class="modal-footer">
				 <a  data-toggle="modal" href="#modalNewReferencia" class="btn btn-success pull-left" >Nueva Referencia</a>
				<button id="btnReferenciaAdd" type="button" class="btn btn-primary">Agregar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
