{% extends "app/Template_aker/list.html.twig" %}
{# {% form_theme form 'app/Form/calypso_fields.html.twig' %} #}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	<link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet" type="text/css" media="all"/>
	<style>
		.datepicker {
			background-color: #fff;
			color: #333;
		}
	</style>
{% endblock %}

{% block titulo %}Resumen de importación
{% endblock %}

{% block informacion %}{% endblock %}

{% block contentpanel %}
	{% include "app/Template_aker/popup_load.html.twig" %}

	<div class="panel">
		<div class="panel-body">
			<div class="row-fluid">
				<div class="alert alert-warning">
					<strong>Importación de Itinerarios!</strong>
					Seleccione los itinerarios y realice la importación desde este botón.
					<button id="btnImport" type="button" class="alert-link btn btn-default">Procesar</button>
					<a href="{{path('itinerario_list',{'idOrg':organizacion.id})}}" id="btnFin" type="button" class="btn btn-success">Terminar</a>
				</div>

			</div>
			
			<div id="tablaItinerarios">
				{% include "monitor/Itinerario/itinerarios_preimport.html.twig" with {'itinerarios': data} %}
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	{{ parent() }}
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript">
	
	{% include "monitor/Itinerario/pre_import.js" %}

	$(document).ready(function () {
			$("#btnFin").hide();
			{% for itinerario in data %}
				document.getElementById("{{itinerario.codigo}}").checked = true;
			{% endfor %}


	});
	function accion(codigo){
		if($('#'+codigo).is(':checked')) {
			$(this).prop('checked',true);
		} else {
			$(this).prop('checked',false);
	}

		

	}
	$('#btnImport').click(function () {
		  $("#modalLoad").modal({ backdrop: 'static', keyboard: false });
			{% for itinerario in data %}
				if($('#'+'{{itinerario.codigo}}').is(':checked')) { // recorro todos los itinerarios y verifico que este check, si es asi lo mando al back
					procesar('{{itinerario.codigo}}',
					'{{itinerario.empresa ?itinerario.empresa.id }}',
					'{{itinerario.servicio ? itinerario.servicio.id}}',
					'{{itinerario.fechaInicio ? itinerario.fechaInicio : "" }}',
					'{{itinerario.fechaFin ? itinerario.fechaFin : "" }}',
					'{{itinerario.idsRef|json_encode() }}',
					'{{itinerario.nota}}'				
					);
				}
			
		    {% endfor %}
		  $("#modalLoad").modal('hide');
		  $("#btnImport").hide();
		  $("#btnFin").show();
	});


	</script>

{% endblock %}
