<style>
.form-tabla-ref{
	font-size: 12px;
	height:30px;
	width: 70px;
    margin-right: 5px;
	float:left;
}
</style>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>
                Orden
            </th>
            <th>
                Nombre
            </th>
            <th>
                Tipo
            </th>
            <th>
                Arribo Estimado
            </th>
            <th>
                Salida Estimada
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ref in pois %}
            {% if ref.color is defined  and ref.label is defined %}
                <tr>
                    <td>
                        {{ ref.poi.orden }}
                    </td>
                    <td>
                        {{ ref.poi.referencia.nombre }}
                    </td>
                    <td>
                        {{ ref.poi.stopType  != null ?  ref.poi.stopType == 'P'? 'Pick': 'Drop' : '' }}
                    </td>
                    <td style="background-color: {{ ref.color }}; font-weight: bold;" title="{{ ref.label }}">
                        {{ ref.poi.fechaIngreso ? ref.poi.fechaIngreso|date('d/m/Y H:i') : '' }}
                    </td>
                    <td style="background-color: {{ ref.color }}; font-weight: bold;" title="{{ ref.label }}">
                        {{ ref.poi.fechaEgreso ? ref.poi.fechaEgreso|date('d/m/Y H:i') : '' }}
                    </td>
                    <td>
                        {% if ref.poi.orden > 1 %}{% endif %}
                        <button class="btn btn-sm" type="button" id="referencia_up_{{ ref.poi.id }}" onClick="referenciaUp({{ ref.poi.id }})" {{ ref.poi.orden == 1 ? 'disabled=true' : '' }}>
                            <i class="fa fa-arrow-up"></i>
                        </button>
                        <button class="btn btn-sm" type="button" id="referencia_down_{{ ref.poi.id }}" onClick="referenciaDown({{ ref.poi.id }})" {{ ref.poi.orden == ref.poi.itinerario.pois|length ? 'disabled=true' : '' }}>
                            <i class="fa fa-arrow-down"></i>
                        </button>
                    </td>
                    <td>
                        <select id="stopType_{{ ref.poi.id }}" onchange="changeStopType({{ ref.poi.id }})" class="form-tabla-ref form-control">
                            <option value="0" {{ref.poi.stopType == null ? 'selected' : ''}}>
                                Tipo
                            </option>
                            <option value="P" {{ref.poi.stopType == 'P' ? 'selected' : ''}}>
                                Pick
                            </option>
                            <option value="D" {{ref.poi.stopType == 'D' ? 'selected' : ''}}>
                                Drop
                            </option>
                        </select>
                        <button class="btn btn-sm" type="button" id="referencia_edit_{{ ref.poi.id }}" onClick="referenciaClock({{ ref.poi.id }})">
                            <i class="fa fa-clock-o"></i>
                            Horarios
                                                    
                        </button>
                        <button class="btn btn-sm" type="button" id="referencia_del_{{ ref.poi.id }}" onClick="referenciaDel({{ ref.poi.id }})">
                            <i class="fa fa-minus-circle" title="Elimina la referencia del itinerario"></i>
                            Retirar
                                                    
                        </button>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
