<ul class="list-unstyled search-results-list">
	{% for ref in pois %}
		{% if ref.color is defined  and ref.label is defined %}

			<li style="padding-bottom:0px;margin-bottom:0px;">
				<p class="result-type">
					<span class="label label-primary">Punto de interés
						{{ref.poi.orden }}</span>
				</p>
				<a href="" class="has-thumb">
					<div class="result-thumb" style="float:left;">
						<i class="img-circle fa fa-map-marker"></i>
					</div>
					<div class="result-data" style="text-align:center;">
						<p class="h4 title text-default" style="margin-top:5px;">{{ ref.poi.referencia.nombre}}</p>
						<p class="description">
							<div class="label label-default"  style="background-color: {{ref.color}}; title="{{ref.label}}">
									{{ ref.poi.fechaIngreso ? ref.poi.fechaIngreso|date('d/m/Y H:i') : '----' }}
							</div>
							 &nbsp;
							<div class="label label-default"  style="background-color: {{ref.color}}; title="{{ref.label}}">
									{{ ref.poi.fechaEgreso ? ref.poi.fechaEgreso|date('d/m/Y H:i') : '----' }}
							</div>
						</p>
					</div>
				</a>
			</li>
		{% endif %}
	{% endfor %}

</ul>
