<table class="table table-condensed" id="tablaServicio">
	<thead>
		<tr>
			<th class="col-md-1">Nombre</th>
			<th class="col-md-1">Chofer</th>
			<th class="col-md-1">Acoplado</th>
			<th class="col-md-1">Nro. Contenedor</th>
			<th class="col-md-1">Bill</th>
			<th class="col-md-1">Estado</th>
			<th class="col-md-1">Último Reporte</th>
			<th class="col-md-1">Transporte</th>
			<th class="col-md-1">Satelital</th>
			<th class="col-md-1">Sentido</th>
			<th class="col-md-1">Dirección</th>
			<th class="col-md-1">Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% for servIt in servicios %}
			<tr>
				<td>{{ servIt.servicio.nombre}}</td>
				<td>{{ servIt.chofer ? servIt.chofer.nombre : '---'}}</td>
				<td>{{ servIt.patenteAcoplado ? servIt.patenteAcoplado : '---'}}</td>
				<td>{{ servIt.nroContenedor ? servIt.nroContenedor : '---'}}</td>
				<td>{{ servIt.bill ? servIt.bill : '---'}}</td>
				<td>
					<p class="text-secondary mb-1">{% include "monitor/Itinerario/show_estado.html.twig" with {'itinerario': servIt} %}</p>
				</td>

				<td>{{ servIt.servicio.ultFechaHora ? servIt.servicio.ultFechaHora|date('d-m-Y H:i:s', app.user.timeZone) : '---' }}</td>
				<td>{{ servIt.servicio.transporte ? servIt.servicio.transporte.nombre : '---'}}</td>
				<td>{{ servIt.servicio.satelital ? servIt.servicio.satelital.nombre : '---'}}</td>
				<td id="sentido_{{servIt.servicio.id}}">---</td>
				<td id="direccion_{{servIt.servicio.id}}">---</td>
				<td width='150px'>
					{% if servIt.servicio.isCustodio == false %}
						<a href="#" onclick="editServicio('{{ servIt.servicio.id }}',
												'{{ servIt.nroContenedor ? servIt.nroContenedor : ''}}',
												'{{ servIt.bill ? servIt.bill : ''}}',
												'{{ servIt.patenteAcoplado ? servIt.patenteAcoplado : ''}}',
												'{{ servIt.chofer ? servIt.chofer.id : 0 }}'
												)" class="btn btn-sm btn-default" role="button" title="Modificar" data-original-title="Modificar">
							<i class="fa fa-edit"></i>
						</a>
					{% endif %}
					<a href="#" onclick="deleteServicio('{{ servIt.servicio.id }}')" class="btn btn-sm btn-default" role="button" title="Quitar" data-original-title="Quitar">
						<i class="fa fa-trash"></i>
					</a>
					<a href="#" class="btn btn-sm btn-default" title="modificar estado" onclick="changeEstadoServicio('{{ servIt.servicio.id }}', '{{ servIt.itinerario.id }}')">
						<i class="fa fa-exchange"></i>
						<input type="hidden" id="btn_change_estado_badge_{{ servIt.servicio.id }}" value="btn-{{ servIt.itinerario.badge[servIt.itinerario.estado]}}"/>
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<script type="text/javascript">{% include "monitor/Itinerario/servicios.js" with {'arrIds': arrIds} %}</script>
