{% extends "app/Template_aker/show.html.twig" %}

{% form_theme formEvento 'app/Form/calypso_fields.html.twig' %}
{% form_theme formContacto 'app/Form/calypso_fields.html.twig' %}
{% form_theme formUsuario 'app/Form/calypso_fields.html.twig' %}
{% form_theme formReferencia 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	{{ itinerario.codigo }}
{% endblock %}

{% block contentpanel %}

{% include "monitor/Itinerario/popup_servicio.html.twig" %}
{% include "monitor/Itinerario/popup_contacto.html.twig" %}
{% include "monitor/Servicio/popup_servicio_delete.html.twig" %}
{% include "monitor/Itinerario/popup_custodio.html.twig" %}
{% include "monitor/Usuario/popup_usuario.html.twig" %}
{% include "monitor/Usuario/popup_usuario_edit.html.twig" %}
{% include "monitor/Itinerario/popup_referencia_show.html.twig" %}
{% include "monitor/Itinerario/popup_horario.html.twig" %}
{% include "monitor/Usuario/popup_usuario_delete.html.twig" %}
{% include "monitor/Contacto/popup_contacto_delete.html.twig" %}
{% include "monitor/Contacto/popup_contacto_edit.html.twig" %}
{% include "monitor/Itinerario/popup_comentario.html.twig" %}
{% include "monitor/Itinerario/popup_evento_itinerario.html.twig" %}
{% include "monitor/Servicio/popup_estado_servicio.html.twig" %}
{% include "monitor/Servicio/popup_servicio_edit.html.twig" %}
{% include "app/Template_aker/popup_load.html.twig" %}



{% embed "app/Template_aker/panel_tabs.html.twig" %}

	{% block cuerpo %}
	 <form id="formCheck" name="formCheck">
	 	<input type="hidden" name="formCheck[{{itinerario.id}}]" id="formCheck_{{itinerario.id}}" >
	 	<input type="hidden" name="vista" id="vista" value="show" >{# lo uso para el response de cambio de estado#}
	 </form>

		<div class="row">
			<div class="col-md-12 no-padding">
				<div class="tabs tabs-default">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#main" data-toggle="tab">
								<i class="fa fa-info"></i>
								Información
							</a>
						</li>
						<li>
							<a href="#servicios" data-toggle="tab">
								<i class="fa fa-truck"></i>
								Servicios
							</a>
						</li>
						<li>
							<a href="#referencias" data-toggle="tab">
								<i class="fa fa-map-marker"></i>
								Puntos de interés
							</a>
						</li>
						<li>
							<a href="#usuarios" data-toggle="tab">
								<i class="fa fa-user"></i>
								Usuarios
							</a>
						</li>
						<li>
							<a href="#contactos" data-toggle="tab">
								<i class="fa fa-address-card-o"></i>
								Contactos
							</a>
						</li>
						<li>
							<a href="#eventos" data-toggle="tab">
								<i class="fa fa-warning"></i>
								Eventos
							</a>
						</li>	
						<li>
							<a href="#bitacora" data-toggle="tab">
								<i class="fa fa-list"></i>
								Bitacora
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="main" class="tab-pane active">
							{% include "monitor/Itinerario/main.html.twig" with {'itinerario': itinerario, 'mapa' : mapa } %}
						</div>
						<div id="servicios" class="tab-pane">
							<div id="tableServicios">
								{% include "monitor/Itinerario/servicios.html.twig" with {'servicios': itinerario.servicios } %}
							</div>
						</div>
						<div id="referencias" class="tab-pane">
							<div id="tableReferencias">
								{% include "monitor/Itinerario/referencias.html.twig" with {'pois': pois} %}
							</div>
						</div>
						<div id="usuarios" class="tab-pane">
							<div id="tableUsuarios">
								{% include "monitor/Itinerario/usuarios.html.twig" with {'usuarios': itinerario.usuarios} %}
							</div>
						</div>
						<div id="contactos" class="tab-pane">
							<div id="tableContactos">
								{% include "monitor/Itinerario/contactos.html.twig" with {'contactos': itinerario.contactos} %}
							</div>
						</div>
						<div id="eventos" class="tab-pane">
							<div id="tableEventos">
								{% include "monitor/Itinerario/eventos.html.twig" %}
							</div>
						</div>
						<div id="bitacora" class="tab-pane">
							<div id="tableBitacora">
								{% include "monitor/Itinerario/bitacora.html.twig" with {'bitacora': bitacora } %}
							</div>
						</div>
					</div>
				</div>

			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block css %}
	{{ parent() }}

	<style>
		#modalServicio #modalReferencia {
			width: 850px;
			margin-left: -425px;
		}
	</style>
{% endblock %}

{% block js %}
	{{ parent() }}
	{{ mapa.renderJs()|raw }}
	<script type="text/javascript">
	{% include "apmon/Mapa/auxiliares.script.js" %} 
	{% include "apmon/Mapa/gmaps-lib.script.js" %}
	{% include "monitor/Servicio/datamap.js" %}
		$(document).ready(function () {
			$(".servicio_select").select2({ width: "100%", placeholder: "Escriba el nombre de sus servicios..." });
			$("#referencia_referencia").select2({ width: "100%", placeholder: "Escriba el nombre de sus puntos de inteŕes..." });
			$("#usuario_usuario").select2({ width: "100%", placeholder: "Escriba el nombre de sus usuarios..." });
			$("#contactos_contacto").select2({ width: "100%", placeholder: "Escriba el nombre de sus contactos..." });

			$("#horario_arribo").datetimepicker({
				format: "DD/MM/YYYY HH:mm",
				locale: "es",
			});
			$("#horario_partida").datetimepicker({
				format: "DD/MM/YYYY HH:mm",
				locale: "es",
			});
			getDataTable('tablaServicio');
			getDataTable('tablaUsuario');
			getDataTable('tablaContacto');
			getDataTable('tablaHistEventos');
			$("#ciudadReferencia").hide();
			$("#provinciaReferencia").hide();
			$('#nota_descripcion').summernote({  toolbar: false,height: 110 });
			$('#nota_descripcion_delete').summernote({  toolbar: false,height: 110 });
			$("#comentario_respuesta").summernote({
             height: 110,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
      
                    ]
        });           
			updateFormEv();
		// luego descomentar
		//	setInterval(getDataMap, 30000);

		});

		function crearTablaServicio(id,nombre,indice) {

			$('#tabla_servicio tr:last').after(
				'<tr id="' + id + '">' +
				'<td class="col-md-2" id="nombre_' + id + '">' + nombre + '</td>' +
				'<td class="col-md-1">' + '<div class="control-group ">' +
				'<label class="control-label" for="nro_contenedor">Contenedor</label>' +
				'<div class="controls">' +
				'<input type="text" class="form-control" id="nro_contenedor_' + id + '" name="nro_contenedor"></div>'
				+ '</td>' +
				'<td class="col-md-1">' + '<div class="control-group ">' +
				'<label class="control-label" for="bill">Nro. Bill</label>' +
				'<div class="controls">' +
				'<input type="text" class="form-control" id="bill_' + id + '" name="bill"></div>'
				+ '</td>' +
				'<td class="col-md-2">' + '<div class="control-group ">' +
				'<label class="control-label" for="bill">Patente Acop</label>' +
				'<div class="controls">' +
				'<input type="text" class="form-control" id="patente_acoplado_' + id + '" name="patente_acoplado"></div>'
				+ '</td>' +
				'<td class="col-md-2">' + '<div class="control-group ">' +
				'<label class="control-label" for="bill">Chofer</label>' +
				'<div class="controls">' +
				'<select id="chofer_' + id + '"></select>' +
				'</div>'
				+ '</td>' +
				'</tr>'
			);

			return;

		}


		
		function updateFormEv(){
			{% for evIt in itinerario.eventoItinerario %}
				{% if evIt.tipoEvento.codename is defined %}
					{% if evIt.tipoEvento.codename == 'EV_PANICO' %} //si el itinerario ya tiene el evento, que no haga nada
						$("#eventos_panico" ).prop( "checked", false );
						$("#panico").hide();					
					{% else %}
					    $("#panico").show();
					{% endif %}				
					{% if evIt.tipoEvento.codename == 'EV_IO_REFERENCIA' %} //lo mismo que panico
						$("#eventos_pois" ).prop( "checked", false );
						$("#pois").hide();
					{% endif %}				
					{% if  evIt.tipoEvento.codename == 'EV_DETENIDO' %} //lo mismo que panico
						$("#eventos_detencion" ).prop( "checked", false );
						$("#detencion").hide();
						
					{% endif %}	
				{% endif %}	
			{% endfor %}
		}
	
	globalIdChof = 0;

		function editServicio(id,contenedor,bill,acoplado, idChof) {

			$("#chofer_"+globalIdServicio).attr("id", "chofer_"+id);
			globalIdServicio = id;
			globalIdChof = idChof;
			$("#formServicioEdit_nro_contenedor").val(contenedor);
			$("#formServicioEdit_bill").val(bill);
			$("#formServicioEdit_patente_acoplado").val(acoplado);
		
				var request = $.ajax({
					type: 'POST',
					url: "{{ path('itinerario_getchoferes') }}",
					data: {
					'id': id // id servicio      
					},
					dataType: "json",
					// async: true,
					beforeSend: function () {
					
					}
				});
				request.done(function (respuesta) {
					cargarSelectChofer(respuesta.id,respuesta.choferes);
				   $("#modalServicioEdit").modal("show");
					
				});
		}

		function cargarSelectChofer(id, chof){
			if(chof !== 0){
				  var choferes =  Object.values(chof);
				  choferes.forEach(function (chofer, index) {
					var ch = chofer[index];
						$('#chofer_'+id).select2({
							placeholder: 'Seleccione Chofer',
							allowClear: true,
							width: '100%' ,
							data: chofer,
							escapeMarkup: function(markup) {
								return markup;
							},
							templateResult: function(ch) {
								return ch.html;
							},
							templateSelection: function(ch) {
								return ch.text;
							}
						});
						console.log(globalIdChof)
						$('#chofer_'+id + ' option[value='+globalIdChof+']').prop('selected', 'selected').change();
            	});
				
			}else{
				$('#chofer_'+id).select2();
				
			}		
   		 }

	{% include "monitor/Itinerario/show.js" %}
	{% include "monitor/Servicio/popup_estado_servicio.js" %}	
	{% include "monitor/Itinerario/timeline.js" %}
	</script>
{% endblock %}
