<div id="modal_comentario_data">
	<ul id="listaComentarios">
		<div class="timeline">
			<div class="tm-body">
				<ol class="tm-items">
					{% for nodo in timeline %}
						<li>
							<div class="tm-info">
								<div class="tm-icon {{ nodo.color }}">
									<i class="{{ nodo.icono }}"></i>
								</div>
								{% if nodo.fecha is not null %}
								<time class="tm-datetime" datetime="{{ nodo.fecha|date('d/m/Y H:i', app.user.timeZone) }}">
									<div class="tm-datetime-date">{{ nodo.fecha|date('d-M-Y', app.user.timeZone) }}</div>
									<div class="tm-datetime-time">{{ nodo.fecha|date('H:i', app.user.timeZone) }}</div>
								</time>
								{% endif %}
							</div>
							<div class="tm-box">
								{{ nodo.data|raw }}
							</div>
						</li>

					{% endfor %}
				</ol>

			</div>
		</div>
	</ul>
</div>
