{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Alta de Sensor{% endblock %}
{% block formulario %}
<form class="form-horizontal"  method="POST" >
<fieldset>
    <div class="row-fluid">
        <div class="span8">
            <h4>Datos del sensor</h4>
            <fieldset>
                {{ form_errors(form) }}
                {{ form_widget(form.nombre) }}                
                {{ form_widget(form.seriado) }}
                {{ form_widget(form.campoTrama) }}
                {{ form_widget(form.tipoSensor) }}
                {{ form_rest(form) }}
            </fieldset>
            {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Agregar' } %}
        </div>
    </div>
</fieldset>
</form>
{% endblock %}