{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
    {{ tiposervicio.nombre|e }}
{% endblock %}

{% block formulario %}

<form class="form-horizontal" method="POST" >
    <div class="row">
        <div>{{ form_errors(form) }}</div>
        <div class="span8">
            <legend>Datos del Tipo de Servicio</legend>
            <fieldset>
                {{ form_errors(form) }}
                {{ form_widget(form.nombre) }}
                {{ form_widget(form.icono) }}
                {{ form_widget(form.velocidadMaxima) }}
                {{ form_rest(form) }}
            </fieldset>
        </div>
        <div class="span4">  
            <div style="float: left; text-align: center">
                <img width="50" src="{{ asset(tiposervicio.getWebPath()) }}" /><br/>
                        {{ tiposervicio.pathIcono }}
            </div>
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Cambiar" />
        <a href="{{ path( 'tiposervicio_list' ) }}" class="btn">Cancelar</a>
    </div>
</form>
{% endblock %}