{% extends "app/Template/list.html.twig" %}

{% block sidebar %}
     {% include "app/Template/sidebar_menu.html.twig" %}  
{% endblock %}
{% block titulo %}Tipo de Servicios Registrados{% endblock %}        
{% block contentpanel %}  
    <table class="table condensed-table">
        <thead>
            <tr>
                <td>Icono</td>
                <td>Nombre</td>
                <td>Veloc. Max.</td>
                <td>Archivo</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for tiposervicio in tiposservicios %}
                <tr>
                    <td><img class="icono-min" src="{{ asset(tiposervicio.getWebPath()) }}" /></td>
                    <td>{{ tiposervicio.nombre }}</td>
                    <td>{{ tiposervicio.velocidadMaxima }}</td>                     
                    <td>{{ tiposervicio.pathIcono }}</td>                     
                    <td>
                        <a href="{{ path('tiposervicio_edit', {'id': tiposervicio.id} ) }}">Editar</a>
                    </td>               
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}