{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
    Tipo de Servicio
{% endblock %}
{% block formulario %}
<form class="form-horizontal" method="POST" >
    <fieldset>
    <div>
      {{ form_errors(form) }} 
    </div>
    <div class="row-fluid">
        <div class="span8">
            <legend>Datos del Tipo de Servicio</legend>
            {{ form_widget(form.nombre) }}
            {{ form_widget(form.icono) }}
            {{ form_widget(form.velocidadMaxima) }}
            {{ form_rest(form) }}
        </div>
        <div class="span4">    
            <p>Complete los datos del tipo de servicio</p>
        </div>

    </div>

    </fieldset>
           
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Agregar" />
        <a href="{{ path('tiposervicio_list') }}" class="btn">Cancelar</a>
    </div>
</form>
{% endblock %}