{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ equipo.imei }}{% endblock %}
{% block subtitulo %}Asignar Servicio{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $("#servicio_servicio").select2();
       
        });
    </script>
{% endblock %}


{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        <fieldset>
            <div class="row-fluid">
                <div>{{ form_errors(form) }}</div>
                <h4>Servicios sin equipo asignado:</h4>
                {{ form_widget(form.servicio) }}

            </div>
            {{ form_rest(form) }}
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Asociar" />
                <a href="{{app.session.get('volver')}}" class="btn">Cancelar</a>
            </div>
        </fieldset>
    </form>

{% endblock %}