{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Asociar Chip{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $("#chip_chip").select2();
       
        });
    </script>
{% endblock %}


{% block informacion %}
    <div class="alert-message block-message warning">
        Seleccione el chip a asociar al equipo.
    </div>
{% endblock %} 

{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        <div class="row-fluid">
            <div>{{ form_errors(form) }}</div>
            <h4>Chips Disponibles</h4>
            <fieldset>
                {{ form_widget(form.chip) }}
            </fieldset>

        </div>
        {{ form_rest(form) }}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Asociar" />
            <a href="{{ app.session.get('volver')}}" class="btn">Cancelar</a>
        </div>
    </form>

{% endblock %}
