<table id="table-informe" class="table table-condensed">
    <thead>
        <tr>
            <th>MdmId</th>
            <th>Imei</th>
            <th>Nro. Serie</th>
            <th>Modelo</th>
            <th>Deposito de</th>
            <th>Propietario</th>
            <th>Proveedor</th>
            <th>Firmware</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
            {% for equipo in cliente.equipos %}
                <tr>
                    <td><a href="{{path('sauron_equipo_show',{'id':equipo.id, 'tab':'main'})}}">{{equipo.mdmid}}</a></td>
                    <td>{{equipo.imei}}</td>
                    <td>{{equipo.numeroSerie}}</td>
                    <td>{{equipo.modelo.nombre}}</td>
                    {% if(equipo.organizacion.tipoorganizacion == 1) %}
                        <td><a href="{{path('distribuidor_show',{'id':equipo.organizacion.id,'tab':'deposito'})}}">{{equipo.organizacion.nombre}}</a></td>
                        {% else %}
                        <td><a href="{{path('distribuidor_cliente_show',{'id':equipo.organizacion.id,'tab':'deposito'})}}">{{equipo.organizacion.nombre}}</a></td>
                        {% endif %}
                    <td>{{equipo.propietario.nombre}}</td>
                    <td>{{equipo.proveedor.nombre}}</td>
                    <td>{{equipo.versionfirmware}}</td>
                </tr>
            {% else %}
                <tr>
                    <td>No hay equipos .</td>
                </tr>
            {% endfor %}
        </tbody>
    {% endfor %}
</table>
