{# Esto es para los clientes #}
{% if organizacion.clientes != null %}
    <legend>{{ padres ~ ' / ' ~ organizacion.distribuidor }}</legend>
    {% include "sauron/Equipo/cliente.html.twig" with {'clientes': organizacion.clientes} %} 
{% endif %}

{% for distribuidor in organizacion.distribuidores %}
    <p>
        {% include "sauron/Equipo/distribuidor.html.twig" 
            with {'padres': padres ~ ' / ' ~ organizacion.distribuidor,'organizacion': distribuidor} %}  
    </p>
{% endfor %}