{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ equipo.organizacion }}{% endblock %}
{% block subtitulo %}Editar Equipo{% endblock %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" >    
        <div class="row-fluid row-form">
            <div>{{ form_errors(form) }}</div>
            <div class="span8">
                <h3>Datos del Equipo</h3>        
                {{ form_widget(form.mdmid) }}
                {{ form_widget(form.imei) }}
                {{ form_widget(form.numeroSerie) }}
                {{ form_widget(form.modelo) }}
                {{ form_widget(form.propietario) }}
                {{ form_widget(form.proveedor) }}
                {{ form_widget(form._token) }}
            </div>
            <div class="span3"> 
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Cambiar" />
            <a href="{{app.session.get('volver')}}" class="btn">Cancelar</a>
        </div>        
    </form>
{% endblock %}
