{% extends "app/Template/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block title %}Informe de Equipos en Stock{% endblock %}

{% block titulo %}Informe de Equipos en Stock{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $("#informesinreportes_organizacion").select2();
       
        });
    </script>
{% endblock %}

{% block formulario %}
    
<div class="row">
    <div class="span8">
        <form id="form" class="form-horizontal" action="{{ path('sauron_equipo_list_stock') }}"  method="POST" >
            {{ form_errors(form) }}
            <fieldset>
                {{ form_widget(form.destino) }}
                {{ form_widget(form.organizacion) }}
                {{ form_widget(form._token) }} 
                <div class="form-actions" style="background-color: white">
                    <button type="submit" class="btn btn-primary">Generar Informe</button>
                    <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
