{% extends "app/Template/list.html.twig" %}
{% block titulo %}Depósito de Equipos{% endblock %}        

{% block contentpanel %}  

{% if equiposdep %}
    <legend>Equipos disponibles en deposito</legend>    
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>MdmId</th>
                <th>Nro. Serie</th>
                <th>Modelo</th>
                <th>Versión</th>
                <th>Propietario</th>
                <th>Chip</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for equipo in equiposdep %}
                <tr>
                    <td><a href="{{ path('sauron_equipo_show', {'id': equipo.id,'tab':'main'}) }}">{{ equipo.mdmid }}</a></td>
                    <td>{{ equipo.numeroSerie }}</td>
                    <td>{{ equipo.modelo }}</td>
                    <td>{{ equipo.versionFirmware }}</td>
                    <td>{{ equipo.propietario }}</td>
                    <td>
                         {% if equipo.chip|length > 0 %}
                            SI ({{equipo.chip|length}})
                         {% else %}
                            <a class="btn btn-small" href="{{ path('sauron_equipo_asociarchip', {'idEquipo': equipo.id, 'crearservicio': 0} )  }}">Asociar</a>
                         {% endif %}
                    </td>
                    <td style="white-space: nowrap">
                        <a class="btn btn-small" href="{{ path('sauron_equipo_edit', {'id': equipo.id} ) }}">Editar</a>
                        <a class="btn btn-small" href="{{ path('sauron_equipo_transferir', {'id': equipo.id} ) }}">Transferir</a>
                        {% if servicios_disponibles %}
                            <a class="btn btn-small" href="{{ path('sauron_equipo_asignarservicio', {'id': equipo.id} ) }}">Testear</a>
                        {% else %}
                            <a class="btn btn-small" href="{{ path('servicio_new', {'idequipo': equipo.id} ) }}">Testear</a> 
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}        
        </tbody>
    </table>
{% endif %} 
{% if equipos %}
    <legend>Equipos en pruebas</legend>    
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>MdmId</th>
                <th>Nro. Serie</th>
                <th>Modelo</th>
                <th>Versión</th>
                <th>Servicio</th>
                <th>Ult. Reporte</th>
                <th>Propietario</th>
                <th>Chip</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for equipo in equipos %}
                {% if equipo.servicio != null %}
                <tr>
                    <td><a href="{{ path('sauron_equipo_show', {'id': equipo.id,'tab':'main'}) }}">{{ equipo.mdmid }}</a></td>
                    <td>{{ equipo.numeroSerie }}</td>
                    <td>{{ equipo.modelo }}</td>
                    <td>{{ equipo.versionFirmware }}</td>
                    <td>
                         <a href="{{ path('servicio_show', {'id': equipo.servicio.id, 'tab': 'main'} )  }}"  >{{ equipo.servicio }}</a>
                    </td>                     
                    <td>{{ equipo.servicio.ultFechahora != null ? equipo.servicio.ultFechahora|date('d-m-Y H:i')|e : '---' }}</td>
                    <td>{{ equipo.propietario }}</td>
                    <td>
                         {% if equipo.chip|length > 0 %}
                            SI
                         {% else %}
                             <a href="{{ path('sauron_equipo_asociarchip', {'idEquipo': equipo.id, 'crearservicio': 0} )  }}" class="btn btn-small" >Asociar</a>
                         {% endif %}
                    </td>
                    <td class="td-accion">
                        <a href="{{ path('sauron_equipo_edit', {'id': equipo.id} ) }}" class="btn btn-small" >Editar</a>
                        <a href="{{ path('sauron_equipo_transferir', {'id': equipo.id} ) }}" class="btn btn-small" >Transferir</a>
                        <a href="{{ path('sauron_equipo_retirar', {'id': equipo.id}) }}" class="btn btn-small">Retirar</a>
                    </td>
                </tr>
                {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}



