{% extends "app/Template/list.html.twig" %}

{% block titulo %}Listado de Equipos en Sistema{% endblock %}        
{% block contentpanel %}  
{% for modelo in modelos %}
    <h3>{{ modelo.nombre }}</h3>

    {% if modelo.equipos is defined and modelo.equipos != null %}
        <table class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>MdmId</th>
                    <th>Nro. Serie</th>
                    <th>Modelo</th>
                    <th>Estado</th>
                    <th>Organizacion</th>
                    <th>Firmware</th>
                    <th>Servicio</th>
                    <th>Alta Equipo</th>
                    <th>Alta Servicio</th>
                    <th>Ult. Transmisión</th>
                    <th>Bateria</th>
                    <th>Odometro</th>
                    <th>Ult. Servidor</th>
                    <th>Chip/s</th>
                    <th>Acciones</th>
                </tr>
            </thead> 
            <tbody>
                {% for equipo in modelo.equipos %}
                    <tr>
                        <td>{{ equipo.id }}</td>
                        <td>{{ equipo.mdmid|raw }}</td>
                        <td>{{ equipo.numeroSerie}}</td>
                        <td>{{ equipo.modelo}}</td>
                        <td nowrap>{{ equipo.strEstado }}</td>
                      {#  <td>{{ equipo.organizacion|raw }}</td>
                        <td>{{ equipo.versionFirmware }}</td>
                        <td>{{ equipo.servicio|raw }}</td>
                        <td nowrap>{{ equipo.altaEquipo }}</td>
                        <td nowrap>{{ equipo.altaServicio }}</td>
                        <td nowrap>{{ equipo.ultTransmision }}</td>
                        <td>{{ equipo.ultBateria }}</td>
                        <td>{{ equipo.ultOdometro }}</td>
                        <td>{{ equipo.ultServidor }}</td>
                        <td nowrap>
                            {% for chip in equipo.chips %}
                                {{ chip.imei }} ({{chip.telefono}})<br>
                            {% endfor %}
                        </td>#}
                       {#  <td>
                            {% if is_granted('ROLE_EQUIPO_EDITAR') %}
                                <a href="{{ path('sauron_equipo_edit', {'id': equipo.id} ) }}">Editar</a>
                            {% endif %}
                            {% if is_granted('ROLE_EQUIPO_TRANSFERIR') %}
                                | <a href="{{ path('sauron_equipo_transferir', {'id': equipo.id} ) }}">Transferir</a>
                            {% endif %}
                        </td> #}
                    </tr>
                {% endfor %}
            </tbody>
         </table>
    {% endif %}
{% endfor %}
{% endblock %}

