{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	{{ equipo.organizacion }}
{% endblock %}

{% block formulario %}

<form class="form-horizontal" method="POST">
	{% embed "app/Template_aker/panel_form.html.twig" %}
		{% block titulo %}
			Creación de equipo

		{% endblock %}
		{% block cuerpo %}
			<fieldset>
				<div class="row-fluid">
					<div>{{ form_errors(form) }}</div>
					<div class="col-md-6">
						{{ form_widget(form.mdmid) }}
						{{ form_widget(form.imei) }}
						{{ form_widget(form.numeroSerie) }}
						{{ form_widget(form.modelo) }}
						{{ form_widget(form.proveedor) }}
						{{ form_widget(form.propietario) }}

					</div>
					<div class="col-md-6">
						<div class="control-group">
							<label class="control-label"></label>
							<div class="controls">
								<label class="checkbox">
									<input type="checkbox" id="asociar_chip" name="asociar_chip" class="" value="1">
									Asociar Chip al Equipo
								</label>
							</div>
							<div class="controls">
								<label class="checkbox">
									<input type="checkbox" id="crear_servicio" name="crear_servicio" class="" value="1">
									Crear servicio al finalizar ?
								</label>

								<p class="help-block">
									<strong>Nota:</strong>El servicio se creará en el
									{{ equipo.organizacion.getStrTipoOrganizacion }}
									<b>
										{{ equipo.organizacion }}
									</b>.</p>
							</div>
						</div>

					</div>
					{{ form_widget(form._token) }}

				</fieldset>
			{% endblock %}
			{% block botones %}
				<input type="submit" class="btn btn-primary" id="crear" value="Crear"/>
				<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
			{% endblock %}
		{% endembed %}
	</form>
{% endblock %}
