{% extends "app/Template/informe_result.html.twig" %}
{% block title %}Informe de Equipos en Stock{% endblock %}
{% block titulo %}Informe de Equipos en Stock{% endblock %}

{% block contentpanel %}
{% if informe|length > 0 %}
    <h4>{{ informe.distribuidor }}</h4>
    {# Esto es para los clientes #}
    {% if informe.clientes != null %}
    {% include "sauron/Equipo/cliente.html.twig" with {'clientes': informe.clientes} %} 
    {% endif %}
        
    {# Aca empiezan los distribuidores #}    
    {% for distribuidor in informe.distribuidores %}   
        {% include "sauron/Equipo/distribuidor.html.twig" with {'padres': informe.distribuidor ,'organizacion': distribuidor} %} 
    {% endfor %}
        
{% else %}
    <em>No se encuentran informacion.</em>
{% endif %}
{% endblock %}