{% extends "app/Template/list.html.twig" %}

{% block titulo %}Pedir datos de configuración{% endblock %}

{% block contentpanel %}
    <p>
        Este procedimiento va a solicitar información a los servicios. Dicha información va a ser consultada a 
        cada servicio seleccionado cuando éste realice una comunicación.         
    </p>
    <p>
        Dependiendo de la información solicitada, el resultado de la misma podrá verse reflejada en distintas partes
        del sistema.
    </p>
    <p>
        Debe realizar un check sobre los servicios que quiere realizar la operación y luego confirmar.
    </p>
    <form action="{{ path('sauron_equipo_batch') }}" method="POST" >    
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Servicio</th>
                    <th>MdmId</th>
                    <th>Serie</th>
                    <th>Modelo</th>
                    <th>Versión</th>
                    <th>Ult. Reporte</th>
                    <th>Version</th>
                    <th>IpFota</th>
                    <th>Reflash</th>
                </tr>
            </thead>
            <tbody>

                {% for data in servicios %}
                    <tr>
                        <td>{{ data.servicio.nombre }}</td>                     
                        <td>{{ data.servicio.equipo.mdmid }}</td>
                        <td>{{ data.servicio.equipo.numeroSerie }}</td>
                        <td>{{ data.servicio.equipo.modelo }}</td>
                        <td>{{ data.servicio.equipo.versionFirmware|default('---') }}</td>
                        <td>{{ data.servicio.ultFechahora != null ? data.servicio.ultFechahora|date('d-m-Y H:i')|e : '---' }}</td>
                        <td>
                            {% if data.firmware %}
                                <input type="checkbox" name="checks_firmware[]" checked="checked" value="{{ data.servicio.id }}">
                            {% endif %}
                        </td>                     
                        <td>
                            {% if data.firmware %}
                                <input type="checkbox" name="checks_act_ipfota[]" checked="checked" value="{{ data.servicio.id }}">
                            {% endif %}
                        </td>                     
                        <td>
                            {% if data.firmware %}
                                <input type="checkbox" name="checks_act_firmware[]" checked="checked" value="{{ data.servicio.id }}">
                            {% endif %}
                        </td>                     
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Proceder" />
            <a href="{{app.session.get('volver')}}" class="btn">Cancelar</a>
        </div>
    </form>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
    </script>
{% endblock %}
