{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Retirar equipo de servicio
{% endblock %}


{% block formulario %}
	<form class="form-horizontal" method="POST">
		<div class="alert alert-danger">
			<h4>Atención!</h4>
			<p>
				Esta a punto de retirar un equipo del sistema. Tenga en cuenta que luego de hacer este paso las posiciones transmitidas
													desde el equipo no serán almacenadas en el sistema. Proceda con precaución.
			</p>
		</div>
		<div class="row-fluid row-show">
			<div class="col-md-6">
				{% embed "app/Template_aker/panel_form.html.twig" %}
					{% block titulo %}
						Datos del equipo
					{% endblock %}
					{% block cuerpo %}
						<div class="row-fluid">
							{% include "app/Template_aker/show_row.html.twig" with {'label': 'Servicio', 'data': equipo.servicio.nombre } %}
							{% include "app/Template_aker/show_row.html.twig" with {'label': 'Equipo', 'data': equipo.mdmid } %}
							{% include "app/Template_aker/show_row.html.twig" with {'label': 'Serie', 'data': equipo.numeroSerie } %}
							{% include "app/Template_aker/show_row.html.twig" with {'label': 'Modelo', 'data': equipo.modelo.nombre } %}

						</div>

					{% endblock %}
				{% endembed %}
			</div>
			<div class="col-md-6">
				{% embed "app/Template_aker/panel_form.html.twig" %}
					{% block titulo %}
						Motivos del retiro
					{% endblock %}
					{% block cuerpo %}
						<div class="row-fluid">
							{{ form_errors(form) }}
							{{ form_widget(form.motivo) }}
							{{ form_rest(form) }}

						</div>
					</div>
				</div>
			{% endblock %}
			{% block botones %}
				<input type="submit" class="btn btn-primary" id="crear" value="Retirar"/><a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
			{% endblock %}
		{% endembed %}
	</form>
{% endblock %}
