<div id="modalRetirarEquipo{{ equipo.id }}" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Retirar Equipo</h3>
    </div>
    <form class="form-horizontal" action="{{ path('sauron_equipo_retirar', { 'id': equipo.id }) }}" method="post">
        <div class="modal-body">
            <p>Esta seguro de retirar este equipo del servicio: <strong>{{ equipo.servicio|default('') }}</strong> ?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="submit">Retirar</button>
            <a id="boton-cancelar" href="" class="btn secondary">Cancelar</a>
        </div>
    </form>
</div> 
