<div class="row-fluid row-show">
    <div class="span6">
        <h3>Datos del Equipo</h3>
        {% include "sauron/Equipo/show_data_equipo.html.twig" with {'equipo': equipo} %} 
    </div>
    <div class="span6">
        <h3>Chips asociados al equipo</h3>
        {% include "sauron/Equipo/show_data_chips.html.twig" with {'equipo': equipo} %} 
    </div>    
</div>
<div class="row-fluid row-show">   
   <div class="span6">     
    {% if equipo.servicio %}
        <div class="row-fluid row-show">
            <div class="span8">
                <h3>Servicio asociado al equipo</h3>
                <div class="row-fluid row-show">
                    <div class="span3 column-label">Nombre</div>
                    <div class="column-show">{{ equipo.servicio.nombre }}</div>
                </div>
                <div class="row-fluid row-show">
                    <div class="span3 column-label">Tipo</div>
                    <div class="column-show">{{ equipo.servicio.getStrTipoObjetos }}</div>
                </div>
                <div class="row-fluid row-show">
                    <div class="span3 column-label">Clase</div>
                    <div class="column-show">
                        {% if equipo.servicio.tipoServicio.getWebPath() is defined %}
                            <img src="{{ asset(equipo.servicio.tipoServicio.getWebPath()) }}">
                        {% endif %}
                        {{ equipo.servicio.tipoServicio }}
                    </div>
                </div>

            </div>
        </div>
    {% else %}
         <div><em>Este equipo no tiene un Servicio asociado.</em></div>          
    {% endif %}
        

    </div>
</div>