{% include "app/Template/show_row.html.twig" with {'label': 'Número Mdmid', 'data': equipo.mdmid } %} 
{% include "app/Template/show_row.html.twig" with {'label': 'Número de Imei', 'data': equipo.imei } %} 
{% include "app/Template/show_row.html.twig" with {'label': 'Número de Serie', 'data': equipo.numeroSerie } %} 
{% include "app/Template/show_row.html.twig" with {'label': 'Versión Firmware', 'data': equipo.versionFirmware } %} 
{% include "app/Template/show_row.html.twig" with {'label': 'Modelo', 'data': equipo.modelo ~ ' ( ' ~ equipo.modelo.fabricante ~ ' )'} %} 
{% include "app/Template/show_row.html.twig" with {'label': 'Proveedor', 'data': equipo.proveedor } %} 
{% include "app/Template/show_row.html.twig" with {'label': 'Propietario', 'data': equipo.propietario } %} 
<div class="row-fluid row-show">
    <div class="span4 column-label">Estado</div>    
    <div class="column-show">{{ equipo.strEstado }} de 
        {% if equipo.organizacion.tipoOrganizacion == 1 %}
            <a href="{{ path('distribuidor_show', {'id': equipo.organizacion.id, 'tab': 'equipos'}) }}">{{ equipo.organizacion }}</a>
        {% else  %}
            <a href="{{ path('distribuidor_cliente_show', {'id': equipo.organizacion.id, 'tab': 'deposito'}) }}">{{ equipo.organizacion }}</a>
        {% endif %}
    </div>
</div>
{% if equipo.servicio|length > 0 %}
    <div class="row-fluid row-show">
        <div class="span4 column-label">Servicio Asociado</div>    
        <div class="column-show">
            <div class="column-show"><a href="{{ path('servicio_show', {'id': equipo.servicio.id, 'tab': 'main' }) }}">{{ equipo.servicio }}</a></div>
        </div>
    </div>
{% endif %}

