{% if equipo.chips|length > 0 %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Imei</th>
                <th>Numero de Telefono</th>
                <th>Prestadora</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
        {% for chip in equipo.chips %}
                <tr>
                    <td>{{ chip.imei }}</td>
                    <td>{{ chip.numeroTelefono }}</td>
                    <td>{{ chip.prestadora }}</td>
                    <td>{{ chip.strEstado}}</td>
                    <td>
                        <a href="#modalRetirar{{ chip.id }}" data-toggle="modal">Retirar</a>
                        <div id="modalRetirar{{ chip.id }}" class="modal hide fade">
                            <div class="modal-header">Retirar Chip</div>
                            <form class="form-horizontal" action="{{ path('sauron_equipo_retirarchip', { 'idChip': chip.getId }) }}" method="post">
                                <div class="modal-body">
                                    <p>Esta seguro de retirar el chip: <strong>{{ chip.imei|upper }}</strong> del equipo: <strong>{{ equipo.imei }}</strong> ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" type="submit">Retirar</button>
                                    <a id="boton-cancelar" href="" class="btn secondary">Cancelar</a>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
{% else %}
    <em>Este equipo no tiene chips asociados.</em>
{% endif %}
