{% extends "app/Template/show_tabs.html.twig" %}

{% block formdelete %}
    {% include "sauron/Equipo/delete_form.html.twig" %} 
    {% include "sauron/Equipo/retirarequipo_form.html.twig" %} 
{% endblock %} 


{% block titulo %}{{ equipo.imei }}{% endblock %}

{% block contenthead %}
<ul class="nav nav-tabs">
    <li {{ tab == 'main' ? "class='active'" : ""  }}><a href="{{ path('sauron_equipo_show', {'id': equipo.id, 'tab': 'main'}) }}">Datos</a></li>
    <li {{ tab == 'bitacora' ? "class='active'" : ""  }}><a href="{{ path('sauron_equipo_show', {'id': equipo.id, 'tab': 'bitacora'}) }}">Bitacora</a></li>
</ul>
{% endblock %}


{% block contentpanel %}
    {% if tab == 'main' %}
        {% include "sauron/Equipo/show_main.html.twig" %}  
    {% elseif tab == 'bitacora' %}
        {% include "sauron/Equipo/show_bitacora.html.twig" %}  
    {% endif %}
{% endblock %}
