{% extends "app/Template/form.html.twig" %}

{% block titulo %}{{ equipo.organizacion }}{% endblock %}
{% block subtitulo %}Transferencia de Equipo{% endblock %}

{% block formulario %}
<div class="row-fluid row-show">
    <div class="span6">
        <h3>Datos de transferencia de Equipo</h3>
        <p></p>
        {# aca se comienza con el form de tranferencia #}
            <form class="form-horizontal" action="{{ path('sauron_equipo_transferir', {'id': equipo.id} ) }}" method="POST" >
                <fieldset>
                {# nuevo deposito #}
                <div class="control-group ">
                    <div class="control-label"><label for="new_organizacion" class=" required">Nuevo Depósito</label></div>
                    <div class="controls">
                        <select id="new_organizacion" name="new_organizacion" required="required" class="">
                        {% for org in organizaciones %}
                            <option value="{{ org.id }}">
                                {% if org.organizacionPadre %}
                                        {{ org.organizacionPadre.nombre }}/
                                {% endif %}
                                {{ org.nombre }}
                                {{ org.tipoOrganizacion == 1 ? '(Dist)' : '(Cliente)' }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                {# tipo de tranferencia #}
                <div class="control-group">
                    <label class="control-label">Tipo de Transferencia</label>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="tipo_tranferencia" id="tipo_tranferencia" value="1" checked="true">
                            Comodato
                        </label>
                        <label class="radio">
                            <input type="radio" name="tipo_tranferencia" id="tipo_tranferencia" value="2">
                            Venta
                        </label>
                        {% if equipo.chips|length > 0 %}
                        <label class="radio">
                            <input type="checkbox" id="transferir_chips" name="transferir_chips" class="" value="1">
                            Transferir equipo con chips
                        </label>
                        {% endif %}
                        <label class="radio">
                            <input type="checkbox" 
                                   id="crear_servicio" 
                                   name="crear_servicio" class="" value="1">
                            Crear servicio nuevo luego de transferir ?
                        </label>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Transferir" />
                    <a href="{{app.session.get('volver')}}" class="btn">Cancelar</a>
                </div>                
            </fieldset>
        </form>
    </div>
    <div class="span6">
        <h3>Datos del Equipo</h3>
        {% include "sauron/Equipo/show_data_equipo.html.twig" with {'equipo': equipo} %} 
        <h3>Chips asociados al equipo</h3>
        {% include "sauron/Equipo/show_data_chips.html.twig" with {'equipo': equipo} %} 
    </div>
</div>
{% endblock %}
