<table class="table table-condensed">
    <tbody>
        <tr>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Comentario</th>
        </tr>
        {% for detalle in tareaot.comentarios %} 
            <tr>
                <td>{{ detalle.fecha|date('d/m/Y H:i') }}</td>
                <td>{{ detalle.ejecutor ? detalle.ejecutor.nombre:'---' }}</td>
                <td>{{ detalle.comentario }}</td>
            </tr>
        {% endfor %} 
    </tbody>
</table>