{% extends "app/Template/form.html.twig" %}
{% form_theme formTareas 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ organizacion.nombre }}{% endblock %}
{% block subtitulo %}Modificación de Tarea{% endblock %}


{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        <fieldset>
            {{ form_errors(formTareas) }}
            <div class="row-fluid">
                <div class="span8">
                    {{ form_widget(formTareas.fecha) }}  
                    {{ form_widget(formTareas.descripcion) }}  
                </div>
            </div>
            {{ form_widget(formTareas._token) }}
            {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Grabar' } %}
        </fieldset>
    </form>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $("#tarea_edit_fecha").datepicker();
            $("#tarea_edit_fecha").val("{{tareaot.fecha|date('d/m/Y')}}");
            $("#tarea_edit_descripcion").val("{{tareaot.descripcion}}");
        });
    </script>
{% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" />
    <style type="text/css">
        .ui-timepicker-div
        .ui-widget-header { margin-bottom: 8px; }
        .ui-timepicker-div dl { text-align: left; }
        .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
        .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
        .ui-timepicker-div td { font-size: 12px; }
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

        .ui-timepicker-rtl{ direction: rtl; }
        .ui-timepicker-rtl dl { text-align: right; }
        .ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
    </style>
{% endblock %}