<table class="table table-condensed">
    <tbody>
        <tr>
            <th>Nombre</th>
            <th>Costo x hora</th>
            <th>Horas</th>
            <th>Neto</th>
            <th>Total</th>
            <th style="width: 70px;"></th>
        </tr>
        {% for detalle in tareaot.mecanicos %} 
            <tr>
                <td>{{ detalle.mecanico.nombre }}</td>
                <td>$ {{ detalle.mecanico.costohora|number_format(2) }}</td>
                <td>{{ detalle.horas }}</td>
                <td>{{ detalle.costo|number_format(2) }}</td>
                <td>{{ detalle.costototal|number_format(2) }}</td>
                <td>
                    {% if tareaot.estado != 2  %}
                        <button class="btn btn-small" title="Elimina el mecanico de la orden" type="button" id="mecanico_del" onClick="mecanicoDel({{ detalle.id }}, '{{ detalle.mecanico.nombre }}')">
                            <i class="fa fa-minus"></i> 
                        </button>
                        <button class="btn btn-small" title="Agregar Horas" type="button" href="#modalMecanico"  data-toggle="modal" onclick="setIdMec({{detalle.mecanico.id}},'{{detalle.mecanico.nombre}}');">
                            <i class="fa fa-clock-o"></i> 
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %} 
    </tbody>
</table>