<!-- Modal -->
<div class="modal fade" id="modalComentario" role="dialog" aria-labelledby="modalComentarioLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nuevo Comentario</h4>
            </div>
            <div class="modal-body">
                <p>Complete los campos para agregar un comentario</p>
                <div id="modal-body-tareasOt">
                    <form id="formComentario" class="form-horizontal">
                        {{ form_widget(formComentario.comentario) }}  
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnComentarioAdd" type="button" class="btn btn-primary" >Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>     
