<!-- Modal -->
<div id="modalMecanico" class="modal fade"  role="dialog" aria-labelledby="modalMecanicoLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Mecánico</h4>
            </div>
            <div class="modal-body">
                <p>Coloque la cantidad de horas que utilizó el mecánico</p>
                <div id="modal-body-mecanico">
                    <form id="formMecanico" class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span6">                                
                                {{ form_widget(formMecanico.cantidad) }}
                                {{ form_widget(formMecanico._token) }}                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                {#<a data-toggle="modal" href="#modalMecanico2" class="btn btn-success pull-left" title="Agrega un mecanico al deposito">Nuevo mecánico</a>#}
                <button id="btnMecanicoAdd" type="button" class="btn btn-primary" >Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>  
