<!-- Modal -->
<div class="modal fade" id="modalTareasOtModificar" role="dialog" aria-labelledby="modalTareasOtLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modificar Tarea</h4>
            </div>
            <div class="modal-body">
                <p>Complete los campos para crear una nueva tarea</p>
                <div id="modal-body-tareasOt">
                    <form id="formTareasOtEdit" class="form-horizontal">
                        {{ form_widget(formEditTareasOt.fecha) }}  
                        {{ form_widget(formEditTareasOt.descripcion) }}  
                         <input type="hidden" id="tarea_edit_id">
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnTareasOtModificar" type="button" class="btn btn-primary" >Modificar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>     
