<!-- Modal -->
<div id="modalCerrar" class="modal fade"  role="dialog" aria-labelledby="modalCerrarLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Orden Nro.: {{ orden.formatIdentificador|default('---') }}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <p>Cuidado!!. Está seguro de cerrar la Tarea?. No se podrá modificar ningún elemento que esté dentro de la misma.</p>
                </div>
                <table class="table table-condensed">
                    <tr>
                        <td>Descripción</td>
                        <td><div id="cerrar_descripcion"></div></td>

                    </tr>
                    <tr>
                        <td>Fecha Inicio</td>
                        <td><div id="cerrar_fecha"></div></td>
                    </tr>
                    <tr>
                        <td>Costo Total</td>
                        <td><div id="cerrar_costo"></div></td>
                    </tr>
                </table>
              <input type="hidden" id="cerrar_id">
            </div>
            <div class="modal-footer">
                {#<a data-toggle="modal" href="#modalMantenimiento2" class="btn btn-success pull-left" title="Agrega un mecanico al deposito">Nuevo mecánico</a>#}
                <button id="btnCerrarTarea" type="button" class="btn btn-primary" >Cerrar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>  

<script>

</script>