<table class="table table-condensed">
    <tbody>
        <tr>
            <th>Nombre</th>
            <th>Costo</th>
            <th>Cantidad</th>
            <th>Neto</th>
            <th>Total</th>
            <th style="width: 65px;"></th>
        </tr>
        {% for detalle in tareaot.productos %} 
            <tr>
                <td>{{ detalle.producto.nombre }}</td>
                <td>{{ detalle.costounitario|number_format(2) }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.costoneto|number_format(2) }}</td>
                <td>{{ detalle.costototal|number_format(2) }}</td>
                <td>
                    {% if tareaot.estado != 2  %}
                        <button class="btn btn-small" title="Elimina el producto de la orden" type="button" id="producto_del" onClick="productoDel({{ detalle.id }}, '{{ detalle.producto }}')">
                            <i class="fa fa-minus"></i> 
                        </button>
                        <button class="btn btn-small"  title="Agregar Cantidad" type="button" href="#modalProducto"  data-toggle="modal" onclick="setIdProd({{detalle.producto.id}},'{{detalle.producto}}');">
                            <i class="fa fa-plus"></i> 
                        </button>
                    {%  endif %}    
                </td>

            </tr>
        {% endfor %} 
    </tbody>
</table>