{% extends "app/Template/show.html.twig" %}
{% form_theme formProducto 'app/Form/calypso_fields.html.twig' %}
{% form_theme formMecanico 'app/Form/calypso_fields.html.twig' %}

{% block formdelete %}
    {#    {% include "mante/Plan/delete_form.html.twig" %}#}
{% endblock %} 

{% block titulo %}Tarea{% endblock %}

{% block contentpanel %}

    {% include "mante/OrdenTrabajo/popup_producto.html.twig" %} 
    {% include "mante/OrdenTrabajo/popup_mecanico.html.twig" %} 
    {% include "mante/OrdenTrabajo/popup_mecanico.html.twig" %} 
    {% include "mante/TareaOt/popup_comentario.html.twig" %} 
    {% include "mante/TareaOt/popup_cerrar.html.twig" %} 
    {% include "mante/TareaOt/popup_iniciar.html.twig" %} 
    {% include "mante/TareaOt/delete_form.html.twig" %} 

    <div class="row row-show">
        <div class="span5">
            <h3>Descripción General</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': tareaot.descripcion|default('---') } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Fecha Inicio', 'data': tareaot.fecha?tareaot.fecha|date('d/m/Y H:i'):'---'} %} 
            <div class="row-fluid row-show">
                <div class="span4 column-label">Estado</div>    
                <div class="column-show">
                    {% if tareaot.estado == 0 %}
                        <span class="badge badge-xs badge-default">
                            Nueva
                        </span>
                    {% elseif tareaot.estado == 1 %}
                        <span class="badge badge-xs badge-info">
                            En Curso
                        </span>
                    {% else %}
                        <span class="badge badge-xs badge-success">
                            Cerrada
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="row-fluid row-show">
                <div class="span4 column-label">Total Neto</div>    
                <div id="costoNeto" class="column-show">
                    $ {{ tareaot.costoneto|number_format(2) }}
                </div>
            </div>
            <div class="row-fluid row-show">
                <div class="span4 column-label">Total Final</div>    
                <div id="costoTotal" class="column-show">
                    $ {{ tareaot.costototal|number_format(2) }}
                </div>
            </div>

        </div>
        <div class="span5">
            <h3>Mecanicos</h3>
            <div id="tablaMecanicos">
                {% include "mante/TareaOt/mecanicos.html.twig" with { 'tareaot': tareaot } %}  
            </div>
        </div>
    </div>
    <div class="row row-show">       
        <div class="span5">
            <h3>Insumos</h3>
            <div id="tablaProductos">
                {% include "mante/TareaOt/productos.html.twig" with { 'tareaot': tareaot } %}  
            </div>
        </div>
        <div class="span5">
            <h3>Comentarios</h3>
            <div id="tablaComentarios">
                {% include "mante/TareaOt/comentarios.html.twig" with { 'tareaot': tareaot } %}  
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">

        {# para borrar el contenido anterior del form #}
            $('#btnModalProducto').click(function () {
                // alert('algo');
                $('#producto_producto').val('');
                $('#producto_cantidad').val('');
                $('#producto_unitario').val('');
                $('#producto_actualizar').val('');
            });

            $('#btnModalMecanico').click(function () {
                $('#mecanico_cantidad').val('');
            });


            $(document).ready(function () {
                $('#modalProducto').modal('hide');   //cierro el form
                $('#modalMecanico').modal('hide');   //cierro el form
                $('#modalComentario').modal('hide');   //cierro el form
                $.datepicker.setDefaults($.datepicker.regional["es"]);
                $("div.scroll").scrollLeft(200);
            });
            //PRODUCTO
            $("#producto_producto").select2({
                ajax: {
                    url: "{{ path('producto_get') }}",
                    data: function (params) {
                        var query = {
                            idOrg: "{{ orden.servicio.organizacion.id }}",
                            search: params.term,
                            type: 'public'
                        };
                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    dataType: 'json'
                },
                language: {
                    noResults: function () {
                        //   return '<a href="#modalProducto2" data-toggle="modal" >Agregar producto</a>'
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });

            //MECANICO
            $("#mecanico_mecanico").select2({
                ajax: {
                    url: "{{ path('mecanico_get') }}",
                    data: function (params) {
                        var query = {
                            idOrg: "{{ orden.servicio.organizacion.id }}",
                            search: params.term,
                            type: 'public'
                        };
                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    dataType: 'json'
                },
                language: {
                    noResults: function () {
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });



            //EXTERNO PRODUCTO
            $("#externo_producto").select2({
                ajax: {
                    url: "{{ path('producto_get') }}",
                    data: function (params) {
                        var query = {
                            idOrg: "{{ orden.servicio.organizacion.id }}",
                            search: params.term,
                            type: 'public'
                        };
                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    dataType: 'json'
                },
                language: {
                    noResults: function () {
                        return '<a href="#modalProducto2" data-toggle="modal" >Agregar producto</a>'
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });


            $('#btnProductoAdd').click(function () {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('tareaot_addproducto') }}",
                    data: {
                        'id': "{{ tareaot.id }}",
                        'formProducto': $("#formProducto").serialize(), //form de productos
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaProductos").text("");
                    $("#tablaProductos").html(respuesta.html);
                    $('#modalProducto').modal('toggle');   //cierro el form
                    $("#costoTotal").html(respuesta.costoTotal);
                    $("#costoNeto").html(respuesta.costoNeto);
                    document.getElementById("formProducto").reset();
                    if (respuesta.error_deposito) {
                        alert('Esta orden no tiene asignado ningún depósito, vaya a editar y coloque un depósito');
                    }
                });
            });

            $('#producto_producto').on('change', function () {
                //alert( this.value );
                var req = $.ajax({
                    type: 'GET',
                    url: "{{ path('producto_getprecio') }}",
                    data: {
                        'id': "{{ orden.id }}", //id de la ot para sacar el taller
                        'idProducto': this.value, //id del producto
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    //alert(respuesta.fecha);
                    if (respuesta.precio == null) {
                        $('#producto_unitario').val('');
                        $('#producto_ult_compra').html('---');
                    } else {
                        $('#producto_unitario').val(respuesta.precio);
                        $('#producto_ult_compra').html(respuesta.fecha);
                    }
                });
            });

            function productoDel(idProd, nombre) {
                var r = confirm('Esta seguro de eliminar el producto "' + nombre + '" de la Tarea ?');
                if (r == true) {
                    var req = $.ajax({
                        type: 'POST',
                        url: "{{ path('tareaot_delproducto') }}",
                        data: {
                            'idProd': idProd,
                            'idDep': "{{ tareaot.ordentrabajo.deposito ? tareaot.ordentrabajo.deposito.id : 0 }}",
                            'id': "{{ tareaot.id }}",
                        },
                        dataType: "json",
                        //async: true,
                        beforeSend: function () {
                        },
                    });
                    req.done(function (respuesta) {
                        $("#tablaProductos").text("");
                        $("#tablaProductos").html(respuesta.html);
                        $("#costoNeto").html(respuesta.costoNeto);
                        $("#costoTotal").html(respuesta.costoTotal);
                    });
                }
            }

            $('#btnMecanicoAdd').click(function () {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('tareaot_addmecanico') }}",
                    data: {
                        'id': "{{ tareaot.id }}",
                        'formMecanico': $("#formMecanico").serialize(), //form de productos
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaMecanicos").text("");
                    $("#tablaMecanicos").html(respuesta.html);
                    $('#modalMecanico').modal('toggle');   //cierro el form
                    $("#costoNeto").html(respuesta.costoNeto);
                    $("#costoTotal").html(respuesta.costoTotal);
                    document.getElementById("formMecanico").reset();
                });
            });

            $('#btnComentarioAdd').click(function () {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('tareaot_addcomentario') }}",
                    data: {
                        'id': "{{ tareaot.id }}",
                        'formComentario': $("#formComentario").serialize(), //form de productos
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaComentarios").text("");
                    $("#comentario_comentario").val("");
                    $("#tablaComentarios").html(respuesta.html);
                    $('#modalComentario').modal('toggle');   //cierro el form
                    document.getElementById("formComentario").reset();
                });
            });

            function mecanicoDel(idMeca, nombre) {
                var r = confirm('Esta seguro de eliminar el mecánico "' + nombre + '" de la Tarea  ?');
                if (r == true) {
                    var req = $.ajax({
                        type: 'POST',
                        url: "{{ path('tareaot_delmecanico') }}",
                        data: {
                            'idMeca': idMeca,
                            'id': "{{ tareaot.id }}",
                        },
                        dataType: "json",
                        //async: true,
                        beforeSend: function () {
                        },
                    });
                    req.done(function (respuesta) {
                        $("#tablaMecanicos").text("");
                        $("#tablaMecanicos").html(respuesta.html);
                        $("#costoNeto").html(respuesta.costoNeto);
                        $("#costoTotal").html(respuesta.costoTotal);
                    });
                }
            }
            ;

            $('#btnCerrarTarea').click(function () {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('tareaot_cerrar') }}",
                    data: {
                        'id': "{{ tareaot.id }}",
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    location.reload(); //refresco para que desaparezcan los botones

                });
            });

            $('#btnCerrar').click(function () {
                var req = $.ajax({
                    type: 'GET',
                    url: "{{ path('tareaot_cerrar') }}",
                    data: {
                        'id': "{{ tareaot.id }}",
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $('#cerrar_descripcion').text(respuesta.descripcion);
                    $('#cerrar_fecha').text(respuesta.fecha);
                    $('#cerrar_costo').text("$ " + respuesta.costoTotal);
                });

            });

            $('#btnIniciar').click(function () {
                var req = $.ajax({
                    type: 'GET',
                    url: "{{ path('tareaot_iniciar') }}",
                    data: {
                        'id': "{{ tareaot.id }}",
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                //alert(respuesta);
                    $('#iniciar_descripcion').text(respuesta.descripcion);
                    $('#iniciar_fecha').text(respuesta.fecha);
                    $('#iniciar_costo').text("$ " + respuesta.costo);
                });

            });

            $('#btnIniciarTarea').click(function () {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('tareaot_iniciar') }}",
                    data: {
                        'id': "{{ tareaot.id }}",
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    location.reload(); //refresco para que desaparezcan los botones
                });
            });

            function setIdMec(id, nombre, precio) {
                var options = [];
                options.push({id: id, text: nombre});
                $("#mecanico_mecanico").empty().select2({
                    data: options
                });
            }

            function setIdProd(id, nombre) {
                var options = [];
                options.push({id: id, text: nombre});
                $("#producto_producto").empty().select2({
                    data: options
                });
                var req = $.ajax({
                    type: 'GET',
                    url: "{{ path('producto_getprecio') }}",
                    data: {
                        'id': "{{ orden.id }}", //id de la ot para sacar el taller
                        'idProducto': id, //id del producto
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    //alert(respuesta.fecha);
                    if (respuesta.precio == null) {
                        $('#producto_unitario').val('');
                        $('#producto_ult_compra').html('---');
                    } else {
                        $('#producto_unitario').val(respuesta.precio);
                        $('#producto_ult_compra').html(respuesta.fecha);
                    }
                });
            }


    </script>

{% endblock %}    
