<table>
    <tr>
        <td colspan="2"><h3>Informe de Tiempos y Velocidades </h3></td>
    </tr>
    <tr>
        <td>Servicio:</td>
        <td>{{ consulta.servicionombre }}</td>
    </tr>    
    <tr>    
        <td>Fecha desde: </td>
        <td>{{ consulta.desde }}</td>
    </tr>
    <tr>    
        <td>Fecha hasta: </td>
        <td>{{ consulta.hasta }}</td>
    </tr>
</table> 

<table class="table table-condensed table-striped">
<thead>
    <tr>
        <th>Primer reporte</th>
        <th>último reporte</th>
        <th>Tiempo activo (horas)</th>
        <th>Tiempo detenido (horas)</th>
        <th>Tiempo en movimiento (horas)</th>
        <th>Motor encendido (horas)</th>
        <th>Velocidad promedio (km/h)</th>
        <th>Velocidad maxima (km/h)</th>
    </tr>
</thead>
<tbody>
   {% for row in informe %}
    <tr> 
           {% if row|length > 0 and row.desde|default('---') != '---' %}
            <td>{{ row.desde|date('d/m/Y H:i:s') }}</td>
            <td>{{ row.hasta|date('d/m/Y H:i:s') }}</td>
            <td>{{ row.tiempo_activo }}</td>
            <td>{{ row.tiempo_detenido }}</td>
            <td>{{ row.tiempo_movimiento }}</td>
            <td>{{ row.tiempo_motor_encendido }}</td>
            <td>{{ row.velocidad_promedio }}</td>
            <td>{{ row.velocidad_maxima }}</td>
           {% else %}
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
           {% endif %}
        </tr>

   {% endfor %}

    <tr>
        <th colspan="2" >Totales</th>
        <th>{{ totales.tiempo_activo }}</th>
        <th>{{ totales.tiempo_detenido }}</th>
        <th>{{ totales.tiempo_movimiento }}</th>
        <th>{{ totales.tiempo_motor_encendido }}</th>
        <th>{{ totales.velocidad_promedio|number_format(2) }}</th>
        <th>{{ totales.velocidad_maxima|number_format(2) }}</th>
        <th></th>
    </tr>
</tbody>
</table>