<table>
    <tr>
        <td colspan="2"><h3>Informe de Tiempos y Velocidades</h3></td>
    </tr>
    <tr>
        <td>Servicio:</td>
        <td>Toda la flota</td>
    </tr>    
    <tr>    
        <td>Fecha desde: </td>
        <td>{{ consulta.desde }}</td>
    </tr>
    <tr>    
        <td>Fecha hasta: </td>
        <td>{{ consulta.hasta }}</td>
    </tr>
</table> 
<table class="table table-condensed table-striped">
           <thead>
               <tr>
                   <th>Servicio</th>
                   <th>Primer reporte</th>
                   <th>último reporte</th>
                   <th>Tiempo activo (horas)</th>
                   <th>Tiempo detenido (horas)</th>
                   <th>Tiempo en movimiento (horas)</th>
                   <th>Motor encendido (horas)</th>
                   <th>Velocidad promedio (km/h)</th>
                   <th>Velocidad maxima (km/h)</th>
               </tr>
           </thead>
           <tbody>
               {% for equipo in informe %}
                   <tr>
                       <th rowspan={{ equipo.data|length + 1}}>{{ equipo.servicio }}</th>
                       {% for row in equipo.data %}
                           <tr>
                               {% if row|length > 0 and row.desde|default('---') != '---' %}
                                   <td>{{ row.desde != '---' ? row.desde|date('d/m/Y H:i:s') : row.desde }}</td>
                                   <td>{{ row.hasta != '---' ? row.hasta|date('d/m/Y H:i:s') : row.hasta }}</td>
                                   <td>{{ row.tiempo_activo }}</td>
                                   <td>{{ row.tiempo_detenido }}</td>
                                   <td>{{ row.tiempo_movimiento }}</td>
                                   <td>{{ row.tiempo_motor_encendido }}</td>
                                   <td>{{ row.velocidad_promedio }}</td>
                                   <td>{{ row.velocidad_maxima }}</td> 
                               {% else %}
                                   <td>---</td>
                                   <td>---</td>
                                   <td>---</td>
                                   <td>---</td>
                                   <td>---</td>
                                   <td>---</td>
                                   <td>---</td>
                                   <td>---</td>
                               {% endif %}
                           </tr>
                       {% endfor %}
                   </tr>
               {% endfor %}
           </tbody>
           
        </table>

</table>