{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Informe de Tiempos y Velocidades.{% endblock %}
{% block titulo %}Informe de Tiempos y Velocidades{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var arr = new Array();
            var i = 1;
            arr[0] = ['Servicio', 'Hs Activo', 'Hs Detenido', 'Hs Movimiento', 'Hs Encendido', 'Vel. Prom', 'Vel Max'];
            {% for value in dt %}
                arr[i] = ['{{value['servicio']}}', parseInt('{{value['tiempo_activo']}}'), parseInt('{{value['tiempo_detenido']}}'), parseInt('{{value['tiempo_movimiento']}}'), parseInt('{{value['tiempo_motor_encendido']}}'), parseInt('{{value['velocidad_promedio']}}'), parseInt('{{value['velocidad_maxima']}}')];
                i++;
            {% endfor %}
                var data = google.visualization.arrayToDataTable(arr);

                var options = {
                    title: 'Velocidades',
                    height: 380,
                    curveType: 'function',
                    legend: {position: 'rigth'},
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('myArea1'));
                chart.draw(data, options);
            }
    </script>
{% endblock %}
{% block informacion %}
    Para <b>todos los servicios</b> desde el <b>{{ consulta.desde }}</b>
    hasta el <b>{{ consulta.hasta }}</b>.
    
{% endblock %}

{% block contentpanel %}
<div id="myArea1">&nbsp;</div>

{% endblock %}    