{% if step == 1 %}
Indica como se quiere visualizar el resultado del informe. Puede ser en Pantalla o en un Gráfico de barras.
{% elseif step == 2  %}
Selecciona que equipos son los que van a ser incluidos en el informe. Puede hacerlo para todos los equipos (puede demorarse en la generación) o bien realizar la consulta
para un equipo en particular. </br> Si tiene grupos de equipos configurados, el nombre del grupo se mostrara con el prefijo <b>Grp</b> he incluirá a todos
los equipos de dicho grupo.
{% elseif step == 3  %}
Es el perído que quiere consultar. La fecha desde no puede ser mayor que la fecha hasta y las mismas no pueden ser vacias. <br>
Mientras mas días incluya en el período mas tiempo puede demorarse la generación.
{% elseif step == 4  %}
En caso de que seleccione muchos dias y tilde, el resultado se mostrara desde las 00:00 hasta las 23:59 de cada día. 
En caso de no tildarlo se mostrara como un solo período.
{% elseif step == 5  %}
Permite mostrar una sumatoria de valores de las columnas de los informes.
{% endif %}