{% extends "app/Template/informe_result.html.twig" %}
{% block title %}Informe de Tiempos y Velocidades.{% endblock %}
{% block titulo %}Informe de Tiempos y Velocidades{% endblock %}

{% block informacion %}
    Para <b>{{ consulta.servicionombre }}</b> desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>.
    [ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
    <form name="formexport" action="{{ path('velocidades_exportar', {'tipo': '1' }) }}" method="POST" >
        <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
        <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
    </form>    
{% endblock %}

{% block contentpanel %}

    {% if informe %}
        <div class="row-fluid">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Servicio</th>
                        <th>Primer reporte</th>
                        <th>Último reporte</th>
                        <th title="Tiempo activo"> Tpo activo (horas)</th>
                        <th title="Tiempo detenido">Tpo detenido (horas)</th>
                        <th title="Tiempo en movimiento">Tpo en movimiento (horas)</th>
                        <th>Motor encendido (horas)</th>
                        <th>Vel promedio (km/h)</th>
                        <th>Vel maxima (km/h)</th>
                        <th>Horóm. Inicial</th>
                        <th>Horóm. Final</th>
                        <th title="Diferencia de horómetros">Dif. Horóm</th>
                    </tr>
                </thead>
                <tbody>
                    {% if consulta.mostrar_totales is defined %}
                        {% set rowspan = 2 %}
                    {% else %}    
                        {% set rowspan = 1 %}
                    {% endif %}    
                    {% for equipo in informe %}
                        <tr>
                            <th rowspan={{ equipo.data|length + rowspan }}>{{ equipo.servicio }}</th>
                                {% for row in equipo.data %}
                            <tr>
                                {% if row|length > 0 and row.desde|default('---') != '---' %}
                                    <td>{{ row.desde != '---' ? row.desde|date('d/m/Y H:i:s') : row.desde }}</td>
                                    <td>{{ row.hasta != '---' ? row.hasta|date('d/m/Y H:i:s') : row.hasta }}</td>
                                    <td style="text-align: center">{{ row.tiempo_activo }}</td>
                                    <td style="text-align: center">{{ row.tiempo_detenido }}</td>
                                    <td style="text-align: center">{{ row.tiempo_movimiento }}</td>
                                    <td style="text-align: center">{{ row.tiempo_motor_encendido }}</td>
                                    <td style="text-align: center">{{ row.velocidad_promedio|number_format(2, ',', '.')  }}</td>
                                    <td style="text-align: center">{{ row.velocidad_maxima|number_format(2, ',', '.')  }}</td> 
                                    <td style="text-align: center">{{ row.horometro_inicial}}</td> 
                                    <td style="text-align: center">{{ row.horometro_final }}</td> 
                                    <td style="text-align: center">{{ row.horometro_diff }}</td> 
                                {% else %}
                                    <td>---</td>
                                    <td>---</td>
                                    <td style="text-align: center">---</td>
                                    <td style="text-align: center">---</td>
                                    <td style="text-align: center">---</td>
                                    <td style="text-align: center">---</td>
                                    <td style="text-align: center">---</td>
                                    <td style="text-align: center">---</td>
                                    <td style="text-align: center">---</td>
                                    <td style="text-align: center">---</td>
                                    <td style="text-align: center">---</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tr>
                        {% if consulta.mostrar_totales is defined %}
                            <tr style="background-color: #eee" >
                                <td colspan="2">Totales</td>
                                <th>{{ equipo.totales.tiempo_activo }}</th>
                                <th>{{ equipo.totales.tiempo_detenido }}</th>
                                <th>{{ equipo.totales.tiempo_movimiento }}</th>
                                <th>{{ equipo.totales.tiempo_motor_encendido }}</th>
                                <th>{{ equipo.totales.velocidad_promedio|number_format(2) }}</th>
                                <th>{{ equipo.totales.velocidad_maxima|number_format(2) }}</th>
                                <th style="text-align: right"></th>                   
                                <th style="text-align: right"></th>                   
                                <th style="text-align: right"></th>                   
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>

            </table>
        </div>
    {% endif %}
{% endblock %}