{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ usuario.nombre }}{% endblock %}
{% block subtitulo %}Cambio de contraseña{% endblock %}

{% block formulario %}
    {% if usuario.changePassword == true %}
        <div class="alert alert-warning">
            <p class="text-warning"> 
                <span class="label label-warning">Cambio de contraseña requerido !!!</span>
            <p>
                El sistema ha solicitado que cambie su contraseña para brinda a su cuenta un acceso mas seguro. 
            </p>
            </p>
    </div>
{% endif %}


<form class="form-horizontal"  method="POST" >
    <div>{{ form_errors(form) }}</div>
    <div class="row-fluid">
        <div class="span6">
            {{ form_widget(form.plainPassword.first, {'label': 'Clave de Acceso'}) }}
            {{ form_widget(form.plainPassword.second, {'label': 'Repita clave'}) }}
            {{ form_rest(form) }}
            <div class="alert alert-info">
                <p class="text-info"> 
                <ul>
                    <li>La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula y al menos una mayúscula.</li>
                    <li>NO puede tener otros símbolos.</li>
                </ul>
                </p>
            </div>
        </div>
        <div class="span5"> 
            <b>Recomendación para el manejo de sus claves</b>
            <ul>
                <li>Las claves sólo deben ser conocidas por Usted.</li>
                <li>Nunca debe informarlas a terceros, No complete formularios o responda mails con sus claves, no es política del sistema solicitar esa información por mail.</li>
                <li>Cámbielas con frecuencia o cuando presuma el conocimiento de la misma por parte de terceros.</li>
                <li>No utilice claves fáciles de deducir, no elija su fecha de nacimiento, número de documento, número telefónico, dígitos repetidos, etc.</li>
                <li>En lo posible, utilice claves distintas para cada cambio de clave solicitada.</li>
                <li>Visualice el candado cerrado en la parte inferior de su Navegador.</li>
            </ul>
        </div>
    </div>                

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" class="boton" value="Cambiar" />
    </div>
</form>

{% endblock %}