{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ usuario.nombre }}{% endblock %}
{% block subtitulo %}Cambio de clave{% endblock %}

{% block formulario %}

<form class="form-horizontal" action="{{ path('user_profile_password_clean', {'id': usuario.id}) }}"  method="POST">
    <div class="row-fluid row-show">
        <p class="text-info">
            Por una cuestión de seguridad le solicitamos que cambie su clave personal de acceso al sistema.
        </p>
         {{ form_widget(form.plainPassword.first, {'label': 'Clave de Acceso'}) }}
         {{ form_widget(form.plainPassword.second, {'label': 'Repita clave'}) }}
         {{ form_rest(form) }}
        <div>{{ form_errors(form) }}</div>
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" class="boton" value="Cambiar" />
        </div>
    </div>
</form>
       
{% endblock %}