{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
    {{ usuario.nombre }}
{% endblock %}

{% block subtitulo %}
    Actualizar perfil
{% endblock %}
{% block formulario %}
    {{ form_start(form) }}
    <div>
        {{ form_errors(form) }} 
    </div>
    <div class="row-fluid">
        <div class="span8">
            <fieldset>
                {{ form_widget(form.nombre) }}
                {{ form_widget(form.username) }}
                {{ form_widget(form.email) }}
                {{ form_widget(form.timeZone) }}
                {{ form_widget(form.vista_mapa) }}
                {{ form_widget(form.showReferencias) }}
                {% if usuario.organizacion.tipoOrganizacion == 2 %}
                    {{ form_widget(form.redirigir_login) }}
                {% endif %}
            </fieldset>
        </div>  
        <div class="span4">
        </div>
    </div>


    <div class="form-actions">
        <input class="btn btn-primary" type="submit" class="boton" value="Cambiar" />
        <a class="btn" href="{{ path('user_profile_show') }}" class="boton">Cancelar</a>
    </div>

    {{ form_end(form) }}       
{% endblock %}