{% extends "app/Template/show.html.twig" %}

{% block titulo %}
    {{ usuario.nombre }}
{% endblock %}        

{% block contentpanel %}
    
    {# aca se muestran los datos del usuario#}
    <div class="row-fluid row-show">
        <div class="span6">
            <h3>Mis datos</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': usuario.nombre } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre Usuario', 'data': usuario.username } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'E-Mail', 'data': usuario.email } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Habilitado', 'data': usuario.enabled ? "Si" : "No" } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Organización', 'data': usuario.organizacion } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Zona Horaria', 'data': usuario.timeZone } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Límite Historial', 'data':  usuario.limiteHistorial} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Creado', 'data': usuario.createdAt|date("d-m-Y H:i", app.user.timeZone) } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Último cambio', 'data': usuario.updatedAt|date("d-m-Y H:i", app.user.timeZone)  } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Último Ingreso', 'data': usuario.lastLogin|date("d-m-Y H:i", app.user.timeZone)  } %} 
        </div>
        
        {# aca se muestran los permisos del usuario #}
        <div class="span6">
            <h3>Mis Permisos</h3>
            {% if is_granted('ROLE_MASTER_DISTRIBUIDOR') or is_granted('ROLE_MASTER_CLIENTE') %}
                <p><span class="label label-info">master</span> Usted es "usuario master" de la cuenta.</p>
            {% endif %}
            <ul>
            {% for permiso in usuario.permisos %}
                <li>{{ permiso.descripcion }}</li>
            {% else %}
                <em>No tiene permisos asociados.</em>
            {% endfor %}
            </ul>
        </div>
    </div>
            

{% endblock  %}

