{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	{{ chofer.nombre }}
{% endblock %}
{% block subtitulo %}Generación ApiCode
{% endblock %}

{% block formulario %}
	<form class="form-horizontal" action="{{ path('apmon_chofer_generarapicode', {'id': chofer.id, 'c': apicode} ) }}" method="POST">
	
		{% embed "app/Template_aker/panel_form.html.twig" %}
			{% block titulo %}
				Crear Apicode
			{% endblock %}
			{% block cuerpo %}
				<p>
					El
					<b>ApiCode</b>
					permitirá acceder al sistema desde la aplicación web de Aker 
					    en forma rápida, sin necesidad de colocar usuario y clave todas las veces que 
					    desee consultar sus servicios.
				</p>
				<p>
					Como una medida adicional de seguridad le pedimos que ingrese el número de celular
					    desde el cual va a ingresar para que el mismo quede linkeado a su usuario.

				</p>
				<p>
					Deberá pasarle al usuario el codigo generado para que lo ingrese en su teléfono
					    en el momento del ingreso. Tambien se enviará por SMS el código al usuario.
				</p>
				<h2>
					El apiCode generado es:
					{{ apicode }}</h2>
				<fieldset>
					{{ form_errors(form) }}
					<div class="row-fluid">
						{{ form_row(form.telefono) }}
					</div>
					{{ form_widget(form._token) }}
				</fieldset>
			{% endblock %}
			{% block botones %}
				<input type="submit" class="btn btn-primary" id="crear" value="Crear"/>
				<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
			{% endblock %}
		{% endembed %}
	
	</form>

{% endblock %}
