{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	{{ chofer }}
{% endblock %}

{% block js %}
	{{ parent() }}
	<script>
		$(function () {
			$('#servicio_servicio').select2({
				width: '100%'
			});
});
	</script>
{% endblock %}

{% block formulario %}
	<div class="row-fluid">
		<form class="form-horizontal" enctype="multipart/form-data" method="POST">
			{% embed "app/Template_aker/panel_form.html.twig" %}
				{% block titulo %}
					Asignar Servicio
				{% endblock %}
				{% block cuerpo %}
					<fieldset>
						{{ form_errors(form) }}
						{{ form_widget(form._token) }}
						<div class="col-md-8">
							{{ form_widget(form.servicio) }}

						</div>
					</fieldset>
				{% endblock %}
				{% block botones %}
					<input type="submit" class="btn btn-primary" id="crear" value="Asignar"/>
					<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
				{% endblock %}
			{% endembed %}
		</form>
	</div>
{% endblock %}
