<table class="table table-condensed" id="tableChofer">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Servicio</th>
            <th>Ibutton/ ApiCode</th>
            <th>Id. Fiscal</th>
            <th>Teléfono</th>
            <th>Licencia</th>
            <th></th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

        {% for chofer in choferes %}
            {% if chofer.licencias|length > 0 %}
                {% for licencia in chofer.licencias %}
                    <tr>
                        {% if (loop.index0 % chofer.licencias|length) == 0 %} {# para que salte el rowspan #}
                            <td rowspan="{{ chofer.licencias|length }}"><a href="{{ path('apmon_chofer_show', {'id': chofer.id,'tab':'main'}) }}">{{ chofer.nombre }}</a></td>
                            <td rowspan="{{ chofer.licencias|length }}">{{ chofer.servicio ? chofer.servicio.nombre :'---'  }}</td>
                            <td rowspan="{{ chofer.licencias|length }}">{{ chofer.ibutton.dallas|default('---') }} / {{ chofer.apicode|default('---') }} </td>
                            <td rowspan="{{ chofer.licencias|length }}">{{ chofer.cuit }}</td>
                            <td rowspan="{{ chofer.licencias|length }}">{{ chofer.telefono }}</td>
                        {% endif %}
                        <td>
                        <b>{{ licencia.categoria  }}</b> &nbsp;{{ licencia.numero ~  ' (vto: '~ licencia.vencimiento|date('d-m-Y') ~ ')' }}</td>
                        <td>
                            <a title="Modificar Licencia" id="btnLicenciaEdit" onclick="modalLicenciaEdit({{licencia.id}}, 
                                        '{{licencia.numero}}', '{{licencia.categoria}}','{{licencia.expedicion|date('d/m/Y')}}',
                                        '{{licencia.vencimiento|date('d/m/Y')}}',{{licencia.aviso}})" class="btn btn-mini btn-default">
                                                            <i class="fa fa-pencil"></i> 
                            </a>
                            <a title="Eliminar Licencia" id="btnLicenciaNew" onclick="modalLicenciaDelete({{licencia.id}}, '{{licencia.numero}}')" class="btn btn-mini btn-default"><i class="fa fa-trash"></i> </a>
                        </td>

                        {% if (loop.index0 % chofer.licencias|length) == 0 %} {# para que salte el rowspan #}
                            <td rowspan="{{ chofer.licencias|length }}">
                                {# {% if is_granted('ROLE_CHOFER_EDITAR') %} #}
                                    <a title="Agregar Licencia" id="btnLicenciaNew" onclick="modalLicenciaNew({{chofer.id}}, '{{chofer.nombre}}')" class="btn btn-mini btn-default"><i class="fa fa-plus"></i> </a>
                                    <a class="btn btn-mini btn-default" href="{{ path('apmon_chofer_edit', {'id': chofer.id} ) }}"><i class="fa fa-pencil"></i></a>
                                    {# {% endif %} #}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td><a href="{{ path('apmon_chofer_show', {'id': chofer.id,'tab':'main'}) }}">{{ chofer.nombre }}</a></td>
                    <td>{{ chofer.servicio ? chofer.servicio.nombre :'---'  }}</td>
                    <td>{{ chofer.ibutton.dallas|default('---') }} / {{ chofer.apicode|default('---') }} </td>
                    <td>{{ chofer.cuit }}</td>
                    <td>{{ chofer.telefono }}</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a title="Agregar Licencia" id="btnLicenciaNew" onclick="modalLicenciaNew({{chofer.id}}, '{{chofer.nombre}}')" class="btn btn-mini btn-default"><i class="fa fa-plus"></i> </a>
                        <a class="btn btn-mini btn-default" href="{{ path('apmon_chofer_edit', {'id': chofer.id} ) }}"><i class="fa fa-pencil"></i></a>

                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>