{% if historico %}

	<table class="table table-striped table-no-more table-bordered  mb-none" id="tablaHistorico">
		<thead>
			<tr>
				<th colspan="4">Web</th>
				<th colspan="4">Formulario App</th>
			</tr>
			<tr>
				<th></th>
				<th>Fecha</th>
				<th>Servicio</th>
				<th>Chofer</th>
				<th>Motivo</th>
				<th>Id</th>
				<th>Nombre</th>
				<th>Posición</th>
				<th></th>
			</tr>
		</thead>
		<tbody class="log-viewer">
			{% for row in historico %}
				<tr>
					<td>
						<span class="badge alert-{{ row.strBadge }}">{{ row.strEstadoTemplate }}</span>
					</td>
					<td>
						{% if row.fecha %}						
							{{ row.fecha|date('d/m/Y H:i', app.user.timeZone) }}
						{% endif %}
					</td>
					<td>{{ row.servicio ? row.servicio.nombre : '---' }}</td>
					<td>{{ row.chofer.nombre }}</td>
					<td>{{ row.StrMotivo }}</td>
					<td>
						{% if row.idFormulario is not null %}
							<a href="{{ aker_api_form_download }}/{{ row.idFormulario }}" target="_blank">{{ row.idFormulario }}</a>
						{% else %}
							{{ row.idFormulario|default('---') }}
						{% endif %}
					</td>
					<td>{{ row.nombre|default('---') }}</td>
					<td>
						{{ row.latitud|default('---') }},
						{{ row.longitud|default('---') }}
					</td>
					<td>
						{% if row.idFormulario is not null %}
							{# colocar aca la url de descarga de alexis. si no hay formulario que no muestre botón #}
							{# {{urlbase}}/api/completado/dowload/64e4ce25af291ba1fca45894 #}
							<a href="{{ aker_api_form_download }}/{{ row.idFormulario }}" class="btn btn-sm btn-default" title="Descargar formulario">
								<i class="fa fa-file-pdf-o "></i>
							</a>
						{% endif %}
						{% if row.servicio %}
							<a href="{{path('crm_peticion_new',{'idServicio':row.servicio.id})}}" class="btn btn-sm btn-default" title="Hacer pedido de reparación">
								<i class="fa fa-clipboard"></i>
							</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<em>No registros en el historico para este servicio.</em>
{% endif %}
