{% extends "app/Template_aker/popup.html.twig" %}

{% block modalId %}modalDelete{% endblock %}

{% block modalTitulo %}Eliminar Chofer{% endblock %}

{% block modalUrl %}{{ path('apmon_chofer_delete', { 'id': chofer.id }) }}{% endblock %}

{% block modalBody %}
    <p>Esta seguro de eliminar este chofer:<strong>{{ chofer.nombre|upper }}</strong>?</p>
    {{ form_widget(delete_form) }}
{% endblock %}

{% block modalOk %}
    <button class="btn btn-primary" type="submit">Eliminar</button>
{% endblock %}
