{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
    {{ chofer }}
{% endblock %}

{% block subtitulo %}
    Desasignar Ibutton
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $("#historico_ibutton_fecha").datetimepicker({format: "DD/MM/YYYY HH:mm", locale: "es"});
                $('#historico_ibutton_motivo').summernote({
                height: 200
            })

        });
    </script>
{% endblock %}


{% block formulario %}
	<form class="form-horizontal" enctype="multipart/form-data" method="POST">
		{% embed "app/Template_aker/panel_form.html.twig" %}
			{% block titulo %}
				Retirar Ibutton
			{% endblock %}
			{% block cuerpo %}
				<fieldset>
					{{ form_errors(form) }}
					{{ form_widget(form._token) }}
					<div class="row-fluid">
						<div class="col-md-8">
						  {{ form_widget(form.fecha) }}
                    {{ form_widget(form.accion) }}
                    {{ form_widget(form.motivo) }}
						</div>
						<div class="col-md-4"></div>
					</div>
				</fieldset>
			{% endblock %}
			{% block botones %}
				<input type="submit" class="btn btn-primary" id="crear" value="Asignar"/>
				<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
			{% endblock %}
		{% endembed %}
	</form>
{% endblock %}