{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	{{ chofer.nombre }}
{% endblock %}
{% block subtitulo %}Edición de Chofer
{% endblock %}


{% block formulario %}
	<form class="form-horizontal" method="POST">
		{% embed "app/Template_aker/panel_form.html.twig" %}
			{% block titulo %}
				
			{% endblock %}
			{% block cuerpo %}

				<div class="row-fluid">
					<div class="col-md-8">
						<h3>Datos del Chofer</h3>
                            {{ form_widget(form.nombre) }}
                            {{ form_widget(form.cuit) }}
                            {{ form_widget(form.documento) }}
                            {{ form_widget(form.telefono) }}
                            {{ form_widget(form._token) }}

					</div>
				</div>


			{% endblock %}
			{% block botones %}
				<input type="submit" class="btn btn-primary" id="crear" value="Modificar"/>
				<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
			{% endblock %}
		{% endembed %}

	</form>
{% endblock %}
