{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	{{ chofer }}
{% endblock %}

{% block js %}
	{{ parent() }}
	<script>
		$(function () {
			$('#chofer_servicio_servicio').select2();

            $("#chofer_servicio_fecha").datetimepicker({
				format: 'DD/MM/YYYY HH:mm',
				locale: 'es',
				widgetPositioning: {
				horizontal: 'right',
				vertical: 'bottom'
        }});
		
});
	</script>
{% endblock %}

{% block formulario %}
	<div class="row-fluid">
		<form class="form-horizontal" enctype="multipart/form-data" method="POST">
			{% embed "app/Template_aker/panel_form.html.twig" %}
				{% block titulo %}
					Entregar Servicio {{chofer.servicio.nombre}}
				{% endblock %}
				{% block cuerpo %}
					<fieldset>
						{{ form_errors(form) }}
						{{ form_widget(form._token) }}
						<div class="col-md-8">
							<div class="col-md-6">
							{{ form_widget(form.estado) }}
							</div>
							<div class="col-md-6">
							{{ form_widget(form.fecha) }}
							</div>	
							
						</div>
					</fieldset>
				{% endblock %}
				{% block botones %}
					<input type="submit" class="btn btn-primary" id="crear" value="Entregar"/>
					<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
				{% endblock %}
			{% endembed %}
		</form>
	</div>
{% endblock %}
