{% if step == 1 %}
Es el número del llavero iButton, Tarjeta RF, o lo que utilice para identificarse en el vehiculo.
{% elseif step == 2  %}
Nombre y Apellido del chofer. Este dato aparecerá en el resto del sistema como identificación del mismo.
{% elseif step == 3  %}
Identificación tributaria del Chofer, CUIT, CUIL o RUT dependiendo del país donde este operando.
{% elseif step == 4  %}
Documento personal del chofer, DNI, DU, Pasaporte dependiendo del país donde este operando.
{% elseif step == 5  %}
Número telefónico del chofer, celular preferiblemente. 
{% elseif step == 6  %}
Número de licencia de conducir.
{% elseif step == 7  %}
Categoría de la licencia de conducir del chofer.
{% elseif step == 8  %}
Fecha en que se emitió la licencia de conducir.
{% elseif step == 9  %}
Fecha en la que expira o vence la licencia de conducir.
{% endif %}
