{% extends "app/Template_aker/list.html.twig" %}
{% form_theme formHistoricoFilter 'app/Form/calypso_fields.html.twig' %}


{% block titulo %}Histórico de Recepción y Entrega de Servicios{% endblock %}        
{% block contentpanel %}  
	{% include "app/Template_aker/popup_load.html.twig" %}
    <div id="choferes">
        {% include "apmon/Chofer/show_historico.html.twig" with {'formHistoricoFilter':formHistoricoFilter, 'filtro': null, 'historico' : historico} %} 
    </div>
{% endblock %}

{% block js %}
	{{ parent() }}

	<script>
		$('#consultar').click(function () {
			var req = $.ajax({
				type: 'GET',
				url: "{{ path('chofer_historico') }}",
				data: {
					'formHistChofer': $("#formHistChofer").serialize(), // form de productos
				},
				dataType: "json",
				// async: true,
					beforeSend: function () { // $("#modalLoad").modal({ backdrop: 'static', keyboard: false });
				}
				});
				req.done(function (respuesta) {
				$("#tableHistorico").text("");
				$("#tableHistorico").html(respuesta.html);
				$('#modalLoad').modal('hide');


			});

		});
	</script>
{% endblock %}
