{% extends "app/Template_aker/list.html.twig" %}

{% block titulo %}Choferes{% endblock %}        
{% block contentpanel %}  
    <div class="col-md-12">
        {% if panel is defined %} 
            <table class="table table-condensed">
                <tbody>
                    {% for key, item in panel %}
                        <tr>
                            <th><a href={{ item['url'] }}>{{ key|e }}</a></th>
                            <td>{{ item['descripcion'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}        
    </div>
{% endblock %}

