{#
<h4>Extra</h4>
<ul class="unstyled">
<ul class="unstyled">
<li><b>Identificador Digital:</b>Es el número del llavero Dallas, Tarjeta RF, o lo que utilice para identificarse en el vehiculo.</li>
<li><b>Nombre:</b>Nombre y Apellido del chofer. Este dato aparecerá en el resto del sistema como identificación del mismo.</li>
<li><b>Identificador Fiscal:</b>Identificación tributaria del Chofer, CUIT, CUIL o RUT dependiendo del país donde este operando.</li>
<li><b>Documento Personal:</b>Documento personal del chofer, DNI, DU, Pasaporte dependiendo del país donde este operando.</li>
<li><b>Teléfono:</b>Número telefónico del chofer, celular preferiblemente. </li>
<li><b>Numero:</b>Número de licencia de conducir.</li>
<li><b>Categoría:</b>Categoría de la licencia de conducir del chofer.</li>
<li><b>Fecha Expedición:</b>Fecha en que se emitió la licencia de conducir.</li>
<li><b>Fecha Vencimiento:</b>Fecha en la que expira o vence la licencia de conducir.</li>
</ul>
#}