{% extends "app/Template_aker/list.html.twig" %}
{% form_theme formChoferNew 'app/Form/calypso_fields.html.twig' %}
{% form_theme formLicenciaNew 'app/Form/calypso_fields.html.twig' %}
{% form_theme formLicenciaEdit 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Choferes{% endblock %}        
{% block contentpanel %}  
    {% include "apmon/Licencia/popup_new.html.twig" %} 
    {% include "apmon/Licencia/popup_delete.html.twig" %} 
    {% include "apmon/Licencia/popup_edit.html.twig" %} 
    {% include "apmon/Chofer/popup_new.html.twig" %} 
    <div id="choferes">
        {% include "apmon/Chofer/choferes.html.twig" with {'choferes':choferes} %} 
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/es.min.js"></script>
    <script>

    $('#btnChoferNew').click(function () { // alert('aca');
    if($("#chofer_documento").val() ===''){
        newNotify('Error','error',"<p>El campo <em>documento personal</em></p>"+ 'no puede estar vacío');
    }else{
            var request = $.ajax({
                type: 'POST',
                url: "{{ path('apmon_chofer_new') }}",
                data: {
                    'id': '{{ organizacion.id }}',
                    'form': $("#formChoferNew").serialize(), // formulario con los datos
                },
                dataType: 'json',
                // async: true,
                beforeSend: function () {
                    $("#modalLoad").modal({ backdrop: 'static', keyboard: false });
                }
            });
            request.done(function (respuesta) {

                $('#modalChoferNew').modal('toggle');
                $("#choferes").text("");
                $("#choferes").html(respuesta.html);
                document.getElementById("formChoferNew").reset();
        //        getDataTable('tableChofer');
            

            });
    }
        });
    </script>
    {% include "apmon/Chofer/licencia.js" %} 
{% endblock %}

