{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ chofer.organizacion.nombre }}{% endblock %}
{% block subtitulo %}Alta de Chofer{% endblock %}


{% block informacion %}
    <div style="float: right; padding-right: 5px;">
        <a href="javascript:void(0);" onclick="javascript:introJs().start();">Ayuda</a>
    </div>
{% endblock %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        <fieldset>
            {{ form_errors(form) }}
            <div class="row-fluid">
                <div class="span6">
                    <h3>Datos del Chofer</h3>
                    <div data-step="2" data-intro="{% include "apmon/Chofer/help.html.twig" with {'step': '2' } %}">
                        {{ form_widget(form.nombre) }}
                    </div>
                    <div data-step="3" data-intro="{% include "apmon/Chofer/help.html.twig" with {'step': '3' } %}">
                        {{ form_widget(form.cuit) }}
                    </div>
                    <div data-step="4" data-intro="{% include "apmon/Chofer/help.html.twig" with {'step': '4' } %}">
                        {{ form_widget(form.documento) }}
                    </div>
                    <div data-step="5" data-intro="{% include "apmon/Chofer/help.html.twig" with {'step': '5' } %}">
                        {{ form_widget(form.telefono) }}
                    </div>
                </div>
                     {{ form_widget(form._token) }} 
        </div>
            {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Agregar' } %}
        </fieldset>
    </form>
{% endblock %}
