<div class="modal fade" id="modalChoferNew" role="dialog" aria-labelledby="modalProductoLabel" data-modal-index="2000" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Alta de Chofer</h4>
            </div>            
            <div class="modal-body">
                <form id="formChoferNew" class="form-horizontal" method="POST">
                     {{ form_widget(formChoferNew.nombre) }}
                     {{ form_widget(formChoferNew.cuit) }}
                     {{ form_widget(formChoferNew.documento) }}
                     {{ form_widget(formChoferNew.telefono) }}
                     {{ form_widget(formChoferNew._token) }} 

                </form>                        
            </div>
            <div class="modal-footer">
                <button id="btnChoferNew" type="button" class="btn btn-primary" >Agregar</button>
                <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            </div>
        </div>
    </div>
</div>       
