<div class="panel">
	<div class="panel-heading">
		<div class="panel-title">Filtro</div>
		<div class="panel-actions">			
		</div>
	</div>
	<div
		class="panel-body">
		{# lo uso para el response de cambio de estado#}
		<form method="POST" id="formHistChofer" class="form-horizontal">
			<div class="row">
				<div class="col-md-2">{{ form_widget(formHistoricoFilter.desde) }}</div>
				<div class="col-md-2">{{ form_widget(formHistoricoFilter.hasta) }}</div>
				<div class="col-md-2">{{ form_widget(formHistoricoFilter.estado) }}</div>
				{% if formHistoricoFilter.servicio is defined and (filtro == 'chofer' or filtro is null)  %}
					<div class="col-md-3">{{ form_widget(formHistoricoFilter.servicio) }}</div>
				{% endif %}
                {% if formHistoricoFilter.servicio is defined and (filtro == 'servicio' or filtro is null) %}
					<div class="col-md-3">{{ form_widget(formHistoricoFilter.chofer) }}</div>
				{% endif %}
			</div>
			<div class="row" style="margin-top: 10px;" >
				<div class="col-md-12">
					<div class="control-group ">
						<div class="controls ">
							<button type="button" class="btn btn-default" id="consultar" onclick="consultarChofer()">Consultar</button>

						</div>
					</div>
				
				</div>
			</div>

		</form>
	

</div>
<div id="tableHistorico">
	{% include "apmon/Chofer/content_historico.html.twig" with {'historico': historico } %}
</div>
<script>
	$(function () {
				var hasta = new Date();
				var desde = new Date();
				desde.setDate(desde.getDate() - 30);
				getDataTable('tablaHistorico');
				{% if formHistoricoFilter.servicio is defined and (filtro == 'chofer' or filtro is null)  %}
					$('#historico_servicio').select2({'width': '100%'});					
				{% endif %}

                {% if formHistoricoFilter.servicio is defined and (filtro == 'servicio' or filtro is null) %}
					$('#historico_chofer').select2({'width': '100%'});					
				{% endif %}
				
            $('#historico_desde').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY',
				date: desde,
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });

            $('#historico_hasta').datetimepicker({
                locale: 'es',
                date: hasta,
                format: 'DD/MM/YYYY',
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
     

        });
    });
</script>