{% if bitacora %}
    <table class="table table-striped table-no-more table-bordered  mb-none">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Operador</th>
                <th>Operación</th>
            </tr>
        </thead>
        <tbody class="log-viewer">
            {% for row in bitacora %}
                <tr>
                    <td>{{ row.registro.createdat|date('d/m/Y H:i', app.user.timeZone) }}</td>
                    <td>{{ row.registro.ejecutor.nombre is defined ? row.ejecutor.nombre : '---' }}</td>
                    <td>{{ row.descripcion|raw }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% else %}
    <em>No registros en la bitacora para este servicio.</em>
{% endif %}