{% extends "app/Template_aker/show.html.twig" %}
{% form_theme formHistoricoFilter 'app/Form/calypso_fields.html.twig' %}

{% block formdelete %}
	{% include "apmon/Chofer/delete_form.html.twig" %}
{% endblock %}

{% block title %}
	{{ chofer.nombre }}
{% endblock %}
{% block titulo %}
	{{ chofer.nombre }}
{% endblock %}

{% block contentpanel %}
	{% include "app/Template_aker/popup_load.html.twig" %}
	{% embed "app/Template_aker/panel_tabs.html.twig" %}

		{% block cuerpo %}
			<div class="row">
				<div class="col-md-12 no-padding">
					<div class="tabs tabs-default">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#main" data-toggle="tab">
									<i class="fa fa-info"></i>
									Datos
								</a>
							</li>
							<li>
								<a href="#bitacora" data-toggle="tab">
									<i class="fa fa-info-circle"></i>
									Bitácora
								</a>
							</li>
							<li>
								<a href="#historico" data-toggle="tab">
									<i class="fa fa-history"></i>
									Histórico
								</a>
							</li>

						</ul>
						<div class="tab-content">
							<div id="main" class="tab-pane active">
								{% include "apmon/Chofer/show_main.html.twig" with {'chofer': chofer } %}
							</div>
							<div id="bitacora" class="tab-pane">
								<div id="tableBitacora">
									{% include "apmon/Chofer/show_bitacora.html.twig" with {'bitacora': bitacora } %}
								</div>
							</div>
							<div id="historico" class="tab-pane">
									{% include "apmon/Chofer/show_historico.html.twig" with {'historico': chofer.choferServicioHistorico,
										'formHistoricoFilter':formHistoricoFilter , 'filtro': 'chofer'} %}
								
							</div>
						</div>
					</div>

				</div>
			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block js %}
	{{ parent() }}

	<script>
		$('#consultar').click(function () {
			var req = $.ajax({
				type: 'GET',
				url: "{{ path('chofer_historico') }}",
				data: {
					'formHistChofer': $("#formHistChofer").serialize(), // form de productos
					'chofer': {{ chofer.id }}, // form de productos
				},
				dataType: "json",
				// async: true,
					beforeSend: function () { // $("#modalLoad").modal({ backdrop: 'static', keyboard: false });
				}
				});
				req.done(function (respuesta) {
				$("#tableHistorico").text("");
				$("#tableHistorico").html(respuesta.html);
				$('#modalLoad').modal('hide');


			});

		});
	</script>
{% endblock %}
