<div class="row">
	<div class="col-md-6">
		<h3>Datos del Chofer</h3>
		{% include "app/Template_aker/show_row.html.twig" with {'label': 'Nombre', 'data': chofer.nombre } %}
		{% include "app/Template_aker/show_row.html.twig" with {'label': 'Identificador Fiscal', 'data': chofer.cuit } %}
		{% include "app/Template_aker/show_row.html.twig" with {'label': 'Documento Personal', 'data': chofer.documento } %}
		{% include "app/Template_aker/show_row.html.twig" with {'label': 'Teléfono', 'data': chofer.telefono } %}
		{% include "app/Template_aker/show_row.html.twig" with {'label': 'ApiCode', 'data': chofer.apicode } %}
		{% if chofer.servicio is not null%}
			<div class="row-fluid row-show">
				<div class="span4 column-label">Servicio Asignado</div>
				<div class="column-show">
					<div class="badge badge-info">{{ chofer.servicio.nombre }}</div>
				</div>
			</div>
		{% endif %}
	</div>
	<div class="col-md-6">
		{% if chofer.ibutton is not null%}
			<h3>Datos del Ibutton</h3>
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'iButton', 'data': chofer.ibutton.dallas } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Fecha de asignación', 'data': chofer.fechaAsignacion|date('d-m-Y H:i:s')} %}
		{% endif %}
		<h3>Licencias</h3>
		<table class="table table-default">
			<thead>
				<th>Número</th>
				<th>Categoría</th>
				<th>Expedición</th>
				<th>Vencimiento</th>
				<th>Anticipación</th>
			</thead>			
			<tbody>
				{% for licencia in chofer.licencias  %}
					<tr>
						<td>{{ licencia.numero }}</td>
						<td>{{ licencia.categoria }}</td>
						<td>{{ licencia.expedicion ? licencia.expedicion|date('d-m-Y') : '---' }}</td>
						<td>{{ licencia.vencimiento ? licencia.vencimiento|date('d-m-Y') : '---' }}</td>
						<td>{{ licencia.aviso }}</td>
					</tr>
				{% endfor %}
			</tbody>			
		</table>
	</div>
</div>
