{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Informe de excesos de velocidad.{% endblock %}
{% block titulo %}Informe de excesos de velocidad{% endblock %}

{% block js %}
  {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var arr = new Array();
            var i = 1;
            arr[0] = ['Servicio', 'Excesos'];
        {% for value in dt %}
                arr[i] = ['{{value['servicio']}}', parseInt('{{value['excesos']}}')];
                i++;
        {% endfor %}

                var data = google.visualization.arrayToDataTable(arr);

                var options = {
                    title: 'Excesos de Velocidad',
                    height: 380,
                    curveType: 'function',
                    legend: {position: 'rigth'},
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('myArea1'));
                chart.draw(data, options);
            }
    </script>
{% endblock %}
{% block informacion %}
    Para el servicio <b>toda la flota</b> desde el <b>{{ consulta.desde }}</b> 
    hasta el <b>{{ consulta.hasta }}</b> con velocidad
    de exceso mayor a <b>{{ consulta.velocidad_maxima }}</b> kms/h
{% endblock %}

{% block contentpanel %}
<div id="myArea1">&nbsp;</div>

{% endblock %}    