{% extends "app/Template/informe_mapa.html.twig" %}
{% block head %}
    {{ parent() }}
    {{ mapa.renderJs()|raw }}
{% endblock %}

{% block titulo %}Informe de Excesos de Velocidad{% endblock %}

{% block informacion %}
    Para el equipo <b>{{ consulta.servicionombre }}</b> desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b> con velocidad
    de exceso mayor a <b>{{ consulta.velocidad_maxima }}</b> kms/h.
{% endblock %}

{% block westpanel %}
    {% if informe is not null %}
        {% if informe|length > 0 %}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th> <label class="checkbox">
                                <input type="checkbox" id="historial_calcular_area" name="historial[calcular_area]" onclick="calcular_area();" value="0">
                                Calcular Dist. y Area 
                            </label></th>
                    </tr>
                    <tr>
                        <th>Fecha</th>
                        <th>km/h</th>
                        <th>Duración</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrada in informe.data %}
                        <tr style="cursor: pointer" onclick="{{ mapa.getMapName() }}.setZoom(16); {{ mapa.getMapName() }}.setCenter(new google.maps.LatLng ({{ entrada.latitud }}, {{ entrada.longitud }}))">
                            <td>{{ entrada.fecha|date('d/m/Y H:i:s') }}</td>
                            <td style="text-align: right">{{ entrada.velocidad_registrada }}</td>
                            <td style="text-align: right">{{ entrada.duracion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <em>No se registran excesos de velocidad.</em>
        {% endif %}
    {% endif %}    
{% endblock %}

{% block centerpanel %}
    {{ mapa.renderHtml()|raw }}  
{% endblock %}


