{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Informe de Excesos de Velocidad{% endblock %}
{% block titulo %}Informe de Excesos de Velocidad{% endblock %}

{% block informacion %}
    Para el servicio <b>{{ consulta.servicionombre }}</b> desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b> con velocidad
    mayor a <b>{{ consulta.velocidad_maxima }}</b> kms/h, se procesaron 
    <b>{{ informe|length }}</b> servicios.
[ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
<form name="formexport" action="{{ path('informe_excesosvelocidad_exportar', {'tipo': '0'}) }}" method="POST" >
    <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
    <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
</form>
{% endblock %}

{% block contentpanel %}

{% if informe  %}
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Servicio</th>
            <th>Cantidad</th>
            <th>Fecha</th>
            <th style="text-align: center">Máx. Permitida (km/h)</th>
            <th style="text-align: center">Registrada (km/h)</th>
            <th style="text-align: center">Duración</th>
            {% if consulta.referencia != 0 %}
                <th style="text-align: center">Ubicación</th>
            {% endif %}
            {% if consulta.mostrar_direcciones %}
                <th style="text-align: center">Dirección</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for equipo in informe %}
        <tr>
            <th rowspan={{ equipo.data|length +1}}>{{ equipo.servicio }}</th>
            <th rowspan={{ equipo.data|length +1}}>{{ equipo.count }}</th>
            {% for row in equipo.data %}
                <tr>
                   <td>{{ row.fecha|date('d/m/Y H:i:s') }}</td>
                   <td style="text-align: center">{{ row.velocidad_maxima|default('---') }}</td>
                   <td style="text-align: center">{{ row.velocidad_registrada }}</td>
                   <td style="text-align: center">{{ row.duracion }}</td>
                   {% if consulta.referencia != 0 %}
                        <td style="text-align: left">{{ row.referencia.nombre|default('---') }}</td>
                   {% endif %}
                   {% if consulta.mostrar_direcciones %}
                       <td>{{ row.domicilio }}</td>
                   {% endif %}
                </tr>
            {% else %} 
                   <td>---</td>
                   <td style="text-align: center">---</td>
                   <td style="text-align: center">---</td>
                   <td style="text-align: center">---</td>
                   {% if consulta.referencia != 0 %}
                        <td style="text-align: left">---</td>
                   {% endif %}
                   {% if consulta.mostrar_direcciones %}
                       <td>---</td>
                   {% endif %}
            {% endfor %} 
        </tr>
        {% endfor %} 
            
    </tbody>
</table>
    
{% endif %}

{% endblock %}
