{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ibutton.organizacion}}{% endblock %}
{% block subtitulo %}Editar Ibutton{% endblock %}


{% block formulario %}
    <form class="form-horizontal" action="{{ path('apmon_ibutton_edit', {'id': ibutton.id} ) }}"  method="POST" >
        <fieldset>
            <div class="row-fluid">
                <div>{{ form_errors(form) }}</div>
                <div class="span7">
                    {{ form_widget(form.dallas) }}
                     {{ form_widget(form.tipo) }}
                     {{ form_widget(form._token) }}
                </div>
                <div class="span4">
                    <h4>información</h4>
                    <p>Nro que se encuentra en la chapa del ibutton leído de izquierda a derecha</p>
                </div>
            </div>
    
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Editar" />
                <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>
        </fieldset>
    </form>

{% endblock %}

