{% extends "app/Template/list.html.twig" %}

{% block titulo %}Mis Ibuttons{% endblock %}        
{% block subtitulo %}Listado de Ibuttons{% endblock %}        
{% block contentpanel %}  
    {% if ibuttons|length > 0%}
        <div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Dallas</th>
                        <th>Código</th>
                        <td>Estado</td>
                        <td>Creado</td>
                        <td>Organización</td>
                        <td>Chofer</td>
                        <td>Acción</td>
                    </tr>
                </thead>
                <tbody>
                    {% for ibutton in ibuttons %}
                        <tr>
                            <td><a href="{{ path('apmon_ibutton_show', {'id': ibutton.id} )}}">{{ibutton.dallas}}</a></td>
                            <td>{{ibutton.codigo}}</td>
                                {% if ibutton.estado == 1%}
                                    <td>   Depósito </td>
                                {% elseif ibutton.estado == 2%}
                                    <td>Instalado</td>
                                {% elseif ibutton.estado == 3%}
                                    <td style="color:red;"> Extraviado</td>
                                {% endif %}
                            </td>    
                            <td>{{ibutton.created_at|date('d-m-Y H:i:s')}}</td>
                            <td>{{ibutton.organizacion.nombre}}</td>
                            <td>{{ibutton.chofer.nombre|default(' --- ')}}</td>
                            {% if ibutton.estado == 1 and is_granted('ROLE_IBUTTON_EDITAR')%}
                                <td> <a href="{{ path('apmon_ibutton_edit', {'id': ibutton.id} ) }}">Editar</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <em>No hay ibuttons cargados</em>
    {% endif %}
{% endblock %}
