{% extends "app/Template/show_tabs.html.twig" %}

{% block formdelete %}
    {% include "apmon/Ibutton/delete_form.html.twig" %} 
{% endblock %} 


{% block titulo %}Mis iButton{% endblock %}    
{% block subtitulo %}{{ ibutton.dallas }}{% endblock %}  

{% block contenthead %}
    <ul class="nav nav-tabs">
        <li {{ tab == 'main' ? "class='active'" : ""  }}><a href="{{ path('apmon_ibutton_show', {'id': ibutton.id}) }}">Datos</a></li>
        <li {{ tab == 'historico' ? "class='active'" : ""  }}><a href="{{ path('apmon_ibutton_historico', {'id': ibutton.id}) }}">Historico</a></li>

    </ul>
{% endblock %}

{% block contentpanel %}
    {% if tab == 'main' %}
        {% include "apmon/Ibutton/show_main.html.twig" %}  
    {% elseif tab == 'historico' %}
        {% include "apmon/Ibutton/show_historico.html.twig" %}  
    {% endif %}

{% endblock %}

