<div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Chofer</th>
                <th>Motivo</th>
               </tr>
        </thead>
        <tbody>
            {% for hist in historico %}
                <tr>
                    <td>{{ hist.desde|date('d-m-Y H:i:s') }}</td>
                    <td>{{ hist.hasta|date('d-m-Y H:i:s') }}</td>
                    <td>{{ hist.chofer.nombre }}</td>
                    <td>{{ hist.motivo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

