
    <div class="row-fluid row-show">
        <div class="span6">
            <h3>Datos del Ibutton</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'iButton', 'data': ibutton.dallas } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Código', 'data': ibutton.codigo} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Estado', 'data': ibutton.estado  == 1?'Depósito': 'Instalado' } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Organización', 'data': ibutton.organizacion.nombre} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Chofer', 'data': ibutton.chofer.nombre|default('---')} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Creado', 'data':ibutton.created_at|date('d-m-Y H:i:s', app.user.timeZone) } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Actualizado', 'data': ibutton.updated_at|date('d-m-Y H:i:s', app.user.timeZone) } %} 
        </div>
    </div>
