{% extends "app/Template/list.html.twig" %}

{% block titulo %}Mis Talleres{% endblock %}        
{% block subtitulo %}Listado de Talleres{% endblock %}        
{% block contentpanel %}  
    {% if talleres|length > 0%}
        <div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <td>Dirección</td>
                        <td>Rubro</td>
                        <td>Horario de atención</td>
                        <td>Email</td>
                        <td>Nota</td>
                        <td>Propio?</td>
                        <td>Acción</td>
                    </tr>
                </thead>
                <tbody>
                    {% for taller in talleres %}
                        <tr>
                            <td><a href="{{ path('taller_show', {'id': taller.id} )}}">{{taller.nombre}}</a></td>
                            <td>{{taller.telefono|default(' --- ')}}</td>
                            <td>{{taller.direccion|default(' --- ')}}</td>
                            <td>{{taller.rubro|default(' --- ')}}</td>
                            <td>{{taller.horario|default(' --- ')}}</td>
                            <td>{{taller.email|default(' --- ')}}</td>
                            <td>{{taller.nota|default(' --- ')}}</td>
                            <td>
                                {%if taller.propio %}
                                    SI
                                {% else %}
                                    NO
                                {% endif %}
                            </td>
                            {#                            {% if ibutton.estado == 1 and is_granted('ROLE_IBUTTON_EDITAR')%}#}
                            <td> <a href="{{ path('taller_edit', {'id': taller.id} ) }}">Editar</a></td>
                            {#                            {% endif %}#}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <em>No hay talleres cargados</em>
    {% endif %}
{% endblock %}
