{% extends "app/Template/show.html.twig" %}
{% form_theme formSector 'app/Form/calypso_fields.html.twig' %}
{% block formdelete %}
    {% include "mante/Taller/delete_form.html.twig" %} 
{% endblock %} 


{% block titulo %}Mis Talleres{% endblock %}    
{% block subtitulo %}{{ taller.nombre }}{% endblock %}  


{% block contentpanel %}

    <div class="row-fluid row-show">
        <div class="span6">
            <h3>Datos del Taller</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': taller.nombre } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Teléfono', 'data': taller.telefono|default('---')} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Dirección', 'data': taller.direccion|default('---')} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Rubro', 'data': taller.rubro|default('---')} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Horario de atención', 'data': taller.horario|default('---')} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Email', 'data': taller.email|default('---')} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Nota', 'data': taller.nota|default('---')} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Propio?', 'data': taller.propio ? 'Si': 'No' } %} 
        </div>
    </div>
    <div class="row-fluid row-show">
        <div class="span10">
            <h3>Sectores</h3>
            <div id="tablaSectores">
                {% include "mante/Taller/sectores.html.twig" with {'sectores': taller.sectores } %} 
            </div>
        </div>
    </div>
    {% include "mante/Taller/popup_sector.html.twig" %} 
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSectorAdd').click(function () {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('taller_addsector') }}",
                    data: {
                        'id': "{{ taller.id }}",
                        'formSector': $("#formSector").serialize(), //form de productos
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaSectores").text("");
                    $("#tablaSectores").html(respuesta.html);
                    $('#modalSector').modal('toggle');   //cierro el form
                });
            });
        });

            function sectorDel(idSector, nombre) {
                var r = confirm('Esta seguro de eliminar el sector "' + nombre + '" del Taller ?');
                if (r == true) {
                    var req = $.ajax({
                        type: 'POST',
                        url: "{{ path('taller_delsector') }}",
                        data: {
                            'idSector': idSector,
                            'id': "{{ taller.id }}",
                        },
                        dataType: "json",
                        //async: true,
                        beforeSend: function () {
                        },
                    });
                    req.done(function (respuesta) {
                        $("#tablaSectores").text("");
                        $("#tablaSectores").html(respuesta.html);
                    });
                }
            }

    </script>
{% endblock  %}
