root { 
    display: block;
}

.accordion-wrapper {
    padding: 0px 30px 10px 30px;

}

.accor-main {
    padding: 10px;
    height: 450px;
}

.accor-main  {
    /*    border: 1px #222 solid;*/

}

.accor-body .accor-menu {
    /*float: left;*/
    padding: 10px 0px 0px 10px;
    /*    width: 150px;*/
    height: 220px;
    vertical-align: bottom;
}

.accor-menu-foot {
    margin-left: 180px;
    font-style: italic;
}

.accor-menu li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.accor-body {
    height: 240px;
}

.accor-main .title {
    padding: 15px 5px 15px 10px;
    font-size: 14px;   
    color: white;
    /*    text-transform: capitalize;*/
    font-weight: bold;
}

.accor-main .tabMapa {
    background-color: #103073;
    background-image: url(../images/homepage-vermapa.jpg);
    background-position: 90% 10%;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.4);
}

.accor-main .tabFlota {
    background-color: #014B96;
    background-image: url(../images/homepage-flota.jpg);
    background-position: 90% 10%;
    background-repeat: no-repeat ;
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.4);
}
.accor-main .tabInformes {
    background-color: #1065AF;
    background-image: url(../images/homepage-informes.jpg);
    background-position: 90% 10%;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.4);
}
.accor-main .tabConfig {
    background-color: #3b93d6;
    background-image: url(../images/homepage-config.jpg);
    background-position: 90% 10%;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.4);
}
.accor-main .tabAgro {
    background-color: #3b93d6;
    background-image: url(../images/homepage-agro.jpg);
    background-position: 90% 10%;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.4);
}
.accor-main .tabMantenimiento {
    background-color: #007AC2;
    background-image: url(../images/homepage-mante.jpg);
    background-position: 90% 10%;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.4);
}

.accor-main a, .accor-main a:link, .accor-main a:visited {
    color: white;
    /*    text-transform: capitalize;*/
    /*    font-weight: bold;*/
}
.accor-main a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.accor-main .tabZona :focus{ 
    outline-style: none;
}


