img {
    border: 0;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.clear_fix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clear_fix {
    display: inline-block;
}
* html .clear_fix {
    height: 1%;
}
.clear_fix {
    display: block;
}
#content {
    width: 970px;
    margin: 0 auto;
}
