/* Estilos para marcadores, no olvidar !important para sobrescribir estilo por defecto */
.label_marcador.referencia span{
    font-weight: normal !important;
    font-size: 12px !important;
}
.label_marcador.referencia span.label_texto{
    color: white !important;
}
.label_marcador.referencia span.label_borde{
    color: #014289 !important;    
}
.label_marcador.referencia .label_interno{
    top: 0px !important;
}
.label_marcador.referencia .label_interno.label_interno_salto{
    top: 0px !important;
}
/* Es
tilos para marcadores, no olvidar !important para sobrescribir estilo por defecto */
.label_marcador.servicio_success span,
.label_marcador.servicio_warning span,
.label_marcador.servicio_danger span,
.label_marcador.servicio span{
    font-weight: bold !important;
    font-size: 13px !important;
}

.label_marcador.servicio_success span.label_texto,
.label_marcador.servicio_warning span.label_texto,
.label_marcador.servicio_danger span.label_texto{
    color: white !important;
}

.label_marcador.servicio span.label_texto{
    color: black !important;
}

.label_marcador.servicio span.label_borde{
    color: orange !important;    /*mediumvioletred #dd514c*/
}

.label_marcador.servicio_success span.label_borde{
    color: #468847 !important;   
}
.label_marcador.servicio_warning span.label_borde{
    color: #f89406 !important;   
}
.label_marcador.servicio_danger span.label_borde{
    color: red !important;    /*mediumvioletred #dd514c*/
}
.label_marcador.servicio_success .label_interno,
.label_marcador.servicio_warning .label_interno,
.label_marcador.servicio_danger .label_interno,
.label_marcador.servicio .label_interno{
    top: 10px !important;
}
.label_marcador.servicio_success .label_interno.label_interno_salto,
.label_marcador.servicio_warning .label_interno.label_interno_salto,
.label_marcador.servicio_danger .label_interno.label_interno_salto,
.label_marcador.servicio .label_interno.label_interno_salto{
    top: -30px !important;
}
