/* 
    Document   : login
    Created on : 26/01/2012, 17:09:50
    Author     : Soft
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
* {
    margin: 0;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
root { 
    display: block;
}

.wrapper-login {
    height: 100% !important;
    width: 100%;
    background-color: #014B96;
    margin: 0 auto -36px;  /*the bottom margin is the negative value of the footer's height */
    /*    background-image: url(../images/fondo1.png);*/
}

.wrapper-container {
    width: 940px;
    height: 100%;
    margin: auto;
}

.wrapper-login-top {
    display: block;
    margin: auto;
    height: 110px;
    width: 940px;
}

.wrapper-login-body {
    width: 940px;
    margin: auto;
    display: table-cell;
}

.pie-login {
    margin: auto;
    height: 35px;
    width: 940px;
    bottom:0;
    border:0;
    clear:both;
    background-color: #157ab3;

     border-top: 1px #00aad3 solid;
    -webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    background-repeat: repeat-x;
}
.pie-login p {
    color: #fff;
    text-align: center;
    padding: 5px 0 5px 0;
    font-size: 9pt;
}
.zonarigth {
    float: right;
    width: 50%;
    height: 100%;
    display: table;
}

.zonaleft {
    float: left;
    width: 50%;
    height: 100%;   
    display: table;

}

.divLogin {
    float:right;
    height: 100%;
    width: 100%;
}

.panel-login {
    /*height: 300px;*/
    width:300px;
    text-align: center;
    background-color: #fff;
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 10px;
    /*    border: 1px #ddd solid;*/

    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.4);

    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.divMark {
    /*    position: relative;*/
    left: 50%;
    top: 50%;
    height:400px;
    width: 450px;
}

.panel-mark {
    width: 450px;
    text-align: left;

    padding: auto 0px 5px 0px;
    margin: 0px 0px 10px 0px;

    /*    border: 1px #ddd solid;*/
    /*    background-color: #fff;*/    
    /*    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
        box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.4);
    
        -webkit-border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;*/
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.panel-mark p, .panel-mark h3 {
    color: #fff;
    padding: 5px 10px 5px 10px;
}

.panel-login-content {
    padding: 30px;
}
.panel-login-titulo {
    text-align: center;
    color: #fff;
    width: 70%;
    background-color: #053D4D;

    padding: 2px 0px 2px 0px;
    margin: auto;

    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.4);

    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;

    background-image: -moz-linear-gradient(top,#70c2e0, #157ab3 );
    background-image: -ms-linear-gradient(top, #70c2e0, #157ab3 );
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70c2e0), to(#157ab3));
    background-image: -webkit-linear-gradient(top, #70c2e0, #157ab3 );
    background-image: -o-linear-gradient(top, #70c2e0, #157ab3 );
    background-image: linear-gradient(top,#70c2e0, #157ab3 );
    background-repeat: repeat-x;
}

.panel-error {
    min-height: 35px;
}

.texto{
    background-color: #fff;
    /*    min-height: 300px;*/
    /*   min-width: 384px;*/
    float: left;
    position: fixed;
    left: 10px;
    top: 300px;
    margin-top: 7px;
    width: 400px;
}

.logo-login {
    border-top: 0px #ddd solid;
    border-left: 1px #ddd solid;
    border-right:  1px #ddd solid;
    text-align: center;
    background-color: #fff; 

    width: 350px;
    height: 120px;
    line-height: 100px;    
    float: left;

    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.4);
}
.logo-login img {
    max-width: 230px;
    max-height: 100px;
    /*padding: 5px 0px 0px 0px;*/
    text-align: center;
}

.panel-msie {
     background-color: khaki;
     border: 1px solid white;
     padding: 10px;
}
.panel-msie p{
     color: black !important; 
}