html, body {
    height: 100%;
    background-color: #014B96 !important;
}
root { 
    display: block;
}

h1 {
    font-size: 35.75px;
}
h2 {
    font-size: 22px !important;
}
h3 {
    font-size: 17px !important;
}
h4 {
    font-size: 16.25px;
}
h5 {
    font-size: 13px;
}
h6 {
    font-size: 11.049999999999999px;
}

input.small { width: 100px} 
input.medium { width: 200px} 
input.large { width: 300px} 

.row-show {
    padding: 0px;
}

.row-show h3 {
    color: #157AB3;
    border-bottom: 1px solid #157AB3;
}
.row-form legend {
    color: #157AB3;
    border-bottom: 1px solid #157AB3;
}
.column-show {
    font-size: 13px;
    color: #626262;
    /*    color: #808080;*/
}
.column-label {
    font-weight: bold;
}

.imagen-logo img {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.imagen-logo-dist img {
    padding: 0 5px 5px 5px;
    margin-left: 10px;
    width: 110px;
    float: right;
    display: block;
}
.icono-min {
    width: 20px;
}
.logo-small {
    width: 40px;
}
.logo-medium {
    width: 100px;    
}

.icono {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    float: left;
}

/* DEFINICIONES DE LOS ELEMENTOS DEL SISTEMA */
.titulo {
    padding: 10px 0px 10px 0px;
    font-size: 18pt; 
}
.subtitulo {
    padding: 5px 10px 5px 5px;
    font-size: 14pt;
    font-weight: bold;
    color: #004289;
}

/* DEFINICIONES DE LOS PANELES DEL SISTEMA */
.panel {
    display:block;
    width: 100%;
    margin-bottom: 5px;
}
.panel .top {
    /*height: 35px;*/
    width: 100%;
}

.panel .left {
    float: left;
    width: 190px;
    height: 100%;
}

.panel .list {
    margin-left: 200px; 
}

.panel .body {
    height: 100%;
    background-color: #fff;
    border: 1px #5697D1 solid;

    /*    -webkit-border-radius: 10px 0px 10px 10px;
        -moz-border-radius: 10px 0px 10px 10px;
        border-radius: 10px 0px 10px 10px;*/
}

.panel .top .solapa {
    height: 31px;
    background: #5697D1;
    float: right;
    margin-top: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    /*border-radius: 10px 10px 0px 0px;*/
    text-align: right;
}


.panel .top .solapa h1 {
    text-align: center;
    color: white;
    font-size: 13pt;
    margin: 0px 25px 0px 25px;
}

.panel .top .solapa a {
    color: white;
}

.panel h1 {
    color: #157AB3;
    padding: 0px;
    font-size: 14pt;
}

.panel {

    height: 100%; 
}

.panel-content {
    margin: 5px 10px 5px 10px;  
    overflow-y: scroll;
    height: 100%; 
}

.panel-content .nav-tabs {
    background: #e7eaeb;
    margin:  5px 5px 0px 0px;
    padding: 10px 3px 0px 3px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}

.left .search, .panel-mini {
    border: 1px #5697D1 solid;
    margin: 0px 0px 12px 0px;
    height: 35px;
    display: block;
    background-color: #fff;
    padding: 10px 5px 5px 10px;
    /*    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);*/
}
.search input {
    width: 140px;
    /*height: 25px;*/
}
.search button {
    height: 27px;
    float: right;
    margin: 0px 0px 0px 0px;
    width: 30px;

}

.volver {
    float: left;
    font-size: 14px;
}

.left .botonera {
    border-left: 1px #5697D1 solid;
    border-right: 1px #5697D1 solid;
    border-bottom: 1px #5697D1 solid;

    margin: auto;
    display: block;
    font-size: 12px;
}

.botonera ul { margin:0; padding:0; list-style-type:none; }
.botonera li { 
    margin:0 0 0px 0; 

}
.botonera a { 
    font-weight: bold;
    border-top: 1px #5697D1 solid;

    display:block; 
    background-color:#FFF; 
    padding: 10px 0px 10px 10px; 
    text-decoration:none; 

    /*  background-image: -moz-linear-gradient(top, #ffffff,#BBCDEB);
        background-image: -ms-linear-gradient(top, #ffffff, #BBCDEB);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#BBCDEB));
        background-image: -webkit-linear-gradient(top, #ffffff, #BBCDEB);
        background-image: -o-linear-gradient(top, #ffffff, #BBCDEB);
        background-image: linear-gradient(top, #ffffff, #BBCDEB);
        background-repeat: repeat-x;*/  
}

.botonera a:hover { 
    background-color: #CBD7EC; 
    color: #1C88CC; 
    /*  
        background-color: #EE6600; 
        color: #FFF; 
        background-image: -moz-linear-gradient(top, #157AB3,#dce5ea);
        background-image: -ms-linear-gradient(top, #157AB3, #dce5ea);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#157AB3), to(#dce5ea));
        background-image: -webkit-linear-gradient(top, #157AB3, #dce5ea);
        background-image: -o-linear-gradient(top, #157AB3, #dce5ea);
        background-image: linear-gradient(top, #157AB3, #dce5ea);
        background-repeat: repeat-x;*/ 
}



.sidebarpanel {
    background-color: #eee;
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 10px;
    border: 1px #ddd solid;

    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.4);

    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.propias-page-header {
    display: block;
    height: 30px;
    background: #CBD7EC; /*Es el fondo del titulo de los list y form */
    padding: 5px 10px 5px 10px;
    margin: 0px;
    /*    -webkit-border-radius: 10px 0px 0px 0px;
        -moz-border-radius: 10px 0px 0px 0px;
        border-radius: 10px 0px 0px 0px;*/
}

.propias-page-header .submenu li, .panel-content .submenu li {
    color: #fff;
    border: 1px solid black;
    display: inline;
}

.propias-page-header .submenu li a, .panel-content .submenu li a {  
    font-size: 14px;  
    text-decoration: none;  
    float:left;  
    padding: 10px;  
    color:  #157AB3;  
}  

.panel-form {
    margin: auto;
    /*    width: 90%;*/
    background-color: #fff;
    padding: 10px 15px 10px 15px;
    margin: 0px auto 10px auto;
    border: 1px #ddd solid;

    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.4);

    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.wait {
    height: 150px;
    width: 300px;
    margin: auto auto auto -150px;
    background-position: 50% 80px;   
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 16px;        
    text-align: center;
    color: #157AB3;
    padding-top: 40px;
}



.help {
    float: right;   
    width: 16px;
    height: 16px;
    margin: 5px 5px;
}

.ui-timepicker-div
.ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 12px; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.td-accion {
    white-space: nowrap !important;
}