body, html { 
    display: block;
    height: auto;
    margin: 0;
    background-image: url(images/fondo.jpg);
    background-color: #fff;
}

ul, ol {
    padding: 0;
    margin: 0 0 0px 25px;
}

.clear {
    clear: both;     
}

#mapas-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden; 
    overflow-x: hidden; 
    overflow-y: hidden; 

}

#mapas-left {
    float: left;
    display: block;
    width: 308px;
}

#mapas-body { float:left; width: 100%;  height: 100%; }

#panel-left {
    display: block;
    float: left;

    height: 100%;
    background: white;
}

#panel-trigger-left {
    float: left;  
    display: table-cell;
    background-color: #014B96;    
}

.dividerHorizontal {
    width: 100%; 
    background-color: #014B96;
    height: 2px;
    display: block;
    text-align: center;
}

.dividerHorizontal:hover, .pestaTriggerH:hover, 
.pestaTriggerV:hover, #panel-trigger-left:hover, .panelTriggerV:hover {
    /*    background-color:#5797d4;*/
    cursor:pointer;
}

.dividerHorizontal-inner {
    width: 100%; 
    background-color: transparent;
    height: 20px;
    display: block;
}

.pestaTriggerH {
    /*    background-color: #014B96;*/
    /*    height: 20px;*/ 
    width: 112px;
    position: relative;
    margin: 0 auto 0 auto;
    z-index: 1;
    /*    
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px; */
}

.pestaTriggerV {
    /*    background-color: #014B96;*/
    width: 20px;
    height: 112px;
    position: relative;
    margin: 20px auto;
    z-index: 1;
    /*    -webkit-border-radius: 0 5px 5px 0px;
        -moz-border-radius: 0 5px 5px 0px;
        border-radius: 0 5px 5px 0px;
        vertical-align: middle;*/
}

.pestaTriggerV img {
    position: relative;
    /*    top: 40px;
        left: 3px;*/
}

.panelTriggerV {
    height: 100%; 
    width: 2px;
}

#panel-trigger-top {
    display: block;
}

#panel-equipos-top-inner {
    /*    padding: 5px 15px 5px 5px;  */
    width: 308px;
}

.panel-equipos-top-panel label {
    font-size: 10px;
}
.panel-equipos-top-panel {
    /*border: 1px solid #1065AF;*/
}

.panel-equipos-top-titulo {
    /*    color: #014289;
        background-color: #9DA7CF;
        font-weight: bold;*/
    background: #80ade5 url(images/80ade5_40x100_textures_04_highlight_hard_100.png) 0 50% repeat-x;
    border-bottom: 1px solid #777;
    font-weight: bold;
    color: white;
    padding: 8px;
}

#panel-equipos-top {
    display: block;
}

#panel-equipos {
    /*    width: 320px;*/
    overflow: hidden;
    background-color: white;
    margin: 3px 3px 3px 3px;
    overflow: hidden; 
    overflow-x: hidden; 
    overflow-y: visible; 
}

#mapas-top {
    /*height: 120px;*/
/*    margin:0 1% 10px 1%;*/
}

#mapas-top .mapas-topbar {
    top: 0;
    left: auto;
    right: auto;
}

#mapas-top .logo {
    border-right:  1px #157ab3 solid;    
    text-align: center;
    vertical-align: top;
    background-color: #fff; 
/*    width: 240px;*/
    height: 85px;
    float: left;
    margin: 0px 10px 0px 0px;
    padding: 0px 10px 0px 10px;
    line-height: 70px;
}
#mapas-top .logo img {
    max-width: 230px;
    max-height: 70px;    
    text-align: center;
}



#mapas-top .mapas-topbar a {
    /*    color: #053D4D;*/
    /*    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
}

.servicio_panel {
    border: 1px solid #ccc;
    display: block;
    min-height: 40px; 
    margin-bottom: 5px;
    margin-right: 3px;
    margin-left: 3px;
    padding: 5px;
    /*    -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;*/
}

.servicio_panel:hover {
    border: 1px solid #053D4D;
    background-color: #eee;
}

.servicio_panel .servicio_top {
    display: block;
    height: 40px;
}

.servicio_panel .zone_horizontal {
    display: block;
    height: 20px;
    clear: right;     
}

.servicio_panel .servicio_principal {
    float: left;
    width: 100%;
    display: block;

}
.servicio_panel .panel_status {
    display: block;
    background-color: #345233;
    border: 1px solid red;
    /*    float: right;*/
}
.servicio_panel .servicio_nombre {
    font-weight: bold;
    font-size: 14px;
    float: left;
}

.servicio_panel .block {
    margin: 0px 3px 0px 3px;
    float: right;
}
.servicio_panel .bateria {
}

.servicio_panel .velocidad {
    font-size: 11px;
}

.servicio_panel .fecha {
    font-style: italic;
    font-size: 12px;
    float: right;
}
.servicio_panel .direccion {
    font-style: italic;
    font-size: 11px;
}

.servicio_panel .icono_servicio img {
    padding: 3px;
    display: block;
    width: 32px;
    height: 32px;
    float: left;
}

.form_small .row-show {
    padding: 0px 0px 3px 0px;
}
.form_small .column-label label{
    font-size: 11px;
}

.form_small select input {
    font-size: 10px;
    height: 20px;
}
.form_small .checkbox, .radio {
    width: 200px;
    font-size: 11px;
}
.list_historial {
    font-size: 11px;
}
.list_historial .servicio_panel {
    display: table;
    min-height: 20px;
    width: 269px;
}


.menubar {
    padding: 0px; 
}

.menubar a {
    font-weight: bold;
    font-size: 13px; 
    color:  white;     /*este el el hover de un texto comun*/
}

.menubar div > ul a, .menubar a {
    display: block;
    float: none;
    padding: 10px 10px 5px  !important;
    line-height: 19px;
    text-decoration: none;
}

.menubar ul li a, .menubar ul a:hover {
    color : #222;   
    font-weight: normal;
}

.menubar .open > .dropdown-toggle,
.menubar .active > .dropdown-toggle,
.menubar .open.active > .dropdown-toggle {
    background-color: transparent;
    color: #053D4D;
}
/* esto es para la punta arriba del menu */
.menubar .dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 9px;
}
/*esto es para la punta arriba del menu*/
.menubar .dropdown-menu:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 10px;
}

.menubar .dropdown-menu {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    background-color: #157AB3;
    background-repeat: repeat-x;

    color: #ffffff;
    font-weight: bold;
}

.historial-icon-plus a {
    display:block;
    width: 16px;
    height: 16px;
    background: url("images/plus.png") 0 0 no-repeat;
}
.historial-icon-plus a:hover {
    background-position: -16px 0;    
}
.historial-icon-minus a {
    display:block;
    width: 16px;
    height: 16px;
    background: url("images/minus.png") 0 0 no-repeat;
}
.historial-icon-minus a:hover {
    background-position: -16px 0;    
}
