html, body {
    height: 100%;
    //background-color: #014B96;
    background-image: url(../images/background.jpg);
    background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
}
root { 
    display: block;
}

.wrapper {
    height: 100%; 
    //background-color: #EAEAEA;
}
.wrapper-body {
    height: 100%;
    margin: 0 auto -29px;  /*the bottom margin is the negative value of the footer's height */
}

.master-container {
    margin: 0px 1% 0px 1%;
    width: 98%;

    overflow: none;
    border-left-width:0px;
    border-bottom-width:0px;
    border-top-width:0px;
    border-right-width:0px;

}

.header {
    color:White;
    width:100%;
}

.headbar {
    height: 90px;
    top: 0;
    left: auto;
    right: auto;
    overflow: visible;
    //margin:0 3% 10px 3%;
    padding: 0px 0px 25px 0px;
}

.headbar-mapa a,
.headbar a {
    color: #053D4D;
}

.headbar-mapa h3 a:hover,
.headbar h3 a:hover, .topbar .brand:hover, .topbar ul .active > a {
    background-color: #053D4E;
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff;
    text-decoration: none;
}

.headbar-mapa h3,
.headbar h3 {
    position: relative;
}

.headbar h3 a, .headbar .brand {
    float: left;
    display: block;
    padding: 8px 20px 12px;
    margin-left: -20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
}

.headbar p {
    margin: 0;
    line-height: 40px;
}
.headbar p a:hover {
    background-color: transparent;
    color: #ffffff;
}

.barratop {
    background-color: white;      /* azul oscuro #053D4D*/
    height: 85px;
/*    border-left: 0px #157AB3 solid;
    border-right: 1px #157AB3 solid;*/
    border-bottom: 1px #157AB3 solid;


    background-image: -moz-linear-gradient(top, #ffffff,#dddddd);
    background-image: -ms-linear-gradient(top, #ffffff, #dddddd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dddddd));
    background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
    background-image: -o-linear-gradient(top, #ffffff, #dddddd);
    background-image: linear-gradient(top, #ffffff, #dddddd);
    background-repeat: repeat-x;

}
#mapas-barramenu, 
#barramenu {
    padding-bottom: 1px;
    height: 35px;       /* es el alto de la barra de menu */
    background-color: white;
    color: #ffffff;

    /*gradiente de colores de la barra*/
    background-image: -moz-linear-gradient(top,#70c2e0, #157ab3);
    background-image: -ms-linear-gradient(top, #70c2e0, #157ab3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70c2e0), to(#157ab3));
    background-image: -webkit-linear-gradient(top, #70c2e0, #157ab3);
    background-image: -o-linear-gradient(top, #70c2e0, #157ab3);
    background-image: linear-gradient(top, #70c2e0, #157ab3);
    background-repeat: repeat-x;
}

.menubar {
    padding: 0px; 
}

.menubar a {
    font-weight: bold;
    font-size: 13px; 
    color:  white;     /*este el el hover de un texto comun*/
}

.menubar div > ul a, .menubar a {
    display: block;
    float: none;
    padding: 10px 10px 5px  !important;
    line-height: 19px;
    text-decoration: none;
}
ul.menubar.inline > li{
    padding-left: 0px;
    padding-right: 0px;
}

.menubar ul li a, .menubar ul a:hover {
    color : #222;   
    font-weight: normal;
}

.menubar .open > .dropdown-toggle,
.menubar .active > .dropdown-toggle,
.menubar .open.active > .dropdown-toggle {
    background-color: transparent;
    color: #053D4D;
}
/* esto es para la punta arriba del menu */
.menubar .dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 9px;
}
/*esto es para la punta arriba del menu*/
.menubar .dropdown-menu:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 10px;
}

.menubar .dropdown-menu {
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    background-color: #157AB3;
    background-repeat: repeat-x;

    color: #ffffff;
}

.zona-usuario {
    float: right;
/*    height: 58px;*/
    color: white; 
    padding: 3px 3px 2px 3px;
    text-align: right;
}
.zona-usuario a strong {
    color: #157AB3;
}

.zona-usuario > ul.inline {
    margin-left: 0;
    margin-bottom: 2px;
    list-style: none;
}
.zona-usuario > ul.inline > li {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    padding-left: 0px;
    padding-right: 0px;
}

.zona-usuario > ul {
    list-style: none;
}

.zona-usuario > li {
    margin: 0px;
}

.zona-usuario ul li a {
    color: black;
}

.zona-usuario .dropdown ul li a {
    color: black;
}

.zona-usuario .dropdown ul li a:hover {
    color: white;
}

.zona-right {
    float: right; 
    min-width: 450px;
}
.zona-reloj, .zona-search {
    width: auto;
    position: relative;
    padding: 0px 20px 0px 0px;
    color: white;
    text-align: right;
    font-size: 14px;
    display: block;
    font-weight: bold;
}

.logo {
    border-right:  1px #157ab3 solid;    
    text-align: center;
    vertical-align: top;
    background-color: #fff; 
/*    width: 240px;*/
    height: 85px;
    float: left;
    margin: 0px 10px 0px 0px;
    padding: 0px 10px 0px 10px;
    line-height: 70px;
}
.logo img {
    max-width: 230px;
    max-height: 70px;
    text-align: center;
}

.fooGenerico {
    bottom:0;
    border:0;
    clear:both;
    background-color: #157ab3;
    height: 28px;

/*    width: 94%;
    margin: 0px 3% 0px 3%;*/

    border-top: 1px #157AB3 solid;
    background-repeat: repeat-x;
}

.fooGenerico p {
    color: #fff;
    text-align: center;
    margin: 5px 0 0px;
    font-size: 9pt;
}

#bread {
    font-size: 8pt;
    color: #00AAD3;
    padding: 0px 0px 0px 10px;
}
#bread a {
    font-style: italic;
    font-weight: bold;
    color: #157AB3;
}
.separator {
    font-weight: bold;
    color: #157AB3;
    display: inline;
}

/*Button Notification styles*/
.btn-notification {
    position: relative;
    margin: 10px 5px 0px 5px;
}

/*Notification styles*/

/*Red style*/
.notification {
    padding:0px 7px 0px 7px; 
    color:#fff;
    background: red; /*#ed7a53;*/
    border-radius:2px;
    -moz-border-radius:2px;
    font-weight:700;
    font-size:12px;
    font-family: Tahoma;
    position: absolute;
    top:-8px;
    right:-8px;
    -webkit-box-shadow:  0px 1px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 1px 0px 0px rgba(0, 0, 0, 0.2);
    text-shadow:none;
    z-index: 99999;
}

.notification.green {background: #9fc569;} /*green style*/
.notification.blue { background: #88bbc8;} /*blue style*/

.area-nombre-org {
    text-align: right; 
    color:#157AB3; 
    margin: 0 0 2px 25px;
    padding-right: 5px
}

.search_result_link {
    padding: 10px;
}
.search_result_link a:link, a:visited {
    color: #0088cc;
    text-decoration: none;
}
.search_result_link a:active, a:hover {
    text-decoration: none;
}
