{% if eventos %}
	{% for evento in eventos %}
		<input type="hidden" id="titulo{{ evento.id }}"/>
		<div class="block_servicio">
			{% if evento.nuevo %}
				<div class="label label-success">Nuevo</div>&nbsp;
			{% endif %}
			<i>
				<small>{{ evento.fecha|date('d-m-Y H:i:s', app.user.timeZone) }}</small>
			</i>
			<a class="btn btn-default btn-sm" style="float: right;" id="btregistrar" onclick="showModalComentar(true, {{ evento.id }})">
				<i class="fa fa-comment"></i>
			</a>
			<br/>

			<label class="label label-default">{{ evento.servicio|raw|slice(0, 30) }}</label><br/>
			<label class="label label-default">{{ evento.itinerario|slice(0, 30) }}</label><br/>
			<div class="small">
				<a href="{{ path('app_eventohistorico_show', { id: evento.eventohistorial_id }) }}">
					<i>{{ evento.titulo }}</i>
				</a>
			</div>
		</div>
	{% endfor %}
{% else %}
	<b>Cargando eventos, espere...</b>
{% endif %}
