{% for dato in data %}
	{% if (dato.servicios|length) > 0 %}
		<div class="servicio_top card-itinerario" style="" id="i{{ dato.itinerario.id }}">
			<div class="zone_horizontal">
				<div class="titulo_itinerario" title="{{ dato.itinerario.codigo }}" style="cursor: pointer;">
					{{ dato.itinerario.codigo|slice(0,15) }}
					{% if dato.idsRef[dato.itinerario.id] is defined %}
						<a href="#" title="Ver Referencias en Mapa" onclick='checkVerReferencias({{ dato.idsRef[dato.itinerario.id]|json_encode() }}, {{ dato.itinerario.id }})' title="mostrar/ocultar referencias" style="float: right;border-color: {{ dato.itinerario.id in showRef ? 'red' : '#e6e6e6' }};" class="btn btn-success btn-xs" id="{{ dato.itinerario.id }}">
							<i id="verReferencias" style="display: none"></i>
							<div class="fa fa-map-marker"></div>
						</a>
						<a href="#" style="float: right;" data-toggle="modal" class="btn btn-default btn-xs" role="button" title="Agregar Comentario" onclick="newComentario('{{dato.itinerario.id}}','{{dato.itinerario.codigo}}')" id="btnComentario" data-original-title="Comentario">
							<span class="fa fa-comment" aria-hidden="true"></span>
						</a>
						{% if is_granted('ROLE_ITINERARIO_ESTADO') %}
							<a href="#" style="float: right;" class="btn btn-default btn-xs" title="modificar estado" onclick="changeEstado('{{ dato.itinerario.codigo }}','{{ dato.itinerario.id }}', '{{ dato.itinerario.estado }}')">
								<i class="fa fa-exchange"></i>
								<input type="hidden" id="btn_change_estado_badge_{{ dato.itinerario.id }}" value="btn-{{ dato.itinerario.badge[dato.itinerario.estado] }}"/>
							</a>
						{% endif %}
					{% endif %}
				</div>
				<div id="labelEstado_{{dato.itinerario.id}}">
					<label style="font-size: 9px; margin-left: 10px;" class="label label-{{dato.itinerario.strBadge}}">{{dato.itinerario.strEstado}}</label>
				</div>
			</div>
			{% if dato.servicios %}
				{% for arr in dato.servicios %}
					<div class="block_servicio card-servicio">
						<label class="label label-default label-{{ arr.labelColor }}">
							{{ arr.servicio.nombre|slice(0,19) }}
						</label>
						<a class="btn btn-default btn-xs" href="#" onclick="serguirMapa({{ arr.servicio.ultlatitud }}, {{ arr.servicio.ultlongitud }},{{ arr.servicio.id }} , true)" id="{{ arr.servicio.id }}" title="Seguir en Mapa">
							<i class="fa fa-road"></i>
						</a>
						{% if arr.servicio.iscustodio %}
							<div class="label label-info" title="CUSTODIO">C</div>
						{% endif %}
						<i>
							<small>
								{{ arr.servicio.ultFechaHora is not null ? arr.servicio.ultFechaHora|date('d/m @ H:i', app.user.timeZone) : '---' }}
							</small>
						</i>
						<br>
						<div id="{{ arr.servicio.id ~'-panel-direccion' }}" class="small">
							{% if arr.cerca is defined and arr.cerca is not null %}
								<b>
									{{ arr.cerca.leyenda }}
								</b>
							{% endif %}
							en
							<b>
								<i>
									{{ arr.direccion|default('---') }}
								</i>
							</b>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	{% endif %}
{% endfor %}
