{% extends 'app/Template_aker/monitor.html.twig' %}

{% block titulo %}
  {{ organizacion }}
{% endblock %}
{% block css %}
  {{ parent() }}
  <style type="text/css">
    .titulo_itinerario {
      font-size: 17px !important;
      margin: 3px;
      font-family: inherit;
      font-weight: bold;
      line-height: 18px;
      color: inherit;
      text-rendering: optimizelegibility;
    }
    .block_servicio {
      margin: 5px;
      padding: 3px;
      border: 1px solid #cccccc;
      border-radius: 2px;
    }
    .servicio_top {
      margin-bottom: 5px;
      border: 1px solid #cccccc;
    }
    .label-danger {
      background-color: red;
    }
  </style>
{% endblock %}

{% block js %}
  {{ parent() }}
  {{ mapa.renderJs()|raw }}

  <!-- todo esto es para el mapa -->
  <script type="text/javascript" src="{{ asset('plugins/spectrum/spectrum.js') }}"></script>
  <script type="text/javascript">
        {% include "apmon/Mapa/auxiliares.script.js" %}
        {% include "apmon/Mapa/gmaps-lib.script.js" %}    
        {% include "monitor/Itinerario/popup_estado.js" %}    
    {#    {% include "apmon/Mapa/dialog-iconos.script.js" %}
        {% include "apmon/Mapa/dialog-referencia-crear.script.js" %}
        {% include "apmon/Mapa/dialog-referencia-redibujar.script.js" %}#}

        </script>

  <!-- hola -->
  <script type="text/javascript">
        var lat = "-34.864055";
        var long = "-64.914471";
        var id = 0;
        var siguiendo = false;
        var countSelectItinerarios = 0;
        var markers = new Array();
        var siguiendo = false;
        var showRef = [];
        var req_servicios = null;
        var req_eventos = null;
        var idItinerario = null;
        {% include "monitor/Mapa/mapa.js" %}    

        $(document).ready(function() {
            showServiciosMapa();   //traigo los eventos de los itinerarios seleccionados
            $("#historico_itinerario").val(null).trigger('change');
          //  setInterval(showServiciosMapa, 60000); 
          
            
            $('#historico_itinerario').on('select2:unselect', function (e) {
                
                if($('#historico_itinerario').val() == null  ){
                    $("#divItinerarios").html("<h4>Espere....</h4>");
                    $("#consularIt").prop("disabled", true);
                    $("#historico_itinerario").prop("disabled", true);
                }    
            });
            /* cuando se modifica el option itinerario llama a showServicioMapa */
            $("#historico_itinerario").change(function () {
                showServiciosMapa(); 
               
            });
            $("#comentario_respuesta").summernote({
             height: 110,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
      
                    ]
        });           
           
        });
        
        function serguirMapa(lat, long, idServicio, boton){
            if (this.id != 0){
                document.getElementById(this.id).style.borderColor = "#e6e6e6";
            }
            if (this.id == idServicio && boton){
                document.getElementById(idServicio).style.borderColor = "#e6e6e6";
                    this.lat = "-34.342384";
                    this.long = " -64.208066";
                    this.id = 0;
                    this.siguiendo = false;
                    gotoCenter(this.lat, this.long);
                    setNivelZoom(4);
            } else{
                this.id = idServicio;
                        this.lat = lat;
                        this.long = long;
                        this.siguiendo = true;
                        gotoCenter(this.lat, this.long, true);
                        document.getElementById(idServicio).style.borderColor = "red";
            }
        }
        $("#btnNewComentario").click(function () {
            var id = $("#btn_change_estado_badge_")
            var req = $.ajax({
                type: 'POST',
                url: "{{ path('itinerario_addcomentario') }}",
                data: {
                    'comentario': $("#comentario_respuesta").val(), //form de productos
                    'id': document.idItinerario //form de productos
                },
                dataType: "json",
                //async: true,
                beforeSend: function () {
                    $("#modalLoad").modal({ backdrop: 'static', keyboard: false });
                },
            });
            req.done(function (respuesta) {
                $("#comentario_respuesta").summernote("reset");
                $('#modalLoad').modal('hide');
                $('#modalNewComentario').modal('hide'); //oculto el dialog.
                newNotify('Exito!',"success","Comentario agregado correctamente");
                
            });

        });
        function showServiciosMapa() {
            var shows = new Array();
            var hiddens = new Array();
            var i = 0;
            var j = 0;
            /* toma los valores del option itinerario los seleccionados y los no. 
             * los seleccionados los muestra en el mapa y los no los oculta
             */
            $("#historico_itinerario option").each(function(){
                if ($(this).is(':selected')){
                    if ($(this).val() != 0){ //cualquiera menos TODOS
                        shows[i] = $(this).val();
                        i++;
                    }
                } else {
                    hiddens[j] = $(this).val();
                    j++;
                }

                if (shows.length > 0) { //si existe un filtro por itinerario se deshabilita el formulario
                    $("#historico_satelital").prop("disabled", true);
                    $("#historico_transporte").prop("disabled", true);
                    $("#historico_empresa").prop("disabled", true);
                    $("#consularIt").prop("disabled", true);
                } else {
                    $("#historico_satelital").prop("disabled", false);
                    $("#historico_transporte").prop("disabled", false);
                    $("#historico_empresa").prop("disabled", false);
                    $("#consularIt").prop("disabled", false);
                }
                
            });
            if(document.req_servicios != null){
             document.req_servicios.abort();//abortamos si hay peticiones ya en curso
            }
          
             document.req_servicios = $.ajax({
                type: 'GET',
                url: "{{ path('mapa_itinerario_showservicios') }}",
                data: {'hiddens':JSON.stringify(hiddens), 'shows': JSON.stringify(shows), 'showRef':showRef },
                dataType: "json",
             //   async: true,
                beforeSend: function () {
                    
                    },
                });
                document.req_servicios.done(function (respuesta) {
                    $("#divItinerarios").html(respuesta.html);
                    $("#historico_itinerario").prop("disabled", false);
                    $("#consularIt").prop("disabled", false);
                    //$("#divEventos").html(respuesta.htmlEventos);
                
                    var markers = $.parseJSON(respuesta.posiciones);
                    for (var key in markers) {
                        if (markers.hasOwnProperty(key)) {
                        {{ mapa.fcAddMarker() }}(markers[key]);
                                if (id == key && siguiendo){
                                    serguirMapa(markers[key]["latitud"], markers[key]["longitud"], key, false);
                                }
                            }
                    }
                    document.req_servicios = null;       
                    showEventos(); //cuando termine el ajax de servicios que levante el de eventos, asi no se ejecutan a la par                 
                });
                
            }
            
        function newComentario(id, nombre) {
       
            document.idItinerario = id;
            $("#nombreItinerario").text(nombre);
            $('#modalNewComentario').modal('show');
        }

            
            function showEventos() {
                var its = new Array();
                var hiddens = new Array();
                var i = 0;
                /* toma los valores del option itinerario los seleccionados */
                $(".servicio_top").each(function(index){
                //console.log(index +":"+ $(this).attr('id'));
                its[i] = $(this).attr('id').substring(1) *1;
                i++;                                
            });
            
            //console.log(its);
            if(document.req_eventos != null){
                document.req_eventos.abort();//abortamos si hay peticiones ya en curso
            }
            document.req_eventos = $.ajax({
                type: 'GET',
                url: "{{ path('mapa_itinerario_eventos') }}",
                data: {'its': JSON.stringify(its)},
                dataType: "json",
                //   async: true,
            });
            document.req_eventos.done(function (respuesta) {
                //recibo los eventos                
                if (respuesta.htmlEventos != null) {                     
                    $("#divEventos").html(respuesta.htmlEventos);
                } else {
                $("#divEventos").html('<b>No hay eventos para los itinearios seleccionados.</b>');
                }
                document.req_eventos = null;
                if(document.req_servicios == null){
                    setTimeout(function() {
                        showServiciosMapa(); // que refersque otra vez
                    }, 15000); //que descance 15 seg y arranque otra vez
                }
            });
        }

        function showModal(show, eventos) {
            if (show) {
                $('#modalEvento').modal('show'); //muestro el dialog.
            } else {
                $('#modalEvento').modal('hide'); //oculto el dialog.
            }
        }

        function checkVerReferencias(referencias, id) {
            {{ mapa.fcStopDraw() }}();

            if (showRef.indexOf(id) > -1) {
                $('#verReferencias').css('display', 'none');
                visible = '2';
                document.getElementById(id).style.borderColor = "#e6e6e6";
                showRef.splice(showRef.indexOf(id), 1 );
                console.log(showRef);
            } else {
                $('#verReferencias').css('display', 'inline-block');
                document.getElementById(id).style.borderColor = "red";
                visible = '1';
                showRef.push(id)
                console.log(showRef);
            }

            var request = $.ajax({
                    url: "{{ path('itinerario_referencias_viewAJAX') }}",
                    data: {'visible': visible, 'referencias': referencias},
                    dataType: "json"
                });
            request.done(function (respuesta) {
                {{ mapa.fcStopDraw() }}();
                {{ mapa.fcAddAllIcons() }}(respuesta['icon']); //agrego los iconos
                {{ mapa.fcAddAllPolygons() }}(respuesta['polygon']); //agrego los poligonos
                {{ mapa.fcAddAllCircles() }}(respuesta['circle']); //agrego circulos
                {{ mapa.fcAddAllMarkers() }}(respuesta['referencia']); //agrego las referencias.
                {{ mapa.fcSetClusterMinSize() }}(4);
                {{ mapa.fcIniDraw() }}();
            });
            {{ mapa.fcIniDraw() }}();
        }

        $('#consularIt').click(function () {
            if(document.req_servicios != null){
                document.req_servicios.abort(); //abortamos si hay peticiones ya en curso
            }
            if(document.req_eventos != null){
                document.req_eventos.abort();//abortamos si hay peticiones ya en curso
            }
            var req = $.ajax({
            type: 'GET',
                 url: "{{ path('mapa_itinerario_historico') }}",
                 data: {
                     'formHistIt': $("#formMapaItinerario").serialize(),
                 },
                 dataType: "json",
                 //async: true,
                 beforeSend: function () {
                      $("#divItinerarios").text("Espere....");
                 },
            });
            req.done(function (respuesta) {
                $("#divItinerarios").text("");
                $("#divItinerarios").html(respuesta.html);
                 $("#divEventos").text("");
                
               // showEventos();   //traigo los eventos de los itinerarios seleccionados
                var select = $.parseJSON(respuesta.selectItis);
                /* esta funcion change hace que el select de itinerarios se cargue y 
                * que se llame a showServiciosMapa que es la que muestra y oculta los servicios
                * en el mapa */
                $('#historico_itinerario').val(select).trigger('change');
             });
        });
    

        function registrarEvento(idHistorial){  /** este ID es el del eventoHistorial */
                      var request = $.ajax({
                 type: 'GET',
                 url: "{{ path('mapa_evento_setupvisto') }}",
                 data: {'id': idHistorial},
                 dataType: "json"
             });
             request.done(function(respuesta) {
                 $("'table#eventos tr#" + respuesta.id + "'").remove(); //elimino el evento de la tabla
                 showModal(false, null); //muesto la pantalla.
             });
             return true;
         }


        

    </script>
{% endblock %}

{% block generico %}
  {% include 'monitor/Mapa/popup_registrar.html.twig' %}
  {% include 'monitor/Mapa/popup_filter.html.twig' %}
  {% include 'monitor/Itinerario/popup_estado.html.twig' %}
  {% include "monitor/Itinerario/popup_comentario.html.twig" %}

	{% include "app/Template_aker/popup_load.html.twig" %}
  <input type="hidden" id="vista" value="mapa" />
{% endblock %}

{% block eastpanel %}
  <div id="divEventos">
    {% include 'monitor/Mapa/eventos.html.twig' with { eventos: eventos } %}
  </div>
{% endblock %}

{% block westpanel %}
    <div style="margin: 5px 10px 0px 0px; height:30px;">
            <a href="#" title="Filtrar Itinerarios" style="float:right;" class="btn btn-sm btn-default btn-primary" onclick="showModalFiltrar()">
                <i class="fa fa-filter"></i>
                Filtrar 
            </a>
    </div>
    <div id="divItinerarios" style="padding: 3px;">
        {% include "monitor/Mapa/itinerario.html.twig" with {'data': data } %}
    </div>
{% endblock %} 

{% block centerpanel %}
  {{ mapa.renderHtml()|raw }}
{% endblock %}

{# {% block southpanel %}
    <div id="divEventos">
    </div>    
{% endblock %}      #}
