<!-- Modal -->
<div class="modal fade" id="modalComentar" role="dialog" aria-labelledby="modalRegistrarLabel" data-modal-index="9999" style="z-index: 9999" data-backdrop="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">
					<div id="commentTitle">Comentario al evento</div>
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-6">						
						<div id="commentData"></div>
						{#<h5>Protocolo</h5><div id="commentProto">Sin protocolo definido</div>#}
					</div>
					<div class="col-sm-6">
						<form id="formComentario" class="mb-lg">
							<div class="form-group">
								Comentario
								<textarea name="formComentario[comentario]" rows="5" class="form-control" placeholder="Escribe tu comentario..." required="required"></textarea>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="btnComentarioAdd" type="button" class="btn btn-primary">Grabar !!</button>
				<button id="btnCancelar" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
