<!-- Modal -->
<div class="modal" id="modalFiltrar" role="dialog" aria-labelledby="modalRegistrarLabel" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    <div id="commentTitle">
                        Buscar Itinerarios
                                            
                    </div>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="form-group">
                        <label for="historico_itinerario">
                            Itinerario
                                                        
                        </label>
                        {{ form_widget(form.itinerario) }}

                    </div>
                    <hr size="5" />

                    <form id="formMapaItinerario">
                        <div class="form-group">
                            <label for="historico_satelital">
                                Satelital
                                                            
                            </label>
                            {{ form_widget(form.satelital) }}
                        </div>
                        <div class="form-group">
                            <label for="historico_empresa">
                                Cliente
                                                            
                            </label>
                            {{ form_widget(form.empresa) }}
                        </div>
                        <div class="form-group">
                            <label for="historico_transporte">
                                Transporte
                                                            
                            </label>
                            {{ form_widget(form.transporte) }}
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-small" id="consularIt">
                    Consultar
                    					
                </button>
                <button id="btnCancelar" type="button" class="btn btn-default" data-dismiss="modal">
                    Cerrar
                                        
                </button>
            </div>
        </div>
    </div>
</div>
