{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ entity.nombre|e }}{% endblock %}
{% block subtitulo %}Edición{% endblock %}

{% block formulario %}
<form class="form-horizontal" method="post" >
    <div class="row-fluid">
        <div class="span8">
            <h4>Datos del Modelo</h4>
            <fieldset>
                {{ form_errors(form) }}
                {{ form_widget(form.nombre) }}                
                {{ form_widget(form.fabricante) }}
                {{ form_widget(form.cantidadGeocercas) }}
                {{ form_widget(form.tipoProgramacion) }}
                {{ form_widget(form.cortecerrojo) }}
                {{ form_widget(form.cortemotor) }}
                {{ form_widget(form.botonpanico) }}
                {{ form_widget(form.medidorcombustible) }}
                {{ form_widget(form.entradasdigitales) }}
                {{ form_widget(form.canbus) }}
                {{ form_widget(form.horometro) }}
                {{ form_rest(form) }}
            </fieldset>
            {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Cambiar' } %}
        </div>
    </div>
</form>
{% endblock %}
