{% extends "app/Template/list.html.twig" %}
{% block titulo %}Modelos de Equipos{% endblock %}
{% block contentpanel %}  
    <table class="table condensed-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fabricante</th>
                <th>Tipo Prg.</th>
                <th>Variables</th>
                <th>Sensores</th>
                <th>Accion</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('modelo_show', {'id': entity.id} ) }}">{{ entity.nombre }}</a></td>
                    <td>{{ entity.fabricante }}</td>
                    <td>{{ entity.getStrTtipoProgramacion is defined ? entity.getStrTtipoProgramacion:'---'}}</td>
                    <td>
                        <ul>
                            {% for variable in entity.variables %}
                                <li>{{ variable.nombre }} ({{ variable.codename }})</li>
                                {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for sensor in entity.sensores %}
                                <li>{{ sensor.nombre }} ({{ sensor.seriado == null or not sensor.seriado ? sensor.campoTrama : 'seriado'}}) [{{ sensor.tipoSensor }}]</li>
                                {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="{{ path('modelo_edit', { 'id': entity.id }) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
