{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
{% endblock %}

{% block titulo %}{{ entity.nombre }}{% endblock %}    
{% block contentpanel %}
<div class="row-fluid row-show">
    <h3>Datos Principales</h3>
    <div class="span6">
        {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': entity.nombre } %}       
        {% include "app/Template/show_row.html.twig" with {'label': 'Fabricante', 'data': entity.fabricante } %}       
        {% include "app/Template/show_row.html.twig" with {'label': 'Tipo Reprogramación', 'data': entity.getStrTtipoProgramacion|default('---') } %}               
    </div>
    <div class="span5">
        {% include "app/Template/show_row.html.twig" with {'label': 'Corte Motor', 'data': entity.getCorteMotor ? 'SI': 'NO' } %}       
        {% include "app/Template/show_row.html.twig" with {'label': 'Botón Pánico', 'data': entity.getBotonPanico ? 'SI': 'NO' } %}       
        {% include "app/Template/show_row.html.twig" with {'label': 'Medidor Combustible', 'data': entity.getMedidorCombustible ? 'SI': 'NO' } %}       
        {% include "app/Template/show_row.html.twig" with {'label': 'I/O Digitales', 'data': entity.getEntradasDigitales ? 'SI': 'NO' } %}       
        {% include "app/Template/show_row.html.twig" with {'label': 'Corte Cerrojo', 'data': entity.getCorteCerrojo ? 'SI': 'NO' } %}       
        {% include "app/Template/show_row.html.twig" with {'label': 'Canbus', 'data': entity.getCanbus ? 'SI': 'NO' } %}       
    </div>
</div>
<div class="row-fluid row-show">
    <div class="span12">
        <h3>Variables de Programación</h3>
        {% if entity.variables|length > 0 %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Codename</th>
                    <th>Tipo Var.</th>
                    <th>Unidad medida</th>
                    <th>Cota mínima</th>
                    <th>Cota máxima</th>
                    <th>Default</th>
                    <th>Role</th>
                    <th>Padre</th>
                </tr>
            </thead>
            <tbody>
                {% for variable in entity.variables %}
                <tr>
                    <td>{{ variable.nombre }}</td>
                    <td>{{ variable.codename }}</td>
                    <td>{{ variable.getStrTtipo|default('---') }}</td>
                    <td>{{ variable.unidadMedida }}</td>
                    <td>{{ variable.cotaMinima }}</td>
                    <td>{{ variable.cotaMaxima }}</td>
                    <td>{{ variable.valorDefault }}</td>
                    <td>{{ variable.role }}</td>
                    <td>
                        {% if variable.variablePadre != null %}
                            {{ variable.variablePadre.nombre }}
                        {% endif %}
                    </td>
                    <td class="td-accion">
                        <a href="{{ path('variable_edit', { 'id': variable.id }) }}" class="btn btn-small">Editar</a>
                        <a href="{{ path('variable_delete', { 'id': variable.id }) }}" class="btn btn-small">Eliminar</a>
                        {% if variable.tipoVariable == 5 %}
                            <a href="{{ path('variable_compuesta_edit', { 'id': variable.id }) }}" class="btn btn-small">Compuestas</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <em>No hay variables configuradas</em>
    {% endif %}
    <h3>Sensores</h3>
    {% if entity.sensores|length > 0 %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Seriado</th>
                    <th>Campo Trama</th>
                    <th>Tipo Sensor</th>
                </tr>
            </thead>
            <tbody>
                {% for sensor in entity.sensores %}
                <tr>
                    <td>{{ sensor.nombre }}</td>
                    <td>{{ sensor.seriado != null and sensor.seriado ? 'SI' : 'NO' }}</td>
                    <td>{{ sensor.campoTrama }}</td>
                    <td>{{ sensor.tipoSensor == 1 ? 'Analogico' : 'Digital' }}</td>
                    <td class="td-accion">
                        <a href="{{ path('modelosensor_edit', { 'id': sensor.id }) }}" class="btn btn-small">Editar</a>
                        <a href="{{ path('modelosensor_delete', { 'id': sensor.id }) }}" class="btn btn-small">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <em>No hay sensores configruados</em>
    {% endif %}
{% endblock %}
