<ul class="nav nav-tabs" id="myTabs" role="tablist" style='background: none;'> 
    {% if orden.tipo == 1 %}
        <li role="presentation" class="{{ orden.tipo == 1 ? 'active' : '' }}">
            <a href="#mantenimientos" id="mantenimientos-tab" role="tab" data-toggle="tab" aria-controls="mantenimientos" aria-expanded="true">Mantenimientos</a>
        </li> 
    {% endif %}
    <li role="tareasot" class="{{ orden.tipo != 1 ? 'active' : '' }}">
        <a href="#tareasot" role="tab" id="tareasot-tab" data-toggle="tab" aria-controls="tareasot" aria-expanded="false">Tareas</a>
    </li> 
    <li role="presentation" class="">
        <a href="#productos" id="productos-tab" role="tab" data-toggle="tab" aria-controls="productos" aria-expanded="true">Insumos</a>
    </li> 
    <li role="presentation" class="">
        <a href="#horasTaller" role="tab" id="horastaller-tab" data-toggle="tab" aria-controls="horastaller" aria-expanded="false">Horas Taller</a>
    </li>    
    <li role="presentation" class="">
        <a href="#mecanicos" role="tab" id="mecanicos-tab" data-toggle="tab" aria-controls="mecanicos" aria-expanded="false">Mecánicos</a>
    </li>    
    <li role="presentation" class="">
        <a href="#terceros" role="tab" id="terceros-tab" data-toggle="tab" aria-controls="terceros" aria-expanded="false">Terceros</a>
    </li> 
    {% if is_granted('ROLE_PETICION_VER') %}
        <li role="peticion" class="">
            <a href="#peticiones" role="tab" id="peticiones-tab" data-toggle="tab" aria-controls="peticiones" aria-expanded="false">Pedido de Reparación</a>
        </li> 
    {% endif %}
</ul>