<div id="modalDelete" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Eliminar Orden de Trabajo</h3>
    </div>
    <form class="form-horizontal" action="{{ path('ordentrabajo_delete', { 'id': orden.id }) }}" method="POST" >
        <div class="modal-body">
            <p>Esta seguro de eliminar esta Orden de Trabajo: <strong>{{ orden.formatIdentificador }}</strong> ?</p>
            {{ form_widget(delete_form) }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="submit">Eliminar</button>
            <a id="boton-cancelar" href="" class="btn secondary">Cancelar</a>
        </div>
    </form>
</div>
