{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Orden de Trabajo{% endblock %}
{% block subtitulo %}#{{ orden.identificador }}: {{ orden.servicio.nombre }}{% endblock %}

{% block formulario %}
    <form id="form" class="form-horizontal"  method="POST" >
        <fieldset>
            <div id="content-error" class="alert alert-error" style="display:none">{{ form_errors(form) }}</div>
            <div class="row-fluid">
                <div class="span6">
                    {#{{ form_widget(form.servicio) }}#}
                    {{ form_widget(form.fecha) }}
                    {{ form_widget(form.tipo) }}
                    {{ form_widget(form.taller) }}
                    {{ form_widget(form.tallerSector) }}
                    {{ form_widget(form.deposito) }}
                    {{ form_widget(form.centroCosto) }}
                                
                    <div class="control-group ">
                        <label class="control-label required" for="orden_descripcion">Descripcion</label>
                        <div class="controls">
                            <input type="text" class="form-control" id="orden_descripcion" name="orden[descripcion]" required="required" maxlength="255" onkeyup="cuenta()" style="width: 92%;" value="{{ form.vars.value.descripcion }}">
                            <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>
                            <i><span id="blockCount" class="help-block">Quedan 255 caracteres para escribir.</span></i>
                        </div>        
                    </div>
                            
                    {{ form_widget(form.nota, {'attr': {'style': "width: 92%;"} }) }}                    
                    {#{{ form_widget(form.descripcion, {'attr': {'style': "width: 92%;"} }) }}                    #}
                    
                </div>
                <div class="span5">
                    {{ form_widget(form.odometro) }}
                    {{ form_widget(form.horometro) }}
                    {{ form_widget(form.fechaIngreso) }}
                    {{ form_widget(form.fechaEgreso) }}
                    {{ form_widget(form.numeroInterno) }}
                    {{ form_widget(form.numeroExterno) }}
                </div>            
                {{ form_widget(form._token) }}
            </div>

            <!-- empieza la botonera -->
            <div class="form-actions">
                <button  type="submit" id="boton-aceptar-primary" class="btn btn-primary">Siguiente</button>
                <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>        
        </fieldset>
    </form>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#orden_descripcion").attr('maxlength', '255');
            $("#orden_servicio").select2();
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $.timepicker.setDefaults($.timepicker.regional["es"]);

            $("#orden_fecha").datepicker({dateFormat: 'dd/mm/yy'});
            $("#orden_fechaIngreso").datepicker({dateFormat: 'dd/mm/yy'});
            $("#orden_fechaEgreso").datepicker({dateFormat: 'dd/mm/yy'});

                        var p = new Date();
            $("#orden_fecha").datetimepicker("option", "setDate", p);
            $("#orden_fecha").datetimepicker("option", "maxDate", p);
            $("#orden_fecha").datetimepicker("option", "defaultDate", p);  

            $("#orden_fechaIngreso").datetimepicker("option", "setDate", p);
            $("#orden_fechaIngreso").datetimepicker("option", "maxDate", p);
            $("#orden_fechaIngreso").datetimepicker("option", "defaultDate", p);  
        
            $("#orden_fechaEgreso").datetimepicker("option", "setDate", p);
            $("#orden_fechaEgreso").datetimepicker("option", "maxDate", p);
            $("#orden_fechaEgreso").datetimepicker("option", "defaultDate", p);  
        });
        function cuenta() {
            count = 255 - $('#orden_descripcion').val().length;
            $('#blockCount').text('Quedan ' + count + ' caracteres para escribir.')
        }  
    </script>
{% endblock %}    

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" />
    <style type="text/css">
        .ui-timepicker-div
        .ui-widget-header { margin-bottom: 8px; }
        .ui-timepicker-div dl { text-align: left; }
        .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
        .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
        .ui-timepicker-div td { font-size: 12px; }
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

        .ui-timepicker-rtl{ direction: rtl; }
        .ui-timepicker-rtl dl { text-align: right; }
        .ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
    </style>
{% endblock %}
