{% form_theme formProducto 'app/Form/calypso_fields.html.twig' %}

<form id="formProducto" class="form-horizontal">
    <div class="row-fluid">
        <div class="span6">
            {{ form_widget(formProducto.producto) }}
            {{ form_widget(formProducto.cantidad) }}
        </div>
    </div>
</form>