{% if orden.horasTaller|length > 0 %}
    <table class="table table-condensed" style="border-style: solid; border-color: #e7eaeb; border-width: 0px 1px 1px 1px">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Costo Unitario</th>
                <th>Total Neto</th>
                <th>Total c/IVA</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for hora in orden.horasTaller %}
                <tr>
                    <td>{{ hora.horaTaller.nombre|default('---') }}</td>                
                    <td>{{ hora.cantidad|default('---') }}</td>
                    <td>{{ hora.costoUnitario|number_format(2) }}</td>
                    <td>{{ hora.costoNeto|number_format(2) }}</td>
                    <td>{{ hora.costoTotal|number_format(2) }}</td>
                    <td>
                        {% if orden.estado != 2 %} {# que no este cerrada #}
                            <button class="btn btn-small" type="button" id="horataller_del" onClick="horasTallerDel({{ hora.id }}, '{{ hora.horaTaller.nombre }}')">
                                <i class="icon-minus-sign"  title="Elimina las horas taller de la orden"></i> Eliminar
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>No hay horas taller utilizadas en esta órden</h3>
{% endif %}

{% if orden.estado != 2 %} {# que no este cerrada #}
    <a href="#modalHorasTaller" class="btn btn-xs btn-success" data-toggle="modal" id="btnModalHorasTaller">Agregar Hora Taller</a>
{% endif %}
