{% extends "app/Template/list.html.twig" %}
{% block css %}
    {{ parent() }}
    <link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}

{% block js %}
    {{ parent() }}

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script>
        function datatable() {
            $('#flota_claseServicio').select2();
            var tabla = $('#tableOrdenes').dataTable({
                order: false,
                paging: false,
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                }
            });
        }
        $(document).ready(function () {
            datatable();

        });
    </script>
    <script>
        $('#consular').click(function () {
            var req = $.ajax({
                type: 'GET',
                url: "{{ path('ordentrabajo_historico') }}",
                data: {
                    'formHistOT': $("#formHistOT").serialize(), //form de productos
                },
                dataType: "json",
                //async: true,
                beforeSend: function () {
                },
            });
            req.done(function (respuesta) {
                $("#tablaOrdenTrabajo").text("");
                $("#tablaOrdenTrabajo").html(respuesta.html);
                $("#filtro").html(respuesta.filtro);
                $('input[name="informe"]').val(respuesta.ordenes);
                $('input[name="consulta"]').val(respuesta.consulta);
                $('input[name="costoTotal"]').val(respuesta.costoTotal);
            });
        });
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $("#historico_fecha_desde").datepicker();
            $("#historico_fecha_hasta").datepicker();
        });
    </script>
{% endblock %}

{% block titulo %}Ordenes de Trabajo{% endblock %} 

{% block busqueda %}
    <div class="panel-mini" style="height: auto">
        <form method="POST" id="formHistOT" class="form-horizontal" >
            <div class="control-group" style="margin-bottom: 10px;">
                <label class="control-label" style="width: 45px; text-align: left;">Desde</label>
                <div class="controls" style="margin-left: 50px">
                    {{ form_widget(form.fecha_desde, {'attr': {'value': fecha_desde} }) }}
                </div>
            </div>
            <div class="control-group " style="margin-bottom: 10px;">
                <label class="control-label" style="width: 45px; text-align: left;">Hasta</label>
                <div class="controls" style="margin-left: 50px">
                    {{ form_widget(form.fecha_hasta, {'attr': {'value': fecha_hasta} }) }}
                </div>
            </div>
            {% if form.servicio is defined %}
                <div class="control-group " style="margin-bottom: 10px;">
                    <label class="control-label" style="width: 45px; text-align: left;">Servicio</label>
                    <div class="controls" style="margin-left: 50px">
                        {{ form_widget(form.servicio) }}
                    </div>
                </div>
            {% endif %}
            {% if form.tipo is defined %}
                <div class="control-group " style="margin-bottom: 10px;">
                    <label class="control-label" style="width: 45px; text-align: left;">Tipo</label>
                    <div class="controls" style="margin-left: 50px">
                        {{ form_widget(form.tipo) }}
                    </div>
                </div>
            {% endif %}
            {% if form.taller is defined %}
                <div class="control-group " style="margin-bottom: 10px;">
                    <label class="control-label" style="width: 45px; text-align: left;">Taller</label>
                    <div class="controls" style="margin-left: 50px">
                        {{ form_widget(form.taller) }}
                    </div>
                </div>
            {% endif %}
            {% if form.sector is defined %}
                <div class="control-group " style="margin-bottom: 10px;">
                    <label class="control-label" style="width: 45px; text-align: left;">Sector</label>
                    <div class="controls" style="margin-left: 50px">
                        {{ form_widget(form.sector) }}
                    </div>
                </div>
            {% endif %}
            {% if form.deposito is defined %}
                <div class="control-group " style="margin-bottom: 10px;">
                    <label class="control-label" style="width: 45px; text-align: left;">Depósito</label>
                    <div class="controls" style="margin-left: 50px">
                        {{ form_widget(form.deposito) }}
                    </div>
                </div>
            {% endif %}
            {% if form.centrocosto is defined %}
                <div class="control-group " style="margin-bottom: 10px;">
                    <label class="control-label" style="width: 45px; text-align: left;">C.Costo</label>
                    <div class="controls" style="margin-left: 50px">
                        {{ form_widget(form.centrocosto) }}
                    </div>
                </div>
            {% endif %}
            {% if form.total is defined %}
                <div class="control-group " style="margin-bottom: 10px;">
                    <label class="control-label" style="width: 45px; text-align: left;">Totales</label>
                    <div class="controls" style="margin-left: 50px">
                        {{ form_widget(form.total) }}
                    </div>
                </div>
            {% endif %}
            <div class="control-group " style="margin-bottom: 10px;">
                <div class="controls" style="margin-left: 50px">
                    <button type="button" class="btn btn-mini" id="consular">Consultar</button> 
                </div>
            </div>
        </form>
    </div> 
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    <ul class="submenu">
        <li>
            <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">
                <i class="fa fa-file-excel-o"></i> Exportar
            </a>
        </li>
    </ul>
{% endblock %}

{% block informacion %}
    <div class="alert alert-info" role="alert">
        <div id="filtro">{{ filtro }}</div>

    </div>
{% endblock %}

{% block contentpanel %}  
    <form name="formexport" action="{{ path('ordentrabajo_exportar') }}" method="POST" >
        <input type="hidden" name="informe" value="{{ ordenes|json_encode() }}"/>
        <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
        <input type="hidden" name="costoTotal" value="{{ costoTotal|json_encode() }}"/>
    </form>    
    {#Aca se muestra la barra#}
    <div class="progress">
        {# Se resta 2.1 para que se pueda mostrar bien en el template. Cuando cambiemos el template hay que sacar eso#}
        <div class="badge badge-alert" style="width: {{ abiertas - 2.1 }}%;">{{ abiertas }}% Abiertas</div>
        <div class="badge badge-info" style="width: {{ enCurso - 2.1 }}%;">{{ enCurso }}% En Curso</div>
        <div class="badge badge-success" style="width: {{ cerradas - 2.1  }}%;">{{ cerradas }}% Cerradas</div>
    </div>
    
    <div id ="tablaOrdenTrabajo">
        {% include "mante/OrdenTrabajo/ordenes.html.twig" with {'ordenes': ordenes, 'costoTotal':costoTotal } %}
    </div>
{% endblock %}

