{% if orden.mantenimientos|length > 0 %}
    <table class="table table-condensed table-hover" style="border-style: solid; border-color: #e7eaeb; border-width: 0px 1px 1px 1px">
        <thead>
            <tr>
                <th>Mantenimiento preventivos incluidos</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for mant in orden.mantenimientos %}
                <tr>
                    <td>{{ mant.servicioMantenimiento.mantenimiento.nombre }}</td>                
                    <td>
                        {#<button class="btn btn-small" type="button" id="mantenimiento_del" onClick="mantenimientoDel({{ mant.id }}, '{{ mant.servicioMantenimiento.mantenimiento.nombre }}')">
                            <i class="icon-minus-sign"  title="Elimina el mantenimiento de la orden"></i> Eliminar
                        </button>#}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>No hay mantenimientos asignados a esta órden</h3>
{% endif %}

{% if orden.estado != 2 %} {# que no este cerrada #}
<a href="#modalMantenimiento" class="btn btn-xs btn-success" data-toggle="modal" id="btnModalPreventivo">Agregar Preventivos</a>
{% endif %} 
