{% if orden.mecanicos|length > 0 %}
    <table class="table table-condensed" style="border-style: solid; border-color: #e7eaeb; border-width: 0px 1px 1px 1px">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Costo Unitario</th>
                <th>Costo Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for mec in orden.mecanicos %}
                <tr>
                    <td>{{ mec.mecanico.nombre|default('---') }}</td>                
                    <td>{{ mec.horas|default('---') }}</td>
                    <td>{{ mec.costo|number_format(2) }}</td>
                    <td>{{ mec.costoTotal|number_format(2) }}</td>
                    <td>
                        {% if orden.estado != 2 %} {# que no este cerrada #}
                            <button class="btn btn-small" type="button" id="mecanico_del" onClick="mecanicoDel({{ mec.id }}, '{{ mec.mecanico.nombre }}')">
                                <i class="icon-minus-sign"  title="Elimina el mecanico de la orden"></i> Eliminar
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>No hay mecanicos asignados a esta órden</h3>
{% endif %}
{% if orden.estado != 2 %} {# que no este cerrada #}
    <a href="#modalMecanico" class="btn btn-xs btn-success" data-toggle="modal" id="btnModalMecanico">Agregar Mecánico</a>
{% endif %}