{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Orden de Trabajo{% endblock %}
{% block subtitulo %}Datos principales{% endblock %}

{% block formulario %}
    <form id="form" class="form-horizontal"  method="POST" >
        <fieldset>
            <div id="content-error" class="alert alert-error" style="display:none">{{ form_errors(form) }}</div>
            <div class="row-fluid">
                <div class="span6">
                    {{ form_widget(form.fecha) }}
                    {{ form_widget(form.tipo) }}
                    {{ form_widget(form.taller) }}
                    {{ form_widget(form.tallerSector) }}
                    {{ form_widget(form.deposito) }}
                    {{ form_widget(form.centroCosto) }}
                    {{ form_widget(form.descripcion, {'attr': {'style': "width: 92%;"} }) }}                    
                </div>
                <div class="span5">
                    {{ form_widget(form.odometro) }}
                    {{ form_widget(form.horometro) }}
                    {{ form_widget(form.fechaIngreso) }}
                    {{ form_widget(form.fechaEgreso) }}
                    {{ form_widget(form.numeroInterno) }}
                    {{ form_widget(form.numeroExterno) }}
                </div>            
                {{ form_widget(form._token) }}
            </div>

            <!-- empieza la botonera -->
            <div class="form-actions">
                <button  type="submit" id="boton-aceptar-primary" class="btn btn-primary">Siguiente</button>
                <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>        
        </fieldset>
    </form>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#orden_servicio").select2();
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $.timepicker.setDefaults($.timepicker.regional["es"]);
            $("#orden_fecha").datepicker({dateFormat: 'dd/mm/yy'});
            $("#orden_fechaIngreso").datepicker({dateFormat: 'dd/mm/yy'});
            $("#orden_fechaEgreso").datepicker({dateFormat: 'dd/mm/yy'});
            $("#orden_descripcion").attr('maxlength','255');
        });
    </script>
{% endblock %}    
{#
<script type="text/javascript">
var datosFormulario;   //aca mantengo los datos del formulario    
$(function() {
    $.datepicker.setDefaults($.datepicker.regional["es"]);
    $.timepicker.setDefaults($.timepicker.regional["es"]);
    $("#evento_horaInicio").timepicker({hourMin: 00, hourMax: 23});
    $("#evento_horaFin").timepicker({hourMin: 00, hourMax: 23});

    //abre el div del tipo de evento.
    $('#evento_tipoEvento').bind('change', function(e) {
        $('#row-condiciones').css('display', 'block');
        $('#row-servicios').css('display', 'block');
        $('#row-notificacion').css('display', 'block');
    });

    //envio el formulario para que grabe.
    $('#boton-aceptar-primary').click(function() {
        $("#content-error").css("display", "none");
        var requestPrimary = $.ajax({
            type: 'POST',
            url: '{{ path('main_evento_create' ) }}',
            data: { 'datos': datosFormulario,
                    'organizacion' : {{ evento.organizacion.id }},
                    'formev': $("#form").serialize(), //form del evento
            },
            dataType: "json",
        });
        requestPrimary.done(function(respuesta) {
            if (respuesta.status === 0) {
                window.location.replace(respuesta.redirect);
            } else {
                $("#content-error").css("display", "block");
                $("#content-error").text(respuesta.error);
            }
        }); 
    });
});
#}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" />
    <style type="text/css">
        .ui-timepicker-div
        .ui-widget-header { margin-bottom: 8px; }
        .ui-timepicker-div dl { text-align: left; }
        .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
        .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
        .ui-timepicker-div td { font-size: 12px; }
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

        .ui-timepicker-rtl{ direction: rtl; }
        .ui-timepicker-rtl dl { text-align: right; }
        .ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
    </style>
{% endblock %}
