<div class="col-md-12">
    <table class="table table-condensed table-hover" id="tableOrdenes">
        <thead>
            <tr>
                <th>Estado</th>
                <th>ID</th>
                <th>Nro. Orden</th>
                <th>#Int</th>
                <th style="width: 50px;">Servicio</th>
                <th>T</th>
                <th>Fecha</th>
                <th>Fecha Cierre</th>
                <th style="width: 200px;">Descripción</th>
                <th>Hs. Mec</th>
                <th>Costo</th>
            </tr>
        </thead>
        <tbody>
            {% for orden in ordenes %}
                <tr>
                    <td> {% include "mante/OrdenTrabajo/otestado.html.twig" with {'orden':orden} %} </td>
                    <td>{{ orden.id }}</td>
                    <td>{{ orden.identificador }}</td>
                    <td>{{ orden.numeroInterno|default('---') }}</td>
                    <td><a href="{{ path('ordentrabajo_step2', {'id': orden.id}) }}">{{ orden.servicio }}</a></td>                
                    <td>{{ orden.tipo }}</td>
                    <td>{{ orden.fecha|date('d/m/Y') }}</td>
                    <td>
                        {% if orden.fechaCierre != null %}
                            {{ orden.fechaCierre|date('d/m/Y') }}
                        {% endif %}
                    </td>
                    <td>{{ orden.descripcion }}</td>
                    <td>{{ orden.costoMecanico|number_format(2) }}</td>
                    <td>{{ orden.costoTotal|number_format(2) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7"></td>
                <td><b>Cantidad de Ordenes: {{ordenes|length}}</b></td>
                <td><b>Costo Total: {{ costoTotal is defined ? costoTotal|number_format(2) : 'n/a' }}</b></td>
            </tr>
        </tfoot>
    </table>
</div>