{% if orden.estado == 1 %}
    <span class="badge badge-xs badge-success">
        En Curso
    </span>
{% elseif orden.estado == 2 %}
    <span class="badge badge-xs badge-default">
        Cerrada
    </span>
{% else %}
    <span class="badge badge-xs badge-info">
    Nueva
    </span>
{% endif %}