{% if orden.peticiones|length > 0 %}
    <table id="tablePeticiones" class="table table-condensed" style="border-style: solid; border-color: #e7eaeb; border-width: 0px 1px 1px 1px">
        <thead>
            <tr>
                <th>Asunto</th>
                <th>Autor</th>
                <th>Asignado a</th>
                <th>Fecha Creación</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Estado</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody>
            {% for peticion in orden.peticiones %}
                <tr>
                    <td><a href="{{path('crm_peticion_edit', {'id':peticion.id})}}">{{peticion.asunto}}</a></td>
                    <td>{{peticion.autor ? peticion.autor.nombre : '---'}}</td>
                    <td>{{peticion.asignadoa ? peticion.asignadoa.nombre : '---'}}</td>
                    <td>{{peticion.created_at|date('d/m/Y H:i:s')}}</td>
                    <td>{{peticion.fechaInicio|date('d/m/Y')}}</td>
                    <td>{{peticion.fechaFin is null ?'---':peticion.fechaFin|date('d/m/Y')}}</td>
                    <td>{{peticion.estado ? peticion.estado.nombre : '--- '}}</td>
                    <td>{{peticion.categoria ? peticion.categoria.nombre : '---'}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>No hay Pedido de reparación asignada a esta órden</h3>
{% endif %}

{% if orden.estado != 2 %} {# que no este cerrada #}
<a href="#modalPeticion" class="btn btn-xs btn-success" data-toggle="modal" id="btnModalPeticion">Agregar Reparación</a>
{% endif %} 