<!-- Modal -->
<div class="modal fade" id="modalPeticion" role="dialog" aria-labelledby="modalPeticionLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Pedido de Reparación</h4>
            </div>
            <div class="modal-body">
                <p>Seleccione la reparación que desea ingresar a la orden.</p>
                <div id="modal-body-externo">
                    <form id="formPeticion" class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span12">      
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th> </th>  
                                            <th>Asunto</th>  
                                            <th>Fecha Inicio</th>  
                                            <th>Asignado a</th>  
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <div id="scroll">
                                        {% for peticion in peticiones %}
                                            <tr>
                                                <td><input type="checkbox" name="{{peticion.id}}" id="{{peticion.id}}" value="{{peticion.id}}"></td>
                                                <td>{{peticion.asunto}}</td>
                                                <td>{{peticion.fechainicio|date('d/m/Y')}}</td>
                                                <td>{{peticion.asignadoa.nombre|default('---')}}</td>
                                            </tr>
                                        {% endfor%}
                                    </div>
                                    </tbody>
                                </table>
                               
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnPeticionAdd" type="button" class="btn btn-primary" >Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>     


