<!-- Modal -->
<div class="modal fade" id="modalHorasTaller" role="dialog" aria-labelledby="modalHorasTallerLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Horas Taller</h4>
            </div>
            <div class="modal-body">
                <p>Seleccione el detalle de la hora taller que desea ingresar a la orden.</p>
                <div id="modal-body-horastaller">
                    <form id="formHoraTaller" class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span6">
                                {{ form_widget(formHorasTaller.horaTaller) }}                                
                                {{ form_widget(formHorasTaller.cantidad) }}
                                {{ form_widget(formHorasTaller.unitario) }}
                                {{ form_widget(formHorasTaller._token) }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        {#<a  data-toggle="modal" href="#modalProducto2" class="btn btn-success pull-left" title="Agrega un producto al deposito">Nuevo producto</a>#}
        <button id="btnHorasTallerAdd" type="button" class="btn btn-primary" >Agregar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    </div>
</div>
<div class="modal fade" id="modalHorasTaller2" role="dialog" aria-labelledby="modalHorasTallerLabel2" data-modal-index="2000" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Alta de Hora Taller</h4>
            </div>            
            <div class="modal-body">
                <form id="formHoraTallerNew" class="form-horizontal" method="POST">
                    <div class="control-group ">
                        <label class="control-label required" for="horatallernew_nombre">Nombre</label>
                        <div class="controls">
                            <input class="form-control" id="productonew_nombre" name="horatallernew[nombre]" required="required" type="text">
                            <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>
                        </div>    

                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="horatallernew_precio">Precio</label>
                        <div class="controls">
                            <input class="form-control" id="productonew_precio" name="horatallernew[precio]" type="number" step="0.01">
                        </div>    
                    </div>                            
                </form>                        
            </div>
            <div class="modal-footer">
                <button id="btnHorasTallerNew" type="button" class="btn btn-primary" >Agregar</button>
                <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            </div>
        </div>
    </div>
</div>      

<script>
    $('#btnHorasTallerNew').click(function () {
    //alert('aca');        
        {#var request = $.ajax({
            type: 'POST',
            url: "{{ path('horataller_add') }}",
            data: {
                'idOrg':{{ orden.servicio.organizacion.id }},
                'idDep':{{ orden.deposito.id|default(0) }},
                'form': $("#formHoraTallerNew").serialize(), //formulario con los datos
            },
            dataType: "json",
            //async: true,
            beforeSend: function () {
            },
        });
        request.done(function (respuesta) {
        #}    
        $('#modalHorasTaller2').modal('toggle');        
    });

</script>