<!-- Modal -->
<div class="modal fade" id="modalTareasOt" role="dialog" aria-labelledby="modalTareasOtLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nueva Tarea</h4>
            </div>
            <div class="modal-body">
                <p>Complete los campos para crear una nueva tarea</p>
                <div id="modal-body-tareasOt">
                    <form id="formTareasOt" class="form-horizontal">
                        {{ form_widget(formTareasOt.fecha) }}  
                        {{ form_widget(formTareasOt.descripcion) }}  
                        {{ form_widget(formTareasOt.mecanico) }}  
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnTareasOtAdd" type="button" class="btn btn-primary" >Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>     
