<!-- Modal -->
<div class="modal fade" id="modalExterno" role="dialog" aria-labelledby="modalExternoLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Taller Tercero o externo</h4>
            </div>
            <div class="modal-body">
                <p>Seleccione el taller que desea ingresar a la orden.</p>
                <div id="modal-body-externo">
                    <form id="formExterno" class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span6">                                
                                {{ form_widget(formExterno.tallerExterno) }}
                                {{ form_widget(formExterno.producto) }}
                                {{ form_widget(formExterno.cantidad) }}
                                {{ form_widget(formExterno.descripcion) }}
                                {{ form_widget(formExterno.costoTotal) }}
                                {{ form_widget(formExterno._token) }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnExternoAdd" type="button" class="btn btn-primary" >Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>     


