<!-- Modal -->
<div id="modalMecanico" class="modal fade"  role="dialog" aria-labelledby="modalMecanicoLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Mecánico</h4>
            </div>
            <div class="modal-body">
                <p>Seleccione el mecánico que desea ingresar a la orden.</p>
                <div id="modal-body-mecanico">
                    <form id="formMecanico" class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span6">                                
                                {{ form_widget(formMecanico.mecanico) }}
                                {{ form_widget(formMecanico.cantidad) }}
                                {{ form_widget(formMecanico._token) }}                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                {#<a data-toggle="modal" href="#modalMecanico2" class="btn btn-success pull-left" title="Agrega un mecanico al deposito">Nuevo mecánico</a>#}
                <button id="btnMecanicoAdd" type="button" class="btn btn-primary" >Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>  
                {#{{ form_widget(formMecanico.unitario) }}
                {{ form_widget(formMecanico.actualizar) }}#}                                

{#<div class="modal fade" id="modalMecanico2" role="dialog" aria-labelledby="modalMecanicoLabel2" data-modal-index="2000" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Alta de Mecanico </h4>
            </div>            
            <div class="modal-body">
                <form id="formMecanicoNew" class="form-horizontal" method="POST">
                    <div class="control-group ">
                        <label class="control-label required" for="mecaniconew_nombre">Nombre</label>
                        <div class="controls">
                            <input class="form-control" id="mecaniconew_nombre" name="mecaniconew[nombre]" required="required" type="text">
                            <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>
                        </div>    

                    </div>
                    <div class="control-group "><label class="control-label" for="mecaniconew_marca">Marca</label>
                        <div class="controls">
                            <input class="form-control" id="mecaniconew_marca" name="mecaniconew[marca]" type="text">
                        </div>    
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="mecaniconew_modelo">Modelo</label>
                        <div class="controls">
                            <input class="form-control" id="mecaniconew_modelo" name="mecaniconew[modelo]" type="text">
                        </div>    
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="mecaniconew_codigo">Codigo</label>
                        <div class="controls">
                            <input class="form-control" id="mecaniconew_codigo" name="mecaniconew[codigo]" type="text">
                        </div>    
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="mecaniconew_codigoBarra">Codigo barra</label>
                        <div class="controls">
                            <input class="form-control" id="mecaniconew_codigoBarra" name="mecaniconew[codigoBarra]" type="text">
                        </div>    
                    </div>                            
                    <div class="control-group ">
                        <label class="control-label" for="mecaniconew_precio">Precio</label>
                        <div class="controls">
                            <input class="form-control" id="mecaniconew_precio" name="mecaniconew[precio]" type="number" step="0.01">
                        </div>    
                    </div>                            
                </form>                        
            </div>
            <div class="modal-footer">
                <button id="btnMecanicoNew" type="button" class="btn btn-primary" >Agregar</button>
                <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            </div>
        </div>
    </div>
</div>                            
#}

<script>
   {# $('#btnMecanicoNew').click(function () {
    //alert('aca');        
        var request = $.ajax({
            type: 'POST',
                url: "{{ path('apmon_mecanico_add') }}",
                data: {
                'idOrg':{{ orden.servicio.organizacion.id }},
                        'idDep':{{ orden.deposito.id }},
                        'form': $("#formMecanicoNew").serialize(), //formulario con los datos
                },
                dataType: "json",
                //async: true,
                beforeSend: function () {
                },
        });
        request.done(function (respuesta) {
            $('#modalMecanico2').modal('toggle');
        });
    });#}
</script>