<!-- Modal -->
<div id="modalMantenimiento" class="modal fade"  role="dialog" aria-labelledby="modalMantenimientoLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Mantenimientos</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <p>Cuidado!!. Una vez realizado este proceso no se podrá revertir.</p>
                </div>
                <form id="formMantenimiento" class="form-horizontal">
                        <div class="span5">
                            <div class="control-group "><label class="control-label" for="plan_odometro">Odómetro</label><div class="controls">
                                    <input type="number" class="form-control" id="plan_odometro" name="plan[odometro]">
                                </div>    

                            </div>
                        </div>
                        <div class="span5">
                            <div class="control-group "><label class="control-label" for="plan_horometro">Horómetro</label><div class="controls">
                                    <input type="number" class="form-control" id="plan_horometro" name="plan[horometro]">
                                </div>    

                            </div>
                        </div>

                  
                    <p>Seleccione los mantenimientos que ha realizado al vehiculo <b>{{ orden.servicio.nombre }}</b>. Verifique también que el
                        modelo para este vehiculo es: <b>{{ orden.servicio.vehiculo.carModelo.nombre|default('N/A') }}</b></p>
                    <div id="modal-body-mecanico">
                        {% for tarea in mantenimientos %}
                            <h3>
                                <input id="plan_{{ tarea.plan.id }}" name="plan[{{ tarea.plan.id }}]" {{ tarea.status.code != 1 ? 'checked' : '' }} type="checkbox">
                                {{ tarea.plan.mantenimiento.nombre }}
                                <label class="label label-{{ tarea.status.nivel|default('default') }}">
                                    {{ tarea.status.message }}
                                </label>
                            </h3>
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Actividad</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Usado</th>
                                    </tr>
                                </thead>
                                {% for actividad in tarea.actividades %}
                                    <tr>
                                        <td>{{ actividad.actividad.nombre }}</td>                                        
                                        <td>
                                            {% if actividad.producto %}
                                                {{ actividad.producto.producto.nombre }}
                                            {% else %}
                                                <span class="label label-warning">N/D</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if actividad.producto %}
                                                {{ actividad.producto.fichaTecnica.cantidad }}
                                            {% else %}
                                                ---
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if actividad.producto %}
                                                <input style="width: 60px; float: right" id="cant_{{ actividad.producto.producto.id }}" name="cant[{{ actividad.producto.producto.id }}]" value="{{ actividad.producto.fichaTecnica.cantidad|default('') }}" type="number">
                                            {% else %}
                                                ---
                                            {% endif %}
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                {#<a data-toggle="modal" href="#modalMantenimiento2" class="btn btn-success pull-left" title="Agrega un mecanico al deposito">Nuevo mecánico</a>#}
                <button id="btnMantenimientoAdd" type="button" class="btn btn-primary" >Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>  

<script>
    {# $('#btnMantenimientoNew').click(function () {
     //alert('aca');        
         var request = $.ajax({
             type: 'POST',
                 url: "{{ path('apmon_mecanico_add') }}",
                 data: {
                 'idOrg':{{ orden.servicio.organizacion.id }},
                         'idDep':{{ orden.deposito.id }},
                         'form': $("#formMantenimientoNew").serialize(), //formulario con los datos
                 },
                 dataType: "json",
                 //async: true,
                 beforeSend: function () {
                 },
         });
         request.done(function (respuesta) {
             $('#modalMantenimiento2').modal('toggle');
         });
     });#}
</script>