<!-- Modal -->
<div id="modalCerrarOt" class="modal fade"  role="dialog" aria-labelledby="modalCerrarLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ orden.formatIdentificador|default('---') }}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <p>Cuidado!!. Está seguro de cerrar la Orden?. También se cerrarán los pedidos de reparación. No se podrá modificar ningún elemento que esté dentro de la misma.</p>
                </div>
                    <div class="alert alert-info">
                        <p>Si no ingresa fecha, se colocará la fecha del día corriente.</p>
                    </div>
                <form id="formCerrar" class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6">
                            {{ form_widget(formCerrar.fecha) }}                                
                            {{ form_widget(formCerrar._token) }}
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                {#<a data-toggle="modal" href="#modalMantenimiento2" class="btn btn-success pull-left" title="Agrega un mecanico al deposito">Nuevo mecánico</a>#}
                <button id="btnCerrarOt" type="button" class="btn btn-primary" >Cerrar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>  

<script>

</script>