<!-- Modal -->
<div class="modal fade" id="modalProducto" role="dialog" aria-labelledby="modalProductoLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Producto</h4>
            </div>
            <div class="modal-body">
                <p>Seleccione el producto que desea ingresar a la orden.</p>
                <div id="modal-body-producto">
                    <form id="formProducto" class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group ">
                                    <label class="control-label" for="producto_deposito">Depósito</label>
                                    <div class="controls">
                                        <div style='width: 206px'>
                                            <h4>                                            
                                                {{ orden.deposito.nombre|default('n/a') }}
                                            </h4>   
                                        </div>
                                    </div>    
                                </div>                                                                          
                                {{ form_widget(formProducto.producto) }}                                
                                {{ form_widget(formProducto.cantidad) }}
                                {{ form_widget(formProducto.unitario) }}
                                <div class="control-group ">
                                    <label class="control-label" for="producto_ult_compra">Última Compra</label>
                                    <div class="controls">
                                        <div style='width: 206px'>
                                            <b><div id="producto_ult_compra">n/d</div></b>   
                                        </div>
                                    </div>    
                                </div> 
                                {{ form_widget(formProducto.actualizar) }}
                                {{ form_widget(formProducto._token) }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                {#<a  data-toggle="modal" href="#modalProducto2" class="btn btn-success pull-left" title="Agrega un producto al deposito">Nuevo producto</a>#}
                <button id="btnProductoAdd" type="button" class="btn btn-primary" >Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>     

<script>
    $('#btnProductoNew').click(function () {
    //alert('aca');        
    var request = $.ajax({
    type: 'POST',
            url: "{{ path('producto_add') }}",
            data: {
                'idOrg':{{ orden.servicio.organizacion.id }},
                'idDep':{{ orden.deposito.id|default(0) }},
                'form': $("#formProductoNew").serialize(), //formulario con los datos
            },
            dataType: "json",
            //async: true,
            beforeSend: function () {
            },
    });
            request.done(function (respuesta) {
            //$("#producto_producto").select2();    //actualizo el combo con los datos nuevos.
            //var $option = $('<option>test</option>').val(10);
            //$("#producto_producto").append($option).trigger('change');


            $('#modalProducto2').modal('toggle');
            });
    });

</script>