{% if orden.productos|length > 0 %}
    <table class="table table-condensed" style="border-style: solid; border-color: #e7eaeb; border-width: 0px 1px 1px 1px">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Deposito</th>
                <th>Cantidad</th>
                <th>Costo Unitario</th>
                <th>Total Neto</th>
                <th>Total c/IVA</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for prod in orden.productos %}
                <tr>
                    <td>{{ prod.producto|default('---') }}</td>                
                    <td>{{ prod.deposito }}</td>
                    <td>{{ prod.cantidad|default('---') }}</td>
                    <td>{{ prod.costoUnitario|number_format(2) }}</td>
                    <td>{{ prod.costoNeto|number_format(2) }}</td>
                    <td>{{ prod.costoTotal|number_format(2) }}</td>
                    <td>
                        {% if orden.estado != 2 %} {# que no este cerrada #}
                            <button class="btn btn-small" type="button" id="producto_del" onClick="productoDel({{ prod.id }}, '{{ prod.producto }}')">
                                <i class="icon-minus-sign"  title="Elimina el producto de la orden"></i> Eliminar
                            </button>
                        {% endif %} 
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>No hay insumos utilizados en esta órden</h3>
{% endif %}
{% if orden.estado != 2 %} {# que no este cerrada #}
    <a href="#modalProducto" class="btn btn-xs btn-success" data-toggle="modal" id="btnModalProducto">Agregar Insumo</a>
{% endif %} 