{% extends "app/Template/list.html.twig" %}
{% form_theme formProducto 'app/Form/calypso_fields.html.twig' %}
{% form_theme formMecanico 'app/Form/calypso_fields.html.twig' %}
{% form_theme formExterno 'app/Form/calypso_fields.html.twig' %}
{% form_theme formHorasTaller 'app/Form/calypso_fields.html.twig' %}
{% form_theme formTareasOt 'app/Form/calypso_fields.html.twig' %}
{% form_theme formEditTareasOt 'app/Form/calypso_fields.html.twig' %}
{% form_theme formCerrar 'app/Form/calypso_fields.html.twig' %}


{% block titulo %}Orden de Trabajo{% endblock %}
{% block subtitulo %}Nro. {{ orden.formatIdentificador }}: {{ orden.servicio.nombre }}{% endblock %}

{% block formdelete %}
    {% include "mante/OrdenTrabajo/delete_form.html.twig" %}
{% endblock %} 


{% block contentpanel %}
    {#{% block contentpanel %}#}
    <div class="row-fluid">
        <div class="span6">
            <div class="row-fluid row-show">
                <div class="span4 column-label">Estado</div>    
                <div class="column-show" id="otestado">
                    {% include "mante/OrdenTrabajo/otestado.html.twig" with {'orden':orden} %} 
                </div>
            </div>
            {% include "app/Template/show_row.html.twig" with {'label': 'Nro. Orden', 'data': orden.formatIdentificador|default('---') } %} 
               <div class="row-fluid row-show">
                <div class="span4 column-label">Ejecutor</div>
                <div class="column-show">
                    <span class="label label-info" id="ejecutor">{{ orden.ejecutor ? orden.ejecutor.nombre : '---'}}</span>
                </div>
            </div>
            {% include "app/Template/show_row.html.twig" with {'label': 'Servicio', 'data': orden.servicio.nombre } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Fecha', 'data': orden.fecha ? orden.fecha|date('d/m/Y') : '---' } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Fecha de cierre', 'data': orden.fechaCierre ? orden.fechaCierre|date('d/m/Y') : '---' } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Fecha que se cerró', 'data': orden.closeAt ? orden.closeAt|date('d/m/Y') : '---' } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Tipo', 'data': orden.strTipo } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Taller', 'data': orden.taller|default('---') } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Sector', 'data': orden.tallerSector|default('---') } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Deposito', 'data': orden.deposito|default('---') } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Centro de Costo', 'data': orden.centroCosto != null ? orden.centroCosto : '---' } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Descripción', 'data': orden.descripcion|default('---') } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Nota', 'data': orden.nota|default('---') } %} 
        </div>            
        <div class="span5">
            {% include "app/Template/show_row.html.twig" with {'label': 'Odometro', 'data': orden.odometro } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Horómetro', 'data': orden.horometro } %}             
            {% include "app/Template/show_row.html.twig" with {'label': 'Fecha Ingreso', 'data': orden.fechaIngreso ? orden.fechaIngreso|date('d/m/Y') : '---' } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Fecha Egreso', 'data': orden.fechaEgreso ? orden.fechaEgreso|date('d/m/Y') : '---' } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Nro. Interno', 'data': orden.numeroInterno } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Nro. Externo', 'data': orden.numeroExterno } %} 

            <div class="row-fluid row-show">
                <div class="span4 column-label">COSTO NETO ($):</div>
                <div class="column-show">
                    <span class="label label-info" id="costoNeto">{{ orden.costoNeto|number_format(2) }}</span>
                </div>
            </div>
            <div class="row-fluid row-show">
                <div class="span4 column-label">COSTO TOTAL ($):</div>
                <div class="column-show">
                    <span class="label label-info" id="costoTotal">{{ orden.costoTotal|number_format(2) }}</span>
                </div>
            </div>
        </div>            
    </div>
    <div class="row-fluid">

        {# Inclusion de la cabecera de tab #}
        {% include "mante/OrdenTrabajo/cuerpo.html.twig" %} 

        {# estos son los cuerpos de los tabs #}
        <div class="tab-content" id="myTabContent"> 
            <div class="tab-pane  fade {{ orden.tipo != 1 ? 'active in' : '' }}" role="tabpanel" id="tareasot" aria-labelledby="tareasot-tab"> 
                <div id="tablaTareasOt">
                    {% include "mante/OrdenTrabajo/tareasot.html.twig" %}                
                </div> 
            </div> 
            {% if orden.tipo == 1 %}               
                <div class="tab-pane fade active in" role="tabpanel" id="mantenimientos" aria-labelledby="mantenimientos-tab"> 
                    <div id="tablaMantenimientos">
                        {% include "mante/OrdenTrabajo/mantenimientos.html.twig" %} 
                    </div>
                </div> 
            {% endif %}
            <div class="tab-pane fade" role="tabpanel" id="productos" aria-labelledby="productos-tab"> 
                <div id="tablaProductos">
                    {% include "mante/OrdenTrabajo/productos.html.twig" %} 
                </div>
            </div> 
            <div class="tab-pane fade" role="tabpanel" id="horasTaller" aria-labelledby="horastaller-tab">
                <div id="tablaHorasTaller">
                    {% include "mante/OrdenTrabajo/horasTaller.html.twig" %}                
                </div> 
            </div> 
            <div class="tab-pane fade" role="tabpanel" id="mecanicos" aria-labelledby="mecanicos-tab">
                <div id="tablaMecanicos">
                    {% include "mante/OrdenTrabajo/mecanicos.html.twig" %}                
                </div> 
            </div> 
            <div class="tab-pane fade" role="tabpanel" id="terceros" aria-labelledby="terceros-tab"> 
                <div id="tablaExternos">
                    {% include "mante/OrdenTrabajo/terceros.html.twig" %}                
                </div> 
            </div> 
            {% if is_granted('ROLE_PETICION_VER') %}
                <div class="tab-pane fade" role="tabpanel" id="peticiones" aria-labelledby="peticiones-tab"> 
                    <div id="tablaPeticiones">
                        {% include "mante/OrdenTrabajo/peticiones.html.twig" %}                
                    </div> 
                </div> 
            {% endif %}
        </div>
    </div>
    <!-- empieza la botonera -->
    <div class="form-actions">
        <a href="{{ app.session.get('volver') }}" class="btn btn-default">Volver</a>
        <a href="{{ url("ordentrabajo_new", {'id': orden.servicio.organizacion.id} ) }}" class="btn">Terminar y nueva</a>
    </div>

    {% include "mante/OrdenTrabajo/popup_externo.html.twig" %} 
    {% include "mante/OrdenTrabajo/popup_producto.html.twig" %} 
    {% include "mante/OrdenTrabajo/popup_mecanico.html.twig" %} 
    {% include "mante/OrdenTrabajo/popup_mantenimiento.html.twig" %} 
    {% include "mante/OrdenTrabajo/popup_peticion.html.twig" %} 
    {% include "mante/OrdenTrabajo/popup_horasTaller.html.twig" %} 
    {% include "mante/OrdenTrabajo/popup_tareasOt.html.twig" %} 
    {% include "mante/OrdenTrabajo/popup_cerrar.html.twig" %} 
    {% include "mante/TareaOt/popup_cerrar.html.twig" %} 
    {% include "mante/TareaOt/popup_iniciar.html.twig" %} 
    {% include "mante/TareaOt/popup_edit.html.twig" %} 
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript">

        {# para borrar el contenido anterior del form #}
            $('#btnModalProducto').click(function () {
                // alert('algo');
                $('#producto_producto').val('');
                $('#producto_cantidad').val('');
                $('#producto_unitario').val('');
                $('#producto_actualizar').val('');
            });

            $('#btnModalMecanico').click(function () {
                $('#mecanico_cantidad').val('');
            });

            $('#btnModalExterno').click(function () {
            });

            $('#btnModalPreventivo').click(function () {
            });

            $(document).ready(function () {
                $('#modalProducto').modal('hide');   //cierro el form
                $('#modalMecanico').modal('hide');   //cierro el form
                $('#modalExterno').modal('hide');   //cierro el form
                $('#modalPreventivo').modal('hide');   //cierro el form
                $('#modalPeticion').modal('hide');   //cierro el form
                $('#modalHorasTaller').modal('hide');   //cierro el form
                $('#modalTareasOt').modal('hide');   //cierro el form
                $.datepicker.setDefaults($.datepicker.regional["es"]);
                $("#peticion_fecha_inicio").datepicker();
                $("#tarea_fecha").datepicker();
                $("#tarea_edit_fecha").datepicker();
                $("#orden_fecha").datepicker();
                $("div.scroll").scrollLeft(200);
                //PRODUCTO
                $("#producto_producto").select2({
                    ajax: {
                        url: "{{ path('producto_get') }}",
                        data: function (params) {
                            var query = {
                                idOrg: "{{ orden.servicio.organizacion.id }}",
                                search: params.term,
                                type: 'public'
                            };
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        },
                        dataType: 'json'
                    },
                    language: {
                        noResults: function () {
                            return '<a href="#modalProducto2" data-toggle="modal" >Agregar producto</a>'
                        }
                    },
                    escapeMarkup: function (markup) {
                        return markup;
                    }
                });

                var tabla = $('#tablaProdTareaOt').dataTable({
                    order: true,
                    paging: false,
                    language: {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                    }
                });

                //MECANICO
                $("#mecanico_mecanico").select2({
                    ajax: {
                        url: "{{ path('mecanico_get') }}",
                        data: function (params) {
                            var query = {
                                idOrg: "{{ orden.servicio.organizacion.id }}",
                                search: params.term,
                                type: 'public'
                            };
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        },
                        dataType: 'json'
                    },
                    language: {
                        noResults: function () {
                        }
                    },
                    escapeMarkup: function (markup) {
                        return markup;
                    }
                });

                $('#myTabs a').click(function (e) {
                    e.preventDefault()
                    $(this).tab('show')
                });
                $('#myTabs a:first').tab('show') // Select first tab

                //EXTERNO PRODUCTO
                $("#externo_producto").select2({
                    ajax: {
                        url: "{{ path('producto_get') }}",
                        data: function (params) {
                            var query = {
                                idOrg: "{{ orden.servicio.organizacion.id }}",
                                search: params.term,
                                type: 'public'
                            };
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        },
                        dataType: 'json'
                    },
                    language: {
                        noResults: function () {
                            return '<a href="#modalProducto2" data-toggle="modal" >Agregar producto</a>'
                        }
                    },
                    escapeMarkup: function (markup) {
                        return markup;
                    }
                });

                //EXTERNO TALLER
                $("#externo_tallerExterno").select2({
                    ajax: {
                        url: "{{ path('tallerexterno') }}",
                        data: function (params) {
                            var query = {
                                idOrg: "{{ orden.servicio.organizacion.id }}",
                                search: params.term,
                                type: 'public'
                            };
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        },
                        dataType: 'json'
                    },
                    language: {
                        noResults: function () {
                        }
                    },
                    escapeMarkup: function (markup) {
                        return markup;
                    }
                });

                //HORA TALLER
                $("#hora_horaTaller").select2({
                    ajax: {
                        url: "{{ path('horataller') }}",
                        data: function (params) {
                            var query = {
                                idOrg: "{{ orden.servicio.organizacion.id }}",
                                search: params.term,
                                type: 'public'
                            };
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        },
                        dataType: 'json'
                    },
                    language: {
                        noResults: function () {
                            return '<a href="#modalHorasTaller2" data-toggle="modal" >Agregar Hora</a>'
                        }
                    },
                    escapeMarkup: function (markup) {
                        return markup;
                    }
                });

                $('#hora_unitario').on('keydown', function(e) {
                    var allowedKeys = [8,46,188, 190,45,35,49,96,97,98,99,100,101,102,103,104,105]; // Códigos de tecla para 'borra,'suprimir' ',' y '.'
                   if (allowedKeys.indexOf(e.which) === -1 && (e.which < 48 || e.which > 57)) {
                        e.preventDefault();
                    }
                 }); 
                 $('#producto_unitario').on('keydown', function(e) {
                    var allowedKeys = [8,46,188, 190,45,35,49,96,97,98,99,100,101,102,103,104,105]; // Códigos de tecla para 'borra,'suprimir' ',' y '.'
                   if (allowedKeys.indexOf(e.which) === -1 && (e.which < 48 || e.which > 57)) {
                        e.preventDefault();
                    }
                 });

            });

            $('#btnProductoAdd').click(function () {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('ordentrabajo_addproducto') }}",
                    data: {
                        'id': "{{ orden.id }}",
                        'formProducto': $("#formProducto").serialize(), //form de productos
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaProductos").text("");
                    $("#tablaProductos").html(respuesta.html);
                    $('#modalProducto').modal('toggle');   //cierro el form
                    $("#costoTotal").html(respuesta.costoTotal);
                    $("#costoNeto").html(respuesta.costoNeto);
                    if (respuesta.error_deposito) {
                        alert('Esta orden no tiene asignado ningún depósito, vaya a editar y coloque un depósito');
                    }
                });
            });

            $('#producto_producto').on('change', function () {
                //alert( this.value );
                var req = $.ajax({
                    type: 'GET',
                    url: "{{ path('producto_getprecio') }}",
                    data: {
                        'id': "{{ orden.id }}", //id de la ot para sacar el taller
                        'idProducto': this.value, //id del producto
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    //alert(respuesta.fecha);
                    $('#producto_cantidad').val('1');
                    if (respuesta.precio == null) {
                        $('#producto_unitario').val('');
                        $('#producto_ult_compra').html('---');
                    } else {
                        $('#producto_unitario').val(respuesta.precio);
                        $('#producto_ult_compra').html(respuesta.fecha);
                    }
                });
            })

            function productoDel(idProd, nombre) {
                var r = confirm('Esta seguro de eliminar el producto "' + nombre + '" de la Orden de trabajo ?');
                if (r == true) {
                    var req = $.ajax({
                        type: 'POST',
                        url: "{{ path('ordentrabajo_delproducto') }}",
                        data: {
                            'idProd': idProd,
                            'idDep': "{{ orden.deposito ? orden.deposito.id : 0 }}",
                            'id': "{{ orden.id }}",
                        },
                        dataType: "json",
                        //async: true,
                        beforeSend: function () {
                        },
                    });
                    req.done(function (respuesta) {
                        $("#tablaProductos").text("");
                        $("#tablaProductos").html(respuesta.html);
                        $("#costoNeto").html(respuesta.costoNeto);
                        $("#costoTotal").html(respuesta.costoTotal);
                    });
                }
            }
            function horasTallerDel(idHora, nombre) {
                var r = confirm('Esta seguro de eliminar la hora taller "' + nombre + '" de la Orden de trabajo ?');
                if (r == true) {
                    var req = $.ajax({
                        type: 'POST',
                        url: "{{ path('ordentrabajo_delhorataller') }}",
                        data: {
                            'idHora': idHora,
                            'id': "{{ orden.id }}",
                        },
                        dataType: "json",
                        //async: true,
                        beforeSend: function () {
                        },
                    });
                    req.done(function (respuesta) {
                        $("#tablaHorasTaller").text("");
                        $("#tablaHorasTaller").html(respuesta.html);
                        $("#costoNeto").html(respuesta.costoNeto);
                        $("#costoTotal").html(respuesta.costoTotal);
                    });
                }
            }

            $('#btnMecanicoAdd').click(function () {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('ordentrabajo_addmecanico') }}",
                    data: {
                        'id': "{{ orden.id }}",
                        'formMecanico': $("#formMecanico").serialize(), //form de productos
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaMecanicos").text("");
                    $("#tablaMecanicos").html(respuesta.html);
                    $('#modalMecanico').modal('toggle');   //cierro el form
                    $("#costoNeto").html(respuesta.costoNeto);
                    $("#costoTotal").html(respuesta.costoTotal);
                });
            });

            function mecanicoDel(idMeca, nombre) {
                var r = confirm('Esta seguro de eliminar el mecánico "' + nombre + '" de la Orden de trabajo ?');
                if (r == true) {
                    var req = $.ajax({
                        type: 'POST',
                        url: "{{ path('ordentrabajo_delmecanico') }}",
                        data: {
                            'idMeca': idMeca,
                            'id': "{{ orden.id }}",
                        },
                        dataType: "json",
                        //async: true,
                        beforeSend: function () {
                        },
                    });
                    req.done(function (respuesta) {
                        $("#tablaMecanicos").text("");
                        $("#tablaMecanicos").html(respuesta.html);
                        $("#costoNeto").html(respuesta.costoNeto);
                        $("#costoTotal").html(respuesta.costoTotal);
                    });
                }
            }
            ;

            $('#btnMantenimientoAdd').click(function () {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('ordentrabajo_addmantenimiento') }}",
                    data: {
                        'id': "{{ orden.id }}",
                        'form': $("#formMantenimiento").serialize(), //form de productos
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaMantenimientos").text("");
                    $("#tablaMantenimientos").html(respuesta.html);
                    $("#tablaProductos").text("");
                    $("#tablaProductos").html(respuesta.productos);
                    $('#modalMantenimiento').modal('toggle');   //cierro el form
                    $("#costoNeto").html(respuesta.costoNeto);
                    $("#costoTotal").html(respuesta.costoTotal);
                });
            });

            function mantenimientoDel(idMant, nombre) {
                var r = confirm('Esta seguro de eliminar el mantenimiento "' + nombre + '" de la Orden de trabajo ?');
                if (r == true) {
                    var req = $.ajax({
                        type: 'POST',
                        url: "{{ path('ordentrabajo_delmantenimiento') }}",
                        data: {
                            'idMant': idMant,
                            'id': "{{ orden.id }}",
                        },
                        dataType: "json",
                        //async: true,
                        beforeSend: function () {
                        },
                    });
                    req.done(function (respuesta) {
                        $("#tablaMantenimientos").text("");
                        $("#tablaMantenimientos").html(respuesta.html);
                        $("#costoNeto").html(respuesta.costoNeto);
                        $("#costoTotal").html(respuesta.costoTotal);
                    });
                }
            }
            ;

            $('#btnExternoAdd').click(function () {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('ordentrabajo_addexterno') }}",
                    data: {
                        'id': "{{ orden.id }}",
                        'formExterno': $("#formExterno").serialize(), //form de productos
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaExternos").text("");
                    $("#tablaExternos").html(respuesta.html);
                    $('#modalExterno').modal('toggle');   //cierro el form
                    $("#costoNeto").html(respuesta.costoNeto);
                    $("#costoTotal").html(respuesta.costoTotal);
                });
            });

            function externoDel(idExt) {
                var r = confirm('Esta seguro de eliminar esta intervención externa de la Orden de trabajo ?');
                if (r == true) {
                    var req = $.ajax({
                        type: 'POST',
                        url: "{{ path('ordentrabajo_delexterno') }}",
                        data: {
                            'idExt': idExt,
                            'id': "{{ orden.id }}",
                        },
                        dataType: "json",
                        //async: true,
                        beforeSend: function () {
                        },
                    });
                    req.done(function (respuesta) {
                        $("#tablaExternos").text("");
                        $("#tablaExternos").html(respuesta.html);
                        $("#costoNeto").html(respuesta.costoNeto);
                        $("#costoTotal").html(respuesta.costoTotal);
                    });
                }
            }
            $('#btnPeticionAdd').click(function () {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('ordentrabajo_addpeticion') }}",
                    data: {
                        'id': "{{ orden.id }}",
                        'formPeticion': $("#formPeticion").serialize(), //form de productos
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaPeticiones").text("");
                    $("#tablaPeticiones").html(respuesta.html);
                    $('#modalPeticion').modal('toggle');   //cierro el form
                    $("#costoNeto").html(respuesta.costoNeto);
                    $("#costoTotal").html(respuesta.costoTotal);
                });
            });

            function peticionDel(idPet) {
                var r = confirm('Esta seguro de eliminar esta intervención externa de la Orden de trabajo ?');
                if (r == true) {
                    var req = $.ajax({
                        type: 'POST',
                        url: "{{ path('ordentrabajo_delpeticion') }}",
                        data: {
                            'idPet': idPet,
                            'id': "{{ orden.id }}",
                        },
                        dataType: "json",
                        //async: true,
                        beforeSend: function () {
                        },
                    });
                    req.done(function (respuesta) {
                        $("#tablaPeticiones").text("");
                        $("#tablaPeticiones").html(respuesta.html);
                        $("#costoNeto").html(respuesta.costoNeto);
                        $("#costoTotal").html(respuesta.costoTotal);
                    });
                }
            }
            $('#btnHorasTallerAdd').click(function () {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('ordentrabajo_addhorataller') }}",
                    data: {
                        'id': "{{ orden.id }}",
                        'formHoraTaller': $("#formHoraTaller").serialize(), //form de productos
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaHorasTaller").text("");
                    $("#tablaHorasTaller").html(respuesta.html);
                    $('#modalHorasTaller').modal('toggle');   //cierro el form
                    $("#costoTotal").html(respuesta.costoTotal);
                    $("#costoNeto").html(respuesta.costoNeto);
                });
            });

            $('#btnTareasOtAdd').click(function () {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('ordentrabajo_addtarea') }}",
                    data: {
                        'id': "{{ orden.id }}",
                        'formTareasOt': $("#formTareasOt").serialize(), //form de productos
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaTareasOt").text("");
                    $("#tablaTareasOt").html(respuesta.html);
                    $('#modalTareasOt').modal('toggle');   //cierro el form
                    document.getElementById("formTareasOt").reset();
                });
            });

            $('#btnCerrarOt').click(function () {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('ordentrabajo_cerrar') }}",
                    data: {
                        'id': "{{ orden.id }}",
                        'fecha': $("#orden_fecha").val(),
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaTareasOt").text("");
                    $("#tablaTareasOt").html(respuesta.html);
                    $("#otestado").text("");
                    $("#otestado").html(respuesta.htmlEstado);
                    location.reload(); //refresco para que desaparezcan los botones

                });
            });

            $('#btnCerrarTarea').click(function () {
                var id = $('#cerrar_id').val();
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('tareaot_cerrar') }}",
                    data: {
                        'id': id,
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaTareasOt").text("");
                    $("#tablaTareasOt").html(respuesta.html);
                    $("#otestado").text("");
                    $("#otestado").html(respuesta.htmlEstado);
                    $('#modalCerrar').modal('toggle');   //cierro el form
                });
            });

            $('#btnIniciarTarea').click(function () {
                var id = $('#iniciar_id').val();
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('tareaot_iniciar') }}",
                    data: {
                        'id': id,
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaTareasOt").text("");
                    $("#tablaTareasOt").html(respuesta.html);
                    $("#otestado").text("");
                    $("#otestado").html(respuesta.htmlEstado);
                    $('#modalIniciar').modal('toggle');   //cierro el form
                });
            });

            $('#btnTareasOtModificar').click(function () {
                var id = $('#tarea_edit_id').val();
                var fecha = $('#tarea_edit_fecha').val();
                var descripcion = $('#tarea_edit_descripcion').val();
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('tareaot_modificar') }}",
                    data: {
                        'id': id,
                        'fecha': fecha,
                        'descripcion': descripcion,
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaTareasOt").text("");
                    $("#tablaTareasOt").html(respuesta.html);
                    $('#modalTareasOtModificar').modal('toggle');   //cierro el form
                });
            });

            function cerrarTarea(id, descripcion, fecha, costototal) {
                $('#cerrar_descripcion').text(descripcion);
                $('#cerrar_fecha').text(fecha);
                $('#cerrar_costo').text("$" + costototal);
                $('#cerrar_id').val(id);
            }

            function iniciarTarea(id, descripcion, fecha, costototal, mecanico) {
                $('#iniciar_descripcion').text(descripcion);
                $('#iniciar_fecha').text(fecha);
                $('#iniciar_costo').text("$" + costototal);
                $('#iniciar_mecanico').text(mecanico);
                $('#iniciar_id').val(id);
            }

            function editarTarea(id, descripcion, fecha) {
                $('#tarea_edit_descripcion').text(descripcion);
                $('#tarea_edit_fecha').val(fecha);
                $('#tarea_edit_id').val(id);
            }

            function tareaotDel(idTarea) {
                var r = confirm('Esta seguro de eliminar esta tarea de la orden de trabajo?');
                if (r == true) {
                    var req = $.ajax({
                        type: 'POST',
                        url: "{{ path('ordentrabajo_deltareaot') }}",
                        data: {
                            'idTarea': idTarea,
                            'id': "{{ orden.id }}",
                        },
                        dataType: "json",
                        //async: true,
                        beforeSend: function () {
                        },
                    });
                    req.done(function (respuesta) {
                        $("#tablaTareasOt").text("");
                        $("#tablaTareasOt").html(respuesta.html);
                        $("#costoNeto").html(respuesta.costoNeto);
                        $("#costoTotal").html(respuesta.costoTotal);
                    });
                }
            }

    </script>

{% endblock %}    

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" />
    <style type="text/css">
        .ui-timepicker-div
        .ui-widget-header {
            margin-bottom: 8px;
        }
        .ui-timepicker-div dl {
            text-align: left;
        }
        .ui-timepicker-div dl dt {
            height: 25px;
            margin-bottom: -25px;
        }
        .ui-timepicker-div dl dd {
            margin: 0 10px 10px 65px;
        }
        .ui-timepicker-div td {
            font-size: 12px;
        }
        .ui-tpicker-grid-label {
            background: none;
            border: none;
            margin: 0;
            padding: 0;
        }

        .ui-timepicker-rtl{
            direction: rtl;
        }
        .ui-timepicker-rtl dl {
            text-align: right;
        }
        .ui-timepicker-rtl dl dd {
            margin: 0 65px 10px 10px;
        }
    </style>
{% endblock %}
