<div class="row-fluid">
	{% if actividades|length > 0 %}
		<div style="margin-left: 10px;">
			<legend>Tareas de Mantenimientos</legend>
			{% if orden.mantenimientos|length > 0 %}
				<table class="table table-condensed table-hover" style="border-style: solid; border-color: #e7eaeb; border-width: 0px 1px 1px 1px">
					<thead>
						<tr>
							<th>Tareas</th>
							<th>Mantenimiento</th>

						</tr>
					</thead>
					<tbody>
						{% for tarea in actividades %}
							<tr>
								<td>
									{{ tarea.nombre }}
								</td>
								<td>
									<a href="{{ path('plan_show', {'id': tarea.mantenimiento.id}) }}">
										<b>{{ tarea.mantenimiento.nombre }}</b>
									</a>
								</td>
							</tr>


						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<h3>No hay mantenimientos asignados a esta órden</h3>
			{% endif %}
		</div>
	{% endif %}
	<div style="margin-left: 10px;">
		<legend>Otras Tareas</legend>
		{% if orden.tareas|length > 0 %}
			<table id="tablaTareasOt" class="table table-condensed" style="border-style: solid; border-color: #e7eaeb; border-width: 0px 1px 1px 1px">
				<thead>
					<tr>
						<th></th>
						<th>Descripcion</th>
						<th>Fecha Inicio</th>
						<th>Mecanico/s</th>
						<th>Costo Total</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for tarea in orden.tareas %}
						<tr>
							<td>
								{% if tarea.estado == 0 %}
									<span class="badge badge-xs badge-default">
										Nueva
									</span>
								{% elseif tarea.estado == 1 %}
									<span class="badge badge-xs badge-info">
										En Curso
									</span>
								{% else %}
									<span class="badge badge-xs badge-success">
										Cerrada
									</span>
								{% endif %}
							</td>
							<td>
								<a href="{{ path('tareaot_show',{'id':tarea.id}) }}">{{ tarea.descripcion|slice(0, 175) }}</a>
							</td>
							<td>{{ tarea.fecha? tarea.fecha|date('d-m-Y H:i'):'---' }}</td>
							<td>
								<lu>
									{% for mecOt in tarea.mecanicos %}
										<li>{{ mecOt.mecanico.nombre }}</li>
									{%  endfor %}
								</lu>
							</td>
							<td>$
								{{ tarea.costototal }}</td>
							<td>
								{% if orden.estado != 2 %}
									{# que no este cerrada #}
									{% if tarea.estado == 0 %}
										<button title="Iniciar Tarea" class="btn btn-small btn-primary" type="button" href="#modalIniciar" data-toggle="modal" onclick="iniciarTarea({{tarea.id}}, '{{tarea.descripcion}}', '{{ tarea.fecha ? tarea.fecha|date('d/m/Y'):'---' }}', '{{ tarea.costototal }}', '');">
											<i class="fa fa-play-circle"></i>
										</button>
									{% elseif tarea.estado == 1 %}
										<button title="Cerrar Tarea" class="btn btn-small btn-primary" type="button" href="#modalCerrar" data-toggle="modal" onclick="cerrarTarea({{tarea.id}}, '{{tarea.descripcion}}', '{{ tarea.fecha? tarea.fecha|date('d/m/Y'):'---' }}', '{{ tarea.costototal }}');">
											<i class="fa fa-stop-circle"></i>
										</button>
										{#                                <a class="btn btn-xs btn-primary"  onclick="cerrar({{tarea.id}});">Cerrar</a>#}
										{% else %}
									{% endif %}
									<a title="Editar" class="btn btn-small" href="{{ path('tareaot_show',{'id':tarea.id}) }}">
										<i class="fa fa-edit"></i>
									</a>
									<button class="btn btn-small btn-default" onclick="tareaotDel('{{tarea.id}}')">
										<i class="fa fa-trash-o"></i>
									</button>
								{% endif %}

							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			{# //<h3>No hay tareas para esta orden de trabajo</h3> #}
		{% endif %}

		{% if orden.estado != 2 %}
			{# que no este cerrada #}
			<a href="#modalTareasOt" class="btn btn-xs btn-success" data-toggle="modal" id="btnModalTareasOt">Agregar Tarea</a>
		{% endif %}
	</div>
</div>
