{% if orden.externos|length > 0 %}
    <table class="table table-condensed" style="border-style: solid; border-color: #e7eaeb; border-width: 0px 1px 1px 1px">
        <thead>
            <tr>
                <th>Proveedor</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Descripción</th>
                <th>Costo Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ext in orden.externos %}
                <tr>
                    <td>{{ ext.tallerExterno.nombre|default('---') }}</td>                
                    <td>{{ ext.producto.nombre|default('---') }}</td>
                    <td>{{ ext.cantidad|default('---') }}</td>
                    <td>{{ ext.descripcion }}</td>
                    <td>{{ ext.costoTotal|number_format(2) }}</td>
                    <td>
                        {% if orden.estado != 2 %} {# que no este cerrada #}
                            <button class="btn btn-small" type="button" id="externo_del" onClick="externoDel({{ ext.id }})">
                                <i class="icon-minus-sign"  title="Elimina el movimiento de la orden"></i> Eliminar
                            </button>
                        {% endif %} 
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>No hay talleres de terceros asignados a esta órden</h3>
{% endif %}

{% if orden.estado != 2 %} {# que no este cerrada #}
    <a href="#modalExterno" class="btn btn-xs btn-success" data-toggle="modal" id="btnModalExterno">Agregar Proveedor</a>
{% endif %} 