{% extends "app/Template_aker/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block title %}
    Métricas de informes
{% endblock %}
{% block titulo %}
Métricas de informes
{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}" ></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
    var indicesOrg = null;
    var indicesInfo = null;
    
    $(document).ready(function () {
         indicesOrg = JSON.parse('{{pieOrganizacion|raw()}}');
         indicesInfo = JSON.parse('{{pieInformes|raw()}}');
        armarGraficos();
    });

    function armarGraficos(){
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChartOrganizaciones);
        google.charts.setOnLoadCallback(drawChartInformes);
    }

        function drawChartOrganizaciones() {
                        var arr = new Array();   
                        var i = 1;                
                        arr[0] =   ['Organizacion', 'Cantidad de informes'];      
                    if(indicesOrg == null){
                        arr[1]=['Sin Datos',0];              
                        
                    }else{
                        jQuery.each(indicesOrg, function (key, value) {
                            arr[i] = [key, value];                   
                            i++;
                        });
                    
                    
            var data = google.visualization.arrayToDataTable(arr);
            var chart = new google.visualization.PieChart(document.getElementById('piechartOrg'));

            chart.draw(data, null);
            }
        }


        function drawChartInformes() {
           
                        var arr = new Array();   
                        var i = 1;                
                        arr[0] =   ['Informes', 'Cantidad de consultas'];      
                    if(indicesInfo == null){
                        arr[1]=['Sin Datos',0];              
                        
                    }else{
                        jQuery.each(indicesInfo, function (key, value) {
                            arr[i] = [key, value];                   
                            i++;
                        });
                    
                    
            var data = google.visualization.arrayToDataTable(arr);
            var chart = new google.visualization.PieChart(document.getElementById('piechartInfo'));

            chart.draw(data, null);
            }
        }


    $(function () {
        $('#metrica_desde').datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
            locale: 'es',
            date: moment().subtract(1, 'month').startOf('day')
        });

        $('#metrica_hasta').datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
             locale: 'es',
             date: moment().endOf('day') 
        });

        $('#metrica_organizacion').select2();
    });

    $("#consultar").on('click',function(){
        var request = $.ajax({
            type: 'POST',
            url: "{{ path('metricas_ajax') }}",
            data: {
                'formMetricas': $("#formMetricas").serialize(),
            },
            dataType: "json",
            // async: true,
            beforeSend: function () {
                $("#pantalla").html('<h4>Cargando....</h4>');
            
            }
        });
        request.done(function (respuesta) {
               $("#pantalla").text('');
                $("#pantalla").html(respuesta.html);
                indicesOrg = JSON.parse(respuesta.pieOrganizacion);
                indicesInfo = JSON.parse(respuesta.pieInformes);
               armarGraficos();
               
            
            });
        });
</script>
{% endblock %}

{% block informacion %}
    <div class="alert alert-default" role="alert">
        <div class="row">
            <form class="form-horizontal" id="formMetricas" method="POST">
                {{ form_errors(form) }}
                <div class="col-md-5">
                    {{ form_widget(form.organizacion) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.desde) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.hasta) }}
                </div>
                <div class="col-md-1">
                    {{ form_widget(form._token) }}
                </div>

            </form>
            <div class="col-md-12">
                <div class="control-group ">
                    <label class="control-label"></label>
                    <div class="controls ">
                        <button type="button" class="btn btn-default" id="consultar">
                            Consultar
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="pantalla">
            {% include "backend/Metrica/informes/pantalla.html.twig" %}
        </div>

    </div>

{% endblock %}
