<div class="col-md-12">
    <div class="col-md-6">
        <section class="panel panel-default">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                </div>
                <h2 class="panel-title">
                    Actividad de Organizaciones
                </h2>
                <p class="panel-subtitle">
                    Se muestran las organizaciones con maś consultas a los informes
                </p>
            </header>
            <div class="panel-body">
                <div id="piechartOrg" style="height: 300px;"></div>
            </div>
        </section>
    </div>

    <div class="col-md-6">
        <section class="panel panel-default">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                </div>
                <h2 class="panel-title">
                    Actividad de Informes
                </h2>
                <p class="panel-subtitle">
                    Se muestran los informes  maś consultados
                </p>
            </header>
            <div class="panel-body">
                <div id="piechartInfo"  style="height: 300px;"></div>
            </div>
        </section>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <section class="panel panel-default">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                </div>
                <h2 class="panel-title">
                    Servicios por informe
                </h2>
                <p class="panel-subtitle">
                    Se muestran la mayor cantidad de servicios pedidos por informe
                </p>
            </header>
            <div class="panel-body">
                <div id="tableInfoServ">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Informe
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Servicios
                                </th>
                                <th>
                                    Días Atrás
                                </th>
                                <th>
                                    Organizacion
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key,data in dataInfoServicios %}
                                <tr>
                                    <td>
                                        {{ key }}
                                    </td>
                                    <td>
                                        {{ data.fecha }}
                                    </td>
                                    <td>
                                        {{ data.servicio }}
                                    </td>
                                    <td>
                                        {{ data.diasAtras }}
                                    </td>
                                    <td>
                                        {{ data.organizacion }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <div class="col-md-6">
        <section class="panel panel-default">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                </div>
                <h2 class="panel-title">
                    Días por informe
                </h2>
                <p class="panel-subtitle">
                    Se muestran la mayor cantidad de días consultados (entre desde y hasta) por informe
                </p>
            </header>
            <div class="panel-body">
                <div id="tableInfoDias" style="height: 300px;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Informe
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Días
                                </th>
                                <th>
                                    Días Atrás
                                </th>
                                <th>
                                    Organizacion
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key,data in dataInfoDias %}
                                <tr>
                                    <td>
                                        {{ key }}
                                    </td>
                                    <td>
                                        {{ data.fecha }}
                                    </td>
                                    <td>
                                        {{ data.diasConsulta }}
                                    </td>
                                    <td>
                                        {{ data.diasAtras }}
                                    </td>
                                    <td>
                                        {{ data.organizacion }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="col-md-12">

        <section class="panel panel-default">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                </div>
                <h2 class="panel-title">
                    Últimos registros
                </h2>
                <p class="panel-subtitle">
                    Se muestran los últimos 100 registros de la fecha consultada
                </p>
            </header>
            <div class="panel-body">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Informe
                    </th>
                    <th>
                        Organizacion
                    </th>
                    <th>
                        Días Consultados
                    </th>
                    <th>
                        Días Atrás
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for metrica in lastMetricas %}
                    <tr>
                        <td>
                            {{ metrica.fecha }}
                        </td>
                        <td>
                            {{ metrica.tipoInforme }}
                        </td>
                        <td>
                            {{ metrica.organizacion }}
                        </td>
                        <td>
                            {{ metrica.dias }}
                        </td>
                        <td>
                            {{ metrica.diasAtras }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            </div>
        </section>
  
</div>
