{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ referencia.propietario }}{% endblock %}
{% block subtitulo %}Editar Referencia{% endblock %}


{% block formulario %}
    <script type='text/javascript'>
        function geocoder_exito(latitud, longitud, direccion) {
            // document.getElementById('texto_gc_resultado').innerHTML = "Geocoder [Lat: "+latitud+"  Long: "+longitud+"]["+direccion+"]";
            //actualiza y centra el punto
        {{ mapa.fcAddMarker() }}({id_sc: 'r{{ referencia.id }}', latitud: latitud, longitud: longitud, texto: direccion});
        {{ mapa.fcCenterMarker() }}('r{{ referencia.id }}');
                document.getElementById('referencia_latitud').value = latitud;
                document.getElementById('referencia_longitud').value = longitud;
            }

            function geocoder_exito_inverso(direccion) {
                //document.getElementById('texto_gc_resultado_2').innerHTML = "Geocoder Inverso ["+direccion+"]";
        {{ mapa.fcAddMarker() }}({id_sc: 'r{{ referencia.id }}', texto: direccion});
                document.getElementById('referencia_direccion').value = direccion;
            }

            function geocoder_fracaso(error) {
                //  document.getElementById('texto_gc_resultado').innerHTML = "Geocoder Error: ["+error+"]";
            }
            function geocodificarTexto() {
                //document.getElementById('texto_gc_resultado').innerHTML = '...';
                var direccion = document.getElementById('referencia_direccion').value;
        {{ geocoder.fcGeocodificar() }}(direccion, geocoder_exito, geocoder_fracaso);
            }
            function dragMarcador(e) {
                if (e != null) {
                    pos = e.latLng;
                    document.getElementById('referencia_latitud').value = pos.lat();
                    document.getElementById('referencia_longitud').value = pos.lng();
                }
            }

            function finDragMarcador(e) {
                if (e != null) {
                    pos = e.latLng;
        {{ geocoder.fcInversa() }}(pos.lat(), pos.lng(), geocoder_exito_inverso, geocoder_fracaso);
                }
            }

            function clickMarcador(e) {
                if (e != null) {
                    pos = e.latLng;
                    document.getElementById('punto_click').innerHTML = "Click: [" + pos.lat() + " ; " + pos.lng() + "]";
                }
            }

            jQuery(document).ready(function () {
                jQuery('.logo-small').click(function (event) {

                    path = jQuery(event.target).attr('src');
                    document.getElementById('mostrar-icono').src = path;
                    document.getElementById('referencia_pathIcono').value = path;
                    document.getElementById('#modalRetirar').modal('hide');

                    return false;
                });
            })

            $(document).ready(function () {
                $('#cont-flechita').click(function (e) {

                    var posicion = $('#cont-flechita').position();
                    var alto = $('#cont-flechita').height();
                    var ancho = $('#cont-flechita').width();

                    var x = posicion.left + (ancho / 2);
                    var y = posicion.top + (alto / 2);
                    //var radians = Math.atan((e.pageY - y)/(e.pageX - x));
                    //var radians = Math.atan2((y - e.pageY),(e.pageX - x));

                    // Obtener directamente los grados geograficos (0 = Norte, 90 = Este)
                    // Normalmente atan2 se llama con:
                    //     atan2 (eje_y, eje_x)
                    // Pero en este caso como queremos grados geográficos,
                    // va atan2 (latitud, longitud)
                    // Resulta que la latitud es el eje_y y la longitud el eje_x
                    // Por ejemplo un eje  longitudinal es la línea del Ecuador
                    // y uno latitudinal es el meridiano de Greenwich y los husos horarios
                    // En la pantalla el eje Y está invertido (crece hacia abajo)
                    // pero tanto en el mapa como también en matemáticas crece
                    // hacia arriba, por tanto invertimos el signo del eje Y:
                    // -(e.pageY - y) = -e.pageY -(-y)
                    //                = -e.pageY + y
                    //                = y - e.pageY
                    var radians = Math.atan2(e.pageX - x, y - e.pageY);

                    // atan2 devuelve en radianes, Yesica convierte a grados:
                    var degree = ((180 * radians) / Math.PI);

                    // atan2 devuelve de -180 a 179, convertir a 0..359
                    if (degree < 0)
                        degree += 360;

                    //var grados=360-degree;
                    var grados = degree;

                    // La CSS transform gira en sentido inverso a la dirección geográfica
                    // por tanto invertimos el signo y ajustamos 90º
                    // (FIXME: porqué ajusto 90º si la flecha ya apunta para arriba??? investigar)
                    var rotacion = -degree + 90;

                    /*if((e.pageY - y) < 0){
                     grados=-degree;
                     rotacion=90+degree;
                     }
                     if((e.pageX - x) < 0){
                     grados=180-degree;
                     rotacion=270+degree;
                     }
                     */

                    rotacion = grados;

                    gradusuario = grados - (grados % 10);
                    // Pasar de grado geometrico a grado geografico
                    //gradusuario = (90 - gradusuario + 360) % 360;

                    document.getElementById('referencia_anguloDeteccion').value = gradusuario;
                    $('#flechita').css('-webkit-transform', 'rotate(' + rotacion + 'deg)');
                    $('#flechita').css('-moz-transform', 'rotate(' + rotacion + 'deg)');
                    $('#flechita').css('-o-transform', 'rotate(' + rotacion + 'deg)');
                    $('#flechita').css('-ms-transform', 'rotate(' + rotacion + 'deg)');
                    $('#flechita').css('transform', 'rotate(' + rotacion + 'deg)');

                });
            });

            function clickRadio() {
                $('#divMapa').css('display', 'block');
                $('#divPoligono').css('display', 'none');
            }
            function clickPoligono() {
                $('#divMapa').css('display', 'none');
                $('#divPoligono').css('display', 'block');
            }
    </script>
    {{ mapa.renderJs()|raw }}
    {{ geocoder.renderJs()|raw }}


    <form class="form-horizontal"  method="POST" >
        <fieldset>
            <div class="row-fluid">
                <div class="row-fluid">
                    <div class="span5">
                        {{ form_errors(form) }}
                        {{ form_widget(form.nombre, { 'attr': {'class': 'span4'} }) }}
                        {{ form_widget(form.descripcion, { 'attr': {'class': 'span4'} }) }}
                        {{ form_widget(form.tipoReferencia) }}
                        {% if form.categoria is defined %}
                            {{ form_widget(form.categoria) }}
                            {% if is_granted("ROLE_REFERENCIA_CATEGORIA_AGREGAR") %}
                                <small style="padding-left: 190px;"><a href="{{ path('apmon_categoria_new', {'idorg': referencia.propietario.id}) }}">Agregar categoría</a></small>
                            {% endif %}
                        
                    {% endif %}
                    {{ form_widget(form.codigoExterno) }}
                    {{ form_widget(form.visibilidad) }}
                </div>
                <div class="span5">
                    {{ form_widget(form.pathIcono) }}
                    <div class="controls">
                        <img id="mostrar-icono" class="logo-small"  src="{{referencia.pathIcono}}" />
                        <a href="#modalRetirar" data-toggle="modal">Seleccionar Icono</a>
                    </div>
                    <div id="modalRetirar" class="modal hide fade">
                        <div class="modal-header">
                            <a href="#" class="close">&times;</a>
                            <h3>Seleccionar Icono de Referencia</h3>
                        </div>
                        <div class="modal-body">
                            <table>
                                <tbody>
                                    {% for icono in iconos %}
                                        {% if (loop.index%12) == 0%}
                                            <tr>
                                            {% endif %}
                                            <td><a href="#" data-dismiss="modal"><img class="logo-small" src="{{ asset(icono)}}" /></a></td>
                                                    {% if (loop.index%12) == 11%}  
                                            </tr>
                                        {% endif %}
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <label class="control-label" for="optionsCheckboxList">Registrar</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input id="referencia_entrada" name="referencia[entrada]" {{referencia.entrada?'checked':''}} type="checkbox"> Entrada a la referencia
                        </label>
                        <label class="checkbox">
                            <input id="referencia_salida" name="referencia[salida]" {{referencia.salida?'checked':''}} type="checkbox"> Salida de la referencia
                        </label>
                    </div>
                    <br>
                    {# ------------ este es el angulo de cruce ------------ #}                   

                    <label class="control-label">Angulo de cruce</label>
                    <div class="controls">
                        <span class="add-on">
                            <div id="cont-flechita" style="float: left; margin-right: 20px; border: 1px solid #ccc; padding: 3px;">
                                <img id="flechita" src="{{asset('images/img/arrow.png')}}" />
                            </div> 
                        </span>
                        <input id="referencia_anguloDeteccion" name="referencia[anguloDeteccion]" class="span2" type="text" value="{{referencia.anguloDeteccion}}">
                        <p class="help-block">Haga click en los bordes de la flecha para cambiar de ángulo.</p>
                    </div>
                    <br>

                    {{ form_widget(form.velocidadMaxima) }}
                    {{ form_widget(form.ciudad) }}
                    {{ form_widget(form.provincia) }}
                    
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Forma</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsCircular" value="option1" checked="true" onclick="clickRadio()">
                        Circular
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsPoligonal" value="option2" onclick="clickPoligono()">
                        Poligonal
                    </label>
                </div>
            </div>

            <hr/>    

            <div id="divPoligono" style="display: none">
                {{ form_widget(form.kml) }}
            </div>    

            <div id="divMapa" style="display: block;">
                {# ------------ aca empieza el render del mapa ------------ #}
                <div class="control-label"><label for="referencia_descripcion">Dirección cercana</label></div>
                <div class="controls">
                    <input type="text" id="referencia_direccion" name="referencia[direccion]" class="span5" placeholder="Ingrese una dirección a buscar..." />
                    <button class="btn " type="button" onClick='geocodificarTexto()' >Buscar Direccion</button>
                    <span class="help-block"><span class="label label-info">Info</span>Para mas precisión en la ubicación de la referencia, arrastre el puntero en el mapa hasta la ubicación correcta.</span>

                    <div style="width: 100%; padding: 5px;">
                        {{ mapa.renderHtml()|raw }}
                        <br>
                        Latitud <input class="span2" type="text" id="referencia_latitud" name="referencia[latitud]" class="" value="{{ form.vars.value.latitud }}">
                        Longitud <input class="span2" type="text" id="referencia_longitud" name="referencia[longitud]" class="" value="{{ form.vars.value.longitud }}">
                    </div>
                </div>
                {{ form_widget(form.radio) }}
            </div>

            {# form_widget(form.cortePorRalenti) #}

            </div>

            <div class="form-actions">
                {{ form_widget(form._token) }}
                <input type="submit" class="btn btn-primary" value="Cambiar" />
                <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>
        </fieldset>
    </form>
{% endblock %}