{% extends "app/Template_aker/form.html.twig" %}
{% block titulo %}
	Importación de Referencias
{% endblock %}

{% block formulario %}
	<form class="form-horizontal" enctype="multipart/form-data" method="POST">
		{% embed "app/Template_aker/panel_form.html.twig" %}
			{% block titulo %}
				Paso 1: Subida y lectura de archivo kml.
			{% endblock %}
			{% block cuerpo %}
				<p>
					Este proceso permite importar desde un archivo kml, para las referencias de la organización.
													            			Es importante que seleccione correctamente el formato del archivo que va a importar, de no hacerlo el proceso de importación fallará.
				</p>
				<fieldset>
					<div class="row-fluid">
						<div class="col-md-6">
							<div class="control-group ">
								<label class="control-label" for="import_archivo">
									Archivo Excel
									<div title="Dato Obligatorio" style="color: red; display: inline">*</div>
								</label>
								<div class="controls">
									<input type="file" class="" id="import_archivo" name="import_archivo" required="required">
                                </div>
							</div>
						</div>
						<div class="col-md-4"></div>
					</div>
				</fieldset>

			{% endblock %}
			{% block botones %}
				<input type="submit" class="btn btn-primary" id="crear" value="Importar"/>
				<a href="{{ app.session.get('volver') }}" class="btn btn-default">
					Cancelar
				</a>
            </form>
			{% endblock %}

		{% endembed %}
{% endblock %}
