{% extends "app/Template_aker/show.html.twig" %}

{% block titulo %}
    {{ organizacion.nombre }}
{% endblock %}

{% block informacion %}{% endblock %}

{% block contentpanel %}
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <header class="panel-heading">
                    <h2 class="panel-title">
                        Éxito!!                                                                   
                    </h2>
                    <p class="panel-subtitle">
                        Las referencias fueron importadas correctamente!.                                                                                          
                    </p>
                </header>
                <div class="panel-body">
                    <div class="col-md-6">
                        {{ mapa.renderHtml()|raw }}
                        <br>
                        <a class="btn  btn-success" href="{{ path('referencia_list', {'id': organizacion.id}) }}">
                            Terminar                                                                           
                                                                            
                                                    
                        </a>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>
                                        Nombre                                        								
                                                                            
                                    </th>
                                    <th>
                                        Tipo                                                                        
                                                                            
                                    </th>
                                    <th>
                                        Lat/Long                                                                        
                                                                            
                                    </th>
                                    <th>
                                        Buscar
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for referencia in referencias %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('referencia_show',{'id':referencia.id}) }}">
                                                {{ referencia.nombre }}
                                            </td>
                                            <td>
                                                {{ referencia.tipoReferencia.nombre }}
                                            </td>
                                            <td>
                                                {{ referencia.latitud|number_format(5) }}
                                                / 
                                                                                            
                                                {{ referencia.longitud|number_format(5) }}
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-default" onclick="getPosicion('{{ referencia.latitud }}','{{ referencia.longitud }}')">
                                                    <i i class="fa fa-map-marker"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>

                </section>
            </div>

        </div>
    {% endblock %}
    {% block js %}
        {{ parent() }}
        {{ mapa.renderJs()|raw }}
        <script type="text/javascript">
        {% include "apmon/Mapa/auxiliares.script.js" %} 
        {% include "apmon/Mapa/gmaps-lib.script.js" %}
   
        function getPosicion(lat, long){
			{{ mapa.fcStopDraw() }}();
			gotoCenter(lat, long, true);
            {{ mapa.fcIniDraw() }}();
        }
    </script>

    {% endblock %}
    