{% extends "app/Template/list.html.twig" %}

{% block titulo %}Referencias{% endblock %}        
{% block contentpanel %}  
    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Grupo</th>
                    <th>Categoria</th>
                    <th>Tipo de Referencia</th>
                    <th>V. Max</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for referencia in referencias %}
                    <tr>
                        <td>
                            {% if referencia.pathIcono %}
                                <img style="width: 20px; height: 20px;" id="mostrar-icono" class="logo-small" src="{{referencia.pathIcono}}" />
                            {% endif %}
                        </td>
                        <td><a href="{{ path('referencia_show', {'id': referencia.id}) }}">{{ referencia.nombre }}</a></td>
                        <td>
                        {% if referencia.grupos %}
                            {% for grupo in referencia.grupos %}
                                [<i>{{grupo.nombre}}</i>]
                            {% endfor %}
                        {% else %}
                        <em>No pertenece a ningun grupo.</em>
                        {% endif %}
                        </td>
                        <td>{{ referencia.categoria ? referencia.categoria.nombre : ''}}</td>
                        <td>{{ referencia.tipoReferencia ? referencia.tipoReferencia.nombre : '' }}</td>
                        <td>{{ referencia.velocidadMaxima ? referencia.velocidadMaxima : '' }}</td>                           
                        <td>                            
                            {% if referencia.propietario == userorg and is_granted('ROLE_REFERENCIA_EDITAR') %}
                                <a href="{{ path('referencia_edit', {'id': referencia.id} ) }}">Editar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
         </table>
    </div>
{% endblock %}

