<!-- Modal -->
<div id="modalIcono" class="modal fade bd-example-modal-lg" role="dialog" aria-labelledby="modalIconoLabel" aria-hidden="true" style="display: none;overflow-y: scroll;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="col-md-12">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Punto de interés</h4>
				</div>
				<div class="modal-body">
					<div class="row-fluid">
						<div class="alert alert-info">
							<strong>El ícono que selecciones</strong>, será el que poseerá la referencia.
						</div>

						<table>
							<tbody>
								{% for icono in iconos %}
									{% if (loop.index%12) == 0%}
										<tr>
										{% endif %}
										<td>
											<a href="#" data-dismiss="modal"><img class="logo-small" src="{{ asset(icono)}}"/></a>
										</td>
										{% if (loop.index%12) == 11%}
										</tr>
									{% endif %}
								{% endfor %}

							</tbody>
						</table>


					</div>
				</div>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>
 	
    <script type='text/javascript'>
       
            jQuery(document).ready(function () {
                jQuery('.logo-small').click(function (event) {

                    path = jQuery(event.target).attr('src');
                    document.getElementById('mostrar-icono').src = path;
                    document.getElementById('referencia_pathIcono').value = path;
                    document.getElementById('#modalIcono').modal('hide');
                 
                    return false;
                });


            })

    </script>