{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "app/Referencia/delete_form.html.twig" %} 
{% endblock %} 


{% block titulo %}
    {{ referencia.nombre }}
{% endblock %}

{% block contentpanel %}
    {{ mapa.renderJs()|raw }}
    <div class="row-fluid row-show">
        <div class="span6">
            <h3>Datos de Referencia</h3>
            <img id="mostrar-icono" class="logo-small" src="{{ referencia.pathIcono }}" />
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': referencia.nombre } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Descripción', 'data': referencia.descripcion ?  referencia.descripcion : '---'} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Ciudad', 'data': referencia.ciudad  ? referencia.ciudad : '---' } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Provincia', 'data': referencia.provincia  ? referencia.provincia.nombre : '---' } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Dirección', 'data': referencia.direccion } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Latitud', 'data': referencia.latitud|number_format(8) } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Longitud', 'data': referencia.longitud|number_format(8) } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Registrar Entrada', 'data': referencia.entrada == 1 ? 'SI' : 'NO' } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Registrar Salida', 'data': referencia.salida == 1 ? 'SI' : 'NO' } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Angulo de Detección', 'data': referencia.anguloDeteccion } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Categoria', 'data': referencia.categoria ? referencia.categoria.nombre : '' } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Tipo de Referencia', 'data': referencia.tipoReferencia ? referencia.tipoReferencia.nombre : '' } %} 
            
            {% if referencia.tipoReferencia and referencia.tipoReferencia.id == 4 and referencia.puntoCarga != null %}
                {% for pto in referencia.puntoCarga  %}
                   {% include "app/Template/show_row.html.twig" with {'label': 'Punto de Carga', 'data': pto ? pto.nombre : '---' } %} 
                {% endfor %}
                
            {% endif %}
            
            {% include "app/Template/show_row.html.twig" with {'label': 'Estado', 'data': referencia.status ? referencia.strStatus: 'No checkeada' } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Identificador', 'data': referencia.codigoExterno ? referencia.codigoExterno : '' } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Mostrar en mapa', 'data': referencia.visibilidad == 1 ? 'SI' : 'NO' } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Veloc. Máxima', 'data': referencia.velocidadMaxima|number_format(0) ~ ' kms/h' } %} 
            {% if referencia.area != 0 and referencia.area is defined %}
                {% set areaHa = referencia.area / 10000 %}
                {% include "app/Template/show_row.html.twig" with {'label': 'Área', 'data': referencia.area|number_format(2) ~ ' m2 (' ~ areaHa|number_format(3) ~ ' ha)' } %} 
            {% endif %}    
            
            <div class="row-fluid row-show">
                <div class="span4 column-label">Grupos</div>
                <div class="column-show">
                    {% for grupo in referencia.grupos %}
                        [<i>{{grupo.nombre}}</i>]
                    {% else %}
                        <em>No pertenece a ningun grupo.</em>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="span6">
            <h3>Ubicación</h3>
            <div style="width: 100%">
                {{ mapa.renderHtml()|raw }}
            </div>
        </div>

    </div>
    {# REFERENCIAS EN ORGANIZACIONES #}
    {% if referencia.grupos and app.user.organizacion.tipoOrganizacion == 1 %}
        <div class="row-fluid row-show">
            <h3>Organizaciones donde se encuentra compartida la referencia.</h3>
            <table class="table table-condensed" >
                <thead>
                    <tr>
                        <th>Organizacion</th>
                        <th>Tipo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for org in referencia.organizaciones %}
                        <tr>
                            <td>{{ org.nombre }}</td>
                            <td>{{ org.getStrTipoOrganizacion }}</td>
                            <td>
                                    {% if is_granted('ROLE_REFERENCIA_SHARE') %}     
                                        <a href="{{ path('referencia_remover', {'idref': referencia.id, 'idorg': org.id} ) }}" title="Sacar de la organización">
                                            <img src="{{ asset('images/remove.png') }}"></a>
                                        {% endif %}
                                {% if referencia.propietario == app.user.organizacion %}     
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>        
    {% endif %}        

    {# PRECIO DE PORTALES #}
    {% if precios|length > 0 %}
        <div class="row-fluid row-show">
            <h3>Precios de Portales y Peajes.</h3>
            <table class="table table-condensed" >
                <thead>
                    <tr>
                        <th>Tipo Portal</th>
                        <th>Tipo Vehiculo</th>

                        <th>D</th>
                        <th>L</th>
                        <th>M</th>
                        <th>X</th>
                        <th>J</th>
                        <th>V</th>
                        <th>S</th>

                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pcio in precios %}
                        <tr>
                            <td>{{ pcio.getStrTipoPortal }}</td>
                            <td>{{ pcio.tipoVehiculo }}</td>

                            <td>{{ 'domingo' in pcio.getArrayDiasSemana() ? 'D' : ''}}</td>
                            <td>{{ 'lunes' in pcio.getArrayDiasSemana ? 'L' : ''}}</td>
                            <td>{{ 'martes' in pcio.getArrayDiasSemana ? 'M' : ''}}</td>
                            <td>{{ 'miercoles' in pcio.getArrayDiasSemana ? 'X' : ''}}</td>
                            <td>{{ 'jueves' in pcio.getArrayDiasSemana ? 'J' : ''}}</td>
                            <td>{{ 'viernes' in pcio.getArrayDiasSemana ? 'V' : ''}}</td>
                            <td>{{ 'sabado' in pcio.getArrayDiasSemana ? 'S' : ''}}</td>

                            <td>{{ pcio.desde|date('H:i:s') }}</td>
                            <td>{{ pcio.hasta|date('H:i:s') }}</td>
                            <td style="text-align: right">{{ pcio.precio|default(0)|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>    
    {% endif %}  
{% endblock %}
