{% extends "app/Template/form.html.twig" %}

{% block titulo %}{{funcion|capitalize}} referencias por lote{% endblock %}
{% block subtitulo %}{% endblock %}

{% block formulario %}
<p>Seleccione la Organizacion para la cual desea "{{funcion|lower}}" las referencias seleccionadas.</p>

<form class="form-horizontal" action="{{ path('referencia_batch', {'checks': checks, 'accion': funcion|lower}) }}" method="POST" >
<div class="row-fluid">
    <div class="span5">
        <h4>Listado de Organizaciones</h4>
        <fieldset>
            <div class="control-group ">
                <div class="control-label"><label for="new_organizacion" class=" required">Organización Destino</label></div>
                <div class="controls">
                    <select id="new_organizacion" name="new_organizacion" required="required" class="">
                        {% for org in organizaciones %}
                            {% if org != organizacion %}
                                <option value="{{ org.id }}">
                                    {% if org.organizacionPadre %}
                                    {{ org.organizacionPadre.nombre }}/
                                    {% endif %}
                                {{ org.nombre }}
                                {{ org.tipoOrganizacion == 1 ? '(Dist)' : '(Cliente)' }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <span class="help-block"></span>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="span5">
        <h4>Referencias Seleccionadas</h4>
        <ul>
        {% for referencia in referencias %}
                <li>{{ referencia.nombre }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ funcion|capitalize }}" />
        <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
    </div>
</form>

{% endblock %}