{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ permiso.codename }}{% endblock %}
{% block formulario %}

    <form class="form-horizontal"  method="POST" >
        <fieldset>
            <div>
                {{ form_errors(form) }} 
            </div>
            <div class="row-fluid">
                <div class="span8">
                    {{ form_widget(form.usable) }}
                    {{ form_widget(form.codename) }}
                    {{ form_widget(form.descripcion) }}
                    {{ form_widget(form.restringido) }}
                    {{ form_rest(form) }}
                </div>
                <div class="span4">    
                </div>
            </div>
        </fieldset>

        {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Agregar' } %}
    </form>
{% endblock %}