{% extends "app/Template_aker/popup.html.twig" %}

{% block modalId %}modalDelete{% endblock %}

{% block modalTitulo %}Eliminar Logistica{% endblock %}

{% block modalUrl %}{{ path('logistica_delete', { 'id': logistica.id }) }}{% endblock %}

{% block modalBody %}
    <p>Esta seguro de eliminar esta logistica: <strong>{{ logistica.nombre|upper }}</strong> ?</p>
    {{ form_widget(delete_form) }}
{% endblock %}

{% block modalOk %}
    <button class="btn btn-danger" type="submit">Eliminar</button>
{% endblock %}

