{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	{{ logistica.organizacion }}
{% endblock %}
{% block formulario %}
<form class="form-horizontal" method="POST">
	{% embed "app/Template_aker/panel_form.html.twig" %}
		{% block titulo %}Datos de la logística
		{% endblock %}
		{% block cuerpo %}
			<fieldset>
				<div class="row-fluid">
					<div>{{ form_errors(form) }}</div>
					<div class="col-md-8">
						{{ form_widget(form.nombre) }}

					</div>
					<div class="col-md-4">
						<section class="panel panel-info">

							<div class="panel-body">
								<h4>Información</h4>
								<p>Complete el nombre de la logística.</p>
							</div>
						</section>
					</div>
					{{ form_widget(form._token) }}

				</fieldset>
			{% endblock %}
			{% block botones %}
				<input type="submit" class="btn btn-primary" id="crear" value="Modificar"/>
				<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
			{% endblock %}
		{% endembed %}
	</form>

{% endblock %}
