{% extends "app/Template_aker/list.html.twig" %}

{% block titulo %}Logisticas
{% endblock %}
{% block contentpanel %}
	<div class="panel">
		<div class="panel-body">
			<table class="table table-condensed" id="tablaLogistica">
				<thead>
					<tr>
						<th>Logistica</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for logistica in logisticas %}
						<tr>
							<td>
								<a href="{{ path('logistica_show', {'id': logistica.id}) }}">{{ logistica.nombre }}</a>
							</td>
							<td>
								{# {% if is_granted('ROLE_EMPRESA_EDITAR') %}
									<a href="{{ path('empresa_edit', {'id': empresa.id} ) }}" class="btn btn-small"><i class="fa fa-edit"></i></a>
								{% endif %} #}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
	 $(document).ready(function () {
            datatable();
	});
       function datatable() {
            var tabla = $('#tablaLogistica').dataTable({
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                }
            });
        }
               
    </script>
{% endblock %}