{% extends "app/Template_aker/show.html.twig" %}
{% form_theme formContacto 'app/Form/calypso_fields.html.twig' %}
{% form_theme formServicioNew 'app/Form/calypso_fields.html.twig' %}
{% form_theme formUsuarioNew 'app/Form/calypso_fields.html.twig' %}

{% block formdelete %}
	{% include "monitor/Logistica/delete_form.html.twig" %}
{% endblock %}

{% block titulo %}
	{{ logistica.nombre }}
{% endblock %}

{% block informacion %}{% endblock %}

{% block contentpanel %}
	{% include "monitor/Contacto/popup_contacto.html.twig" %}
	{% include "monitor/Contacto/popup_contacto_edit.html.twig" %}
	{% include "monitor/Contacto/popup_contacto_delete.html.twig" %}

	{% include "monitor/Servicio/popup_servicio.html.twig" %}
	{% include "monitor/Servicio/popup_servicio_new.html.twig" %}

	{% include "monitor/Servicio/popup_servicio_delete.html.twig" %}

	{% include "monitor/Usuario/popup_usuario_new.html.twig" %}
	{% include "monitor/Usuario/popup_usuario_edit.html.twig" %}
	{% include "monitor/Usuario/popup_usuario_delete.html.twig" %}
	{% include "app/Template_aker/popup_load.html.twig" %}

	{% embed "app/Template_aker/panel_tabs.html.twig" %}
		{% block cuerpo %}
			{% set logis = logistica %}
			<div class="row">
				<div class="col-md-12">
					<div class="tabs tabs-default">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#usuarios" data-toggle="tab">
									<i class="fa fa-user"></i>
									Usuarios</a>
							</li>
							<li>
								<a href="#contactos" data-toggle="tab">
									<i class="fa fa-address-card-o"></i>
									Contactos</a>
							</li>
							<li>
								<a href="#itinerarios" data-toggle="tab">
									<i class="fa fa-truck"></i>
									Itinerarios</a>
							</li>
							<li>
								<a href="#servicios" data-toggle="tab">
									<i class="fa fa-car"></i>
									Servicios</a>
							</li>

						</ul>
						<div class="tab-content">
							<div id="usuarios" class="tab-pane active">
								<div id="tableUsuarios">
									{% include "monitor/Usuario/usuarios.html.twig" with {'usuarios': logistica.usuarios } %}
								</div>
							</div>
							<div id="contactos" class="tab-pane">
								<div id="tableContactos">
									{% include "monitor/Contacto/contactos.html.twig" with {'contactos': logistica.contactos } %}
								</div>
							</div>
							<div id="itinerarios" class="tab-pane">
								<div id="tableItinerario">
									{% include "monitor/Itinerario/itinerarios.html.twig" with {'itinerarios': logistica.itinerarios } %}
								</div>
							</div>
							<div id="servicios" class="tab-pane">
								<div id="tableServicios">
									{% include "monitor/Servicio/servicios.html.twig" with {'servicios': logistica.servicios } %}
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}
{% block js %}
	{{ parent() }}
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<script type="text/javascript">{% include "monitor/Servicio/datamap.js" %}{% include "monitor/Logistica/show.js" %}
	</script>

{% endblock %}
