<!-- Modal -->
<div class="modal fade" id="modalLicenciaNew" role="dialog" aria-labelledby="modalActividadNewLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="col-md-12" style="text-align: center;">
                    <h4 class="modal-title" id="myModalLabel">Agregar Licencia</h4>
                    <h5 class="modal-title" id="nombreChofer"></h5>
                </div>
            </div>
            <div class="modal-body">
                <div id="modal-body-actividad" style="text-align: center;">
                    <form id="formLicencia">
                     {{ form_widget(formLicenciaNew.numero) }}
                     {{ form_widget(formLicenciaNew.categoria) }}
                     {{ form_widget(formLicenciaNew.expedicion) }}
                     {{ form_widget(formLicenciaNew.vencimiento) }}
                     {{ form_widget(formLicenciaNew.aviso) }}
                   
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                {#<a  data-toggle="modal" href="#modalProducto2" class="btn btn-success pull-left" title="Agrega un producto al deposito">Nuevo producto</a>#}
                <button id="btnLicenciaNew" type="button" class="btn btn-primary" >Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>     


