<div class="col-md-2">
	<section class="panel panel-featured-left panel-featured-success">
		<div class="panel-body">
			<div class="widget-summary widget-summary-sm">
				<div class="widget-summary-col widget-summary-col-icon">
					<div class="summary-icon bg-success">
						<i class="fa fa-check"></i>
					</div>
				</div>
				<div class="widget-summary-col">
					<div class="summary">
						<h4 class="title">Reportando</h4>
						<div class="info">
							<strong class="amount">{{ contador['reportando']|default('---') }}</strong>

						</div>
					</div>
					<div class="summary-footer"></div>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="col-md-2">
	<section class="panel panel-featured-left panel-featured-warning">
		<div class="panel-body">
			<div class="widget-summary widget-summary-sm">
				<div class="widget-summary-col widget-summary-col-icon">
					<div class="summary-icon bg-warning">
						<i class="fa fa-warning"></i>
					</div>
				</div>
				<div class="widget-summary-col">
					<div class="summary">
						<h4 class="title">Retrasados</h4>
						<div class="info">
							<strong class="amount">{{ contador['retrasado']|default('---') }}</strong>

						</div>
					</div>
					<div class="summary-footer"></div>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="col-md-2">
	<section class="panel panel-featured-left panel-featured-danger">
		<div class="panel-body">
			<div class="widget-summary widget-summary-sm">
				<div class="widget-summary-col widget-summary-col-icon">
					<div class="summary-icon bg-danger">
						<i class="fa fa-times"></i>
					</div>
				</div>
				<div class="widget-summary-col">
					<div class="summary">
						<h4 class="title">Sin Reportar</h4>
						<div class="info">
							<strong class="amount">{{ contador['sin_reportar']|default('---') }}</strong>

						</div>
					</div>
					<div class="summary-footer"></div>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="col-md-2">
	<section class="panel panel-featured-left panel-featured-default">
		<div class="panel-body">
			<div class="widget-summary widget-summary-sm">
				<div class="widget-summary-col widget-summary-col-icon">
					<div class="summary-icon bg-default">
						<i class="fa fa-ban"></i>
					</div>
				</div>
				<div class="widget-summary-col">
					<div class="summary">
						<h4 class="title">Nunca</h4>
						<div class="info">
							<strong class="amount">{{ contador['nunca']|default('---') }}</strong>

						</div>
					</div>
					<div class="summary-footer"></div>
				</div>
			</div>
		</div>
	</section>
</div>
