<table class="table table-condensed" id="tablaServicio">
	<thead>
		<tr>
			<th class="col-md-3">Nombre</th>
			<th class="col-md-1">Último Reporte</th>
			<th class="col-md-1">Transporte</th>
			<th class="col-md-1">Satelital</th>
			<th class="col-md-2">Estado</th>
			<th class="col-md-3">Dirección</th>
			<th class="col-md-1">Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% for servicio in custodios %}
			{% if servicio.isCustodio %}
				<tr>
					<td>{{ servicio.nombre}}</td>
					<td>{{ servicio.ultFechaHora ? servicio.ultFechaHora|date('d-m-Y H:i:s', app.user.timeZone) : '---' }}</td>
					<td>{{ servicio.transporte ? servicio.transporte.nombre : '---'}}</td>
					<td>{{ servicio.satelital ? servicio.satelital.nombre : '---'}}</td>
					<td id="sentido_{{servicio.id}}">---</td>
					<td id="direccion_{{servicio.id}}">---</td>
					<td>
						<a href="#" onclick="deleteServicio('{{servicio.id}}')" class="btn btn-sm" role="button" title="Quitar" data-original-title="Quitar">
							<i class="fa fa-trash"></i>
						</a>
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>

<script type="text/javascript">{% include "monitor/Servicio/servicios.js" %}</script>
