<div style="margin-top: -20px;">
	<div id="collapse{{arr.servicio.id}}" class="accordion-body collapse">
		<div class="panel-body" style="padding-left: 10px; background-color: #F7FAFF;">
			<div style="padding: 10px;">
				<div class="row">
					<div class="col-md-6">
						<b>Satelital</b>
						<p>{{arr.servicio.satelital ? arr.servicio.satelital.nombre : '---'}}</p>
					</div>
					<div class="col-md-6">
						<b>Transportista</b>
						<p>{{arr.servicio.transporte ? arr.servicio.transporte.nombre : '---'}}</p>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12">
						<b>Itinerarios</b>
						<p>
							{% for itinerario in arr.servicio.itinerarios %}
								<a href="{{ path('itinerario_show',{'id': itinerario.id}) }}">{{ itinerario.codigo}}</a>,
							{% endfor %}
						</p>
					</div>
				</div>


				<div class="row">
					<div title="última posición" style="float:left;" id="sentido_{{arr.servicio.id}}"></div>
					<div id="direccion_{{arr.servicio.id}}" class="text-muted"></div>
					<a title="último reporte" style="float:right;" class="text-muted text-uppercase">{{arr.servicio.ultFechaHora|date('d/m/Y H:i')}}</a>
				</div>
			</div>
		</div>
	</div>
</div>
