<div class="modal fade" id="modalEstadoServicio" role="dialog" aria-labelledby="modalEstadoLabel" data-modal-index="-100">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">

				<h4 class="modal-title" id="myModalLabel">Modificar estado de servicio</h4>
			</div>
			<div class="modal-body" style="height: 200px;">
				<div id="modal-body-producto">
					<div class="alert alert-info">
						<p>El servicio cambiará de estado, seleccione un nuevo estado:</p>
						<p>
							<strong id="estado_itinerario_nombre"></strong>
						</p>
					</div>
					<form method="POST" id="formEstadoServicio" class="form-horizontal">
						<div class="row-fluid">
							<div class="col-md-12">
								<div class="control-group ">
									<label class="control-label" for="estado_servicio">
										Estado
									</label>
									<div class="controls">
										<select class="form-control" id="estado_servicio" name="estado_servicio">
										{% for key,value in itiserv.arrayStrEstado %}
											<option value="{{ value }}">{{key}}</option>
											{% endfor %}
										</select>
									</div>

								</div>
							</div>
					
						

						</div>
					</form>

					<br><br>
				</div>
			</div>
			<div class="modal-footer">
				<button id="btnEstadoServicioModificar" type="button" class="btn btn-primary">Modificar</button>
				<button id="btnCancelar" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
