<!-- Modal -->
<div class="modal fade" id="modalServicioEdit" role="dialog" aria-labelledby="modalEventoLabel" data-modal-index="-100">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">

				<h4 class="modal-title" id="myModalLabel">Modificar Datos del servicio</h4>
			</div>
			<div class="modal-body">
				<div id="modal-body-producto">
					<form id="formServicioEdit" class="form-horizontal" method="POST">
						<div class="control-group ">
							<label class="control-label" for="nro_contenedor">Nro. de Contenedor</label>
							<div class="controls">
								<input type="text" class="form-control" id="formServicioEdit_nro_contenedor" name="formServicioEdit[nro_contenedor]">
							</div>
						</div>
						<div class="control-group ">
							<label class="control-label" for="nro_bill">Nro. de Bill</label>
							<div class="controls">
								<input type="text" class="form-control" id="formServicioEdit_bill" name="formServicioEdit[bill]">
							</div>
						</div>
						<div class="control-group ">
							<label class="control-label" for="patente_acoplado">Patente de Acoplado</label>
							<div class="controls">
								<input type="text" class="form-control" id="formServicioEdit_patente_acoplado" name="formServicioEdit[patente_acoplado]">
							</div>
						</div>
						<div class="control-group ">
							<label class="control-label" for="nro_contenedor">Chofer</label>
							<div class="controls">
								<select id="chofer_0" name="formServicioEdit[chofer_0]"></select>
							</div>
						</div>

					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button id="btnServicioEdit" type="button" class="btn btn-primary">Modificar</button>
				<button id="btnCancelar" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
