<div class="modal fade" id="modalNewServicio" role="dialog" aria-labelledby="modalProductoLabel" data-modal-index="2000" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Alta de Servicio</h4>
            </div>            
            <div class="modal-body">
                <form id="formServicioNew" class="form-horizontal" method="POST">
                    {{ form_widget(formServicioNew.nombre) }}
                    {{ form_widget(formServicioNew.tipoObjeto) }}
                    {{ form_widget(formServicioNew.tipoServicio) }}
                    {{ form_widget(formServicioNew.dato_fiscal) }}  
                    <div class="control-group "><label class="control-label" for="servicio_color">
                            Color
                        </label><div class="controls">
                            <input type='text' id="cr_colorSelector"  name="servicio[color]"/>
                        </div>    

                    </div>
                    {{ form_widget(formServicioNew.fecha_alta) }} 
                    {{ formServicioNew.cortemotor is defined ? form_widget(formServicioNew.cortemotor) : '' }}  
                    {{ formServicioNew.botonpanico is defined ? form_widget(formServicioNew.botonpanico) : '' }}  
                    {{ formServicioNew.medidorcombustible is defined ? form_widget(formServicioNew.medidorcombustible) : '' }}  
                    {{ formServicioNew.entradasdigitales is defined ? form_widget(formServicioNew.entradasdigitales) : '' }}  
                    {{ formServicioNew.cortecerrojo is defined ? form_widget(formServicioNew.cortecerrojo) : '' }}  
                    {{ formServicioNew.canbus is defined ? form_widget(formServicioNew.canbus) : '' }}  
                    {{ formServicioNew.horometro is defined ? form_widget(foformServicioNewrm.horometro) : '' }}  
                    {{ formServicioNew.tipoMedidorCombustible is defined ? form_widget(formServicioNew.tipoMedidorCombustible) : '' }}  
                    {% if moduloMonitor %}
                        {{ form_widget(formServicioNew.satelital) }}  
                        {{ formServicioNew.iscustodio is defined ? form_widget(formServicioNew.iscustodio) : '' }} 
                    {% endif %}
                    {{ form_widget(formServicioNew._token) }}
                </form>                        
            </div>
            <div class="modal-footer">
                <button id="btnServicioNew" type="button" class="btn btn-primary" >Agregar</button>
                <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            </div>
        </div>
    </div>
</div>       
 	<link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" /> 
    <link rel="stylesheet" href="{{ asset('plugins/spectrum/spectrum.css') }}" type="text/css" media="all" />                     

    <script src="{{ asset('plugins/spectrum/spectrum.js') }}" /></script>    
    <script>
	    $(function () {
         $("#servicio_fecha_alta").datetimepicker({
                    format: 'DD/MM/YYYY',
                    locale: 'es',
					  widgetPositioning:{
        				horizontal: 'auto',
        				vertical: 'bottom'
   					 }			
            });
    	});
        //esto es para seleccionar el color

        $("#cr_colorSelector").spectrum({
            showPaletteOnly: true,
            showPalette: true,
            hideAfterPaletteSelect: true,
            color: '#FFFFFF',
            palette: [
                ["#000", "#444", "#666", "#999", "#ccc", "#eee", "#f3f3f3", "#fff"],
                ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
            ]
        });
    </script>