<!-- Modal -->
<div id="modalDeleteServicio" class="modal fade"  role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Servicio</h4>
            </div>
            <div class="modal-body">
                <p>Está seguro de quitar el servicio? </p>
                
            </div>
            <div class="modal-footer">
                {#<a data-toggle="modal" href="#modalServicio2" class="btn btn-success pull-left" title="Agrega un mecanico al deposito">Nuevo mecánico</a>#}
                <button id="btnEliminarServicio" type="button" class="btn btn-primary" >Quitar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>  


