<!-- Modal -->
<div class="modal fade" id="modalServicio" role="dialog" aria-labelledby="modalContactoLabel" data-modal-index="-100">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			
				<h4 class="modal-title" id="myModalLabel">Servicios</h4>
			</div>
			<div class="modal-body">
				<div id="modal-body-producto">
				<div class="alert alert-info">
						<strong>Los servicios que selecciones</strong>, serán los vehículos a los que después podrás dar seguimiento en los itinerarios.
					</div>
					<form id="formServicio" class="form-horizontal">
						<div class="row-fluid">
							{{ form_widget(formServicio.servicio) }}

						</div>
						
					</form>

				</div>
			</div>
			<div class="modal-footer">
				 <a  data-toggle="modal" href="#modalNewServicio" class="btn btn-success pull-left" >Nuevo Servicio</a>
				<button id="btnServicioAdd" type="button" class="btn btn-primary">Agregar</button>
				<button id="btnCancelar" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>

