<table class="table table-condensed" id="tablaServicio">
	<thead>
		<tr>
			<th class="col-md-1">Nombre</th>
			<th class="col-md-1">Chofer</th>
			<th class="col-md-1">Acoplado</th>
			<th class="col-md-1">Nro. Contenedor</th>
			<th class="col-md-1">Bill</th>
			<th class="col-md-1">Estado</th>
			<th class="col-md-1">Último Reporte</th>
			<th class="col-md-1">Transporte</th>
			<th class="col-md-1">Satelital</th>
			<th class="col-md-1">Sentido</th>
			<th class="col-md-1">Dirección</th>
			<th class="col-md-1">Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% for servicio in servicios %}
			<tr>
				<td>{{ servicio.nombre}}</td>
				{% if itinerario is defined %}
					{% for servIt in servicio.itinerarios %}
						{% if servIt.itinerario.id == itinerario.id %}
							<td>{{ servIt.chofer ? servIt.chofer.nombre : '---'}}</td>
							<td>{{ servIt.patenteAcoplado ? servIt.patenteAcoplado : '---'}}</td>
							<td>{{ servIt.nroContenedor ? servIt.nroContenedor : '---'}}</td>
							<td>{{ servIt.bill ? servIt.bill : '---'}}</td>
							<td>
								<p class="text-secondary mb-1">{% include "monitor/Itinerario/show_estado.html.twig" with {'itinerario': servIt} %}</p>
							</td>
						{% endif %}
					{% endfor %}
				{% else %}
					<td>---</td>
					<td>---</td>
					<td>---</td>
					<td>---</td>
					<td>---</td>
				{% endif %}
				<td>{{ servicio.ultFechaHora ? servicio.ultFechaHora|date('d-m-Y H:i:s', app.user.timeZone) : '---' }}</td>
				<td>{{ servicio.transporte ? servicio.transporte.nombre : '---'}}</td>
				<td>{{ servicio.satelital ? servicio.satelital.nombre : '---'}}</td>
				<td id="sentido_{{servicio.id}}">---</td>
				<td id="direccion_{{servicio.id}}">---</td>
				<td>
					{% if itinerario is defined %}
						{% for servIt in servicio.itinerarios %}
							{% if servIt.itinerario.id == itinerario.id %}
								{% if servIt.servicio.isCustodio == false %}
									<a href="#" onclick="editServicio('{{servicio.id}}',
										'{{ servIt.nroContenedor ? servIt.nroContenedor : ''}}',
										'{{ servIt.bill ? servIt.bill : ''}}',
										'{{ servIt.patenteAcoplado ? servIt.patenteAcoplado : ''}}',
										'{{ servIt.chofer ? servIt.chofer.id : 0 }}'
										)" class="btn btn-sm btn-default" role="button" title="Modificar" data-original-title="Modificar">
										<i class="fa fa-edit"></i>
									</a>
								{% endif %}
							{% endif %}
						{% endfor %}
						<a href="#" onclick="deleteServicio('{{ servicio.id }}')" class="btn btn-sm btn-default" role="button" title="Quitar" data-original-title="Quitar">
							<i class="fa fa-trash"></i>
						</a>
						<a href="#" class="btn btn-sm btn-default" title="modificar estado" onclick="changeEstadoServicio('{{servicio.id}}', '{{itinerario.id}}')">
							<i class="fa fa-exchange"></i>
							<input type="hidden" id="btn_change_estado_badge_{{servicio.id}}" value="btn-{{itinerario.badge[itinerario.estado]}}"/>
						</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<script type="text/javascript">{% include "monitor/Servicio/servicios.js" with {'arrIds': arrIds} %}</script>
