{% extends "app/Template_aker/list.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block css %}
	{{ parent() }}
	<link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block titulo %}Estado de Servicios
{% endblock %}

{% block informacion %}
{% include "app/Template_aker/popup_load.html.twig" %}
	<div class="alert alert-info" role="alert">
		<form method="POST" id="formHistServicio" class="form-horizontal">
			<div class="row">
				<div class="col-md-2">{{ form_widget(form.estado) }}</div>
				{% if form.servicio is defined %}
					<div class="col-md-4">{{ form_widget(form.servicio) }}</div>
				{% endif %}
				{% if form.tipoServicio is defined %}
					<div class="col-md-2">{{ form_widget(form.tipoServicio) }}</div>
				{% endif %}
				{% if form.transporte is defined %}
					<div class="col-md-2">{{ form_widget(form.transporte) }}</div>
				{% endif %}
				{% if form.satelital is defined %}
					<div class="col-md-2">{{ form_widget(form.satelital) }}</div>
				{% endif %}
			</div>
			<div class="row">
				{% if form.empresa is defined %}
					<div class="col-md-2">{{ form_widget(form.empresa) }}</div>
				{% endif %}
				{% if form.itinerario is defined %}
					<div class="col-md-4">
						{{ form_widget(form.itinerario) }}</div>
				{% endif %}
				{% if form.codigo is defined %}
					<div class="col-md-2">
						{{ form_widget(form.codigo) }}</div>
				{% endif %}
				<div class="col-md-2">
					<div class="control-group ">
						<label class="control-label"></label>
						<div class="controls ">
							<button type="button" class="btn btn-default" id="consultar">Filtrar</button>
							<button type="button" class="btn btn-default" id="actualizar" title="Actualizar...">
								<i class="fa fa-refresh"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
{% block contentpanel %}
	<div class="panel">
		<div id="tablaServicios">
			<div class="col-md-12">
				<div class="tabs tabs-default">
					<ul class="nav nav-tabs">
						<li class="active" id="li_reportando">
							<a href="#reportando" data-toggle="tab">
								Transmitiendo &nbsp;
								<span class="pull-right label label-success">
									<div id="count_reportando">{{reportando|length}}</div>
								</span>
							</a>
						</li>
						<li id="li_retrasado">
							<a href="#retrasados" data-toggle="tab">
								Demorados &nbsp;
								<span class="pull-right label label-warning">
									<div id="count_retrasado">{{retrasados|length}}</div>
								</span>
							</a>
						</li>
						<li id="li_sin_reportar">
							<a href="#sin_reportar" data-toggle="tab">
								Sin transmitir &nbsp;
								<span class="pull-right label label-danger">
									<div id="count_sin_reportar">{{sin_reportar|length}}</div>
								</span>
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="reportando" class="tab-pane active">
							{% include "monitor/Servicio/servicios.html.twig" with {'servicios': reportando} %}

						</div>
						<div id="retrasados" class="tab-pane">
							{% include "monitor/Servicio/servicios.html.twig" with {'servicios': retrasados} %}


						</div>
						<div id="sin_reportar" class="tab-pane">
							{% include "monitor/Servicio/servicios.html.twig" with {'servicios': sin_reportar} %}

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}

{% block js %}
	{{ parent() }}
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js">
		</script>
		<script type="text/javascript">
			{% include "monitor/Servicio/datamap.js" %}
			{% include "monitor/Servicio/status.js" %}
		</script>
{% endblock %}
