{# <div title="reportando" class="label label-success"><i class="fa fa-check"></i>  {{ contador['reportando']|default('---') }}</div>
<div title="retrasados" class="label label-warning"><i class="fa fa-warning"></i>  {{ contador['retrasado']|default('---') }}</div>
<div title="sin reportar" class="label label-danger"><i class="fa fa-times"></i>  {{ contador['sin_reportar']|default('---') }}</div>
<div title="snunca reportaron" class="label label-default"><i class="fa fa-ban"></i>  {{ contador['nunca']|default('---') }}</div> #}
<div class="row">
    {% include "monitor/Servicio/contador.html.twig" with {'contador':contador} %}
</div>

<table id="tableServicios" class="table table-condensed table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Itinerario</th>
			<th>Empresa</th>
			<th>Transportista</th>
			<th>Satelital</th>
			<th>Ult Reporte</th>
			<th>Estado</th>
			<th>Dirección</th>
		</tr>
	</thead>
	<tbody>
		{% for arr in servicios %}
			<tr style="background-color: {{arr.color}}">
				<td>
					<a href="{{ path('servicio_show', {'id': arr.servicio.id, 'tab': 'registro'}) }}">{{ arr.servicio.nombre }}</a>
					{% if arr.servicio.iscustodio %}
						<div class="label label-info" title="CUSTODIO">C</div>
					{% endif %}
				</td>
				<td>
					{% for itinerario in arr.servicio.itinerarios %}
						{% if itinerario.estado < 9 %}
							<a href="{{ path('itinerario_show', {'id': itinerario.id}) }}">{{ itinerario.codigo }}</a>|
						{% endif %}
					{% endfor %}
				</td>

				<td>
					{% for itinerario in arr.servicio.itinerarios %}
						{% if itinerario.estado < 9 %}
							{{ itinerario.empresa is not null ? itinerario.empresa.nombre :'---' }}|
						{% endif %}
					{% endfor %}
				</td>
				<td>
					{{ arr.servicio.transporte is not null ? arr.servicio.transporte.nombre :'---' }}
					{#{% for itinerario in arr.servicio.itinerarios %}
																				                    {% endfor %}#}
				</td>
				<td style="width: 100px;">
					{{ arr.servicio.satelital is not null ? arr.servicio.satelital.nombre:'---' }}
				</td>
				<td style="width: 150px;">{{arr.servicio.ultFechaHora is not null ? arr.servicio.ultFechaHora|date('d/m/Y H:i', app.user.timeZone) : '---' }}</td>
				<td style="width: 100px;">
					<div id="sentido_{{arr.servicio.id}}">
						---
					</div>
				</td>
				<td style="width: 250px;">
					<div id="direccion_{{arr.servicio.id}}">
						---
					</div>
				</td>

			</tr>
		{% endfor %}
	</tbody>
</table>
