<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th></th>
                {% for value in encabezado %}                        
                <th colspan="4">{{value}}</th>
                {% endfor %}
            <th></th>
        </tr>
        <tr>
            <th>Vehículo</th>
                {% for value in encabezado %}
                <th>Leve</th>
                <th>Medio</th>
                <th>Alto</th>
                <th>I.R.</th>
                {% endfor %}
                {#<th>Aceleración</th>
                <th>Freno</th>
                <th>Giro</th>#}
            <th>Total K.m.</th>
            <th>Hs. Encendido</th>
            <th>Hs. Detenido</th>
            <th>I.R. Total</th>
        </tr>
    </thead>
    <tbody>
        {% for arr in informe %}
            <tr>
                <td>{{ arr.servicio }}</td>
                {% for i, data in encabezado %}
                    {% set value = arr.infracciones[i] %}
                    {% if value.leve is not null or value.medio is not null or value.alto is not null %}
                        <td>{{ value.leve }}</td>
                        <td>{{ value.medio }}</td>
                        <td>{{ value.alto }}</td>
                        <td style="color: {{ value.IR.color }}">{{ value.IR is not null ? value.IR.IR : 0 }}</td>
                    {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endif %}
                {% endfor %}
                {#<td>{{ arr.aceleracion }}</td>
                <td>{{ arr.freno }}</td>
                <td>{{ arr.giro }}</td>#}
                <td>{{ arr.totales.km_total }}</td>
                <td>{{ arr.totales.motor_encendido }}</td>
                <td>{{ arr.totales.motor_detenido }}</td>
                <td style="color:{{ arr.IRTOTAL.color }}">{{ arr.IRTOTAL.IRTOTAL }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>