{% for arr in informe %}
    <div class="row-fluid">
        {% for zona, data in arr.detalle %}
            <h4>Infracciones en {{ encabezado[zona] }}</h4>   {# en zona tengo referencias|calles, etc #}
            <table class="table table-bordered table-condensed">
                <thead>
                <th>Fecha</th>
                <th>Chofer</th>
                <th>Lugar</th>
                <th>Máxima</th>
                <th>Registrada</th>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr bgcolor="{{ colores[row.riesgo]}}">
                            <td>{{ row.fecha|date('d-m-Y H:i:s', app.user.timeZone) }}</td>
                            <td>{{ row.chofer|e }}</td>
                            <td>{{ row.lugar|e }}</td>
                            <td>{{ row.velocidad_maxima|number_format(0) }} km/h</td>
                            <td>{{ row.velocidad|number_format(0) }} km/h</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endfor %}