{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Responsabilidad Vial{% endblock %}
{% block titulo %}Responsabilidad Vial{% endblock %}

{% block informacion %}
    Para el servicio <b>{{consulta.servicionombre}}</b>, desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>, referencias:<b>{{consulta.referencianombre}}</b>.
    [ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
    <form name="formexport" action="{{ path('informe_responsabilidad_exportar', {'tipo': '0'}) }}" method="POST" >
        <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
        <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
        <input type="hidden" name="encabezado" value="{{ encabezado|json_encode() }}"/>
    </form>
{% endblock %}

{% block contentpanel %}

    {# ESTO ES ES EL RESUMEN DE LAS INFRACCIONES #}
    <div class="row-fluid">
        <h3>Resumen</h3>
        {% include "informe/Responsabilidad/cabecera.html.twig" %}
    </div>
{% endblock %}