{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{dato.dato }}{% endblock %}
{% block subtitulo %}Editar Información adicional{% endblock %}
{% block paneltitulo %}{% endblock %}

{%  block formulario  %}
    <form class="form-horizontal" action="{{ path('main_vehiculoextra_edit', {'id': dato.id} ) }}"  method="POST" >
        <fieldset>
            <div class="row-fluid">
                {{ form_errors(form)}}
                <div>{{ form_errors(form) }}</div>
                <div class="span7">
                    {{form_widget(form._token)}}
                    {{form_widget(form.tipoDatoExtra)}}
                    {{form_widget(form.dato)}}
                    {{form_widget(form.nota)}}
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Editar" />
                <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>
        </fieldset>
    </form>
{%  endblock  %}

