{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	{{ servicio.nombre }}
{% endblock %}


{% block js %}{% endblock %}

{% block formulario %}
{{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
{% embed "app/Template_aker/panel_form.html.twig" %}
	{% block titulo %}
		Agregar Dato Extra

	{% endblock %}
	{% block cuerpo %}
		<fieldset>
			<div class="row">
				<div>{{ form_errors(form) }}</div>
				<div class="col-md-6">
					<legend>Información Adicional</legend>
					{{form_widget(form._token)}}
					{{form_widget(form.tipoDatoExtra)}}
					{{form_widget(form.dato)}}
					{{form_widget(form.nota)}}
				</div>
				<div class="col-md-6"></div>
			</div>


		</div>

		{{ form_widget(form._token) }}

	</fieldset>
{% endblock %}
{% block botones %}
	<input type="submit" class="btn btn-primary" id="crear" value="Agregar"/>
	<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
{% endblock %}{% endembed %}{{ form_end(form) }}{% endblock %}
