{% for dato in servicio.vehiculo.datosExtra %}
	<div class="col-md-4">{{ dato.tipoDatoExtra }}</div>
	<div class="cold-md-8">

		<a href="{{path('main_vehiculoextra_show',{'id':dato.id})}}">{{ dato.dato }}</a>
		{% if dato.nota %}
			<small>
				<em>(
					{{ dato.nota }}
					)</em>
			</small>
		{% endif %}

		<a href="{{path('main_vehiculoextra_edit',{'id':dato.id})}}" class="btn btn-mini">Editar</a>

	</div>
{% endfor %}
