{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "app/VehiculoExtra/delete_form.html.twig" %} 
{% endblock %} 


{% block titulo %}Mis Datos Extras{% endblock %}    
{% block subtitulo %}{{ dato.vehiculo.patente }}{% endblock %}  


{% block contentpanel %}

    <div class="row-fluid row-show">
        <div class="span6">
            <h3>Datos de Dato Extra</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': dato.tipoDatoExtra } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Descripción', 'data': dato.dato|default('---')} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Nota', 'data': dato.nota|default('---')} %} 
            </div>
    </div>


{% endblock %}

