{% if form.datosExtra is defined %}
    <div>{{ form_errors(form.datosExtra) }}</div>
{% endif %}

<legend>Datos Extras de vehículo</legend>
<a href="#" id="add-another-dato">Agregar Dato Extra</a>
{#{{ form_errors(form.datosExtra) }}#}
<div class="row-fluid">
    <div class="span3">Tipo de Dato</div>
    <div class="span4">Descripción</div>
    <div class="span3">Nota</div>
</div>

{% if form.datosExtra is defined %}
    {% for dato in form.datosExtra %}
        <div class="row-fluid">
            <div class='span3'>{{ form_widget(dato.tipoDatoExtra, { 'attr': {'class': 'medium'} }) }}</div>
            <div class='span4'>{{ form_widget(dato.dato, { 'attr': {'class': 'medium'} }) }}</div>
            <div class='span4'>{{ form_widget(dato.nota, { 'attr': {'class': 'medium'} }) }}</div>
        </div>
    {% endfor %}
{% endif %}
<hr>

{% if form.datosExtra is defined %}
    <div id="dato-fields-div" 
         data-prototype="
         <div class='span3'>{{ form_widget(form.datosExtra.vars.prototype.tipoDatoExtra, { 'attr': {'class': 'medium'} }) |e }}</div>
         <div class='span4'>{{ form_widget(form.datosExtra.vars.prototype.dato, { 'attr': {'class': 'medium'} }) |e }}</div>
         <div class='span4'>{{ form_widget(form.datosExtra.vars.prototype.nota, { 'attr': {'class': 'medium'} }) |e }}</div>
         ">
    </div> 
{% endif %}