{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Informe de Productos por rubro{% endblock %}
{% block titulo %}Informe de productos por rubro{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        window.onload = function() {           
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                exportEnabled: true,
                title: {
                        text: "Informe de Productos por Rubro"
                },
                legend:{
                    cursor: "pointer",
                    itemclick: explodePie
                },
                data: [{
                    type: "pie",
                    showInLegend: true,
                    toolTipContent: "{name}: <strong>{y}%</strong>",
                    indexLabel: "{name} {y}%",
                    yValueFormatString: "##0.00\"%\"",
                    dataPoints: {{ dt|raw }},
                }]
            });
            chart.render();
        }
        function explodePie (e) {
            if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
                    e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
            } else {
                    e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
            }
            e.chart.render();
        }
    </script>
{% endblock %}
{% block informacion %}
   {# Para el servicio <b>{{ consulta.servicionombre }}</b> desde el <b>{{ consulta.desde }}</b> 
    hasta el <b>{{ consulta.hasta }}</b> con velocidad
    de exceso mayor a <b>{{ consulta.velocidad_maxima }}</b> kms/h#}
{% endblock %}

{% block contentpanel %}
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}    