{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Informe de Rubro{% endblock %}
{% block titulo %}Informe de Rubro{% endblock %}

{% block informacion %}
    Desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>.
    [ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
    <form name="formexport" action="{{ path('app_rubro_informe_exportar', {'id': organizacion.id}) }}" method="POST" >
        <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
        <input type="hidden" name="total" value="{{ total|json_encode() }}"/>
        <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
    </form>
{% endblock %}

{% block contentpanel %}    
    {% if informe %}
        <div class="row-fluid">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Rubro</th>
                        <th>Fecha</th>
                        <th>Servicio</th>
                        <th>Nro. Orden</th>
                        <th>Nro. Int</th>
                        <th>Nro. Ext</th>
                        <th style="width:80px">Centro de Costo</th>
                        <th>Cantidad</th>
                        <th>Producto</th>
                        <th>Neto</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nombre, rubro in informe %}
                        <tr>
                            <th rowspan={{ rubro|length+1 }}>{{ nombre }}</th>
                            {% for row in rubro %}
                                <tr>
                                    <td>{{ row.fecha|date('d/m/Y') }}</td>
                                    <td>{{ row.servicio }}</td>
                                    <td>{{ row.id }}</td>
                                    <td>{{ row.nro_interno }}</td>
                                    <td>{{ row.nro_externo }}</td>
                                    <td>{{ row.centroCosto }}</td>
                                    <td style="text-align: right">{{ row.cantidad|number_format(1) }}</td>
                                    <td>{{ row.producto }}</td>
                                    <td style="text-align: right">$ {{ row.neto|number_format(2) }}</td>
                                    <td style="text-align: right">$ {{ row.total|number_format(2) }}</td>
                                </tr>                             
                            {% endfor %}
                            <tr style="background-color: #eee" >
                                <td colspan="7">Totales</td>
                                <th style="text-align: right">{{ total[nombre].cantidad|number_format(1) }}</th>
                                <th style="text-align: right"></th>
                                <th style="text-align: right">$ {{ total[nombre].costoNeto|number_format(2) }}</th>
                                <th style="text-align: right">$ {{ total[nombre].costoTotal|number_format(2) }}</th>
                            </tr>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    {% endif %}

{% endblock %}