{% extends "app/Template/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block title %}Informe de Rubro{% endblock %}
{% block titulo %}Informe de Rubro{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $("#informe_desde").datepicker({
                defaultDate: "today",
                changeMonth: true,
                numberOfMonths: 1,
                maxDate: "today",
            });
            $("#informe_hasta").datepicker({
                defaultDate: "today",
                changeMonth: true,
                numberOfMonths: 1,
                maxDate: "today",
            });
            $('#informe_centroCosto').select2();   
            $('#informe_rubro').select2();   

        });

    </script>
{% endblock %}

{% block informacion %}
    <div style="float: right">
        <a href="javascript:void(0);" onclick="javascript:introJs().start();">Ayuda</a>
    </div>
{% endblock %}

{% block formulario %}
    <form class="form-horizontal" id="form" action="#"  method="POST" >
        {{ form_errors(form) }}
        <fieldset>
            <div data-step="1" data-intro="{% include "informe/Velocidades/help.html.twig" with {'step': '1' } %}">
                {{ form_widget(form.destino) }}
            </div>
            {{ form_widget(form.desde) }}
            {{ form_widget(form.hasta) }}
            {{ form_widget(form.rubro) }}
            {{ form_widget(form.centroCosto) }}


            {{ form_rest(form) }} 

            <div class="form-actions" style="background-color: white">
                <button type="submit" class="btn btn-primary">Generar</button>
                <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>
        </fieldset>
    </form>
{% endblock %}
