{% extends "app/Template/list.html.twig" %}

{% block titulo %}Rubros de Productos{% endblock %}        
{% block subtitulo %}{% endblock %}        
{% block contentpanel %}  
    {% if rubros|length > 0 %}
        <div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Código</th>
                        <td>Acción</td>
                    </tr>
                </thead>
                <tbody>
                    {% for rubro in rubros %}
                        <tr>
                            <td><a href="{{ path('app_rubro_show', {'id': rubro.id} )}}">{{rubro.nombre}}</a></td>
                            <td>{{rubro.codigo|default(' --- ')}}</td>
                            <td>
                                <a href="{{ path('app_rubro_edit', {'id': rubro.id} ) }}">Editar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <em>No hay rubros cargados</em>
    {% endif %}
{% endblock %}
