<table class="table table-condensed">
    <tr>
        <th>Sector</th>
        <th>Teléfono</th>
        <th>Rubro</th>
        <th>Horario</th>
        <th>descripcion</th>
    </tr>
    {% for sector in sectores %}
        <tr>
            <td>{{sector.nombre}}</td>
            <td>{{sector.telefono}}</td>
            <td>{{sector.rubro}}</td>
            <td>{{sector.horario}}</td>
            <td>{{sector.descripcion}}</td>
            <td>
                <button class="btn btn-small" type="button" id="ficha_del" onClick="sectorDel('{{ sector.id }}', '{{ sector.nombre }}')">
                    <i class="icon-minus-sign"  title="Elimina el sector del taller"></i> Eliminar
                </button>
            </td>
            <td>
                <a class="btn btn-small" type="button" href="{{ path('apmon_taller_editsector', {'idsector': sector.id }) }}">
                    <i class="icon-edit"  title="Elimina el sector del taller"></i> Editar
                </a>
            </td>
        </tr>
    {% endfor  %}
</table>