{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "app/Rubro/delete_form.html.twig" %} 
{% endblock %} 


{% block titulo %}Rubro{% endblock %}    
{% block subtitulo %}{{ rubro.nombre }}{% endblock %}  


{% block contentpanel %}
    <div class="row-fluid row-show">
        <div class="span6">
            <h3>Datos del Rubro</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': rubro.nombre } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Código', 'data': rubro.codigo|default('---')} %} 
        </div>
    </div>   
{% endblock %}

