{% extends "app/Template/informe_mapa.html.twig" %}

{% block head %}
    {{ parent() }}
    {{ mapa.renderJs()|raw }}
{% endblock %}

{% block titulo %}Informe de Recorrido{% endblock %}

{% block westpanel %}
    <table class="table table-condensed">
        <tr>
            <th colspan="2">Datos Consultados</th>
        </tr>
        <tr>
            <td>Servicio</td>
            <td><b>{{ consulta.servicionombre }}</b></td>
        </tr>
        <tr>
            <td>Desde</td>
            <td><b>{{ consulta.desde }}</b></td>
        </tr>
        <tr>
            <td>Hasta</td>
            <td><b>{{ consulta.hasta }}</b></td>
        </tr>
        <tr>
            <td>Referencia</td>
            <td><b>{{ consulta.referencianombre }}</b></td>
        </tr>
        <tr>
            <td></td>
            <td> <label class="checkbox">
                    <input type="checkbox" id="historial_calcular_area" name="historial[calcular_area]" onclick="calcular_area();" value="0">
                    Calcular Dist. y Area 
                </label>
            </td>
        </tr>
    </table>
    <hr>

    {% if informe is not null %}
        {% if informe|length > 0 %}
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Servicio</th>
                        <th>Día</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for key,info in informe.servicios %}
                        <tr>
                            <td rowspan="{{info|length + 1}}">{{key}}</td>
                            {% for key,arr in info %}
                            <tr>
                                <td>{{ arr.fecha }}</td>
                                <td>
                                    <a href="#" onClick="resaltarPolilinea({{ key }}, {{ informe.polilineas }})" id="btnVer" >
                                        <i class="icon-search"></i>    
                                    </a> 
                                </td>
                            </tr> 
                        {% endfor %}
                        </tr>
                    {% endfor %}

                </tbody>
            </table>    
        {% else %}
            <em>No se registran detenciones para el tiempo solicitado.</em>
        {% endif %}
    {% endif %}    

{% endblock %}

{% block centerpanel %}
    {{ mapa.renderHtml()|raw }}   
{% endblock %}

{% block js %}
    {{ parent() }}

    <script type="text/javascript">
        function resaltarPolilinea(polilinea, polilineas) {
            var str = JSON.stringify(polilineas);
            var polis = JSON.parse(str);
            for (var i = 0; i < polis.length; i++) {
        {{ mapa.fcAddPolyline() }}({id_sc: polis[i], ancho: 2, strokeOpacity: 0.3});
                }

        {{ mapa.fcAddPolyline() }}({id_sc: polilinea, ancho: 8, strokeOpacity: 1});
            }
    </script>
{% endblock %}



