{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Gráfico de Sensores{% endblock %}
{% block titulo %}Gráfico de Sensores{% endblock %}

{% block js %}
   {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">        
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        
        function drawChart() {
            var arr = new Array();
            
            //titulos
            var titulo = new Array();
            {% for value in dt['titulos'] %}
                titulo.push('{{ value }}');  
            {% endfor %}                
            arr[0] = titulo;
                
            var i = 1;
            {% for value in dt['datos'] %}
                tmp = new Array();               
                {% for id, v in value %}
                    {% if id > 0 %}
                        tmp.push(parseFloat('{{ v|number_format(2) }}'));                   
                    {% else %}
                        tmp.push('{{ v }}');                   
                        {% endif %}    
                {% endfor %}
                  
                arr[i] = tmp;  
               
                i++;
            {% endfor %}
                
                console.log(arr);
                
            var data = google.visualization.arrayToDataTable(arr);        

            var options = {
                title: 'Valores de Sensores',
                curveType: 'function',
                height: 380,
                legend: { position: 'bottom' }
            };
            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);

        }        
        
    </script>
{% endblock %}
{% block informacion %}
    Para el servicio <b>{{ consulta.servicionombre }}</b> desde el <b>{{ consulta.desde }}</b>
    hasta el <b>{{ consulta.hasta }}</b>.
{% endblock %}

{% block contentpanel %}
{% if dt is defined and dt != null %}    
    <div id="curve_chart">&nbsp;</div>
{% endif %}
    
{% if informe %}
    <table class="table">
        <thead>
            </tr>
                {% for tit in informe['titulos'] %}
                    <th>{{ tit }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for dato in informe['tabla'] %}
            <tr>
                {% for tit in informe['titulos'] %}
                    {% if dato[tit] is defined %}
                        <td>{{ dato[tit] }}</td>
                    {% else %}
                        <td>---</td>
                    {% endif %}
                {% endfor %} 
            </tr>
            {% endfor %}            
        </tbody>
    </table>
{% else %}
    <em>No hay datos que se puedan mostrar en el gráfico.</em>
{% endif %}


{% endblock %}    