{% extends "app/Template/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block title %}Gráfico de Sensores{% endblock %}
{% block titulo %}Gráfico de Sensores{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
        $.datepicker.setDefaults ($.datepicker.regional["es"]);
        $.timepicker.setDefaults ($.timepicker.regional["es"]);
        $("#graficoth_desde").datetimepicker ({
            defaultDate: "today",
            changeMonth: true,
            numberOfMonths: 1,
            maxDate: "today",
        });
       
        $("#graficoth_hasta").datetimepicker ({
            defaultDate: "today",
            changeMonth: true,
            numberOfMonths: 1,
            maxDate: "today",
        });

         $("#graficoth_servicio").select2();
       
    });
</script>
{% endblock %}

{% block informacion %}
<div style="float: right">
    <a href="javascript:void(0);" onclick="javascript:introJs().start();">Ayuda</a>
</div>
{% endblock %}

{% block formulario %}
<form class="form-horizontal" id="form"  method="POST" >
    {{ form_errors(form) }}
    <fieldset>
        <div data-step="1" data-intro="{% include "informe/GraficoTh/help.html.twig" with {'step': '1' } %}">
            {{ form_widget(form.destino) }}
        </div>
        <div data-step="2" data-intro="{% include "informe/GraficoTh/help.html.twig" with {'step': '2' } %}">
            {{ form_widget(form.servicio) }}
        </div>
        <div data-step="3" data-intro="{% include "informe/GraficoTh/help.html.twig" with {'step': '3' } %}">
            {{ form_widget(form.desde) }}
            {{ form_widget(form.hasta) }}
        </div>
        {{ form_widget(form._token) }} 

        <div class="row-fluid form-actions" style="background-color: white">
            <button type="submit" class="btn btn-primary">Generar gráfico</button>
            <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>            
        </div>
    </fieldset>
</form>
    


{% endblock %}
