{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ aplicacion.nombre }}{% endblock %}
{% block subtitulo %}Edición{% endblock %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        <div>{{ form_errors(form) }}</div>
        <div class="row-fluid">
            <div class="span8">

                <div class="span8">
                    <h4>Datos de la Aplicación</h4>
                    <fieldset>
                        {{ form_errors(form) }}
                        {{ form_widget(form.nombre) }}
                        {{ form_widget(form.route) }}
                        {{ form_widget(form.descripcion) }}
                        {{ form_widget(form.habilitada) }}
                        {{ form_widget(form.icono) }}
                        {{ form_rest(form) }}
                    </fieldset>
                </div>
                <div class="span4">  
                    <div style="float: left; text-align: center">
                        <img width="50" src="{{ asset(aplicacion.getWebPath()) }}" /><br/>
                        {{ aplicacion.pathIcono }}
                    </div>
                </div>
            </div>
        </div>
        {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Cambiar' } %}
    </form>
{% endblock %}