{% extends "app/Template/list.html.twig" %}

{% block title %}Backend :: Aplicaciones registradas{% endblock %}        
{% block titulo %}Aplicaciones registradas{% endblock %}        

{% block contentpanel %}  
    <table class="table condensed-table">
        <thead>
            <tr>
                <td>Aplicación</td>
                <td>Habilitada</td>
                <td>Módulos</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for aplicacion in aplicaciones %}
                <tr>
                    <td><a href="{{ path('aplicacion_show', {'id': aplicacion.id} ) }}">{{ aplicacion.nombre }}</a></td>
                    <td>{{ aplicacion.habilitada ? "Si" : "No" }}</td> 
                    <td>
                        <ul>
                        {% for modulo in aplicacion.modulos %}
                            <li>{{ modulo }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="{{ path('aplicacion_edit', {'id': aplicacion.id, 'return': 'list'} ) }}">Editar</a>
                    </td>               
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}