<a href="{{ path('permiso_new', {'idmod': modulo.id}) }}">Agregar Permiso</a></br>
{% for permiso in modulo.permisos %}
        <p>
            {{ permiso }}  
                [ <a href="{{ path('permiso_edit', {'id': permiso.id} ) }}">Editar</a> |
                <a href="{{ path('permiso_delete', {'id': permiso.id} ) }}">Eliminar</a> ]</br>
        </p>
{% else %}
    <em>No hay permisos para el módulo.</em>
{% endfor %}