<div>
     <table class="condensed-table">
         <tr>
             <td><b>Módulos</b> [ <a href="{{ path('modulo_new', {'idapp': aplicacion.id}) }}">Agregar Módulo</a> ]</td>
             <td><b>Permisos</b></td>
         </tr>
         {% for modulo in aplicacion.modulos %}
             <tr>
                 <td width=400px ><b><a href="{{ path('modulo_show', {'id': modulo.id} ) }}">{{ modulo.nombre|e }} </a></b>
                     {% spaceless %}
                      [ <a href="{{ path('modulo_edit', {'id': modulo.id} ) }}">Editar</a> |
                      <a href="{{ path('modulo_delete', {'id': modulo.id} ) }}">Eliminar</a> ]
                     {% endspaceless %}
                 </td>
                 <td>{% include "backend/Aplicacion/list_permisos.html.twig" %}</td>
             </tr>
        {% else %}
             <tr>
                 <td><em>No hay módulos registrados</em></td>
                 <td></td>
             </tr>
        {% endfor %}
        </table>
</div>