{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Alta de Nueva Aplicación{% endblock %}
{% block formulario %}

<form class="form-horizontal"  method="POST" >
    <fieldset>
    <div>
      {{ form_errors(form) }} 
    </div>
    <div class="row-fluid">
        <div class="span8">
            <legend>Datos de la Aplicación</legend>
            {{ form_widget(form.nombre) }}
            {{ form_widget(form.route) }}
            {{ form_widget(form.descripcion) }}
            {{ form_widget(form.icono) }}
            {{ form_widget(form.habilitada) }}
            {{ form_rest(form) }}
        </div>
        <div class="span4">    
            <p>Complete los datos de la nueva aplicación</p>
        </div>

    </div>

    </fieldset>
           
    {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Agregar' } %}
</form>
{% endblock %}