{% extends "app/Template/show.html.twig" %}

{% set return = 'show' %}

{% block formdelete %}
    <div id="modalDelete" class="modal hide fade">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>
            <h3>Eliminar aplicación</h3>
        </div>
        <form class="form-horizontal" action="{{ path('aplicacion_delete', { 'id': aplicacion.id }) }}" method="post">
            <div class="modal-body">
                <p>Esta seguro de eliminar la Aplicación: <strong>{{ aplicacion.nombre|upper }}</strong> ?</p>
                {{ form_widget(delete_form) }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-btn-danger" type="submit">Eliminar</button>
                <a id="boton-cancelar" href="" class="btn secondary">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}    

{% block titulo %}{{ aplicacion.nombre }}{% endblock %}

{% block contentpanel %}
    <div class="row-fluid">
        <legend>Datos del Módulo</legend>    
        <div class="row-fluid row-show">
            <div class="span3 column-label">Nombre</div>
            <div class="span4 column-show">{{ aplicacion.nombre }}</div>
        </div>
        <div class="row-fluid row-show">
            <div class="span3 column-label">Habilitada</div>
            <div class="span4 column-show">{{ aplicacion.habilitada ? 'SI' : 'NO' }}</div>
        </div>
        <div class="row-fluid row-show">
            <div class="span3 column-label">Icono</div>
            <div class="span3 column-show">{{ aplicacion.pathIcono }}</div>
        </div>
    </div>
    <div class="row-fluid">
        <legend>Módulos de la Aplicación</legend>
        {% if modulos|length > 0 %}
            <table class="table condensed-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Codename</th>
                        <th>Alcance</th>
                        <th>Permisos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for modulo in modulos %}
                        <tr>
                            <td>
                                <a href="{{ path('modulo_show', {'id': modulo.id} ) }}">{{ modulo|e }}</a>
                            </td>
                            <td>{{ modulo.codename }}</a></td>
                            <td>
                                {% if modulo.alcance == 0 %}
                                    Todos
                                {% elseif modulo.alcance == 1 %}
                                    Distribuidor
                                {% elseif modulo.alcance == 2 %}
                                    Cliente
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>
                                {% for permiso in modulo.permisos %}
                                    {{ permiso.descripcion }}</br>
                                {% else %}
                                    No hay permisos para el módulo.
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('modulo_edit', {'id': modulo.id, 'return': return} ) }}" class="btn btn-small">Editar</a>
                                <a href="{{ path('modulo_delete', {'id': modulo.id, 'return': return} ) }}" class="btn btn-small">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <em>No hay módulos registrados</em>
        {% endif %}
    </div>        
{% endblock %}