{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}


{% block titulo %}Edición de Variable de Evento{% endblock %}
{% block informacion %}
{% endblock %}
{% block formulario %}
<form class="form-horizontal" method="post" >
    <div>{{ form_errors(form) }}</div>
    <fieldset>
        <div class="row-fluid">
            <div class="span8">
                {{ form_widget(form.nombre) }}    
                {{ form_widget(form.codename) }}  
                {{ form_widget(form.dataType) }}    
                {{ form_widget(form.cotaMinima) }}    
                {{ form_widget(form.cotaMaxima) }} 
                {{ form_widget(form.unidadMedida) }}    
                {{ form_rest(form) }}
            </div>
        </div>
    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Cambiar" />
        <a href="{{app.session.get('volver') }}" class="btn">Cancelar</a>
    </div>
</form>

</div>
{% endblock %}
