{% extends "app/Template/list.html.twig" %}

{% block title %}Backend :: Variables de Eventos{% endblock %}        
{% block titulo %}Variables de Eventos{% endblock %}        

{% block contentpanel %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Codename</th>
                <th>Tipo</th>
                <th>Valor Mínimo</th>
                <th>Valor Máximo</th>
                <th>en eventos...</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for var in variables %}
                <tr>
                    <td>{{ var.nombre }}</td>
                    <td>{{ var.codename }}</td>
                    <td>{{ var.dataType }}</td>
                    <td>{{ var.cotaMinima }}</td>
                    <td>{{ var.cotaMaxima }}</td>
                    <td>
                        <ul>
                        {% for eve in var.tiposEvento %}
                            <li>{{ eve.nombre }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                       <a href="{{ path('variableevento_edit', {'id': var.id} ) }}">Editar</a>
                       | <a href="{{ path('variableevento_delete', {'id': var.id} ) }}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}