<!-- Modal -->
<div class="modal fade" id="modalAddVariable" role="dialog" aria-labelledby="modalVariableLabel" data-modal-index="-100">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">

				<h4 class="modal-title" id="myModalLabel">Variables</h4>
			</div>
			<div class="modal-body">
				<div id="modal-body-producto">
					<form id="formVariable" class="form-horizontal">
						<div class="row">
							<div class="col-md-8">
								{{ form_widget(formVariable.variable) }}

							</div>
						</div>
					</form>

				</div>
			</div>
			<div class="modal-footer">
				<button id="btnVariableAdd" type="button" class="btn btn-primary">Agregar</button>
				<a href="#" data-dismiss="modal" class="btnCancelar btn">Cancelar</a>
			</div>
		</div>
	</div>
</div>
<script>

</script>
