{% extends "app/Template/list.html.twig" %}

{% block title %}Tipos de Combustible{% endblock %}        
{% block titulo %}Tipos de Combustible{% endblock %}        

{% block contentpanel %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for tipo in tipoCombustible %}
                <tr>
                    <td>{{ tipo.nombre }}</td>
                    <td>
{#                       {#<a href="{{ path('tipoevento_edit', {'id': tipo.id} ) }}">Editar</a>| #}
                       <a href="{{ path('tipocombustible_delete', {'id': tipo.id} ) }}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}