{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}


{% block titulo %}Alta de Tipo de Combustible{% endblock %}
{% block informacion %}
{% endblock %}
{% block formulario %}
    <form class="form-horizontal" method="post" >
        <div>{{ form_errors(form) }}</div>
        <fieldset>
            <div class="row-fluid">
                <div class="span8">
                    {{ form_widget(form.nombre) }}    
                  
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            {{ form_widget(form._token) }}
            <input type="submit" class="btn btn-primary" value="Agregar" />
            <a href="{{app.session.get('volver') }}" class="btn">Cancelar</a>
        </div>
    </form>

</div>


{% endblock %}
