{% extends "app/Template/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block title %}Manejo{% endblock %}
{% block titulo %}Informe de Manejo de Choferes{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $.timepicker.setDefaults($.timepicker.regional["es"]);
            $("#manejo_desde").datetimepicker({
                defaultDate: "today",
                changeMonth: true,
                numberOfMonths: 1,
                maxDate: "today",
            });
           
            $("#manejo_hasta").datetimepicker({
                defaultDate: "today",
                changeMonth: true,
                numberOfMonths: 1,
                maxDate: "today",
            });

             $("#manejo_chofer").select2();
             $("#manejo_servicio").select2();
           
        });
    </script>
{% endblock %}

{% block formulario %}
    <form class="form-horizontal" id="form" action="#"  method="POST" >
        {{ form_errors(form) }}
        <fieldset>
            {{ form_widget(form.destino) }}
            {{ form_widget(form.chofer) }}
            {{ form_widget(form.servicio) }}
            {{ form_widget(form.desde) }}
            {{ form_widget(form.hasta) }}
            {{ form_widget(form._token) }} 

            <div class="form-actions" style="background-color: white">
                <button type="submit" class="btn btn-primary">Generar</button>
                <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>
        </fieldset>
    </form>

{% endblock %}
