{% extends "app/Template/informe_result.html.twig" %}

{% block titulo %}Choferes {% endblock %}

{% block informacion %}
    Para el Chofer <b>{{ consulta.chofernombre }}</b>, Servicio <b>{{consulta.servicionombre}}</b> desde el <b>{{ consulta.desde }}</b> 
    hasta el <b> {{consulta.hasta}}</b>

{% endblock %}

{% block contentpanel %}

    {% if result is not null %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% if moduloChofer %} 
                        <th>Chofer</th>
                    {% endif %}
                    <th>Servicio</th>
                    <th>Inicio</th>
                    <th>Referencia</th>
                    <th>Dirección</th>
                    <th>Fin</th>
                    <th>Referencia</th>
                    <th>Dirección</th>
                    <th>Distancia</th>
                    <th>Duración</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in result %}
                    <tr>
                        {% if moduloChofer %}
                            {% set rowspan = value|length + 1%}
                            <td rowspan="{{ rowspan }}">{{ key|upper }}</td>
                        {% endif  %} 
                        {% set i = 0 %}
                        {% for key,value in value %}
                            {% if i > 0 %}
                            <tr>
                            {% endif %}
                                {% if key != 'totales' %}
                                    {% if value.servicio %}
                                        <td>{{ value.servicio }}</td>
                                        <td>{{ value.inicio.fecha|date('Y-m-d H:i:s', app.user.timeZone) }}</td>
                                        <td>{{ value.inicio.str_referencia|default(' --- ') }}</td>
                                        <td>{{ value.inicio.domicilio|default(' --- ') }}</td>
                                        <td>{{ value.fin.fecha|date('Y-m-d H:i:s', app.user.timeZone) }}</td>
                                        <td>{{ value.fin.str_referencia|default(' --- ') }}</td>
                                        <td>{{ value.fin.domicilio|default(' --- ') }}</td>
                                        <td>{{ value.distancia_simple|default(' --- ') }} Km</td>
                                        <td>{{ value.duracion_simple|default(' --- ') }}</td>
                                    {% endif %}
                                    {% set i = i+1 %}
                                    {% if i > 0%}
                                    </tr>
                                    {% endif %}
                            {% endif %}
                        {% endfor %}
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td>  </td>
                <td>TOTAL  ======></td>
                <td>{{value.totales.distancia_total}} Km</td>
                <td>{{value.totales.duracion_total}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}