<div class="progress progress-xs light m-2" style="margin-top: 5px;">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{proyecto.progreso}}%;"></div>
</div>