<div class="panel">
    <div class="panel-body">
        <ul class="mb-mailboxes non-styled-list l-mar-10">
            <li>
                Totales <span  id="totalProyecto" class="badge badge-default badge-bordered badge-xs pull-right">{{countTotales}}</span> 
            </li>
            <li>
                En Curso <span  id="totalProyecto" class="badge badge-default badge-bordered badge-xs pull-right">{{countCurso}}</span> 
            </li>
            <li>
                Programados <span  id="totalProyecto" class="badge badge-default badge-bordered badge-xs pull-right">{{countProgramados}}</span> 
            </li>
        </ul>
        <hr class="dotted">

        <form class="form-horizontal" action="{{ path('gpm_index',{'id':organizacion.id}) }}"  method="POST">
            <div class="control-group">
                <div class="controls">
                    {{ form_widget(filter.desde, {'attr': {'class': 'form-control'} }) }}                    
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {{ form_widget(filter.hasta, {'attr': {'class': 'form-control'} }) }}                    
                </div>
            </div>
            <div class="control-group">
                <label>
                    <input type="checkbox" class="checkbox-fa checkbox-fa-theme" name="filtro[fechatodos]" id="filtro_fechatodos" value="" title="No tener en cuenta las fechas" >
                    <span>No utilizar fechas</span>
                </label>
            </div>
            <div class="control-group">
                <div class="controls">
                    {{ form_widget(filter.responsable, {'attr': {'class': 'form-control'} }) }}                    
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {{ form_widget(filter.cliente, {'attr': {'class': 'form-control'} }) }}                    
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {{ form_widget(filter.contratista, {'attr': {'class': 'form-control'} }) }}                    
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {{ form_widget(filter.estado, {'attr': {'class': 'form-control'} }) }}                    
                </div>
            </div>
              {{ form_row(filter._token) }}
            <br>
            <button class="btn btn-theme" type="submit">Aplicar</button>
        </form>
    </div>

</div>
