{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ proyecto.organizacion }}{% endblock %}
{% block subtitulo %}Modificar Proyecto{% endblock %}

{% block formulario %}
    {% include "gpm/Responsable/popup_responsable_new.html.twig" %} 
    {% include "gpm/Proyecto/popup_proyecto_delete.html.twig" %} 
    {% include "gpm/Cliente/popup_cliente_new.html.twig" %} 
    {% include "gpm/Contratista/popup_contratista_new.html.twig" %} 

    <div class="panel panel-body">
        <form class="form-horizontal"  method="POST" >
            <fieldset>
                <div class="row-fluid">
                    <div>{{ form_errors(form) }}</div>
                    <div class="row-fluid">
                        <div class="col-md-12" style="padding-top: 10px;">
                            <div class="col-md-8">{{ form_widget(form.nombre) }}</div>
                            <div class="col-md-4">{{ form_widget(form.codigo) }}</div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                {{ form_widget(form.responsable) }}
                            </div>
                            <div class="col-md-4">{{ form_widget(form.cliente) }}</div>
                            <div class="col-md-4">
                                {{ form_widget(form.contratista) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-5">{{ form_widget(form.fecha_inicio) }}</div>
                            <div class="col-md-5">{{ form_widget(form.fecha_fin) }}</div>
                            <div class="col-md-2">{{ form_widget(form.color) }}</div>
                        </div>
                        <div class="col-md-12">
                            {{ form_widget(form.descripcion) }}
                        </div>

                    </div>

                    {{ form_row(form._token) }}

                </div>

                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Modificar" />
                    <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
{% block js%}
    <script type="text/javascript">
  {% include "gpm/Proyecto/forms.js" %}  
    </script>
{% endblock %}
