{% extends "app/Template_aker/list.html.twig" %}

{% form_theme formReferencia 'app/Form/calypso_fields.html.twig' %}
{% form_theme filter 'app/Form/calypso_fields.html.twig' %}


{% block titulo %}Mis Proyectos{% endblock %}        

{% block contentpanel %}
    <styles>
        <link rel="stylesheet" href="{{ asset('plugins/spectrum/spectrum.css') }}" type="text/css" media="all" /> 
    </styles>
    {% include "gpm/Proyecto/popup_proyecto_delete.html.twig" %} 
    {% include "gpm/Actividad/popup_actividad_finalizar.html.twig" %} 
    {% include "gpm/Personal/popup_persona_remover.html.twig" %} 
    {% include "gpm/Responsable/popup_responsable_new.html.twig" %} 
    {% include "gpm/Actividad/popup_actividad_remover.html.twig" %} 
    {% include "gpm/Servicio/popup_servicio_remover.html.twig" %} 
    {% include "gpm/Referencia/popup_referencia_new.html.twig" %} 
    {% include "gpm/Referencia/popup_referencia_delete.html.twig" %} 
    {% include "gpm/Referencia/popup_icono.html.twig" %} 
    {% include "gpm/Referencia/dialog-referencia-redibujar.html.twig" %} 
    {% include "gpm/Referencia/popup_icono.html.twig" %} 

    <div class="row mailbox panel-all">
        <div class="col-md-9 mb-content">
            {% if proyectos|length > 0 %}
                <div class="panel panel-body" id="proyectos-list">
                    <div class="col-md-12 mb-content">
                        <div class="tablaProyectos">
                            {% include "gpm/Proyecto/proyectos.html.twig" with {'proyectos':proyectos } %}  
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-12" style="text-align: center;">
                    <div class="panel panel-body">
                        <div class="tablaProyectos">
                            {% if checkFiltro  %}
                                <h4><em>No se encontraron proyectos</em></h4>
                            {% else %}
                                <img src="{{ asset('images/proyecto.png') }}" alt="">
                                <h2>Aún no hay proyectos creados</h2>
                                <a href="{{ path('gpm_proyecto_new',{'idorg':organizacion.id}) }}" class="btn btn-lg btn-default">Agregar Proyecto</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-3 mb-menu panel-filtro">
            {% include "gpm/Proyecto/dashboard_index.html.twig" with { 'countProgramados':countProgramados, 'countCurso':countCurso, 'countTotales':countTotales } %}  
        </div>
    </div>
{% endblock %}

{%  block js  %}

    {{ parent() }}    
    {{ mapa.renderJs()|raw }}


    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('plugins/spectrum/spectrum.js') }}" /></script>     
<script type="text/javascript">
    {% include "apmon/Mapa/gmaps-lib.script.js" %}    
    {% include "gpm/Proyecto/proyecto.js" %}  
    {% include "gpm/Actividad/actividad.js" %}  
    {% include "gpm/Contratista/contratista.js" %}  
    {% include "gpm/Cliente/cliente.js" %}  
    {% include "gpm/Referencia/dialog-referencia-crear.script.js" %}  
    {% include "gpm/Referencia/dialog-referencia-redibujar.script.js" %}

            $(document).ready(function () {
                getDatatable();
                $('#btnReferenciaGeneral').click(function () {
                verReferencias('0');
                });
            }
            );

    {% if fechaTodos != 1%}
            $(function () {
                $("#filtro_desde").datetimepicker({
                    format: 'DD/MM/YYYY',
                }).data("DateTimePicker").date('{{ filtro.desde|date("d/m/Y")}}');
                $("#filtro_hasta").datetimepicker({
                    format: 'DD/MM/YYYY',
                }).data("DateTimePicker").date('{{ filtro.hasta|date("d/m/Y")}}');
            });
    {% endif %}

            function getDatatable() {
                var tabla = $('#tableProyectos').DataTable({
                    order: true,
                    paging: true,
                    language: {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                    },
                });
                $('#tableProyectos tbody').on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = tabla.row(tr);
                    var idProyecto = tr[0].id;
                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        route = Routing.generate('gpm_proyecto_getactividades');
                        var request = $.ajax({
                            type: 'POST',
                            url: route,
                            data: {'id': idProyecto},
                            dataType: "json"
                        });
                        request.done(function (r) {
                            row.child(r.html).show();
                            tr.addClass('shown');
                        });
                    }
                });
                $('textarea').summernote({
                    height: 200,
                });

                var panelHeight = $(".panel-all .panel-filtro").height(); //para que el contenedor de proyectos este a la altura del de filtro
                $("#proyectos-list").css("min-height", panelHeight);
            }
</script>



{%  endblock  %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
    <link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"type="text/css" media="all" />  
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
    <style>
        td.details-control {
            background: url({{ asset('images/arrow-right.png') }}) no-repeat center center;
            cursor: pointer;
        }
        tr.shown td.details-control {
            background: url({{ asset('images/arrow-bottom.png') }}) no-repeat center center;
        }
    </style>
{% endblock %}