<table class="table table-responsed">
    <tr>
        <td class="tabla-sidebar">Responsable del proyecto</td><td>{{ proyecto.responsable is defined and proyecto.responsable.persona is defined ? proyecto.responsable.persona.nombre:'---' }}</td>
    </tr>
    <tr>
        <td class="tabla-sidebar">Cliente</td><td> {{ proyecto.cliente? proyecto.cliente.nombre : '---' }}</td>
    </tr>
    <tr>
        <td class="tabla-sidebar">Contratista</td><td>{{ proyecto.contratista?proyecto.contratista.nombre : '---' }}</td>
    </tr>
    <tr>
        <td class="tabla-sidebar">Fecha de Inicio</td><td>{{ proyecto.fechaInicio ? proyecto.fechaInicio|date('d/m/Y'):'---' }}</td>
    </tr>
    <tr>
        <td class="tabla-sidebar">Fecha de Fin</td><td>{{ proyecto.fechaFin ? proyecto.fechaFin|date('d/m/Y'):'---'  }}</td>
    </tr>
</table>

<div class="col-md-12">
    <div class="progress progress-xs light m-2">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{progreso}}%;"></div>' +
    </div>
    <div class="col-md-12" style="text-align: center; margin-top: -20px;">
        <h4> {{ progreso }}%</h4>
    </div>
</div>

{%  if proyecto.descripcion != null  %}
    <div class="col-md-12 "tabla-sidebar"><label>Descripción</label></div>
    <div class="col-md-12" style=" word-wrap: break-word;">{{ proyecto.descripcion ? proyecto.descripcion|raw : ''}}</div>
{% endif %}

{#<div class="col-md-12">
    <div class="col-md-5" style="text-align:left;">Actividades Finalizadas  {{ countActFinalizadas }} </div>
    <div class="col-md-2" style="text-align:center;"><a  href="#" onclick="setSidebarDataActividades('{{proyecto.id}}');"><i style="font-size: 35px;" class="fa fa-eye"></i></a></div>
    <div class="col-md-5" style="text-align:left;">Actividades Totales  {{ countActTotales }} </div>
    <div class="col-md-12" style="text-align:center;"><label style="font-size: 10px;">Ver Actividades</label></div>
</div>
#}

<div class="col-md-12">
    <table class="table table-responsive-md table-striped mb-0">
        <tr>
            <th>Nombre de Actividad</th>
            <th>Fecha y Horas</th>
            <th>Responsable</th>
            <th>Estado</th>
        </tr>
        {% for actividad in proyecto.actividades %}
            <tr id="{{actividad.id}}">
                <td><a href="#"  onclick="setSidebarDataActividad('{{actividad.id}}');">{{ actividad.nombre }}</a></td>
                <td>{{ actividad.fechaInicio ? actividad.fechaInicio|date('d/m/Y'):'---' }}
                    <br> {{ actividad.fechaInicio ? actividad.fechaInicio|date('H:i'):'---' }}  -
                    {{ actividad.fechaFin ? actividad.fechaFin|date('H:i'):'---' }}</td>
                <td>{{ actividad.responsable ? actividad.responsable.persona.nombre : '---' }}</td>
                <td>
                    {% if actividad.estado == 0 %}
                        <i class="fa fa-clock-o"></i>
                    {% else%}
                        <i class="fa fa-check"></i>
                    {% endif%}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="col-md-12" style="text-align:right;"><a  href="#" class="link-eliminar"onclick="modalProyectoDelete({{proyecto.id}}, '{{proyecto.nombre}}')" >Eliminar Proyecto</a></div>'

