<table id="tableProyectos" class="table table-condensed table-responsive">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Nombre</th>
            <th></th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Estado</th>
            <th>Avance</th>
            <th>Responsable</th>
                {#            <th>Contratista</th>#}
                {#            <th>Cliente</th>#}
        </tr>
    </thead>
    <tbody>
        {% for proyecto in proyectos %}
            <tr id="{{proyecto.id}}">
                <td class=" details-control"></td>
                <td><div style="width: 15px;height: 15px;background-color: {{proyecto.color}};"></div></td>
{#                <td><a href="#" onclick="setSidebarDataProyecto('{{proyecto.id}}');">   {{ proyecto.nombre }} (<em>{{ proyecto.codigo }}</em>)</a></td>#}
                <td><a href="{{ path('gpm_proyecto_show',{'id':proyecto.id}) }}">   {{ proyecto.nombre }} (<em>{{ proyecto.codigo }}</em>)</a></td>
                <td> 
                    <a title="Agregar Actividad" class="btn btn-xs  btn-default round" href="{{ path('gpm_actividad_new',{'id':proyecto.id}) }}">
                        <i class="fa fa-plus"></i>
                    </a>
                </td>
                <td>{{ proyecto.fechaInicio ? proyecto.fechaInicio|date('d/m/Y'):'---' }}</td>
                <td>{{ proyecto.fechaFin ? proyecto.fechaFin|date('d/m/Y'):'---'  }}</td>
                <td><div class="divFinalizar">
                        <div class="{{proyecto.estado < 2 ? proyecto.estado ==  0 or proyecto.estado == null ?'btn btn-xs btn-default':'btn btn-xs btn-primary':'btn btn-xs btn-success'}}">{{ proyecto.strEstado }}</div>
                    </div></td>
                <td>
                    <div id="barraProgreso">
                        {% include "gpm/Proyecto/barra_progreso.html.twig" with { 'proyecto':proyecto } %}  
                    </div>
                </td>
                <td>{{ proyecto.responsable  ? proyecto.responsable.persona.nombre:'---' }}</td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>