{% extends "app/Template_aker/show.html.twig" %}

{% form_theme formReferencia 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ proyecto.organizacion.nombre }}{% endblock %}
{% block subtitulo %}{{ proyecto.nombre }}{% endblock %}

{% block contentpanel %}
    {% include "gpm/Actividad/popup_actividad_finalizar.html.twig" %} 
    {% include "gpm/Personal/popup_persona_remover.html.twig" %} 
    {% include "gpm/Responsable/popup_responsable_new.html.twig" %} 
    {% include "gpm/Actividad/popup_actividad_remover.html.twig" %} 
    {% include "gpm/Servicio/popup_servicio_remover.html.twig" %} 
    {% include "gpm/Referencia/popup_referencia_new.html.twig" %} 
    {% include "gpm/Referencia/popup_referencia_delete.html.twig" %} 
    {% include "gpm/Referencia/popup_icono.html.twig" %} 

    <div class="panel">
        <div class="panel-heading bg-theme-light">
            <div class="panel-action pull-right">
                {% include "app/Template_aker/button.html.twig" with {
                            'url': path('gpm_proyecto_edit', {'id': proyecto.id,}), 
                            'title': 'Modificar Proyecto', 
                            'icono': 'fa fa-edit',
                            'class': 'btn btn-s btn-bordered btn-default',   
                            } %}
                {% include "app/Template_aker/button.html.twig" with {
                'url': path('gpm_actividad_new', {'id': proyecto.id}), 
                'title': 'Agregar actividad', 
                'icono': 'fa fa-plus',
                'class': 'btn btn-s btn-bordered btn-default',   
                 }%}

            </div>
            <div class="panel-title">
                <div style="height: 20px;width: 20px;background-color: {{proyecto.color}};position: relative;float: left;margin-top: 2px;"></div>
                <h3>{{ proyecto.nombre}} </h3>
            </div>
            {#            <span class="badge pull-right bg-info-light"> {{ proyecto.codigo }}</span>#}
        </div>
        <div class="panel-body pad-h-20">
            <div class="panel">
                <div class="panel-heading bg-theme-light">
                    <div class="panel-title">
                        <h4>Datos Principales</h4>
                    </div>
                </div>
                <div class="panel-body pad-h-20">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <div class="col-md-6">
                                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Nombre', 'data': proyecto.nombre } %} 
                                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Inicio', 'data':  proyecto.fechaInicio ? proyecto.fechaInicio|date('d/m/Y'):'---'  } %} 
                                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Fin', 'data':  proyecto.fechaFin ? proyecto.fechaFin|date('d/m/Y'):'---'} %} 
                                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Estado', 'data':  proyecto.strEstado ? proyecto.strEstado:'---'} %} 
                                <dt>Progreso</dt>
                                <dd>
                                    <div id="barraProgreso">
                                        {% include "gpm/Proyecto/barra_progreso.html.twig" with { 'proyecto':proyecto } %}  
                                    </div>
                                </dd>

                            </div>
                            <div class="col-md-6">
                                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Código', 'data': proyecto.codigo } %} 
                                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Responable', 'data': proyecto.responsable  ? proyecto.responsable.persona.nombre:'---'  } %} 
                                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Cliente', 'data': proyecto.cliente? proyecto.cliente.nombre : '---' } %} 
                                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Contratista', 'data': proyecto.contratista? proyecto.contratista.nombre : '---' } %} 
                            </div>
                            <div class="col-md-12" style=" word-wrap: break-word;">
                                <dt>Descripción</dt>
                                <dd>
                                {{ proyecto.descripcion|raw }} 
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading bg-theme-light">
                    <div class="panel-title">
                        <h4>Actividades</h4>
                    </div>
                </div>
                <div class="panel-body pad-h-20">
                    <div class="col-md-12">
                        {% include "gpm/Actividad/actividades.html.twig" with {'proyecto':proyecto} %} 

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{%  block js  %}
    {{ parent() }}    
    {{ mapa.renderJs()|raw }}
    <script type="text/javascript">
        {% include "apmon/Mapa/gmaps-lib.script.js" %}    
        {% include "gpm/Proyecto/proyecto.js" %}  
        {% include "gpm/Actividad/actividad.js" %}  
        {% include "gpm/Referencia/dialog-referencia-crear.script.js" %}  
    </script>
{% endblock %}
