<div class="titulo col-xs-12 col-md-12">
    <div class="col-xs-12 col-md-1 h4">
        <div style="width: 15px;height: 15px;background-color:{{proyecto.color}};"></div>
    </div>
    <div class="col-xs-12 col-md-5"><h5><a href="{{ path('gpm_proyecto_show',{'id':proyecto.id}) }}">{{ proyecto.nombre }}</h5></div>
    <div class="col-xs-12 col-md-6" style="padding-top: 5px;">
        <div class="col-xs-4 col-md-2"><a title="Ver Proyecto" class="btn btn-xs btn-default"  href="{{ path('gpm_proyecto_show',{'id':proyecto.id}) }}"><i class="fa fa-eye"></i></a></div>
        <div class="col-xs-4 col-md-2"><a title="Modificar Proyecto" class="btn btn-xs btn-default" href="{{ path('gpm_proyecto_edit',{'id':proyecto.id}) }}"><i class="fa fa-edit"></i></a></div>
        <div class="col-xs-4 col-md-2"><a title="Agregar Actividad" href="{{ path('gpm_actividad_new',{'id':proyecto.id}) }}" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i>
            </a></div>
    </div>
</div>
