<div class="row">
  <h3>{{ data.nombre }}</h3>
  <div style="height:300px; overflow-y: scroll;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-md-2">Fecha</th>
          <th class="col-md-5">Infracción</th>
          <th class="col-md-5">Ubicación</th>
        </tr>
      </thead>
      <tbody>
        {% for posicion in data.posiciones %}         
            <tr>
              <td title="ubicar en el mapa" style="cursor: pointer;" onclick="gotoCenter('{{ posicion.latitud }}','{{ posicion.longitud }}',true)">
               <b>{{ posicion.fecha|date('d-m-Y H:i:s', app.user.timeZone) }}</b>
              </td>
              <td>
               Velocidad <b>{{ posicion.velocidad }} Kms/h</b>, ( permitida de <b>{{ posicion.velMaxPermitida }} Kms/h</b> )
              </td>
              <td>{{ posicion.ubicacion }}</td>
            </tr>
          
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
