<section class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
      Detalles del Informe
      	{% if isExport and notIsEmpty %}
				<a href="javascript:void(0)" class="btn btn-default btn-primary btn-sm pull-right" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a>
				<form name="formexport" action="{{ path('informe_export') }}" method="POST">
				<input type="hidden" name="uid" value="{{ uid}}"/>
				</form>
			{% endif %}
    </div>
		
	</div>
	<div class="panel-body">
		<div class="row-fluid"> <strong> Asunto: </strong>{{ dataInforme and dataInforme.asunto is defined ? dataInforme.asunto : '---' }} </div>
		<table class="table table-condensed">
			<tr>
				<td>
					<strong>Desde</strong>
				</td>
				<td>{{ dataInforme and dataInforme.desde is defined ? dataInforme.desde : '---' }}</td>
				<td>
					<strong>Velocidad Máxima</strong>
				</td>
				<td>{{ dataInforme and dataInforme.velocidad_maxima is defined ? dataInforme.velocidad_maxima : '---' }}</td>
			</tr>
			<tr>
				<td>
					<strong>Hasta</strong>
				</td>
				<td>{{ dataInforme and dataInforme.hasta ? dataInforme.hasta : '---' }}</td>
				<td>
					<strong>Mostrar Direcciones</strong>
				</td>
				<td>{{ dataInforme and dataInforme.mostrar_direcciones is defined and dataInforme.mostrar_direcciones == '1' ? 'Sí' : 'No' }}</td>
			</tr>
			<tr>
				<td>
					<strong>Servicio</strong>
				</td>
				<td>{{ dataInforme and dataInforme.nombreServicio is defined ? dataInforme.nombreServicio : '---' }}</td>
				<td>
					<strong>Referencia</strong>
				</td>
				<td>{{ dataInforme and dataInforme.nombreReferencia is defined ? dataInforme.nombreReferencia : '---' }}</td>
			</tr>
		</table>
	</div>
