{% if (data|length) > 0 %}
  <div class="row">
    <div class="row" style="display: flex;">
      <div class="col-md-8"></div>
    </div>
  </div>
  <div class="row">
   <table class="table table-bordered">
      <thead>
        <tr>
          <th>Servicio</th>
          <th>Mapa</th>
          <th>Fecha</th>
          <th>Máxima alcanzada</th>
          <th>Máxima promedio</th>
          <th>Máxima permitida</th>
          <th>Tiempo en exceso</th>
          <th>Distancia en exceso</th>
          <th>Ubicación</th>
        
        </tr>
      </thead>
      <tbody>
        {% for servicios in data %}
          {% for key, excesos in servicios %}
            {% if key != 'total' %}
              {% for k,loopExceso in excesos %}
               {% if  k != 'referenciasHidden' %}
                <tr>
                  {% if loop.index0 == 0 %} {# Solo en la primera iteración añadimos el rowspan #}
                    <td rowspan="{{ excesos|length - 1}}">{{ key }}
                    </td>
                    <td rowspan="{{ excesos|length - 1}}">
                    <button onclick="detalle('{{inbox.uid}}','{{servicios["servicio"]}}')" title="ver detalles de este servicio" class="btn btn-sm btn-default" style="margin-bottom: 10px;"><i class="fa fa-eye"></i></button>
                    </td>
                  {% endif %}
                  <td>{{ loopExceso.fecha }}</td>
                  <td>{{ loopExceso.maxima_alcanzada }}</td>
                  <td>{{ loopExceso.maxima_promedio }}</td>
                  <td>{{ loopExceso.maxima_permitida }}</td>
                  <td>{{ loopExceso.tiempo_total }}</td>
                  <td>{{ loopExceso.total_metros_recorridos|number_format(2, ',', '')  }} kms</td>
                  <td>{{ loopExceso.ubicacion }}</td>
                
                </tr>
               {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
