{% extends "app/Template/list.html.twig" %}

{% block titulo %}CRM{% endblock %}        
{% block subtitulo %}Categorías{% endblock %}        
{% block contentpanel %}        
    <div class="panel">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table condensed-table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cat in categorias %}
                            <tr>
                                <td><a href="{{ path('crm_categoria_edit',{'id': cat.id})}}">{{ cat.nombre }}</a></td>
                                <td> 
                                    <a href="{{ path('crm_categoria_edit',{'id': cat.id})}}" class="btn btn-sm btn-default btn-bordered">Editar</a>
                                    <a href="{{ path('crm_categoria_delete',{'id': cat.id})}}" class="btn btn-sm btn-default btn-bordered">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}



