{% extends "app/Template/form.html.twig"%}
{% form_theme form 'app/Form/personal_fields.html.twig' %}

{% block titulo %}CRM{% endblock %}
{% block subtitulo %}Alta de Categoría{% endblock %}

{% block formulario %}
    <form method="POST">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Categoría</div>
            </div>
            <div class="panel-body">
                {% include "crm/Categoria/form.html.twig" %}        
            </div>
        </div>
        {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Agregar' } %}        
    </form>
{% endblock %}
