{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "apmon/Categoria/delete_form.html.twig" %} 
{% endblock %} 


{% block titulo %}
    {{ categoria.nombre }}
{% endblock %}

{% block contentpanel %}

<div class="row row-show">
    <div class="span8">
        <h3>Datos de categoria</h3>
        <div class="row row-show">
            <div class="span3 column-label">Nombre</div>
            <div class="column-show">{{ categoria.nombre }}</div>
        </div>
    </div>
</div>

{% endblock %}

