{% if is_granted("ROLE_APMON_PANICO_REGISTRAR") and cantidad is defined and cantidad > 0 %}
    <div class="btn-notification" >
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#usr">
                <i class="icon-bell"></i>
            </a>
            <ul class="dropdown-menu pull-left">
                {% for panico in panicos %}
                    {% if loop.index <= 10%}
                        <li style="text-align: left">                     
                            <a href="{{ path('main_panico_registrar', {'id': panico.id}) }}">{{ panico.titulo }}</a>
                        </li>
                    {% endif %} 
                {% endfor %} 
                {% if panicos|length > 10 %}
                    <em style="color: black">y otros...</em>
                {% endif %}
                <li class="divider"></li>
                <li style="text-align: left"><a href="{{ path('main_panico_pendientes', {'id': app.user.organizacion.id}) }}">Ver todos...</a></li>
            </ul>
        </div>
        <span class="notification blinker" id="blinker"><b>{{ cantidad }}</b></span>
    </div>
{% endif %}