{# {% if is_granted("ROLE_TAREAS_MANT_VER") and cantidad is defined and cantidad > 0 %} #}

    <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
        <i class="fa fa-bell"></i>
        <span class="badge">{{ cantidad|default('')}}</span>
    </a>

    <div class="dropdown-menu notification-menu">
        <div class="content">
            <ul>
               {% for  mante in mantenimientos %}
                {% if loop.index < 10 %}
                <li>
                    <a href="#" class="clearfix">
                        <span class="title">  <a href="{{ path('tareamant_showservicio',{'id': mante['idServicio']})}}">
                        <img src="{{ asset('images/ball_'~ mante['status']['color'] ~ '.png') }}">
                        {{ mante['message'] }}
                    </a></span>
                        
                    </a>
                </li>
            <hr />
             {% endif %} 
            {% endfor %} 
            {% if mantenimientos|length >= 10 %}
                <em style="color: black">y otros...</em>
            {% endif %}
            </ul>

            <div class="text-right">
                <a href="{{ path('tarea_mant_list',{'idOrg':organizacion.id,'estado':'3'})}}" class="view-more">Ver Todos</a>
            </div>
        
    </div>
{# {% endif %} #}
