<!-- Modal -->
<div class="modal fade modal-header-color modal-block-warning" id="modalEvento" role="dialog" aria-labelledby="modalActividadNewLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<section class="panel">
				<header class="panel-heading">
					<h2 class="panel-title">Atención!</h2>
				</header>
				<div class="panel-body">
					<div class="modal-wrapper">
						<div class="modal-icon">
							<i class="fa fa-warning"></i>
						</div>
						<div class="modal-text">
							<p>
								Estos son eventos nuevos que han llegado y necesitan atención. Puede acceder a ellos desde esta pantalla o bien desde
								<a href="{{ path('app_eventotemporal_list') }}">este link</a></p>
							<div id="alerta_evento_data"></div>
						</div>
					</div>
				</div>
				{#<footer class="panel-footer">
					<div class="row">
						<div class="col-md-8">
							<b>
								<div id="alerta_evento_count"></div>
							</b>
						</div>
						<div class="col-md-4 text-right">
							<button class="btn btn-warning modal-dismiss">OK</button>
						</div>
					</div>
				</footer>#}
			</section>

		</div>
	</div>
</div>
