<a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
	<i class="fa fa-bell"></i>
	<span class="badge">{{ cantidad|default('')}}</span>
</a>

<div class="dropdown-menu notification-menu">

	<div class="notification-title">
		<span class="pull-right">
			<a href="{{ path('app_eventotemporal_list') }}" class="btn-primary mb-xs mt-xs mr-xs btn btn-xs btn-default ">Ver todos...</a>
		</span>
		<h6>Eventos</h6>
	</div>

	<div class="content">
		<ul>
			{% for evento in eventos %}
				<li>
					<a href="{{ path('app_eventohistorico_show', {'id': evento.eventoHistorial.id}) }}" class="clearfix">
						<div class="image">
							<i class="fa fa-exclamation-triangle bg-warning"></i>
						</div>
						<span class="title">{{ evento.titulo }}</span>
						<span class="message">---</span>
					</a>
				</li>
			{% endfor %}
		</ul>

		<hr>

		<div class="text-right">
			<a href="{{ path('app_eventotemporal_list') }}" class="view-more">Ver Todos</a>
		</div>
	</div>

</div>
{# 
<div class="content">
		<ul>
			{% for evento in eventos %}
				<li>
					<a href="#" class="clearfix">
						<span class="title">
							<a href="{{ path('app_eventohistorico_show', {'id': evento.eventoHistorial.id}) }}">{{ evento.titulo }}</a>
						</span>
					</a>
                    {{ evento.titulo }}
				</li>
			{% endfor %}
			{% if eventos|length >= 10 %}
				<em style="color: black">y otros...</em>
			{% endif %}
		</ul>

		<div class="text-right">
			<a href="{{ path('app_eventotemporal_list') }}" class="view-more">Ver Todos</a>
		</div>

	</div>
 #}
