<div class="logo-container">
	{% include "app/Template_aker/sectorLogo.html.twig" %}
	<button class="btn header-btn-collapse-nav hidden-md hidden-lg" data-toggle="collapse" data-target=".header-nav">
		<i class="fa fa-bars"></i>
	</button>
	{#    {% if is_granted("ROLE_USER") %}#}
{# {% block menu %}                      
            {% include "app/Template_aker/menu.html.twig" %}
        {% endblock %} #}
	{#    {% endif %}#}
</div>
<!-- start: search & user box -->
<div
	class="header-right">
	{#<form action="pages-search-results.html" class="search nav-form">
	        <div class="input-group input-search">
	            <input type="text" class="form-control" name="q" id="q" placeholder="Buscar...">
	            <span class="input-group-btn">
	                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
	            </span>
	        </div>
	    </form>#}
	{% include "app/Template_aker/search.html.twig" %}

	<span class="separator"></span>

	<ul class="notifications">
		<li>
			<div class="btn-notification-aker">
				<div class="btn-notification-aker">
					<a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown" aria-expanded="true">
						<i class="fa fa-bell"></i>						
					</a>

					<div class="dropdown-menu notification-menu">

						<div class="notification-title">
							<h6>Eventos</h6>
						</div>
						<div class="content">
							<h4>No tiene eventos nuevos</h4>
							<p>
								<a href="/eventotemporal/list" class="btn btn-default btn-primary">Eventos online</a>
							</p>
						</div>

					</div>
				</div>
			</div>
			<div class="btn-notification-mante"></div>
		</li>
	</ul>

	<span class="separator"></span>

	<div id="userbox" class="userbox">
		{% include "app/Template_aker/sectorUser.html.twig" %}
	</div>
</div>
<!-- end: search & user box -->
