{% set icon_raw = '' %}
{% if icono is defined %}
    {% set icon_raw = '<span class="' ~ icono ~'" aria-hidden="true"></span>' %}    
{% endif %}    
{% if role is defined and role != '' %}
    {% if is_granted(role) %}
        <a href="{{ url }}" class="btn btn-bordered {{ class }}" title="{{ title|default('') }}" data-toggle="{{ datatoggle|default('') }}" data-target="{{ datatarget|default('') }}" type="{{ type|default('') }}">
            {{ icon_raw|raw }} {{ texto|default('') }}
        </a>
    {% endif %}
{% else %}
    <a href="{{ url }}" class="btn btn-bordered {{ class }}" title="{{ title|default('') }}" data-toggle="{{ datatoggle|default('') }}" data-target="{{ datatarget|default('') }}" type="{{ type|default('') }}">
        {{ icon_raw|raw }} {{ texto|default('') }}
    </a>
{% endif %}