{% if error is not empty %}
    <div class="alert alert-danger">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Error !</strong> {{ error|raw }}
    </div>
{% endif %}

