{% if is_granted("ROLE_USER") %}
  <p>      
    {% if app.user.organizacion  %} {#  tiene organizacion   #}
        {% if app.user.organizacion.tipoOrganizacion == 1 %} {#  es un distribuidor     #}              
            {{ app.user.organizacion.footer }}  
        {% else %}
            {{ app.user.organizacion.organizacionPadre.footer }}
        {% endif %} 
    {% endif %}
            
    | <em><b>v.{{ aker_version_numero }}</b> {{ aker_version_fecha }} </em> | {{ aker_server_name }}
  </p>      
{% endif %}     