{% extends "app/Template_aker/layout.html.twig" %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('/plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>            
    <script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n.min.js') }}" /></script>  
{% endblock %}

{% block content %}
    {% block navbar %}
        {% include "app/Template_aker/navbar.html.twig" %}
    {% endblock %}

    <div class="col-md-12 no-padding">
        <section class="panel ">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                </div>

                <h2 class="panel-title">
                    {% block subtitulo %}
                    {% endblock %}
                </h2>
            </header>
            <div class="panel-body">
               {# {% if block('informacion') is not empty %}
                    <div class="alert alert-{{ panel_status is defined ? panel_status : 'info' }}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {% block informacion %}
                        {% endblock %}        
                    </div>
                {% endif %}#}
                <!-- start: page -->
                {% block contentpanel %}
                {% endblock %}
                <!-- end: page -->
                {% if time is defined %}
                    <hr>
                    <small><i>Tiempo de Generación: {{ time }}</i></small>
                {% endif %}
            </div>
        </section>
    </div>

{% endblock %}
{# se imprime el tiempo de generacion del informe en caso de que existe la varaible. #}
