{% extends "app/Template_aker/layout.html.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css" rel="stylesheet"/>
{% endblock %}

{% block js %}
    {{ parent() }}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/es.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}


{#<div id="modalWait" data-toggle="modal" class="modal hide wait">Generando informe, espere...</div>#}
{% block content %}    
    {% block navbar %}
        {% include "app/Template_aker/navbar.html.twig" %}
    {% endblock %}

    {% block informacion %}
    {% endblock %}

    <!-- start: page -->
    {% block formulario %}
    {% endblock %}
    <!-- end: page -->

    {% block resultado %}
    {% endblock %}
    {% include "app/Template/alerta_evento_form.html.twig" %}   

{% endblock %}

