{% extends "layout_aker.html.twig" %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block js %}
    {% set pathProto = 'porto/' %}   {# seteo la ubicacion del dee #}
    
    </script>
{% endblock %}

{% block content %}    
    {% block navbar %}
        {% include "app/Template_aker/navbar.html.twig" %}
    {% endblock %}

    {% block informacion %}
    {% endblock %}

    <!-- start: page -->
    {% block contentpanel %}
    {% endblock %}
    <!-- end: page -->

    {% block formdelete %}
    {% endblock %}
{% endblock %}

