{# Este layout implementa los bloques que deben heredarse en el resto ademas
de todas las configuraciones necesarias para el layout-ui #}
{% extends "app/Template_aker/layout-mapa-full.html.twig" %}
{% block css %}
   
    <link rel="stylesheet" href="{{ asset('css/complex.css') }}" type="text/css" media="all" /> 
    <link rel="stylesheet" href="{{ asset('plugins/spectrum/spectrum.css') }}" type="text/css" media="all" /> 
    <style>
        /** sobreescribo algunas propiedades del ui */
        .ui-dialog-titlebar {
            padding: 2px;
            background: #4280B1;
            font-weight: bold;
        }    
        .ui-layout-west, .ui-layout-east {
            background-color: #fff;               
        } 
        .ui-layout-north {
            overflow: hidden;
            overflow-x: hidden;
            overflow-y: hidden;
        }


        #accordion-west h3, #accordion-east h3 { /* Headers & Footer in Center & East panes */
            padding: 4px 7px 4px 7px;
            margin:	0px;
        }

        .mapa-accordion-west-content, .mapa-accordion-east-content {
            padding: 5px !important;
        }

        .accordion-inner {                
        }

        .accordion-inner h3 {
            background: #4280B1;
            font-size: 14px;
            border-color: #8FA2B1;
        }

        .accordion-inner h3:hover {
            background: #68B3EE;                
            border-color: #8FA2B1;
        }

        .accordion-head-title {
            color: white !important;                
        }

        .accordion-head-title.selected {
            color: red !important;                
        }
            
        /*.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #053d4d; background: #4da1ff url(images/ui-bg_gloss-wave_50_4da1ff_500x100.png) 50% 50% repeat-x; font-weight: normal; color: #000000; }*/
        {% include "apmon/Mapa/dialog-styles.html.twig" %} 
        
        {{ parent() }}
            
    </style>
{% endblock %}

{% block js %}
{{ parent() }}
{{ mapa.renderJs()|raw }} 
<script src="{{ asset('plugins/spectrum/spectrum.js') }}" /></script>     
    
<script type="text/javascript">
    
{% include "apmon/Mapa/auxiliares.script.js" %}
{% include "apmon/Mapa/gmaps-lib.script.js" %}    
{% include "apmon/Mapa/dialog-iconos.script.js" %}
{% include "apmon/Mapa/dialog-referencia-crear.script.js" %}
{% include "apmon/Mapa/dialog-referencia-redibujar.script.js" %}
{% include "apmon/Mapa/dialog-referencia-ubicar.script.js" %}
    
    
var myLayout, layoutSettings;

function toggleLiveResizing () {
        $.each( $.layout.config.borderPanes, function (i, pane) {
                var o = myLayout.options[ pane ];
                o.livePaneResizing = !o.livePaneResizing;
        });
};

function toggleStateManagement ( skipAlert, mode ) {
        if (!$.layout.plugins.stateManagement) return;

        var options	= myLayout.options.stateManagement
        ,	enabled	= options.enabled // current setting
        ;
        if ($.type( mode ) === "boolean") {
                if (enabled === mode) return; // already correct
                enabled	= options.enabled = mode
        }
        else
                enabled	= options.enabled = !enabled; // toggle option

        if (!enabled) { // if disabling state management...
                myLayout.deleteCookie(); // ...clear cookie so will NOT be found on next refresh
                if (!skipAlert)
                        alert( 'This layout will reload as the options specify \nwhen the page is refreshed.' );
        }
        else if (!skipAlert)
                alert( 'This layout will save & restore its last state \nwhen the page is refreshed.' );

        // update text on button
        var $Btn = $('#btnToggleState'), text = $Btn.html();
        if (enabled)
                $Btn.html( text.replace(/Enable/i, "Disable") );
        else
                $Btn.html( text.replace(/Disable/i, "Enable") );
};

$(document).ready(function () {
    myLayout = $('body').layout( myLayoutSettings );

    // save selector strings to vars so we don't have to repeat it
    // must prefix paneClass with "body > " to target ONLY the outerLayout panes
    var westSelector = "body > .ui-layout-west"; // outer-west pane
    var eastSelector = "body > .ui-layout-east"; // outer-east pane

     // CREATE SPANs for pin-buttons - using a generic class as identifiers
    $("<span></span>").addClass("pin-button").prependTo( westSelector );
    $("<span></span>").addClass("pin-button").prependTo( eastSelector );
    // BIND events to pin-buttons to make them functional
    myLayout.addPinBtn( westSelector +" .pin-button", "west");
    myLayout.addPinBtn( eastSelector +" .pin-button", "east" );

     // CREATE SPANs for close-buttons - using unique IDs as identifiers
    $("<span></span>").attr("id", "west-closer" ).prependTo( westSelector );
    $("<span></span>").attr("id", "east-closer").prependTo( eastSelector );
    // BIND layout events to close-buttons to make them functional
    myLayout.addCloseBtn("#west-closer", "west");
    myLayout.addCloseBtn("#east-closer", "east");


    myLayout.bindButton('#openAllPanes', 'open', 'north')
        .bindButton('#openAllPanes', 'open', 'west')
        .bindButton('#openAllPanes', 'open', 'east')
        .bindButton('#closeAllPanes', 'close', 'north')
        .bindButton('#closeAllPanes', 'close', 'west')
        .bindButton('#closeAllPanes', 'close', 'east');

    //ACCORDION - in the East pane
    $("#accordion-east").accordion({ 
      //  fillSpace:	true,
        icons:          null,
        heightStyle: "content",
    });   
});

//#######################
// MYLAYOUT SETTINGS
//#######################
var myLayoutSettings = { 
    name: "myLayout" // NO FUNCTIONAL USE, but could be used by custom code to 'identify' a layout
    // options.defaults apply to ALL PANES - but overridden by pane-specific settings
    , defaults: {
        size:					"auto"
        ,	minSize:			50
        ,	paneClass:			"pane" 		// default = 'ui-layout-pane'
        ,	resizerClass:			"resizer"	// default = 'ui-layout-resizer'
        ,	togglerClass:			"toggler"	// default = 'ui-layout-toggler'
        ,	buttonClass:			"button"	// default = 'ui-layout-button'
        ,	contentSelector:		".content"	// inner div to auto-size so only it scrolls, not the entire pane!
        ,	contentIgnoreSelector:  	"span"		// 'paneSelector' for content to 'ignore' when measuring room for content
        ,	togglerLength_open:		35			// WIDTH of toggler on north/south edges - HEIGHT on east/west edges
        ,	togglerLength_closed:           35			// "100%" OR -1 = full height
        ,	hideTogglerOnSlide:		true		// hide the toggler when pane is 'slid open'
        ,	togglerTip_open:		"Cerrar este panel"
        ,	togglerTip_closed:		"Abrir este panel"
        ,	resizerTip:			"Ajustar este panel"
        //	effect defaults - overridden on some panes
        ,	fxName:				"slide"		// none, slide, drop, scale
        ,	fxSpeed_open:			100
        ,	fxSpeed_close:			1000
        ,	fxSettings_open:		{ easing: "easeInQuint" }
        ,	fxSettings_close:		{ easing: "easeOutQuint" }
    }
    ,   north: {
            slidable:       false	// OVERRIDE the pane-default of 'slidable=true'
        ,   resizable:      false           //no quiero que se cambie el tamaño
        ,   onopen_end:     function () { {{ mapa.fcRedimensionar() }}(); }
        ,   onclose_end:    function () { {{ mapa.fcRedimensionar() }}(); }
    }   
    ,   west : {
           size:                    420
        ,   minSize:                300
        ,   resizable:              true   
        ,   overflow:               true
        ,   spacing_closed:         21			// wider space when closed
        ,   togglerLength_closed:   21			// make toggler 'square' - 21x21
        ,   togglerAlign_closed:    "top"		// align to top of resizer
        ,   togglerLength_open:     0			// NONE - using custom togglers INSIDE west-pane
        ,   togglerTip_open:        "Cerrar panel izquierdo"
        ,   togglerTip_closed:      "Abrir panel izquierdo"
        ,   resizerTip_open:        "Ajustar panel izquierdo"
        ,   slideTrigger_open:      "click" 	// default
        ,   initClosed:             false
        ,   onopen_end:             function () { {{ mapa.fcRedimensionar() }}(); }
        ,   onclose_end:            function () { {{ mapa.fcRedimensionar() }}(); }
    }
    ,   east : {
        size:                       250
        ,   resizable:              true   
        ,   overflow:               false
        ,   spacing_closed:         21			// wider space when closed
        ,   togglerLength_closed:   21			// make toggler 'square' - 21x21
        ,   togglerAlign_closed:    "top"		// align to top of resizer
        ,   togglerLength_open:     0 			// NONE - using custom togglers INSIDE east-pane
        ,   togglerTip_open:        "Cerrar panel derecho"
        ,   togglerTip_closed:      "Abrir panel derecho"
        ,   resizerTip_open:        "Ajustar panel derecho"
        ,   slideTrigger_open:      "click"
        ,   initClosed:             true
        ,   onopen_end:             function () { {{ mapa.fcRedimensionar() }}(); }
        ,   onclose_end:            function () { {{ mapa.fcRedimensionar() }}(); }
        ,   onresize:               $.layout.callbacks.resizePaneAccordions
    }
};
       

</script>
{% endblock js %}

{% block body %}
<!-- manually attach allowOverflow method to pane -->
<div class="ui-layout-north" onmouseover="myLayout.allowOverflow('north')" onmouseout="myLayout.resetOverflow(this)">    
<div id="mapas-top">
    <div class="headbar-mapa">         
        {% include "app/Template_aker/barratop.html.twig" %}
        <div id="mapas-barramenu">  {# esta es la seccion del menu de opciones #}
          {% block menu %}
             {% include "sauron/Home/menu.html.twig" %}
          {% endblock %}
        </div>  
       {# <div id="bread">
            {{app.session.get('breadcrumb')| raw}}
        </div> #} 
    </div>
</div>

</div>

<!-- allowOverflow auto-attached by option: west__showOverflowOnHover = true -->
<div class="ui-layout-west">
    <div class="header">
        {% block west_title %}{% endblock %}    
    </div>
    <div class="content" style="padding: 0px;">
        <div id="panel-equipos">
            {% block west %}
            {% endblock %}    
        </div>
    </div>
</div>

<div class="ui-layout-east">
    <div class="header  no-scrollbar">
        {% block east_title %}
        {% endblock %}    
    </div>

    {% block east %}
    {% endblock %}    
</div>        
<div class="ui-layout-center" style="padding: 0px;">
 {{ mapa.renderHtml()|raw }} 
</div>


{% endblock body %}