{% block menu %}
	<aside id="sidebar-left" class="sidebar-left">

		<div class="sidebar-header">
			<div class="sidebar-title">
				Navegar
			</div>
			<div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
				<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
			</div>
		</div>
		<div class="nano has-scrollbar">
			<div class="nano-content" tabindex="0" style="right: -15px;">
				<nav id="menu" class="nav-main" role="navigation">
					<ul class="nav nav-main">
						{% if app.session.get('menuMapas')|length > 0 %}
							<li class="nav-parent nav-expanded nav-active">
								<a class="nav-link" href="#">
									<i class="fa fa-map" aria-hidden="true"></i>
									<span>Mapas</span>
								</a>
								{% if app.session.get('menuMapas')|length > 0 %}
									<ul class="nav nav-children" id="mainNav">
										{% include "apmon/Home/rendermenu.html.twig" with {'menu': app.session.get('menuMapas') } %}
									</ul>
								{% endif %}
							</li>
						{% endif %}
						{% if app.session.get('menuMonitor')|length > 0 %}
							<li class="nav-parent">
								<a class="nav-link" href="#">
									<i class="fa fa-desktop" aria-hidden="true"></i>
									<span>Monitoreo</span>
								</a>
								{% if app.session.get('menuMonitor')|length > 0 %}
									<ul class="nav nav-children" id="mainNav">
										{% include "apmon/Home/rendermenu.html.twig" with {'menu': app.session.get('menuMonitor') } %}
									</ul>
								{% endif %}
                                
							</li>
                            
						{% endif %}

						{% if app.session.get('menuFlota')|length > 0 %}
							<li class="nav-parent">
								<a class="nav-link" href="#">
									<i class="fa fa-truck" aria-hidden="true"></i>
									<span>Flota</span>
								</a>
								{% if app.session.get('menuFlota')|length > 0 %}
									<ul class="nav nav-children" id="mainNav">
										{% include "apmon/Home/rendermenu.html.twig" with {'menu': app.session.get('menuFlota') } %}
									</ul>

								{% endif %}

							</li>
						{% endif %}
						{% if app.session.get('menuMante')|length > 0 %}
							<li class="nav-parent">
								<a class="nav-link" href="#">
									<i class="fa fa-cog" aria-hidden="true"></i>
									<span>Mantenimiento</span>
								</a>
								{% if app.session.get('menuMante')|length > 0 %}
									<ul class="nav nav-children" id="mainNav">
										{% include "apmon/Home/rendermenu.html.twig" with {'menu': app.session.get('menuMante') } %}
									</ul>

								{% endif %}

							</li>
						{% endif %}
						{% if app.session.get('menuInformes')|length > 0 %}
							<li class="nav-parent">
								<a class="nav-link" href="#">
									<i class="fa fa-clipboard" aria-hidden="true"></i>
									<span>Informes</span>
								</a>
								{% if app.session.get('menuInformes')|length > 0 %}
									<ul class="nav nav-children" id="mainNav">
										{% include "apmon/Home/rendermenu.html.twig" with {'menu': app.session.get('menuInformes') } %}
									</ul>

								{% endif %}

							</li>
						{% endif %}

						{% if app.session.get('menuConfig')|length > 0 %}
							<li class="nav-parent">
								<a class="nav-link" href="#">
									<i class="fa fa-user" aria-hidden="true"></i>
									<span>Configuración</span>
								</a>
								{% if app.session.get('menuConfig')|length > 0 %}
									<ul class="nav nav-children" id="mainNav">
										{% include "apmon/Home/rendermenu.html.twig" with {'menu': app.session.get('menuConfig') } %}
									</ul>

								{% endif %}

							</li>
						{% endif %}
					</ul>
				</nav>
			</div>

			<script>
				// Maintain Scroll Position
if (typeof localStorage !== 'undefined') {
if (localStorage.getItem('sidebar-left-position') !== null) {
var initialPosition = localStorage.getItem('sidebar-left-position'),
sidebarLeft = document.querySelector('#sidebar-left .nano-content');

sidebarLeft.scrollTop = initialPosition;
}
}
			</script>
			<div class="nano-pane" style="opacity: 1; visibility: visible;">
				<div class="nano-slider" style="height: 27px; transform: translate(0px, 6.07159px);"></div>
			</div>
		</div>

	</aside>
{% endblock %}
