{% extends "app/Template_aker/layout_monitor.html.twig" %}
{% set mainbundle = '/' %}   {# seteo la ubicacion del mainbundle #}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/layout-default-latest.css') }}" type="text/css" media="all" /> 
    {{ parent() }}    
    <style>
        .card-itinerario {
            background-color: #DBDBDB; 
            border-radius: 5px;
        }
        .card-servicio {
            background-color: white;
            border-radius: 5px;
        }
        .panel-content {
            border-color: #fff;
        }
        .ui-layout-west {
            padding: 0px;
            margin: 0px;
        }
        .ui-layout-center {
            padding: 0px;
        } 

        #panel-content-layout {
            /* HEIGHT */
            height:	100%;					
            min-height:	600px;
            _height:	600px; /* min-height for IE6 */
        }

        .panel-content{
            /*margin: 0px 10px 0px 10px;*/
            overflow-y: scroll;
            height: 100%            
        }

        .pane {
            display: none; /* will appear when layout inits */
        }
    </style>
{% endblock %}

{% block js %}
    {{ parent() }}
    {#  js generales #}

    {# es el js para el layout #}
    <script src="{{ asset('js/jquery.layout-1.4.4.js') }}" /></script> 
    <script src="{{ asset(mainbundle ~ 'plugins/measuretool/lib/MeasureTool.js') }}"/></script>     

<script type="text/javascript">
    var layoutSettings = {
    defaults: {
            applyDemoStyles: false,
            initClosed: false,
            resizable: true,
            slidable: true,
            livePaneResizing: true,
            onopen_end: function () { {{ mapa.fcRedimensionar() }}(); },
            onclose_end: function () { {{ mapa.fcRedimensionar() }}(); }
        },  
        west: {
            width: 450,
            minSize: 300,
            autoResize:  true,
            autoReopen:  true,
        },
        east: {
            width: 400,
            minSize: 300,
            autoResize:  true,
            autoReopen:  true,
        },
        center: {
        // overflow: true,
        },
        // south: {
        //     resizable: true,
        //     size: 200,
        //     overflow: true,
        // }
    };
    $(document).ready(function () {
        $('select').select2({ width: "100%" });
        //aca lanzo el layout con los contenedores
        var mapLayout = $('#panel-content-layout').layout(layoutSettings);    
        
        //var alturaDePantalla = $(window).height();        
        //$("#contenedor-layout").css("height", alturaDePantalla + "px");
       //$(".panel-content-layout").css("min-height", alturaDePantalla + "px");
        
     });
  
</script>


{% endblock %}

{% block content %}
    <div id="panel" class="panel">
        <div class="clearfix"></div>
        <div class="body">
            <div id="panel-body">                
                {% block generico %}{% endblock %}   
                <div id="contenedor-layout">
                    <div id="panel-content-layout" class="panel-content">
                        <div class="pane ui-layout-center">
                            {% block centerpanel %}
                            {% endblock %}   
                        </div>                             
                        <div class="pane ui-layout-west">
                            {% block westpanel %}
                            {% endblock %}
                        </div>
                        <div class="pane ui-layout-east">
                            {% block eastpanel %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}