<div class="btn-toolbar no-margin" role="toolbar" aria-label="...">
    {% if menu is defined and menu != '' %}
        {% for k, button in menu %}
            {% if k == 'html' %}
                <div class="btn-group btn-group-sm" role="group">
                    -- {{ button|raw }}
                </div>
            {% else %}
                {% if button|length > 0 %}
                    <div class="btn-group" role="group">
                        {% for key, item in button %}
                            {% if item['submenu'] is defined %}
                                <div class="btn-group btn-sm" role="group">
                                    {# entro aca cuando tengo un submenu desplegable del boton #}
                                    <a href="{{ item['url'] }}" 
                                       {{ item['extra']  is defined ? item['extra'] : '' }} 
                                       class="btn btn-bordered dropdown-toggle {{ item['class'] is defined ? item['class'] : 'btn-default'}}" 
                                       data-toggle="dropdown" 
                                       role="button"  
                                       title="{{ item['title'] is defined ? item['title'] : '' }}"
                                       {{ item['id'] is defined ? 'id=%s'|format(item['id']) : '' }}
                                       >
                                        {% if item['imagen'] != '' %}
                                            <span class="{{ item['imagen'] }}" aria-hidden="true"></span>
                                        {% endif %}
                                        {{ item['label']|e }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for it in item['submenu'] %}
                                            <li>
                                                <a href="{{ it['url']|default('#') }}" 
                                                   {{ it['extra']  is defined ? it['extra'] : '' }}  
                                                   title="{{ it['title'] is defined ? it['title'] : '' }}"
                                                   {{ it['id'] is defined ? 'id=%s'|format(it['id']) : '' }}
                                                   >
                                                    {% if it['imagen']|default('') != '' %}
                                                        <span class="{{ it['imagen'] }}" aria-hidden="true"></span>
                                                    {% endif %}
                                                    {{ it['label']|default('')|e }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                {% if item|length > 0  %}
                                    <a href="{{ item['url'] }}" 
                                       {{ item['extra']  is defined ? item['extra'] : '' }} 
                                       class="btn btn-bordered btn-sm {{ item['class'] is defined ? item['class'] : 'btn-default'}}" 
                                       role="button" title="{{ item['title'] is defined ? item['title']|e : '' }}"
                                       {{ item['id'] is defined ? 'id=%s'|format(item['id']) : '' }}
                                       >
                                        {% if item['imagen'] != '' %}
                                            <span class="{{ item['imagen'] }}" aria-hidden="true"></span>
                                        {% endif %}
                                        {#{{ item['label']|e }}#}
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if form is defined %}
        {{ form|raw }}
    {% endif %}
</div>
