<div class="btn-toolbar navbar-btn" role="toolbar" aria-label="...">
	{% if menu is defined and menu != '' %}
		{% for k, button in menu %}
			{% if k == 'html' %}
				{{ button|raw }}

			{% else %}
				{% if button|length > 0 %}
					<div class="btn-group" role="group">
						{% for key, item in button %}
							{% if item['submenu'] is defined %}
								<div
									class="btn-group" role="group">
									{# entro aca cuando tengo un submenu desplegable del boton #}
									<a href="{{ item['url'] }}" {{ item['extra'] is defined ? item['extra'] : '' }} class="btn btn-bordered dropdown-toggle {{ item['class'] is defined ? item['class'] : 'btn-default'}}" data-toggle="dropdown" role="button" title="{{ item['title'] is defined ? item['title'] : '' }}" {{ item['id'] is defined ? 'id=%s'|format(item['id']) : '' }}>
										{% if item['imagen'] != '' %}
											<span class="{{ item['imagen'] }}" aria-hidden="true"></span>
										{% endif %}
										{{ item['label']|e }}
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										{% for it in item['submenu'] %}
											<li>
												<a href="{{ it['url']|default('#') }}" {{ it['extra'] is defined ? it['extra'] : '' }} title="{{ it['title'] is defined ? it['title'] : '' }}" {{ it['id'] is defined ? 'id=%s'|format(it['id']) : '' }}>
													{% if it['imagen']|default('') != '' %}
														<span class="{{ it['imagen'] }}" aria-hidden="true"></span>
													{% endif %}
													{{ it['label']|default('')|e }}
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							{% else %}
								{% if item|length > 0  %}
									{% if item['imagen'] is iterable %}
										<a href="{{ item['url'] }}" {{ item['extra'] is defined ? item['extra'] : '' }} class="btn btn-bordered {{ item['class'] is defined ? item['class'] : 'btn-default'}}" role="button" title="{{ item['title'] is defined ? item['title']|e : item['label']|e }}" {{ item['id'] is defined ? 'id=%s'|format(item['id']) : '' }} data-toggle="tooltip" data-original-title="{{ item['label']|e }}">
											{% for imagen in item['imagen'] %}
												<span class="{{ imagen }}" aria-hidden="true"></span>
											{% endfor %}
										</a>
									{% else %}
										{% if item['imagen'] != '' %}
											<a href="{{ item['url'] }}" {{ item['extra'] is defined ? item['extra'] : '' }} class="btn btn-bordered {{ item['class'] is defined ? item['class'] : 'btn-default'}}" role="button" title="{{ item['title'] is defined ? item['title']|e : item['label']|e }}" {{ item['id'] is defined ? 'id=%s'|format(item['id']) : '' }} data-toggle="tooltip" data-original-title="{{ item['label']|e }}">
												<span class="{{ item['imagen'] }}" aria-hidden="true"></span>
												{{ item['label']|e }}
											</a>
										{% endif %}
									{% endif %}
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
	{% if form is defined %}
		{#        {{ form|raw }}#}
	{% endif %}
</div>
