<div class="btn-group">
    <select class="form-control form-control-sm" id="{{id}}">
           {% for k,value in options %}
           <option value="{{k}}">{{value}}</option>
           {% endfor %}
    </select>
</div>