{% block css %}
    <style>
        body {
            font-family: 'Lato', sans-serif;
        }

        .overlay {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: -30px;
            background-color: #FFF;

            overflow-x: hidden;
            transition: 0.5s;
        }
        .titulo {
            {#            margin-top: -40px;#}
            background-color: #f6f6f6;
            margin-bottom: 10px;
        }

        .overlay-content {
            position: relative;
            top: 25%;
            padding: 5px;
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }

        .overlay a:hover, .overlay a:focus {
            color: #000;
        }

        .overlay .closebtn {
            padding-top: 150px;
            padding-left: 10px;
            position: absolute;
            font-size: 20px;
            z-index: 1;
        }

        .siOpacity {
            opacity: 0.4;
        }
        .noOpacity {
            opacity: 1;
        }

        {# @media screen and (max-height: 450px) {
             .overlay a {font-size: 20px}
             .overlay .closebtn {
                 font-size: 20px;
                 top: 15px;
                 right: 35px;
             }
         }#}
    </style>
{% endblock %}
<div id="myNav" class="col-xs-12 col-md-12 overlay">
    <div  class="col-xs-12 col-md-12">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav();
            "><i class="fa fa-chevron-right"></i></a>
    </div>
    <div id="titulo-sidebar" class="col-xs-12 col-md-12 overlay-content"></div>
    <div id="content-sidebar" class="col-xs-12 col-md-12 overlay-content"></div>
</div>


<script>
    function openNav() {
        if (document.getElementById("inner-wrapper").offsetWidth < 641) {
            document.getElementById("myNav").style.width = "100%";
        } else if (document.getElementById("inner-wrapper").offsetWidth < 1081) {
            document.getElementById("myNav").style.width = "60%";
        } else {
            document.getElementById("myNav").style.width = "40%";
        }
        $('.opacityContent').removeClass('noOpacity');
        $('.opacityContent').addClass('siOpacity');
    }

    function closeNav() {
        document.getElementById("myNav").style.width = "0%";
        $('.opacityContent').removeClass('siOpacity');
        $('.opacityContent').addClass('noOpacity');
    }
</script>


</html>
