<div class="col-md-{{ col|default(12) }}">
    <section class="panel {{ class|default() }}">
        <div class="panel-body">
            {% block cuerpo %}{% endblock %}
        </div>
        {% block anexo %}{% endblock %}   
    </section>
</div>