    <div class="alert alert-{{ panel_status is defined ? panel_status : 'info' }}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
{% block informacion %}
{% endblock %}        
    </div>
