{#<div class="col-md-{{ col|default(12) }} col-sm-{{ col|default(12) }}">#}
    <section class="panel {{ class|default() }}">
        <header class="panel-heading">
            <div class="panel-actions">
                {% block accion %}
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                {% endblock %}
            </div>

            <h2 class="panel-title">
                {% block titulo %}
                {% endblock %}
            </h2>
            <p class="panel-subtitle">
                {% block subtitulo %}
                {% endblock %}
            </p>
        </header>
        <div class="panel-body">
            {% block cuerpo %}
            {% endblock %}
        </div>

        {% block anexo %}
        {% endblock %}

    </section>
{#</div>#}