<div class="col-md-{{ col|default(12) }}">
    <section class="panel {{ class|default() }}">
        <header class="panel-heading">
            <div class="panel-actions">
                {% block accion %}{% endblock %}
                {# <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a> #}
            </div>

            <h2 class="panel-title ">
            {% block titulo %}{% endblock %}
            {% if block('subtitulo') is not empty %}
                | <small>{% block subtitulo %}{% endblock %}</small>
            {% endif %}

        </h2>
    </header>
    <div class="panel-body">
        {% block cuerpo %}
        {% endblock %}
    </div>

    {% block anexo %}
    {% endblock %}

    <footer class="panel-footer">
        {% block botones %}
        {% endblock %}
    </footer>
</section>
</div>