<div class="modal fade" id="{% block modalId %}{% endblock %}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% block modalTitulo %}{% endblock %}</h4>
            </div>
            <form  action="{% block modalUrl %}{% endblock %}" method="post">
                <div class="modal-body">
                    {% block modalBody %}            
                    {% endblock %}
                </div>
                <div class="modal-footer">
                    {% block modalOk %}            
                    {% endblock %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
