{% if app.user.organizacion.tipoOrganizacion is defined and app.user.organizacion.tipoOrganizacion == 1 %}
	<a href="#modalSearch" role="button" data-toggle="modal" class="btn btn-default">
		<i class="fa fa-search"></i>
		Buscar
	</a>
{% endif %}
