{% if is_granted("ROLE_USER") %}
    <a href="#" data-toggle="dropdown">
        <div class="profile-info" data-lock-name="{{ app.user.nombre ?  app.user.nombre : app.user.username }}" data-lock-email="{{ app.user.nombre ?  app.user.nombre : app.user.email }}">
            <span class="name">{{ app.user.nombre ?  app.user.nombre : app.user.username }}</span>
            <span class="role">{{ app.user.organizacion.nombre|default('---') }}</span>
        </div>

        <i class="fa custom-caret"></i>
    </a>

    <div class="dropdown-menu">
        <ul class="list-unstyled">
            <li class="divider"></li>
                {% if is_granted('ROLE_USUARIO_PROFILE_VER') %}                    
                <li>
                    <a role="menuitem" tabindex="-1" href="{{ path('user_profile_show')}}"><i class="fa fa-user"></i> Mi Perfil</a>
                </li>
            {% endif %}
            {% if app.user.organizacion.tipoOrganizacion is defined %}
                {% if app.user.organizacion.tipoOrganizacion == 1 %}
                    {% if is_granted('ROLE_SAURON_CUENTA_ADMIN') %}
                        <li>
                            <a role="menuitem" tabindex="-1" href="{{ path('distribuidor_show', {'id': app.user.organizacion.id, 'tab': 'main'})}}">Mi Distribuidora</a>
                        </li>
                    {% endif %}
                {% else %}
                    {% if is_granted('ROLE_APMON_CUENTA_ADMIN') %}
                        <li>
                            <a role="menuitem" tabindex="-1"  href="{{ path('apmon_cliente_show', {'id': app.user.organizacion.id, 'tab': 'main'})}}">Mi Cuenta</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if menuConfig is defined %}                     
                <li class="divider"></li>
                    {% for key, item in menuConfig %}                                     
                    <li>
                        <a role="menuitem" tabindex="-1" href="{{ item.url|raw }}" title="{{ item.title }}">{{ item.label|raw }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            <li class="divider"></li>
            <li>
                <a role="menuitem" tabindex="-1" href="{{ path('security_logout') }}"><i class="fa fa-power-off"></i> Salir</a>
            </li>
        </ul>
    </div>
 {% endif %}

