{#{% if is_granted("ROLE_USER") %}#}
    {% if app.user.organizacion  %} {#  tiene organizacion   #}
        {% if app.user.organizacion.tipoOrganizacion == 1 %} {#  es un distribuidor     #}
            <a href="{{ path('dist_homepage') }}" class="logo">
                {% if app.user.organizacion.getLogo() != null %}  
                    {# toma el logo que se encuentra en la session #}
                    {% include "app/Template_aker/render_logo.html.twig" with {'img': app.user.organizacion.getLogo(), 'alt': app.user.organizacion} %}
                {% elseif app.user.organizacion.organizacionPadre != null %}    
                    {# toma el logo del padre #}
                    {% include "app/Template_aker/render_logo.html.twig" with {'img': app.user.organizacion.organizacionPadre.getLogo(), 'alt': app.user.organizacion.organizacionPadre} %}
                {% else %}
                    {% include "app/Template_aker/render_logo.html.twig" with {'img': app.user.organizacion.getLogo(), 'alt': app.user.organizacion} %}
                {% endif %}
            </a>
        {% else %}
            <a href="{{ path('apmon_homepage') }}" class="logo">  {# Es un cliente #}
                {% if app.user.organizacion.getLogo() == null %}  {# la organizacion no tiene logo #}
                    {% if app.session.get('logo') is defined %}
                        {# tomo el logo de la session #}
                        {% include "app/Template_aker/render_logo.html.twig" with {'img': app.session.get('logo'), 'alt': app.user.organizacion.organizacionPadre} %}
                    {% else %}
                        {% include "app/Template_aker/render_logo.html.twig" with {'img': app.user.organizacion.organizacionPadre.getLogo(), 'alt': app.user.organizacion.organizacionPadre} %}
                    {% endif %}
                {% else %}
                    {# la organizacion tiene logo por lo que muestro su logo personalizado #}
                    {% include "app/Template_aker/render_logo.html.twig" with {'img': app.user.organizacion.getLogo(), 'alt': app.user.organizacion} %}
                {% endif %} 
            </a>    
        {% endif %} 
    {% else %}
        <a href="{{ path('main_default') }}" class="logo">
            {% include "app/Template_aker/render_logo.html.twig" with {'img': '/images/logo-security.png', 'alt': 'Security Consultant SA'} %}
        </a> 
    {% endif %}
{#{% endif %}#}
