<tr>
    <th>{{ label }}</th>
        {% if class is defined %}
        <td class="{{ class }}">
        {% else %}
        <td>
        {% endif %}    
        {% if img is defined %}
            <img src="{{ asset(img) }}">
        {% endif %}
        {{ data != null ? data|raw : '' }}
    </td>
</tr>