{% extends "app/Template_aker/layout.html.twig" %}

{% block js %}
    {{ parent() }}        
    <script type="text/javascript">
        $(document).ready(function () {
            $(".trigger").click(function () {
                $(".panel-slide").toggle("fast");
                $(this).toggleClass("active");
                return false;
            });
        });
    </script>
{% endblock js %}

{% block content %}
    <div class="tab tab-1p">
        <div class="tabs tabs-primary">
            {% block contenthead %}
            {% endblock %}

            <div class="tab-content">
                {% block navbar %}
                    {% include "app/Template_aker/navbar.html.twig" %}
                {% endblock %}

                {% block informacion %}
                {% endblock %}

                {% block contentpanel %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% block formdelete %}
    {% endblock %}

{% endblock content %}           
