{% if controles|length > 0 %}
    <img src="{{ asset('images/remote_control.png') }}" title="Tiene Control">
{% endif %}
{% if persona.panicoCelular %}
    <img src="{{ asset('images/phone_sound.png') }}" title="Panico Celular">
{% endif %}