{% extends "app/Template_aker/layout.html.twig" %}

{% block js %}
{{ parent() }}        
<script type="text/javascript">
    $(document).ready(function(){
            $(".trigger").click(function(){
                    $(".panel-slide").toggle("fast");
                    $(this).toggleClass("active");
                    return false;
            });
    });
</script>
{% endblock js %}

{% block content %}    
    {% block navbar %}
        {% include "app/Template_aker/navbar.html.twig" %}
    {% endblock %}
    
    {% block informacion %}
    {% endblock %}

    <!-- start: page -->
    {% block contentpanel %}
    {% endblock %}
    <!-- end: page -->

    {% block formdelete %}
    {% endblock %}
{% endblock %}
