{% if servicio.tipoServicio.getWebPath() is defined %}
<img src="{{ asset(servicio.tipoServicio.getWebPath()) }}" 
     alt="{{ servicio.tipoServicio }}" 
     class="img-rounded img-responsive"
     style='width: {{ size }}; text-align: center; border: 2px solid {{ servicio.color is defined ? servicio.color : "#FFA500"}};'
     >
{% endif %}


