{% if persona.enviasms %}
    <img src="{{ asset('images/sms.png') }}" title="Recibe SMS">
{% endif %}
{% if persona.enviamail %}
    <img src="{{ asset('images/hp_mail_2.png') }}" title="Recibe Email">
{% endif %}
{% if persona.enviapush %}
    <img src="{{ asset('images/notifications.png') }}" title="Recibe Push">
{% endif %}