<div class="row">
	<div class="col-md-4">{{ label }}</div>
	<div class="col-md-8">
		{% if img is defined %}
			<img src="{{ asset(img) }}">
		{% endif %}
		{{ data != null ? data : '' }}
	</div>
</div>
