  <ul class="submenu">
  {% if submenu is defined %}  
    {% for key, item in submenu %}
        <li>
            <a href={{ item['url'] }} {{ item['extra']  is defined ? item['extra'] : '' }}>
                {% if item['imagen'] != '' %}
                    <i class="{{ item['imagen'] }}"></i>
                {% endif %}
            {{ key|e }}
             </a>
        </li>
   {% endfor %}
  {% endif %}
</ul>