
{% for flashMessage in app.session.flashbag.get('error') %}
    newNotify('Error !!!', 'error', '{{ flashMessage|raw }}');
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
    newNotify('Exito !!!', 'success', '{{ flashMessage|raw }}');
{% endfor %}

