<div class="col-md-{{ col|default(12) }}">
    {% block widget_alert %}

        <section class="panel panel-featured-left panel-featured-{{status|default('info')}}">
            <div class="panel-body">
                <div class="widget-summary">
                    <div class="widget-summary-col widget-summary-col-icon">
                        <div class="summary-icon bg-{{status|default('info')}}">
                            <i class="fa fa-{{icon|default('exclamation-triangle')}}"></i>
                        </div>
                    </div>
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">{{titulo}}</h4>
                            <div class="info">
                                {% if cuerpo1 is defined%}
                                    <strong title="{{tituloc1|default('')}}" class="h4">{{cuerpo1}}</strong><br>
                                {% endif %}
                                {% if cuerpo2 is defined%}
                                <strong title="{{tituloc2|default('')}}"class="h4">{{cuerpo2}}</strong>
                                {% endif %}
                            </div>
                        </div>
                        {% block footer %}
                            <div class="summary-footer">
                                {% if footer1 is defined%}
                                    {{footer1|default('')}} <br>
                                {% endif %}
                                {% if footer1 is defined%}
                                    {{footer2|default('') }}<br>
                                {% endif %}
                                {% if footer3 is defined%}
                                    {{footer3|default('')}}
                                {% endif %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
    {% endblock%}
</div>