{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}


{% block titulo %}Edición de Tipo de Evento
{% endblock %}
{% block informacion %}{% endblock %}
{% block formulario %}
	<section class="panel">
		<form class="form-horizontal" method="post">
			<div class="panel-body">
				<div>{{ form_errors(form) }}</div>
				<fieldset>
					<div class="row-fluid">
						<div class="col-md-8">
							{{ form_widget(form.nombre) }}
							{{ form_widget(form.codename) }}
							{{ form_widget(form._token) }}
						</div>
					</div>
				</fieldset>


			</div>
			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="Cambiar"/>
				<a href="{{app.session.get('volver') }}" class="btn">Cancelar</a>
			</div>
		</form>
	</section>
{% endblock %}
