{% extends "app/Template_aker/list.html.twig" %}

{% block title %}Tipos de Eventos
{% endblock %}
{% block titulo %}Tipos de Eventos
{% endblock %}

{% block contentpanel %}
	<section class="panel">
		<div class="panel-body">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Codename</th>
						<th>Variables...</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for tipo in tiposeventos %}
						<tr>
							<td>
								<a href="{{ path('tipoevento_show', {'id': tipo.id} ) }}">{{ tipo.nombre }}</a>
							</td>
							<td>{{ tipo.codename }}</td>
							<td>
								<ul>
									{% for var in tipo.variables %}
										<li>{{ var.nombre }}</li>
									{% endfor %}
								</ul>
							</td>
							<td>
								{#                       {#<a href="{{ path('tipoevento_edit', {'id': tipo.id} ) }}">Editar</a>| #}
								<a href="{{ path('tipoevento_evento', {'id': tipo.id} ) }}" class="btn btn-sm btn-default">
									<i class="fa fa-trash"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</section>
{% endblock %}
