{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}


{% block titulo %}Alta de Tipo de Evento{% endblock %}
{% block informacion %}
{% endblock %}
{% block formulario %}
    <form class="form-horizontal" method="post" >
        <div>{{ form_errors(form) }}</div>
        <fieldset>
            <div class="row-fluid">
                <div class="span8">
                    {{ form_widget(form.nombre) }}    
                    {{ form_widget(form.codename) }}  
                    <div id="variable-fields-div"                     
                         data-prototype="
                             <div class='control-group'>
                             <label class=control-label>Variable</label>
                             <div class='controls'>
                                 {{ form_widget(form.variables.vars.prototype)|e('html_attr')  }}                                 
                             </div>
                             </div>
                         ">
                    </div>
                    <div class="control-group ">
                        <label class="control-label"></label>
                        <div class="controls">
                            <a href="#" id="add-another-variable">Agregar Variable</a>
                            {{ form_errors(form.variables) }}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            {{ form_widget(form._token) }}
            <input type="submit" class="btn btn-primary" value="Agregar" />
            <a href="{{app.session.get('volver') }}" class="btn">Cancelar</a>
        </div>
    </form>

</div>


<script type="text/javascript">
    // keep track of how many permiso fields ahve been rendered
    var variablesCount = '{{ form.variables | length }}';
    jQuery(document).ready(function () {
        jQuery('#add-another-variable').click(function () {
            var variableList = jQuery('#variable-fields-div');

            // grab the prototype template
            var newWidget = variableList.attr('data-prototype');
            // replace the "$$name$$" used in the id and name of the prototype
            // with a number that's unique to our permisos
            // end name attribute looks like name="contact[permisos][2]"
            newWidget = newWidget.replace(/__name__/g, variablesCount);
            variablesCount++;

            // create a new list element and add it to our list
            var newLi = jQuery('<div class="row-fluid"></div>').html(newWidget);
            newLi.appendTo(jQuery('#variable-fields-div'));

            return false;
        });
    })
</script>
{% endblock %}
