{% extends "app/Template_aker/show.html.twig" %}

{% block formdelete %}{% endblock %}

{% block titulo %}
	{{ tipoEvento.nombre }}
{% endblock %}
{% block contentpanel %}
  {% include "backend/VariableEvento/popup_addvariable.html.twig" %} 
	<div class="row-fluid row-show">
		<section class="panel">
			<header class="panel-heading">
				<h2 class="panel-title">Datos Principales</h2>
			</header>
			<div class="panel-body">
				<div class="col-md-6">
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Nombre', 'data': tipoEvento.nombre } %}
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Fabricante', 'data': tipoEvento.codename } %}
				</div>
				<div class="col-md-6">
                    <div id="variables">
                    	{% include "backend/TipoEvento/variables.html.twig" with {'tipoEvento':  tipoEvento } %}
                    </div>
                </div>
			</div>
		</section>
	</div>

{% endblock %}

{% block js %}
<script>
$('document').ready(function(){
      $('#variables_evento_variable').select2({ width: "100%" });
});
function deleteVar(id){
        var req = $.ajax({
        type: 'POST',
                url: "{{ path('tipoevento_deletevar') }}",
                data: {
                'id': {{tipoEvento.id}},
                'idVariable': id,
                },
                dataType: "json",
                //async: true,
                beforeSend: function () {
                        $("#choferes").text("Espere......");
                },
        });
        req.done(function (respuesta) {
            if(respuesta.status == 'ok'){
                $("#variables").text("");
                $("#variables").html(respuesta.html);
                newNotify('Exito!','success','La variable se eliminó correctamente');
            }else{
                newNotify('Error!','error','La variable no se pudo remover');
            }
        });

}
        $("#btnVariableAdd").on('click',function(){
                    var request = $.ajax({
                    type: 'POST',
                    url: "{{ path('tipoevento_addvar')}}",
                    data: {
                        'id': {{tipoEvento.id}},
                        'formVariable': $("#formVariable").serialize(), // formulario con los datos
                
                    },
                    dataType: "json",
                });
                request.done(function (respuesta) {
                    if(respuesta.status == 'ok'){
                        $("#variables").text("");
                        $("#variables").html(respuesta.html);
                        newNotify('Exito!','success','La variable se agregó correctamente');
                    }else{
                         newNotify('Error!','error','La variable no se pudo agregar');
                    }
                     
                    $('#modalAddVariable').modal('hide');

                });
            });
</script>
{% endblock %}
