<table class="table table-condensed">
	<thead>
		<tr>
			<th>Variable</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for variable in tipoEvento.variables %}
			<tr>
				<td>{{variable.nombre}}</td>
				<td>
					<button class="btn btn-sm btn-default" onclick="deleteVar('{{variable.id}}')" id="btnDeleteVar">
						<i class="fa fa-trash"></i>
					</button>
				</td>
			</tr>
		{% endfor  %}
	</tbody>
</table>
