{% if step == 1 %}
Indica como se quiere visualizar el resultado del informe. Este informe sólo tiene salida por pantalla.
{% elseif step == 2 %}
Mecanicos para consultar informe.
{% elseif step == 4  %}
Es el perído que quiere consultar. La fecha desde no puede ser mayor que la fecha hasta y las mismas no pueden ser vacias. <br>
Mientras mas días incluya en el período mas tiempo puede demorarse la generación.
{% endif %}