{% extends "app/Template/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block title %}Informe de Mecánicos{% endblock %}
{% block titulo %}Informe de Mecánicos{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $.timepicker.setDefaults($.timepicker.regional["es"]);
            $("#informe_desde").datetimepicker({
                defaultDate: "today",
                changeMonth: true,
                maxDate: "today",
            });
            $("#informe_hasta").datetimepicker({
                changeMonth: true,
                dateFormat: 'dd/mm/yy',
            });
            var today = new Date();
            var today0 = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);
            $("#informe_desde").datetimepicker("setDate", today0);
            $("#informe_hasta").datetimepicker("setDate", today);
        });
    </script>
{% endblock %}

{% block informacion %}
    <div style="float: right">
        <a href="javascript:void(0);" onclick="javascript:introJs().start();">Ayuda</a>
    </div>
{% endblock %}

{% block formulario %}
    <form class="form-horizontal" id="form" action="#"  method="POST" >
        {{ form_errors(form) }}
        <fieldset>
            <div data-step="1" data-intro="{% include "mante/Mecanico/help.html.twig" with {'step': '1' } %}">
                {{ form_widget(form.destino) }}
            </div>
            <div data-step="2" data-intro="{% include "mante/Mecanico/help.html.twig" with {'step': '2' } %}">
                {{ form_widget(form.mecanico) }} 
            </div>
            <div data-step="4" data-intro="{% include "mante/Mecanico/help.html.twig" with {'step': '4' } %}">
                {{ form_widget(form.desde) }}
                {{ form_widget(form.hasta) }}
            </div>                
            {{ form_widget(form._token) }} 
            <div class="form-actions" style="background-color: white">
                <button type="submit" class="btn btn-primary">Generar Informe</button>
                <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>
        </fieldset>
    </form>
{% endblock %}
