{% extends "app/Template/list.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Mecanicos{% endblock %}        
{% block contentpanel %}  
    <div class="row-fluid row-show">
        <div class="span12">
            <div id="tablaMecanicos">
                {% include "mante/Mecanico/mecanicos.html.twig" with {'mecanicos':mecanicos } %} 
            </div>
        </div>
    </div>
    {% include "mante/Mecanico/popup_mecanico.html.twig" %} 
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}">
    </script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}">
    </script>
    <script type="text/javascript">
       
            $('#btnMecanicoAdd').click(function () {
                route = Routing.generate('mecanico_addmecanico');
                var req = $.ajax({
                    type: 'POST',
                    url: route,
                    data: {
                        'formMecanico': $("#formMecanico").serialize(), //form de productos
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaMecanicos").text("");
                    $("#tablaMecanicos").html(respuesta.html);
                    $('#modalMecanico').modal('toggle');   //cierro el form
                });
            });
 

        function mecanicoDel(idMecanico, nombre) {
            var r = confirm('Esta seguro de eliminar el mecánico "' + nombre + '" ?');
            if (r == true) {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('mecanico_delmecanico') }}",
                    data: {
                        'idMecanico': idMecanico,
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaMecanicos").text("");
                    $("#tablaMecanicos").html(respuesta.html);
                });
            }
        }

    </script>
{% endblock  %}

