<table class="table table-condensed">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Tel. Particular</th>
            <th>Tel. Contacto</th>
            <th>Seguro</th>
            <th>Tipo de Mecánico</th>
            <th>Costo Hora</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for mecanico in mecanicos %}
            <tr>
                <td><a href="{{ path('mecanico_show', {'id': mecanico.id}) }}">{{ mecanico.nombre }}</a></td>
                <td>{{ mecanico.documento}}</td>
                <td>{{ mecanico.telefonoParticular}}</td>
                <td>{{ mecanico.telefonoContacto}}</td>
                <td>{{ mecanico.seguro}}</td>
                <td>{{ mecanico.strTipoMecanico }}</td>
                <td>{{ mecanico.costoHora }}</td>
                <td>
                    <button class="btn btn-small" type="button" id="mecanico_del" onClick="mecanicoDel('{{ mecanico.id }}', '{{ mecanico.nombre }}')">
                        <i class="icon-minus-sign"  title="Elimina el mecanico"></i> Eliminar
                    </button>
                    {% if is_granted('ROLE_MECANICO_EDITAR') %}
                        <a class="btn btn-small" href="{{ path('mecanico_edit', {'id': mecanico.id} ) }}"> <i class="icon-edit"  title="Elimina el mecanicor"></i> Editar</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>