{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ mecanico.organizacion.nombre }}{% endblock %}
{% block subtitulo %}Alta de Mecánico{% endblock %}

{% block formulario %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row-fluid">
        <div class="span8">
            {{ form_widget(form.nombre) }}
            {{ form_widget(form.documento) }}
            {{ form_widget(form.seguro) }}
            {{ form_widget(form.telefonoParticular) }}
            {{ form_widget(form.telefonoContacto) }}
            {{ form_widget(form.costoHora) }}
            {{ form_widget(form.tipo) }}
            {{ form_rest(form) }}
        </div>
        <div class="span3">
        </div>
    </div>
    {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Agregar' } %}
    {{ form_end(form) }}
{% endblock %}
