{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Informe de Mecánicos{% endblock %}
{% block titulo %}Ordenes de Trabajo por Mecánico{% endblock %}

{% block informacion %}
    Para el mecánico <b>{{consulta.mecaniconombre}}</b>, desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>.
    [ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
    <form name="formexport" action="{{ path('mecanico_informe_exportar') }}" method="POST" >
        <input type="hidden" name="informe" value="{{ arr|json_encode() }}"/>
        <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
    </form>
{% endblock %}

{% block contentpanel %}

    
    <div class="row-fluid">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Mecánico</th>
                    <th>Fecha</th>
                    <th>Tipo</th>
                    <th>Identificador</th>
                    <th>Taller</th>
                    <th>Sector</th>
                    <th>Descripción</th>
                    <th>Cant. de Horas</th>
                    <th>Costo por Hora</th>
                    <th>Costo Total</th>
                    

                </tr>
            </thead>
            <tbody>
                {% for key,value in arr %}
                    <tr>
                        <td rowspan="{{ value.ordenes|length }}">{{ value.mecanico }}</td>
                            {% set i = 0 %}
                        {% for orden in value.ordenes %}
                            {% if i > 0 %}
                            <tr>
                            {% endif %}
                            <td>{{orden.fecha}}</td>
                            <td>{{orden.tipo}}</td>
                            <td>{{orden.identificador}}</td>
                            <td>{{orden.taller}}</td>
                            <td>{{orden.sector}}</td>
                            <td>{{orden.descripcion}}</td>
                            <td>{{orden.cantHoras}}</td>
                            <td>{{orden.costo|number_format(2)}}</td>
                            <td>{{orden.costoTotal|number_format(2)}}</td>
                            {% if i > 0%}
                            </tr>
                        {% endif %}
                        {% set i = i+1 %}
                    {% endfor %}
                    <tr>
                        <td colspan="8"></td>
                        <td><b>Total:</b></td>
                        <td><b>{{value.totalMecanico|number_format(2)}}</b></td>
                    </tr>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}