<!-- Modal -->
<div class="modal fade" id="modalMecanico" role="dialog" aria-labelledby="modalMecanicoLabel" data-modal-index="-100">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Mecánico</h4>
            </div>
            <div class="modal-body">
                <div id="modal-body-mecanico">
                    <form id="formMecanico" class="form-horizontal">
                        {{ form_widget(form.nombre) }}
                        {{ form_widget(form.documento) }}
                        {{ form_widget(form.seguro) }}
                        {{ form_widget(form.telefonoParticular) }}
                        {{ form_widget(form.telefonoContacto) }}
                        {{ form_widget(form.costoHora) }}
                        {{ form_widget(form.tipo) }}
                        {{ form_rest(form) }}

                    </form>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button id="btnMecanicoAdd" type="button" class="btn btn-primary" >Agregar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>

