{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "mante/Mecanico/delete_form.html.twig" %}
{% endblock %} 
        
{% block titulo %}{{ mecanico.nombre }}{% endblock %}
    
{% block informacion %}
{% endblock %}     
    
{% block contentpanel %}
    <div class="row-fluid row-show">
        <div class="span8">
            <h3>Datos del Mecánico</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': mecanico.nombre } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Tipo de Mecánico', 'data': mecanico.strTipoMecanico } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Documento', 'data': mecanico.documento } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Tel. Particular', 'data': mecanico.telefonoParticular } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Tel. Contacto', 'data': mecanico.telefonoContacto } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Seguro', 'data': mecanico.seguro } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Coxto x Hora', 'data': mecanico.costoHora } %} 
        </div>
        <div class="span3"> 
          
        </div>
    </div>
{% endblock %}
