{% extends "app/Template_aker/popup.html.twig" %}

{% block modalId %}modalDelete{% endblock %}

{% block modalTitulo %}Eliminar Contacto.{% endblock %}

{% block modalUrl %}{{ path('main_contacto_delete', { 'id': contacto.id }) }}{% endblock %}

{% block modalBody %}
       <p>Esta seguro de eliminar este cotnacto: <strong>{{ contacto.nombre|upper }}</strong> ?</p>
    {{ form_widget(delete_form) }}
{% endblock %}

{% block modalOk %}
    <button class="btn btn-danger" type="submit">Eliminar</button>
{% endblock %}

