{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ contacto.nombre }}{% endblock %}
{% block subtitulo %}Edición de Contacto{% endblock %}

{% block formulario %}
    {{ form_start(form) }}
    <div class="row-fluid">
        <div>{{ form_errors(form) }}</div>
        <div class="span8">
            <fieldset>
                {{ form_widget(form.nombre) }}
                {% if form.celular is defined %}    
                    {{ form_widget(form.celular) }}
                {% endif %}
                {{ form_widget(form.email) }}
                {{ form_widget(form.noticeme) }}
                {{ form_rest(form) }}
            </fieldset>
            {{ form_rest(form) }}
        </div>
        <div class="span3"> 
        </div>
    </div>
    {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Cambiar' } %}
    {{ form_end(form) }}
{% endblock %}
