<h4>Extra</h4>
<ul class="unstyled">
    <li><b>IMEI:</b> Número de 19 digitos que se encuentra impreso en el chip. </li>
    <li><b>Número Celular:</b> El número de celular es asignado por la compañia celular. </li>
    <li><b>Prestadora:</b> Seleccione en forma correcta la prestadora del servicio. </li>
</ul>
<span class="label label-important">Importante</span>Todos los datos son 
obligatorio ya que el sistema los utiliza para realizar operaciones con los 
equipos. Mantenga actualizada esta información.
