{% extends "app/Template_aker/list.html.twig" %}

{% block titulo %}Contactos{% endblock %}        
{% block contentpanel %}  
    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>NoticeMe</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for contacto in contactos %}
                    <tr>
                        <td><a href="{{ path('main_contacto_show', {'id': contacto.id}) }}">{{ contacto.nombre }}</a></td>
                        <td>{{ contacto.celular }}</td>
                        <td>{{ contacto.email }}</td>
                        <td>{{ contacto.noticeme }}</td>
                        <td>
                            {% if is_granted('ROLE_CONTACTO_EDITAR') %}
                                <a href="{{ path('main_contacto_edit', {'id': contacto.id} ) }}">Editar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
         </table>
    </div>
{% endblock %}

