{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ contacto.organizacion.nombre }}{% endblock %}
{% block subtitulo %}Alta de Contacto{% endblock %}
{% block formulario %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row-fluid">
        <div class="span8">
            {{ form_widget(form.nombre) }}
            {% if form.celular is defined %}    
                {{ form_widget(form.celular) }}
            {% endif %}
            {{ form_widget(form.email) }}
            {{ form_widget(form.noticeme) }}
            {{ form_widget(form.cargo) }}
            {{ form_widget(form.tipoNotificaciones) }}
            {{ form_rest(form) }}
        </div>
        <div class="span3">
        </div>
    </div>
    {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Agregar' } %}
    {{ form_end(form) }}
{% endblock %}
