{% extends "app/Template_aker/show.html.twig" %}

{% block formdelete %}
	{% include "app/Contacto/delete_form.html.twig" %}
{% endblock %}

{% block titulo %}
	{{ contacto.nombre }}
{% endblock %}

{% block informacion %}{% endblock %}

{% block contentpanel %}
	<div class="row-fluid row-show">
		<div class="col-md-9">
			{% embed "app/Template_aker/panel_form.html.twig" %}
				{% block titulo %}
					Datos del contacto
				{% endblock %}
				{% block cuerpo %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': contacto.nombre } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Celular', 'data': contacto.celular } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Email', 'data': contacto.email } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'ID NoticeMe', 'data': contacto.noticeme } %}
				{% endblock %}
			{% endembed %}
		</div>
		<div class="col-md-3">
			{% embed "app/Template_aker/panel_form.html.twig" %}
				{% block titulo %}
					Tipo de Notificación
				{% endblock %}
				{% block cuerpo %}
					<ul>
						{% for notificacion in contacto.getTipoNotificaciones  %}
							<li>{{notificacion.nombre}}</li>
						{% endfor %}
					</ul>
				{% endblock %}
			{% endembed %}


		</div>
	{% endblock %}
