{% import "app/Macros/servicio.html.twig" as macros %}
{% import "app/Macros/peticion.html.twig" as macrosPet %}
<head>
	{% block stylesheets %}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" media="all" type="text/css" href="{{ app.request.getSchemeAndHttpHost() ~ asset('plugins/bootstrap/css/bootstrap.css') }}">
		<style type="text/css">
			body {
				font-size: 80%;
			}
			td {
				padding-left: 5px;
			}
			table,
			tr,
			td,
			th,
			tbody,
			thead,
			tfoot {
				page-break-inside: avoid !important;
				font-size: 100%;
				padding: 2px;
			}
			h1 {
				font-size: 200%;
				text-align: center;
			}
			h2 {
				font-size: 180%;
				text-align: center;
			}
			h3 {
				font-size: 150%;
			}
			h4 {
				font-size: 130%;
			}
			h5 {
				font-size: 110%;
			}
			legend {
				font-size: 150%;
				padding-bottom: 2px;
				page-break-inside: avoid !important;
			}
		</style>
		<link rel="stylesheet" media="all" type="text/css" href="{{ app.request.getSchemeAndHttpHost() ~ asset('plugins/bootstrap/css/bootstrap-theme.css.map') }}">
	{% endblock %}
</head>
{% block contentpanel %}
	<h1>{{ orden.servicio.organizacion.nombre }}
		-
		{{ macros.servicioNombre(orden.servicio) }}</h1>
	<h2>{{ orden.descripcion }}</h2>
	<table class="table">
		<tr>
			<td width="50%">
				<legend>Orden de Trabajo</legend>
				<table class="">
					{% include "app/Template/show_row.html.twig" with {'label': 'Nro. Orden', 'data': orden.formatIdentificador|default('---') } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Servicio', 'data': orden.servicio.nombre } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Fecha', 'data': orden.fecha ? orden.fecha|date('d/m/Y') : '---' } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Tipo', 'data': orden.strTipo } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Taller', 'data': orden.taller|default('---') } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Sector', 'data': orden.tallerSector|default('---') } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Deposito', 'data': orden.deposito|default('---') } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Centro de Costo', 'data': orden.centroCosto != null ? orden.centroCosto : '---' } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Descripción', 'data': orden.descripcion|default('---') } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Nota', 'data': orden.nota|default('---') } %}
				</table>
			</td>
			<td width="50%">
				<legend>Servicio</legend>
				<table>
					{% include "app/Template/show_row.html.twig" with {'label': 'Odometro', 'data': orden.odometro } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Horómetro', 'data': orden.horometro } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Fecha Ingreso', 'data': orden.fechaIngreso ? orden.fechaIngreso|date('d/m/Y') : '---' } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Fecha Egreso', 'data': orden.fechaEgreso ? orden.fechaEgreso|date('d/m/Y') : '---' } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Nro. Interno', 'data': orden.numeroInterno } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Nro. Externo', 'data': orden.numeroExterno } %}

					<div class="row-fluid row-show">
						<div class="span4 column-label">COSTO NETO ($):</div>
						<div class="column-show">
							<span class="label label-info" id="costoNeto">{{ orden.costoNeto|number_format(2) }}</span>
						</div>
					</div>
					<div class="row-fluid row-show">
						<div class="span4 column-label">COSTO TOTAL ($):</div>
						<div class="column-show">
							<span class="label label-info" id="costoTotal">{{ orden.costoTotal|number_format(2) }}</span>
						</div>
					</div>
				</table>
			</td>
		</tr>
	</table>
	{% if orden.tareas|length > 0 %}
		<table class="table">
			<tr>
				<td width="100%;">
					{% include "mante/ExportOrdenTrabajo/tareas.html.twig" %}
				</td>
			</tr>
		</table>
	{% endif %}
	{% if orden.mantenimientos|length > 0 %}
		<table class="table">
			<tr>    
				<td width="100%;">
					{% include "mante/ExportOrdenTrabajo/mantenimientos.html.twig" %}
				</td>
			</tr>
		</table>
	{% endif %}
	{% if orden.productos|length > 0 %}
		<table class="table">
			<tr>
				<td width="100%;">
					{% include "mante/ExportOrdenTrabajo/productos.html.twig" %}
				</td>
			</tr>
		</table>
	{% endif %}
	{% if orden.horasTaller|length > 0 %}
		<table class="table">
			<tr>
				<td width="100%;">
					{% include "mante/ExportOrdenTrabajo/horasTaller.html.twig" %}
				</td>
			</tr>
		</table>
	{% endif %}
	{% if orden.mecanicos|length > 0 %}
		<table class="table">
			<tr>
				<td width="100%;">
					{% include "mante/ExportOrdenTrabajo/mecanicos.html.twig" %}
			</td>
			</tr>
		</table>
	{% endif %}
	{% if orden.externos|length > 0 %}
		<table class="table">
			<tr>
				<td width="100%;">
				{% include "mante/ExportOrdenTrabajo/terceros.html.twig" %}
			</td>
			</tr>
		</table>
	{% endif %}
	{% if orden.peticiones|length > 0 %}
		<table class="table">
			<tr>
				<td width="100%;">
					{% include "mante/ExportOrdenTrabajo/peticiones.html.twig" %}
				</td>
			</tr>
		</table>
	{% endif %}


{% endblock %}
