<table class="table table-condensed">
	<legend>Horas Taller</legend>
	<thead>
		<tr>
			<th>Descripción</th>
			<th>Cantidad</th>
			<th>Costo Unitario</th>
			<th>Total Neto</th>
			<th>Total c/IVA</th>
		</tr>
	</thead>
	<tbody>
		{% for hora in orden.horasTaller %}
			<tr>
				<td>{{ hora.horaTaller.nombre|default('---') }}</td>
				<td>{{ hora.cantidad|default('---') }}</td>
				<td>{{ hora.costoUnitario|number_format(2) }}</td>
				<td>{{ hora.costoNeto|number_format(2) }}</td>
				<td>{{ hora.costoTotal|number_format(2) }}</td>

			</tr>
		{% endfor %}
	</tbody>
</table>{% endif %}
