{% if orden.tipo == 1 and  orden.mantenimientos|length > 0 %}               
    <tr>        
   <table class="table table-condensed table-hover" style="border-style: solid; border-color: #e7eaeb; border-width: 0px 1px 1px 1px">
        <thead>
            <tr>
                <th>Mantenimiento preventivos incluidos</th>
                <th>Tareas del mantenimiento</th>
            </tr>
        </thead>
        <tbody>
            {% for mant in orden.mantenimientos %}
                <tr>
                    <td>{{ mant.servicioMantenimiento.mantenimiento.nombre }}</td>                
                    <td>
                        <ol>
                            {% for act in mant.servicioMantenimiento.mantenimiento.actividades %}
                                <li>{{ act.nombre }}</li>
                            {% endfor %}
                        </ol>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</table>
</tr>
{% endif %}
