<table class="table table-condensed">
	<legend>Mecánicos</legend>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Cantidad</th>
			<th>Costo Unitario</th>
			<th>Costo Total</th>

		</tr>
	</thead>
	<tbody>
		{% for mec in orden.mecanicos %}
			<tr>
				<td>{{ mec.mecanico.nombre|default('---') }}</td>
				<td>{{ mec.horas|default('---') }}</td>
				<td>{{ mec.costo|number_format(2) }}</td>
				<td>{{ mec.costoTotal|number_format(2) }}</td>

			</tr>
		{% endfor %}
	</tbody>
</table>
