<table id="tablePeticiones" class="table table-condensed">
	<legend>Pedidos de Reparación</legend>
	<thead>
		<tr>
			<th class="span1">Fecha</th>
			<th class="span5">Asunto</th>
			<th class="span6">Descripción</th>

		</tr>
	</thead>
	<tbody>
		{% for peticion in orden.peticiones %}
			<tr>
				<td>{{peticion.created_at|date('d/m/Y H:i:s')}}</td>
				<td>
					<b>{{peticion.asunto}}</b>, creada por
					<b>{{peticion.autor.nombre}}</b>,
						                     asignada a
					<b>{{ peticion.asignadoa.nombre|default('---')}}</b><br>
					Con fecha de inicio
					<b>{{peticion.fechaInicio|date('d/m/Y')}}</b>
					y fecha de fin
					<b>{{peticion.fechaFin is null ?'---':peticion.fechaFin|date('d/m/Y')}}</b><br>
					Estado
					<b>{{peticion.estado.nombre|default('---')}}</b>, Categoría
					<b>{{peticion.categoria.nombre|default('---')}}</b>
				</td>
				<td>{{peticion.descripcion|raw}}</td>

			</tr>
		{% endfor %}
	</tbody>
</table>
