    <table class="table table-condensed">
         <legend>Insumos</legend>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Deposito</th>
                <th>Cantidad</th>
                <th>Costo Unitario</th>
                <th>Total Neto</th>
                <th>Total c/IVA</th>
              
            </tr>
        </thead>
        <tbody>
            {% for prod in orden.productos %}
                <tr>
                    <td>{{ prod.producto|default('---') }}</td>                
                    <td>{{ prod.deposito }}</td>
                    <td>{{ prod.cantidad|default('---') }}</td>
                    <td>{{ prod.costoUnitario|number_format(2) }}</td>
                    <td>{{ prod.costoNeto|number_format(2) }}</td>
                    <td>{{ prod.costoTotal|number_format(2) }}</td>
             
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endif %} 
