<table id="tablaTareasOt" class="table table-condensed">
	<legend>Tareas</legend>
	<thead>
		<tr>
			<th></th>
			<th>Descripcion</th>
			<th>Fecha Inicio</th>
			<th>Mecanico/s</th>
			<th>Costo Total</th>
		</tr>
	</thead>
	<tbody>
		{% for tarea in orden.tareas %}
			<tr>
				<td>
					{% if tarea.estado == 0 %}
						<span class="badge badge-xs badge-default">
							Nueva
						</span>
					{% elseif tarea.estado == 1 %}
						<span class="badge badge-xs badge-info">
							En Curso
						</span>
					{% else %}
						<span class="badge badge-xs badge-success">
							Cerrada
						</span>
					{% endif %}
				</td>
				<td>{{ tarea.descripcion|slice(0, 175) }}</td>
				<td>{{ tarea.fecha? tarea.fecha|date('d-m-Y H:i'):'---' }}</td>
				<td>
					<lu>
						{% for mecOt in tarea.mecanicos %}
							<li>{{ mecOt.mecanico.nombre }}</li>
						{%  endfor %}
					</lu>
				</td>
				<td>$
					{{ tarea.costototal }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
