<legend>Terceros</legend>
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Proveedor</th>
			<th>Producto</th>
			<th>Cantidad</th>
			<th>Descripción</th>
			<th>Costo Total</th>

		</tr>
	</thead>
	<tbody>
		{% for ext in orden.externos %}
			<tr>
				<td>{{ ext.tallerExterno.nombre|default('---') }}</td>
				<td>{{ ext.producto.nombre|default('---') }}</td>
				<td>{{ ext.cantidad|default('---') }}</td>
				<td>{{ ext.descripcion }}</td>
				<td>{{ ext.costoTotal|number_format(2) }}</td>

			</tr>
		{% endfor %}
	</tbody>
</table>
