{% include "app/Template_aker/sidebar_submenu.html.twig" %}
<p>
	Desde esta sección puede administrar los usuarios que posee el
	{{ organizacion.getStrTipoOrganizacion }}
	<strong>{{ organizacion }}</strong>. 
		    Tenga en cuenta que los permisos de acceso que se asignen al usuario se encuentran relacionado con los módulos que tiene asignado.
</p>
{% if organizacion.usuarios|length > 0 %}
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Login</th>
				<th>Email</th>
				<th>Habil.</th>
				<th>Limp Pass.</th>
				<th>Ult. Login</th>
				<th>Tipo/Organización</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for usuario in organizacion.usuarios %}
				<tr>
					<td>
						<a href="{{ path('usuario_show', {'id': usuario.id}) }}">
							{% if usuario.id == organizacion.usuarioMaster.id %}
								<span class="label label-info" title="Es usuario Master">{{ usuario.nombre| e }}</span>
							{% else %}
								{{ usuario.nombre| e }}
							{% endif %}
						</a>
					</td>
					<td>{{ usuario.username|e }}</td>
					<td>{{ usuario.email|e }}</td>
					<td>{{ usuario.enabled ? 'SI' : 'NO' }}</td>
					<td>{{ usuario.changePassword ? 'SI' : 'NO' }}</td>

					<td>{{ usuario.lastLogin|date('d/m/Y H:i:s', app.user.timeZone)|e }}</td>
					<td>
						{% if usuario.transporte %}
							Transporte /
							{{usuario.transporte.nombre}}
						{% elseif usuario.logistica %}
							Logística /
							{{usuario.logistica.nombre}}
						{% elseif usuario.empresa %}
							Cliente /
							{{usuario.empresa.nombre}}
						{% else %}
							---
						{% endif %}
					</td>
					<td class="td-accion">
						{% if is_granted('ROLE_USUARIO_EDITAR') %}
							<a href="{{ path('usuario_edit', {'id': usuario.id}) }}" class="btn btn-small" title="Editar">Editar</a>
							<a href="{{ path('user_profile_password_change', {'id': usuario.id}) }}" class="btn btn-small" title="Cambiar Clave">Clave</a>

							{#TODO: Se debe pasar el router del UserBundle#}
							{#<a href="{{ path('usuario_reset', {'id': usuario.id}) }}" class="btn btn-small" title="Reset clave">Reset</a> #}
						{% endif %}
						{% if usuario.id != app.user.id %}
							<a href="{{ path('usuario_permiso', {'id': usuario.id}) }}" class="btn btn-small">Permisos</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<em>No hay usuarios asociados.</em>
{% endif %}
