{% if modoingreso == 0 %}
	<span class="badge bg-info-light" title="Manual">Man</span>
{% elseif modoingreso == 1 %}
	<span class="badge bg-info-light" title="WebService">Ws</span>
{% elseif modoingreso == 2 %}
	<span class="badge bg-info-light" title="Aplicación">App</span>
{% elseif modoingreso == 3 %}
	<span class="badge bg-info-light" title="Importación Excel">Excel</span>
{% elseif modoingreso == 9 %}
	<span class="badge  alert-success" title="Chequeado">Check</span>
{% else %}
	<span class="badge bg-info-light" title="N/D">---</span>
{% endif %}
