  <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Fecha</th>
                    <th>{{ vista == 'puntocarga' ? 'Servicio' : 'Punto de Carga' }}</th>
                    <th>Chofer</th>
                    <th>Odómetro</th>
                    <th>Horómetro</th>
                    <th>Guia despacho</th>
                    <th>Tipo de Carga</th>
                    <th>Litros</th>
                    <th>Combustible</th>
                    <th>Importe</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for carga in cargas %}
                    <tr>
                        <td>
                            {% if carga.modoingreso == 0 %}
                                <span class="badge bg-info-light" title="Manual">{{carga.strmodoingreso}}</span>
                            {% elseif carga.modoingreso == 1 %}
                                <span class="badge bg-info-light" title="WebService">{{carga.strmodoingreso}}</span>
                            {% elseif carga.modoingreso == 2 %}
                                <span class="badge bg-info-light" title="Aplicación">{{carga.strmodoingreso}}</span>
                            {% elseif carga.modoingreso == 3 %}
                                <span class="badge bg-info-light" title="Importación Excel">{{carga.strmodoingreso}}</span>
                            {% elseif carga.modoingreso == 9 %}
                                <span class="badge  alert-success" title="Chequeado">{{carga.strmodoingreso}}</span>
                            {% else %}
                                <span class="badge bg-info-light" title="N/D">---</span>
                            {% endif %}
                        </td>
                        <td>{{ carga.fecha|date('d/m/Y H:i')|e }}</td>
                        <td>
                            {% if vista == 'puntocarga'%}
                                {{carga.servicio ? carga.servicio.nombre : '---'}}
                            {% else %}
                                {% if carga.referencia or carga.puntocarga %}
                                    {% if carga.referencia  %}
                                        <span class="badge bg-info-light" title="Referencia">R</span>
                                        {{ carga.referencia.nombre }}
                                    {% elseif carga.puntocarga %}
                                        {% if carga.puntocarga.referencia  %}
                                            <span class="badge bg-info-light" title="Punto de carga Referencia">R</span>
                                            {{ carga.puntocarga.referencia.nombre }}
                                        {% else %}
                                            <span class="badge bg-info-light" title="Punto de cargaServicio">S</span>
                                            {{ carga.puntocarga.servicio ? carga.puntocarga.servicio.nombre:'---' }}
                                        {% endif %}
                                    {% else %}
                                        ---
                                    {% endif %}
                                {% else %}
                                    ---
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>{{ carga.chofer ?  carga.chofer.nombre : '---'}}</td>
                        <td>{{ carga.odometroTablero ?  carga.odometroTablero : '---'}}</td>
                        <td>{{ carga.horometroTablero ?  carga.horometroTablero : '---'}}</td>
                        <td title="{{ carga.guiaDespacho }}">{{ carga.guiaDespacho|length > 27 ? carga.guiaDespacho|slice(0, 27): carga.guiaDespacho }}...</td>
                        <td><span class="badge badge-xs {{ carga.cargaCompleta is not null and  carga.cargaCompleta ?  'alert-success': 'alert-default' }}"> {{ carga.cargaCompleta is not null ? carga.cargaCompleta ? 'Completo' : 'Parcial' : 'n/n'}}</span></td>
                        <td>{{ carga.litrosCarga|number_format(2) }}</td>
                        <td>{{ carga.tipoCombustible ? carga.tipoCombustible.nombre : '---' }}</td>
                        <td>$ {{ carga.montoTotal|number_format(2) }}</td>
                        <td>
                            {% if carga.data is not null %}
                                <a  title="mas info"  class="btn btn-bordered btn-default btn-xs" onclick="showModalAfip('{{carga.data}}')"><i class="fa fa-qrcode"></i></a>
                                {% endif %}
                                {% if is_granted('ROLE_COMBUSTIBLE_EDITAR') %}
                                <a  title="modificar"  class="btn btn-bordered btn-default btn-xs"  href="{{ path('fuel_edit', {'id': carga.id} ) }}"><i class="fa fa-edit"></i></a>
                                {% endif %}
                                {% if is_granted('ROLE_COMBUSTIBLE_ELIMINAR') %}
                                <a title="eliminar"  class="btn btn-bordered btn-default btn-xs"  href="{{ path('fuel_delete', {'id': carga.id} ) }}"><i class="fa fa-trash"></i></a>
                                {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>