{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ combustible.servicio.nombre }}{% endblock %}
{% block subtitulo %}Modificación de Carga{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" /> 
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        function buscarCarga() {
            var fecha = document.getElementById('secur_combustibletype_fecha').value;
            request = $.ajax({
                type: 'GET',
                url: "{{ path('fuel_findcarga',{'id': combustible.servicio.id}) }}",
                data: {"fecha": fecha},
            });
            request.done(function (html) {
                $("#tableCargas").text("");
                $('#tableCargas').append(html);
            });

        }
           $(function () {
           {% if combustible.chofer is not null %}
                $("#secur_combustibletype_chofer").val("{{ combustible.chofer.id}}");
                $("#secur_combustibletype_chofer").trigger('change');
           {% endif %}

           {% if combustible.referencia is not null %}
                $("#secur_combustibletype_referencia").val("{{ combustible.referencia.id}}");
                $("#secur_combustibletype_referencia").trigger('change');
           {% endif %}  
           
           {% if combustible.puntoCarga is not null %}
                $("#secur_combustibletype_puntocarga").val("{{ combustible.puntoCarga.id}}");
                $("#secur_combustibletype_puntocarga").trigger('change');
           {% endif %}
           {% if combustible.cargaCompleta is not null %}
                $("#secur_combustibletype_cargaCompleta").val({{ combustible.cargaCompleta  ? 2 : 1}});
                $("#secur_combustibletype_cargaCompleta").trigger('change');
           {% endif %}
           {% if combustible.tipoCombustible is not null %}
                $("#secur_combustibletype_tipoCombustible").val({{ combustible.tipoCombustible.id }});
                $("#secur_combustibletype_tipoCombustible").trigger('change');
           {% endif %}

            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $.timepicker.setDefaults($.timepicker.regional["es"]);
            $("#secur_combustibletype_fecha").datetimepicker({
                defaultDate: "today",
                changeMonth: true,
                numberOfMonths: 1,
                maxDate: "today",
                dateFormat: 'dd/mm/yy',
            });
        });

                $('#secur_combustibletype_puntocarga').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            if(valueSelected !== ''){
                  $("#secur_combustibletype_referencia option[value='']").attr('selected', 'selected');
            }
         })   
         
         $('#secur_combustibletype_referencia').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            if(valueSelected !== ''){
                  $("#secur_combustibletype_puntocarga option[value='']").attr('selected', 'selected');
            }
         })
    </script>
{% endblock %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        <fieldset>
            {{ form_errors(form) }}
            <div class="row-fluid">
                <div class="span5">
                    {{ form_widget(form.fecha) }}  
                    {{ form_widget(form.chofer) }}  
                    {{ form_widget(form.odometroTablero) }} 
                    {{ form_widget(form.horometroTablero) }} 
                    {{ form_widget(form.referencia) }}    
                    {{ form_widget(form.puntocarga) }}    
                </div>
                <div class="span6">
                    {{ form_widget(form.cargaCompleta) }}  
                    {{ form_widget(form.tipoCombustible) }}  
                    {{ form_widget(form.litros_carga) }}    
                    {{ form_widget(form.guia_despacho) }}    
                    {{ form_widget(form.monto_total) }}    
                    {% if combustible.servicio.canbus%}
                        <button class="btn " type="button" onclick="buscarCarga()">Buscar Cargas</button>
                        <div id="tableCargas"></div>
                    {% endif %}
                    <div class="control-group "><label class="control-label" for="secur_combustibletype_descripcion">
                            Descripción 
                        </label><div class="controls">
                            <input type="text" class="form-control" maxlength="254" value="{{ combustible.descripcion }}" id="secur_combustibletype_descripcion" name="secur_combustibletype[descripcion]">        
                        </div>    

                    </div>
                </div>
            </div>
                  {{ form_widget(form._token) }}
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Cambiar " />
                <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>  
            </div>
        </fieldset>
    </form>
{% endblock %}
