<table>
    <tr>
        <td colspan="2"><h3>Carga de Combustible</h3></td>
    </tr>
    <tr>
        <td>Servicio:</td>
        <td>{{ servicio }}</td>
    </tr>    
    <td>Fecha desde: </td>
    <td>{{ fecha_desde ? fecha_desde|date('d-m-Y H:i') : '---' }}</td>
</tr>
</tr>    
<td>Fecha hasta: </td>
<td>{{ fecha_hasta ? fecha_hasta|date('d-m-Y H:i') : '---' }}</td>
</tr>
</tr>    
<td></td>
<td></td>
</tr>
</table> 
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Punto de Carga</th>
            <th>Chofer</th>
            <th>Odometro</th>
            <th>Horometro</th>
            <th>Guia despacho</th>
            <th>Tipo de Carga</th>
            <th>Litros</th>
            <th>Combustible</th>
            <th>Importe</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        {% for carga in cargas %}
            <tr>
                <td>
                    {% if carga.modoingreso == 0 %}
                        Manual 
                    {% elseif carga.modoingreso == 1 %}
                        Web Service
                    {% elseif carga.modoingreso == 2 %}
                        Aplicacion
                    {% elseif carga.modoingreso == 3 %}
                        Importacion Excel
                    {% else %}
                        ---
                    {% endif %}
                </td>
                <td>{{ carga.fecha|date('d/m/Y H:i')|e }}</td>
                <td>
                    {% if carga.referencia or carga.puntocarga %}
                        {% if carga.referencia  %}
                            (Referencia)
                            {{ carga.referencia.nombre }}
                        {% elseif carga.puntocarga %}
                            {% if carga.puntocarga.referencia  %}
                                (Referencia)
                                {{ carga.puntocarga.referencia.nombre }}
                            {% else %}
                                (Servicio)
                                {{ carga.puntocarga.servicio.nombre }}
                            {% endif %}
                        {% else %}
                            ---
                        {% endif %}
                    {% else %}
                        ---
                    {% endif %}
                </td>
                <td>{{ carga.chofer ?  carga.chofer.nombre : '---'}}</td>
                <td>{{ carga.odometroTablero ?  carga.odometroTablero : '---'}}</td>
                <td>{{ carga.horometroTablero ?  carga.horometroTablero : '---'}}</td>
                <td>{{ carga.guiaDespacho|default('---') }}</td>
                <td>{{ carga.cargaCompleta is not null ? carga.cargaCompleta? 'Completo' : 'Parcial' : 'n/n'}}</td>
                <td>{{ carga.litrosCarga|number_format(2) }}</td>
                <td>{{ carga.tipoCombustible ? carga.tipoCombustible.nombre : '---' }}</td>
                <td>$ {{ carga.montoTotal|number_format(2) }}</td>
                <td>{{ carga.descripcion ? carga.descripcion : '---'}}</td>

            </tr>
        {% endfor %}
    </tbody>
</table>
