<table>
    <tr>
        <td colspan="2"><h3>Informe de Rendimiento</h3></td>
    </tr>
    <tr>
        <td>Servicio:</td>
        <td>{{ consulta.servicionombre }}</td>
    </tr>    
        <td>Fecha desde: </td>
        <td>{{ consulta.desde }}</td>
    </tr>
    </tr>    
        <td>Fecha hasta: </td>
        <td>{{ consulta.hasta }}</td>
    </tr>
    </tr>    
        <td></td>
        <td></td>
    </tr>
</table> 
{% include "apmon/Combustible/informe_content.html.twig" %}  