{# este es el form para la fecha del panel de estado#}
<form class="form-inline" action="{{ path('fuel_filtrar', {'id': servicio.id})}}" method="POST">
    {{ form_widget(form.desde, {'attr': {class: 'form-control'} }) }}
    {{ form_widget(form.hasta, {'attr': {class: 'form-control'} }) }}

	<div class="visible-sm clearfix mt-sm mb-sm"></div>

	<button type="submit" class="btn btn-primary">Filtrar</button>	
</form>
