
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        $(function() {
        {{ gchart_area_chart(dt, 'myArea1', '100%', '380', '', {
                curveType: "function",
            }) }} 
        });
    </script>

<div id="tipoMedidor"><div class="label label-default">{{tipoMedidor}}</div></div>  
<div id="mensaje"><em>{{mensaje|length > 0 ? mensaje : ''}}</em></div>
<div id="myArea1" style="width: 100%; height: 380px;">&nbsp;</div>


