{% extends "app/Template_aker/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Gráfico de Consumo
{% endblock %}

{% block cs %}
   <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet"type="text/css" media="all" />  
    <link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}
{% block js %}
	{{ parent() }}
        <script  type="text/javascript">
		$(function () {
                $("#graficoconsumo_servicio").select2();
                $("#graficoconsumo_desde").datetimepicker({
                    format: 'DD/MM/YYYY HH:mm',
                    locale: 'es',
                    widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                    }
                });
                $("#graficoconsumo_hasta").datetimepicker({
                    format: 'DD/MM/YYYY HH:mm',
                    locale: 'es',
                    widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                    }
                });

            $("#consultar").on('click',function(){
                    var request = $.ajax({
                    type: 'POST',
                    url: "{{ path('fuel_grafico_generar',{id: organizacion.id}) }}",
                    data: {
                        'formGrafico': $("#formGrafico").serialize(), // formulario con los datos
                
                    },
                    dataType: "json",
                    // async: true,
                    beforeSend: function () {
                        $("#modalLoad").modal({ backdrop: 'static', keyboard: false });
                    }
                });
                request.done(function (respuesta) {
                    if (respuesta.status == 'ok') {
                        $('#modalLoad').modal('hide');
                        $("#content").html("");
                        $("#content").append(respuesta.html);
                    }
                });
            });
        });
	</script>
{% endblock %}

{% block informacion %}
	{% include "app/Template_aker/popup_load.html.twig" %}

	<div class="alert alert-info" role="alert">
		<div class="row">
			<form class="form-horizontal" id="formGrafico" method="POST">
				{{ form_errors(form) }}
				<div class="col-md-5">{{ form_widget(form.tipo) }}</div>
				<div class="col-md-2">{{ form_widget(form.desde) }}</div>
				<div class="col-md-2">{{ form_widget(form.hasta) }}</div>
				<div class="col-md-3">{{ form_widget(form.servicio) }}</div>
				<div class="col-md-1">{{ form_widget(form._token) }}</div>

			</form>
			<div class="col-md-12">
				<div class="control-group ">
					<label class="control-label"></label>
					<div class="controls ">
						<button type="button" class="btn btn-default" id="consultar">Consultar</button>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="content"></div>
	</div>
{% endblock %}
