
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        getDataTable('tablaGrafico');
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var arr = new Array();
            var i = 1;
            arr[0] = ['Distancia', 'Litros'];
            {% for data in dt %}
                {% for key,value in data %}
                    arr[i] = [{{ data["distancia"] }},{{ data['litros'] }} ];
                    i++;
                {% endfor %}
            {% endfor %}
            var data = google.visualization.arrayToDataTable(arr);

            var options = {
                title: 'Gráfico de litros en tanque por distancia recorrida.',
                curveType: 'function',
                legend: {position: 'rigth'},
                colors: ['#47C24A'], // Cambiar los colores aquí
                explorer: {
                    actions: ['dragToZoom', 'rightClickToReset'],
                    axis: 'horizontal', // Puedes cambiar a 'vertical' o 'both' según tus necesidades
                    keepInBounds: true,
                    maxZoomIn: 10.0
                }
            };

            var chart = new google.visualization.AreaChart(document.getElementById('myArea1'));

            chart.draw(data, options);
        }
    </script>

<div id="tipoMedidor"><div class="label label-default">{{tipoMedidor}}</div></div>   
 <div id="mensaje">
        {% if mensaje|length>0 %}
            <h4>
                <div class="label label-warning">
                    <em>{{mensaje|length > 0 ? mensaje : ''}}</em>
                </div>
            </h4>
        {% endif %}
    </div>   
<div id="myArea1" style="width: 100%; height: 380px;">&nbsp;</div>
<table id="tablaGrafico" class="table table-condensed">
<thead>
    <tr>
        <th>Distancia</th>
        <th>Litros en Tanque</th>
    </tr>
</thead>
<tbody>
    {% for dato in dt %}
        {% if dato.distancia != 'NaN'%}
            <tr>
                <td>{{dato.distancia}} kms</td>
                <td>{{dato.litros}} lts</td>
            </tr>
        {% endif %}
    {% endfor %}
</tbody>
</table>
