<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    getDataTable('tablaGrafico');
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var arr = new Array();
        var i = 1;
        arr[0] = ['fecha', 'porcentaje'];
        {% for data in dt %}
            {% for key,value in data %}            
                arr[i] = [ new Date({{ data["fecha"]["Y"] }}, {{ data["fecha"]["m"] }}, {{ data["fecha"]["d"] }}, {{ data["fecha"]["H"] }}, {{ data["fecha"]["i"] }}, {{ data["fecha"]["s"] }} ), {{ data["litros"] }} ];                
                i++;
            {% endfor %}            
            //[new Date(2024, 0, 1, 8, 0, 0), 100, 200],
           
        {% endfor %}
        //console.log(arr);
        var data = google.visualization.arrayToDataTable(arr);
        var options = {
            title: 'Combustible en tanque (%)',
            curveType: 'function',
            legend: {position: 'rigth'},
            hAxis: {title: 'Fecha',  titleTextStyle: {color: '#333'}, slantedTextAngle: 90 },
            vAxis: {minValue: 0, maxValue: 100},
            colors: ['#aa66cc'], // Cambiar los colores aquí
            explorer: {
                actions: ['dragToZoom', 'rightClickToReset'],
                axis: 'horizontal', // Puedes cambiar a 'vertical' o 'both' según tus necesidades
                keepInBounds: true,
                maxZoomIn: 10.0
            }
        };

        var chart = new google.visualization.AreaChart(document.getElementById('myArea1'));
        chart.draw(data, options);
    }
</script> 

<div id="tipoMedidor">
    <div class="label label-default">
        {{ tipoMedidor }}
    </div>
</div>
 <div id="mensaje">
    {% if mensaje|length>0 %}
        <h4>
            <div class="label label-warning">
                <em>{{mensaje|length > 0 ? mensaje : ''}}</em>
            </div>
        </h4>
    {% endif %}
</div>
<div id="myArea1" style="width: 100%; height: 480px;">
    &nbsp;
</div>


    <table id="tablaGrafico" class="table table-condensed">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Porcentaje de Tanque</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in dt %}
                {% if dato.fecha != 'NaN'%}
                    <tr>
                        <td>{{dato.fecha.str}}</td>
                        <td>{{dato.litros}} %</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
