
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var arr = new Array();
            var i = 1;
            arr[0] = ['Tiempo', 'Litros'];
            {% for data in dt %}
                {% for key,value in data %}
                    arr[i] = [{{ data["tiempo"]}},{{ data['litros'] }} ];
                    i++;
                {% endfor %}
            {% endfor %}
            var data = google.visualization.arrayToDataTable(arr);

            var options = {
                title: 'Gráfico de litros en tanque según tiempo transcurrido',
                curveType: 'function',
                legend: {position: 'rigth'},
                hAxis: {title: 'Minutos'},
                colors: ['#45D3DE'], // Cambiar los colores aquí
                explorer: {
                    actions: ['dragToZoom', 'rightClickToReset'],
                    axis: 'horizontal', // Puedes cambiar a 'vertical' o 'both' según tus necesidades
                    keepInBounds: true,
                    maxZoomIn: 10.0
                }
            };

            var chart = new google.visualization.AreaChart(document.getElementById('myArea1'));

            chart.draw(data, options);
        }
    </script>

    <div id="tipoMedidor"><div class="label label-default">{{tipoMedidor}}</div></div>  
     <div id="mensaje">
        {% if mensaje|length>0 %}
            <h4>
                <div class="label label-warning">
                    <em>{{mensaje|length > 0 ? mensaje : ''}}</em>
                </div>
            </h4>
        {% endif %}
    </div>
    <div id="myArea1" style="width: 100%; height: 380px;">&nbsp;</div>
