{% extends "app/Template_aker/informe_result.html.twig" %}

{% block titulo %}
	Importación de Cargas
{% endblock %}


{% block content %}
	{% embed "app/Template_aker/panel_form.html.twig" %}
		{% block titulo %}
			Estos son los registros de combustible importados para el archivo
			<b>{{ filename }}</b>.
		{% endblock %}
		{% block cuerpo %}
             <div class="alert alert-info">
			<h3>Paso 2: Cálculo del odómetro en el momento de la carga.
				<small id="count"></small>
			</h3>
			<p class="text-error">
				<span class="badge badge-xs alert-danger">Atención !!!</span>
				No cierre esta pantalla hasta que se terminen de procesar todos los odómetros para la carga importada.
			</p>
            </div>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Servicio</th>
						<th>Patente</th>
						<th>Fecha</th>
						<th>Guia</th>
						<th>Litros</th>
						<th>Monto ($)</th>
						<th>Odometro (kms)</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
					{% for row in data %}
						<tr>
							<td>{{ row.servicio.nombre }}</td>
							<td>{{ row.servicio.vehiculo.patente }}</td>
							<td>{{ row.fecha|date('d-m-Y H:i') }}</td>
							<td>{{ row.guiaDespacho }}</td>
							<td>{{ row.litrosCarga }}</td>
							<td>{{ row.montoTotal|number_format(2) }}</td>
							<td id="odo{{row.id}}">---</td>
							<td id="sts{{row.id}}">Esperando...</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endblock %}
		{% block botones %}
			<a href="{{ path('fuel_import_index', {'id': organizacion.id}) }}" id="volver" class="btn btn-default">Volver</a>
		{% endblock %}
	{% endembed %}
{% endblock %}
{% block js %}
	{{ parent() }}
    <script type="text/javascript">

		$(document).ready(function () {
            window.enabledEventos = false; // desactivo la consulta de eventos, para que no se ponga lento el server
            $("#volver").css("display", "none");
            $("#count").text("Consultando Cargas.. espere por favor");
            var estado = cargarIds().then(ids => refreshData(ids));
        });


        function cargarIds() {
            return $.ajax({
            type: 'GET',
            url: "{{ path('fuel_import_initstep2') }}",
            data: {
            'sessionid': {{ session }}
            },
            dataType: "json"
        });

}

        function refreshDiv(odometro, id) {
        $("#odo" + id).text(odometro);
        $("#sts" + id).text('OK.');
        $("#count").text("Realizando las consultas, espere por favor...");

        }

        function refreshData(ids) {
            var terminados = 0;
            var error = 0;
            var interval = 3000;
            ids.forEach(function (el, index) {
                setTimeout(function () { // de esta manera no bombardeamos el server
                    $("#count").text("Faltan " + (
                    ids.length - terminados
                    ) + " consultas, espere por favor...");
                    terminados++;
                    var estado = consultarOdometro(el);
                    if (terminados === ids.length) {
                    alert("Proceso terminado!.");
                    $("#count").text("Proceso terminado!.");
                    window.enabledEventos = true; // vuelvo a activar la consulta de eventos
                    $("#volver").css("display", "block");
                    }
                    if (! estado) {
                    error++;
                    }

            }, index * interval);
            });

            return true;
        }

        function consultarOdometro(id) { // aca llamo a cada carga para computar los odometros.
            $.ajax({
                type: 'GET',
                url: "{{ path('fuel_import_calcodometro') }}",
                data: {
                'id': id
                },
                dataType: "json",
                async: false,
                timeout: 5000,
                beforeSend: function () {
                   $("#sts" + id).text('Consultando...');
                }
                }).done(function (odometro) {
                    $("#sts" + id).text('');
                if (odometro !== null) {
                    $("#odo" + id).text(odometro);
                    $("#sts" + id).append('<span class="badge  badge-xs alert-default"">OK</span>');
                    valor = true;
                } else {
                     $("#sts" + id).append('<span class="badge badge-xs alert-default">Sin Odometro</span>');
                    valor = false;
                }
                }).error(function () {
                    $("#sts" + id).html('<a href="#" onclick="reintentar(' + id + ');return false;" title="Haga click para intentar la consulta.">Reintentar</a>');
                    valor = false;

            });
            return valor;
        }

function reintentar(id) {
consultarOdometro(id);
}
	</script>
{% endblock %}
