{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}
{% block titulo %}
	Importación de Itinerarios
{% endblock %}



{% block formulario %}
    {% embed "app/Template_aker/panel_form.html.twig" %}
		{% block titulo %}
          Proceso de importación de cargas de combustible
		{% endblock %}
            {% block cuerpo %}
			 <div class="alert alert-info">
        <p>
            Este proceso permite importar desde un archivo Excel, las cargas de combustibles registradas por las empresas
            Shell y Copec. Debe seleccionar la empresa correspondiente al archivo que va a procesar y seleccionar el excel correspondiente.
            Es importante que seleccione correctamente la empresa para el formato del archivo que va a importar, de no hacerlo el proceso de importación fallará.        
        </p>
        <p>
            Este proceso se divide en dos pasos. El primero sube el archivo al servidor y hace la importación inicial. El segundo calcula el odometro de cada carga para el servicio.
        </p>
    </div>
    <h4>Paso 1: Subida y lectura de archivo excel.</h4>       
                <form class="form-horizontal" enctype="multipart/form-data" method="POST" >
                    <fieldset>
                         {{ form_errors(form) }}
            {{ form_widget(form._token) }}
            <div class="row-fluid">
                <div class="col-md-3">
                    {{ form_widget(form.tipo) }}  
                    {{ form_widget(form.archivo) }}    
                </div>
                <div class="col-md-8">
                </div>
            </div>
                    </fieldset>
		    {% endblock %}
            {% block botones %}
				<input type="submit" class="btn btn-primary" id="crear" value="Procesar"/>
				<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
			{% endblock %}
		{% endembed %}
                </form>
{% endblock %}
