{% extends "app/Template_aker/list.html.twig" %}

{% block titulo %}Cargas de Combustibles
{% endblock %}
{% block contentpanel %}
	{% if servicios %}
		<table id="tablaCargas" class="table table-condensed">
			<thead>
				<tr>
					<th class="col-md-3"  title="Nombre del servicio">Nombre</th>
					<th class="col-md-3" title="Resumen de los ultimos 30 días">Ult 30 días</th>
					<th class="col-md-3" title="Última carga realizada">Ult. Carga</th>
					<th class="col-md-1" title="Total de cargas realizadas para este servicio">Total</th>
					<th class="col-md-2"></th>
				</tr>
			</thead>
			<tbody>
				{% for servicio in servicios %}
					<tr>
						<td>{{ servicio.nombre }}</td>
						<td>

							{% if data[servicio.id].ultMes %}
							
								{% set ultMes = data[servicio.id].ultMes %}
								<b>{{ ultMes.cantidad }}</b>
								cargas de
								<b>{{ ultMes.litros|number_format(2) }}</b>
								lts por $
								<b>{{ ultMes.importe|number_format(2) }}</b>
								<div class="progress progress-xs light m-2">
									<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ ultMes.cantidad }}" aria-valuemax="{{ servicio.cargasCombustible|length }}" aria-valuemin="0" style="width: {{ ultMes.cantidad }}%;"></div>
								</div><br>

								
								{% else %}

							{% endif %}


						</td>
						<td>
							{% if data[servicio.id].ultCarga %}
								{% set ultCarga = data[servicio.id].ultCarga %}
								El
								<b>{{ ultCarga.fecha|date('d-m-Y h:i:s') }}</b>
								en
								<b>{{ ultCarga.puntoCarga.nombre|default('no establecido') }}</b><br>
								<b>{{ ultCarga.litrosCarga|number_format(2)}}</b>
								lts por $
								<b>{{ ultCarga.monto_total|number_format(2)|default('---')}}</b>

								{% else %}

							{% endif %}
						</td>
						<td><span class="badge badge-xs {{ servicio.cargasCombustible|length > 0 ? 'alert-success': 'alert-default' }}">{{ servicio.cargasCombustible|length }}</span></td>
						<td>							
							<a href="{{ path('fuel_new', {'id': servicio.id}) }}" class="btn btn-bordered btn-default btn-xs">
								<span class="fa fa-plus" aria-hidden="true"></span>
								Carga</a>
							<a href="{{ path('fuel_list', {'id': servicio.id}) }}" class="btn btn-bordered btn-default btn-xs">Historial</a>

						</td>
					</tr>


				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<em>No hay servicios asociados para esta flota.</em>
	{% endif %}
{% endblock %}
{% block js %}
{{ parent() }}
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
			$(document).ready(function () {
				$('#tablaCargas').DataTable({
					order: [[3, 'desc']],
					language: {
						processing: "Busqueda en curso...",
						search: "Buscar&nbsp;:",
						lengthMenu: "_MENU_ Elementos",
						info: "de  _START_ a  _END_ de  _TOTAL_ elementos",
						zeroRecords: "No hay registros",
						emptyTable: "Tabla vacía",
						paginate: {
							first: "Primera",
							previous: "Anterior",
							next: "Próxima",
							last: "Ultima"
						},
						aria: {
							sortAscending: ": Orden Ascendente",
							sortDescending: ": Orden Descendente"
						}
					}
				});
			});

	</script>
{% endblock %}
