{% extends "app/Template_aker/list.html.twig" %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script> 
    <script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n.min.js') }}" /></script>  
    <script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-timepicker-addon.js') }}" /></script>
    <script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n-timepicker.js') }}" /></script>   
    <script type="text/javascript">
        $(function () {            
             $("#historial_desde").datetimepicker({                               
                format: 'DD/MM/YYYY HH:mm',
                locale: 'es',
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });
            $("#historial_hasta").datetimepicker({                               
                format: 'DD/MM/YYYY HH:mm',
                locale: 'es',
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });
        });
</script>
<script type="text/javascript">
    function showModalAfip(json) {
        var obj = JSON.parse(json);
        $('#afip_importe').text("$ ".concat(obj.afip.importe));
        $('#afip_fecha').text(obj.afip.fecha);
        $('#afip_cuit').text(obj.afip.cuit);
        $('#afip_autorizacion').text(obj.afip.codAut);
        $('#afip_comprobante').text(obj.afip.nroCmp);
        $('#modalCombustibleAfip').modal('show');
        }
</script>
{% endblock %}
{% block titulo %}{{ servicio }}{% endblock %}        
{% block subtitulo %}Cargas de Combustible{% endblock %}        
{% block contentpanel %}  
    {% include "fuel/Combustible/fecha_form.html.twig" %} 
    {% include "fuel/Combustible/popup_combustible_afip.html.twig" %} 
    <div id="tablaCombustible">
    {% include "fuel/Combustible/cargas_combustible.html.twig" with {'cargas': cargas, 'vista' : 'cargas'  }%} 
      
    </div>
{% endblock %}

