{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ combustible.servicio.nombre }}{% endblock %}
{% block subtitulo %}Carga de Combustible{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}

{% block js %}
    {{ parent() }}    
    <script type="text/javascript">
        function buscarCarga() {
            var fecha = document.getElementById('secur_combustibletype_fecha').value;
            request = $.ajax({
                type: 'GET',
                url: "{{ path('fuel_findcarga',{'id': combustible.servicio.id}) }}",
                data: {"fecha": fecha},
            });
            request.done(function (html) {
                $("#tableCargas").text("");
                $('#tableCargas').append(html);
            });

        }
        $(function () {
            $("#secur_combustibletype_fecha").datetimepicker({                               
                format: 'DD/MM/YYYY HH:mm',
                locale: 'es',
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });
        
        $('#secur_combustibletype_puntocarga').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            if(valueSelected !== ''){
                  $("#secur_combustibletype_referencia option[value='']").attr('selected', 'selected');
            }
         })   
         
         $('#secur_combustibletype_referencia').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            if(valueSelected !== ''){
                  $("#secur_combustibletype_puntocarga option[value='']").attr('selected', 'selected');
            }
         })
        
    });
    </script>
{% endblock %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" >
    {% embed "app/Template_aker/panel_form.html.twig" %}
		{% block titulo %}Datos de la carga
		{% endblock %}
		{% block cuerpo %}
         <fieldset>
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_widget(form.fecha) }}  
                    {{ form_widget(form.chofer) }}  
                    {# {{ form_widget(form.referencia) }} #}   
                    {{ form_widget(form.puntocarga) }}    
                    {{ form_widget(form.cargaCompleta) }}  
                    {{ form_widget(form.tipoCombustible) }}  
                    {{ form_widget(form.litros_carga) }}   
                    {{ form_widget(form.monto_total) }}    
                </div>
                <div class="col-md-6">
                    
                    {{ form_widget(form.odometroTablero) }} 
                    {{ form_widget(form.horometroTablero) }}  
                    {{ form_widget(form.guia_despacho) }}    
                    
                    <div class="control-group "><label class="control-label" for="secur_combustibletype_descripcion">
                            Descripción 
                        </label><div class="controls">
                            <input type="text" class="form-control" maxlength="254" id="secur_combustibletype_descripcion" name="secur_combustibletype[descripcion]">        
                        </div>    
                    </div>
                    {% if isCanbusData %}
                        <button class="btn " type="button" onclick="buscarCarga()">Buscar Cargas</button>
                        <div id="tableCargas"></div>
                    {% endif %}
                </div>
                <div class="col-lg-4 col-md-6">
                    
                </div>
            </div>
            {{ form_widget(form._token) }}            
        </fieldset>
		{% endblock %}
        {% block botones %}
            <input type="submit" class="btn btn-primary" id="crear" value="Agregar"/>
            <a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
        {% endblock %}
    {% endembed %}
	</form>

     
{% endblock %}
