{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	{{ organizacion}}
{% endblock %}
{% block subtitulo %}Carga de Combustible Masiva
{% endblock %}

{% block css %}
	{{ parent() }}
	<link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}


{% block js %}
	{{ parent() }}
	<script type="text/javascript">
		$(function () {
            $("#secur_combustibletype_fecha").datetimepicker({                               
                format: 'DD/MM/YYYY HH:mm',
                locale: 'es',
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });

            var today = new Date();
            $("#stock_ult_compra").datetimepicker("setDate", today);
        });
        $("#secur_combustibletype_servicio").select2();
	</script>

	<script type="text/javascript">

		$("#agregar").click(function () {
            var servicio = $("#secur_combustibletype_servicio option:selected").text();
            var idservicio = $("#secur_combustibletype_servicio option:selected").val();
            var fecha = $("#secur_combustibletype_fecha").val();            
            var guiaDespacho = $("#secur_combustibletype_guia_despacho").val();
            var descripcion = $("#secur_combustibletype_descripcion").val();
            var tipoCarga = $("#secur_combustibletype_tipoCarga option:selected").val();
            var chofer = $("#secur_combustibletype_chofer option:selected").val();
            var tipoCombustible = $("#secur_combustibletype_tipoCombustible option:selected").val();
            var montoTotal = null;
            var litrosCarga = null;

            if ($.isNumeric($("#secur_combustibletype_litros_carga").val())) {
                litrosCarga = parseFloat($("#secur_combustibletype_litros_carga").val());
            } else {
                str = $("#secur_combustibletype_litros_carga").val();
                str.replace(',', '.');
                litrosCarga = parseFloat(str);
            }

            if ($.isNumeric($("#secur_combustibletype_monto_total").val())) {
                montoTotal = parseFloat($("#secur_combustibletype_monto_total").val());
            } else {
                str = $("#secur_combustibletype_monto_total").val();
                str.replace(',', '.');
                montoTotal = parseFloat(str);
            }

            // var montoTotal = parseFloat($("#secur_combustibletype_monto_total").val());
            var odometro = $("#secur_combustibletype_odometro").val();
            var horometro = $("#secur_combustibletype_horometro").val();
            // var estacion = $("#secur_combustibletype_referencia option:selected").text();
            var idestacion = $("#secur_combustibletype_referencia option:selected").val();
            var idpuntocarga = $("#secur_combustibletype_puntocarga option:selected").val();
            newNotify('Espere....',"warning","La carga se está ingresando. Aparecerá en la tabla al final");
            var request = $.ajax({
                type: 'POST',
                url: "{{ path('fuel_newmasiva',{'id': organizacion.id}) }}",
                data: {
                    'servicio': idservicio,
                    'fecha': fecha,
                    'guiaDespacho': guiaDespacho,
                    'descripcion': descripcion,
                    'chofer': chofer,
                    'litrosCarga': litrosCarga,
                    'montoTotal': montoTotal,
                    'odometro': odometro,
                    'estacion': idestacion,
                    'tipoCarga': tipoCarga,
                    'tipoCombustible': tipoCombustible,
                    'horometro': horometro,
                    'puntocarga': idpuntocarga
                },
                dataType: "json"
            });

            request.done(function (r) {
                if (r['status'] == 'OK') {
                    $('#tabla').append('<tr><td><span class="label label-success">OK</span></td><td>' + r['servicio'] + '</td><td>' + r['fecha'] + '</td><td>' + r['guiaDespacho'] + '</td><td>' + r['litrosCarga'] + '</td><td>' + r['tipoCombustible'] + '</td><td>' + r['montoTotal'] + '</td><td>' + r['odometro'] + '</td><td>' + r['horometroTablero'] + '</td><td>' + r['ubicacion'] + '</td><td>' + r['estacion'] + '</td><td>' + r['puntocarga'] + '</td><td>' + r['tipoCarga'] + '</td><td>' + r['descripcion'] + '</td><td>' + r['chofer'] + '</td></tr>');
                } else {
                    $('#tabla').append('<tr><td><span class="label label-important">ERROR</span> </td><td>' + r['servicio'] + '</td><td>' + r['fecha'] + '</td><td>' + r['guiaDespacho'] + '</td><td>' + r['litrosCarga'] + '</td><td>' + r['tipoCombustible'] + '</td><td>' + r['montoTotal'] + '</td><td>' + r['odometro'] + '</td><td>' + r['horometroTablero'] + '</td><td>' + r['ubicacion'] + '</td><td>' + r['estacion'] + '</td><td>' + r['puntocarga'] + '</td><td>' + r['tipoCarga'] + '</td><td>' + r['descripcion'] + '</td><td>' + r['chofer'] + '</td></tr>');
                }

                $("#secur_combustibletype_fecha").val(fecha);
                $("#secur_combustibletype_fecha").trigger('change');

                $("#secur_combustibletype_servicio").val(idservicio);
                $("#secur_combustibletype_servicio").trigger('change');

                $("#secur_combustibletype_referencia").val(idestacion);
                $("#secur_combustibletype_referencia").trigger('change');
            });

            document.getElementById("form-masiva").reset();

        });

        $('#secur_combustibletype_puntocarga').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            if (valueSelected !== '') {
                $("#secur_combustibletype_referencia option[value='']").attr('selected', 'selected');
            }
        })

        $('#secur_combustibletype_referencia').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            if (valueSelected !== '') {
                $("#secur_combustibletype_puntocarga option[value='']").attr('selected', 'selected');
            }
        })
	</script>

{% endblock %}

{% block formulario %}
	<form class="form" action="#" method="POST" id="form-masiva">
		{% embed "app/Template_aker/panel_form.html.twig" %}
			{% block titulo %}Datos de la carga
			{% endblock %}
			{% block cuerpo %}
				<fieldset>
					{{ form_errors(form) }}
					<div class="row">
						<div class="col-md-6">
							{{ form_widget(form.servicio) }}
							{{ form_widget(form.fecha) }}
							{{ form_widget(form.chofer) }}
							{{ form_widget(form.puntocarga) }}
							{{ form_widget(form.tipoCarga) }}
							{{ form_widget(form.tipoCombustible) }}
                            {{ form_widget(form.litros_carga) }}
                            {{ form_widget(form.monto_total) }}
							{#{{ form_widget(form.referencia) }} #}
						</div>

						<div class="col-md-6">
							{{ form_widget(form.odometro) }}
							{{ form_widget(form.horometro) }}
							{{ form_widget(form.guia_despacho) }}

							{{ form_widget(form.descripcion) }}
							{{ form_widget(form._token) }}
						</div>
					</div>

				</div>
			</fieldset>
		{% endblock %}
		{% block botones %}
			<input type="button" id="agregar" class="btn btn-primary" value="Agregar"/>
			<a href="{{ app.session.get('volver') }}" class="btn">Cerrar</a>
		{% endblock %}
	{% endembed %}
	<fieldset>


		<div class="row-fluid">
			<div class="span11">
				<table class="table table-condensed" id="tabla">
					<thead>
						<tr>
							<th></th>
							<th>Servicio</th>
							<th>Fecha</th>
							<th>Despacho</th>
							<th>Litros</th>
							<th>Tipo</th>
							<th>Monto</th>
							<th>Odómetro GPS</th>
							<th>Horometro Tablero</th>
							<th>Ubicación</th>
							<th>Estación de Servicio</th>
							<th>Punto de Carga</th>
							<th>Tipo de Carga</th>
							<th>Descripción</th>
							<th>Chofer</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</fieldset>
</form>{% endblock %}
