<!-- Modal -->
<div class="modal fade" id="modalCombustibleAfip" role="dialog" aria-labelledby="modalActividadNewLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="col-md-12" style="text-align: center;">
                    <h4 class="modal-title" id="myModalLabel">Carga de Combustible</h4>
                    <h5 class="modal-title" id="nombreProyecto"></h5>
                </div>
            </div>
            <div class="modal-body">
                <div id="modal-body-actividad" style="text-align: center;">
                    <h4> Datos de la factura</h4>
                    <table class="table table-condensed">
                        <tr>
                            <td>Comprobante</td><td><div id="afip_comprobante"></div></td>
                        </tr>
                        <tr>
                            <td>Fecha</td><td><div id="afip_fecha"></div></td>
                        </tr>
                        <tr>
                            <td>Importe</td><td><div id="afip_importe"></div></td>
                        </tr>
                        <tr>
                            <td>Cuit</td><td><div id="afip_cuit"></div></td>
                        </tr>
                        <tr>
                            <td>Autorización</td><td><div id="afip_autorizacion"></div></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>     
