{% if arr|length > 0%}
    <div class="alert alert-info">Esta tabla posee las cargas informadas por el vehículo</div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Hora</th>
                <th>Tanque ántes</th>
                <th>Tanque después</th>
                <th>Cargados</th>
                {#<td><a href="#" onclick='setHora("{{combustible.desde}}")'>{{combustible.desde|date('H:i')}} a {{combustible.hasta|date('H:i')}}</a> </td>
                <td>{{combustible.tanqueAnterior.porcentaje}} % 
                    ({{combustible.tanqueAnterior.lit.litros}} lts) </td>
                <td>{{combustible.tanquePosterior.porcentaje}} % 
                    ({{combustible.tanquePosterior.lit.litros}} lts) </td>
                <td>{{combustible.diferencia}} lts</td>#}
            </tr>
        </thead>
        <tbody>
            {% for combustible in arr %}
                <tr>
                    <td>
                        <a href="#" onclick='setHora("{{combustible.desde|date('d-m-Y H:m:s')}}")'>{{combustible.desde|date('H:i')}} a {{combustible.hasta|date('H:i')}}</a> 
                    </td>
                    <td>
                        {{combustible.tanqueAnterior.porcentaje}}% 
                        {% if combustible.tanqueAnterior.lit.litros != 0 %}
                            ({{combustible.tanqueAnterior.lit.litros}} lts) 
                        {% endif %}
                    </td>
                    <td>
                        {{combustible.tanquePosterior.porcentaje}}% 
                        {% if combustible.tanquePosterior.lit.litros != 0 %}
                            ({{combustible.tanquePosterior.lit.litros}} lts) 
                        {% endif %}
                    </td>
                    <td>
                        {% if combustible.diferencia != 0 %}
                            {{combustible.diferencia}} lts
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">El vehículo no reporta ninguna carga para este día.</div>
{% endif %}

<script type="text/javascript">
 function setHora(fecha){
       var txtfecha = document.getElementById("secur_combustibletype_fecha");
            txtfecha.value = fecha;
 }
</script>