{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Informe de Estadía en Referencia{% endblock %}
{% block titulo %}Informe de Estadía en Referencia{% endblock %}

{% block informacion %}
Desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>.
[ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
<form name="formexport" action="{{ path('informe_estadia_exportar', {'tipo':  '0' }) }}" method="POST" >
    <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
    <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
</form>
{% endblock %}

{% block contentpanel %}
{% if informe is not null %}
    {% if informe|length > 0 %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Referencia</th>
                <th>Servicio</th>
                <th>Cantidad</th>
                <th>Fecha Ingreso</th>
                <th>Fecha Egreso</th>
                <th>Duración</th>
               {# <th>Cont.</th>
                <th>Inp2</th>
                <th>Inp3</th> #}
            </tr>
        </thead>
        <tbody>
            {% for referencia in informe %}
                <tr>
                    <th rowspan={{ referencia.count + referencia.servicios|length +1 }}>{{ referencia.nombre }}</th>
                    {% for servicio in referencia.servicios %}
                        <tr>
                            <th rowspan={{ servicio.count +1}}>{{ servicio.nombre }}</th>
                            <td rowspan={{ servicio.count +1}}>{{ servicio.count }}</td>
                            {% for paso in servicio.pasos %}
                                <tr>
                                    <td>{{ paso.fecha_ingreso|date('d-m-Y H:i:s') }}</td>
                                    <td>{{ paso.fin ? paso.fecha_egreso : paso.fecha_egreso|date('d-m-Y H:i:s') }}</td>
                                    <td>{{ paso.tiempo }}</td>
                                   {# {% if paso.inputs is defined %}
                                        <td>{{ paso.inputs.contacto is defined and paso.inputs.contacto ? 'Cont' : ''}}</td>
                                        <td>{{ paso.inputs.entrada_2 is defined and paso.inputs.entrada_2 ? 'Inp2' : ''}}</td>
                                        <td>{{ paso.inputs.entrada_3 is defined and paso.inputs.entrada_3 ? 'Inp3' : ''}}</td>
                                        <td>{{ paso.inputs.tiempo }}</td>
                                    {% endif %}  #}
                                </tr>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <td colspan=5><em>Ningún servicio paso por aca.</em></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
            <em>No se registran pasos por referencia.</em>
    {% endif %}
{% endif %}
{% endblock %}
            
            
                {#{% for data in servicio.data %}
                            <tr>
                                <td>{{ data.fecha_ingreso|date('d-m-Y H:i:s') }}</td>
                                <td>{{ data.fecha_egreso|date('d-m-Y H:i:s') }}</td>
                                <td>{{ data.tiempo }}</td>
                                <td>{{ data.distancia }}</td>
                            </tr>
                        {% endfor %} #}