<h1>{{ organizacion.nombre }}</h1>
{% if informe is not null %}
    <h2>En estado criticos</h2>
    {% if informe[3] != null %}
        <p>Estos son los mantenimientos que debe atender en forma urgente ya que los mismos se encuentran vencidos respecto a los valores ingresados para control.</p>
        {% include "ws/InformeMantenimiento/content_tareas.html.twig" with {'tareas': informe[3] }%}  
    {% else %}    
        <h2>No tiene mantenimientos en estado criticos</h2>
    {% endif %}    

    <h2>Próximas a Vencer</h2>
    {% if informe[2] != null %}        
        <p>Estos mantenimientos requiere su próxima atención ya que está próximo a vencerse segun los valores configurados para el control.</p>

        {% include "ws/InformeMantenimiento/content_tareas.html.twig" with {'tareas': informe[2] }%}  
    {% else %}    
        <h3>No tiene mantenimientos próximos a vencer.</h3>
    {% endif %}
{% else %}
    <h3>Felicitaciones!!!, no tiene mantenimientos pendientes.</h3>
{% endif %}    

{% if consulta['incluir_ok'] is defined %}
    {% if informe[1] != null %}            
        <h2>Correctas</h2>
        <p>Estas tareas de mantenimiento estan correctas y por el momento no requieren su atención.</p>

        {% include "ws/InformeMantenimiento/content_tareas.html.twig" with {'tareas': informe[1] }%}  
    {% endif %}    
{% endif %}    