<table style="border: 1px solid solid">
    <thead>
        <tr style="background-color: lightgray">
            <th>Servicio</th>
            <th>Tipo</th>
            <th>Centro Costo</th>
            <th>Odometro Act.</th>
            <th>Horometro Act.</th>
            <th>Mantenimiento</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in tareas %}
            <tr>
                <td>{{ tarea.servicio }}</td>
                <td>{{ tarea.tipo_vehiculo }}</td>
                <td>{{ tarea.centroCosto|default('') }}</td>
                <td>{{ tarea.odometro|number_format(1) }}</td>
                <td>{{ tarea.horometro }} </td>
                <td>{{ tarea.nombre}}</td>
                <td style="background-color: {{ tarea.status.color }}">{{ tarea.status.message}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>