{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Asociacion de variables{% endblock %}
{% block formulario %}
<form class="form-horizontal"   method="POST" >
<fieldset>
    <div class="row-fluid">
        <div class="span8">
            <h4>Variables asociadas a la variable "{{ variable.nombre }}"</h4>
            <fieldset>
                {{ form_errors(form) }}
                {{ form_widget(form.variables) }}                
                {{ form_widget(form._token) }}
            </fieldset>
            {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Asignar' } %}
        </div>
    </div>
</fieldset>
</form>
{% endblock %}