{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Alta de Variable{% endblock %}
{% block formulario %}
<form class="form-horizontal" method="POST" >
<fieldset>
    <div class="row-fluid">
        <div class="span8">
            <h4>Datos de la variable</h4>
            <fieldset>
                {{ form_errors(form) }}
                {{ form_widget(form.nombre) }}                
                {{ form_widget(form.codename) }}
                {{ form_widget(form.unidadMedida) }}                
                {{ form_widget(form.tipoVariable) }}                
                {{ form_widget(form.cotaMinima) }}                
                {{ form_widget(form.cotaMaxima) }}                
                {{ form_widget(form.valorDefault) }}                
                {{ form_rest(form) }}
            </fieldset>
            {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Agregar' } %}
        </div>
        <div class="span4">
            <h4>información</h4>
            <p>Si va a crear una variable compuesta tenga en cuenta que primero debe crear las varaibles independientes y luego crear la variable que 
            las va a asociar.</p>
            <p>Para la variable compuesta la cota mínima, máxima y el valor por defaut no serán tenidos en cuenta ya que se usaran las variables hijas 
            para generar los controles.</p>
        </div>
    </div>
</fieldset>
</form>
{% endblock %}