<table class="table table-condensed">
    <thead>
        <tr>
            <th>Realizada</th>
            <th>Actividad</th>
            <th>Artículo</th>
            <th>Cantidad Necesaria</th>
            <th>Cantidad Usada</th>
        </tr>
    </thead>
    <tbody>
        {% for actividad in actividades %}
            {%for producto in actividad.productos %}
                <tr>
                    <td>
                        <input type="checkbox" id="a{{ actividad.id }}" name="registro[actividad][{{ actividad.id }}]">
                    </td>
                    <td>
                        {{ actividad.nombre }}
                    </td>
                    <td>
                        {{ producto.producto.nombre }}
                    </td>
                    <td>
                        {{ producto.cantidad }}
                    </td>
                    <td>
                        <input class="form-control" id="p{{ producto.producto.id }}" name="registro[producto][{{ actividad.id }}][{{ producto.producto.id }}]" type="number" value="{{ producto.cantidad }}">
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}

    </tbody>
</table>
