{% block css %}
	<link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet" type="text/css" media="all"/>
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

<panel class="panel">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				{% include "app/Template_aker/show_row.html.twig" with {'label': 'Odómetro', 'data': servicio.ultOdometro != null ? servicio.ultOdometro/1000|number_format(0, "", "") ~ ' kms' : '---'  } %}
				{% include "app/Template_aker/show_row.html.twig" with {'label': 'Horómetro', 'data': servicio.formatHorometro } %}
				{% include "app/Template_aker/show_row.html.twig" with {'label': 'Ultimo Reporte', 'data': servicio.UltFechaHora|date('d-m-Y H:i:s', app.user.timeZone)} %}
			</div>
			<div class="col-md-6">
				{% if servicio.vehiculo is not null%}
					{% include "app/Template/show_row.html.twig" with {'label': 'Patente', 'data': servicio.vehiculo.patente } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Marca', 'data': servicio.vehiculo.marca    } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Modelo', 'data': servicio.vehiculo.modelo } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Año', 'data': servicio.vehiculo.aniofabricacion } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Color', 'data': servicio.vehiculo.color } %}
					{% include "app/Template/show_row.html.twig" with {'label': 'Ficha Técnica', 'data': servicio.vehiculo.carModelo != null ? servicio.vehiculo.carModelo.nombre : '---' } %}
				{% else %}
					No se encuentran vehículos asociados a este servicio.
				{% endif %}
			{# </div> #}
		</div>
	</div>
</panel>

<panel class="panel">
	<header class="panel-heading">
		<h2 class="panel-title">Plan de Mantenimiento</h2>
	</header>
	<div class="panel-body">

		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Mantenimiento</th>
					<th>Estado</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for tarea in tareas %}
					{# array:1 [▼
					                    11123 => array:4 [▼
					                        "code" => 3
					                        "message" => "Vencida por 33 dias"
					                        "color" => "red"
					                        "nivel" => "important"
					                    ]
					                  ]
					                #}
					{% for tarea in tarea.mantenimientos %}
						<tr>
							<td>
								<a href="{{path('tareamant_show',{ 'id':tarea.id })}}">{{ tarea.nombre }}</a>
							</td>
							<td>
								<label class="label label-{{ statusmant[tarea.id].nivel|default('default') }}">
									{{ statusmant[tarea.id].message|default('---') }}
								</label>
							</td>
							<td>
								<a href="{{path('tareamant_registrar',{'id':tarea.id})}}" class="btn btn-small">
									<i class="fa fa-plus"></i>
									Orden Trabajo</a>
							</td>
						</tr>
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</panel>

<panel class="panel">
	<header class="panel-heading">
		<h2 class="panel-title">Ordenes de Trabajo</h2>
	</header>
	<div class="panel-body">
		<div id="tablaOrdenTrabajo">
			{% if ordenes is defined %}
				{% include "mante/OrdenTrabajo/ordenes.html.twig" with {'ordenes': ordenes } %}
			{% else %}
				<h4>No hay órdenes de trabajo registradas para este vehículo</h4>
			{% endif %}
		</div>


	</div>
</panel>
{% if is_granted('ROLE_PETICION_VER') %}
	<panel class="panel">
		<header class="panel-heading">
			<h2 class="panel-title">Pedido de Reparación</h2>
		</header>
		<div class="panel-body">

			<div id="tablaPeticiones">
				{% if peticiones is defined %}
					{% include "crm/Peticion/peticiones.html.twig" with {'peticiones': peticiones } %}
				{% else %}
					<h4>No hay órdenes de reparación nuevas registradas para este vehículo</h4>
				{% endif %}
			</div>
		</div>
	</panel>
{% endif %}

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript">
	function datatable() {
var tabla = $('#tableOrdenes').dataTable({
order: true,
paging: true,
language: {
"url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
}
});
var tabla1 = $('#tablePeticiones').dataTable({
order: true,
paging: true,
language: {
"url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
}
});
}
$(document).ready(function () {
datatable();

});
</script>

<style>
	#tableOrdenes_filter,
	#tablePeticiones_filter {
		width: 100px;
		float: right;
		margin-right: 120px;
	}
	#tableOrdenes_length,
	tablePeticiones_length {
		width: 130px;
		float: left;
	}
</style>
