{% if last %}
	<div style="width: 200px;">
		en taller
		<i>{{ last.taller.direccion|default(' desconocido') }}</i>,
			por un costo de
		<b>$
			{{ last.costo|number_format(2, ',', '.')|default('no resgistado')  }}</b>.
		<p>
			{% if tarea.mantenimiento.porKilometros %}
				Realizado a los
				{{ last.datoRealizado }}
				kms. Próximo a los
				<b>{{ last.datoProximo }}
					kms.</b>
			{% elseif tarea.mantenimiento.porHoras %}
				Realizado a las
				{{ last.datoRealizado }}
				hs. Próximo a las
				<b>{{ last.datoProximo }}
					hs.</b>
			{% elseif tarea.mantenimiento.pordias %}
				Realizado el
				{{ last.fecha }}. Próximo el
				<b>{{ last.fechaProximo|date('d/m/Y') }}</b>
			{% endif %}
			<br><small>
				<i>{{ last.ejecutor.nombre|default('----') }}
					@
					{{ last.created_at|date('d/m/Y H:i', app.user.timeZone) }}
					Ingresó al sistema</i>
			</small>
		</p>
	</div>
{% else %}
	<p>Sin datos</p>
{% endif %}
