{# lo oculto para que no joda #}
<div class="row-fluid" style="border-style:solid; border-width: 1px;border-radius: 5px; margin-top: 10px; padding: 10px; border-color:#cccccc">
	<h4>PASO 2</h4>
	<h5>En este formulario puede registrar los datos del primer mantenimiento realizado para el plan seleccionado. Complete los datos necesarios y presione "Agregar". Va a poder seleccionar otro plan para el mismo servicio luego de ingresado este mantenimiento.
	</h5>
	<div class="row">
		<div class="col-md-4">
			<div class="control-group ">
				<label class="control-label" for="mant_fecha">
					Fecha Actual
				</label>
				<div class="controls">
					{{ form_widget(formTarea.fecha, { 'attr': {'class': 'form-control'} }) }}
				</div>

			</div>

		</div>
		<div class="col-md-8" id="datoProximo">
			{% if tipoMant == 0%}
				<div class='col-md-6'>
					<div class="control-group ">
						<label class="control-label" for="mant_fecha">
							Realizado a los (kms)
						</label>
						<div class="controls">
							<input type='text' class='form-control' id='mant_dato_realizacion' name='mant[dato_realizacion]' onchange='calcular_proximo()'>
						</div>

					</div>
				</div>
				<div class='col-md-6'>
					<div class="control-group ">
						<label class="control-label" for="mant_fecha">
							Próximo  (kms)
						</label>
						<div class="controls">
							<input type='text' class='form-control' id='mant_dato_proximo' name='mant[dato_proximo]'>


						</div>

					</div>
				</div>
			{% elseif tipoMant == 1%}
				<div class='col-md-6'>
					<div class="control-group ">
						<label class="control-label" for="mant_fecha">
							Realizado a las (Hs)
						</label>
						<div class="controls">
							<input type='text' class='form-control' id='mant_dato_realizacion' name='mant[dato_realizacion]' onchange='calcular_proximo()'>

						</div>

					</div>
				</div>
				<div class='col-md-6'>
					<div class="control-group ">
						<label class="control-label" for="mant_fecha">
							Próximo  (Hs)
						</label>
						<div class="controls">
							<input type='text' class='form-control' id='mant_dato_proximo' name='mant[dato_proximo]'>


						</div>

					</div>
				</div>
			{% else %}
				<div class='col-md-6'>
					<div class="control-group ">
						<label class="control-label" for="mant_fecha">
							Realizado el  (Día)
						</label>
						<div class="controls">
							<input type="text" class="form-control" id="mant_dato_realizacion_fecha" name="mant[dato_realizacion_fecha]" required="required">


						</div>

					</div>
				</div>
				<div class="col-md-6">
					<div class="control-group ">
						<label class="control-label" for="mant_fecha">
							Próximo  (Día)
						</label>
						<div class="controls">
							<input type="text" class="form-control" id="mant_dato_proxima_fecha" name="mant[dato_proxima_fecha]">


						</div>

					</div>
				</div>

			{% endif %}

		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			{% if formTarea['taller'] is defined %}
				<div class="control-group ">
					<label class="control-label" for="mant_fecha">
						Taller
					</label>
					<div class="controls">

						{{ form_widget(formTarea.taller, { 'attr': {'class': 'form-control'} }) }}

					</div>
				</div>
			{% endif %}
		</div>
		<div class="col-md-3">
			{% if formTarea['deposito'] is defined %}
				<div class="control-group ">
					<label class="control-label" for="mant_fecha">
						Depósito
					</label>
					<div class="controls">
						{{ form_widget(formTarea.deposito, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
			{% endif %}
		</div>
		<div class="col-md-3">
			{% if formTarea['sector'] is defined %}
				<div class="control-group ">
					<label class="control-label" for="mant_sector">
						Sector
					</label>
					<div class="controls">
						{{ form_widget(formTarea.sector, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
			{% endif %}
		</div>
		<div class="col-md-3">
			{% if formTarea['centrocosto'] is defined %}
				<div class="control-group ">
					<label class="control-label" for="mant_fecha">
						Centro de Costo
					</label>
					<div class="controls">
						{{ form_widget(formTarea.centrocosto, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="control-group ">
				<label class="control-label" for="mant_fecha">
					Detalle de trabajo realizado.
				</label>
				<div class="controls">
					{{ form_widget(formTarea.observacion) }}
				</div>
			</div>
		</div>
	</div>
</div>
