{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ app.user.organizacion.nombre }}{% endblock %}

{% block js %}
    {{ parent() }}      
    <script>
        $(document).ready(function() {
        $("#porDia").css('display', 'none');
                $("#porHora").css('display', 'none');
                $("#porKilometro").css('display', 'none');
                if ({{ tarea.mantenimiento.porKilometros|default(0) }} === 1) {
        $("#porKilometro").css('display', 'block');
          $("#tarea_mantenimiento_edit_intervaloKilometros").attr('required', 'required');
           $("#tarea_mantenimiento_edit_avisoKilometros").attr('required', 'required');
        }
        if ({{ tarea.mantenimiento.porHoras|default(0) }} === 1) {
        $("#porHora").css('display', 'block');
          $("#tarea_mantenimiento_edit_intervaloHoras").attr('required', 'required');
           $("#tarea_mantenimiento_edit_avisoHoras").attr('required', 'required');
        }
        if ({{ tarea.mantenimiento.porDias|default(0) }} === 1) {
           $("#porDia").css('display', 'block');
           $("#tarea_mantenimiento_edit_intervaloDias").attr('required', 'required');
           $("#tarea_mantenimiento_edit_avisoDias").attr('required', 'required');
        }
        });
    </script>    
{% endblock %}

{% block subtitulo %}
    Edición de {{ tarea.mantenimiento.nombre }} para {{ tarea.servicio.nombre }}
{% endblock %}
{% block formulario %}
    <form class="form-horizontal" action="{{ path('tareamant_edit', {'id': tarea.id} ) }}"  method="POST" >
        <fieldset>
            {{ form_errors(form) }}
            <div class="row-fluid">
                <div class="span8">
                    <div class="control-group ">
                        <label class="control-label">Servicio</label>
                        <div class="controls"><b>{{ tarea.servicio.nombre }}</b></div>
                    </div>
                    <div class="control-group ">
                        <label class="control-label">Mantenimiento</label>
                        <div class="controls"><b>{{ tarea.mantenimiento.nombre }}</b></div>
                    </div>                    
                    <div id="porDia" style="display:none">
                        <h4>Mantenimiento por días</h4>
                        {{ form_widget(form.intervaloDias) }}
                        {{ form_widget(form.avisoDias) }}
                        {{ form_widget(form.proximoDias) }}
                    </div>
                    <div id="porKilometro" style="display:none">
                        <h4>Mantenimiento por kilómetros</h4>
                        {{ form_widget(form.intervaloKilometros) }}
                        {{ form_widget(form.avisoKilometros) }}
                        {{ form_widget(form.proximoKilometros) }}
                    </div>
                    <div id="porHora" style="display:none">
                        <h4>Mantenimiento por horas</h4>
                        {{ form_widget(form.intervaloHoras) }}
                        {{ form_widget(form.avisoHoras) }}
                        {{ form_widget(form.proximoHoras) }}
                    </div>
                    {{ form_rest(form) }}
                </div>
                <div class="span3">
                    {% include "mante/TareaMantenimiento/info_extra.html.twig" with {'tare': tarea} %} 
                </div>
            </div>
            {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Modificar' } %}
        </fieldset>
    </form>
{% endblock %}
