{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ tarea.servicio.nombre }}{% endblock %}
{% block subtitulo %}Mantenimiento Eventuales{% endblock %}

{% block help %}
    <a href="javascript:void(0);" onclick="javascript:introJs().start();"><img src="{{ asset('/images/help.png') }}" alt="Ayuda" title="Ayuda"></a>
    {% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
    <style type="text/css">
        .ui-timepicker-div
        .ui-widget-header { margin-bottom: 8px; }
        .ui-timepicker-div dl { text-align: left; }
        .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
        .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
        .ui-timepicker-div td { font-size: 12px; }
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
    </style>
{% endblock %}

{% block js %}
    {{ parent() }}      
    <script type="text/javascript">
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $.timepicker.setDefaults($.timepicker.regional["es"]);
            $("#mant_fecha").datetimepicker({
                dateFormat: 'dd/mm/yy',
            });
        });
    </script>    
{% endblock %}
{% block formulario %}
    <form class="form-horizontal" action="{{ path('main_tareamant_editeventual', {'id': tarea.id} ) }}"  method="POST" >
        <fieldset>
            {{ form_errors(form) }}
            <div class="row-fluid">
                <div class="span8">
                    {{ form_widget(form.fecha) }}
                    {{ form_widget(form.observacion) }}
                    {{ form_widget(form.costo) }}
                    {{ form_widget(form.taller) }}
                </div>
            </div>
            {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Cambiar' } %}
        </fieldset>
        {{ form_rest(form) }}
    </form>
{% endblock %}
