{% if step == 1 %}
Puede seleccionar a que equipos va a asociar el mantenimiento. Si selecciona <b>todos los equipos</b> o <b>grupo</b> se le pedirá en una 
pantalla aparte que ingrese del próximo odómotro, horometro o fecha a realizar el mantenimiento para cada equipo.
{% elseif step == 2  %}
Seleccione que tarea de mantenimiento está asociando a los equipos.
{% elseif step == 3  %}
{% elseif step == 4  %}
{% elseif step == 5  %}
{% endif %}