<h4>Información</h4>
<ul class="unstyled">
    <li><b>Servicio:</b> {{ tarea.servicio.nombre }}</li>
    <li><b>Tarea:</b> {{ tarea.mantenimiento.nombre }}</li>
        {% if tarea.mantenimiento.porKilometros %}
        <li><b>Odómetro actual:</b> {{ tarea.servicio.ultOdometro != null ? (tarea.servicio.ultOdometro/1000)|number_format(0, '', '') ~ ' kms.': 'n/d' }}</li>
        <li><b>Intervalo kilómetros:</b> {{ tarea.intervaloKilometros ~ ' kms.' }}</li>
        <li><b>Kilómetros de anticipo:</b> {{ tarea.avisoKilometros ~ ' kms.' }}</li>
        {% endif %}
        {% if tarea.mantenimiento.porHoras %}
        <li><b>Horómetro actual: </b> {{ tarea.servicio.ultHorometro != null ? tarea.servicio.formatHorometro : 'n/d' }}</li>
        <li><b>Intervalo horas:</b> {{ tarea.intervaloHoras ~ ' hs.' }}</li>
        <li><b>Horas de anticipo:</b> {{ tarea.avisoHoras ~ ' hs.' }}</li>
        {% endif %}
        {% if tarea.mantenimiento.porDias %}
        <li><b>Intervalo de Días:</b> {{ tarea.intervaloDias ~ ' días.' }}</li>
        {% endif %}
    <li>
        <p><b>Estado:</b> {{ status.message }}<p>
    </li>
</ul>
