{% if tmantenimientos %}
	<a href="javascript:viod(0)" class="btn btn-default" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a>
	<form name="formexport" action="{{ path('tareamant_exportar') }}" method="POST">
		<input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
	</form>
	<table class="table table-condensed table-hover" id="tableFlota">
		<thead>
			<tr>
				<th class="col-md-4">Servicio</th>
				<th class="col-md-2">Centro de Costo</th>
				<th class="col-md-6">Planes de Mantenimiento</th>

			</tr>
		</thead>
		<tbody>
			{% for value in tmantenimientos %}
				<tr>
					<td class="col-md-5">
						<div class="col-md-1">
							{% include "app/Template/show_servicio_image.html.twig" with {'servicio': value.servicio, 'size': '40px' } %}
						</div>
						<div class="col-md-11">
							<div style="margin-left: 10px;" class="row-fluid"><a  href="{{path('tareamant_showservicio',{'id': value.servicio.id})}}">{{ value.servicio.nombre }}</a></div>
							<p>
								<small style="margin-left: 10px;">
									<label class="label label-default label-info">
										{{ value.servicio.getStrTipoObjetos }}
									</label>&nbsp;
									<label class="label label-default label-info">
										{{ value.servicio.tipoServicio.nombre }}
									</label>
								</small>
							</p>
							<div class="row">
								<div class="col-md-4" title="Ult. Reporte">
									{% if value.servicio.ultFechahora is not null %}
										<div class="label label-default">
											{{ value.servicio.ultFechahora is not null ? value.servicio.ultFechahora|date('d-m-Y H:i:s', app.user.timeZone):'---' }}</div>
									{% endif %}
								</div>
								<div class="col-md-4" title="odómetro">
									{% if value.servicio.ultOdometro %}
										<div class="label label-default">
											{{ (value.servicio.ultOdometro/1000)|number_format(1) }}
											Kms

										</div>
									{% endif %}
								</div>
								<div class="col-md-4" title="horómetro">
									{% if value.servicio.ultHorometro %}
										<div class="label label-default">
											{{ value.servicio.formatHorometro }}
											Hs
										</div>
									{% endif %}

								</div>
							</div>
						</div>
					</td>
					<td class="col-md-2">
						{% if value.servicio.centrocosto  is not null %}
						<a  href="{{path('centrocosto_show',{'id': value.servicio.centrocosto.id})}}">{{value.servicio.centrocosto.nombre }}</a>
						{% else %}
						---
						{% endif %}
					</td>
					<td class="col-md-5">
						{% if value.tareas is defined and value.tareas|length > 0 %}
							{# tendria que mostrar las actividades con su status #}
							<table class="table table-responsive table-condensed">
								<thead>
									<td class="col-md-5">Plan</td>
									<td class="col-md-6">Estado</td>
									<td class="col-md-1">
										<a title="Asociar Plan de mantenimiento" href="{{path('tareamant_newonly',{'idOrg':organizacion.id,'id':value.servicio.id})}}" class="btn btn-default btn-xs">
											<i class="fa fa-plus"></i>
										</a>
									</td>

								</thead>
								<tbody>
									{% for tarea in value.tareas %}
										<tr>
											<td>
												<a href="{{ path('tareamant_show',{'id': tarea.plan.id})}}">{{ tarea.plan.mantenimiento.nombre|default('---') }}</a><br></td>
											<td>
												<label class="label label-{{ tarea.status.nivel|default('default') }}">
													{{ tarea.status.message }}
												</label>
												<button style="margin-left: 5px;" id="btn-{{tarea.plan.id}}" onclick="setDataPopover('{{tarea.plan.id}}')" type="button" class="btn btn-xs btn-default" data-toggle="popover" data-container="body" data-html="true" data-placement="bottom" data-content="<div id='div-info-{{tarea.plan.id}}'>Cargando....</div>" data-original-title="" title="" aria-describedby="popover487027">
													<i class="fa fa-info-circle"></i>
												</button>
											</td>
											<td>
												<a title="Registrar Orden de Reparacion" href="{{path('tareamant_registrar',{'id':tarea.plan.id})}}" class="btn btn-xs btn-default">
													<i class="fa fa-pencil"></i>
												</a>
											</td>

										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% else %}
							<i>Sin planes asignados.
							</i>
							<a title="Asociar Plan de mantenimiento" href="{{path('tareamant_newonly',{'idOrg':organizacion.id,'id':value.servicio.id})}}" class="btn btn-default btn-sm">
								<i class="fa fa-plus"></i>
								Asignar plan
							</a>
						{% endif %}
					</td>

				</tr>
			{% endfor %}
		</tbody>
	</tr>
</tbody>
</tbody>
</table>
{% endif %}
