{% extends "app/Template_aker/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}
{% block css %}
	{{ parent() }}
	<link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet" type="text/css" media="all"/>
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}


{% block informacion %}
{% include "app/Template_aker/popup_load.html.twig" %}
<div class="row-fluid">
    <div class="alert alert-info" role="alert">
            <div id="filtro">{{ filtro }}</div>
            

    </div>
</div>
    <div class="row-fluid">
        <div class="alert alert-default" role="alert">
            <div class="row">
                <form class="form-horizontal" id="formFlota" method="POST">
                    {{ form_errors(form) }}
                    <div class="col-md-12">
                        {% if form.servicio is defined %}
                            <div class="col-md-4">{{ form_widget(form.servicio) }}</div>
                        {% endif %}
                
                        {% if form.centrocosto is defined %}
                          <div class="col-md-4">{{ form_widget(form.centrocosto) }}</div>
                            
                       {% endif %}
                        {% if form.estado is defined %}
                          <div class="col-md-4">{{ form_widget(form.estado) }}</div>
                            
                        {% endif %}
                        {{ form_widget(form._token) }}
                    </div>
                   
                    <div class="col-md-12">
                         <div class="control-group ">
                            <label class="control-label"></label>
                            <div class="controls ">
                                <button type="button" class="btn btn-default" id="consultar">Consultar</button>

                            </div>
                          </div>
                     </div>
                </div>
                </form>
            </div>
        </div>

            <div id="tablaFlota">
                {% include "mante/TareaMantenimiento/list_content.html.twig" %}  
            </div>
       
	</div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script>
        function datatable() {
               $('#mant_servicio').select2({
                with: '100%'
               });
            var tabla = $('#tableFlota').dataTable({
                order: false,
                paging: false,
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                }
            });
        }
        $(document).ready(function () {
            datatable();
            $("#mant_servicio").change(function () {
                var mantVal = $(this).val();
                if (mantVal =! 0) {
                    $("#mant_centrocosto").val(-1);
                } 
            });
              {% if form.centrocosto is defined %}
                $("#mant_centrocosto").change(function () {
                    var mantCC = $(this).val();
                    if (mantCC =! 0) {
                        $("#mant_servicio").val(-1);
                    } 
                });
            {% endif %}
               $('#mant_centrocosto').select2({
                with: '100%'
               });    


        });
     function setDataPopover(idTarea){
        if($( "#btn-"+idTarea ).hasClass( "btn-default" )){ //si está cerrado el popover
                $('#btn-'+idTarea).attr('class', 'btn btn-xs btn-danger');
                $(document).on('click', '#btn-'+idTarea, function(){
                        var req = $.ajax({
                        type: 'POST',
                        url: "{{ path('tareamant_getdatapopover') }}",
                        data: {
                        'id': idTarea,
                        },
                        dataType: "json",
                });
                        req.done(function (respuesta) { //aca colocamos el html que viene de vuelta
                            $("#div-info-"+idTarea).html(respuesta.html);               
                });        
                
            });   
        }else{ // si está abierto el popover
            $('#btn-'+idTarea).attr('class', 'btn btn-xs btn-default');        
        }
        
        
     }

        $('#consultar').click(function () {
            var req = $.ajax({
                type: 'GET',
                url: "{{ path('tareamant_filtrar') }}",
                data: {
                    'formFlota': $("#formFlota").serialize(), //form de productos
                },
                dataType: "json",
                //async: true,
                beforeSend: function () {
                      $("#modalLoad").modal({ backdrop: 'static', keyboard: false });
                },
            });
            req.done(function (respuesta) {
                $("#tablaFlota").text("");
                $("#tablaFlota").html(respuesta.html);
                $("#filtro").html(respuesta.filtro);
                datatable();
                   $('#modalLoad').modal('hide');
            });
        });
        

    </script>
{% endblock %}