{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ app.user.organizacion.nombre }}{% endblock %}

{% block help %}
    <a href="javascript:void(0);" onclick="javascript:introJs().start();"><img src="{{ asset('/images/help.png') }}" alt="Ayuda" title="Ayuda"></a>
    {% endblock %}

{% block js %}
    {{ parent() }}      
    <script>
    procesados = 0;
    tipoMantenimiento = 0;
         $(function () {
            $('#mant_mantenimiento').val("0");   
            $('#mant_servicio').val("0");   
            $('#mant_mantenimiento').select2();   
            $('#mant_servicio').select2();   
            $('#mant_servicio').attr('disabled','disabled'); 
            $('#tabla').hide();   
            $("#btnFin").hide();
            $("#divWait").hide();
            $('#formulario').hide();
            $('#btnImport').hide();
          
                 
           
         });
             $('#mant_mantenimiento').on('change', function(e) {
                    mantenimiento=  $('#mant_mantenimiento').val();
                if(mantenimiento === "0"){
                    $('#mant_servicio').attr('disabled','disabled');   
                    $('#tabla').hide();   
                    $('#formulario').hide();   
                }else{
                    $('#mant_servicio').removeAttr('disabled');   
                    $('#formulario').show();   
                }
             });
             $('#mant_servicio').on('change', function(e) {
                servicio =  $('#mant_servicio').val();

             var request = $.ajax({
                type: 'POST',
                url: "{{ path('mante_tareamant_getservicios') }}",
                data: {'servicio': servicio},
                dataType: "json"
            });
            request.done(function (r) {
                $('#tabla').text('');
                if (r['status'] == 'OK') {
                    $('#tabla').append(r.html);
                    $('#tabla').show();
                    $('#btnImport').show();
                    $("#btnFin").hide();
                    $("#strongServicio").text(r.servicionombre);
                    $("#divWait").hide();
                } else {
                    $('#tabla').append('<legend>Error</legend>');
                }

             });
             });

        function changeMantenimiento() {
            idM = $('#mant_mantenimiento').val();     //id del mantenimiento seleccionado.
            //val = document.getElementById('formcr_tipoDibujo').value;
            $.get('{{ url('plan_dataAJAX') }}',
                    {'id': idM,
                    },
                    function (respuesta) {
                        $('#mant_intervaloDias').val(respuesta['intervaloDias']);
                        $('#mant_intervaloKilometros').val(respuesta['intervaloKilometros']);
                        $('#mant_intervaloHoras').val(respuesta['intervaloHoras']);
                        $('#mant_avisoDias').val(respuesta['avisoDias']);
                        $('#mant_avisoKilometros').val(respuesta['avisoKilometros']);
                        $('#mant_avisoHoras').val(respuesta['avisoHoras']);

                        $("#porKilometro").css('display', 'none');
                        $("#porDia").css('display', 'none');
                        $("#porHora").css('display', 'none');
                        if (respuesta['porKilometros'] === true) {
                            $("#porKilometro").css('display', 'block');
                            tipoMantenimiento = 0; //por km
                        }
                        if (respuesta['porHoras'] === true) {
                            $("#porHora").css('display', 'block');
                            tipoMantenimiento = 1; //por hora
                        }
                        if (respuesta['porDias'] === true) {
                            $("#porDia").css('display', 'block');
                            $("#mant_intervaloDias").attr('required', 'required');
                            $("#mant_avisoDias").attr('required', 'required');
                            tipoMantenimiento = 2; //por dias
                        }
                        
                    }, 'json');
        }

        $('#btnImport').click(function () {
            $("#divWait").show();
            if(tipoMantenimiento == 0){// kms
                 if($("#mant_intervaloKilometros").val() === '' || $("#mant_avisoKilometros").val() === ''){
                alert("Intervalo de kms y el aviso de kms no puede estar vacío");
                return;
              }
            } else if(tipoMantenimiento == 1){ //horas
                  if($("#mant_intervaloHoras").val() === '' || $("#mant_avisoHoras").val() === ''){
                alert("Intervalo de horas  y el aviso de horas sno puede estar vacío");
                return;
              }
            }else{ //dias
              if($("#mant_intervaloDias").val() === '' || $("#mant_avisoDias").val() === ''){
                alert("Intervalo de dias y el aviso de días no puede estar vacío");
                return;
              }

            }
            alert("Atención!!. Si los servicios son muchos tenga en cuenta que el proceso tardará bastante. No refresque la página...");
            $("#btnImport").hide();
                 recorreTabla()
                                .then((data) => {
                                        $("#divProcesados").text(procesados);
                    
                                })
                                .catch((error) => {
                                    console.log(error)
                                })
                        
       
          //  $("#modalLoad").modal("hide");

    });

    function recorreTabla(){
             var filas = $('#tablaServicios tr').length;
             var noProcesados = $('table tr td input:checkbox:not(:checked)').length;
            //alert("asd"+lenghtOfUnchecked);
            return new Promise((resolve, reject) => {
                $("#tablaServicios tr").each(function (index,course) { //recorremos la tabla
                procesados = 1;
                procesados += noProcesados;
                    $(this).find('input').each(function(index,input) {  //buscamos el check
                        if(input.checked){ //si está checkeado, mandamos
                            setMantenimiento(input.id)
                                .then((data) => {
                                    if(data == filas){
                                        $("#divWait").hide();
                                        $("#btnFin").show();
                                        $( "#formMantenimiento input" ).prop( "disabled", true );
                                        $( "#formMantenimiento select" ).prop( "disabled", true );
                                        alert('Proceso Terminado!. Presione "Terminar" para continuar');
                                        resolve(true);
                                    }
                                        $("#divProcesados").text(procesados);                    
                                })
                                .catch((error) => {
                                    console.log(error)
                                })
                        
                        }else{
                            procesados++;
                        } 
                    });                   
                
                });
            
            });
    }

    function setMantenimiento(id){
       return new Promise((resolve, reject) => {
                    $.ajax({
                        type: 'POST',
                        url: "{{ path('tareamant_newajax') }}",
                        data: {'form': $("#formMantenimiento").serialize(), 'servicio': id},
                        dataType: "json",
                        success: function (r){
                            procesados++;
                            if (r['status'] == 'OK') {
                                $('#td_'+r.id).html('<div class="btn-success badge">OK</div>');
                               resolve(procesados);
                              
                            } else {
                                $('#td_'+r.id).html('<div class="btn-danger badge">Error</div>');
                                resolve(procesados);
                            }

                        },
                        error: function (error){
                            reject(error);
                        }
                        
                    });
         });
                 
    }

    </script>    
{% endblock %}


{% block formulario %}
            <section class="panel">
                {% include "app/Template_aker/popup_load.html.twig" %}
                <div class="panel-body">
                    <legend>Alta de Tareas de Mantenimiento para Vehiculos</legend>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id':'formMantenimiento'} }) }}
                    {{ form_errors(form) }}
                    <div class="row-fluid">
                        <div class="col-md-7">
                            {{ form_widget(form.mantenimiento) }}
                            {{ form_widget(form.servicio) }}
                    <div id="formulario">
                            <div id="porDia" style="display:none">
                                <h4>Mantenimiento por días</h4>
                                {{ form_widget(form.intervaloDias) }}
                                {{ form_widget(form.avisoDias) }}
                            </div>
                            <div id="porKilometro" style="display:none">
                                <h4>Mantenimiento por kilómetros</h4>
                                {{ form_widget(form.intervaloKilometros) }}
                                {{ form_widget(form.avisoKilometros) }}
                            </div>
                            <div id="porHora" style="display:none">
                                <h4>Mantenimiento por horas</h4>
                                {{ form_widget(form.intervaloHoras) }}
                                {{ form_widget(form.avisoHoras) }}
                            </div>
                        </div>
                        {{ form_rest(form) }}
                    </div>
                    </div>
                    <div class="col-md-5 alert alert-info">
                        <legend>Info</legend>
                        En la siguiente pantalla va a poder ingresar los valores a los que se deberá realizar el próximo mantenimiento.
                        <b>A medida que modifique el el Mantenimiento los campos del formulario de kms/hrs de irán modificando de acuerdo a los datos del plan de mantenimiento pre-cargado</b>
                    </div>

                    
                    {{ form_end(form) }}

                </div>
            </section>

		<section class="panel">
			<div class="panel-body">
                <div class="alert alert-warning"><p>Servicio seleccionado : <strong id="strongServicio">{{servicios.servicionombre}}</strong>.
	                Seleccione los servicios y presione <strong>"Procesar"</strong>. Luego verifique que todos los servicios se hayan procesado para presionar <strong>"Terminar"</strong> .</p>
	                <br>
					<button id="btnImport" type="button" class="alert-link btn btn-default">Procesar</button>
					<a id="btnFin" href="{{path('tarea_mant_list',{'idOrg':organizacion.id})}}" class="btn btn-success">Terminar</a>
                </div>
                <div id="divWait" class="alert alert-danger">Espere... mientras el proceso se ejecuta... <strong id="divProcesados">0</strong> Equipos procesados</div>
                    <form id="formProcesar" name="formProcesar">
                        <div id="tabla">
				            {% include "mante/TareaMantenimiento/servicios.html.twig" with {'servicios': servicios} %}
			            </div>
                    </form>
                </div>
            </div>
					
	    </section>
   
{% endblock %}
