{{ form_start(form, {'attr': {'class': 'form-horizontal', 'id':'formMantenimiento'} }) }}
{{ form_errors(form) }}
<div id="step1" class="row-fluid" style="border-style:solid; border-width: 1px;border-radius: 5px; margin-top: 10px; padding: 10px; border-color:#cccccc">
<h4>PASO 1</h4>
<h5>Esta por asignar un plan de mantenimiento para el servicio <b>{{servicio.nombre}}</b>. Va a poder cambiar los plazos de vencimiento y notificación para el plan seleccionado. </h5>
	<div hidden>{{ form_widget(form.servicio) }}</div>
	{# lo oculto para que no joda #}
	<div class="row">
		<div class="col-md-4">
			{{ form_widget(form.mantenimiento) }}
		</div>
		<div class="col-md-8">
			<div id="div-info">
				<div class="col-md-4">
					<div class="control-group ">
						<label class="control-label" for="mant_intervaloDias">
							Intervalo 
						</label>
						<div class="controls">
							<input type="text" class="form-control"  disabled="disabled">
						</div>

					</div>
				</div>
				<div class="col-md-4">
					<div class="control-group ">
						<label class="control-label" for="mant_intervaloDias">
							Anticipo 
						</label>
						<div class="controls">
							<input type="text" class="form-control"  disabled="disabled">
						</div>

					</div>
				</div>
			</div>
			<div id="formulario">
				<div id="porDia" style="display:none">
					<div class="col-md-4">{{ form_widget(form.intervaloDias) }}</div>
					<div class="col-md-4">{{ form_widget(form.avisoDias) }}</div>

				</div>
				<div id="porKilometro" style="display:none">
					<div class="col-md-4">{{ form_widget(form.intervaloKilometros) }}</div>
					<div class="col-md-4">{{ form_widget(form.avisoKilometros) }}</div>

				</div>
				<div id="porHora" style="display:none">
					<div class="col-md-4">{{ form_widget(form.intervaloHoras) }}</div>
					<div class="col-md-4">{{ form_widget(form.avisoHoras) }}</div>
				</div>
				<div class="col-md-4"  id="div-btn-tarea">
					<div class="control-group ">
						<label class="control-label" for="">
							Registrar primer mantenimiento
						</label>
						<div class="controls ">
							<a class="btn btn-default" id="btn-tarea">
								Registrar</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="row-fluid" id="datoProximo"></div>
{{ form_end(form) }}
<div class="row-fluid" style="margin-top: 30px;">
	<button class="btn btn-info" id="btn-agregar">
		<i class="fa fa-plus"></i>Agregar</button>
	<a href="{{ path('tarea_mant_list',{'idOrg' : servicio.organizacion.id }) }}" class="btn btn-default">Volver</a>
	{# uso el path y no el sesion volver porque sino no me refresca el list de tareas #}
</div>
