{% extends "app/Template/form.html.twig" %}

{% block titulo %}{{ app.user.organizacion.nombre }}{% endblock %}

{% block help %}
  <a href="javascript:void(0);" onclick="javascript:introJs().start();"><img src="{{ asset('/images/help.png') }}" alt="Ayuda" title="Ayuda"></a>
{% endblock %}

{% block js %}
{{ parent() }}      
<script>    
    function changeMantenimiento() {
        idM = $('#mant_mantenimiento').val();     //id del mantenimiento seleccionado.
        //val = document.getElementById('formcr_tipoDibujo').value;
        $.get( '{{ url('plan_dataAJAX') }}',
                { 'id' : idM, 
                }, 
            function(respuesta) {
                $('#mant_intervaloDias').val(respuesta['intervaloDias']);
                $('#mant_intervaloKilometros').val(respuesta['intervaloKilometros']);
                $('#mant_intervaloHoras').val(respuesta['intervaloHoras']);
                $('#mant_avisoDias').val(respuesta['avisoDias']);
                $('#mant_avisoKilometros').val(respuesta['avisoKilometros']);
                $('#mant_avisoHoras').val(respuesta['avisoHoras']);
                
                $("#porKilometro").css('display', 'none');
                $("#porDia").css('display', 'none');
                $("#porHora").css('display', 'none');
                if (respuesta['porKilometros'] === true) {
                    $("#porKilometro").css('display', 'block');
                }
                if (respuesta['porHoras'] === true) {
                    $("#porHora").css('display', 'block');
                }
                if (respuesta['porDias'] === true) {
                    $("#porDia").css('display', 'block');
                }
                changeServicio();
            }, 'json');
    }
    function changeServicio() {
        servicio = $("#mant_servicio").val();
        if (servicio[0] === 'g' || servicio === "0") {
            $(".proximo").css('display', 'none');
        } else {
            $(".proximo").css('display', 'block');
        }
    };
</script>    
{% endblock %}
      
{% block subtitulo %}
    Próxima realización para tareas de mantenimiento
{% endblock %}
{% block formulario %}
<form name="mant" class="form-horizontal" action="{{ path('tareamant_proximo_update' ) }}" method="POST" >
<fieldset>
    <table class="table">
        <tr>
            <th>Servicio</th>
            {% if porKms %}
                <th>Próximo Kilómetros</th>
                <th>Odometro actual</th>
            {% endif %}
            {% if porHoras %}
                <th>Próxima Horas</th>
                <th>Horometro actual</th>
            {% endif %}
            {% if porDias %}
                <th>Próximo Días</th>
            {% endif %}
        </tr>            
        {% for tarea in tareas %}
            <tr>
                <td>{{ tarea.servicio.nombre }}</td>
                {% if porKms %}
                    <td><input type="text" id="mant_kms_{{ tarea.id }}" name="mant_kms[{{ tarea.id }}]" value={{ tarea.proximoKilometros }}></td>
                    <td>{{ tarea.servicio.ultOdometro != null ? (tarea.servicio.ultOdometro/1000)|number_format(0, "","") ~ ' kms' : '---' }}</td>
                {% endif %}
                {% if porHoras %}
                    <td><input type="text" id="mant_hs_{{ tarea.id }}" name="mant_hs[{{ tarea.id }}]"  value={{ tarea.proximoHoras }}></td>
                    <td>{{ tarea.servicio.ultHorometro != null ? tarea.servicio.formatHorometro : '---' }}</td>
                {% endif %}
                {% if porDias %}
                    <td><input type="text" id="mant_dias_{{ tarea.id }}" name="mant_dias[{{ tarea.id }}]" value={{ tarea.proximoDias|date('d/m/Y') }}></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
       
    {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Confirmar' } %}
</fieldset>
</form>
{% endblock %}
