{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ app.user.organizacion.nombre }}{% endblock %}

{% block help %}
    <a href="javascript:void(0);" onclick="javascript:introJs().start();"><img src="{{ asset('/images/help.png') }}" alt="Ayuda" title="Ayuda"></a>
    {% endblock %}

{% block js %}
    {{ parent() }}      
    <script>
        var setTarea = 0;
        var tipoMantenimiento = -1;   //0= xKms 1= xDia 2= xHs
        var intervalo = 0

        function calcular_proximo() {            
            if (tipoMantenimiento === 0) {
                $("#mant_dato_proximo").val($("#mant_dato_realizacion").val() * 1 + intervalo );
            }
            if (tipoMantenimiento === 1) {
                $("#mant_dato_proximo").val($("#mant_dato_realizacion").val() * 1 + intervalo );
            }
        }

        function reset(){              
                $("#datoProximo").hide();
                $("#formulario").hide();
                $("#div-info").show();
                $('#mant_mantenimiento').val(0);
                document.getElementById("formMantenimiento").reset();
        }
       $(document).ready(function () {
           reset();
            
            });

           $('#mant_mantenimiento').on('change', function(e) {
                 mantenimiento=  $('#mant_mantenimiento').val();
                if(mantenimiento != "0"){
                    $("#div-info").hide();
                    $('#formulario').show();   
                    $("#div-btn-tarea").show();
                    $("#datoProximo").hide();
                }
             });    
             
              $('#btn-tarea').on('click', function(e) {
                 setTemplateTarea(tipoMantenimiento);                 
                    $("#datoProximo").show();
                    $("#btn-terminar").show();
                    $("#div-btn-tarea").hide();
                    $("#step1").addClass("disabledDiv");
             }); 

              $('#btn-agregar').on('click', function(e) {                          
                    setMantenimiento()
                                .then((data) => {                                
                                })
                                .catch((error) => {
                                    console.log(error)
                                })
             });
  
        function setMantenimiento(){
          return new Promise((resolve, reject) => {
                    $.ajax({
                        type: 'POST',
                        url: "{{ path('tareamant_newajax') }}",
                        data: {'form': $("#formMantenimiento").serialize(), 'servicio': '{{servicio.id}}'},
                        dataType: "json",
                        success: function (r){
                            reset();
                           
                            if (r.status === 'OK') {
                               newNotify('Exito !!!', 'success', 'Plan de mantenimiento Cargado Correctamente');
                               resolve(r);
                              
                            } else if(r.status === 'WARNING'){
                                  newNotify('Exito !!!', 'success', 'Plan de mantenimiento Cargado Correctamente');
                                  newNotify('Atención !!!', 'warning', 'El registro del primer plan no se registró por falta de datos');
                                  resolve(r);
                            } 
                            else {
                                newNotify('Error !!!', 'error', 'Error al crear el plan de mantenimiento Cargado');
                                resolve(r);
                            }
                            
                              $("#step1").removeClass("disabledDiv");

                        },
                        error: function (error){
                            newNotify('Error !!!', 'error', 'Error al crear el plan de mantenimiento Cargado');
                            reset();
                            reject(error);
                        }
                        
                    });
            });

         
        }


  function changeMantenimiento(){
     idM = $('#mant_mantenimiento').val();     //id del mantenimiento seleccionado.
        if(idM != "0"){

          return new Promise((resolve, reject) => {
                    $.ajax({
                        type: 'GET',
                        url: "{{ url('plan_dataAJAX') }}",
                        data:  {'id': idM },
                        dataType: "json",
                        success: function (respuesta){
                            $('#mant_intervaloDias').val(respuesta['intervaloDias']);
                            $('#mant_intervaloKilometros').val(respuesta['intervaloKilometros']);
                            $('#mant_intervaloHoras').val(respuesta['intervaloHoras']);
                            $('#mant_avisoDias').val(respuesta['avisoDias']);
                            $('#mant_avisoKilometros').val(respuesta['avisoKilometros']);
                            $('#mant_avisoHoras').val(respuesta['avisoHoras']);

                            $("#porKilometro").css('display', 'none');
                            $("#porDia").css('display', 'none');
                            $("#porHora").css('display', 'none');
                            
                            if (respuesta['porKilometros'] === true) {
                                $("#porKilometro").css('display', 'block');
                                tipoMantenimiento = 0; //por km
                                intervalo = respuesta['intervaloKilometros']
                            }
                            
                            if (respuesta['porHoras'] === true) {
                                $("#porHora").css('display', 'block');
                                tipoMantenimiento = 1; //por hora
                                intervalo = respuesta['intervaloHoras']
                            }
                            if (respuesta['porDias'] === true) {
                                $("#porDia").css('display', 'block');
                                $("#mant_intervaloDias").attr('required', 'required');
                                $("#mant_avisoDias").attr('required', 'required');
                                tipoMantenimiento = 2; //por dias
                                intervalo = respuesta['intervaloDias'];
                            }

                        },
                        error: function (error){
                          newNotify('Error !!!', 'error', 'Error al crear el plan de mantenimiento Cargado');
                            reject(error);
                        }
                        
                    });
            });

        }
         
        }


       function setTemplateTarea(tipoMantenimiento){
             var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('mante_tareamant_gettemplatetarea') }}",
                    data: {
                        'servicio': '{{servicio.id}}',
                        'tipoMantenimiento': tipoMantenimiento,
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                     $("#datoProximo").text("");
                     $("#datoProximo").html(respuesta.html);
                     $("#mant_taller").select2({width: '100%'});
                     $("#mant_deposito").select2({width: '100%'});
                     $("#mant_sector").select2({width: '100%'});
                     $("#mant_centrocosto").select2({width: '100%'});
                     $("#mant_observacion").summernote({
                            width: '100%',
                            height: 150,
                                toolbar: [['style', ['bold', 'italic', 'underline', 'clear']]]
                        }); 
                
                     $("#mant_fecha").datetimepicker({
                            format: 'DD/MM/YYYY',
                            locale: 'es',
                            widgetPositioning: {
                                horizontal: 'right',
                                vertical: 'bottom'
                            }
                     });
                     if(tipoMantenimiento == 2){
                        $("#mant_dato_proxima_fecha").datetimepicker({
                            format: 'DD/MM/YYYY',
                            locale: 'es',
                            widgetPositioning: {
                                horizontal: 'right',
                                vertical: 'bottom'
                            }
                        });
                         $("#mant_dato_proxima_fecha").attr("disabled", "disabled"); 
                        
                        $("#mant_dato_realizacion_fecha").datetimepicker({
                            format: 'DD/MM/YYYY',
                            locale: 'es',
                            widgetPositioning: {
                                horizontal: 'right',
                                vertical: 'bottom'
                            }
                        }).on('dp.change', function(ev){
                                var intervalo = parseInt($("#mant_intervaloDias").val(), 10);
                                // Get start date and add 21 days
                                endDate = new Date(ev.date);
                                endDate.setDate(endDate.getDate() + intervalo);
                                endDateString = ('0' + endDate.getDate()).slice(-2) + '/'
                                                + ('0' + (endDate.getMonth()+1)).slice(-2) + '/'
                                                + endDate.getFullYear();
                                // Set end date
                                $('#mant_dato_proxima_fecha').val(endDateString);
                            
                            });
                        ;    
                     }
                 
                });
        }

    </script>    
{% endblock %}


{% block formulario %}
<style>

.disabledDiv {
  background-color:#cccccc;
    pointer-events: none;
    opacity: 0.4;
}
</style>
	<legend>Alta de Plan de Mantenimiento</legend>
	<section class="panel">
		<div class="panel-body">
			{% include "mante/TareaMantenimiento/new_only_div.html.twig" %}
		</div>

	</section>

{% endblock %}
