{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ servicio.nombre }}{% endblock %}
{% block subtitulo %}Mantenimiento Eventuales{% endblock %}

{% block help %}
    <a href="javascript:void(0);" onclick="javascript:introJs().start();"><img src="{{ asset('/images/help.png') }}" alt="Ayuda" title="Ayuda"></a>
    {% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
    <style type="text/css">
        .ui-timepicker-div
        .ui-widget-header { margin-bottom: 8px; }
        .ui-timepicker-div dl { text-align: left; }
        .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
        .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
        .ui-timepicker-div td { font-size: 12px; }
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
    </style>
{% endblock %}

{% block js %}
    {{ parent() }}      
    <script src="{{ asset(mainbundle ~ 'js/jquery.sheepItPlugin.js') }}" /></script>  
<script type="text/javascript">
        $(document).ready(function () {
           
            var sheepItForm = $('#sheepItForm').sheepIt({
                separator: '',
                allowRemoveLast: true,
                allowRemoveCurrent: true,
                allowRemoveAll: false,
                allowAdd: true,
                allowAddN: false,
                maxFormsCount: 9,
                minFormsCount: 0,
                iniFormsCount: 1,
                afterAdd: function (source, newForm) {
                    i++;
                    var name = $('#mant_deposito_nombre').attr("name");
                    //console.log('add -> '+ sheepItForm.nodeType);
                    if (name != null) {
                        ultIndice = parseInt(name.substring(16, 17));
                        var id = $('#mant_deposito_nombre').find(':selected')[0].value;
                    }
                    ajax(ultIndice, id);
                },
            });

        });
</script>
<script type="text/javascript">
    var ultIndice = 0;
    var i = 0;
    $('#mant_deposito_nombre').change(function () {
        console.log('change');
        var name = $(this).attr("name");
        if (name != null) {
            var indice = name.substring(16, 17); //obtengo el indice del select
            var id = $(this).find(':selected')[0].value;
            ajax(indice, id);
        }
    });

    $(document).ready(function () {
        console.log('ready1');
        var name = $('#mant_deposito_nombre').attr("name");
        if (name != null) {
            var indice = name.substring(16, 17); //obtengo el indice del select
            var id = $('#mant_deposito_nombre').find(':selected')[0].value;
            ajax(indice, id);
        }
        ultIndice = 0;
    });


    $("#sheepItForm_remove_current").click(function () {
        i--;
        ultIndice--;
    });

    function ajax(indice, id) {
        console.log('ajax: ' + indice + ' id:' + id);
        $.ajax({
            type: 'GET',
            url: "{{ path('apmon_producto_findbydeposito') }}",
            data: {'id': id},
            dataType: "json",
            success: function (data) {
                // the next thing you want to do 
                var productos = document.getElementsByName('mant[productos][' + indice + '][nombre]');
                if (data.length > 0) {
                    $(productos).empty();
                    for (var i = 0; i < data.length; i++) {
                        $(productos).append('<option id=' + data[i].id + ' value=' + data[i].id + '>' + data[i].nombre + '</option>');
                    }
                } else {
                    $(productos).empty();
                }
            }
        });
    }

</script>   
<script type="text/javascript">
    $(function () {
        $.datepicker.setDefaults($.datepicker.regional["es"]);
        $("#mant_fecha").datepicker();
    });
</script>   
{% endblock %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        <fieldset>
            {{ form_errors(form) }}
            <div class="row-fluid">
                <div class="span12">
                    {{ form_widget(form.fecha) }}
                    {{ form_widget(form.observacion) }}
                    {{ form_widget(form.costo) }}
                    {{ form_widget(form.taller) }}
                    <div class="control-group ">
                        <label class="control-label">Mecánico</label>
                        <div class="controls ">
                            {% include "mante/TareaMantenimiento/neweventual_mecanico.html.twig" %}
                        </div>
                    </div>
                    <div class="control-group ">
                        <label class="control-label">Productos</label>
                        <div class="controls ">
                            {% include "mante/TareaMantenimiento/neweventual_producto.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
            {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Agregar' } %}
        </fieldset>
        {{ form_rest(form) }}
    </form>
{% endblock %}
