<!-- sheepIt Form -->
<div id="sheepItForm">
    <!-- Form template-->
    <div id="sheepItForm_template">
        <table class="table table-condensed">
            <tr>
                <td>
                    <label for="mant_deposito_nombre">Deposito <span id="sheepItForm_label"></span></label>
                    <select id="mant_deposito_nombre" name="mant[productos][#index#][deposito]">
                        {% for deposito in depositos %}
                            <option value="{{ deposito.id }}">{{ deposito.nombre }}</option>
                        {% endfor%}
                    </select>
                </td>
                <td>
                    <label for="mant_producto_nombre">Producto <span id="sheepItForm_label"></span></label>
                    <select id="mant_producto_nombre" name="mant[productos][#index#][nombre]" class="productos">
                    </select>
                </td>
                <td>
                    <label for="mant_producto_cantidad">Cantidad</label>
                    <input id="mant_producto_cantidad" name="mant[productos][#index#][cantidad]" type="text"/>
                    <a id="sheepItForm_remove_current">
                        <span class="btn btn-small" title="Eliminar este producto de la actividad">
                            <img class="delete" src="{{ asset('/images/minus.png') }}" >
                        </span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <!-- /Form template-->

    <!-- No forms template -->
    <div id="sheepItForm_noforms_template"><p><b>** Sin productos **</b></p></div>
    <!-- /No forms template-->

    <!-- Controls -->
    <div id="sheepItForm_controls">
        <a type="button" id="sheepItForm_add" class="btn" >
            <img class="delete" src="{{ asset('/images/plus.png') }}" title="Agrega un nuevo producto" width="16" height="16" border="0">
            Agregar Producto
        </a>
    </div>
    <!-- /Controls -->
</div>