<table class="table table-condensed">
    <thead>
        <tr>
            <td>Mecánico</td>
            <td>Costo x hr</td>
            <td>Cantidad Hs</td>
        <tr>
    </thead>
    {% for meca in mecanicos %}        
        <tr>
            <td>{{ meca.nombre }}</td>
            <td>
                <input id="mant_mecanico_{{ meca.id }}_costoHora" name="mant[mecanico][{{ meca.id }}][costoHora]" type="number" step="0.01" value="{{ meca.costoHora|number_format(2) }}"/>
            </td>
            <td>
                <input id="mant_mecanico_{{ meca.id }}_cantidad" name="mant[mecanico][{{ meca.id }}][cantidad]" type="number" step="0.01"/>
            </td>
            <td>
                {#<input type="checkbox" id="mant_mecanico_select_{{ meca.id }}" name="mant[mecanico][{{ meca.id }}][select]">#}
            </td>
        <tr>
    {% endfor%}
    <tbody>
    </tbody>
</table>
