{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ tarea.servicio.nombre }}{% endblock %}

{% block help %}
    <a href="javascript:void(0);" onclick="javascript:introJs().start();"><img src="{{ asset('/images/help.png') }}" alt="Ayuda" title="Ayuda"></a>
    {% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
    <style type="text/css">
        .ui-timepicker-div
        .ui-widget-header { margin-bottom: 8px; }
        .ui-timepicker-div dl { text-align: left; }
        .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
        .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
        .ui-timepicker-div td { font-size: 12px; }
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
    </style>
{% endblock %}

{% block js %}
    {{ parent() }}      
    <script type="text/javascript">
        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $("#mant_fecha").datepicker();
            $("#mant_dato_proxima_fecha").datepicker({gotoCurrent: true});
            $("#mant_dato_realizacion_fecha").datepicker({
                maxDate: "today",
                onClose: function(selectedDate) {
                    $("#mant_dato_proxima_fecha").datepicker("option", "minDate", selectedDate);
                    var parts = selectedDate.split("/");
                    var dt = new Date(parseInt(parts[2], 10),
                    parseInt(parts[1], 10) - 1,
                    parseInt(parts[0], 10));
                    var p = new Date(dt);
                    p.setDate(dt.getDate() + {{ tarea.intervaloDias|default(0) }} ); //aca incremento la cantidad de dias a futuro.
                    $("#mant_dato_proxima_fecha").datepicker("setDate", p);
                    $("#mant_dato_proxima_fecha").datepicker("option", "defaultDate", p);
                }
            });
        });
        function calcular_proximo() {
            if ({{ tarea.mantenimiento.porKilometros|default(0) }} === 1) {
                $("#mant_dato_proximo").val($("#mant_dato_realizacion").val() * 1 + {{ tarea.intervaloKilometros|default(0) }} );
            }
            if ({{ tarea.mantenimiento.porHoras|default(0) }} === 1) {
                $("#mant_dato_proximo").val($("#mant_dato_realizacion").val() * 1 + {{ tarea.intervaloHoras|default(0) }} );
            }
        }

        $(document).ready(function() {
            calcular_proximo();
        });

    </script>    
{% endblock %}

{% block subtitulo %}
    Registro de {{ tarea.mantenimiento.nombre }}
{% endblock %}

{% block formulario %}
    {#{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}#}
    <form class="form-horizontal"  method="POST" >
        {{ form_errors(form) }}
        <div class="row-fluid">
            <div class="span4">                              
                {{ form_widget(form.fecha) }}
                {{ form_widget(form.observacion) }}
                {{ form.taller is defined ? form_widget(form.taller) }}
                {% if form.deposito is defined %}
                    {{ form_widget(form.deposito) }}
                {% endif %}
                {% if form.sector is defined %}
                    {{ form_widget(form.sector) }}
                {% endif %}
                {% if form.centrocosto is defined %}
                    {{ form_widget(form.centrocosto) }}
                {% endif %}

            </div>
            <div class="span4">
                {% if tarea.mantenimiento.porKilometros  or tarea.mantenimiento.porHoras  %}
                    {{ form_widget(form.dato_realizacion) }}
                    {{ form_widget(form.dato_proximo) }}
                {% elseif tarea.mantenimiento.porDias %}
                    {{ form_widget(form.dato_realizacion_fecha) }}
                    {{ form_widget(form.dato_proxima_fecha) }}
                {% endif %}
            </div>
            <div class="span4">
                {% include "mante/TareaMantenimiento/info_extra.html.twig" %} 
            </div>
        </div>
      
        {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Registrar' } %}
    </form>
{% endblock %}
