	<table  class="table table-condensed table-hover" id="tablaServicios">
		<thead>
			<tr>
				<th class="col-md-1"></th>
				<th class="col-md-5">Servicio</th>
				<th class="col-md-2"></th>
				
			</tr>
		</thead>
		<tbody>
			{% for servicio in servicios.servicios %}
                <tr>
                <td><input type="checkbox" name="formProcesar[{{servicio.id}}]" id="{{servicio.id}}" checked></td>
                <td>{{servicio.nombre}}</td>
                <td id="td_{{servicio.id}}">---</td>
                </tr>
			{% endfor %}
		</tbody>
	</table>
