{% extends "app/Template/show.html.twig" %}
{% block titulo %}Tarea de Mantenimiento{% endblock %}

{% block subtitulo %}{{ servicio.nombre }}{% endblock %}

{% block contentpanel %}    
     {% include "mante/TareaMantenimiento/content_show_old.html.twig" with {'servicio':servicio, 'tareas':tareas, 'eventuales':eventuales} %}          
{% endblock %}
