{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "mante/TareaMantenimiento/delete_form.html.twig" %}
{% endblock %} 

{% block titulo %}Tarea de Mantenimiento{% endblock %}

{% block contentpanel %}
    <div class="row-fluid row-show">
        <div class="span7">
            {% include "app/Template/show_row.html.twig" with {'label': 'Servicio', 'data': tarea.servicio.nombre } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': tarea.mantenimiento.nombre } %} 
            {% if tarea.mantenimiento.porDias %}
                {% include "app/Template/show_row.html.twig" with {'label': 'Intervalo Días', 'data': tarea.intervaloDias } %} 
                {% include "app/Template/show_row.html.twig" with {'label': 'Días de anticipo', 'data': tarea.avisoDias } %} 
            {% endif %}
            {% if tarea.mantenimiento.porKilometros %}
                {% include "app/Template/show_row.html.twig" with {'label': 'Intervalo kilómetros', 'data': tarea.intervaloKilometros } %} 
                {% include "app/Template/show_row.html.twig" with {'label': 'Kilómetros de anticipo', 'data': tarea.avisoKilometros } %} 
                {% include "app/Template/show_row.html.twig" with {'label': 'Próximo Kilometros', 'data': tarea.proximoKilometros } %} 
            {% endif %}
            {% if tarea.mantenimiento.porHoras != '' %}
                {% include "app/Template/show_row.html.twig" with {'label': 'Intervalo horas', 'data': tarea.intervaloHoras } %} 
                {% include "app/Template/show_row.html.twig" with {'label': 'Horas de anticipo', 'data': tarea.avisoHoras } %} 
            {% endif %}
            {% include "app/Template/show_row.html.twig" with {'label': 'Status', 'data': status.message } %} 
            {% if tarea.mantenimiento.propietario !=  app.user.organizacion %}
                {% include "app/Template/show_row.html.twig" with {'label': 'Propietario', 'data': tarea.mantenimiento.propietario } %} 
            {% endif %}
        </div>
        <div class="span4"> 
            {% include "mante/TareaMantenimiento/info_extra.html.twig" %}  
        </div>
    </div>
    {% if historico|length > 0 %}
        <div class="row-fluid row-show">
            <h4>Historico</h4>
            <table class="table table-condensed">
                <tr>
                    <th>Fecha</th>
                    <th>Mantenimiento</th>
                    <th>Deposito</th>
                    <th>Actividades</th>
                </tr>
                {% for h in historico %}
                    <tr>
                        <td>{{ h.registro.fecha|date('d/m/Y') }}</td>
                        <td width="35%">
                            {% if h.registro.observacion is not empty %}
                                <b>{{ h.registro.observacion }}</b><br>
                            {% endif %}
                            en taller <i>{{ h.registro.taller.direccion|default(' desconocido') }}</i>,
                            por un costo de <b>$ {{ h.registro.costo|number_format(2, ',', '.')|default('no resgistado')  }}</b>.
                            <p>
                                {% if tarea.mantenimiento.porKilometros %}
                                    Realizado a los {{ h.registro.datoRealizado }} kms. Próximo a los <b>{{ h.registro.datoProximo }} kms.</b>
                                {% elseif tarea.mantenimiento.porHoras %}
                                    Realizado a las {{ h.registro.datoRealizado }} hs. Próximo a las <b>{{ h.registro.datoProximo }} hs.</b>
                                {% elseif tarea.mantenimiento.pordias %}
                                     Realizado el {{ h.registro.fecha }}. Próximo el <b>{{ h.registro.fechaProximo|date('d/m/Y') }}</b>
                                {% endif %}

                                <br><small><i>{{ h.registro.ejecutor.nombre|default('----') }} @ {{ h.registro.created_at|date('d/m/Y H:i', app.user.timeZone) }} Ingresó al sistema</i></small>
                            </p>
                        </td>

                        <td>{{ h.registro.deposito ? h.registro.deposito.nombre : '---' }}</td>
                        
                        <td>
                            <ul>
                                {% for act in h.actividades %}
                                    <li>
                                        <b>{{ act.actividad.nombre }}</b>: {{ act.producto.nombre }} ({{ act.cantidad }})<br>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                       
 
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
