<table class="table table-responsive-md table-striped mb-0">
    <tr>
        <th>Fecha</th>
        <th>Chofer</th>
        <th>Operario</th>
        <th>Hectareas</th>
        <th>Distancia</th>
        <th>Tiempo</th>
        <th></th>
    </tr>
    {% for ingreso in actividad.ingresos %}
        <tr class="centered">
            <td>{{ ingreso.fecha|date('d/m/Y') }}</td>
            <td>{{ ingreso.chofer }}</td>
            <td>{{ ingreso.operario }}</td>
            <td>{{ ingreso.hectareas }}</td>
            <td>{{ ingreso.distancia }}</td>
            <td>{{ ingreso.tiempo }}</td>
            <td><button title="remover"  onclick="modalDeleteIngreso({{ingreso.id}}, '{{ ingreso.fecha|date('d/m/Y') }}')" ><i class="fa fa-trash"></i></button></td>
        </tr>
    {% endfor %}
</table>