<!-- Modal -->
<div class="modal fade" id="modalIngresoManual" role="dialog" aria-labelledby="modalActividadNewLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="col-md-12" style="text-align: center;">
                    <h4 class="modal-title" id="actividad_ingreso_manual_nombre"></h4>
                    <h5 class="modal-title" id="nombreProyecto">Ingreso Manual</h5>
                </div>
            </div>
            <div class="modal-body">
                <div id="modal-body-actividad">
                    <form class="form-horizontal" id="formIngresoManual" method="POST" >
                        <fieldset>
                            <div class="row-fluid">
                                <div>{{ form_errors(formManual) }}</div>
                                <div class="row-fluid">
                                    <div class="col-md-12" style="padding-top: 10px;">
                                        <div class="col-md-12">{{ form_widget(formManual.fecha) }}</div>
                                        <div class="col-md-12">{{ form_widget(formManual.hectarea) }}</div>
                                        <div class="col-md-12">
                                            <div class="control-group "><label class="control-label" for="ingreso_manual_tiempo">
                                                    Tiempo en cumplir la actividad (Horas:minutos) 
                                                </label><div class="controls">
                                                    <input type="text" class="form-control" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" id="ingreso_manual_tiempo" name="ingreso_manual[tiempo]">        
                                                </div>    

                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="control-group "><label class="control-label" for="ingreso_manual_tiempo">
                                                    Distancia recorrida (Kms,metros) 
                                                </label><div class="controls">
                                                    <input type="number" class="form-control" id="ingreso_manual_distancia"  name="ingreso_manual[distancia]" min="0" step=".01">
                                                </div>    

                                            </div>
                                        </div>
                                        <div class="col-md-12">{{ form_widget(formManual.chofer) }}</div>
                                        <div class="col-md-12">{{ form_widget(formManual.operario) }}</div>
                                    </div>
                                </div>

                                {{ form_row(formManual._token) }}
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                {#<a  data-toggle="modal" href="#modalProducto2" class="btn btn-success pull-left" title="Agrega un producto al deposito">Nuevo producto</a>#}
                <button id="btnActividadIngreso" type="button" class="btn btn-primary" >Ingresar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>     
