<div id="modalDelete" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Eliminar usuario</h3>
    </div>
    <form class="form-horizontal" action="{{ path('apmon_usuario_delete', { 'id': usuario.id }) }}" method="post">
        <div class="modal-body">
            <p>Esta seguro de eliminar el usuario: <strong>{{ usuario.nombre|upper }}</strong> ?</p>
                {{ form_widget(delete_form) }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="submit">Eliminar</button>
            <a id="boton-cancelar" href="" class="btn secondary">Cancelar</a>
        </div>
    </form>
</div>