{% extends "app/Template/list.html.twig" %}

{% block titulo %}Mis Usuarios
{% endblock %}
{% block contentpanel %}
	<div>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Nombre</th>
					<th></th>
					<th>Login</th>
					<th>Email</th>
					<th>Tipo/Organización</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for usuario in usuarios %}
					<tr>
						<td>
							{% if usuario.id != app.user.id %}
								<a href="{{ path('apmon_usuario_show', {'id': usuario.id}) }}">{{ usuario.nombre| e }}</a>
							{% else %}
								{% if is_granted('ROLE_USUARIO_PROFILE_VER') %}
									<a href="{{ path('user_profile_show', {'id': usuario.id}) }}">{{ usuario.nombre| e }}</a>
								{% else %}
									{{ usuario.nombre| e }}
								{% endif %}
							{% endif %}
						</td>
						<td>
							{% if usuario.id == usuario.organizacion.usuarioMaster.id %}
								<span class="label label-info">master</span>
							{% endif %}
						</td>
						<td>{{ usuario.username|e }}</td>
						<td>{{ usuario.email|e }}</td>
						<td>
							{% if usuario.transporte %}
								Transporte /
								{{usuario.transporte.nombre}}
							{% elseif usuario.logistica %}
								Logística /
								{{usuario.logistica.nombre}}
							{% elseif usuario.empresa %}
								Cliente /
								{{usuario.empresa.nombre}}
							{% else %}
								---
							{% endif %}
						</td>
						<td>
							{% if usuario.id != app.user.id %}
								{% if is_granted('ROLE_USUARIO_EDITAR') %}
									<a href="{{ path('apmon_usuario_edit', {'id': usuario.id}) }}">Editar</a>
									|
									<a href="{{ path('apmon_usuario_permiso', {'id': usuario.id}) }}">Permisos</a>
								{% endif %}
							{% else %}
								{% if is_granted('ROLE_USUARIO_PROFILE_EDITAR') %}
									<a href="{{ path('user_profile_edit', {'id': usuario.id}) }}">Editar</a>
								{% endif %}
							{% endif %}
						</td>
					</tr>


				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
