{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ usuario.organizacion }}{% endblock %}
{% block subtitulo %}Creación de Nuevo Usuario{% endblock %}


{% block formulario %}
  <form class="form-horizontal"  method="POST" >
   <fieldset>
      {{ form_errors(form) }} 
        <div class="row-fluid">
            {% include "apmon/Usuario/new_content.html.twig" %}
        </div>
        {{ form_widget(form._token) }}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" class="boton" value="Crear" />
            <a class="btn" href="{{ app.session.get('volver') }}" class="boton">Cancelar</a>
        </div>
    </fieldset>
</form>
       
{% endblock %}

