<div class="span8">
    {{ form_widget(form.nombre) }}
    {{ form_widget(form.username) }}
    {{ form_widget(form.email) }}
    {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'Ingrese la clave'} }) }}<br/>
    {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'Repita la clave'} }) }}
    {{ form_widget(form.enabled) }}
    {{ form_widget(form.timeZone) }}
    {{ form_widget(form.redirigir_login) }}
    {{ form_widget(form.vista_mapa) }}
    {{ form_widget(form.limite_historial) }}
    {{ form_widget(form.showReferencias) }}
</div>
<div class="span4">    
    <h4>Datos obligatorios.</h4>
    <p>Los datos obligatorios son:</p>
    <ul>
        <li>Nombre y Apellido</li>
        <li>Nombre Usuario</li>
        <li>Email</li>
        <li>Clave</li>
    </ul>
</div>