{% extends "app/Template/form.html.twig" %}

{% block titulo %}{{ usuario.nombre }}{% endblock %}
{% block subtitulo %}Asignación de Permisos{% endblock %}

{% block informacion %}
    <div class="alert alert-info">
        <span class="label label-warning">Atención</span> Debe asignar los permisos de acceso a las diferentes acciones o zonas 
        a las que desee que el usuario acceda. Por defecto el usuario no tiene acceso a ninguna accion.
    </div>
{% endblock  %}

{% block formulario %}
<form id="permiso" class="form-horizontal" action="{{ path('apmon_usuario_permiso', {'id': usuario.id} ) }}" method="POST">
<fieldset>   
    <div class="row-fluid">
        <div class="span12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Aplicación</th>
                        <th>Módulo</th>
                        <th>Permisos</th>
                    </tr>
                </thead>
                {% for modulo in modulos %}                   
                    {% if modulo.permisos|length > 0 %}
                        <tr>
                           <td>{{ modulo.aplicacion }}</td>
                           <td>{{ modulo }}</td>
                           <td>
                              {% for permiso in modulo.permisos %}
                                 {% if permiso.usable and (is_granted(permiso.restringido) or permiso.restringido == '')%}  
                                    {% if permiso in usuario.permisos %}
                                       {% set checked = 'checked' %}
                                    {% else %}
                                       {% set checked = '' %}
                                    {% endif %}
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" {{ checked }} id="permiso_{{ permiso.id }}" name="permiso[{{ permiso.codename }}]" value="{{ permiso.codename }}" >
                                            {{ permiso }} 
                                        </label>
                                    </div>
                                {% endif %}
                              {% endfor %}
                           </td>
                        </tr>
                    {% endif %}
               {% endfor %}
            </table>
            <div class="form-actions">
                <input class="btn btn-primary" type="submit" class="boton" value="Cambiar" />
                 <a class="btn" href="{{ app.session.get('volver') }}" class="boton">Cancelar</a>
            </div>
        </div>
    </div>        
</fieldset>
</form>
       
{% endblock %}


