{% extends "app/Template/form.html.twig" %}

{% block titulo %}{{ usuario.organizacion }}{% endblock %}
{% block subtitulo %}{{ usuario.nombre }}{% endblock %}

{% block formulario %}
<h3>Grupo de Referencias asignados al usuario.</h3>  
<blockquote>
    <ul>

        <li>Desde esta pantalla podrá administrar los grupos de referencias que puede visualizar el
            usuario cuando ingresa al sistema. Tenga en cuenta que va a visualizar las referencias 
            incluidas en los grupos seleccionados.</li>
        <li>En caso de que el cliente tenga referencias no agrupadas, las mismas van a ser visualizadas siempre.</li>
        <li>En caso de no asignar ningún grupo al usuario, este podrá visualizar todos los grupo.</li>
    </ul>
</blockquote> 

<div class="row-fluid">
    <div style="margin: 0px auto 0px auto; text-align: center" >
        <div class="span4"><h4>Grupos disponibles </h4></div>
        <div class="span2"><h4>Acciones</h4></div>
        <div class="span4"><h4>Grupos asignados</h4></div>
    </div>
</div>
<div class="row-fluid">
    <div style="margin: 0px auto 0px auto; text-align: center" >
        <div class="span4" id="divDisponibles">
            {% include "apmon/Usuario/show_grp_disponibles.html.twig" %}            
        </div> 
        <div class="span2">
            <p><button type="button" class="btn" onclick="asignar({{ usuario.id }})">Asignar >></button></p>
            <p><button type="button" class="btn" onclick="eliminar({{ usuario.id }})">Eliminar <<</button></p>
            <hr>
            <p><a href="{{ app.session.get('volver') }}" class="btn">Terminar</a></p>
        </div> 
        <div class="span4" id="divAsignados">
            {% include "apmon/Usuario/show_grp_asignados.html.twig" %}            
        </div> 
    </div>
</div>


<script>
    function asignar(idUsuario) {
       var ids = new Array();
       cant = 0;
       //obtengo la lista de elementos
       opt = document.getElementById("listDisponibles").options;
       
       //recorro la lista determinando cuales estan seleccionados
       for (i = 0; i < document.getElementById("listDisponibles").length; i++){
           if (opt[i].selected) {
               cant++;
               ids.push(opt[i].value);
           }
       }
       
       //llamo a jquery para hacer la asignacion.
       var request = $.ajax({
                  url: "{{ path('apmon_usuario_referencias_asignar') }}", 
                  data: {'id' : idUsuario, 'referencias' : serialize(ids)},
                  dataType: "json"
            });
            request.done(function(respuesta) {
               document.getElementById('divDisponibles').innerHTML = respuesta['disponibles'];
               document.getElementById('divAsignados').innerHTML = respuesta['asignados'];
            });
    }
    
    function eliminar(idUsuario) {
       var ids = new Array();
       cant = 0;
       //obtengo la lista de elementos
       opt = document.getElementById("listAsignados").options;
       
       //recorro la lista determinando cuales estan seleccionados
       for (i = 0; i < document.getElementById("listAsignados").length; i++){
           if (opt[i].selected) {
               cant++;
               ids.push(opt[i].value);
           }
       }
       //llamo a jquery para hacer la eliminacion de los servicios del usuario.
       var request = $.ajax({
                  url: "{{ path('apmon_usuario_referencias_eliminar') }}", 
                  data: {'id' : idUsuario, 'referencias' : serialize(ids)},
                  dataType: "json"
            });
            request.done(function(respuesta) {
               document.getElementById('divDisponibles').innerHTML = respuesta['disponibles'];
               document.getElementById('divAsignados').innerHTML = respuesta['asignados'];
            });
    }
    
    function serialize(arr)
    {
        var res = 'a:'+arr.length+':{';
        for(i=0; i<arr.length; i++)
        {
            res += 'i:'+i+';s:'+arr[i].length+':"'+arr[i]+'";';
        }
        res += '}';
        
    return res;
    }   
</script>    

{% endblock %}