{% extends "app/Template/form.html.twig" %}

{% block titulo %}{{ usuario.organizacion }}{% endblock %}
{% block subtitulo %}{{ usuario.nombre }}{% endblock %}

{% block formulario %}
<h3>Servicios asignados al usuario.</h3>        
<p>En caso de no asignar ningún servicio al usuario, este podrá visualizar toda la flota. Para
hacer que un usuario no visualice ningún equipo quite los permisos de "ver flota" en la sección
de asignación de permisos.</p>
 
<div class="row-fluid">
    <div style="margin: 0px auto 0px auto; text-align: center" >
        <div class="span4"><h4>Servicios disponibles </h4></div>
        <div class="span2"><h4>Acciones</h4></div>
        <div class="span4"><h4>Servicios asignados</h4></div>
    </div>
</div>
<div class="row-fluid">
    <div style="margin: 0px auto 0px auto; text-align: center" >
        <div class="span4" id="divDisponibles">
            {% include "apmon/Usuario/show_disponibles.html.twig" %}            
        </div> 
        <div class="span2">
            <p><button type="button" class="btn" onclick="asignar({{ usuario.id }})">Asignar >></button></p>
            <p><button type="button" class="btn" onclick="eliminar({{ usuario.id }})">Eliminar <<</button></p>
            <hr>
            <p><a href="{{ app.session.get('volver') }}" class="btn">Terminar</a></p>
        </div> 
        <div class="span4" id="divAsignados">
            {% include "apmon/Usuario/show_asignados.html.twig" %}            
        </div> 
    </div>
</div>


<script>
    function asignar(idUsuario) {
       var ids = new Array();
       cant = 0;
       //obtengo la lista de elementos
       opt = document.getElementById("listDisponibles").options;
       
       //recorro la lista determinando cuales estan seleccionados
       for (i = 0; i < document.getElementById("listDisponibles").length; i++){
           if (opt[i].selected) {
               cant++;
               ids.push(opt[i].value);
           }
       }
       
       //llamo a jquery para hacer la asignacion.
       var request = $.ajax({
                  url: "{{ path('apmon_usuario_servicios_asignar') }}", 
                  data: {'id' : idUsuario, 'servicios' : serialize(ids)},
                  dataType: "json"
            });
            request.done(function(respuesta) {
               document.getElementById('divDisponibles').innerHTML = respuesta['disponibles'];
               document.getElementById('divAsignados').innerHTML = respuesta['asignados'];
            });
    }
    
    function eliminar(idUsuario) {
       var ids = new Array();
       cant = 0;
       //obtengo la lista de elementos
       opt = document.getElementById("listAsignados").options;
       
       //recorro la lista determinando cuales estan seleccionados
       for (i = 0; i < document.getElementById("listAsignados").length; i++){
           if (opt[i].selected) {
               cant++;
               ids.push(opt[i].value);
           }
       }
       //llamo a jquery para hacer la eliminacion de los servicios del usuario.
       var request = $.ajax({
                  url: "{{ path('apmon_usuario_servicios_eliminar') }}", 
                  data: {'id' : idUsuario, 'servicios' : serialize(ids)},
                  dataType: "json"
            });
            request.done(function(respuesta) {
               document.getElementById('divDisponibles').innerHTML = respuesta['disponibles'];
               document.getElementById('divAsignados').innerHTML = respuesta['asignados'];
            });
    }
    
    function serialize(arr)
    {
        var res = 'a:'+arr.length+':{';
        for(i=0; i<arr.length; i++)
        {
            res += 'i:'+i+';s:'+arr[i].length+':"'+arr[i]+'";';
        }
        res += '}';
        
    return res;
    }   
</script>    

{% endblock %}