<select id="listDisponibles" multiple="multiple" size="{{ disponibles|length }}" style="width: 100%;">
    {% for servicio in disponibles %}
        <option value="{{ servicio.id }}">{{ servicio.nombre|upper ~ ' (' ~ servicio.equipo ~ ') - ' ~ servicio.strEstado }}</option>                
    {% endfor %}
</select>
<em>Total disponibles: {{ disponibles|length|default(0) }}</em>