{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "apmon/Usuario/delete_form.html.twig" %} 
{% endblock %}
       
{% block titulo %}Mis Usuarios{% endblock %}    
{% block subtitulo %}{{ usuario.nombre }}{% endblock %}    
        
{% block contentpanel %}
<div class="row-fluid row-show">
    <div class="span6">
    <h3>Datos Principales</h3>
        {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': usuario.nombre } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Nombre de usuario', 'data': usuario.username } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'EMail', 'data': usuario.email } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'EMail', 'data': usuario.email } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Habilitado', 'data': usuario.enabled ? "Si" : "No" } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Organizacion', 'data': usuario.organizacion } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Zona Horaria', 'data':  usuario.timeZone } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Límite Historial', 'data':  usuario.limiteHistorial} %} 
        {% include "app/Template/show_row.html.twig" 
            with {'label': 'Creado', 'data':  usuariofechas.createdAt|date("d-m-Y H:i") } %} 
        {% include "app/Template/show_row.html.twig" 
            with {'label': 'Últ. Cambio', 'data':  usuariofechas.updatedAt|date("d-m-Y H:i") } %} 
        {% include "app/Template/show_row.html.twig" 
            with {'label': 'Últ Ingreso', 'data':  usuariofechas.lastLogin != null ? usuariofechas.lastLogin|date("d-m-Y H:i") : '---'} %} 
    </div>

    <div class="span6">    
        {# aca se muestran los permisos del usuario #}
        <h3>Permisos</h3>
        <ul>
        {% for permiso in usuario.permisos %}
            <li>{{ permiso.descripcion }}</li>
        {% else %}
            <em>No tiene permisos asociados.</em>
        {% endfor %}
        </ul>
     </div>
</div>
{% endblock  %}


