<div id="modalEvento" class="modal hide fade modal-block modal-block-lg" tabindex="-1" role="dialog" aria-labelledby="modalEventoLabel">
    <div id="alerta_evento_title">
      </div>
      <div class="modal-body">
         <div id="alerta_evento_data">
           
        </div>
        <div style="float: right">
            <small><em><b><div id="alerta_evento_count"></div></b></em></small>                
        </div>
    </div>
    <div class="modal-footer">
        {# <button class="btn" type="button" id="buttonSiguienteEvento">Siguiente <i class="icon-chevron-right"></i></button>
        <button class="btn btn-success" type="button" id="buttonVistaEvento">Visto</button> #}
    </div>
</div>

    
    
