{% if is_granted("ROLE_EVENTO_HISTORICO_VER") and cantidad is defined and cantidad > 0 %}
	<div class="btn-notification">
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#usr">
				<i class="icon-exclamation-sign"></i>
			</a>
			<ul class="dropdown-menu pull-left">
				{% for evento in eventos %}
					{% if loop.index < 10 %}
						<li style="text-align: left">
							<a href="{{ path('app_eventohistorico_show', {'id': evento.eventoHistorial.id}) }}">{{ evento.titulo }}</a>
						</li>
					{% endif %}
				{% endfor %}
				{% if eventos|length >= 10 %}
					asfs
					<em style="text-align: right; color: black">
						y otros...</em>
				{% endif %}
				<li class="divider"></li>
				<li style="text-align: left">
					<a href="{{ path('app_eventotemporal_list') }}">Ver todos...</a>
				</li>
			</ul>
		</div>
		<span class="notification blinker" id="blinker">
			<b>{{ cantidad }}</b>
		</span>
	</div>
{% else %}

	<div class="btn-notification">
		<div class="btn-group">
			<a class="btn" href="{{ path('app_eventotemporal_list') }}">
				<i class="icon-exclamation-sign"></i>
			</a>
		</div>
	</div>

{% endif %}
