{% if is_granted("ROLE_TAREAS_MANT_VER") and cantidad is defined and cantidad > 0 %}
{#    <div class="btn-notification" >
        <button class="btn"><i class="icon-wrench"></i></button>
        <span class="notification blinker" id="blinker">{{ cantidad }}</span>
    </div>#}
<div class="btn-notification" >
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#usr">
            <i class="icon-wrench"></i>
        </a>
        <ul class="dropdown-menu pull-right">
            {% for mante in mantenimientos %}
                <li style="text-align: left">                     
                    <a href="{{ path('tareamant_showservicio',{'id': mante['idServicio']})}}">
                        <img src="{{ asset('images/ball_'~ mante['status']['color'] ~ '.png') }}">
                        {{ mante['message'] }}
                    </a>
                </li>
            {% endfor %}
            {% if cantidad >= 10 %}
               <li style="text-align: left; color: blue;">                     
                    <a href="{{ path('tarea_mant_list',{'idOrg':organizacion.id,'estado':'3'})}}">
                        Ver Más ....
                    </a>
                </li>
            {% endif %}
              
        </ul>
    </div>

    <span class="notification blinker" id="blinker">{{ cantidad }}</span>
</div>
{% endif %}
