<div class="barratop">
    <div class="logo">
        {% include "app/Template/sectorLogo.html.twig" %}
    </div>
    {# esta es la seccion del sector de usuario#}
    <div id="barramenu">  {# esta es la seccion del menu de opciones #}
        {% include "app/Template/search.html.twig" %}
        {% include "app/Template/reloj.html.twig" %}
        {% if is_granted("ROLE_USER") %}
            {% block menu %}                      
                {#                {% include "app/Template/menu.html.twig" %}#}
            {% endblock %}
        {% endif %}
        {% include "app/Template/menu.html.twig" %}
    </div>
    {% include "app/Template/sectorUser.html.twig" %}
</div>