<table class="table table-resposive">
	<thead>
		<tr>
			<td></td>
			<td>Titulo</td>
			<td>Fecha</td>
			<td></td>
		</tr>
	</thead>
	<tbody>	
		{% for d in data %}
			<tr>
				<td>
					{% if d.nuevo %}
					<span>
						<i class="fa fa-bell"></i>						
					</span>
					{% endif %}
				</td>
				<td>
					<a href="{{ path('app_eventohistorico_show',{id: d.evento.eventoHistorial.id}) }}">
						<b>{{ d.evento.titulo }}</b>
					</a>
					{% if d.evento.servicio.chofer is not null %}
						<br>
						<div>
							<b>CHOFER</b><br>
							{{ d.evento.servicio.chofer.nombre }}
							<i>( Cel:
								{{ d.evento.servicio.chofer.telefono}}
								)</i>
							<br>
						</div>
					{% endif %}
					{% if d.evento.evento.protocolo is not null %}
						<div class="alert alert-primary">							
							<strong>Protocolo!</strong>
							{{ d.evento.evento.protocolo|raw }}
						</div>
					{% endif %}
				</td>
				<td>
					<em>{{ d.evento.fecha|date('d/m/Y H:i', app.user.timeZone) }}</em>
				</td>
				<td>
					<a title="visto" class="btn btn-sm" onclick="setupVisto('{{ d.evento.id }}');">
						<i class="fa fa-eye"></i>
					</a>
					<a title="registrar" class="btn btn-sm" onclick="showModalRegistrar('1','{{ d.evento.eventoHistorial.id }}');">
						<i class="fa fa-book"></i>
					</a>
				</td>
			</tr>
		{% endfor  %}		
	</tbody>
</table>
