{% extends "layout.html.twig" %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote.min.css" rel="stylesheet">
    
{% endblock %}

{% block js %}

    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>            
    <script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n.min.js') }}" /></script>  
    <script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n-timepicker.js') }}" /></script>   
    <script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-timepicker-addon.js') }}" /></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote.min.js"></script>
{% endblock %}

{% block content %}
<div id="panel" class="panel">
    <div class="top">
        <div class="solapa"><h1>{% block titulo %}{% endblock %}</h1></div>
    </div>
    <div class="clearfix"></div>
    <div class="body">
        <div id="panel-body">
            <div id="page-header" class="propias-page-header">
                <div style="display: block">               
                    <div class="row-fluid">
                        <div class="help" style="float: right">
                            {% block help %}{% endblock %}
                        </div>
                        <div class="subtitulo">{% block subtitulo %}{% endblock %}</div>
                    </div>
                </div>
            </div>  
            <div id="panel-content" class="panel-content">
                {% block informacion %}{% endblock %}
                {% block formulario %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

