{% extends "app/Template/layout-informe-mapa.html.twig" %}
{% set mainbundle = '/' %}   {# seteo la ubicacion del mainbundle #}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/layout-default-latest.css') }}" type="text/css" media="all" /> 
    {{ parent() }}    
    <style>
        .panel-content {
            border-color: #fff;
        }
        {#
        .ui-layout-west, .ui-layout-east {
            background-color: #fff;               
            border-color: #ccc;
        } #}
        .ui-layout-west {
            //  height: 100% !important;
            padding: 0px;
            margin: 0px;
        }
        .ui-layout-center {
            //  overflow: hidden;
            // overflow-x: hidden;
            // overflow-y: hidden;
            padding: 0px;
            //  height: 100% !important;
        } 

        #panel-content-layout {
            /* HEIGHT */
            height:	100%;					
            min-height:	400px;
            _height:	400px; /* min-height for IE6 */
        }

        .panel-content{
            margin: 0px 10px 0px 10px;
            overflow-y: scroll;
            height: 100%
        }

        .pane {
            display: none; /* will appear when layout inits */
        }
    </style>
{% endblock %}

{% block js %}
    {{ parent() }}
    {#  js generales #}

    {# es el js para el layout #}
    <script src="{{ asset('js/jquery.layout-1.4.4.js') }}" /></script> 
<script src="{{ asset(mainbundle ~ 'plugins/measuretool/lib/MeasureTool.js') }}"/></script> 

<script> //script para crear y borrar medidas en mapa by Nico
    var measureTool;
    function crearMedida(mapa){
    alert("Click en el mapa para calcular");
    measureTool = new MeasureTool(mapa, {
    contextMenu: false,
            showSegmentLength: true,
            tooltip: true,
            unit: MeasureTool.UnitTypeId.METRIC // metric, imperial, or nautical
    });
    measureTool.start()
    }

    function borrarMedida(){
    measureTool.end();
    }

</script>
<script type="text/javascript">
    var layoutSettings = {
    defaults: {
    applyDemoStyles: false,
            initClosed: false,
            resizable: true,
            slidable: true,
            livePaneResizing: true,
            onopen_end: function () { {{ mapa.fcRedimensionar() }}(); },
            onclose_end: function () { {{ mapa.fcRedimensionar() }}(); }
    },
            west: {
            width: 350,
                    minSize: 300,
                    autoResize:  true,
                    autoReopen:  true,
            },
            center: {
            // overflow: true,
            },
            south: {
            resizable: true,
                    size: 200,
                    overflow: true,
            }
    };
    $(document).ready(function () {
    {#    var screenHeight = 450;
                var screenWidth = 610;
                if (window.innerHeight) {
        screenHeight = window.innerHeight;
                screenWidth = window.innerWidth;
        } else if (document.body) {
        screenHeight = document.body.clientHeight;
                screenWidth = document.body.clientWidth;
        }
    #}
    {#    mainDivHeight = screenHeight - 125 - 45; //125 header +45 footer#}
    {#            mainDivWidth = screenWidth - 0;#}
    {#            document.getElementById('main').style.height = mainDivHeight + 'px';#}
        //document.getElementById('main').style.width = mainDivWidth + 'px';

    {#     if (typeof document.getElementById("panel") !== "undefined"){
 $('#panel').height(mainDivHeight - 45);
         if (typeof document.getElementById("panel-body") !== "undefined"){
 if (document.getElementById("page-header") !== null) {
 $('#panel-body').height(mainDivHeight - 100);
 } else {
 $('#panel-body').height(mainDivHeight - 60);
 }
 }
 }#}

     //aca lanzo el layout con los contenedores
     var mapLayout = $('#panel-content-layout').layout(layoutSettings);
     });
     function calcular_area(){
     if (this.document.getElementById("historial_calcular_area").checked) {
     crearMedida({{ mapa.getMapName() }});
     } else {
     borrarMedida();
     }
     }
</script>

{% endblock %}

{% block content %}
    <div id="panel" class="panel">
        <div class="top">
            <div class="volver"><a href={{app.session.get('volver')}}>Volver</a></div>
            <div class="solapa"><h1>{% block titulo %}{% endblock %}</h1></div>
        </div>
        <div class="clearfix"></div>
        <div class="body">
            <div id="panel-body">
                {#    <div id="page-header" class="propias-page-header">
                        <div style="display: block; padding: 5px; font-size: 13px;">               
                            <div class="row-fluid">
                                {% block informacion %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>   #}
                <div style="padding: 5px; height: 100%">
                    <div id="panel-content-layout" class="panel-content">
                        <div class="pane ui-layout-center">
                            {% block centerpanel %}
                            {% endblock %}   
                        </div> 
                        {% if ocultarpanelsur is defined and ocultarpanelsur %}
                        {% else %}
                            <div class="pane ui-layout-south">
                                {% block southpanel %}
                                {% endblock %}
                            </div>                            
                        {% endif %}
                        <div class="pane ui-layout-west">
                            {% block westpanel %}
                            {% endblock %}
                        </div>
                        {# 
                        {% block contentpanel %}
                        {% endblock %}
                        #}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

