{% extends "layout.html.twig" %}

{% block css %}
{{ parent() }}
<link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
 <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block js %}
{{ parent() }}

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>            
<script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n.min.js') }}" /></script>  
<script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n-timepicker.js') }}" /></script>   
<script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-timepicker-addon.js') }}" /></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

<script>
    $(document).ready(function () {
        $('form').submit(function() { 
            //$("*[class~='btn']").attr('disabled','true');
            var valor = $("select[id$='_destino']").val() * 1;   //traido del select destino el valor seleccionado
            if (valor !== 5) {             //la salida no es excel por lo que debo mostrar el wait.
                $('#modalWait').modal('show');
            }
            document.forms["form"].submit();         
            return false;
        });        
    });
</script>    
{% endblock %}
    
    
{% block content %}
<div id="modalWait" data-toggle="modal" class="modal hide wait">Generando informe, espere...</div>
<div style="width: 700px; margin: auto auto 0px auto; height: 100%">
    <div id="panel" class="panel">
        <div class="top">
            <div class="volver"><a href={{app.session.get('volver')}}>Volver</a></div>
            <div class="solapa"><h1>{% block titulo %}{% endblock %}</h1></div>
        </div>
        <div class="clearfix"></div>
        <div class="body" style="height: auto;">
            <div id="panel-body">
                {#<div id="panel-content" class="panel-content" style="overflow: hidden; overflow-y: auto;  padding: 25px 15px 0px 25px; height: 100%">#}
                <div id="panel-content" class="panel-content" style="overflow: hidden; overflow-y: auto;  margin: 20px auto 0px auto; height: 100%; width:600px;">
                    <div class="row-fluid">
                        <div class="span12">
                            {% block informacion %}{% endblock %}
                            {% block formulario %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

