{% extends "app/Template/layout.html.twig" %}

{% block css %}
{{ parent() }}
<link href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
 <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block js %}
{{ parent() }}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>            
<script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n.min.js') }}" /></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

{% endblock %}

{% block content %}
<div id="panel" class="panel">
    <div class="top">
        <div class="volver"><a href={{app.session.get('volver')}}>Volver</a></div>
        <div class="solapa"><h1>{% block titulo %}{% endblock %}</h1></div>
    </div>
    <div class="clearfix"></div>
    <div class="body">
        <div id="panel-body">
            <div id="page-header" class="propias-page-header">
                <div style="display: block; padding: 5px; font-size: 13px;">               
                    <div class="row-fluid">
                        {% block informacion %}{% endblock %}
                    </div>
                </div>
            </div>  
            <div id="panel-content" class="panel-content">
            {% block contentpanel %}{% endblock %}
            
            {# se imprime el tiempo de generacion del informe en caso de que existe la varaible. #}
            {% if time is defined %}
                <hr>
                <small><i>Tiempo de Generación: {{ time }}</i></small>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

