<!DOCTYPE html>
<html lang="es" style="height:100%">
    <head>
        {%block meta %}
            <meta charset="UTF-8">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="author" content="Security Consultant S.A." />
            <meta name="application-name" content="Aplicacion de monitoreo" />
            <!-- Mobile Specific Metas -->
        {% endblock %}
        {% block ico %}
			<link rel="shortcut icon" href="{{ asset(app.session.get('icono')) }}"/>
		{% endblock %}

        <title>{% block title %}{% endblock %}</title>

        {% set mainbundle = '/' %}   {# seteo la ubicacion del mainbundle #}
        {% block css %}
            <link rel="stylesheet" href="{{ asset(mainbundle ~ 'css/gmaps.css') }}" />
            <link href="{{ asset(mainbundle ~ 'plugins/intro/css/introjs.min.css') }}" rel="stylesheet" type="text/css" media="all" /> 
            <link href="{{ asset(mainbundle ~ 'plugins/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />              
            <link href="{{ asset(mainbundle ~ 'plugins/pnotify/pnotify.custom.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset(mainbundle ~ 'plugins/spectrum/spectrum.css') }}" type="text/css" media="all" rel="stylesheet" /> 

            <!-- estas tienen que ir siempre al ultimo -->
            <link href="{{ asset(mainbundle ~ 'css/template.css') }}" rel="stylesheet" type="text/css" media="all" /> 
            <link href="{{ asset(mainbundle ~ 'css/template-mapas.css') }}" rel="stylesheet" type="text/css" media="all" /> 
            <link href="{{ asset(mainbundle ~ 'css/propias.css') }}" rel="stylesheet" type="text/css" media="all" />             
        {% endblock %}    

        {% block jshead %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        {% endblock %}

        {% block head %}
        {% endblock %}

    </head>
    <body 
        data-spy="scroll" d
        ata-target=".subnav" 
        data-offset="50" 
        data-twttr-rendered="true" 
        style="height:100%;margin:0">

        {% if app.user.organizacion.tipoOrganizacion is defined and app.user.organizacion.tipoOrganizacion == 2 %}
            <!-- Creamos etiqueta audio y colocamos la ruta del archivo-->
            <audio  id="player">
                <source src={{ asset("sounds/panico.ogg") }} type="audio/ogg">
                <embed height="1" width="1" src={{ asset("sounds/panico.ogg") }}>
            </audio>
            <!-- Creamos etiqueta audio y colocamos la ruta del archivo-->
            <audio  id="playerevento">
                <source src={{ asset("sounds/evento.ogg") }} type="audio/ogg">
                <embed height="1" width="1" src={{ asset("sounds/evento.ogg") }}>
            </audio>
        {% endif %}

        {% block body %}    
            <div class="wrapper">  
                <div class="wrapper-body">  

                    <!--/*INICIO TOPBAR*/--> 
                    {% block topbar %}
                        <div id="header" class="header" height="20px">
                            <div class="topbar">  
                                {% include "app/Template/barratop.html.twig" %}
                            </div>
                        </div>
                    {% endblock %}
                    <!--/*FIN TOPBAR*/--> 

                    <div id= "main" class="master-container">            
                        <!-- /* INICIO CONTENIDO */ -->
                        {% block content %}
                        {% endblock %}
                        <!--/*FIN CONTENIDO*/-->            
                    </div>
                </div>

            </div>

        {% endblock %} 

        <!--/* INICIO DEL FORM PARA EVENTOS */-->
        {% if is_granted("ROLE_EVENTO_HISTORICO_VER") and app.user.organizacion.tipoOrganizacion == 2 %}    
            {% include "app/Template/alerta_evento_form.html.twig" %}            
        {% endif %}


        {% block js %}
            <script src="{{ asset('js/reloj.js') }}" /></script>  

        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>            
        <script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n.min.js') }}" /></script>  
        <script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n-timepicker.js') }}" /></script>   
        <script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-timepicker-addon.js') }}" /></script>

<script src="{{ asset(mainbundle ~ 'plugins/spectrum/spectrum.js') }}" /></script>     

{# ESTOS SON LOS SCRIPT NUEVOS DE HAPPYBOX #}
<script async src="{{ asset(mainbundle ~ 'plugins/pnotify/pnotify.custom.min.js') }}" type="text/javascript" /></script>
<script async src="{{ asset(mainbundle ~ 'plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript" /></script> 
  <script src="{{ asset(mainbundle ~ 'plugins/measuretool/lib/MeasureTool.js') }}"/></script> 
{% endblock %}

<script>
    mostrarHora();
    setInterval("mostrarHora()", 1000);
</script>

<script> //script para crear y borrar medidas en mapa by Nico
    var measureTool;
    function crearMedida(mapa){
        alert("Click en el mapa para calcular");
         measureTool = new MeasureTool(mapa, {
                contextMenu: false,
                showSegmentLength: true,
                tooltip: true,
                unit: MeasureTool.UnitTypeId.METRIC // metric, imperial, or nautical
            });
            measureTool.start()
    }
    
    function borrarMedida(){
        measureTool.end();
    }
    
</script>

{% block javascript %}
{% endblock %}  

<script type="text/javascript">
    {% include "app/Template/template-fullsize.script.js" %}

    {% if app.user.organizacion != null and app.user.organizacion.tipoOrganizacion == 2 %}    {#solo para clientes#}  
        {% include "app/Template/template-mantenimiento.script.js" %} 
        {% include "app/Template/template-panico.script.js" %}
    {% endif %}

        $(document).ready(function () {
            /*INICIO MENSAJES AL USUARIO*/
    {% for flashMessage in app.session.flashbag.get('success') %}                
            toastr["success"]("{{ flashMessage|raw }}", "Exito !!!");
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}                
            toastr["error"]("{{ flashMessage|raw }}", "Error !!!");
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('notice') %}                
            toastr["notice"]("{{ flashMessage|raw }}", "Info !!!");
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}                
            toastr["warning"]("{{ flashMessage|raw }}", "Atención !!!");
    {% endfor %}

            //FUNCIONES DE NOTIFICACION BOTONES.
    {% if app.user.organizacion != null and app.user.organizacion.tipoOrganizacion == 2 %}    {#solo para clientes#}  
            var blink = function () {
                $('.blinker').toggle();
            };
            setInterval(blink, 1000); //setea el blink de las notificaicones

        {% include "app/Template/template-mantenimiento.script.js" %} 
            //rutinas para la notificacion de manteniemiento
        {% if is_granted("ROLE_TAREAS_MANT_VER") %}
                renderBtnMantenimientos();
                setTimeout(function () {
                    consultarMantenimientos();
                }, 120000);  //llamo a la consulta 15seg despues del cargada la pagina
        {% endif %} 

        {% include "app/Template/template-panico.script.js" %}
                //rutinas para la notificacion de panicos.
        {% if (is_granted("ROLE_APMON_PANICO_REGISTRAR") or is_granted("ROLE_EVENTO_HISTORICO_VER")) %}    
                consultarEventos();  //ejecuta la consulta de panicos cuando se termina de cargar la pagina.
                setInterval(function () {
                    consultarEventos();
                }, 60000);   //consulta si hay notificaciones cada 60 seg
        {% endif %}
    {% endif %}

        });
</script>

      




</body>
</html>
