{# Este es la base final para cada uno de las herencias de los templates que 
tienen que usar los mapas con layout-ui#}
<!DOCTYPE html>
<html lang="es" style="height:100%">
<head>
    {%block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    {% endblock %}
    {% block ico %}
			<link rel="shortcut icon" href="{{ asset(app.session.get('icono')) }}"/>
		{% endblock %}

    <title>{% block title %}{% endblock %}</title>
    {% set mainbundle = '/' %}   {# seteo la ubicacion del mainbundle #}
    {% block css %}
        <link href="{{ asset(mainbundle ~ 'plugins/intro/css/introjs.min.css') }}" rel="stylesheet" type="text/css" media="all" /> 
        <link href="{{ asset(mainbundle ~ 'plugins/pnotify/pnotify.custom.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset(mainbundle ~ 'plugins/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />

        {# estas tienen que ir siempre al ultimo #}
        <link href="{{ asset(mainbundle ~ 'css/template.css') }}" rel="stylesheet" type="text/css" media="all" /> 
        <link href="{{ asset(mainbundle ~ 'css/template-mapas.css') }}" rel="stylesheet" type="text/css" media="all" /> 
        <link href="{{ asset(mainbundle ~ 'css/propias.css') }}" rel="stylesheet" type="text/css" media="all" />             
    {% endblock %}

    {% block js %}

        <script src="{{ asset('js/reloj.js') }}" /></script>  
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script src="{{ asset(mainbundle ~ 'js/jquery.layout-1.4.4.js') }}" /></script> 
        <script src="{{ asset(mainbundle ~ 'js/jquery.layout.resizePaneAccordions-1.0.js') }}"></script>

        <script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n.min.js') }}" /></script>  
        <script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n-timepicker.js') }}" /></script>   
        <script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-timepicker-addon.js') }}" /></script>

        {# ESTOS SON LOS SCRIPT NUEVOS DE HAPPYBOX #}
        <script src="{{ asset(mainbundle ~ 'plugins/intro/js/intro.min.js') }}" /></script>
        <script src="{{ asset(mainbundle ~ 'plugins/pnotify/pnotify.custom.min.js') }} " type="text/javascript" ></script>
        <script src="{{ asset(mainbundle ~ 'plugins/bootstrap/js/bootstrap.min.js') }} " type="text/javascript"></script>

    {% endblock %}

    {% block head %}
    {% endblock %}

   

</head>
<body 
    data-spy="scroll" d
    ata-target=".subnav" 
    data-offset="50" 
    data-twttr-rendered="true" 
    style="height:100%;margin:0">
{% include "app/Template/analitics.html.twig" %}    

{% block body %} 

{% endblock %} 
    
<script>
    mostrarHora();
    setInterval ("mostrarHora()", 1000);
</script>

</body>
</html>
