{# Este es la base final para cada uno de las herencias de los templates que 
tienen que usar los mapas con layout-ui#}
<!DOCTYPE html>
<html lang="es" style="height:100%">
<head>
    {%block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    {% endblock %}
    {% block ico %}
			<link rel="shortcut icon" href="{{ asset(app.session.get('icono')) }}"/>
		{% endblock %}

    <title>{% block title %}{% endblock %}</title>
    
    {% set mainbundle = '/' %}   {# seteo la ubicacion del mainbundle #}
    {% set pathDee = 'plugins/dee/' %}   {# seteo la ubicacion del dee #}
    <!-- INICIO DE CSS -->   
    {% block css %}
        <link rel="stylesheet" href="{{ asset(mainbundle ~ 'css/gmaps.css') }}" />
        <link href="{{ asset(mainbundle ~ 'font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all" /> 
        <link href="{{ asset(mainbundle ~ 'plugins/intro/css/introjs.min.css') }}" rel="stylesheet" type="text/css" media="all" /> 
        <link href="{{ asset(mainbundle ~ 'plugins/pnotify/pnotify.custom.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset(mainbundle ~ 'plugins/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset(pathDee ~ 'styles/vendor/toastr.min.css') }}">

        {# estas tienen que ir siempre al ultimo #}
        <link href="{{ asset(mainbundle ~ 'css/template.css') }}" rel="stylesheet" type="text/css" media="all" /> 
        <link href="{{ asset(mainbundle ~ 'css/propias.css') }}" rel="stylesheet" type="text/css" media="all" />             

    {% endblock %}   
    
    {% block jshead %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    {% endblock %}

    {% block head %}
    {% endblock %}

   

</head>
<body 
    data-spy="scroll" d
    ata-target=".subnav" 
    data-offset="50" 
    data-twttr-rendered="true" 
    style="height:100%;margin:0">
{% include "app/Template/alerta_evento_form.html.twig" %}   
{% block body %} 

{% endblock %} 
    

<!-- INICIO DE SCRIPT -->   
{% block js %}
    <script src="{{ asset('js/reloj.js') }}"/></script>  
    
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script> 
    
    <!-- ESTOS SON LOS SCRIPT -->
    <script async src="{{ asset(mainbundle ~ 'plugins/intro/js/intro.min.js') }}" /></script>
    <script src="{{ asset(mainbundle ~ 'plugins/pnotify/pnotify.custom.min.js') }} " type="text/javascript" ></script>
    <script src="{{ asset(mainbundle ~ 'plugins/bootstrap/js/bootstrap.min.js') }} " type="text/javascript"></script>
    <script src="{{ asset(pathDee ~ 'js/vendor/toastr.min.js') }}"></script>
{% endblock %}

<script>
    mostrarHora();
    setInterval ("mostrarHora()", 1000);
</script>

</body>
</html>
