<!DOCTYPE html>
<html lang="es" style="height:100%">
    <head>
        <?php header('Expires: '.gmdate('D, d M Y H:i:s \G\M\T', time() + 3600)); ?>
        {%block meta %}
            <meta charset="UTF-8">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="author" content="Security Consultant S.A." />
            <meta name="application-name" content="Aplicacion de monitoreo" />
            <!-- Mobile Specific Metas -->
        {% endblock %}
        {% block ico %}
			<link rel="shortcut icon" href="{{ asset(app.session.get('icono')) }}"/>
		{% endblock %}

        <title>{% block title %}{% endblock %}</title>

        {% set mainbundle = '/' %}   {# seteo la ubicacion del mainbundle #}
        <!-- INICIO DE CSS -->   
        {% block css %}
            <link href="{{ asset(mainbundle ~ 'plugins/intro/css/introjs.min.css') }}" rel="stylesheet" type="text/css" media="all" /> 
            <link href="{{ asset(mainbundle ~ 'plugins/pnotify/pnotify.custom.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset(mainbundle ~ 'plugins/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />

            {# estas tienen que ir siempre al ultimo #}
            <link href="{{ asset(mainbundle ~ 'css/template.css') }}" rel="stylesheet" type="text/css" media="all" /> 
            <link href="{{ asset(mainbundle ~ 'css/propias.css') }}" rel="stylesheet" type="text/css" media="all" />             
        {% endblock %}        

        {% block jshead %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        {% endblock %}

        {% block head %}
        {% endblock %}
    </head>
    <body     
        data-spy="scroll" 
        data-target=".subnav" 
        data-offset="50" 
        data-twttr-rendered="true" 
        style="height:100%;margin:0">
        {% block body %}    
            <div class="wrapper">  
                <div class="wrapper-body">  


                    <!--/*INICIO TOPBAR*/--> 
                    {% block topbar %}
                        {#<div id="header" class="header" height="20px">#}
                        <div class="headbar">  
                            <div class="barratop">
                                <div class="logo">
                                    {% include "app/Template/sectorLogo.html.twig" %}
                                </div>
                                {# esta es la seccion del sector de usuario#}
                                {% include "app/Template/sectorUser.html.twig" %}
                            </div>
                            {% include "app/Template/search.html.twig" %}
                            {% include "app/Template/reloj.html.twig" %}
                            <div id="barramenu">  {# esta es la seccion del menu de opciones #}
                                {% block menu %}                      
                                    {% include "app/Template/menu.html.twig" %}
                                {% endblock %}
                            </div>
                            <div id="bread">
                                {{app.session.get('breadcrumb')| raw}}
                            </div>    
                        </div>
                        {#</div>#}
                        <!--/*FIN TOPBAR*/--> 
                    {% endblock %}

                    <div id= "main" class="master-container"> 
                        <!--/*CONTENIDO*/--> 
                        {% block content %}
                        {% endblock %}
                        <!--/*FIN CONTENIDO*/-->

                        <!--/* INICIO DEL FORM PARA EVENTOS */-->
                        {% if is_granted("ROLE_EVENTO_HISTORICO_VER") and app.user.organizacion.tipoOrganizacion == 2 %}    
                            {% include "app/Template/alerta_evento_form.html.twig" %}            
                        {% endif %}        
                    </div>
                </div>

                <!--/*PIE DE PAGINA*/--> 
                <div id="foo" class="fooGenerico">
                    {% include "app/Template/fooBar.html.twig" %}        
                </div>
                <!--/*FIN PIE DE PAGINA*/--> 

                {% if app.user.organizacion.tipoOrganizacion is defined and app.user.organizacion.tipoOrganizacion == 2 %}
                    <!-- Creamos etiqueta audio y colocamos la ruta del archivo-->
                    <audio  id="player">
                        <source src={{ asset("sounds/panico.ogg") }} type="audio/ogg" preload="none"> 
                        <embed height="1" width="1" src={{ asset("sounds/panico.ogg") }}>
                    </audio>
                    <!-- Creamos etiqueta audio y colocamos la ruta del archivo-->
                    <audio  id="playerevento">
                        <source src={{ asset("sounds/evento.ogg") }} type="audio/ogg" preload="none"> 
                        <embed height="1" width="1" src={{ asset("sounds/evento.ogg") }}>
                    </audio>
                {% endif %}
            </div>

        {% endblock %}

        <!-- INICIO DE SCRIPT -->   
        {% block js %}
            <script src="{{ asset('apmon/js/reloj.js') }}" /></script>  

        {# ESTOS SON LOS SCRIPT NUEVOS DE HAPPYBOX #}
        <script async src="{{ asset(mainbundle ~ 'plugins/intro/js/intro.min.js') }}" /></script>
    <script src="{{ asset(mainbundle ~ 'plugins/pnotify/pnotify.custom.min.js') }} " type="text/javascript" ></script>
    <script src="{{ asset(mainbundle ~ 'plugins/bootstrap/js/bootstrap.min.js') }} " type="text/javascript"></script>
{% endblock %}

<!-- INICIO DE SCRIPT GENERICOS PARA TODO EL SITIO -->   
<script>
    mostrarHora();
    setInterval("mostrarHora()", 1000);
</script>

<script type="text/javascript">
    {% include "app/Template/template-fullsize.script.js" %}

        $(document).ready(function () {
            /*INICIO MENSAJES AL USUARIO*/
    {% for flashMessage in app.session.flashbag.get('success') %}                
            toastr["success"]("{{ flashMessage|raw }}", "Exito !!!");
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}                
            toastr["error"]("{{ flashMessage|raw }}", "Error !!!");
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('notice') %}                
            toastr["notice"]("{{ flashMessage|raw }}", "Info !!!");
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}                
            toastr["warning"]("{{ flashMessage|raw }}", "Atención !!!");
    {% endfor %}

            //ajusta el site a los margenes.    
            //AdjustFullSize();   

            //FUNCIONES DE NOTIFICACION BOTONES.
    {% if app.user.organizacion != null and app.user.organizacion.tipoOrganizacion == 2 %}    {#solo para clientes#}  
            var blink = function () {
                $('.blinker').toggle();
            };
            setInterval(blink, 1000); //setea el blink de las notificaicones

        {% include "app/Template/template-mantenimiento.script.js" %} 
            //rutinas para la notificacion de manteniemiento
        {% if is_granted("ROLE_TAREAS_MANT_VER") %}
                renderBtnMantenimientos();
                setTimeout(function () {
                    consultarMantenimientos();
                }, 15000);  //llamo a la consulta 15seg despues del cargada la pagina
        {% endif %} 

        {% include "app/Template/template-panico.script.js" %}
                //rutinas para la notificacion de panicos.
        {% if (is_granted("ROLE_APMON_PANICO_REGISTRAR") or is_granted("ROLE_EVENTO_HISTORICO_VER")) %}    
                consultarEventos();  //ejecuta la consulta de panicos cuando se termina de cargar la pagina.
                setInterval(function () {
                    consultarEventos();
                }, 60000);   //consulta si hay notificaciones cada 30 seg
        {% endif %}
    {% endif %}

        });

        $(window).resize(function () {
            AdjustFullSize();
        });
</script>

<!-- FIN DE SCRIPT GENERICOS PARA EL SITIO -->

</body>
</html>
