{% extends "layout.html.twig" %}

{% block css %}
{{ parent() }}
<link href="{{ asset('/plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block js %}
{{ parent() }}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>            
<script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n.min.js') }}" /></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
{% endblock %}

{% block content %}
<div id="panel" class="panel">
    <div class="top">
        <div class="volver"><a href={{app.session.get('volver')}}>Volver</a></div>
        <div class="solapa"><h1>{% block titulo %}{% endblock %}</h1></div>
    </div>
    <div class="clearfix"></div>
    <div class="left">
        {% block busqueda %}{% endblock %}
        {# <div class="search">
            <div class="input-append">
                <input class="span1" id="appendedInputButton" size="5" type="text">
                <button type="button"><i class="icon-search"></i></button>
              </div>
        </div> #}
        <div class="botonera">
            {% block sidebar %}
                {% include "app/Template/sidebar_menu.html.twig" %}
            {% endblock %}
        </div>
    </div>
    <div class="body list">
        <div id="panel-body">
            <div id="page-header" class="propias-page-header">
                <div style="display: block">               
                    <div class="row-fluid">
                        <div class="help">
                            {% block help %}{% endblock %}
                    </div>
                    <div class="subtitulo">{% block subtitulo %}{% endblock %}</div>
                </div>
                </div>
            </div>   
            <div id="panel-content" class="panel-content" >
                {% block informacion %}{% endblock %}

                {% block contentpanel %}{% endblock %}

                {% block formdelete %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

{% endblock %}
