{% extends "app/Template/layout-mapa.html.twig" %}
{% block css %}
    {{ parent() }}
    {% include "apmon/Mapa/dialog-styles.html.twig" %} 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block js %}
    {{ parent() }}    
    {{ mapa.renderJs()|raw }}
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
    {% include "apmon/Mapa/auxiliares.script.js" %}
    {% include "apmon/Mapa/gmaps-lib.script.js" %}    
    {% include "apmon/Mapa/dialog-iconos.script.js" %}
    {% include "apmon/Mapa/dialog-referencia-crear.script.js" %}
    {% include "apmon/Mapa/dialog-referencia-redibujar.script.js" %}
    {% include "apmon/Mapa/dialog-referencia-ubicar.script.js" %}
    {% include "apmon/Mapa/dialog-coordenada-ubicar.script.js" %}
    {% include "apmon/Mapa/dialog-animacion.script.js" %}

   //Esto se ejecuta cuando se cambia el tamaño de la ventana del navegador. 
   $(window).resize(function() {
       var altoLeft = $(window).height() - $('#panel-equipos-top').css('height');
       //defino el alto.
       $('#mapas-body').height( altoLeft ); 
       $('#mapas-content').height( altoLeft );
       $('#panel-left').height( altoLeft );
       $('#panel-equipos').height( altoLeft - 7 );

       //defino el ancho.
       if ( $("#mapas-left").css('display') === "block" ) {
            $('#mapas-body').width( $(document).width() - 315);
       } else {
            $('#mapas-body').width( $(document).width() -2);
       }

    });        

    $(document).ready(function()
    {
        
        //se ejecuta cuando se hace click en el left  
        $("#panel-trigger-left").click(function()
        {
          var altoLeft = $(window).height() - $('#panel-equipos-top').height();

          $(".pestaTriggerV").text("");
          if ( $("#mapas-left").css('display') === "block" ) {   
             $("#mapas-left").animate({width: 'toggle'}, 250, 
                 function() {
                     $('#mapas-body').width( $(document).width() - 2);
                     $(".pestaTriggerV").append('<img src="{{ asset('images/desplegable-der.png') }}">');
                     {{ mapa.fcRedimensionar() }}();
                });
          } else {
             $('#mapas-body').width( $(document).width() - 315);
             $("#mapas-left").animate({width: 'toggle'}, 250,
                 function() {
                     $(".pestaTriggerV").append('<img src="{{ asset('images/desplegable-izq.png') }}">'); 
                     {{ mapa.fcRedimensionar() }}();
                 });
          }
        });

        //se ejecuta cuando se hace click en el top
        $("#panel-trigger-top").click(function()
        {                 
             $("#mapas-top").animate({height: 'toggle'}, 250, 
             function() {
                 $('#mapas-body').hide();
                 $(".pestaTriggerH").text("");
                 if ( $("#mapas-top").css('display') === "block" ) {
                    var altoTop = 55; //este valor es el alto de barratop
                    $(".pestaTriggerH").append('<img src="{{ asset('images/desplegable-arriba.png') }}">');
                 } else {
                    $(".pestaTriggerH").append('<img src="{{ asset('images/desplegable-abajo.png') }}">');                         
                    var altoTop = 4; 
                 }
                 var altoLeft = $(window).height() - altoTop;
                 $('#mapas-content').height( $(window).height() - altoTop );
                 $('#panel-left').height( altoLeft - 3 );
                 $('#panel-equipos').height( altoLeft - $('#panel-equipos-top').height() - 17 );
                 $('#mapas-body').height( altoLeft ); 


                 if ( $("#mapas-left").css('display') === "block" ) {
                    $('#mapas-body').width( $(document).width() - 310);
                 } else {
                    $('#mapas-body').width( $(document).width() - 2);
                 }
                 $('#mapas-body').show();
                 {{ mapa.fcRedimensionar() }}(); 
            });
        });

        //se ejecuta al inicio cuando se carga la pantalla.
        var altoTop = 90; 
        var altoLeft = $(window).height() - altoTop;

        $('#mapas-content').height( $(window).height() - altoTop );
        $("#panel-content").show();
        $("#panel-content").show().resize();

        $('#panel-left').height( altoLeft - 3 );
        $('#panel-equipos').height( altoLeft - $('#panel-equipos-top').height() - 17 );

        $('#mapas-body').show();        
    }); 
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
{% endblock %}
        
{% block body %}

<div id="mapas-wrapper">
    {% block topbar %}
        <div id="mapas-top">
            <div class="headbar-mapa">                 
             {% include "app/Template/barratop.html.twig" %}
            </div>
        </div>
        <div class="dividerHorizontal" id="panel-trigger-top">
            <div class="pestaTriggerH" id="panel-trigger-top">
                <img src="{{ asset('images/desplegable-arriba.png') }}">
            </div>    
        </div>    
    {% endblock %}
        
    <div id="mapas-content">
        <div id="mapas-left">
            <div id="panel-left">
                <div id="panel-content">
                    <div id="panel-equipos-top" >
                        {% block panellefttop %}
                        {% endblock %}    
                    </div>

                    <div id="panel-equipos">
                        {% block panelequipo %}
                        {% endblock %}    
                    </div>
                </div>
            </div>
        </div>
       
        <div class="panelTriggerV" id="panel-trigger-left">
            <div class="pestaTriggerV" id="panel-trigger-left">
                <img src="{{ asset('images/desplegable-izq.png') }}">
            </div>
        </div>     
        <div id="mapas-body">
            {{ mapa.renderHtml()|raw }}  
        </div>
        {% block content %}
        {% endblock content %}
    </div>
    <div class="clearfix"></div>
    
        <!-- fuciones para la creacion de referencias -->        
        {% include "apmon/Mapa/dialog-iconos.html.twig" %} 
        {% include "apmon/Mapa/dialog-referencia-crear.html.twig" %} 
        {% include "apmon/Mapa/dialog-referencia-redibujar.html.twig" %} 
        <!-- fuciones varias de los mapas -->
        {% if grupos_servicio is defined %}
            {% include "apmon/Mapa/dialog-servicio-grupos.html.twig" %} 
        {% endif %}
        
        {% include "apmon/Mapa/dialog-referencia-ubicar.html.twig" %} 
        {% include "apmon/Mapa/dialog-coordenada-ubicar.html.twig" %} 
        
        {# esto es para las animaciones del mapa #}
        {% include "apmon/Mapa/dialog-animacion.html.twig" %} 
        
</div>
{% endblock body %}