{% block menu %}
    <ul class="menubar inline">
        {% if app.session.get('menuMapas')|length > 0 %}
            <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mapas</a>
                <ul class="dropdown-menu">
                    {% include "apmon/Home/rendermenu.html.twig" with {'menu': app.session.get('menuMapas') } %} 
                </ul>
            </li>
        {% endif %}
        {% if app.session.get('menuMonitor')|length > 0 %}
            <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Monitoreo</a>
                <ul class="dropdown-menu">            
                    {% include "apmon/Home/rendermenu.html.twig" with {'menu': app.session.get('menuMonitor') } %} 
                </ul>
            </li>
        {% endif %}            
        {% if app.session.get('menuFlota')|length > 0 %}
            <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Flota</a>
                <ul class="dropdown-menu">
                    {% include "apmon/Home/rendermenu.html.twig" with {'menu': app.session.get('menuFlota') } %} 
                </ul>
            </li>
        {% endif %}
        {% if app.session.get('menuMante')|length > 0 %}
            <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento</a>
                <ul class="dropdown-menu">
                    {% include "apmon/Home/rendermenu.html.twig" with {'menu': app.session.get('menuMante') } %} 
                </ul>
            </li>
        {% endif %}
        {% if app.session.get('menuInformes')|length > 0 %}
            <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Informes</a>
                <ul class="dropdown-menu">
                    {% include "apmon/Home/rendermenu.html.twig" with {'menu': app.session.get('menuInformes') } %} 
                </ul>
            </li>
        {% endif %}
        {% if app.session.get('menuAgro')|length > 0 %}
            <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Agro</a>
                <ul class="dropdown-menu">
                    {% include "apmon/Home/rendermenu.html.twig" with {'menu': app.session.get('menuAgro') } %} 
                </ul>
            </li>
        {% endif %}
        {% if app.session.get('menuConfig')|length > 0 %}
            <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuración</a>
                <ul class="dropdown-menu">
                    {% include "apmon/Home/rendermenu.html.twig" with {'menu': app.session.get('menuConfig') } %} 
                </ul>
            </li>
        {% endif %}
        {# <li id="fat-menu" class="dropdown "><a href="#">Ayuda</a></li> #}
    </ul>

{% endblock %}


