{% extends "app/Template/layout-monitor.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('/css/layout-default-latest.css') }}" type="text/css" media="all" /> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    
    {{ parent() }}
    <style>
        /** sobreescribo algunas propiedades del ui */
        .ui-layout-pane {padding: 0px;}    
        .ui-layout-east {padding: 3px;}
        .ui-layout-west {padding: 3px;}
    </style>
{% endblock %}

{% block js %}
    {{ parent() }}        
    <script>{% include "apmon/Mapa/gmaps-lib.script.js" %}</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="{{ asset(mainbundle ~ 'plugins/jquery.layout/jquery.layout.min.js') }}" /></script>
    <script type="text/javascript">
        var myLayout;
        var layoutSettings = {
            defaults: {
                //size: "auto",
                applyDemoStyles: false,
                initClosed: false,
                resizable: true,
                slidable: true,
                livePaneResizing: true,
                hideTogglerOnSlide: true,		// hide the toggler when pane is 'slid open'
                onopen_end: function () { {{ mapa.fcRedimensionar() }}(); },
                onclose_end: function () { {{ mapa.fcRedimensionar() }}(); }
            },
            north: {
                initClosed: false,
                height: 180,
                slidable: false,	// OVERRIDE the pane-default of 'slidable=true'
                resizable: false           //no quiero que se cambie el tamaño
            },
            west: {
                width: 350,
                minSize: 300,
                autoResize:  true,
                autoReopen:  true,
            },
            center: {
            // overflow: true,
            },
            south: {
                resizable: true,
                size: 200,
                overflow: true,
            }
        };
        
        $(document).ready(function () {
            $('select').select2();            
            myLayout = $('body').layout(layoutSettings);
        });
    </script>
{% endblock  %}

{% block body %}
        <div id="north" class="ui-layout-north" onmouseover="myLayout.allowOverflow('north')" onmouseout="myLayout.resetOverflow(this)">    
            <div id="mapas-top">
                <div id="headbar-mapa">
                    <div class="logo">
                        {% include "app/Template/sectorLogo.html.twig" %}
                    </div>
                    <!-- esta es la seccion del sector de usuario -->
                    <div id="barramenu">  <!-- esta es la seccion del menu de opciones -->
                        {% include "app/Template/search.html.twig" %}
                        {% include "app/Template/reloj.html.twig" %}
                        {% if is_granted("ROLE_USER") %}
                            {% block menu %}                      
                                {% include "app/Template/menu.html.twig" %}
                            {% endblock %}
                        {% endif %}
                    </div>
                    {% include "app/Template/sectorUser.html.twig" %}
                </div>
            </div>
        </div>
        <div id="center" class="ui-layout-center">
            {% block centerpanel %}{% endblock %}
        </div>
        <div id="east" class="ui-layout-east" style="min-width: 220px;">
            {% block eastpanel %}{% endblock %}
        </div>
        <div id="west" class="ui-layout-west" style="min-width: 220px;">
            {% block westpanel %}{% endblock %}
        </div>
    <div class="ui-layout-south" style="max-height: 130px;">{% block southpanel %}{% endblock %}</div>


{% endblock %}

