<div id="modalRegistrar" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalRegistrarLabel">
	<div id="alerta_evento_title" style="text-align:center;">
		<h3>Registrar Evento</h3>
	</div>
	<div class="modal-body">
		<div id="alerta_evento_data">
			<form id="formRegistrar" class="form-horizontal">
				<div class="row-fluid row-show">
					<div class="span4 column-label">Respuesta</div>
					<div class="column-show">
						<textarea id="panico_respuesta" name="panico[respuesta]" required="required" class=""></textarea>
					</div>
				</div>

			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button onclick="registrar();" type="button" class="btn btn-primary">Registrar</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button</div>
	</div>
