<div class="zona-reloj">
    <div class="pull-right" style="padding: 8px 5px 0px 5px;">
        {% if app.user.nombre %}
            <img src="{{ asset('images/'~app.user.timeZone~'/bandera.png') }}" alt="{{ app.user.timeZone }}" title="{{app.user.timeZone}}" > 
        {% endif %}
        {% block search %}{% endblock %}   {#este es el block para search#}
    </div>  
    <div id="hora" class="pull-right" style="padding: 8px 0px 0px 0px;">hora</div>
</div>                           