{% for key, item in menu %}
    {% if limit is defined and key >= limit and limit != 0 %}
    {% else %}    
        <li><a href="{{ item.url|raw }}" title="{{ item.title }}">{{ item.label|raw }}</a></li>
    {% endif %}
{% endfor %}