{% if app.user.organizacion.tipoOrganizacion is defined and app.user.organizacion.tipoOrganizacion == 1 %}
    {% block search %}        
        <div class="zona-search">
            <div class="pull-right" style="padding: 8px 0px 0px 10px">
                <a href="#modalSearch" role="button" data-toggle=modal><i class="icon-search icon-white"></i></a>
            </div>    
        </div>    
    {% endblock %}
{% endif %}