{#{% if is_granted("ROLE_USER") %}#}
    <div class="zona-usuario">
        <ul class="inline">
            <li>
                <div class="btn-notification" title="Central de informes">
                    <div class="btn-group">
                        <a class="btn" href="{{ path('informe_home', {'id': app.user.organizacion.id})}}">
                                <i class="fa fa-book"></i>
                        </a>
                    </div>
                </div>
            </li> 
            <li>
                <div id="zonenotifmant">
                    {% include "app/Template/alerta_mant.html.twig" %} 
                </div>
            </li>            
            <li> <!-- notificaciones para panicos -->
                <div id="zonenotifevento">  {# este id es para que se oculte las notif de evento #}
                    {% include "app/Template/alerta_evento.html.twig" %}   
                </div>
            </li>
            
            <li>
                <div class="btn-group"  style="text-align: left;">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#usr">
                        <i class="icon-user"></i>
                        <strong>
                            {{ app.user.nombre ?  app.user.nombre : app.user.username }}
                        </strong>      
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        {% if is_granted('ROLE_USUARIO_PROFILE_VER') %}
                            <li><a href="{{ path('user_profile_show')}}">Mi Perfil</a></li>
                            {% endif %}

                        {% if app.user.organizacion.tipoOrganizacion is defined %}
                            {% if app.user.organizacion.tipoOrganizacion == 1 %}
                                {% if is_granted('ROLE_SAURON_CUENTA_ADMIN') %}
                                    <li><a href="{{ path('distribuidor_show', {'id': app.user.organizacion.id, 'tab': 'main'})}}">Mi Distribuidora</a></li>
                                    {% endif %}
                                {% else %}
                                    {% if is_granted('ROLE_APMON_CUENTA_ADMIN') %}
                                    <li><a href="{{ path('apmon_cliente_show', {'id': app.user.organizacion.id, 'tab': 'main'})}}">Mi Cuenta</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if menuConfig is defined %}                     
                            <li class="divider"></li>
                                {% for key, item in menuConfig %}                                     
                                <li><a href="{{ item.url|raw }}" title="{{ item.title }}">{{ item.label|raw }}</a></li>
                                {% endfor %}
                            {% endif %}
                        <li class="divider"></li>
                        <li><a href="{{ path('security_logout') }}">Salir</a></li>
                    </ul>
                </div>            
            </li>
            <li>   <!-- este es el boton de salida -->
                <div class="btn-notification" >
                    <button class="btn btn-danger" onclick="location.href = '{{ path('security_logout') }}'">
                        Salir
                    </button>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
        {#<div class="area-nombre-org">            
            {{ app.user.organizacion.nombre|default('---') }}
        </div> #}   
    </div> 
    <div class="clearfix"></div>    
{#{% endif %}#}

