{#{% if is_granted('ROLE_USER') %}#}
    <div class="imagen-logo">
        {% if app.user.organizacion  %} {#  tiene organizacion   #}
            {% if app.user.organizacion.tipoOrganizacion == 1 %} {#  es un distribuidor     #}
                <a href="{{ path('dist_homepage') }}">
                    {% if app.user.organizacion.getLogo() != null %}  
                        {# toma el logo que se encuentra en la session #}
                        <img src="{{ asset(app.user.organizacion.getLogo()) }}" alt="{{ app.user.organizacion }}"> 
                    {% elseif app.user.organizacion.organizacionPadre != null %}    
                        {# toma el logo del padre #}
                        <img src="{{ asset(app.user.organizacion.organizacionPadre.getLogo()) }}" alt="{{ app.user.organizacion.organizacionPadre }}"> 
                    {% else %}
                        <img src="{{ asset(app.user.organizacion.getLogo()) }}" alt="{{ app.user.organizacion }}"> 
                    {% endif %}
                </a>
            {% else %}
                <a href="{{ path('apmon_homepage') }}">  {# Es un cliente #}
                    {% if app.user.organizacion.getLogo() == null %}  {# la organizacion no tiene logo #}
                        {% if app.session.get('logo') is defined %}
                            {# tomo el logo de la session #}
                            <img src="{{ asset(app.session.get('logo')) }}" alt="{{ app.user.organizacion.organizacionPadre }}">
                        {% else %}
                            <img src="{{ asset(app.user.organizacion.organizacionPadre.getLogo()) }}" alt="{{ app.user.organizacion.organizacionPadre }}">
                        {% endif %}
                    {% else %}
                        {# la organizacion tiene logo por lo que muestro su logo personalizado #}
                        <img src="{{ asset(app.user.organizacion.getLogo()) }}"  alt="{{ app.user.organizacion }}">
                    {% endif %} 
                </a>    
            {% endif %} 
        {% else %}
            <a href="#">
                <img class="" src="{{ asset('images/aker/5.png') }}" alt="Aker-Control"> 
            </a> 
        {% endif %}
    </div> 
{#{% else %}
    <img class="" src="{{ asset('images/aker/5.png') }}" alt="Aker-Control"> 

{% endif %}
#}