{#{% if data != null %}#}
    <div class="row-fluid row-show">
        <div class="span4 column-label">{{ label }}</div>    
        <div class="column-show">
            {% if img is defined %}
                <img src="{{ asset(img) }}">
            {% endif %}
            {{ data != null ? data|raw : '' }}
        </div>
    </div>
{#{% endif %}#}