{% extends "app/Template/show.html.twig" %}

{% block pageheader %}
    <div class="propias-page-header">
        <div class="row-fluid">
           {% block contenthead %}{% endblock %}
        </div>
    </div> 
{% endblock %}
    
           
