{% if servicio.tipoServicio.getWebPath() is defined %}
	{% if (servicio.UltContacto == true) and servicio.ultVelocidad == 0 %}
		{% set ciculo = "border:5px solid #FFE400;" %}  {# amarillo #}
	{% elseif servicio.ultVelocidad > 0 %}
        {% set ciculo = "border:5px solid #79C0EA;" %}  {# celeste #}
    {% else %}
		{% set ciculo = "border:5px solid #C4C4C4;" %}  {# gris #}
	{% endif %}
    {% set style = "border-radius: 36px;" %}
    {% set color = servicio.color is defined ? servicio.color : "#FFA500" %}
	<img 
    src="{{ asset(servicio.tipoServicio.getWebPath()) }}" 
    onerror="this.src='{{ asset(" /images/icono.png") }}'" 
    title="{{ servicio.tipoServicio }}" alt="{{ servicio.tipoServicio }}" 
    style="{{ style }} {{ ciculo }} width: {{size}}; text-align: center; background-color: {{color}}; margin: 1px; padding: 2px; padding-bottom: 5px;">
{% endif %}
