{% extends "layout.html.twig" %}

{% block css %}
{{ parent() }}
<link href="{{ asset('/plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block js %}
{{ parent() }}        
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>            
<script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n.min.js') }}" /></script>  
<script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n-timepicker.js') }}" /></script>   
<script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-timepicker-addon.js') }}" /></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
            $(".trigger").click(function(){
                    $(".panel-slide").toggle("fast");
                    $(this).toggleClass("active");
                    return false;
            });
    });
</script>
{% endblock js %}

{% block content %}
<div id="panel" class="panel">
    <div class="top">
        <div class="volver"><a href={{app.session.get('volver')}}>Volver</a></div>
        <div class="solapa"><h1>{% block titulo %}{% endblock %}</h1></div>
    </div>
    <div class="clearfix"></div>
     <div class="left">
            <div class="botonera">
                {% block sidebar %}
                    {% include "app/Template/sidebar_menu.html.twig" %}
                {% endblock %}
            </div>
    </div>
    <div  class="body list">     
        <div id="panel-body">
            {% block pageheader %}
                <div id="page-header" class="propias-page-header">
                    <div class="row-fluid">
                        <div class="subtitulo">{% block subtitulo %}{% endblock %}</div>
                    </div>
                </div> 
            {% endblock %}
            <div id="panel-content" class="panel-content">
                {% block informacion %}{% endblock %}

                {% block contentpanel %}{% endblock %}

                {% block formdelete %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

