<ul class="submenu">
{% if menu is defined %} 
    {% for key, item in menu %}
        {% if item['url'] is defined %}
            <li>
                <a href={{ item['url'] }} 
                   {{ item['extra'] is defined ? item['extra'] : '' }}
                   {{ item['id'] is defined ? 'id='~ item['id']  : '' }}>
                    {% if item['imagen'] != '' %}
                        <i class="{{ item['imagen'] }}"></i>
                    {% endif %}
                {{ key|e }}
                 </a>
            </li>
       {% endif %}
   {% endfor %}
{% endif %}
</ul>