{% extends "app/Template/form.html.twig" %}

{% block titulo %}Cambio de datos de Proveedor:{% endblock %}
{% block subtitulo %}{{ entity.nombre|e }}{% endblock %}

{% block formulario %}
<form class="form-horizontal" action="{{ path('proveedor_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <div>{{ form_errors(edit_form) }}</div>
        <fieldset>
            <div class="clearfix">
                <label>{{ form_label(edit_form.nombre) }}</label>
                <div class="input">{{ form_widget(edit_form.nombre) }}</div>
            </div>    
            <div class="clearfix">
                {{ form_rest(edit_form) }}
            </div> 
        </fieldset>
     <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Cambiar" />

        <a href="{{ path( 'proveedor_index' ) }}" class="btn">Cancelar</a>
       
    </div>
</form>

</div>
{% endblock %}