{% extends "app/Template/list.html.twig" %}

{% block sidebar %}
<p>
    <a href="{{ path('main_panelcontrol') }}">Inicio</a> | Volver | Atras
    </>
<h5>Opciones</h5>
<ul>
    <li><a href="{{ path('proveedor_new') }}">Agregar Proveedor</a></li>
</ul>
{% endblock %}
{% block titulo %}Proveedores{% endblock %}
{% block contentpanel %}  
<table class="condensed-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Accion</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
           {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('proveedor_show', {'id': entity.id} ) }}">{{ entity.nombre }}</a></td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('proveedor_edit', { 'id': entity.id }) }}">Editar</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
    {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}