{% extends "app/Template/form.html.twig" %}

{% block titulo %}Alta de Nuevo Proveedor{% endblock %}
{% block informacion %}
    <div class="alert-message block-message info">
        Ingreso de proveedores intervinientes en el sistema.
    </div>
{% endblock %}
{% block formulario %}
<form class="form-horizontal" action="{{ path('proveedor_create') }}" method="post" >
    <div>{{ form_errors(form) }}</div>
    <fieldset>
            <div class="clearfix">
                <label>{{ form_label(form.nombre) }}</label>
                <div class="input">{{ form_widget(form.nombre) }}</div>
            </div>    
            <div class="clearfix">
                {{ form_rest(form) }}
            </div> 
    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Agregar" />
        <a href="{{ path('proveedor_index') }}" class="btn">Cancelar</a>
    </div>
</form>

</div>
{% endblock %}
