{% extends "app/Template/show.html.twig" %}
{% set return = 'show' %}
{% block js %}
    {{ parent() }}
        <script type='text/javascript'>
           $(document).ready(function() {
                 $('#modal-from-dom').modal('hide')
                 $('#boton-cancelar').click(function(){
                   $('#modal-from-dom').hide();
                });
           });
        </script>
{% endblock js %}
        
{% block sidebar %}
        <p>
            <a href="{{ path('main_panelcontrol') }}">Inicio</a> |  Volver | Atras
        </>
        <h5>Opciones</h5>
        <ul>
            <li> <a href="{{ path('proveedor_index') }}" >Listado de proveedores</a></li>
            <li> <a href="{{ path('proveedor_edit', { 'id': entity.id }) }}" >
            Editar
            </a></li>
            <li> <a href="#" data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true">Eliminar</a></li>
        </ul>
{% endblock %}
        
{% block formdelete %}
    <div id="modal-from-dom" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Eliminar proveedor</h3>
    </div>
    <form class="form-horizontal" action="{{ path('proveedor_delete', { 'id': entity.id }) }}" method="post" >
        <div class="modal-body">
            <p>Esta seguro de eliminar el Proveedor: <strong>{{ entity.nombre|upper }}</strong> ?</p>
            {{ form_widget(delete_form) }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="submit">Eliminar</button>
            <a id="boton-cancelar" href="" class="btn secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
{% block titulo %}{{ entity.nombre }}{% endblock %}    
{% block contentpanel %}        
    <table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}