{% for servicio in servicios %}    
    <div class="servicio_panel">
        <div class="servicio_top">
            <table style="width: 100%">
                <tr>        
                    <th>
                        {% if servicio.tipoServicio.getWebPath() is defined and servicio.tipoServicio.getWebPath() != "" %}
                            <img style="width: 24px; height: 24px" src="{{ asset(servicio.tipoServicio.getWebPath()) }}" alt="{{ servicio.tipoServicio }}">
                        {% else %} 
                            <img src="{{ asset('images/icono.png') }}" alt="">
                        {% endif %}
                    </th>
                    {% if servicio.ultLatitud %}
                        <td style="cursor: pointer"  onclick="{{ mapa.getMapName() }}.setZoom(16); {{ mapa.getMapName() }}.setCenter(new google.maps.LatLng ({{servicio.ultLatitud}}, {{servicio.ultLongitud}}))">
                            <b>{{ servicio.nombre }}</b>
                        </td>
                    {% else %}
                        <td><b>{{ servicio.nombre }}</b></td>
                    {% endif %}    
                    {% if status[ servicio.id ] is defined and status[ servicio.id ]['st_ultreporte'] > 1 %}
                        <td style="color: red"> 
                    {% else %}
                        <td>
                    {% endif %}
                        {{ servicio.ultFechaHora ? servicio.ultFechaHora|date('d-m-Y H:i:s') : '---' }}</br>
                    </td>
                    <td>
                        {% if servicio.ultVelocidad %}
                            {% set velocidad = servicio.ultVelocidad %}
                            {% set direccion = servicio.ultDireccion %}
                        {% else %}
                            {% set velocidad = '' %}
                            {% set direccion = '-1' %}
                        {% endif %}    
                        <img width="16px" height="16px" 
                             src="{{ status[ servicio.id ] is defined ? status[ servicio.id ].icono : '' }}"
                             title="{{ servicio.ultVelocidad > 0 ? servicio.ultVelocidad~' km/h' : 'detenido' }}"> 
                        {{ servicio.ultVelocidad|default(0) }} km/h
                    </td>
                    <td>{{ servicio.ultbateria ? servicio.ultbateria : '---'  }}%</td>
                    <td>
                        {% if servicio.ultcontacto is defined and servicio.ultcontacto == true %}
                            <img src="{{ asset('images/key.png') }}" 
                        {% endif %} 
                        {% if servicio.ultValido == false %}
                            <div class="block">
                                <img src="{{ asset('images/transmit_error.png') }}" 
                                     width="16px" 
                                     height="16px" 
                                     style="float:left; margin: 0px 3px 0px 0px;"
                                     title="Sin señal de GPS">
                            </div>
                        {% endif %}                     
                    </td>
                    <td>
                       
                    </td>
                </tr>
        </table>
        </div>  
        {# Muestra la direccion si viene #}    
        {% if status[ servicio.id ] is defined and status[ servicio.id ]['direccion']|default('') != null %}
        <div class="direccion">
            <em>{{ status[ servicio.id ]['direccion'] }}</em>
        </div>
       {% endif %} 
        {# Muestra la proximidad si viene #}    
        {% if status[ servicio.id ]['cerca']['leyenda'] is defined and status[ servicio.id ]['cerca']['leyenda'] != null %}
            <div class="direccion">
               {% if status[ servicio.id ]['cerca']['icono'] is defined and status[ servicio.id ]['cerca']['icono'] != null %}
                <img style="width: 16px; height: 16px" src="{{ asset(status[ servicio.id ]['cerca']['icono']) }}">
               {% endif %} 
               <em>{{ status[ servicio.id ]['cerca']['leyenda'] }}</em>
            </div>
       {% endif %} 
    </div>
{% endfor %}
