{% extends "app/Template/mapas-full.html.twig" %}

{% block title %}Ver toda la flota{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
    {% include "apmon/Mapa/auxiliares.script.js" %}
        
    {{ mapa.recargaJsonAutomatica(url("sauron_mapa_equiposAJAX"), 50000, 'refresh')|raw }}

    //funcion utiizada como callback
    function refresh(respuesta) {
        if (this.document.getElementById("checkboxDirecciones").checked) {
            checked = '1';
        } else {
            checked = '2';
        }
        if (this.document.getElementById("checkboxRefCercana").checked) {
            vercercana = '1';
        } else {
            vercercana = '2';
        }
        var request = $.ajax( {
            url: "{{ url('sauron_mapa_equipos_refresh') }}", 
            data: {'ver' : checked, 'cercana' : vercercana},
        });
        request.done(function(htmlresponse) {
             $("#panel-equipos").text(""); 
             $('#panel-equipos').append(htmlresponse); 
        });    
    }

    function checkVerDireccion() {
         {{ mapa.recargaJsonManual(url("sauron_mapa_equiposAJAX"), 'refresh')|raw }}
    }
    function checkVerRefCercana() {
         {{ mapa.recargaJsonManual(url("sauron_mapa_equiposAJAX"), 'refresh')|raw }}
    }
</script>
       
{# funciones de inicializacion de los componentes de la vista #}
<script type="text/javascript">
    //En esta funcion inicializo todas las cosas de la vista.
    $(document).ready(function () {            
        $('#liVerAgrupadas').css('display', 'none');
    });
</script>
    
<script type="text/javascript">
    //Se llama a esta funcion cuando se hace click sobre un equipo
    function clickServicio(e, marcador){
        {{ mapa.fcStopDraw() }}();

        var request = $.ajax({
            url: "{{ url('main_mapa_servicio_infoAJAX') }}",
                    data: {'idServ' : marcador.id_sc},
                    beforeSend: function () {
            {{ mapa.fcAddMarker() }}({id_sc:marcador.id_sc, informacion: '<em><b>Obteniendo detalles, espere...</b></em>' });
            {{ mapa.varMarkers() }}.get(marcador.id_sc).openInfo();
            {{ mapa.fcIniDraw() }}();
            }
        });
        request.done(function(info) {
            {{ mapa.fcAddMarker() }}({id_sc:marcador.id_sc, informacion: info });
            {{ mapa.varMarkers() }}.get(marcador.id_sc).openInfo();
        });
        {{ mapa.fcIniDraw() }}();
    }
</script>

<script type="text/javascript">
{# incluyo las funciones para ver y ocultar las refererencias en el mapa #}
{% include "apmon/Mapa/referencia_view.script.js" %}

{# incluyo las funciones que se ejecutan cuando se hace click en una referencia #}
{% include "apmon/Mapa/gmaps-lib.script.js" %}    
</script>  
    
{# funciones del formulario de referencias #}
<script type="text/javascript">
function centerReferencia(id, clase, lat, lon) {
    {{ mapa.fcAddMarker() }}({id_sc: 'r'+id, visible: true});
    if (clase === 1) {
        {{ mapa.fcAddCircle() }}({id_sc: 'c'+id, visible: true});                        
    } else {
        {{ mapa.fcAddPolygon() }}({id_sc: 'p'+id, visible: true});                        
    }
    gotoCenter(lat, lon);
}

$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})

</script>  
    
   
{% endblock %}

{% block west_title %}{{ organizacion.nombre }}{% endblock %}    
{% block west %}
    {% include "sauron/Mapa/flota_list.html.twig" %}         
{% endblock %}
    
{% block east_title %}Controles{% endblock %}    
{% block east %}
<div id="accordion-east" class="accordion-inner">
    <h3><a class="accordion-head-title" href="#">Ver</a></h3>
    <div class="mapa-accordion-west-content">
        <ul class="nav nav-list">
            <li class="nav-header">Paneles</li>
            <li>
                <div class="btn-group">
                    <button class="btn" id="closeAllPanes" title="Ocultar todos los paneles"><i class="icon-resize-full"></i></button>
                    <button class="btn" id="openAllPanes" title="Mostrar todos los paneles"><i class="icon-resize-small"></i></button>
                </div>
            </li>
            <li class="nav-header">Datos</li>
            <li>
                <label class="checkbox">
                    <input type="checkbox" id="checkboxDirecciones" onClick='checkVerDireccion()' title="Muestra el domicilio sobre la que se encuentra el servicio">
                    Dirección
                </label>
            </li>
            <li>
                <label class="checkbox">
                    <input type="checkbox" id="checkboxRefCercana" onClick='checkVerRefCercana()' title="Muestra la referencia mas cercana para cada servicio">
                    Referencia Cercana
                </label>
            </li>
            <li class="nav-header">Referencias</li>
            <li>
                <label class="checkbox">
                    <input type="checkbox" id="checkboxReferencias" onClick='verTodasReferencias()'>Ver Todas
                </label>
            </li>
            <li id="liVerAgrupadas">
                <label class="checkbox">
                    <input type="checkbox" id="checkboxAgrupadasReferencias" checked="true" onClick='verAgrupadasReferencias()'>Agrupar
                </label>
            </li>            
        </ul>
    </div>

    <h3><a class="accordion-head-title" href="#">Referencias y Grupos</a></h3>
    <div class="mapa-accordion-west-content" style="overflow: hidden; overflow-y: hidden">
            {# este es la definicion de los tabs #}
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#referencias" data-toggle="tab">Referencias</a></li>
              {# <li class=""><a href="#grupos" data-toggle="tab">Grupos</a></li> #}
            </ul>
             
            {# aca esta el contenido de cada tab #}
            <div id="myTabContent" class="tab-content">
                {# tab de referencias #}
                <div class="tab-pane active" id="referencias">
                    <button class="btn btn-small" id="crear-referencia" onclick="crearReferencia()"><i class="icon-map-marker"></i>Agregar</button>
                    </br>
                    <table class="table" style="height: 200px;">
                    {% for referencia in referencias %}
                        <tr>
                            <td>
                                {% if referencia.pathIcono != null %}
                                <img class="icono-mini" src="{{referencia.pathIcono}}" />
                                {% endif %}
                            </td>
                            <td><a href="#" onclick="centerReferencia({{ referencia.id }}, {{ referencia.clase }}, {{ referencia.latitud }}, {{ referencia.longitud }})">{{ referencia.nombre }}</a></td>
                        </tr>
                    {% endfor %}
                    </table>                    
                </div>
                {# tab de grupos#}
                {# <div class="tab-pane" id="grupos">
                </div> #}
            </div>    
            {#<div>
                <table class="table" style="height: 200px;">
                {% for referencia in referencias %}
                    <tr>
                        <td><a href="#" onclick="centerReferencia({{ referencia.id }}, {{ referencia.clase }}, {{ referencia.latitud }}, {{ referencia.longitud }})">{{ referencia.nombre }}</a></td>
                    </tr>
                {% endfor %}
                </table>
            </div>#}
    </div>   
    
</div> 
       
{% include "apmon/Mapa/dialog-styles.html.twig" %} 
{% include "apmon/Mapa/dialog-iconos.html.twig" %} 
{% include "apmon/Mapa/dialog-referencia-crear.html.twig" %} 
{% include "apmon/Mapa/dialog-referencia-redibujar.html.twig" %} 

{% endblock %}    
    
{% block css %}
    {{ parent() }}
{% endblock %}
