{% extends "app/Template/mapas.html.twig" %}

{% block css %}
{{ parent() }}
<style type="text/css">
.dato {
    font-size: 14px;
    font-weight: bold;
}
.calle {
    font-size: 12px;
    font-style: italic;
}
.distancia {
     width: 50px; 
     text-align: right;
     font-weight: bold;
}
</style>

{% endblock %}
    
{% block title %}Control de ubicación de Vehiculos{% endblock %}
{% block titulo %}Control de ubicación de Vehiculos{% endblock %}

{% block js %}
{{ parent() }}
{{ mapa.renderJs()|raw }}
<script type="text/javascript">
    function cambioZoom(){
        zoom = {{ mapa.getMapName() }}.getZoom(); 
        var keys = {{ mapa.getMapName() }}_markers_and_icon.keys();
        for(var k in keys){                
            if (keys[k].substring(0, 3) == 'ref') {
                if (zoom >= 13) {
                    {{ mapa.fcAddMarker() }}({id_sc: keys[k], visible_leyenda: true }); 
                } else {
                    {{ mapa.fcAddMarker() }}({id_sc: keys[k], visible_leyenda: false }); 
                }
            }
        }
    }
    
    function referencias() {
     //   var vvisible = document.getElementById('checkboxReferencias').checked;
     //   {{ mapa.fcChangeMarkers() }}('referencia_', {visible: vvisible, visible_leyenda: vvisible, visible_icono: vvisible });
    }

</script>    
{% endblock %}

{% block contentpanel %}
 <div class="row-fluid">
    <div class="span4">
        <div  id="contenedor-mapa-dato">
            <div style="height: 400px;">
                {% if servicio.ultVelocidad %}
                    {% set velocidad = servicio.ultVelocidad %}
                    {% set direccion = servicio.ultDireccion %}
                {% else %}
                    {% set velocidad = '' %}
                    {% set direccion = '-1' %}
                {% endif %}    
                <table class="table">
                    <tr>
                        <td>Patente</td>
                        <td class="dato">{{ servicio.nombre }}</td>
                    </tr>
                    <tr>
                        <td>Empresa</td>
                        <td class="dato">{{ servicio.organizacion.nombre }}</td>
                    </tr>
                    <tr>
                        <td>Reporte</td>
                        <td class="dato">{{ servicio.ultFechaHora ? servicio.ultFechaHora|date('d-m-Y H:i:s') : '---' }}</td>
                    </tr>
                    <tr>
                        <td>Velocidad</td>
                        <td class="dato">
                            <img width="16px" height="16px" 
                                     src="{{ asset('images/icono.png.php?angulo='~direccion~'&color='~velocidad~'') }}"
                                     title="{{ servicio.ultVelocidad > 0 ? servicio.ultVelocidad~' km/h' : 'detenido' }}"> 
                                {{ servicio.ultVelocidad|default(0) }} km/h
                            {% if servicio.ultValido == false %}
                                <img src="{{ asset('images/transmit_error.png') }}" 
                                     width="16px" 
                                     height="16px" 
                                     style="float:left; margin: 0px 3px 0px 0px;"
                                     title="Sin señal de GPS">
                                </td>
                            {% endif %}
                       </td>
                    </tr>
                    <tr>
                        <td>Dirección</td>
                        <td class="calle">{{ calle }}</td>
                    </tr>
                </table>
                <table class="table">
                {% for estacion in cercanas %} 
                    <tr>
                        <td><img src="{{ asset( estacion.icono ) }}"></td>
                        <td>{{ estacion.codigo_eess }} </td>
                        <td>{{ estacion.nombre }} </td>
                        <td class="distancia">
                            {{ estacion.strdistancia }} 
                         </td>
                    
                    </tr>        
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div id="contenedor-mapa" class="span8" style="float: left; height: 400px; min-height: 400px;">
       {{ mapa.renderHtml()|raw }}  
    </div>
</div>
{% endblock %}