{% extends "app/Template/informe.html.twig" %}

{% block title %}Control de ubicación de Vehiculos{% endblock %}
{% block titulo %}Control de ubicación de Vehiculos{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
    function refchecked() {
        if (document.getElementById("radioboxOneReferencia").checked == true) { 
            $('#divSelectRef').css('display', 'block');
        } else {
            $('#divSelectRef').css('display', 'none');
        }
    }
</script>

{% endblock %}
    
{% block formulario %}
<form class="form-horizontal" action="{{ path('sauron_mapa_patente_consultar') }}" method="POST" >
    <fieldset>
        <div class="control-group ">
            <label class="control-label">Patente del vehiculo</label>
            <div class="controls">
                <input type="input" id="inputPatente" name="inputPatente" required="required" class="" placeholder="Ingrese patente...">
                <span class="help-block"></span>
            </div>
        </div>
        <div class="control-group ">
            <label class="control-label"></label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="optionsRadios" id="radioboxReferencias" value="all" checked onclick="refchecked()">
                    Buscar en todas las estaciones.
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios" id="radioboxOneReferencia" value="one" onclick="refchecked()">
                    Buscar en estación puntual
                </label>
                <div id="divSelectRef" style="display: none">
                    <select class="span4" name="selectReferencia">
                       {% for ref in referencias %}
                          <option value="{{ ref.id }}">{{ ref.nombre }}</option>
                      {% endfor %}
                   </select>
                </div>
            </div>
        </div>

        {% if error is defined %}
            <div class="alert alert-error">
                <p class="text-error"> 
                    <span class="label label-important">Error de consulta !!!</span>
                <p style="text-align: center">{{ error }}</p>
                </p>
            </div>
        {% endif %}

            <div class="form-actions" style="background-color: white">
                <button type="submit" class="btn btn-primary">Generar la consulta</button>
                <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>
    </fieldset>
</form>
{% endblock %}