<script>
    $(function() {
        $( "#accordion" ).accordion({
            header: 'div.title', 
            heightStyle: "fill",
            collapsible: true,
            activate: function( event, ui ) {
                $(".list_historial").text("Cargando datos...");
            },
        });
    });
    $(function () {
        nombreservicio = '{{ consulta.nombre }}';
        map_canvas_1_marker_add({id_sc: 'posicion_flecha', label_texto: '{{ consulta.nombre }}', visible: true });
    });
</script>

<div id="accordion">    
    {% for fecha in periodo %}
        <div class="title" onclick="consultar_date({{ loop.index0 }})"><a href="#">{{ fecha.title }}</a></div>
        <div id="{{ 'grilla' ~ loop.index0 }}" style="padding: 0px;">
            {% if page == loop.index0 %}
                {% include "apmon/Historial/historial_grilla.html.twig" with {'page': page} %} 
             {% else %}
                Cargando datos...
            {% endif %}
        </div>
    {% endfor %}
</div>