{% if historial %}
    {% if historial|length > 0 %}
    <div>
        <small>Se reportaron {{ historial|length }} posiciones. Se recorrieron {{ consulta.recorrido|number_format(2) }} kms en {{ consulta.tiempo }}</small>
       {# <em>Generado en {{ time|number_format(4) }} seg</em> #}
    </div>
    <div class="list_historial">
    {% for trama in historial %}
        <div class="servicio_panel" 
                {% if trama.posicion | default(0)  %} 
                    onmouseover="mouseoverList({{trama.posicion.latitud}}, {{trama.posicion.longitud}}, {{trama.posicion.direccion}}, {{trama.posicion.velocidad}} )"
                    onclick="clickList({{ trama.posicion.latitud }}, {{ trama.posicion.longitud }})"
                {% endif %}>
            <div class="servicio_principal">
                {# aca empiezan los datos #}
                <table style="width: 100%" border='0'>
                    <tr>
                        <td>{{ trama.fecha|date('d-m-Y H:i:s') }}</td>
                        <td style="text-align: right">
                            {{ trama.posicion.velocidad | default('0') }} km/h
                        </td>
                        <td>
                        {% if trama.posicion is not defined or trama.posicion == null %}
                            <div class="block">
                                <img src="{{ asset('images/transmit_error.png') }}" 
                                     width="16px" 
                                     height="16px" 
                                     style="float:left; margin: 0px 3px 0px 0px;"
                                     title="Sin señal de GPS">
                            </div>
                        {% endif %}
                        </td>
                        {% if consulta['panico'] is defined and trama.bateria_interna is defined %}
                            <td style="text-align: right">
                                ¿?
                            </td> 
                        {% endif %}
                        {% if consulta['mostrar_bateria'] is defined and trama.bateria_interna is defined %}
                        {% endif %}
                        {% if consulta['mostrar_tiempos'] is defined %}
                            <td style="text-align: right">
                                {{ trama.tiempo }} <br>
                                {{ trama.distancia }} mts.
                            </td>
                        {% endif %}    
                            <td style="text-align: left">

                            </td>
                    </tr>
                </table>
                {% if consulta['mostrar_referencias'] is defined or consulta['solo_referencias'] is defined %} 
                    <div class="direccion">
                        <strong>
                        {% if trama.referencia_id is defined %}
                                <img id="mostrar-icono" class="logo-small" style="width: 16px; height: 16px" src="{{ trama.referencia.pathIcono }}" />    
                            {{ trama.referencia.nombre }}
                        {% endif %}
                        </strong>
                    </div> 
                {% endif %}
                {% if consulta['mostrar_direcciones'] is defined %} 
                    <div class="direccion">
                        {{ trama.direccion|default('-----') }}
                    </div> 
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% else %}
        <em>No se registran reportes</em>
    {% endif %}
    </div>    
{% else %}
---
{% endif %}
        