{% extends "app/Template/mapas.html.twig" %}

{% block css %}
    {{ parent() }}
    <style type="text/css">
        .ui-timepicker-div
        .ui-widget-header { margin-bottom: 8px; }
        .ui-timepicker-div dl { text-align: left; }
        .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
        .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
        .ui-timepicker-div td { font-size: 12px; }
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
        .title { color: blue; }

        #animate-panel-data {
            border: 1px solid #ccc;
            min-height: 30px;
            padding: 5px;
            margin-top: 5px;
        }
    </style>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
        var nombreservicio = '';

                $.datepicker.setDefaults($.datepicker.regional["es"]);
                $.timepicker.setDefaults($.timepicker.regional["es"]);
        
                $("#historial_desde").datetimepicker({
        defaultDate: "today",
                changeMonth: true,
                numberOfMonths: 1,
                maxDate: "today",
            minDate: {{ limite_historial }},
        });
                var today = new Date();
        var today0 = new Date( today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0 );   

                $("#historial_hasta").datetimepicker ({
        defaultDate: "today",
                changeMonth: true,
                numberOfMonths: 1,
                maxDate: "today",
            minDate: {{ limite_historial }},
                locale: 'fr'
        });
        $("#historial_desde").datetimepicker( "setDate", today0 );
        $("#historial_hasta").datetimepicker( "setDate", today );

                $("#accordionzone").resizable();
         $("#historial_servicio").select2();
        });
                function ocultar() {
                $("#panel-equipos-top-inner").animate({height: 'toggle'}, 250,
                        function() {
                        $("#panel-inner").text("");
                                if ($("#panel-equipos-top-inner").css('display') === "block") {
                        var altoTop = 310;
                                $("#panel-inner").append('<img src="{{ asset('images/drag_hor_up.png') }}">');
                        } else {
                        var altoTop = 20;
                                $("#panel-inner").append('<img src="{{ asset('images/drag_hor_down.png') }}">');
                        }
                        var altoLeft = $(window).height(false) - altoTop;
                                $('#panel-equipos').height($('#panel-left').height() - altoTop);
                        });
                }

        function mostrar_referencias(){
        if (this.document.getElementById("checkboxReferencias").checked) {
        visible = '1';
        } else {
        visible = '2';
        }
        var request = $.ajax({
    url: "{{ path('apmon_referencias_viewAJAX') }}",
                data: {'visible' : visible, 'organizacion_id' : {{ organizacion.id }} },
                dataType: "json"
        });
                request.done(function(respuesta) {
        {{ mapa.fcStopDraw() }}();
           {{ mapa.fcAddAllIcons() }}(respuesta['icon']);       //agrego los iconos
        {{ mapa.fcAddAllPolygons() }}(respuesta['polygon']); //agrego los poligonos
           {{ mapa.fcAddAllCircles() }}(respuesta['circle']);   //agrego circulos
           {{ mapa.fcAddAllMarkers() }}(respuesta['referencia']);   //agrego las referencias.
        {{ mapa.fcSetClusterMinSize() }}(4);
        {{ mapa.fcIniDraw() }}();
                           });
                   }

                   var puntos = new Array();
    
                           function renderMapa(respuesta, page) {
        if (page === -1) {
                           $("#accordionzone").text("");
                                   $('#accordionzone').append(respuesta['html']);
                           } else {
            if (page === -2) {
                           $("#accordionzone").text("");
                                   $('#accordionzone').append(respuesta['html']);
                           } else {
                           $("#grilla" + page).text("");
                                   $("#grilla" + page).append(respuesta['html']);
                           }
        {{ mapa.fcAddPolyline() }}(respuesta['recorrido']);
        {{ mapa.fcAddMarker() }}(respuesta['puntoA']);
        {{ mapa.fcAddMarker() }}(respuesta['puntoB']);
                                    //FIXME: debe hacer un fitbounds dinamico de las posiciones.
                                    gotoCenter(respuesta['puntoA']['latitud'], respuesta['puntoA']['longitud']);

            puntos = respuesta['recorrido']['puntos'];    //guardo todos los puntos del recorrido cargado
            
                            }
                            }

                    function consultar() {
                    var request = $.ajax({
                    type: 'POST',
                            url: "{{ path('apmon_historial_generar') }}",
                            data: { 'historial': $("#form_consulta").serialize() }, //serializo el form
                            dataType: "json",
                            //async: true,
                            beforeSend: function(){
                            $("#accordionzone").text("");
                                    $('#accordionzone').append('Cargando datos...');
                            },
                    });
                            request.done(function(respuesta) {
                            ocultar();
                                    renderMapa(respuesta, - 2); //es -2 porque se presiona el boton.

                                    $('#accordionzone').height($('#panel-equipos').height() + $('#panel-equipos-top').height() - 30);
                                    $("#accordion").accordion("refresh");
                                    $("#accordion").accordion("option", "icons", null);
                            });
                    }

                    function consultar_date(page) {
                    var request = $.ajax({
                    type: 'GET',
                            url: "{{ path('apmon_historial_generar_date') }}",
                            data: { 'page': page },
                            dataType: "json"
                    });
                            request.done(function(respuesta) {
                            renderMapa(respuesta, page);
                            });
                    }

    </script>
    <script>
        function clickList(latitud, longitud){
        gotoCenter(latitud, longitud);
        }
    </script>

    <script>
        function mouseoverList(lat, lon, dir, vel) {
        var isOpen = $("#dialog-animacion" ).dialog( "isOpen" );     
        if(!isOpen){
        if (dir === -1 || vel === 0) {
        url = '/images/flechas/donut.png';
        } else {
        if (vel > 0 && vel <= 40) {
        rgb = 0; //'#eefd9e';
        } else if (vel > 40 && vel < 60) {
        rgb = 1; //'#e5ce0f';
        } else if (vel > 60 && vel <= 80) {
        rgb = 2; //'#DF7F07';
        } else if (vel > 80 && vel <= 100) {
        rgb = 3; //'#E56000';
        } else if (vel > 100) {
        rgb = 4; //'#E50D00';
        } else {
        rgb = 0; //'#FFFFFF';
        }
        if (dir >= 0 && dir < 360) {
        i = Math.floor(dir / 10.0);
        } else {
        i = 0;
        }
            url = '/images/flechas/color'+rgb+'/arrow'+i+'.png';
        }
        {{ mapa.fcAddIcon() }}({
               id_sc: 'posicion_flecha_icono',
                       icon_url: url,
                       icon_size_width: 24,
                       icon_size_height: 24,
                       icon_origin_x: 0,
                       icon_origin_y: 0,
                       icon_anchor_x: 12,
                       icon_anchor_y: 12 }, false
                       );
        {{ mapa.fcAddMarker() }}({
                       id_sc: 'posicion_flecha',
                               latitud: lat,
                               longitud: lon,
                               icono: 'posicion_flecha_icono',
                               label_texto: nombreservicio,
                               label_clase : 'servicio',
                               label_borde : 2,
                       });
                       gotoCenter(lat, lon, false);
    }}
        function moverPunteroMapa(lat, lon, dir, vel) {

        if (dir === -1 || vel === 0) {
        url = '/images/flechas/donut.png';
        } else {
        if (vel > 0 && vel <= 40) {
        rgb = 0; //'#eefd9e';
        } else if (vel > 40 && vel < 60) {
        rgb = 1; //'#e5ce0f';
        } else if (vel > 60 && vel <= 80) {
        rgb = 2; //'#DF7F07';
        } else if (vel > 80 && vel <= 100) {
        rgb = 3; //'#E56000';
        } else if (vel > 100) {
        rgb = 4; //'#E50D00';
        } else {
        rgb = 0; //'#FFFFFF';
        }
        if (dir >= 0 && dir < 360) {
        i = Math.floor(dir / 10.0);
        } else {
        i = 0;
        }
            url = '/images/flechas/color'+rgb+'/arrow'+i+'.png';
        }
        {{ mapa.fcAddIcon() }}({
               id_sc: 'posicion_flecha_icono',
                       icon_url: url,
                       icon_size_width: 24,
                       icon_size_height: 24,
                       icon_origin_x: 0,
                       icon_origin_y: 0,
                       icon_anchor_x: 12,
                       icon_anchor_y: 12 }, false
                       );
        {{ mapa.fcAddMarker() }}({
                       id_sc: 'posicion_flecha',
                               latitud: lat,
                               longitud: lon,
                               icono: 'posicion_flecha_icono',
                               label_texto: nombreservicio,
                               label_clase : 'servicio',
                               label_borde : 2,
                       });
                       gotoCenter(lat, lon, false);
    }

               function searchMasInfo(oid) {
               nombre = '#info_' + oid;
                       if ($(nombre).css('display') === 'block') {
               $(nombre).css('display', 'none');
                       $('#icon_' + oid).removeClass('historial-icon-minus');
                       $('#icon_' + oid).addClass('historial-icon-plus');
               } else {
               $(nombre).css('display', 'block');
                       $('#icon_' + oid).removeClass('historial-icon-plus');
                       $('#icon_' + oid).addClass('historial-icon-minus');
                       var request = $.ajax({
                       url: "{{ url('main_mapa_backend_infoAJAX') }}",
                               data: {'oid': oid},
                               beforeSend: function() {
                               $(nombre).html('<em><b>Obteniendo detalles, espere...</b></em>');
                               }
                       });
                       request.done(function(info) {
                       $(nombre).html(info);
                       });
               }
    }
    
     function calcular_area(){
        if (this.document.getElementById("historial_calcular_area").checked) {
         crearMedida({{ mapa.getMapName() }});
        } else {
         borrarMedida();
        }
    }
    </script>

{% endblock %}

{% block panellefttop %}
    <div id="panel-equipos-top-inner" style="height: 300px;">
        {% include "apmon/Historial/historial_form.html.twig" %}         
    </div>
    <div class="dividerHorizontal-inner" id="panel-inner" onclick="ocultar()">
        <img src="{{ asset('images/drag_hor_up.png') }}">
    </div>
{% endblock %}

{% block panelequipo %}
    <div id="accordionzone" style="border: none; height: 500px" class="ui-widget-content">
        {% include "apmon/Historial/historial_grilla.html.twig" %}              
    </div>        
{% endblock %}

{% block content %}
    <div id="mapas-body">
        {% if historial %}
            {% if historial|length > 0 %}
                <script> ocultar()</script>
                {{ mapa.renderHtml()|raw }}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
