<div class="panel-equipos-top-titulo">
    Historial de posiciones
</div>                
<div id="panel-form" class="form_small" style="padding: 5px;">
<form id="form_consulta" class="form-horizontal" action="#"  method="POST" > 
    <fieldset>
        <div>{{ form_errors(form) }}</div>        
        <div class="row row-show">
            <div class="span1 column-label">Equipo</div>
            <div class="span2 column-input"> {{ form_widget(form.servicio, {'attr': {'style': 'width:190px'} }) }}</div>
        </div>
        <div class="row row-show">
            <div class="span1 column-label">Desde</div>
            <div class="span2 column-input"> {{ form_widget(form.desde, {'attr': {'style': 'width:176px'} }) }}</div>
        </div>
        <div class="row row-show">
            <div class="span1 column-label">Hasta</div>
            <div class="span2 column-input"> {{ form_widget(form.hasta, {'attr': {'style': 'width:176px'} }) }}</div>
        </div>
        {# sacado hasta incorporar grupos de referencias 
        <div class="row row-show">
            <div class="span1 column-label">Referencias</div>
            <div class="span2 column-input">{{ form_widget(form.referencias) }}</div>
        </div>
        
        <hr>
        #}
        <div class="row row-show">
            <div class="span1 column-label">Reportes</div>
            <div class="span2 column-input">
              <label class="radio">
                <input type="radio" name="historial[solo_referencias]" id="historial_solo_referencias_0" value="0" checked="">
                    Todas las tramas
              </label>
              <label class="radio">
                <input type="radio" name="historial[solo_referencias]" id="historial_solo_referencias_1" value="1">
                    Sólo tramas con referencias
              </label>
            </div>
        </div>

        <div class="row">
            {# esta es la columna 1 #}
            <div class="span2 column-input" style="width: 130px;">
                <label class="checkbox">
                    {{ form_widget(form.mostrar_bateria) }}
                    Nivel de batería
                </label>
              <label class="checkbox">
                  {{ form_widget(form.mostrar_sinposicion) }}
                  Incluir sin posición
              </label>
              <label class="checkbox">
                  <input type="checkbox" id="checkboxReferencias" onClick='mostrar_referencias()' {{ default_referencias ? 'checked' : '' }} >
                  Ver referencias
              </label> 
            </div>
            
            {# esta es la columna 2 #}
            <div class="span1 column-input">
              <label class="checkbox">
                {{ form_widget(form.mostrar_tiempos) }}
                  Tiempos y Distancias.
              </label>
              <label class="checkbox">
                  {{ form_widget(form.mostrar_direcciones) }}
                  Direcciones.
              </label>
              
              <label class="checkbox">
                  {{ form_widget(form.mostrar_fecha_recepcion) }}
                  Fecha de Recepción.
              </label>
                  
              <label class="checkbox">
                  <input type="checkbox" id="historial_calcular_area" name="historial[calcular_area]" onclick="calcular_area();" value="0">
                  Calcular Dist. y Area 
              </label>
              
            </div>
        </div>
       
        {{ form_widget(form._token) }}
        <div class="row">
            <div class="span2 offset1">
                <input type="button" class="btn btn-small btn-primary" value="Consultar" onclick="consultar()" />
            </div>
        </div>
    </fieldset>
</form>
</div>
