{% if historial|length > 0 %}
    <div style="font-size: 11px; padding-left: 5px;">
        <em>Se reportaron {{ historial|length }} posiciones.</em> 
        <p>
            <a class="btn btn-xs" href="javascript:viod(0)" onclick="javascript:document.forms['formexport{{ page }}'].submit();">
                Exportar a Excel
            </a> 
            <a class="btn btn-xs" href="#" onclick="verAnimacionPanel({{historial|length}})" title="Reproducir ">
                <i class="icon-play"></i>
                Animación
            </a>
        </p>
        <form name="formexport{{ page }}" action="{{ path('apmon_historial_exportar') }}" method="POST" >
            <input type="hidden" name="historial" value="{{ historial|json_encode() }}"/>
            <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
            <input type="hidden" name="page" value="{{ page|json_encode() }}"/>
        </form>
    </div>

    <div class="list_historial">
        {% for trama in historial %}
            <div class="servicio_panel" {% if trama.posicion | default(0)  %} 
                 onmouseover="mouseoverList({{trama.posicion.latitud}}, {{trama.posicion.longitud}}, {{trama.posicion.direccion}}, {{trama.posicion.velocidad}})"
                 onclick="gotoCenter({{ trama.posicion.latitud }}, {{ trama.posicion.longitud }}, true)"
                 id="servicio_panel_{{ trama.oid }}"
                 {% endif %}>

                     <div class="servicio_principal">
                         <table style="width: 100%" border='0'>
                             <tr>                        
                                 <td>
                                     {% if trama.panico is defined and trama.panico %}
                                         <i class="icon-exclamation-sign"></i>
                                     {% endif %}
                                     {{ trama.fecha|date('d-m-Y H:i:s') }}
                                     {% if consulta['mostrar_fecha_recepcion'] is defined %}
                                         <br>FR: {{ trama.recepcion }}
                                     {% endif %}
                                     {% if trama.canbus is defined %}
                                         {% if trama.canbus == 1 %}
                                             <i class="icon-play" title="canbus en viaje"></i>
                                         {% elseif trama.canbus == 2 %}
                                             <i class="icon-fast-forward" title="canbus fin de viaje"></i>
                                         {% elseif trama.canbus == 0 %}
                                             <i class="icon-fast-backward" title="canbus inicio de viaje"></i>
                                         {% endif %}
                                     {% endif %}
                                 </td>
                                 <td>
                                     {% if trama.contacto|default(false) == true %}
                                         <img src="{{ asset('images/key.png') }}" 
                                         {% endif %} 
                                 </td>
                                 <td style="text-align: right">
                                     {{ trama.posicion.velocidad | default('0') }} km/h
                                 </td>
                                 <td>
                                     {% if trama.posicion is not defined or trama.posicion == null %}
                                         <div class="block">
                                             <img src="{{ asset('images/transmit_error.png') }}" 
                                                  width="16px" 
                                                  height="16px" 
                                                  style="float:left; margin: 0px 3px 0px 0px;"
                                                  title="Sin señal de GPS">
                                         </div>
                                     {% endif %}
                                 </td>

                                 <td style="text-align: right">                            
                                     {# Candado #}
                                     {% if trama.cerrojo is defined %}
                                         <div class="bateria block">                        
                                             {% include "apmon/Mapa/show_cerrojo.html.twig" with {'cerrojo': trama.cerrojo} %}  
                                         </div>     
                                     {% endif %}     

                                     {# Inputs #}
                                     {% if trama.inputs is defined %}
                                         <div class="bateria block">                        
                                             {% include "apmon/Mapa/show_inputs.html.twig" with {'entradas': trama.inputs} %}  
                                         </div>     
                                     {% endif %}                    
                                     {# Tanque de combustible #}
                                     {% if trama.tanque is defined %}
                                         {% include "apmon/Mapa/show_combustible.html.twig" with {'tanque': trama.tanque} %}  
                                     {% endif %}

                                     {# Chofer #}
                                     {% if trama.chofer is defined %}
                                         <div class="bateria block">  
                                             <img src="{{ asset('images/chofer.png') }}" title="{{ trama.chofer.nombre }}">                                    
                                         </div>
                                     {% endif %}

                                     {% if consulta['mostrar_bateria'] is defined and trama.bateria_interna is defined %}
                                         {% include "apmon/Mapa/show_bateria.html.twig" with {'bateria': trama.bateria_interna} %}  
                                     {% endif %}  

                                 </td>                        
                                 <td style="width: 16px">
                                     <div class="historial-icon-plus" id="icon_{{ trama.oid }}" onclick="searchMasInfo('{{ trama.oid }}')">
                                         <a href="#"></a>
                                     </div>
                                 </td>
                             </tr>
                         </table>
                         {% if consulta['mostrar_tiempos'] is defined %}
                             <div class="direccion" style="float: right">
                                 {{ trama.tiempo }} |
                                 {{ trama.distancia }} mts.
                             </div>
                         {% endif %}    
                         {% if consulta['mostrar_referencias'] is defined or consulta['solo_referencias'] is defined %} 
                             <div class="direccion">
                                 <strong>
                                     {% if trama.referencia_id is defined %}
                                         <img id="mostrar-icono" class="logo-small" style="width: 16px; height: 16px" src="{{ trama.referencia.pathIcono }}" />    
                                         {{ trama.referencia.nombre }}
                                     {% endif %}
                                 </strong>
                             </div> 
                         {% endif %}
                         {% if consulta['mostrar_direcciones'] is defined %} 
                             <div class="direccion">
                                 {{ trama.direccion|default('----') }}
                             </div> 
                         {% endif %}
                         <div id="info_{{ trama.oid }}" style="display: none">
                         </div> 
                     </div>
                 </div> 
                 {% endfor %}
                 </div>
                 {% else %}
                     <em>No se registran reportes</em>
                     {% endif %}