{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %} {{ organizacion}} {% endblock %}
{% block subtitulo %}Carga de Combustible Masiva{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $.timepicker.setDefaults($.timepicker.regional["es"]);
            $("#secur_combustibletype_fecha").datetimepicker({
                defaultDate: "today",
                changeMonth: true,
                numberOfMonths: 1,
                maxDate: "today",
                dateFormat: 'dd-mm-yy',
            });
            var today = new Date();
            $("#stock_ult_compra").datetimepicker("setDate", today);

        });
        $("#secur_combustibletype_servicio").select2();
        $("#secur_combustibletype_referencia").select2();



        ;</script>
    <script type="text/javascript">
        $("#agregar").click(function () {
            var servicio = $("#secur_combustibletype_servicio option:selected").text();
            var idservicio = $("#secur_combustibletype_servicio option:selected").val();
            var fecha = $("#secur_combustibletype_fecha").val();
            var guiaDespacho = $("#secur_combustibletype_guia_despacho").val();
            if ($.isNumeric($("#secur_combustibletype_litros_carga").val())) {
                var litrosCarga = parseFloat($("#secur_combustibletype_litros_carga").val());
            } else {
                str = $("#secur_combustibletype_litros_carga").val();
                str.replace(',', '.');
                var litrosCarga = parseFloat(str);
            }
            if ($.isNumeric($("#secur_combustibletype_monto_total").val())) {
                var montoTotal = parseFloat($("#secur_combustibletype_monto_total").val());
            } else {
                str = $("#secur_combustibletype_monto_total").val();
                str.replace(',', '.');
                var montoTotal = parseFloat(str);
            }
            //var montoTotal = parseFloat($("#secur_combustibletype_monto_total").val());

            var odometro = $("#secur_combustibletype_odometro").val();
            //var estacion = $("#secur_combustibletype_referencia option:selected").text();
            var idestacion = $("#secur_combustibletype_referencia option:selected").val();
            var request = $.ajax({
                type: 'POST',
                url: "{{ path('apmon_combustible_newmasiva',{'idorg': organizacion.id}) }}",
                data: {'servicio': idservicio, 'fecha': fecha, 'guiaDespacho': guiaDespacho,
                    'litrosCarga': litrosCarga, 'montoTotal': montoTotal, 'odometro': odometro, 'estacion': idestacion},
                dataType: "json"
            });
            request.done(function (r) {
                if (r['status'] == 'OK') {
                    $('#tabla').append('<tr><td><span class="label label-success">OK</span></td><td>' + r['servicio'] + '</td><td>' + r['fecha'] + '</td><td>' + r['guiaDespacho'] +
                            '</td><td>' + r['litrosCarga'] + '</td><td>' + r['montoTotal'] + '</td><td>' + r['odometro'] + '</td><td>' + r['latitud'] + '</td><td>' + r['longitud'] + '</td><td>' + r['estacion'] + '</td></tr>');
                } else {
                    $('#tabla').append('<tr><td><span class="label label-important">ERROR</span> </td><td>' + r['servicio'] + '</td><td>' + r['fecha'] + '</td><td>' + r['guiaDespacho'] +
                            '</td><td>' + r['litrosCarga'] + '</td><td>' + r['montoTotal'] + '</td><td>' + r['odometro'] + '</td><td>' + r['latitud'] + '</td><td>' + r['longitud'] + '</td><td>' + r['estacion'] + '</td></tr>');
                }
                $("#secur_combustibletype_fecha").val(fecha);
                $("#secur_combustibletype_servicio").val(idservicio);
                $("#secur_combustibletype_servicio").trigger('change');
            });
            document.getElementById("form-masiva").reset();


        });
    </script>

{% endblock %}

{% block formulario %}
    <form class="form-horizontal" action="#" {{ form_enctype(form) }} method="POST" id="form-masiva">
        <fieldset>
            {{ form_errors(form) }}
            <div class="row-fluid">
                <div class="span5">
                    {{ form_widget(form.servicio) }}  
                    {{ form_widget(form.fecha) }}  
                    <div class="control-group ">
                        <label class="control-label">Litros carga</label>
                        <div class="controls">
                            <input id="secur_combustibletype_litros_carga" name="secur_combustibletype[litros_carga]" required="required" class="" type="text" min="0" step="0.01">
                            <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>

                        </div>
                    </div>
                    <div class="control-group ">
                        <label class="control-label">Monto total</label>
                        <div class="controls">
                            <input id="secur_combustibletype_monto_total" name="secur_combustibletype[monto_total]" class="" type="text" min="0" step="0.01">
                        </div>
                    </div>
                    {{ form_widget(form.guia_despacho) }}    
                    {{ form_widget(form.odometro) }} 
                    {{ form_widget(form.referencia) }} 
                    {{ form_widget(form._token) }}
                    <div class="form-actions">
                        <input type="button" id="agregar" class="btn btn-primary" value="Agregar" />
                        <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
                    </div>
                </div>
                <div class="span7">
                    <table class="table table-condensed" id="tabla">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Servicio</th>
                                <th>Fecha</th>
                                <th>Despacho</th>
                                <th>Litros</th>
                                <th>Monto</th>
                                <th>Odómetro</th>
                                <th>Latitud</th>
                                <th>Longitud</th>
                                <th>Estación de Servicio</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
