{% extends "app/Template/layout.html.twig" %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/accordion.css') }}" type="text/css" media="all" /> 

    <script>
        $(document).ready(function () {
            $("#accordion-main").accordion({
                event: "mouseover",
                header: 'div.title',
                autoHeight: false
            });
        });
    </script>
{% endblock %}

{% block js %}

    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>            
    <script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n.min.js') }}" /></script>  
    
{% endblock %}

{% block content %}
    <div class="accordion-wrapper">  
        <div id="accordion-main" class="accor-main" >
            <div class="">
                {# ver mapas #}
                {% if menuMapas is defined %}
                    <div class="tabZona tabMapa">
{#                        {% include "Home/rendermainmenu.html.twig" with {'label': 'POSICIONAMIENTO EN MAPAS','menu': menuMapas, 'limit': 12, 'urlSubmenu': path('apmon_homepage_mapas') } %}                        #}
                        {% include "apmon/Home/rendermainmenu.html.twig" with {'label': 'POSICIONAMIENTO EN MAPAS','menu': menuMapas, 'limit': 12, 'urlSubmenu': path('apmon_homepage') } %}                        
                    </div>
                {% endif %}

                {# ver flota #}
                {% if menuFlota is defined %}
                    <div class="tabZona tabFlota">
{#                        {% include "Home/rendermainmenu.html.twig" with {'label': 'FLOTA y REFERENCIAS','menu': menuFlota, 'limit': 12, 'urlSubmenu': path('apmon_homepage_flotas') } %}#}
                        {% include "apmon/Home/rendermainmenu.html.twig" with {'label': 'FLOTA y REFERENCIAS','menu': menuFlota, 'limit': 12, 'urlSubmenu': path('apmon_homepage') } %}
                    </div>
                {% endif %}

                {# ver manenimiento #}
                {% if menuMante is defined and menuMante|length > 0 %}               
                    <div class="tabZona tabMantenimiento">
{#                        {% include "Home/rendermainmenu.html.twig" with {'label': 'MANTENIMIENTO VEHICULAR','menu': menuMante, 'limit': 11, 'urlSubmenu': path('apmon_homepage_mante') } %}#}
                    </div>
                {% endif %}
                
                {# ver informe #}
                {% if menuInformes is defined %}    
                    <div class="tabZona tabInformes">
{#                        {% include "Home/rendermainmenu.html.twig" with {'label': 'INFORMES','menu': menuInformes, 'limit': 11, 'urlSubmenu': path('apmon_homepage_informes') } %}                         #}
                    </div>
                {% endif %}

                
                {# ver agro #}
                {% if menuAgro|length > 0 %}            
                    
                    <div class="tabZona tabAgro">
{#                        {% include "Home/rendermainmenu.html.twig" with {'label': 'AGRO','menu': menuAgro, 'limit': 10, 'urlSubmenu': path('apmon_homepage_agro') } %}#}
                    </div>
                {% endif %}
          
            </div>
        </div>
    </div>
{% endblock %} 
