{% extends "app/Template/list.html.twig" %}
   
{% block titulo %}Informes{% endblock %}        
{% block contentpanel %}        
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Informe</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        {% for key, item in listmenu %}
            <tr>
                <td><a href={{ item.url }}>{{ item.label|raw }}</a></td>
                <td>{{ item.title }}</td>
            </tr>
        {% endfor %}
    </tbody>
 </table>
{% endblock %}