<div class="title">{{ label }}</div>
<div class="accor-body">     
    <div>
        <ul class="accor-menu">
            {% include "apmon/Home/rendermenu.html.twig" with {'menu': menu, 'limit': limit } %} 
        </ul>
        {% if menu|length > limit %}
            <div class="accor-menu-foot">
                <a href="{{ urlSubmenu }}">Hay más opciones, ver acá...</a>
            </div>
        {% endif %}  
    </div>
</div>