{% for key, item in menu %}
	{% if item.url is defined %}
		{% if limit is defined and key >= limit and limit != 0 %}
			{% else %}
				<li>
					<a href="{{ item.url|raw }}" title="{{ item.title }}">{{ item.label|raw }}</a>
				</li>
		{% endif %}
	{% else %}
		<li class="nav-parent">
			<a class="nav-link" href="#">
                {% if item.image is defined %}
				    <i class="{{ item.image }}" aria-hidden="true"></i>
                {% endif %}
				<span>{{ item.label }}</span>
			</a>
			<ul class="nav nav-children" id="mainNav">
				{% include "apmon/Home/rendermenu.html.twig" with {'menu': item.submenu } %}
			</ul>

		</li>
	{% endif %}
{% endfor %}


