                  <!-- sheepIt Form -->
                    <div class="controls">
                        <div id="sheepItForm">
                            <!-- Form template-->
                            <div id="sheepItForm_template">
                                <table class="table table-condensed">
                                    <tr>
                                        <td>
                                            <label for="actividad_producto_nombre">Producto <span id="sheepItForm_label"></span></label>
                                            <select id="actividad_producto_nombre" name="actividad[productos][#index#][nombre]">
                                                {% for producto in productos %}
                                                    <option value="{{producto.id}}">{{producto.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <label for="actividad_producto_cantidad">Cantidad</label>
                                            <input id="actividad_producto_cantidad" name="actividad[productos][#index#][cantidad]" type="text"/>
                                            <a id="sheepItForm_remove_current">
                                                <span class="btn btn-small" title="Eliminar este producto de la actividad">
                                                <img class="delete" src="{{ asset('/images/minus.png') }}" >
                                                Eliminar
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>


                            <!-- /Form template-->

                            <!-- No forms template -->
                            <div id="sheepItForm_noforms_template">Sin productos</div>
                            <!-- /No forms template-->

                            <!-- Controls -->
                            <div id="sheepItForm_controls">
                                <div id="sheepItForm_add"><a>
                                        <span class="btn" title="Agrega un nuevo producto a la actividad">
                                            <img class="delete" src="{{ asset('/images/plus.png') }}" title="Eliminar este producto de la actividad" width="16" height="16" border="0">
                                            Agregar
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <!-- /Controls -->

                        </div>
                    </div>