<div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Rubro</th>
                <th>Código</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>IVA</th>
                {% for dep in depositos %}
                    <th colspan="3">{{ dep }}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for stock in productos %}
                <tr>
                    <td> 
                        <a href="{{ path('producto_show',{'id': stock.producto.id}) }}">{{ stock.producto.nombre }}</a>
                    </td> 
                    <td>{{ stock.producto.rubro|default('') }}</td> 
                    <td>{{ stock.producto.codigo }}</td> 
                    <td>{{ stock.producto.marca  }}</td> 
                    <td>{{ stock.producto.modelo }}</td> 
                    <td>{{ stock.producto.tasaIva ? stock.producto.tasaIva ~'%' : '' }}</td> 
                    {% for dep in depositos %}
                        <td>
                            {% if stock.depositos[dep.id] is defined %}
                                {{ stock.depositos[dep.id].cantidad }} 
                            {% endif %}
                        </td>
                        <td align='right'>
                            {% if stock.depositos[dep.id] is defined %}
                                $ {{ stock.depositos[dep.id].precio|number_format(2) }}
                            {% endif %}
                        </td>
                        <td align='right'>
                            {% if stock.depositos[dep.id] is defined and stock.producto.tasaIva is not null %}
                                $ {{ (stock.depositos[dep.id].precio * (1 +  stock.producto.tasaIva/100))|number_format(2) }} c/iva
                            {% endif %}
                        </td>
                    {% endfor %}
                        <td>
                            <a class="btn btn-default" href="{{ path('producto_edit', {'id': stock.producto.id} ) }}"><i class="fa fa-edit"></i></a>
                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
