{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ producto.organizacion }}{% endblock %}

{% block subtitulo %}Edición de Producto{% endblock %}

{% block formulario %}
    <form class="form-horizontal" method="POST" >
        {{ form_errors(form) }}
        <div class="row-fluid">
            <div class="span6">
                <legend>Datos del Producto</legend>
                {{ form_widget(form.nombre) }}
                {{ form_widget(form.codigo) }}
                {{ form_widget(form.codigoBarra) }}
                {{ form_widget(form.marca) }}
                {{ form_widget(form.modelo) }}
                {{ form_widget(form.rubro) }}
                {{ form_widget(form.tasaIva) }}
                {{ form_rest(form) }}
            </div>
            <div class="span6">
                <b>Observaciones:</b>
                <ul>
                    <li><b>Código.</b> Hace referencia al código que tenga el producto en el proveedor del mismo. Debe ser algo que lo indentifique.</li>
                    <li><b>Nombre.</b> Debe ser lo mas completo posible y que permita identificar al mismo en forma simple y clara</li>
                    <li><b>Código Barra.</b> Complete con el código completo en caso de que el producto lo posea.</li>
                    <li><b>Marca.</b> Identificar el producto por marca es bastante simple. Complete la marca del repuesto en caso de tenerlo</li>
                </ul>
            </div>
        </div>
        {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Cambiar' } %}
    </form>
{% endblock %}
