{% extends "app/Template/list.html.twig" %}
{% form_theme formStock 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Productos{% endblock %}        
{% block contentpanel %}  
    <div id="tablaProductos">
        {% include "mante/Producto/content_list.html.twig" with {'productos': productos } %}
    </div>
    {% include "mante/Producto/popup_producto.html.twig" %} 
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            //PRODUCTO
            $('#btnModalProducto').click(function () {
                $('#productonew_nombre').val('');
                $('#productonew_marca').val('');
                $('#productonew_modelo').val('');
                $('#productonew_codigo').val('');
                $('#productonew_codigobarra').val('');
                $('#productonew_precio').val('');
                $('#productonew_tasaIva').val('');
            });
            $("#stock_producto").select2({
                ajax: {
                    url: "{{ path('producto_get') }}",
                    data: function (params) {
                        var query = {
                            idOrg: "{{ organizacion.id }}",
                            search: params.term,
                            type: 'public'
                        };
                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    dataType: 'json'
                },
                language: {
                    noResults: function () {
                        return '<a href="#modalProducto" data-toggle="modal" >Agregar producto</a>'
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
        });
        $('#btnStockAdd').click(function () {
            var req = $.ajax({
                type: 'POST',
                url: "{{ path('stock_addstock') }}",
                data: {
                    'id': "{{ organizacion.id }}",
                    'destino': "1",
                    'formStock': $("#formStock").serialize(), //form de productos
                },
                dataType: "json",
                //async: true,
                beforeSend: function () {
                },
            });
            req.done(function (respuesta) {
                $("#tablaProductos").text("");
                $("#tablaProductos").html(respuesta.html);
                $('#modalStock').modal('toggle');   //cierro el form
            });
        });

        function stockDel(idStock, nombre, deposito) {
            var r = confirm('Esta seguro de eliminar el stock de  "' + nombre + '" del depósito ' + deposito);
            if (r == true) {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('stock_delstock') }}",
                    data: {
                        'idStock': idStock,
                        'destino': "1",
                        'id': "{{ organizacion.id }}",
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaProductos").text("");
                    $("#tablaProductos").html(respuesta.html);
                });
            }
        }
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $("#stock_ult_compra").datepicker({dateFormat: 'dd/mm/yy'});

        });

    </script>
{% endblock  %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" />
    <style type="text/css">
        .ui-timepicker-div
        .ui-widget-header { margin-bottom: 8px; }
        .ui-timepicker-div dl { text-align: left; }
        .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
        .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
        .ui-timepicker-div td { font-size: 12px; }
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

        .ui-timepicker-rtl{ direction: rtl; }
        .ui-timepicker-rtl dl { text-align: right; }
        .ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
    </style>
{% endblock %}