<!-- Modal -->
<div class="modal fade" id="modalPrecio" role="dialog" aria-labelledby="modalPrecioLabel" data-modal-index="-100">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Precio</h4>
            </div>
            <div class="modal-body">
                <p>Cambie el precio del producto seleccionado.</p>
                <div id="modal-body-producto">
                    <form id="formPrecio" class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="control-group "><label class="control-label" for="precio_producto">Nuevo Precio</label>
                                    <div class="controls">
                                        <input class="form-control" id="precio" name="precio" type="number" precicion="0.01">
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCambiarPrecio" type="button" class="btn btn-primary" >Cambiar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>     
<script>
    $('#precio').on('keydown', function(e) {
    var allowedKeys = [8,46,188, 190,45,35,49,96,97,98,99,100,101,102,103,104,105]; // Códigos de tecla para 'borra,'suprimir' ',' y '.'
    if (allowedKeys.indexOf(e.which) === -1 && (e.which < 48 || e.which > 57)) {
        e.preventDefault();
    }
    });
</script>