<!-- Modal -->
<div class="modal fade" id="modalStock" role="dialog" aria-labelledby="modalStockLabel" data-modal-index="-100">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Producto</h4>
            </div>
            <div class="modal-body">
                <p>Seleccione el producto que desea ingresar al stock.</p>
                <div id="modal-body-producto">
                    <form id="formStock" class="form-horizontal">
                        <div class="row-fluid">
                            <div class="col-md-6">
                                <div class="control-group ">
                                    <label class="control-label required" for="stock_producto">Producto</label>
                                    <div class="controls">
                                        {{ form_widget(formStock.producto) }}
                                    </div>    

                                </div>
                                <div class="control-group ">
                                    <label class="control-label required" for="stock_deposito">Deposito</label>
                                    <div class="controls">
                                        {{ form_widget(formStock.deposito) }}
                                    </div>    

                                </div>
                                <div class="control-group ">
                                    <label class="control-label required" for="stock_stock">Stock</label>
                                    <div class="controls">
                                        {{ form_widget(formStock.stock) }}
                                    </div>    

                                </div>
                                <div class="control-group ">
                                    <label class="control-label required" for="stock_costo">Costo</label>
                                    <div class="controls">
                                        {{ form_widget(formStock.costo) }}
                                    </div>    

                                </div>
                                <div class="control-group ">
                                    <label class="control-label required" for="stock_tasaIva">Iva</label>
                                    <div class="controls">
                                        {{ form_widget(formStock.tasaIva) }}
                                    </div>    

                                </div>
                                <div class="control-group ">
                                    <label class="control-label required" for="stock_ult_compra">Ult. Compra</label>
                                    <div class="controls required">
                                        {{ form_widget(formStock.ult_compra) }}

                                    </div>    

                                </div>
                                <div class="control-group ">
                                    <label class="control-label required" for="stock_ult_proveedor">Ult. Proveedor</label>
                                    <div class="controls">
                                        {{ form_widget(formStock.ult_proveedor) }}

                                    </div>    

                                </div>


                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <a  data-toggle="modal" href="#modalProducto" class="btn btn-success pull-left" title="Agrega un producto al deposito">Nuevo producto</a>
                <button id="btnStockAdd" type="button" class="btn btn-primary" >Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>     

<div class="modal fade" id="modalProducto" role="dialog" aria-labelledby="modalProductoLabel" data-modal-index="2000" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Alta de Producto</h4>
            </div>            
            <div class="modal-body">
                <form id="formProductoNew" class="form-horizontal" method="POST">
                    <div class="control-group ">
                        <label class="control-label required" for="productonew_nombre">Nombre</label>
                        <div class="controls">
                            <input class="form-control" id="productonew_nombre" name="productonew[nombre]" required="required" type="text">
                            <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>
                        </div>    

                    </div>
                    <div class="control-group "><label class="control-label" for="productonew_marca">Marca</label>
                        <div class="controls">
                            <input class="form-control" id="productonew_marca" name="productonew[marca]" type="text">
                        </div>    
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="productonew_modelo">Modelo</label>
                        <div class="controls">
                            <input class="form-control" id="productonew_modelo" name="productonew[modelo]" type="text">
                        </div>    
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="productonew_codigo">Codigo</label>
                        <div class="controls">
                            <input class="form-control" id="productonew_codigo" name="productonew[codigo]" type="text">
                        </div>    
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="productonew_codigoBarra">Código Barra</label>
                        <div class="controls">
                            <input class="form-control" id="productonew_codigoBarra" name="productonew[codigoBarra]" type="text">
                        </div>    
                    </div>                            
                    <div class="control-group ">
                        <label class="control-label" for="productonew_deposito">Depósito</label>
                        <div class="controls">
                            <select class="" id="productonew_deposito" name="productonew[deposito]">
                                {% for dep in depositos %}
                                    <option value="{{ dep.id }}">{{ dep.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>    
                    </div>                            
                    <div class="control-group ">
                        <label class="control-label" for="productonew_rubro">Rubro</label>
                        <div class="controls">
                            <select class="" id="productonew_rubro" name="productonew[rubro]">
                                {% for rub in rubros %}
                                    <option value="{{ rub.id }}">{{ rub.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>    
                    </div>                            
                    <div class="control-group ">
                        <label class="control-label" for="productonew_tasaIva">IVA</label>
                        <div class="controls">
                            <input class="form-control" id="productonew_tasaIva" name="productonew[tasaIva]" type="number">
                        </div>    
                    </div>                            
                    <div class="control-group ">
                        <label class="control-label" for="productonew_precio">Precio</label>
                        <div class="controls">
                            <input class="form-control" id="productonew_precio" name="productonew[precio]" type="number" step="0.01">
                        </div>    
                    </div>                            
                </form>                        
            </div>
            <div class="modal-footer">
                <button id="btnProductoNew" type="button" class="btn btn-primary" >Agregar</button>
                <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            </div>
        </div>
    </div>
</div>                            

<script>
    $('#stock_costo').on('keydown', function(e) {
        var allowedKeys = [8,46,188, 190,45,35,49,96,97,98,99,100,101,102,103,104,105]; // Códigos de tecla para 'borra,'suprimir' ',' y '.'
        if (allowedKeys.indexOf(e.which) === -1 && (e.which < 48 || e.which > 57)) {
            e.preventDefault();
        }
    });
    $('#btnProductoNew').click(function () {
        //alert('aca');        
        var request = $.ajax({
            type: 'POST',
            url: "{{ path('producto_add') }}",
            data: {
                'idOrg':'{{ organizacion.id }}',
                'idDep': 0,
                'form': $("#formProductoNew").serialize(), //formulario con los datos
            },
            dataType: "json",
            //async: true,
            beforeSend: function () {
            },
        });
        request.done(function (respuesta) {
            //$("#producto_producto").select2();    //actualizo el combo con los datos nuevos.
            //var $option = $('<option>test</option>').val(10);
            //$("#producto_producto").append($option).trigger('change');

            $("#tablaProductos").text("");
            $("#tablaProductos").html(respuesta.html);
            $('#modalProducto').modal('toggle');
        });
    });


</script>