<table class="table table-responsive table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>#Int</th>
            <th>#Ext</th>
            <th>Servicio</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Costo Unit.</th>
            <th>Costo Total</th>
            <th>Depósito</th>
        </tr>
    </thead>
    <tbody>
        {% for mov in movimientos %}
            <tr>   
                <td>{{ mov.ordenestrabajo.id }}</td>
                <td>{{ mov.ordenestrabajo.numeroInterno|default('---') }}</td>
                <td>{{ mov.ordenestrabajo.numeroExterno|default('---') }}</td>
                <td><a href="{{ path('ordentrabajo_step2', {'id': mov.ordenestrabajo.id}) }}">{{ mov.ordenestrabajo.servicio.nombre }}</a></td>
                <td>{{ mov.ordenestrabajo.fecha|date('d/m/Y') }}</td>
                <td>{{ mov.ordenestrabajo.tipo == 0 ? 'C' : 'P' }}</td>
                <td>{{ mov.ordenestrabajo.descripcion }}</td>
                <td>{{ mov.cantidad|default(2) }}</td>
                <td align="left">$ {{ mov.costoUnitario|number_format(2) }}</td>
                <td align="left">$ {{ mov.costoTotal|number_format(2) }}</td>
                <td>{{ mov.deposito.nombre }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>