<table class="table table-responsive table-condensed">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Compra</th>
            <th>Proveedor</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
            <tr>   
                <td>{{ stock.deposito.nombre }}</td>
                <td>{{ stock.stock }}</td>
                <td>{{ stock.ultCompra|date('d/m/Y H:i:s') }}</td>
                <td>{{ stock.ultProveedor }}</td>
                <td align="right">$ {{ stock.costo|number_format(2) }}</td>
                <td>
                    <button class="btn btn-small" type="button" id="cambiarPrecio" onClick="cambiarPrecio({{ stock.id }})">
                       Cambiar Precio
                    </button>                    
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>