{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "mante/Producto/delete_form.html.twig" %}
{% endblock %} 

{% block titulo %}{{ producto.nombre }}{% endblock %}

{% block informacion %}
{% endblock %}     

{% block contentpanel %}
    {% include "mante/Producto/popup_producto.html.twig" %} 
    <div class="row-fluid row-show">
        <div class="span12">            
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': producto.nombre } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Marca', 'data': producto.marca } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Modelo', 'data': producto.modelo } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Código', 'data': producto.codigo } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Rubro', 'data': producto.rubro is null ? '---' : producto.rubro} %} 
        </div>
    </div>
    <div class="row-fluid row-show">
        <div class="span12">  
            <legend>Depositos</legend>
            <div id="tablaDepositos">
                {% include "mante/Producto/show_depositos.html.twig" with {'stocks': stocks} %}
            </div>
            {% include "mante/Producto/popup_cambiarprecio.html.twig" %} 
        </div>
    </div>
    <div class="row-fluid row-show">
        <div class="span12">  
            <legend>Movimientos</legend>
            {% include "mante/Producto/show_movimientos.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        {% include "mante/Producto/cambiar_precio.html.js" %}
            $(document).ready(function () {
                $("#stock_producto").select2();
            });
            $('#btnStockAdd').click(function () {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('stock_addstock') }}",
                    data: {
                        'id': "{{ organizacion.id }}",
                        'destino': '2',
                        'formStock': $("#formStock").serialize(), //form de productos
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    
                    $("#tablaDepositos").text("");
                    $("#tablaDepositos").html(respuesta.html);
                    $('#modalStock').modal('toggle');   //cierro el form
                });
            });
            
            $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $.timepicker.setDefaults($.timepicker.regional["es"]);
            $("#stock_ult_compra").datetimepicker({
                dateFormat: 'dd/mm/yy',
            });
        });

    </script>
{% endblock %}