{% extends "app/Template_aker/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Despacho en puntos de carga
{% endblock %}

{% block cs %}
   <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet"type="text/css" media="all" />  
    <link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}
{% block js %}
	{{ parent() }}
        <script>
            {% include "apmon/Mapa/auxiliares.script.js" %}
            {% include "apmon/Mapa/gmaps-lib.script.js" %}    
        </script>
    {# <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script> #}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

	<script type="text/javascript">
             function datatable() {
                var tabla = $('#tablaCargas').dataTable({
                        order: [[ 4, "asc" ]], //ordeno por fecha
                        paging: false,
                        footer: true,
                        header:true,
                        language: {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                        },
                });
             }
     
          
        </script>

        <script  type="text/javascript">
		$(function () {
                $("#informedespacho_estacion").select2();
                $("#informedespacho_desde").datetimepicker({
                    format: 'DD/MM/YYYY HH:mm',
                    locale: 'es',
                    widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                    }
                });
                $("#informedespacho_hasta").datetimepicker({
                    format: 'DD/MM/YYYY HH:mm',
                    locale: 'es',
                    widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                    }
                });

            $("#consultar").on('click',function(){
                    var request = $.ajax({
                    type: 'POST',
                    url: "{{ path('fuel_info_despacho_generar',{id: organizacion.id}) }}",
                    data: {
                        'formDespacho': $("#formDespacho").serialize(), // formulario con los datos
                
                    },
                    dataType: "json",
                    // async: true,
                    beforeSend: function () {
                        $("#modalLoad").modal({ backdrop: 'static', keyboard: false });
                    }
                });
                request.done(function (respuesta) {
                    if (respuesta.status == 'ok') {
                        $('#modalLoad').modal('hide');
                        $("#content").html("");
                        $("#content").append(respuesta.html);

                        

                    }

                });
            });
        });
	</script>
{% endblock %}

{% block informacion %}
	{% include "app/Template_aker/popup_load.html.twig" %}
    {% include "fuel/InformeDespacho/popup_mapa.html.twig" %} 
	<div class="alert alert-info" role="alert">
		<div class="row">
			<form class="form-horizontal" id="formDespacho" method="POST">
				{{ form_errors(form) }}
				<div class="col-md-2">{{ form_widget(form.desde) }}</div>
				<div class="col-md-2">{{ form_widget(form.hasta) }}</div>
				<div class="col-md-5">{{ form_widget(form.estacion) }}</div>
				<div class="col-md-3">{{ form_widget(form.tipoCombustible) }}</div>
				<div class="col-md-1">{{ form_widget(form._token) }}</div>

			</form>
			<div class="col-md-12">
				<div class="control-group ">
					<label class="control-label"></label>
					<div class="controls ">
						<button type="button" class="btn btn-default" id="consultar">Consultar</button>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="content"></div>
	</div>
{% endblock %}
