<div class="alert alert-xs alert-warning">
        Para <b>{{ consulta.estacionstr }}</b>, desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>.<b>{{ consulta.tipoCombustiblestr }}</b>
        <a class="btn btn-default btn-xs"  href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> 
    <form name="formexport" action="{{ path('fuel_informe_despacho_exportar', {'id': organizacion.id}) }}" method="POST" >
        <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
        <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
    </form>
</div>  


    {% if informe is not null %}
        {% if informe|length > 0 %}
            <table id="tablaCargas" class="table table-condensed table-striped table-bordered">
                {% for id, arr in informe %}
                    {% for nombre, subarr in arr %}
                        {% if nombre != 'monto' and nombre != 'litros' and nombre != 'concordancia' %}
                            <thead>            
                                <tr>
                                    <th colspan="11" style="text-align: center;">{{ nombre }}</th>
                                </tr>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Servicio</th>
                                    <th>Odómetro</th>
                                    <th>Chofer</th>
                                    <th>Fecha</th>
                                    <th>Combustible</th>
                                    <th>Monto</th>
                                    <th>Litros</th>
                                    <th>Centro de Costo</th>
                                    <th>Concordancia tanque/punto GPS</th>                                    
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key,data in subarr %}
                                    {% if key != 'total' %}
                                        <tr>
                                            <td>
                                                {% if data.modoingreso == 0 %}
                                                    <span class="badge bg-info-light" title="Manual">Man</span>
                                                {% elseif data.modoingreso == 1 %}
                                                    <span class="badge bg-info-light" title="WebService">Ws</span>
                                                {% elseif data.modoingreso == 2 %}
                                                    <span class="badge bg-info-light" title="Aplicación">App</span>
                                                {% elseif data.modoingreso == 3 %}
                                                    <span class="badge bg-info-light" title="Importación Excel">Excel</span>
                                                {% else %}
                                                    <span class="badge bg-info-light" title="N/D">---</span>
                                                {% endif %}

                                            </td>
                                            <td>
                                                {{ data.servicio }}
                                            </td>
                                             <td>
                                                {{ data.odometro }}
                                            </td> <td>
                                                {{ data.chofer }}
                                            </td>
                                            <td>{{ data.fecha}}</td>
                                            <td>{{ data.tipoCombustible }}</td>
                                            <td>{{ data.monto|number_format(2) }}</td>
                                            <td>{{ data.litros|number_format(2) }}</td>
                                            <td>{{ data.centroCosto|default('') }}</td>
                                            <td>{{ data.concordanciaicon|raw }}</td>
                                            <td>
                                            {% if data.latitud is defined %}
                                                <button type="button"  class="btn btn-default" data-toggle="modal" data-target="#modalMapa"
                                                        onclick="getPosicion({{data.latitud}},{{data.longitud}} , {{data.idServicio}}, '{{data.servicio}}')">
                                                    <i class="fa fa-map-marker"></i>
                                                </button>
                                            {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><b>Total</b></td>
                                            <td></td>
                                            <td><b>{{ subarr['total']['monto']|number_format(2) }}</b></td>
                                            <td><b>{{ subarr['total']['litros']|number_format(2)}}</b></td>
                                            <td></td>
                                            <td><b>{{ subarr['total']['concordancia']|number_format(2)}}%</b></td>
                                            <td></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                </tbody>  
                <tfoot>  
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Total Final</b></td>
                        <td></td>
                        <td><b>{{ informe['final']['monto']|number_format(2) }}</b></td>
                        <td><b>{{ informe['final']['litros']|number_format(2)}}</b></td>
                        <td></td>
                        <td><b>{{ informe['final']['concordancia']|number_format(2)}}%</b></td>
                        <td></td>
                    </tr>
                </tfoot>  

            </table>
        {% else %}
            <em>No se registran despachos de combustible.</em>
        {% endif %}
    {% endif %}


    <script type="text/javascript">
   
        function getPosicion(lat, long, id, nombre){
            var data = {id_sc:id,
                latitud:lat,
                longitud:long,
                visible:true,
                label_texto: nombre
            }

            {{ mapa.fcStopDraw() }}();
            var marcadores = this.map_canvas_1_markers.values();
            for (i = 0; i < marcadores.length; i++){ //borramos los marcadores anteriores asi no salen en el mapa
                  marcadores[i].setMap(null);
            }

            {{ mapa.fcAddAllMarkers() }}(data);
            gotoCenter(lat, long, false);
            {{ mapa.fcIniDraw() }}();
        }
    </script>

