<!-- Modal -->
<div class="modal fade" id="modalMapa" role="dialog" aria-labelledby="modalMapaLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Mapa</h4>
            </div>
            <div class="modal-body">
                <p>Ubicación del servicio al momento de la carga</p>
                <div id="modal-body-mapa" style="height:350px;">
                    {{ mapa.renderJs()|raw }}  
                    {{ mapa.renderHtml()|raw }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>     


