{% import "app/Macros/peticion.html.twig" as macrosPet %}
{% extends "app/Template_aker/popup.html.twig" %}

{% block modalId %}modalCerrar{% endblock %}

{% block modalTitulo %}Cerrar Pedido de Reparación{% endblock %}

{% block modalUrl %}{{ path('crm_peticion_cerrar', { 'id': peticion.id }) }}{% endblock %}

{% block modalBody %}
    <p>Se cerrará el pedido de reparación: <strong> {{ macrosPet.asunto(peticion) }}</strong> ?</p>
    <div class="col-md-12"  style="margin-top: 20px;">
        <div class="control-group "><label class="control-label" for="form_peticion_fecha_fin">
                Fecha de Cierre 
            </label><div class="controls">
                <input class="form-control" id="form_peticion_fecha_fin" name="form_peticion[fecha_fin]" value="" style="" type="text">

            </div>    

        </div>      
    </div>
    <div class="col-md-12" style="margin-bottom: 20px;">
        <div class="control-group "><label class="control-label" for="form_peticion_motivo">
                Motivo
            </label><div class="controls">
                <input class="form-control" id="form_peticion_motivo" name="form_peticion[motivo]" value="" style="" type="text">
            </div>    

        </div>      
    </div>
   
{% endblock %}

{% block modalOk %}
    <button class="btn btn-danger" type="submit">Cerrar</button>
{% endblock %}
