<ul class="nav nav-tabs" id="myTabs" role="tablist" style='background: none;'> 
    <li role="nuevas">
        <a href="#nuevas" id="nuevas-tab" role="tab" data-toggle="tab" aria-controls="nuevas" aria-expanded="true">Nuevas</a>
    </li> 
    <li role="encurso" class="">
        <a href="#encurso" role="tab" id="encurso-tab" data-toggle="tab" aria-controls="encurso" aria-expanded="false">En Curso/Pausa</a>
    </li>    
    <li role="cerradas" class="">
        <a href="#cerradas" role="tab" id="cerradas-tab" data-toggle="tab" aria-controls="cerradas" aria-expanded="false">Cerradas</a>
    </li> 
</ul>