{% import "app/Macros/peticion.html.twig" as macrosPet %}
{% extends "app/Template_aker/popup.html.twig" %}

{% block modalId %}modalDelete{% endblock %}

{% block modalTitulo %}Eliminar Pedido de Reparación{% endblock %}

{% block modalUrl %}{{ path('crm_peticion_delete', { 'id': peticion.id }) }}{% endblock %}

{% block modalBody %}
    <p>Esta seguro de eliminar este pedido de reparación: <strong>{{ macrosPet.asunto(peticion) }}</strong> ?</p>
    {{ form_widget(delete_form) }}
{% endblock %}

{% block modalOk %}
    <button class="btn btn-danger" type="submit">Eliminar</button>
{% endblock %}
