{% extends "app/Template_aker/show.html.twig" %}
{% import "app/Macros/servicio.html.twig" as macros %}
{% import "app/Macros/peticion.html.twig" as macrosPet %}
{% form_theme formpeticion with ['app/Form/calypso_fields.html.twig', 'app/Form/informes.html.twig'] %}

{% block formdelete %}
    {% include "crm/Peticion/delete_form.html.twig" %} 
    {% include "crm/Peticion/cerrar_form.html.twig" %} 
{% endblock %}
{#
{% block formcerrar %}
{% endblock %}#}

{% block titulo %}{{ peticion.servicio.organizacion.nombre }}{% endblock %}
{% block subtitulo %}{{ macros.servicioNombre(peticion.servicio) }}{% endblock %}

{% block contentpanel %}
    <div class="panel">
        <div class="panel-heading bg-theme-light">
            <div class="panel-action pull-right">
                {% include "app/Template_aker/button.html.twig" with {
                'url': path('crm_peticion_export', {'id': peticion.id}), 
                'title': 'Exportar Pedido Reparación', 
                'icono': 'fa fa-print',
                'class': 'btn-bordered btn-default', 
            
                 }  %}
                {% include "app/Template_aker/button.html.twig" with {
                'url': '#', 
                'title': 'Descartar Pedido de Reparación', 
                'datatoggle':"modal",
                'datatarget':"#modalDelete",
                'icono': 'fa fa-trash',
                'class': 'btn-bordered btn-default', 
            
                 }  %}
                {% if peticion.estado.isCerrado == false %}
                    {% include "app/Template_aker/button.html.twig" with {
                'url': path('crm_peticion_newsub', {'id': peticion.id}), 
                'title': 'Cierra el pedido y crear uno nuevo', 
                'icono': 'fa fa-clipboard',
                'class': 'btn-bordered btn-default', 
            
                 }  %}
              
                    {% include "app/Template_aker/button.html.twig" with {
                'url': path('crm_peticion_head_edit', {'id': peticion.id}), 
                'title': 'Modificar Pedido de reparación', 
                'icono': 'fa fa-pencil-square-o',
                'class': 'btn-bordered btn-default', 
            
                 }  %}
                    {% include "app/Template_aker/button.html.twig" with {
                'url': '#', 
                'title': 'Cerrar Pedido de Reparación', 
                'datatoggle':"modal",
                'datatarget':"#modalCerrar",
                'icono': 'fa fa-check',
                'class': 'btn-bordered btn-default', 
            
                 }  %}
                {% endif %}
            </div>
            <div class="panel-title">
                <h3>{{ macrosPet.asunto(peticion) }}
                    <span class="badge bg-info-light">
                        {% if peticion.estado %}
                            {{ macrosPet.estado(peticion) }}</span></h3>
                        {% endif  %}
            </div>

        </div>
        <div class="panel-body pad-h-20">
            <p>
                {{ macrosPet.descripcion(peticion) }}
            </p>
            <div class="row-fluid">
                <div class="col-sm-12">
                    {% include "crm/Servicio/show_panel.html.twig" with {'servicio': peticion.servicio,'peticion':peticion } %}                                         
                </div>
            </div>
            <hr class="dotted">
            <div class="row-fluid">
                <h3>Descripción</h3>
                {{ macrosPet.nota(peticion) }}
            </div>
            <hr class="dotted">

            {% if peticion.padre != null or peticion.peticiones|length > 0 %}
                <div class="row-fluid">
                    {% if peticion.padre %}
                        <h3>Pedido de Reparación padre</h3>
                        {% include "crm/Peticion/show_peticion_padre.html.twig" with {'peticion': peticion.padre } %}                                                 
                    {% endif %}
                    {% if  peticion.peticiones|length > 0 %}
                        <h3>Pedidos de Reparación hijos</h3>
                        {% include "crm/Peticion/show_peticiones_hijas.html.twig" with {'peticiones': peticion.peticiones } %}                                                 
                    {% endif %}
                </div>            
                <hr class="dotted">
            {% endif %}

            {# INICIO DE LOS COMENTARIOS Y MODIFICACIONES #}                
            {% if peticion.comentarios|length > 0 %}
                <div class="row-fluid">
                    <h3>Historial</h3>
                    {% include "crm/Peticion/show_peticion_historial.html.twig" %}
                </div>
                <hr class="dotted">
            {% endif %}
            {# FORMULARIO PARA LOS CAMBIOS EN EL MOMENTO #}
            {% if peticion.estado.posicion < 10 %}
            <div class="row-fluid">
                {% include "crm/Peticion/show_peticion_editar.html.twig" %}
            </div>
            {% endif %}
        </div>
    </div>    
{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}

{%  block js  %}
    {{ parent() }}    
    <script>

        $(function () {
            $('#form_peticion_fecha_inicio').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY',
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });
            $('#form_peticion_fecha_fin').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY',
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });
            $('#form_peticion_nota').summernote({
                height: 200
            });
        });

    </script>
{%  endblock  %}