{% import "app/Macros/servicio.html.twig" as macros %}
{% import "app/Macros/peticion.html.twig" as macrosPet %}
<head>
    {% block stylesheets %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" media="all" type="text/css" href="{{ app.request.getSchemeAndHttpHost() ~ asset('plugins/bootstrap/css/bootstrap.css') }}">
        <style type="text/css">
            body {
                font-size: 100%;
            }
            td{ padding-left: 5px;}
            table, tr, td, th, tbody, thead, tfoot {
                //page-break-inside: avoid !important;
                page-break-after: auto !important;
                page-break-before: auto !important;
                font-size: 100%;
                padding: 2px;
            }           
            h1 {font-size: 200%;}
            h2 {font-size: 180%;}
            h3 {
                font-size: 150%;
                margin-top: 0px;
            }
            h4 {font-size: 130%;}
            h5 {font-size: 110%;}
            legend { font-size: 150%; padding-bottom: 2px}
        </style>
        <link rel="stylesheet" media="all" type="text/css" href="{{ app.request.getSchemeAndHttpHost() ~ asset('plugins/bootstrap/css/bootstrap-theme.css.map') }}">
    {% endblock %} 
</head>
{% block contentpanel %}
    {% for organizacion, peticiones in organizaciones %}
        <h1>{{ organizacion }}</h1>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Servicio</th>
                    <th>Pedido de Reparación</th>
                    <th>Descripción</th>

                </tr>
            </thead>
            {% for pet in peticiones %}        
                <tr>
                    <td>{{ pet.peticion.id }}</td>
                    <td style="width: 200px;">
                        {% include "crm/Peticion/exportmany_servicio.html.twig" with {'servicio': pet.peticion.servicio}%}
                    </td>
                    <td>
                        <h5>{{ macrosPet.asunto(pet.peticion) }}</h5>

                    </td>
                    <td>{{ macrosPet.descripcion(pet.peticion) }}</td>

                </tr>

            {% endfor %}

        </table>
        {% for pet in peticiones %}        
            {% if pet.comentarios is not empty %}
                <legend>Histórico</legend>
                {% include "crm/Peticion/export_historial.html.twig" with {'comentarios': pet.comentarios}%}
            {% endif %}
        {% endfor %}

    {% endfor %}
{% endblock %}