{% import "app/Macros/servicio.html.twig" as macros %}
{% import "app/Macros/peticion.html.twig" as macrosPet %}
<head>
    {% block stylesheets %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" media="all" type="text/css" href="{{ app.request.getSchemeAndHttpHost() ~ asset('plugins/bootstrap/css/bootstrap.css') }}">
        <style type="text/css">
            body {
                font-size: 80%;
            }
            td{ padding-left: 5px;}
            table, tr, td, th, tbody, thead, tfoot {
                page-break-inside: avoid !important;
                font-size: 100%;
                padding: 2px;
            }           
            h1 {font-size: 200%;}
            h2 {font-size: 180%;}
            h3 {font-size: 150%;}
            h4 {font-size: 130%;}
            h5 {font-size: 110%;}
            legend { font-size: 150%; padding-bottom: 2px}
        </style>
        <link rel="stylesheet" media="all" type="text/css" href="{{ app.request.getSchemeAndHttpHost() ~ asset('plugins/bootstrap/css/bootstrap-theme.css.map') }}">
    {% endblock %} 
</head>
{% block contentpanel %}
    <h1>{{ peticion.servicio.organizacion.nombre }} - {{ macros.servicioNombre(peticion.servicio) }}</h1>
    <h2>{{ macrosPet.asunto(peticion) }}</h2>
    <table class="table">
        <tr>
            <td width="50%">
        <legend>Servicio</legend>
        <table>
            {% include "app/Template_aker/show_row_table.html.twig" with {'label': 'Nombre', 'data': peticion.servicio.nombre } %} 
            {% if peticion.servicio.tipoServicio.getWebPath() is defined %}
                {% include "app/Template_aker/show_row_table.html.twig" 
                with { 'label': 'Clase', 
                        'data':  peticion.servicio.tipoServicio, 
                        'img':  peticion.servicio.tipoServicio.getWebPath()} %}                                                 
            {% else %}
                {% include "app/Template_aker/show_row_table.html.twig" 
                with { 'label': 'Clase', 
                        'data':  peticion.servicio.tipoServicio} %}   
            {% endif %}
            {% include "app/Template_aker/show_row_table.html.twig" with {'label': 'Odómetro', 'data':  peticion.servicio.ultOdometro|default('---') } %} 
            {% include "app/Template_aker/show_row_table.html.twig" with {'label': 'Horometro', 'data':  peticion.servicio.ultHorometro|default('---')} %} 
            {% include "app/Template_aker/show_row_table.html.twig" 
            with {'label': 'Fecha Alta', 'data':  peticion.servicio.fechaAlta != null ?  peticion.servicio.fechaAlta|date('d-m-Y H:i') : 'N/A' } %} 
            {% include "app/Template_aker/show_row_table.html.twig" 
            with {'label': 'Fecha Baja', 'data':  peticion.servicio.fechaBaja != null ?  peticion.servicio.fechaBaja|date('d-m-Y H:i') : 'N/A' } %} 
            {% include "app/Template_aker/show_row_table.html.twig" 
            with {'label': 'Estado', 'data':  peticion.servicio.getStrEstado } %} 
            {% include "app/Template_aker/show_row_table.html.twig" 
            with {'label': 'Id. Fiscal', 'data':  peticion.servicio.datoFiscal|default('---') } %} 
            {% include "app/Template_aker/show_row_table.html.twig" 
            with {'label': 'Centro de Costo Actual', 'data':  peticion.servicio.centrocosto? peticion.servicio.centrocosto.nombre:'---' } %} 
        </table>

    </td>
    <td width="50%">
    <legend>Pedido de Reparación</legend>
    <table class="">
        {% include "app/Template_aker/show_row_table.html.twig" with {'label': 'Fecha', 'data':  macrosPet.fechaInicio(peticion) } %} 
        {% include "app/Template_aker/show_row_table.html.twig" with {'label': 'Estado', 'data': macrosPet.estado(peticion) } %} 
        {% include "app/Template_aker/show_row_table.html.twig" with {'label': 'Prioridad', 'data': peticion.prioridad } %} 
        {% include "app/Template_aker/show_row_table.html.twig" with {'label': 'Asignado a', 'data': macrosPet.asignado_a(peticion) } %} 
        {% include "app/Template_aker/show_row_table.html.twig" with {'label': 'Categoria', 'data': macrosPet.categoria(peticion) } %} 
        {% include "app/Template_aker/show_row_table.html.twig" with {'label': 'Autor', 'data': macrosPet.autor(peticion) } %} 
        {% include "app/Template_aker/show_row_table.html.twig" with {'label': 'Creado el', 'data': macrosPet.created_at(peticion)} %} 
        {% include "app/Template_aker/show_row_table.html.twig" with {'label': 'Descripción', 'data': macrosPet.nota(peticion) } %} 
    </table>
</td>
</tr>        
</table>
{# INICIO DE LOS COMENTARIOS Y MODIFICACIONES #}                
{% if peticion.comentarios is not empty %}
    <legend>Histórico</legend>
    {% include "crm/Peticion/export_historial.html.twig" %}
{% endif %}

{% endblock %}