{% for data in comentarios %}
    <div class="pad-v-2">
        <small class="pull-right feed-element-time">{{ data.comentario.created_At|date('d-m-Y \\@ H:i', app.user.timeZone)}}</small>
        <strong>{{ data.comentario.usuario.nombre}}</strong> ha modificado la petición.<br>
    </div>
    {% if data.cambios is not empty %}
        <ul>
            {% for key, cambio in data.cambios %}
                <li>
                    <strong>{{ key }}</strong> cambiado <em>{{ cambio[0]|default('null') }}</em> por <em>{{ cambio[1]|default('null') }}</em>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if data.comentario.texto is not empty %}
        <b>Comentario:</b> {{ data.comentario.texto|raw }}
    {% endif %}
    <hr class="dotted">
{% endfor %}
