{% import "app/Macros/servicio.html.twig" as macros %}
<p>
    Odómetro: {{servicio.ultOdometro|default('---') }}
</p>
<p>
    Horometro: {{ servicio.ultHorometro|default('---') }}
</p>
{% if servicio.centrocosto %}
<p>
    Centro de Costo Actual:<b>{{ servicio.centrocosto.nombre}}</b>
</p>
{% endif %}
