<div>{{ form_errors(form) }}</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        {{ form_widget(form.asunto) }}
        {{ form_widget(form.descripcion) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12">
        {{ form_widget(form.fecha_inicio) }}
        {{ form_widget(form.fecha_fin) }}
        {{ form_widget(form.categoria) }}
        {{ form_widget(form.estado) }}
        {{ form_widget(form.prioridad) }}
        {{ form_widget(form.terminado) }}
    </div>
    <div class="col-lg-6 col-md-12">
        {{ form_widget(form.asignado_a) }}
        {#{{ form_widget(form.seguidores) }} #}       
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12">
    </div>
</div>
