{% extends "app/Template_aker/layout_mail_soporte.html.twig" %}
{% import "app/Macros/servicio.html.twig" as macros %}
{% import "app/Macros/peticion.html.twig" as macrosPet %}

{% block titulo %}{{ macrosPet.asunto(peticion) }}{% endblock %}
{% block subtitulo %}{% endblock %}
{% block content %}
    <table class="border spacer" width="100%">
        <tr style="text-align: left">
            <th>Autor</th>
            <td>{{ macrosPet.autor(peticion) }}</td>
        </tr>
        <tr style="text-align: left">
            <th>Estado</th>
            <td>{{ peticion.estado}}</td>
        </tr>
        <tr style="text-align: left">
            <th>Prioridad</th>
            <td>{{ peticion.strPrioridad}}</td>
        </tr>
        <tr style="text-align: left">
            <th>Asignado a</th>
            <td>{{ macrosPet.asignado_a(peticion) }}</td>
        </tr>
        <tr style="text-align: left">
            <th>Servicios</th> 
            <td>
                {% for servicio in servicios %}
                    {{ macros.servicioNombre(servicio) }}</br>
                {% endfor %}
            </td> 
        </tr> 
        <tr style="text-align: left">
            <th>Descripción</th>
            <td>{{ peticion.descripcion|raw }}</td>
        </tr>
        <tr style="text-align: left; vertical-align: top">
            <th>Historial</th>
            <td>
                {% for data in comentarios %}
                    <p>
                        <b>{{ data.comentario.usuario.nombre }}</b>, el {{ data.comentario.created_at|date('d-m-Y h:i:s', app.user.timeZone)}}
                        {% if data.cambios is not empty %}
                            <ul>
                                {% for key, cambio in data.cambios %}
                                    <li>
                                        <strong>{{ key }}</strong> cambiado 
                                        <em>{{ cambio[0]|default('null') }}</em> por 
                                        <em>{{ cambio[1]|default('null') }}</em>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if data.comentario.texto is not empty %}
                            comento:
                            <br>
                            {{ data.comentario.texto|raw }}
                        {% endif %}
                    </p>
                {% endfor %}
            </td>
        </tr>
        {# <dl>
             <dt>Comentarios: </dt>
         </dl>#}
    </table>
{% endblock %}
