{% import "app/Macros/servicio.html.twig" as macros %}
{% import "app/Macros/peticion.html.twig" as macrosPet %}
<div class="panel">
    <div class="panel-heading">
        <div class="panel-control">
            <span class="badge badge-info">{{ peticiones|length }}</span>            
        </div>
        <div class="panel-title">
{#            Peticiones {{ estado.estado.nombre }}#}
        </div>
    </div>
    <div class="panel-body panel-full">
        <div class="table-responsive">
            <table id="tablePeticiones" class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th title="Fecha">Fecha</th>
                        <th title="Servicio">Servicio</th>
                        <th title="Centro Costo Actual">C.C. Actual</th>
                        <th title="Categoría/Estado">Categoría</th>
                        <th title="tipo">Tipo</th>
                        <th title="Asunto">Asunto</th>
                        <th></th>
                    
                       
                    </tr>
                </thead>
                <tbody>    
                    {% for peticion in peticiones %}
                        {% include "crm/Peticion/main_peticion.html.twig" with {'peticion': peticion} %}                        
                    {% endfor %}
                </tbody>    
            </table>
        </div>

    </div>

</div>