{% extends "app/Template_aker/list.html.twig" %}
{% form_theme filter 'app/Form/personal_fields.html.twig' %}
{% import "app/Macros/servicio.html.twig" as macros %}
{% import "app/Macros/peticion.html.twig" as macrosPet %}

{% block titulo %}Mis Pedidos de Reparación{% endblock %}        
{% block subtitulo %}{% endblock %}        
{% block contentpanel %}    
    <!-- Include the Mailbox Inbox -->
    <div class="row mailbox">
        <div class="col-md-9 mb-content">
            <form name="formCheck">
                {% set hay = false %}
                {% for id, state in states %}
                    {% if peticiones[id] is defined %}
                        {% set hay = true %}
                        {% include "crm/Peticion/main_peticiones.html.twig" with {'peticiones': peticiones[id], 'estado': state} %}
                    {% endif %}
                {% endfor %}
                {% if not hay %}
                    <div class="alert alert-success">
                        <button class="close" data-dismiss="alert">×</button>
                        <strong>Genial!</strong> No posee peticiones. Perece que su trabajo está al día.
                    </div>
                {% endif %}
            </form>
        </div>
        {% include "crm/Peticion/main_panel_status.html.twig" %}
    </div>
{% endblock %}

{%  block js  %}
    {{ parent() }}    
     <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}">
    </script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}">
    </script>
    <script>
        function getValues() {
            var allvalues = '';
            for (var i = 0; i < document.formCheck.elements.length; i++) {
                if (document.formCheck.elements[i].type == "checkbox") {
                    if (document.formCheck.elements[i].checked) {
                        if (allvalues != '') {
                            allvalues = allvalues + ',' + document.formCheck.elements[i].value;
                        } else {
                            allvalues = document.formCheck.elements[i].value;
                        }
                    }
                }
            }
            return allvalues;
        }
        function checkAll() {
            $("input:checkbox").prop('checked', document.getElementById('check_all').checked);
        }

        function exportar() {
            //para impresion por lotes.
            var selec = getValues();
            if (selec != '') {
                route = Routing.generate('crm_peticion_export_many');
                window.open(route + "?checks=" + getValues(), '_self');
            } else {
                alert('Debe seleccionar alguna petición para imprimir');
            }

        }

        $(function () {
            $('#filtro_desde').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY',
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });

            $('#filtro_hasta').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY',
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });
            $('#filtro_servicio').select2();
            $('#filtro_asignado_a').select2();

        });
        $('#filtro_fechatodos').change(function () {
            if (this.checked) {
                $("#filtro_hasta").val(null);
                $("#filtro_desde").val(null);
                $("#filtro_hasta").attr("disabled", true);
                $("#filtro_desde").attr("disabled", true);
            } else {
                $("#filtro_hasta").removeAttr("disabled");
                $("#filtro_desde").removeAttr("disabled");
            }
        });
    </script>
{%  endblock  %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}