<a href="{{path('crm_peticion_new',{'idServicio': 0})}}" class="btn btn-block btn-default btn-md pt-sm pb-sm text-md">
    <i class="fa fa-clipboard"></i>
    Pedido de Reparación
</a>

<br>
<legend>Filtro</legend>

<form class="form-horizontal" action="{{ path('crm_peticion_main') }}"  method="POST">
    {#{{ form_widget(filter.fecha, {'attr': {'class': 'input-sm'} }) }}#}
    {#{{ form_widget(filter.fechaPuntual) }}#}
    <div class="control-group">
        <label class="control-label" for="filtro_fecha">Desde</label>                       
        <div class="controls">
            <input class="form-control" id="filtro_desde" name="filtro[desde]" value="{{ filter.vars.value.desde|date('d/m/Y') }}" type="text">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="filtro_fecha">Hasta</label>                       
        <div class="controls">
            <input class="form-control" id="filtro_hasta" name="filtro[hasta]" value="{{ filter.vars.value.hasta|date('d/m/Y') }}" type="text">
        </div>
    </div>
    <div class="control-group">
        <label>
            <input type="checkbox" class="checkbox-fa checkbox-fa-theme" name="filtro[fechatodos]" id="filtro_fechatodos" value="" title="No tener en cuenta las fechas" >
            <span>No utilizar fechas</span>
        </label>
    </div>
    {{ form_widget(filter.servicio, {'attr': {'class': 'form-control'} }) }}                    
    {{ form_widget(filter.asignado_a, {'attr': {'class': 'form-control'} }) }}
    {{ form_widget(filter.estado, {'attr': {'class': 'form-control'}, 'separator': '----------' }) }}
    {{ form_widget(filter.categoria, {'attr': {'class': 'form-control'} }) }}
    {{ form_widget(filter.prioridad, {'attr': {'class': 'form-control'} }) }}
    {{ form_widget(filter.tipo, {'attr': {'class': 'form-control'} }) }}
    {{ form_widget(filter.centrocosto, {'attr': {'class': 'form-control'} }) }}
    <br>
    <button class="btn btn-theme" type="submit">Aplicar</button>
</form>
