<h6 class="uppercase">Prioridad</h6>
<ul class="non-styled-list">
    {% for pri in prioridad %}
        <li>
            <span class="label label-{{ pri.color }} label-xs l-mar-20 r-mar-5">{{ pri.total }}</span>
            {{ pri.nombre|capitalize }}
        </li>
    {% endfor %}

</ul>