<h6 class="uppercase">Tipos</h6>
<ul class="mb-mailboxes non-styled-list l-mar-10">
    {% for est in tipos %}
        <li>
            {{ est.nombre }} <span class="badge badge-default badge-bordered badge-xs pull-right">{{ est.total }}</span> 
        </li>
    {% endfor %}
</ul>