<h6 class="uppercase">Servicios</h6>
<ul class="mb-mailboxes non-styled-list l-mar-10">
    {% for organizacion in organizaciones %}
        <li>
            <a href="{{ path('crm_peticion_main', {'organizacion': organizacion.id}) }}">
                {{ organizacion.nombre }} <span class="badge badge-default badge-bordered badge-xs pull-right">{{ organizacion.total }}</span> 
            </a>
        </li>
    {% endfor %}
</ul>