<div class="col-md-3 mb-menu">
    <!-- Include the Mailbox Menu -->
    <div class="panel">
        <div class="panel-body">
            {% include "crm/Peticion/main_filtro.html.twig" %}
            <hr class="dotted">
            {% include "crm/Peticion/main_estados.html.twig" %}
            {% include "crm/Peticion/main_categorias.html.twig" %}
            {% include "crm/Peticion/main_tipos.html.twig" %}
            {% include "crm/Peticion/main_prioridad.html.twig" %}
        </div>
        <div class="panel-footer">
            <div>
                <label>
                    <input type="checkbox" class="checkbox-fa checkbox-fa-theme" id="check_all" value="" onclick="checkAll()" title="Marca todos los servicios">
                    <span>Seleccionar todas las peticiones</span>
                </label>
            </div>
            <button id="exportAllSelect" class="btn btn-link" onClick="exportar()">
                <i class="fa fa-print r-mar-5"></i>
                Imprimir
            </button>
        </div>
    </div>
</div>