{% import "app/Macros/servicio.html.twig" as macros %}
{% import "app/Macros/peticion.html.twig" as macrosPet %}
<tr>
    <td class="{{ peticion.colorPrioridad }}">
    </td>
    <td>
            <input name="checks[]" onclick="clickCheck()" value="{{ peticion.id }}" type="checkbox">
        {#<label class="option"> 
            <span class="checkbox checkbox-theme checkbox-thin"></span>
        </label>#}
    </td>
    <td class="col-md-2">
        {{ peticion.strFechaInicio|raw }}        
    </td>
    <td>{{ macros.servicioNombre(peticion.servicio) }}</td>
    <td>{{ peticion.servicio.centrocosto?peticion.servicio.centrocosto.nombre:'---' }}</td>
    <td>{{ macrosPet.catEstado(peticion) }}</td>
    <td>{{ peticion.strTipo }}</td>
    {#<td>{{ peticion.estado is empty ? '---' : peticion.estado.nombre }}</td>#}
    <td class="col-md-4">
        <a href="{{ path('crm_peticion_edit', {'id': peticion.id}) }}">
            {% if peticion.estado.isDefault|default(false) %}
                <strong> {{ macrosPet.asunto(peticion) }}</strong>
            {% else %}
                 {{ macrosPet.asunto(peticion) }}
            {% endif %}
        </a>
        <br>
        para <em>{{ macros.servicioNombre(peticion.servicio) }}</em></br>
        <small>
            de  {{ macrosPet.autorAsignado(peticion) }}
        </small>
    </td>
    <td>
        {% if peticion.resultado > 0 %}
            <span class="badge badge-xs bg-success">
                <i class="fa fa-thumbs-up"></i>
            </span>
        {% elseif peticion.resultado < 0 %}
            <span class="badge badge-xs bg-danger">
                <i class="fa fa-thumbs-down"></i>
            </span>
        {% else %}
        {% endif %}
    </td>
    <td>
        <i class="fa fa-comment"></i> {{ peticion.comentarios|length }}
    </td>
    {#<td width="100px">
        <div class="progress progress-m">
            <div style="width: {{ peticion.terminado }}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{ peticion.terminado }}" role="progressbar" class="progress-bar progress-bar-success">
                <span class="sr-only"> {{ peticion.terminado }}%</span>
            </div>
        </div>   
    </td>#}
    {# <td style="background-color: white">
        {% include "app/Template_aker/button.html.twig" with {
            'url':  path('crm_peticion_edit', {'id': peticion.id}),
            'title': 'Ver la peticion',   
            'icono':'fa fa-search',    
            'class': 'btn-default btn-sm', 
            'role': 'ROLE_PETICION_EDITAR' }  %} 
    </td> #}
</tr>