<h6 class="uppercase">Categorias</h6>
<ul class="mb-mailboxes non-styled-list l-mar-10">
    {% for cat in categorias %}
        <li>
            {{ cat.nombre }} <span class="badge badge-default badge-bordered badge-xs pull-right">{{ cat.total }}</span> 
        </li>
    {% endfor %}
</ul>