{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form with ['app/Form/calypso_fields.html.twig', 'app/Form/informes.html.twig'] %}
{% import "app/Macros/servicio.html.twig" as macros %}

{% block titulo %}{{ organizacion.nombre }}{% endblock %}

{% block formulario %}
    <form action="{{ path('crm_peticion_new', { 'idServicio': idServicio}) }}" method="POST" >
        <div class="row">
            {% embed "app/Template_aker/panel_form.html.twig" %}
                {% block titulo %} Pedido de Reparación para {{ organizacion.nombre}}.{% endblock %}
                {% block cuerpo %}
                    <div>{{ form_errors(form) }}</div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_widget(form.asunto) }}                
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            {{ form_widget(form.servicio )}}      
                        </div>
                        <div>
                            {{ form_widget(form.asignado_a )}}      
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form.fecha_inicio) }}      
                        </div>
                        <div>
                            {{ form_widget(form.categoria) }}      
                        </div> 
                        <div>
                            {{ form_widget(form.prioridad) }}      
                        </div> 
                        <div>
                            {{ form_widget(form.tipo) }}      
                        </div> 

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="form-label" for="peticion_descripcion">Descripción</label>            
                            <textarea class="form-control" id="peticion_descripcion" name="peticion[descripcion]"></textarea>
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                {% endblock %}
                {% block botones %}
                    <input type="submit" class="btn btn-primary" id="crear" value="Crear" />
                    <a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
                {% endblock %}
            {% endembed %}
        </div>
    </form>
{% endblock %}

{%  block js  %}
    {{ parent() }}    
    <script>

        $(function () {
            $('#peticion_fecha_inicio').datetimepicker({
                locale: 'es',
                format: 'DD/MM/Y',
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });
            $('#peticion_descripcion').summernote({
                height: 200
            });
        });
        $(function () {
            $('#peticion_servicio').select2();
        });

    </script>
{%  endblock  %}