{% import "app/Macros/peticion.html.twig" as macrosPet %}
{% if nuevas|length > 0 %}
    <table class="table table-condensed" style="border-style: solid; border-color: #e7eaeb; border-width: 0px 1px 1px 1px">
        <thead>
            <tr>
                <th style="width: 30%;">Asunto</th>
                <th style="width: 30%;">Descripción</th>
                <th>Inicio</th>
                <th>Autor</th>
                <th>Asignado a</th>
                <th>Categoría</th>
               
            </tr>
        </thead>
        <tbody>
            {% for peticion in nuevas %}
                <tr>
                    <td>{{ macrosPet.asunto(peticion) }}</td>                
                    <td> {{ macrosPet.nota(peticion) }}</td>
                    <td> {{ macrosPet.fechaInicio(peticion) }}</td>
                    <td> {{ macrosPet.autor(peticion) }}</td>
                    <td> {{ macrosPet.asignado_a(peticion) }}</td>
                    <td> {{ macrosPet.categoria(peticion) }}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h5>No hay pedidos de reparacion nuevos. </h5>
{% endif %}