<div class="row-fluid">

    {# Inclusion de la cabecera de tab #}
    {% include "crm/Peticion/cuerpo.html.twig" %} 

    {# estos son los cuerpos de los tabs #}
    <div class="tab-content" id="myTabContent"> 
        <div class="tab-pane fade active in" role="tabpanel" id="nuevas" aria-labelledby="nuevas-tab">
            <div id="tablaEnCurso">
                {% include "crm/Peticion/nuevas.html.twig" %}                
            </div> 
        </div> 
        <div class="tab-pane fade" role="tabpanel" id="encurso" aria-labelledby="encurso-tab">
            <div id="tablaEnCurso">
                {% include "crm/Peticion/encurso.html.twig" %}                
            </div> 
        </div> 
        <div class="tab-pane fade" role="tabpanel" id="cerradas" aria-labelledby="cerradas-tab"> 
            <div id="tablaCerradas">
                {% include "crm/Peticion/cerradas.html.twig" %}                
            </div> 
        </div> 
    </div>
</div>