{% for data in comentarios %}
    <div class="feed-element">
        <div class="pull-left r-mar-10">
            {% include "crm/Peticion/show_hand.html.twig" with {'resultado': data.comentario.resultado } %}                                                 
        </div>
        <div class="feed-element-body">
            <div class="pad-v-10">
                <small class="pull-right feed-element-time">{{ data.comentario.created_At|date('d-m-Y \\@ H:i', app.user.timeZone)}}</small>
                <strong>{{ data.comentario.usuario.nombre}}</strong> ha modificado la petición.<br>
            </div>

            {% if data.cambios is not empty %}
                <ul>
                    {% for key, cambio in data.cambios %}
                        <li>
                            <strong>{{ key }}</strong> cambiado <em>{{ cambio[0]|default('null') }}</em> por <em>{{ cambio[1]|default('null') }}</em>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if data.comentario.texto is not empty %}
                <div class="well no-mb">
                    <p class="to-justify">
                        {{ data.comentario.texto|raw }}
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}