{% extends "app/Template/show.html.twig" %}
{% import "app/Macros/servicio.html.twig" as macrosServ %}
{% import "app/Macros/peticion.html.twig" as macrosPet %}
{% form_theme formpeticion 'app/Form/personal_fields.html.twig' %}

{% block titulo %}{{ peticion.servicio.organizacion.nombre }}{% endblock %}
{% block subtitulo %}{{ macrosServ.nombre(peticion.servicio) }}{% endblock %}

{% block contentpanel %}
    <div class="panel">
        <div class="panel-heading bg-theme-light">
            <div class="panel-title">
              <h3>{{ macrosPet.asunto(peticion) }} </h3>
            </div>
            <span class="badge pull-right bg-info-light">{{ macrosPet.estado(peticion) }} </span>
        </div>
        <div class="panel-body pad-h-20">
              {{ macrosPet.descripcion(peticion) }} 
            <div class="row">
                <div class="col-sm-12">
                    {% include "crm/Servicio/show_panel.html.twig" with {'servicio': peticion.servicio } %}                     
                </div>
            </div>
            <hr class="dotted">
            <div class="row">
                <h3>Descripción</h3>
              {{ macrosPet.nota(peticion) }} 
            </div>
            <hr class="dotted">

            {% if peticion.padre != null or peticion.peticiones|length > 0 %}
                <div class="row">
                    {% if peticion.padre %}
                        <h3>Pedido de reparación padre</h3>
                        {% include "crm/Peticion/show_peticion_padre.html.twig" with {'peticion': peticion.padre } %}                                                 
                    {% endif %}
                    {% if  peticion.peticiones|length > 0 %}
                        <h3>Pedidos de Reparación hijos</h3>
                        {% include "crm/Peticion/show_peticiones_hijas.html.twig" with {'peticiones': peticion.peticiones } %}                                                 
                    {% endif %}
                </div>            
                <hr class="dotted">
            {% endif %}

            {# INICIO DE LOS COMENTARIOS Y MODIFICACIONES #}                
            {% if peticion.comentarios|length > 0 %}
                <div class="row">
                    <h3>Historial</h3>
                    {% include "crm/Peticion/show_peticion_historial.html.twig" %}
                </div>
                <hr class="dotted">
            {% endif %}
            {# FORMULARIO PARA LOS CAMBIOS EN EL MOMENTO #}
            <div class="row">
                {% include "crm/Peticion/show_peticion_editar.html.twig" %}
            </div>
        </div>
    </div>    
{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}

{%  block js  %}
    {{ parent() }}    
    <script>
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $("#form_peticion_fecha_inicio").datepicker();
            $("#form_peticion_fecha_fin").datepicker();
            $('#form_peticion_nota').summernote({
                height: 200,
            });
        });
    </script>
{%  endblock  %}