{% if resultado > 0 %}
    <div class="label label-l bg-success">
        <i class="fa fa-thumbs-up"></i>
    </div>
{% elseif resultado < 0 %}
    <div class="label label-l bg-danger">
        <i class="fa fa-thumbs-down"></i>
    </div>
{% else %}
    <div class="label label-l bg-theme-light">
        <i class="fa fa-comment"></i>
    </div>
{% endif %}