{% import "app/Macros/peticion.html.twig" as macrosPet %}
<div class="table-responsive">
    <table id="tablePeticiones" class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Categoría</th>
                <th>Estado</th>
                <th>Asunto</th>
                <th>Autor</th>
                <th>Asignado a</th>
                <th>Creado</th>
                <th>Actualizado</th>
                <th>Padre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>    
            {% for peticion in peticiones %}
                <tr class="{{ peticion.colorPrioridad }}" >
                    <td>
                        {% include "crm/Peticion/show_hand.html.twig" with {'resultado': peticion.resultado } %}                     
                    </td>
                    <td>{{ macrosPet.categoria(peticion) }} </td>
                    <td>{{ macrosPet.estado(peticion) }} </td>
                    <td>
                        <a href="{{ path('crm_peticion_edit', {'id': peticion.id}) }}">
                            {% if peticion.estado.isDefault|default(false) %}
                                <strong>{{ macrosPet.asunto(peticion) }}</strong>
                            {% else %}
                                {{ macrosPet.asunto(peticion) }}
                            {% endif %}
                        </a>
                    </td>
                    <td>{{ macrosPet.autor(peticion) }}</td>
                    <td>{{ macrosPet.asignado_a(peticion) }}</td>
                    <td>{{ macrosPet.created_at(peticion) }}</td>
                    <td>{{ macrosPet.updated_at(peticion) }}</td>                                    
                    <td>{{ macrosPet.padre(peticion) }}</td>
                    <td style="background-color: white">
                        {% include "app/Template_aker/button.html.twig" with {
                                            'url':  path('crm_peticion_edit', {'id': peticion.id}),
                                            'texto': 'Editar',   
                                            'icono':'fa fa-pencil-square-o',    
                                            'class': 'btn-default btn-sm', 
                                            'role': 'ROLE_SERVICIO_EDITAR' }  %} 
                    </td>
                </tr>
            {% endfor %}
        </tbody>    
    </table>
</div>