{% import "app/Macros/peticion.html.twig" as macrosPet %}
<div class="well no-mb">
    <div class="feed-element">
        <div class="pull-left r-mar-10">
            {% include "crm/Peticion/show_hand.html.twig" with {'resultado': peticion.resultado } %}                     
        </div>
        <div class="feed-element-body">
            <h3>
                <a href="{{ path('crm_peticion_edit', {'id': peticion.id}) }}">
                    {% if peticion.estado.isDefault|default(false) %}
                        <strong>#{{ peticion.id }} {{ peticion.asunto }}</strong>
                    {% else %}
                        #{{ peticion.id }} {{ peticion.asunto }}
                    {% endif %}
                </a>
                <small>
                    {{ macrosPet.catEstado(peticion) }} 
                </small>
            </h3>
            de {{ macrosPet.autorDescripcion(peticion) }} 
        </div>
    </div>
</div>
