{% import "app/Macros/servicio.html.twig" as macros %}
{% import "app/Macros/peticion.html.twig" as macrosPet %}
<form action="{{ path('crm_peticion_edit', { 'id': peticion.id }) }}"  method="POST">
    {% include "app/Template_aker/error-form.html.twig" with {'error': form_errors(formpeticion) } %}
    <div class="row-fluid">
        {#        <div class="col-md-12 col-sm-12">#}
        {% if formpeticion.asignado_a is defined %}
            {{ form_widget(formpeticion.asignado_a) }}
        {% else %}


            <div class="control-group col-md-1">
                <label>Asignado a</label>
                <p class="form-control-static">
                    <b> {{ macrosPet.asignado_a(peticion) }} </b>
                </p>
            </div>
        {% endif %}
        {#        </div>#}
        <div class="col-md-2">
            {{ form_widget(formpeticion.fecha_inicio) }}
        </div>
        {{ form_widget(formpeticion.categoria) }}
        {{ form_widget(formpeticion.estado) }}
        {{ form_widget(formpeticion.prioridad) }}
        {{ form_widget(formpeticion.tipo) }}

        
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="form-group ">
                <label class="form-label" for="form_peticion_nota">Nota</label>            
                <textarea class="form-control" id="form_peticion_nota" name="form_peticion[nota]"></textarea>
            </div>
        <div class="form-group">
            <button id="form_peticion_cambiar" name="form_peticion[cambiar]" type="submit" class="btn btn-danger" title="La petición se acepta sin cambiar ningun estado.">
                Cambiar
            </button>
            <a href="{{  app.session.get('volver')}}" class="btn btn-default">Cancelar</a>
        </div>
        </div>


        {{ form_widget(formpeticion._token) }}
    </div>
</form>

