<!DOCTYPE html>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
              $('#target').click(function(){
                 var request = $.ajax({
                      type: 'POST',
                      url: "http://calypsotrunk.securityconsultant.com.ar/ws/prog/response", 
                      data:{
                        'idProgramacion' : "140",
                        'estado': "ok",
                        'programaciones' : 
                            [
                            { "idParametro" : "128", "parametro" : "distancia", "estado" : "ok"},    
                            ]
                         },
                      dataType: "json",
                      //async: true,
                      beforeSend: function(){
                        },
                }); 
              });
            });
        </script>
    </head>

    <body>
       <button id="target">Tryyyyyyy it</button>
    </body>
</html>