{% extends "app/Template_aker/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Cargas de combustible por servicio{% endblock %}


{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
                $("#informecarga_desde").datetimepicker({
                format: 'DD/MM/YYYY HH:mm',
                locale: 'es',
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });
    $("#informecarga_hasta").datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
            locale: 'es',
            widgetPositioning: {
                horizontal: 'right',
                vertical: 'bottom'
            }
    });
    
             $('#informecarga_servicio').select2();      
             $('#informecarga_estacion').select2();      


    $("#consultar").on('click',function(){
            var request = $.ajax({
            type: 'POST',
            url: "{{ path('fuel_informecarga_generar',{id: organizacion.id}) }}",
            data: {
                'formCarga': $("#formCarga").serialize(), // formulario con los datos
        
            },
            dataType: "json",
            // async: true,
            beforeSend: function () {
                $("#modalLoad").modal({ backdrop: 'static', keyboard: false });
            }
        });
        request.done(function (respuesta) {
            if (respuesta.status == 'ok') {
                $('#modalLoad').modal('hide');
                $("#content").html("");
                $("#content").append(respuesta.html);

                

            }

        });
    });
        });
    </script>
{% endblock %}
{% block informacion %}
	{% include "app/Template_aker/popup_load.html.twig" %}
		<div class="alert alert-info" role="alert">
	<div class="row">

			<form class="form-horizontal" id="formCarga" method="POST">
				{{ form_errors(form) }}
                <div class="col-md-12">
                    <div class="col-md-2">{{ form_widget(form.destino) }}</div>
                    <div class="col-md-4">{{ form_widget(form.estacion) }}</div>
                    <div class="col-md-3">{{ form_widget(form.desde) }}</div>
                    <div class="col-md-3">{{ form_widget(form.hasta) }}</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">{{ form_widget(form.servicio) }}</div>
                    <div class="col-md-3">{{ form_widget(form.ingreso) }}</div>
                    <div class="col-md-2"> 
                        <div class="control-group ">
                            <label class="control-label"></label>
                            <div class="controls ">
                              Detalle de Cargas <input type="checkbox" id="informecarga_mostrar_detallado" name="informecarga[mostrar_detallado]" checked="checked" title="Muestra los detalles de carga por carga, sino los totaliza." value="1">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="control-group ">
                            <label class="control-label"></label>
                            <div class="controls ">
                                <button type="button" class="btn btn-default" id="consultar">Consultar</button>

                            </div>
                    </div>
                </div>
                </div>
			
			</form>
		</div>
	</div>
	<div class="row">
		<div id="content"></div>
	</div>
{% endblock %}


