<table class="table table-condensed table-striped table-bordered">
    <thead>
        <tr>
            <th>Servicio</th>
            <th>Cant. Cargas</th>
            <th>Monto</th>
            <th>Litros</th>
        </tr>
    </thead>
    <tbody>
        {% for servicio, data in informe %}
            <tr>
                <td>{{ servicio }}</td>
                <td>{{ data.cargas|length }}</td>
                <td><div style="float: right">{{ data.total.monto|number_format(2) }}</div></td>
                <td><div style="float: right">{{ data.total.litros|number_format(2) }}</div></td>
            </tr>

        {% endfor %}
        <tr>
            <th>GRAN TOTAL</th>
            <th>{{ granTotal.cantidad }}</th>
            <th><div style="float: right">{{ granTotal.monto|number_format(2) }}</div></th>
            <th><div style="float: right">{{ granTotal.litros|number_format(2) }}</div></th>
        </tr>
    </tbody>
</table>