<table class="table table-condensed table-striped table-bordered">
    {% for servicio, data in informe %}
        <thead>            
            <tr>
                <th></th>
                <th colspan="9">Ticket</th>
                <th colspan="3">Sistema</th>
            </tr>
            <tr>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Servicio</th>
                <th>Fecha</th>
                <th>Chofer</th>
                <th>Estación/Punto de Carga</th>
                <th>Ubicación</th>
                <th>Tipo de Carga</th>
                <th>Descripción</th>
                <th>Monto</th>
                <th>Litros</th>
                <th>Litros Reales</th>
                <th>Diferencia</th>
            </tr>
        </thead>
        <tbody>
            {% for value in data.cargas %}
                <tr>
                    <td>
                        {% if value.modoingreso == 0 %}
                            <span class="badge bg-info-light" title="Manual">{{ value.strmodoingreso}}</span>
                        {% elseif value.modoingreso == 1 %}
                            <span class="badge bg-info-light" title="WebService">{{ value.strmodoingreso}}</span>
                        {% elseif value.modoingreso == 2 %}
                            <span class="badge bg-info-light" title="Aplicación">{{ value.strmodoingreso}}</span>
                        {% elseif value.modoingreso == 3 %}
                            <span class="badge bg-info-light" title="Importación Excel">{{ value.strmodoingreso}}</span>
                        {% elseif value.modoingreso == 9 %}
                            <span class="badge  alert-success" title="Check">{{ value.strmodoingreso}}</span>
                        {% else %}
                            <span class="badge bg-info-light" title="N/D">---</span>
                        {% endif %}
                    </td>
                   <td>
                        {% if value.estado == 0 %}
                            <span class="badge bg-info-light" title="">{{ value.strestado}}</span>
                        {% elseif value.estado == 9 %}
                            <span class="badge  alert-success" title="Chequeado">{{ value.strestado}}</span>
                        {% else %}
                            <span class="badge bg-info-light" title="N/D">---</span>
                        {% endif %}
                    </td>
                    <td>{{ servicio }}</td>
                    <td>{{ value.fecha|date('d-m-Y H:i:s') }}</td>
                    <td>{{ value.chofer|default('---') }}</td>
                    <td>{{ value.estacion|default('---') ~'/'~ value.puntocarga|default('---')}}</td>
                    <td>{{ value.ubicacion|default('---') }}</td>
                    <td>{{ value.tipoCarga|default('---') }}</td>
                    <td>{{ value.descripcion|default('---') }}</td>
                    <td><div style="float: right">{{ value.monto|number_format(2) }}</div></td>
                    <td><div style="float: right">{{ value.litroscarga|number_format(2) }}</div></td>
                    <td><div style="float: right">{{ value.canbus ? value.cargas.canbus_sistema|default('---') : 'n/d' }}</div></td>
                    <td><div style="float: right">{{ value.canbus and value.cargas.canbus_diferencia is defined  ? value.cargas.canbus_diferencia|default('---') : 'n/d' }}</div></td>
                </tr>
            {% endfor %}
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Total</th>
                <th><div style="float: right">{{ data.total.monto|number_format(2) }}</div></th>
                <th><div style="float: right">{{ data.total.litros }}</div></th>
                <th></th>
                <th></th>
            </tr>
        </tbody>  
    {% endfor %}
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>GRAN TOTAL</th>
        <th><div style="float: right">{{ granTotal.monto|number_format(2) }}</div></th>
        <th><div style="float: right">{{ granTotal.litros|number_format(2) }}</div></th>
        <th></th>
        <th></th>
    </tr>    
</table>
