   <div class="alert alert-warning">
Para toda la flota, desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>.
 <a href="javascript:viod(0)"   class="btn btn-default btn-xs"   onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> 
<form name="formexport" action="{{ path('fuel_informe_carga_exportar', {'id': organizacion.id}) }}" method="POST" >
    <input type="hidden" name="tipo" value="0"/>
    <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
    <input type="hidden" name="granTotal" value="{{ granTotal|json_encode() }}"/>
    <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
</form>
</div>
{% if informe is not null %}
    {% if informe|length > 0 %}
        {% if consulta['mostrar_detallado'] is defined %}
            {% include "fuel/InformeCarga/content_flota.html.twig" %}  
        {% else %}
            {% include "fuel/InformeCarga/content_resumen.html.twig" %}  
        {% endif %}
    {% else%}
             <em>No se registran cargas de combustible.</em>
    {% endif %}
{% endif %}
