{% extends "app/Template/list.html.twig" %}

{% block title %}Grupos de Referencias{% endblock %} 
{% block titulo %}Grupos de Referencias{% endblock %}        
{% block js %}
{{ parent() }}
<script>    
    //toma los valores de los checks y genera un string con todos los ids de los grupos.
    function getValues() {
     var allvalues = '';
     for(var i=0; i<document.formCheck.elements.length; i++) {
          if (document.formCheck.elements[i].type === "checkbox") {
               if (document.formCheck.elements[i].checked) {
                    if (allvalues !== '') {
                        allvalues = allvalues + ' ' + document.formCheck.elements[i].value;
                    }else {
                        allvalues = document.formCheck.elements[i].value;
                    }
               }
          }
     }
     return allvalues;
    }
     
     //hace el llamado a la operacion por batch.
    function batch(idorg, accion) {
        window.open("{{ path('sauron_grupo_referencias_batch') }}?idorg="+idorg+"&accion="+accion+"&checks="+getValues(), '_self');	
    }
    
    //cuando se checkea todos.
    function checkAll() {
       $("input:checkbox").attr('checked', document.getElementById('check_all').checked);
       clickCheck();
    }
    
    //funcion que hace visible los botones cuando se checkea un check.
    function clickCheck() {
        var count = 0;
        for(var i=0; i<document.formCheck.elements.length; i++) {
            if (document.formCheck.elements[i].checked) {
                count++;
            }
        }
        if (count == 0) {
            $('#btnCopiar').css('display', 'none');
            $('#btnCompartir').css('display', 'none');
            $('#btnMover').css('display', 'none');
        } else {
            $('#btnCopiar').css('display', 'block');
            $('#btnCompartir').css('display', 'block');
            $('#btnMover').css('display', 'block');
        }
    }
    
    // Esta funcion sirve para expandir y contraer la lista de las referencias del grupo.
    function accion(id) {
        if ($("#grilla"+id).css("display") == "block") {
            $("#grilla"+id).css("display", "none");
            $("#icon"+id).attr("src", "{{ asset('images/plus.png') }}");
        } else {
            $("#grilla"+id).css("display", "block");
            $("#icon"+id).attr("src", "{{ asset('images/minus.png') }}");
        }
    }
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<style type="text/css">
.title {
    padding: 3px 5px 3px 0px;
    border: 1px #ccc solid;
    background-color: #ddd;
    margin: 0px 0px 2px 0px;
}
.grillaRef {
    background-color: #ffffcc;
    border: 1px #ccc solid;
    margin: -2px 0px 5px 0px;
}   
</style>
{% endblock %}

{% block contentpanel %}  
{% if gruposref %}
    {# estos son los titulos #}
    <div class="row-fluid">
        <div class="span4">
            <input type="checkbox" id="check_all" value="" onclick="checkAll()" title="Marca todos los grupos.">
            <strong>Grupo</strong>
        </div>
        <div class="span3"><strong>Propietario del grupo</strong></div>
        <div class="span1"><strong>Ref.</strong></div>    
        <div class="span2"><strong>Acciones</strong></div>
    </div>
     <form name="formCheck">
        {% for grupo in gruposref %}
            <div class="title">
                <div class="row-fluid">
                    <div class="span4">
                        <input type="checkbox" name="checks[]" onclick="clickCheck()" value="{{ grupo.id }}">
                        <a href="{{ path('apmon_grupo_referencia_show', {'id': grupo.id}) }}">{{ grupo.nombre }}</a>
                    </div>
                    <div class="span3">{{ grupo.propietario }}</div>    
                    <div class="span1">{{ grupo.referencias|length|default(0) }} ref.</div>    
                    <div class="span2"> 
                        {% if grupo.propietario == organizacion %} 
                            <img src="{{ asset('images/lock_open.png') }}" title="Es el propietario">
                            <a href="{{ path('apmon_grupo_referencia_edit', {'id': grupo.id} ) }}" title="Editar">
                                <img src="{{ asset('images/editgroup16x16.png') }}"></a>
                            <a href="{{ path('apmon_grupo_referencia_agrupar', {'id': grupo.id, 'idorg': organizacion.id} ) }}" title="Administra (agrega, retira) las referencias del grupo">
                              <img src="{{ asset('images/group16x16.png') }}"></a>
                       {% else %}
                           <img src="{{ asset('images/lock.png') }}" title="El propietarios es {{ grupo.propietario }}">
                       {% endif %} 
                    </div>
                    
                    <div style="float: right">
                        {% if grupo.referencias|length > 0 %}
                        <a href="#" onclick="accion({{ grupo.id }})">
                           <img id="{{ 'icon' ~ grupo.id }}" src="{{ asset('images/plus.png') }}" title="ver {{ grupo.referencias|length|default(0) }} referencias">
                        </a>
                        {% endif %}
                    </div>
                </div>  
            </div>   
            <div id="{{ 'grilla' ~ grupo.id }}" class="grillaRef" style="display: none">
                <div class="row-fluid">
                {% if grupo.referencias|length > 0 %}
                     <table class="table table-condensed" style="margin: 0px 10px 0px 10px; width: 95%">
                        <tbody>
                            {# aca se ponen las referencias #}
                            {% for ref in grupo.referencias %}
                                <tr>
                                    <td width=25>
                                    {% if ref.pathIcono %}
                                        <img style="width: 20px; height: 20px;" id="mostrar-icono" class="logo-small" src="{{ref.pathIcono}}" />
                                    {% endif %}
                                    </td>                                    
                                    <td><a href="{{ path('referencia_show', {'id': ref.id}) }}">{{ ref.nombre }}</a></td>
                                    <td style="width: 200px">
                                    {% if ref.propietario == organizacion %} 
                                        <a href="{{ path('referencia_edit', {'id': ref.id} ) }}" title="Editar">
                                            <img src="{{ asset('images/edit.png') }}"></a>
                                        <a href="{{ path('sauron_grupo_referencias_referencia', {'idref': ref.id, 'idgrp': grupo.id, 'idorg': organizacion.id} ) }}" title="Sacar del grupo">
                                            <img src="{{ asset('images/remove.png') }}"></a>
                                    {% else %}
                                        <img src="{{ asset('images/lock.png') }}" title="El propietarios es {{ ref.propietario }}">
                                    {% endif %}
                                </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                     </table>
                {% endif %}
                </div>
            </div>
        {% endfor %}
     </form>
{% else %}
<em>No hay grupo de referencias creados para <strong>{{ organizacion }}</strong></em>
{% endif %}

{% endblock %}

