{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ gruporef.propietario }}{% endblock %}
{% block subtitulo %}Alta de Grupo de Referencias{% endblock %}


{% block formulario %}
 <form class="form-horizontal"  method="POST" >
    <fieldset>
    <div class="row-fluid">
        <div>{{ form_errors(form) }}</div>
        <div class="span5">
            {{ form_widget(form.nombre) }}
                
       </div>
        <div class="span4">
            <h4>información</h4>
            <p>Complete el nombre del Grupo de Referencias.</p>
        </div>
    </div>
    {#
    <div>
        <h4>Listado de Referencias</h4>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Agregar al Grupo</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Categoria</th>
                    <th>Tipo de Referencia</th>
                </tr>
            </thead>
            <tbody>
                {% for referencia in referencias %}
                    <tr>
                        <td><input type="checkbox" id="grupo_referencias_referencias_{{ referencia.id }}" name="grupo_referencias[referencias][{{ referencia.id }}]" value="{{ referencia.id }}"></td>
                        <td><a href="{{ path('referencia_show', {'id': referencia.id}) }}">{{ referencia.nombre }}</a></td>
                        <td>{{ referencia.descripcion }}</td>
                        <td>{{ referencia.categoria ? referencia.categoria.nombre : '' }}</td>
                        <td>{{ referencia.tipoReferencia ? referencia.tipoReferencia.nombre : '' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
         </table>
    </div>
    #}        
    <div class="form-actions">
         {{ form_widget(form._token) }}
        <input type="submit" class="btn btn-primary" value="Crear" />
        <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
    </div>
    </fieldset>
    </form>

{% endblock %}
