{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "apmon/GrupoReferencia/delete_form.html.twig" %} 
{% endblock %} 


{% block titulo %}{{ gruporef.propietario }}{% endblock %}
{% block subtitulo %}{{ gruporef.nombre }}{% endblock %}
{% block contentpanel %}
<div class="row-fluid row-show">
    <legend>Referencias asignadas</legend>
    <h4>Referencias</h4>
    {% if gruporef.referencias|length > 0 %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Categoria</th>
                    <th>Tipo de Referencia</th>
                </tr>
            </thead>
            <tbody>
                {% for ref in gruporef.referencias %}
                    <tr>
                        <td><a href="{{ path('referencia_show', {'id': ref.id}) }}">{{ ref.nombre }}</a></td>
                        <td>{{ ref.descripcion }}</td>
                        <td>{{ ref.categoria ? ref.categoria.nombre : ''}}</td>
                        <td>{{ ref.tipoReferencia ? ref.tipoReferencia.nombre : ''}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}

        <em>Este grupo no contiene referencias.</em>

    {% endif %}
</div>

{% endblock %}
