<select id="listAsignados" multiple="multiple" size="{{ asignados|length }}" style="width: 100%;">
    {% for referencia in asignados %}
        <option value="{{ referencia.id }}">{{ referencia.nombre }}</option>                
    {% endfor %}
</select>
<em>Total asignados: {{ asignados|length|default(0) }}</em>