{% for arr in informe %}
    {% if arr.info_detenciones|length > 0 %}
        <h2>{{arr.servicio.nombre}}</h2>
        <table class="table table-condensed">
            <tr>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Activo (hs)</th>
                <th>Detenido (hs)</th>
                <th>Movimiento (hs)</th>
                <th>Ralenti (hs)</th>
                <th>Kms Total</th>
                <th>Kms Diarios</th>
                <th>Vel Max.</th>
                <th>Vel Prom.</th>
            </tr>    
            <tr>
                <td>{{arr.info_gral.desde}}</td>
                <td>{{arr.info_gral.hasta}}</td>
                <td>{{arr.info_gral.tiempo_activo}}</td>
                <td>{{arr.info_gral.tiempo_detenido}}</td>
                <td>{{arr.info_gral.tiempo_movimiento}}</td>
                <td>{{arr.info_gral.tiempo_motor_encendido}}</td>
                <td>{{arr.info_gral.kms_calculada}}</td>
                <td>{{arr.info_gral.kms_por_dia_calculada}}</td>
                <td>{{arr.info_gral.velocidad_maxima}}</td>
                <td>{{arr.info_gral.velocidad_promedio}}</td>
            </tr>
        </table>
        <table class="table table-condensed">
            <tr>
                <th colspan="7"style="text-align: center">Detenciones</th>
            </tr>
            <tr>
                <th>Ingreso</th>
                <th>Egreso</th>
                <th>Duración</th>
                <th>Referencia / Dirección</th>

            </tr>
            {% for detencion in arr.info_detenciones%}
                <tr>
                    <td>{{detencion.fecha_ingreso}}</td>
                    <td>{{detencion.fecha_egreso}}</td>
                    <td>{{detencion.duracion}} </td>
                    <td>
                        {% if detencion.referencia_nombre is defined %}
                            <strong>{{ detencion.referencia_nombre }}</strong></br>
                        {% else %}
                            {% if consulta.mostrar_direcciones %}
                                <em>{{ detencion.domicilio|default('---') }}</em>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endfor %}



