{% extends "app/Template/informe_result.html.twig" %}
{% block title %}Informe Consolidado de Detenciones{% endblock %}
{% block titulo %}Informe Consolidado  de Detenciones{% endblock %}

{% block informacion %}
Para {{consulta.servicionombre}}, desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>. Detenciones de mas de {{ consulta.tiempo_minimo }} minutos.
[ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
<form name="formexport" action="{{ path('informe_consolidado_exportar', {'tipo': 1}) }}" method="POST" >
    <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
    <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
</form>
{% endblock %}

{% block contentpanel %}
{% if informe is not null %}
    {% if informe|length > 0 %}
            {% include "informe/Consolidado/content_flota.html.twig" %}  
    {% else %}
            <em>No se registran detenciones.</em>
    {% endif %}
{% endif %}
{% endblock %}
