{% extends "app/Template/list.html.twig" %}


{% block titulo %}Distribuidores{% endblock %}        
{% block contentpanel %}        
    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Nombre</th>
                    <th>Master Admin</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for distribuidor in distribuidores %}
                    <tr>
                        <td>
                            {% if (distribuidor.isLogoConfig) %}
                                <img class="logo-small" src="{{ asset(distribuidor.getLogo()) }}" />
                            {% else %}
                                <b>N/A</b>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('distribuidor_show', {'id': distribuidor.id, 'tab': 'datos'}) }}">{{ distribuidor.nombre }}</a></br>
                        </td>
                        <td>{{ distribuidor.usuarioMaster }}</td>
                        <td>
                            <a href="{{ path('sauron_distribuidor_edit', {'id': distribuidor.id, 'return': 'list'} ) }}">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
         </table>
    </div>
{% endblock %}