{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ distribuidor.organizacionPadre }}{% endblock %}
{% block subtitulo %}Alta de Nuevo Distribuidor{% endblock %}

{% block imagentitulo %}
    {% if (distribuidor.organizacionPadre.isLogoConfig) %}
        <img class="logo-medium" src="{{ asset(distribuidor.organizacionPadre.getLogo()) }}" />
    {% endif %}
{% endblock %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        <fieldset>
            <div class="row-fluid">
                <div>{{ form_errors(form) }}</div>
                <div class="span6">
                    <h3>Datos del distribuidor</h3>
                    {{ form_widget(form.nombre) }}
                    <div class="control-group ">
                        <label class="control-label" for="distribuidor_direccion">Dirección</label>
                        <div class="controls">
                            <input type="text" id="distribuidor_direccion" name="distribuidor[direccion]" class="span5" value="{{distribuidor.direccion}}" />
                            <button class="btn " type="button"  onClick='geocodificarTexto()' >Buscar</button>
                        </div>
                    </div>
                    {{ form_widget(form.telefono_oficina) }}
                    {{ form_widget(form.email) }}    
                    {{ form_widget(form.web_site) }}
                    {{ form_widget(form.dato_fiscal) }}
                    {{ form_widget(form.proveedor_mapas) }}
                    {{ form_widget(form.limite_historial) }}   
                    {{ form_widget(form.timeZone) }}

                    <!-- aca empieza la configuracion del distribuidor -->
                    {{ form_widget(form.configuracionDistribuidor.dominio) }}
                    {{ form_widget(form.configuracionDistribuidor.css) }}
                    {{ form_widget(form.configuracionDistribuidor.logo) }}
                    {{ form_widget(form.configuracionDistribuidor.copyright) }}

                </div>
                <div class="span5"> 
                    <div class="row-fluid">
                        <span class="help-block"><span class="label label-info">Info</span>Para mas precisión en la ubicación, arrastre el puntero en el mapa hasta la ubicación correcta.</span>
                        <div style="width: 500px; height: 250px; padding: 5px;">
                            {{ mapa.renderHtml()|raw }}
                            Latitud <input class="span2" type="text" id="distribuidor_latitud" name="distribuidor[latitud]" class="" value="{{distribuidor.latitud}}">
                            Longitud <input class="span2" type="text" id="distribuidor_longitud" name="distribuidor[longitud]" class="" value="{{distribuidor.longitud}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span8">
                    <h3>Datos del Usuario Master</h3>
                    {{ form_widget(form.usuario_master.nombre, { 'attr': {'class': 'large'} }) }}
                    {{ form_widget(form.usuario_master.username) }}
                    {{ form_widget(form.usuario_master.email) }}
                    <div class="control-group">
                        <label class="control-label">Clave de Acceso</label>
                        <div class="controls">
                            <p>
                                <input class="form-control" id="distribuidor_usuario_master_plainPassword_first" name="distribuidor[usuario_master][plainPassword][first]" required="required" placeholder="Ingrese la clave" type="password">
                            </p>
                            <br/>                            
                            <p>
                                <input class="form-control" id="distribuidor_usuario_master_plainPassword_second" name="distribuidor[usuario_master][plainPassword][second]" required="required" placeholder="Repita la clave" type="password">
                            </p>
                        </div>
                    </div>
                    {{ form_widget(form.usuario_master.enabled) }}
                </div>
                <div class="span4">
                    <h4>Datos del Usuario Master</h4>
                    <p>El usuario master tendrá derechos excepcionales sobre la cuenta. Por favor complete los datos.</p>
                    <p><b>Clave:</b> Ingrese dos veces la clave de usuario, las mismas deben ser iguales para que sea aceptada.
                    </p>
                </div>
            </div>
            {{ form_widget(form._token) }}
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Agregar" />
                <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>
        </fieldset>
    </form>
{% endblock %}


{% block js %}
    {{ parent() }}
    <script type='text/javascript'>
        function geocoder_exito(latitud, longitud, direccion) {
            // document.getElementById('texto_gc_resultado').innerHTML = "Geocoder [Lat: "+latitud+"  Long: "+longitud+"]["+direccion+"]";
            //actualiza y centra el punto
        {{ mapa.fcAddMarker() }}({id_sc: 'punto_edicion', latitud: latitud, longitud: longitud, texto: direccion});
        {{ mapa.fcCenterMarker() }}('punto_edicion');
                document.getElementById('distribuidor_latitud').value = latitud;
                document.getElementById('distribuidor_longitud').value = longitud;
            }

            function geocoder_exito_inverso(direccion) {
                //document.getElementById('texto_gc_resultado_2').innerHTML = "Geocoder Inverso ["+direccion+"]";
        {{ mapa.fcAddMarker() }}({id_sc: 'punto_edicion', texto: direccion});
                document.getElementById('distribuidor_direccion').value = direccion;
            }

            function geocoder_fracaso(error) {
                //  document.getElementById('texto_gc_resultado').innerHTML = "Geocoder Error: ["+error+"]";
            }
            function geocodificarTexto() {
                //document.getElementById('texto_gc_resultado').innerHTML = '...';
                var direccion = document.getElementById('distribuidor_direccion').value;
        {{ geocoder.fcGeocodificar() }}(direccion, geocoder_exito, geocoder_fracaso);
        {{ mapa.getMapName() }}.setZoom(16);
            }
            function dragMarcador(e) {
                if (e != null) {
                    pos = e.latLng;
                    document.getElementById('distribuidor_latitud').value = pos.lat();
                    document.getElementById('distribuidor_longitud').value = pos.lng();
                }
            }

            function finDragMarcador(e) {
                if (e != null) {
                    pos = e.latLng;
        {{ geocoder.fcInversa() }}(pos.lat(), pos.lng(), geocoder_exito_inverso, geocoder_fracaso);
                }
            }

            function clickMarcador(e) {
                if (e != null) {
                    pos = e.latLng;
                    document.getElementById('punto_click').innerHTML = "Click: [" + pos.lat() + " ; " + pos.lng() + "]";
                }
            }

    </script>
    {{ mapa.renderJs()|raw }}
    {{ geocoder.renderJs()|raw }}

{% endblock %}