{% include "app/Template/sidebar_submenu.html.twig" %}
<div class="clearfix"></div>
<p>
    Desde esta sección puede administrar las cuentas de los distribuidores que posee <strong>{{ organizacion }}</strong>. 
</p>
{% if distribuidores %}
<table class="table table-condensed">
    <thead>
        <tr><th>Logo</th>
            <th>Nombre</th>
            <th>Master</th>
            <th>Creado</th>
            <th>Ult. Acceso</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for distribuidor in distribuidores %}
            <tr>
                <td>
                    {% if (distribuidor.isLogoConfig) %}
                        <img class="logo-small" src="{{ asset(distribuidor.getLogo()) }}" />
                    {% else %}
                        <b>N/A</b>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('distribuidor_show', {'id': distribuidor.id, 'tab': 'main'}) }}">{{ distribuidor.nombre }}</a></br>
                </td>
                <td>{{ distribuidor.usuarioMaster }}</td>
                <td>{{ distribuidor.createdAt|date('d-m-Y H:i')|e }}</td>
                <td>{{ distribuidor.updatedAt|date('d-m-Y H:i')|e }}</td>
                <td>
                 {#   <a href="{{ path('usuario_edit', {'id': distribuidor.id}) }}">Editar</a> 
                    | <a href="{{ path('usuario_clave_change', {'id': distribuidor.id}) }}">Cambiar Clave</a>                         
                    #}
                </td>
            </tr>


    {% endfor %}
    </tbody>
</table>
{% else %}
    <em>No hay usuarios asociados.</em>
{% endif %}