{% extends "app/Template/show_tabs.html.twig" %}

{% block formdelete %}
    {% include "sauron/Distribuidor/delete_form.html.twig" %}     
{% endblock %} 

{% block titulo %}{{ organizacion.nombre }}{% endblock %}

{% block contenthead %}
<ul class="nav nav-tabs">
    {% if is_granted('ROLE_DISTRIBUIDOR_VER') %}
        <li {{ tab == 'main' ? "class='active'" : ""  }}><a href="{{ path('distribuidor_show', {'id': organizacion.id, 'tab': 'main'}) }}">Datos</a></li>
    {% endif %}
    {% if is_granted('ROLE_USUARIO_VER') %}
        <li {{ tab == 'usuarios' ? "class='active'" : ""  }} ><a href="{{ path('distribuidor_show_usuarios', {'id': organizacion.id, 'tab': 'usuarios'}) }}">Usuarios</a></li>
    {% endif %}
    {% if is_granted('ROLE_CLIENTE_VER') %}
        <li {{ tab == 'clientes' ? "class='active'" : ""  }} ><a href="{{ path('distribuidor_show_clientes', {'id': organizacion.id, 'tab': 'clientes'}) }}">Clientes</a></li>
    {% endif %}
    {% if is_granted('ROLE_DISTRIBUIDOR_VER') %}
        <li {{ tab == 'distribuidores' ? "class='active'" : ""  }} ><a href="{{ path('distribuidor_show_distribuidores', {'id': organizacion.id, 'tab': 'distribuidores'}) }}">Distribuidores</a></li>
    {% endif %}
    {% if is_granted('ROLE_EQUIPO_VER') %}
        <li {{ tab == 'equipos' ? "class='active'" : ""  }}><a href="{{ path('distribuidor_show_equipos', {'id': organizacion.id, 'tab': 'equipos'}) }}">Equipos</a></li>
    {% endif %}
    {% if is_granted('ROLE_FLOTA_VER') %}
        <li {{ tab == 'flota' ? "class='active'" : ""  }} ><a href="{{ path('distribuidor_show_servicios', {'id': organizacion.id, 'tab': 'flota'}) }}">Servicios</a></li>
    {% endif %}
    {% if is_granted('ROLE_CHIP_VER') %}
        <li {{ tab == 'chips' ? "class='active'" : ""  }}><a href="{{ path('distribuidor_show_chips', {'id': organizacion.id, 'tab': 'chips'}) }}">Chips</a></li>
    {% endif %}
    {% if is_granted('ROLE_REFERENCIA_VER') %}
        <li {{ tab == 'referencias' ? "class='active'" : ""  }}><a href="{{ path('distribuidor_show_referencias', {'id': organizacion.id, 'tab': 'referencias'}) }}">Referencias</a></li>
    {% endif %}
        
    </ul>
{% endblock %}

{% block contentpanel %}
    {% if tab == 'main' %}
        {% include "sauron/Distribuidor/show_main.html.twig" %}  
    {% elseif tab == 'usuarios' %}
        {% include "sauron/Organizacion/show_usuarios.html.twig" with {'organizacion': organizacion} %}  
    {% elseif tab == 'clientes' %}
        {% include "sauron/Distribuidor/show_clientes.html.twig" with {'clientes': clientes} %}  
    {% elseif tab == 'equipos' %}
        {% include "sauron/Distribuidor/show_equipos.html.twig" with {'equipos': equipos} %}  
    {% elseif tab == 'flota' %}
        {% include "sauron/Distribuidor/show_servicios.html.twig" with {'servicios': servicios} %}  
    {% elseif tab == 'chips' %}
        {% include "sauron/Distribuidor/show_chips.html.twig" with {'chips': chips} %}  
    {% elseif tab == 'distribuidores' %}
        {% include "sauron/Distribuidor/show_distribuidores.html.twig" with {'distribuidores': distribuidores, 'organizacion': organizacion} %}  
    {% elseif tab == 'referencias' %}
        {% include "sauron/Distribuidor/show_referencias.html.twig" with {'referencias': referencias, 'organizacion': organizacion} %}  
    {% endif %}
{% endblock %}
 
{% block js %}
{{ parent() }}
<script>
    function getValues() {
     var allvalues = '';
     for(var i=0; i<document.formCheck.elements.length; i++) {
          if (document.formCheck.elements[i].type == "checkbox") {
               if (document.formCheck.elements[i].checked) {
                    if (allvalues != '') {
                        allvalues = allvalues + ' ' + document.formCheck.elements[i].value;
                    }else {
                        allvalues = document.formCheck.elements[i].value;
                    }
               }
          }
     }
     return allvalues;
    }
            
    function batch(accion) {
        window.open("{{ path('referencia_batch') }}?accion="+accion+"&checks="+getValues(), '_self');	
    }
    
    
    function checkAll() {
       $("input:checkbox").attr('checked', document.getElementById('check_all').checked);
       clickCheck();
    }
    
    function clickCheck() {
        var count = 0;
        for(var i=0; i<document.formCheck.elements.length; i++) {
            if (document.formCheck.elements[i].checked) {
                count++;
            }
        }
        if (count == 0) {
            $('#btnCopiar').css('display', 'none');
            $('#btnCompartir').css('display', 'none');
            $('#btnMover').css('display', 'none');
        } else {
            $('#btnCopiar').css('display', 'block');
            $('#btnCompartir').css('display', 'block');
            $('#btnMover').css('display', 'block');
        }
    }
    
</script>
{% endblock %}