{% include "app/Template/sidebar_submenu.html.twig" %}
<div class="clearfix"></div>
<p>
    Se muestran todos los chips que estan asignados al deposito de 
    <strong>{{ organizacion }}</strong>. 
    Puede haber chips en este deposito que no sean de la propiedad del distribuidor
    que esta viendo. <br/>
    Todos los chips que     estan en este depósito son a los que puede acceder 
    el distribuidor para su asignación a los equipos.
</p>
{% if chips %}
<table class="table table-condensed">
            <thead>
                <tr>
                    <th>Imei</th>
                    <th>Teléfono</th>
                    <th>Estado</th>
                    <th>Equipo</th>
                    <th>Prestadora</th>
                    <th>Propietario</th>
                    <th>Creado</th>
                    <th>Actualizado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for chip in chips %}
                    <tr>
                        <td><a href="{{ path('dist_chip_show', {'id': chip.id}) }}">{{ chip.imei }}</a></td>
                        <td>{{ chip.numeroTelefono }}</td>
                        <td>{{ chip.strEstado }}</td>
                        <td>{{ chip.equipo }}</td>
                        <td>{{ chip.prestadora }}</td>
                        <td>{{ chip.propietario }}</td>
                        <td>{{ chip.createdAt|date('d-m-Y H:i')|e }}</td>
                        <td>{{ chip.updatedAt|date('d-m-Y H:i')|e }}</td>
                        <td>
                            {% if chip.propietario !=  app.user.organizacion %}
                                <a href="{{ path('dist_chip_edit', {'id': chip.id} ) }}">Editar</a> |
                            {% endif %}
                            <a href="{{ path('dist_chip_transfer', {'id': chip.id} ) }}">Transferir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
         </table>
{% else %}
    <em>No hay chips asociados para esta flota.</em>
{% endif %}