{% include "app/Template/sidebar_submenu.html.twig" %}
<div class="clearfix"></div>
<p>
    Desde esta sección puede administrar los clientes que posee el distribuidor. 
Tenga en cuenta que todas las operaciones las esta realizando sobre la cuenta seleccionada y no sobre la suya. Verifique siempre
que este en la distribuidora que quiere modificar.
</p>

{% if clientes|length > 0 %}
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Logo</th>
            <th>Nombre</th>
            <th>Master Admin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>
                    {% if (cliente.isLogoConfig) %}
                        <img class="logo-small" src="{{ asset(cliente.getLogo()) }}" />
                    {% else %}
                        <b>N/A</b>
                    {% endif %}
                </td>
                <td><a href="{{ path('distribuidor_cliente_show', {'id': cliente.id, 'tab': 'main'}) }}">{{ cliente.nombre| e }}</a></td>
                <td>{{ cliente.usuarioMaster }}</td>
                <td><a href="{{ path('distribuidor_cliente_edit', {'id': cliente.id, 'return': 'list'} ) }}">Editar</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <em>No hay clientes asociados.</em>
{% endif %}