<p>
    En esta sección puede realizar acciones sobre la flota del distribuidor <strong>{{ organizacion }}</strong>. 
</p>
{% if servicios %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Estado</th>
                <th></th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Equipo</th>
                <th>Nro. Serie</th>
                <th>Modelo</th>
                <th>Creado</th>
                <th>Ult. Cambio</th>
                <th>Ult. Transmisión</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
                <tr>
                    <td>{{ servicio.strEstado}}</td>
                    <td>
                        {% if servicio.tipoServicio.icono is defined %}
                            <img src="{{ asset(servicio.tipoServicio.getWebPath()) }}">
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'main'}) }}">{{ servicio.nombre }}</a></br>
                    </td>
                    <td>{{ servicio.getStrTipoObjetos }}</td>
                    <td>{{ servicio.equipo ? servicio.equipo.mdmid : '' }}</td>
                    <td>{{ servicio.equipo ? servicio.equipo.numeroSerie :'' }}</td>
                    <td>{{ servicio.equipo ? servicio.equipomodelo: '' }}</td>
                    <td>{{ servicio.createdAt|date('d-m-Y H:i')|e }}</td>
                    <td>{{ servicio.updatedAt|date('d-m-Y H:i')|e }}</td>
                    <td>{{ servicio.ultFechahora != null ? servicio.ultFechahora|date('d-m-Y H:i')|e : 'N/A' }}</td>
                    <td>
                        {#   <a href="{{ path('usuario_edit', {'id': distribuidor.id}) }}">Editar</a> 
                           | <a href="{{ path('usuario_clave_change', {'id': distribuidor.id}) }}">Cambiar Clave</a>                         
                           #}
                    </td>
                </tr>


            {% endfor %}
        </tbody>
    </table>
{% else %}
    <em>No hay servicios asociados para esta flota.</em>
{% endif %}