{% include "app/Template/sidebar_submenu.html.twig" %}
<div class="clearfix"></div>
<p>
    Se muestran todos los equipos que estan asignados al deposito de 
    <strong>{{ organizacion }}</strong>. 
    Puede haber equipos en este deposito que no sean de la propiedad del distribuidor
    que esta viendo. <br/>
</p>
{% if equipos %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>MdmId</th>
                <th>Nro. Serie</th>
                <th>Modelo</th>
                <th>Servicio</th>
                <th>Ult. Reporte</th>
                <th>Propietario</th>
                <th>Creado</th>
                <th>Actualizado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for equipo in equipos %}
                <tr>
                    <td><a href="{{ path('sauron_equipo_show', {'id': equipo.id,'tab':'main'}) }}">{{ equipo.mdmid }}</a></td>
                    <td>{{ equipo.numeroSerie }}</td>
                    <td>{{ equipo.modelo }}</td>
                    {% if equipo.servicio %}
                        <td>
                            {{ equipo.servicio }}
                            {% if(equipo.estado == 3) %}    
                                <a href="#modalDelete{{ equipo.id }}" data-toggle="modal">Retirar</a>
                                <div id="modalDelete{{ equipo.id }}" class="modal hide fade">
                                    <div class="modal-header">
                                        <a href="#" class="close">&times;</a>
                                        <h3>Retirar Equipo de Servicio</h3>
                                    </div>
                                    <form class="form-horizontal" action="{{ path('sauron_equipo_retirar', { 'id': equipo.getId }) }}" method="post">
                                        <div class="modal-body">
                                            <p>Esta seguro de retirar el servicio: <strong>{{ equipo.servicio.nombre|upper }}</strong> del equipo: <strong>{{ equipo.imei }}</strong> ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-danger" type="submit">Retirar</button>
                                            <a id="boton-cancelar" href="" class="btn secondary">Cancelar</a>
                                        </div>
                                    </form>
                                </div> 
                             {% endif %}
                        </td>
                        <td>{{ equipo.servicio.ultFechahora|date('d-m-Y H:i')|e }}</td>
                    {% else %}
                        <td>
                            <a href="{{ path('servicio_new', {'idequipo': equipo.id} ) }}">Crear</a> |
                            <a href="{{ path('sauron_equipo_asignarservicio', {'id': equipo.id} ) }}">Asignar</a>
                        <td></td>
                    {% endif %}
                    <td>{{ equipo.propietario }}</td>
                    <td>{{ equipo.createdAt|date('d-m-Y H:i')|e }}</td>
                    <td>{{ equipo.updatedAt|date('d-m-Y H:i')|e }}</td>
                    <td>
                        <a href="{{ path('sauron_equipo_edit', {'id': equipo.id} ) }}">Editar</a> |
                        <a href="{{ path('sauron_equipo_transferir', {'id': equipo.id} ) }}">Transferir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
     </table>
{% else %}
    <em>No hay equipos asociados para este distribuidor.</em>
{% endif %}
