<div class="row-fluid row-show">
    <div class="span6">
        <h3>Datos Principales</h3>
        {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': organizacion.nombre } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Dirección', 'data': organizacion.direccion } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Teléfono', 'data': organizacion.telefonoOficina } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'EMail', 'data': organizacion.email } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Web Site', 'data': organizacion.webSite } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Distribuidor Padre', 'data': organizacion.organizacionPadre } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Creado en', 'data': organizacion.createdAt|date('d-m-Y H:m') } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Actualizado en', 'data': organizacion.updatedAt|date('d-m-Y H:m') } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Zona horaria', 'data': organizacion.timeZone } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Identifiación Fiscal', 'data': organizacion.datoFiscal } %} 
        {% if organizacion.configuracionDistribuidor != null %}
             {% include "app/Template/show_row.html.twig" with {'label': 'Plantilla css', 'data': organizacion.configuracionDistribuidor.css } %} 
             {% include "app/Template/show_row.html.twig" with {'label': 'Copyright', 'data': organizacion.configuracionDistribuidor.copyright } %} 
        {% endif %}
        {% if is_granted('ROLE_SECURITY') %}
             <h3>ApiKey</h3>
             <b>{{ organizacion.apiKey }}</b> 
        {% endif %}        
        {% if organizacion.dominios != null %}
             <h3>Dominios Asociados</h3>
             {% for dominio in organizacion.dominios %}
               {{ dominio.dominio }}</br>
             {% else %}
               <em>No posee dominios de configurados.</em>
             {% endfor %}
        {% endif %}
    </div>
    <div class="span5">
        {% if organizacion.configuracionDistribuidor is defined and organizacion.configuracionDistribuidor.pathlogo is defined %}
             <h3>Logo</h3>
             <div style="width: 100%; margin: 0 auto 0 auto; text-align: center">
                 <img id="mostrar-icono" class="logo-medium" src="{{ organizacion.getLogo() }}" style="padding: 15px;"/></br>
                 {{ organizacion.configuracionDistribuidor.pathLogo }}
             </div>
         {% endif %}
        
         <p></p>
        <h3>Módulos Habilitados</h3>
        {% include "sauron/Organizacion/show_modulos.html.twig" with {'organizacion': organizacion} %} 
    </div>
</div>