{% extends "app/Template_aker/popup.html.twig" %}

{% block modalId %}modalDelete{% endblock %}

{% block modalTitulo %}Eliminar Motivo{% endblock %}

{% block modalUrl %}{{ path('motivotx_delete', { 'id': motivotx.id }) }}{% endblock %}

{% block modalBody %}
    <p>Esta seguro de eliminar estemotivo de transmisión: <strong>{{ motivotx.nombre }}</strong> ?</p>
    {{ form_widget(delete_form) }}
{% endblock %}

{% block modalOk %}
    <button class="btn btn-danger" type="submit">Eliminar</button>
{% endblock %}
