{% extends "app/Template_aker/list.html.twig" %}

{% block titulo %}Motivos de Transmisión
{% endblock %}

{% block contentpanel %}
	<section class="panel">
		<div class="panel-body">
			<div class="row-fluid">
				<table class="table table-condensed">
					<thead>
						<tr>
							<td>Nombre</td>
							<td>Código</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for motivo in motivos %}
							<tr>
								<td><a href="{{ path('motivotx_show', {'id': motivo.id} ) }}">{{ motivo.nombre }}</a></td>
								<td>{{ motivo.code}}</td>
								<td>  <a href="{{ path('motivotx_edit', {'id': motivo.id } ) }}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i></a></td>
							</tr>


						{% endfor %}
					</tbody>

				</table>
			</div>
		</div>
	</section>
{% endblock %}
