{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	{{ motivotx.nombre }}
{% endblock %}
{% block subtitulo %}Nuevo
{% endblock %}

{% block formulario %}
	<form class="form-horizontal" method="POST">
		{% embed "app/Template_aker/panel_form.html.twig" %}
			{% block titulo %}Datos del Motivo
			{% endblock %}
			{% block cuerpo %}
				<div>{{ form_errors(form) }}</div>
				<div class="row-fluid">

					<h4>Datos del Motivo de Transmisión</h4>
					<fieldset>
						{{ form_errors(form) }}
						{{ form_widget(form.nombre) }}
						{{ form_widget(form.code) }}
						{{ form_rest(form) }}
					</fieldset>
				</div>

			{% endblock %}
			{% block botones %}
				<input type="submit" class="btn btn-primary" id="crear" value="Crear"/>
				<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
			{% endblock %}
		{% endembed %}
	</form>
{% endblock %}
