{% extends "app/Template_aker/show.html.twig" %}

{% block titulo %}Motivos de Transmisión
{% endblock %}
{% block formdelete %}
	{% include "backend/MotivoTx/delete_form.html.twig" %}
{% endblock %}


{% block contentpanel %}
	<section class="panel">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					<h4>{{ motivotx.nombre }}</h4>
					<p class="text-muted font-size-sm">
						Código:{{ motivotx.code }}
					</p>
				</div>
			</div>

		</div>
	</section>
{% endblock %}
