{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form with ['app/Form/calypso_fields.html.twig', 'app/Form/informes.html.twig'] %}

{% block titulo %}Retirar servicio de Centro de costo{% endblock %}

{% block formulario %}
    <div class="row-fluid row-show">    
        <form class="form-horizontal"  method="POST" >
            {% embed "app/Template_aker/panel_form.html.twig" %}
                {% block titulo %}
                    {{prestacion.servicio.nombre}}
                {% endblock %}
                {% block cuerpo %}
                    <div class="col-md-6">
                        <h4>Activo Desde el {{prestacion.inicioPrestacion}}</h4>
                      
                        <div class="row">
                            {{ form_errors(form) }}
                            {{ form_widget(form.fin_prestacion) }}
                            {{ form_widget(form.motivo) }}
                            {{ form_rest(form) }}
                        </div>


                    </div>
                {% endblock %}
                {% block botones %}
                    <input type="submit" class="btn btn-primary" id="crear" value="Retirar" />
                    <a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
                {% endblock %}
            {% endembed %}
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#servicio_motivo").summernote({
             height: 150,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],      
                    ]
        }); 
            $('#servicio_fin_prestacion').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY',
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                },
                maxDate: new Date(),
                minDate: new Date('{{prestacion.inicio_Prestacion|date("Y-m-d H:i:s") }}')
            });

       
        });
    </script>
{% endblock %}    

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" />
    <style type="text/css">
        .ui-timepicker-div
        .ui-widget-header {
            margin-bottom: 8px;
        }
        .ui-timepicker-div dl {
            text-align: left;
        }
        .ui-timepicker-div dl dt {
            height: 25px;
            margin-bottom: -25px;
        }
        .ui-timepicker-div dl dd {
            margin: 0 10px 10px 65px;
        }
        .ui-timepicker-div td {
            font-size: 12px;
        }
        .ui-tpicker-grid-label {
            background: none;
            border: none;
            margin: 0;
            padding: 0;
        }

        .ui-timepicker-rtl{
            direction: rtl;
        }
        .ui-timepicker-rtl dl {
            text-align: right;
        }
        .ui-timepicker-rtl dl dd {
            margin: 0 65px 10px 10px;
        }
    </style>
{% endblock %}