{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ centrocosto.nombre }}{% endblock %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        <div class="row">
            {% embed "app/Template_aker/panel_form.html.twig" %}
                {% block titulo %}Retirar servicios{% endblock %}
                {% block cuerpo %}
                    <fieldset>
                        {{ form_errors(form) }}
                        <div class="row-fluid">
                            <div class="col-md-8">
                                {{ form_widget(form.servicio) }}
                                {{ form_widget(form._token) }}
                                {{ form_widget(form.fin_prestacion) }}
                                {{ form_widget(form.motivo) }}

                            </div>
                        </div>
                                {{ form_rest(form) }}
                    </fieldset>
                {% endblock %}
                {% block botones %}
                    <input type="submit" class="btn btn-primary" id="crear" value="Retirar" />
                    <a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
                {% endblock %}
            {% endembed %}
        </div>
    </form>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
              $('#servicio_fin_prestacion').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY',
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                },
                maxDate: new Date()
            })
            $("#servicio_servicio").select2();
            $("#servicio_motivo").summernote({
             height: 150,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
      
                    ]
        }); 
         
        });
    </script>
{% endblock %}    

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" />
    <style type="text/css">
        .ui-timepicker-div
        .ui-widget-header {
            margin-bottom: 8px;
        }
        .ui-timepicker-div dl {
            text-align: left;
        }
        .ui-timepicker-div dl dt {
            height: 25px;
            margin-bottom: -25px;
        }
        .ui-timepicker-div dl dd {
            margin: 0 10px 10px 65px;
        }
        .ui-timepicker-div td {
            font-size: 12px;
        }
        .ui-tpicker-grid-label {
            background: none;
            border: none;
            margin: 0;
            padding: 0;
        }

        .ui-timepicker-rtl{
            direction: rtl;
        }
        .ui-timepicker-rtl dl {
            text-align: right;
        }
        .ui-timepicker-rtl dl dd {
            margin: 0 65px 10px 10px;
        }
    </style>
{% endblock %}