{% extends "app/Template_aker/popup.html.twig" %}

{% block modalId %}modalDelete{% endblock %}

{% block modalTitulo %}Eliminar Centro de Costo{% endblock %}

{% block modalUrl %}{{ path('centrocosto_delete', { 'id': centrocosto.id }) }}{% endblock %}

{% block modalBody %}
    <p>Esta seguro de eliminar este Centro de Costo: <strong>{{ centrocosto.nombre|upper }}</strong> ?</p>
    {{ form_widget(delete_form) }}
{% endblock %}

{% block modalOk %}
    <button class="btn btn-danger" type="submit">Eliminar</button>
{% endblock %}
