{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form with ['app/Form/calypso_fields.html.twig', 'app/Form/informes.html.twig'] %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ centrocosto.nombre }}{% endblock %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        <div class="row">
            {% embed "app/Template_aker/panel_form.html.twig" %}
                {% block titulo %}Modificar Centro de Costo{% endblock %}
                {% block cuerpo %}
                    <fieldset>
                        {{ form_errors(form) }}
                        <div class="row-fluid">
                            <div class="col-md-8">
                                {{ form_widget(form.nombre) }}
                                {{ form_rest(form) }}
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </fieldset>
                {% endblock %}
                  {% block botones %}
                    <input type="submit" class="btn btn-primary" id="crear" value="Cambiar" />
                    <a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
                {% endblock %}
            {% endembed %}
        </div>
    </form>
{% endblock %}
