{% extends "app/Template_aker/list.html.twig" %}

{% block titulo %}Centro de Costos{% endblock %}        
{% block contentpanel %}  
    <div class="panel">
        <div class="panel-body pad-h-20">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Centro Costo</th>
                        <th>Servicios</th>
                        <th>Mantenimientos</th>
                        <th>Pedidos de Reparación</th>
                        <th>Ordenes de Trabajo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for centrocosto in centrocostos %}
                        <tr>
                            <td><a href="{{ path('centrocosto_show', {'id': centrocosto.id}) }}">{{ centrocosto.nombre }}</a></td>
                            <td>{{ centrocosto.servicios|length }}</td>
                            <td><div class="progress light m-2">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ indices[centrocosto.id].mante_pendiente}}" aria-valuemax="100" aria-valuemin="0" style="width: {{ indices[centrocosto.id].mante_pendiente}}%;">
                                        {{ indices[centrocosto.id].mante_pendiente}}% Vencidos
                                    </div>
                                </div></td>
                            <td>
                                <div class="progress light m-2">
                                    <div title="Pendientes" class="progress-bar progress-bar-warning" role="progressbar" style="width: {{indices[centrocosto.id].pet_pendiente}}%" aria-valuenow="{{ indices[centrocosto.id].pet_pendiente}}" aria-valuemin="0" aria-valuemax="100">
                                        {{ indices[centrocosto.id].pet_pendiente}}% Pendientes
                                    </div>
                                    <div title="En Curso" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indices[centrocosto.id].pet_encurso}}%" aria-valuenow="{{indices[centrocosto.id].pet_encurso}}" aria-valuemin="0" aria-valuemax="100">
                                        {{ indices[centrocosto.id].pet_encurso}}% En Curso
                                    </div>
                                    <div title="Detenidos" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indices[centrocosto.id].pet_detenida}}%" aria-valuenow="{{indices[centrocosto.id].pet_detenida}}" aria-valuemin="0" aria-valuemax="100">
                                        {{ indices[centrocosto.id].pet_detenida}}% Detenidos
                                    </div>
                                    <div title="Realizados" class="progress-bar progress-bar-success" role="progressbar" style="width: {{indices[centrocosto.id].pet_realizada}}%" aria-valuenow="{{indices[centrocosto.id].pet_realizada}}" aria-valuemin="0" aria-valuemax="100">
                                        {{ indices[centrocosto.id].pet_realizada}}% Realizados
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress light m-2">
                                    <div title="Nuevas" class="progress-bar progress-bar-default" role="progressbar" style="width: {{indices[centrocosto.id].ot_nueva}}%" aria-valuenow="{{ indices[centrocosto.id].ot_nueva}}" aria-valuemin="0" aria-valuemax="100">
                                        {{ indices[centrocosto.id].ot_nueva}}% Nuevas
                                    </div>
                                    <div title="En Curso" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indices[centrocosto.id].ot_encurso}}%" aria-valuenow="{{indices[centrocosto.id].ot_encurso}}" aria-valuemin="0" aria-valuemax="100">
                                        {{ indices[centrocosto.id].ot_encurso}}% En Curso
                                    </div>
                                    <div title="Realizadas" class="progress-bar progress-bar-success" role="progressbar" style="width: {{indices[centrocosto.id].ot_realizada}}%" aria-valuenow="{{indices[centrocosto.id].ot_realizada}}" aria-valuemin="0" aria-valuemax="100">
                                        {{ indices[centrocosto.id].ot_realizada}}% Realizadas
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>
                                {% if is_granted('ROLE_OBJETIVO_EDITAR') %}
                                    <a href="{{ path('centrocosto_edit', {'id': centrocosto.id} ) }}" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                    {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

