<table class="table table-condensed">
	<thead>
		<tr>
			<th style="width: 25%;">Servicio</th>
			<th style="width: 12%;">Activo desde...</th>
			<th style="width: 5%;">Uso c/24hs</th>
			<th style="width: 5%;">Estado</th>
			<th style="width: 10%;">Mant. Vencidos</th>
			<th style="width: 9%;">Pedidos de Reparación</th>
			<th style="width: 9%;">Ordenes Trabajo</th>
			<th style="width: 9%;">Datos al...</th>
			<th style="width: 30%;"></th>

		</tr>
	</thead>
	<tbody>
		{% for data in servicios %}
			<tr>
				<td>
					<a href="{{ path('servicio_show', {'id': data.prestacion.servicio.id, 'tab': 'prestacion'} ) }}">
						{{ data.servicio.nombre }}
					</a>
				</td>
				<td>{{ data.prestacion is null ? 'n/a' : data.prestacion.inicioPrestacion }}</td>
				<td>{{ data.prestacion is null ? 'n/a' : data.prestacion.horasUso|default('n/a') }}</td>
				<td>
					{{ data.prestacion.estado == 0 ? 'Pausado' : 'Marcha' }}
				</td>
				<td>
					{% if indicesBarraServ[data.servicio.id].mante_total > 0 %}
						<div class="progress light m-2">
							<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ indicesBarraServ[data.servicio.id].mante_pendiente}}" aria-valuemax="100" aria-valuemin="0" style="width: {{ indicesBarraServ[data.servicio.id].mante_pendiente}}%;">
								{{ indicesBarraServ[data.servicio.id].mante_pendiente}}% ({{ indicesBarraServ[data.servicio.id].mant_cant_pendiente }}
								de
								{{ data.servicio.mantenimientos|length() }})
							</div>
						</div>
					{% endif %}
				</td>
				<td>
					<div class="progress light m-2">
						<div title="Pendientes" class="progress-bar progress-bar-warning" role="progressbar" style="width: {{indicesBarraServ[data.servicio.id].pet_pendiente}}%" aria-valuenow="{{ indicesBarraServ[data.servicio.id].pet_pendiente}}" aria-valuemin="0" aria-valuemax="100">
							{{ indicesBarraServ[data.servicio.id].pet_pendiente}}% Pendientes
						</div>
						<div title="En Curso" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indicesBarraServ[data.servicio.id].pet_encurso}}%" aria-valuenow="{{indicesBarraServ[data.servicio.id].pet_encurso}}" aria-valuemin="0" aria-valuemax="100">
							{{ indicesBarraServ[data.servicio.id].pet_encurso}}% En Curso
						</div>
						<div title="Detenidos" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indicesBarraServ[data.servicio.id].pet_detenida}}%" aria-valuenow="{{indicesBarraServ[data.servicio.id].pet_detenida}}" aria-valuemin="0" aria-valuemax="100">
							{{ indicesBarraServ[data.servicio.id].pet_detenida}}% Detenidos
						</div>
						<div title="Realizados" class="progress-bar progress-bar-success" role="progressbar" style="width: {{indicesBarraServ[data.servicio.id].pet_realizada}}%" aria-valuenow="{{indicesBarraServ[data.servicio.id].pet_realizada}}" aria-valuemin="0" aria-valuemax="100">
							{{ indicesBarraServ[data.servicio.id].pet_realizada}}% Realizados
						</div>
					</div>
				</td>
				<td>
					<div class="progress light m-2">
						<div title="Nuevas" class="progress-bar progress-bar-default" role="progressbar" style="width: {{indicesBarraServ[data.servicio.id].ot_nueva}}%" aria-valuenow="{{ indicesBarraServ[data.servicio.id].ot_nueva}}" aria-valuemin="0" aria-valuemax="100">
							{{ indicesBarraServ[data.servicio.id].ot_nueva}}% Nuevas
						</div>
						<div title="En Curso" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indicesBarraServ[data.servicio.id].ot_encurso}}%" aria-valuenow="{{indicesBarraServ[data.servicio.id].ot_encurso}}" aria-valuemin="0" aria-valuemax="100">
							{{ indicesBarraServ[data.servicio.id].ot_encurso}}% En Curso
						</div>
						<div title="Realizadas" class="progress-bar progress-bar-success" role="progressbar" style="width: {{indicesBarraServ[data.servicio.id].ot_realizada}}%" aria-valuenow="{{indicesBarraServ[data.servicio.id].ot_realizada}}" aria-valuemin="0" aria-valuemax="100">
							{{ indicesBarraServ[data.servicio.id].ot_realizada}}% Realizadas
						</div>
					</div>
				</td>
				<td>
					<small>
						<i>
							{{ indicesBarraServ[data.servicio.id].fecha }}
						</i>
					</small>
				</td>
				<td>
					{% if data.prestacion.estado == 1 %}
						<a href="{{ path('centrocosto_servicio_pausar', {'id': data.prestacion.id} ) }}" class="btn btn-xs btn-danger">
							<i class="fa fa-pause"></i>
						</a>
					{% else %}
						<a href="{{ path('centrocosto_servicio_iniciar', {'id': data.prestacion.id} ) }}" class="btn btn-xs btn-success">
							<i class="fa fa-play"></i>
						</a>
					{% endif %}
					<a href="{{ path('centrocosto_servicio_retirar', {'id': data.prestacion.id } ) }}" class="btn btn-default btn-xs">Desafectar</a>
					<a href="{{ path('centrocosto_servicio_addstop', {'id': data.prestacion.id } ) }}" class="btn btn-default btn-xs">Agregar Pausa</a>
					<a href="{{ path('prestacion_servicio_editar', {'id': data.prestacion.id } ) }}" class="btn btn-default btn-xs">Modificar</a>
				</td>

			</tr>
		{% endfor %}
	</tbody>
</table>
