<div class="row-fluid row-show">
    <div class="panel">
        <div class="panel-body pad-h-20">        
            <div class="col-md-4">
                <legend>Centro de Costo</legend>
                {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': centrocosto.nombre } %} 
            </div>
            <div class="col-md-8"> 
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Mantenimientos</th>
                            <th>Pedidos de Reparación</th>
                            <th>Ordenes Trabajo</th>
                        </tr>
                    </thead>
                    <tbody>
                    <td><div class="progress light m-2">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ indicesBarraCC.mante_pendiente}}" aria-valuemax="100" aria-valuemin="0" style="width: {{ indicesBarraCC.mante_pendiente}}%;">
                                {{ indicesBarraCC.mante_pendiente}}% Vencidos
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="progress light m-2">
                            <div title="Pendientes" class="progress-bar progress-bar-warning" role="progressbar" style="width: {{indicesBarraCC.pet_pendiente}}%" aria-valuenow="{{ indicesBarraCC.pet_pendiente}}" aria-valuemin="0" aria-valuemax="100">
                                {{ indicesBarraCC.pet_pendiente}}% Pendientes
                            </div>
                            <div title="En Curso" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indicesBarraCC.pet_encurso}}%" aria-valuenow="{{indicesBarraCC.pet_encurso}}" aria-valuemin="0" aria-valuemax="100">
                                {{ indicesBarraCC.pet_encurso}}% En Curso
                            </div>
                            <div title="Detenidos" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indicesBarraCC.pet_detenida}}%" aria-valuenow="{{indicesBarraCC.pet_detenida}}" aria-valuemin="0" aria-valuemax="100">
                                {{ indicesBarraCC.pet_detenida}}% Detenidos
                            </div>
                            <div title="Realizados" class="progress-bar progress-bar-success" role="progressbar" style="width: {{indicesBarraCC.pet_realizada}}%" aria-valuenow="{{indicesBarraCC.pet_realizada}}" aria-valuemin="0" aria-valuemax="100">
                                {{ indicesBarraCC.pet_realizada}}% Realizados
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="progress light m-2">
                            <div title="Nuevas" class="progress-bar progress-bar-default" role="progressbar" style="width: {{indicesBarraCC.ot_nueva}}%" aria-valuenow="{{ indicesBarraCC.ot_nueva}}" aria-valuemin="0" aria-valuemax="100">
                                {{ indicesBarraCC.ot_nueva}}% Nuevas
                            </div>
                            <div title="En Curso" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indicesBarraCC.ot_encurso}}%" aria-valuenow="{{indicesBarraCC.ot_encurso}}" aria-valuemin="0" aria-valuemax="100">
                                {{ indicesBarraCC.ot_encurso}}% En Curso
                            </div>
                            <div title="Realizadas" class="progress-bar progress-bar-success" role="progressbar" style="width: {{indicesBarraCC.ot_realizada}}%" aria-valuenow="{{indicesBarraCC.ot_realizada}}" aria-valuemin="0" aria-valuemax="100">
                                {{ indicesBarraCC.ot_realizada}}% Realizadas
                            </div>
                        </div>
                    </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid row-show">
    <div class="panel">
        <div class="panel-body pad-h-20">
            <div class="col-md-12">
                <legend>Servicios Asignados</legend>
                <div id="divServicios">
                    {% include "mante/CentroCosto/servicios.html.twig" with {'servicios': servicios} %}
                </div>

            </div>
        </div>
    </div>
</div>


