{% extends "app/Template_aker/show_tabs.html.twig" %}
{% import "app/Macros/servicio.html.twig" as macros %}
{#{% form_theme formServicio with ['app/Form/calypso_fields.html.twig', 'app/Form/informes.html.twig'] %}#}

{% block formdelete %}
    {% include "mante/CentroCosto/delete_form.html.twig" %}
{% endblock %} 

{% block titulo %}{{ centrocosto.nombre }}{% endblock %}

{% block contenthead %}
    <ul class="nav nav-tabs">
        {% if is_granted('ROLE_FLOTA_VER') %}
            <li {{ tab == 'main' ? "class='active'" : ""  }}><a href="{{ path('centrocosto_show', {'id': centrocosto.id}) }}">Datos</a></li>
            <li {{ tab == 'bitacora' ? "class='active'" : ""  }}><a href="{{ path('centrocosto_show_bitacora', {'id': centrocosto.id, 'tab': 'bitacora'}) }}">Bitacora</a></li>
            {% endif %}

    </ul>
{% endblock %}
{% block contentpanel %}
    {% if tab == 'main' %}
        {% include "mante/CentroCosto/show_main.html.twig" %}  
    {% elseif tab == 'bitacora' %}
        {% include "mante/CentroCosto/show_bitacora.html.twig" %}  

    {% endif %}    
{% endblock %}    

{% block js %}
    {{ parent() }}
    <script type="text/javascript">

    </script>
{% endblock %}    

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" />
    <style type="text/css">
        .ui-timepicker-div
        .ui-widget-header { margin-bottom: 8px; }
        .ui-timepicker-div dl { text-align: left; }
        .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
        .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
        .ui-timepicker-div td { font-size: 12px; }
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

        .ui-timepicker-rtl{ direction: rtl; }
        .ui-timepicker-rtl dl { text-align: right; }
        .ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
    </style>
{% endblock %}