{% if stocks|length%}
                <h4>Productos en stock</h4>
                <div>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Código</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Stock</th>
                                <th>Ult. Compra</th>
                                <th>Ult. Proveedor</th>
                                <th>Ult. Costo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stock in stocks %}
                                <tr>
                                    <td><a href="{{ path('producto_show',{'id': stock.producto.id}) }}">{{ stock.producto.nombre }}</a></td>
                                    <td>{{ stock.producto.codigo }}</td>
                                    <td>{{ stock.producto.marca }}</td>
                                    <td>{{ stock.producto.modelo }}</td>
                                    <td>{{ stock.stock }}</td>
                                    <td>{{ stock.ultCompra|date('d/m/Y H:i:s') }}</td>
                                    <td>{{ stock.ultProveedor }}</td>
                                    <td>{{ stock.costo }}</td>
                                    <td>
                                        <button class="btn btn-small" type="button" id="stock_del" onClick="stockDel('{{ stock.id }}', '{{stock.producto.nombre }}', '{{stock.deposito.nombre}}')">
                                            <i class="icon-minus-sign"  title="Elimina el stock del Depósito"></i> Eliminar
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
{# empty Twig template #}
