{% extends "app/Template/list.html.twig" %}

{% block titulo %}Depósitos{% endblock %}        
{% block contentpanel %}  
    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Depósito</th>
                    <th>Dirección</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for deposito in depositos %}
                    <tr>
                        <td><a href="{{ path('deposito_show', {'id': deposito.id}) }}">{{ deposito.nombre }}</a></td>
                        <td>{{ deposito.direccion }}</td>
                        <td>{{ deposito.descripcion }}</td>
                        <td>
                            {% if is_granted('ROLE_DEPOSITO_EDITAR') %}
                                <a href="{{ path('deposito_edit', {'id': deposito.id} ) }}" class="btn btn-small">Editar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
         </table>
    </div>
{% endblock %}

