{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ organizacion }}{% endblock %}

{% block subtitulo %}Creación de Depósito{% endblock %}

{% block formulario %}
    <form class="form-horizontal" action="{{ path('deposito_new', {'idorg': organizacion.id} ) }}"  method="POST" >
        <fieldset>
            {{ form_errors(form) }}
            <div class="row-fluid">
                <div class="span8">
                    <legend>Datos del Depósito</legend>
                    {{ form_widget(form.nombre) }}
                    {{ form_widget(form.direccion) }}
                    {{ form_widget(form.descripcion) }}
                    {{ form_rest(form) }}
                </div>
                <div class="span4">
                </div>
            </div>
            {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Agregar' } %}
        </fieldset>
    </form>
{% endblock %}
