<div id="modalCrearDeposito" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Crear Deposito</h3>
    </div>

    <div class="modal-body">
        <legend>Datos del Depósito</legend>
        <div class="control-group ">
            <label class="control-label">Deposito</label>
            <div class="controls">
                <input id="deposito_nombre" name="deposito[nombre]" required="required" maxlength="255" class="" type="text">
                <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" onClick="cargarDeposito({{organizacion.id}})">Agregar</button>
        <a id="boton-cancelar" href="" class="btn secondary">Cancelar</a>
    </div>

</div>

