{% extends "app/Template/list.html.twig" %}
{% form_theme formStock 'app/Form/calypso_fields.html.twig' %}

{% block formdelete %}
    {% include "mante/Deposito/delete_form.html.twig" %}
{% endblock %} 

{% block titulo %}{{ deposito.nombre }}{% endblock %}

{% block informacion %}
{% endblock %}     

{% block contentpanel %}
    <div class="row-fluid row-show">
        <div class="span12">
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': deposito.nombre } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Dirección', 'data': deposito.direccion } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Descripción', 'data': deposito.descripcion } %} 
            <div id="tablaProductos">
                {% include "mante/Deposito/content_show.html.twig" with {'stocks': stocks } %}
            </div>
        </div>
    </div>
    {% include "mante/Deposito/popup_producto.html.twig" %} 
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            //PRODUCTO
            $("#stock_producto").select2({
                ajax: {
                    url: "{{ path('producto_get') }}",
                    data: function (params) {
                        var query = {
                            idOrg: "{{ deposito.organizacion.id }}",
                            search: params.term,
                            type: 'public'
                        };
                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    dataType: 'json'
                },
                language: {
                    noResults: function () {
                        return '<a href="#modalProducto2" data-toggle="modal" >Agregar producto</a>'
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
        });
        $('#btnStockAdd').click(function () {
            var req = $.ajax({
                type: 'POST',
                url: "{{ path('stock_addstock') }}",
                data: {
                    'id': "{{ deposito.organizacion.id }}",
                    'destino': '0',
                    'formStock': $("#formStock").serialize(), //form de productos
                },
                dataType: "json",
                //async: true,
                beforeSend: function () {
                },
            });
            req.done(function (respuesta) {
                $("#tablaProductos").text("");
                $("#tablaProductos").html(respuesta.html);
                $('#modalProducto').modal('toggle');   //cierro el form
            });
        });

        function stockDel(idStock, nombre, deposito) {
            var r = confirm('Esta seguro de eliminar el stock de  "' + nombre + '" del depósito ' + deposito);
            if (r == true) {
                var req = $.ajax({
                    type: 'POST',
                    url: "{{ path('stock_delstock') }}",
                    data: {
                        'idStock': idStock,
                        'destino': '0',
                        'id': "{{ deposito.organizacion.id }}",
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaProductos").text("");
                    $("#tablaProductos").html(respuesta.html);
                });
            }
        }
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $("#stock_ult_compra").datepicker({dateFormat: 'dd/mm/yy'});

        });

    </script>
{% endblock  %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" />
    <style type="text/css">
        .ui-timepicker-div
        .ui-widget-header { margin-bottom: 8px; }
        .ui-timepicker-div dl { text-align: left; }
        .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
        .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
        .ui-timepicker-div td { font-size: 12px; }
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

        .ui-timepicker-rtl{ direction: rtl; }
        .ui-timepicker-rtl dl { text-align: right; }
        .ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
    </style>
{% endblock %}