{% if step == 1 %}
Indica como se quiere visualizar el resultado del informe. Este informe sólo tiene salida por pantalla.
{% elseif step == 2 %}
Referencia o grupo de referencias para los que se controlara el paso de los vehiculos por la/s misma.
{% elseif step == 3 %}
Selecciona que equipos son los que van a ser incluidos en el informe. Puede hacerlo para todos los equipos (puede demorarse en la generación) o bien realizar la consulta
para un equipo en particular. </br> Si tiene grupos de equipos configurados, el nombre del grupo se mostrara con el prefijo <b>Grp</b> he incluirá a todos
los equipos de dicho grupo.
{% elseif step == 4  %}
Es el perído que quiere consultar. La fecha desde no puede ser mayor que la fecha hasta y las mismas no pueden ser vacias. <br>
Mientras mas días incluya en el período mas tiempo puede demorarse la generación.
{% elseif step ==  5 %}
Es el tiempo mínimo que debe estar el equipo en una referencia para considerarse que esta dentro. Por ejemplo,
si no quiere ver los equipos que solo pasaron por la referencia, coloque este valor a uno o dos minutos, de esta 
forma ignorará la referencia.
{% endif %}