{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Informe de viajes de Canbus{% endblock %}
{% block titulo %}Informe de viajes de Canbus{% endblock %}

{% block informacion %}
Desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>.
[ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
<form name="formexport" action="{{ path('informe_canbus_resumen_exportar', {'tipo':  '0' }) }}" method="POST" >
    <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
    <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
</form>
{% endblock %}

{% block contentpanel %}
{% if informe is not null %}
    {% if informe|length > 0 %}
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th>Servicio</th>
                <th>Viaje</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Tiempo<br>(hs)</th>
                <th>Distancia<br> (kms)</th>
                <th>Combustible<br>(litros)</th>
                <th>Rendimiento<br>(kms/lts)</th>
                <th>Veloc. Max</th>
                <th>Rpm Max.</th>
                <th>Marcha<br>Tiempo</th>
                <th>Marcha<br>Litros</th>
                <th>Ralenti<br>Tiempo</th>
                <th>Ralenti<br>Litros</th>
                <th>Crucero<br>Tiempo</th>
                <th>Crucero<br>Litros</th>
                <th>Crucero<br>Kms</th>
                <th>Crucero<br>Cantidad</th>
                <th>Carga Motor</th>
                <th>Uso Freno</th>
                <th>Uso Retarder</th>
                <th>Uso Embrague</th>
            </tr>
        </thead>
        <tbody>
            {% for nombre, viajes in informe %}
                {% if viajes.data != null %}
                    {% if consulta.mostrar_totales is defined %}
                       {% set rowspan = 2 %}
                    {% else %}    
                       {% set rowspan = 1 %}
                    {% endif %}    
                    <tr>
                        <th rowspan={{ viajes.data|length  + rowspan }}>{{ nombre }}</th>
                        {% for id, trama in viajes.data %}
                            <tr>
                                <td style="text-align: center">{{ trama.viaje }}</td>
                                <td>{{ trama.fecha_inicio|date('d-m-Y H:i:s') }}</td>
                                <td>{{ trama.fecha_fin|date('d-m-Y H:i:s') }}</td>
                                <td>{{ trama.tiempo }}</td>
                                <td style="text-align: right">{{ trama.distancia }}</td>
                                <td style="text-align: right">{{ trama.consumo|number_format(1) }}</td>
                                <td style="text-align: center">{{ trama.rendimiento|number_format(2) }}</td>
                                <td style="text-align: right">{{ trama.max_velocidad }}</td>
                                <td>{{ trama.max_rpm }}</td>
                                <td>{{ trama.marcha_tiempo }}</td>
                                <td>{{ trama.marcha_consumo|number_format(1) }}</td>
                                <td>{{ trama.ralenti_tiempo }}</td>
                                <td>{{ trama.ralenti_consumo|number_format(1) }}</td>
                                <td>{{ trama.crucero_tiempo }}</td>
                                <td>{{ trama.crucero_consumo|number_format(1) }}</td>
                                <td>{{ trama.crucero_distancia|number_format(1) }}</td>
                                <td>{{ trama.crucero_cantidad|number_format(1) }}</td>
                                <td>{{ trama.carga_motor }}</td>
                                <td>{{ trama.cant_freno }}</td>
                                <td>{{ trama.cant_retarder }}</td>
                                <td>{{ trama.cant_embrague }}</td>
                            </tr>
                        {% endfor %}
                        {% if consulta.mostrar_totales is defined %}
                           <tr style="background-color: #eee" >
                                <th colspan="3">Total para {{ viajes.totales.viaje }} viajes</th>
                                <th>{{ viajes.totales.tiempo }}</th>
                                <th style="text-align: right">{{ viajes.totales.distancia }}</th>
                                <th style="text-align: right">{{ viajes.totales.consumo|number_format(1) }}</th>
                                <th style="text-align: center">{{ viajes.totales.rendimiento|number_format(2) }}</th>
                                <th style="text-align: right">{{ viajes.totales.max_velocidad }}</th>
                                <th>{{ viajes.totales.max_rpm }}</th>
                                <th>{{ viajes.totales.marcha_tiempo }}</th>
                                <th>{{ viajes.totales.marcha_consumo|number_format(1) }}</th>
                                <th>{{ viajes.totales.ralenti_tiempo }}</th>
                                <th>{{ viajes.totales.ralenti_consumo|number_format(1) }}</th>
                                <th>{{ viajes.totales.crucero_tiempo }}</th>
                                <th>{{ viajes.totales.crucero_consumo|number_format(1) }}</th>
                                <th>{{ viajes.totales.crucero_distancia|number_format(1) }}</th>
                                <th>{{ viajes.totales.crucero_cantidad|number_format(1) }}</th>
                                <th>{{ viajes.totales.carga_motor|number_format(1) }}</th>
                                <th>{{ viajes.totales.cant_freno }}</th>
                                <th>{{ viajes.totales.cant_retarder }}</th>
                                <th>{{ viajes.totales.cant_embrague }}</th>
                           </tr>
                       {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
            <em>No hay información para este servicio</em>
    {% endif %}
{% endif %}
{% endblock %}