<table class="table table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>Mapa</th>
			{% for categoria in data.categorias %}
				<th colspan="4">{{ categoria }}</th>
			{% endfor %}
			<th colspan="4">Fuera de Referencias</th>
			<th colspan="5"></th>
		</tr>
		<tr>
			<th></th>
			<th></th>
			{# referencia con categoria #}
			{% for categoria in data.categorias %}
				<td>Leve</td>
				<td>Medio</td>
				<td>Alto</td>
				<td>IR</td>
			{% endfor %}
			{# fuera de referencia #}
			<td>Leve</td>
			<td>Medio</td>
			<td>Alto</td>
			<td>IR</td>

			<td>Total Hs.</td>
			<td>Detenido</td>
			<td>Ralentí</td>
			<td>Total Kms.</td>
			<td>IR Total</td>
		</tr>
	</thead>
	<tbody>
		{% for key, datos in data %}
			{% if key != 'categorias' %}
				<tr>
					<td style="width: 200px;">{{ key }}</td>
					<td>
						{% if datos.ir_total.valor > 0 %}
							<button onclick="detalle('{{ inbox.uid }}','{{ datos.id }}')" title="ver detalles de este servicio" class="btn btn-sm btn-default">
								<i class="fa fa-eye"></i>
							</button>
						{% endif %}
					</td>
					{% for categoria in data.categorias %}
						{% if datos.zonas[categoria].leve is defined %}
							<td>{{ datos.zonas[categoria].leve.cantidad }}</td>
						{% else %}
							<td>---</td>
						{% endif %}
						{% if datos.zonas[categoria].medio is defined %}
							<td>{{ datos.zonas[categoria].medio.cantidad }}</td>
						{% else %}
							<td>---</td>
						{% endif %}
						{% if datos.zonas[categoria].alto is defined %}
							<td>{{ datos.zonas[categoria].alto.cantidad }}</td>
						{% else %}
							<td>---</td>
						{% endif %}
						{% if datos.zonas[categoria].ir is defined %}
							<td class="text-right">
								<span class="label label-{{ datos.zonas[categoria].ir.color }}">{{ datos.zonas[categoria].ir.valor|number_format(1, '.', '') }}</span>
							</td>
						{% else %}
							<td>---</td>
						{% endif %}
					{% endfor %}

					{% if datos.zonas.Fuera.leve is defined %}
						<td>{{ datos.zonas.Fuera.leve.cantidad }}</td>
					{% else %}
						<td>---</td>
					{% endif %}
					{% if datos.zonas.Fuera.medio is defined %}
						<td>{{ datos.zonas.Fuera.medio.cantidad }}</td>
					{% else %}
						<td>---</td>
					{% endif %}
					{% if datos.zonas.Fuera.alto is defined %}
						<td>{{ datos.zonas.Fuera.alto.cantidad }}</td>
					{% else %}
						<td>---</td>
					{% endif %}
					{% if datos.zonas.Fuera.ir is defined %}
						<td class="text-right">
							<span class="label label-{{ datos.zonas.Fuera.ir.color }}">{{ datos.zonas.Fuera.ir.valor|number_format(1, '.', '') }}</span>
						</td>
					{% else %}
						<td>---</td>
					{% endif %}
					<td>
						{% if datos.tiempo_total is defined %}
							{{ datos.tiempo_total }}
						{% endif %}
					</td>
					<td>
						{% if datos.tiempo_detenido is defined %}
							{{ datos.tiempo_detenido }}
						{% endif %}
					</td>
					<td>
						{% if datos.tiempo_ralenti is defined %}
							{{ datos.tiempo_ralenti }}
						{% endif %}
					</td>
					<td>
						{% if datos.total_metros_recorridos is defined %}
							{{ datos.total_metros_recorridos|number_format(0, '', '') }}
						{% endif %}
					</td>
					<td class="text-right">
						{% if datos.ir_total.valor is defined %}
							<span class="label label-{{ datos.ir_total.color }}">{{ datos.ir_total.valor|number_format(1, '.', '') }}</span>
						{% endif %}
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>
