<section class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Detalles del Informe			
			{% if isExport and notIsEmpty %}
				<a href="javascript:void(0)" class="btn btn-default btn-primary btn-sm pull-right" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a>
				<form name="formexport" action="{{ path('informe_export') }}" method="POST">
				<input type="hidden" name="uid" value="{{ uid}}"/>
				</form>
			{% endif %}
		</div>
		
	</div>
	<div class="panel-body">
	<div class="row-fluid"> <strong> Asunto: </strong>{{ dataInforme and dataInforme.asunto is defined ? dataInforme.asunto : '---' }} </div>
		<table class="table table-condensed">
			<tr>
				<td>
					<strong>Desde</strong>
				</td>
				<td>{{ dataInforme and dataInforme.desde ? dataInforme.desde : '---' }}</td>
				<td>
					<strong>Max Referencia</strong>
				</td>
				<td>{{ dataInforme and dataInforme.max_referencia ? dataInforme.max_referencia : '---' }}</td>
			</tr>
			<tr>
				<td>
					<strong>Hasta</strong>
				</td>
				<td>{{ dataInforme and dataInforme.hasta ? dataInforme.hasta : '---' }}</td>
				<td>
					<strong>Max Resto</strong>
				</td>
				<td>{{ dataInforme and dataInforme.max_resto ? dataInforme.max_resto : '---' }}</td>
			</tr>

			<tr>
				<td>
					<strong>Chofer</strong>
				</td>
				<td>{{ dataInforme and dataInforme.nombreChofer ? dataInforme.nombreChofer : '---' }}</td>
				<td>
					<strong>Referencia</strong>
				</td>
				<td>{{ dataInforme and dataInforme.nombreReferencia ? dataInforme.nombreReferencia : '---' }}</td>
			</tr>
	
		</table>
	</div>
