{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ mantenimiento.nombre }}{% endblock %}

{% block subtitulo %}Creación de Actividad{% endblock %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        <fieldset>
            {{ form_errors(form) }}
            <div class="row-fluid">
                <div class="span8">
                    {{ form_widget(form.nombre) }}
                </div>
            </div>
            {{ form_widget(form._token) }}
            {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Grabar' } %}
        </fieldset>
    </form>
{% endblock %}
