{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ actividad.nombre }}{% endblock %}
{% block subtitulo %}Agregado de producto{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock js %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        <fieldset>
            <div class="row-fluid">
                <div>{{ form_errors(form) }}</div>
                <div class="span7">
                    {{ form_widget(form.producto) }}
                    {{ form_widget(form.cantidad) }}
                    {{ form_rest(form) }}    
                </div>
                <div class="span4">
                    <h4>información</h4>
                    <p></p>
                </div>
            </div>

            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Agregar" />
                <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>
        </fieldset>
    </form>
{% endblock %}
