<h1>Variable list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombrekey</th>
            <th>Unidadmedida</th>
            <th>Cotaminima</th>
            <th>Cotamaxima</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('variable_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombreKey }}</td>
            <td>{{ entity.unidadMedida }}</td>
            <td>{{ entity.cotaMinima }}</td>
            <td>{{ entity.cotaMaxima }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('variable_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('variable_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('variable_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
