{% extends "app/Template/form.html.twig" %}

{% block titulo %}Alta de Nueva Variable de Modelo{% endblock %}
{% block informacion %}
    <div class="alert-message block-message info">
        Ingreso de características propias de un modelo de equipo.
    </div>
{% endblock %}
{% block formulario %}
<form action="{{ path('variable_create') }}" method="post" >
    <div>{{ form_errors(form) }}</div>
    <fieldset>
            <div class="clearfix">
                <label>{{ form_label(form.nombreKey, 'Nombre Key') }}</label>
                <div class="input">{{ form_widget(form.nombre) }}</div>
            </div>
            <div class="clearfix">
                <label>{{ form_label(form.unidadMedida, 'Unidada de Medida') }}</label>
                <div class="input">{{ form_widget(form.unidadMedida) }}</div>
            </div>   
            <div class="clearfix">
                <label>{{ form_label(form.cotaMinima, 'Cota Mínima') }}</label>
                <div class="input">{{ form_widget(form.cotaMinima) }}</div>
            </div>   
            <div class="clearfix">
                <label>{{ form_label(form.cotaMaxima, 'Cota Máxima') }}</label>
                <div class="input">{{ form_widget(form.cotaMaxima) }}</div>
            </div>   
            <div class="clearfix">
                {{ form_rest(form) }}
            </div> 
    </fieldset>
    <div class="actions">
        <input type="submit" class="btn primary" value="Agregar" />
        <a href="{{ path('pais_index') }}" class="btn">Cancelar</a>
    </div>
</form>

</div>
{% endblock %}