<h1>Variable</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombrekey</th>
            <td>{{ entity.nombreKey }}</td>
        </tr>
        <tr>
            <th>Unidadmedida</th>
            <td>{{ entity.unidadMedida }}</td>
        </tr>
        <tr>
            <th>Cotaminima</th>
            <td>{{ entity.cotaMinima }}</td>
        </tr>
        <tr>
            <th>Cotamaxima</th>
            <td>{{ entity.cotaMaxima }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('variable') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('variable_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('variable_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>
