{% if indices|length > 0 %}
    <div class="col-md-12">
        <legend>Mantenimientos Preventivos</legend>
        <div class="col-md-6">
        <div id="curve_chart" style="width:100%; height: 170px"></div>
        </div>
        <div class="col-md-6">
        <div id="curve_chart1" style="width:100%; height: 170px"></div>
        </div>
        <table class="table table-condensed table-hover tablaIndice">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Nuevos</th>
                    <th>Pendientes</th>
                    <th>Realizados</th>
                    <th title="Indice realizados/nuevos">Indice R/N</th>
                    <th title="Indice realizados/pendientes">Indice R/P</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in indices.indices%}
                    <tr>
                        <td>{{key}}</td>
                        <td>{{value.mantenimiento_nuevo}}</td>
                        <td>{{value.mantenimiento_pendiente}}</td>
                        <td>{{value.mantenimiento_realizado}}</td>
                        <td>{{value.mantenimiento_rn}}</td>
                        <td>{{value.mantenimiento_rp}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <div class="col-md-12">
        <legend>Indice de Pedidos de Reparación</legend>
        <div class="col-md-6">
        <div id="curve_chart2" style="width: 100%; height: 170px"></div>
        </div>
        <div class="col-md-6">
        <div id="curve_chart2_1" style="width: 100%; height: 170px"></div>
        </div>
        <table class="table table-condensed table-hover tablaIndice">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Pendientes</th>
                    <th>Nuevos</th>
                    <th>En Curso</th>
                    <th>Detenido</th>
                    <th>Realizados</th>
                    <th title="Indice realizados/nuevos">Indice R/N</th>
                    <th title="Indice realizados/pendientes">Indice R/P</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in indices.indices%}
                    <tr>
                        <td>{{key}}</td>
                        <td>{{value.peticion_pendiente}}</td>
                        <td>{{value.peticion_nuevo}}</td>
                        <td>{{value.peticion_encurso}}</td>
                        <td>{{value.peticion_detenido}}</td>
                        <td>{{value.peticion_realizado}}</td>
                        <td>{{value.peticion_rn}}</td>
                        <td>{{value.peticion_rp}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <legend>Ordenes de Trabajo</legend>
        <div id="curve_chart3" style="width: 100%; height: 170px"></div>
                <table class="table table-condensed table-hover tablaIndice">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Nuevos</th>
                    <th>En Curso</th>
                    <th>Realizados</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in indices.indices%}
                    <tr>
                        <td>{{key}}</td>
                        <td>{{value.ordentrabajo_nuevo}}</td>
                        <td>{{value.ordentrabajo_encurso}}</td>
                        <td>{{value.ordentrabajo_realizado}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}