{% extends "app/Template_aker/informe.html.twig" %}
{% form_theme form with ['app/Form/calypso_fields.html.twig', 'app/Form/informes.html.twig'] %}

{% block titulo %}Indice de Mantenimiento{% endblock %}
{% block css %}
    {{ parent() }}
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet"type="text/css" media="all" />  
    <link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}" ></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var indices = null;
        function datatable() {
            var tabla = $('.tablaIndice').dataTable({
                order: false,
                paging: true,
                dom: 'Bfrltip',
                pageLength: 50,
                lengthMenu: [[50, 75, 100, -1], [50, 75, 100, "Todos"]],
                buttons: [
                    'excel'
                ],
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                }
            });
        }

        function reload() {
            var req = $.ajax({
                type: 'POST',
                url: "{{ path('informe_mantenimiento_indice',{'id':organizacion.id}) }}",
                data: {
                    'form': $("#indice").serialize(), //form de productos
                },
                dataType: "json",
                //async: true,
                beforeSend: function () {
                            $('#informe').html('<div class="alert alert-info">'+'<span class="label label-warning">Atención</span> <em>Procesando nuevo informe, espere...</em> </div>');
                $("#tablaHistorial").text("");
                },
            });
            req.done(function (respuesta) {
                $('#informe').html('');
                $("#tablaHistorial").html(respuesta.html);
                $("#filtro").text("Filtro: Desde " + respuesta.indices.filtro.desde + " | Hasta " + respuesta.indices.filtro.hasta + " | " + respuesta.indices.filtro.servicio);
                indices = respuesta.indices.indices;
                armarGrafico();
                datatable();
            });
        }
        $('#consultar').click(function () {
            reload();
        });

        $(document).ready(function () {

            $('#indice_desde').datetimepicker({
                locale: 'es',
                format: 'MM/YYYY',
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });
            $('#indice_hasta').datetimepicker({
                locale: 'es',
                format: 'MM/YYYY',
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });
            $("#indice_servicio").select2();
            $("#indice_centro_costo").select2();
            data = JSON.parse('{{indices_json|raw()}}');
            indices = data.indices;

            armarGrafico();
            datatable();
               $('#indice_centro_costo').val(null).trigger("change");
        });

        	$("#indice_centro_costo").on('select2:select', function (e) { //borrar poi seleccionado  en tabla
                    var nombre = e.params.data.text;
                    if(nombre == 'Todos los centros de costo'){
                      $('#indice_centro_costo').val("0").trigger("change");
                    }
                    $('#indice_servicio').val(null).trigger("change");

	        });
            
            $("#indice_servicio").on('select2:select', function (e) { //borrar poi seleccionado  en tabla
                    $('#indice_centro_costo').val(null).trigger("change");

	        });

        function armarGrafico() {
            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(drawChart);
        }

        function drawChart() {

            var arr = new Array();
            var arr_1 = new Array();
            var arr1 = new Array();
            var arr1_1 = new Array();
            var arr2 = new Array();
            var i = 1;
            arr[0] = ['Fecha', 'Nuevos', 'Realizados'];
            arr_1[0] = ['Fecha', 'Pendientes'];
            arr1[0] = ['Fecha', 'Nuevas', 'En Curso', 'Detenidas', 'Realizadas'];
            arr1_1[0] = ['Fecha', 'Pendientes'];
            arr2[0] = ['Fecha', 'Nuevas', 'En Curso', 'Realizadas'];

            if (indices == null) {
                 arr[1]=['Sin Datos',0,0];
                 arr_1[1]=['Sin Datos',0];
                 arr1[1]=['Sin Datos',0,0,0,0,0];
                 arr1_1[1]=['Sin Datos',0];
                 arr2[1]=['Sin Datos',0,0,0];

            } else {
                jQuery.each(indices, function (key, value) {
                   arr[i] = [key, value['mantenimiento_nuevo'], value['mantenimiento_realizado']];
                    arr_1[i] = [key, value['mantenimiento_pendiente']];
                  
                    arr1[i] = [key, value['peticion_nuevo'], value['peticion_encurso'], 
                        value['peticion_detenido'],value['peticion_realizado']];

                    arr1_1[i] = [key, value['peticion_pendiente']];    
                    
                    arr2[i] = [key, value['ordentrabajo_nuevo'], value['ordentrabajo_encurso'], value['ordentrabajo_realizado']];
                    i++;
                });
            }
              var indicemant = google.visualization.arrayToDataTable(arr);
                var indicemant1 = google.visualization.arrayToDataTable(arr_1);
                var indicepet = google.visualization.arrayToDataTable(arr1);
                var indicepet1 = google.visualization.arrayToDataTable(arr1_1);
                var indiceot = google.visualization.arrayToDataTable(arr2);

            var options = {
                curveType: 'function',
                legend: {position: 'bottom'}
            };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                var chart1 = new google.visualization.LineChart(document.getElementById('curve_chart1'));
                var chart2 = new google.visualization.LineChart(document.getElementById('curve_chart2'));
                var chart2_1 = new google.visualization.LineChart(document.getElementById('curve_chart2_1'));
                var chart3 = new google.visualization.LineChart(document.getElementById('curve_chart3'));
                
               
                chart.draw(indicemant, options);
                chart1.draw(indicemant1, options);
                chart2.draw(indicepet, options);
                chart2_1.draw(indicepet1, options);
                chart3.draw(indiceot, options);
        }
    </script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
{% endblock %}

{% block informacion %}   
{% endblock %}


{% block formulario %}
    <div class="row">
        <form id="indice" action="{{ path("informe_mantenimiento_indice", {'id': organizacion.id}) }}" method="POST" >
            {% embed "app/Template_aker/panel_form.html.twig" %}
                {% block titulo %}Filtro{% endblock %}
                {% block cuerpo %}
                    <div class="col-sm-2">
                        {{ form_widget(form.desde, {'attr': {'value': desde} }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_widget(form.hasta, {'attr': {'value': hasta} }) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_widget(form.servicio) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_widget(form.centro_costo) }}
                    </div>
                {% endblock %}
                {% block botones %}
                    <button type="button" class="btn btn-primary" id="consultar">Consultar</button> 
                    <a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
                {% endblock %}
            {% endembed %}
        </form>
    </div>
{% endblock %}
{% block resultado %}
    {% embed "app/Template_aker/panel_simple.html.twig" %}
        {% block titulo %}Resultado{% endblock %}
        {% block subtitulo %}
            <div class="alert alert-info" role="alert">
                <div id="filtro">Filtro: Desde {{ indices.filtro.desde }} | Hasta {{ indices.filtro.hasta }} | {{ indices.filtro.servicio }}</div>

            </div>
        {% endblock %}
        {% block cuerpo %}
                <div id="informe">

                </div>
            <div id="tablaHistorial">
                {% include "informe/IndiceMantenimiento/content.html.twig" with {'indices':indices} %} 
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}