<div class="row">
	{% if iti_servicio.chofer != null %}
				<span class="label label-info">
					{{ iti_servicio.chofer.nombre}}
				</span>&nbsp; 
			{% endif %}
	<div class="fecha" {{ status is defined and status['st_ultreporte'] > 1 ? 'style="color: red"' : ''}}>
		{{ servicio.ultFechaHora ? servicio.ultFechaHora|date('d-m-Y H:i:s', app.user.timeZone) : '---' }}
		{# velocidad #}
		
			{% if servicio.ultVelocidad %}
				{% set velocidad = servicio.ultVelocidad %}
				{% set direccion = servicio.ultDireccion %}
			{% else %}
				{% set velocidad = '' %}
				{% set direccion = '-1' %}
			{% endif %}
			<img width="16px" height="16px" src="{{ status.icono }}" title="{{ servicio.ultVelocidad > 0 ? servicio.ultVelocidad~' km/h' : 'detenido' }}">
			<div style="color:#777777">{{ servicio.ultVelocidad|default(0) }}
				km/h
			</div>
	</div>
	{# BATERIA #}
	{% if servicio.ultbateria %}
		<div class="col-md-1">
			{% include "apmon/Mapa/show_bateria.html.twig" with {'bateria': servicio.ultbateria} %}
		</div>
		{% if status is defined and status.contacto is defined %}
			{% if status.contacto == true %}
				<img src="{{ asset('images/key.png') }}">
			{% endif %}
		{% endif %}
	{% endif %}
	{# ultimo reporte sin GPS #}
	{% if servicio.ultValido == false %}
		<div class="col-md-1">
			<img src="{{ asset('images/transmit_error.png') }}" width="16px" height="16px" title="Sin señal de GPS">
		</div>
	{% endif %}

	{# Inputs #}
	{% if status.inputs is defined %}
		<div class="col-md-1">
			{% include "apmon/Mapa/show_inputs.html.twig" with {'entradas': status.inputs} %}
		</div>
	{% endif %}

	{# Tanque de combustible #}
	{% if status.carcontrol.tanque is defined %}
		<div class="col-md-1">
			{% include "apmon/Mapa/show_combustible.html.twig" with {'tanque': status.carcontrol.tanque} %}
		</div>
	{% endif %}

	{# Candado #}
	{% if status.cerrojo is defined %}
		<div class="col-md-1">
			{% include "apmon/Mapa/show_cerrojo.html.twig" with {'cerrojo': status.cerrojo} %}
		</div>
	{% endif %}

</div>
