{# Muestra la direccion si viene #}
{% if status is defined and status.direccion is defined and status.direccion != '' %}
	<div class="direccion">
		{{ status.direccion|default('---') }}
	</div>
{% endif %}
{# muestra la cercania si viene #}
{% if status['cerca']['leyenda'] is defined and status['cerca']['leyenda'] != null %}
	<div class="direccion">
		{% if status['cerca']['icono'] is defined and status['cerca']['icono'] != null %}
			<img style="width: 16px; height: 16px" src="{{ asset(status['cerca']['icono']) }}">
		{% endif %}
		<b>
			<em>{{ status['cerca']['leyenda'] }}</em>
		</b>
	</div>
{% endif %}

{# chofer #}
{% if status[ servicio.id ].chofer is defined %}
	{% include "apmon/Mapa/show_chofer.html.twig" with {'chofer': status[ servicio.id ].chofer} %}
{% endif %}
