<div class="row">
	<div class="col-md-12">
		<p class="text-secondary mb-1">
			{% include "monitor/Itinerario/show_estado.html.twig" with {'itinerario': itinerario} %}
				<span class="badge bg-default">{{itinerario.strmodoingreso}}</span>		
		</p>
		<h4>{{ itinerario.codigo }}</h4>
		<p class="text-muted font-size-sm">
			Cliente:
			{{ itinerario.empresa ? itinerario.empresa.nombre :'---' }}
			Logistica:
			{{ itinerario.logistica ? itinerario.logistica.nombre :'---' }}</p>
		<div class="label label-default">
			Inicio:
			{{ itinerario.fechaInicio ? itinerario.fechaInicio|date('d/m/Y H:i'): '---' }}</div>
		<div class="label label-default">
			Fin:
			{{ itinerario.fechaFin ? itinerario.fechaFin |date('d/m/Y H:i'): '---'}}</div>
		<div class="tm-meta">
			<small>
				<i>{{ itinerario.created_at|date('d/m/Y H:i', app.user.timeZone) }}</i>
			</small>
			<span></span>
		</div>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info text-left ">
			<strong>Notas:</strong>
			{{ itinerario.nota|raw }}
		</div>

		{# botonera de acciones#}
		<div class="text-right mr-lg">
			{% if is_granted('ROLE_ITINERARIO_EDITAR') %}
				<div class="btn-group" role="group">
					<a href="{{ path('itinerario_edit', {'id': itinerario.id} ) }}" class="btn btn-bordered btn-default" role="button" title="Modificar" id="data-toggle=&quot;tooltip&quot;" data-original-title="Modificar">
						<span class="fa fa-pencil-square-o" aria-hidden="true"></span>
						Modificar
					</a>					
				</div>
			{% endif %}
		</div>
	</div>
