<h4>{{ poi.referencia.nombre|slice(0,50) }}</h4>
Ingreso:
<b>
	{% if poi.fechaIngreso is not null %}
		{{ poi.fechaIngreso|date('d/m/Y H:i') }}
	{% else %}
		n/d
	{% endif %}
</b>
Egreso:
<b>
	{% if poi.fechaEgreso is not null %}
		{{ poi.fechaEgreso|date('d/m/Y H:i') }}
	{% else %}
		n/d
	{% endif %}
</b>

<button class="btn btn-xs" type="button" id="referencia_edit_{{ poi.id }}" onclick="referenciaClock({{ poi.id }})">
	<i class="fa fa-clock-o"></i> Cambiar Horarios
</button>
