<h4>
	{{ estado.data.estado_old }}
	<i class="fa fa-arrow-right"></i>
	{{ estado.data.estado}}
</h4>
<p>
	{% if estado.data.fecha_inicio is defined %}
		Nueva fecha de inicio: {{ estado.data.fecha_inicio|date('d-m-Y H:i')|default('---') }}
	{% endif %}
	{% if estado.data.fecha_fin is defined %}
		Nueva fecha de fin: {{ estado.data.fecha_fin|date('d-m-Y H:i')|default('---') }}
	{% endif %}
	<i>{{ estado.data.nota|raw }}</i>
</p>
<div class="tm-meta">
	<span>
		<i class="fa fa-user"></i>
		Por
		{{ estado.ejecutor.username }}
	</span>
</div>
