<p>
	{{ comentario.data.comentario|raw}}
</p>
<div class="tm-meta">
	<span>
		<i class="fa fa-user"></i>
		Por
		{{ comentario.ejecutor.username }}
	</span>
	<br>
	<small>
		<i>{{ comentario.created_at|date('d/m/Y H:i', app.user.timeZone) }}</i>
	</small>
</div>
