<div class="row">
    <div class="col-md-2">
        {% include "app/Template/show_servicio_image.html.twig" with {'servicio': servicio, 'size': '50px' } %}
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-10">
        <a href="{{ path('servicio_show',{'id':servicio.id,'tab':'main' }) }}">
            <h4 class="h4 title text-default" style="margin-top:5px;">
                {{ servicio.nombre }}
            </h4>
        </a>
        {% if servicio.transporte %}
            <span class="label label-primary">
                {{ servicio.transporte.nombre }}
            </span>
        {% endif %}
        {% if servicio.satelital %}
            <span class="label label-primary">
                {{ servicio.satelital.nombre }}
            </span>
        {% endif %}

        {% if servicio.vehiculo != null and servicio.vehiculo.patente != null %}
            <span class="label label-info">
                {{ servicio.vehiculo.patente }}
            </span>
        {% endif %}

        <span class="label label-info">
            {{ servicio.tipoServicio }}
        </span>
        <div class="row">
            {% if iti_servicio.bill != null and iti_servicio.bill != '' %}
                <span class="label label-primary">
                    Bill:
                    
                    {{ iti_servicio.bill }}
                </span>
                &nbsp; 
                
            {% endif %}
            {% if iti_servicio.nroContenedor != null and iti_servicio.nroContenedor != '' %}
                <span class="label label-primary">
                    Contenedor:
                    
                    {{ iti_servicio.nroContenedor }}
                </span>
                &nbsp; 
                
            {% endif %}
            {% if iti_servicio.patenteAcoplado != null and iti_servicio.patenteAcoplado != '' %}
                <span class="label label-primary">
                    Acoplado:
                    
                    {{ iti_servicio.patenteAcoplado }}
                </span>
            {% endif %}
            {% if iti_servicio.chofer != null and iti_servicio.chofer != '' %}
                <span class="label label-primary">
                    Chofer:
                    
                    {{ iti_servicio.chofer.nombre }}
                    (
                    {{ iti_servicio.chofer.telefono }}
                    )
                    
                </span>
            {% endif %}
        </div>
        {% if servicio.vehiculo != null and servicio.vehiculo.marca != null %}
            {{ servicio.vehiculo.marca }}
            {{ servicio.vehiculo.modelo[:10] }}
        {% endif %}
        <div class="row">
            {# linea de direccion y cercania #}
            {% include "monitor/Itinerario/timeline/nodo_servicio_direccion.html.twig" %}

        </div>
    </div>
    <div class="result-data" style="text-align:center;">
        <div id="direccion_{{ servicio.id }}" class="text-primary">
            ---
        </div>
    </div>
</div>
{% include "monitor/Itinerario/timeline/nodo_servicio_status.html.twig" %}
