<table class="table table-condensed">
    <tr>
        <th>Combustible</th>
        <th>Precio</th>
        <th>Acciones</th>
    </tr>
    {% for combustible in puntocarga.precioTipoCombustibles %}
        <tr>
            <td>{{ combustible.tipocombustible.nombre }}</td>
            <td>$ {{ combustible.precio }}</td>
            <td>
                <button  class="btn btn-xs btn-default" onclick="combustibleDel({{combustible.id}}, '{{combustible.tipocombustible.nombre}}', '{{puntocarga.nombre}}')">
                    <i class="fa fa-minus"></i>
                </button>
                <button id="editComb" onclick="editComb('{{ combustible.tipocombustible.nombre }}', '{{ combustible.precio }}', '{{combustible.id}}')" style="margin-right: 5px;" href="#modalEditCombustible" data-toggle="modal"  class="btn btn-xs btn-default">
                    <i class="fa fa-edit"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
</table>
<script type="text/javascript">

    function editComb(nombre, precio, id) {
        $("#modal-nombretipo").text(nombre);
        $("#puntocarga_comb_precio_edit").val(precio);
        $("#puntocarga_comb_edit_id").val(id);
 }
</script>
