{% extends "app/Template_aker/popup.html.twig" %}

{% block modalId %}modalDelete{% endblock %}

{% block modalTitulo %}Eliminar Punto de Carga{% endblock %}

{% block modalUrl %}{{ path('fuel_delete_puntocarga', { 'id': puntocarga.id }) }}{% endblock %}

{% block modalBody %}
      <p>Esta seguro de eliminar este punto de carga: <strong>{{ puntocarga.codigo|upper}}</strong> ?</p>
    {{ form_widget(delete_form) }}
{% endblock %}

{% block modalOk %}
    <button class="btn btn-danger" type="submit">Eliminar</button>
{% endblock %}

