{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	{{ puntocarga.nombre }}
{% endblock %}
{% block subtitulo %}Edición de Punto de Carga
{% endblock %}


{% block js %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function () {
$("#puntocarga_referencia").change(function () {
var refVal = $(this).val();
if (refVal =! 0) {
$("#puntocarga_servicio").val(0);
}
});
$("#puntocarga_servicio").change(function () {
var serVal = $(this).val();
if (serVal =! 0) {
$("#puntocarga_referencia").val(0);
}
});
});
	</script>
{% endblock %}

{% block formulario %}
 {% embed "app/Template_aker/panel_form.html.twig" %}
		{% block titulo %}
          Modificar Punto de Carga
		{% endblock %}
            {% block cuerpo %}
		  
                <form class="form-horizontal" enctype="multipart/form-data" method="POST" >
                    <fieldset>
                         {{ form_errors(form) }}
            {{ form_widget(form._token) }}
            <div class="row-fluid">
                <div class="col-md-6">
                		{{ form_widget(form.nombre) }}
					{{ form_widget(form.cuit) }}
					{{ form_widget(form.codigo) }}
				</div>
                </div>
                <div class="col-md-6">
                {{ form_widget(form.servicio) }}
					{{ form_widget(form.referencia) }}
					{# {{ form_rest(form) }} #}
                </div>
            </div>
                    </fieldset>
		    {% endblock %}
            {% block botones %}
				<input type="submit" class="btn btn-primary" id="crear" value="Modificar"/>
				<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
			{% endblock %}
		{% endembed %}
                </form>
{% endblock %}
