{% extends "app/Template_aker/list.html.twig" %}
{% form_theme formAdd 'app/Form/calypso_fields.html.twig' %}
{% form_theme formAddComb 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Puntos de Carga{% endblock %}        
{% block contentpanel %}  
    <div class="row-fluid row-show">
        <div class="col-md-12">
            <div id="tablaPuntoCarga">
                {% include "fuel/PuntoCarga/puntocargas.html.twig" with {'puntocargas':puntocargas, 'data':data } %} 
            </div>
        </div>
    </div>
    {% include "fuel/PuntoCarga/popup_add.html.twig" %} 
    {% include "fuel/PuntoCarga/popup_add_combustible.html.twig" %} 
    {% include "fuel/PuntoCarga/popup_edit_combustible.html.twig" %} 
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}">
    </script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#puntocarga_referencia").change(function () {
                var refVal = $(this).val();
                if (refVal = !0) {
                    $("#puntocarga_servicio").val(0);
                }
            });
            $("#puntocarga_servicio").change(function () {
                var serVal = $(this).val();
                if (serVal = !0) {
                    $("#puntocarga_referencia").val(0);
                }
            });

             $("#puntocarga_referencia").select2({
                'width': '100%'
             });
             $("#puntocarga_servicio").select2(
                {'width': '100%'}
             );


            $('#btnPuntoCargaAdd').click(function () {
                route = Routing.generate('fuel_add_puntocarga');
                var req = $.ajax({
                    type: 'POST',
                    url: route,
                    data: {
                        'formAdd': $("#formAdd").serialize(), //form de productos
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#puntocarga_nombre").val(null);
                    $("#puntocarga_referencia").val(null);
                    $("#puntocarga_servicio").val(null);
                    $("#tablaPuntoCarga").text("");
                    $("#tablaPuntoCarga").html(respuesta.html);
                    $('#modalAdd').modal('toggle');   //cierro el form
                });
            });

            $('#btnPuntoCargaAddCombustible').click(function () {
                route = Routing.generate('fuel_add_combustible_puntocarga');
                var req = $.ajax({
                    type: 'POST',
                    url: route,
                    data: {
                        'vista': 0,
                        'formAddComb': $("#formAddComb").serialize(), //form de productos
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                       $("#puntocarga_comb_tipocombustible").val(null);
                    $("#puntocarga_comb_precio").val(null);
                    $("#tablaPuntoCarga").text("");
                    $("#tablaPuntoCarga").html(respuesta.html);
                    $('#modalAddCombustible').modal('toggle');   //cierro el form
                });
            });

            $('#btnPuntoCargaEditCombustible').click(function () {
                route = Routing.generate('fuel_edit_combustible_puntocarga');
                var req = $.ajax({
                    type: 'POST',
                    url: route,
                    data: {
                        'vista': 0,
                        'formEditComb': $("#formEditComb").serialize(), //form de productos
                    },
                    dataType: "json",
                    //async: true,
                    beforeSend: function () {
                    },
                });
                req.done(function (respuesta) {
                    $("#tablaPuntoCarga").text("");
                    $("#tablaPuntoCarga").html(respuesta.html);
                    $('#modalEditCombustible').modal('toggle');   //cierro el form
                });
            });

        });




    </script>
{% endblock  %}

