<!-- Modal -->
<div class="modal fade" id="modalAdd" role="dialog" aria-labelledby="modalPuntoCargaLabel" data-modal-index="-100">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Punto de Carga</h4>
			</div>
			<div class="modal-body">
				<div id="modal-body-mecanico">
					<form id="formAdd" class="form-horizontal">
						{{ form_widget(formAdd.nombre) }}
						{{ form_widget(formAdd.cuit) }}
						{{ form_widget(formAdd.codigo) }}
						{{ form_widget(formAdd.referencia) }}
						{{ form_widget(formAdd.servicio) }}
						{{ form_rest(formAdd) }}

					</form>
				</div>
			</div>


			<div class="modal-footer">
				<button id="btnPuntoCargaAdd" type="button" class="btn btn-primary">Agregar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>

		</div>
	</div>
</div>
