<!-- Modal -->
<div class="modal fade" id="modalAddCombustible" role="dialog" aria-labelledby="modalAddCombustibleLabel" data-modal-index="-100">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Combustible</h4>
			</div>
			<div class="modal-body">
				<div id="modal-body-combustible">
					<form id="formAddComb" class="form-horizontal">
						<table class="table table-condensed">
							<tr>
								<th>Tipo</th>
								<th>Precio</th>
							</tr>
							<tr>
								<td>{{ form_widget(formAddComb.tipocombustible) }}</td>
								<td>{{ form_widget(formAddComb.precio) }}</td>
							</tr>
						</table>
						{{ form_rest(formAddComb) }}

					</form>
				</div>
			</div>


			<div class="modal-footer">
				<button id="btnPuntoCargaAddCombustible" type="button" class="btn btn-primary">Agregar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>

	</div>
</div>
