<!-- Modal -->
<div class="modal fade" id="modalEditCombustible" role="dialog" aria-labelledby="modalEditCombustibleLabel" data-modal-index="-100">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Combustible</h4>
			</div>
			<div class="modal-body">
				<div id="modal-body-combustible">
					<form id="formEditComb" class="form-horizontal">
						<table class="table table-condensed">
							<tr>
								<th style="width: 200px;">Tipo</th>
								<th style="width: 200px;">Precio</th>
							</tr>
							<tr>
								<td style="width: 200px;">
									<span id="modal-nombretipo"></span>
								</td>
								<td style="width: 200px;"><input type="text" class="form-control" id="puntocarga_comb_precio_edit" name="puntocarga_comb_edit[precio]" required="required" style="width: 200px;"></td>
							</tr>
						</table>
						<input type="hidden" id="puntocarga_comb_edit_id" name="puntocarga_comb_edit[id]">

					</form>
				</div>
			</div>


			<div class="modal-footer">
				<button id="btnPuntoCargaEditCombustible" type="button" class="btn btn-primary">Editar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
