<table id="tablaPuntosCarga" class="table table-condensed">
    <thead>
        <tr>
            <th class="col-md-3">Nombre</th>
          	<th class="col-md-3" title="Resumen de los ultimos 30 días">Ult 30 días</th>
			<th class="col-md-2" title="Última despacho realizado">Ult. Despacho</th>
			<th class="col-md-1" title="Total de despachos realizados">Total</th>
            <th class="col-md-2">Combustible</th>


        </tr>
    </thead>
    <tbody>
        {% for puntocarga in puntocargas %}
            {% if puntocarga.precioTipoCombustibles|length > 0 %}
                {% set rowspan = puntocarga.precioTipoCombustibles|length %}
            {% else %}
                {% set rowspan = 1%}
            {% endif %}
            <tr>
                <td  rowspan="{{ rowspan }}"><a href="{{ path('fuel_puntocarga_show', {'id': puntocarga.id}) }}">{{ puntocarga.nombre }}</a>
                    <button  onclick="newComb('{{ puntocarga.id}}')" id="addComb" title="Agregar combustible al punto de carga" style="float: right; margin-right: 20px;" href="#modalAddCombustible" data-toggle="modal" class="btn btn-xs- btn-default">
                        <i class="fa fa-tint"></i>
                    </button>
                </td>
                <td rowspan="{{ rowspan }}">
                 	{% if data[puntocarga.id].ultMes %}
							
						{% set ultMes = data[puntocarga.id].ultMes %}
							<b>{{ ultMes.cantidad }}</b>
							cargas de
							<b>{{ ultMes.litros|number_format(2) }}</b>
							lts por $
							<b>{{ ultMes.importe|number_format(2) }}</b>
							<div class="progress progress-xs light m-2">
									<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ ultMes.cantidad }}" aria-valuemax="{{ puntocarga.cargasCombustible|length }}" aria-valuemin="0" style="width: {{ ultMes.cantidad }}%;"></div>
							</div><br>

								
					{% else %}

					{% endif %}
                </td>
                <td rowspan="{{ rowspan }}">
                    {% if data[puntocarga.id].ultCarga %}
								{% set ultCarga = data[puntocarga.id].ultCarga %}
								El
								<b>{{ ultCarga.fecha|date('d-m-Y h:i:s') }}</b>
								<b>{{ ultCarga.litrosCarga|number_format(2)}}</b>
								lts por $
								<b>{{ ultCarga.monto_total|number_format(2)|default('---')}}</b>

								{% else %}

							{% endif %}
                </td>
                <td rowspan="{{ rowspan }}">
                    <span class="badge badge-xs {{ puntocarga.cargasCombustible|length > 0 ? 'alert-success': 'alert-default' }}">{{ puntocarga.cargasCombustible|length }}</span>
                </td>

                {% set i = 0 %}
                {% for combustible in puntocarga.precioTipoCombustibles %}
                    {% if i > 0 %}
                    <tr>
                    {% endif %}
                    <td>{{ combustible.tipocombustible.nombre }} &nbsp ${{ combustible.precio }} 
                        <button  title="eliminar tipo de combustible" style="float: right; margin-right: 20px;" class="btn btn-bordered btn-default btn-xs" onclick="combustibleDel({{combustible.id}}, '{{combustible.tipocombustible.nombre}}', '{{puntocarga.nombre}}')">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button title="modificar tipo de combustible" id="editComb" onclick="editComb('{{ combustible.tipocombustible.nombre }}', '{{ combustible.precio }}', '{{combustible.id}}')" style="float: right; margin-right: 5px;" href="#modalEditCombustible" data-toggle="modal"  class="btn btn-bordered btn-default btn-xs">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    {% if i > 0 %}
                    </tr>
                {% endif %}
                {% set i = i+1 %}
            {%  else %}
            <td></td>
        {% endfor %}

    </tr>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">

    function newComb(id) {
        $("#puntocarga_comb_id").val(id);
    }
    function editComb(nombre, precio, id) {
        $("#modal-nombretipo").text(nombre);
        $("#puntocarga_comb_precio_edit").val(precio);
        $("#puntocarga_comb_edit_id").val(id);

    }
        function combustibleDel(id, nombre, punto) {
                var r = confirm('Esta seguro de eliminar el combustible  "' + nombre + '" del punto de carga ' + punto);
                if (r == true) {
                    var req = $.ajax({
                        type: 'POST',
                        url: "{{ path('fuel_delete_combustible_puntocarga') }}",
                        data: {
                            'vista':0,
                            'id': id,
                        },
                        dataType: "json",
                        //async: true,
                        beforeSend: function () {
                        },
                    });
                    req.done(function (respuesta) {
                        newNotify('Exito !!!', 'success', 'Combustible Eliminado Correctamente');
                        $("#tablaPuntoCarga").text("");
                        $("#tablaPuntoCarga").html(respuesta.html);
                    });
                }
            }
</script>
