{% extends "app/Template_aker/show.html.twig" %}
{% form_theme formAddComb 'app/Form/calypso_fields.html.twig' %}

{% block formdelete %}
	{% include "fuel/PuntoCarga/delete_form.html.twig" %}
{% endblock %}

{% block titulo %}
	{{ puntocarga.nombre}}
{% endblock %}

{% block js %}
	{{ parent() }}
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
	<script type="text/javascript">
	$(document).ready(function () {
		$("#puntocarga_comb_id").val({{ puntocarga.id }});

			$('#btnPuntoCargaAddCombustible').click(function () {
				route = Routing.generate('fuel_add_combustible_puntocarga');
				var req = $.ajax({
				type: 'POST',
				url: route,
				data: {
				'vista': 1,
				'formAddComb': $("#formAddComb").serialize(), // form de productos
				},
				dataType: "json",
			// async: true,
			beforeSend: function () {}
			});
			req.done(function (respuesta) {
				$("#tablaPuntoCarga").text("");
				$("#tablaPuntoCarga").html(respuesta.html);
				$('#modalAddCombustible').modal('toggle'); // cierro el form
			});
		});

	$('#btnPuntoCargaEditCombustible').click(function () {
		route = Routing.generate('fuel_edit_combustible_puntocarga');
			var req = $.ajax({
					type: 'POST',
					url: route,
					data: {
					'vista': 1,
					'formEditComb': $("#formEditComb").serialize(), // form de productos
					},
					dataType: "json",
					// async: true,
					beforeSend: function () {}
				});
				req.done(function (respuesta) {
					$("#tablaPuntoCarga").text("");
					$("#tablaPuntoCarga").html(respuesta.html);
					$('#modalEditCombustible').modal('toggle'); // cierro el form
				});
			});
	});

	function combustibleDel(id, nombre, punto) {
		var r = confirm('Esta seguro de eliminar el combustible  "' + nombre + '" del punto de carga ' + punto);
		if (r == true) {
			var req = $.ajax({
					type: 'POST',
					url: "{{ path('fuel_delete_combustible_puntocarga') }}",
					data: {
					'vista': 1,
					'id': id
					},
					dataType: "json",
					// async: true,
					beforeSend: function () {}
				});
				req.done(function (respuesta) {
					newNotify('Exito !!!', 'success', 'Combustible Eliminado Correctamente');
				$("#tablaPuntoCarga").text("");
				$("#tablaPuntoCarga").html(respuesta.html);
			});
		}
	}
</script>
{% endblock %}

{% block contentpanel %}
	{% include "fuel/PuntoCarga/popup_add_combustible.html.twig" %}
	{% include "fuel/PuntoCarga/popup_edit_combustible.html.twig" %}
	{% embed "app/Template_aker/panel_form.html.twig" %}
		{% block titulo %}
			Datos del  Punto de Carga
		{% endblock %}
		{% block cuerpo %}
			<div class="row-fluid row-show">
				<div class="col-md-4">
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Nombre', 'data': puntocarga.nombre } %}
					{% if puntocarga.referencia is not null %}
						{% include "app/Template_aker/show_row.html.twig" with {'label': 'Referencia', 'data':  puntocarga.referencia.nombre } %}
					{% elseif puntocarga.servicio is not null %}
						{% include "app/Template_aker/show_row.html.twig" with {'label': 'Servicio', 'data':  puntocarga.servicio.nombre } %}
					{% else %}
						{% include "app/Template_aker/show_row.html.twig" with {'label': 'Dato', 'data':  'Sin servicio ni referencia asignado.' } %}

					{% endif %}
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Cuit', 'data':  puntocarga.cuit } %}
				</div>
				<div class="col-md-8">
					<div id="tablaPuntoCarga">
						{% include "fuel/PuntoCarga/combustibles.html.twig" with {'puntocarga':puntocarga} %}
					</div>
				</div>

			</div>
			<div class="row-fluid row-show">
				<div class="col-md-12">
			<div class="alert alert-info">
				<h4>Despachos Realizados en los últimos 30 días</h4>
			</div>
				  {% include "fuel/Combustible/cargas_combustible.html.twig" with {'cargas': despachos, 'vista' : 'puntocarga' }%} 
				</div>
			</div>

		{% endblock %}

	{% endembed %}
{% endblock %}
