<table class="table table-condensed table-striped">
<thead>
    <tr>
        <th>Servicio</th>
        <th>Cantidad</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Referencia / Dirección</th>
        <th>Duración (hh:mm:ss)</th>
    </tr>
</thead>
<tbody>
   {% if consulta.mostrar_totales is defined %}
       {% set rowspan = 2 %}
   {% else %}    
       {% set rowspan = 1 %}
   {% endif %} 
   {% for equipo in informe %}
        <tr>
           <th rowspan={{ equipo.data|length + rowspan}}>{{ equipo.servicio }}</th>
           <th rowspan={{ equipo.data|length + rowspan}}>{{ equipo.count  }}</th>
           {% for row in equipo.data %}
                {% if row|length > 0 and row.fecha_ingreso|default('---') != '---' %}
                    <tr>
                        <td>{{ row.fecha_ingreso }}</td>
                        <td>{{ row.fecha_egreso }}</td>
                        <td>
                            {% if row.referencia_nombre is defined %}
                                <strong>{{ row.referencia_nombre }}</strong></br>
                            {% else %}
                                {% if consulta.mostrar_direcciones %}
                                   <em>{{ row.domicilio|default('---') }}</em>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td style="text-align: center">{{ row.duracion }}</td>
                    </tr>
                {% endif %}
            {% else %}
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td style="text-align: center">---</td>
           {% endfor %}
        </tr>
        {% if consulta.mostrar_totales is defined %}
            <tr>
                <td colspan="3">Total</td>
                <td>{{ equipo.totales.tiempo_detenido }}</td>
            </tr>
        {% endif %}
   {% endfor %}
    </tbody>

</table>