<table class="table table-condensed">
    <thead>
        <tr>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Referencia / Dirección</th>
            <th>Duración (hh:mm:ss)</th>
        </tr>
    </thead>
    <tbody>
        {% for row in informe %}
            {% for entrada in row.data %}
                <tr>
                    <td>{{ entrada.fecha_ingreso|date('d-m-Y H:i:s') }}</td>
                    <td>{{ entrada.fecha_egreso|date('d-m-Y H:i:s') }}</td>
                     <td>
                        {% if entrada.referencia_nombre is defined %}
                            <strong>{{ entrada.referencia_nombre }}</strong></br>
                        {% else %}
                            {% if consulta.mostrar_direcciones %}
                               <em>{{ entrada.domicilio|default('---') }}</em>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ entrada.duracion }}</td>
                </tr>
            {% endfor %}
            {% if consulta.mostrar_totales is defined %}
                <tr>
                    <td colspan="3">Total</td>
                    <td>{{ row.totales.tiempo_detenido }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
