{% extends "app/Template/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block title %}Informe de Detenciones{% endblock %}
{% block titulo %}Informe de Detenciones{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
        evaluarStatus();
        $.datepicker.setDefaults ($.datepicker.regional["es"]);
        $.timepicker.setDefaults ($.timepicker.regional["es"]);
        $("#informedetenciones_desde").datetimepicker ({
            defaultDate: "today",
            changeMonth: true,
            numberOfMonths: 1,
            maxDate: "today",
            minDate: {{ limite_historial }},
        });
        
        $("#informedetenciones_hasta").datetimepicker ({
            defaultDate: "today",
            changeMonth: true,
            numberOfMonths: 1,
            maxDate: "today",
            minDate: {{ limite_historial }},
        });
        $("#informedetenciones_destino").change(function() {
            evaluarStatus();
            
            if ($(this).val() === '6') {   //mapa completo
                $('#informedetenciones_servicio').children('option').each(function() {                    
                    v = $(this).val();
                    if (v[0] === 'g' || v === "0") {
                        $(this).attr('disabled', true);   
                    }
                });
            } else {
                $('#informedetenciones_servicio').children('option').each(function() {
                    $(this).siblings().removeAttr('disabled'); 
                });
            }
        });
        
        //esto se hace cuando cambia el servicio seleccionado.
        $("#informedetenciones_servicio").change(function() {
            evaluarStatus();
        }); 

        $('#informedetenciones_servicio').select2();          
    });
    
    function evaluarStatus() {
        servicio = $("#informedetenciones_servicio").val();
        destino = $("#informedetenciones_destino").val();
        if (destino > 1) {
            $('#informedetenciones_mostrar_direcciones').attr("disabled", true);
            $('#informedetenciones_mostrar_direcciones').removeAttr("checked");
        } else {
            $('#informedetenciones_mostrar_direcciones').removeAttr("disabled");
        }
        if (destino === '3' && (servicio[0] === 'g' || servicio === "0")) {
             $("#btn-submit").attr('disabled', 'disabled');
        } else {
             $("#btn-submit").removeAttr('disabled');
        }                
    }
</script>
{% endblock %}

{% block informacion %}
<div style="float: right">
    <a href="javascript:void(0);" onclick="javascript:introJs().start();">Ayuda</a>
</div>
{% endblock %}

{% block formulario %}
    
   <form class="form-horizontal"  method="POST" >
    {{ form_errors(form) }}
    <fieldset>
        <div data-step="1" data-intro="{% include "informe/Detenciones/help.html.twig" with {'step': '1' } %}">
        {{ form_widget(form.destino) }}
            </div>
        <div data-step="2" data-intro="{% include "informe/Detenciones/help.html.twig" with {'step': '2' } %}">
            {{ form_widget(form.servicio) }}
        </div>
        <div data-step="3" data-intro="{% include "informe/Detenciones/help.html.twig" with {'step': '3' } %}">
            {{ form_widget(form.desde) }}
            {{ form_widget(form.hasta) }}
        </div>
        <div data-step="4" data-intro="{% include "informe/Detenciones/help.html.twig" with {'step': '4' } %}">
            {{ form_widget(form.tiempo_minimo) }}
        </div>
        <div data-step="5" data-intro="{% include "informe/Detenciones/help.html.twig" with {'step': '5' } %}">
            {{ form_widget(form.mostrar_direcciones) }}
        </div>
        <div data-step="6" data-intro="{% include "informe/Detenciones/help.html.twig" with {'step': '6' } %}">
            {{ form_widget(form.mostrar_totales) }}
        </div>
        {{ form_widget(form._token) }} 
        <div class="form-actions" style="background-color: white">
            <button id="btn-submit" type="submit" class="btn btn-primary">Generar Informe</button>
            <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>

{% endblock %}
