{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Informe de detenciones.{% endblock %}
{% block titulo %}Informe de detenciones {% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var arr = new Array();
            var i = 1;
            arr[0] = ['Servicio', 'Detenciones'];
        {% for value in dt %}
                arr[i] = ['{{value['servicio']}}', parseInt('{{value['detenciones']}}')];
                i++;
        {% endfor %}
                var data = google.visualization.arrayToDataTable(arr);

                var options = {
                    title: 'Detenciones',
                    height: 380,
                    curveType: 'function',
                    legend: {position: 'rigth'},
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('myArea1'));
                chart.draw(data, options);
            }
    </script>
{% endblock %}
{% block informacion %}
    Para <b>toda la flota</b>, desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>. Detenciones de mas de {{ consulta.tiempo_minimo }} minutos.
{% endblock %}

{% block contentpanel %}
    <div id="myArea1">&nbsp;</div>

{% endblock %}    