{% extends "app/Template/informe_mapa.html.twig" %}
{% block head %}
    {{ parent() }}
    {{ mapa.renderJs()|raw }}
{% endblock %}

{% block titulo %}Informe de Detenciones{% endblock %}

{% block informacion %}
    Para el equipo <b>{{ consulta.servicionombre }}</b>, desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>  se reportaron 
    <b>{{ informe[0]['data']|length }}</b>  detenciones de mas de {{ consulta.tiempo_minimo }} minutos.
{% endblock %}

{% block westpanel %}
    {% if informeExt is not null %}
        <table class="table table-condensed">
            <tr>
                <th colspan="2">Resumen</th>
            </tr>
            <tr>
                <td>Servicio</td>
                <td><b>{{ consulta.servicionombre }}</b></td>
            </tr>
            <tr>
                <td>Desde</td>
                <td><b>{{ consulta.desde }}</b></td>
            </tr>
            <tr>
                <td>Hasta</td>
                <td><b>{{ consulta.hasta }}</b></td>
            </tr>
            <tr>
                <td>Detenciones</td>
                <td><b>{{ informe[0]['data']|length }}</b></td>
            </tr>
            <tr>
                <td>Kms Total</td>
                <td><b>{{ informeExt['kms_calculada'] }} kms</b></td>
            </tr>
            <tr>
                <td>Kms Diarios</td>
                <td><b>{{ informeExt['kms_por_dia_calculada'] }} kms</b></td>
            </tr>
            <tr>
                <td>Veloc. Max.</td>
                <td><b>{{ informeExt['velocidad_maxima'] }} km/h</b></td>
            </tr>
            <tr>
                <td>Veloc. Prom.</td>
                <td><b>{{ informeExt['velocidad_promedio'] }} km/h</b></td>
            </tr>
            <tr>
                <td>Detendio</td>
                <td><b>{{ informeExt['tiempo_detenido'] }} hs</b></td>
            </tr>
            <tr>
                <td>Movimiento</td>
                <td><b>{{ informeExt['tiempo_movimiento'] }} hs</b></td>
            </tr>
            <tr>
                <td>Ralenti</td>
                <td><b>{{ informeExt['tiempo_motor_encendido'] }} hs</b></td>
            </tr>
            <tr>
                <td></td>
                <td> <label class="checkbox">
                        <input type="checkbox" id="historial_calcular_area" name="historial[calcular_area]" onclick="calcular_area();" value="0">
                        Calcular Dist. y Area 
                    </label></td>
            </tr>
        </table>
    {% endif %}
{% endblock %}

{% block southpanel %}    
    {% if informe is not null %}
        {% if informe|length > 0 %}
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Duración</th>
                        <th>Referencia</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrada in informe[0]['data'] %}
                        <tr style="cursor: pointer" onclick="{{ mapa.getMapName() }}.setZoom(16); {{ mapa.getMapName() }}.setCenter(new google.maps.LatLng ({{ entrada.latitud }}, {{ entrada.longitud }}))">
                            <td>{{ entrada.fecha_ingreso }}</td>
                            <td>{{ entrada.fecha_egreso }}</td>
                            <td style="text-align: right">{{ entrada.duracion }}</td>
                            <td>
                                {{ entrada.referencia_nombre|default('---') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>    
        {% else %}
            <em>No se registran detenciones para el tiempo solicitado.</em>
        {% endif %}
    {% endif %}    
{% endblock %}

{% block centerpanel %}
    {{ mapa.renderHtml()|raw }}   
{% endblock %}