{% extends "app/Template/informe_mapa.html.twig" %}
{% block head %}
    {{ parent() }}
    {{ mapa.renderJs()|raw }}
{% endblock %}

{% block titulo %}Informe de Detenciones{% endblock %}

{% block informacion %}
    Para el equipo <b>{{ consulta.servicionombre }}</b>, desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>  se reportaron 
    <b>{{ informe[0]['data']|length }}</b>  detenciones de mas de {{ consulta.tiempo_minimo }} minutos.
{% endblock %}

{% block westpanel %}
    <legend>Detenciones</legend>
        <label class="checkbox">
                                <input type="checkbox" id="historial_calcular_area" name="historial[calcular_area]" onclick="calcular_area();" value="0">
                                Calcular Dist. y Area 
                            </label>
    {% if informe is not null %}
        {% if informe|length > 0 %}
            <table class="table table-condensed">
                <thead>
                     <tr>
                        <th> </th>
                    </tr>
                    <tr>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Duración</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrada in informe[0]['data'] %}
                        <tr style="cursor: pointer" onclick="{{ mapa.getMapName() }}.setZoom(16); {{ mapa.getMapName() }}.setCenter(new google.maps.LatLng ({{ entrada.latitud }}, {{ entrada.longitud }}))">
                            <td>{{ entrada.fecha_ingreso }}</td>
                            <td>{{ entrada.fecha_egreso }}</td>
                            <td style="text-align: right">{{ entrada.duracion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>    
        {% else %}
            <em>No se registran detenciones para el tiempo solicitado.</em>
        {% endif %}
    {% endif %}
{% endblock %}

{% block centerpanel %}
    {{ mapa.renderHtml()|raw }}  
{% endblock %}
