<table style="margin-top: 5px;" class='table table-condensed'>
    <tr>
        <th>Nombre</th>
        <th>Horas</th>
    </tr>
    {% for trabajo in trabajos %}
        <tr>
            <td style='color:black;'>{{ trabajo.personal.persona.nombre }}</td>
            <td>{{ trabajo.horas }}</td>
        </tr>
    {% endfor %}
</table>

