<form id="form_actividad" class="form-horizontal">
    <table class='table table-condensed'>
        <tr>
            <th style="width: 50px;">Nombre</th>
            <th>Actividades</th>
            <th style="width: 60px;font-size: 11px;">Horas</th>
        </tr>
        {% for personal in personal %}
            {% set value = 0 %}
            <tr>
                {% if personal.horasTrabajoTemp  < 8 %}
                    <td style='color:black;'>{{ personal.persona.nombre }}</td>
                {% else %}
                    <td style='color:red;'>{{ personal.persona.nombre }}</td>
                {% endif %}
                <td style='color:black;'>
                    {% for trabajo in personal.actividades %}
                        {% if trabajo.actividad != null %}
                            {% if trabajo.actividad.id == actividad.id%}
                                {% set value = trabajo.horas %}
                            {% endif  %}
                            {% if trabajo.actividad.estado == 1 %}
                                {{ trabajo.actividad.nombre }} <em style="color:grey;"> {{ trabajo.horas }}hs</em><br>
                                <em style="color:grey;">{{ trabajo.actividad.proyecto.nombre }}</em><br>
                            {% endif  %}
                        {% endif  %}
                    {% endfor %}
                </td>
                {% if personal.horasTrabajoTemp  < 8 %}
                    {% set maxHoras = 8 - personal.horasTrabajoTemp %}
                    <td><input class="form-control" id ="form_actividad_personal_{{personal.id}}" value="{{ value }}"
                               name="form_actividad[personal][{{ personal.id }}]" type='number' min="0" max="{{ maxHoras }}" 
                               onkeypress="return (event.charCode >= 0 && event.charCode <= 1)"> {# bloqueo entrada de teclado#}
                    </td>
                {% else %}
                    <td> <em style="color:grey;"> +8 hs</em><br></td>

                {% endif %}
            </tr>
        {% endfor %}
    </table>
</form>