<div class="modal fade" id="modalPersonaModificar" role="dialog" aria-labelledby="modalActividadNewLabel" aria-hidden="true" style="display: none;z-index: 100010;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="col-md-12" style="text-align: center;">
                    <h4 class="modal-title" id="myModalLabel">Modificar Persona</h4>
                    <h5 class="modal-title" id="nombreProyecto"></h5>
                </div>
            </div>
            <div class="modal-body">
                <div id="modal-body-actividad" style="text-align: center;">
                    <form id="formPersonaEdit" class="form-horizontal">
                        <div class="row-fluid">
                            <div class="col-md-12" style="padding-top: 10px;">
                                <div class="col-md-8">
                                    <div class="control-group "><label class="control-label required" for="persona_nombre_edit">Nombre</label><div class="controls">
                                            <input type="text" class="form-control" id="persona_nombre_edit" name="persona_edit[nombre]" required="required">
                                            <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>
                                        </div>    

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="control-group "><label class="control-label required" for="persona_telefono_edit">Teléfono</label><div class="controls">
                                            <input type="text" class="form-control" id="persona_telefono_edit" name="persona_edit[telefono]" required="required">
                                            <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>
                                        </div>    

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-top: 10px;">
                                <div class="col-md-8">
                                    <div class="control-group "><label class="control-label" for="persona_cuit_edit">Cuit</label><div class="controls">
                                            <input type="text" class="form-control" id="persona_cuit_edit" name="persona_edit[cuit]">
                                        </div>    

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="control-group "><label class="control-label required" for="persona_documento_edit">Documento</label><div class="controls">
                                            <input type="text" class="form-control" id="persona_documento_edit" name="persona_edit[documento]" required="required">
                                            <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>
                                        </div>    

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                {#<a  data-toggle="modal" href="#modalProducto2" class="btn btn-success pull-left" title="Agrega un producto al deposito">Nuevo producto</a>#}
                <button id="btnPersonaModificar" type="button" class="btn btn-primary" >Modificar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>     
