<div class="modal fade" id="modalPersonalAsignar" role="dialog" aria-labelledby="modalActividadNewLabel" aria-hidden="true" style="display: none;z-index: 100000;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="col-md-12" style="text-align: center;">
                    <h4 class="modal-title" id="myModalLabel">Agregar Personal</h4>
                    <h5 class="modal-title" id="nombreProyecto"></h5>
                </div>
            </div>
            <div class="modal-body">
                <div id="modal-body-actividad">
                    <div class="control-group" style="padding: 5px;">
                        <a  href="#" title="Agregar Personal"  class="btn btn-default" data-target="#modalPersonaAgregar" data-toggle="modal"><i class="fa fa-plus"></i> Persona</a>
                        <div class="controls"  id="personal" style="padding-top:5px;height: 200px;overflow: auto; font-size: 11px;">
                              {% include "gpm/Personal/personal.html.twig" with { 'personal':personal, 'actividad':actividad } %} 
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12" style="margin-top: 10px;">
                    {#<a  data-toggle="modal" href="#modalProducto2" class="btn btn-success pull-left" title="Agrega un producto al deposito">Nuevo producto</a>#}
                    <button id="btnAsignarPersonal" type="button" class="btn btn-primary">Agregar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>     
