{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/personal_fields.html.twig' %}

{% block titulo %}CRM{% endblock %}
{% block subtitulo %}Edición de Estado{% endblock %}

{% block formulario %}
    <form  method="POST">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">{{ estado.nombre }}</div>
            </div>
            <div class="panel-body">
                {% include "crm/Estado/form.html.twig" %}        
            </div>
        </div>
        {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Cambiar' } %}        
    </form>
{% endblock %}
