{% extends "app/Template/list.html.twig" %}

{% block titulo %}CRM{% endblock %}        
{% block subtitulo %}Estados de las peticiones{% endblock %}        
{% block contentpanel %}        
    <div class="panel">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table condensed-table">
                    <thead>
                        <tr>
                            <th>Posición</th>
                            <th>Nombre</th>
                            <th>Default</th>
                            <th>Cerrado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for estado in estados %}
                            <tr>
                                <td>{{ estado.posicion }}</td>
                                <td><a href="{{ path('crm_estado_edit',{'id': estado.id})}}">{{ estado.nombre }}</a></td>
                                <td>{{ estado.isDefault ? 'Si' : 'No' }}</td>
                                <td>{{ estado.isCerrado ? 'Si' : 'No' }}</td>
                                <td> 
                                    <a href="{{ path('crm_estado_edit',{'id': estado.id})}}" class="btn btn-sm btn-default btn-bordered">Editar</a>
                                    <a href="{{ path('crm_estado_delete',{'id': estado.id})}}" class="btn btn-sm btn-default btn-bordered">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}



