{% extends "app/Template_aker/popup.html.twig" %}

{% block modalId %}modalDelete{% endblock %}

{% block modalTitulo %}Eliminar Usuario{% endblock %}

{% block modalUrl %}{{ path('usuario_delete', { 'id': usuario.id }) }}{% endblock %}

{% block modalBody %}
    <p>Esta seguro de eliminar este usuario: <strong>{{ usuario.nombre|upper }}</strong> ?</p>
    {{ form_widget(delete_form) }}
{% endblock %}

{% block modalOk %}
    <button class="btn btn-danger" type="submit">Eliminar</button>
{% endblock %}
