<div class="span8">
    {{ form_widget(form.nombre) }}
    {{ form_widget(form.username) }}
    {{ form_widget(form.email) }}
    {#{{ form_widget(form.telefono) }}#}
    {{ form_widget(form.enabled) }}
    {{ form_widget(form.change_password) }}
    {{ form_widget(form.timeZone) }}
    {{ form_widget(form.vista_mapa) }}
    {{ form_widget(form.limite_historial) }}
    {{ form_widget(form.showReferencias) }}
    {% if usuario.organizacion.tipoOrganizacion == 2 %}
        {{ form_widget(form.redirigir_login) }}
    {% endif %}
</div>
<div class="span4">    
    <h4>Datos obligatorios.</h4>
    <p>Los datos obligatorios son:</p>
    <ul>
        <li>Nombre y Apellido</li>
        <li>Nombre Usuario</li>
        <li>Email</li>
        <li>Clave</li>
    </ul>
    <p><b>Cambio de clave:</b> Usted no tiene derechos para cambiar la clave del usuario. Puede resetear la misma con lo
    que el usuario va a poder ingresar una nueva clave. <a href="#">Reseteo de clave</a></p>
    <p><b>Cambiar Contraseña:</b> Le pedira que cambie la contraseña la proxima vez que accesa al sistema.</p>
</div>
