{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ usuario.nombre }}{% endblock %}
{% block subtitulo %}Modificación de datos{% endblock %}

{% block imagentitulo %}
    {% if (usuario.organizacion.isLogoConfig) %}
        <img class="logo-medium" src="{{ asset(usuario.organizacion.getLogo()) }}" />
    {% endif %}
{% endblock %} 

{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        {{ form_errors(form) }} 
        <div class="row-fluid">
            {% include "user/Usuario/edit_content.html.twig" %}
        </div>        
        {{ form_widget(form._token) }}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" class="boton" value="Cambiar" />
            <a class="btn" href="{{ app.session.get('volver') }}" class="boton">Cancelar</a>
        </div>
    </form>
{% endblock %}