<div class="span8">
    <legend>Permisos Asociados</legend>
        <table class="table">
            <thead>
                <tr>
                    <td>Aplicación</td>
                    <td>Módulo</td>
                    <td>Permisos</td>
                </tr>
            </thead>
            {% for modulo in modulos %}
                {# Esto es para los derechis de los distribuidores #}
                {% if modulo.alcance == 1 and usuario.organizacion.tipoOrganizacion == 1 %}
                    <tr>
                       <td><b>{{ modulo.aplicacion }}</b></td>
                       <td><b>{{ modulo }}</b> </td>
                        <td>
                          {% for permiso in modulo.permisos %}
                                 {% if permiso.usable %}  
                                    {% if permiso in usuario.permisos %}
                                       {% set checked = 'checked' %}
                                    {% else %}
                                       {% set checked = '' %}
                                    {% endif %}
                                    <input type="checkbox" {{ checked }} id="usuario_permisos_{{ permiso.id }}" name="usuario[permisos][{{ permiso.id }}]" value="{{ permiso.id }}" >
                                    {{ permiso }} {{ is_granted('ROLE_ROOT') ? "("~permiso.codename~")" : "" }}<br/>
                                {% endif %}
                          {% endfor %}
                        </td>
                    </tr>
                {# esto es para los derechos de los clientes. #}     
                {% elseif modulo.alcance in [0, 2] and usuario.organizacion.tipoOrganizacion == 2 %}
                    <tr>
                       <td><b>{{ modulo.aplicacion }}</b></td>
                       <td><b>{{ modulo }}</b> </td>
                       <td>
                          {% for permiso in modulo.permisos %}
                                 {% if permiso.usable %}  {# solo los permisos usables. #}
                                    {% if permiso in usuario.permisos %}
                                       {% set checked = 'checked' %}
                                    {% else %}
                                       {% set checked = '' %}
                                    {% endif %}
                                    <input type="checkbox" {{ checked }} id="usuario_permisos_{{ permiso.id }}" name="usuario[permisos][{{ permiso.id }}]" value="{{ permiso.id }}" >
                                    {{ permiso }} {{ is_granted('ROLE_ROOT') ? "("~permiso.codename~")" : "" }}<br/>
                                {% endif %}
                          {% endfor %}
                       </td>
                    </tr>
                {% endif %}
           {% endfor %}
        </table>
    
</div>
<div class="span4">    
    <p>Marque los permisos a los que puede tener acceso el usuario.</p>
    {% if usuario.isMaster %}
        <b>Este usuario figura como MASTER de {{ usuario.organizacion }} por lo que tiene acceso a todos los derechos normales.
        </b>
    {% endif %}
</div>
