{% extends "layout.html.twig" %}

{% block content %}

<div class="sidebar">
    <div class="well">
        <h5>Opciones</h5>
        <ul>
            <li><a href="{{ path('usuario_new') }}">Agregar</a></li>
        </ul>
    {#<li><a href="{{ path('secur_user_registration_register') }}">Registrar</a> <span class="divider">/</span></li>#}
    {#<li><a href="{{ path('secur_user_resetting_request') }}">Resetear Clave</a> <span class="divider">/</span></li>#}
    </div>
</div>
<div class="content">
    <h2>Usuarios Registrados</h2>
    <table class="zebra-striped">
        <thead>
            <tr>
                <th>Nombre y Apellido</th>
                <th>Nombre Usuario</th>
                <th>Email</th>
                <th>Organización</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios %}
                <tr>
                    <td><a href="{{ path('usuario_show', {'username': user.getUsername} ) }}">{{ user.getNombre() }}</a></td>
                    <td>{{ user.getUsername }}</td>
                    <td>{{ user.getEmail() }}</td>
                    <td>{{ user.getOrganizacion() }}</td>
                    <td>
                        <div>
                            <a href="{{ path('usuario_edit', {'username': user.getUsername, 'return': 'list'} ) }}">Editar</a>
                        </div> 
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}