<table class="zebra-striped">
    
    {% for org in organizaciones %}
        <h3>{{ org }}</h3>
        <thead>
            <tr>
                <th>Nombre y Apellido</th>
                <th>Nombre Usuario</th>
                <th>Email</th>
                <th>Organización</th>
                {# <th>Perfil</th> #}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in org.usuarios %}
            <tr>
                <td><a href="{{ path('usuario_show', {'username': user.getUsername} ) }}">{{ user.getNombre() }}</a></td>
                <td>{{ user.getUsername }}</td>
                <td>{{ user.getEmail() }}</td>
                <td>{{ user.getOrganizacion() }}</td>
               {# <td>
                    {% for perfil in user.getPerfil() %}
                        {{ perfil }}</br>
                    {% endfor %}
                </td> #}
                <td>
                    <div>
                        <a href="{{ path('usuario_edit', {'username': user.getUsername, 'return': 'list'} ) }}">Editar</a>
                       {# | <a href="{{ path('secur_user_usuario_addperfil', {'username': user.getUsername}) }}">Perfiles</a> #}
                    </div> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
   {% endfor %}
</table>
