{% extends "layout.html.twig" %}

{% block content %}
<h2>Usuarios Registrados</h2>
<ul class="breadcrumb">
    <li><a href="{{ path('usuario_new') }}">Agregar</a> <span class="divider">/</span></li>
    {#<li><a href="{{ path('secur_user_registration_register') }}">Registrar</a> <span class="divider">/</span></li>#}
    {#<li><a href="{{ path('secur_user_resetting_request') }}">Resetear Clave</a> <span class="divider">/</span></li>#}
</ul>

{% include "user/Usuario/list_content.html.twig" %}

{% endblock content %}