<div class="span8">
    <legend>Permisos Asociados</legend>
    <table class="table">
        <thead>
            <tr>
                <td>Aplicación</td>
                <td>Módulo</td>
                <td>Permisos</td>
            </tr>
        </thead>
    {% for modulo in modulos %}
        {% if modulo.alcance == 1 and usuario.organizacion.tipoOrganizacion == 1 %}
            <tr>
                <td> <h4>{{ modulo.aplicacion }}</h5> </td>
                <td> <h5><em>{{ modulo }}</em></h5> </td>
                <td>
                  {% for permiso in modulo.permisos %}
                      {% if permiso.usable %}  
                          <input type="checkbox" id="usuario_permisos_{{ permiso.id }}" name="usuario[permisos][{{ permiso.id }}]" value="{{ permiso.id }}">
                            {{ permiso }} {{ is_granted('ROLE_ROOT') ? "("~permiso.codename~")" : "" }}<br/>
                      {% endif %}
                  {% endfor %}
                </td>
            </tr>
        {% elseif modulo.alcance in [0, 2] and usuario.organizacion.tipoOrganizacion == 2 %}
            <tr>
                <td> <h4>{{ modulo.aplicacion }}</h5> </td>
                <td> <h5><em>{{ modulo }}</em></h5> </td>
                <td>
                  {% for permiso in modulo.permisos %}
                      {% if permiso.usable %}  
                          <input type="checkbox" id="usuario_permisos_{{ permiso.id }}" name="usuario[permisos][{{ permiso.id }}]" value="{{ permiso.id }}">
                            {{ permiso }} {{ is_granted('ROLE_ROOT') ? "("~permiso.codename~")" : "" }}<br/>
                      {% endif %}
                  {% endfor %}
                </td>
            </tr>
        {% endif %}
   {% endfor %}
    </table>
        
    
</div>
<div class="span4">    
    <p>Marque los permisos a los que puede tener acceso el usuario.</p>
</div>

{#
{% for modulo in aplicacion.modulos %}
                   <tr rowspan="{{ modulo.permisos.count }}">
                       <td><h5><em>{{ modulo }}</em></h5></td>
                       <td>
                            {% for permiso in modulo.permisos %}
                                    <input type="checkbox" id="usuario_permisos_{{ permiso.id }}" name="usuario[permisos][{{ permiso.id }}]" value="{{ permiso.id }}">
                                    {{ permiso }} {{ is_granted('ROLE_ROOT') ? "("~permiso.codename~")" : "" }}<br/>
                            {% endfor %}
                       </td>
                    </tr>   
                {% endfor %}
#}