{% extends "app/Template/form.html.twig" %}

{% block titulo %}{{ usuario.nombre }}{% endblock %}
{% block subtitulo %}Asignación de Permisos{% endblock %}

{% block informacion %}
    <div class="alert alert-info">
        <span class="label label-warning">Atención</span> Debe asignar los permisos de acceso a las diferentes acciones o zonas 
        a las que desee que el usuario acceda. Por defecto el usuario no tiene acceso a ninguna accion.
    </div>
{% endblock  %}

{% block formulario %}
<form id="permiso" class="form-horizontal" action="{{ path('usuario_permiso', {'id': usuario.id} ) }}" method="POST">
<fieldset>   
    <div class="row-fluid">
        <div class="span12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Aplicación</th>
                        <th>Módulo</th>
                        <th>Permisos</th>
                    </tr>
                </thead>
                {% for modulo in modulos %}
                    {# Esto es para los derechos de los distribuidores #}
                    {% if modulo.alcance == 1 and tipo == 1 %}
                        {% if modulo.permisos|length > 0 %}
                            <tr>
                               <td>{{ modulo.aplicacion }}</td>
                               <td>{{ modulo }}</td>
                                <td>
                                  {% for permiso in modulo.permisos %}
                                        {% if permiso.usable and (is_granted(permiso.restringido) or permiso.restringido == '')%}  
                                            {% if permiso in usuario.permisos %}
                                               {% set checked = 'checked' %}
                                            {% else %}
                                               {% set checked = '' %}
                                            {% endif %}
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" {{ checked }} id="permiso_{{ permiso.id }}" name="permiso[{{ permiso.codename }}]" value="{{ permiso.codename }}" >
                                                    {{ permiso }} 
                                                </label>
                                            </div>
                                        {% endif %}
                                  {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    {# esto es para los derechos de los clientes. #}     
                    {% elseif modulo.alcance in [0, 2] and tipo == 2 %}
                        {% if modulo.permisos|length > 0 %}
                            <tr>
                               <td>{{ modulo.aplicacion }}</td>
                               <td>{{ modulo }}</td>
                               <td>
                                  {% for permiso in modulo.permisos %}
                                     {% if permiso.usable %}  {# solo los permisos usables. #}
                                        {% if permiso in usuario.permisos %}
                                           {% set checked = 'checked' %}
                                        {% else %}
                                           {% set checked = '' %}
                                        {% endif %}
                                        <input type="checkbox" {{ checked }} id="permiso_{{ permiso.id }}" name="permiso[{{ permiso.codename }}]" value="{{ permiso.codename }}" >
                                        {{ permiso }} {{ is_granted('ROLE_ROOT') ? "("~permiso.codename~")" : "" }}<br/>
                                    {% endif %}
                                  {% endfor %}
                               </td>
                            </tr>
                        {% endif %}
                    {% endif %}
               {% endfor %}
            </table>
        {# <div class="span4">    
            <p>Marque los permisos a los que puede tener acceso el usuario.</p>
            {% if usuario.isMaster %}
                <b>Este usuario figura como MASTER de {{ usuario.organizacion }} por lo que tiene acceso a todos los derechos normales.
                </b>
            {% endif %}
        </div> #}            
            <div class="form-actions">
                <input class="btn btn-primary" type="submit" class="boton" value="Cambiar" />
                 <a class="btn" href="{{ app.session.get('volver') }}" class="boton">Cancelar</a>
            </div>
        </div>
    </div>        
</fieldset>
</form>
       
{% endblock %}


