<h3>Reseteo de usuario y contraseña</h3>

Tu nombre de usuario es: <b>{{ usuario.username }}</b><br>

Tu contraseña es: <b>{{ pass }}</b><br>
<p>
    Te informamos que tu contraseña es provisoria la que deberas modificar cuando ingreses al sistema.    
</p>
<p>
    Ingrese a: <a href="http://app.akercontrol.com">app.akercontrol.com</a>
</p>
<p>
    Muchas gracias. <br>
    Este mensaje se genera automáticamente, por favor no responder al remitente.
</p>