{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ usuario.nombre }}{% endblock %}
{% block subtitulo %}Reset de Clave de Usuario{% endblock %}

{% block formulario %}
    <p>Este procedimiento va a colocar una clave provisoria y enviará un mail al usuario
        indicandole cual es la clave provisoria. El usuario deberá usar esta clave 
        para hacer el primer login y luego deberá colocar una clave personal nueva.</p>
    <p>El mail se enviará a <b>{{ usuario.email|default('(no definido)') }}</b> con la información del procedimiento. Si no es correcto utilice el formulario
        de abajo para cambiar el mail del usuario.</p>
        
    {{ form_start(form) }}        
    {{ form_errors(form) }} 
    {{ form_widget(form.email) }}

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" class="boton" value="Reset" />
        <a class="btn" href="{{ app.session.get('volver') }}" class="boton">Cancelar</a>
    </div>
</div>
{{ form_end(form) }}

{% endblock %}