{% extends "layout.html.twig" %}

{% block content %}
<h2>Roles para {{ usuario.nombre }}</h2>
<form class="form-horizontal" action="{{ path('usuario_addrole', {'username': usuario.getUsername}) }}"  method="POST">
   {{ form_errors(form) }}      

   {% for rol in form.role %}
    <fieldset>
        <div class="clearfix">
            {{ form_widget(rol) }} {{ form_label(rol) }}
            <div class="input"></div>
        </div>
    </fieldset>
   {% endfor %}
   {{ form_rest(form) }}
    <div class="form-actions">
        <input type="submit" class="boton" value="Actualizar" />
        <a href="{{ path('usuario_show', {'username': usuario.username}) }}" class="boton">Cancelar</a>
    </div>
</form>
{% endblock content %}


