<select id="listAsignados" multiple="multiple" size="{{ asignados|length }}" style="width: 100%;">
    {% for grupo in asignados %}
        <option value="{{ grupo.id }}">{{ grupo.nombre|upper ~ ' (' ~ grupo.referencias|length ~ ' ref.) '}}</option>           
    {% endfor %}
</select>
<em>Total asignados: {{ asignados|length|default(0) }}</em>