<select id="listDisponibles" multiple="multiple" size="{{ disponibles|length }}" style="width: 100%;">
    {% for grupo in disponibles %}
        <option value="{{ grupo.id }}">{{ grupo.nombre|upper ~ ' (' ~ grupo.referencias|length ~ ' ref.) '}}</option>                
    {% endfor %}
</select>
<em>Total disponibles: {{ disponibles|length|default(0) }}</em>