{% extends "app/Template_aker/show.html.twig" %}

{% block formdelete %}
	{% include "user/Usuario/delete_form.html.twig" %}
{% endblock %}

{% block titulo %}
	{{ usuario.organizacion }}
{% endblock %}
{% block subtitulo %}
	{{ usuario.nombre }}
{% endblock %}

{% block contentpanel %}
	<div class="row-fluid row-show">
		<div class="col-md-6">
			<h3>Datos Principales</h3>
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Nombre', 'data': usuario.nombre } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Nombre Usuario', 'data': usuario.username } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'E-Mail', 'data': usuario.email } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Teléfono', 'data': usuario.telefono|default('---') } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Limpiar Pass', 'data':  usuario.changePassword ? 'SI' : 'NO'   } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Habilitado', 'data': usuario.enabled ? "Si" : "No" } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Organización', 'data': usuario.organizacion } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Zona Horaria', 'data': usuario.timeZone } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Creado', 'data': usuario.createdAt|date("d-m-Y H:i", app.user.timeZone) } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Último cambio', 'data': usuario.updatedAt|date("d-m-Y H:i", app.user.timeZone)  } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Último Ingreso', 'data': usuario.lastLogin|date("d-m-Y H:i", app.user.timeZone)  } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'ApiCode', 'data': usuario.apiCode|default('---')  } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Último host', 'data':  usuario.ultHost|default('---')  } %}
		</div>
		<div
			class="col-md-6">
			{# aca se muestran los permisos del usuario #}
			<h3>Permisos</h3>
			<ul>
				{% for permiso in usuario.permisos %}
					<li>{{ permiso.descripcion }}</li>
				{% else %}
					<em>No tiene permisos asociados.</em>
				{% endfor %}
			</ul>
			{% if is_granted('ROLE_ROOT') %}
				<h3>Roles</h3>  
                <small>Esto solo se visualiza para el ROOT logueado y en forma de depuración del sistema</small> 
                <ul>             
				{% for rol in usuario.roles %}
					<li>{{ rol }}</li>
				{% endfor %}
                </ul>
			{% endif %}
		</div>
	</div>
{% endblock  %}
