{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ taller.organizacion }}{% endblock %}
{% block subtitulo %}Alta de Taller{% endblock %}


{% block formulario %}
  <form class="form-horizontal"  method="POST" >
        <fieldset>
            <div class="row-fluid">
                <div>{{ form_errors(form) }}</div>
                <div class="span7">
                    {{ form_widget(form.nombre) }}
                    {{ form_widget(form.telefono) }}
                    {{ form_widget(form.direccion) }}
                    {{ form_widget(form.rubro) }}
                    {{ form_widget(form.horario) }}
                    {{ form_widget(form.email) }}
                    {{ form_widget(form.nota) }}
                </div>
                
            </div>
            {{ form_rest(form) }}
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Agregar" />
                <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>
        </fieldset>
    </form>

{% endblock %}

