<!-- Modal -->
<div class="modal fade" id="modalSector" role="dialog" aria-labelledby="modalSectorLabel" data-modal-index="-100">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Sector</h4>
            </div>
            <div class="modal-body">
                <div id="modal-body-producto">
                    <form id="formSector" class="form-horizontal">
                        {{ form_widget(formSector.nombre) }}
                        {{ form_widget(formSector.telefono) }}
                        {{ form_widget(formSector.rubro) }}
                        {{ form_widget(formSector.horario) }}
                        {{ form_widget(formSector.descripcion) }}

                    </form>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button id="btnSectorAdd" type="button" class="btn btn-primary" >Agregar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>

