{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "mante/TallerExterno/delete_form.html.twig" %} 
{% endblock %} 

{% block titulo %}Talleres Externos{% endblock %}    
{% block subtitulo %}{{ taller.nombre }}{% endblock %}  

{% block contentpanel %}
    <div class="row-fluid row-show">
        <div class="span6">
            <h3>Datos del Taller</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': taller.nombre } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Teléfono', 'data': taller.telefono|default('---')} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Dirección', 'data': taller.direccion|default('---')} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Rubro', 'data': taller.rubro|default('---')} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Horario de atención', 'data': taller.horario|default('---')} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Email', 'data': taller.email|default('---')} %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Nota', 'data': taller.nota|default('---')} %} 
        </div>
    </div>   
{% endblock %}

