
{# debo generar un div para cada variable que tenga #}
{#{% for graph in dt %}
    <div id="{{ graph.variable }}" style="width: 100%; height: 480px;">
        &nbsp;
    </div>
{% endfor %}#}
 <div id="charts_container"></div>