{% extends "app/Template_aker/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block title %}
	Informe de historico de Canbus
{% endblock %}
{% block titulo %}
	Informe de historico de Canbus
{% endblock %}

{% block js %}
	{{ parent() }}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		{% include "informe/CanbusHistorico/graficos.js" %}</script>

	<script type="text/javascript">
		$(function () {
$('#informecanbushistorico_hasta').datetimepicker({format: 'DD/MM/YYYY HH:mm', locale: 'es', date: moment()});

$('#informecanbushistorico_desde').datetimepicker({
format: 'DD/MM/YYYY HH:mm',
locale: 'es',
date: moment().subtract(7, 'days')
});

$('#informecanbushistorico_servicio').select2();
});

$("#consultar").on('click', function () {
var request = $.ajax({
type: 'POST',
url: "{{ path('informe_canbus_generar') }}",
data: {
'formCanbus': $("#formCanbus").serialize()
},
dataType: "json",
// async: true,
beforeSend: function () {
$("#pantalla").html('<h4>Cargando....</h4>');
}
});
request.done(function (respuesta) {
if (respuesta.status == 'ok') {
$("#pantalla").text('');
// siempre pongo en el div lo que me devuelve el controller
switch (respuesta.destino) {
		case '1': // pantalla
		$("#pantalla").html(respuesta.html);
		getDataTableExcel("tablaCanbus");
		break;
		case '2':
		// graficos
		// armo los div necesarios para recibir los graficos
		$("#pantalla").html(respuesta.html);

		// inicializo los graficos
		google.charts.load('current', {'packages': ['corechart']});

		// se va a ejecutar la funcion drawChart que esta en graficos.js
		google.charts.setOnLoadCallback(function () { // Llamar a drawChart con los parámetros deseados
drawChart(respuesta.informe);
});

break;
default:
}
}
});
});
	</script>
{% endblock %}

{% block informacion %}
	<div class="alert alert-default" role="alert">
		<form class="form-horizontal" id="formCanbus" method="POST">
			{{ form_errors(form) }}
			{{ form_widget(form._token) }}
			<div class="row">
				<div class="col-md-2">
					{{ form_widget(form.destino) }}
				</div>
				<div class="col-md-3">
					{{ form_widget(form.servicio) }}
				</div>
				<div class="col-md-2">
					{{ form_widget(form.desde) }}
				</div>
				<div class="col-md-2">
					{{ form_widget(form.hasta) }}
				</div>
			</div>
			<div class="col-md-2"></div>
			<div class="row">
				<div class="col-md-12">
					<div id="informecanbushistorico_variables">
						<label class="control-label">
							Variables
						</label>
						<div class="controls">
							<div class="control-group">
								{% for value, label in variables %}
								<div class="col-md-2">
									<input type="checkbox" id="informecanbushistorico_variables_{{ loop.index0 }}" name="informecanbushistorico[variables][]" value="{{ label }}">
									<label class="control-label" for="informecanbushistorico_variables_{{ loop.index0 }}">
										{{ value }}
									</label>
								</div>
								{% endfor %}								
							</div>
						</div>						
					</div>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-md-12">
				<div class="control-group ">
					<label class="control-label"></label>
					<div class="controls ">
						<button type="button" class="btn btn-default" id="consultar">
							Consultar
						</button>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="pantalla">
			{% include "informe/CanbusHistorico/pantalla.html.twig" %}
		</div>
	</div>

{% endblock %}
