{% if informe is not null %}
	<h3>{{informe.servicionombre}}</h3>
	{% if informe|length > 0 %}
		<table id="tablaCanbus" class="table table-condensed">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Tanque Combustible</th>
					<th>Odometro</th>
					<th>Odom. Acu.</th>
					<th>Odolitro</th>
					<th>Odol. Acu.</th>
					<th>Rend. (km/lts)</th>
					<th>Rpm</th>
					<th>Veloc.</th>
					<th>Presión Aceite</th>
					<th>Temp. Motor</th>
				</tr>
			</thead>
			<tbody>
				{% for nombre, tramas in informe %}
					{% for trama in tramas %}
						<tr>
							<td>{{ trama.fecha|date('d-m-Y H:i:s') }}</td>
							<td>{{ trama.nivelCombustible is defined ? trama.nivelCombustible : '' }}</td>
							<td>{{ trama.odometro }}</td>
							<td>+{{ trama.odometroAcumulado|number_format(1) }}</td>
							<td>{{ trama.odolitro }}
							</td>
							<td>+{{ trama.odolitroAcumulado|number_format(1) }}</td>
							<td>{{ trama.rendimiento|number_format(1) }}</td>
							<td>{{ trama.velMotorRPM is defined ? trama.velMotorRPM : '' }}</td>
							<td>{{ trama.velInstantanea is defined ? trama.velInstantanea : '' }}</td>
							<td>{{ trama.presionAceite is defined ? trama.presionAceite : '' }}</td>
							<td>{{ trama.tempMotor is defined ? trama.tempMotor : '' }}</td>

						</tr>
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<em>No hay información para este servicio</em>
	{% endif %}

{% endif %}
