{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ capturador.nombre|e }}{% endblock %}
{% block subtitulo %}Edición{% endblock %}

{% block formulario %}
<form class="form-horizontal"  method="post" >
    <div class="row-fluid">
        <div class="span8">
            <h4>Datos del Capturador</h4>
            <fieldset>
                {{ form_errors(form) }}
                {{ form_widget(form.nombre) }}                
                {{ form_widget(form.ip) }}
                {{ form_widget(form.puerto_trama) }}
                {{ form_widget(form.programador) }}
                {{ form_widget(form) }}
            </fieldset>
            {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Cambiar' } %}
        </div>
    </div>
</form>
{% endblock %}
