{% extends "app/Template/list.html.twig" %}
{% block titulo %}Capturadores{% endblock %}
{% block contentpanel %}  
<table class="table condensed-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>IP</th>
            <th>Puerto Trama</th>
            <th>Programador</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
           {% for capturador in capturadores %}
            <tr>
                <td><a href="{{ path('capturador_show', {'id': capturador.id} ) }}">{{ capturador.nombre }}</a></td>
                <td>{{ capturador.ip }}</td>
                <td>{{ capturador.puertoTrama }}</td>
                <td>{{ capturador.programador }}</td>
                <td>
                    <a href="{{ path('capturador_edit', { 'id': capturador.id }) }}">Editar</a>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
