{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    <div id="modalDelete" class="modal hide fade">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>
            <h3>Eliminar Capturador</h3>
        </div>
        <form class="form-horizontal" method="post">
            <div class="modal-body">
                <p>ROOT: Esta seguro de eliminar este capturador: <strong>{{ capturador.nombre|upper }}</strong> ?</p>
                {{ form_widget(delete_form) }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit">Eliminar</button>
                <a id="boton-cancelar" href="" class="btn secondary">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block titulo %}{{ capturador.nombre }}{% endblock %}    
{% block contentpanel %}
    <div class="row-fluid row-show">
        <h3>Datos Principales</h3>
        <div class="span6">
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': capturador.nombre } %}       
            {% include "app/Template/show_row.html.twig" with {'label': 'Ip', 'data': capturador.ip } %}       
            {% include "app/Template/show_row.html.twig" with {'label': 'Puerto Tramas', 'data': capturador.puertoTrama } %}               
            {% include "app/Template/show_row.html.twig" with {'label': 'Programador', 'data': capturador.programador } %}               
        </div>
    </div>
{% endblock %}
