{% if is_granted("ROLE_ROOT") %}
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Área</th>
				<th>Descripción</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a href="{{ path('dist_root_list') }}">Distribuidores Root</a>
				</td>
				<td>Lista todos los distribuidores root del sistema</td>
			</tr>
			<tr>
				<td>
					<a href="{{ path('aplicacion_list') }}">Aplicaciones y Roles</a>
				</td>
				<td>Configuración de Aplicaciones, Módulos y Roles para cada sección del sistema.</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<table class="table">
		<tr>
			<td>
				<a href="{{ path('variableevento_list') }}">Variables de eventos para Agente</a>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<a href="{{ path('tipoevento_list') }}">Tipo de Eventos para Agente</a>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<a href="{{ path('tiposervicio_list') }}">Tipos de Servicios</a>
			</td>
			<td></td>
		</tr>

		<tr>
			<td>
				<a href="{{ path('modelo_list') }}">Modelos de Equipos</a>
			</td>
			<td></td>
		</tr>

		<tr>
			<td>
				<a href="{{ path('tipocombustible_list') }}">Tipos de Combustible</a>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<a href="{{ path('capturador_list') }}">Capturadores</a>
			</td>
			<td>Configuración de los capturadores de tramas de los diferentes tipos de equipos.</td>
		</tr>
		<tr>
			<td>
				<a href="{{ path('motivotx_list') }}">Motivos de Transmisión</a>
			</td>
			<td>Configuración de los motivos de transmisión de tramas de los diferentes tipos de equipos.</td>
		</tr>
		<tr>
			<td>
				<a href="{{ path('metrica_informes') }}">Métricas de informes Clientes</a>
			</td>
			<td>Panel de control de métricas de consultas a informes de clientes.</td>
		</tr>
	</table>

{% endif %}
