{% extends "app/Template_aker/show.html.twig" %}
{% block titulo %}
	Panel de Control
{% endblock %}

{% block contentpanel %}
	<div class="row">
		<div class="col-md-8">
			{% embed "app/Template_aker/panel_simple.html.twig" %}
				{% block titulo %}Configuración
				{% endblock %}
				{% block cuerpo %}
					{% include "backend/PanelControl/config.html.twig" %}
				{% endblock %}
			{% endembed %}
		</div>

		<div class="col-md-4">
			{% embed "app/Template_aker/panel_simple.html.twig" %}
				{% block titulo %}Status del kernel
				{% endblock %}
				{% block cuerpo %}
					{% include "backend/PanelControl/status.html.twig" %}
				{% endblock %}
			{% endembed %}
		</div>
	</div>
{% endblock %}
