{% if status %}
	{% if status[2] is defined %}
		<h3>Caidos</h3>
		{% for servicio in status[2] %}
			<span class="label label-danger">{{ servicio.servicio }}</span>
		{% endfor %}
	{% endif %}

	{% if status[1] is defined %}
		<h3>Funcionando</h3>
		{% for servicio in status[1] %}
			<span class="label label-success">{{ servicio.servicio }}</span>
		{% endfor %}
	{% endif %}
	{% if status[9] is defined %}
		<h3>Desconocido</h3>
		{% for servicio in status[9] %}
			<span class="label label-default">{{ servicio.servicio }}</span>
		{% endfor %}
	{% endif %}
{% else %}
	<b>Error en obtención de status de servicios</b>
{% endif %}
