{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ servicio.nombre }}{% endblock %}
{% block subtitulo %}Asignar Equipo{% endblock %}

{% block formulario %}
<form class="form-horizontal" action="{{ path('apmon_servicio_asignar_equipo', {'id': servicio.id} ) }}"  method="POST" >
    <div class="row-fluid">
        <div>
            {{ form_errors(form) }}
            {{ form_widget(form._token) }}
        </div>
        <h4>Equipos disponibles en el deposito:</h4>
        <fieldset>
           {{ form_widget(form.equipo) }}
           {% if form.fecha is defined %}  
               {{ form_widget(form.fecha) }}
               {{ form_widget(form.odometro) }}  
               {{ form_widget(form.horometro) }}  
           {% endif %}
        </fieldset>
    </div>
    
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Asociar" />
        <a href="{{app.session.get('volver')}}" class="btn">Cancelar</a>
    </div>
</form>

{% endblock %}

{% block css %}
{{ parent() }}
<link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
<style type="text/css">
    .ui-timepicker-div
    .ui-widget-header { margin-bottom: 8px; }
    .ui-timepicker-div dl { text-align: left; }
    .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
    .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
    .ui-timepicker-div td { font-size: 12px; }
    .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
</style>
{% endblock %}

{% block js %}
{{ parent() }}      
<script type="text/javascript">
    $(function () {        
         $.datepicker.setDefaults ($.datepicker.regional["es"]);
                $.timepicker.setDefaults ($.timepicker.regional["es"]);
                $("#servicio_fecha").datetimepicker({
                    dateFormat: 'dd-mm-yy',
                });
    });

</script>    
{% endblock %}