<div id="modalServicios" class="modal hide fade">
    <div class="modal-header"><h3>Servicios</h3></div>
    <div class="modal-body" id="modal-body-servicios">
    </div>
    <div class="modal-footer">
        <button id="boton-aceptar-servicios" class="btn btn-primary" type="button">Aceptar</button>
        <button id="boton-cancelar-servicios" class="btn" type="button">Cancelar</button>
    </div>
</div>

<script>
$('#boton-aceptar-servicios').click(function() {
    var request = $.ajax({
          type: 'POST',
          url: "{{ path('main_evento_createservicios') }}", 
          data: { 'datos': datosFormulario,
                  'organizacion' : {{ evento.organizacion.id }},
                  'formserv': $("#formserv").serialize(),   //form de los servicios.
                  'formev': $("#form").serialize(),   //form del evento
          }, 
          dataType: "json",
          //async: true,
          beforeSend: function(){
                $("#modal-body-servicio").text(""); 
                $('#modal-body-servicio').text( 'Actualizando datos...' );
            },
    });
    request.done(function(respuesta) {
        $("#content-view-servicios").text(""); 
        $("#content-view-servicios").append( respuesta.html );        
        datosFormulario = respuesta.datos;
        $('#modalServicios').modal('toggle');
    });
});

$('#boton-cancelar-servicios').click(function() {
    $('#modalServicios').modal('toggle');
});

//Esto se ejecuta cuando se hace el show. Debe estar seleccionado el tipo de evento.
$('#modalServicios').on('shown', function () {
    $("#modal-body-servicios").html('') ;
    var request = $.ajax({
          type: 'POST',
          url: "{{ path('main_evento_viewservicios' ) }}", 
          dataType: "json",
          data: { 
              'datos': datosFormulario,
              'idOrg' : {{ evento.organizacion.id }}
              },
         // async: true,
          beforeSend: function(){
                $("#modal-body-servicios").text(""); 
                $('#modal-body-servicios').text( 'Cargando formulario, espere por favor...' );
            },
        });
        request.done(function(respuesta) {
            $("#modal-body-servicios").html(respuesta.html) ;
        });
});

//cuando se checkea todos.
function checkAll() {
   $("input:checkbox").attr('checked', document.getElementById('check_all').checked);
}

</script>