<div id="modalNotificacion" class="modal hide fade">
    <div class="modal-header">
        <h3>Notificación</h3>
    </div>
    <div class="modal-body" id="modal-body-notificacion">
    </div>
    <div class="modal-footer">
        <button id="boton-aceptar-notificacion" class="btn btn-primary" type="button">Aceptar</button>
        <button id="boton-cancelar-notificacion" class="btn" type="button">Cancelar</button>
    </div>
</div>

<script>
$('#boton-aceptar-notificacion').click(function() {
    var request = $.ajax({
          type: 'POST',
          url: "{{ path('main_evento_createnotificacion') }}", 
          data: { 'datos': datosFormulario,
                  'formnotif': $("#formnotif").serialize(),   //form de los servicios.
                  'formev': $("#form").serialize(),   //form del evento
          }, 
          dataType: "json",
          //async: true,
          beforeSend: function(){
                $("#modal-body-notificacion").text(""); 
                $('#modal-body-notificacion').text( 'Actualizando datos...' );
            },
    });
    request.done(function(respuesta) {
        $("#content-view-notificacion").text(""); 
        $("#content-view-notificacion").append( respuesta.html );        
        datosFormulario = respuesta.datos;
        $('#modalNotificacion').modal('toggle');
    });
});

$('#boton-cancelar-notificacion').click(function() {
    $('#modalNotificacion').modal('toggle');
});

//Esto se ejecuta cuando se hace el show. Debe estar seleccionado el tipo de evento.
$('#modalNotificacion').on('shown', function () {
    $("#modal-body-notificacion").html('') ;
    var request = $.ajax({
          type: 'POST',
          url: "{{ path('main_evento_viewnotificacion' ) }}", 
          data: { 
              'datos': datosFormulario,
              'idOrg' : {{ evento.organizacion.id }}
              },
          dataType: "json",
             // async: true,
              beforeSend: function(){
                    $("#modal-body-notificacion").text(""); 
                    $('#modal-body-notificacion').text( 'Cargando formulario, espere por favor...' );
                },
        });
        request.done(function(respuesta) {
            $("#modal-body-notificacion").html(respuesta.html) ;
        });
});

</script>