<div id="modalCondicion" class="modal hide fade">
    <div class="modal-header">
        {#<a href="#" class="close">&times;</a>#}
        <h3>Condiciones</h3>
    </div>
    <div class="modal-body" id="modal-body-condition">
    </div>
    <div class="modal-footer">
        <button id="boton-aceptar" class="btn btn-primary" type="button">Aceptar</button>
        <button id="boton-cancelar" class="btn" type="button">Cancelar</button>
    </div>
</div>

<script>
$('#boton-aceptar').click(function() {
    idEv = document.getElementById('evento_tipoEvento').value;                
    var request = $.ajax({
          type: 'POST',
          url: "{{ path('main_evento_createparam') }}", 
          data: { 'idTEvento': idEv, 
                  'datos': datosFormulario,
                  'formcond': $("#formcond").serialize(),   //form de los parametros.
                  'formev': $("#form").serialize(),   //form del evento
          }, 
          dataType: "json",
          //async: true,
          beforeSend: function(){
                $("#modal-body-condition").text(""); 
                $('#modal-body-condition').text( 'Actualizando datos...' );
            },
    });
    request.done(function(respuesta) {
        $("#content-view-params").text(""); 
        $("#content-view-params").append( respuesta.html );        
        datosFormulario = respuesta.datos;
        $('#modalCondicion').modal('toggle');
    });
});

$('#boton-cancelar').click(function() {
    $('#modalCondicion').modal('toggle');
});

//Esto se ejecuta cuando se hace el show. Debe estar seleccionado el tipo de evento.
$('#modalCondicion').on('shown', function () {
    $("#modal-body-condition").html('') ;
    idEv = document.getElementById('evento_tipoEvento').value;
    var request = $.ajax({
          type: 'POST',
          url: "{{ path('main_evento_viewparam' ) }}", 
          data: { 
                'idTEvento': idEv,
                'idOrg' : {{ evento.organizacion.id }}
           },   //serializo el form
          dataType: "json",
              //async: true,
              beforeSend: function(){
                   // $("#modal-body-condition").text(""); 
                   // $('#modal-body-condition').text( 'Cargando formulario, espere por favor...' );
                },
        });
        request.done(function(respuesta) {
            $("#modal-body-condition").html(respuesta.html) ;
        });
});
</script>