{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ evento.organizacion }}{% endblock %}
{% block subtitulo %}Editar de Evento{% endblock %}
{% block formulario %}
<form class="form-horizontal" action="{{ path('main_evento_update', {'id': evento.id} ) }}"  method="POST" >
    <fieldset>
    {{ form_errors(form) }}
    <div class="row-fluid">
        <div class="span8">
            <h3>Datos Principales</h3>
            {{ form_widget(form.nombre) }}
            {{ form_widget(form.activo) }}
            <div class="control-group ">
                <label class="control-label">Días Activo</label>
                <div class="controls">
                    {{ form_widget(form.lunes) }}
                    {{ form_widget(form.martes) }}
                    {{ form_widget(form.miercoles) }}
                    {{ form_widget(form.jueves) }} 
                    {{ form_widget(form.viernes) }} 
                    {{ form_widget(form.sabado) }} 
                    {{ form_widget(form.domingo) }} 
                </div>
            </div>
            <div class="control-group ">
                <label class="control-label">Horario activo</label>
                <div class="controls">
                     {{ form_widget(form.horaInicio, { 'attr': {'class': 'span1'} }) }} {{ form_widget(form.horaFin, { 'attr': {'class': 'span1'} }) }}
                </div>
            </div>
            <div class="control-group ">
                <label class="control-label">Tipo de Evento</label>
                <div class="controls">
                    <b>{{ evento.tipoEvento.nombre|default('---') }}</b> 
                </div>
            </div>
            {{ form_widget(form.notificacionWeb) }}
            {{ form_widget(form.sonido) }}
            {{ form_widget(form.registrar) }}
            {{ form_widget(form.protocolo) }}
            {{ form_rest(form) }}
        </div>
        <div class="span4">
            <h4>Notas:</h4>
            <ul class="unstyled">
                <li>Si deshabilita el evento el mismo dejara de ser controlado en el sistema.</li>
                <li>El tipo de evento no puede cambiarse. Debe eliminar este y crear otro nuevo en caso de que el tipo este erroneo.</li>
            </ul>
        </div>
    </div>
    {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Cambiar' } %} 
    </fieldset>
</form>
{% endblock %}


{% block js %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
        $.datepicker.setDefaults ($.datepicker.regional["es"]);
        $.timepicker.setDefaults ($.timepicker.regional["es"]);
        $("#evento_horaInicio").timepicker({hourMin: 00, hourMax: 23});
        $("#evento_horaFin").timepicker({hourMin: 00, hourMax: 23});
        $("#evento_protocolo").summernote({
             height: 100,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
      
                    ]
        });
    });
</script>    
{% endblock %}    

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" />
<style type="text/css">
    .ui-timepicker-div
    .ui-widget-header { margin-bottom: 8px; }
    .ui-timepicker-div dl { text-align: left; }
    .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
    .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
    .ui-timepicker-div td { font-size: 12px; }
    .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

    .ui-timepicker-rtl{ direction: rtl; }
    .ui-timepicker-rtl dl { text-align: right; }
    .ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
</style>
{% endblock %}
