{% extends "app/Template_aker/list.html.twig" %}

{% block titulo %}Eventos{% endblock %}        
{% block contentpanel %}  
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo Evento</th>
            <th>Activo</th>            
            <th>Servicios</th>
            <th>Notific</th>
            <th>Dias</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for evento in eventos %}
            <tr>
                <td><a href="{{ path('main_evento_show', {'id': evento.id}) }}">{{ evento.nombre }}</a></td>
                <td>{{ evento.tipoEvento.nombre|default('N/A') }}</td>
                <td>{{ evento.activo ? 'SI' : 'NO' }}</td>
                <td>{{ evento.servicios|length() }}</td>
                <td>{{ evento.notificaciones|length() }}</td>
                <td>
                    {{ evento.lunes ? 'Lu' : '--' }}|
                    {{ evento.martes ? 'Ma' : '--' }}|
                    {{ evento.miercoles ? 'Mi' : '--' }}|
                    {{ evento.jueves ? 'Ju' : '--' }}|
                    {{ evento.viernes ? 'Vi' : '--' }}|
                    {{ evento.sabado ? 'Sa' : '--' }}|
                    {{ evento.domingo ? 'Do' : '--' }} </br>
                    de {{ evento.horaDesde|date('H:i') }} a {{ evento.horaHasta|date('H:i') }}
                </td>
                <td>
                    {% if is_granted('ROLE_EVENTO_EDITAR') %}
                        <a href="{{ path('main_evento_edit', {'id': evento.id} ) }}" title='Permte cambiar los datos de este evento' class="btn btn-small">
                            <i class="fa fa-edit"></i>
                        </a>
                	{% endif %}
                </td>
                
            </tr>
        {% endfor %}
    </tbody>
 </table>
{% endblock %}

