{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ evento.organizacion }}{% endblock %}
{% block subtitulo %}Alta de Evento{% endblock %}
{% block formulario %}
<form id="form" class="form-horizontal" action="{{ path('main_evento_create' ) }}"  method="POST" >
<fieldset>
    <div class="row-fluid">
    <div class="span8">
        <h3>Datos Principales</h3>
        <hr>
        <div id="content-error" class="alert alert-error" style="display:none">{{ form_errors(form) }}</div>
        {{ form_widget(form.nombre) }}
        <div class="control-group ">
            <label class="control-label">Días Activo</label>
            <div class="controls">
                {{ form_widget(form.lunes) }} 
                {{ form_widget(form.martes) }}
                {{ form_widget(form.miercoles) }}
                {{ form_widget(form.jueves) }} 
                {{ form_widget(form.viernes) }}
                {{ form_widget(form.sabado) }} 
                {{ form_widget(form.domingo) }}
            </div>
        </div>
        <div class="control-group ">
            <label class="control-label">Horario activo</label>
            <div class="controls">
                {{ form_widget(form.horaInicio, { 'attr': {'class': 'span1'} }) }}
                {{ form_widget(form.horaFin, { 'attr': {'class': 'span1'} }) }}
            </div>
        </div>
        {{ form_widget(form.tipoEvento) }}
        {{ form_widget(form.notificacionWeb) }}
        {{ form_widget(form.sonido) }}        
        {{ form_widget(form.registrar) }}
        {{ form_rest(form) }}
        </div>
        <div class="span4">
            <h4>Notas:</h4>
            <ul class="unstyled">
                <li>Tenga en cuenta que el "tipo de evento" no puede cambiarse luego de creado el evento. Deberá eliminar y volver a crear el evento en caso de equivocación.</li>
            </ul>
        </div>            
    </div>
    <!-- empieza el panel de paso 2, 3 y 4 -->
    <div class="row-fluid" id="row-condiciones" style="display: none">
        <div class="span8">
            <h3>Condiciones</h3>
            <a href="#modalCondicion" data-toggle="modal" data-keyboard="false">Configurar Condiciones</a>    
            <div id="content-view-params">No hay condiciones configuradas</div>
        </div>
    </div>
    <div class="row-fluid" id="row-servicios" style="display: none">
        <div class="span8">
            <h3>Servicios</h3>
            <a href="#modalServicios" data-toggle="modal" data-keyboard="false">Configurar Servicios</a>    
            <div id="content-view-servicios">No hay servicios para monitorear</div>
        </div>
    </div>
    <div class="row-fluid" id="row-notificacion" style="display: none">
        <div class="span8">
            <h3>Notificaciones</h3>
            <a href="#modalNotificacion" data-toggle="modal" data-keyboard="false">Configurar Notificaciones</a>    
            <div id="content-view-notificacion">No hay contactos a donde enviar las notificaciones</div>
        </div>
    </div>
    
    <!-- empieza la botonera -->
    <div class="form-actions">
        <button id="boton-aceptar-primary" class="btn btn-primary" type="button">Aceptar</button>
        <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
    </div>        
</fieldset>
</form>

{% include "app/Evento/create_condicion.html.twig" %}
{% include "app/Evento/create_servicios.html.twig" %}
{% include "app/Evento/create_notificacion.html.twig" %}

{% endblock %}


{% block js %}
{{ parent() }}
<script type="text/javascript">
var datosFormulario;   //aca mantengo los datos del formulario    
$(function() {
    $.datepicker.setDefaults($.datepicker.regional["es"]);
    $.timepicker.setDefaults($.timepicker.regional["es"]);
    $("#evento_horaInicio").timepicker({hourMin: 00, hourMax: 23});
    $("#evento_horaFin").timepicker({hourMin: 00, hourMax: 23});

    //abre el div del tipo de evento.
    $('#evento_tipoEvento').bind('change', function(e) {
        $('#row-condiciones').css('display', 'block');
        $('#row-servicios').css('display', 'block');
        $('#row-notificacion').css('display', 'block');
    });

    //envio el formulario para que grabe.
    $('#boton-aceptar-primary').click(function() {
        $("#content-error").css("display", "none");
        var requestPrimary = $.ajax({
            type: 'POST',
            url: '{{ path('main_evento_create' ) }}',
            data: { 'datos': datosFormulario,
                    'organizacion' : {{ evento.organizacion.id }},
                    'formev': $("#form").serialize(), //form del evento
            },
            dataType: "json",
        });
        requestPrimary.done(function(respuesta) {
            if (respuesta.status === 0) {
                window.location.replace(respuesta.redirect);
            } else {
                $("#content-error").css("display", "block");
                $("#content-error").text(respuesta.error);
            }
        }); 
    });

     $("#evento_protocolo").summernote({
             height: 100,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
      
                    ]
        });
});
</script>    
{% endblock %}    

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" />
<style type="text/css">
    .ui-timepicker-div
    .ui-widget-header { margin-bottom: 8px; }
    .ui-timepicker-div dl { text-align: left; }
    .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
    .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
    .ui-timepicker-div td { font-size: 12px; }
    .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

    .ui-timepicker-rtl{ direction: rtl; }
    .ui-timepicker-rtl dl { text-align: right; }
    .ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
</style>
{% endblock %}
