{% extends "app/Template/form_popup.html.twig" %}
{% form_theme formcond 'app/Form/calypso_fields.html.twig' %}

{% block formulario %}
<form id="formcond" class="form-horizontal" action="#" method="POST" >
    <fieldset>
    {{ form_errors(formcond) }}
    <div class="row-fluid">
        <div class="span12">
        {{ form_rest(formcond) }}
        </div>
    </div>
    </fieldset>
</form>
{% endblock %}


