{% extends "app/Template/form_popup.html.twig" %}

{% block formulario %}
<form id="formnotif" class="form-horizontal" action="#" method="POST" >
<fieldset>
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for contacto in contactos %}
                    <tr>
                        <td>{{ contacto.nombre }}</td>
                        <td>
                            {% if contacto.celular != '' %}
                                <div class="checkbox">
                                <label for="celular_{{ contacto.id }}">
                                  <input type="checkbox" name="checks_notif[]" value="celular_{{ contacto.id }}" id ="celular_{{ contacto.id }}" {{ contacto.id in celular ? 'checked' : '' }} >
                                  {{ contacto.celular }} <em>(celular)</em></label>
                                </div>
                            {% endif %}
                            {% if contacto.email != '' %}
                                <div class="checkbox">
                                <label for="email_{{ contacto.id }}"> 
                                    <input type="checkbox" name="checks_notif[]" value="email_{{ contacto.id }}" id="email_{{ contacto.id }}" {{ contacto.id in email ? 'checked' : '' }} >
                                    {{ contacto.email }} <em>(email)</em></label>
                                </div>
                            {% endif %}
                            {% if contacto.noticeme != '' %}
                                <div class="checkbox">
                                <label for="noticeme_{{ contacto.id }}">
                                    <input type="checkbox" name="checks_notif[]" value="noticeme_{{ contacto.id }}" id="noticeme_{{ contacto.id }}" {{ contacto.id in noticeme ? 'checked' : '' }} >
                                    {{ contacto.noticeme }} <em>(noticeme)</em></label>
                                </div>
                            {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</fieldset>
</form>
{% endblock %}


