{% extends "app/Template/form_popup.html.twig" %}

{% block formulario %}
<form id="formserv" class="form-horizontal" action="#" method="POST" >
    <fieldset>
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="check_all" value="" onclick="checkAll()" title="Todos los servicios"></th>
                        <th>Nombre</th>
                        <th>Tipo Servicio</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                {% for servicio in servicios %}
                    <tr>
                        <td><input type="checkbox" name="checks[]" value="{{ servicio.id }}" id="servicio_{{ servicio.id }}" {{ servicio.id in checked ? 'checked' : '' }}> </td>
                        <td><label for="servicio_{{ servicio.id }}">{{ servicio.nombre }}</label></td>
                        <td>{{ servicio.tipoServicio }}</td>
                        <td>{{ servicio.strEstado }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </fieldset>
</form>
{% endblock %}


