{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "app/Evento/delete_form.html.twig" %}
{% endblock %} 
        
{% block titulo %}{{ evento.nombre }}{% endblock %}
{% block informacion %}{% endblock %}     
    
{% block contentpanel %}
<!-- INICIO DE DATOS PRINCIPALES -->
<div class="row-fluid">
    <div class="span8">
        <h3>Datos Principales</h3>
        {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': evento.nombre } %} 
        <div class="row-fluid row-show">
            <div class="span4 column-label">Estado</div>    
            <div class="column-show">{{ evento.activo == true ? 'Activo' : 'Desactivo' }}</div>
        </div>
        <div class="row-fluid row-show">
            <div class="span4 column-label">Días Activo</div>    
            <div class="column-show">
                {{ evento.lunes ? 'Lu' : '--' }}|
                {{ evento.martes ? 'Ma' : '--' }}|
                {{ evento.miercoles ? 'Mi' : '--' }}|
                {{ evento.jueves ? 'Ju' : '--' }}|
                {{ evento.viernes ? 'Vi' : '--' }}|
                {{ evento.sabado ? 'Sa' : '--' }}|
                {{ evento.domingo ? 'Do' : '--' }}
            </div>
        </div>
        <div class="row-fluid row-show">
            <div class="span4 column-label">Horario Activo</div>    
            <div class="column-show">de {{ evento.horaDesde|date('H:i') }} a {{ evento.horaHasta|date('H:i') }}</div>
        </div>
              
        {% include "app/Template/show_row.html.twig" with {'label': 'Tipo Evento', 'data': evento.tipoEvento.nombre|default('---') } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Tipo de Alerta Web', 'data': evento.getStrNotificacionWeb } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Reproducir Sonido', 'data': evento.sonido ? 'Si' : 'No' } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Pedir Respuesta', 'data': evento.registrar ? 'Si' : 'No' } %} 
        <div class="row-fluid row-show">
            <div class="span4 column-label">Protocolo</div>    
            <div class="column-show">{{ evento.protocolo ? evento.protocolo|raw  : '--' }}</div>
        </div>
             
    </div>
    <div class="span4"> 
        <h4>Tips</h4>
        <p>El tipo de evento no puede cambiarse. Tendrá que eliminar el evento y volver a cargarlo si desea cambiar este dato.</p>
    </div>
</div>
<!-- FIN DE DATOS PRINCIPALES -->
<!-- INICIO DE CONDICIONES -->
<div class="row-fluid row-show">
    <div class="span8">
        <h3>Condiciones</h3>
        <a href="#modalCondicion" data-toggle="modal" data-keyboard="false">Configurar Condiciones</a>    
        <div id="content-view-params">
            {% include "app/Evento/viewparam.html.twig" with {'params': evento.parametros } %} 
        </div>
    </div>
    <div class="span4"> 
        <h4>Tips</h4>
        <p>Las condiciones son parámetros que deben cumplirse en el estado de los vehiculos monitoreados para que se genera una alarma y produzca
        una notificación.</p>
    </div>
</div>
<!-- FIN DE CONDICIONES -->

<!-- INICIO DE SERVICIOS -->
<div class="row-fluid row-show">
    <div class="span8">
        <h3>Servicios</h3>
        <a href="#modalServicios" data-toggle="modal" data-keyboard="false">Configurar Servicios</a>    
        <div id="content-view-servicios">
            {% include "app/Evento/viewservicios.html.twig" with {'servicios': evento.servicios } %} 
        </div>
    </div>
    <div class="span4"> 
        <h4>Tips</h4>
        <p>Estos serán los servicios que se van a ser monitoreados por el sistema a la espera de que se cumplan las condiciones establecidas.</p>
    </div>
</div>
<!-- FIN DE SERVICIOS -->
<!-- INICIO DE CONTACTOS -->
<div class="row-fluid row-show">
    <div class="span8">
        <h3>Notificaciones</h3>
        <a href="#modalNotificacion" data-toggle="modal" data-keyboard="false">Configurar Notificaciones</a>    
        <div id="content-view-notificacion">
        {% include "app/Evento/viewnotificacion.html.twig" with {'notificaciones': evento.notificaciones } %} 
        </div>        
    </div>
    <div class="span4"> 
        <h4>Tips</h4>
        <p>A estos contactos se les enviará notificaciones cada vez que se cumpla las condiciones establecidas en uno de los servicios configurados.</p>
    </div>
</div>
<!-- FIN DE CONTACTOS -->

<!-- INCLUYO LOS MODALS -->
{% include "app/Evento/edit_condicion.html.twig" %}
{% include "app/Evento/edit_servicios.html.twig" %}
{% include "app/Evento/edit_notificacion.html.twig" %}

{% endblock %}
