{% if servicios %}    
    <table class="table table-condensed">
    {% for servicio in servicios %}
        <tr>
            <td>{{ servicio.nombre }}</td>
            <td>{{ servicio.tipoServicio }}</td>
            <td>
                {{ servicio.satelital.nombre|default('') }}
            </td>
            <td>
                {{ servicio.transporte.nombre|default('') }}
            </td>
            <td>
            {% if status is defined and servicio.id in status %}
                <i class="fa fa-check-circle" style="color: green;"></i>
            {% else %}
                <i class="fa fa-equis" style="color: red;"></i>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>        
{% else %}
    <p class="text-error"><span class="label label-warning">Atención ! </span> Error en la asignación de servicios. Reintente.</p>
{% endif %}        


