{% if notificaciones != null %}
	<table class="table table-condensed">
		{% for notif in notificaciones %}
			<tr>
				<td>{{ notif.contacto.nombre|default('---') }}</td>
				<td>
					{% if notif.tipo == 1 %}
						{{ notif.contacto.celular|default('---') }}
					{% elseif notif.tipo == 2 %}
						{{ notif.contacto.email|default('---') }}
					{% elseif notif.tipo == 3 %}
						{{ notif.contacto.noticeme|default('---') }}
					{% else %}
						tipo de notificación desconocida
					{% endif %}
				</td>
				<td>
					{% if notif.tipo == 1 %}
						{% if statusContacto is defined  and statusContacto  and notif.contacto.id in statusContacto['token'] %}
							<i class="fa fa-check-circle" style="color: green;"></i>
						{% else %}
							<i class="fa fa-equis" style="color: red;"></i>
						{% endif %}
						Celular
					{% elseif notif.tipo == 2 %}
						{% if statusContacto is defined and statusContacto and notif.contacto.id in statusContacto['email'] %}
							<i class="fa fa-check-circle" style="color: green;"></i>
						{% else %}
							<i class="fa fa-equis" style="color: red;"></i>
						{% endif %}
						EMail
					{% elseif notif.tipo == 3 %}
						NoticeMe
					{% else %}
						---
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p class="text-error">
		<span class="label label-warning">Atención !
		</span>
		Error en la asignación de notificaciones. Reintente.</p>
{% endif %}
