{% if params %}    
    <table class="table table-condensed">
    {% for param in params %}
        <tr>    
            <td>{{ param.variable.nombre }}</td>
            <td>
                {% if param.error is defined %}
                    {{ param.error|raw }}    
                {% elseif param.variable.dataType == 'ENTITY' %}
                    {{ paramEntity[param.variable.id]['nombreEntity'] }}    
                {% else %}
                    {{ param.valor }} {{ param.variable.unidadMedida }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p class="text-error"><span class="label label-warning">Atención ! </span> Error en la generacion de parámetros. Reintente.</p>
{% endif %}        


