<!-- Modal -->
<div id="modalDeleteUsuario" class="modal fade"  role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Usuario</h4>
            </div>
            <div class="modal-body">
                 {% if itinerario is defined %}
                    <p>Está seguro de quitar el usuario del itinerario? </p>
                {% else %}
                     <p>Está seguro de eliminar el usuario? </p>
				{% endif %}
            
                
            </div>
            <div class="modal-footer">
               {% if itinerario is defined %}
                <button id="btnQuitarUsuario" type="button" class="btn btn-primary" >Quitar</button>
                {% else %}
                    <button id="btnEliminarUsuario" type="button" class="btn btn-primary" >Eliminar</button>
                {% endif %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>  


