<!-- Modal -->
<div class="modal fade" id="modalUsuario" role="dialog" aria-labelledby="modalContactoLabel" data-modal-index="-100">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			
				<h4 class="modal-title" id="myModalLabel">Agregar usuarios a itinerario</h4>
			</div>
			<div class="modal-body">
				<div id="modal-body-producto">
				<div class="alert alert-info">
						<strong>Los usuarios que selecciones</strong>, son personas que podrán ver y en algunos casos administrar este itinerario.
					</div>
					<form id="formUsuario" class="form-horizontal">
						<div class="row-fluid">
							{{ form_widget(formUsuario.usuario) }}

						</div>
						
					</form>

				</div>
			</div>
			<div class="modal-footer">
				<button id="btnUsuarioAdd" type="button" class="btn btn-primary">Agregar</button>
				<button id="btnCancelar" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>

