<div class="modal fade" id="modalNewUsuario" role="dialog" aria-labelledby="modalProductoLabel" data-modal-index="2000" style="display: none;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Crear Usuario</h4>
			</div>
			<div class="modal-body">
				<div class="row-fluid">
					<div class="alert alert-info">
						<strong>Los usuarios que crees</strong>, serán personas a las que después podrán ver y en algunos casos administrar itinerarios.
					</div>
					<div id="para_contactos_app" class="alert alert-warning" hidden>
						Si quieres recibir las notificaciones por medio de nuestra App, debes crear un usuario.
					</div>
				</div>
				<div class="row">
					<form id="formUsuarioNew" class="form-horizontal" method="POST">
						<div class="col-md-6">
							<div id="forContacto">
								{{ form_widget(formUsuarioNew.nombre) }}
								{{ form_widget(formUsuarioNew.email) }}
								{{ form_widget(formUsuarioNew.telefono) }}
							</div>
								{{ form_widget(formUsuarioNew.timeZone) }}
						</div>
						<div class="col-md-6">
							{{ form_widget(formUsuarioNew.username) }}
							{{ form_widget(formUsuarioNew.plainPassword.first, { 'attr': {'placeholder': 'Ingrese la clave'} }) }}
							{{ form_widget(formUsuarioNew.plainPassword.second, { 'attr': {'placeholder': 'Repita la clave'} }) }}

							<div class="control-group ">
								<div class="controls ">
									<input type="checkbox" id="usuario_itinerario_" name="usuario[itinerario_administrador]">
									<label class="control-label" for="usuario_itinerario">
										Administrar Itinerarios?
									</label>
								</div>
							</div>

							<div class="control-group ">
								<div class="controls ">
									<input type="checkbox" id="usuario_itinerario_" name="usuario[itinerario_operador]">
									<label class="control-label" for="usuario_itinerario">
										Monitorea Itinerarios?
									</label>
								</div>
							</div>
						</div>
						{{ form_widget(formUsuarioNew._token) }}

					</form>

				</div>
			</div>
			<div class="modal-footer">
				<button id="btnUsuarioNew" type="button" class="btn btn-primary">Agregar</button>
				<a href="#" data-dismiss="modal" class="btnCancelar btn">Cancelar</a>
			</div>
		</div>
	</div>
</div>
