<div class="modal fade" id="modalEditUsuario" role="dialog" aria-labelledby="modalProductoLabel" data-modal-index="2000" style="display: none;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Modificar Usuario</h4>
			</div>
			<div class="modal-body">
				<div class="row-fluid">
					<div class="alert alert-info">
						<div id="info_usuario">
							<strong>Los usuarios que modifiques</strong>, serán personas a las que después podrán ver y en algunos casos administrar itinerarios.
						</div>
						<div id="info_usuario_redireccion">
							<strong>No puede modificar el usuario desde aquí</strong>, debe dirigirse a la configuración de su <strong>cliente, logística o transporte</strong> según corresponda.
						</div>
					</div>
				</div>
				<div class="row">
					<form id="formUsuarioEdit" class="form-horizontal" method="POST">
						<div class="col-md-6">
							<div class="control-group ">
								<label class="control-label" for="usuario_edit_nombre">
									Apellido y Nombre
									<div title="Dato Obligatorio" style="color: red; display: inline">
										*
									</div>
								</label>
								<div class="controls">
									<input type="text" class="form-control" id="usuario_edit_nombre" name="usuario_edit[nombre]" required="required">
								</div>

							</div>
							<div class="control-group ">
								<label class="control-label" for="usuario_edit_email">
									Email
									<div title="Dato Obligatorio" style="color: red; display: inline">
										*
									</div>
								</label>
								<div class="controls">
									<input type="email" class="form-control" id="usuario_edit_email" name="usuario_edit[email]" required="required">
								</div>

							</div>

						</div>
						<div class="col-md-6">
							<div class="control-group ">
								<label class="control-label" for="usuario_telefono">
									Número Celular
								</label>
								<div class="controls">
									<input type="text" class="form-control" id="usuario_edit_telefono" name="usuario_edit[telefono]">
								</div>

							</div>
							<div class="control-group ">
								<div class="controls ">
									<input type="checkbox" id="usuario_edit_itinerario_administrador" name="usuario_edit[itinerario_administrador]">
									<label class="control-label" for="usuario_edit_itinerario">
										Administrar Itinerarios?
									</label>
								</div>
							</div>

							<div class="control-group ">
								<div class="controls ">
									<input type="checkbox" id="usuario_edit_itinerario_operador" name="usuario_edit[itinerario_operador]">
									<label class="control-label" for="usuario_edit_itinerario">
										Monitorea Itinerarios?
									</label>
								</div>
							</div>
						</div>
						

					</form>

				</div>
			</div>
			<div class="modal-footer">
				<button id="btnUsuarioEdit" type="button" class="btn btn-primary">Modificar</button>
				<a href="#" data-dismiss="modal" class="btn">Cancelar</a>
			</div>
		</div>
	</div>
</div>
