<table class="table table-condensed" id="tablaUsuario">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Usuario</th>
			<th>Email</th>
			<th>Apicode</th>
			<th>Accesos</th=>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% for usuario in usuarios %}
			{% set rolAdmin = 0 %}
			{% set rolOperador = 0 %}
			{% if usuario.logistica != null %}
				{% set entity = 'logistica'%}
				{% set idEntity = usuario.logistica.id %}
			{% elseif usuario.transporte != null %}
				{% set entity = 'transporte'%}
				{% set idEntity = usuario.transporte.id %}
			{% elseif usuario.empresa != null %}
				{% set entity = 'empresa'%}
				{% set idEntity = usuario.empresa.id %}
			{% else %}	
				{# puede que este entrando por el show de itinerario o que sea un usuario de de la org madre (ej monitoireosadi)#}
				{% set entity = ''%}
				{% set idEntity = itinerario is defined ? itinerario.id : 0 %} 
			{% endif %}		
			<tr>
				<td>{{ usuario.nombre|default('---') }}</td>
				<td>{{ usuario.username|default('---') }}</td>
				<td>{{ usuario.email|default('---')}}</td>
				<td>
					{{ usuario.telefono|default('---') }}
					{% if usuario.apiCode != null %}
						(<b>{{ usuario.apiCode }}</b>)
					{% endif %}
				</td>
				
				<td>
					{% for rol in usuario.roles %}
						{% if rol == 'ROLE_MONITOR_ADMIN' %}
							<i class="fa fa-key" title="Administra itinerarios"></i>
							{% set rolAdmin = 1 %}
						{% endif %}
						{% if rol == 'ROLE_MONITOR_OPERADOR' %}
							<i class="fa fa-desktop" title="Monitorea itinerarios"></i>
							{% set rolOperador = 1 %}
						{% endif %}
					{% endfor %}
				</td>
				<td>
					<a href="#" onclick="editUsuario('{{usuario.id}}','{{usuario.nombre}}','{{usuario.telefono}}','{{usuario.email}}','{{ rolAdmin }}','{{ rolOperador }}','{{ entity }}','{{ idEntity }}' )" class="btn btn-sm" role="button" title="Editar" data-original-title="Editar">
						<i class="fa fa-edit"></i>
					</a>
			
					<a href="#" onclick="deleteUsuario('{{ usuario.id }}','{{ entity }}')" class="btn btn-sm" role="button" title="Eliminar" data-original-title="Eliminar">
						<i class="fa fa-trash"></i>
					</a>

				
				</td>

			</tr>
		{% endfor %}
	</tbody>
</table>

<script type="text/javascript">
	gloablIdUsuario = 0;
	globalIdEntity = 0;
	globalEntity = "";

	function editUsuario(id, nombre, celular, email,roleAdmin, roleMonitor, entity, idEntity) {
		roleMonitor = roleMonitor == '1' ? true : false;
		roleAdmin = roleAdmin == '1' ? true : false;
		globalEntity = entity;
		globalIdEntity = idEntity;
		if(entity === ""){ //viene del show itinerario
				$('#formUsuarioEdit').hide(); //ocultamos el form
				$('#info_usuario').hide();
				$('#btnUsuarioEdit').hide();
			}else{ //viene de cliente, logistica o transporte
				$('#info_usuario_redireccion').hide();
				$('#usuario_edit_nombre').val(nombre);
				$('#usuario_edit_telefono').val(celular);
				$('#usuario_edit_email').val(email);
				$("#usuario_edit_itinerario_administrador").prop( "checked", roleAdmin );
				$("#usuario_edit_itinerario_operador").prop( "checked", roleMonitor );

			}
		

		$('#modalEditUsuario').modal('show');
		gloablIdUsuario= id;
		
	
	}

	$('#btnUsuarioEdit').click(function () { 
			if(gloablIdUsuario !== 0 && gloablIdUsuario !== null){	
				var request = $.ajax({
					type: 'POST',
					url: "{{ path('monitor_usuario_edit') }}",
					data: {
						'id': gloablIdUsuario,
						'idEntity': globalIdEntity,
						'entity': globalEntity,
						'form': $("#formUsuarioEdit").serialize(), // formulario con los datos
					},
					dataType: "json",
					// async: true,
					beforeSend: function () { 
						$("#modalLoad").modal({ backdrop: 'static', keyboard: false });
					}
				});
				request.done(function (respuesta) {

					$("#tableUsuarios").text("");
					$("#tableUsuarios").html(respuesta.html);
					$('#modalEditUsuario').modal('toggle');
					getDataTable('tablaUsuario'); //funcion que se encuentra en el layout_Aker
					document.getElementById("formUsuarioEdit").reset();
					$('#modalLoad').modal('hide');
					newNotify('Exito!','success','Usuario modificado correctamente');
				});
				gloablIdUsuario = 0;
				globalIdEntity = 0;
				globalEntity= "";
			}
	});

	

	function deleteUsuario(id, ent) {
		$('#modalDeleteUsuario').modal('show');
		gloablIdUsuario = id;
		globalEntity = ent;

	}

	$('#btnEliminarUsuario').click(function () { // alert('aca');
		
		var request = $.ajax({
			type: 'POST',
			url: "{{ path('monitor_usuario_delete') }}",
			data: {
				'id': gloablIdUsuario,
				'entity':  globalEntity,
				'itinerario': globalEntity,
			},
			dataType: "json",
			// async: true,
			beforeSend: function () {
				$("#modalLoad").modal({ backdrop: 'static', keyboard: false });
			}
		});
		request.done(function (respuesta) {

			$("#tableUsuarios").text("");
			$("#tableUsuarios").html(respuesta.html);
			getDataTable('tablaUsuario'); 
			$('#modalDeleteUsuario').modal('toggle');
			$('#modalLoad').modal('hide');
			newNotify('Exito!','success','Usuario eliminados correctamente');
			
		});
		gloablIdUsuario = 0;
		globalEntity = "";
	});

</script>