{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Informe de Paso por Referencia{% endblock %}
{% block titulo %}Informe de Paso por Referencia{% endblock %}


{% block informacion %}
Desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>.
[ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
<form name="formexport" action="{{ path('informe_paso_exportar', {'tipo':  0 }) }}" method="POST" >
    <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
    <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
</form>
{% endblock %}

{% block contentpanel %}
{% if informe is not null %}
    {% if informe|length > 0 %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Servicio</th>
                <th>Cantidad</th>
                <th>Fecha Ingreso</th>
                <th>Fecha Egreso</th>
                <th>Referencia</th>
                <th>Duración (hh:mm:ss)</th>
                <th>Distancia (mts)</th>
                <th>Duración a Anterior</th>
                <th>Distancia a Ant (mts)</th>
                <th>Vel. Prom. (km/h)</th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in informe %}
                <tr>
                    <th rowspan={{ servicio.data|length + 1}}>{{ servicio.servicio }}</th>
                    <th rowspan={{ servicio.data|length + 1}}>{{ servicio.count}}</th>
                    {% for entrada in servicio.data %}
                        <tr>
                            <td>{{ entrada.fecha_ingreso|date('d-m-Y H:i:s') }}</td>
                            <td>{{ entrada.fecha_egreso|date('d-m-Y H:i:s') }}</td>
                            <td>{{ entrada.referencia_nombre }}</td>
                            <td>{{ entrada.tiempo }}</td>
                            <td>{{ entrada.distancia }}</td>
                            <td>{{ entrada.tiempo_anterior }}</td>
                            <td>{{ entrada.distancia_anterior }}</td>
                            <td>{{ entrada.vel_prom|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
            <em>No se registran pasos por referencia.</em>
    {% endif %}
{% endif %}
{% endblock %}