{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Informe de Referencia{% endblock %}
{% block titulo %}Informe de Referencia{% endblock %}

{% block informacion %}
Desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>.
[ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
[ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexportresumido'].submit();">Exportar a Excel c/resumen</a> ]
<form name="formexport" action="{{ path('informe_referencia_exportar', {'tipo':  '0' }) }}" method="POST" >
    <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
    <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
</form>
<form name="formexportresumido" action="{{ path('informe_referencia_exportar', {'tipo':  '1' }) }}" method="POST" >
    <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
    <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
</form>
{% endblock %}

{% block contentpanel %}
{% if informe is not null %}
    {% if informe|length > 0 %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Referencia</th>
                <th>Servicio</th>
                <th>Cantidad</th>
                <th>Fecha Ingreso</th>
                <th>Fecha Egreso</th>
                <th>Duración (hh:mm:ss)</th>
                <th>Distancia (mts)</th>
            </tr>
        </thead>
        <tbody>
            {% for referencia in informe %}
                <tr>
                    <th rowspan={{ referencia.count_pasos + referencia.servicios|length +1}}>{{ referencia.referencia }}</th>
                    {% for servicio in referencia.servicios %}
                        <tr>
                            <th rowspan={{ servicio.count_pasos +1 }}>{{ servicio.servicio }}</th>
                            <th rowspan={{ servicio.count_pasos +1 }}>{{ servicio.pasos|length }}</th>
                            {% for paso in servicio.pasos %}
                                <tr>
                                    <td>{{ paso.fecha_ingreso|date('d-m-Y H:i:s') }}</td>
                                    <td>{{ paso.fecha_egreso|date('d-m-Y H:i:s') }}</td>
                                    <td>{{ paso.tiempo }}</td>
                                    <td>{{ paso.distancia }}</td>
                                </tr>
                            {% endfor %}                            
                        </tr>
                    {% else %}
                        <td colspan=5><em>Ningún servicio paso por aca.</em></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
            <em>No se registran pasos por referencia.</em>
    {% endif %}
{% endif %}
{% endblock %}
            
            
                {#{% for data in servicio.data %}
                            <tr>
                                <td>{{ data.fecha_ingreso|date('d-m-Y H:i:s') }}</td>
                                <td>{{ data.fecha_egreso|date('d-m-Y H:i:s') }}</td>
                                <td>{{ data.tiempo }}</td>
                                <td>{{ data.distancia }}</td>
                            </tr>
                        {% endfor %} #}