{% extends "app/Template/list.html.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" /> 
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
           $.datepicker.setDefaults($.datepicker.regional["es"]);
                    $.timepicker.setDefaults($.timepicker.regional["es"]);
                    $(".calendario").datetimepicker({
                        dateFormat: 'dd-mm-yy',
                    });
              });
    </script>
{% endblock %}

{% block titulo %}{{ servicio }}{% endblock %}        
{% block subtitulo %}Cargas de Combustible{% endblock %}        
{% block contentpanel %}  
    <div>
        {# aca empieza el form de filtrado #}
        <form class="form-inline" action="{{ path('fuel_filtrar', {'idservicio': servicio.id}) }}" {{ form_enctype(filter) }} method="POST" >
            Fecha 
            {{ form_widget(filter.fecha_desde) }}  
            {{ form_widget(filter.fecha_hasta) }} 
            <button type="submit" class="btn">Filtrar</button>
        </form>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Guia despacho</th>
                    <th>Litros</th>
                    <th>Importe</th>
                    <th>Odometro</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for carga in cargas %}
                    <tr>
                        <td>{{ carga.fecha|date('d-m-Y')|e }}</td>
                        <td>{{ carga.guiaDespacho }}</td>
                        <td style="text-align: right" >{{ carga.litrosCarga|number_format(0) }}</td>
                        <td style="text-align: right" >$ {{ carga.montoTotal|number_format(2) }}</td>
                        <td style="text-align: right" >{{ carga.odometro }}</td>
                        <td>
                            <a class="btn btn-small" href="{{ path('fuel_edit', {'id': carga.id} ) }}">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

