{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ combustible.servicio.nombre }}{% endblock %}
{% block subtitulo %}Carga de Combustible{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" /> 
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $.timepicker.setDefaults($.timepicker.regional["es"]);
            $("#secur_combustibletype_fecha").datetimepicker({
                dateFormat: 'dd-mm-yy',
            });
        });
    </script>
{% endblock %}

{% block formulario %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}    
    {{ form_errors(form) }}
    <div class="row-fluid">
        <div class="span8">
            {{ form_widget(form.fecha) }}  
            {{ form_widget(form.guia_despacho) }}    
            {{ form_widget(form.litros_carga) }}    
            {{ form_widget(form.monto_total) }}    
            {{ form_widget(form.odometro) }}    
            {{ form_rest(form) }}
        </div>
        <div class="span4">
            {% include "sauron/Combustible/info_extra.html.twig" %} 
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Agregar" />
        <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
