{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "sauron/Combustible/delete_form.html.twig" %}
{% endblock %} 
        
{% block titulo %}Carga de Combustible{% endblock %}
{% block contentpanel %}
<div class="row-fluid row-show">
    <div class="span7">
        <h3>Datos de Carga</h3>
        {% include "app/Template/show_row.html.twig" with {'label': 'Fecha', 'data': carga.fecha|date('d-m-Y H:i:s', app.user.timeZone)} %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Litros', 'data': carga.litrosCarga } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Guía de Despacho', 'data':carga.guiaDespacho } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Código de Autorizacion', 'data': carga.codigoAutorizacion}%} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Monto Total', 'data': carga.montoTotal}%}
        {% include "app/Template/show_row.html.twig" with {'label': 'Modo de Ingreso', 'data': carga.modoIngreso}%} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Odómetro', 'data': carga.odometro}%} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Código de Estacion', 'data': carga.codigoEstacion}%} 
    </div>
    <div class="span4"> 
        {% include "sauron/Combustible/info_extra.html.twig" %}  
    </div>
</div>
{% endblock %}

