<div id="dialog-animacion" title="Animación">    
    <div class="row-fluid">
        <div class="btn-toolbar" role="toolbar" >
            <div class="btn-group" role="group" aria-label="First group">
                <button type="button" class="btn" onclick="animatePlay();" id="btn-animatePlay" title="Iniciar la animación">
                    <i class="icon-play"></i>
                </button>
                <button type="button" class="btn" onclick="animatePause();" id="btn-animatePause" title="Pausar la animación">
                    <i class="icon-pause"></i>
                </button>
                <button type="button" class="btn" onclick="animateStop();" id="btn-animateStop" title="Parar la animación">
                    <i class="icon-stop"></i>
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="Second group">
                <button type="button" class="btn btn-default" onclick="setVelocidad(3000);"title="Reproduccion normal">x1</button>
                <button type="button" class="btn btn-default" onclick="setVelocidad(1500);"title="Reproduccion rapida">x2</button>
                <button type="button" class="btn btn-default" onclick="setVelocidad(750);"title="Reproduccion acelerada">x5</button>
                <button type="button" class="btn btn-default" onclick="setVelocidad(500);"title="Reproduccion acelerada">x10</button>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="zoomInteligente" onclick="setZoomInteligente()">Zoom Inteligente
            </label>
        </div>
    <div id="slider"></div>
    </div>

    <div class="row-fluid">
        <div id="animate-panel-status">Detenido</div>
        <div id="animate-panel-data"></div>
    </div>
</div>
