<style>
    #ui-dialog-titlebar {
        background: #80ade5 url(/images/80ade5_40x100_textures_04_highlight_hard_100.png) 0 50% repeat-x;
    }
    
    #dialog-form-grupo {
        display: none; 
        /** background-color: rgba(80, 153, 247, 0.19); */
        position: relative;
    }    

    #dialog-form-grupo table {
        width: 100%;
    }  

    #dialog-form-grupo th {
        font-weight: bold;
        text-align: right;
        padding: 0px 15px 0px 5px;
    }
</style>

<script type="text/javascript">
    //con esto abro el dialog-form
    function filtrarGrupo() {
        $('#dialog-form-grupo').dialog("open");
    }

    $(function() {
        //esto es para setear los datos del dialog.
        $("#dialog-form-grupo").dialog({
            position: [$(window).width() - 280, 120],
            autoOpen: false,
            width: 250,
            height: 200,
            modal: false,
            open: function() {
                //aca se hace la inicializacion de las variables del form
            },
            close: function() {
                //aca se hacen las cosas cuando se cierra.
            }
        });
    });

    //aca es cuando hago el post y debo crear la nueva referencia.-
    function dialogformGrupoPost() {
        $("#panel-equipos").text("Espere...."); 
        
        var keys = {{ mapa.getMapName() }}_markers_and_icon.keys();
        for(var k in keys){                
            if (keys[k].substring(0, 3) == 'ser') {
                {{ mapa.fcAddMarker() }}({id_sc: keys[k], visible: false }); 
            }
        }
       
        refreshManual();
    }

    function dialogformGrupoClean() {
        $("#grupos option:selected").prop("selected", false)
        $("#panel-equipos").text(""); 
        refreshManual(true);
    }

    function dialogformGrupoCancel() {
        $("#dialog-form-grupo").dialog("close");  //cierro el form    
    }

</script>

<div id="dialog-form-grupo" title="Filtro por grupo de servicios">
    <form id="form_grupos" action="#" method="POST" > 
        <fieldset>  
            <select name="grupos" id="grupos" multiple="multiple">
                {% for grupo in grupos_servicio %}                            
                  <option value={{ grupo.id }}>{{ grupo.nombre }}</option>
                {% endfor %}
            </select>
            <input type="button" class="btn btn-primary btn-small" value="Filtrar" onclick="dialogformGrupoPost()"/>
            <input type="button" class="btn btn-small" value="Cancelar" onclick="dialogformGrupoCancel()"/>
            <input type="button" class="btn btn-small" value="Limpiar" onclick="dialogformGrupoClean()"/>
        </fieldset>
    </form>
</div>
