<div id="dialog-form-redibujar-ref" title="Redibujar Referencia">
   
    <form id="formrr_referencia" class="form-horizontal" action="#" method="POST" > 
    <fieldset>
        {{ form_errors(formrr_referencia) }}
            
        {{ form_widget(formrr_referencia.referencia_id) }}
        {{ form_widget(formrr_referencia.poligono) }}
        {{ form_widget(formrr_referencia.centro) }}
        {{ form_widget(formrr_referencia.radio) }}
        {{ form_widget(formrr_referencia.color) }}
        {{ form_widget(formrr_referencia.transparencia) }}
        {{ form_widget(formrr_referencia.area) }}
        <table class="table-dialog">
            <tr>
                <th>Referencia</th>
                <td><b><div id="rr_nombre-referencia" style="font-size: 14px;"></div></b></td>
            </tr>
            <tr>
                <th>Icono</th>
                <td>
                    {{ form_widget(formrr_referencia.pathIcono) }}
                    <img id="rr_zona-icono" class="icono-dialog" src="" />
                    <a href="#" id="cr_click-cambiar-icono" onclick=cambiarIcono(2) >Cambiar Icono</a>
                </td>
            </tr>
            <tr>
                <th>Dibujo</th>
                <td>
                   <div id="rr_dibujo"></div>
                </td>
            </tr>
            <tr>
                <th>Color</th>
                <td>
                   {# <div id="rr_colorSelector"><div style="background-color: rgb(37, 139, 176);"></div></div> #}
                   <input type='text' id="rr_colorSelector" />
                </td>
            </tr>
            <tr>
                <th>Transparente</th>
                <td>
                   <div id="rr_transparentSelector" style="width: 200px"></div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" class="btn btn-primary" value="Aceptar" onclick="dialogformRedibujoPost()"/>
                    <input type="button" class="btn" value="Cancelar" onclick="dialogformRedibujoCancel()"/>
                </td>
            </tr>
        </table>
    </fieldset>
    </form>

</div>