<style>
        /* inicio ubicar referencia */
        #dialog-form-grupo {
            display: none; 
            /** background-color: rgba(80, 153, 247, 0.19); */
            position: relative;
        }    

        #dialog-form-grupo table {
            width: 100%;
        }  

        #dialog-form-grupo th {
            font-weight: bold;
            text-align: right;
            padding: 0px 15px 0px 5px;
        }
        /* fin ibicar referencia */

        /* crear-referencia */
        #dialog-form-crear-ref {
            display: none; 
            background-color: rgba(80, 153, 247, 0.19); 
            position: relative;
        }    

        #dialog-form-crear-ref table {
            width: 100%;
        }  

        #dialog-form-crear th {
            font-weight: bold;
            text-align: right;
            padding: 0px 15px 0px 5px;
        }
        /* fin crear-referencia */

        /* inicio redibujar-referencia */
        #dialog-form-redibujar-ref {
            display: none; 
            background-color: rgba(80, 153, 247, 0.19);
            position: relative;
        }            
        /* fin redibujar-referencia */

        #dialog-icons {
            display: none; 
            background-color: rgba(80, 153, 247, 0.19);
            position: relative;
        }    

        .mostrar-icono, #icono-dialog {
            height: 32px;
            width: 32px;
        }

        .icono-mini {
            height: 24px;
            width: 24px;
        }

        /* Color selector 
        #cr_colorSelector, #rr_colorSelector {
            position: relative;
            width: 36px;
            height: 36px;
            background: url({{ asset('images/select2.png') }});
        }
        #cr_colorSelector div, #rr_colorSelector div {
            position: absolute;
            top: 3px;
            left: 3px;
            width: 30px;
            height: 30px;
            background: url({{ asset('images/select2.png') }}) center;
        }
*/
        .table-dialog td {
            padding: 3px;
        }
    </style>
