<div id="dialog-form-crear-ref" title="Crear Referencia">
    <form id="formcr_referencia" class="form-horizontal" action="#" method="POST" > 
    <fieldset>
        {{ form_errors(formcr_referencia) }}

        {{ form_widget(formcr_referencia.poligono) }}
        {{ form_widget(formcr_referencia.centro) }}
        {{ form_widget(formcr_referencia.radio) }}
        {{ form_widget(formcr_referencia.color) }}
        {{ form_widget(formcr_referencia.transparencia) }}
        {{ form_widget(formcr_referencia.area) }}
        {{ form_widget(formcr_referencia.clase) }}
        <table class="table-dialog">
            <tr>
                <th>Icono</th>
                <td>
                    {{ form_widget(formcr_referencia.pathIcono) }}
                    <img id="cr_zona-icono" class="icono-dialog" src="" />
                    <a href="#" id="cr_click-cambiar-icono" onclick=cambiarIcono(1)>Cambiar Icono</a>
                </td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ form_widget(formcr_referencia.nombre) }}</td>
            </tr>
            <tr>
                <th>Identificador</th>
                <td>{{ form_widget(formcr_referencia.identificador) }}</td>
            </tr>
            <tr>
                <th>Dibujo</th>
                <td>
                    <select id="formcr_tipoDibujo" name="formcr[tipoDibujo]" onclick="cr_clickTipoDibujo()">
                        <option value=""></option>
                        <option value="1">Circular</option>
                        <option value="2">Poligonal</option>
                    </select>                        
                </td>
            </tr>
            <tr>
                <th>Color</th>
                <td>
                   <input type='text' id="cr_colorSelector" />
                </td>
            </tr>
            <tr>
                <th>Transparente</th>
                <td>
                   <div id="cr_transparentSelector" style="width: 200px"></div>
                </td>
            </tr>
            <tr>
                <th>Asignar a</th>
                <td>{{ form_widget(formcr_referencia.organizacion) }}</td>
            </tr>
            <tr>
                <th>Categoría</th>
                <td>{{ form_widget(formcr_referencia.categoria) }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ form_widget(formcr_referencia.tipoReferencia) }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" class="btn btn-primary" value="Agregar" onclick="dialogformReferenciaPost()"/>
                    <input type="button" class="btn" value="Cancelar" onclick="dialogformReferenciaCancel()"/>
                </td>
            </tr>
        </table>
    </fieldset>
    </form>
</div>
