<div id="dialog-icons" title="Seleccionar icono">
    <div id="dialog-iconos-grilla">
        <em>Obteniendo iconos, espere..</em>
        <a href="#"><img class="icono-dialog" src="" /></a>
    </div>
</div>

{# Este es la tabla para mostrar los iconos en pantalla #}
{#<table>
    <tbody>
        {% for icono in iconos %}
            {% if (loop.index%14) == 0%}<tr>{% endif %}
            <td>
                <a href="#" data-dismiss="modal">
                    <img class="icono-dialog" src="{{ asset(icono)}}" />
                </a>
            </td>
            {% if (loop.index%14) == 13%}</tr>{% endif %}
        {% endfor %}
    </tbody>
</table>#}
