
<div id="dialog-form-referencia-buscar" title="Bucar referencia">
    <form  class="form-horizontal" action="#" method="POST">
        <fieldset>
            <div>
                <input style="width: 120px" id="input-search" type="text">
                <button type="button" onclick="dialogformReferenciaSearch()" title="Buscar referencia">Buscar</button> 
            </div>
        </fieldset>
    </form>
    <div id="dialog-form-referencia-table">
        {% include "apmon/Mapa/dialog-referencia-ubicar-result.html.twig" %}
    </div>
</div>
