{% if referencias is defined %}
<table class="table table-condensed" style="cursor: pointer">    
    {% for referencia in referencias %}                            
    <tr>
        <td style="font-size: 12px" onclick="centerReferencia({{ referencia.id }}, {{ referencia.clase }}, {{ referencia.latitud }}, {{ referencia.longitud }})">
            {{ referencia.nombre }}
        </td>
    </tr>
    {% endfor %}
</table> 
{% endif %}