
<div id="dialog-form-coordenada-buscar" title="Bucar coordenada">
<table class="table-dialog">
<tr>
    <th>Latitud</th>
    <td>
        <input id="input-search-coord-lat" type="text">
    </td>
</tr>
<tr>
    <th>Longitud</th>
    <td>
        <input id="input-search-coord-long" type="text">
    </td>
</tr>
<tr>
    <th></th>
    <td>
        <input type="button" class="btn btn-primary" id="buscarCoord" value="Buscar" onclick="dialogCoordenadaBuscar()"/>
        <input type="button" class="btn" value="Cancelar" onclick="dialogCoordenadaCancel()"/>
    </td>
</tr>
</table>
   
</div>
