{% for servicio in servicios %}
    <div class="servicio_panel" id="servicio_{{ servicio.id }}">
        {% if status[servicio.id].vencido %}
            {% include "apmon/Mapa/tarjeta_servicio_vencido.html.twig" %}
        {% else %}
            {% include "apmon/Mapa/tarjeta_servicio_normal.html.twig" %}
        {% endif %}
        <div class="clear"></div>
    </div>
{% endfor %} 
