{% extends "app/Template/mapas.html.twig" %}
{% block title %}Ver toda la flota{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
    {% for key,color in colores %}
        .label_marcador.{{ key }} span.label_borde{  color: {{ color }} !important; }
        .label_marcador.{{ key }} span{ font-weight: bold !important; font-size: 13px !important;}
        .label_marcador.{{ key }} span.label_texto{ color: black !important; }        
        .label_marcador.{{ key }} .label_interno{ top: 10px !important;}
        .label_marcador.{{ key }} .label_interno.label_interno_salto{ top: -30px !important;}
    {% endfor %}
    </style>
{% endblock %}

{% block javascript %}
{{ parent() }}        
<script type="text/javascript">
     var map, measureTool;
   {#{{ mapa.recargaJsonAutomatica(url("apmon_equiposAJAX"), 60000, 'refresh')|raw }} #}
      
    function mostrarDirecciones() {
        if ($('#verDirecciones').css('display') === 'inline-block') {
            return '1';
        } else {
            return '2';
        }
    }
    
    function mostrarRefCercanas() {        
        if ($('#verRefCercanas').css('display') === 'inline-block') {
            return '1';
        } else {
            return '2';
        }
    }
    
    function mostrarGrupos() {
        grupos = $('#grupos').val();
        if (grupos !== null) {            
            return grupos.join(',');
        } else {
            return '';
        }
    }
    
    var updater = null;
    var timeQuery = 30000;   //en ms tiempo para refreesh (30 segundos)
    var visibleRef = 0;
    
    $(document).ready(function(){
        updater = $.PeriodicalUpdater(
            '{{ url('apmon_equiposAJAX') }}',
            {'minTimeout': timeQuery,       //este es el tiempo para el refresh del mapa.
             'maxTimeout': timeQuery+5000,   // 35 segundos
             'type':'json', 
             'sendData': {
                'ver' : function() { return mostrarDirecciones(); },
                'cercana' : function() { return mostrarRefCercanas(); },
                'grupos': function() { return mostrarGrupos(); }, 
             }},             
             function(respuesta) {                 
                {{ mapa.fcStopDraw() }}();
                {{ mapa.fcAddAllMarkers() }}(respuesta['data']); 
                {{ mapa.fcIniDraw() }}();
                actualizarListaEquipos(respuesta['html']);
                //$("#panel-equipos").text(""); 
                //$('#panel-equipos').append(respuesta['html']); 
             }
        ); 
    });        
       
    function actualizarListaEquipos(html) {
        html.forEach(function(value) {   //recorro todos los ids....
            if ($('#' + value['id_sc']).length){
               // console.log('Existente: ' +value['id_sc'] +' --> ' + $('#' + value['id_sc']).length);
                $('#' + value['id_sc']).html( value['data'] );
            } else {
               // console.log('Nuevo: ' +value['id_sc'] +' --> ' + $('#' + value['id_sc']).length);
                $('#panel-equipos').append( '<div class="servicio_panel" id="'+ value['id_sc'] +'">' + value['data'] + '</div>' );                
            }
        });
    }
    
    function refreshManual(all) {    
        if (typeof(all)==='undefined') all = false;
        grupos = $('#grupos').val() || [];
        
        updater.stop();
        //envio de datos.
        $.get( '{{ url('apmon_equiposAJAX') }}',
                { 'ver' : mostrarDirecciones(), 
                  'cercana' : mostrarRefCercanas(),
                  'grupos' : mostrarGrupos(),                  
                  'all' : all,
                }, 
            function(respuesta) { 
                 $("#panel-equipos").text(""); 
                {{ mapa.fcStopDraw() }}();
                {{ mapa.fcAddAllMarkers() }}(respuesta['data']); 
                {{ mapa.fcIniDraw() }}();
                actualizarListaEquipos(respuesta['html']);
                //$("#panel-equipos").text(""); 
                //$('#panel-equipos').append(respuesta['html']); 
                updater.restart();
            }, 
            'json');
    }

    function checkVerSensores() {
        if ($('#verSensores').css('display') === 'none') {
            $('#verSensores').css('display', 'inline-block');
        } else {
            $('#verSensores').css('display', 'none');
        }
    }

    function checkVerDirecciones() {
        if ($('#verDirecciones').css('display') === 'none') {
            $('#verDirecciones').css('display', 'inline-block');
            refreshManual(true);
        } else {
            $('#verDirecciones').css('display', 'none');
            refreshManual();
        }
        
    }

    function checkVerRefCercanas() {
        if ($('#verRefCercanas').css('display') === 'none') {
            $('#verRefCercanas').css('display', 'inline-block');
            refreshManual(true);
        } else {
            $('#verRefCercanas').css('display', 'none');
            refreshManual();
        }        
    }

    
    function checkVerReferencias(){
        if ($('#verReferencias').css('display') === 'none') {
            $('#verReferencias').css('display', 'inline-block');
        } else {
            $('#verReferencias').css('display', 'none');
        }    
        visibleRef++;
        var request = $.ajax({
              url: "{{ path('apmon_referencias_viewAJAX') }}", 
              data: {'visible' : visibleRef},
              dataType: "json",
              timeout: 10000, //in milliseconds
        });
        request.done(function(respuesta) {
           {{ mapa.fcStopDraw() }}();
           {{ mapa.fcAddAllIcons() }}(respuesta['icon']);       //agrego los iconos
           {{ mapa.fcAddAllPolygons() }}(respuesta['polygon']); //agrego los poligonos
           {{ mapa.fcAddAllCircles() }}(respuesta['circle']);   //agrego circulos
           {{ mapa.fcAddAllMarkers() }}(respuesta['referencia']);   //agrego las referencias.
           {{ mapa.fcSetClusterMinSize() }}(4); 
           {{ mapa.fcIniDraw() }}();
        });
    }
    function checkNewArea(){
        if ($('#verArea').css('display') === 'none') {
             $('#verArea').css('display', 'inline-block');
               crearMedida({{ mapa.getMapName() }});
        } else {
            $('#verArea').css('display', 'none');
               borrarMedida();
           
        }    
    }
        function checkVerCoordenada(){
        if ($('#verCoordenada').css('display') === 'none') {
            $('#verCoordenada').css('display', 'inline-block');
        } else {
            $('#verCoordenada').css('display', 'none');
        }    
       
    }
    function checkNewArea(){
        if ($('#verArea').css('display') === 'none') {
             $('#verArea').css('display', 'inline-block');
               crearMedida({{ mapa.getMapName() }});
        } else {
            $('#verArea').css('display', 'none');
               borrarMedida();
           
        }    
    }
    
    function crearReferenciaStep1(lat, lon) {
        if ({{ mapa.getMapName() }}.getZoom() > 15) {
            if (lat != null && lon != null && lat != 0 && lon != 0 ) {        
                {{ mapa.getMapName() }}.setCenter(new google.maps.LatLng(lat,lon));
                gotoCenter(lat, lon, true);
            }
            crearReferencia();
        } else {
            alert('Esta muy lejos del suelo en el mapa. Acerquese un poco para poder crear mejor una referencia');
        }    
    }
    
    function checkFiltroGrupos() {
        filtrarGrupo();
    }
    
    $(document).ready(function() {
        if ({{ default_referencias }} == 1) {
            checkVerReferencias();
            $('#verReferencias').css('display', 'inline-block');
            $('#verRefCercanas').css('display', 'inline-block');
        }
    });
</script>  
{% endblock %}

{% block panellefttop %}
    <div id="panel-equipos-top-inner">
        <div class="panel-equipos-top-panel">
            <div class="panel-equipos-top-titulo">
                Toda la flota
                <!-- Empieza el menu de opciones -->
                <div class="btn-group" style="float: right">
                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-th-large"></i> Opciones
                        <span class="caret"></span>
                    </a>
                     <ul class="dropdown-menu">
                        <li><a href="#" onClick='checkVerReferencias();'><i class="icon-ok" id="verReferencias" style="display: none"></i> Ver Referencias </a></li>
                        <li><a href="#" onClick='checkVerDirecciones();'><i class="icon-ok" id="verDirecciones" style="display: none"></i> Ver Direcciones </a></li>
                        {# <li><a href="#" onClick='checkVerSensores();'><i class="icon-ok" id="verSensores" style="display: none"></i> Ver Sensores </a></li> #}
                        <li><a href="#" onClick="checkVerRefCercanas();"><i class="icon-ok" id="verRefCercanas" style="display: none"></i> Ver Referencia Cercana</a></li>
                        <li><a href="#" onClick="checkFiltroGrupos();"><i class="icon-ok" id="verFiltroGrupos" style="display: none"></i> Filtrar por Grupos</a></li>
                        <li><a href="#" onClick="checkNewArea();"><i class="icon-ok" id="verArea" style="display: none"></i> Calcular Distancias y Area</a></li>
                            {% if is_granted('ROLE_REFERENCIA_AGREGAR') %}
                        <li class="divider"></li>
                    <li><a href="#" onclick="crearReferenciaStep1(0, 0);"><i class="icon-screenshot"></i> Crear referencia</a></li>
                    <li><a href="#" onclick="buscarReferencia();"> Buscar referencia</a></li>
                    <li><a href="#" onClick='buscarCoordenada();'><i class="icon-ok" id="buscarCoordenada" style="display: none"></i> Buscar Coordenada </a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    
{% block panelequipo %}
    {% include "apmon/Mapa/equipos_list.html.twig" %}            
{% endblock %}