{% extends "app/Template/mapas.html.twig" %}
{% block title %}Últimas posiciones de equipo{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
function ocultar() {
    $("#panel-equipos-top-inner").animate({height: 'toggle'}, 250, 
    function() {
        $("#panel-inner").text("");
        if ( $("#panel-equipos-top-inner").css('display') == "block" ) {
            var altoTop = 200; 
            $("#panel-inner").append('<img src="{{ asset('images/drag_hor_up.png') }}">');
         } else {
            var altoTop = 20; 
            $("#panel-inner").append('<img src="{{ asset('images/drag_hor_down.png') }}">');
         }
         var altoLeft = $(window).height(false) - altoTop;
         $('#panel-equipos').height(  $('#panel-left').height() - altoTop );  
    });
}
</script>
    
<script>
    function lanzarRefreshAutomatico() {
       {{ mapa.recargaJsonPolilineasManual(url("apmon_posiciones_refresh"), 'refresh')|raw }}
       {{ mapa.recargaJsonPolilineasAutomatica(url("apmon_posiciones_refresh"), 15000, 'refresh')|raw }} //15 segundos
    } 

    function refresh(respuesta) {
        {{ mapa.fcStopDraw() }}();
        var movil = respuesta['0']['mark'];
        {{ mapa.fcAddMarker() }}(movil['0']); 
                
        if ($('#verSeguir').css('display') === 'inline-block') {   
            {{mapa.getMapName()}}.setCenter(new google.maps.LatLng (movil['0']['latitud']*1, movil['0']['longitud']*1));
        }
        if ($('#verDirecciones').css('display') === 'inline-block') {
            checked = '1';
        } else {
            checked = '2';
        }
        if ($('#verRefCercanas').css('display') === 'inline-block') {
            vercercana = '1';
        } else {
            vercercana = '2';
        }
        //aca llamo para que se renderice los ultimos datos
        $.ajax({
          type: 'POST',
          url: "{{ path('apmon_posiciones_renderpanel') }}", 
          data: {'respuesta': respuesta, 'ver' : checked, 'cercana' : vercercana},
          success: function(htmlresponse, mark) {
              $("#panel-equipos").text(""); 
              $('#panel-equipos').append(htmlresponse); 
          }
        });
        {{ mapa.fcIniDraw() }}();
    }

    function checkVerRefCercanas() {
        if ($('#verRefCercanas').css('display') === 'none') {
            $('#verRefCercanas').css('display', 'inline-block');
        } else {
            $('#verRefCercanas').css('display', 'none');
        }
        {{ mapa.recargaJsonManual(url("apmon_posiciones_refresh"), 'refresh')|raw }}
    }

    function checkVerDirecciones() {
        if ($('#verDirecciones').css('display') === 'none') {
            $('#verDirecciones').css('display', 'inline-block');
        } else {
            $('#verDirecciones').css('display', 'none');
        }
        {{ mapa.recargaJsonManual(url("apmon_posiciones_refresh"), 'refresh')|raw }}
    }

    function checkSeguir() {
        if ($('#verSeguir').css('display') === 'none') {
            $('#verSeguir').css('display', 'inline-block');
        } else {
            $('#verSeguir').css('display', 'none');
        }
        {{ mapa.recargaJsonManual(url("apmon_posiciones_refresh"), 'refresh')|raw }}
    }
    
    function checkVerReferencias(){
        {{ mapa.fcStopDraw() }}();
        if ($('#verReferencias').css('display') === 'none') {
            $('#verReferencias').css('display', 'inline-block');
            visible = '1';
        } else {
            $('#verReferencias').css('display', 'none');
            visible = '2';
        }   
        var request = $.ajax({
              url: "{{ path('apmon_referencias_viewAJAX') }}", 
              data: {'visible' : visible},
              dataType: "json"
        });
        request.done(function(respuesta) {
            {{ mapa.fcStopDraw() }}();
            {{ mapa.fcAddAllIcons() }}(respuesta['icon']);       //agrego los iconos
            {{ mapa.fcAddAllPolygons() }}(respuesta['polygon']); //agrego los poligonos
            {{ mapa.fcAddAllCircles() }}(respuesta['circle']);   //agrego circulos
            {{ mapa.fcAddAllMarkers() }}(respuesta['referencia']);   //agrego las referencias.
            {{ mapa.fcSetClusterMinSize() }}(4); 
            {{ mapa.fcIniDraw() }}();

        }); 
        {{ mapa.fcIniDraw() }}();
    }     
    
    function crearReferenciaStep1(lat, lon) {
        if ({{ mapa.getMapName() }}.getZoom() > 15) {
            if (lat !== 0 && lon !== 0 ) {        
                {{ mapa.getMapName() }}.setCenter(new google.maps.LatLng(lat,lon));
            }
            crearReferencia();
        } else {
            alert('Esta muy lejos del suelo en el mapa. Acerquese un poco para poder crear mejor una referencia');
        }    
    }
    
    $(document).ready(function() {
       if ({{ default_referencias }} == 1) {
          $('#verReferencias').css('display', 'inline-block');
          $('#verRefCercanas').css('display', 'inline-block');
       }
          $('#posiciones_servicio').select2();   
    });
</script>

{% endblock %}

{% block panellefttop %}
<div id="panel-equipos-top-inner" style="height: 125px;">
    <div class="panel-equipos-top-panel">
        <div class="panel-equipos-top-titulo">
            Últimas posiciones
            <!-- Empieza el menu de opciones -->
            <div class="btn-group" style="float: right">
                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-th-large"></i> Opciones
                    <span class="caret"></span>
                </a>
                 <ul class="dropdown-menu">
                    <li><a href="#" onClick='checkVerReferencias()'><i class="icon-ok" id="verReferencias" style="display: none"></i> Ver Referencias </a></li>
                    <li><a href="#" onClick='checkVerDirecciones()'><i class="icon-ok" id="verDirecciones" style="display: none"></i> Ver Direcciones </a></li>
                    <li><a href="#" onClick="checkVerRefCercanas()"><i class="icon-ok" id="verRefCercanas" style="display: none"></i> Ver Referencia Cercana</a></li>
                    <li><a href="#" onClick="checkSeguir()"><i class="icon-ok" id="verSeguir" style="display: inline-block"></i> Seguir en mapa</a></li>
                    {% if is_granted('ROLE_REFERENCIA_AGREGAR') %}
                        <li class="divider"></li>
                        <li><a href="#" onclick="crearReferenciaStep1(0, 0)"><i class="icon-screenshot"></i> Crear referencia</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% include "apmon/Mapa/posiciones_form.html.twig" %}         
</div>
<hr>
{% endblock %}

{% block panelequipo %}
    {% include "apmon/Mapa/posiciones_list.html.twig" %}       
{% endblock %}

{% block content %}
    <div id="mapas-body">
        {{ mapa.renderHtml()|raw }}
        {% if historial|length > 0 %}
            <script> 
                $(document).ready(function () {
                    lanzarRefreshAutomatico(); 
                });
            </script>
        {% endif %}
    </div>
{% endblock %}


{% block css %}
   {{ parent() }}
{% endblock %}
