<script>
    function clickList(latitud, longitud){
        {{ mapa.getMapName() }}.setCenter (new google.maps.LatLng (latitud, longitud));
        {{ mapa.getMapName() }}.setZoom(17);        
    }
</script>
{% if historial %}
    {% if historial|length > 0 %}
        <em>Se reportaron {{ historial|length }} posiciones</em>
        <div class="list_historial">
         <div class="servicio_principal">
                <div class="zone_horizontal">
                {% if servicio.ultLatitud %}
                    <div class="servicio_nombre" 
                         style="cursor: pointer" 
                         onclick="gotoCenter({{servicio.ultLatitud}}, {{servicio.ultLongitud}}, true)">
                            {{ servicio.nombre }}
                    </div> 
                {% else %}
                    <div class="servicio_nombre">{{ servicio.nombre }}</div>
                {% endif %}
                <div class="fecha" {{ status[ servicio.id ] is defined and status[ servicio.id ]['st_ultreporte'] > 1 ? 'style="color: red"' : ''}} >
                    {{ servicio.ultFechaHora ? servicio.ultFechaHora|date('d-m-Y H:i:s', app.user.timeZone) : '---' }}
                </div>
                <div class="clear"></div>
            </div>
             <div class="zone_horizontal">
                {# Inputs #}
                {% if status[ servicio.id ].inputs is defined %}
                    <div class="bateria block">                        
                        {% include "apmon/Mapa/show_inputs.html.twig" with {'entradas': status[ servicio.id ].inputs} %}  
                    </div>     
                {% endif %}
                
                {# Tanque de combustible #}
                {% if status[ servicio.id ].carcontrol.tanque is defined %}
                    <div class="bateria block">                        
                        {% include "apmon/Mapa/show_combustible.html.twig" with {'tanque': status[ servicio.id ].carcontrol.tanque} %}  
                    </div>     
                {% endif %}                    

                {# Candado #}
                {% if status[ servicio.id ].cerrojo is defined %}
                    <div class="bateria block">                        
                        {% include "apmon/Mapa/show_cerrojo.html.twig" with {'cerrojo': status[ servicio.id ].cerrojo} %}  
                    </div>     
                {% endif %}                    

                {# BATERIA #} 
                <div class="bateria block">                        
                    {% include "apmon/Mapa/show_bateria.html.twig" with {'bateria': servicio.ultbateria} %}  
                </div>     
                {% if status[ servicio.id ] is defined and status[ servicio.id ].contacto is defined %}
                    <div class="bateria block">
                        {% if status[ servicio.id ].contacto == true %}
                            <img src="{{ asset('images/key.png') }}" >
                        {% endif %} 
                    </div>     
                {% endif %} 
                {# ultimo reporte sin GPS #} 
                {% if servicio.ultValido == false %}
                    <div class="block">
                        <img src="{{ asset('images/transmit_error.png') }}" 
                             width="16px" 
                             height="16px" 
                             style="float:left; margin: 0px 3px 0px 0px;"
                             title="Sin señal de GPS">
                    </div>
                {% endif %}

                {# velocidad #}
                <div class="velocidad block">
                    {% if servicio.ultVelocidad %}
                        {% set velocidad = servicio.ultVelocidad %}
                        {% set direccion = servicio.ultDireccion %}
                    {% else %}
                        {% set velocidad = '' %}
                        {% set direccion = '-1' %}
                    {% endif %}    
                    <img width="16px" height="16px" 
                         src="{{ status[ servicio.id ] is defined ? status[ servicio.id ].icono }}"
                         title="{{ servicio.ultVelocidad > 0 ? servicio.ultVelocidad~' km/h' : 'detenido' }}">  
                    {{ servicio.ultVelocidad|default(0) }} km/h
                </div>
            </div> 
         </div>
        {% for trama in historial %}
            <div class="servicio_panel" 
                    {% if trama.posicion | default(0)  %} 
                        onclick="clickList({{ trama.posicion.latitud }}, {{ trama.posicion.longitud }})"
                    {% endif %}>
                    <div class="servicio_principal">

                        {# aca empiezan los datos #}
                        <table style="width: 100%" border='0'>
                            <tr>
                                <td>{{ trama.fecha }}</td>
                                <td style="text-align: right">
                                    {{ trama.posicion.velocidad | default('0') }} km/h
                                </td>
                                <td>
                                {% if trama.posicion is not defined or trama.posicion == null %}
                                    <div class="block">
                                        <img src="{{ asset('images/transmit_error.png') }}" 
                                             width="16px" 
                                             height="16px" 
                                             style="float:left; margin: 0px 3px 0px 0px;"
                                             title="Sin señal de GPS">
                                    </div>
                                {% endif %}
                                </td>
                                {% if trama.distancia is defined %}
                                    <td style="text-align: right">
                                        {{ trama.tiempo|default('--') }} <br>
                                        {{ trama.distancia|default('---') }} mts.
                                    </td>
                                {% endif %}    
                                <td style="text-align: left">
                                        
                                </td>
                            </tr>
                        </table>
                        {% if trama.referencia_id is defined %}
                            <div class="direccion">
                                <strong>
                                    <img id="mostrar-icono" class="logo-small" style="width: 16px; height: 16px" src="{{ trama.referencia.pathIcono }}" />    
                                    {{ trama.referencia.nombre }}
                                </strong>
                            </div> 
                        {% endif %}
                        {% if trama.direccion is defined %} 
                            <div class="direccion">
                                {{ trama.direccion }}
                            </div> 
                        {% endif %}
                        {# muestra la cercania si biene #}
                        {% if trama['leyenda'] is defined and trama['leyenda'] != null %}
                        <div class="direccion">
                           {% if trama['icono'] is defined and trama['icono'] != null %}
                            <img style="width: 16px; height: 16px" src="{{ asset(trama['icono']) }}">
                           {% endif %} 
                           <b><em>{{ trama['leyenda'] }}</em></b>
                        </div>
                       {% endif %} 
                    </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
      <em> No se encuentran registradas ultimas tramas reportadas en el tiempo consultado</em>
    {% endif %}
{% else %}
   
{% endif %}        
    