<div id="panel-form" class="form_small" style="padding: 5px;">
    <form class="form-horizontal" action="{{ path('apmon_posiciones') }}"  method="POST" > 
        <fieldset>
            <div>{{ form_errors(form) }}</div>
            <div class="row row-show">
                <div class="span1 column-label">Equipo</div>
                <div class="span2"> {{ form_widget(form.servicio, {'attr': {'style': 'width:190px'} }) }}</div>
            </div>
            <div class="row row-show">
                <div class="span1 column-label">Últimos</div>
                <div class="span1"> {{ form_widget(form.tiempo, {'attr': {'style': 'width:190px'} }) }}</div>
            </div>
            {{ form_widget(form._token) }} 
            <div class="row">
                <div class="span2 offset1">
                     <input type="submit" class="btn btn-small" value="Consultar"/>
                </div>
            </div>
        </fieldset>
    </form>
</div>
