{% if tanque is defined %}
    {% if tanque.porcentaje > 0 and tanque.porcentaje <= 5 %}
        <img src="{{ asset('images/fuel0.png') }}" title="{{ tanque.title }}">
    {% elseif tanque.porcentaje == -1 %}
        <img src="{{ asset('images/fuel-1.png') }}" title="">
    {% elseif tanque.porcentaje > 5  and tanque.porcentaje <= 12 %}
        <img src="{{ asset('images/fuel1.png') }}" title="{{ tanque.title }}">
    {% elseif tanque.porcentaje > 12  and tanque.porcentaje <= 25 %}
        <img src="{{ asset('images/fuel2.png') }}" title="{{ tanque.title }}">
    {% elseif tanque.porcentaje > 25 and tanque.porcentaje <= 37 %}
        <img src="{{ asset('images/fuel3.png') }}" title="{{ tanque.title }}">
    {% elseif tanque.porcentaje > 37 and tanque.porcentaje <= 50 %}
        <img src="{{ asset('images/fuel4.png') }}" title="{{ tanque.title }}">
    {% elseif tanque.porcentaje > 50 and tanque.porcentaje <= 62 %}
        <img src="{{ asset('images/fuel5.png') }}" title="{{ tanque.title }}">
    {% elseif tanque.porcentaje > 62 and tanque.porcentaje <= 75 %}
        <img src="{{ asset('images/fuel6.png') }}" title="{{ tanque.title }}">
    {% elseif tanque.porcentaje > 75 and tanque.porcentaje <= 87 %}
        <img src="{{ asset('images/fuel7.png') }}" title="{{ tanque.title }}">
    {% elseif tanque.porcentaje > 87 and tanque.porcentaje <= 100 %}
        <img src="{{ asset('images/fuel8.png') }}" title="{{ tanque.title }}">
    {% elseif tanque.porcentaje > 100 %}
        <img src="{{ asset('images/fuel8.png') }}" title="{{ tanque.title }}">
     {% else %}
     {# {{ tanque.porcentaje }}%#}
    {% endif %}   
    {{ tanque.litros is defined and tanque.litros != null and tanque.litros > 0 ? tanque.litros|number_format(0) ~ ' lts.' : '' }}    
{% else %}
{% endif %}