{% if bateria %}
    {% if bateria <= 20 %}
        <img src="{{ asset('images/bateria5.png') }}" title="{{ bateria }}%">
    {% elseif bateria > 20 and bateria <= 40 %}
        <img src="{{ asset('images/bateria4.png') }}" title="{{ bateria }}%">
    {% elseif bateria > 40 and bateria <= 60 %}
        <img src="{{ asset('images/bateria3.png') }}" title="{{ bateria }}%">
    {% elseif bateria > 60 and bateria <= 80 %}
        <img src="{{ asset('images/bateria2.png') }}" title="{{ bateria }}%">
    {% elseif bateria > 80 and bateria <= 100 %}
        <img src="{{ asset('images/bateria1.png') }}" title="{{ bateria }}%">
     {% else %}
        {{ bateria }}%
    {% endif %}
{% else %}
    ---
{% endif %}