{# inputs #}
<div class="direccion">
   {% for campo in entradas %}
    <div title="{{ campo.nombre }}" style="float: left;">
        {% if campo.icono != null  %}
            <img src="{{ asset( campo.icono ) }}" style="width: 24px; height: 24px">
        {% else %}
            {{ campo.leyenda }}
        {% endif %}
    </div>
   {% endfor %} 
</div>
