{% if cerrojo %}
    {% if cerrojo.estado_gabinete is defined and cerrojo.estado_gabinete %}
        <img src="{{ asset('images/gabinete_open.png') }}" title="Sabotaje de gabinete">
    {% endif %}
    
    {% if cerrojo.estado_cerrojo == 0%}   {# abierto #}
        <img src="{{ asset('images/lock_open.png') }}" title="Cerrojo abierto">
    {% elseif cerrojo.estado_cerrojo == 1 %}    {# cerrado #}
        <img src="{{ asset('images/lock_closed.png') }}" title="Cerrojo cerrado">
    {% else %}   
        <i class="icon-remove"></i> ERROR !!! ({{  cerrojo.estado_cerrojo }})
    {% endif %}
{% else %}
    ---
{% endif %}