<div class="servicio_top">
	<div
		class="servicio_principal">
		{# Icono del servicio #}
		<div class="icono_servicio" {% if servicio.ultLatitud %} style="cursor: pointer;" onclick="gotoCenter({{servicio.ultLatitud}}, {{servicio.ultLongitud}}, true)" {% endif %}>
			{% include "app/Template/show_servicio_image.html.twig" with {'servicio': servicio, 'size': '32px' } %}
		</div>
		{# Nombre y fecha del servicio #}
		<div class="zone_horizontal">
			{% if servicio.ultLatitud %}
				<div class="servicio_nombre" style="cursor: pointer" title="{{ servicio.nombre }}" onclick="gotoCenter({{servicio.ultLatitud}}, {{servicio.ultLongitud}}, true)">
					{{ servicio.nombre[:20] }}
				</div>
			{% else %}
				<div class="servicio_nombre" title="{{ servicio.nombre }}">{{ servicio.nombre[:20] }}</div>
			{% endif %}
			<div class="fecha" {{ status[ servicio.id ] is defined and status[ servicio.id ]['st_ultreporte'] > 1 ? 'style="color: red"' : '' }}>
				<a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'main'}) }}" target="_blank">
					No reporta desde el
					{{ servicio.ultFechaHora ? servicio.ultFechaHora|date('d-m-Y H:i:s', app.user.timeZone) : '---' }}
				</a>
			</div>
		</div>
	</div>
</div>
