<div class="servicio_top">
	<div
		class="servicio_principal">
		{# Icono del servicio #}
		<div class="icono_servicio" {% if servicio.ultLatitud %} style="cursor: pointer;" onclick="gotoCenter({{servicio.ultLatitud}}, {{servicio.ultLongitud}}, true)" {% endif %}>
			{% include "app/Template/show_servicio_image.html.twig" with {'servicio': servicio, 'size': '32px' } %}
		</div>
		{# nombre y fecha del servicio #}
		<div class="zone_horizontal">
			{% if servicio.ultLatitud %}
				<div class="servicio_nombre" style="cursor: pointer" title="{{ servicio.nombre }}" onclick="gotoCenter({{servicio.ultLatitud}}, {{servicio.ultLongitud}}, true)">
					{{ servicio.nombre[:25] }}
				</div>
			{% else %}
				<div class="servicio_nombre" title="{{ servicio.nombre }}">{{ servicio.nombre[:25] }}</div>
			{% endif %}
			<br>
			<!-- <div class="direccion">  -->
			{#se usa para el tipo de vehiculo#}
				<div class="zone_horizontal"> <small>
					{% if servicio.vehiculo != null and servicio.vehiculo.patente != null %}
						<label class="label label-info label-xs">
							{{ servicio.vehiculo.patente }}
						</label>
					{% endif %}
					<label class="label label-default">
						{{ servicio.tipoServicio }}
					</label>
					{% if servicio.vehiculo != null %}
						{% if servicio.vehiculo.marca != null %}
							{{ servicio.vehiculo.marca[:15] }}
							{{ servicio.vehiculo.modelo[:10] }}							
						{% endif %}
					{% endif %}
				</small>
			</div>
			<div class="fecha" {{ status[ servicio.id ] is defined and status[ servicio.id ]['st_ultreporte'] > 1 ? 'style="color: red"' : ''}}>
				{{ servicio.ultFechaHora ? servicio.ultFechaHora|date('d-m-Y H:i:s', app.user.timeZone) : '---' }}
			</div>
		</div>

		<div
			class="zone_horizontal">
			{# Inputs #}
			{% if status[ servicio.id ].inputs is defined %}
				<div class="bateria block">
					{% include "apmon/Mapa/show_inputs.html.twig" with {'entradas': status[ servicio.id ].inputs} %}
				</div>
			{% endif %}

			{# Tanque de combustible #}
			{% if status[ servicio.id ].carcontrol.tanque is defined %}

				<div class="bateria block">
					{% include "apmon/Mapa/show_combustible.html.twig" with {'tanque': status[ servicio.id ].carcontrol.tanque} %}
				</div>
			{% endif %}

			{# Candado #}
			{% if status[ servicio.id ].cerrojo is defined %}
				<div class="bateria block">
					{% include "apmon/Mapa/show_cerrojo.html.twig" with {'cerrojo': status[ servicio.id ].cerrojo} %}
				</div>
			{% endif %}

			{# BATERIA #}
			<div class="bateria block">
				{% include "apmon/Mapa/show_bateria.html.twig" with {'bateria': servicio.ultbateria} %}
			</div>
			{% if status[ servicio.id ] is defined and status[ servicio.id ].contacto is defined %}
				<div class="bateria block">
					{% if status[ servicio.id ].contacto == true %}
						<img src="{{ asset('images/key.png') }}">
					{% endif %}
				</div>
			{% endif %}

			{# ultimo reporte sin GPS #}
			{% if servicio.ultValido == false %}
				<div class="block">
					<img src="{{ asset('images/transmit_error.png') }}" width="16px" height="16px" style="float:left; margin: 0px 3px 0px 0px;" title="Sin señal de GPS">
				</div>
			{% endif %}

			{# velocidad #}
			<div class="velocidad block">
				{% if servicio.ultVelocidad %}
					{% set velocidad = servicio.ultVelocidad %}
					{% set direccion = servicio.ultDireccion %}
				{% else %}
					{% set velocidad = '' %}
					{% set direccion = '-1' %}
				{% endif %}
				<img width="16px" height="16px" src="{{ status[ servicio.id ].icono }}" title="{{ servicio.ultVelocidad > 0 ? servicio.ultVelocidad~' km/h' : 'detenido' }}">
				{{ servicio.ultVelocidad|default(0) }}
				km/h
			</div>
		</div>
	</div>
</div>
{% if status[ servicio.id ] is defined and status[ servicio.id ].carcontrol is defined and status[ servicio.id ].contacto == true %}
	<div class="carcontrol" {#style="display: none"#}>
		{% if status[ servicio.id ].carcontrol.tanque is defined %}
			{# Tanque: {{ status[ servicio.id ].carcontrol.tanque }} #}
		{% endif %}
	</div>
{% endif %}
{# #}
{% if status|length > 0 %}
	{# Muestra la direccion si viene #}
	{% if status[ servicio.id ] is defined and status[ servicio.id ].direccion is defined and status[ servicio.id ].direccion != '' %}
		<div class="direccion">
			{{ status[ servicio.id ].direccion|default('---') }}
		</div>
	{% endif %}
	{# muestra la cercania si viene #}
	{% if status[ servicio.id ]['cerca']['leyenda'] is defined and status[ servicio.id ]['cerca']['leyenda'] != null %}
		<div class="direccion">
			{% if status[ servicio.id ]['cerca']['icono'] is defined and status[ servicio.id ]['cerca']['icono'] != null %}
				<img style="width: 16px; height: 16px" src="{{ asset(status[ servicio.id ]['cerca']['icono']) }}">
			{% endif %}
			<b>
				<em>{{ status[ servicio.id ]['cerca']['leyenda'] }}</em>
			</b>
		</div>
	{% endif %}

	{# chofer #}    
	{% if status[ servicio.id ].chofer is defined %}
		{% include "apmon/Mapa/show_chofer.html.twig" with {'chofer': status[ servicio.id ].chofer} %}
	{% endif %}

	{% if status[ servicio.id ].sensores is defined %}
		<div class="direccion">
			{% for campo in status[ servicio.id ].sensores %}
				<div title="{{ campo.title }}" style="float: left; margin: 2px; padding: 1px 5px 1px 5px; background-color: {{ campo.color|default('#FFF') }} ">
					{{ campo.sensor.abbr }}:
					<b>{{ campo.dato }}
						{{ campo.sensor.medida }}</b>
					{% if campo.alertabateria is defined and campo.alertabateria == true %}
						<img src="{{ asset('images/bateriacritica.png') }}">
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endif %}
