{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ modulo.aplicacion }}{% endblock %}
{% block subtitulo %}{{ modulo }}{% endblock %}

{% block formulario %}
<form class="form-horizontal"  method="POST" >
   {{ form_widget(form._token) }}
    <div class="row-fluid">
        <div class="span8">
            <legend>Datos del módulo</legend>
            {{ form_widget(form.nombre) }}
            {{ form_widget(form.codename) }}
            {{ form_widget(form.alcance) }}
        </div>
        <div class="span4">    
        </div>
    </div>    
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Cambiar" />
        <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
    </div>
</form>
{% endblock formulario %}