{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ modulo.aplicacion }}{% endblock %}
{% block subtitulo %}Alta de módulo{% endblock %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" >

        <div>
            {{ form_errors(form) }} 
        </div>
        <div class="row-fluid">
            <div class="span8">
                <legend>Datos del módulo</legend>
                {{ form_widget(form.nombre) }}
                {{ form_widget(form.codename) }}
                {{ form_widget(form.alcance) }}
            </div>
            <div class="span4">    
            </div>
        </div>

        {{ form_widget(form._token) }}
        {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Agregar' } %}
    </form>

{% endblock formulario %}