<legend>Permisos del Módulo</legend>
<a href="#" id="add-another-permiso">Agregar Permiso</a>
{{ form_errors(form.permisos) }}
{#<div class="row-fluid">
    <div class="span1">Usable</div>
    <div class="span3">CodeName</div>
    <div class="span4">Descripción</div>
    <div class="span3">Restringido a</div>
</div>#}
<table class="table">
    <thead>
        <tr>
            <th>Usable</th>
            <th>CodeName</th>
            <th>Descripción</th>
            <th>Restringido a</th>
        </tr>
    </thead>
    <tbody>
        {% for id, permiso in form.permisos %}
        <tr>
            <td>
                <input id="modulonewtype_permisos_{{ id }}_usable" name="modulonewtype[permisos][{{ id }}][usable]" required="required" value="1" checked="checked" type="checkbox">
            </td>
            <td>
                <input class="form-control" id="modulonewtype_permisos_{{ id }}_codename" name="modulonewtype[permisos][{{ id }}][codename]" value="{{ permiso.codename.vars.value }}" type="text">
            </td>
            <td>
                <input class="form-control" id="modulonewtype_permisos_{{ id }}_descripcion" name="modulonewtype[permisos][{{ id }}][descripcion]" value="{{ permiso.descripcion.vars.value }}" type="text">
            </td>
            <td>
                <input class="form-control" id="modulonewtype_permisos_{{ id }}_restrigido" name="modulonewtype[permisos][{{ id }}][descripcion]" value="{{ permiso.restringido.vars.value }}" type="text">
            </td>
        </tr>
    {% endfor %}

</tbody>
</table>

{#{% for permiso in form.permisos %}
    <div class="row-fluid">
        <div class='span1'>{{ form_widget(permiso.usable) }}</div>
        <div class='span3'>{{ form_widget(permiso.codename, { 'attr': {'class': 'medium'} }) }}</div>
        <div class='span4'>{{ form_widget(permiso.descripcion, { 'attr': {'class': 'large'} }) }}</div>
        <div class='span3'>{{ form_widget(permiso.restringido, { 'attr': {'class': 'medium'} }) }}</div>
    </div>
{% endfor %}
#}

<div id="permiso-fields-div" 
     data-prototype="     
    <div class='row-fluid'>
     <div class='span1'><input id='modulonewtype_permisos___name___usable' name='modulonewtype[permisos][__name__][usable]' required='required' value='1' type='checkbox'></div>
     <div class='span3'><input id='modulonewtype_permisos___name___codename' name='modulonewtype[permisos][__name__][codename]' class='medium' type='text'></div>
     <div class='span4'><input id='modulonewtype_permisos___name___descripcion' name='modulonewtype[permisos][__name__][descripcion]' class='large' type='text'></div>
     <div class='span3'><input id='modulonewtype_permisos___name___restringido' name='modulonewtype[permisos][__name__][restringido]' class='medium' type='text'></div>
     </div>
     ">
</div> 