{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "backend/Modulo/delete_form.html.twig" %}
{% endblock %} 

{% block titulo %}{{ modulo }}{% endblock %}
{% block contentpanel %}
    <div class="row-fluid row-show">
        <h3>Datos del Sensor</h3>
        {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': modulo.nombre } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Codename', 'data': modulo.codename } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Alcance', 'data': modulo.alcance|default('-') } %} 
    </div>
    <div class="row-fluid row-show">
        <h3>Permisos</h3>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Usable</th>
                    <th>Codename</th>
                    <th>Descripción</th>
                    <th>Restringido a</th>
                    <th></th>
                </tr>
            </thead>
            {% for permiso in modulo.permisos %}
                <tr>
                    <td>{{ permiso.usable == 1 ? 'SI' : 'NO' }}</td>
                    <td>{{ permiso.codename }}</td>
                    <td>{{ permiso.descripcion }}</td>
                    <td>{{ permiso.restringido }}</td>
                    <td>
                        <a href="{{ path('permiso_edit', {'id': permiso.id} ) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}