{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ mantenimiento.propietario }}{% endblock %}

{% block help %}
    <a href="javascript:void(0);" onclick="javascript:introJs().start();"><img src="{{ asset('/images/help.png') }}" alt="Ayuda" title="Ayuda"></a>
    {% endblock %}

{% block subtitulo %}
    <div data-step="1" data-intro="{% include "mante/Plan/help.html.twig" with {'step': '1' } %}">
        Edición de tipo de Mantenimiento
    </div>    
{% endblock %}
{% block formulario %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row-fluid">
        <div class="span8">
            <div data-step="2" data-intro="{% include "mante/Plan/help.html.twig" with {'step': '2' } %}">
                {{ form_widget(form.nombre) }}
            </div>
            <div data-step="3" data-intro="{% include "mante/Plan/help.html.twig" with {'step': '3' } %}">
                {{ form_widget(form.porDias) }}
                {{ form_widget(form.intervaloDias) }}
                {{ form_widget(form.avisoDias) }}
            </div>
            <div data-step="4" data-intro="{% include "mante/Plan/help.html.twig" with {'step': '4' } %}">
                {{ form_widget(form.porKilometros) }}
                {{ form_widget(form.intervaloKilometros) }}
                {{ form_widget(form.avisoKilometros) }}
            </div>
            <div data-step="5" data-intro="{% include "mante/Plan/help.html.twig" with {'step': '5' } %}">
                {{ form_widget(form.porHoras) }}
                {{ form_widget(form.intervaloHoras) }}
                {{ form_widget(form.avisoHoras) }}
            </div>
            {{ form_rest(form) }}
        </div>
        <div class="span3">
            {% include "mante/Plan/info_extra.html.twig" %} 
        </div>
    </div>
    {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Cambiar' } %}
    {{ form_end(form) }}
{% endblock %}
