{% if step == 1 %}
Acá va a configurar sus tipos de mantenimiento. Luego podrá asociar los servicios a dichas tareas. </br>
Los valores que acá ingrese, kilometrós, días u horas, pueden ser cambiado luego en cada servicio."
{% elseif step == 2  %}
Se utilizará para identificar al mantenimiento a realizar en los vehículos. (p/ej.: Cambio de Aceite).
{% elseif step == 3  %}
Es el período de días cada cuanto se tiene que realizar el mantenimiento. (p/ej.: 60 días)  </br> Debe ingresar los días de aviso anticipado para recibir notificaciones del vencimiento del mantenimiento. <b>No obligatorio</b>
{% elseif step == 4  %}
Es el período de kilómetros cada cuanto se tiene que realizar el mantenimiento. (p/ej.: 10000 kms).  </br> Debe ingresar los kilómetros de aviso anticipado para recibir notificaciones del vencimiento del mantenimiento. <b>No obligatorio</b>
{% elseif step == 5  %}
Es el período de horas cada cuanto se tiene que realizar el mantenimiento. (p/ej.: 300 horas)  </br> Debe ingresar las horas de aviso anticipado para recibir notificaciones del vencimiento del mantenimiento. <b>No obligatorio</b>
{% endif %}