<h4>Info</h4>
<ul class="unstyled">
    <li><b>Nombre:</b> Se utilizará para identificar al mantenimiento a realizar en los vehículos. (p/ej.: Cambio de Aceite) </li>
    <li><b>Intervalo:</b> Es el período cada cuanto se tiene que realizar el mantenimiento. (p/ej.: 10000 kms) </li>
    <li><b>Anticipo:</b> Indica cuanto tiempo antes de la ralización del mantenimiento se generará un aviso a los contactos. (p/ej.: 1000 kms)</li>
    <li><b>Valores: No colocar . (puntos) en los valores de kms, horas y días. </b> </li>
</ul>
<a href="javascript:void(0);" onclick="javascript:introJs().start();">Ayuda</a>