{% extends "app/Template/list.html.twig" %}

{% block titulo %}Plan de Mantenimientos{% endblock %}        

{% block contentpanel %}  
    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for mantenimiento in mantenimientos %}
                    <tr>
                        <td><a href="{{ path('plan_show', {'id': mantenimiento.id}) }}">{{ mantenimiento.nombre }}</a></td>
                        <td>
                            {% if mantenimiento.intervaloDias %}
                                cada <b>{{ mantenimiento.intervaloDias }}</b> días avisando <b>{{ mantenimiento.avisoDias }}</b> días antes.
                            {% elseif mantenimiento.intervaloKilometros %}
                                cada <b>{{ mantenimiento.intervaloKilometros }}</b> kms avisando <b>{{ mantenimiento.avisoKilometros }}</b> kms antes.
                            {% elseif mantenimiento.intervaloHoras %}
                                cada <b>{{ mantenimiento.intervaloHoras }}</b> hs avisando <b>{{ mantenimiento.avisoHoras }}</b> horas antes.
                            {% endif %}
                        </td>
                        <td>
                            {% if mantenimiento.actividades|length > 0 %}
                                <ul>
                                {% for act in mantenimiento.actividades %}                                                       
                                    <li>{{ act }}</li>
                                {% endfor %}
                                </ul>
                            {% else %}
                                No hay actividades configuradas. <a href="{{ path('actividad_new', {'id': mantenimiento.id}) }}">Configurar</a>
                            {% endif %}
                        </td>
                        <td>{#{{ mantenimiento.carModelo }}#}</td>
                        <td class="td-accion">
                            {% if is_granted('ROLE_MANT_EDITAR') %}
                                <a href="{{ path('plan_edit', {'id': mantenimiento.id} ) }}" class="btn btn-small">Editar</a>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

