{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "mante/Plan/delete_form.html.twig" %}
{% endblock %} 

{% block titulo %}Mantenimiento{% endblock %}

{% block contentpanel %}
    <div class="row-fluid row-show">
        <div class="span6">
            <h3>Datos del Mantenimiento</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': mantenimiento.nombre } %} 
            {% if mantenimiento.intervaloDias != '' %}
                {% include "app/Template/show_row.html.twig" with {'label': 'Intervalo Días', 'data': mantenimiento.intervaloDias } %} 
                {% include "app/Template/show_row.html.twig" with {'label': 'Días de anticipo', 'data': mantenimiento.avisoDias } %} 
            {% endif %}
            {% if mantenimiento.intervaloKilometros != '' %}
                {% include "app/Template/show_row.html.twig" with {'label': 'Intervalo kilometros', 'data': mantenimiento.intervaloKilometros } %} 
                {% include "app/Template/show_row.html.twig" with {'label': 'Kilometros de anticipo', 'data': mantenimiento.avisoKilometros } %} 
            {% endif %}
            {% if mantenimiento.intervaloHoras != '' %}
                {% include "app/Template/show_row.html.twig" with {'label': 'Intervalo horas', 'data': mantenimiento.intervaloHoras } %} 
                {% include "app/Template/show_row.html.twig" with {'label': 'Horas de anticipo', 'data': mantenimiento.avisoHoras } %}             
            {% endif %}
            {% if mantenimiento.propietario !=  app.user.organizacion %}
                {% include "app/Template/show_row.html.twig" with {'label': 'Propietario', 'data': mantenimiento.propietario } %}             
            {% endif %}
        </div>
        <div class="span6">
            <h3>Actividades</h3>
            <table class="table table-condensed">
                <tbody>
                    {% for actividad in mantenimiento.actividades %} 
                        <tr>
                            <td>{{ actividad.nombre }}</td>

                            <td>
                                <a href="{{ path('actividad_edit', { 'id': actividad.id }) }}">Editar</a>
                            </td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
