<!DOCTYPE html>
<html lang="es" class="fixed sidebar-left-collapsed js flexbox flexboxlegacy no-touch csstransforms csstransforms3d no-overflowscrolling sidebar-light">
    <head>
        <?php header('Expires: '.gmdate('D, d M Y H:i:s \G\M\T', time() + 3600)); ?>
        {%block meta %}
            <meta charset="UTF-8">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="author" content="Aker Control" />
            <meta name="application-name" content="Aplicacion de monitoreo" />

            <!-- Mobile Metas -->
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        {% endblock %}
        {% block ico %}
			<link rel="shortcut icon" href="{{ asset(app.session.get('icono')) }}"/>
		{% endblock %}


        <title>{% block title %}{% endblock %}</title>

        <!-- Web Fonts  -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

        {% set mainbundle = '/' %}   {# seteo la ubicacion del mainbundle #}
        {% set pathProto = 'porto/' %}   {# seteo la ubicacion del dee #}

        <!-- INICIO DE CSS -->   
        {% block css %}
        <link rel="stylesheet" href="{{ asset(mainbundle ~ 'css/gmaps.css') }}" />
            <!-- Vendor CSS -->
            <link rel="stylesheet" href="{{ asset(pathProto ~ 'vendor/bootstrap/css/bootstrap.css') }}" />
            <!-- DataTables -->
            {#            <link rel="stylesheet" href="{{ asset(pathProto ~ 'stylesheets/datatable/dataTables.bootstrap.css') }}">    #}
            <link rel="stylesheet" href="{{ asset(pathProto ~ 'stylesheets/datatable/dataTables.fixedHeader.min.css') }}">
            <link rel="stylesheet" href="{{ asset(pathProto ~ 'stylesheets/datatable/dataTables.colReorder.css') }}">    
            <link rel="stylesheet" href="{{ asset(pathProto ~ 'stylesheets/datatable/dataTables.colVis.css') }}">    
            <link rel="stylesheet" href="{{ asset(pathProto ~ 'stylesheets/datatable/dataTables.responsive.css') }}">    
              <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" />
            {#          <link rel="stylesheet" href="{{ asset(pathProto ~ 'stylesheets/datatable/dataTables.bootstrap.css') }}">#}

            <link rel="stylesheet" href="{{ asset(pathProto ~ 'vendor/font-awesome/css/font-awesome.css') }}" />
            <link rel="stylesheet" href="{{ asset(pathProto ~ 'vendor/magnific-popup/magnific-popup.css') }}" />

            {#            <link rel="stylesheet" href="{{ asset(pathProto ~ 'vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css') }}" />#}

            <!-- Specific Page Vendor CSS -->
            <link rel="stylesheet" href="{{ asset(pathProto ~ 'vendor/pnotify/pnotify.custom.css') }}" />
            <!-- Theme CSS -->
            <link rel="stylesheet" href="{{ asset(pathProto ~ 'stylesheets/theme.css') }}" />

            <!-- Skin CSS -->
            <link rel="stylesheet" href="{{ asset(pathProto ~ 'stylesheets/skins/default.css') }}" />

            <!-- Theme Custom CSS -->            
            <link rel="stylesheet" href="{{ asset(pathProto ~ 'stylesheets/theme-custom-aker.css') }}"> 

            <!-- Theme Custom CSS -->
            <link rel="stylesheet" href="{{ asset(pathProto ~ 'vendor/jquery-ui/jquery-ui.css') }}">
            <link rel="stylesheet" href="{{ asset(pathProto ~ 'vendor/jquery-ui/jquery-ui.theme.css') }}">
            <link rel="stylesheet" href="{{ asset(pathProto ~ 'vendor/select2/css/select2.css') }}">
            <link rel="stylesheet" href="{{ asset(pathProto ~ 'vendor/bootstrap-timepicker/css/bootstrap-timepicker.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
            <!-- Head Libs -->
            <script src="{{ asset(pathProto ~ 'vendor/modernizr/modernizr.js') }}"></script>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">

            	<style>
                    .select2-container .select2-search, 
                     .select2-container .select2-search__field {
                         width: 100% !important;
                     }
                     .disable-div {
                        /* tengo que deshabilitar con css porque el disabled de jquery me borra los campos al enviar el ajax */
                        pointer-events: none;
                        opacity: 0.5;
	                }
                    .dataTables_wrapper .dataTables_filter {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }
                    .dataTables_wrapper .dataTables_filter label {
                        margin-right: 10px;
                    }
                    .dataTables_wrapper .dataTables_filter .dt-buttons {
                        margin-right: 10px;
                    }
                    .alert-small {
                        font-size: 0.8em; /* Ajusta el tamaño de la fuente */
                        padding: 0.2em 0.4em; /* Ajusta el padding */
                    }
	            </style>
        
        {% endblock %}        

        {% block jshead %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        {% endblock %}

        {% block head %}
        {% endblock %}

             
        {# include "AppBundle:Template:analitics.html.twig" #}     
    </head>

    <body>
        <!-- start: page -->
        <section class="body">
            {% block body %} 
                <!-- start: header -->
                <header class="header">
                    {% include "app/Template_aker/barratop.html.twig" %}                    
                </header>
                <!-- end: header -->

                <div class="inner-wrapper" id="inner-wrapper">
                   {# {% if is_granted("ROLE_USER") %} #}
                        {% block menu %}                      
                            {% include "app/Template_aker/menu.html.twig" %}
                        {% endblock %}
                    {# {% endif %} #}
                    <section role="main" class="content-body">
                        <header class="page-header">
                            <h2>{% block titulo %}{% endblock %}</h2>
                            <div class="right-wrapper pull-right">
                                <div class="right-wrapper text-right">
                                    <ol class="breadcrumbs">
                                        <li> {{app.session.get('breadcrumb')| raw}}</li>
                                    </ol>
                                   <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                                </div>

                            </div>
                        </header>
                        <!--/*CONTENIDO*/--> 

                        {% block content %}
                        {% endblock %}
                        {# {% include "app/Template_aker/panel_derecho.html.twig" %}   #}
                        <!--/*FIN CONTENIDO*/-->
                    </section>


                 {# {% if app.user.organizacion.tipoOrganizacion is defined and app.user.organizacion.tipoOrganizacion == 2 %} #}
                    <!-- Creamos etiqueta audio y colocamos la ruta del archivo-->
                    <audio  id="player">
                        <source src={{ asset("sounds/panico.ogg") }} type="audio/ogg" preload="none"> 
                        <embed height="1" width="1" src={{ asset("sounds/panico.ogg") }}>
                    </audio>
                    <!-- Creamos etiqueta audio y colocamos la ruta del archivo-->
                    <audio  id="playerevento">
                        <source src={{ asset("sounds/evento.ogg") }} type="audio/ogg" preload="none"> 
                        <embed height="1" width="1" src={{ asset("sounds/evento.ogg") }}>
                    </audio>
                 {# {% endif %} #}

                </div>
                {% include "dist/Home/search_form.html.twig" %}
            {% endblock %}
        </section>

        <!-- Vendor -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ asset(pathProto ~ 'vendor/jquery-browser-mobile/jquery.browser.mobile.js') }}"></script>
        <script src="{{ asset(pathProto ~ 'vendor/bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ asset(pathProto ~ 'vendor/nanoscroller/nanoscroller.js') }}"></script>
        <script src="{{ asset(pathProto ~ 'vendor/magnific-popup/jquery.magnific-popup.js') }}"></script>
        <script src="{{ asset(pathProto ~ 'vendor/jquery-placeholder/jquery-placeholder.js') }}"></script>
        <script src="{{ asset(pathProto ~ 'vendor/jquery-ui/jquery-ui.js') }}"></script>
        <script src="{{ asset(pathProto ~ 'vendor/jqueryui-touch-punch/jqueryui-touch-punch.js') }}"></script>
        <script type="text/javascript" src="{{ asset(pathProto ~ 'vendor/jquery-cookie/jquery-cookie.js') }}"></script>
        <script src="{{ asset(pathProto ~ 'vendor/select2/js/select2.js') }}"></script>
        <script src="{{ asset(pathProto ~ 'vendor/jquery-appear/jquery-appear.js') }}"></script>


        <!-- Specific Page Vendor -->
        <script src="{{ asset(pathProto ~ 'vendor/pnotify/pnotify.custom.js') }}"></script>
        <script src="{{ asset(pathProto ~ 'vendor/store2/store2.js') }}"></script>

        <!-- Theme Base, Components and Settings -->
        <script src="{{ asset(pathProto ~ 'javascripts/theme.js') }}"></script>

        <!-- Theme Custom -->
        <script src="{{ asset(pathProto ~ 'javascripts/theme.custom.js') }}"></script>

        {% block js %}
        {% endblock %}

        <!-- Theme Initialization Files -->
        <script src="{{ asset(pathProto ~ 'javascripts/theme.init.js') }}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/es.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

        <!-- DataTAbles -->
        <script src="{{ asset(pathProto ~ 'javascripts/datatable/jquery.dataTables.min.js')}}"></script>
        <script src="{{ asset(pathProto ~ 'javascripts/datatable/dataTables.bootstrap.min.js')}}"></script>
        <script src="{{ asset(pathProto ~ 'javascripts/datatable/dataTables.fixedHeader.min.js') }}"></script>
        <script src="{{ asset(pathProto ~ 'javascripts/datatable/dataTables.responsive.js')}}"></script>
        <script src="{{ asset(pathProto ~ 'javascripts/datatable/dataTables.colReorder.js')}}"></script>
        <script src="{{ asset(pathProto ~ 'javascripts/datatable/dataTables.colVis.js')}}"></script>

  
        <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                getDataTable('idnull');
            });
            
            function getDataTable(id) {
                var table = $('#' + id).DataTable({
                    responsive: false,
                    paging: true,
                    ordering: false,
                    language: {
                        processing: "Busqueda en curso...",
                        search: "Buscar&nbsp;:",
                        lengthMenu: "_MENU_ Elementos",
                        info: "de  _START_ a  _END_ de  _TOTAL_ elementos",
                        zeroRecords: "No hay registros",
                        emptyTable: "Tabla vacía",
                        paginate: {
                            first: "Primera",
                            previous: "Anterior",
                            next: "Próxima",
                            last: "Ultima"
                        },
                        aria: {
                            sortAscending: ": Orden Ascendente",
                            sortDescending: ": Orden Descendente"
                        }
                    }
                });

            }
            function getDataTableExcel(id) {
                var buttonCommon = {
                    exportOptions: {
                        format: {
                            body: function (data, row, column, node) {
                              return  data.replace(/[$,]/g, '.');
                            }
                        },
                   
                    }
                };
                 $('#'+id).DataTable({
                    dom: '<"top"lfB>rt<"bottom"ip>',
                    buttons: [
                        $.extend(true, {}, buttonCommon, {
                         extend: 'excel'
                        }),
                    
                    ],
                    paging: false, // Deshabilitar la paginación
                    language: {
                    search: 'Buscar:',
                    lengthMenu: 'Mostrar _MENU_ registros',
                    info: 'Mostrando _START_ a _END_ de _TOTAL_ registros',
                    paginate: {
                        first: 'Primero',
                        last: 'Último',
                        next: 'Siguiente',
                        previous: 'Anterior'
                    }
                    }
                });
                // Mover la barra de búsqueda y el botón de Excel al mismo contenedor y aplicar estilos
                var searchInput = $('div.dataTables_filter input');
                searchInput.addClass('form-control-sm').css('width', '200px'); // Ajustar tamaño de la barra de búsqueda

                // Mover el botón al contenedor de búsqueda
                $('div.dt-buttons').css('float', 'left');
                $('div.dataTables_filter').append($('div.dt-buttons'));

                // Alinear el contenedor de búsqueda a la derecha
                $('div.dataTables_filter').css('float', 'right');

            }
        </script>


        <!-- INICIO DE SCRIPT GENERICOS PARA TODO EL SITIO -->   
        <script type="text/javascript">
            var enabledEventos = true;
            /*INICIO MENSAJES AL USUARIO*/
            {% include "app/Template_aker/template-flash.script.js" %}
            {% include "app/Template_aker/template-flash.html.twig" %}
            $(document).ready(function () {                
            });
        </script>
        <!-- FUNCIONES DE NOTIFICACION BOTONES. -->
        {% if app.user.organizacion != null and app.user.organizacion.tipoOrganizacion == 2 %}    {#solo para clientes#}  
            <script type="text/javascript">
                {% include "app/Template/template-mantenimiento.script.js" %} 

                //rutinas para la notificacion de manteniemiento
                {% if is_granted("ROLE_TAREAS_MANT_VER") %}
                    consultarMantenimientosAker();
                    setTimeout(function () {
                        if (window.enabledEventos) {
                            consultarMantenimientos();
                        }
                    }, 120000);  //llamo a la consulta 15seg despues del cargada la pagina
                {% endif %} 
            </script>
            
            {% if app.session.get('moduloMonitor') and is_granted("ROLE_MONITOR_OPERADOR") %}
                {% if (is_granted("ROLE_APMON_PANICO_REGISTRAR") or is_granted("ROLE_EVENTO_HISTORICO_VER")) %}    
                    <script type="text/javascript">
                        {% include "app/Template/template-panico.script.js" %}
                        $(document).ready(function () {
                            consultarEventosAker();  //ejecuta la consulta de panicos cuando se termina de cargar la pagina.
                            setInterval(function () {
                                if (window.enabledEventos) {
                                    consultarEventosAker();
                                }
                            }, 45000);   //consulta si hay notificaciones cada XX seg
                        });    
                    </script>
                {% endif %}                    
            {% endif %}
        {% endif %}
           
        <!-- FIN DE SCRIPT GENERICOS PARA EL SITIO -->
     
    </body>
</html>
