<!DOCTYPE html>
<html lang="es" style="height:100%">
	<head>
		<?php header('Expires: '.gmdate('D, d M Y H:i:s \G\M\T', time() + 3600)); ?>
		{%block meta %}
			<meta charset="UTF-8">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
			<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
			<meta name="author" content="Aker Control"/>
			<meta name="application-name" content="Aplicacion de monitoreo"/>
		{% endblock %}
		{% block ico %}
			<link rel="shortcut icon" href="{{ asset(app.session.get('icono')) }}"/>
		{% endblock %}

		<title>
			{% block title %}{% endblock %}
		</title>


		{% set mainbundle = '/' %}
		{# seteo la ubicacion del mainbundle #}
		{% set pathDee = 'plugins/dee/' %}
		{# seteo la ubicacion del dee #}
		<!-- INICIO DE CSS -->
			{% block css %}
			<link rel="stylesheet" href="{{ asset(mainbundle ~ 'css/gmaps.css') }}" />
			<link href="{{ asset(mainbundle ~ 'font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all"/> <link href="{{ asset(mainbundle ~ 'plugins/intro/css/introjs.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
			<link href="{{ asset(mainbundle ~ 'plugins/pnotify/pnotify.custom.min.css') }}" type="text/css" rel="stylesheet"/>
			<link href="{{ asset(mainbundle ~ 'plugins/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>
			<link
			rel="stylesheet" href="{{ asset(pathDee ~ 'styles/vendor/toastr.min.css') }}">

			{# estas tienen que ir siempre al ultimo #}
			<link href="{{ asset(mainbundle ~ 'css/template.css') }}" rel="stylesheet" type="text/css" media="all"/>
			<link href="{{ asset(mainbundle ~ 'css/propias.css') }}" rel="stylesheet" type="text/css" media="all"/>

		{% endblock %}

		{% block jshead %}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		{% endblock %}

		{% block head %}{% endblock %}

		{# include "app/Template:analitics.html.twig" #}
	</head>
	<body data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true" style="height:100%;margin:0">
		{% block body %}
			<div class="wrapper">
				<div
					class="wrapper-body">


					<!--/*INICIO TOPBAR*/-->
					{% block topbar %}
						{#<div id="header" class="header" height="20px">#}
						<div class="headbar">
							<div class="barratop">
								<div class="logo">
									{% include "app/Template/sectorLogo.html.twig" %}
								</div>
								{# esta es la seccion del sector de usuario#}
								<div
									id="barramenu">
									{# esta es la seccion del menu de opciones #}
									{% include "app/Template/search.html.twig" %}
									{% include "app/Template/reloj.html.twig" %}
									{#                                    {% if is_granted("ROLE_USER") %}#}
									{% block menu %}
										{% include "app/Template/menu.html.twig" %}
									{% endblock %}
									{#                                    {% endif %}#}
								</div>
								{% include "app/Template/sectorUser.html.twig" %}
							</div>
							<div id="bread">
								{{app.session.get('breadcrumb')| raw}}
							</div>
						</div>
						{#</div>#}
						<!--/*FIN TOPBAR*/-->
					{% endblock %}

					<div
						id="main" class="master-container">
						<!--/*CONTENIDO*/-->
						{% block content %}{% endblock %}
						<!--/*FIN CONTENIDO*/-->

                        <!--/* INICIO DEL FORM PARA EVENTOS */-->
                        {% if is_granted("ROLE_EVENTO_HISTORICO_VER") and app.user.organizacion.tipoOrganizacion == 2 %}    
                            {% include "app/Template/alerta_evento_form.html.twig" %}            
                            {% include "app/Template/popup_registrar.html.twig" %}            
                        {% endif %}        
                    </div>
                </div>
                {% include "classic/dist/Home/search_form.html.twig" %}
                <!--/*PIE DE PAGINA*/--> 
                <!--/*FIN PIE DE PAGINA*/--> 

					{% if app.user.organizacion.tipoOrganizacion is defined and app.user.organizacion.tipoOrganizacion == 2 %}
					<!-- Creamos etiqueta audio y colocamos la ruta del archivo-->
						<audio id="player"> <source src={{ asset("sounds/panico.ogg") }} type="audio/ogg" preload="none">
						<embed height="1" width="1" src={{ asset("sounds/panico.ogg") }}>
					</audio>
					<!-- Creamos etiqueta audio y colocamos la ruta del archivo-->
					<audio id="playerevento">
						<source src={{ asset("sounds/evento.ogg") }} type="audio/ogg" preload="none">
						<embed height="1" width="1" src={{ asset("sounds/evento.ogg") }}>
					</audio>
				{% endif %}
			</div>
			<div id="foo" class="fooGenerico">
				{% include "app/Template/fooBar.html.twig" %}
			</div>

		{% endblock %}

		<!-- INICIO DE SCRIPT -->
		{% block js %}
			<script src="{{ asset('js/reloj.js') }}"/></body>
	</html>
</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
{# ESTOS SON LOS SCRIPT NUEVOS DE HAPPYBOX #}
<script async src="{{ asset(mainbundle ~ 'plugins/intro/js/intro.min.js') }}"></script>
<script src="{{ asset(mainbundle ~ 'plugins/pnotify/pnotify.custom.min.js') }} " type="text/javascript"></script>
<script src="{{ asset(mainbundle ~ 'plugins/bootstrap/js/bootstrap.min.js') }} " type="text/javascript"></script>
<script src="{{ asset(pathDee ~ 'js/vendor/toastr.min.js') }}"></script>
<script src="{{ asset(mainbundle ~ 'plugins/measuretool/lib/MeasureTool.js') }}" type="text/javascript"></script>{% endblock %}

<!-- INICIO DE SCRIPT GENERICOS PARA TODO EL SITIO -->
<script>
    mostrarHora();
    setInterval("mostrarHora()", 1000);
</script>

<script type="text/javascript">

var enabledEventos = true;
{% include "app/Template/template-fullsize.script.js" %}

{% if app.user.organizacion != null and app.user.organizacion.tipoOrganizacion == 2 %}
    {% if is_granted("ROLE_TAREAS_MANT_VER") %}
        {% include "app/Template/template-mantenimiento.script.js" %}
    {% endif %}        
    {% if (is_granted("ROLE_APMON_PANICO_REGISTRAR") or is_granted("ROLE_EVENTO_HISTORICO_VER")) %}        
        {% include "app/Template/template-panico.script.js" %}
    {% endif %}        
{% endif %}        

$(document).ready(function () { /*CONFIG POP UP MENSAJE USUARIO*/
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "progressBar": false,
        "preventDuplicates": false,
        "positionClass": "toast-bottom-right",
        "onclick": null,
        "showDuration": "400",
        "hideDuration": "1000",
        "timeOut": "7000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "swing",
        "showMethod": "show",
        "hideMethod": "hide"
    }

    /*INICIO MENSAJES AL USUARIO*/
    {% for flashMessage in app.session.flashbag.get('success') %}
        toastr["success"]("{{ flashMessage|raw }}", "Exito !!!");
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        toastr["error"]("{{ flashMessage|raw }}", "Error !!!");
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        toastr["notice"]("{{ flashMessage|raw }}", "Info !!!");
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        toastr["warning"]("{{ flashMessage|raw }}", "Atención !!!");
    {% endfor %}

    // ajusta el site a los margenes.
    AdjustFullSize();

    // FUNCIONES DE NOTIFICACION BOTONES.
    {% if app.user.organizacion != null and app.user.organizacion.tipoOrganizacion == 2 %}       
        // rutinas para la notificacion de manteniemiento
        {% if is_granted("ROLE_TAREAS_MANT_VER") %}
            renderBtnMantenimientos();
            consultarMantenimientos();
            setTimeout(function () {
                if (window.enabledEventos) {
                    consultarMantenimientos();
                }
            }, 120000); // llamo a la consulta 15seg despues del cargada la pagina
        {% endif %}
		
		{% if (is_granted("ROLE_APMON_PANICO_REGISTRAR") or is_granted("ROLE_EVENTO_HISTORICO_VER")) %}    				
			{% include "app/Template/template-panico.script.js" %}				
			consultarEventosAker();  //ejecuta la consulta de panicos cuando se termina de cargar la pagina.
			setInterval(function () {
				if (window.enabledEventos) {
					consultarEventosAker();
				}
			}, 45000);   //consulta si hay notificaciones cada XX seg
		
		{% endif %}                    
	
	{% endif %}
});

$(window).resize(function () {
    AdjustFullSize();
});
</script>

<!-- FIN DE SCRIPT GENERICOS PARA EL SITIO -->
</body>
</html>
