
<div class="row-fluid row-show">
    <div class="span8">
        <h3>Datos del Modelo</h3>
        {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': modelo.nombre } %} 
    </div>
</div>

<div class="row-fluid row-show">
    <div class="span8">
        <h3>Ficha Técnica</h3>
        <div id="tablaProductos">
            {% include "apmon/VehiculoModelo/productos.html.twig" %} 
        </div>
    </div>
</div>

{% include "apmon/VehiculoModelo/popup_producto.html.twig" %} 