{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{modelo.organizacion}}{% endblock %}
{% block subtitulo %}Editar Modelo de Vehículo{% endblock %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" novalidate>
        {{ form_widget(form._token) }}
        <div class="row-fluid">
            <div class="span8">
                <legend>Datos del Modelo</legend>
                {{ form_errors(form) }}
                {{ form_widget(form.nombre) }}
            </div>
            <div class="span4">    
            </div>
        </div> 
       
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Cambiar" />
            <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
        </div>

    </form>

{% endblock %}

