<legend>Productos de la Ficha Técnica</legend>
<a href="#" id="add-another-producto">Agregar Producto</a>
{{ form_errors(form.fichaTecnica) }}
<div class="row-fluid">
    <div class="span3">Producto</div>
    <div class="span3">Cantidad</div>
    <div class="span3">Frecuencia de Cambio</div>
    <div class="span3">Alternativo</div>
</div>
{% for ficha in form.fichaTecnica %}
    <div class="row">
        <div class='span3'>{{ form_widget(ficha.producto, { 'attr': {'class': 'medium'} }) }}</div>
        <div class='span3'>{{ form_widget(ficha.cantidad, { 'attr': {'class': 'medium'} }) }}</div>
        <div class='span3'>{{ form_widget(ficha.frecuenciaCambio, { 'attr': {'class': 'medium'} }) }}</div>
        <div class='span3'>{{ form_widget(ficha.alternativo, { 'attr': {'class': 'medium'} }) }}</div>
    </div>
{% endfor %}




<div id="producto-fields-div" 
     data-prototype="
     <div class='span3'>{{ form_widget(form.fichaTecnica.vars.prototype.producto, { 'attr': {'class': 'medium'} }) |e  }}</div>
     <div class='span3'>{{ form_widget(form.fichaTecnica.vars.prototype.cantidad, { 'attr': {'class': 'medium'} }) |e }}</div>
     <div class='span3'>{{ form_widget(form.fichaTecnica.vars.prototype.frecuenciaCambio, { 'attr': {'class': 'medium'} }) |e }}</div>
     <div class='span3'>{{ form_widget(form.fichaTecnica.vars.prototype.alternativo, { 'attr': {'class': 'medium'} }) |e }}</div>
     ">
</div> 
