{% extends "app/Template/list.html.twig" %}

{% block titulo %}Mis Modelos de Vehículos{% endblock %}        
{% block subtitulo %}Listado de Modelos{% endblock %}        
{% block contentpanel %}  
    {% if modelos|length > 0%}
        <div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <td>Acción</td>
                    </tr>
                </thead>
                <tbody>
                    {% for modelo in modelos %}
                        <tr>
                            <td><a href="{{ path('vehiculomodelo_show', {'id': modelo.id} )}}">{{modelo.nombre}}</a></td>
                            <td> <a href="{{ path('vehiculomodelo_edit', {'id': modelo.id} ) }}">Editar</a></td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <em>No hay modelos cargados</em>
    {% endif %}
{% endblock %}
