{% extends "app/Template/form.html.twig" %}

{% block titulo %}{{modelo.organizacion}}{% endblock %}
{% block subtitulo %}Alta de Modelo de Vehículo{% endblock %}
{% block js %}
    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var fichaTecnicaCount = '{{ form.fichaTecnica|length }}';

        jQuery(document).ready(function () {
            jQuery('#add-another-producto').click(function (e) {
                e.preventDefault();

                var productoList = jQuery('#producto-fields-div');

                // grab the prototype template
                var newWidget = productoList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, fichaTecnicaCount);
                fichaTecnicaCount++;

                // create a new list element and add it to the list
                var newLi = jQuery('<div class="row-fluid"></div>').html(newWidget);
                newLi.appendTo(productoList);
            });
        })
    </script>
{% endblock  %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" novalidate>
        {{ form_widget(form._token) }}
        <div class="row-fluid">
            <div class="span8">
                <legend>Datos del Modelo</legend>
                {{ form_errors(form) }}
                {{ form_widget(form.nombre) }}
            </div>
            <div class="span4">    
            </div>
        </div> 
        <div class="row-fluid">
        </div> 
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Agregar" />
            <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
        </div>

    </form>

{% endblock %}

