<!-- Modal -->
<div class="modal fade" id="modalProducto" role="dialog" aria-labelledby="modalProductoLabel" data-modal-index="-100">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Producto</h4>
            </div>
            <div class="modal-body">
                <p>Seleccione el producto que desea ingresar a la ficha técnica.</p>
                <div id="modal-body-producto">
                    <form id="formProducto" class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span12">
                                {{ form_widget(formProducto.actividad) }}
                                <div class="control-group ">
                                    <label class="control-label" for="vehiculofichatecnica_producto">Producto</label>
                                    <div class="controls ">
                                        <select class="" id="vehiculofichatecnica_producto" name="vehiculofichatecnica[producto]"><option value="16">Optica Delantera Derecha</option><option value="17">Optica Delantera Izquierda</option><option value="18">Optica Trasera Derecha</option><option value="19">Optica Trasera Izquierda</option><option value="20">sdfsdf</option></select>
                                    </div>
                                </div>
                                <div class="control-group ">
                                    <label class="control-label" for="vehiculofichatecnica_cantidad">Cantidad</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="vehiculofichatecnica_cantidad" name="vehiculofichatecnica[cantidad]" required="required">
                                        <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>
                                    </div>    
                                </div>
                                <div class="control-group ">
                                    <label class="control-label" for="vehiculofichatecnica_frecuenciaCambio">Frecuencia de Cambio</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="vehiculofichatecnica_frecuenciaCambio" name="vehiculofichatecnica[frecuenciaCambio]" required="required">
                                        <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>
                                    </div>    

                                </div>
                                <div class="control-group ">
                                    <label class="control-label" for="vehiculofichatecnica_alternativo">Alternativo</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="vehiculofichatecnica_alternativo" name="vehiculofichatecnica[alternativo]" required="required">
                                        <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>
                                    </div>    

                                </div>
                            </div>
                        </div>                        
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <a  data-toggle="modal" href="#modalProducto2" class="btn btn-success pull-left" title="Agrega un producto al deposito">Nuevo producto</a>
                <button id="btnProductoAdd" type="button" class="btn btn-primary" >Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>     

<div class="modal fade" id="modalProducto2" role="dialog" aria-labelledby="modalProductoLabel2" data-modal-index="2000" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Alta de Producto </h4>
            </div>            
            <div class="modal-body">
                <form id="formProductoNew" class="form-horizontal" method="POST">
                    <div class="control-group ">
                        <label class="control-label required" for="productonew_nombre">Nombre</label>
                        <div class="controls">
                            <input class="form-control" id="productonew_nombre" name="productonew[nombre]" required="required" type="text">
                            <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>
                        </div>    

                    </div>
                    <div class="control-group "><label class="control-label" for="productonew_marca">Marca</label>
                        <div class="controls">
                            <input class="form-control" id="productonew_marca" name="productonew[marca]" type="text">
                        </div>    
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="productonew_modelo">Modelo</label>
                        <div class="controls">
                            <input class="form-control" id="productonew_modelo" name="productonew[modelo]" type="text">
                        </div>    
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="productonew_codigo">Codigo</label>
                        <div class="controls">
                            <input class="form-control" id="productonew_codigo" name="productonew[codigo]" type="text">
                        </div>    
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="productonew_codigoBarra">Codigo barra</label>
                        <div class="controls">
                            <input class="form-control" id="productonew_codigoBarra" name="productonew[codigoBarra]" type="text">
                        </div>    
                    </div>                            
                    <div class="control-group ">
                        <label class="control-label" for="productonew_precio">Precio</label>
                        <div class="controls">
                            <input class="form-control" id="productonew_precio" name="productonew[precio]" type="number" step="0.01">
                        </div>    
                    </div>                            
                </form>                        
            </div>
            <div class="modal-footer">
                <button id="btnProductoNew" type="button" class="btn btn-primary" >Agregar</button>
                <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            </div>
        </div>
    </div>
</div>                            

<script>
    $('#btnProductoNew').click(function () {
    //alert('aca');        
    var request = $.ajax({
            type: 'POST',
            url: "{{ path('vehiculomodelo_producto_add') }}",
            data: {
                'idOrg':{{ modelo.organizacion.id }},
                'id':{{ modelo.id }},
                'idDep':0,
                'form': $("#formProductoNew").serialize(), //formulario con los datos
            },
            dataType: "json",
            //async: true,
            beforeSend: function () {
            },
        });
        request.done(function (respuesta) {
            //$("#producto_producto").select2();    //actualizo el combo con los datos nuevos.
            //var $option = $('<option>test</option>').val(10);
            //$("#producto_producto").append($option).trigger('change');


            $('#modalProducto2').modal('toggle');
        });
    });


</script>