<table class="table table-condensed">
    <tr>
        <th>Actividad</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Frecuencia de Cambio</th>
        <th>Alternativo</th>
    </tr>
    {% for ficha in modelo.fichatecnica %}
        <tr>
            <td>{{ ficha.actividad.nombre|default('---') }}</td>
            <td>{{ ficha.producto is not null ? ficha.producto.nombre: '---' }}</td>
            <td>{{ ficha.cantidad }}</td>
            <td>{{ ficha.frecuenciaCambio }}</td>
            <td>{{ ficha.alternativo|default('---') }}</td>
            <td>
                <button class="btn btn-small" type="button" id="ficha_del" onClick="fichaDel({{ ficha.id }}, '{{ ficha.producto is not null ? ficha.producto.nombre: ficha.actividad.nombre  }}')">
                    <i class="icon-minus-sign"  title="Elimina el producto de la ficha técnica"></i> Eliminar
                </button>
            </td>
        </tr>
    {% endfor  %}
</table>