{% extends "app/Template/list.html.twig" %}
{% form_theme formProducto 'app/Form/calypso_fields.html.twig' %}

{% block formdelete %}
    {% include "mante/VehiculoModelo/delete_form.html.twig" %} 
{% endblock %} 


{% block titulo %}Mis Modelos de Vehículos{% endblock %}    
{% block subtitulo %}{{ modelo.nombre }}{% endblock %}  


{% block contentpanel %}

    <div class="row-fluid row-show">
        <div class="span8">
            <h3>Datos del Modelo</h3>
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': modelo.nombre } %} 
        </div>
    </div>

    <div class="row-fluid row-show">
        <div class="span8">
            <h3>Ficha Técnica</h3>
            <div id="tablaProductos">
                {% include "mante/VehiculoModelo/productos.html.twig" %} 
            </div>
        </div>
    </div>

    {% include "mante/VehiculoModelo/popup_producto.html.twig" %} 
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            //PRODUCTO
            $("#vehiculofichatecnica_producto").select2({
                ajax: {
                    url: "{{ path('producto_get') }}",
                    data: function (params) {
                        var query = {
                            idOrg: "{{ modelo.organizacion.id }}",
                            search: params.term,
                            type: 'public'
                        };
                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    dataType: 'json'
                },
                language: {
                    noResults: function () {
                        return '<a href="#modalProducto2" data-toggle="modal" >Agregar producto</a>'
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
        });
        $('#btnProductoAdd').click(function () {
            var req = $.ajax({
                type: 'POST',
                url: "{{ path('vehiculomodelo_producto_add') }}",
                data: {
                    'id': "{{ modelo.id }}",
                    'formProducto': $("#formProducto").serialize(), //form de productos
                },
                dataType: "json",
                //async: true,
                beforeSend: function () {
                },
            });
            req.done(function (respuesta) {
                $("#tablaProductos").text("");
                $("#tablaProductos").html(respuesta.html);
                $('#modalProducto').modal('toggle');   //cierro el form
            });
        });
        
               function fichaDel(idFicha, nombre) {
                var r = confirm('Esta seguro de eliminar el producto "'+nombre+'" de la Ficha Técnica ?');
                if (r == true) {
                    var req = $.ajax({
                        type: 'POST',
                        url: "{{ path('vehiculomodelo_producto_del') }}",
                        data: {
                            'idFicha': idFicha,
                            'id': "{{ modelo.id }}",
                        },
                        dataType: "json",
                        //async: true,
                        beforeSend: function () {
                        },
                    });
                    req.done(function (respuesta) {
                        $("#tablaProductos").text("");
                        $("#tablaProductos").html(respuesta.html);
                    });
                }
            }

    </script>
{% endblock  %}