{% extends "app/Template_aker/popup.html.twig" %}

{% block modalId %}modalDelete{% endblock %}

{% block modalTitulo %}Eliminar Evento{% endblock %}

{% block modalUrl %}{{ path('app_eventohistorico_delete', { 'id': evento.id }) }}{% endblock %}

{% block modalBody %}
	<p>Esta seguro de eliminar este evento:
		<strong>{{ evento.titulo|upper }}</strong>
		?</p>
	{{ form_widget(delete_form) }}
{% endblock %}

{% block modalOk %}
	<button class="btn btn-primary" type="submit">Eliminar</button>
{% endblock %}
