{% extends "app/Template/list.html.twig" %}

{% block titulo %}Historico de Eventos{% endblock %}        

{% block css %}
    {{ parent() }}
    <link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
    
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $("#historial_fecha_desde").datepicker();
            $("#historial_fecha_hasta").datepicker();
            $('#historial_servicio').select2();   
             $('#historial_evento').select2();   
        });
    </script>
{% endblock %}

{% block busqueda %}

    <div class="panel-mini" style="height: auto">
        <form action="{{ path("app_eventohistorico_list", {'id': organizacion.id}) }}" method="POST" class="form-horizontal" >
            <div class="control-group ">
                <label class="control-label" style="width: 45px; text-align: left;">Desde</label>
                <div class="controls" style="margin-left: 50px">
                    {{ form_widget(form.fecha_desde, {'attr': {'value': fecha_desde} }) }}
                </div>
            </div>
            <div class="control-group ">
                <label class="control-label" style="width: 45px; text-align: left;">Hasta</label>
                <div class="controls" style="margin-left: 50px">
                    {{ form_widget(form.fecha_hasta, {'attr': {'value': fecha_hasta} }) }}
                </div>
            </div>
            {% if form.evento is defined %}
                <div class="control-group ">
                    <label class="control-label" style="width: 45px; text-align: left;">Evento</label>
                    <div class="controls" style="margin-left: 50px">
                        {{ form_widget(form.evento) }}
                    </div>
                </div>
            {% endif %}
            {% if form.servicio is defined %}
                <div class="control-group ">
                    <label class="control-label" style="width: 45px; text-align: left;">Servicio</label>
                    <div class="controls" style="margin-left: 50px">
                        {{ form_widget(form.servicio) }}
                    </div>
                </div>
            {% endif %}
            <div class="control-group ">
                <div class="controls" style="margin-left: 50px">
                    <button type="submit" class="btn btn-mini">Consultar</button> 
                </div>
            </div>
        </form>
    </div> 

{% endblock %}

{% block contentpanel %}  
  
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Servicio</th>
                <th>Titulo</th>
                <th>Evento</th>
                <th>Visto</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <form name="formCheck">
            {% for evento in eventos %}
                <tr>
                    <td>{{ evento.fecha|date('d-m-Y H:i:s', app.user.timeZone) }}</td>
                    <td>{{ evento.servicio.nombre }}</td>
                    <td>
                        <a href="{{ path('app_eventohistorico_show', {'id': evento.id}) }}">{{ evento.titulo }}</a> 
                    </td>
                    <td>{{ evento.evento.nombre }}</td>
                    <td>
                        {% if evento.respuesta != null  %}
                            {{ evento.fechaVista|date('d-m-Y H:i:s', app.user.timeZone) }} - {{ evento.respuesta }} 
                        {% else  %}
                            ---
                        {% endif %}
                    </td>
                    <td>
                        {% if evento.evento.registrar == true and evento.fechaVista == null and is_granted('ROLE_EVENTO_REGISTRAR')%}
                            <a href="{{ path('app_eventohistorico_registrar', {'id': evento.id}) }}">Registrar</a>                     
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </form>    
    </tbody>
</table>
{% endblock %}

