{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Atención de Evento{% endblock %}    
{% block subtitulo %}{{ evento.titulo }}{% endblock %}  

{% block formulario %}
<div class="row-fluid row-show">
    <div class="span6">
        <h3>Datos</h3>
        {% if data is defined %}
            {{ data.cuerpo|raw }}
        {% else %}
            <em>No tiene d.</em>
        {% endif %}
    </div>
    <div class="span6">
        <form class="form-horizontal" action="{{ path('app_eventohistorico_registrar', {'id': evento.id} ) }}"  method="POST" >
        <fieldset>
            <h3>Respuesta al Evento</h3>
            {{ form_errors(form) }}
            <div class="row-fluid row-show">
                <div class="span4 column-label">Respuesta</div>    
                <div class="column-show">
                    <textarea id="panico_respuesta" name="evento[respuesta]" required="required" class=""></textarea>
                </div>
            </div>
            {{ form_widget(form._token) }}
            {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Registrar' } %}
        </fieldset>
        </form>
    </div>
</div>    
{% endblock %}
