{% extends "app/Template_aker/show.html.twig" %}

{% block formdelete %}
	{% include "app/EventoHistorico/delete_form.html.twig" %}
{% endblock %}

{% block titulo %}Evento Historico
{% endblock %}

{% block contentpanel %}

	<div class="col-md-6">
		{% embed "app/Template_aker/panel_simple.html.twig" with {'col':6} %}
			{% block titulo %}Datos del evento
			{% endblock %}
			{% block subtitulo %}{% endblock  %}
			{% block cuerpo %}
				{% include "app/Template_aker/show_row.html.twig" with {'label': 'Título', 'data': evento.titulo } %}
				{% include "app/Template_aker/show_row.html.twig" with {'label': 'Fecha', 'data': evento.fecha|date('d-m-Y H:i:s', app.user.timeZone) } %}

				{% include "app/Template_aker/show_row.html.twig" with {'label': 'Servicio', 'data': evento.servicio.nombre ~ ' ('~ evento.servicio.tipoServicio.nombre ~') ' } %}
				{% if evento.servicio.chofer is not null%}
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Nombre', 'data': evento.servicio.chofer.nombre ~ ' ('~evento.servicio.chofer.telefono|default('---')~') '} %}
				{% endif %}
				{% if evento.evento.protocolo %}
					<h3>Protocolo</h3>
					<p>
						{{evento.evento.protocolo|raw}}
					</p>
				{% endif %}
				{% if evento.fechaVista != null %}
					<dd>Vista en web</dd>
					<dt>{{ evento.ejecutor.nombre|default('---') }}
						@
						{{ evento.fechaVista|date('d-m-Y H:i:s', app.user.timeZone) }}

					</dt>
					<dd></dd>
					<dt>
						{% include "app/Template_aker/show_row.html.twig" with {'label': 'Mensaje', 'data': evento.respuesta|default('---') } %}
					</dt>
				{% endif %}
				<h3>Mensaje</h3>
				{% if data is defined %}
					<blockquote class="success">
						{{ data.cuerpo|raw }}
					</blockquote>
				{% else %}
					<em>No tiene mensaje.</em>
				{% endif %}


				<h3>Notificaciones</h3>
				{% if evento.notificaciones|length > 0%}
					Estas son las notificaciones despachadas y su status
					<div class="table-responsive">
						<table class="table mb-none">
							<thead>
								<tr>
									<th>Destino</th>
									<th>Estado</th>
									<th>Contacto</th>
									<th>Creado</th>
									<th>Enviado</th>
									<th>Recibido</th>
									<th>Visto</th>
								</tr>
							</thead>
							<tbody>
								{% for notific in evento.notificaciones %}
									<tr>
										<td>{{ notific.getStrCanal }}</td>
										<td>{{ notific.getStrEstado }}</td>
										<td>{{ notific.contacto.nombre }}</td>
										<td>{{ notific.createdAt|date('d-m H:i:s', app.user.timeZone) }}</td>
										<td>
											{% if notific.fechaEnvio %}
												{{ notific.fechaEnvio|date('d-m H:i:s', app.user.timeZone) }}
											{% else %}
												---
											{% endif %}
										</td>
										<td>
											{% if notific.fechaRecepcion %}
												{{ notific.fechaRecepcion|date('d-m H:i:s', app.user.timeZone) }}
											{% else %}
												---
											{% endif %}
										</td>
										<td>
											{% if notific.fechaLectura %}
												{{ notific.fechaLectura|date('d-m H:i:s', app.user.timeZone) }}
											{% else %}
												---
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<em>No tiene notificaciones despachadas</em>
				{% endif %}
			{% endblock %}
		{% endembed %}
	</div>
	<div class="col-md-6">
		{% embed "app/Template_aker/panel_simple.html.twig" with {'col': 6} %}
			{% block titulo %}Configuración del evento
			{% endblock %}
			{% block subtitulo %}Así se encuentra configurado el evento
			{% endblock  %}
			{% block cuerpo %}
				{% include "app/Template_aker/show_row.html.twig" with {'label': 'Tipo de Evento', 'data': evento.evento.nombre } %}
				<dt>Días Activo</dt>
				<dd>
					{{ evento.evento.lunes ? 'Lu' : '--' }}|
					{{ evento.evento.martes ? 'Ma' : '--' }}|
					{{ evento.evento.miercoles ? 'Mi' : '--' }}|
					{{ evento.evento.jueves ? 'Ju' : '--' }}|
					{{ evento.evento.viernes ? 'Vi' : '--' }}|
					{{ evento.evento.sabado ? 'Sa' : '--' }}|
					{{ evento.evento.domingo ? 'Do' : '--' }}
				</dd>


				<dd>Horario Activo</dd>
				<dt>de
					{{ evento.evento.horaDesde|date('H:i') }}
					a
					{{ evento.evento.horaHasta|date('H:i') }}</dt>

				<dd>Parámetros</dd>
				<dt>
					{% if evento.evento.parametros %}
						<table>
							{% for param in evento.evento.parametros %}
								<tr>
									<td>
										{{ param.variable.nombre }}
										{% if param.variable.dataType != 'ENTITY' %}
											{{ param.valor }}
											{{ param.variable.unidadMedida }}
										{% endif %}
									</td>
									<td></td>
								</tr>
							{% endfor %}
						</table>
					{% else %}
						<em>No tiene parámetros.</em>
					{% endif %}
				</dt>
				<dd>Notificaciones configuradas</dd>
				<dt>
					{% if evento.evento.notificaciones != null %}
						<ul>
							{% for notif in evento.evento.notificaciones %}

								<li>{{ notif.contacto.nombre }}
									{% if notif.tipo == 1 %}
										(celular)
									{% elseif notif.tipo == 2 %}
										(email)
									{% else %}
										(n/a)
									{% endif %}
								</li>

							{% endfor %}
						</il>
					{% else %}
						<em>No tiene notificaciones.</em>
					{% endif %}
				</dt>

			{% endblock %}
		{% endembed %}
	</div>
{% endblock %}
