{% if peticiones %}
    <div class="table-responsive">
        <table id="tablePeticiones" class="table table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Categoría</th>
                    <th>Estado</th>
                    <th>Asunto</th>
                    <th>Autor</th>
                    <th>Asignado a</th>
                    <th>Creado</th>
                    <th>Actualizado</th>
                    <th>Padre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>    
                {% for peticion in peticiones %}
                    <tr  style="color: {{ peticion.colorTxtPrioridad }};">
                        <td>
                            {% include "crm/Peticion/show_hand.html.twig" with {'resultado': peticion.resultado } %}                     
                        </td>
                        <td>{{ peticion.categoria is empty ? '---' : peticion.categoria.nombre }}</td>
                        <td>{{ peticion.estado is empty ? '---' : peticion.estado.nombre }}</td>
                        <td>
                            <a  style="color: {{ peticion.colorTxtPrioridad }};" href="{{ path('crm_peticion_edit', {'id': peticion.id}) }}">
                                {% if peticion.estado.isDefault|default(false) %}
                                    <strong>#{{ peticion.id }} {{ peticion.asunto }}</strong>
                                {% else %}
                                    #{{ peticion.id }} {{ peticion.asunto }}
                                {% endif %}
                            </a>
                        </td>
                        <td>{{ peticion.autor.nombre }}</td>
                        <td>{{ peticion.asignadoa.nombre|default('---') }}</td>
                        <td>{{ peticion.created_at|date('d-m-Y H:i', app.user.timeZone) }}</td>
                        <td>{{ peticion.updated_at|date('d-m-Y H:i', app.user.timeZone) }}</td>                                    
                        <td>{{ peticion.padre ? '#' ~ peticion.padre.id : '' }}</td>
                        <td style="background-color: white">
                            {% include "app/Template_aker/button.html.twig" with {
                                            'url':  path('crm_peticion_edit', {'id': peticion.id}),
                                            'texto': '',   
                                            'icono':'fa fa-pencil-square-o',    
                                            'class': 'btn-default btn-sm', 
                                            }  %} 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>    
        </table>
    </div>
{% else %}
    <em>No tiene peticiones para este servicio</em>
{% endif %}
