<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">Datos del Servicio</div>
    </div>
    <div class="panel-body">
        <dl class="">
        {% include "app/Template_aker/show_row.html.twig" with {'label': 'Nombre', 'data': servicio.nombre } %} 
            {% if servicio.tipoServicio.getWebPath() is defined %}
                {% include "app/Template_aker/show_row.html.twig" 
                with { 'label': 'Clase', 
                        'data':  servicio.tipoServicio, 
                        'img':  servicio.tipoServicio.getWebPath()} %}                                                 
            {% else %}
                {% include "app/Template_aker/show_row.html.twig" 
                with { 'label': 'Clase', 
                        'data':  peticion.servicio.tipoServicio} %}   
            {% endif %}
            {% include "app/Template_aker/show_row.html.twig" with {'label': 'Odómetro', 'data':  servicio.ultOdometro|default('---') } %} 
            {% include "app/Template_aker/show_row.html.twig" with {'label': 'Horometro', 'data':  servicio.ultHorometro|default('---')} %} 
            {% include "app/Template_aker/show_row.html.twig" 
            with {'label': 'Fecha Alta', 'data':  servicio.fechaAlta != null ?  servicio.fechaAlta|date('d-m-Y H:i') : 'N/A' } %} 
            {% include "app/Template_aker/show_row.html.twig" 
            with {'label': 'Fecha Baja', 'data':  servicio.fechaBaja != null ?  servicio.fechaBaja|date('d-m-Y H:i') : 'N/A' } %} 
            {% include "app/Template_aker/show_row.html.twig" 
            with {'label': 'Estado', 'data':  servicio.getStrEstado } %} 
            {% include "app/Template_aker/show_row.html.twig" 
            with {'label': 'Id. Fiscal', 'data':  servicio.datoFiscal|default('---') } %} 
        </dl>
    </div>
</div>