{% extends "app/Template_aker/show.html.twig" %}

{% block titulo %}{{ servicio.nombre }}{% endblock %}


{% block contentpanel %}
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Pedidos de Reparación</div>
            </div>
            <div class="panel-body">
                {% include "crm/Servicio/show_peticiones_data.html.twig" %}            
            </div>
        </div>
    </div>
{% endblock %}
{%  block js  %}
    {{ parent() }}    
    <script>
        $(function () {
        {#$('#tablePeticiones').DataTable({
            "language": {
                url: '//cdn.datatables.net/plug-ins/1.10.10/i18n/Spanish.json',
            },
            "columns": [
                {"data": "Categoría"},
                {"data": "Estado"},
                {"data": "Asunto"},
                {"data": "Autor"},
                {"data": "Asignado a"},
                {"data": "Creado"},
                {"data": "Avance"},
                {"data": ""}
            ]
        });#}
            });
    </script>
{% endblock %}