{% import "app/Macros/servicio.html.twig" as macros %}
<div class="panel">
    <div class="panel-heading">
        <div class="panel-action pull-right">
            {% include "app/Template_aker/button.html.twig" with {
                'url': path('servicio_show', {'id': servicio.id, 'tab': 'main'}), 
                'title': 'Ir a ver datos servicio', 
                'icono': 'fa fa-user',
                'class': 'btn btn-s btn-bordered btn-default',   
                'role': 'ROLE_SERVICIO_EDITAR' } %}
            {% include "app/Template_aker/button.html.twig" with {
                'url': path('servicio_edit', {'id': servicio.id}), 
                'title': 'Editar datos del servicio', 
                'icono': 'fa fa-edit',
                'class': 'btn btn-s btn-bordered btn-default',   
                'role': 'ROLE_SERVICIO_EDITAR'  }%}

        </div>
        <div class="panel-title">
            <strong>{{ macros.servicioNombre(peticion.servicio) }}</strong>
        </div>
    </div>
    <div class="panel-body panel-full">
        <div class="accordion panel-group no-mb" id="accordion-3" role="tablist" aria-multiselectable="false">
            <div class="panel">
                <div class="panel-heading" role="tab" id="heading-3-1">
                    <div class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-3" href="#collapse-3-1" aria-expanded="false" aria-controls="collapse-2-1" class="accordion-toggler collapsed">
                            Datos Principales                                                                        
                        </a>
                    </div>
                </div>
                <div style="height: 0px;" aria-expanded="false" id="collapse-3-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3-1">
                    <div class="panel-body">
                        {% include "crm/Servicio/show_main.html.twig" %}
                    </div>
                </div>
            </div>
            <div class="panel">

                <div class="panel">
                    <div class="panel-heading bg-theme-light">
                        <div class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion-3" href="#collapse-3-4" aria-expanded="false" aria-controls="collapse-2-1" class="accordion-toggler collapsed">
                                Orden de Trabajo
                            </a>
                        </div>

                    </div>
                    <div style="height: 0px;" aria-expanded="false" id="collapse-3-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3-1">
                        <div class="panel-body">
                            {% if peticion.ordenTrabajo is not null %}
                                <div class="col-md-6">
                                    <dl class="dl-horizontal">
                                        <dt class="span4 column-label"><b>Nro. Orden:</b></dt>    
                                        <dd> <a href="{{path('ordentrabajo_step2',{'id':peticion.ordenTrabajo.id})}}"> {{ peticion.ordenTrabajo.formatIdentificador }}: {{ peticion.ordenTrabajo.servicio.nombre }}</a></dd>
                                        {% include "app/Template_aker/show_row.html.twig" with {'label': 'Ejecutor:', 'data': peticion.ordenTrabajo.ejecutor.nombre } %} 
                                        {% include "app/Template_aker/show_row.html.twig" with {'label': 'Centro de Costo:', 'data': peticion.ordenTrabajo.centrocosto } %} 
                                        {% include "app/Template_aker/show_row.html.twig" with {'label': 'Fecha:', 'data': peticion.ordenTrabajo.fecha|date('d/m/Y')} %} 
                                        {% include "app/Template_aker/show_row.html.twig" with {'label': 'Fecha:', 'data': peticion.ordenTrabajo.fecha|date('d/m/Y')} %} 
                                        {% include "app/Template_aker/show_row.html.twig" with {'label': 'Ingreso:', 'data': peticion.ordenTrabajo.fechaIngreso|date('d/m/Y')} %} 
                                        {% include "app/Template_aker/show_row.html.twig" with {'label': 'Egreso:', 'data': peticion.ordenTrabajo.fechaEgreso|date('d/m/Y')} %} 
                                    </dl>

                                </div>
                                <div class="col-md-6">
                                    <dl class="dl-horizontal">
                                        {% include "app/Template_aker/show_row.html.twig" with {'label': 'Tipo:', 'data': peticion.ordenTrabajo.strTipo } %} 
                                        {% include "app/Template_aker/show_row.html.twig" with {'label': 'Nº Interno:', 'data': peticion.ordenTrabajo.numeroInterno } %} 
                                        {% include "app/Template_aker/show_row.html.twig" with {'label': 'Nº Externo:', 'data': peticion.ordenTrabajo.numeroExterno } %} 
                                        {% include "app/Template_aker/show_row.html.twig" with {'label': 'Costo Neto:', 'data': peticion.ordenTrabajo.costoNeto|number_format(2) } %} 
                                        {% include "app/Template_aker/show_row.html.twig" with {'label': 'Costo Total:', 'data': peticion.ordenTrabajo.costoTotal|number_format(2)  } %} 
                                    </dl>

                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading" role="tab" id="heading-3-4">
                        <div class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion-3" href="#collapse-3-4" aria-expanded="false" aria-controls="collapse-2-1" class="accordion-toggler collapsed">
                                Notificaciones
                                <span class="badge badge-s pull-right r-mar-10 bg-info-light">
                                   {# {{ notificaciones|length }} #}
                                </span>
                            </a>
                        </div>
                    </div>
                    <div style="height: 0px;" aria-expanded="false" id="collapse-3-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3-1">
                        <div class="panel-body">
                           {# {% include "app/Servicio/show_notificaciones_data.html.twig" %} #}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>