{% import "app/Macros/servicio.html.twig" as macros %}
<div class="row">
    <div class="col-md-6">
        {# muestro los datos del servicio #}
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Datos del Servicio</div>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    {% include "app/Template_aker/show_row.html.twig" with {'label': 'Nombre', 'data': servicio.nombre } %} 
                    {% if servicio.tipoServicio.getWebPath() is defined %}
                        {% include "app/Template_aker/show_row.html.twig" 
                with { 'label': 'Clase', 
                        'data': servicio.tipoServicio, 
                        'img': servicio.tipoServicio.getWebPath()} %}                                                 
                    {% else %}
                        {% include "app/Template_aker/show_row.html.twig" 
                with { 'label': 'Clase', 
                        'data': servicio.tipoServicio} %}   
                    {% endif %}
                    {% include "app/Template_aker/show_row.html.twig" with {'label': 'Odómetro', 'data': servicio.ultOdometro|default('---') } %} 
                    {% include "app/Template_aker/show_row.html.twig" with {'label': 'Horometro', 'data': servicio.ultHorometro|default('---')} %} 
                    {% include "app/Template_aker/show_row.html.twig" 
            with {'label': 'Fecha Alta', 'data': servicio.fechaAlta != null ? servicio.fechaAlta|date('d-m-Y H:i') : 'N/A' } %} 
                    {% include "app/Template_aker/show_row.html.twig" 
            with {'label': 'Fecha Baja', 'data': servicio.fechaBaja != null ? servicio.fechaBaja|date('d-m-Y H:i') : 'N/A' } %} 
                    {% include "app/Template_aker/show_row.html.twig" 
            with {'label': 'Estado', 'data': servicio.getStrEstado } %} 
                    {% include "app/Template_aker/show_row.html.twig" 
            with {'label': 'Id. Fiscal', 'data': servicio.datoFiscal|default('---') } %} 
                    {% include "app/Template_aker/show_row.html.twig" 
                     with {'label': 'Centro de Costo Actual', 'data': servicio.centrocosto?servicio.centrocosto.nombre:'---' } %} 
                     <div class="row">
                        <div class="col-md-4">Grupo de Servicios</div>
                            <div class="col-md-8">
                            {% if servicio.grupos|length > 0%}
                            {% for grupo in servicio.grupos %}
                                <p>-{{grupo.nombre}} </p>
                            {% endfor %}
                        {% else %}
                            ---
                        {% endif %}
                            </div>
                    </div>
                    </dl>


            </div>
        </div>
    </div>
    <div class="col-md-6">
        {# muestro los datos del servicio #}
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Último Registro</div>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    {% include "app/Template_aker/show_row.html.twig" 
            with { 'label': 'Fecha y Hora', 
                   'data': (servicio.ultFechaHora ? servicio.ultFechaHora|date('d-m-Y H:i:s', app.user.timeZone) : '---') } %} 
                    {% include "app/Template_aker/show_row.html.twig" 
            with { 'label': 'Dirección', 
                   'data': (servicio.ultDireccion ? servicio.ultDireccion ~ '°' : '---') } %} 
                    {% include "app/Template_aker/show_row.html.twig" 
            with { 'label': 'Velocidad', 
                   'data': (servicio.ultVelocidad ? servicio.ultVelocidad ~ ' km/h' : '---') } %} 
                    {% include "app/Template_aker/show_row.html.twig" 
            with { 'label': 'Batería Interna', 
                   'data': (servicio.ultBateria ? servicio.ultBateria ~ ' v' : '---') } %} 
                    {% include "app/Template_aker/show_row.html.twig" 
            with { 'label': 'Ubicación', 
                   'data': (servicio.ultLatitud ? servicio.ultLatitud ~ ',' ~ servicio.ultLongitud : '---') } %} 
                    {% include "app/Template_aker/show_row.html.twig" 
            with { 'label': 'Odómetro GPS', 
                   'data': (servicio.ultOdometro ? (servicio.ultOdometro / 1000)|number_format(2) ~ ' kms' : '---') } %} 
                    {% include "app/Template_aker/show_row.html.twig" 
            with { 'label': 'Horómetro GPS', 
                   'data': (servicio.ultHorometro ? servicio.formatHorometro: '') } %} 
                </dl>
            </div>
        </div>
    </div>


</div>
