<div class="row">
  <h3>{{ data.nombre }}</h3>
  <div style="height:300px; overflow-y: scroll;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-md-2">Fecha y Zona</th>
          <th class="col-md-5">Infracción</th>
          <th class="col-md-5">Ubicación</th>
        </tr>
      </thead>
      <tbody>
        {% for posicion in data.posiciones %}         
            <tr>
              <td title="ubicar en el mapa" style="cursor: pointer;" onclick="gotoCenter('{{ posicion.latitud }}','{{ posicion.longitud }}',true)">
               <b>{{ posicion.fecha|date('d-m-Y H:i:s', app.user.timeZone) }}</b>
              {% if posicion.referencia != null %}
                {{posicion.zona}}
              {% else %}
                Fuera de Referencia
              {% endif %}

              </td>
              <td>
               Se realiza un exceso con riesgo <b>{{posicion.riesgo}}</b>, registrando una velocidad <b>{{ posicion.velocidad }} Kms/h</b>, 
               (permitida de <b>{{ posicion.velMaxPermitida }} Kms/h</b>), un tiempo en exceso de <b>{{posicion.tiempoExceso}}</b> 
               y una distancia de <b>{{posicion.distanciaExceso}} kms</b> 
              </td>
              <td>{{ posicion.ubicacion }}</td>
            </tr>
          
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
