{% extends 'app/Template_aker/show.html.twig' %}

{% block titulo %}
	Responsabilidad Vial
{% endblock %}

{% block css %}
	{{ parent() }}
	<style>
		{% include "informe/Templates/responsabilidad_vial/v1/index.css" %}</style>
{% endblock %}

{% block js %}
	{{ parent() }}
	{{ mapa.renderJs()|raw }}
	<script>
	{% include "informe/Templates/responsabilidad_vial/v1/index.js" %}
  {% include "apmon/Mapa/gmaps-lib.script.js" %}
	</script>
{% endblock %}

{% block informacion %}
	{% include "informe/Templates/responsabilidad_vial/v1/informacion.html.twig" with {'uid' : inbox.uid, 'dataInforme': dataInforme, 'notIsEmpty' : notIsEmpty} %}
{% endblock %}
{% block contentpanel %}
   {% include "informe/Templates/responsabilidad_vial/v1/popup_detalle.html.twig" %}
   {% include "app/Template_aker/popup_load.html.twig" %}
	{% if notIsEmpty %}
		<div class="table-scroll-top">
			<div class="table-container">
				{% include "informe/Templates/responsabilidad_vial/v1/content.html.twig" with {'data' : data} %}
			</div>
		</div>
	{% else %}
		<legend>Informe sin datos...</legend>
	{% endif %}
{% endblock %}
