.table-container {
    position: relative;
    overflow-x: auto;
    margin-bottom: 1rem;
  }

  .table-scroll-top {
    overflow-x: auto;
    margin-bottom: 1rem;
  }

  .table-scroll-top::-webkit-scrollbar {
    height: 12px;
  }

  .table-container::-webkit-scrollbar {
    height: 12px;
  }

  .table-scroll-top::-webkit-scrollbar-thumb,
  .table-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 6px;
  }