<!-- Modal -->
<div class="modal fade" id="modalDetalle" role="dialog" aria-labelledby="modalCambioLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document" style="width: 90%;">
    <div class="modal-content" style="height: 500px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div id="modal-body-externo">
          <div class="col-md-12">
            <div class="col-md-6" style="height: 300px;">
              <h3>Mapa</h3>
              {{ mapa.renderHtml()|raw }}
            </div>
            <div class="col-md-6" id="content_detalle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
