{% extends "app/Template/informe_result.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Informe Historico de Posiciones{% endblock %}

{% block css %}
{{ parent() }}
<link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}

{% block js %}
{{ parent() }}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>            
<script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n.min.js') }}" /></script>  
<script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-i18n-timepicker.js') }}" /></script>   
<script src="{{ asset(mainbundle ~ 'plugins/jquery-ui/js/jquery-ui-timepicker-addon.js') }}" /></script>

<script type="text/javascript">
    $(function () {
           $.datepicker.setDefaults ($.datepicker.regional["es"]);
           $.timepicker.setDefaults ($.timepicker.regional["es"]);
           $( "#informehistorico_desde" ).datetimepicker({
              defaultDate: "today",
              changeMonth: true,
              numberOfMonths: 2,
              maxDate: "today",
              minDate: {{ limite_historial }},
              onClose: function( selectedDate ) {
                $( "#informehistorico_hasta" ).datetimepicker( "option", "minDate", selectedDate );
                
                var parts = selectedDate.split("/");
                var dt = new Date(parseInt(parts[2], 10),
                              parseInt(parts[1], 10) - 1,
                              parseInt(parts[0], 10));
                                          
                var p = new Date(dt);          
                p.setDate( dt.getDate() + 35 );
                var now = new Date();
                if (p.getTime() > now.getTime()) {
                    p = now;
                }
                
                $( "#informehistorico_hasta" ).datetimepicker( "option", "setDate", p );
                $( "#informehistorico_hasta" ).datetimepicker( "option", "maxDate", p );
                $( "#informehistorico_hasta" ).datetimepicker( "option", "defaultDate", p );
              }              
            });
            $( "#informehistorico_hasta" ).datetimepicker({
              //defaultDate: "today",
              changeMonth: true,
              numberOfMonths: 2,
              //maxDate: "today",
              dateFormat: 'dd/mm/yy',
              minDate: {{ limite_historial }},
              onClose: function( selectedDate ) {
                $( "#from" ).datetimepicker( "option", "maxDate", selectedDate );
              }
            });

              $('#informehistorico_servicio').select2();
    });
    
    $("informehistorico_solo_referencias").click(function() {
        $("#group-referencias").css('visible', $("#informehistorico_solo_referencias").is(':checked'));
    });
</script>    
    
<script>   
$().ready( function () {
    $('#generar').click( function() {
        $('#modalWait').modal('show');
        alert('ATENCION !!!. Este informe puede demorar hasta 5 minutos en generarse. Por favor tenga paciencia...');
        if (document.getElementById('informehistorico_destino').value === '5') {
            //me voy a pedir el excel...
            window.open("{{ path('informe_historico_exportar_excel') }}?"+ $('#form').serialize() +'"', '_self');
            $("#informe").text('');            
        } else if (document.getElementById('informehistorico_destino').value === '6') {
            window.open("{{ path('informe_historico_exportar_csv') }}?"+ $('#form').serialize() +'"', '_self');
            $("#informe").text('');
        } else {   //salgo por pantalla
            var vstep = 0;
            $("#informe").text('');
            while (vstep !== -1) {
                var request = $.ajax({
                  type: 'GET',
                  url: "{{ path('informe_historico') }}", 
                  data: {
                        'step' : vstep,
                        'consulta': $("#form").serialize(),   //form de los parametros.
                  }, 
                  dataType: "json",
                  async: false,
                  beforeSend: function(){                  
                        //$("#informe").text("Obteniendo informe, espere...."); 
                        //$("#informe").append('paso -> '+vstep+'</br>');        
                    },
                });
                request.error(function(respuesta) {
                    vstep = -1;
                })
                request.done(function(respuesta) {
                    vstep = respuesta.step;
                    if (respuesta.head !== null) {
                        //alert('hola');
                        $("#informe").text('');
                        $("#informe").append(respuesta.head);
                        $("#informe").show();
                    }
                    $("#table-informe > tbody ").append(respuesta.informe);
                });
            }
        }
        $('#modalWait').modal('hide');
    });    
}); 
</script>
       
{% endblock %}

{% block contentpanel %}
<div id="modalWait" data-toggle="modal" class="modal hide wait">Generando informe, espere...</div>
<div class="row-fluid">
    <div class="span12">
        <form class="form-horizontal" id="form" action="#"  method="POST" >
            {{ form_errors(form) }}
            <fieldset>    
                <div class="row-fluid">
                    <div class="span6">
                        {{ form_widget(form.destino) }}
                        {{ form_widget(form.servicio) }}
                        {{ form_widget(form.desde) }}
                        {{ form_widget(form.hasta) }}
                        {{ form_widget(form.referencia) }} 
                    </div>
                    <div class="span3">
                        {{ form_widget(form.mostrar_direcciones) }}
                        {{ form_widget(form.mostrar_sensores) }}
                    </div>
                </div>
                <div class="form-actions" style="background-color: white">
                    {{ form_widget(form._token) }} 
                    <button id="generar" class="btn btn-primary" type="button">Generar Informe</button>
                    <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="row" style="width: 100%; overflow: visible; overflow-y: visible; overflow-x: visible">
    <div class="span12">
        <div id="informe">
        </div>
    </div>
</div>

{% endblock %}
