{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Informe Histórico de Posiciones{% endblock %}
{% block titulo %}Informe Histórico de Posiciones{% endblock %}

{% block informacion %}
    Para el servicio <b>{{ consulta.servicionombre }}</b> desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b>.
{% endblock %}
      
{% block js %}
{{ parent() }}
<script>    
$().ready( function() {
    $('#informe').append({{ consulta }});
});    
</script>    
{% endblock %}
    
{% block contentpanel %}
    <div id="informe">
    </div>
{% endblock %}
