<table id="table-informe" class="table table-striped" width="100%">
    <thead>
        <tr>
            <td width="200">Fecha</td>
            <td width="200">Fecha Recep.</td>
            <td>Latitud</td>
            <td>Longitud</td>
            <td>Velocidad (kms/h)</td>
            <td>Direccion (°)</td>
            <td>Motivo Tx</td>
            <td>Contacto</td>
            <td>Bat. Int. (%)</td>
            <td>Bat. Ext. (%)</td>
            <td>Bat. Ext. (v)</td>
            <td>Entrada 1</td>
            <td>Entrada 2</td>
            <td>Entrada 3</td>
            <td>Odometro</td>
            <td>Horometro</td>
            <td>Tiempo</td>
            <td>Distancia (mts)</td>
            <td>Referencia</td>
            <td>Domicilio</td>
            <td>Alimentacion</td>
            <td>Temperatura</td>
            <td>Humedad</td>
            <td>Aceleración</td>
            <td>iButton</td>
            <td>ACK %</td>
            <td>GSM Señal</td>
            <td>GSM Error</td>
            <td>GPS Dim</td>
            <td>GPS Error</td>
            {% if consulta.mostrar_sensores is defined %}
                <td>RPM Motor</td>
                <td>Tanque %</td>
                <td>Tanque Lts.</td>
                <td>Temp. Motor</td>
                <td>Presion Aceite</td>
                <td>Presion Aceite (bar)</td>
                <td>Sensor 1</td>
                <td>Sensor 2</td>
                <td>Sensor 3</td>
                <td>Salida 1</td>
            {% endif %}            
            
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>