{% for trama in historico %}
    <tr>
        <td>{{ trama.fecha|date('d-m-Y H:i:s') }}</td>
        <td>{{ trama.fecha_recepcion|date('d-m-Y H:i:s') }}</td>
        {% if trama.posicion is defined %}
            <td>{{ trama.posicion.latitud }}</td>
            <td>{{ trama.posicion.longitud }}</td>
            <td>{{ trama.posicion.velocidad }}</td>
            <td>{{ trama.posicion.direccion }}</td>
        {% else %}
            <td></td><td></td><td></td><td></td>
        {% endif %}
        <td>{{ trama.motivo|default(0) }}</td>
        <td>{{ trama.contacto is defined and trama.contacto ? 'SI' : 'NO' }}</td>
        <td>{{ trama.bateria_interna|default(0) }}</td>
        <td>{{ trama.bateria_externa is defined and trama.bateria_externa != -1 ? trama.bateria_externa : 0 }}</td>
        <td>{{ trama.bateria_externa_volts is defined and trama.bateria_externa_volts != -1 ? trama.bateria_externa_volts : 0 }}</td>
        <td>{{ trama.entrada_1 is defined and trama.entrada_1 ? 'SI' : 'NO' }}</td>
        <td>{{ trama.entrada_2 is defined and trama.entrada_2 ? 'SI' : 'NO' }}</td>
        <td>{{ trama.entrada_3 is defined and trama.entrada_3 ? 'SI' : 'NO' }}</td>
        <td>{{ trama.odometro is defined ? trama.odometro /1000 : 0 }}</td>
        <td>{{ trama.horometro is defined ? trama.horometro : 0 }}</td>
        <td>{{ trama.tiempo|default('') }}</td>
        <td>{{ trama.distancia|default(0) }}</td>
        <td>{{ trama.referencia_nombre|default('') }}</td>
        <td>{{ trama.domicilio|default('') }}</td>
        <td>{{ trama.alimentacion|default(0) == '0' ? 'NO' : 'SI' }}</td>
        <td>{{ trama.temperatura|default(0) }}</td>
        <td>{{ trama.humedad|default(0) }}</td>
        <td>{{ trama.aceleracion|default(0) }}</td>
        <td>{{ trama.ibutton|default(0) }}</td>
        <td>{{ trama.porcentaje_ack|default(0) }}</td>
        <td>{{ trama.gsm_csq|default(0) }}% </td>
        <td>{{ trama.gsm_error|default(0) }}</td>
        <td>{{ trama.gsm_dim|default(0) }}</td>
        <td>{{ trama.gsm_error|default(0) }}</td>
        {% if consulta.mostrar_sensores is defined %}
            <td>{{ trama.carcontrol.rmp_motor|default(0) }}</td>
            <td>{{ trama.carcontrol.porcentaje_tanque|default(0) }}</td>
            <td>{{ trama.carcontrol.litros_tanque|default(0) }}</td>
            <td>{{ trama.carcontrol.temperatura_motor|default(0) }}</td>
            <td>{{ trama.carcontrol.sensor_presion_aceite|default('NO') }}</td>
            <td>{{ trama.carcontrol.presion_aceite|default(0) }}</td>
            <td>{{ trama.carcontrol.cc_entrada_1|default(0) }}</td>
            <td>{{ trama.carcontrol.cc_entrada_2|default(0) }}</td>
            <td>{{ trama.carcontrol.cc_entrada_3|default(0) }}</td>
            <td>{{ trama.salida_1 is defined and trama.salida_1 ? 'SI' : 'NO' }}</td>
        {% endif %}
       
        <td></td>
    </tr>
{% endfor %}    
