{% extends "app/Template_aker/informe_result.html.twig" %}

{% block titulo %}Choferes
{% endblock %}

{% block informacion %}{% endblock %}

{% block contentpanel %}

	{% if result is not null %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan="3"></th>
					<th colspan="4">Recepción</th>
					<th colspan="4">Entrega</th>
					<th></th>
				</tr>
				<tr>
					<th>Servicio</th>
					<th>Ult. Reporte</th>
					<th>Chofer Actual</th>
					<th>Chofer</th>
					<th>Fecha</th>
					<th>Estado</th>
					<th></th>
					<th>Chofer</th>
					<th>Fecha</th>
					<th>Estado</th>
					<th></th>
					<th>Tiempo Uso</th>
				</tr>
			</thead>
			<tbody>
				{% for value in result %}
					<tr>
						<td>{{ value.servicio.nombre }}</td>
						<td>{{ value.servicio.ultFechahora|date('d-m-Y H:i', app.user.timeZone) }}</td>
						<td>{{ value.servicio.chofer.nombre|default('') }}</td>
						{# recepcion y entrega son al reves para mostrar que para gestionar#}
						<td>
							{{ value.recepcion.chofer|default('---') }}<br>
						</td>
						<td>{{ value.recepcion.fecha|default('---') }}</td>
						<td>
							{% if value.recepcion.estado is defined %}
								<label class="label label-{{ value.recepcion.colorEstado }}">{{ value.recepcion.estado|default('') }}</label>
							{% endif %}
						</td>
						<td>
							{% if value.recepcion.idFormulario is defined and value.recepcion.idFormulario != null %}
								<a href="{{ aker_api_form_download }}/{{ value.recepcion.idFormulario }}" target="_blank">
									<i class="fa fa-file-pdf-o " aria-hidden="true"></i>
								</a>
							{% endif %}
						</td>
						<td>{{ value.entrega.chofer|default('---') }}</td>
						<td>{{ value.entrega.fecha|default('---') }}</td>
						<td>
							{% if value.entrega.estado is defined %}
								<label class="label label-{{ value.entrega.colorEstado }}">{{ value.entrega.estado|default('') }}</label>
							{% endif %}
						</td>
						<td>
							{% if value.entrega.idFormulario is defined and value.entrega.idFormulario != null %}
								<a href="{{ aker_api_form_download }}/{{ value.entrega.idFormulario }}" target="_blank">
									<i class="fa fa-file-pdf-o " aria-hidden="true"></i>
								</a>
							{% endif %}
						</td>
						<td>{{ value.tiempoUso|default('') }}</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}
