{% extends "app/Template/informe_result.html.twig" %}

{% block titulo %}Choferes
{% endblock %}

{% block informacion %}{% endblock %}

{% block contentpanel %}

	{% if result is not null %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Servicio</th>
					<th>Ult. Reporte</th>
					<th>Chofer Actual</th>
					<th>Ultimo Receptor</th>					
					<th>Fecha Recepción</th>
					<th>Estado</th>
					<th>Ultimo Entrega</th>
					<th>Fecha Entrega</th>
					<th>Estado</th>
					<th>Tiempo Uso</th>
				</tr>
			</thead>
			<tbody>
				{% for value in result %}
					<tr>
						<td>{{ value.servicio.nombre }}</td>
						<td>{{ value.servicio.ultFechahora|date('d-m-Y H:i', app.user.timeZone) }}</td>
						<td>{{ value.servicio.chofer.nombre|default('') }}</td>
						<td>{{ value.entrega.chofer|default('---') }}</td>
						<td>{{ value.entrega.fecha|default('---') }}</td>
						<td>{{ value.entrega.estado|default('') }}</td>
						
						<td>{{ value.recepcion.chofer|default('---') }}</td>
						<td>{{ value.recepcion.fecha|default('---') }}</td>
						<td>{{ value.recepcion.estado|default('') }}</td>						
						<td>{{ value.tiempoUso|default('') }}</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}
