<div id="modalDelete" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Eliminar Prestacion</h3>
    </div>
    <form class="form-horizontal" action="{{ path('apmon_prestacion_delete', { 'id': prestacion.id }) }}" method="post">
        <div class="modal-body">
             <p>Esta seguro de eliminar esta prestación ?</p>
        {{ form_widget(delete_form) }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="submit">Crear</button>
            <a id="boton-cancelar" href="" class="btn secondary">Cancelar</a>
        </div>
    </form>
</div>

<script>
    
</script>