{% extends "app/Template/list.html.twig" %}

{% block titulo %}Prestaciones{% endblock %}        
{% block contentpanel %}  
    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Estado</th>
                    <th>Desde</th>
                    <th>Hasta</th>
                    <th>Objetivo</th>
                    <th>Servicios</th>
                    <th>Transportista</th>
                    <th>Contratista</th>
                </tr>
            </thead>
            <tbody>
                {% for prestacion in prestaciones %}
                    <tr>
                        <td>{{ status[prestacion.id] }}</td>
                        <td>{{ prestacion.inicioPrestacion }}</td>
                        <td>{{ prestacion.finPrestacion }}</td>
                        <td>{{ prestacion.objetivo.nombre|default(' --- ') }}</td>
                        <td> {# los servicios asociados. #}
                            <ul>
                            {% for servicio in prestacion.servicios %}
                                <li>
                                {{ servicio.nombre }} 
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td>{{ prestacion.transporte.nombre|default('---') }}</td>
                        <td>{{ prestacion.contratista.nombre|default('---') }}</td>
                        {# <td><a href="{{ path('apmon_prestacion_show', {'id': prestacion.id}) }}">{{ prestacion.nombre }}</a></td> #}
                        <td>
                            {% if is_granted('ROLE_PRESTACION_EDITAR') %}
                                <a href="{{ path('apmon_prestacion_edit', {'id': prestacion.id} ) }}" class="btn btn-small">Editar</a>
                                <a href="{{ path('apmon_prestacion_show', {'id': prestacion.id} ) }}" class="btn btn-small">Ver</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
         </table>
    </div>
{% endblock %}

