{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ organizacion }}{% endblock %}

{% block subtitulo %}Creación de Prestacion{% endblock %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        <fieldset>
            {{ form_errors(form) }}
            <div class="row-fluid">
                <div class="span6">
                    <h3>Datos del Prestacion</h3>
                    <div class="control-group ">
                        <label class="control-label">Objetivo</label>
                        <div class="controls">
                            <select id="prestacion_objetivo" name="prestacion[objetivo]"  class="">
                                <option value= 0 >  </option>
                                {% for objetivo in objetivos %}   
                                    <option value="{{objetivo.id}}">{{objetivo.nombre}}</option>
                                {% endfor %}   
                            </select>
                            <a href="#" data-toggle="modal" data-target="#modalCrearObjetivo">
                                <img id="icon" src="/images/plus.png" title="crear objetivo">
                            </a>
                        </div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label">Transporte</label>
                        <div class="controls">
                            <select id="prestacion_transporte" name="prestacion[transporte]" class="">
                                <option value= 0 >  </option>
                                {% for transporte in transportes %}   
                                    <option value="{{transporte.id}}">{{transporte.nombre}}</option>
                                {% endfor %}   

                            </select>
                            <a href="#" data-toggle="modal" data-target="#modalCrearTransporte">
                                <img id="icon" src="/images/plus.png" title="crear transporte">
                            </a></div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label">Contratista</label>
                        <div class="controls">
                            <select id="prestacion_contratista" name="prestacion[contratista]" class="">
                                <option value= 0 >  </option>
                                {% for contratista in contratistas %}   
                                    <option value="{{contratista.id}}">{{contratista.nombre}}</option>
                                {% endfor %}  
                            </select>
                            <a href="#" data-toggle="modal" data-target="#modalCrearContratista">
                                <img id="icon" src="/images/plus.png" title="crear contratista">
                            </a>
                        </div>
                    </div>

                    {{ form_widget(form.inicio_prestacion) }}
                    {{ form_widget(form.fin_prestacion) }}
                </div>
                <div style="overflow-y: scroll;height: 210px; float: left;margin-top: 56px;border-style:solid;border-color:#D8D8D8; border-width:1px;">
                    {{ form_widget(form.servicios) }}
                </div>
            </div>

            {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Agregar' } %}
        </fieldset>
    </form>
    {% include "apmon/Objetivo/new_form.html.twig" %}  
    {% include "apmon/Transporte/new_form.html.twig" %}  
    {% include "apmon/Contratista/new_form.html.twig" %}  
{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet"type="text/css" media="all" />  
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        function cargarObj(idorg) {
            //llamo a jquery para hacer la asignacion.
            var nombre = document.getElementById("objetivo_nombre").value;
            var request = $.ajax({
                url: "{{ path('centrocosto_modal_new') }}",
                data: {'idorg': idorg, 'nombre': nombre},
                dataType: "json"
            });
            request.done(function (respuesta) {
                select = document.getElementById('prestacion_objetivo');
                $("#prestacion_objetivo").empty();
                $.each(respuesta, function (k, v) {
                    var opt = document.createElement('option');
                    opt.value = k;
                    opt.innerHTML = v;
                    opt.selected = true;
                    select.appendChild(opt);

                });
            });
            $('#modalCrearObjetivo').modal('toggle')
            document.getElementById('objetivo_nombre').value = "";
        }
        function cargarTransp(idorg) {
            //llamo a jquery para hacer la asignacion.
            var nombre = document.getElementById("transporte_nombre").value;
            var request = $.ajax({
                url: "{{ path('apmon_transporte_modal_new') }}",
                data: {'idorg': idorg, 'nombre': nombre},
                dataType: "json"
            });
            request.done(function (respuesta) {
                select = document.getElementById('prestacion_transporte');
                $("#prestacion_transporte").empty();
                $.each(respuesta, function (k, v) {
                    var opt = document.createElement('option');
                    opt.value = k;
                    opt.innerHTML = v;
                    opt.selected = true;
                    select.appendChild(opt);
                });
            });
            $('#modalCrearTransporte').modal('toggle')
            document.getElementById('transporte_nombre').value = "";
        }
        function cargarContratista(idorg) {
            //llamo a jquery para hacer la asignacion.
            var nombre = document.getElementById("contratista_nombre").value;
            var request = $.ajax({
                url: "{{ path('apmon_contratista_modal_new') }}",
                data: {'idorg': idorg, 'nombre': nombre},
                dataType: "json"
            });
            request.done(function (respuesta) {
                select = document.getElementById('prestacion_contratista');
                $("#prestacion_contratista").empty();
                $.each(respuesta, function (k, v) {
                    var opt = document.createElement('option');
                    opt.value = k;
                    opt.innerHTML = v;
                    opt.selected = true;
                    select.appendChild(opt);
                });
            });
            $('#modalCrearContratista').modal('toggle')
            document.getElementById('contratista_nombre').value = "";
        }
    </script>
    <script type="text/javascript">
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $.timepicker.setDefaults($.timepicker.regional["es"]);
            $("#prestacion_inicio_prestacion").datetimepicker({
                dateFormat: 'dd/mm/yy',
            });
            $("#prestacion_fin_prestacion").datetimepicker({
                dateFormat: 'dd/mm/yy',
            });
        });

    </script>

{% endblock %}