{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "apmon/Prestacion/delete_form.html.twig" %}
{% endblock %} 

{% block titulo %}{{ prestacion.organizacion.nombre }}{% endblock %}

{% block informacion %}
{% endblock %}     

{% block contentpanel %}
    <div class="row-fluid row-show">
        <div class="span8">
            {% include "app/Template/show_row.html.twig" with {'label': 'Desde', 'data': prestacion.inicioPrestacion } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Hasta', 'data': prestacion.finPrestacion } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Objetivo', 'data': prestacion.objetivo.nombre } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Transporte', 'data': prestacion.transporte.nombre|default('---') } %} 
            {% include "app/Template/show_row.html.twig" with {'label': 'Contratista', 'data': prestacion.Contratista.nombre|default('---') } %} 
            <div class="row-fluid row-show">
                <div class="span4 column-label">Servicios</div>    
                <div class="column-show">
                    {% for servicio in prestacion.servicios %}
                        {{ servicio.nombre}} <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="span3"> 
        </div>
    </div>
{% endblock %}
