{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ portal.referencia.nombre }}{% endblock %}
{% block subtitulo %}Cambio de Precio Portal{% endblock %}

{% block formulario %}
    <form class="form-horizontal" action="{{ path('sauron_portal_cambiar_precio', {'id': portal.id} ) }}"  method="POST" >
        <fieldset>
        <div class="row-fluid">
            <div>{{ form_errors(form) }}</div>
            <div class="span8">
                <h3>Datos del Portal</h3>
                <div class="row-fluid row-show">
                    <div class="span3 column-label">Referencia</div>
                    <div class="column-show">{{ portal.referencia.nombre }}</div>
                </div>
                <div class="row-fluid row-show">
                    <div class="span3 column-label">Tipo Portal</div>
                    <div class="column-show">{{ portal.getStrTipoPortal }}</div>
                </div>
                <div class="row-fluid row-show">
                    <div class="span3 column-label">Tipo Vehículo</div>
                    <div class="column-show">{{ portal.tipovehiculo.tipo }}</div>
                </div>
                <div class="row-fluid row-show">
                    <div class="span3 column-label">Días</div>
                    <div class="column-show">
                        {{ 'domingo' in portal.getArrayDiasSemana ? 'D' : '-' }} |
                        {{ 'lunes' in portal.getArrayDiasSemana ? 'L' : '-' }} |
                        {{ 'martes' in portal.getArrayDiasSemana ? 'M' : '-' }} |
                        {{ 'miercoles' in portal.getArrayDiasSemana ? 'X' : '-' }} |
                        {{ 'jueves' in portal.getArrayDiasSemana ? 'J' : '-' }} |
                        {{ 'viernes' in portal.getArrayDiasSemana ? 'V' : '-' }} |
                        {{ 'sabado' in portal.getArrayDiasSemana ? 'S' : '-' }}
                    </div>
                </div>
                <div class="row-fluid row-show">
                    <div class="span3 column-label">Horario</div>
                    <div class="column-show">{{ portal.desde|date('H:i:s') }} - {{ portal.hasta|date('H:i:s') }}</div>
                </div>
                <div class="row-fluid row-show">
                    <div class="span3 column-label">Precio Actual</div>
                    <div class="column-show">{{ portal.precio|number_format(2, ',', '.') }}</div>
                </div>
                <fieldset>
                    <div class="control-group ">
                        <label class="control-label">{{ form_label(form.precio) }}</label>
                        <div class="controls">
                            <input type="number" id="precioportal_precio" step="0.01" autofocus name="precioportal[precio]" required="required" class="" value="{{ portal.precio|number_format(2) }}">
                            <span class="help-block"></span>
                        </div>
                    </div>
                </fieldset>
                {{ form_widget(form._token) }}
            </div>
            <div class="span3"> 
                <h4>Extra</h4>
                Cambie el precio del portal. </br>
                Recuerde utilizar . o , para los decimales según corresponda al formato.
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Cambiar" />
            <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
        </div>
        </fieldset>
    </form>
{% endblock %}
