{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ portal.referencia.nombre }}{% endblock %}
{% block subtitulo %}Cambio de Datos Portal{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" /> 
{% endblock %}

{% block formulario %}
<form class="form-horizontal" action="{{ path('sauron_portal_update', {'id': portal.id} ) }}"  method="POST" >
    <div class="row-fluid">
        <div>{{ form_errors(form) }}</div>
        <div class="span10">
            <h3>Datos del Portal</h3>
            <fieldset>
                {# precioportal_referencia #}
                <div class="control-group ">
                    <label class="control-label">Referencia</label>
                    <div class="controls">
                        <select id="precioportal_referencia" name="precioportal[referencia]" required="required" class="">
                            {% for referencia in portales %}
                                <option value="{{ referencia.id }}" {{ referencia.id == portal.referencia.id ? 'selected' : '' }}>{{ referencia.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {# precioportal_tipoPortal #}
                <div class="control-group ">
                    <label class="control-label">Tipo Portal</label>
                    <div class="controls">
                        <select id="precioportal_tipoPortal" name="precioportal[tipoPortal]" required="required" class="">
                            {% for index, tportal in portal.getArrayStrTipoPortal %}
                                <option value="{{ index }}" {{ index == portal.tipoPortal ? 'selected' : '' }}>{{ tportal }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>                    
                {# precioportal_tipoVehiculo #}
                <div class="control-group ">
                    <label class="control-label">Tipo Vehiculo</label>
                    <div class="controls">
                        <select id="precioportal_tipoPortal" name="precioportal[tipoVehiculo]" required="required" class="">
                            {% for tvehiculo in tiposVehiculos %}
                                <option value="{{ tvehiculo.id }}" {{ tvehiculo.id == portal.tipoVehiculo.id ? 'selected' : '' }}>{{ tvehiculo.tipo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>                    
                {# dias de la semana #}
                <div class="control-group ">
                    <label class="control-label">Días a la Semana</label>
                    <div class="controls">
                        {% for dia in diasSemana %}
                            <label class="checkbox inline">
                                <input type="checkbox" id="precioportal_dias_{{ dia }}" name="precioportal[dias][{{ dia }}]" value="{{ dia }}" {{ dia in portal.getArrayDiasSemana ? 'checked' : '' }} > {{ dia }}
                            </label>
                        {% endfor %}    
                    </div>
                </div>                    
                {# horas desde #}
                <div class="control-group ">
                    <label class="control-label">Válido desde</label>
                    <div class="controls">
                        <input id="precioportal_desde" name="precioportal[desde]" type="text" value="{{ portal.desde|date('H:i:s') }}">
                    </div>
                </div>                    
                {# horas hasta #}
                <div class="control-group ">
                    <label class="control-label">Válido hasta</label>
                    <div class="controls">
                        <input id="precioportal_hasta" name="precioportal[hasta]" type="text" value="{{ portal.hasta|date('H:i:s') }}">
                    </div>
                </div>                    
                    
                {# precioportal_precio #}
                <div class="control-group ">
                    <label class="control-label">Precio</label>
                    <div class="controls">
                        <input type="number" id="precioportal_precio" step="0.01" name="precioportal[precio]" required="required" class="" value="{{ portal.precio }}">
                    </div>
                </div>                    
                    
            </fieldset>
            {{ form_widget(form._token) }}
        </div>
        <div class="span3"> 
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Cambiar" />
        <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
    </div>
</form>
{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
        $.timepicker.regional['es'] = {
                timeOnlyTitle: 'Elija horario',
                hourText: 'Hora',
                minuteText: 'Minuto',
                secondText: 'Segundo',
                timeFormat: 'HH:nn:ss',
        };
       $.timepicker.setDefaults ($.timepicker.regional["es"]);
       $("#precioportal_desde").timepicker({
                timeFormat: 'hh:mm:ss',
                showSecond: true,
                showTitle: false,
                timeOnly: true,
                defaultValue: '{{ portal.desde|date('H:i:s') }}',
        });
       $("#precioportal_hasta").timepicker({
                timeFormat: 'hh:mm:ss',
                showSecond: true,
                showTitle: false,
                timeOnly: true,
                defaultValue: '{{ portal.hasta|date('H:i:s') }}',
        });
    });
</script>
{% endblock %}