{% extends "app/Template/list.html.twig" %}

{% block titulo %}Administración de portales{% endblock %}  

{% block js %}
{{ parent() }}
<script>    
    function select(){
        var e = document.getElementById('select_referencia');
        var value = e.options[e.selectedIndex].value;
        var url = "/sauron/portal/idref/list";      
        url = url.replace('idref', value);
        window.open(url, '_self');
    }
</script>
{% endblock %}

{% block busqueda %}
<div class="search">
    <div class="input-append">
        <form action="#" method="POST">
            <select id="select_referencia" style="width: 140px;" onchange="select()">
            {% for key, ref in referencias %}
                <option value="{{ key }}"  {{ ref == referencia ? 'selected' : ''}}  >
                    {{ ref }}
                </option>
            {% endfor %}
            </select> 
           {# <button type="button" onclick="select()" title="Filtrar por Portal"><i class="icon-list"></i></button> #}
            <span class="add-on" onclick="select()" title="Filtrar por Portal" ><i class="icon-refresh"></i></span>
        </form>
    </div>
</div> 
{% endblock %}

{% block contentpanel %}  
    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Referencia</th>
                    <th>Tipo Vehiculo</th>
                    <th>D</th>
                    <th>L</th>
                    <th>M</th>
                    <th>X</th>
                    <th>J</th>
                    <th>V</th>
                    <th>S</th>
                    <th>Horario</th>
                    <th>Precio</th>
                    <th>Ult. Cambio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for portal in portales %}
                    <tr>
                        <td>{{ portal.referencia.nombre }}</td>
                        <td>{{ portal.tipovehiculo }}</td>
                        <td>{{ 'domingo' in portal.getArrayDiasSemana ? 'D' : '-' }}</td>
                        <td>{{ 'lunes' in portal.getArrayDiasSemana ? 'L' : '-' }}</td>
                        <td>{{ 'martes' in portal.getArrayDiasSemana ? 'M' : '-' }}</td>
                        <td>{{ 'miercoles' in portal.getArrayDiasSemana ? 'X' : '-' }}</td>
                        <td>{{ 'jueves' in portal.getArrayDiasSemana ? 'J' : '-' }}</td>
                        <td>{{ 'viernes' in portal.getArrayDiasSemana ? 'V' : '-' }}</td>
                        <td>{{ 'sabado' in portal.getArrayDiasSemana ? 'S' : '-' }}</td>
                        <td>{{ portal.desde|date('H:i:s') }}<br>{{ portal.hasta|date('H:i:s') }}</td>
                        <td style="text-align: right" >{{ portal.precio|number_format(2) }}</td>
                        <td>{{ portal.updatedAt != null ? portal.updatedAt|date('d-m-Y') : '' }}</td>
                        <td>
                            <a href="{{ path('sauron_portal_cambiar_precio', {'id': portal.id} ) }}">Precio</a>
                            | <a href="{{ path('sauron_portal_edit', {'id': portal.id} ) }}">Editar</a> 
                        </td> 
                           
                    </tr>
                {% endfor %}
            </tbody>
         </table>
    </div>
{% endblock %}

