<!-- Modal -->
<div class="modal izquierda fade" id="dialog-form-redibujar-ref" class="modal" aria-labelledby="modalActividadNewLabel"
     aria-hidden="true"  data-backdrop="false" data-keyboard="true"  tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closeMapa" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="col-md-12" style="text-align: center;">
                    <h4 class="modal-title" id="myModalLabel">Redibujar Referencia</h4>
                    <h5 class="modal-title" id="nombreProyecto"></h5>
                </div>
            </div>
            <div class="modal-body">
                <div id="modal-body-actividad" style="text-align: center;">
                    <form id="formrr_referencia" class="form-horizontal" action="#" method="POST" > 
                        <fieldset>
                            {{ form_errors(formrr_referencia) }}

                            {{ form_widget(formrr_referencia.referencia_id) }}
                            {{ form_widget(formrr_referencia.poligono) }}
                            {{ form_widget(formrr_referencia.centro) }}
                            {{ form_widget(formrr_referencia.radio) }}
                            {{ form_widget(formrr_referencia.color) }}
                            {{ form_widget(formrr_referencia.transparencia) }}
                            {{ form_widget(formrr_referencia.area) }}
                            <input type="hidden" id="referencia_dibujo" name="formrr[dibujo]" value="2">
                            <table class="table-dialog">
                                <tr>
                                    <th>Referencia</th>
                                    <td><b><div id="rr_nombre-referencia" style="font-size: 14px;"></div></b></td>
                                </tr>
                                <tr>
                                    <th>Icono</th>
                                    <td>
                                        {{ form_widget(formrr_referencia.pathIcono) }}
                                        <img id="rr_zona-icono" class="icono-dialog" src="" />
                                        <a href="#" data-target="#modalIcono" data-toggle="modal" >Seleccionar Icono</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Dibujo</th>
                                    <td>
                                        <div id="rr_dibujo"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Color</th>
                                    <td>
                                        {# <div id="rr_colorSelector"><div style="background-color: rgb(37, 139, 176);"></div></div> #}
                                        <input type='text' id="rr_colorSelector" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Transparente</th>
                                    <td>
                                        <div id="rr_transparentSelector" style="width: 200px"></div>
                                    </td>
                                </tr>

                            </table>
                        </fieldset>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                {#<a  data-toggle="modal" href="#modalProducto2" class="btn btn-success pull-left" title="Agrega un producto al deposito">Nuevo producto</a>#}
                <input type="button" class="btn btn-primary" value="Aceptar" onclick="dialogformRedibujoPost()"/>
                <input type="button" class="btn" value="Cancelar" onclick="dialogformRedibujoCancel()"/>
            </div>
        </div>
    </div>
</div>     
<style>
    .izquierda { //mandamos el modal a la izquierda para poder modificar el mapa
        position: fixed;
        top: 0;
        height: 500px;
        width: 610px;
        /* right: 0; */
        bottom: 0;
        left: 30px;
        z-index: 1050;
        overflow: auto;
        overflow-y: auto;
    }
</style>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.logo-small').click(function (event) {
            path = jQuery(event.target).attr('src');
            document.getElementById('rr_zona-icono').src = path;
            document.getElementById('formrr_pathIcono').value = path;
            $('#modalIcono').modal('toggle'); //cierro el form
            return false;
        });


    })
</script>