<!-- Modal -->
<div class="modal fade" id="modalReferenciaQuitar" role="dialog" aria-labelledby="modalActividadNewLabel" aria-hidden="true" style="display: none;overflow: scroll;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="col-md-12" style="text-align: center;">
                    <h4 class="modal-title" id="myModalLabel"><div id="tituloreferencia">Eliminar Referencia</div></h4>
                    <h5 class="modal-title" id="nombreReferencia"></h5>
                </div>
            </div>
            <div class="modal-body">
                <form id="formReferenciaQuitar" class="form-horizontal">
                    <input type="hidden" id="referencia_quitar_id" name="referencia_quitar[id]"/>
                    <input type="hidden" id="referencia_quitar_unica" name="referencia_quitar[unica]"/>
                </form> 
            </div>
            <div class="modal-footer">
                <div class="col-md-12" style="padding-top: 25px;">
                    {#<a  data-toggle="modal" href="#modalProducto2" class="btn btn-success pull-left" title="Agrega un producto al deposito">Nuevo producto</a>#}
                    <button id="btnReferenciaQuitar" type="button" class="btn btn-primary" >Quitar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
