<!-- Modal -->
<div class="modal fade" id="modalReferenciaNew" role="dialog" aria-labelledby="modalActividadNewLabel" aria-hidden="true" style="display: none;overflow: scroll;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {#<button type="button" class="close" id="closeMapa" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>#}
                <div class="col-md-12" style="text-align: center;">
                    <h4 class="modal-title" id="myModalLabel"><div id="tituloreferencia">Crear Nueva Referencia</div></h4>
                    <h5 class="modal-title" id="nombreProyecto"></h5>
                </div>
            </div>
            <div class="modal-body">
                <form id="formReferenciaNew" class="form-horizontal">
                    <div class="col-md-12" style="padding-top: 10px;">
                        <div class="col-md-6">
                        {{ form_widget(formReferencia.nombre) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(formReferencia.pathIcono) }}
                            <br>
                            <div class="controls">
                                <img id="mostrar-icono" class="logo-small" src="{{ asset('/images/iconos/ball.png') }}" />
                                <a href="#" data-target="#modalIcono" data-toggle="modal" >Seleccionar Icono</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            {{ form_widget(formReferencia.dibujo) }}
                        </div>

                        <div class="col-md-4">
                            {{ form_widget(formReferencia.color) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(formReferencia.transparencia) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            {{ form_widget(formReferencia.tipoReferencia) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(formReferencia.categoria) }}
                        </div>
                    </div>
                            {{ form_widget(formReferencia.poligono) }}
                            {{ form_widget(formReferencia.area) }}
                            {{ form_widget(formReferencia.centro) }}
                            {{ form_widget(formReferencia.unica) }}
                            {{ form_widget(formReferencia.actividad) }}
                </form>
                <div class="col-md-12" style="padding-top: 10px;">
                    {{ mapa.renderHtml()|raw }}  
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12" style="padding-top: 25px;">
                    {#<a  data-toggle="modal" href="#modalProducto2" class="btn btn-success pull-left" title="Agrega un producto al deposito">Nuevo producto</a>#}
                    <button id="btnReferenciaAdd" type="button" class="btn btn-primary" >Agregar</button>
                    <button id="btnReferenciaCancelar" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.logo-small').click(function (event) {

            path = jQuery(event.target).attr('src');
            document.getElementById('mostrar-icono').src = path;
            document.getElementById('referencia_pathIcono').value = path;
            $('#modalIcono').modal('toggle'); //cierro el form
            return false;
        });


    })
</script>

