<div class="modal fade" id="modalIcono" role="dialog" aria-labelledby="modalRetirarNewLabel" aria-hidden="true" style="z-index: 999999;display: none; height: 500px; overflow: auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="col-md-12" style="text-align: center;">
                    <h4 class="modal-title" id="myModalLabel">Seleccionar Icono</h4>
                    <h5 class="modal-title" id="nombreProyecto"></h5>
                </div>
            </div>
            <div class="modal-body" style="text-align: center;">
                <table class="table table-condensed">
                    <tbody>
                        {% for icono in iconos %}
                            {% if (loop.index%12) == 0%}
                                <tr>
                                {% endif %}
                                <td><a href="#" data-dismiss="modal"><img class="logo-small" src="{{ asset(icono)}}" /></a></td>
                                        {% if (loop.index%12) == 11%}  
                                </tr>
                            {% endif %}
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>