{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ input.servicio }}{% endblock %}
{% block subtitulo %}Edición de entradas digitales{% endblock %}

{% block formulario %}
<script type='text/javascript'>
jQuery(document).ready(function() {
      $("#inputs_abbr").attr('maxlength','5');
    jQuery('.logo-small').click(function(event) {
        path = jQuery(event.target).attr('src');
        document.getElementById('mostrar-icono').src= path;
        document.getElementById('inputs_icono').value= path;
        document.getElementById('#modalIcono').modal('hide');
        return false;
    });
})
</script>    

<form class="form-horizontal"  method="POST" >
    <fieldset>
    <div class="row-fluid">
        <div>{{ form_errors(form) }}</div>
        <div class="span8">
            <h3>Datos del Sensor</h3>
            <fieldset>
                {{ form_widget(form.nombre) }}
                {{ form_widget(form.abbr) }}
                {{ form_widget(form.modeloSensor) }}
                <div class="control-group ">
                    <label class="control-label">Icono</label>
                    <div class="controls">
                        {{ form_widget(form.icono) }}
                        <img id="mostrar-icono" class="logo-small" src="{{ input.icono }}" />
                        <a href="#modalIcono" data-toggle="modal">Seleccionar Icono</a>
                        <div id="modalIcono" class="modal hide fade">
                            <div class="modal-header">
                                <a href="#" class="close">&times;</a>
                                <h3>Seleccionar Icono de Input</h3>
                            </div>
                            <div class="modal-body">
                                <table>
                                    <tbody>
                                        {% for icono in iconos %}
                                            {% if (loop.index%12) == 0%}<tr>{% endif %}
                                                <td>
                                                    <a href="#" data-dismiss="modal">
                                                        <img class="logo-small" src="{{ asset(icono)}}" />
                                                    </a>
                                                </td>
                                            {% if (loop.index%12) == 11%}</tr>{% endif %}
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>                    
                {{ form_rest(form) }}
            </fieldset>
        </div>
        <div class="span3"> 
            {% include "sauron/Inputs/info_extra.html.twig" %}  
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Cambiar" />
        <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
    </div>
    </fieldset>
</form>
{% endblock %}
