<h4>Información</h4>
<ul class="unstyled">
    <li><b>Nombre:</b> Descripción clara del sensor, p/ej. Apertura Puerta Derecha </li>
    <li><b>Abreviatura:</b> Le servirá para identificar el sensor en el mapa. Sea claro. </li>
</ul>
