{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "sauron/Inputs/delete_form.html.twig" %}
{% endblock %} 
        
{% block titulo %}Datos de la Entrada Digital{% endblock %}
{% block contentpanel %}
<div class="row-fluid row-show">
    <div class="span7">
        <h3>Datos del Sensor</h3>
        {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': input.nombre } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Abreviatura', 'data': input.abbr } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Modelo', 'data': input.modeloSensor.nombre } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Icono', 'data': '', 'img': input.icono } %} 
    </div>
    <div class="span4"> 
        {% include "sauron/Sensor/info_extra.html.twig" %}  
    </div>
</div>
{% endblock %}
