{% extends 'app/Template_aker/show.html.twig' %}

{% block titulo %}
  Prudencia Vial
{% endblock %}

{% block js %}
  {{ parent() }}
  {{ mapa.renderJs()|raw }}
  <script>
  {% include "informe/Templates/prudencia_vial/v1/index.js" %} 
  {# {% include "apmon/Mapa/auxiliares.script.js" %} #}
{% include "apmon/Mapa/gmaps-lib.script.js" %}
  </script>
{% endblock %}

{% block informacion %}
   {% include "informe/Templates/prudencia_vial/v1/informacion.html.twig" with {'uid' : inbox.uid, 'dataInforme': dataInforme, 'notIsEmpty' : notIsEmpty} %}
{% endblock %}
{% block contentpanel %}
   {% include "informe/Templates/prudencia_vial/v1/popup_detalle.html.twig" %}
   {% include "app/Template_aker/popup_load.html.twig" %}
{% if notIsEmpty%}
    {% for key, datos in data %}
      <div class="col-md-12">
         {% include "informe/Templates/prudencia_vial/v1/resumen.html.twig" with {'id': key, 'datos' : datos} %}
      </div>
    {% endfor %}
      {% else %}
      <legend>Informe sin datos...</legend>
      {% endif %}
{% endblock %}
