{% if datos.total > 0 %}
  <div class="row">
    <div class="row" style="display: flex;">
      <div class="col-md-8">
        <h3>{{ datos.nombre }}</h3>
      </div>
      </div>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Mapa</th>
          <th>Descripción</th>
          <th>Riesgo Leve</th>
          <th>Riesgo Medio</th>
          <th>Riesgo Alto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="2">
            <button onclick="detalle('{{ inbox.uid }}','{{ id }}')" title="ver detalles de este servicio" class="btn btn-sm btn-default"><i class="fa fa-eye"></i></button>
          </td>
          <td>Referencias</td>
          <td>{{ datos.leve.referencia }}</td>
          <td>{{ datos.medio.referencia }}</td>
          <td>{{ datos.alto.referencia }}</td>
        </tr>
        <tr>
          <td>Rutas y Avenidas</td>
          <td>{{ datos.leve.osm }}</td>
          <td>{{ datos.medio.osm }}</td>
          <td>{{ datos.alto.osm }}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endif %}
