{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
    {{ cliente }}
{% endblock %}

{% block subtitulo %}
    Cambio de datos
{% endblock %}

{% block formulario %}    
      <form class="form-horizontal"  method="POST" >
        <fieldset>
        <div class="row-fluid">
            <div>{{ form_errors(form) }}</div>
            <div class="span7">
                {{ form_widget(form.nombre) }}
                {{ form_widget(form.direccion) }}
                {{ form_widget(form.telefono_oficina) }}
                {{ form_widget(form.email) }}    
                {{ form_widget(form.web_site) }}
                {{ form_widget(form.dato_fiscal) }}
                {{ form_widget(form.proveedor_mapas) }}
                {{ form_widget(form.limite_historial) }}
            </div>
            <div class="span4"> 
                <h4>Extra</h4>
                Su distribuidor es: <b>{{ cliente.OrganizacionPadre|length != null ? cliente.OrganizacionPadre : "root" }}</b><br/>
            </div>
        </div>                
        {{ form_rest(form) }}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Actualizar" />
            <a href="{{ app.session.get('volver')}}" class="btn">Cancelar</a>
        </div>
        </fieldset>
    </form>
</div>
{% endblock %}