{% extends "app/Template/show.html.twig" %}

        
{% block titulo %}Mi cuenta{% endblock %}
{% block subtitulo %}{{ cliente.nombre }}{% endblock %}
    
{% block contentpanel %}    
<div class="row-fluid row-show">
    <div class="span6">
        <h3>Datos Principales</h3>
        {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': cliente.nombre } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Dirección', 'data': cliente.direccion } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Teléfono', 'data': cliente.telefonoOficina } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Email', 'data': cliente.email } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Web Site', 'data': cliente.webSite } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Organizacion Padre', 'data': cliente.organizacionPadre } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Creado en', 'data': cliente.createdAt|date('d-m-Y H:m') } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Actualizado en', 'data': cliente.updatedAt|date('d-m-Y H:m')  } %} 
        {% include "app/Template/show_row.html.twig" with {'label': 'Identifiación Fiscal', 'data': cliente.datoFiscal } %} 
    </div>

    <div class="span5">
         <h3>Módulos Habilitados</h3>
         {% include "apmon/Cliente/show_modulos.html.twig" with {'organizacion': cliente} %} 
    </div>
</div>
{% endblock %}
