{% extends "app/Template/informe_result.html.twig" %}

{% block title %}Informe de Trabajo en Referencia{% endblock %}
{% block titulo %}Informe de Trabajo en Referencia{% endblock %}

{% block informacion %}
    Desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }} </b> Tolerancia: <b>{{consulta.tolerancia}}</b>.
    [ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
    <form name="formexport" action="{{ path('informe_agro_referencia_exportar', {'tipo':  '0', 'id': organizacion.id }) }}" method="POST" >
        <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
        <input type="hidden" name="total" value="{{total|json_encode() }}"/>
        <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
    </form>

{% endblock %}

{% block contentpanel %}
    {% if informe is not null %}
        {% if informe|length > 0 %}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Referencia</th>
                        <th>Servicio</th>
                        <th>Ingreso</th>
                        <th>Egreso</th>
                        <th>Kms recorrido</th>
                        <th>Superficie (Ha)</th>
                        <th title="Superficie / Tiempo en Movimiento">Rendimiento (Ha/h)</th>
                        <th title="Tiempo detenido">Tpo detenido (horas)</th>
                        <th title="Tiempo en movimiento">Tpo en movimiento (horas)</th>
                        <th>Motor encendido (horas)</th>
                        <th>Vel promedio (km/h)</th>
                        <th>Vel maxima (km/h)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for referencia in informe %}
                        {% for servicio in referencia.servicios %}
                            {% for paso in servicio.pasos %}
                                <tr>
                                    <th>{{ referencia.nombre }}</th>
                                    <th>{{ servicio.nombre }}</th>
                                    <td>{{ paso.fecha_ingreso|date('d-m-Y H:i:s')|default('---') }}</td>
                                    <td>{{ paso.fecha_egreso|date('d-m-Y H:i:s') |default('---')}}</td>
                                    <td>{{ paso.km_total|number_format(3, ',', '.')|default('---') }}</td>
                                    <td>{{ paso.superficie|number_format(3, ',', '.')|default('---') }}</td>
                                    <td>{{ paso.rendimiento|number_format(3, ',', '.')|default('---') }}</td>
                                    <td>{{ paso.tiempo_detenido|default('---') }}</td>
                                    <td>{{ paso.tiempo_movimiento|default('---') }}</td>
                                    <td>{{ paso.tiempo_motor_encendido|default('---') }}</td>
                                    <td>{{ paso.velocidad_promedio|number_format(1, ',', '.')  }}</td>
                                    <td>{{ paso.velocidad_maxima|number_format(1, ',', '.')  }}</td> 

                                </tr>
                            {% endfor %}

                            {# agrego el total #}
                            {% if total[referencia.id][servicio.id].superficie > 0 %}
                                <tr>
                                    <th colspan="4">Totales</th>
                                    <th>{{ total[referencia.id][servicio.id].km_total|number_format(3, ',', '.')|default('---') }}</th>
                                    <th>{{ total[referencia.id][servicio.id].superficie|number_format(3, ',', '.') |default('---')}}</th>                   
                                    <th>{{ total[referencia.id][servicio.id].rendimiento|number_format(3, ',', '.') |default('---')}}</th>                   
                                    <th>{{ total[referencia.id][servicio.id].tiempo_detenido|default('---') }}</th>
                                    <th>{{ total[referencia.id][servicio.id].tiempo_movimiento|default('---') }}</th>
                                    <th>{{ total[referencia.id][servicio.id].tiempo_motor_encendido |default('---')}}</th>
                                    <th>{{ total[referencia.id][servicio.id].velocidad_promedio|number_format(1, ',', '.')|default('---') }}</th>
                                    <th>{{ total[referencia.id][servicio.id].velocidad_maxima|number_format(1, ',', '.')|default('---') }}</th>
                                </tr>
                            {% endif %}

                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <em>No se registran pasos por referencia.</em>
        {% endif %}
    {% endif %}

{% endblock %}
