{% extends "app/Template/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block title %}Informe de Trabajo en Referencias{% endblock %}
{% block titulo %}Informe de Trabajo en Referencias{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $.timepicker.setDefaults($.timepicker.regional["es"]);
            $("#informeref_desde").datetimepicker({
                defaultDate: "today",
                changeMonth: true,
                numberOfMonths: 2,
                maxDate: "today",
                        minDate:{{ limite_historial }},
                        onClose: function (selectedDate) {
                            $("#informeref_hasta").datetimepicker("option", "minDate", selectedDate);

                            var parts = selectedDate.split("/");
                            var dt = new Date(parseInt(parts[2], 10),
                                    parseInt(parts[1], 10) - 1,
                                    parseInt(parts[0], 10));

                            var p = new Date(dt);
                            p.setDate(dt.getDate() + 35);
                            var now = new Date();
                            if (p.getTime() > now.getTime()) {
                                p = now;
                            }

                            $("#informeref_hasta").datetimepicker("option", "setDate", p);
                            $("#informeref_hasta").datetimepicker("option", "maxDate", p);
                            $("#informeref_hasta").datetimepicker("option", "defaultDate", p);
                        }
            });
            $("#informeref_hasta").datetimepicker({
                changeMonth: true,
                numberOfMonths: 2,
                dateFormat: 'dd/mm/yy',
                        minDate:{{ limite_historial }},
                        onClose: function (selectedDate) {
                            $("#from").datetimepicker("option", "maxDate", selectedDate);
                        }
            });
         
        });
    </script>
{% endblock %}

{% block informacion %}
    <div style="float: right">
        <a href="javascript:void(0);" onclick="javascript:introJs().start();">Ayuda</a>
    </div>
{% endblock %}

{% block formulario %}
    <form id="form" class="form-horizontal" action="{{ path('informe_agro_referencia_generar', {'id': organizacion.id}) }}"  method="POST" >
        {{ form_errors(form) }}
        <fieldset>
            <div data-step="1" data-intro="{% include "informe/AgroReferencia/help.html.twig" with {'step': '1' } %}">
                {{ form_widget(form.destino, { 'attr': {'class': 'medium'} }) }}
            </div>
            <div data-step="2" data-intro="{% include "informe/AgroReferencia/help.html.twig" with {'step': '2' } %}">
                {{ form_widget(form.referencia, { 'attr': {'class': 'medium'} }) }} 
            </div>
            <div data-step="3" data-intro="{% include "informe/AgroReferencia/help.html.twig" with {'step': '3' } %}">
                {{ form_widget(form.servicio, { 'attr': {'class': 'medium'} }) }}
            </div>
            <div data-step="4" data-intro="{% include "informe/AgroReferencia/help.html.twig" with {'step': '4' } %}">
                {{ form_widget(form.melga, { 'attr': {'class': 'medium'} }) }}
            </div>
            <div data-step="4" data-intro="{% include "informe/AgroReferencia/help.html.twig" with {'step': '5' } %}">
                {{ form_widget(form.ancho, { 'attr': {'class': 'medium'} }) }}
            </div>
            <div data-step="5" data-intro="{% include "informe/AgroReferencia/help.html.twig" with {'step': '6' } %}">
                {{ form_widget(form.desde, { 'attr': {'class': 'medium'} }) }}
                {{ form_widget(form.hasta, { 'attr': {'class': 'medium'} }) }}
            </div>                
            {{ form_widget(form._token) }} 
            <div class="form-actions" style="background-color: white">
                <button type="submit" class="btn btn-primary">Generar Informe</button>
                <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>
        </fieldset>
    </form>
{% endblock %}
