<table class="table table-condensed">

    <thead>
        <tr>
            <th>Fecha</th>
            <th>Tipo de Carga</th>
            <th title='Km al momento de la cargar GPS'>Km GPS</th>
            <th title='Km al momento de la cargar TABLERO'>Km Tablero</th>
            <th>Litros</th>
            <th>Kms Recorridos GPS</th>
            <th>Kms Recorridos Tablero</th>
            <th>Consumo GPS (l/100km)</th>
            <th>Consumo Tablero (l/100km)</th>
            <th title='Consumo teórico por Km recorridos GPS'>Consumo Teórico</th>
            <th>Horas ralentí</th>
            <th>Consumo teorico ralentí</th>
            <th title='Cons. teorico ralentí + Cons. Teórico'>Total</th>

        </tr>
    </thead>
    <tbody>
        {% for entrada in informe %}
            <tr>
                <td>{{ entrada.carga1.fecha}}</td>
                <td>{{ entrada.carga1.tipoCarga}}</td>
                <td>{{ entrada.carga1.odometro}}</td>
                <td>{{ entrada.carga1.odometroTablero > 0 ? entrada.carga1.odometroTablero : '---'}}</td>
                <td>{{ entrada.parcial.litros}}</td>
                <td>{{ entrada.parcial.kilometros}}</td>
                <td>{{ entrada.carga1.odometroTablero > 0 ? entrada.parcial.kilometrosTablero|number_format(2, ',', '.') : '---'}}</td>
                <td>{{ entrada.parcial.litrosCienKms|number_format(2, ',', '.')}}</td>
                <td>{{ entrada.carga1.odometroTablero > 0 ? entrada.parcial.litrosCienKmsTablero|number_format(2, ',', '.') : '---'}}</td>
                <td>{{ entrada.parcial.consumoTeoricoPorKm|number_format(2, ',', '.')}}</td>
                <td>{{ entrada.parcial.ralenti|number_format(2, ',', '.')}}</td>
                <td>{{ entrada.parcial.consumoTeoricoRalenti|number_format(2, ',', '.')}}</td>
                <td>{{ entrada.parcial.consumoTotal|number_format(2, ',', '.')}}</td>
            </tr>
        {% endfor %}
        <tr>
            <td><b>{{ carga0.fecha}}</b></td>
            <td><b>{{ carga0.tipoCarga}}</b></td>
            <td><b>{{ carga0.odometro}}</b></td>
            <td><b>{{ carga0.odometroTablero > 0 ? carga0.odometroTablero : '---'}}</b></td>
            <td><b><== 1ra Carga</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>