<table class="table table-condensed">

    <thead>
        <tr>
            <th>Servicio</th>
            <th>Cargas</th>
            <th>Primera Carga</th>
            <th>Última  Carga</th>
            <th>Litros</th>
            <th>Rendim. Teorico (lts/100km)</th>
            <th>Rendim. Teorico (lts/Hora) </th>
            <th>Kms Recorridos GPS</th>
            <th>Kms Recorridos Tablero</th>
            <th>Consumo GPS (l/100km)</th>
            <th>Consumo Tablero (l/100km)</th>
            <th title='Consumo teórico por Km recorridos GPS'>Consumo Teórico</th>
            <th>Horas ralentí</th>
            <th>Consumo teorico ralentí</th>
            <th title='Cons. teorico ralentí + Cons. Teórico'>Total</th>
            
        </tr>
    </thead>
    <tbody>
        {% for entrada in informe %}
            <tr>
                <td>{{ entrada.servicio}}</td>
                <td>{{ entrada.cantidad}}</td>
                <td>{{ entrada.fecha_prim}}</td>
                <td>{{ entrada.fecha_ult}}</td>
                <td>{{ entrada.litros}}</td>
                <td>{{ entrada.rendimiento}}</td>
                <td>{{ entrada.rendimientoHora}}</td>
                <td>{{ entrada.distancia > 0 ? entrada.distancia|number_format(2, ',', '.') : '---'}}</td>
                <td>{{ entrada.distanciaTablero > 0 ? entrada.distanciaTablero|number_format(2, ',', '.') : '---'}}</td>
                <td>{{ entrada.litrosCienKms|number_format(2, ',', '.')}}</td>
                <td>{{ entrada.distanciaTablero > 0 ? entrada.litrosCienKmsTablero|number_format(2, ',', '.') : '---'}}</td>
                <td>{{ entrada.consumoTeoricoPorKm|number_format(2, ',', '.')}}</td>
                <td>{{ entrada.ralenti|number_format(2, ',', '.')}}</td>
                <td>{{ entrada.consumoTeoricoRalenti|number_format(2, ',', '.')}}</td>
                <td>{{ entrada.consumoTotal|number_format(2, ',', '.')}}</td>
                <td></td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>