<table class="table table-condensed">
	<thead>
		<tr>
			<th>Servicio</th>
			<th>Cargas</th>
			<th>Primera Carga</th>
			<th>Última  Carga</th>
			<th>Litros</th>
			{% if consulta.unidad == 1 %}
				<th>Kilometros GPS</th>
				<th>Km/Litro GPS</th>
				<th>Consumo GPS (l/100km)</th>
				<th>Kilometros Tablero</th>
				<th>Km/Litro Tablero</th>
				<th>Consumo Tablero (l/100km)</th>
			{% else %}
				<th>Horas</th>
				<th>Litros/Hora</th>
				<th>Horas/100 Litros</th>
			{% endif %}


		</tr>
	</thead>
	<tbody>
		{% for entrada in informe %}
			{% if entrada.servicio is defined %}
				<tr>
					<td>{{ entrada.servicio }}</td>
					<td>{{ entrada.cantidad }}</td>
					<td>{{ entrada.fecha_prim }}</td>
					<td>{{ entrada.fecha_ult }}</td>
					<td>{{ entrada.litros|number_format(2, ',', '.') }}</td>
					{% if consulta.unidad == 1 %}
						<td>{{ entrada.distancia|number_format(2, ',', '.') }}</td>
						<td>{{ entrada.kmLitro|number_format(2, ',', '.') }}</td>
						<td>{{ entrada.litrosCienKms|number_format(2, ',', '.') }}</td>
						<td>{{ entrada.distanciaTablero|number_format(2, ',', '.') }}</td>
						<td>{{ entrada.kmLitroTablero|number_format(2, ',', '.') }}</td>
						<td>{{ entrada.litrosCienKmsTablero|number_format(2, ',', '.') }}</td>
					{% else %}
						<td>{{ entrada.horas|number_format(2, ',', '.') }}</td>
						<td>{{ entrada.litrosHora|number_format(2, ',', '.') }}</td>
						<td>{{ entrada.horasCienLitros|number_format(2, ',', '.') }}</td>
					{% endif %}

				</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>
