<table class="table table-condensed">
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th style="text-align: center">TOTALES ==></th>
                <th>{{ totales.litros|number_format(1, ',', '.') }}</th>
                {% if consulta.unidad == 1 %}
                <th>{{ totales.kilometros|number_format(1, ',', '.') }}</th>
                <th>{{ totales.kmLitro|number_format(1, ',', '.') }}</th>
                <th>{{ totales.litrosCienKms|number_format(1, ',', '.') }}</th>

            {% else %}
                <th>{{ totales.horas|number_format(1, ',', '.') }}</th>
                <th>{{ totales.litrosHora|number_format(1, ',', '.') }}</th>
                <th>{{ totales.horasCienLitros|number_format(1, ',', '.') }}</th>

            {% endif %}


        </tr>

    </tfoot>
    <thead>
        <tr>
            <th colspan="3">Carga Inicial</th>
            <th colspan="1">Carga Final</th>
            <th colspan="4">Consumo</th>
        </tr>
        <tr>
            <th>Fecha</th>
            <th>Tipo de Carga</th>
            <th>Lugar</th>
            <th>Fecha</th>
            <th>Litros</th>
                {% if consulta.unidad == 1 %}
                <th>Kilometros</th>
                <th>Km/Litro</th>
                <th>Litros/100Kms</th>
                {% else %}
                <th>Horas</th>
                <th>Litros/Hora</th>
                <th>Horas/100 Litros</th>
                {% endif %}


        </tr>
    </thead>
    <tbody>
        {% for entrada in informe %}
            <tr>
                <td>{{ entrada.carga1.fecha}}</td>
                <td>{{ entrada.carga1.tipoCarga }}</td>
                <td>{{ entrada.carga1.lugar }}</td>
                <td>{{ entrada.carga2.fecha }}</td>
                <td>{{ entrada.parcial.litros|number_format(2, ',', '.') }}</td>
                {% if consulta.unidad == 1 %}
                    <td>{{ entrada.parcial.kilometros|number_format(2, ',', '.') }}</td>
                    <td>{{ entrada.parcial.kmLitro|number_format(2, ',', '.') }}</td>
                    <td>{{ entrada.parcial.litrosCienKms|number_format(2, ',', '.') }}</td>
                {% else %}
                    <td>{{ entrada.parcial.horas|number_format(2, ',', '.') }}</td>
                    <td>{{ entrada.parcial.litrosHora|number_format(2, ',', '.') }}</td>
                    <td>{{ entrada.parcial.horasCienLitros|number_format(2, ',', '.') }}</td>
                {% endif %}

            </tr>
        {% endfor %}
    </tbody>
</table>