<table class="table table-condensed">
    <tfoot>
        <tr>
            <th></th>
            <th style="text-align: center">TOTALES ==></th>
            <th>{{totales.totalEquipo}}</th>
            <th>{{totales.totalSistema}}</th>
            <th>{{totales.totalDiferencia}}</th>
                <th></th>
                <th></th>
            <th>{{ totales.litros|number_format(1, ',', '.') }}</th>
            <th>{{ totales.distancia|number_format(1, ',', '.') }}</th>
            <th>{{ totales.velocidad_promedio|number_format(2, ',', '.') }}</th>
            <th style="text-align: center">{{ totales.rendimiento|number_format(2, ',', '.') }}</th>
        </tr>
    </tfoot>
    <thead>
        <tr>
            <th colspan="5">Carga 1</th>
            <th colspan="4">Carga 2</th>
            <th colspan="4">Segun sistema</th>
        </tr>
        <tr>
            <th>Fecha</th>
            <th>Lugar</th>
            <th>S/Sistema</th>
            <th>S/Ticket</th>
            <th>Diferencia</th>
            <th>Fecha</th>
            <th>Lugar</th>
            <th>S/Ticket</th>
            <th>Distancia (km)</th>
            <th>Promedio (km/h)</th>
            <th>Rendimiento (km/lt)</th>
        </tr>
    </thead>
    <tbody>
        {% for entrada in informe %}
            <tr>
                <td>{{ entrada.carga1.fecha|date('d-m-Y H:i') }}</td>
                <td>{{ entrada.carga1.lugar }}</td>
                <td>{{ entrada.carga1.reales|default(0)|number_format(2, ',', '.')}}</td>
                <td>{{ entrada.carga1.litros|number_format(2, ',', '.') }}</td>
                {% if entrada.carga1.diferencia < 0 %}
                    <td style="color: red"> {{ entrada.carga1.diferencia|number_format(2, ',', '.') }}</td>
                {% else %}
                    <td style="color: black"> {{ entrada.carga1.diferencia|number_format(2, ',', '.') }}</td>
                {% endif %}
                <td>{{ entrada.carga2.fecha|date('d-m-Y H:i') }}</td>
                <td>{{ entrada.carga2.lugar }}</td>
                <td>{{ entrada.carga2.litros|number_format(1, ',', '.') }}</td>
                <td>{{ entrada.historial.distancia|number_format(1, ',', '.') }}</td>
                <td>{{ entrada.historial.velocidad_promedio|number_format(1, ',', '.') }}</td>
                {% if (entrada.rendimiento_teorico|default(0) > entrada.historial.rendimiento) %}
                    <td style="background-color: red; text-align: center">
                    {% elseif entrada.rendimiento_teorico|default(0) == 0  %}
                    <td style="background-color: white; text-align: center">        
                    {% else %}
                    <td style="background-color: green; text-align: center">
                    {% endif %}
                    {{ entrada.historial.rendimiento|number_format(2, ',', '.') }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>