    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var arr = new Array();
            var i = 1;
        {% if consulta.unidad == 1 %}
                arr[0] = ['Fecha', 'Litros/100 Kms'];
        {% elseif consulta.unidad == 2  %}
                arr[0] = ['Fecha', 'Horas/100 Litros'];
        {% else %}
                arr[0] = ['Fecha', 'Litros/100 Kms GPS', 'Litros/100 Kms TABLERO', 'Teorico Ralenti'];
        {% endif %}
        {% for value in dt %}
            {% if consulta.unidad == 1 %}
                      arr[i] = ['{{value['fecha']}}', parseFloat('{{value['litrosCienKms']}}')];
            {% elseif consulta.unidad == 2  %}
                        arr[i] = ['{{value['fecha']}}', parseFloat('{{value['horasCienLitros']}}')];
            {% else %}
                      arr[i] = ['{{value['fecha']}}', parseFloat('{{value['litrosCienKms']}}'), parseFloat('{{value['litrosCienKmsTablero']}}'), parseFloat('{{value['consumoTeoricoRalenti']}}')];
            {% endif %}
                      i++;
        {% endfor %}
                    var data = google.visualization.arrayToDataTable(arr);

                    var options = {
                        title: 'Rendimiento',
                        height: 380,
                        curveType: 'function',
                        legend: {position: 'rigth'},
                    };

                    var chart = new google.visualization.ColumnChart(document.getElementById('myArea1'));
                    chart.draw(data, options);
                }
    </script>


    <div id="myArea1">&nbsp;</div>

    <em>NOTA: el rendimiento se encuentra multiplicado x10 para que se obtenga una mejor representatividad en el gráfico.</em>
