<table id="tablaResultado" class="table table-condensed table-bordered">
	<thead>
		<tr>
			<th colspan="4"></th>
			<!-- Espacio vacío para las columnas que no se agrupan -->
			<th colspan="5">Segun GPS</th>
			<!-- Agrupamos las columnas de GPS -->
			<th colspan="4">Segun Tablero</th>
			<!-- Agrupamos las columnas de tablero -->
			<th colspan="2">Teórico</th>
			<!-- Agrupamos las columnas de Teórico -->
		</tr>
		<tr>
			<th></th>
			<th style="width:170px ;">Servicio</th>
			<th>Cargas</th> 
			{# <th>Primera Carga</th> #}
			{# <th>Última Carga</th> #}
			<th>Litros</th>

			<th>kms</th>
			<th>Consumo Kms</th>
			<th>Horas</th>
			<th>Lts/Hora</th>
			<th>Hs/ 100Lts</th>
			
			<th>kms</th>
			<th>Consumo kms</th>
			<th>Horas</th>
			<th>Consumo Hs</th>

			<th>Km/Litro</th>
			<th>Hs/Litro</th>

		</tr>
	</thead>
	<tbody>
		{% for servicio, datos in informe %}
			<tr>
				<td class="details-control">
					<button class="btn btn-default btn-xs">+</button>
				</td>
				<!-- Columna para botón de expandir -->
				<td>
					{{ servicio }}
					{% if datos.isCanbus %}
					   <div class="label label-default" title="Canbus">CBus</div>
					{% endif %}
				</td>
				{#fechas#}
				<td>
				 del {{ datos.resumen.fecha_prim }} <br>
				 al {{ datos.resumen.fecha_ult }} ({{ datos.resumen.cantidad }})
				</td> 
				
				<td>{{ datos.resumen.litros|number_format(2, ',', '.') }}</td>

				{#segun gps#}
				<td>{{ datos.resumen.distancia|number_format(2, ',', '.') }}</td>
				<td>
					{{ datos.resumen.kmLitro|number_format(2, ',', '.') }} km/litro<br>
					{{ datos.resumen.litrosCienKms|number_format(2, ',', '.') }} lts/100kms
				</td>
				<td>{{ datos.resumen.horas|number_format(2, ',', '.') }}</td>
				<td>{{ datos.resumen.litrosHora|number_format(2, ',', '.') }}</td>
				<td>{{ datos.resumen.horasCienLitros|number_format(2, ',', '.') }}</td>

				{#segun tablero#}
				<td>
					{{ datos.totales.kilometrosTablero|number_format(2, ',', '.') }}
				</td>
				<td>
					{{ datos.totales.litrosKmTablero|number_format(2, ',', '.') }} km/litro<br>
					{{ datos.totales.litrosCienKmsTablero|number_format(2, ',', '.') }} lts/100kms
				</td>

				<td>
					{{ datos.totales.horasTablero|number_format(2, ',', '.') }}
				</td>
				<td>
					{{ datos.totales.litrosHoraTablero|number_format(2, ',', '.') }} lts/hora<br>
					{{ datos.totales.litrosCienHorasTablero|number_format(2, ',', '.') }} lts/100hs
				</td>
				
				<td>{{ datos.resumen.consumoTeoricoPorKm|number_format(2, ',', '.')}}</td>
				<td>{{ datos.resumen.consumoTeoricoPorHs|number_format(2, ',', '.')}}</td>
			</tr>

			{# Detalle de cada carga #}
			<tr class="child-row" style="display: none; background-color: ghostwhite;">
				<td colspan="18">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>Carga 1</th>
								<th>Carga 2</th>
								<th>Kms</th>
								<th>Litros</th>
								<th>kms/lt</th>
								<th>hr/lts</th>
								<th>Tablero</th>
								<th>Teorico</th>
							</tr>
						</thead>
						<tbody>
							{% for detalle in datos.detalle %}
								<tr>
									<td>{{ detalle.carga1.fecha }} ({{ detalle.carga1.tipoCarga }}) <b> {{ detalle.carga1.litros|number_format(2, ',', '.') }} lts. </b></td>                                    
                                    <td>{{ detalle.carga2.fecha }} ({{ detalle.carga2.tipoCarga }}) <b> {{ detalle.carga2.litros|number_format(2, ',', '.') }} lts.</b></td>
                                    <td>{{ detalle.parcial.kilometros|number_format(2, ',', '.') }}</td>
									<td>{{ detalle.parcial.litros|number_format(2, ',', '.') }}</td>
									<td>{{ detalle.parcial.kmLitro|number_format(2, ',', '.') }}</td>
									<td>{{ detalle.parcial.litrosHora|number_format(2, ',', '.') }}</td>

									{# tablero #}
									<td>
										{{ detalle.parcial.kilometrosTablero }} kms {{ detalle.parcial.litrosKmTablero|number_format(2) }} kms/lt {{ detalle.parcial.litrosCienKmsTablero|number_format(2) }} lts/100k <br>
										{{ detalle.parcial.horasTablero }} hs {{ detalle.parcial.litrosHoraTablero|number_format(2, ',', '.') }} hr/lt {{ detalle.parcial.litrosCienHorasTablero|number_format(2, ',', '.') }} lts/100h 
									</td>

									{# teorico #}
									<td>{{ detalle.parcial.consumoTeoricoPorKm|number_format(2, ',', '.') }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<script>
//DETALLE
$(document).ready(function() {
    // Agregar evento para expandir/cerrar filas al hacer clic en el botón
    $('#tablaResultado tbody').on('click', 'td.details-control button', function() {
        var tr = $(this).closest('tr');
        var nextRow = tr.next('tr.child-row');

        if (nextRow.is(':visible')) {
            // Cerrar la fila
            nextRow.hide();
            $(this).text('+'); // Cambiar el texto del botón
        } else {
            // Abrir la fila con el contenido de la tabla de detalles
            nextRow.show();
            $(this).text('-'); // Cambiar el texto del botón
        }
    });
    console.log('ready');
});

</script>