{% extends "app/Template_aker/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block title %}Informe de Rendimiento por Cargas
{% endblock %}
{% block titulo %}Informe de Rendimiento por Cargas
{% endblock %}

{% block js %}
	{{ parent() }}
	<script >
		{% include "fuel/InfoRendimientoCargas/informe.js" %}</script>
{% endblock %}

{% block informacion %}
	{% include "app/Template_aker/popup_load.html.twig" %}
	<div class="alert alert-info" role="alert">
		<div class="row">

			<form class="form-horizontal" id="formRendimiento" method="POST">
				{{ form_errors(form) }}
				<div class="col-md-2">{{ form_widget(form.destino) }}</div>
				<div class="col-md-3">{{ form_widget(form.servicio) }}</div>
				<div class="col-md-2">{{ form_widget(form.desde) }}</div>
				<div class="col-md-2">{{ form_widget(form.hasta) }}</div>
				{{ form_rest(form) }}
			</form>
			<div class="col-md-12">
				<div class="control-group ">
					<label class="control-label"></label>
					<div class="controls ">
						<button type="button" class="btn btn-default" id="consultar">Consultar</button>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="alert alert-xs alert-info">
			<em>La información de este informe se genera de acuerdo a las cargas de combustible realizadas. Tenga en cuenta que SOLO se puede
			calcular rendimiento cuando en el período seleccionado existen dos o mas cargas de combustible.
			</em>
		</div>
		<div id="content"></div>
	</div>
{% endblock %}
