
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var arr = new Array();
            var i = 1;
            arr[0] = ['Fecha', 'Veloc. Prom.','Rendimiento (x10)', 'Teorico (x10)'];
            {% for value in dt %}
                   arr[i] = ['{{value['fecha']}}', parseFloat('{{value['vel_promedio']}}'), parseFloat('{{value['rendimiento']}}'), parseFloat('{{value['teorico']}}')];
                   i++;
            {% endfor %}
                    var data = google.visualization.arrayToDataTable(arr);

                    var options = {
                        title: 'Rendimiento',
                        height: 380,
                        curveType: 'function',
                        legend: {position: 'rigth'},
                    };

                    var chart = new google.visualization.ColumnChart(document.getElementById('myArea1'));
                    chart.draw(data, options);
                }
    </script>





    <div id="myArea1">&nbsp;</div>

    <em>NOTA: el rendimiento se encuentra multiplicado x10 para que se obtenga una mejor representatividad en el gráfico.</em>
 