    {% if informe %}
        {% if informe|length > 0 %}
        <div class="row">
            <div class="alert alert-xs alert-warning">
                    <em>Se reportaron {{ informe|length }} consumos.</em>
                    Para <b>{{consulta.servicionombre}}</b> desde el <b>{{ consulta.desde }}</b>
                    hasta el <b>{{ consulta.hasta }}</b>.
                    <a href="javascript:void(0)" class="btn btn-default btn-xs" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> 
                    
                    
                        <form name="formexport" action="{{ path('fuel_info_rendimientocargas_exportarflota', {'tipo': '1'}) }}" method="POST" >
                            <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
                            <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
                        </form>    
                    

                </div>
                
                    {% include "fuel/InfoRendimientoCargas/informe_content_flota.html.twig" %}  
                
            {% else %}
            <div class="alert alert-xs alert-warning">
                    <em>No se registran consumos.</em>
                </div>
             {% endif %}
        </div>
    {% endif %}

