    {% if informe %}
        {% if informe|length > 0 %}
            <div class="alert alert-warning">
            <em>Se reportaron {{ informe|length +1}} cargas.</em>
                Para el servicio <b>{{ consulta.servicionombre }}</b> desde el <b>{{ consulta.desde }}</b>
                hasta el <b>{{ consulta.hasta }}</b> con un consumo teorico de <b>{{ consulta.rendimiento|default('---') }} lts/100km y
                {{ consulta.rendimientoHora|default('---') }} lts/Hora</b>.
                {% if isCanbus %}
                    [<a href="javascript:void(0)"  class="btn btn-default btn-xs" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> 
                    <form name="formexport" action="{{ path('fuel_info_rendimientocanbus_exportar', {'tipo': '0'}) }}" method="POST" >
                        <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
                        <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
                        <input type="hidden" name="totales" value="{{ totales|json_encode() }}"/>
                    </form>    

                {% else %}
                    <a href="javascript:void(0)" class="btn btn-default btn-xs" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> 
                    {% if consulta.unidad < 3 %}
                        <form name="formexport" action="{{ path('fuel_info_rendimientocargas_exportar', {'tipo': '0'}) }}" method="POST" >
                            <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
                            <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
                            <input type="hidden" name="totales" value="{{ totales|json_encode() }}"/>
                        </form>    
                    {% else %}
                        <form name="formexport" action="{{ path('fuel_info_rendimientocargas_exportar_detallada', {'tipo': '0'}) }}" method="POST" >
                        <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
                        <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
                        <input type="hidden" name="totales" value="{{ totales|json_encode() }}"/>
                        <input type="hidden" name="carga0" value="{{ carga0|json_encode() }}"/>
                    </form>    
                    {% endif %}


    {% endif %}

            </div>
            {% if isCanbus %}
                {% include "fuel/InfoRendimientoCargas/informe_content_canbus.html.twig" %}  
            {% else %}
                {% if consulta.unidad < 3 %} {# para kms por un lado y horas por otro #}
                    {% include "fuel/InfoRendimientoCargas/informe_content.html.twig" %}   
                {% else %} {# para kms  y horas juntos #}
                    {% include "fuel/InfoRendimientoCargas/informe_content_detallado.html.twig" %}  
                {% endif %}
            {% endif %}
        {% else %}
            <em>No se registran consumos.</em>
        {% endif %}
    {% endif %}

