{% extends "app/Template_aker/form.html.twig" %}

{% block titulo %}{{ grupo.organizacion }}{% endblock %}
{% block subtitulo %}{{ grupo.nombre }}{% endblock %}

{% block formulario %}
    <div class="panel panel-default">
        <div class="panel panel-body">
            <h3>Actualizar servicios al grupo</h3>        
            <div class="row-fluid">
                <div style="margin: 0px auto 0px auto; text-align: center" >
                    <div class="col-md-4" id="divDisponibles">
                        {% include "apmon/GrupoServicio/show_disponibles.html.twig" %}       
                    </div> 
                    <div class="col-md-4">
                        <p><button type="button" class="btn" onclick="asignar({{organizacion.id}}, {{ grupo.id }});">Asignar >></button></p>
                        <p><button type="button" class="btn" onclick="eliminar({{organizacion.id}}, {{ grupo.id }});">Eliminar <<</button></p>
                        <hr>
                        <p><a href="{{ app.session.get('volver') }}" class="btn">Terminar</a></p>
                    </div> 
                    <div class="col-md-4" id="divAsignados">
                        {% include "apmon/GrupoServicio/show_asignados.html.twig" %}         
                    </div> 
                </div>
            </div>
        </div>
    </div>


    <script>
        function asignar(idorg, idgrp) {
        var ids = new Array();
        cant = 0;
        //obtengo la lista de elementos
        opt = document.getElementById("listDisponibles").options;
        //recorro la lista determinando cuales estan seleccionados
        for (i = 0; i < document.getElementById("listDisponibles").length; i++){
        if (opt[i].selected) {
        cant++;
        ids.push(opt[i].value);
        }
        }

        //llamo a jquery para hacer la asignacion.
        var request = $.ajax({
        url: "{{ path('apmon_grupo_servicio_asignarservicio') }}",
                data: {'idgrp': idgrp, 'servicios' : serialize(ids)},
                dataType: "json"
        });
        request.done(function(respuesta) {
        document.getElementById('divDisponibles').innerHTML = respuesta['disponibles'];
        document.getElementById('divAsignados').innerHTML = respuesta['asignados'];
         $("#listDisponibles").select2();
         $("#listAsignados").select2();
        });
        }

        function eliminar(idorg, idgrp) {
        var ids = new Array();
        cant = 0;
        //obtengo la lista de elementos
        opt = document.getElementById("listAsignados").options;
        //recorro la lista determinando cuales estan seleccionados
        for (i = 0; i < document.getElementById("listAsignados").length; i++){
        if (opt[i].selected) {
        cant++;
        ids.push(opt[i].value);
        }
        }
        //llamo a jquery para hacer la eliminacion de los servicios del grupo.
        var request = $.ajax({
        url: "{{ path('apmon_grupo_servicio_retirarservicio') }}",
                data: {'idgrp': idgrp, 'servicios' : serialize(ids)},
                dataType: "json"
        });
        request.done(function(respuesta) {
        document.getElementById('divDisponibles').innerHTML = respuesta['disponibles'];
        document.getElementById('divAsignados').innerHTML = respuesta['asignados'];
         $("#listDisponibles").select2();
         $("#listAsignados").select2();
        });
        }

        function serialize(arr)
        {
        var res = 'a:' + arr.length + ':{';
        for (i = 0; i < arr.length; i++)
        {
        res += 'i:' + i + ';s:' + arr[i].length + ':"' + arr[i] + '";';
        }
        res += '}';
        return res;
        }


    </script>    

{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
        $("#listDisponibles").select2();
        $("#listAsignados").select2();
        });
    </script>
{% endblock %}