      
{% extends "app/Template_aker/popup.html.twig" %}

{% block modalId %}modalDelete{% endblock %}

{% block modalTitulo %}Eliminar Grupo de Servicios{% endblock %}

{% block modalUrl %}{{ path('apmon_grupo_servicio_delete', { 'id': gruposerv.id }) }}{% endblock %}

{% block modalBody %}
    <p>Esta seguro de eliminar este grupo de servicios: <strong>{{ gruposerv.nombre|upper }}</strong> ?</p>
    {{ form_widget(delete_form) }}
{% endblock %}

{% block modalOk %}
    <button class="btn btn-danger" type="submit">Eliminar</button>
{% endblock %}
