{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ gruposerv.organizacion }}{% endblock %}
{% block subtitulo %}Editar Grupo de Servicios{% endblock %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        {% embed "app/Template_aker/panel_form.html.twig" %}
            {% block titulo %}Modificar Grupo de Servicios{% endblock %}
            {% block cuerpo %}
                <fieldset>
                    <div class="row-fluid row-form">
                        <div>{{ form_errors(form) }}</div>
                        {{ form_widget(form.nombre) }}
                    </div>
                 
                        {{ form_widget(form._token) }}
                 
                </fieldset>
            {% endblock %}
            {% block botones %}
                <input type="submit" class="btn btn-primary" id="crear" value="Cambiar" />
                <a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
            {% endblock %}
        {% endembed %}
    </form>
</div>
</div>
{% endblock %}