{% extends "app/Template_aker/list.html.twig" %}

{% block titulo %}Grupos de Servicios{% endblock %}        

{% block contentpanel %}  
    <div class="panel panel-default">
        <div class="panel-body pad-h-12">
            <div class="panel">
                <div style="font-size: 14px;">
                    <div class="col-md-3">Nombre</div>
                    <div class="col-md-1">Acciones</div>
                    <div class="col-md-1">Servicios</div>    
                    <div class="col-md-2">Mantenimientos</div>    
                    <div class="col-md-2">Pedidos de Reparación</div>    
                    <div class="col-md-2">Ordenes Trabajo</div>    
                </div>
            </div>
            {% if gruposerv %}
                {% for grupo in gruposerv %}
                    <div class="panel">
                        <div class="panel">
                            <div class="panel-heading bg-theme-light">
                                <div class="panel-actions">
                                    <a  role="button" data-toggle="collapse" data-parent="#accordion-{{ grupo.id }}" href="#collapse-{{ grupo.id }}-4" aria-expanded="false" aria-controls="collapse-2-1" class="panel-action-toggle accordion-toggler collapsed"></a>
                                </div>
                                <div class="panel-title" style="font-size: 14px; padding-bottom: 10px;">

                                    <div class="col-md-3">
                                        <a href="{{ path('apmon_grupo_servicio_show', {'id': grupo.id}) }}">{{ grupo.nombre }}</a>
                                    </div>
                                    <div class="col-md-1"> 
                                        {% if is_granted('ROLE_FLOTA_GRUPO_EDITAR') %} 
                                            <a href="{{ path('apmon_grupo_servicio_edit', {'id': grupo.id} ) }}" title="Editar">
                                                <img src="{{ asset('images/editgroup16x16.png') }}"></a>
                                            <a href="{{ path('apmon_grupo_servicio_agrupar', {'id': grupo.id} ) }}" title="Administra (agrega, retira) servicios del grupo">
                                                <img src="{{ asset('images/group16x16.png') }}"></a>
                                            {% endif %} 
                                    </div>
                                    <div class="col-md-1">{{ grupo.servicios|length|default(0) }} serv.</div>    
                                    <div class="col-md-2">
                                        <div class="progress light m-2">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ indices[grupo.id].mante_pendiente}}" aria-valuemax="100" aria-valuemin="0" style="width: {{ indices[grupo.id].mante_pendiente}}%;">
                                                {{ indices[grupo.id].mante_pendiente}}% Vencidos
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="col-md-2">
                                        <div class="progress light m-2">
                                            <div title="Pendientes" class="progress-bar progress-bar-warning" role="progressbar" style="width: {{indices[grupo.id].pet_pendiente}}%" aria-valuenow="{{ indices[grupo.id].pet_pendiente}}" aria-valuemin="0" aria-valuemax="100">
                                                {{ indices[grupo.id].pet_pendiente}}% Pendientes
                                            </div>
                                            <div title="En Curso" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indices[grupo.id].pet_encurso}}%" aria-valuenow="{{indices[grupo.id].pet_encurso}}" aria-valuemin="0" aria-valuemax="100">
                                                {{ indices[grupo.id].pet_encurso}}% En Curso
                                            </div>
                                            <div title="Detenidos" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indices[grupo.id].pet_detenida}}%" aria-valuenow="{{indices[grupo.id].pet_detenida}}" aria-valuemin="0" aria-valuemax="100">
                                                {{ indices[grupo.id].pet_detenida}}% Detenidos
                                            </div>
                                            <div title="Realizados" class="progress-bar progress-bar-success" role="progressbar" style="width: {{indices[grupo.id].pet_realizada}}%" aria-valuenow="{{indices[grupo.id].pet_realizada}}" aria-valuemin="0" aria-valuemax="100">
                                                {{ indices[grupo.id].pet_realizada}}% Realizados
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="col-md-2">
                                        <div class="progress light m-2">
                                            <div title="Nuevas" class="progress-bar progress-bar-default" role="progressbar" style="width: {{indices[grupo.id].ot_nueva}}%" aria-valuenow="{{ indices[grupo.id].ot_nueva}}" aria-valuemin="0" aria-valuemax="100">
                                                {{ indices[grupo.id].ot_nueva}}% Nuevas
                                            </div>
                                            <div title="En Curso" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indices[grupo.id].ot_encurso}}%" aria-valuenow="{{indices[grupo.id].ot_encurso}}" aria-valuemin="0" aria-valuemax="100">
                                                {{ indices[grupo.id].ot_encurso}}% En Curso
                                            </div>
                                            <div title="Realizadas" class="progress-bar progress-bar-success" role="progressbar" style="width: {{indices[grupo.id].ot_realizada}}%" aria-valuenow="{{indices[grupo.id].ot_realizada}}" aria-valuemin="0" aria-valuemax="100">
                                                {{ indices[grupo.id].ot_realizada}}% Realizadas
                                            </div>
                                        </div>
                                    </div>    
                                </div>

                            </div>

                            <div style="height: 0px;" aria-expanded="false" id="collapse-{{ grupo.id }}-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ grupo.id }}-1">

                                <div aria-expanded="true" id="collapse-{{ grupo.id }}-4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-{{ grupo.id }}-1">

                                    <div class="panel-body"> 
                                        <div class="row">
                                            <div class="row-fluid">                    
                                                {% if grupo.servicios|length > 0 %}
                                                    <table class="table table-condensed" style="margin: 0px 10px 0px 10px; width: 95%">
                                                        <tbody>
                                                            {# aca se ponen las referencias #}
                                                            {% for servicio in grupo.servicios %}
                                                                <tr>
                                                                    <td><a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'main'}) }}">{{ servicio.nombre }}</a></td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}

