{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ gruposerv.organizacion }}{% endblock %}

{% block formulario %}
    <form class="form-horizontal"  method="POST" >
            {% embed "app/Template_aker/panel_form.html.twig" %}
            {% block titulo %}Crear Grupo de Servicios{% endblock %}
            {% block cuerpo %}
        <fieldset>
            <div class="row-fluid">
                <div>{{ form_errors(form) }}</div>
                <div class="span5">
                    {{ form_widget(form.nombre) }}

                </div>
                <div class="span4">
                    <h4>información</h4>
                    <p>Complete el nombre del Grupo de Servicios.</p>
                </div>
            </div>         
                {{ form_widget(form._token) }}
            
        </fieldset>
              {% endblock %}
            {% block botones %}
                <input type="submit" class="btn btn-primary" id="crear" value="Crear" />
                <a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
            {% endblock %}
        {% endembed %}
    </form>

{% endblock %}
