<table class="table table-condensed">
    <thead>
        <tr>
            <th style="width: 40%;">Servicio</th>
            <th style="width: 20%;">Mantenimientos</th>
            <th style="width: 20%;">Pedidos de Reparación</th>
            <th style="width: 20%;">Ordenes Trabajo</th>
            <th>datos al...</th>
        </tr>
    </thead>
    <tbody>
        {% for servicio in servicios %}
            <tr>
                <td>
                    <a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'main'} ) }}">
                        {{ servicio.nombre }}
                    </a>
                </td>
                <td>
                    <div class="progress light m-2">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ indicesBarraServ[servicio.id].mante_pendiente}}" aria-valuemax="100" aria-valuemin="0" style="width: {{ indicesBarraServ[servicio.id].mante_pendiente}}%;">
                            {{ indicesBarraServ[servicio.id].mante_pendiente}}% Vencidos
                        </div>
                    </div>                    
                </td>
                <td>
                    <div class="progress light m-2">
                        <div title="Pendientes" class="progress-bar progress-bar-warning" role="progressbar" style="width: {{indicesBarraServ[servicio.id].pet_pendiente}}%" aria-valuenow="{{ indicesBarraServ[servicio.id].pet_pendiente}}" aria-valuemin="0" aria-valuemax="100">
                            {{ indicesBarraServ[servicio.id].pet_pendiente}}% Pendientes
                        </div>
                        <div title="En Curso" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indicesBarraServ[servicio.id].pet_encurso}}%" aria-valuenow="{{indicesBarraServ[servicio.id].pet_encurso}}" aria-valuemin="0" aria-valuemax="100">
                            {{ indicesBarraServ[servicio.id].pet_encurso}}% En Curso
                        </div>
                        <div title="Detenidos" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indicesBarraServ[servicio.id].pet_detenida}}%" aria-valuenow="{{indicesBarraServ[servicio.id].pet_detenida}}" aria-valuemin="0" aria-valuemax="100">
                            {{ indicesBarraServ[servicio.id].pet_detenida}}% Detenidos
                        </div>
                        <div title="Realizados" class="progress-bar progress-bar-success" role="progressbar" style="width: {{indicesBarraServ[servicio.id].pet_realizada}}%" aria-valuenow="{{indicesBarraServ[servicio.id].pet_realizada}}" aria-valuemin="0" aria-valuemax="100">
                            {{ indicesBarraServ[servicio.id].pet_realizada}}% Realizados
                        </div>
                    </div>
                </td>
                <td>
                    <div class="progress light m-2">
                        <div title="Nuevas" class="progress-bar progress-bar-default" role="progressbar" style="width: {{indicesBarraServ[servicio.id].ot_nueva}}%" aria-valuenow="{{ indicesBarraServ[servicio.id].ot_nueva}}" aria-valuemin="0" aria-valuemax="100">
                            {{ indicesBarraServ[servicio.id].ot_nueva}}% Nuevas
                        </div>
                        <div title="En Curso" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indicesBarraServ[servicio.id].ot_encurso}}%" aria-valuenow="{{indicesBarraServ[servicio.id].ot_encurso}}" aria-valuemin="0" aria-valuemax="100">
                            {{ indicesBarraServ[servicio.id].ot_encurso}}% En Curso
                        </div>
                        <div title="Realizadas" class="progress-bar progress-bar-success" role="progressbar" style="width: {{indicesBarraServ[servicio.id].ot_realizada}}%" aria-valuenow="{{indicesBarraServ[servicio.id].ot_realizada}}" aria-valuemin="0" aria-valuemax="100">
                            {{ indicesBarraServ[servicio.id].ot_realizada}}% Realizadas
                        </div>
                    </div>
                </td>
                <td>
                <small><i>
                    {% if indicesBarraServ[servicio.id].fecha %}
                        {{ indicesBarraServ[servicio.id].fecha|date('d-m-Y') }} 
                    {% endif %}
                </i></small>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

