{% extends "app/Template_aker/show.html.twig" %}

{% block formdelete %}
    {% include "apmon/GrupoServicio/delete_form.html.twig" %} 
{% endblock %} 


{% block titulo %}{{ gruposerv.organizacion }}{% endblock %}

{% block contentpanel %}

    <div class="row-fluid row-show">
    <div class="panel">
        <div class="panel-body pad-h-20">
            <div class="col-md-4">
                <legend>Grupo de Servicio</legend>
                {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': gruposerv.nombre } %} 
            </div>
            <div class="col-md-8"> 
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Mantenimientos</th>
                            <th>Pedidos de Reparación</th>
                            <th>Ordenes Trabajo</th>
                        </tr>
                    </thead>
                    <tbody>
                    <td>
                        <div class="progress light m-2">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ indicesBarraGS.mante_pendiente}}" aria-valuemax="100" aria-valuemin="0" style="width: {{ indicesBarraGS.mante_pendiente}}%;">
                                {{ indicesBarraGS.mante_pendiente}}% Vencidos
                            </div>
                        </div>                        
                    </td>
                    <td>
                        <div class="progress light m-2">
                            <div title="Pendientes" class="progress-bar progress-bar-warning" role="progressbar" style="width: {{indicesBarraGS.pet_pendiente}}%" aria-valuenow="{{ indicesBarraGS.pet_pendiente}}" aria-valuemin="0" aria-valuemax="100">
                                {{ indicesBarraGS.pet_pendiente}}% Pendientes                                
                            </div>
                            <div title="En Curso" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indicesBarraGS.pet_encurso}}%" aria-valuenow="{{indicesBarraGS.pet_encurso}}" aria-valuemin="0" aria-valuemax="100">
                                {{ indicesBarraGS.pet_encurso}}% En Curso
                            </div>
                            <div title="Detenidos" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indicesBarraGS.pet_detenida}}%" aria-valuenow="{{indicesBarraGS.pet_detenida}}" aria-valuemin="0" aria-valuemax="100">
                                {{ indicesBarraGS.pet_detenida}}% Detenidos
                            </div>
                            <div title="Realizados" class="progress-bar progress-bar-success" role="progressbar" style="width: {{indicesBarraGS.pet_realizada}}%" aria-valuenow="{{indicesBarraGS.pet_realizada}}" aria-valuemin="0" aria-valuemax="100">
                                {{ indicesBarraGS.pet_realizada}}% Realizados
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="progress light m-2">
                            <div title="Nuevas" class="progress-bar progress-bar-default" role="progressbar" style="width: {{indicesBarraGS.ot_nueva}}%" aria-valuenow="{{ indicesBarraGS.ot_nueva}}" aria-valuemin="0" aria-valuemax="100">
                                {{ indicesBarraGS.ot_nueva}}% Nuevas
                            </div>
                            <div title="En Curso" class="progress-bar progress-bar-primary" role="progressbar" style="width: {{indicesBarraGS.ot_encurso}}%" aria-valuenow="{{indicesBarraGS.ot_encurso}}" aria-valuemin="0" aria-valuemax="100">
                                {{ indicesBarraGS.ot_encurso}}% En Curso
                            </div>
                            <div title="Realizadas" class="progress-bar progress-bar-success" role="progressbar" style="width: {{indicesBarraGS.ot_realizada}}%" aria-valuenow="{{indicesBarraGS.ot_realizada}}" aria-valuemin="0" aria-valuemax="100">
                                {{ indicesBarraGS.ot_realizada}}% Realizadas
                            </div>
                        </div>
                    </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid row-show">
    <div class="panel">
        <div class="panel-body pad-h-20">
            <div class="col-md-12">
                <legend>Servicios Asignados</legend>
                <div id="divServicios">
                    {% include "apmon/GrupoServicio/servicios.html.twig" with {'servicios': gruposerv.servicios} %}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
