<select id="listAsignados" multiple="multiple" size="{{ asignados|length }}" style="width: 100%;">
    {% for servicio in asignados %}
        <option value="{{ servicio.id }}">{{ servicio.nombre }}</option>                
    {% endfor %}
</select>
<em>Total asignados: {{ asignados|length|default(0) }}</em>