<form id="formImport" name="formImport">
	<table  class="table table-condensed table-hover">
		<thead>
			<tr>
				<th class="col-md-1"></th>
				<th class="col-md-1">Acción</th>
				<th class="col-md-1">Código</th>
				<th class="col-md-1">Inicio</th>
				<th class="col-md-1">Fin</th>
				<th class="col-md-2">Chofer</th>
				<th class="col-md-2">Servicio</th>
				<th class="col-md-3">Referencias</th>
				
			</tr>
		</thead>
		<tbody>
			{% for key,dato in data %}
				{% if key != '' and key != null %}
				<tr>
				<td rowspan="{{dato.pois|length}}" id="td_{{key}}"><input type="checkbox" onclick="accion('{{key}}')" name="formImport[{{key}}]" id="{{key}}"></td>
				<td rowspan="{{dato.pois|length}}">
					{% if dato.existeItinerario == false %}
						<span title="el itinerario no existe, se creará" class="label label-default">Crear</span>
					{% else %}
						<span title="el itinerario no existe, se modificará" class="label label-info">Modificar</span>
					{% endif %}
				</td>
				<td rowspan="{{dato.pois|length}}">{{key}}</td>
				<td rowspan="{{dato.pois|length}}">{{dato.cellFechaInicio is defined ? dato.cellFechaInicio : '---' }}</td>
				<td rowspan="{{dato.pois|length}}">{{dato.cellFechaFin is defined ? dato.cellFechaFin : '---' }}</td>
				<td rowspan="{{dato.pois|length}}">{{dato.cellChofer is defined ? dato.cellChofer : '---' }}</td>
				<td rowspan="{{dato.pois|length}}">
					<label>{{dato.cellServicio is defined ? dato.cellServicio : '---' }}</label>
					<em>({{dato.cellAcoplado is defined ? 'Trailer: ' ~ dato.cellAcoplado : '---' }})</em>
					<div class="accion_servicio_{{dato.cellServicio}}">
								{% if dato.existeServicio == false %}
									{% if  dato.cellServicio != '' %}
										<label class="label label-danger">Patente inexistente</label>
										<a  href="#" onclick="updatePatente('{{dato.cellServicio}}')" title="la patente no existe, click para buscar" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-plus"></i></a>
									{% else %}
										<label class="label label-default">Sin Patente</label>
									{% endif %}
								{% else %}
									<i title="la patente existe" class="glyphicon glyphicon-ok"></i>
								{% endif %}
					</div>
				</td>
			
				{% set i = 0 %}	
				{% for poi in dato.pois %}
					{% if i > 0 %}
                    	<tr>
					{% endif %}	
                   
						<td>{{poi.cellPoiName}} ({{poi.cellPoiCode}})</em>
							<div class="accion_{{poi.cellPoiCode}}">
								{% if poi.existePoi == false %}
										{% if  poi.cellPoiCode != '' %}
											<label class="label label-danger">Código inexistente</label>
											<a  href="#" onclick="updateCodExtReferencia('{{poi.cellPoiCode}}','{{poi.cellPoiName}}','{{poi.cellPoiLat}}'
												,'{{poi.cellPoiLong}}','{{poi.CellPoiAddress}}','{{poi.cellPoiCity}}','{{poi.cellPoiState}}')" title="la referencia no existe, click para buscar" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-plus"></i></a>
										{% else %}
											<label class="label label-default">Sin Codigo</label>
										{% endif %}
								{% else %}
									<i title="la referencia existe" class="glyphicon glyphicon-ok"></i>
								{% endif %}
							</div>
						</td>
						<td>{{poi.cellPoiEta}}</td>
						
						
				
					{% if i > 0%}
                    	</tr>
					{% endif %}
					
					{% set i = i + 1 %}	
                    
               
				{% endfor %}
				
					
				</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
</form>
