{% extends "app/Template_aker/list.html.twig" %}
 {% form_theme formServicioNew 'app/Form/calypso_fields.html.twig' %} 
 {% form_theme formReferenciaNew 'app/Form/calypso_fields.html.twig' %} 

{% block css %}
	{{ parent() }}
	<link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet" type="text/css" media="all"/>
	<style>
		.datepicker {
			background-color: #fff;
			color: #333;
		}
	</style>
{% endblock %}

{% block titulo %}Resumen de importación
{% endblock %}

{% block informacion %}{% endblock %}

{% block contentpanel %}
	{% include "app/Template_aker/popup_load.html.twig" %}
	{% include "monitor/Itinerario/popup_referencia_show.html.twig" %}
	{% include "monitor/Servicio/popup_servicio.html.twig" %}
	{% include "monitor/Itinerario/popup_servicio_new.html.twig" %}
	{% include "monitor/Itinerario/popup_referencia_new.html.twig" %}
	{% include "app/Referencia/popup_icono.html.twig" %}

	<div class="panel">
		<div class="panel-body">
			<div class="row-fluid">
				<div class="alert alert-warning">
					<strong>Importación de Itinerarios!</strong>
					Seleccione los itinerarios y realice la importación desde este botón.
					<button id="btnImport" type="button" class="alert-link btn btn-default">Procesar</button>
					<button id="btnFin" type="button" class="btn btn-success">Terminar</button>
				</div>

			</div>
			
			<div id="tablaItinerarios">
				{% include "monitor/Itinerario/chr/itinerarios_preimport.html.twig" with {'data': data} %}
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	{{ parent() }}
	   <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}">
    </script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
	<script type="text/javascript">
		{% include "monitor/Itinerario/chr/pre_import.js" %}
			
	</script> 

{% endblock %}
