{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ servicio.nombre }}{% endblock %}


{% block formulario %}

 <form class="form-horizontal" action="{{ path('apmon_vehiculo_new', {'idservicio': vehiculo.servicio.id} ) }}"  method="POST" >
{% embed "app/Template_aker/panel_form.html.twig" %}
	{% block titulo %}
		Creación de servicio
		{{ servicio.equipo }}
		({{ servicio.equipo.modelo|default(' sin equipo ') }})
	{% endblock %}
	{% block cuerpo %}
		<fieldset>
			<div class="row-fluid">
				<div>{{ form_errors(form) }}</div>
				<div class="col-md-6">
                        {% include "apmon/Vehiculo/form_content.html.twig" with {'form': form} %}  
				</div>
				<div class="col-md-6">
					 {% if form.datosExtra is defined %}
            <div class="row-fluid"> 
                {% include "app/VehiculoExtra/vehiculoextra_fomembedded.html.twig" %}           
            </div>
            {% endif %}

				</div>
				{{ form_widget(form._token) }}

			</fieldset>
		{% endblock %}
		{% block botones %}
			  <input type="submit" class="btn btn-primary" value="Agregar" />
                <a href="{{ path('servicio_show', {'id': vehiculo.servicio.id, 'tab':'main'} ) }}" class="btn">Cancelar</a>
		{% endblock %}
	{% endembed %}
    <script type="text/javascript">
// keep track of how many permiso fields ahve been rendered
            var datoCount = '{{ form.datosExtra is defined ? form.datosExtra|length : 0 }}';

            jQuery(document).ready(function () {
                jQuery('#add-another-dato').click(function () {
                    var datoList = jQuery('#dato-fields-div');

// grab the prototype template
                    var newWidget = datoList.attr('data-prototype');
// replace the "$$name$$" used in the id and name of the prototype
// with a number that's unique to our permisos
// end name attribute looks like name="contact[permisos][2]"
                    newWidget = newWidget.replace(/\$\$name\$\$/g, datoCount);
                    datoCount++;

// create a new list element and add it to our list
                    var newLi = jQuery('<div class="row-fluid"></div>').html(newWidget);
                    newLi.appendTo(jQuery('#dato-fields-div'));

                    return false;
                });
            })
        </script>
</form>
{% endblock %}
