<!-- Modal -->
<div class="modal fade" id="modalCarModelo" role="dialog" aria-labelledby="modalCarModeloLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modelo de Vehículo</h4>
            </div>
            <div class="modal-body">
                <p> Datos del modelo del Vehículo</p>
                <div id="modal-body-carmodelo" style="height:350px;">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Frecuencia de Cambio</th>
                                <th>Alternativo</th>
                                <th>Actividad</th>
                            </tr>
                        </thead>
                        {%  if servicio.vehiculo is not null and servicio.vehiculo.carModelo is not null%}
                            {% for fichatecnica in  servicio.vehiculo.carModelo.fichatecnica %}
                                <tbody>
                                    <tr>
                                        <td>{{ fichatecnica.producto.nombre }}</td>
                                        <td>{{ fichatecnica.cantidad }}</td>
                                        <td>{{ fichatecnica.frecuenciacambio }}</td>
                                        <td>{{ fichatecnica.alternativo }}</td>
                                        <td>{{ fichatecnica.actividad.nombre }}</td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>     


