<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Portal</th>
            <th>Precio ($)</th>
        </tr>
    </thead>
    <tbody>
        {% for entrada in informe %}
            <tr>
                <td>{{ entrada.fecha|date('d-m-Y H:i:s') }}</td>
                <td>{{ entrada.portal }}</td>
                <td style="text-align: right">{{ entrada.precio|number_format(2, ',', '.') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>