<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>Servicio</th>
            <th>Tarifa</th>
            <th>Cantidad</th>
            <th>Precio ($)</th>
        </tr>
    </thead>
    <tbody>
        {% for entrada in informe %}
            <tr>
                <td>{{ entrada.servicio }}</td>
                <td>{{ entrada.tipovehiculo }}</td>
                <td style="text-align: center">{{ entrada.cantidad }}</td>
                <td style="text-align: right">{{ entrada.total|number_format(2, ',', '.') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>