{% extends "app/Template_aker/popup.html.twig" %}

{% block modalId %}modalDelete{% endblock %}

{% block modalTitulo %}Eliminar Satelital{% endblock %}

{% block modalUrl %}{{ path('satelital_delete', { 'id': satelital.id }) }}{% endblock %}

{% block modalBody %}
      <p>Esta seguro de eliminar este satelital: <strong>{{ satelital.nombre|upper }}</strong> ?</p>
    {{ form_widget(delete_form) }}
{% endblock %}

{% block modalOk %}
    <button class="btn btn-danger" type="submit">Eliminar</button>
{% endblock %}

