
{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	{{ satelital.organizacion }}
{% endblock %}
{% block formulario %}
<legend>Nuevo Satelital</legend>
<form class="form-horizontal" method="POST">
	{% embed "app/Template_aker/panel_form.html.twig" %}
		{% block titulo %}Datos del Satelital
		{% endblock %}
		{% block cuerpo %}
			<fieldset>
				<div class="row-fluid">
					<div>{{ form_errors(form) }}</div>
					<div class="col-md-8">
						     {{ form_widget(form.nombre) }}
                    {{ form_rest(form) }}
					</div>
					<div class="col-md-4">
						<section class="panel panel-default panel-info">
							<div class="panel-body">
								<h4>Información</h4>
								<p>Complete el nombre del Satelital.</p>
							</div>
						</section>
					</div>
					{{ form_widget(form._token) }}

				</fieldset>
			{% endblock %}
			{% block botones %}
					<input type="submit" class="btn btn-primary" id="crear" value="Modificar"/>
				<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
			{% endblock %}
		{% endembed %}
	</form>

{% endblock %}
