{% extends "app/Template_aker/list.html.twig" %}

{% block titulo %}Satelital
{% endblock %}
{% block contentpanel %}
	<div class="panel">
		<div class="panel-body">
			<table class="table table-condensed" id="tablaSatelital">
				<thead>
					<tr>
						<th>Satelital</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for satelital in satelitales %}
                    <tr>
                        <td><a href="{{ path('satelital_show', {'id': satelital.id}) }}">{{ satelital.nombre }}</a></td>
                        <td>
                            {% if is_granted('ROLE_SATELITAL_EDITAR') %}
                                <a href="{{ path('satelital_edit', {'id': satelital.id} ) }}" class="btn btn-small"><i class="fa fa-edit"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
	 $(document).ready(function () {
            getDataTable('tablaSatelital');
	});
                   
    </script>
{% endblock %}