<div class="main-body">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="d-flex flex-column align-items-center text-center">
						<div class="mt-3">
							<h4>{{ satelital.nombre}}</h4>
							<p class="text- mb-1"></p>
							<p class="text-muted font-size-sm"></p>

						</div>
						<hr class="my-4">
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="card">
							<div class="card-body">
								<h4>Servicios</h4>
								<hr class="my-4">
								<div id="tableServicios">
									{% include "monitor/Servicio/servicios.html.twig" with {'servicios': satelital.servicios, 'arrIds': arrIds } %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
