{% extends "app/Template_aker/show.html.twig" %}


{% block formdelete %}
	{% include "monitor/Satelital/delete_form.html.twig" %}
{% endblock %}

{% block titulo %}
	{{ satelital.nombre }}
{% endblock %}

{% block informacion %}{% endblock %}

{% block contentpanel %}
	{% include "monitor/Servicio/popup_servicio_delete.html.twig" %}
	{% include "app/Template_aker/popup_load.html.twig" %}


	{% embed "app/Template_aker/panel_showtab.html.twig" %}

		{% block titulo %}Datos del Satelital
		{% endblock %}
		{% block cuerpo %}
			<div class="row">
				<div class="col-md-12">
					<div class="tabs tabs-default">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#main" data-toggle="tab">
									<i class="fa fa-info"></i>
									Datos</a>
							</li>


						</ul>
						<div class="tab-content">
							<div id="main" class="tab-pane active">
								{% include "monitor/Satelital/main.html.twig" with {'satelital': satelital } %}
							</div>


						</div>
					</div>

				</div>
			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}
{% block js %}
	{{ parent() }}
	<script type="text/javascript">{% include "monitor/Satelital/show.js" %}</script>

{% endblock %}
