{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <span class="help-block">
            {% for error in errors %}
                {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<br />
            {% endfor %}        
        </span>
    {% endif %}
    {% if attr.help is defined %}
        <span class="help-block"><em>{{ attr.help }}</em></span>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}
