{%- block choice_widget_collapsed -%}
<div class="col-md-12">
    <div class="form-group {% if errors|length > 0 %}error{% endif %}">    
        <label class="control-label">{{ label|trans({}, translation_domain)|raw }}</label>
        <select class="form-control mb-md {{ attr.class is defined ? attr.class : '' }}" {{ block('widget_attributes') }} {% if multiple %} multiple="multiple"{% endif %}>
            {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
            {%- endif -%}
            {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
            <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
            {%- endif -%}
            {%- set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
    </div>
</div>
{% endblock %}

    {% block form_widget_fecha %}
        {% set type = type|default('text') %}
        <div class="col-md-12">
            <div class="form-group {% if errors|length > 0 %}error{% endif %}">
                <label class="control-label">{{ label|trans({}, translation_domain)|raw }}</label>
                {% set class = 'form-control mb-md' %}
                {% if errors|length > 0 %}
                    {% set class = 'form-control mb-md error' %}
                {% endif %}
                <input type="{{ type }}" class='{{ class }}' {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}/>
                {{ form_errors(form) }}
            </div>
        </div>
    {% endblock form_widget_fecha %}

    {% block checkbox_widget %}
        <div class="form-group">
            <div class="col-sm-3">
                <div class="checkbox-custom checkbox-default">
                    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
                    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                        {{ label|trans({}, translation_domain)|raw }}
                    </label>
                </div>
            </div>
        </div>
    {% endblock checkbox_widget %}

    {% block _informe_desde_widget %}
        {{ block('form_widget_fecha') }}
    {% endblock _informe_desde_widget %}    

    {% block _informe_hasta_widget %}
        {{ block('form_widget_fecha') }}
    {% endblock _informe_hasta_widget %}    
