/* Base */
/* a,
.btn-link {
	color: #cc0000;
    color: rgb(119, 119, 119);
} */

a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus {
    color: #000;
}

a:active,
.btn-link:active {
    color: #000;
}

/* Sidebar Left */
.sidebar-left .sidebar-header .sidebar-toggle:hover i {
    color: #000;
}

@media only screen and (min-width: 768px) {

    html.sidebar-left-collapsed.scroll .sidebar-left .nav-main li.nav-active a:hover,
    html.sidebar-left-collapsed.boxed .sidebar-left .nav-main li.nav-active a:hover {
        color: #000;
    }

    html.sidebar-left-collapsed.scroll .sidebar-left .nav-main>li:hover>a span.label,
    html.sidebar-left-collapsed.boxed .sidebar-left .nav-main>li:hover>a span.label {
        background-color: #000;
    }

    ;
}

/* Layout Boxed - small than min-width */
@media only screen and (max-width: 1199px) {
    html.boxed .header {
        border-top-color: #000;
    }

    ;
}

/* Layout Boxed - larger or equal min width */
@media only screen and (min-width: 1200px) {
    html.boxed .header {
        border-top-color: #000;
    }

    html.boxed .sidebar-right {
        border-top-color: #000;
        min-height: 0;
    }

    ;
}

/* Userbox - Open */
.userbox.open .dropdown-menu a:hover {
    background: #000;
}

/* Mailbox */
.mailbox .mailbox-mail-list li.active {
    background: #000;
}

.mailbox .mailbox-mail .mailbox-close-mail {
    color: #000;
}

.mailbox .mailbox-mail .mailbox-close-mail:hover {
    color: #e60000;
}

.mailbox .mailbox-mail .panel .panel-heading .panel-actions a:hover {
    color: #000;
}

/* Media Gallery */
.media-gallery ul.mg-tags>li a:hover {
    background-color: #000;
}

.media-gallery .mg-files .thumbnail .thumb-preview .mg-thumb-options .mg-zoom {
    background-color: #cccccc;
}

.media-gallery .mg-files .thumbnail .thumb-preview .mg-thumb-options .mg-toolbar {
    background-color: #000;
}

.media-gallery .mg-files .thumbnail.thumbnail-selected {
    box-shadow: 0 0 8px -1px #cccccc;
}

/* Sign Screens - Wrappers */
.body-sign .panel-sign .panel-title-sign .title {
    background-color: #000;
}

.body-sign .panel-sign .panel-body {
    border-top-color: #cccccc;
}

/* Lock Screen */
.body-locked .current-user .user-image {
    border-color: #cccccc;
}

/* Blockquote */
blockquote.primary {
    border-color: #cccccc;
}

/* Nav Pills */
.nav-pills-primary>li a:hover,
.nav-pills-primary>li a:focus {
    color: #cccccc;
    background-color: #ffcccc;
}

.nav-pills-primary>li.active>a,
.nav-pills-primary>li.active>a:hover,
.nav-pills-primary>li.active>a:active,
.nav-pills-primary>li.active>a:focus {
    background-color: #cccccc;
}

/* Dropdown Menu */
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    background-color: #cccccc;
}

.open>.dropdown-toggle.btn-primary {
    background: #cccccc;
    border-color: #b30000;
}

body .btn-primary.dropdown-toggle {
    border-left-color: #f50000;
}

/* Select 2 */
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #cccccc;
}

.select2-container--bootstrap .select2-dropdown {
    border-color: #ff3333;
}

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
    border-color: #ff3333;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(80, 80, 80, 0.6);
}

/* Buttons */
body .btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: rgb(0, 82, 204);
    border-radius: 5px;
}

body .btn-primary:hover {
    background-color: rgb(0, 112, 204);
}

body .btn-primary:active,
body .btn-primary:focus {
    border-color: rgb(0, 82, 204) !important;
    background-color: rgb(0, 112, 204);
}

body .btn-primary[disabled] {
    border-color: rgb(0, 82, 204) !important;
    background-color: rgb(0, 112, 204);
}

body .btn-success {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #47a447;
    border-color: #47a447;
}

body .btn-success:hover {
    border-color: #51b451 !important;
    background-color: #51b451;
    border-radius: 5px;
}

body .btn-success:active,
body .btn-success:focus {
    border-color: #3f923f !important;
    background-color: #3f923f;
}

body .btn-success[disabled] {
    border-color: #86cb86 !important;
    background-color: #86cb86;
}

body .btn-warning {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ed9c28;
    border-color: #ed9c28;
    border-radius: 5px;
}

body .btn-warning:hover {
    border-color: #efa740 !important;
    background-color: #efa740;
}

body .btn-warning:active,
body .btn-warning:focus {
    border-color: #e89113 !important;
    background-color: #e89113;
}

body .btn-warning[disabled] {
    border-color: #f5c786 !important;
    background-color: #f5c786;
}

body .btn-danger {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #d2322d;
    border-color: #d2322d;
    border-radius: 5px;
}

body .btn-danger:hover {
    border-color: #d64742 !important;
    background-color: #d64742;
}

body .btn-danger:active,
body .btn-danger:focus {
    border-color: #bd2d29 !important;
    background-color: #bd2d29;
}

body .btn-danger[disabled] {
    border-color: #e48481 !important;
    background-color: #e48481;
}

body .btn-info {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bc0de;
    border-color: #5bc0de;
}

body .btn-info:hover {
    border-color: #70c8e2 !important;
    background-color: #70c8e2;
}

body .btn-info:active,
body .btn-info:focus {
    border-color: #46b8da !important;
    background-color: #46b8da;
}

body .btn-info[disabled] {
    border-color: #b0e1ef !important;
    background-color: #b0e1ef;
}

body .btn-dark {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #171717;
    border-color: #171717;
}

body .btn-dark:hover {
    border-color: #242424 !important;
    background-color: #242424;
}

body .btn-dark:active,
body .btn-dark:focus {
    border-color: #0a0a0a !important;
    background-color: #0a0a0a;
}

body .btn-dark[disabled] {
    border-color: #4a4a4a !important;
    background-color: #4a4a4a;
}

/* Switch*/
.switch.switch-primary .ios-switch .on-background {
    background: #cccccc;
}

/* Label */
.label-primary {
    background: #cccccc;
}

/* Text Primary */
.text-primary {
    color: #cccccc !important;
}

/* BG Primary */
.bg-primary {
    background: #cccccc;
}

/* Alternative Font Style */
.alternative-font {
    color: #cccccc;
}

/* Hightlight */
.highlight {
    background-color: #cccccc;
}

/* Drop Caps */
p.drop-caps.colored:first-child:first-letter {
    color: #cccccc;
}

p.drop-caps.colored.secondary:first-child:first-letter {
    background-color: #cccccc;
}

/* Well */
.well.primary {
    background: #cccccc;
    border-color: #990000;
}

/* Form */
.form-control:focus {
    border-color: #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(80, 80, 80, 0.3);
}

/* Header */
.header .toggle-sidebar-left {
    background: #172b3e;
}

/* Header Nav Menu */
@media (min-width: 992px) {
    .header.header-nav-menu .header-nav-main nav>ul>li>a.dropdown-toggle:after {
        border-color: #172b3e transparent transparent transparent;
    }

    .header.header-nav-menu .header-nav-main nav>ul>li>a:focus {
        color: #172b3e;
    }

    .header.header-nav-menu .header-nav-main nav>ul>li.open>a,
    .header.header-nav-menu .header-nav-main nav>ul>li:hover>a,
    .header.header-nav-menu .header-nav-main nav>ul>li.active>a {
        background: #172b3e;
        color: #FFF;
    }

    .header.header-nav-menu .header-nav-main nav>ul>li.open>a.dropdown-toggle:after,
    .header.header-nav-menu .header-nav-main nav>ul>li:hover>a.dropdown-toggle:after,
    .header.header-nav-menu .header-nav-main nav>ul>li.active>a.dropdown-toggle:after {
        border-color: #ffffff transparent transparent transparent;
    }

    .header.header-nav-menu .header-nav-main nav>ul>li.dropdown .dropdown-menu {
        border-top: 5px solid #172b3e;
    }

    .header.header-nav-menu .header-nav-main nav>ul>li.dropdown .dropdown-menu li.dropdown-submenu>a:after {
        border-color: transparent transparent transparent #172b3e;
    }

    .header.header-nav-menu.header-nav-stripe .header-nav-main nav>ul>li>a.dropdown-toggle:after {
        border-color: #000000 transparent transparent transparent;
    }

    .header.header-nav-menu.header-nav-stripe .header-nav-main nav>ul>li>a:focus {
        color: #000000;
    }

    .header.header-nav-menu.header-nav-stripe .header-nav-main nav>ul>li.open>a,
    .header.header-nav-menu.header-nav-stripe .header-nav-main nav>ul>li:hover>a,
    .header.header-nav-menu.header-nav-stripe .header-nav-main nav>ul>li.active>a {
        color: #FFF;
    }

    .header.header-nav-menu.header-nav-stripe .header-nav-main nav>ul>li.open>a.dropdown-toggle:after,
    .header.header-nav-menu.header-nav-stripe .header-nav-main nav>ul>li:hover>a.dropdown-toggle:after,
    .header.header-nav-menu.header-nav-stripe .header-nav-main nav>ul>li.active>a.dropdown-toggle:after {
        border-color: #ffffff transparent transparent transparent;
    }

    .header.header-nav-menu.header-nav-top-line .header-nav-main nav>ul>li>a.dropdown-toggle:after {
        border-color: #000000 transparent transparent transparent;
    }

    .header.header-nav-menu.header-nav-top-line .header-nav-main nav>ul>li>a:focus {
        color: #000000;
    }

    .header.header-nav-menu.header-nav-top-line .header-nav-main nav>ul>li.open>a,
    .header.header-nav-menu.header-nav-top-line .header-nav-main nav>ul>li:hover>a,
    .header.header-nav-menu.header-nav-top-line .header-nav-main nav>ul>li.active>a {
        color: #172b3e;
    }

    .header.header-nav-menu.header-nav-top-line .header-nav-main nav>ul>li.open>a:before,
    .header.header-nav-menu.header-nav-top-line .header-nav-main nav>ul>li:hover>a:before,
    .header.header-nav-menu.header-nav-top-line .header-nav-main nav>ul>li.active>a:before {
        background-color: #172b3e;
    }

    .header.header-nav-menu.header-nav-top-line .header-nav-main nav>ul>li.open>a.dropdown-toggle:after,
    .header.header-nav-menu.header-nav-top-line .header-nav-main nav>ul>li:hover>a.dropdown-toggle:after,
    .header.header-nav-menu.header-nav-top-line .header-nav-main nav>ul>li.active>a.dropdown-toggle:after {
        border-color: #172b3e transparent transparent transparent;
    }

    .header.header-nav-menu.header-nav-top-line .header-nav-main nav>ul>li.dropdown .dropdown-menu {
        border-top: 5px solid #172b3e;
    }

    .header.header-nav-menu.header-nav-top-line .header-nav-main nav>ul>li.dropdown .dropdown-menu li.dropdown-submenu>a:after {
        border-color: transparent transparent transparent #172b3e;
    }

    ;
}

@media (max-width: 991px) {

    .header.header-nav-menu .header-nav-main nav>ul.nav-pills>li.active>a,
    .header.header-nav-menu .header-nav-main nav>ul.nav-pills>li.active>a:hover,
    .header.header-nav-menu .header-nav-main nav>ul.nav-pills>li.active>a:focus {
        background-color: #172b3e;
    }

    .header-btn-collapse-nav {
        background: #172b3e;
        color: #ffffff;
    }

    ;
}

/* Page Header */
/* .page-header h2 {
    border-bottom-color: #172b3e;
} */

.page-header .sidebar-right-toggle:hover {
    color: #172b3e;
}

/* Navigation */
ul.nav-main>li.nav-active>a {
    box-shadow: 2px 0 0 #172b3e inset;
}

ul.nav-main>li.nav-active>i {
    color: #172b3e;
}

ul.nav-main li .nav-children li.nav-active>a {
    color: #172b3e;
}

html.sidebar-light:not(.dark) ul.nav-main>li.nav-active>a {
    color: #172b3e;
}

/* Nano Scroller Plugin */
html.no-overflowscrolling .nano>.nano-pane>.nano-slider {
    background: #172b3e;
}

/* Nav Pills */
.nav-pills>.active a,
.nav-pills>.active a:hover,
.nav-pills>.active a:focus {
    background-color: #cccccc;
}

/* Pagination */
.pagination>li a {
    color: #cccccc;
}

.pagination>li a:hover,
.pagination>li a:focus {
    color: #e60000;
}

.pagination>li.active a,
.pagination>li.active span,
.pagination>li.active a:hover,
.pagination>li.active span:hover,
.pagination>li.active a:focus,
.pagination>li.active span:focus {
    background-color: #cccccc;
    border-color: #cccccc;
}

.pagination>li.active a {
    background-color: #cccccc;
}

html .pagination>li.active a,
html.dark .pagination>li.active a,
html .pagination>li.active span,
html.dark .pagination>li.active span,
html .pagination>li.active a:hover,
html.dark .pagination>li.active a:hover,
html .pagination>li.active span:hover,
html.dark .pagination>li.active span:hover,
html .pagination>li.active a:focus,
html.dark .pagination>li.active a:focus,
html .pagination>li.active span:focus,
html.dark .pagination>li.active span:focus {
    background-color: #cccccc;
    border-color: #cccccc;
}

html .pagination>li.active a,
html.dark .pagination>li.active a {
    background-color: #cccccc;
}

/* Fullcalendar */
.fc .fc-toolbar h2:before {
    color: #cccccc;
}

.fc .fc-toolbar .fc-button.fc-state-active {
    background-color: #cccccc;
}

.fc .fc-day-grid-container {
    height: auto !important;
}

.fc-event {
    background: #cccccc;
    border-color: #cccccc;
}

.fc-event.fc-event-primary {
    background: #cccccc;
    border-color: #cccccc;
}

/* Maps */
.jqvmap-zoomin,
.jqvmap-zoomout {
    background: #cccccc;
}

/* Timeline */
.timeline .tm-items>li .tm-datetime .tm-datetime-time {
    color: #cccccc;
}

.timeline .tm-items>li .tm-icon {
    border-color: #cccccc;
    color: #cccccc;    
}

.timeline .tm-items>li .tm-comment {
    border-color: #0099e6;
    color: #0099e6;    
}

.timeline .tm-items>li .tm-start {
    border-color: #47a447;
    color: #47a447;    
}

.timeline .tm-items>li .tm-end {
    border-color: #47a447;
    color: #47a447;    
}

.timeline .tm-items>li .tm-service {
    border-color: #5bc0de;
    color: #5bc0de;    
}

.timeline .tm-items>li .tm-warning {
    border-color: #efa740;
    color: #efa740;    
}

.timeline .tm-items>li .tm-danger {
    border-color: #d2322d;;
    color: #d2322d;
}

.timeline.timeline-simple .tm-body .tm-items>li:before {
    background: #cccccc;
    box-shadow: 0 0 0 3px #FFF, 0 0 0 6px #cccccc;
}

html.dark .timeline.timeline-simple .tm-body .tm-items>li:before {
    background: #cccccc;
    box-shadow: 0 0 0 3px #2e353e, 0 0 0 6px #cccccc;
}

/* Princing Table */
.pricing-table h3 span {
    color: #cccccc;
}

.pricing-table .most-popular h3 {
    background-color: #cccccc !important;
    color: #FFF !important;
}

/* Data Tables Loading */
.dataTables_processing {
    background-color: #cccccc;
}

/* Accordion */
.panel-group .panel-accordion .panel-heading a {
    color: #cccccc;
}

/* Alerts */
.alert-primary {
    background-color: #cccccc;
    border-color: #bd0000;
}

.alert-primary .alert-link {
    color: #660000;
}

/* Nestable */
.dd-handle:hover {
    color: #cccccc !important;
}

.dd-placeholder {
    background: #ffe6e6;
    border-color: #cccccc;
}

/* Panels */
.panel-highlight .panel-heading {
    background-color: #cccccc;
    border-color: #cccccc;
}

.panel-highlight .panel-body {
    background-color: #cccccc;
}

html .panel-primary .panel-heading {
    background: #cccccc;
    border-color: #cccccc;
}

.panel-heading.bg-primary {
    background: #cccccc;
}

.panel-body.bg-primary {
    background: #cccccc;
}

.panel-featured-primary {
    border-color: #cccccc;
}

.panel-featured-primary .panel-title {
    color: #cccccc;
}

.panel-heading-icon.bg-primary {
    background: #cccccc;
}

.panel-group .panel-accordion-primary .panel-heading .panel-title a {
    background: #cccccc;
}

/* Progress Bar */
.progress-bar {
    background-color: #cccccc;
}

.progress .progress-bar-primary {
    background-color: #cccccc;
}

/* Toggle */
.toggle label {
    border-left-color: #cccccc;
    color: #cccccc;
}

.toggle.active>label {
    background: #cccccc !important;
    border-color: #cccccc;
}

/* Treeview */
.jstree-default .jstree-hovered {
    background-color: #ffe6e6 !important;
}

.jstree-default .jstree-clicked {
    background-color: #ffb3b3 !important;
}

.jstree-default .colored {
    color: #cccccc !important;
}

.jstree-default .colored .jstree-icon {
    color: #cccccc !important;
}

.jstree-default .colored-icon .jstree-icon {
    color: #cccccc !important;
}

/* Widgets */
.sidebar-widget.widget-tasks ul li:before {
    border-color: #cccccc;
}

.widget-twitter-profile {
    background-color: #cccccc;
}

.widget-twitter-profile .profile-quote {
    background-color: #e00000;
}

.widget-twitter-profile .profile-quote .quote-footer {
    border-top-color: rgba(255, 0, 0, 0.7);
}

.widget-profile-info .profile-info .profile-footer {
    border-top-color: rgba(255, 0, 0, 0.7);
}

/* Thumb Info */
.thumb-info .thumb-info-type {
    background-color: #cccccc;
}

/* Social Icons */
.social-icons-list a {
    background: #cccccc;
}

/* Notifications */
.notifications .notification-menu .notification-title {
    background: #cccccc;
}

.notifications .notification-menu .notification-title .label-default {
    background-color: #990000;
}

.notifications .notification-menu:before,
.notifications .notification-icon:before {
    border-bottom-color: #cccccc;
}

.ui-pnotify .notification-primary {
    background: rgba(80, 80, 80, 0.95);
}

.ui-pnotify.stack-bar-top .notification-primary,
.ui-pnotify.stack-bar-bottom .notification-primary {
    background: #cccccc;
}

.ui-pnotify.notification-primary .notification,
.ui-pnotify.notification-primary .notification-primary {
    background: rgba(80, 80, 80, 0.95);
}

.ui-pnotify.notification-primary.stack-bar-top .notification,
.ui-pnotify.notification-primary.stack-bar-bottom .notification,
.ui-pnotify.notification-primary.stack-bar-top .notification-primary,
.ui-pnotify.notification-primary.stack-bar-bottom .notification-primary {
    background: #cccccc;
}

/* Modal */
.modal-block-primary .fa {
    color: #cccccc;
}

.modal-block-primary.modal-header-color .panel-heading {
    background-color: #cccccc;
}

.modal-block-primary.modal-full-color .panel {
    background-color: #f50000;
}

.modal-block-primary.modal-full-color .panel-heading {
    background-color: #cccccc;
}

.modal-block-primary.modal-full-color .panel-footer {
    background-color: #f50000;
}

/* Modal Icon */
.modal-block-primary .modal-icon .fa {
    color: #cccccc;
}

/* Tabs */
html body .tabs-primary .nav-tabs li a,
html.dark body .tabs-primary .nav-tabs li a,
html body .tabs-primary .nav-tabs.nav-justified li a,
html.dark body .tabs-primary .nav-tabs.nav-justified li a,
html body .tabs-primary .nav-tabs li a:hover,
html.dark body .tabs-primary .nav-tabs li a:hover,
html body .tabs-primary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li a:hover {
    color: #cccccc;
}

html body .tabs-primary .nav-tabs li a:hover,
html.dark body .tabs-primary .nav-tabs li a:hover,
html body .tabs-primary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li a:hover {
    border-top-color: #cccccc;
}

html body .tabs-primary .nav-tabs li.active a,
html.dark body .tabs-primary .nav-tabs li.active a,
html body .tabs-primary .nav-tabs.nav-justified li.active a,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a,
html body .tabs-primary .nav-tabs li.active a:hover,
html.dark body .tabs-primary .nav-tabs li.active a:hover,
html body .tabs-primary .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a:hover,
html body .tabs-primary .nav-tabs li.active a:focus,
html.dark body .tabs-primary .nav-tabs li.active a:focus,
html body .tabs-primary .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a:focus {
    border-top-color: #cccccc;
    color: #cccccc;
}

html body .tabs-primary.tabs-bottom .nav-tabs li a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li a:hover {
    border-bottom-color: #cccccc;
}

html body .tabs-primary.tabs-bottom .nav-tabs li.active a,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a,
html body .tabs-primary.tabs-bottom .nav-tabs li.active a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs li.active a:focus,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a:focus,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:focus {
    border-top-color: #FFF;
    border-bottom-color: #cccccc;
}

html body .tabs-primary.tabs-vertical.tabs-left li a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-left li a:hover {
    border-left-color: #cccccc;
}

html body .tabs-primary.tabs-vertical.tabs-left li.active a,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a,
html body .tabs-primary.tabs-vertical.tabs-left li.active a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a:hover,
html body .tabs-primary.tabs-vertical.tabs-left li.active a:focus,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a:focus {
    border-left-color: #cccccc;
}

html body .tabs-primary.tabs-vertical.tabs-right li a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-right li a:hover {
    border-right-color: #cccccc;
}

html body .tabs-primary.tabs-vertical.tabs-right li.active a,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a,
html body .tabs-primary.tabs-vertical.tabs-right li.active a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a:hover,
html body .tabs-primary.tabs-vertical.tabs-right li.active a:focus,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a:focus {
    border-right-color: #cccccc;
}

/* Simple List */
ul.simple-bullet-list li:before {
    border-color: #cccccc;
}

/* Simple Card List */
.simple-card-list li.primary {
    background: #cccccc;
}

/* Search Results */
.search-content .search-toolbar .nav-pills li.active a {
    color: #cccccc;
    border-bottom-color: #cccccc;
}

.search-results-list .result-thumb .fa {
    background: #cccccc;
}

/* Scrollable */
.scrollable.colored-slider .scrollable-slider {
    background: #cccccc;
}

html.dark .search-content .search-toolbar .nav-pills li.active a,
html.dark .search-content .search-toolbar .nav-pills li.active a:hover,
html.dark .search-content .search-toolbar .nav-pills li.active a:focus {
    color: #cccccc;
    border-bottom-color: #cccccc;
}

/* Time Picker */
.bootstrap-timepicker-widget table td a:hover {
    background-color: #cccccc;
}

/* Loading Progress */
#nprogress .bar {
    background: #cccccc;
}

#nprogress .peg {
    box-shadow: 0 0 10px 1px #cccccc, 0 0 5px #cccccc;
}

/* Zoom */
.img-thumbnail .zoom {
    background: #cccccc;
}

/* Owl Carousel */
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ad0000;
}

.owl-theme .owl-nav [class*="owl-"] {
    background: #cccccc;
}

.owl-theme .owl-nav [class*="owl-"]:focus,
.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: #eb0000;
}

/* Chartist */
.ct-chart .tooltip {
    background: #cccccc;
}

.ct-chart .tooltip:after {
    border-top-color: #cccccc;
}

.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
    stroke: #cccccc;
}

.ct-chart .ct-series.ct-series-a .ct-area,
.ct-chart .ct-series.ct-series-a .ct-slice:not(.ct-donut) {
    fill: #cccccc;
}

.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice.ct-donut {
    stroke: #800000;
}

.ct-chart .ct-series.ct-series-b .ct-area,
.ct-chart .ct-series.ct-series-b .ct-slice:not(.ct-donut) {
    fill: #800000;
}

.ct-chart .ct-series.ct-series-i .ct-bar,
.ct-chart .ct-series.ct-series-i .ct-line,
.ct-chart .ct-series.ct-series-i .ct-point,
.ct-chart .ct-series.ct-series-i .ct-slice.ct-donut {
    stroke: #800000;
}

.ct-chart .ct-series.ct-series-i .ct-area,
.ct-chart .ct-series.ct-series-i .ct-slice:not(.ct-donut) {
    fill: #800000;
}

.ct-chart .ct-series.ct-series-j .ct-bar,
.ct-chart .ct-series.ct-series-j .ct-line,
.ct-chart .ct-series.ct-series-j .ct-point,
.ct-chart .ct-series.ct-series-j .ct-slice.ct-donut {
    stroke: #ff1a1a;
}

.ct-chart .ct-series.ct-series-j .ct-area,
.ct-chart .ct-series.ct-series-j .ct-slice:not(.ct-donut) {
    fill: #ff1a1a;
}

.ct-chart .ct-series.ct-series-n .ct-bar,
.ct-chart .ct-series.ct-series-n .ct-line,
.ct-chart .ct-series.ct-series-n .ct-point,
.ct-chart .ct-series.ct-series-n .ct-slice.ct-donut {
    stroke: #1a0000;
}

.ct-chart .ct-series.ct-series-n .ct-area,
.ct-chart .ct-series.ct-series-n .ct-slice:not(.ct-donut) {
    fill: #1a0000;
}

.ct-chart .ct-series.ct-series-o .ct-bar,
.ct-chart .ct-series.ct-series-o .ct-line,
.ct-chart .ct-series.ct-series-o .ct-point,
.ct-chart .ct-series.ct-series-o .ct-slice.ct-donut {
    stroke: #ff8080;
}

.ct-chart .ct-series.ct-series-o .ct-area,
.ct-chart .ct-series.ct-series-o .ct-slice:not(.ct-donut) {
    fill: #ff8080;
}

/*
* Call to Action
*/
.call-to-action.call-to-action-primary {
    background-color: #cccccc;
}

.call-to-action .call-to-action-btn .btn {
    background-color: #990000;
    border-color: #660000;
}

.call-to-action .call-to-action-btn .btn:hover {
    background-color: #cccccc;
    border-color: #cccccc;
}

/*
* Tab Navigation
*/
.tab-navigation nav>ul>li:hover:not(.nav-expanded)>a {
    background: #cccccc;
}

.tab-navigation nav>ul>li>ul>li.nav-active>a {
    color: #cccccc !important;
}

.tab-navigation nav>ul>li>ul>li .dropdown-menu li.nav-active>a {
    color: #cccccc !important;
}

/* Tab Navigation - Button Toggle Menu */
html.has-tab-navigation .toggle-menu {
    background: #cccccc;
}

/* Checkboxes */
html.dark .checkbox-primary label:before,
.checkbox-primary label:before {
    background: #cccccc;
    border-color: #b30000;
}

html.dark .checkbox-text-primary input[type="checkbox"]:checked+label:after,
.checkbox-text-primary input[type="checkbox"]:checked+label:after {
    color: #cccccc;
}

/* Radios */
html.dark .radio-primary input[type="radio"]:checked+label:after,
.radio-primary input[type="radio"]:checked+label:after {
    background: #cccccc;
    -webkit-box-shadow: 0px 0px 1px #cccccc;
    box-shadow: 0px 0px 1px #cccccc;
}

/* Switch */
.switch.switch-primary .ios-switch .on-background {
    background: #cccccc;
}

/* Progress Bar */
.progress-bar {
    background-color: #cccccc;
}

.progress .progress-bar-primary {
    background-color: #cccccc;
}

/* Slider */
.slider-primary .ui-slider-range,
.slider-primary .ui-slider-handle {
    background: #cccccc;
}

.slider-gradient.slider-primary .ui-slider-range,
.slider-gradient.slider-primary .ui-slider-handle {
    background-image: -webkit-linear-gradient(left, #ff0000 0, #cccccc 50%, #990000 100%);
    background-image: linear-gradient(left, #ff0000 0, #cccccc 50%, #990000 100%);
}

.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-range,
.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-handle {
    background-image: -webkit-linear-gradient(to right, #ff0000 0, #cccccc 50%, #990000 100%);
    background-image: linear-gradient(to right, #ff0000 0, #cccccc 50%, #990000 100%);
}

/* DatePicker */
.datepicker table {
    width: 100%;
}

.datepicker table thead tr th.prev:hover,
.datepicker table thead tr th.next:hover {
    background: #cccccc;
}

.datepicker table thead tr:first-child th:hover {
    background: #cccccc;
}

.datepicker table tr td span:hover {
    background: #cccccc;
}

.datepicker table tr td.day:hover {
    background: #cccccc;
}

.datepicker table tfoot tr th:hover {
    background: #cccccc;
}

/* DatePicker: Dark */
html.dark .datepicker.datepicker-primary table thead tr th.prev:hover,
.datepicker.datepicker-dark table thead tr th.prev:hover,
html.dark .datepicker.datepicker-primary table thead tr th.next:hover,
.datepicker.datepicker-dark table thead tr th.next:hover {
    background: #cccccc;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day:hover,
.datepicker.datepicker-dark table tbody tr td.day:hover {
    background: #cccccc;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day.active,
.datepicker.datepicker-dark table tbody tr td.day.active {
    background: #cccccc;
}

/* DatePicker: Primary */
.datepicker.datepicker-primary table thead tr:first-child {
    background-color: #cccccc;
}

.datepicker.datepicker-primary table thead tr:first-child th:hover {
    background-color: #990000;
}

.datepicker.datepicker-primary table thead tr:last-child {
    background-color: #e60000;
}

.datepicker.datepicker-primary table thead tr:last-child th:hover {
    background-color: #cccccc;
}

.datepicker.datepicker-primary table tbody tr td.day:hover {
    background: #cccccc;
}

.datepicker.datepicker-primary table tbody tr td.day.active {
    background: #cccccc;
}

/* Select 2 */
.select2-container-multi .select2-choices .select2-search-choice {
    background: #cccccc;
}

/* Wizard */
.wizard-steps>li.active .badge {
    background-color: #cccccc;
}

.wizard-steps>li.active a,
.wizard-steps>li.active a:hover,
.wizard-steps>li.active a:focus {
    border-top-color: #cccccc;
}

.wizard-tabs ul>li.active .badge {
    background-color: #cccccc;
}

html .wizard-progress .steps-progress .progress-indicator,
html.dark .wizard-progress .steps-progress .progress-indicator {
    background: #cccccc;
}

html .wizard-progress .wizard-steps li.completed a span,
html.dark .wizard-progress .wizard-steps li.completed a span {
    border-color: #cccccc;
    background: #cccccc;
}

html .wizard-progress .wizard-steps li.active a span,
html.dark .wizard-progress .wizard-steps li.active a span {
    color: #cccccc;
    border-color: #cccccc;
}

/* Tables */
.table>thead>tr>td.primary,
.table>tbody>tr>td.primary,
.table>tfoot>tr>td.primary,
.table>thead>tr>th.primary,
.table>tbody>tr>th.primary,
.table>tfoot>tr>th.primary,
.table>thead>tr.primary>td,
.table>tbody>tr.primary>td,
.table>tfoot>tr.primary>td,
.table>thead>tr.primary>th,
.table>tbody>tr.primary>th,
.table>tfoot>tr.primary>th {
    background-color: #cccccc !important;
}

/* Data Tables Loading */
.dataTables_processing {
    background-color: #cccccc;
}

/* Liquid Meter */
.liquid-meter-wrapper .liquid-meter-selector a.active {
    color: #cccccc;
}

.img-rounded,
.img-thumbnail,
.img-thumbnail img,
code,
pre,
.form-control,
.input-sm,
.form-group-sm .form-control,
.input-lg,
.form-group-lg .form-control,
.btn,
.btn-group-lg>.btn,
.btn-sm,
.btn-group-sm>.btn,
.btn-xs,
.btn-group-xs>.btn,
.dropdown-menu,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.input-group-sm>.form-control,
.input-group-sm>.input-group-addon,
.input-group-sm>.input-group-btn>.btn,
.input-group-addon,
.input-group-addon.input-sm,
.input-group-addon.input-lg,
.input-group-rounded input.form-control:first-child,
.input-group-rounded input.form-control:last-child,
.input-search input.form-control:first-child,
.input-search input.form-control:last-child,
.checkbox-custom label::before,
.nav-tabs>li>a,
.nav-tabs.nav-justified>li>a,
.nav-pills>li>a,
.nav-tabs-justified>li>a,
.navbar,
.navbar-toggle,
.navbar-toggle .icon-bar,
.breadcrumb,
.pagination,
.pager li>a,
.pager li>span,
.label,
.badge,
.container .jumbotron,
.container-fluid .jumbotron,
.thumbnail,
.alert,
.progress,
.progress.progress-border-radius,
.progress.progress-border-radius .progress-bar,
.progress-bar,
.progress-bar-tooltip,
.progress-xs.progress-half-rounded,
.progress-xs.progress-half-rounded .progress-bar,
.progress-sm.progress-half-rounded,
.progress-sm.progress-half-rounded .progress-bar,
.progress-md.progress-half-rounded,
.progress-md.progress-half-rounded .progress-bar,
.progress-lg.progress-half-rounded,
.progress-lg.progress-half-rounded .progress-bar,
.progress-xl.progress-half-rounded,
.progress-xl.progress-half-rounded .progress-bar,
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br,
.panel,
.panel-group .panel,
.panel-heading+.panel-body,
.panel-heading,
.panel-body,
.panel-group .panel-accordion .panel-body,
.panel-footer,
.panel-horizontal .panel-heading+.panel-body,
.panel-horizontal .panel-heading,
.panel-group .panel-accordion .panel-heading,
html .panel .panel-heading-transparent+.panel-body,
.panel-group .panel-accordion .panel-heading a,
.panel-group .panel-accordion.panel-accordion-first .panel-heading,
.well,
.well-lg,
.well-sm,
.modal-content,
.tooltip-inner,
.popover,
.popover-title,
.call-to-action,
.carousel-indicators li,
.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span,
.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span,
.progress .progress-bar,
.input-group-icon input.form-control:first-child,
.input-group-icon input.form-control:last-child,
.input-search input.form-control:first-child,
.input-search input.form-control:last-child {
    /*border-radius: 0;*/
}

.body-sign .panel-sign .panel-title-sign .title,
.body-sign .panel-sign .panel-body,
.sidebar-left .sidebar-header .sidebar-toggle,
.simple-compose-box,
.timeline .tm-title,
ul.simple-card-list li,
.timeline .tm-items>li .tm-box,
.rounded,
.fc .fc-toolbar .fc-button,
.fc-event,
.fc-state-default.fc-corner-right,
.media-gallery ul.mg-tags>li a,
.media-gallery .mg-files .thumbnail,
.media-gallery .mg-files .thumbnail .thumb-preview img,
.media-gallery .mg-files .thumbnail .thumb-preview .mg-thumb-options .mg-zoom,
html .scroll-to-top,
.style-switcher .style-switcher-open,
.style-switcher .options-links a,
.search-results-list a,
p.drop-caps.secondary:first-child::first-letter,
.tabs,
.nav-tabs li a,
.tab-content,
.tabs.tabs-bottom .tab-content,
.tabs.tabs-bottom .nav-tabs li a,
.tabs-left .tab-content,
.tabs-left .nav-tabs>li:first-child a,
.tabs-left .nav-tabs>li:last-child a,
.tabs-right .tab-content,
.tabs-right .nav-tabs>li:first-child a,
.tabs-right .nav-tabs>li:last-child a,
.nav-tabs.nav-justified li:first-child a,
.nav-tabs.nav-justified li:first-child a:hover,
.nav-tabs.nav-justified li:last-child a,
.nav-tabs.nav-justified li:last-child a:hover,
.tabs.tabs-bottom .nav.nav-tabs.nav-justified li:first-child a,
.tabs.tabs-bottom .nav.nav-tabs.nav-justified li:last-child a,
.tabs-navigation,
.tabs-navigation .nav-tabs>li:first-child a,
.tabs-navigation .nav-tabs>li:last-child a,
.toggle>label,
.toggle.toggle-simple .toggle>label,
.toggle.toggle-simple .toggle>label:after,
.pricing-table h3,
.pricing-table .plan,
.widget-twitter-profile .profile-quote,
.btn-group-vertical>.btn:first-child:not(:last-child),
.btn-group-vertical>.btn:last-child:not(:first-child),
.btn-group-vertical>.btn:first-child:not(:last-child),
.btn-group-vertical>.btn:last-child:not(:first-child),
.ui-pnotify .notification,
.owl-theme .owl-nav [class*="owl-"],
.dd-handle,
.scrollable .scrollable-slider,
.form-group-vertical .form-control:first-child,
.form-group-vertical .form-control:first-of-type,
.form-group-vertical .form-control:last-child,
.form-group-vertical .form-control:last-of-type,
.form-group-vertical .input-group.input-group-icon:first-child .form-control,
.form-group-vertical .input-group.input-group-icon:first-of-type .form-control,
.form-group-vertical .input-group.input-group-icon:last-child .form-control,
.form-group-vertical .input-group.input-group-icon:last-of-type .form-control,
.select2-container--bootstrap .select2-selection,
.select2-container--bootstrap .select2-dropdown,
.select2-container--bootstrap .select2-search--dropdown .select2-search__field,
.btn-group>.btn-group:nth-child(2)>.multiselect.btn,
.bootstrap-tagsinput,
.colorpicker,
.note-editor .note-toolbar .btn-group>.btn-group:last-child>.btn:first-child,
.note-editor .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle),
.note-editor .btn-group>.btn:last-child:not(:first-child),
.note-editor .btn-group>.dropdown-toggle:not(:first-child),
.note-editor .btn,
html.boxed .inner-wrapper,
html.boxed .header,
html.boxed .content-body {
    border-radius: 0;
}

@media (min-width: 768px) {

    .nav-tabs.nav-justified>li>a,
    .nav-tabs-justified>li>a,
    .navbar {
        border-radius: 0;
    }

    ;
}

@media (max-width: 479px) {

    .tabs .nav.nav-tabs.nav-justified li:first-child a,
    .tabs .nav.nav-tabs.nav-justified li:first-child a:hover,
    .tabs.tabs-bottom .nav.nav-tabs.nav-justified li:last-child a,
    .tabs.tabs-bottom .nav.nav-tabs.nav-justified li:last-child a:hover {
        border-radius: 0;
    }

    ;
}

/* Checkboxes */
html.dark .checkbox-primary label:before,
.checkbox-primary label:before {
    background: #cccccc;
    border-color: #b30000;
}

html.dark .checkbox-text-primary input[type="checkbox"]:checked+label:after,
.checkbox-text-primary input[type="checkbox"]:checked+label:after {
    color: #cccccc;
}

/* Radios */
html.dark .radio-primary input[type="radio"]:checked+label:after,
.radio-primary input[type="radio"]:checked+label:after {
    background: #cccccc;
    -webkit-box-shadow: 0px 0px 1px #cccccc;
    box-shadow: 0px 0px 1px #cccccc;
}

/* Switch */
.switch.switch-primary .ios-switch .on-background {
    background: #cccccc;
}

/* Progress Bar */
.progress-bar {
    background-color: #cccccc;
}

.progress .progress-bar-primary {
    background-color: #cccccc;
}

/* Slider */
.slider-primary .ui-slider-range,
.slider-primary .ui-slider-handle {
    background: #cccccc;
}

.slider-gradient.slider-primary .ui-slider-range,
.slider-gradient.slider-primary .ui-slider-handle {
    background-image: -webkit-linear-gradient(left, #ff0000 0, #cccccc 50%, #990000 100%);
    background-image: linear-gradient(left, #ff0000 0, #cccccc 50%, #990000 100%);
}

.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-range,
.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-handle {
    background-image: -webkit-linear-gradient(to right, #ff0000 0, #cccccc 50%, #990000 100%);
    background-image: linear-gradient(to right, #ff0000 0, #cccccc 50%, #990000 100%);
}

/* DatePicker */
.datepicker table {
    width: 100%;
}

.datepicker table thead tr th.prev:hover,
.datepicker table thead tr th.next:hover {
    background: #cccccc;
}

.datepicker table thead tr:first-child th:hover {
    background: #cccccc;
}

.datepicker table tr td span:hover {
    background: #cccccc;
}

.datepicker table tr td.day:hover {
    background: #cccccc;
}

.datepicker table tfoot tr th:hover {
    background: #cccccc;
}

/* DatePicker: Dark */
html.dark .datepicker.datepicker-primary table thead tr th.prev:hover,
.datepicker.datepicker-dark table thead tr th.prev:hover,
html.dark .datepicker.datepicker-primary table thead tr th.next:hover,
.datepicker.datepicker-dark table thead tr th.next:hover {
    background: #cccccc;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day:hover,
.datepicker.datepicker-dark table tbody tr td.day:hover {
    background: #cccccc;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day.active,
.datepicker.datepicker-dark table tbody tr td.day.active {
    background: #cccccc;
}

/* DatePicker: Primary */
.datepicker.datepicker-primary table thead tr:first-child {
    background-color: #cccccc;
}

.datepicker.datepicker-primary table thead tr:first-child th:hover {
    background-color: #990000;
}

.datepicker.datepicker-primary table thead tr:last-child {
    background-color: #e60000;
}

.datepicker.datepicker-primary table thead tr:last-child th:hover {
    background-color: #cccccc;
}

.datepicker.datepicker-primary table tbody tr td.day:hover {
    background: #cccccc;
}

.datepicker.datepicker-primary table tbody tr td.day.active {
    background: #cccccc;
}

/* Select 2 */
.select2-container-multi .select2-choices .select2-search-choice {
    background: #cccccc;
}

/* Wizard */
.wizard-steps>li.active .badge {
    background-color: #cccccc;
}

.wizard-steps>li.active a,
.wizard-steps>li.active a:hover,
.wizard-steps>li.active a:focus {
    border-top-color: #cccccc;
}

.wizard-tabs ul>li.active .badge {
    background-color: #cccccc;
}

html .wizard-progress .steps-progress .progress-indicator,
html.dark .wizard-progress .steps-progress .progress-indicator {
    background: #cccccc;
}

html .wizard-progress .wizard-steps li.completed a span,
html.dark .wizard-progress .wizard-steps li.completed a span {
    border-color: #cccccc;
    background: #cccccc;
}

html .wizard-progress .wizard-steps li.active a span,
html.dark .wizard-progress .wizard-steps li.active a span {
    color: #cccccc;
    border-color: #cccccc;
}

/* Tables */
.table>thead>tr>td.primary,
.table>tbody>tr>td.primary,
.table>tfoot>tr>td.primary,
.table>thead>tr>th.primary,
.table>tbody>tr>th.primary,
.table>tfoot>tr>th.primary,
.table>thead>tr.primary>td,
.table>tbody>tr.primary>td,
.table>tfoot>tr.primary>td,
.table>thead>tr.primary>th,
.table>tbody>tr.primary>th,
.table>tfoot>tr.primary>th {
    background-color: #cccccc !important;
}

/* Data Tables Loading */
.dataTables_processing {
    background-color: #cccccc;
}

/* Liquid Meter */
.liquid-meter-wrapper .liquid-meter-selector a.active {
    color: #cccccc;
}

.content-body {
    padding-top: 20px;
}

.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.cuadro {
    border: 2px solid #F8F8F8;
    border-radius: 10px;
}

.cuadro label {
    font-size: 11px;
}

.cuadro table td {
    font-size: 10px;
}

.titulo-sidebar {
    margin-top: -40px;
    background-color: #f6f6f6;

}

.boton-derecha {
    float: right;
    font-size: 12px
}

.nombre-proyecto {
    font-size: 11px
}

.tabla-sidebar {
    border-style: none;
    color: #D0D0D0;
}

.link-eliminar {
    font-size: 10px;
    color: red;
}

.font-once {
    font-size: 11px;
}

.font-diez {
    font-size: 10px;
}