{% extends "app/Template/list.html.twig" %}

{% block titulo %}Contratistas{% endblock %}        
{% block contentpanel %}  
    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Contratista</th>
                </tr>
            </thead>
            <tbody>
                {% for contratista in contratistas %}
                    <tr>
                        <td><a href="{{ path('apmon_contratista_show', {'id': contratista.id}) }}">{{ contratista.nombre }}</a></td>
                        <td>
                            {% if is_granted('ROLE_CONTRATISTA_EDITAR') %}
                                <a href="{{ path('apmon_contratista_edit', {'id': contratista.id} ) }}" class="btn btn-small">Editar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
         </table>
    </div>
{% endblock %}

