{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ organizacion }}{% endblock %}

{% block subtitulo %}Creación de Contratista{% endblock %}

{% block formulario %}
     <form class="form-horizontal"  method="POST" >
        <fieldset>
            {{ form_errors(form) }}
            <div class="row-fluid">
                <div class="span8">
                    <legend>Datos del Contratista</legend>
                    {{ form_widget(form.nombre) }}
                    {{ form_rest(form) }}
                </div>
                <div class="span4">
                </div>
            </div>
            {% include "app/Template/botonera-form.html.twig" with {'btnprimarylabel': 'Agregar' } %}
        </fieldset>
    </form>
{% endblock %}
