<div id="modalCrearContratista" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Crear Contratista</h3>
    </div>

    <div class="modal-body">
        <legend>Datos del Contratista</legend>
        <div class="control-group ">
            <label class="control-label">
                Nombre
                <div title="Dato Obligatorio" style="color: red; display: inline"> * </div>
            </label>
            <div class="controls">
                <input id="contratista_nombre" name="contratista[nombre]" required="required" maxlength="255" class="" type="text">

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" onClick="cargarContratista({{organizacion.id}})">Agregar</button>
        <a id="boton-cancelar" href="" class="btn secondary">Cancelar</a>
    </div>

</div>

