{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "apmon/Contratista/delete_form.html.twig" %}
{% endblock %} 
        
{% block titulo %}{{ contratista.nombre }}{% endblock %}
    
{% block informacion %}
{% endblock %}     
    
{% block contentpanel %}
    <div class="row-fluid row-show">
        <div class="span8">
            {% include "app/Template/show_row.html.twig" with {'label': 'Nombre', 'data': contratista.nombre } %} 
        </div>
        <div class="span3"> 
        </div>
    </div>
{% endblock %}
