{% extends "app/Template_aker/list.html.twig" %}

{% block titulo %}Eventos
{% endblock %}

{% block js %}
	{{ parent() }}
	<script>{% include "app/EventoTemporal/list.js" %}</script>
{% endblock %}

{% block contentpanel %}
	<div class="panel panel-default">
		<div class="panel-body pad-h-12 no-padding">
			<div class="panel">
				<div id="online" class="tab-pane active">
					{% include "app/EventoTemporal/temporal.html.twig" %}
				</div>
			</div>
		</div>
	</div>
	{% include "app/EventoTemporal/popup_registrar.html.twig" %}
{% endblock %}
