<div id="panelinfo">
	<div class="alert alert-info">
		<strong>
			<div id="espere">Se han cargado
				{{ data|length }}
				eventos que no tienen tratamiento.</div>
		</strong>
	</div>
</div>
<table id="tablaEv" class="table table-condensed">
	<thead>
		<tr>
			<td>
				{% if is_granted('ROLE_EVENTO_REGISTRAR') %}
					<input type="checkbox" onclick="checkAll()"/>
				{% endif %}
			</td>
			<td>Fecha</td>
			<td>Servicio</td>
			<td>Titulo</td>
			<td>Evento</td>
			<td>Itinerario</td>
			<td>Acciones</td>
		</tr>
	</thead>
	<tbody>
		{% if data %}
			{% for d in data %}
				{% set color = 'default' %}
				{% if d.nuevo %}
					{% set color = 'warning' %}
				{% endif %}
				<tr class="{{ color }}">
					<td>
						{% if is_granted('ROLE_EVENTO_REGISTRAR') %}
							<input type="checkbox" name="checks[]" onclick="clickCheck()" value="{{ d.evento.id }}" id="{{ d.evento.id }}"/>
						{% endif %}
					</td>
					<td>{{ d.evento.fecha|date('d/m/Y H:i', app.user.timeZone) }}</td>
					<td>
						<a href="{{ path('servicio_show', {'id': d.evento.servicio.id, 'tab': 'main'}) }}">{{ d.evento.servicio.nombre }}</a>
					</td>
					<td>
						<b>
							<div id="titulo{{ d.evento.id }}">{{ d.evento.titulo }}</div>
						</b>
					</td>
					<td>{{ d.evento.evento.nombre }}</td>
					<td>
						{% if d.evento.clase == 3 %}
							<a href="{{ path('itinerario_show', {'id': d.evento.itinerario.id}) }}">{{ d.evento.itinerario.codigo }}</a>
						{% endif %}
					</td>
					<td>
						<a class="btn btn-default btn-sm" onclick="grabarVisto('{{ d.evento.id }}');" title="Marcar como visto">
							<i class="fa fa-eye"></i>
						</a>
						<a title="ingresar un comentario al evento" class="btn btn-default btn-sm" onclick="showModalComentar('1','{{ d.evento.id }}');">
							<i class="fa fa-comment"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>
