{#
<div class="btn-toolbar navbar-btn" role="toolbar" aria-label="...">
	<div class="btn-group" role="group">
		<a href="#selectall" onclick="checkAll()" id="hrefselectAll" class="btn btn-bordered btn-default" role="button" title="" data-toggle="tooltip" data-original-title="Marcar todos">
		<span class="fa fa-check" aria-hidden="true"></span>
		Marcar todos</a>
	</div>
	<div class="btn-group" role="group">
		<a href="#visto" onclick="batch('visto')" id="btnVisto" style="display: none;" class="btn btn-bordered btn-default" role="button" title="" data-toggle="tooltip" data-original-title="Marcar como Vistos">
			<span class="fa fa-eye" aria-hidden="true"></span>
			Marcar como Vistos
		</a>
	</div>
</div>
#}

<form name="formCheck">
	<div id="onlineTemporal">
		{% include "app/EventoTemporal/tablaTemporal.html.twig" %}
	</div>
</form>
