 <form id="formCheck" name="formCheck">
	<table id="tablaCargas" class="table table-condensed table-responsive">
		<thead>
			<tr>
				<th>Estado</th>                
				<th>Servicio</th>
				<th>Patente</th>
				<th>Fecha</th>
				<th>Datos Importación</th>
				<th>Carga Asociada</th>
				<th>  <input type="checkbox" id="check_all" value="" onclick="checkAll()" title="Marca todos los grupos."></th>
				<th width="100px">Acciones</th>
			</tr>
		</thead>
			<tbody>
				
			</tbody>
	</table>
</form>