{% if estado == 0 %}
	<span class='label label-default'>Nuevo</span>
{% elseif estado == 8 %}
	<span class='label label-warning'>Ignorado</span>
{% elseif estado == 9 %}
	<span class='label label-success'>Check</span>
{% else %}
	{{ estado }}
{% endif %}

