<p>
Fecha: <b>{{ row.fecha?row.fecha|date('d-m-Y H:i:s'):'---'|default('---') }}</b></br>
En:<b>{{ row.dataArchivo.estacion }}</b></br>
<p><b>{{ row.dataArchivo.producto }}</b> {{ row.dataArchivo.litros|number_format(1) }} lts</b> por $ {{ row.dataArchivo.monto|number_format(2) }}</p>
<small>
Chofer:<b>{{ row.dataArchivo.chofer|default('N/D') }} ({{ row.dataArchivo.choferDni|default('N/D') }})</b></br>
Nro. Guia: <b>{{ row.guiaDespacho }}</b>
</small>
</p>
{% if row.servicio %}
    <a class="mb-xs mt-xs mr-xs btn btn-xs btn-default" id="btnAddCarga_{{row.id}}" onclick="addCarga({{ row.id }}, {{ row.servicio.id }})">Grabar Carga</a></p>
{% else %}
    <a disabled class="mb-xs mt-xs mr-xs btn btn-xs btn-default" id="btnAddCarga_{{row.id}}" onclick="addCarga({{ row.id }})">Grabar Carga</a>
{% endif %}
