{% if row.cargaCombustible %}
	Fecha: <b>{{ row.cargaCombustible.fecha|date('d-m-Y H:i:s')|default('---') }}</b>
	</br>
	
	{% if row.cargaCombustible.puntoCarga %}
		{{ row.cargaCombustible.puntoCarga.nombre }}
	{% endif %}
	{% if row.cargaCombustible.tipoCombustible %}
		{{ row.cargaCombustible.tipoCombustible.nombre|upper }}
	{% endif %}
		{{ row.cargaCombustible.litrosCarga|number_format(2) }}
	lts por
	$ {{ row.cargaCombustible.montoTotal|number_format(2) }}
	</br>En:<b>{{ row.cargaCombustible.puntoCarga.nombre|default('N/D') }}</b></br>
	
	
{% else %}
	<ol class="list-unstyled">
	{# muestro las coincidencias#}
	<li>
		{% if row.puntoCarga %}
			<i class="glyphicon glyphicon-map-marker icon-green">{{ row.puntoCarga.nombre }}</i>
		{% else %}
			<i class="glyphicon glyphicon-map-marker icon-red"> Estacion no reconocida</i>
		{% endif %}
	</li>
	<li>
		{% if row.tipoCombustible %}
			<i class="glyphicon glyphicon-asterisk icon-green">{{ row.tipoCombustible.nombre }}</i>
		{% else %}
			<i class="glyphicon glyphicon-asterisk icon-red"> Combustible no reconocido</i>
		{% endif %}
	</li>
	<li>
	{% if row.chofer %}
		<i class="glyphicon glyphicon-user icon-green">{{ row.chofer.nombre}}</i>   
	{% else %}
		<i class="glyphicon glyphicon-user icon-red"> Chofer no reconocido</i>
	{% endif %}	
	</li>
	</ol>

	{% if row.servicio %}
    	<a class="mb-xs mt-xs mr-xs btn btn-xs btn-default" onclick="buscarCargas({{ row.id }})">Buscar Carga</a>
	{% else %}
    	<a disabled class="mb-xs mt-xs mr-xs btn btn-xs btn-default" >Buscar Carga</a>
	{% endif %}
	
{% endif %}
