{% extends "app/Template_aker/list.html.twig" %}
{% form_theme formAdd 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Verificador de cargas
{% endblock %}

{% block informacion %}{% endblock %}

{% block contentpanel %}
	{% include "fuel/Check/modalUploadCargas.html.twig" %}
	{% include "fuel/Check/modalGrabarImport.html.twig" %}
	{% include "fuel/Check/modalGrabarServicio.html.twig" %}
	{% include "fuel/Check/modalBuscarCarga.html.twig" %}
	{% include "fuel/Check/modalDelete.html.twig" %}

	<div class="row mailbox panel-all">
		<div class="col-md-12 mb-content">
			<div class="panel panel-body" id="check-list">
				<div class="col-md-12 mb-content">
					<div class="tablaCargas">
                        {% include "fuel/Check/cargas_list.html.twig" with {'data': data} %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block css %}
	{{ parent() }}
	 <style>
	.icon-green {color: green;}
	.icon-red { color: red;}
	 </style>
	<link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block js %}
	{{ parent() }}
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>	
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>


	<script type="text/javascript">
		{% include "fuel/Check/addCarga.js" %}
		// es para el manejo de los servicios
		{% include "fuel/Check/addServicio.js" %} 
		// es para el manejo de importacion de excel
		{% include "fuel/Check/uploadCargas.js" %} 
		// es para el manejo de los botones de acciones
		{% include "fuel/Check/actions.js" %} 
		// es para el manejo de la busqueda de cargas
		{% include "fuel/Check/buscarCarga.js" %} 

		{% include "app/Template_aker/template-flash.script.js" %} 
	</script>
	<script type="text/javascript">
		
		var servicioId;   //variable global
		var cargaId;

		function datatable(estado) {
			//alert(estado);
			if ($.fn.DataTable.isDataTable('#tablaCargas') ) {
					$('#tablaCargas').DataTable().clear().destroy();
       				$('#tablaCargas').empty();
			}
            var tablaCargas = $('#tablaCargas').dataTable({
                processing: true,
			              
                columns: [                    
					{ data: "estado","orderable": false },
                    { data: "servicio" },
                    { data: "patente" },
                    { data: "fecha" },
					{ data: "dataImport" },
					{ data: "dataCarga" },
					{ data: "check", "targets": 'no-sort', "orderable": false},
					{ data: "acciones" }					
                ],
				order: [[ 4, "asc" ]], //ordeno por fecha
                ajax: Routing.generate('fuel_check_reload', {id: {{ organizacion.id }}, estado: $( "#select_estado" ).val()}),                
                paging: false,
                footer: false,
                header: false,
				language: {"url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"}
            });
        }
        $(document).ready(function () {
            datatable();
			$("#addfuel_chofer").select2({
				width: '100%'
			});
			$("#addfuel_puntoCarga").select2({
				width: '100%'
			});
			$("#addfuel_cargaCompleta").select2({
				width: '100%'
			});
			$("#addfuel_tipoCombustible").select2({
				width: '100%'
			});
			 $("#addfuel_fecha").datetimepicker({
    			format: 'DD/MM/YYYY HH:mm:ss',
    		}).data("DateTimePicker").locale('es');

			$("#btnDeleteCarga").hide();

				
        });
		$( "#select_estado" ).change(function() {
			datatable();
		});
	</script>

{% endblock %}
