{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	{{ organizacion.nombre }}
{% endblock %}
{% block subtitulo %}{% endblock %}

{% block formulario %}
	<div class="row">
		<form class="form-horizontal" enctype="multipart/form-data" method="POST">
			<section class="panel">
				<header class="panel-heading">
					<h2 class="panel-title">Verificador de Cargas</h2>
				</header>
				<div class="panel-body">
					<h4>Proceso de Chequeo de cargas de combustible</h4>
					<blockquote>
						<p>
							Este proceso permite importar y chequear desde un archivo Excel, las cargas de combustibles registradas en sistemas de terceros.
							<br>
							Tenga en cuenta que el archivo Excel a importar debe tener un formato especifico.
							<br>
							Una vez cargado el archivo excel puede consolidar las cargas del archivo y las registradas en el sistema, como asi tambien agregar las cargas que no se encuentren en el mismo.
						</p>
						<p>
							Este proceso se divide en dos pasos.
							<br>
							<ol>
								<li>El primero sube el archivo al servidor</li>
								<li>Abre una pantalla para hacer las operaciones de consolidación de las cargas
								</li>
							</ol>
						</p>
					</blockquote>
					<h3>Paso 1: Subida y lectura de archivo excel.</h3>

					<fieldset>
						{{ form_errors(form) }}
						{{ form_widget(form._token) }}
						<div class="row-fluid">
							<div class="span8">
								{{ form_widget(form.archivo) }}
							</div>
							<div class="span4"></div>
						</div>
						<div class="form-actions"></div>
					</fieldset>

				</div>
				<footer class="panel-footer">
					<div class="row">
						<input type="submit" class="btn btn-primary" value="Procesar"/>
						<a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
					</div>
				</footer>
			</section>
		</form>
	</div>
{% endblock %}
