<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Eliminar cargas de combustible</h5>
			</div>
			<div class="modal-body">
				Está seguro de eliminar las cargas seleccionadas?
			</div>
			<div class="modal-footer">
				<button type="submit" id="deleteCargas" class="btn btn-primary" onclick="deleteCargas()">Eliminar</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
