<div class="modal fade" id="modalAddCarga" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Agregar carga de combustible</h5>
			</div>
			<div class="modal-body">
				<form id="formAdd" class="form-horizontal" method="POST">
					<fieldset>
						<div class="row">
							<div class="col-sm-6">
								{{ form_errors(formAdd) }}
								{{ form_widget(formAdd.fecha) }}
								{{ form_widget(formAdd.chofer) }}
								{{ form_widget(formAdd.odometroTablero) }}
								{{ form_widget(formAdd.guia_despacho) }}
								
								<div class="control-group ">
									<label class="control-label" for="addfuel_descripcion">
										Descripción
									</label>
									<div class="controls">
										<input type="text" class="form-control" maxlength="254" id="addfuel_descripcion" name="addfuel[descripcion]">
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								{{ form_widget(formAdd.cargaCompleta) }}
								{{ form_widget(formAdd.puntoCarga) }}
								{{ form_widget(formAdd.tipoCombustible) }}								
								{{ form_widget(formAdd.litros_carga) }}							
								{{ form_widget(formAdd.monto_total) }}
								{{ form_widget(formAdd._token) }}
							</div>
						</div>
					</fieldset>

				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" id="grabarCarga" class="btn btn-primary" onclick="grabarCarga()">Grabar</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
