<div class="modal fade" id="modalUploadCargas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Importar Cargas</h5>
			</div>
			<div class="modal-body">
				<form id="formUpload" class="form-horizontal" method="POST">
					<fieldset>
					<p>Seleccione el archivo excel con las nuevas cargas a importar al Verificador</p>
					<p>Tenga en cuenta que debe tener un formato especifico y correcto para que se tomen los datos.</p>
						{{ form_errors(formUpload) }}
						{{ form_widget(formUpload.archivo) }}
						{{ form_widget(formUpload._token) }}
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" onclick="uploadCargas({{ organizacion.id }})">Importar</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
