<div class="modal fade" id="modalServicio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Seleccionar Servicio para asociar carga</h5>
			</div>
			<div class="modal-body">
				<form id="formServ" class="form-horizontal" method="POST">
					<fieldset>
						<div class="form-group">
							<label class="col-md-3 control-label">Servicio</label>
							<div class="col-md-6">
								<select id="selectServicio" class="form-control" tabindex="-1" aria-hidden="true">
									{% for servicio in servicios %}
										<option value="{{ servicio.id }}">{{ servicio.nombre }}</option>
									{% endfor %}
								</select>

							</div>
						</div>
					</fieldset>

				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" onclick="grabarServicio()">Grabar</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			</div>

		</div>
	</div>
</div>
