<div class="modal fade" id="modalBuscarCarga" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Buscar cargas registradas</h5>
			</div>
			<div class="modal-body">
				<form id="formBuscarCarga" class="form-horizontal" method="POST">
					<fieldset>
						<div id="tablaCarga">
							aca van las cargas parecidas
						</div>
					</fieldset>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			</div>

		</div>
	</div>
</div>
