<table class="table table-condensed table-responsive">
	<thead>
		<tr>
			<th></th>
			<th>Fecha</th>
			<th>Producto</th>
			<th>Litros</th>
			<th>Importe</th>
			<th>Ingreso</th>
			<th>Pto Carga</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% if cargas|length > 0 %}
			{% for carga in cargas %}
				<tr>
					<td>
						<button class="btn btn-xs btn-default" onclick="setCarga('{{ carga.id }}')">Asociar</button>
					</td>
					<td>{{ carga.fecha|date('d-m-Y H:i:s') }}</td>
					<td>{{ carga.tipoCombustible.nombre|default('---') }}</td>
					<td>{{ carga.litrosCarga|number_format(2) }}</td>
					<td>$
						{{ carga.montoTotal|number_format(2) }}</td>
					<td>{% include "fuel/Combustible/badgeModoIngreso.html.twig" with {'modoingreso': carga.estado} %}
					</td>
					<td>{{ carga.puntoCarga.nombre|default('---') }}</td>
				</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>
