{% extends "app/Template/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Excesos de Velocidad por chofer{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
        evaluarStatus();   //evaluo el status de los componentes del form.
        $.datepicker.setDefaults ($.datepicker.regional["es"]);
        $.timepicker.setDefaults ($.timepicker.regional["es"]);
        $("#informeexcesosvelocidad_desde").datetimepicker ({
            defaultDate: "today",
            changeMonth: true,
            numberOfMonths: 1,
            maxDate: "today",
            minDate: {{ limite_historial }},
        });
        
        $("#informeexcesosvelocidad_hasta").datetimepicker ({
            defaultDate: "today",
            changeMonth: true,
            numberOfMonths: 1,
            maxDate: "today",
            minDate: {{ limite_historial }},
        });
     
            
        $("#informeexcesosvelocidad_destino").change(function() {
            evaluarStatus();
        });
        
        //esto se hace cuando cambia el servicio seleccionado.
        $("#informeexcesosvelocidad_servicio").change(function() {
            evaluarStatus();
        });   
         $("#informeexcesosvelocidad_servicio").select2();      
         $("#informeexcesosvelocidad_chofer").select2();      
    });
    
    function evaluarStatus() {
        servicio = $("#informeexcesosvelocidad_servicio").val();
        destino = $("#informeexcesosvelocidad_destino").val();        
        if (servicio[0] === 'g' || servicio === "0" || destino > 1) {
         //   $('#informeexcesosvelocidad_mostrar_direcciones').attr("disabled", true);
         //   $('#informeexcesosvelocidad_mostrar_direcciones').removeAttr("checked");
        } else {
         //   $('#informeexcesosvelocidad_mostrar_direcciones').removeAttr("disabled");
        }
        if (destino === '3' && (servicio[0] === 'g' || servicio === "0")) {
             $("#btn-submit").attr('disabled', 'disabled');
        } else {
             $("#btn-submit").removeAttr('disabled');
        }
    }
    
</script>
       
{% endblock %}

{% block informacion %}
<div style="float: right">
    <a href="javascript:void(0);" onclick="javascript:introJs().start();">Ayuda</a>
</div>
{% endblock %}

{% block formulario %}
<form class="form-horizontal"  method="POST" >
    {{ form_errors(form) }}
    <fieldset>    
        <div data-step="1" data-intro="{% include "informe/ExcesoVelocidadChofer/help.html.twig" with {'step': '1' } %}">
            {{ form_widget(form.destino) }}
        </div>
        <div data-step="2" data-intro="{% include "informe/ExcesoVelocidadChofer/help.html.twig" with {'step': '2' } %}">
            {{ form_widget(form.servicio) }}
        </div>
        <div data-step="3" data-intro="{% include "informe/ExcesoVelocidadChofer/help.html.twig" with {'step': '2' } %}">
            {{ form_widget(form.chofer) }}
        </div>
        <div data-step="4" data-intro="{% include "informe/ExcesoVelocidadChofer/help.html.twig" with {'step': '3' } %}">
            {{ form_widget(form.desde) }}
            {{ form_widget(form.hasta) }}
        </div>
        <div data-step="5" data-intro="{% include "informe/ExcesoVelocidadChofer/help.html.twig" with {'step': '4' } %}">
            {{ form_widget(form.referencia) }} 
        </div>
        <div data-step="6" data-intro="{% include "informe/ExcesoVelocidadChofer/help.html.twig" with {'step': '5' } %}">
            {{ form_widget(form.velocidad_maxima) }}
        </div>
        <div data-step="7" data-intro="{% include "informe/ExcesoVelocidadChofer/help.html.twig" with {'step': '6' } %}">
            {{ form_widget(form.mostrar_direcciones) }}
        </div>
        {{ form_widget(form._token) }} 
        
        <div class="form-actions" style="background-color: white">
            <button id="btn-submit" type="submit" class="btn btn-primary">Generar Informe</button>
            <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>


{% endblock %}
