{% if step == 1 %}
Indica como se quiere visualizar el resultado del informe. Puede ser en Pantalla, en un Gráfico de barras o Mapa. <br>
En caso que sea mapa no se podrá seleccionar mas de un equipo por vez.
{% elseif step == 2  %}
Selecciona que equipos son los que van a ser incluidos en el informe. Puede hacerlo para todos los equipos (puede demorarse en la generación) o bien realizar la consulta
para un equipo en particular. </br> Si tiene grupos de equipos configurados, el nombre del grupo se mostrara con el prefijo <b>Grp</b> he incluirá a todos
los equipos de dicho grupo.
{% elseif step == 3  %}
Chofer al que se necesita consultar los excesos de velocidad.
{% elseif step == 4  %}
Es el perído que quiere consultar. La fecha desde no puede ser mayor que la fecha hasta y las mismas no pueden ser vacias. <br>
Mientras mas días incluya en el período mas tiempo puede demorarse la generación.
{% elseif step == 5  %}
Indica sobre que referencias se debe considerar los excesos.
<ul class='list'>
    <li>No considerar referencia: No tiene en cuenta ninguna referencia del sistema.</li>
    <li>En todas las referencias: Solo considera los excesos de velocidad producidas dentro en las referencias. Si la
    refererencia tiene velocidad máxima configurada tomará esta como máxima.</li>
    <li>Sólo en... : Considera los excesos de velocidad sólo en las referencias que se encuentran dentro del grupo.</li>
</ul>
{% elseif step == 6  %}
Indica la velocidad máxima que se tendrá en cuenta para informar un exceso. <br>
Si ha seleccionado un grupo de referencias, y las referencias tiene velocidad máxima preconfigurada, entonces
se tomará dicha velocidad como limite. Sino se tomara la que se indica aca.
{% elseif step == 7  %}
Muestra la calle y altura o bien la ruta donde se produjo la infracción.
{% endif %}
