{% extends "app/Template/informe_result.html.twig" %}


{% block title %}Excesos de Velocidad por Chofer{% endblock %}
{% block titulo %}Excesos de Velocidad por Chofer{% endblock %}

{% block informacion %}
    Para el chofer <b>{{ consulta.chofernombre }}</b> y el servicio <b>{{ consulta.servicionombre }}</b> desde el <b>{{ consulta.desde }}</b> hasta el <b>{{ consulta.hasta }}</b> con velocidad
    mayor a <b>{{ consulta.velocidad_maxima }}</b> kms/h.
    [ <a href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a> ]
    <form name="formexport" action="{{ path('informe_excesosvelocidad_chofer_exportar', {'tipo': '0'}) }}" method="POST" >
        <input type="hidden" name="informe" value="{{ informe|json_encode() }}"/>
        <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
    </form>
{% endblock %}

{% block contentpanel %}

    {% if informe  %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Chofer</th>
                    <th>Servicio</th>
                    <th>Cantidad</th>
                    <th>Fecha</th>
                    <th style="text-align: center">Máx. Permitida (km/h)</th>
                    <th style="text-align: center">Registrada (km/h)</th>
                    <th style="text-align: center">Duración</th>
                        {% if consulta.referencia != 0 %}
                        <th style="text-align: center">Ubicación</th>
                        {% endif %}
                        {% if consulta.mostrar_direcciones %}
                        <th style="text-align: center">Dirección</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for key,value in informe %}
                <th rowspan={{ value.data|length +2}}>{{ key }}</th>
                <tr>
                    <th rowspan={{ value.data|length + 1}}>{{ value.servicio }}</th>
                    <th rowspan={{ value.data|length +1}}>{{ value.count }}</th>
                        {% for row in value.data %}
                    <tr>
                        <td>{{ row.fecha|date('d/m/Y H:i:s') }}</td>
                        <td style="text-align: center">{{ row.velocidad_maxima|default('---') }}</td>
                        <td style="text-align: center">{{ row.velocidad_registrada }}</td>
                        <td style="text-align: center">{{ row.duracion }}</td>
                        {% if consulta.referencia != 0 %}
                            <td style="text-align: left">{{ row.referencia.nombre|default('---') }}</td>
                        {% endif %}
                        {% if consulta.mostrar_direcciones %}
                            <td>{{ row.domicilio }}</td>
                        {% endif %}
                    </tr>
                {% else %} 
                    <td>---</td>
                    <td style="text-align: center">---</td>
                    <td style="text-align: center">---</td>
                    <td style="text-align: center">---</td>
                    {% if consulta.referencia != 0 %}
                        <td style="text-align: left">---</td>
                    {% endif %}
                    {% if consulta.mostrar_direcciones %}
                        <td>---</td>
                    {% endif %}
                {% endfor %} 
            </tr>
        {% endfor %} 



    </tbody>
</table>

{% endif %}

{% endblock %}
