{% if informe.estado == 3 %}
  {# finalizado #}
  <a class="a_informe_show" href="{{ path('informe_show', { id: informe.id }) }}">{{ informe.asunto ? informe.asunto : '---' }}</a>
{% else %}
  {{ informe.asunto ? informe.asunto : '---' }}
{% endif %}
