{% if informe.estado == 3 %}
  <a href="{{ path('informe_show', { id: informe.id }) }}" title="ver informe" class="btn btn-xs btn-default"><i class="fa fa-eye"></i></a>
  {# estado generado #}
{% endif %}
