<div id="contador-all" class="alert alert-info">
  <div id="contador" style="float: left;">Los datos se actualizarán en: 15 segundos.</div>
  <a href="javascript:void(0);" onclick="actualizarEstados();" class="btn btn-default btn-xs">Actualizar Ahora.</a>
</div>
<table class="table table-condensed" id="tablaIformes">
  <thead>
    <tr>
      <th scope="col" style="width: 50px;"></th>
      <th scope="col" class="col-md-5">Asunto</th>
      <th scope="col" class="col-md-1">Estado</th>
      <th scope="col" class="col-md-1">Tipo</th>
      <th scope="col" class="col-md-5">Datos</th>
    </tr>
  </thead>
  <tbody>
    {% for informe in inbox %}
      <tr class="{{ informe.visto ? ' ' : 'bold-row' }}">
        <td>
          <i class="{{ informe.visto ? 'fa fa-envelope-open-o' : 'fa fa-envelope' }}"></i>
        </td>
        <td>
           <div id="asuntoHref_{{ informe.uid }}">
            {% include 'informe/Home/asunto-href.html.twig' %}
          </div>
        </td>
        <td>
          <div id="spanStatus_{{ informe.uid }}">
            {% include 'informe/Home/span-status.html.twig' %}
          </div>
        </td>
        <td>{{ informe.strTipo(informe.tipo) }}</td>
        <td>
          De <em>{{ informe.fechaDesde }}</em> a <em>{{ informe.fechaHasta }}</em>,
           generado por <em>{{ informe.autor.nombre }}</em>,
           {{  informe.dataInforme.nombreServicio is defined ? 'para servicio/s '~  informe.dataInforme.nombreServicio : ''  }}
           {{  informe.dataInforme.nombreChofer  is defined ? ' y chofer/s '~  informe.dataInforme.nombreChofer:  ''  }}
           {{  informe.dataInforme.nombreReferencia  is defined ? ' y referencia/s '~ informe.dataInforme.nombreReferencia : ''  }}
           generado el <em>{{ informe.created_at|date('d-m-Y H:i:s', app.user.timeZone) }}</em>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
