{% extends 'app/Template_aker/list.html.twig' %}

{% block css %}
  {{ parent() }}
  <style>
    .bold-row td {
      font-weight: bold;
    }
    a {
  color: #777;
  text-decoration: none; /* Opcional: elimina el subrayado */
}

/* Si quieres estilos diferentes para los enlaces en estado hover o visited: */
a:hover {
  color: darkgray; /* Color cuando el enlace está en hover */
}
  </style>
{% endblock %}

{% block js %}
  {{ parent() }}
  <script>{% include "informe/Home/homepage.js" %} </script>
{% endblock %}
{% block titulo %}
  Central de informes
{% endblock %}

{% block contentpanel %}
  {% include 'informe/Home/popup_new.html.twig' %}
    {% include "app/Template_aker/popup_load.html.twig" %}
  <div id="content_inbox" class="table-container">
    {% include 'informe/Home/content_informes.html.twig' %}
  </div>
{% endblock %}
