{% extends 'app/Template_aker/informe.html.twig' %}

{% block css %}
  {{ parent() }}
  <style>
      .popover-content {
          width: 300px;       
     
      }
      .popover-content p {
          width: 250px;       
     
      }
    .bold-row td {
      font-weight: bold;
    }
    a {
      color: #777;
      text-decoration: none; /* Opcional: elimina el subrayado */
    }
    
    a:hover {
      color: darkgray; /* Color cuando el enlace está en hover */
    }
  
  </style>
{% endblock %}

{% block js %}
  {{ parent() }}
  <script>
    $('#informe_tipo').select2({
        'width': '100%',
    });


$('#informe_tipo').change(function () {
    var selectedValue = $(this).val();
    if (selectedValue > 0) {
        $.ajax({
            url: "{{ path('informe_getform') }}",
            method: 'GET',
            data: { informe_tipo: selectedValue },
            dataType: "json",
            beforeSend: function () {
                $('#content-informe').text("Cargando......");
            },
            success: function (response) {
                if (response.html) {
                    $('#content-informe').text("");
                    $('#content-informe').html(response.html);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // Maneja el error aquí
                $('#content-informe').text("Error");
            }
        });
    }
    });
    function generar(url) { //la url se pasa como se pasa en el formulari ode prudencia vial
    if ($(".informe_asunto").val() === '') { //necesitamos que todos los campos asuntos de los informes tenga la clase informe_asunto para verificar
        alert("Asunto se encuentra vacío...");
        return;
    }
    $.ajax({
        url: url,
        method: 'POST',
        data: { 'form': $("#form").serialize(), }, //todos los formarios deben tener id=form
        dataType: "json",
        beforeSend: function () {
            $('#form').find('input, textarea, select, button').prop('disabled', true);

        },
        success: function (response) {
                var baseUrl = "{{ path('informe_home', {'id': 0}) }}";
                baseUrl = baseUrl.replace('/0', '/' + response.id);
                window.location.href = baseUrl;

        },
        error: function (jqXHR, textStatus, errorThrown) {
            $('#form').find('input, textarea, select, button').prop('disabled', false);
            newNotify('Error!', 'error', 'Verifique si algún campo se escuentra vacío');
        }


    });
}

  </script>
{% endblock %}
{% block titulo %}
  Central de informes
{% endblock %}

{% block informacion %}
  <div class="row">
    <div class="col-md-6">
      <div class="control-group">
      <legend>Datos para informe nuevo</legend>
        <div class="controls">
          <select id="informe_tipo">
            {% for key, value in informes %}
              <option {{ value is  null ? 'disabled' : '' }} {{ value == -1 ? 'selected' : '-1' }} value="{{ value }}">{{ key }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div id="content-informe"></div>
    </div>
    <div class="col-md-6">
      <legend>Información</legend>
      <p>En esta página, puede seleccionar y configurar el informe que desee generar. </p>
      <p>Además, tiene la opción de ajustar todos los parámetros necesarios. </p>
      <p>Una vez que solicite el informe, este comenzará a generarse, lo que podría tardar algunos minutos según la configuración elegida. Mientras tanto, podrá seguir utilizando el sistema con normalidad. </p>
      <p><strong>Le notificaremos cuando el informe esté listo y disponible.<strong></p>
    </div>
  </div>
{% endblock %}
