<!-- Modal -->
<div class="modal fade" id="modalInformeNew" role="dialog" aria-labelledby="modalCambioLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="overflow-y: scroll;">
			<div class="modal-header">
					Nuevo Informe
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				
			</div>
			<div class="modal-body">
				<p>Seleccione el informe que desea generar</p>
				<div id="modal-body-externo">
						<div class="row">
							<div class="col-md-12">
								<div class="control-group ">
									<label class="control-label required" for="informe_tipo">Informe</label>
									<div class="controls">
										<select id="informe_tipo">
                                        {% for key,value in informes  %}
                                        {# por el momento solo prudencia_vial#}
                                            <option {{value > 1 ? 'disabled': ''}}  {{value == 0 ? 'selected': ''}}  value="{{value}}">{{key}}</option>
                                        {% endfor  %}
                                        </select>
									</div>
								</div>
								<div id="content-informe">
                                
                                </div>
							
							</div>
						</div>
				
				</div>
			</div>
			
		</div>
	</div>
</div>
