
	{% for key, value in datos %}
	
				<strong>{{key}}</strong>
				:
                     
				{% if key == 'servicios'%}
					{% for key,dato in value %}
						[<strong>{{ dato.nombre }}</strong>
						:
						
						<em>Nro. Contenedor:</em>
						{{ dato.nro_contenedor }}
						,
						
						<em>Nro. Bill:</em>
						{{ dato.nro_bill }}
						,
						
						<em>Patente Acoplado:</em>
						{{ dato.patente_acoplado }}
						,
						<em>Chofer</em>
						{{ dato.chofer is defined and dato.chofer ?  dato.chofer.nombre :'---'}}
                        ] - 
						
					{% endfor %}
				{% endif %}
                {% if key == 'referencias'%}
					{% for key,dato in value %}
						[<strong>{{ dato.nombre }}</strong>
						:
						<em>orden:</em>
						{{ dato.orden }}
						,
						
						<em>Ingreso:</em>
						{{ dato.ingreso is not null  and dato.ingreso != 'Arribo' ? dato.ingreso.date|date('d/m/Y H:i'): 'Arribo'  }}
						,
						
						<em>Egreso:</em>
						{{ dato.egreso is not null and dato.egreso != 'Salida' ? dato.egreso.date|date('d/m/Y H:i') : 'Salida' }}
						
                        ] - 
						
					{% endfor %}
				{% endif %}
                {% if key == 'custodios'%}
					[{% for key,dato in value %}
						<em>{{ dato.nombre }}</em>,
					{% endfor %}]
				{% endif %}
                {% if key == 'contactos'%}
					[{% for key,dato in value %}
						<em>{{ dato.nombre }}</em>,
			        {% endfor %}]
				{% endif %} 
				 {% if  key == 'usuarios'%}
					[{% for key,dato in value %}
						<em>{{ dato.nombre }}</em>,
			        {% endfor %}]
				{% endif %}
                {% if key == 'logistica'%}
						<em>{{ value ? value.nombre: '---' }}</em>,
			    
				{% endif %} 
                {% if  key == 'cliente'%}
						<em>{{ value ? value.nombre:'---' }}</em>,
				{% endif %}
                {% if  key == 'nota'%}
						<em>{{ value ? value|raw :'---' }}
				{% endif %}</em>
                    {% if  key == 'eventos'%}
						[<em>{{ value.pois is defined and  value.pois == 1 ? 'E/S de Punto de Interés' :'' }}</em>,
						<em>{{ value.sensores is defined and  value.sensores == 1 ? 'Sensores ' :'' }}</em>,
						<em>{{ value.detencion is defined and value.detencion > 0 ? 'Detención por ' ~ value.detencion ~ ' min.' :'' }}</em>,
						<em>{{ value.panico is defined and  value.panico > 0 ? 'Pánico' :'' }}</em>]
				{% endif %}
		
	{% endfor %}
