{% extends "app/Template_aker/list.html.twig" %}


{% block css %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	<link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet" type="text/css" media="all"/>
	<style>
		.datepicker {
			background-color: #fff;
			color: #333;
		}
	</style>
{% endblock %}

{% block titulo %}Templates de Itinerarios
{% endblock %}

{% block informacion %}{% endblock %}

{% block contentpanel %}


	<div class="panel">
		<div class="panel-body">
			<div id="tablaItinerarios">
				{% include "monitor/Template/templates.html.twig" with {'templates': templates } %}
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	{{ parent() }}
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
{% endblock %}
