<form id="formCheck" name="formCheck">
	<table id="tableItinerarios" class="table table-condensed table-hover">
		<thead>
			<tr>
				
				<th class="col-md-2">Nombre</th>
				<th class="col-md-9">Datos</th>
				<th class="col-md-1">Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for template in templates %}
				<tr>

					<td>
						<h5>{{ template.nombre }}</h5>
					</td>	
					<td>
							{% include "monitor/Template/datos.html.twig" with {'datos': template.datos } %}
					</td>	
					<td>	
							<a href="{{ path('monitor_template_createiti',{'id': template.id }) }}" class="btn btn-default"><i class="fa fa-plus"></i> Itinerario</a>
					</td>	
					

				</tr>
			{% endfor %}
		</tbody>
	</table>
</form>
