{% extends "app/Template_aker/popup.html.twig" %}

{% block modalId %}modalDelete{% endblock %}

{% block modalTitulo %}Eliminar Empresa{% endblock %}

{% block modalUrl %}{{ path('empresa_delete', { 'id': empresa.id }) }}{% endblock %}

{% block modalBody %}
  <p>Esta seguro de eliminar esta empresa: <strong>{{ empresa.nombre|upper }}</strong> ?</p>
    {{ form_widget(delete_form) }}
{% endblock %}

{% block modalOk %}
    <button class="btn btn-primary" type="submit">Eliminar</button>
{% endblock %}

