<table class="table table-condensed">
	<thead>
		<tr>
			<th>Nombre</th>
		</tr>
	</thead>
	<tbody>
		{% for itinerario in itinerarios %}
			<tr>
				<td>{{ itinerario.codigo}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
