{% extends "app/Template_aker/list.html.twig" %}

{% block titulo %}Clientes
{% endblock %}
{% block contentpanel %}
	<div class="panel">
		<div class="panel-body">
			<table class="table table-condensed" id="tablaEmpresa">
				<thead>
					<tr>
						<th>Cliente</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for empresa in empresas %}
						<tr>
							<td>
								<a href="{{ path('empresa_show', {'id': empresa.id}) }}">{{ empresa.nombre }}</a>
							</td>
							<td>
								{% if is_granted('ROLE_EMPRESA_EDITAR') %}
									<a href="{{ path('empresa_edit', {'id': empresa.id} ) }}" class="btn btn-small"><i class="fa fa-edit"></i></a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
	 $(document).ready(function () {
           getDataTable('tablaEmpresa'); //funcion que se encuentra en el layout_Aker
	});

    </script>
{% endblock %}
