<div class="main-body">
	<div class="row">
		<div class="col-md-6">
		<div class="card">
				<div class="card-body">
					<div class="card">
						<div class="card-body">
							<h4>Contactos</h4>
							<hr class="my-4">
								<div id="tableContactos">
								{% include "monitor/Contacto/contactos.html.twig" with {'contactos': empresa.contactos } %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<div class="card">
						<div class="card-body">
							<h4>Usuarios</h4>
							<hr class="my-4">
							<div id="tableUsuarios">
								{% include "monitor/Usuario/usuarios.html.twig" with {'usuarios': empresa.usuarios  } %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
