<script type="text/javascript">
      $('[data-toggle="popover"]').popover({
      html: true
    });
     // Al hacer clic en cualquier elemento que tenga un popover
    $('[data-toggle="popover"]').on('show.bs.popover', function () {
      // Cerramos todos los popovers activos
      $('[data-toggle="popover"]').not(this).popover('hide');
    });

    // Opcional: cerrar el popover si se hace clic fuera
    $(document).on('click', function (e) {
      if (!$(e.target).closest('[data-toggle="popover"]').length) {
        $('[data-toggle="popover"]').popover('hide');
      }
    });
  $(document).ready(function() {
    $('#informeresponsabilidad_servicio').select2({
      width: '100%'
    })
    $('#informeresponsabilidad_referencia').select2({
      width: '100%'
    })
    $('#informeresponsabilidad_desde').datetimepicker({
      locale: 'es',
      format: 'DD/MM/YYYY HH:mm',
      widgetPositioning: {
        horizontal: 'right',
        vertical: 'bottom'
      },
       defaultDate: moment().startOf('day')
    })
  
    $('#informeresponsabilidad_hasta').datetimepicker({
      locale: 'es',
      format: 'DD/MM/YYYY HH:mm',
      widgetPositioning: {
        horizontal: 'right',
        vertical: 'bottom'
      },
       defaultDate: moment().endOf('day')
    })
  })
</script>

<form class="form-horizontal" id="form" action="#" method="POST">
  <div class="col-md-12">
    <div class="control-group">
      <label class="control-label" for="">Asunto</label>
      <div class="controls">{{ form_widget(form.asunto) }}</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="control-group">
      <label class="control-label" for="">Desde</label>
      <div class="controls">{{ form_widget(form.desde) }}</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="control-group">
      <label class="control-label" for="">Hasta</label><div class="controls">{{ form_widget(form.hasta) }}</div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="control-group">
      <label class="control-label">Servicio</label><div class="controls">{{ form_widget(form.servicio) }}</div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="control-group">
      <label class="control-label">Referencia</label><div class="controls">{{ form_widget(form.referencia) }}</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="control-group">
      <label class="control-label" for="">Vel. Max en Referencia
        <span data-toggle="popover" title="Velocidad Máxima en referencia"
              data-content="<p>Este valor se usará cuando la referencia no tenga velocidad máxima.</p>">
            <label class="label label-default" style="cursor: pointer;"><i class="fa fa-info-circle"></i></label>
        </span>
        </label><div class="controls">{{ form_widget(form.max_referencia) }}</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="control-group">
      <label class="control-label" for="">Vel. Max Fuera
        <span data-toggle="popover" title="Velocidad Máxima fuera de  referencia"
              data-content="<p>Este valor se usará cuando el camino no tenga velocidad máxima o máxima por mapa esté deshabilitado.</p>">
            <label class="label label-default" style="cursor: pointer;"><i class="fa fa-info-circle"></i></label>
        </span>
      </label><div class="controls">{{ form_widget(form.max_resto) }}</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="control-group">
      <label class="control-label" for="">Máxima por Mapa 
        <span data-toggle="popover" title="Máxima por Mapa" 
              data-content="<p><b>Habilitado:</b> Compara la velocidad con la del mapa. <b>Deshabilitado:</b> Usa la máxima ingresada aquí (Menor tiempo de ejecución del informe).</p>">
           <label class="label label-default" style="cursor: pointer;"><i class="fa fa-info-circle"></i></label>
        </span>
      </label>
      <div class="controls">{{ form_widget(form.maxima_por_mapa) }}</div>
    </div>
  </div>


  {{ form_widget(form._token) }}
</form>
<div class="col-md-12">
  <div class="form-actions">
    <div class="col-md-5" style="margin-top: 20px;">
      <button id="btnGenerar" onclick='generar("{{ path('informe_sendform',{'tipo': 2 }) }}")' type="button" class="btn btn-primary">Generar</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    </div>
  </div>
</div>
