{% extends "app/Template/informe.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block title %}Informe Historico de Mantenimiento{% endblock %}
{% block titulo %}Informe Historico de Mantenimiento{% endblock %}
{% block js %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
        $.datepicker.setDefaults ($.datepicker.regional["es"]);
        $("#informemant_desde").datepicker ({
            defaultDate: "today",
            changeMonth: true,
            numberOfMonths: 1,
            maxDate: "today",
        });
       
        $("#informemant_hasta").datepicker ({
            defaultDate: "today",
            changeMonth: true,
            numberOfMonths: 1,
            maxDate: "today",
        });

                    
    });
</script>
{% endblock %}
{% block informacion %}
<div style="float: right">
    <a href="javascript:void(0);" onclick="javascript:introJs().start();">Ayuda</a>
</div>
{% endblock %}

{% block formulario %}
 <form class="form-horizontal" id="form" action="#"  method="POST" >
    {{ form_errors(form) }}
    <fieldset>
        <div data-step="1" data-intro="{% include "informe/Mantenimiento/help.html.twig" with {'step': '1' } %}">
            {{ form_widget(form.destino) }}
        </div>
        <div data-step="3" data-intro="{% include "informe/Mantenimiento/help.html.twig" with {'step': '3' } %}">
            {{ form_widget(form.servicio) }}
        </div>
        <div data-step="4" data-intro="{% include "informe/Mantenimiento/help.html.twig" with {'step': '4' } %}">
            {{ form_widget(form.desde) }}
            {{ form_widget(form.hasta) }}
        </div>
        <div data-step="5" data-intro="{% include "informe/Mantenimiento/help.html.twig" with {'step': '5' } %}">
            {{ form_widget(form.incluir_ok) }}
        </div>
        {{ form_widget(form._token) }} 
        <div class="form-actions" style="background-color: white">
            <button type="submit" class="btn btn-primary">Generar Informe</button>
            <a href="{{  app.session.get('volver') }}" class="btn">Cancelar</a>
        </div>
    </fieldset>
</form>
{% endblock %}
