{% extends "app/Template/informe_result.html.twig" %}

{% block titulo %}Historico de Mantenimiento {% endblock %}

{% block informacion %}
    Para el Servicio <b>{{ consulta.servicionombre }}</b> desde el <b>{{ consulta.desde }}</b>hasta el <b> {{consulta.hasta}}</b>

{% endblock %}

{% block contentpanel %}

    {% if informe is not null %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Servicio</th>
                    <th>Fecha</th>
                    <th>Mantenimiento</th>
                    <th>Tipo</th>
                    <th>Taller</th>
                    <th>Costo</th>
                </tr>
            </thead>
            <tbody>
                {% for value in informe %}
                    <tr>
                        {% if value.tareas|length > 0 %}
                            {% set rowspan = value.tareas|length %}
                        {% else %}
                            {% set rowspan = 1%}
                        {% endif %}
                        {% if  value.tareas|length > 0 %}
                            <th rowspan="{{ rowspan }}">{{ value.servicio.nombre }}</th>
                                {% set i = 0 %}   
                                {% for arr in value.tareas %}
                                    {% if i > 0 %}
                                <tr>
                                {% endif %}
                                <td>{{ arr.tarea.fecha|date('d-m-Y') }}</td>
                                {% if arr.tarea.servicio is null %}
                                    <td><b>{{ arr.tarea.serviciomantenimiento.mantenimiento.nombre }}</b>({{ arr.tarea.observacion|default('---')}} )</td>
                                {% else%}
                                    <td>{{ arr.tarea.observacion|default('---') }}</td>
                                {% endif %}
                                <td>{{ arr.tarea.servicio is not null ? 'Eventual':'Periódica' }}</td>
                                <td>{{ arr.tarea.taller.nombre|default('---') }}</td>
                                <td>$ {{ arr.tarea.costo|number_format(2) }}</td>
                                {% if i > 0 %}
                                </tr>
                            {% endif %}
                            {% set i = i+1 %}
                        {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}