{% extends "app/Template/form.html.twig" %}

{% block titulo %}Asignación de usuario{% endblock %}
{% block subtitulo %}{% endblock %}

{% block formulario %}
<form class="form-horizontal" action="{{ path('servicio_batch', {'checks': checks, 'idorg': organizacion.id}) }}" method="POST" >
<div class="row-fluid">
    <div class="span5">
        <h4>Listado de Usuarios</h4>
        <fieldset>
            <div class="control-group ">
                <div class="control-label"><label for="usuario" class=" required">Usuario</label></div>
                <div class="controls">
                    <select id="usuario" name="usuario" required="required" class="">
                        {% for usr in usuarios %}
                            <option value="{{ usr.id }}">{{ usr.nombre }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block"></span>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="span5">
        <h4>Servicios seleccionados</h4>
        <ul>
        {% for servicio in servicios %}
            <li>{{ servicio.nombre }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Asignar" />
        <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
    </div>
</form>

{% endblock %}