{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
    {{ servicio }}
{% endblock %}

{% block subtitulo %}
    Asignar Chofer
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block formulario %}    
      <form class="form-horizontal"  method="POST" >
        <fieldset>
            <div class="row-fluid">
                <div>{{ form_errors(form) }}</div>
                <div class="span7">
                    {{ form_widget(form.chofer) }}
                </div>

            </div>                
            {{ form_rest(form) }}
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Asignar" />
                <a href="{{ app.session.get('volver')}}" class="btn">Cancelar</a>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}