{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	Asignar Equipo
{% endblock %}


{% block js %}
	{{ parent() }}
	<script type="text/javascript">
		$(function () {
         $("#servicio_fecha").datetimepicker({
            format: 'DD/MM/YYYY',
            locale: 'es',
            widgetPositioning: {
                horizontal: 'right',
                vertical: 'bottom'
            }
        });
          $('#servicio_equipo').select2({ width: "100%" });
            });
	</script>
{% endblock %}

{% block formulario %}

	<form class="form-horizontal" action="{{ path('servicio_asignar_equipo', {'id': servicio.id} ) }}" method="POST">
		{% embed "app/Template_aker/panel_form.html.twig" %}
			{% block titulo %}
				Equipos disponibles en deposito

			{% endblock %}
			{% block cuerpo %}
				<fieldset>
					<div class="row-fluid">
						<div>{{ form_errors(form) }}</div>
						<div class="col-md-6">
                            {{ form_widget(form._token) }}
                            {{ form_widget(form.equipo) }}
							{% if form.fecha is defined %}
								{{ form_widget(form.fecha) }}
								{{ form_widget(form.odometro) }}
								{{ form_widget(form.horometro) }}
							{% endif %}

						</div>
						<div class="col-md-6"></div>

					</div>
					{{ form_widget(form._token) }}

				</fieldset>
			{% endblock %}
			{% block botones %}
				<input type="submit" class="btn btn-primary" id="crear" value="Asignar"/>
				<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
			{% endblock %}
		{% endembed %}
	</form>
{% endblock %}
