{% block formulario %} 
    {% if eventos %} 
        <br>
        <button id="desvincular-todas" class="btn btn-small btn-danger" onclick="accionEventos({{ servicio.id }}, 2)">Desactivar Todos</button>
        <button id="vincular-todas" class="btn btn-small btn-primary" onclick="accionEventos({{ servicio.id }}, 1)">Activar Todos</button>
        <br>
        <table id="tableEventos" class="table table-condensed">
            <thead>
                <tr>
                    <th>Evento</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for var in eventos %}
                    <tr>
                        <td>{{var.evento.nombre}}</td>
                        <td>{{var.evento.activo?'Activo':'Desactivado'}}</td>
                        {% set evento_id = var.evento.id %}
                        <td> 
                            <div id="div{{ evento_id }}">
                                {% if var.inServicio %}                                            
                                    <button id="btn{{ evento_id }}" class="btn btn-small btn-danger" onClick="accionEvento({{ servicio.id }}, {{ evento_id }}, 2)">Desactivar</button>
                                {% else %}
                                    <button id="btn{{ evento_id }}" class="btn btn-small btn-primary" onclick="accionEvento({{ servicio.id }}, {{ evento_id }}, 1)">Activar</button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block js %}
    <script type="text/javascript">
        function accionEvento(servicio_id, evento_id, accion) {
            var request = $.ajax({
            type: 'POST',
                    url: "{{ path('servicio_asignar_eventos')}}",
                    data: { 'servicio': servicio_id, 'evento': evento_id, 'accion': accion },
                    dataType: "html",
                    success: function(data){
                        if (accion === 1) {
                            button = "<button id='btn" + evento_id + "' class='btn btn-small btn-danger' onClick='accionEvento(" + servicio_id + "," + evento_id + "," + 2 + ")'>Desactivar</button>";
                        } else {
                            button = "<button id='btn" + evento_id + "'class='btn btn-small btn-primary' onClick='accionEvento(" + servicio_id + "," + evento_id + "," + 1 + ")'>Activar</button>";
                        }
                        $("#div" + evento_id).html(button);
                    }
            });
        }

        //para todas los eventos
        function accionEventos(servicio_id, accion) {
        var request = $.ajax({
            type: 'POST',
                url: "{{ path('servicio_asignar_eventosall') }}",
                data: {
                    'accion': accion,
                    'id': servicio_id
                },
                dataType: "html",
                success: function (data) {
                    location.reload();
                },
            });
        }

        
    </script>
{% endblock %}


