{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ servicio.organizacion }} {% endblock %}
{% block subtitulo %}Baja de Servicio.{% endblock %}
    
{% block css %}
   {{ parent() }}
<link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" /> 
{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
            $("#servicio_fecha_baja").datetimepicker({
                format: 'DD/MM/YYYY HH:mm',
                locale: 'es',
                widgetPositioning: {
                horizontal: 'right',
                vertical: 'bottom'
                }
            });
            $("#servicio_fecha_baja").val("{{null|date('d/m/Y H:i')}}");
        });
</script>
{% endblock %}

{% block informacion %}
   {% if servicio.organizacion.tipoOrganizacion == 1 %}
    <div class="alert alert-info">
        <span class="label label-warning">Atención</span> Esta por dar de baja el servicio <b>{{ servicio }}</b>. 
        A partir de este momento no se podrá acceder al servicio desde la vista del cliente ni acceder a sus historiales aunque los
        mismos estarán disponibles hasta la eliminación definitiva.<br/>
        Esta acción es irreversible desde la cuenta de un distribuidor. Sólo podrán activar la cuenta técnicos con derechos especiales.
    </div>
   {% endif %}
{% endblock  %}

{% block formulario %}
    <form class="form-horizontal" action="{{ path('servicio_baja', {'id': servicio.id}) }}"  method="POST" >
        {% embed "app/Template_aker/panel_form.html.twig" %}
	{% block titulo %}
		Baja de servicio
		{{ servicio.nombre }}
		({{ servicio.equipo.modelo|default(' sin equipo ') }})
	{% endblock %}
	{% block cuerpo %}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-8">
                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Nombre', 'data': servicio.nombre } %} 
                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Tipo', 'data': servicio.getStrTipoObjetos } %} 
                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Clase', 'data': servicio.tipoServicio, 'img': servicio.tipoServicio.getWebPath()} %} 
                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Estado', 'data': servicio.getStrEstado } %} 
                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Equipo', 'data': servicio.equipo != null ? servicio.equipo : 'N/A' } %} 
              
            </div>
                <div class="col-md-4">
                    {% include "app/Template_aker/show_row.html.twig" with {'label': 'Fecha Alta', 'data': servicio.fechaAlta != null ? servicio.fechaAlta|date('d/m/Y H:i') : 'N/A' } %} 
                {% include "app/Template_aker/show_row.html.twig" with {'label': 'Ultima Transmisión', 'data': servicio.ultFechahora != null ? servicio.ultFechahora|date('d/m/Y H:i') : 'N/A' } %} 
                {{ form_widget(form.fecha_baja) }}  
                {{ form_rest(form) }}
                </div>
        </div>
		{% endblock %}
		{% block botones %}
			<input type="submit" class="btn btn-primary" value="Dar de Baja"/>
			<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
		{% endblock %}
	{% endembed %}
</form>
{% endblock %}
