{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	{{ servicio.nombre }}
{% endblock %}


{% block js %}
	{{ parent() }}
	<script type="text/javascript">
        $(function () {
            $("#servicio_fecha").datetimepicker({
				format: 'DD/MM/YYYY HH:mm',
				locale: 'es',
				widgetPositioning: {
				horizontal: 'right',
				vertical: 'top'
        }
        });

});
	</script>
{% endblock %}

{% block formulario %}
{{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
{% embed "app/Template_aker/panel_form.html.twig" %}
	{% block titulo %}
		Configuración de Valores

	{% endblock %}
	{% block cuerpo %}
		<fieldset>
			<div class="row">
				<div>{{ form_errors(form) }}</div>
				<div class="col-md-6">
					<legend>Datos del Vehiculo</legend>
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Nombre', 'data': servicio.nombre } %}
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Tipo', 'data': servicio.getStrTipoObjetos } %}
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Clase', 'data': servicio.tipoServicio} %}
				</div>
				<div class="col-md-6">
					<legend>Últimos datos</legend>
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Ultima Transmisión', 'data': servicio.ultFechahora != null ? servicio.ultFechahora|date('d/m/Y H:i:s', app.user.timeZone) : 'N/A' } %}
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Odómetro actual', 'data': (servicio.ultOdometro / 1000)|number_format(2) ~ ' kms'} %}
					{% if servicio.horometro %}
						{% include "app/Template_aker/show_row.html.twig" with {'label': 'Horómetro actual', 'data': servicio.formatHorometro} %}
					{% endif %}
				</div>
			</div>
			<div class="row" style="margin-top: 30px;">
				<div class="col-md-6">
					<legend>Nuevos valores</legend>
					{% if form.fecha is defined %}
						{{ form_widget(form.fecha) }}
					{% endif %}

					{{ form_widget(form.odometro) }}

					{% if servicio.horometro %}
						{#{{ form_widget(form.horometro) }}#}
						<div class="control-group ">
							<div class="row-fluid">
								<label class="control-label">Horómetro del Tablero</label>
							</div>
							<div class="col-md-5">
								<input id="servicio_horas" name="servicio[horas]" class="form-control" type="number" placeholder="horas">
							</div>
							<div class="col-md-5">
								<input id="servicio_minutos" name="servicio[minutos]" class="form-control" type="number" placeholder="minutos">
							</div>
						</div>
					{% endif %}
				</div>
				<div class="col-md-6">
					<legend>Notas:</legend>
					<ul>
						<li>Ingrese la fecha y hora en la que tomo la lectura del odometro del tablero del vehiculo</li>
						<li>Ingrese el dato en kilometros y sin decimales.</li>
						<li>El sistema calculará los kilómetros recorridos desde la fecha ingresada y ajustará el odómetro.</li>
						<li>Tenga en cuenta que el mismo se actualizará con los nuevos valores en la próxima comunicación del equipo.</li>
					</ul>
				</div>

			</div>
		</div>
		{{ form_widget(form._token) }}

	</fieldset>
{% endblock %}
{% block botones %}
	<input type="submit" class="btn btn-primary" id="crear" value="Cambiar"/>
	<a href="{{ app.session.get('volver') }}" class="btn btn-default">Cancelar</a>
{% endblock %}
{% endembed %}
{{ form_end(form, {'render_rest': false}) }}
{% endblock %}
