    <form name="formexport" action="{{ path('servicio_exportar') }}" method="POST" >
        <input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
    </form>     
    <table class="table table-condensed table-hover" id="tableFlota">
        <thead>
            <tr>
                <th>Estado</th>
                <th></th>
                <th>Nombre</th>        
                <th>Equipo</th>        
                <th>Ult. Transmisión</th>
                <th>Accesorios</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
                {% if servicio.estado != 9 %} {# todos menos los eliminados#}
                    <tr>
                        <td>{{ servicio.strEstado}}</td>
                        <td>
                            {% include "app/Template/show_servicio_image.html.twig" with {'servicio': servicio, 'size': '40px' } %}                         
                        </td>
                        <td>
                            <a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'main'}) }}">{{ servicio.nombre }}</a>
                            </br>
                            <small><i>{{ servicio.getStrTipoObjetos }} | {{ servicio.tipoServicio }}</i></small>
                        </td>
                  
                        <td>{{ servicio.equipo ? servicio.equipo.mdmid : '---' }}</td>
                        <td>                        
                            {{ servicio.ultFechaHora ? servicio.ultFechaHora|date('d-m-Y H:i:s', app.user.timeZone) : '---' }}
                        </td>
                        <td>  {# aca muestro si tiene sensores instalados#}          
                            {% for sens in servicio.sensores %}
                                <div class="label label-important" title="{{ sens.nombre }}">{{ sens.abbr }}</div>
                            {% endfor %}
                            {% for inp in servicio.inputs %}
                                <div class="label label-default" title="{{ inp.nombre }}">{{ inp.abbr }}</div>
                            {% endfor %}
                            {% if servicio.medidorCombustible %}
                                <div class="label label-info" title="Medidor Combustible">Co</div>
                            {% endif %}
                            {% if servicio.botonPanico %}
                                <div class="label label-warning" title="Botón de Panico">P</div>
                            {% endif %}
                            {% if servicio.corteMotor %}
                                <div class="label label-danger" title="Corte Motor">CM</div>
                            {% endif %}
                            {% if servicio.canbus %}
                                <div class="label label-dark" title="Canbus">CBus</div>
                            {% endif %}
                        </td>   
                        <td>
                            {% if is_granted('ROLE_FLOTA_EDITAR') %}
                                <a title="Modificar servicio" href="{{ path('servicio_edit', {'id': servicio.id}) }}" class="btn btn-default btn-sm"><i class="fa fa-edit"></i></a> 
                            {% endif %}
                        </td>

                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
