 
    <table class="table table-condensed table-hover" id="tableFlota">
        <thead>
            <tr>
                <th>Estado</th>
                <th></th>
                <th>Nombre</th>                 
                <th>Equipo</th>
                <th>Ult. Transmisión</th>
                <th>Accesorios</th>
                <th title="indice mantenim. realizados/nuevos">Manten. R/N</th>
                <th title="indice mantenim. realizados/pendientes">Manten. R/P</th>
                <th title="indice pedidos de rep. realizados/nuevos">P.R. R/N</th>
                <th title="indice pedidos de rep. realizados/pendientes">P.R. R/P</th>
                {% if moduloCentroCosto %}
                    <th>Centro Costo</th>
                {% endif %}
                <th></th>
                {% if is_granted('ROLE_PETICION_AGREGAR') %}
                    <th></th>
                {% endif %}
              
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
                {% if servicio.estado != 9 %} {# todos menos los eliminados#}
                    <tr>
                        <td>{{ servicio.strEstado}}</td>
                        <td>
                            {% include "app/Template/show_servicio_image.html.twig" with {'servicio': servicio, 'size': '40px' } %}                         
                        </td>
                        <td>
                            <a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'main'}) }}">{{ servicio.nombre }}</a>
                            </br>
                            <small><i>{{ servicio.getStrTipoObjetos }} | {{ servicio.tipoServicio }}</i></small>
                        </td>
                        <td>{{ servicio.equipo ? servicio.equipo.mdmid : '---' }}
                        </td>
                         <td>                        
                            {{ servicio.ultFechaHora ? servicio.ultFechaHora|date('d-m-Y H:i:s', app.user.timeZone) : '---' }}
                        </td>
                       <td>  {# aca muestro si tiene sensores instalados#}          
                            {% for sens in servicio.sensores %}
                                <div class="label label-important" title="{{ sens.nombre }}">{{ sens.abbr }}</div>
                            {% endfor %}
                            {% for inp in servicio.inputs %}
                                <div class="label label-default" title="{{ inp.nombre }}">{{ inp.abbr }}</div>
                            {% endfor %}
                            {% if servicio.medidorCombustible %}
                                <div class="label label-info" title="Medidor Combustible">Co</div>
                            {% endif %}
                            {% if servicio.botonPanico %}
                                <div class="label label-warning" title="Botón de Panico">P</div>
                            {% endif %}
                            {% if servicio.corteMotor %}
                                <div class="label label-danger" title="Corte Motor">CM</div>
                            {% endif %}
                            {% if servicio.canbus %}
                                <div class="label label-dark" title="Canbus">CBus</div>
                            {% endif %}
                        </td>       
                         {% if moduloMantenimiento  and servicio.tipoObjeto != 0 %}
                            {% if indices|length > 0 and indices[servicio.id] != null %}
                                <td title="indice mantenim. realizados/nuevos">{{ indices[servicio.id].mantenimiento_rn|number_format(4, ',', '.') }}</td>
                                <td title="indice mantenim. realizados/pendientes">{{ indices[servicio.id].mantenimiento_rp|number_format(4, ',', '.') }}</td>
                                <td title="indice pedidos de rep. realizados/nuevos">{{ indices[servicio.id].peticion_rn|number_format(4, ',', '.') }}</td>
                                <td title="indice pedidos de rep. realizados/pendientes">{{ indices[servicio.id].peticion_rp|number_format(4, ',', '.') }}</td>
                        
                            {% else %}
                                {% if indices[servicio.id] == null %}
                                    <td>---</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>---</td>
                            
                            {% endif %}
                        {% endif %}
                        {% else %}
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        {% endif %}
                        {% if moduloCentroCosto %}
                            <td>                            
                                {% if servicio.centrocosto is not null %}
                                    <a href="{{ path('centrocosto_show', {'id': servicio.centrocosto.id}) }}">{{ servicio.centrocosto.nombre }}</a>
                                {% else %}
                                ---
                                {% endif %}
                            </td>
                        {% endif %}
                        <td>
                            {% if is_granted('ROLE_FLOTA_EDITAR') %}
                                <a title="Modificar servicio" href="{{ path('servicio_edit', {'id': servicio.id}) }}" class="btn btn-default btn-sm"><i class="fa fa-edit"></i></a> 
                            {% endif %}
                        </td>

                            {% if is_granted('ROLE_PETICION_AGREGAR') %}
                        <td>
                                <a title="Nuevo pedido de reparación" href="{{path('crm_peticion_new',{'idServicio': servicio.id})}}" class="btn btn-default btn-sm">
                                    <i class="fa fa-file"></i>
                                </a>
                        </td>
                            {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
