{% extends "app/Template_aker/popup.html.twig" %}

{% block modalId %}modalDelete{% endblock %}

{% block modalTitulo %}Eliminar Servicio{% endblock %}

{% block modalUrl %}{{ path('servicio_delete', { 'id': servicio.id }) }}{% endblock %}

{% block modalBody %}
  <p>Esta seguro de eliminar el servicio: <strong>{{ servicio.nombre|upper }}</strong> ?</p>
    {{ form_widget(delete_form) }}
{% endblock %}

{% block modalOk %}
    <button class="btn btn-primary" type="submit">Eliminar</button>
{% endblock %}

