{% extends "app/Template_aker/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}
	{{ servicio.organizacion }}
{% endblock %}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all"/>
	<link rel="stylesheet" href="{{ asset('plugins/spectrum/spectrum.css') }}" type="text/css" media="all"/>
{% endblock %}

{% block js %}
	{{ parent() }}
	<script src="{{ asset('plugins/spectrum/spectrum.js') }}"/></script>
<script type="text/javascript">
	$(document).ready(function () {
$.datepicker.setDefaults($.datepicker.regional["es"]);
$.timepicker.setDefaults($.timepicker.regional["es"]);
$("#servicio_fecha_alta").datetimepicker({showSecond: false});

if ({{ servicio.tipoMedidorCombustible }} == 2 || {{ servicio.tipoMedidorCombustible }} == 3) {
$("#servicio_vehiculo_litrosTanque").prop('required', true);

}
});
// esto es para seleccionar el color

$("#cr_colorSelector").spectrum({
showPaletteOnly: true,
showPalette: true,
hideAfterPaletteSelect: true,
color: '{{ servicio.color ? servicio.color : '#FFFFFF' }}',
palette: [
[
"#000",
"#444",
"#666",
"#999",
"#ccc",
"#eee",
"#f3f3f3",
"#fff"
],
[
"#f00",
"#f90",
"#ff0",
"#0f0",
"#0ff",
"#00f",
"#90f",
"#f0f"
],
[
"#f4cccc",
"#fce5cd",
"#fff2cc",
"#d9ead3",
"#d0e0e3",
"#cfe2f3",
"#d9d2e9",
"#ead1dc"
],
[
"#ea9999",
"#f9cb9c",
"#ffe599",
"#b6d7a8",
"#a2c4c9",
"#9fc5e8",
"#b4a7d6",
"#d5a6bd"
],
[
"#e06666",
"#f6b26b",
"#ffd966",
"#93c47d",
"#76a5af",
"#6fa8dc",
"#8e7cc3",
"#c27ba0"
],
[
"#c00",
"#e69138",
"#f1c232",
"#6aa84f",
"#45818e",
"#3d85c6",
"#674ea7",
"#a64d79"
],
[
"#900",
"#b45f06",
"#bf9000",
"#38761d",
"#134f5c",
"#0b5394",
"#351c75",
"#741b47"
],
[
"#600",
"#783f04",
"#7f6000",
"#274e13",
"#0c343d",
"#073763",
"#20124d",
"#4c1130"
]
]
});
</script>
<script type="text/javascript">
	$(function () { // si el tipo de combustible se debe colocar si o si la capacidad de  tanque
$("#servicio_tipoMedidorCombustible").change(function () {
if (($(this).val()) == 2 || ($(this).val()) == 3) {
$("#servicio_vehiculo_litrosTanque").prop('required', true);
} else {
$("#servicio_vehiculo_litrosTanque").prop('required', false);

}
});
});
</script>{% endblock %}{% block informacion %}
{% if servicio.organizacion.tipoOrganizacion == 1 %}
	<div class="alert alert-info">
		<span class="label label-warning">Atención</span>
		Esta editando un servicio en la cuenta del distribuidor
		<b>{{ servicio.organizacion }}</b>. Esta cuenta no puede
			            tener servicios de flota asociados por lo que este servicio sirve unicamente para testeo del equipo que este asociado.
		<br/>
		Cuando se transfiera el equipo a otro distribuidor o a un cliente el servicio asociado quedara en este distribuidor pudiendo acceder al histórico del mismo.
		            a dicho servicio.
	</div>
{% endif %}
{% endblock  %}
{% block formulario %}
<legend>{{ servicio.nombre }}</legend>
<form class="form-horizontal" method="POST">
{% embed "app/Template_aker/panel_form.html.twig" %}
	{% block titulo %}
		Modificar Servicio
	{% endblock %}
	{% block cuerpo %}
		<fieldset>
			<div class="row-fluid">
				<div>{{ form_errors(form) }}</div>
				<div class="col-md-6">
					<h3>Datos del Servicio</h3>
					{{ form_widget(form.nombre) }}
					{{ form_widget(form.tipoObjeto) }}
					{{ form_widget(form.tipoServicio) }}
					{{ form_widget(form.fecha_alta) }}
					{{ form_widget(form.dato_fiscal) }}
					<div class="control-group ">
						<label class="control-label" for="servicio_color">
							Color
						</label>
						<div class="controls">
							<input type='text' id="cr_colorSelector" name="servicio[color]"/>
						</div>

					</div>
					{% if moduloMonitor %}
						{{ form.transporte is defined ? form_widget(form.transporte):'' }}
						{{ form.satelital is defined ? form_widget(form.satelital):'' }}
						{{ form.iscustodio is defined ? form_widget(form.iscustodio) : '' }}
					{% endif %}
					{% if servicio.tipoObjeto == 1 %}
						{% include "apmon/Vehiculo/form_content.html.twig" with {'form': form.vehiculo} %}
					{% endif %}

				</div>
				<div class="col-md-6">
					{{ form.cortemotor is defined ? form_widget(form.cortemotor) : '' }}
					{{ form.botonpanico is defined ? form_widget(form.botonpanico) : '' }}
					{{ form.medidorcombustible is defined ? form_widget(form.medidorcombustible) : '' }}
					{{ form.entradasdigitales is defined ? form_widget(form.entradasdigitales) : '' }}
					{{ form.cortecerrojo is defined ? form_widget(form.cortecerrojo) : '' }}
					{{ form.canbus is defined ? form_widget(form.canbus) : '' }}
					{{ form.horometro is defined ? form_widget(form.horometro) : '' }}
					{{ form.tipoMedidorCombustible is defined ? form_widget(form.tipoMedidorCombustible) : '' }}

				</div>
				{{ form_widget(form._token) }}

			</fieldset>
		{% endblock %}
		{% block botones %}
			<input type="submit" class="btn btn-primary" value="Cambiar"/>
			<a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
		{% endblock %}
	{% endembed %}
</form>{% endblock %}
