{% import "app/Macros/servicio.html.twig" as macros %}
{% import "app/Macros/peticion.html.twig" as macrosPet %}
<head>
    {% block stylesheets %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" media="all" type="text/css" href="{{ app.request.getSchemeAndHttpHost() ~ asset('plugins/bootstrap/css/bootstrap.css') }}">
        <style type="text/css">
            #codeqr{
                height: 700px; 
                width: 700px;
            }
            #patente{
              font-size: 100px;
              margin-top: 50px;
            }
            #aker{
              font-size: 30px;
              margin-top: 50px;
            }
        </style>
        <link rel="stylesheet" media="all" type="text/css" href="{{ app.request.getSchemeAndHttpHost() ~ asset('plugins/bootstrap/css/bootstrap-theme.css.map') }}">
    {% endblock %} 
</head>
{% block contentpanel %}
    <div style="width: 100%; text-align: center;">
     <img id="codeqr" src="{{ qr_code_data_uri(json_servicio) }}" />
     <div id="patente"><b>{{ patente ?  patente : '' }}</b></div>
     <div id="aker">https://app.akercontrol.com</div>
    </div>
    
{% endblock %}