<h4>Extra</h4>
<ul class="unstyled">
    <li><b>Nombre:</b> Es el nombre por el cual se identificará la unidad en el resto del sistema. coloque un nombre representativo
        de lo que esta tratando de monitorear. </li>
    <li><b>Tipo:</b> Este dato sirve para categorizar al objeto que esta tratando de monitorear. Luego podrá consultar por este dato. </li>
</ul>
</p>
