{% extends "app/Template_aker/list.html.twig" %}
{% form_theme formFlota 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Mi Flota
{% endblock %}

{% block css %}
	{{ parent() }}
	<link href="{{ asset(mainbundle ~ 'plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet" type="text/css" media="all"/>
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}


{% block informacion %}{% endblock %}

{% block contentpanel %}
	{% include "app/Template_aker/popup_load.html.twig" %}
	<div class="panel">
		<div class="panel-heading">
			<div class="panel-title">Filtro</div>
			<div class="panel-actions">
				<a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
				<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
			</div>
		</div>
		<div class="panel-body bg-primary">

			<form method="POST" id="formFlota" class="form-horizontal">
				<div class="row">
					{% if formFlota.tipoServicio is defined %}
						<div class="col-md-2">
							{{ form_widget(formFlota.tipoServicio) }}

						</div>
					{% endif %}
					{% if formFlota.claseServicio is defined %}
						<div class="col-md-2">
							{{ form_widget(formFlota.claseServicio) }}
						</div>
					{% endif %}
					{% if formFlota.estado is defined %}
						<div class="col-md-2">
							{{ form_widget(formFlota.estado) }}
						</div>
					{% endif %}
					{% if formFlota.transporte is defined %}
						<div class="col-md-2">
							{{ form_widget(formFlota.transporte) }}
						</div>
					{% endif %}
					{% if formFlota.satelital is defined %}
						<div class="col-md-2">
							{{ form_widget(formFlota.satelital) }}
						</div>
					{% endif %}
					{% if formFlota.empresa is defined %}
						<div class="col-md-2">
							{{ form_widget(formFlota.empresa) }}
						</div>
					{% endif %}
					<div class="col-md-2">
						<div class="control-group ">
							<label class="control-label"></label>
							<div class="controls ">
								<button type="button" class="btn btn-default" id="consultar">Consultar</button>
							</div>
						</div>
					</div>

				</form>


			</div>
		</div>
	</div>
	<div class="panel">
		<div class="panel-body">
			<div id="tablaFlota">
				{% include "app/Servicio/list_content.html.twig" with {'servicios': servicios } %}
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	{{ parent() }}
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
	<script>
		function datatable() {
            oTable = $('#tableFlota').DataTable({
            dom: 'Bfrtip',
            buttons: {
                dom: {
                button: {
                 className: 'btn btn-default'
                }
                },
            buttons: [
            { // EXCEL
                extend: 'excelHtml5',
                text: '<i class="fa fa-download"></i> Exportar', // u can define a diferent text or icon
                title: 'Flota de Servicios de clase  ' + $("#flota_claseServicio option:selected").text()
            },
            ]
            },

                language: {
                    processing: "Busqueda en curso...",
                    search: "Buscar&nbsp;:",
                    lengthMenu: "_MENU_ Elementos",
                    info: "de  _START_ a  _END_ de  _TOTAL_ elementos",
                    zeroRecords: "No hay registros",
                    emptyTable: "Tabla vacía",
                    paginate: {
                    first: "Primera",
                    previous: "Anterior",
                    next: "Próxima",
                    last: "Ultima"
                    },
                    aria: {
                    sortAscending: ": Orden Ascendente",
                    sortDescending: ": Orden Descendente"
                }
            }
            });

}
    $(document).ready(function () {
        datatable();
        $('#flota_claseServicio').select2({'width': '100%'});
        $('#flota_tipoServicio').select2({'width': '100%'});
        $('#flota_estado').select2({'width': '100%'});
        $("#flota_claseServicio").val([]).trigger("change");
        $("#flota_tipoServicio").val([]).trigger("change");
        $("#flota_estado").val([]).trigger("change");

    });
        $('#consultar').click(function () {
            var req = $.ajax({
            type: 'GET',
            url: "{{ path('servicio_filtrar') }}",
            data: {
            'formFlota': $("#formFlota").serialize(), // form de productos
        },
        dataType: "json",
        // async: true,
        beforeSend: function () {
            $("#modalLoad").modal({backdrop: 'static', keyboard: false});
        }
        });
        req.done(function (respuesta) {
            $("#tablaFlota").text("");
            $("#tablaFlota").html(respuesta.html);
            $("#filtro").html(respuesta.filtro);
            $('#modalLoad').modal('hide');
            datatable();
        });
    });
	</script>
{% endblock %}
