{% if servicios %}
   {% if moduloMantenimiento %}
   	{% include "app/Servicio/content_mantenimiento.html.twig" with {'moduloCentroCosto': moduloCentroCosto, 'servicios' : servicios, 'indices':indices } %}
   {% else %}
   	{% include "app/Servicio/content_default.html.twig" with {'servicios' : servicios } %}
   {% endif %}
{% else %}
    <em>No hay servicios asociados para esta flota.</em>
{% endif %}