{% extends "app/Template_aker/list.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}Mi Flota sin Equipos{% endblock %}  
{% block informacion %}
    <div class="alert alert-info">
        <span class="label label-warning">Atención</span> El horometro de los servicios que tengan fecha de últmo
        cambio se actualizan diariamente. 
    </div>
{% endblock  %}
{% block contentpanel %}        
<section class="panel">
		<div class="panel-body">
			<div class="row-fluid">
    {% if servicios %}
        <table class="table table-condensed" id="tablaServ">
            <thead>
                <tr>
                    <th class="col-md-3">Nombre</th>
                    <th class="col-md-1">C.C. Actual</th> 
                    <th class="col-md-3">Ult. cambio</th>
                    <th class="col-md-1">Odómetro (kms)</th>
                    <th class="col-md-1">Horómetro (h:m)</th>
                    <th class="col-md-2">Hor. Teórico</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                {% for servicio in servicios %}
                    {% if servicio.equipo is null %}
                    <form id="{{servicio.id}}" class="form-horizontal">
                        <tr>
                            <td>
                                {% include "app/Template/show_servicio_image.html.twig" with {'servicio': servicio, 'size': '20px' } %}
                                <a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'main'}) }}">{{ servicio.nombre }}</a>
                                </br>
                                <small><i>{{ servicio.getStrTipoObjetos }} | {{ servicio.tipoServicio }}</i></small>
                            </td>
                             <td>
                                {{ servicio.centroCosto.nombre|default('n/d') }}
                                {% if data[servicio.id] is defined and data[servicio.id].prestacion is not null %}
                                    <br>({{ data[servicio.id].prestacion.horasUso|default('-') }}x24 hs)
                                {% endif %}
                            </td>                             
                            <td>
                                <div id="{{servicio.id ~ '_fecha'}}">
                                    {% if data[servicio.id] is defined %}
                                    {{ data[servicio.id]['ult_registro']|raw}}
                                    {% else %}
                                    ---
                                    {% endif %}
                                </div>
                            </td>
                            <td> 
                                <div id="{{servicio.id ~ '_odometro'}}">
                                    {{ (servicio.ultOdometro / 1000) |number_format(2, ',', '.')|default('---')}}
                                </div>
                            </td>
                            <td>
                                <div id="{{servicio.id ~ '_horometro'}}">
                                    {{ servicio.formatHorometro|default('---') }} 
                                </div>
                            </td>                            
                            <td>                            
                                {% if data[servicio.id] is defined %}
                                    <div id="{{servicio.id ~ '_mins'}}">
                                        {{ data[servicio.id]['total'] }} (+{{ data[servicio.id]['diferencia'] }} hs)
                                    </div>                                    
                                {% else %}
                                {% endif %}
                            </td>                            
                            <td>
                                <button id="btnValoresAdd" onClick="addValor({{ servicio.id }}, '{{ servicio.nombre }}')" type="button" name="button_add" class="btn btn-default btn-sm" ><i class="fa fa-refresh"></i></button>
                                {#                                {% if data[servicio.id] is defined %}#}
                                {#                                    <button id="btnValoresAct" onClick="actValor({{ servicio.id }})" type="button" name="button_add" class="btn btn-default btn-small" >Actualizar</button>
                                                                {% endif %}#}
                            </td>
                        </tr>
                    </form>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <em>No hay servicios asociados para esta flota.</em>
    {% endif %}
        </div>
    </div>
    </section>
    {% include "app/Servicio/popup_cambioodometro.html.twig" %}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js">
    </script>            
    <script src="{{ asset('plugins/jquery-ui/js/jquery-ui-i18n.min.js') }}">
    </script>  
    <script src="{{ asset('plugins/jquery-ui/js/jquery-ui-i18n-timepicker.js') }}">
    </script>   
    <script src="{{ asset('plugins/jquery-ui/js/jquery-ui-timepicker-addon.js') }}">
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#valores_fecha").datetimepicker({
                format: 'DD/MM/YYYY HH:mm',
                locale: 'es',
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });
            getDataTable('tablaServ');
        });

        var idServicio = null;
        var nomServicio = null;

            function addValor(id, nombre) {
            nomServicio = nombre;
            console.log(nomServicio);
            idServicio = id;
             $("#valores_fecha").val('');
            $('#valores_odometro').val($.trim($("#" + idServicio + '_odometro').text()));
            h = $.trim($("#" + idServicio + '_horometro').text());

            pos = h.indexOf(':');
            horas = h.substring(0, pos);
            mins = h.substring(pos + 1, h.length);

            $('#valores_horometro_hora').val($.trim(horas));
            $('#valores_horometro_minuto').val($.trim(mins));
            $('#valores_servicio').html(nomServicio);
            $('#modalCambio').modal('show');
        }

        $('#btnCambiar').click(function () {
            var req = $.ajax({
                type: 'POST',
                url: "{{ path('servicio_addvalores') }}",
                data: {
                    'id': idServicio,
                    'formValores': $("#formCambio").serialize(), //form de productos
                },
                dataType: "json",
                //async: true,
                beforeSend: function () {
                },
            });
            req.done(function (respuesta) {
                $('#modalCambio').modal('hide');
                $("#" + respuesta.id + '_fecha').html("<b>" + respuesta.fecha + "</b>");
                $("#" + respuesta.id + '_odometro').html("<b>" + respuesta.odometro + "</b>");
                $("#" + respuesta.id + '_horometro').html("<b>" + respuesta.horometro + "</b>");
            });
        });

        function actValor(id) {
            var req = $.ajax({
                type: 'POST',
                url: "{{ path('servicio_actvalores') }}",
                data: {
                    'id': id,
                },
                dataType: "json",
                //async: true,
                beforeSend: function () {
                },
            });
            req.done(function (respuesta) {
                $("#" + respuesta.id + '_fecha').html("<b>" + respuesta.fecha + "</b>");
                $("#" + respuesta.id + '_odometro').html("<b>" + respuesta.odometro + "</b>");
                $("#" + respuesta.id + '_horometro').html("<b>" + respuesta.horometro + "</b>");
                $("#" + respuesta.id + '_mins').html("<b>(+ " + respuesta.mins + " hs)</b>");
            });
        }
        ;
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/jquery-ui/css/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all" />
    <style type="text/css">
        .ui-timepicker-div
        .ui-widget-header { margin-bottom: 8px; }
        .ui-timepicker-div dl { text-align: left; }
        .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
        .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
        .ui-timepicker-div td { font-size: 12px; }
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

        .ui-timepicker-rtl{ direction: rtl; }
        .ui-timepicker-rtl dl { text-align: right; }
        .ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
    </style>
{% endblock %}