{% extends "app/Template/list.html.twig" %}

{% block title %}Flota{% endblock %} 
{% block titulo %}Flota{% endblock %}     
{% block subtitulo %}{% endblock %}     
{% block js %}
    {{ parent() }}
    <script>
        function select() {
            var e = document.getElementById('flota_organizacion');
            var value = e.options[e.selectedIndex].value;
            //TODO: Ver esto que no anda...
            //{#var url = "{{ path('sauron_servicio_list_flota') }}";#}
            //url = url.replace('idorg', value);
            //window.open(url, '_self');
        }

    </script>
{% endblock %}

{% block busqueda %}
    <div class="search">
        <div class="input-append">
            <form action="#" method="POST">
                <select id="flota_organizacion" style="width: 140px;" onchange="select()">
                    {% for org in organizaciones %}
                        <option value="{{org.id}}"  {{ org == organizacion ? 'selected' : ''}}  >
                            {{ org.nombre }} {{ org.tipoOrganizacion == 1 ? ' (Dist)' : ' (Cli)' }}
                        </option>
                    {% endfor %}
                </select> 
                {#<button type="button" onclick="select()" title="Filtrar flota"><i class="icon-list"></i></button> #}
                <span class="add-on" onclick="select()" ><i class="icon-refresh"></i></span>
            </form>
        </div>
    </div> 
{% endblock %}

{% block contentpanel %}  
    <div class="row-fluid">
        {% if organizacion.servicios|length > 0 %}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Servicio</th>
                        <th>Estado</th>
                        <th>Equipo</th>
                        <th>Ult. Transmisión</th>
                        <th>Bat.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {# aca se ponen las referencias #}
                    {% for servicio in servicios %}
                        <tr>
                            <td style="width: 25px;">
                                <img style="width: 20px; height: 20px;" src="
                                     {% if servicio.tipoServicio.getWebPath() is defined and servicio.tipoServicio.getWebPath() != "" %}
                                         {{ asset(servicio.tipoServicio.getWebPath()) }}
                                     {% else %} 
                                         {{ asset('images/img/donut.png') }}
                                     {% endif %}
                                     " alt="{{ servicio.tipoServicio }}">
                            </td>    
                            <td style="width: 130px;">
                                {{ organizacion.tipoOrganizacion == 1 ? '(*) ' : '' }}
                                <a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'main'}) }}">{{ servicio.nombre }}</a></br>
                            </td>
                            <td style="width: 80px;">{{ servicio.strEstado }}</td>
                            {% if servicio.equipo.chip is defined %}
                                <td style="width: 150px;">
                                    {% if servicio.equipo != null %}
                                        <a href="{{ path('sauron_equipo_show', {'id': servicio.equipo.id, 'tab': 'main'}) }}">{{ servicio.equipo }}</a></br>
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td style="width: 130px;">
                                    {% if servicio.ultFechahora %}
                                        {# seteo el status de la fecha #}
                                        {% if status[ servicio.id ]['st_ultreporte'] > 1 %}
                                            <div style="color: red"> 
                                            {% else %}
                                                <div>
                                                {% endif %}
                                                {{ servicio.ultFechaHora ? servicio.ultFechaHora|date('d-m-Y H:i:s', app.user.timeZone) : '---' }}
                                            </div>
                                        {% else %}
                                            ---
                                        {% endif %}
                                </td>
                                <td>
                                    {{ servicio.ultbateria != null ? servicio.ultbateria~'%' : '---' }}
                                </td>
                            {% else %} 
                                <td colspan="3">

                                </td>
                            {% endif %}
                            <td class="td-accion">
                                {% if servicio.estado != 4 %}                        
                                    <a href="{{ path('servicio_edit', {'id': servicio.id}) }}" class="btn btn-small">Editar</a> 
                                {% endif %}

                                {% if servicio.equipo != null and servicio.equipo.estado == 3 and is_granted('ROLE_EQUIPO_FLOTA_RETIRAR') %}    
                                    <a href="{{ path('equipo_retiro', {'id': servicio.equipo.id}) }}" class="btn btn-small">Retirar</a>                    
                                {% elseif is_granted('ROLE_EQUIPO_FLOTA_ASIGNAR') %}    
                                    <a href="{{ path('servicio_asignar_equipo', {'id': servicio.id}) }}" class="btn btn-small">Asociar</a>                    
                                {% endif %}                       
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

