<!-- Modal -->
<div class="modal fade" id="modalCambio" role="dialog" aria-labelledby="modalCambioLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<div id="valores_servicio"></div>
				</h4>
			</div>
			<div class="modal-body">
				<p>Ingrese los nuevos valores de odómetro y horómetro para el vehiculo seleccionado.</p>
				<div id="modal-body-externo">
					<form id="formCambio" class="form-horizontal">
						<div class="row">
							<div class="col-md-12">
								<div class="control-group ">
									<label class="control-label required" for="valores_fecha">Fecha</label>
									<div class="controls">
										<input class="form-control" id="valores_fecha" name="valores[fecha]" required="required" type="text" requiered="true">
									</div>
								</div>
								<div class="control-group ">
									<label class="control-label required" for="valores_odometro">Odómetro</label>
									<div class="controls">
										<input class="form-control" id="valores_odometro" name="valores[odometro]" required="required" type="text">
									</div>
								</div>
								<div class="control-group ">
									<label class="control-label required" for="valores_horometro_hora">Horometro</label>
									<div class="controls">
										<div class="col-md-6">
											<input id="valores_horometro_hora" name="valores[horometro_hora]" required="required" class="form-control" placeholder="hora" min="0" type="number" >
										</div>
										<div class="col-md-6">
											<input id="valores_horometro_minuto" name="valores[horometro_minuto]" required="required" class="form-control" placeholder="min" min="0" type="number" >
										</div>
									</div>
								</div>
								{{ form_widget(form._token) }}
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button id="btnCambiar" type="button" class="btn btn-primary">Cambiar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
