<div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th style="col-md-1">Estado</th>
                <th style="col-md-1">Desde</th>
                <th style="col-md-1">Hasta</th>
                <th style="col-md-1">Centro Costo</th>
                <th style="col-md-1">Hs Totales</th>
                <th style="col-md-1">Hs Paradas</th>
                <th style="col-md-3">Paradas</th>
                <th style="col-md-1">Motivo</th> 
                <th style="col-md-1"></th>
                <th style="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            {% for prestacion in prestaciones %}
                {% if status[prestacion.id] == "Ahora" %}
                    <tr style="color: green;">
                    {% else %}
                    <tr>
                    {% endif %}
                    <td>{{ status[prestacion.id] }}</td>
                    <td>{{ prestacion.inicioPrestacion|default('---')  }}</td>
                    <td>{{ prestacion.finPrestacion|default('---')  }}</td>
                    <td>{{ prestacion.centrocosto.nombre|default('---')  }}</td>
                    <td>{{ prestacion.horasTotales|default('---')  }}</td>
                    <td>{{ prestacion.horasParadas|default('---') }}</td>
                    <td>
                        {% if prestacion.paradas|length > 0 %}
                        <ul>
                        {% for parada in prestacion.paradas %}
                            <li>
                                {{ parada.motivo }} @
                                {{ parada.inicioDetencion|date('d/m/Y H:i') }} 
                                a
                                {{ parada.finDetencion|date('d/m/Y H:i') }} 
                                ({{ parada.horasParada|default('---') }}hs)
                            </li>
                        {% endfor %}
                        </ul>
                        {% else %}
                        ---
                        {% endif %}
                    </td>
                     <td>{{ prestacion.motivo }}</td> 
                    <td>
                        {% if is_granted('ROLE_PRESTACION_EDITAR') %}
                            {% if prestacion.finPrestacion  is null %}
                                <a title="Desafectar" href="{{ path('centrocosto_servicio_retirar', {'id': prestacion.id} ) }}" class="btn btn-default btn-xs"><i class="fa fa-remove"></i></a>
                                
                            {% endif %}
                        {% endif %}
                    </td>
                      <td>
                        {% if is_granted('ROLE_PRESTACION_EDITAR') %}
                            {% if prestacion.finPrestacion  is null %}
                                
                                <a title="Agregar Pausa" href="{{ path('centrocosto_servicio_addstop', {'id': prestacion.id} ) }}" class="btn btn-default btn-xs"><i class="fa fa-pause"></i></a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

