<div id="contador-all" class="alert alert-info">
	<div id="contador" style="float: left;">Los datos se actualizarán en: 15 segundos.</div>
	<a href="javascript:void(0);" onclick="refresh();" class="btn btn-default btn-xs">
		Actualizar Ahora.</a>
</div>
<div class="row" style="margin-top: 20px;">
	<div class="col-md-6" id="datos">
		{% include "app/Servicio/show_data.html.twig" with { 'datos': datos } %}
	</div>
	{%  if mapa is not null %}
		{{ mapa.renderJs()|raw }}
		<div class="col-md-6">
			<legend>Ubicación</legend>
			<div style="width: 100%">
				{{ mapa.renderHtml()|raw }}
			</div>
			<div class="row-fluid row-show">
				<div class="col-md-4 column-label">Cercania</div>
				<div class="column-show" id="cercania">
					{{extras['cercania']|default('---')}}
				</div>
			</div>
			<div class="row-fluid row-show">
				<div class="col-md-4 column-label">Domicilio</div>
				<div class="column-show" id="domicilio">
					{{extras['domicilio']|default('---')}}
				</div>
			</div>

		</div>
	{%  endif %}


</div>
