<div class="row">
	{% if servicio.equipo %}
		<div class="col-md-4">Equipo</div>
		<div class="col-md-8">
			<a href="{{ path('sauron_equipo_show', {'id': servicio.equipo.id,'tab':'main' }) }}">{{ servicio.equipo }}
				({{ servicio.equipo.modelo }})</a>
		</div>
	{% else %}
		<div class="col-md-4">Equipo</div>

		<div class="col-md-8">
			{% if servicio.estado != 4 and servicio.estado < 9 %}
				<a href="{{ path('servicio_asignar_equipo', {'id': servicio.id }) }}">Asociar equipo</a>
			{% elseif servicio.estado != 9 %}
				---
			{% endif %}
		</div>
	{% endif %}
</div>
