{% include "app/Template/sidebar_submenu.html.twig" %}
{% if cargas %}
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Guia despacho</th>
            <th>Litros</th>
            <th>Importe</th>
            <th>Odometro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for carga in cargas %}
        <tr>
            <td>{{ carga.fecha|date('d-m-Y H:i') }}</td>
            <td>{{ carga.guiaDespacho }}</td>
            <td>{{ carga.litrosCarga }}</td>
            <td>{{ carga.montoTotal|number_format(2) }}</td>
            <td>{{ carga.odometro|number_format(0) }}</td>

            <td class="td-accion">
               <a href="{{ path('fuel_edit', {'id': carga.id} ) }}" class="btn btn-default btn-xs"><i class="fa fa-pencil-square-o"></i></a>
{#               <a href="{{ path('fuel_show', {'id': carga.id} ) }}" class="btn btn-small">Ver</a>#}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>    
{% else %}
    <em>No registros de cargas de combustible para este servicio.</em>
{% endif %}