<legend>Último registro</legend>
{% for label, dato in datos %}
    <div>
        {% include "app/Template_aker/show_row.html.twig" with { 'label': label, 'data': dato } %} 
    </div>
{% endfor %}       
