<div class="alert alert-info" role="alert">
    Estos son los mensajes de notificaciones que se generan desde el sistema en forma automática por los eventos 
   generados. También se registran los mensajes que se envían en forma manual por 
    intermedio de algún operador.
</div>
{% if notificaciones %}
    {% for notif in notificaciones %}
        <div class="panel panel-default">
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>De: </dt><dd>{{ notif.ejecutor.username|default('Sistema') }}</dd>
                    <dt>Para: </dt>
                    <dd>
                        {% if notif.persona != null %}
                            <a href="{{path("wissys_integrante_show",{'id': notif.persona.integrante.id})}}">{{ notif.persona.apellidonombre }}</a> ({{ notif.destino }})
                            {% if notif.tipo == 1 %}
                                <img src="{{ asset('bundles/app/images/sms.png') }}" title="SMS">
                            {% elseif notif.tipo == 2 %}
                                <img src="{{ asset('bundles/app/images/notifications.png') }}" title="Push">
                            {% elseif notif.tipo == 3 %}
                                <img src="{{ asset('bundles/app/images/hp_mail_2.png') }}" title="EMail">
                            {% endif %}
                        {% else %}
                            {{ abonado.nombre }} ({{ notif.destino }}) <em>[Envio al usuario]</em>
                        {% endif %}
                    </dd>
                    <dt>Fecha: </dt><dd><em>{{ notif.createdAt|date('d/m/Y H:i', app.user.timeZone) }}</em></dd>
                    <dt>Mensaje: </dt><dd> {{ notif.mensaje|raw }}</dd>
                </dl>
            </div>
        </div>
    {% endfor %}

{% else %}
    <em>No hay mensajes para este usuario</em>
{% endif %}
