
{% if sensores %}
<table class="table table-condensed">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Abbr</th>
                <th>Valores</th>
                <th>Tipo Sensor</th>
                <th>Nro. Serie</th>
                <th>Ult. Valor</th>
                <th>Ult. Bat.</th>
                <th>Ult. Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for sensor in sensores %}
                <tr>
                    <td><a href="{{ path('sauron_sensor_show', {'id': sensor.id}) }}">{{ sensor.nombre }}</a></td>
                    <td>{{ sensor.abbr }}</td>
                    <td>{{ sensor.valorMinimo }} - {{ sensor.valorMaximo }} {{ sensor.medida }}</td>
                    <td>{{ sensor.modeloSensor }}</td>
                    <td>{{ sensor.serie }}</td>
                    <td>{{ sensor.ultValor }}</td>
                    <td>{{ sensor.ultBateria }}</td>
                    <td>{{ sensor.ultFechahora != null ? sensor.ultFechahora|date('d/m/Y H:i') : '---' }}</td>
                    <td>
                        <a class="btn btn-small"href="{{ path('sauron_sensor_edit', {'id': sensor.id} ) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
     </table>
{% else %}
    <em>No hay sensors asociados para esta flota.</em>
{% endif %}