<table class="table table-condensed">
    <thead>
        <tr>
            <th>Variable</th>
            <th></th>
            <th>Valor Actual</th>
            <th>Valor Futuro</th>
            <th>Ult. Seteo</th>
            <th>Ult. Program.</th>
            <th>Intentos</th>
        </tr>
    </thead>
    <tbody>
        {% for parametro in parametros %}            
            <tr>
                <td>{{ parametro.variable.nombre }}</td>
                <td>{% if not is_granted(parametro.variable.role) %}
                    <img src="{{ asset('images/lock.png') }}"> 
                    {% endif %}
                </td>
                <td>  {# valor actual #}
                    {% if parametro.valorActual != null %}
                        {% if parametro.variable.tipoVariable == 4 %}
                            {% if parametro.variable.codename == 'corteMotor' %}
                                {{ parametro.valorActual == 0 ? 'Habilitado' : 'Cortado' }} 
                            {% elseif parametro.variable.codename == 'corteCerrojo' %}
                                {{ parametro.valorActual == 0 ? 'Abierto' : 'Cerrado' }}
                            {% endif %}
                        {% else %}
                            {{ parametro.valorActual != null ? parametro.valorActual ~' '~ parametro.variable.unidadMedida : ''}}
                        {% endif %}
                    {% endif %}                    
                </td>
                {% if parametro.block == true %} {# valor futuro #}
                    <td bgcolor="#F4FCAC">
                {% else %}
                    <td>
                {% endif %}
                    {% if parametro.valorFuturo != null %}
                        {% if parametro.variable.tipoVariable == 4 %}
                            {% if parametro.variable.codename == 'corteMotor' %}
                                {{ parametro.valorFuturo == 0 ? 'Habilitar' : 'Cortar' }} 
                            {% elseif parametro.variable.codename == 'corteCerrojo' %}
                                {{ parametro.valorFuturo == 0 ? 'Abrir' : 'Cerrar' }}
                            {% endif %}
                        {% else %}
                            {{ parametro.valorFuturo != null ? parametro.valorFuturo ~' '~ parametro.variable.unidadMedida : ''}}
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ parametro.ultSeteo != null ? parametro.ultSeteo|date('d/m/Y H:i', app.user.timeZone) : '' }}</td>
                <td>{{ parametro.ultProgramacion != null ? parametro.ultProgramacion|date('d/m/Y H:i', app.user.timeZone) : '' }}</td>
                <td>{{ parametro.intentos }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>