<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">Mensajes enviados a los usuarios</div>
        </div>
        <div class="panel-body">
            {% include "app/Servicio/show_notificaciones_data.html.twig" %}
        </div>
    </div>
</div>