<div class="row-fluid row-show">
    <div class="span6">
        <h3>Datos del Servicio</h3>
        <div class="row-fluid row-show">
            <div class="span4 column-label">Nombre</div>    
            <div class="column-show">
                {{servicio.nombre}}
                {% if servicio.iscustodio %}
                    <div class="label label-info">CUSTODIO</div>
                {% endif %}
            </div>
        </div>
        {% include "app/Template/show_row.html.twig" 
            with {'label': 'Tipo', 'data': servicio.getStrTipoObjetos } %} 
        {% include "app/Servicio/show_equipo.html.twig" %} 
        {% if servicio.tipoServicio.getWebPath() is defined %}
            {% include "app/Template/show_row.html.twig" 
                with { 'label': 'Clase', 
                        'data': servicio.tipoServicio, 
                        'img': servicio.tipoServicio.getWebPath()} %}                                                 
        {% else %}
            {% include "app/Template/show_row.html.twig" 
                with { 'label': 'Clase', 
                        'data': servicio.tipoServicio} %}   
        {% endif %}

        {% include "app/Template/show_row.html.twig" 
            with {'label': 'Fecha Alta', 'data': servicio.fechaAlta != null ? servicio.fechaAlta|date('d-m-Y H:i') : 'N/A' } %} 
        {% include "app/Template/show_row.html.twig" 
            with {'label': 'Fecha Baja', 'data': servicio.fechaBaja != null ? servicio.fechaBaja|date('d-m-Y H:i') : 'N/A' } %} 
        {% include "app/Template/show_row.html.twig" 
            with {'label': 'Estado', 'data': servicio.getStrEstado } %} 
        {% include "app/Template/show_row.html.twig" 
            with {'label': 'Id. Fiscal', 'data': servicio.datoFiscal|default('---') } %} 

        {% if servicio.equipo.modelo is defined and servicio.equipo.modelo.cortemotor %}
            {% include "app/Template/show_row.html.twig" with {'label': 'Corte de Motor', 'data': servicio.cortemotor ? 'SI' : 'NO' } %} 
        {% endif %}
        {% if servicio.equipo.modelo is defined and servicio.equipo.modelo.botonpanico %}
            {% include "app/Template/show_row.html.twig" with {'label': 'Botón Pánico', 'data': servicio.botonpanico ? 'SI' : 'NO'} %} 
        {% endif %}
        {% if servicio.equipo.modelo is defined and servicio.equipo.modelo.medidorcombustible %}
            {% include "app/Template/show_row.html.twig" with {'label': 'Combustible', 'data': servicio.medidorcombustible ? 'SI' : 'NO'} %} 
        {% endif %}
        {% if servicio.equipo.modelo is defined and servicio.equipo.modelo.entradasDigitales %}
            {% include "app/Template/show_row.html.twig" with {'label': 'Entradas Digitales', 'data': servicio.entradasDigitales ? 'SI' : 'NO'} %} 
        {% endif %}
        {% if servicio.equipo.modelo is defined and servicio.equipo.modelo.cortecerrojo %}
            {% include "app/Template/show_row.html.twig" with {'label': 'Corte Cerrojo', 'data': servicio.cortecerrojo ? 'SI' : 'NO'} %} 
        {% endif %}
        {% if servicio.equipo.modelo is defined and servicio.equipo.modelo.horometro %}
            {% include "app/Template/show_row.html.twig" with {'label': 'Horómetro', 'data': servicio.horometro ? 'SI' : 'NO'} %} 
        {% endif %}
        {% if servicio.color %}
            {% include "app/Template/show_row.html.twig" with {'label': 'Color', 'data': servicio.color} %} 
        {% endif %}
        {% if servicio.transporte %}
            {% include "app/Template/show_row.html.twig" with {'label': 'Transporte', 'data': servicio.transporte.nombre} %} 
        {% endif %}
        {% if servicio.satelital %}
            {% include "app/Template/show_row.html.twig" with {'label': 'Satelital', 'data': servicio.satelital.nombre} %} 
        {% endif %}
        {% if servicio.tipoMedidorCombustible %}
            {% include "app/Template/show_row.html.twig" with {'label': 'Tipo de Medidor de Combustible', 'data': servicio.strTipoMedidorCombustible(servicio.tipoMedidorCombustible)} %} 
        {% endif %}
    </div>
    <div class="span6">
        <h3>Último registro</h3>
        {% include "app/Template/show_row.html.twig" 
            with { 'label': 'Fecha y Hora', 
                   'data': (servicio.ultFechaHora ? servicio.ultFechaHora|date('d-m-Y H:i:s', app.user.timeZone) : '---') } %} 
        {% include "app/Template/show_row.html.twig" 
            with { 'label': 'Dirección', 
                   'data': (servicio.ultDireccion ? servicio.ultDireccion ~ '°' : '---') } %} 
        {% include "app/Template/show_row.html.twig" 
            with { 'label': 'Velocidad', 
                   'data': (servicio.ultVelocidad ? servicio.ultVelocidad ~ ' km/h' : '---') } %} 
        {% include "app/Template/show_row.html.twig" 
            with { 'label': 'Batería Interna', 
                   'data': (servicio.ultBateria ? servicio.ultBateria ~ ' v' : '---') } %} 
        {% include "app/Template/show_row.html.twig" 
            with { 'label': 'Ubicación', 
                   'data': (servicio.ultLatitud ? servicio.ultLatitud ~ ',' ~ servicio.ultLongitud : '---') } %} 
        {% include "app/Template/show_row.html.twig" 
            with { 'label': 'Odómetro GPS', 
                   'data': (servicio.ultOdometro ? (servicio.ultOdometro / 1000)|number_format(2) ~ ' kms' : '---') } %} 
        {% include "app/Template/show_row.html.twig" 
            with { 'label': 'Horómetro GPS', 
                   'data': (servicio.ultHorometro ? servicio.formatHorometro: '') } %} 
        {# {{ servicio.ultFechaHora.timezone  }}
         {{ app.user.timeZone }}  #}
    </div>
</div>