{% include "app/Template/sidebar_submenu.html.twig" %}
{% if itinerarios %}
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Estado</th>
				<th>Código</th>
				<th>Empresa</th>
				<th>Satelital</th>
				<th>Transporte</th>
				<th>Servicios</th>
				<th>Referencias</th>
				<th>Inicio</th>
				<th>Fin</th>
				<th>Convoy</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for itinerario in itinerarios %}
				<tr>
                <td>
                    <span  class="badge badge-{{itinerario.badge[itinerario.estado]}}">{{itinerario.strEstado}}</span>

                </td>
                <td><a href="{{ path('itinerario_show', {'id': itinerario.id}) }}">{{ itinerario.codigo }}</a></td>
                <td>{{ itinerario.empresa.nombre|default('---') }}</td>
                <td>
                    {% for s in itinerario.servicios %}
                        {% if s.satelital is not null %}
                            {{ s.satelital.nombre|default('---') }},
                        {%else%}
                            ---
                        {% endif %}
                    {% else %}
                        ---
                    {% endfor %}
                </td>
                <td>
                    {% for s in itinerario.servicios %}
                        {% if s.transporte is not null %}
                            {{s.transporte.nombre}},
                        {% endif %}
                    {% else %}
                        ---
                    {% endfor %}
                </td>
                <td>
                    {% for s in itinerario.servicios %}
                        {{ s.nombre }},
                    {% else %}
                        ---
                    {% endfor %}
                </td>
                <td>
                    {% for r in itinerario.referencias %}
                        {{ r.referencia.nombre }},
                    {% else %}
                        ---
                    {% endfor %}
                </td>
                <td>{{ itinerario.fechaInicio|date('d/m/Y H:i')|default('---') }}</td>
                <td>{{ itinerario.fechaFin|date('d/m/Y H:i')|default('---') }}</td>
                <td></td>
                <td>
                    {% if is_granted('ROLE_ITINERARIO_EDITAR') %}
                        <a href="{{ path('itinerario_edit', {'id': itinerario.id} ) }}" class="btn btn-small">Editar</a>
                    {% endif %}
                </td>
            </tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<em>No hay sensors asociados para esta flota.</em>
{% endif %}
