
{% if tanque %}
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Porcentaje</th>
            <th>Litros</th>
        </tr>
    </thead>
    <tbody>
    {% for medicion in tanque %}
        <tr>
            <td>{{ medicion.porcentaje|number_format(2, '.', ',') }} %</td>
            <td>{{ medicion.litros|number_format(2, '.', ',') }} lts</td>
        </tr>
    {% endfor %}
    </tbody>
</table>    
{% else %}
    <em>No hay mediciones para el tanque del vehiculo</em>
{% endif %}