<div class="row">
	<div class="col-md-4">
		{{ organizacion.tipoOrganizacion == 1 ? 'Distribuidor' : 'Cliente' }}
	</div>

	<div class="col-md-8">
		{% if organizacion.tipoOrganizacion == 1 %}
			<a href="{{ path('distribuidor_show', {'id': organizacion.id, 'tab': 'servicio'}) }}">{{ organizacion.nombre }}</a>
		{% else %}
			<a href="{{ path('distribuidor_cliente_show', {'id': organizacion.id, 'tab': 'servicio'}) }}">{{ organizacion.nombre }}</a>
		{% endif %}
	</div>
</div>
