<div class="row">
	<div class="col-md-12">
		<div class="col-md-6">
			<legend>Datos Principales</legend>
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Nombre', 'data': servicio.nombre } %}
			{% include "app/Servicio/show_equipo.html.twig" %}
			{% if servicio.equipo  %}
				<div class="row">
					{% if servicio.chofer  %}

							<div class="col-md-4">Chofer</div>
							<div class="col-md-8">
								<a href="{{ path('apmon_chofer_show',{'id':servicio.chofer.id,'tab':'main'}) }}">{{ servicio.chofer.nombre }}</a>
							</div>
						
					{% else %}
							<div class="col-md-4">Chofer</div>
							<div class="col-md-8">
								<a href="{{ path('servicio_asignar_chofer',{'id':servicio.id}) }}">Agregar Chofer</a>
							</div>
						
					{% endif %}
				</div>
			{% endif %}
			{% include "app/Servicio/show_organizacion.html.twig" with {'organizacion': servicio.organizacion} %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Tipo', 'data': servicio.getStrTipoObjetos } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Clase', 'data': servicio.tipoServicio, 'img': servicio.tipoServicio.getWebPath()} %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Fecha Alta', 'data': servicio.fechaAlta != null ? servicio.fechaAlta|date('d-m-Y H:i') : 'N/A' } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Fecha Baja', 'data': servicio.fechaBaja != null ? servicio.fechaBaja|date('d-m-Y H:i') : 'N/A' } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Fecha Ult. Prog.', 'data': servicio.fechaUltConfig != null ? servicio.fechaUltConfig|date('d-m-Y H:i:s') : 'N/A' } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Estado', 'data': servicio.getStrEstado } %}
			{% include "app/Template_aker/show_row.html.twig" with {'label': 'Id. Fiscal', 'data': servicio.datoFiscal|default('---') } %}
			{% if servicio.equipo.modelo is defined and servicio.equipo.modelo.cortemotor %}
				{% include "app/Template_aker/show_row.html.twig" with {'label': 'Corte de Motor', 'data': servicio.cortemotor ? 'SI' : 'NO' } %}
			{% endif %}
			{% if servicio.equipo.modelo is defined and servicio.equipo.modelo.botonpanico %}
				{% include "app/Template_aker/show_row.html.twig" with {'label': 'Botón Pánico', 'data': servicio.botonpanico ? 'SI' : 'NO'} %}
			{% endif %}
			{% if servicio.equipo.modelo is defined and servicio.equipo.modelo.medidorcombustible %}
				{% include "app/Template_aker/show_row.html.twig" with {'label': 'Combustible', 'data': servicio.medidorcombustible ? 'SI' : 'NO'} %}
			{% endif %}
			{% if servicio.equipo.modelo is defined and servicio.equipo.modelo.entradasDigitales %}
				{% include "app/Template_aker/show_row.html.twig" with {'label': 'Entradas Digitales', 'data': servicio.entradasDigitales ? 'SI' : 'NO'} %}
			{% endif %}
			{% if servicio.equipo.modelo is defined and servicio.equipo.modelo.cortecerrojo %}
				{% include "app/Template_aker/show_row.html.twig" with {'label': 'Corte Cerrojo', 'data': servicio.cortecerrojo ? 'SI' : 'NO'} %}
			{% endif %}
			{% if servicio.equipo.modelo is defined and servicio.equipo.modelo.canbus %}
				{% include "app/Template_aker/show_row.html.twig" with {'label': 'CanBus', 'data': servicio.canbus ? 'SI' : 'NO'} %}
			{% endif %}
			{% if servicio.tipoMedidorCombustible %}
				{% include "app/Template_aker/show_row.html.twig" with {'label': 'Tipo de Medidor de Combustible', 'data': servicio.strTipoMedidorCombustible(servicio.tipoMedidorCombustible)} %}
			{% endif %}
			{% if servicio.color %}
				{% include "app/Template_aker/show_row.html.twig" with {'label': 'Color', 'data': servicio.color} %}
			{% endif %}

			{% if servicio.registroshell != null %}
				<h3>Datos para Shell</h3>
				{% include "app/Template_aker/show_row.html.twig" 
                with { 'label': 'Patente Ingresada', 'data': (servicio.registroshell.patente) } %}
				{% include "app/Template_aker/show_row.html.twig" 
                with { 'label': 'RUT a Facturar', 'data': (servicio.registroshell.datoFiscal) } %}
				{% include "app/Template_aker/show_row.html.twig" 
                with { 'label': 'Fecha Alta', 'data': (servicio.registroshell.fechaAlta|date('d-m-Y H:i')|default('---')) } %}
				{% include "app/Template_aker/show_row.html.twig" 
                with { 'label': 'Fecha Proc. Alta', 'data': (servicio.registroshell.procesadoAlta ? servicio.registroshell.procesadoAlta|date('d-m-Y H:i') : '---') } %}
				{% include "app/Template_aker/show_row.html.twig" 
                with { 'label': 'Fecha Baja', 'data': (servicio.registroshell.fechaBaja ? servicio.registroshell.fechaBaja|date('d-m-Y H:i') : '---') } %}
				{% include "app/Template_aker/show_row.html.twig" 
                with { 'label': 'Fecha Proc. Baja', 'data': (servicio.registroshell.procesadoBaja ? servicio.registroshell.procesadoBaja|date('d-m-Y H:i') : '---') } %}
			{% endif %}
		</div>
		<div class="col-md-6">
			{% if servicio.tipoObjeto == 1  %}
				{# vehiculo #}
				<legend>Datos del Vehiculo</legend>
				{% if servicio.vehiculo != null %}
					{% if isPortalEnabled %}
						{% include "app/Template_aker/show_row.html.twig" with {'label': 'Clase Portico/Peaje', 'data': servicio.vehiculo.tipoVehiculo } %}
					{% endif %}
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Patente', 'data': servicio.vehiculo.patente } %}
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Marca', 'data': servicio.vehiculo.marca    } %}
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Modelo', 'data': servicio.vehiculo.modelo } %}
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Año', 'data': servicio.vehiculo.aniofabricacion } %}
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Color', 'data': servicio.vehiculo.color } %}

					{% if servicio.ultodometro != null %}
						{% include "app/Template_aker/show_row.html.twig" with {'label': 'Odómetro', 'data': (servicio.ultOdometro / 1000)|number_format(2) ~ ' kms'} %}
					{% endif %}
					{% if servicio.ulthorometro != null %}
						{% include "app/Template_aker/show_row.html.twig" with {'label': 'Horómetro', 'data': servicio.formatHorometro } %}
					{% endif %}

					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Número de Motor', 'data': servicio.vehiculo.numeroMotor } %}
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Número de Chasis', 'data': servicio.vehiculo.numeroChasis } %}
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Número de Tarjeta Verde', 'data': servicio.vehiculo.cedulaVerde } %}
					{% include "app/Template_aker/show_row.html.twig" with {'label': 'Cap. Tanque', 'data': servicio.vehiculo.litrosTanque } %}
					{% if servicio.vehiculo.rendimiento != null %}
						{% include "app/Template_aker/show_row.html.twig" with {'label': 'Rendimiento', 'data': servicio.vehiculo.rendimiento ~ ' lts/100km' } %}
					{% endif %}

					<!-- empiezan los datos extras -->
					{% if servicio.vehiculo.datosExtra is not null %}
						{% include "app/VehiculoExtra/show_datoextra.html.twig" with {'servicio': servicio} %}
					{% endif %}
				{% else %}
					<i>No estan grabados los datos extras para este vehiculo.
						<br>
						Puede configurar dichos datos haciendo
						<a href="{{ path('sauron_vehiculo_new', {'idservicio': servicio.id}) }}">click aca</a>.</i>
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>
