{% if servicio.parametros|length > 0 %}
<div id="prg">
    {% include "app/Servicio/show_config_content.html.twig" %} 
</div>
{% else %}
<p>
<em> 
    {% if cantidad_variables == 0 %}
        <p>El modelo {{ servicio.equipo.modelo }} no tiene parámetros remotos para ser configurados.</p>
    {% else %}
        <p>Este servicio no tiene configurado parámetros.</p>
        {% if is_granted('ROLE_SAURON_PROGRAMACION') %}
            <p>Para agregar las variables de configuracion por defecto, hacer <a href="{{ path('main_programacion_default', {'id': servicio.id, 'default': true}) }}">click acá</a>.</p>
        {% endif %}
    {% endif %}
</em>    
</p>        
{% endif %}

 <script type="text/javascript">
    setInterval(
        function(){ 
             var request = $.ajax({
                type: 'GET',
                url: "{{ path('main_programacion_refresh') }}", 
                data: { 'id' : {{ servicio.id }} }, 
                dataType: "html",
            });
            request.done(function(html) {
                    $("#prg").text(""); 
                    $('#prg').append(html); 
                });
        }        
        , 5000);   
</script>