{% include "app/Template/sidebar_submenu.html.twig" %}
{% if mantenimientos or peticiones or ordenes %}    
    {#{% include "mante/TareaMantenimiento/list_content.html.twig" with {'tmantenimientos': mantenimientos, 'statusmant': statusmant} %}#}
    {% include "mante/TareaMantenimiento/content_show.html.twig" with {'servicio':servicio, 'tareas':tareas,'eventuales':eventuales} %}          
{% else %}
    <em>No hay tareas de mantenimientos para este vehiculo</em>
{% endif %}