{% extends "app/Template/show_tabs.html.twig" %}

{% block formdelete %}
    {% include "sauron/Servicio/delete_form.html.twig" %}      
{% endblock %} 

{% block title %}{{ servicio.nombre }}{% endblock %}
{% block titulo %}{{ servicio.nombre }} {% endblock %}
{% block subtitulo %}{% endblock %}

{% block javascript %}
{{ parent() }}      
    {% if tab == 'config' %}
        
    {% endif %}
{% endblock %}

{% block contenthead %}
<ul class="nav nav-tabs">
    {% if is_granted('ROLE_FLOTA_VER') %}
        <li {{ tab == 'main' ? "class='active'" : ""  }}><a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'main'}) }}">Datos</a></li>
        {% if servicio.ultFechahora != null %}
            <li {{ tab == 'registro' ? "class='active'" : ""  }}><a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'registro'}) }}">Ult. Registro</a></li>
        {% endif %}
        {% if servicio.equipo != null  %}
            <li {{ tab == 'config' ? "class='active'" : ""  }}><a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'config'}) }}">Configuración</a></li>
        {% endif %}
        {% if servicio.equipo.modelo is defined and servicio.equipo.modelo.sensores|length > 0 %}
            <li {{ tab == 'sensor' ? "class='active'" : ""  }}><a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'sensor'}) }}">Sensores</a></li>
        {% endif %}
        {% if servicio.equipo.modelo is defined and servicio.equipo.modelo.sensores|length > 0 and servicio.entradasdigitales %}
            <li {{ tab == 'inputs' ? "class='active'" : ""  }}><a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'inputs'}) }}">Inputs</a></li>
        {% endif %}
        {% if servicio.medidorcombustible is defined and servicio.medidorcombustible %}
            <li {{ tab == 'tanque' ? "class='active'" : ""  }}><a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'tanque'}) }}">Tanque</a></li>
        {% endif %}
        <li {{ tab == 'bitacora' ? "class='active'" : ""  }}><a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'bitacora'}) }}">Bitacora</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block contentpanel %}
<div class="row-fluid">
    <div class="alert alert-info">
        <span class="label label-important">Importante: </span> Este servicio es de test, 
        esto quiere decir que sólo tiene por finalidad el control del funcionamiento del
        equipo que esta asociado. Se encuentra en el distribuidor <b>{{ servicio.organizacion }}</b>
    </div>
</div>
    {% if tab == 'main' %}
        {% include "sauron/Servicio/show_main.html.twig" %}  
    {% elseif tab == 'registro' %}
        {% include "sauron/Servicio/show_registro.html.twig" %}  
    {% elseif tab == 'config' %}
        {% include "sauron/Servicio/show_config.html.twig" %}  
    {% elseif tab == 'sensor' %}
        {% include "sauron/Servicio/show_sensores.html.twig" %}  
    {% elseif tab == 'inputs' %}
        {% include "sauron/Servicio/show_inputs.html.twig" %}  
    {% elseif tab == 'tanque' %}
        {% include "sauron/Servicio/show_tanque.html.twig" %}  
    {% elseif tab == 'bitacora' %}
        {% include "sauron/Servicio/show_bitacora.html.twig" %}  
    {% elseif tab == 'mante' %}
        {% include "sauron/Servicio/show_mantenimiento.html.twig" %}  
    {% endif %}
{% endblock %}

