{% include "app/Template/sidebar_submenu.html.twig" %}
{% if inputs %}
<table class="table table-condensed">
        <thead>
            <tr>
                <th>Icono</th>
                <th>Nombre</th>
                <th>Abbr</th>
                <th>Tipo Sensor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for input in inputs %}
                <tr>
                    <td>
                        {% if input.icono != null %}
                            <img style="width: 20px; height: 20px;" id="mostrar-icono" class="logo-small" src="{{ input.icono }}" />
                        {% endif %}
                    </td>
                    <td><a href="{{ path('sauron_inputs_show', {'id': input.id}) }}">{{ input.nombre }}</a></td>
                    <td>{{ input.abbr }}</td>
                    <td>{{ input.modeloSensor }}</td>
                    <td>
                        <a href="{{ path('sauron_inputs_edit', {'id': input.id} ) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
     </table>
{% else %}
    <em>No hay entradas digitales asociadas para este servicio.</em>
{% endif %}