{% extends "app/Template_aker/show.html.twig" %}

{% block formdelete %}
	{% include "app/Servicio/delete_form.html.twig" %}
	{% if servicio.equipo != null %}
		{% include "sauron/Equipo/retirarequipo_form.html.twig" with {'equipo': servicio.equipo } %}
	{% endif %}
{% endblock %}

{% block title %}
	{{ servicio.nombre }}
{% endblock %}
{% block titulo %}
	{{ servicio.nombre }}
{% endblock %}

{% block js %}
	{{ parent() }}
	
{% endblock %}

{% block contentpanel %}
<script>
	var servicioId = {{ servicio.id }}   //guardo en un global el servicioId para lo que necesite
	{% include "app/Servicio/show.js" %}	
</script>
{% embed "app/Template_aker/panel_tabs.html.twig" %}
	{% block cuerpo %}
		<div class="row">
			<div class="col-md-12 no-padding">
				<div class="tabs tabs-default">
					<ul class="nav nav-tabs">
						{% if is_granted('ROLE_FLOTA_VER') %}
							<li {{ tab == 'main' ? "class='active'" : "" }}>
								<a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'main'}) }}">
                                <i class="fa fa-info"></i>
                                Datos</a>
							</li>
							{#{% if servicio.ultFechahora != null and servicio.equipo != null and mapa != null and datos != null %}#}
							{% if servicio.ultFechahora != null  %}
								<li {{ tab == 'registro' ? "class='active'" : "" }}>
									<a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'registro'}) }}">
                                    <i class="fa fa-map-marker "></i>
                                    Ult. Registro</a>
								</li>
							{% endif %}
							{% if servicio.equipo != null  %}
								<li {{ tab == 'config' ? "class='active'" : "" }}>
									<a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'config'}) }}">
                                    <i class="fa fa-gear"></i>
                                    Configuración</a>
								</li>
							{% endif %}
							{% if servicio.equipo.modelo is defined and servicio.equipo.modelo.sensores|length > 0 %}
								<li {{ tab == 'sensor' ? "class='active'" : "" }}>
									<a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'sensor'}) }}">
                                    <i class="fa fa-microchip"></i>
                                    Sensores</a>
								</li>
							{% endif %}
							{% if servicio.equipo.modelo is defined and servicio.equipo.modelo.sensores|length > 0 and servicio.entradasdigitales %}
								<li {{ tab == 'inputs' ? "class='active'" : "" }}>
									<a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'inputs'}) }}">Inputs</a>
								</li>
							{% endif %}
							{% if is_granted('ROLE_PRESTACION_VER') %}
								<li {{ tab == 'prestacion' ? "class='active'" : "" }}>
                                   <a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'prestacion'}) }}">
                                    <i class="fa fa-building"></i>
                                   Centro Costo</a>
								</li>
							{% endif %}
							{% if is_granted('ROLE_PETICION_VER') %}
								<li {{ tab == 'peticion' ? "class='active'" : "" }}>
									<a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'peticion'}) }}">
                                    <i class="fa fa-clipboard"></i>
                                    Pedidos</a>
								</li>
							{% endif %}
							{% if servicio.medidorcombustible is defined and servicio.medidorcombustible %}
								<li {{ tab == 'tanque' ? "class='active'" : "" }}>
									<a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'tanque'}) }}">Tanque</a>
								</li>
							{% endif %}
							{% if modulocombustible is defined and modulocombustible %}
								<li {{ tab == 'combustible' ? "class='active'" : "" }}>
									<a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'combustible'}) }}">
                                    <i class="fa fa-tint"></i>
                                    Combustible</a>
								</li>
							{% endif %}
							{% if modulomantenimiento is defined and modulomantenimiento %}
								<li {{ tab == 'mante' ? "class='active'" : "" }}>
									<a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'mante'}) }}">
                                    <i class="fa fa-wrench "></i>
                                    Mantenimiento</a>
								</li>
							{% endif %}
							<li {{ tab == 'bitacora' ? "class='active'" : "" }}>
								<a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'bitacora'}) }}">
                                <i class="fa fa-list"></i>
                                Bitacora
                                </a>
							</li>
							{% if is_granted('ROLE_EVENTO_VER') %}
								<li {{ tab == 'evento' ? "class='active'" : "" }}>
									<a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'evento'}) }}">
                                    	<i class="fa fa-warning"></i>
                                    Eventos</a>
								</li>
							{% endif %}
							{% if is_granted('ROLE_ITINERARIO_VER') %}
								<li {{ tab == 'itinerario' ? "class='active'" : "" }}>
									<a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'itinerario'}) }}">
                                    	<i class="fa fa-calendar-o "></i>
                                    Itinerarios</a>
								</li>
							{% endif %}
							{% if is_granted('ROLE_CHOFER_VER') %}
								<li {{ tab == 'chofer' ? "class='active'" : "" }}>
									<a href="{{ path('servicio_show', {'id': servicio.id, 'tab': 'chofer'}) }}">
                                    	<i class="fa fa-user "></i>
                                    Chofer</a>
								</li>
							{% endif %}
						{% endif %}
					</ul>
					<div class="tab-content">
						{% if tab == 'main' %}
							{% include "app/Servicio/show_main.html.twig" %}								
						{% elseif tab == 'registro' %}
							{% if mapa != null %}	
							<script>	
									{% include "apmon/Mapa/gmaps-lib.script.js" %}
									{% include "app/Servicio/registro.js" %}
								</script>
							{% endif %}
							{% include "app/Servicio/show_registro.html.twig" %}							
						{% elseif tab == 'config' %}
							{% include "app/Servicio/show_config.html.twig" %}
						{% elseif tab == 'sensor' %}
							{% include "app/Servicio/show_sensores.html.twig" %}
						{% elseif tab == 'inputs' %}
							{% include "app/Servicio/show_inputs.html.twig" %}
						{% elseif tab == 'tanque' %}
							{% include "app/Servicio/show_tanque.html.twig" %}
						{% elseif tab == 'bitacora' %}
							{% include "app/Servicio/show_bitacora.html.twig" %}
						{% elseif tab == 'mante' %}
							{% include "app/Servicio/show_mantenimiento.html.twig" %}
						{% elseif tab == 'combustible' %}
							{% include "app/Servicio/show_combustible.html.twig" %}
						{% elseif tab == 'evento' %}
							{% include "app/Servicio/asignar_eventos.html.twig" %}
						{% elseif tab == 'prestacion' %}
							{% include "app/Servicio/show_prestacion.html.twig" %}
						{% elseif tab == 'itinerario' %}
							{% include "app/Servicio/show_itinerario.html.twig" %}
						{% elseif tab == 'peticion' %}
							{% include "crm/Servicio/show_peticiones_data.html.twig" %}
						{% elseif tab == 'chofer' %}
						    {% form_theme formHistoricoFilter 'app/Form/calypso_fields.html.twig' %} 
							{% include "apmon/Chofer/show_historico.html.twig" with {'historico': historico,
								'formHistoricoFilter':formHistoricoFilter, 'filtro': 'servicio' } %}
						{% endif %}
					</div>
				</div>

			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}
