
{% if bitacora %}
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Operador</th>
				<th>Chofer</th>
				<th>Operación</th>
				<th>Detalle</th>
			</tr>
		</thead>
		<tbody>
			{% for row in bitacora %}
				<tr>
					<td>{{ row.registro.createdAt|date('d/m/Y H:i:s', app.user.timeZone) }}</td>
					<td>{{ row.registro.ejecutor.nombre is defined ? row.registro.ejecutor.nombre : '---' }}</td>
					<td>{{ row.registro.chofer.nombre is defined ? row.registro.chofer.nombre : '---' }}</td>
					<td>{{ row.registro.strTipoEvento }}</td>
					<td>{{ row.descripcion|raw }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<em>No registros en la bitacora para este servicio.</em>
{% endif %}
