{% for ev in eventos %}
    <p>Evento ID: {{ ev.id }}</p>
    <p>Titulo: {{ ev.titulo }}</p>
    <p>Fecha: {{ ev.fecha|date('d-m-Y H:n:s') }}</p>
    <p>Data: {{ ev.data.cuerpo|raw }}</p>
    
    <hr>  
{% endfor %}