{% extends 'app/Template_aker/informe.html.twig' %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block title %}
  Informe de Rendimiento 
{% endblock %}

{% block titulo %}
  Informe de Rendimiento 
{% endblock %}

{% block js %}
  {{ parent() }}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">{% include 'fuel/InfoRendimiento/informe.js' %}</script>
{% endblock %}

{% block informacion %}
  {% include 'app/Template_aker/popup_load.html.twig' %}
  <div class="alert alert-info" role="alert">
    <div class="row">
      <form class="form-horizontal" id="formRendimiento" method="POST">
        {{ form_errors(form) }}
        <div class="col-md-4">{{ form_widget(form.servicio) }}</div>
        <div class="col-md-3">{{ form_widget(form.desde) }}</div>
        <div class="col-md-3">{{ form_widget(form.hasta) }}</div>
        <div class="col-md-2">
          <div class="control-group">
            <label class="control-label">-</label>
            <div class="controls">
              <button type="button" class="btn btn-default" id="consultar">Consultar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div class="row-fluid">
  {% if consulta is defined %}
       <div class="alert alert-xs alert-warning">
           Para <b>{{ consulta.servicionombre }}</b> desde el <b>{{ consulta.desde }}</b>
           hasta el <b>{{ consulta.hasta }}</b>. <em>Recuerde configurar el rendimiento teórico de cada servicio para que el informe funcione correctamente  </em>
      </div>
      {% endif %}

    <ul class="nav nav-tabs" id="myTabs" role="tablist" style="background: none;">
      <li role="pantalla" class="active">
        <a href="#pantalla" role="tab" id="pantalla-tab" data-toggle="tab" aria-controls="pantalla" aria-expanded="false">Datos</a>
      </li>
      <li role="graficos">
        <a href="#graficos" id="graficos-tab" role="tab" data-toggle="tab" aria-controls="graficos" aria-expanded="true">Graficos</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade  active in" role="tabpanel" id="pantalla"  aria-labelledby="graficos-tab">
        <div id="tabla">
          {% include 'fuel/InfoRendimiento/result_pantalla.html.twig' with {'informe' : informe } %}
        </div>
      </div>
      <div class="tab-pane fade" role="tabpanel" id="graficos" aria-labelledby="pantalla-tab" style="height: 650px; overflow-y: scroll;">
        {% include 'fuel/InfoRendimiento/result_grafico.html.twig' %}
      </div>
    </div>
  </div>
{% endblock %}
