{% if (informe|length) > 0 %}
	<a class="btn btn-info" href="javascript:viod(0)" onclick="javascript:document.forms['formexport'].submit();">Exportar a Excel</a>
	<form name="formexport" action="{{ path('fuel_informendimiento_exportar') }}" method="POST">
		<input type="hidden" name="consulta" value="{{ consulta|json_encode() }}"/>
	</form>
	<br>
	<table id="tableRendimiento" class="table table-condensed">
		<thead>
			<tr>
				<th>Día</th>

				<th>Periodo</th>
				<th>Distancia</th>

				<th>Odolitro</th>
				<th>Horómetro</th>


				<th>Lts Mov.</th>
				<th>Lts Ralenti</th>

				<th title="Kms recorridos por litro">Km/Litro</th>
				<th title="Kms recorridos por litro teórico">Km/Litro (Teórico)</th>
				<th title="Litros consumidos cada 100kms teórico">Litros/ 100kms (Teórico)</th>
				
				<th title="Hs por litro ">Hrs/Litro</th>
				<th title="Hs por litro teórico">Hrs/Litro (Teórico)</th>
			    <th title="Litros consumidos cada 1 hora">Litros/ hora (Teórico)</th>


			</tr>
		</thead>
		<tbody>
			{% for key,dia in informe %}
				{% for entrada in dia %}
					<tr>
						<td>{{ entrada.nombre }}</td>
						{# en nombre viene el día #}

						<td>{{ entrada.inicio.fecha != null ? entrada.inicio.fecha|date('H:i:s', app.user.timeZone):'---' }}
							a
							{{ entrada.fin.fecha != null ? entrada.fin.fecha|date('H:i:s', app.user.timeZone):'---' }}
						</td>
						<td>{{ entrada.inicio.odometro|number_format(2, ',', '.') }}
							a
							{{ entrada.fin.odometro|number_format(2, ',', '.') }}<br>
							({{entrada.diff_odometro|number_format(2, ',', '.')}}
							kms)
						</td>
						<td>{{ entrada.inicio.odolitro is defined ? entrada.inicio.odolitro|number_format(2, ',', '.') : '---' }}
							a
							{{ entrada.fin.odolitro is defined ? entrada.fin.odolitro|number_format(2, ',', '.') : '---' }}<br>
							({{ entrada.diff_odolitro is defined ? entrada.diff_odolitro|number_format(2, ',', '.') : '---' }}
							lts)
						</td>
						<td>{{ entrada.inicio.horometro is defined ? entrada.inicio.horometro : '---' }}
							al
							{{ entrada.fin.horometro is defined ? entrada.fin.horometro : '---' }}<br>
								({{entrada.diff_horometro}})
						</td>
						<td>{{ entrada.odolitro_movimiento is defined ? entrada.odolitro_movimiento  : '---'}}</td>
						<td>{{ entrada.odolitro_ralenti is defined ? entrada.odolitro_ralenti : '---' }}</td>

						<td>{{ entrada.km_litro|number_format(2, ',', '.') }}</td>
						<td>{{ entrada.rendimiento_teorico_km_litro|number_format(2, ',', '.') }}</td>
						<td>{{ entrada.rendimiento_teorico_cienkms|number_format(2, ',', '.') }}</td>
					
							<td>{{ entrada.hrs_litro }}</td>
							<td>{{ entrada.rendimiento_teorico_hora_litro }}</td>
							<td>{{ entrada.rendimiento_teorico_hora|number_format(2, ',', '.') }}</td>

					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<div class="alert alert-xs alert-warning">
		<em>No se registran consumos.</em>
	</div>
{% endif %}</div>
