{% if (informe|length) > 0 %}
    <table id="tableRendimiento" class="table table-condensed">
      <thead>
        <tr>
          <th>Día</th>

          <th>Fecha Inicial</th>
          <th>Fecha Final</th>

          <th>Kms Inicial</th>
          <th>Kms Final</th>
          <th>Kms Recorridos</th>

          <th>Odolitro Inicial</th>
          <th>Odolitro Final</th>

           <th title="Litros consumidos en ralenti">Litros Ralenti</th>
          <th title="Litros consumidos en movimiento">Litros Mov.</th>
          <th title="Litros totales consumidos">Litros</th>

          <th title="Kms recorridos por litro">Km/Litro</th>
          <th title="Kms recorridos por litro teórico">Km/Litro (Teórico)</th>
          <th title="Litros consumidos cada 100kms teórico">Litros/ 100kms (Teórico)</th>
        </tr>
      </thead>
      <tbody>
        {% for key,dia in informe %}
          {% for entrada in dia %}
            <tr>
              <td>{{ entrada.nombre }}</td> {# en nombre viene el día #}

              <td>{{ entrada.inicio.fecha }}</td>
              <td>{{ entrada.fin.fecha }}</td>

              <td>{{ entrada.inicio.odometro|number_format(2, ',', '.') }}</td>
              <td>{{ entrada.fin.odometro|number_format(2, ',', '.') }}</td>
              <td>{{ entrada.diff_odometro|number_format(2, ',', '.') }}</td>

              <td>{{ entrada.inicio.odolitro is defined ? entrada.inicio.odolitro|number_format(2, ',', '.') : '---' }}</td>
              <td>{{ entrada.fin.odolitro is defined ? entrada.fin.odolitro|number_format(2, ',', '.') : '---' }}</td>

              <td>{{ entrada.odolitro_ralenti is defined ? entrada.odolitro_ralenti : '---' }}</td>
              <td>{{ entrada.odolitro_movimiento is defined ? entrada.odolitro_movimiento  : '---'}}</td>
              <td>{{ entrada.diff_odolitro is defined ? entrada.diff_odolitro|number_format(2, ',', '.') : '---' }}</td>
              <td>{{ entrada.rendimiento_km_litro is defined ? entrada.rendimiento_km_litro|number_format(2, ',', '.') : '---'}}</td>

              <td>{{ entrada.km_litro|number_format(2, ',', '.') }}</td>
              <td>{{ entrada.rendimiento_teorico|number_format(2, ',', '.') }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
{% else %}
  <div class="alert alert-xs alert-warning">
    <em>No se registran consumos.</em>
  </div>
{% endif %}
</div>
