{% extends "app/Template/form.html.twig" %}

{% block titulo %}{{ grupo.propietario }}{% endblock %}
{% block subtitulo %}{{ grupo.nombre }}{% endblock %}

{% block formulario %}
<div class="row-fluid">
    <div style="margin: 0px auto 0px auto; text-align: center" >
        <div class="span4"><h4>Referencias disponibles </h4></div>
        <div class="span2"><h4>Acciones</h4></div>
        <div class="span4"><h4>Referencias en el grupo</h4></div>
    </div>
</div>
<div class="row-fluid">
    <div style="margin: 0px auto 0px auto; text-align: center" >
        <div class="span4" id="divDisponibles">
            {% include "sauron/GrupoReferencia/show_disponibles.html.twig" %}  
        </div> 
        <div class="span2">
            <p><button type="button" class="btn" onclick="asignar({{organizacion.id}}, {{ grupo.id }})">Asignar >></button></p>
            <p><button type="button" class="btn" onclick="eliminar({{organizacion.id}}, {{ grupo.id }})">Eliminar <<</button></p>
            <hr>
            <p><a href="{{ app.session.get('volver') }}" class="btn">Terminar</a></p>
        </div> 
        <div class="span4" id="divAsignados">
            {% include "sauron/GrupoReferencia/show_asignados.html.twig" %} 
        </div> 
    </div>
</div>


<script>
    function asignar(idorg, idgrp) {
       var ids = new Array();
       cant = 0;
       //obtengo la lista de elementos
       opt = document.getElementById("listDisponibles").options;
       
       //recorro la lista determinando cuales estan seleccionados
       for (i = 0; i < document.getElementById("listDisponibles").length; i++){
           if (opt[i].selected) {
               cant++;
               ids.push(opt[i].value);
           }
       }
       
       //llamo a jquery para hacer la asignacion.
       var request = $.ajax({
                  url: "{{ path('sauron_grupo_referencias_asignarreferencia') }}", 
                  data: {'idorg' : idorg, 'idgrp': idgrp, 'referencias' : serialize(ids)},
                  dataType: "json"
            });
            request.done(function(respuesta) {
               document.getElementById('divDisponibles').innerHTML = respuesta['disponibles'];
               document.getElementById('divAsignados').innerHTML = respuesta['asignados'];
            });
    }
    
    function eliminar(idorg, idgrp) {
       var ids = new Array();
       cant = 0;
       //obtengo la lista de elementos
       opt = document.getElementById("listAsignados").options;
       
       //recorro la lista determinando cuales estan seleccionados
       for (i = 0; i < document.getElementById("listAsignados").length; i++){
           if (opt[i].selected) {
               cant++;
               ids.push(opt[i].value);
           }
       }
       //llamo a jquery para hacer la eliminacion de los servicios del grupo.
       var request = $.ajax({
                  url: "{{ path('sauron_grupo_referencias_retirarreferencia') }}", 
                  data: {'idorg' : idorg, 'idgrp': idgrp, 'referencias' : serialize(ids)},
                  dataType: "json"
            });
            request.done(function(respuesta) {
               document.getElementById('divDisponibles').innerHTML = respuesta['disponibles'];
               document.getElementById('divAsignados').innerHTML = respuesta['asignados'];
            });
    }
    
    function serialize(arr)
    {
        var res = 'a:'+arr.length+':{';
        for(i=0; i<arr.length; i++)
        {
            res += 'i:'+i+';s:'+arr[i].length+':"'+arr[i]+'";';
        }
        res += '}';
        
    return res;
    }   
</script>    

{% endblock %}