<div id="modalDelete" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Eliminar Grupo de Referencias</h3>
    </div>
    <form class="form-horizontal" action="{{ path('sauron_grupo_referencia_delete', { 'idgrp': gruporef.id, 'idorg': gruporef.propietario.id }) }}" method="post">
        <div class="modal-body">
            <p>Esta seguro de eliminar este Grupo de Referencias: <strong>{{ gruporef.nombre|upper }}</strong> ?</p>
        {{ form_widget(delete_form) }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="submit">Eliminar</button>
            <a id="boton-cancelar" href="" class="btn secondary">Cancelar</a>
        </div>
    </form>
</div>