{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ gruporef.propietario }}{% endblock %}
{% block subtitulo %}Editar Grupo de Referencias{% endblock %}


{% block formulario %}
    <form class="form-horizontal"  method="POST" >    
        <fieldset>
            <div class="row-fluid row-form">
                <div>{{ form_errors(form) }}</div>
                {{ form_widget(form.nombre) }}
            </div>
            <div class="form-actions">
                {{ form_rest(form) }}
                <input type="submit" class="btn btn-primary" value="Cambiar" />
                <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>
        </fieldset>
    </form>
{% endblock %}