{% extends "app/Template/form.html.twig" %}
{% form_theme form 'app/Form/calypso_fields.html.twig' %}

{% block titulo %}{{ gruporef.propietario }}{% endblock %}
{% block subtitulo %}Alta de Grupo de Referencias{% endblock %}


{% block formulario %}
    <form class="form-horizontal"  method="POST" >
        <fieldset>
            <div class="row-fluid">
                <div>{{ form_errors(form) }}</div>
                <div class="span5">
                    {{ form_widget(form.nombre) }}
                </div>
                <div class="span4">
                    <h4>información</h4>
                    <p>Complete el nombre del Grupo de Referencias. Luego podrá asignar las referencias que conformaran el mismo.</p>
                </div>
            </div>

            <div class="form-actions">
                {{ form_widget(form._token) }}
                <input type="submit" class="btn btn-primary" value="Crear" />
                <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
            </div>
        </fieldset>
    </form>
{% endblock %}
