{% extends "app/Template/show.html.twig" %}

{% block formdelete %}
    {% include "sauron/GrupoReferencia/delete_form.html.twig" %} 
{% endblock %} 

{% block titulo %}{{ gruporef.propietario }}{% endblock %}
{% block subtitulo %}{{ gruporef.nombre }}{% endblock %}
{% block contentpanel %}

{# donde esta el grupo compartido #}
{% if gruporef.organizaciones|length > 0 %}
<div class="row-fluid row-show">  
    <h3>Organizaciones donde se encuentra compartido este grupo.</h3>
    <table class="table table-condensed" >
        <thead>
            <tr>
                <th>Organizacion</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for org in gruporef.organizaciones %}
                <tr>
                    <td>{{ org.nombre }}</td>
                    <td>{{ org.getStrTipoOrganizacion }}</td>
                    <td>
                 {#   {% if gruporef.propietario == app.user.organizacion %}  #}
                         {% if org == gruporef.propietario %}   
                            Propietario.
                         {% else %}   
                            {% if is_granted('ROLE_REFERENCIA_GRUPO_DESAGRUPAR') %}    
                                <a href="{{ path('sauron_grupo_referencia_remover', {'idgrp': gruporef.id, 'idorg': org.id} ) }}" title="Sacar de la organización">
                                        <img src="{{ asset('images/remove.png') }}"></a>
                            {% endif %}
                        {% endif %}
                 {#   {% endif %} #}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endif %}       

{# referencias en el grupo #}
<div class="row-fluid row-show">  
    <h3>Referencias asignadas</h3>

    {% if gruporef.referencias|length > 0 %}
        <table class="table table-condensed">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Categoria</th>
                <th>Tipo de Referencia</th>
            </tr>
        </thead>
        <tbody>
            {% for ref in gruporef.referencias %}
                <tr>
                    <td><a href="{{ path('referencia_show', {'id': ref.id}) }}">{{ ref.nombre }}</a></td>
                    <td>{{ ref.descripcion }}</td>
                    <td>{{ ref.categoria ? ref.categoria.nombre : '' }}</td>
                    <td>{{ ref.tipoReferencia ? ref.tipoReferencia.nombre : ''}}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
           <em>Este grupo no contiene referencias.</em>
    {% endif %}
</div>



{% endblock %}
