<select id="listDisponibles" multiple="multiple" size="{{ disponibles|length }}" style="width: 100%;">
    {% for referencia in disponibles %}
        <option value="{{ referencia.id }}">{{ referencia.nombre }}</option>                
    {% endfor %}
</select>
<em>Total disponibles: {{ disponibles|length|default(0) }}</em>