{% extends "app/Template/form.html.twig" %}

{% block titulo %}{{funcion|capitalize}} grupos por lote{% endblock %}
{% block subtitulo %}{% endblock %}

{% block formulario %}
{% if funcion|lower == "mover" %}
<div class="alert">
  <strong>Atención !</strong> Esta por mover los grupos de referencias a una nueva organización.
  Tenga en cuenta que cuando mueva este grupo va a mover las referencias incluidas dentro de este grupo.
</div>
{% endif %}

<p>Seleccione la Organizacion para la cual desea "{{funcion|lower}}" los grupos de referencias seleccionadas.</p>

<form class="form-horizontal" action="{{ path('sauron_grupo_referencias_batch', {'checks': checks, 'accion': funcion|lower}) }}" method="POST" >
<div class="row-fluid">
    <div class="span5">
        <h4>Listado de Organizaciones</h4>
        <fieldset>
            <div class="control-group ">
                <div class="control-label"><label for="new_organizacion" class=" required">Organización Destino</label></div>
                <div class="controls">
                    <select id="new_organizacion" name="new_organizacion" required="required" class="">
                        {% for org in organizaciones %}
                            <option value="{{ org.id }}">{{ org.nombre }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block"></span>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="span5">
        <h4>Grupos Seleccionados</h4>
        <ul>
        {% for grupo in grupos %}
                <li>{{ grupo.nombre }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ funcion|capitalize }}" />
        <a href="{{ app.session.get('volver') }}" class="btn">Cancelar</a>
    </div>
</form>

{% endblock %}